@{
    ViewBag.Title = "IT Investment Payment 80C";
}
@model Payroll.ITInvestmentPayment

<html>
<head>

    <script>
        $(document).ready(function (e) {
            $('button').button();

            $('#ActualInvestment').attr("value", "0").ForceAmount().MaxLength(10);
            $('#DeclaredInvestment').attr("value", "0").ForceAmount().MaxLength(10);

            $('#MyTable').MultiLevelInlineEditGrid({
                url: "@Url.Action("Emp_Grid", "IncrementServiceBook")",
                columnname: ["Code", "Name", "Id"],
                htmurl: "@Url.Action("partial", "ITInvestmentPayment80C")",
                childheader: ["ITInvestmentName", "InvestmentDate", "DeclaredInvestment", "ActualInvestment", "SubId", "SubInvestmentName", "ActualSubInvestment", "DeclaredSubInvestment", "ITSection", "Id"],
                childurl: "@Url.Action("Get_ITinvestmentPaymentDetails", "ITInvestmentPayment80C")",
                tableheader: "IT Investment Payment 80C",
                editurl: "@Url.Action("UploadInvestment", "Upload")",
                submiturl: "Submitform",
                childurlColumnNo: "3"
            });

            $.DataTableChildManipulation = function (init, id, parentid, htmurl, editurl, submiturl) {
                // console.log($(init).parents('tr:eq(0)'));
                var parent_element = $(init).parents('td:last').parent().prev();

                //var element = $(init).parents('tr:eq(0)');
                console.log(parent_element);
                //   console.log(element);
                var dt = $('#MyTable').DataTable();
                var htmlcomponant = {
                    init: init,
                    Id: id,
                    idx: parentid,
                    htmurl: htmurl,
                    editurl: editurl,
                    submiturl: submiturl,
                };
                @*if ($(init).hasClass('ui-icon-newwin')) {
                    $('<div></div>').PartialCreateDialog({
                        height: 'auto',
                        width: 'auto',
                        form: "#frm-ITInvestmentPayment-partial",
                        htmlurl: htmurl,
                        state: "open",
                        mode: "View",
                        editurl: "@Url.Action("EditGridDetails", "ITInvestmentPayment80C")",
                        submiturl: "@Url.Action("GridEditSave", "ITInvestmentPayment80C")",
                        editdata: id,
                        forwarddata: id,
                        returndatafunction: function (data) {
                            $.each(data.data, function (i, k) {
                                $('#ITInvestmentPayment-ITInvestmentName').val(k.ITInvestmentName);
                                $('#ITInvestmentPayment-InvestmentDate').val(DateConvert(k.InvestmentDate));
                                //$('#ITInvestmentPayment-InvestmentDate').val(k.InvestmentDate);
                                $('#ITInvestmentPayment-DeclaredInvestment').val(k.DeclaredInvestment);
                                $('#ITInvestmentPayment-ActualInvestment').val(k.ActualInvestment);
                            });
                        }
                    });
                } else*@
                if ($(init).hasClass('ui-icon-pencil')) {
                    ////;
                    var chk = $($(init)).closest('tr');
                    var chk1 = $(chk).find('td:eq(6)').html();

                    var editurlmethod = "";
                    var submiturlmethod = "";
                    if (chk1 != "") {
                        id = chk1;
                        htmurl = "@Url.Action("partialSubInvest", "ITInvestmentPayment80C")";
                        editurlmethod = "@Url.Action("EditGridDetailsSubInvest", "ITInvestmentPayment80C")";
                        submiturlmethod = "@Url.Action("GridEditSaveSubInvest", "ITInvestmentPayment80C")";

                        //alert("hello");
                    } else {
                        editurlmethod = "@Url.Action("EditGridDetails", "ITInvestmentPayment80C")";
                        submiturlmethod = "@Url.Action("GridEditSave", "ITInvestmentPayment80C")";
                    }

                    $('<div></div>').PartialCreateDialog({
                        height: 'auto',
                        width: 'auto',
                        form: "#frm-ITInvestmentPayment-partial",
                        htmlurl: htmurl,
                        state: "open",
                        mode: "Edit",
                        editurl: editurlmethod,
                        submiturl: submiturlmethod,
                        editdata: id,
                        forwarddata: id,
                        returndatafunction: function (data) {
                            $('#ITInvestmentPayment-ITInvestmentName').attr('readonly', 'readonly');
                            $('#ITInvestmentPayment-InvestmentDate').attr('readonly', 'readonly');
                            $.each(data.data, function (i, k) {
                                $('#ITInvestmentPayment-ITInvestmentName').val(k.ITInvestmentName);
                                $('#ITInvestmentPayment-InvestmentDate').val(DateConvert(k.InvestmentDate));
                                //$('#ITInvestmentPayment-InvestmentDate').val(k.InvestmentDate);
                                $('#ITInvestmentPayment-DeclaredInvestment').val(k.DeclaredInvestment);
                                $('#ITInvestmentPayment-ActualInvestment').val(k.ActualInvestment);

                            });
                        },
                        submitfun: function (data) {
                            var row = dt.row(parent_element);
                            if (row.child.isShown()) {
                                parent_element.removeClass('details');
                                row.child.hide();
                            }
                        }
                    });
                } else if ($(init).hasClass('ui-icon-trash')) {
                    var chk = $($(init)).closest('tr');
                    var chk1 = $(chk).find('td:eq(6)').html();

                    var editurlmethod = "";
                    var submiturlmethod = "";
                    if (chk1 != "") {
                        id = chk1;
                        submiturlmethod = "@Url.Action("GridDeleteSubInvest", "ITInvestmentPayment80C")";

                        //alert("hello");
                    } else {
                        submiturlmethod = "@Url.Action("GridDelete", "ITInvestmentPayment80C")";
                    }

                    $('<div></div>').PartialCreateDialog({
                        state: "open",
                        mode: "Delete",
                        submiturl: submiturlmethod,
                        forwarddata: id,
                        submitfun: function (data) {
                            var row = dt.row(parent_element);
                            if (row.child.isShown()) {
                                parent_element.removeClass('details');
                                row.child.hide();
                            }
                        }
                    });
                } else if ($(init).hasClass('fa fa-upload')) {
                    var chk = $($(init)).closest('tr');
                    var SubId = $(chk).find('td:eq(5)').html();
                    var testnew = $('<div></div>').P2BConfidentialModelDialog({
                        htmlurl: "@Url.Action("UploadInvestment", "Upload")",
                        submiturl: "@Url.Action("InvestmentUpload", "Upload")?Id=" + id + "&SubId=" + SubId,
                        form: '#FormUploadInvestment',
                        height: "500",
                        type: "FILE",
                        width: "800",
                        title: "DocumentUpload",
                        BeforeSendurl: "@Url.Action("CheckUploadFile", "Upload")?Id=" + id + "&SubId=" + SubId,
                        returnfun: function (data) {
                            //  window.location.href = "" + data + "";
                        },
                    });
                } else if ($(init).hasClass('ui-icon-image')) {
                    ////;
                    var chk = $($(init)).closest('tr');
                    var SubId = $(chk).find('td:eq(5)').html();
                    $.post("@Url.Action("CheckUploadFile", "Upload")?Id=" + id + "&SubId=" + SubId, function (data) {
                        ////;
                        if (data.success == false) {

                            alert("File Not Found");
                            return false;
                        } else if (data.fileextension == ".pdf") {
                            window.location = "@Url.Action("GetCompImage", "Upload")?Id=" + id + "&SubId=" + SubId;
                        }
                        else {
                            $('<div></div>').PartialCreateDialog({
                                height: '500',
                                width: '500',
                                form: "#FormImageViewer",
                                htmlurl: "@Url.Action("Imageviewr", "Upload")",
                                state: "open",
                                mode: "View",
                                editurl: "@Url.Action("GetCompImage", "Upload")?Id=" + id + "&SubId=" + SubId,
                                editdata: id,
                                forwarddata: id,
                                returndatafunction: function (data) {
                                    ////;
                                    console.log(data);
                                    if (data.status == "pdf") {
                                        $("#PDFLoad").attr('src', "data:application/pdf;base64," + data.data + "");
                                    }
                                    else if (data.status == ".png") {
                                        $("#Dashboard-Investment-Viewer").attr('src', "data:image/png;base64," + data.data + "");
                                    } else if (data.status == ".jpg") {
                                        $("#Dashboard-Investment-Viewer").attr('src', "data:image/jpg;base64," + data.data + "");
                                    } else {
                                        alert("First Upload the File");
                                    }
                                }
                            });
                        }
                    })

                }
            };
            //function DateConvert(JsonDate) {
                //    var date = new Date(parseInt(JsonDate.substr(6)));
                //    var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
                //    return displayDate;
            //};

            function AssignData() {
                dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            }

            $('#InvestmentDate').P2BDatePicker();
            $('#Create_Dialog').P2BCreateDialog();
            $.LoadEmpByDefault();

            $('#Advance-Filter-Symbol').on('click', function () {
                $("<div></div>").FilterDialog({
                    width: 1000,
                    height: 400,
                    title: "Filter",
                    htmlurl: "@Url.Action("Advance_partial", "Transcation")",
                    returnat: function (data) {
                        console.log(data);
                        var forwarddata = JSON.stringify(data);
                        $('#Employee-Table').P2BTransactionTableDynamic('#Employee-Search', '#Case-Employee', './Transcation/Get_Employelist_h?geo_id=' + forwarddata + '', "");
                        //$('#Employee-Table').P2BTransactionTableDynamic('#Employee-Search', '#Case-Employee', './Transcation/Get_Employelist?geo_id=' + forwarddata + '', "");
                        //$('#pay_id').val(data.PayStruct);
                        //$('#fun_id').val(data.FunStruct);
                    },
                    renderat: "#FormFilter", hierarchy: true,
                });
                //console.log($('#FormFilter')[0]);
            });
            ///////////mandar
            //$('#ITSubInvestmentPaymentlist').click(function (event) {
            //    ('.selectedtr').attr('bind','true')

            //        $('#ActualInvestment').attr('disabled', 'true');
            //        $('#DeclaredInvestment').attr('disabled', 'true');
            //    }
            //    //else
            //    //{

            //    //    $('#ActualInvestment').attr('disabled', 'false');
            //    //    $('#DeclaredInvestment').attr('disabled', 'false');
            //    //}


            //});

            //$('#ITSubInvestmentPaymentlist').click(function (event) {

            //Create Function
            $('#Create').on("click", function (event) {
                $('#frmITInvestmentPayment').trigger("reset");
                $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create IT Investment Payment 80C', 'open', '@Url.Action("Create")', '#frmITInvestmentPayment', 'Message :', 'Request Falied :', '#JqGrid', 600, 1200, '#ITInvestmentlist,#ITSectionListL,#ITSubInvestmentPaymentlist,#LoanAdvanceHeadlist', "", function (data) { }, { datatablename: "#MyTable" });
                $('#dispcalender').attr('readonly', 'readonly');
                $('#InvestmentDate').attr('readonly', 'readonly');
                $('#InvestmentDate').TodayDate();
                $.get("@Url.Action("GetITSectionByDefault")", function (data) {
                    $('#ITSectionListL').P2BLookUpEncapsulate('#ITSectionListL', 'ITSectionListL', data.Id, data.FullDetails, 'ITSectionListL', '', 'N');
                });
                $.get("@Url.Action("getCalendar", "ITInvestmentPayment80CCCTo80CCF")", function (data) {
                    $('#dispcalender').val(data.Lvcalendardesc);
                    $('#dispcalender_id').val(data.Id);
                });


                $('#ActualInvestment').on('click', function () {

                    if ($('#ITSubInvestmentPaymentlist tbody tr[tabindex="-1"]').length > 0) {

                        $('#ActualInvestment').prop("readonly", true);
                        $('#DeclaredInvestment').prop("readonly", true);
                        $('#ActualInvestment').val("0");
                        $('#DeclaredInvestment').val("0");
                    }
                    else {
                        $('#ActualInvestment').prop("readonly", false);
                        $('#DeclaredInvestment').prop("readonly", false);
                    }
                });

                //if ($('#ITSubInvestmentPaymentlist tbody tr[tabindex="-1"]') > 0) {

                //    $('#ActualInvestment').prop("disabled", true);
                //    $('#DeclaredInvestment').prop("disabled", true);
                //}
                //else {
                //    $('#ActualInvestment').prop("disabled", false);
                //    $('#DeclaredInvestment').prop("disabled", false);
                //}

                event.preventDefault();
            });

            // Main page edit
            $('#Edit').on('click', function () {
                AssignData();
                $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit IT Investment Payment 80C Data", '#frmITInvestmentPayment', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 500, 620, '#ITInvestmentlist,#ITSectionListL,#ITSubInvestmentPaymentlist,#LoanAdvanceHeadlist', btndisablenames, function (data) {
                    // setTimeout(function () {
                    $.each(data[0], function (i, k) {
                        $('#ActualInvestment').val(k.ActualInvestment);
                        $('#InvestmentDate').attr('readonly', 'readonly');
                        if (k.InvestmentDate != null) { $('#InvestmentDate').val(DateConvert(k.InvestmentDate)); }
                        $('#DeclaredInvestment').val(k.DeclaredInvestment);

                        $('#Narration').val(k.Narration);
                    });

                    //partial page bind
                    $.each(data[1], function (i, k) {
                        $('#ITInvestmentlist').P2BLookUpEncapsulate('#ITInvestmentlist', 'ITInvestmentlist', k.ITInvestment_Id, k.ITInvestment_Val, 'ITInvestmentlist', '#Remove-ITInvestment-ITInvestmentPayment', 'N');
                        $('#ITSectionListL').P2BLookUpEncapsulate('#ITSectionListL', 'ITSectionListL', k.ITSection_Id, k.ITSection_Val, 'ITSectionListL', '#Remove-ITSection-ITInvestmentPayment', 'N');
                        $('#ITSubInvestmentPaymentlist').P2BLookUpEncapsulate('#ITSubInvestmentPaymentlist', 'ITSubInvestmentPaymentlist', k.ITSubInvestmentPayment_Id, k.ITSubInvestmentPayment_Val, 'ITSubInvestmentPaymentlist', '#Remove-ITSubInvestmentPayment-ITInvestmentPayment', 'A');
                        $('#LoanAdvanceHeadlist').P2BLookUpEncapsulate('#LoanAdvanceHeadlist', 'LoanAdvanceHeadlist', k.LoanAdvHead_Id, k.LoanAdvHead_Val, 'LoanAdvanceHeadlist', '#Remove-LoanAdvanceHead-ITInvestmentPayment', 'N');
                    });
                    //alert(data[3]);
                    $('#Autho_Allow').val(data[3]); //Compulsory for authorisation
                    // }, 2000);
                }, { datatablename: "#MyTable" });
            });


            //View main page
            $('#View').button().click(function (event) {
                AssignData();
                @*$('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View', '#BasicScaleDetailslist', '', 356, 512, '#Autho', '@Url.Action("delete")', '', '', '', '','','', function (data) {*@
                $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View IT Investment Payment 80C Data', '#AddressList,#ContactDetailsList', '#Lookup-Address-Corporate,#Create-Address-Corporate,#Edit-Address-Corporate,#Remove-Address-Corporate,#Lookup-ContactDetails-Corporate,#Create-ContactDetails-Corporate,#Edit-ContactDetails-Corporate,#Remove-ContactDetails-Corporate', 500, 620, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {

                    $.each(data[0], function (i, k) {
                        $('#Autho_Action').val(k.Action);
                        $('#ActualInvestment').val(k.ActualInvestment);
                        $('#InvestmentDate').attr('readonly', 'readonly');
                        $('#DeclaredInvestment').val(k.DeclaredInvestment);
                        if (k.InvestmentDate != null) { $('#InvestmentDate').val(DateConvert(k.InvestmentDate)); }
                        $('#Narration').val(k.Narration);
                    });

                    //partial page bind
                    $.each(data[1], function (i, k) {
                        $('#ITInvestmentlist').P2BLookUpEncapsulate('#ITInvestmentlist', 'ITInvestmentlist', k.ITInvestment_Id, k.ITInvestment_Val, 'ITInvestmentlist', '', 'N');
                        $('#ITSectionListL').P2BLookUpEncapsulate('#ITSectionListL', 'ITSectionListL', k.ITSection_Id, k.ITSection_Val, 'ITSectionListL', '', 'N');
                        $('#ITSubInvestmentPaymentlist').P2BLookUpEncapsulate('#ITSubInvestmentPaymentlist', 'ITSubInvestmentPaymentlist', k.ITSubInvestmentPayment_Id, k.ITSubInvestmentPayment_Val, 'ITSubInvestmentPaymentlist', '', 'A');
                        $('#LoanAdvanceHeadlist').P2BLookUpEncapsulate('#LoanAdvanceHeadlist', 'LoanAdvanceHeadlist', k.LoanAdvHead_Id, k.LoanAdvHead_Val, 'LoanAdvanceHeadlist', '', 'N');
                    });

                    //To bind old data if authorisation is true
                    if ($("#Autho").hasClass('auto_active')) {
                        if (data[2] != null) {
                            $('#ActualInvestment').oldVal(data[2].ActualInvestment);
                            $('#DeclaredInvestment').oldVal(data[2].DeclaredInvestment);
                            $('#InvestmentDate').oldVal(data[2].InvestmentDate);
                            $('#Narration').oldVal(data[2].Narration);
                            $('#ITSectionlist_old').oldLookupVal(data[2].ITInvestment_Val);
                            $('#ContactDetailsList_Old').oldLookupVal(data[2].ITSection_Val);
                            $('#LoanAdvanceHeadlist_old').oldLookupVal(data[2].LoanAdvHead_Val);
                        }
                    }
                    //}, 2000);
                });
            });

            //delete main page
            $('#Delete').button().click(function (event) {
                dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
                $('#Create_Dialog').P2BDeleteModalDialog('@Url.Action("Delete")', dt.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
                event.preventDefault();
            });


            $('#Lookup_ITSection').on('click', function (event) {
                $('.dialog').P2BLookUpModal('@Url.Action("GetITSectionLKDetails", "ITInvestmentPayment80C")', '', 'LookupDiv', 'ITInvestment Look Up Data', '#ITSectionListL', 'ITSectionListL', 5, 'ITSectionListL', '#frmITInvestmentPayment', 'N', '#Remove_ITSection', 'Lookup_table77', 'PageNavPosition');
                event.preventDefault();
            });


            $('#Remove_ITSection').button().on('click', function (event) {
                //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
                //var a = [], b;
                //a = $('#ITSectionListL').P2BGetTableDataonSelectedRow('#ITSectionListL', 0);
                //b = a[0];

                var selectedRows = [];
                selectedRows = $('#ITSectionListL').P2BGetTableDataonSelectedRow('#ITSectionListL', 0);
                $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#ITSectionListL', $('#ITSectionListL').val(), 200, 200, '#frmITInvestmentPayment', '#ITSectionListL', '');
                event.preventDefault();
            });
            $('#Remove_FinancialYear').button().on('click', function (event) {
                //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
                //var a = [], b;
                //a = $('#FinancialYearList').P2BGetTableDataonSelectedRow('#FinancialYearList', 0);
                //b = a[0];
                var selectedRows = [];
                selectedRows = $('#FinancialYearList').P2BGetTableDataonSelectedRow('#FinancialYearList', 0);

                $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#FinancialYearList', $('#FinancialYearList').val(), 200, 200, '#frmITInvestmentPayment', '#FinancialYearList', '');
                event.preventDefault();
            });
            //To get data in Lookup


            //To get data in Lookup
            $('#Lookup-ITSection-ITInvestmentPayment').on('click', function (event) {
                $('.dialog').P2BLookUpModal('@Url.Action("GetITSectionLKDetails", "ITInvestmentPayment80C")', '', 'LookupDiv', 'IT Section Look Up Data', '#ITSectionListL', 'ITSectionlist', 5, 'ITSectionlist', '#frmITInvestmentPayment', 'N', '#Remove-ITSection-ITInvestmentPayment', 'Lookup_table7', 'PageNavPosition');
                event.preventDefault();
            });

            $('#Lookup-ITInvestment-ITInvestmentPayment').on('click', function (event) {
                $('.dialog').P2BLookUpModal('@Url.Action("GetITInvestmentLKDetails", "ITInvestmentPayment80C")', '', 'LookupDiv', 'IT Investment Look Up Data', '#ITInvestmentlist', 'ITInvestmentlist', 5, 'ITInvestmentlist', '#frmITInvestmentPayment', 'N', '#Remove-ITInvestment-ITInvestmentPayment', 'Lookup_table7', 'PageNavPosition');
                event.preventDefault();
            });

            $('#Lookup-ITSubInvestmentPayment-ITInvestmentPayment').on('click', function (event) {
                $('.dialog').P2BLookUpModal('@Url.Action("GetSubInvPayLKDetails", "ITInvestmentPayment80C")', '', 'LookupDiv', 'IT Sub Investment Payment Look Up Data', '#ITSubInvestmentPaymentlist', 'ITSubInvestmentPaymentlist', 5, 'ITSubInvestmentPaymentlist', '#frmITInvestmentPayment', 'A', '#Remove-ITSubInvestmentPayment-ITInvestmentPayment', 'Lookup_table7', 'PageNavPosition');
                event.preventDefault();
            });

            $('#Lookup-LoanAdvanceHead-ITInvestmentPayment').on('click', function (event) {
                $('.dialog').P2BLookUpModal('@Url.Action("GetLoanAdvHeadLKDetails", "ITInvestmentPayment80C")', '', 'LookupDiv', 'Loan Advance Head Look Up Data', '#LoanAdvanceHeadlist', 'LoanAdvanceHeadlist', 5, 'LoanAdvanceHeadlist', '#frmITInvestmentPayment', 'N', '#Remove-LoanAdvanceHead-ITInvestmentPayment', 'Lookup_table7', 'PageNavPosition');
                event.preventDefault();
            });

            // PArtial page create
            $('<div></div>').P2BPartialCreateModalDialog();
            $('#Create-ITSubInvestmentPayment-ITInvestmentPayment').on("click", function (event) {
                $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("CreateITSubInvPay_partial", "ITSubInvestmentPayment")', 'Create IT Sub Investment Payment', 'open', '@Url.Action("Create", "ITSubInvestmentPayment")', '#frmITSubInvestmentPayment', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#frmITInvestmentPayment', '', function (data) {
                    $('#ITSubInvestmentPaymentlist').P2BLookUpEncapsulate('#ITSubInvestmentPaymentlist', 'ITSubInvestmentPaymentlist', data[0], data[1], 'ITSubInvestmentPaymentlist', '#Remove-ITSubInvestmentPayment-ITInvestmentPayment', 'A');
                });


                event.preventDefault();
            });

            $('#Edit-ITSubInvestmentPayment-ITInvestmentPayment').button().on("click", function (event) {
                var a = [], b;
                a = $('#ITSubInvestmentPaymentlist').P2BGetTableDataonSelectedRow('#ITSubInvestmentPaymentlist', 0);
                b = a[0];
                console.log(b);
                //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname,                                                                                                                    height, width, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not, returndatafunction) {
                $('<div></div>').P2BPatialEditModalDialog('@Url.Action("CreateITSubInvPay_partial", "ITSubInvestmentPayment")', '@Url.Action("Edit", "ITSubInvestmentPayment")', b, '@Url.Action("EditSave", "ITSubInvestmentPayment")', 'Edit IT Sub Investment Payment', '#frmITSubInvestmentPayment', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmITInvestmentPayment', '#ITSubInvestmentPaymentlist', 'ITSubInvestmentPaymentlist', 'ITSubInvestmentPaymentlist', 'N', '', function (data) {
                    // setTimeout(function () {
                    $.each(data[0], function (i, k) {
                        $('#frmITSubInvestmentPayment').trigger('reset');
                        $('#SubActualInvestment').val(k.ActualInvestment);
                        $('#SubDeclaredInvestment').val(k.DeclaredInvestment);
                        $('#SubInvestmentDate').val(DateConvert(k.InvestmentDate));
                        $('#SubNarration').val(k.Narration);
                    });

                    $.each(data[1], function (i, k) {
                        $('#ITSubInvestmentlist').P2BLookUpEncapsulate('#ITSubInvestmentlist', 'ITSubInvestmentlist', k.ITSubInvestment_Id, k.ITSubInvestment_Val, 'ITSubInvestmentlist', '', 'N');
                    });
                    // }, 3000);
                });
                event.preventDefault();
            });
            //partial page delete
            $('#Remove-ITInvestment-ITInvestmentPayment').button().on('click', function (event) {
                //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
                //var a = [], b;
                //a = $('#ITInvestmentlist').P2BGetTableDataonSelectedRow('#ITInvestmentlist', 0);
                //b = a[0];
                var selectedRows = [];
                selectedRows = $('#ITInvestmentlist').P2BGetTableDataonSelectedRow('#ITInvestmentlist', 0);
                $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#ITInvestmentlist', $('#ITInvestmentlist').val(), 200, 200, '#frmITInvestmentPayment', '#ITInvestmentlist', '#Remove-ITInvestment-ITInvestmentPayment');
                event.preventDefault();
            });


            $('#Remove-ITSection-ITInvestmentPayment').button().on('click', function (event) {
                //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
                //var a = [], b;
                //a = $('#ITSectionListL').P2BGetTableDataonSelectedRow('#ITSectionListL', 0);
                //b = a[0];
                var selectedRows = [];
                selectedRows = $('#ITSectionListL').P2BGetTableDataonSelectedRow('#ITSectionListL', 0);
                $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#ITSectionListL', $('#ITSectionListL').val(), 200, 200, '#frmITInvestmentPayment', '#ITSectionListL', '#Remove-ITSection-ITInvestmentPayment');
                event.preventDefault();
            });
            $('#Remove-ITSubInvestmentPayment-ITInvestmentPayment').button().on('click', function (event) {
                //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
                //var a = [], b;
                //a = $('#ITSubInvestmentPaymentlist').P2BGetTableDataonSelectedRow('#ITSubInvestmentPaymentlist', 0);
                //b = a[0];
                var selectedRows = [];
                selectedRows = $('#ITSubInvestmentPaymentlist').P2BGetTableDataonSelectedRow('#ITSubInvestmentPaymentlist', 0);
                $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#ITSubInvestmentPaymentlist', $('#ITSubInvestmentPaymentlist').val(), 200, 200, '#frmITInvestmentPayment', '#ITSubInvestmentPaymentlist', '#Remove-ITSubInvestmentPayment-ITInvestmentPayment');
                event.preventDefault();
            });


            $('#Remove-LoanAdvanceHead-ITInvestmentPayment').button().on('click', function (event) {
                //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
                //var a = [], b;
                //a = $('#LoanAdvanceHeadlist').P2BGetTableDataonSelectedRow('#LoanAdvanceHeadlist', 0);
                //b = a[0];
                var selectedRows = [];
                selectedRows = $('#LoanAdvanceHeadlist').P2BGetTableDataonSelectedRow('#LoanAdvanceHeadlist', 0);
                $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#LoanAdvanceHeadlist', $('#LoanAdvanceHeadlist').val(), 200, 200, '#frmITInvestmentPayment', '#LoanAdvanceHeadlist', '#Remove-LoanAdvanceHead-ITInvestmentPayment');
                event.preventDefault();
            });

            $('#Btn-Upload-Data').on('click', function (e) {
                ////;
                $('<div></div>').PartialCreateDialog({
                    height: '500',
                    width: '700',
                    form: '#FormLookup',
                    title: 'Upload',
                    htmlurl: '@Url.Action("PARTIAL","JSONUPLOAD")',
                    state: "open",
                    mode: 'edit',
                    editurl: null,
                    submiturl: null,
                    editdata: 'a',
                    forwarddata: 'a',
                    returndatafunction: function (data) {
                        console.log(data);
                    },
                    submitfun: function (data) {
                        console.log(data);
                    }
                });

                e.preventDefault();
            });

            $('#Autho').makeDisable('#Create,#Edit,#Delete');
            $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');
        });

    </script>
    <title></title>
    <style>
        .icon-row {
            position: relative;
            left: 108px;
            top: -150px;
        }

        .popup-content-label {
            display: block;
            float: left;
            width: 153px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 150px;
        }

        .row3 {
            width: 568px;
        }

        .row4 {
            position: absolute;
            top: 294px;
            width: 400px;
        }

        .popup-content-textbox-long {
            margin-bottom: 1px;
            width: 290px;
        }


        .row2 {
            width: 402px;
        }

        .transactiontablenew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            /*width: 200px;*/
            display: block;
            overflow: auto;
            height: 500px;
            border-collapse: collapse;
        }

        .transactiondivnew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            width: 507px;
            border-radius: 5px;
            height: 32px;
        }

            .transactiondivnew > div {
                display: inline-block;
                margin: 0 auto;
                padding: 4px;
            }

                .transactiondivnew > div > input {
                    box-sizing: initial;
                    display: inline-block;
                    margin: 0 auto;
                    width: 108px;
                }

        .transactiontablenew th, .transactiontablenew td {
            background: rgba(246, 246, 246, 0.64) none repeat scroll 0 0;
            padding: 5px;
            border-bottom: 1px solid #c5c5c5;
            border-right: 1px solid #c5c5c5;
            text-align: center;
            color: rgba(114, 113, 113, 0.9);
        }

            .transactiontablenew th:nth-child(1) > input, .transactiontablenew td:nth-child(1) > input {
                margin: 0 auto;
            }

            .transactiontablenew th:nth-child(2), .transactiontablenew td:nth-child(2) {
                height: 100%;
                width: 100%;
            }

        .transactiontablenew tr:hover {
            cursor: pointer;
            background: #EEEEEE none repeat scroll 0 0;
        }

        .section1_Leave {
            display: block;
            border: 1.5px solid rgba(207, 207, 207, 0.91);
            height: 688px;
            width: 534px;
            margin: 4px auto;
            position: absolute;
        }

        .section2_Leave {
            display: block;
            border: 1px solid #ddd;
            height: 688px;
            width: 610px;
            margin: 5px 4px;
            position: absolute;
            left: 546px;
        }
    </style>
</head>

<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <button class="button" id="Create">Add</button>
                <button class="button" id="Btn-Upload-Data">Upload</button>
                @*<button class="button" id="View">View</button>
                    <button class="button" id="Edit">Edit</button>
                    <button class="button" id="Delete">Delete</button>
                    <button class="button" id="Autho">Authorized</button>*@
                @*<div id="Grid_Form">
                        <div>
                            <table id="JqGrid"></table>
                            <div id="pager2"></div>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>

    <div id="Container" class="container">
        <div id="Demo">
            <table id="MyTable" class="datatable-inline" cellspacing="0">
                <thead>
                    <tr>
                        <th>DD</th>
                        <th>EmployeeCode</th>
                        <th>EmployeeName</th>
                        <th>ID</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>DD</th>
                        <th>EmployeeCode</th>
                        <th>EmployeeName</th>
                        <th>ID</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>

    <div id="Create_Dialog" title="Create ITInvestmentPayment">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmITInvestmentPayment", name = "frmITInvestmentPayment" }))
        {
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
            <input id="geo_id" class="filter_structure_id" name="geo_id" />
            <input id="pay_id" class="filter_structure_id" name="pay_id" />
            <input id="fun_id" class="filter_structure_id" name="fun_id" />

            <div class="filter-div" id="filter-div">
                <label class="advance_filter_label">Advance Filter<span class="advance_filter_sysmbol_class_plus" id="Advance-Filter-Symbol"></span></label>
                <div id="FormFilter"></div>
            </div>
            <div class="section1_Leave">
                <div class="heading">Employee List</div>
                <div class="employeeselectiondiv">
                    <div class="transactiondivnew dynamic addons" style="float:left">
                        <div><label>Search : </label><input type="text" id="Employee-Search" style="width: 425px;" /></div>
                        <table cellspacing="0" cellpadding="1" class="transactiontablenew" id="Employee-Table">
                            <tr><th><input type="checkbox" id="Case-Employee" /></th><th>Employee</th></tr>
                        </table>
                        @*<span class="btn-span1" aria-hidden="true">
                                <button id="load_emp" class="loan-btn">Load Employee</button>
                            </span>*@
                    </div>
                    <input name="geo_id" type="text" id="geo_id" class="struct_input_val" style="display:none" />
                    <input name="pay_id" type="text" id="pay_id" class="struct_input_val" style="display:none" />
                    <input name="fun_id" type="text" id="fun_id" class="struct_input_val" style="display:none" />
                </div>
            </div>

            <div class="section2_Leave">
                <div class="row3 content_margine">

                    <div id="FinancialYearList_old"></div>
                    @Html.LabelFor(m => m.FinancialYear, "Financial year:", new { @class = "popup-content-label" })
                    <input type="text" hidden id="dispcalender_id" name="FinancialYearList" style="width:250px" />
                    <input type="text" readonly id="dispcalender" name="" style="width:250px" />
                    @*<div class="popup-content-table">
                            <table class="lookuptableselected" id="FinancialYearList">
                                <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                            </table>
                        </div>
                        <div class="icon-row">
                            <button data-p2btooltip="Lookup FinancialYear Details" class="button popup-content-icon-lookup" id="Lookup_FinancialYear"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>

                            <button data-p2btooltip="Remove FinancialYear Details" class="button popup-content-icon-remove" id="Remove_FinancialYear"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                        </div>*@

                </div>
                <div class="row3 content_margine">@Html.LabelFor(m => m.InvestmentDate, "Investment Date :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.InvestmentDate, new { @class = "popup-content-textbox must" })</div>
                @*<div class="row3 content_margine">

                    <div id="ItsectionList_old"></div>
                    @Html.LabelFor(m => m.ITSection, "IT Section :", new { @class = "popup-content-label" })
                    <div class="popup-content-table">
                        <table class="lookuptableselected" id="ITSectionListL">
                            <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                        </table>
                    </div>
                    <div class="icon-row">
                        <button data-p2btooltip="Lookup ITSection Details" class="button popup-content-icon-lookup" id="Lookup_ITSection"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>

                        <button data-p2btooltip="Remove ITSection Details" class="button popup-content-icon-remove" id="Remove_ITSection"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                    </div>

                </div>*@

                <div class="row3 content_margine">
                    <div id="ITInvestmentlist_old"></div>
                    @Html.LabelFor(m => m.ITInvestment, "IT Investment :", new { @class = "popup-content-label" })
                    <div class="popup-content-table">
                        <table class="lookuptableselected" id="ITInvestmentlist">
                            <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                        </table>
                    </div>
                    <div class="icon-row">
                        <button data-p2btooltip="Lookup ITInvestment" class="popup-content-icon-lookup" id="Lookup-ITInvestment-ITInvestmentPayment"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                        @*<button data-p2btooltip="Create Address" class="popup-content-icon-create" id="Create-Address-Corporate"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Edit Address" class="popup-content-icon-edit" id="Edit-Address-Corporate"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>*@
                        <button data-p2btooltip="Remove ITInvestment" class="popup-content-icon-remove" id="Remove-ITInvestment-ITInvestmentPayment"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                    </div>
                </div>


                <div class="row3 content_margine">
                    <div id="ITSubInvestmentPaymentlist_old"></div>@Html.LabelFor(m => m.ITSubInvestmentPayment, "IT Sub Investment Payment :", new { @class = "popup-content-label" })
                    <div class="popup-content-table">
                        <table class="lookuptableselected" id="ITSubInvestmentPaymentlist">
                            <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                        </table>
                    </div>
                    <div class="icon-row">
                        <button data-p2btooltip="Lookup ITSubInvestmentPayment" class="  popup-content-icon-lookup" id="Lookup-ITSubInvestmentPayment-ITInvestmentPayment"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Create ITSubInvestmentPayment" class="  popup-content-icon-create" id="Create-ITSubInvestmentPayment-ITInvestmentPayment"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Edit ITSubInvestmentPayment" class="  popup-content-icon-edit" id="Edit-ITSubInvestmentPayment-ITInvestmentPayment"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Remove ITSubInvestmentPayment" class="  popup-content-icon-remove" id="Remove-ITSubInvestmentPayment-ITInvestmentPayment"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                    </div>
                </div>

                
                <div class="row3 content_margine">@Html.LabelFor(m => m.ActualInvestment, "Actual Investment :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.ActualInvestment, new { @class = "popup-content-textbox" })</div>
                <div class="row3 content_margine">@Html.LabelFor(m => m.DeclaredInvestment, "Declared Investment :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.DeclaredInvestment, new { @class = "popup-content-textbox" })</div>

            </div>
        }
    </div>

</body>
</html>
