@{
    ViewBag.Title = "BA_Category";
}
@model Appraisal.BA_Category
<html>
<head>
    <title></title>
    <style>
        .popup-content-label {
            width: 170px;
            display: block;
            float: left;
        }

        .popup-content-textbox {
            width: 120px;
        }

        .row1 {
            width: 320px;
        }

        .horizontal_row3, .radio_button_div_1 {
            display: inline-block;
        }

        .row3 {
            width: 477px;
        }

        .row2 {
            width: 402px;
        }

        .icon-row {
            left: 127px;
            position: relative;
            top: -121px;
        }

        .popup-content-table {
            right: 120px;
        }
    </style>

</head>
<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <button class="button" id="Create">Create</button>
                <button class="button" id="Edit">Edit</button>
            </div>
        </div>
    </div>

    <div id="Grid_Form">
        <div>
            <div id="Container" class="container">
                <div id="Demo">
                    <table id="MyTable" class="display" cellspacing="0" width="100">
                        <thead>
                            <tr>
                                <th>DD</th>
                                <th>Category Code</th>
                                <th>Category Name</th>
                                <th>IsAmountAppl</th>
                                <th>IsAccountAppl</th>
                                <th>IsComplianceAppl</th>
                                <th>ID</th>
                            </tr>
                        </thead>
                        @*<tfoot>
                                <tr>
                                    <th>DD</th>
                                    <th>ID</th>
                                    <th>EmployeeCode</th>
                                    <th>EmployeeName</th>
                                </tr>
                            </tfoot>*@
                    </table>
                </div>
            </div>
            @*<table id="JqGrid"></table>
                <div id="pager2"></div>*@
        </div>
    </div>

    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>
    <div id="Create_Dialog">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmBA_Category", name = "frmBA_Category" }))
        {
            <div class=" row3 content_margine">
                @Html.LabelFor(m => m.Code, "Category Code :", new { @class = "popup-content-label must" })
                @Html.TextBoxFor(m => m.Code, new { @class = "popup-content-textbox must", @id = "CategoryCode", @maxlength = "10" })
            </div>
            <div class=" row3 content_margine">
                @Html.LabelFor(m => m.Name, "Category Name :", new { @class = "popup-content-label must" })
                @Html.TextBoxFor(m => m.Name, new { @class = "popup-content-textbox must", @id = "CategoryName", @maxlength = "50" })
            </div>
            <div class=" row3 content_margine">
                @Html.LabelFor(m => m.IsAmountAppl, "IsAmountAppl :", new { @class = "popup-content-label must" })
                <div class="popup_radio_button radio_button_div_1">
                    <span class="popup_radio_button radio_button_div_1">
                        <input type="radio" id="radio5" name="IsAmountAppl" value="true" /> <label class="ui-corner-left" for="radio5">Yes</label>
                        <input type="radio" id="radio6" name="IsAmountAppl" value="false" checked="checked" /> <label class="ui-corner-right" for="radio6">No</label>
                    </span>
                </div>

            </div>
            <div class=" row3 content_margine">
                @Html.LabelFor(m => m.IsAccountAppl, "IsAccountAppl :", new { @class = "popup-content-label must" })
                <div class="popup_radio_button radio_button_div_1">
                    <span class="popup_radio_button radio_button_div_1">
                        <input type="radio" id="radio7" name="IsAccountAppl" value="true" /> <label class="ui-corner-left" for="radio7">Yes</label>
                        <input type="radio" id="radio8" name="IsAccountAppl" value="false" checked="checked" /> <label class="ui-corner-right" for="radio8">No</label>
                    </span>

                </div>
            </div>
            <div class=" row3 content_margine">
                @Html.LabelFor(m => m.IsComplianceAppl, "IsComplianceAppl :", new { @class = "popup-content-label must" })
                <div class="popup_radio_button radio_button_div_1">
                    <span class="popup_radio_button radio_button_div_1">
                        <input type="radio" id="radio9" name="IsComplianceAppl" value="true" /> <label class="ui-corner-left" for="radio9">Yes</label>
                        <input type="radio" id="radio10" name="IsComplianceAppl" value="false" checked="checked" /> <label class="ui-corner-right" for="radio10">No</label>
                    </span>

                </div>
            </div>


            <div class=" row3 content_margine">
                @Html.LabelFor(m => m.BA_SubCategory, "BA_SubCategory :", new { @class = "popup-content-label " })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="BA_SubCategoryList">
                        <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup SubCategory" class=" popup-content-icon-lookup" id="Lookup-SubCategory"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Create SubCategory " class=" popup-content-icon-create" id="Create-SubCategory"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit  SubCategory" class=" popup-content-icon-edit" id="Edit-SubCategory"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Delete SubCategory" class=" popup-content-icon-remove" id="Remove-SubCategory"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>

        }
    </div>

</body>
</html>
<script>
    $(document).ready(function (e) {
        $('#CategoryCode').MaxLength(10);
        $('#CategoryName').MaxLength(50);


        $('button').button();

        //$.RadioBtnGroup("IsAccountAppl", "IsComplianceAppl");
        //$.RadioBtnGroup("IsAmountAppl", "IsComplianceAppl");
        //$.RadioBtnGroup("IsAmountAppl", "IsAccountAppl");
        $('#MyTable').MultiLevelInlineEditGrid({
            url: "@Url.Action("BA_Category_Grid")",
            columnname: ["Code", "Name", "IsAmountAppl", "IsAccountAppl", "IsComplianceAppl", "Id", ],
            childheader: ["SubCategory_Code", "SubCategory_Name", "Id"],
            childurl: "@Url.Action("BA_SubCategory_Grid", "BA_Category")",
            tableheader: "Business Apprisal Category",
            childurlColumnNo: "6"
        });

        $.DataTableChildManipulation = function (init, id, parentid, htmurl, editurl, submiturl) {
            var parent_element = $(init).parents('td:last').parent().prev();
            console.log(parent_element);
            var dt = $('#MyTable').DataTable();
            var htmlcomponant = {
                init: init,
                Id: id,
                idx: parentid,
                htmurl: htmurl,
                editurl: editurl,
                submiturl: submiturl,
            };
            if ($(init).hasClass('ui-icon-newwin')) {
                $('<div></div>').PartialCreateDialog({
                    height: 'auto',
                    width: 'auto',
                    form: "#Edit-loanadvrequest",
                    htmlurl: "@Url.Action("GridPartial", "LoanAdvRequest")",
                    state: "open",
                    mode: "View",
                    editurl: "@Url.Action("GridEditData", "LoanAdvRequest")",
                    submiturl: "@Url.Action("GridEditSave", "LoanAdvRequest")",
                    editdata: id,
                    forwarddata: id,
                    returndatafunction: function (returndata) {
                        $.each(returndata.returndata, function (i, k) {
                            $('#SubCode').val(k.Code);
                            $('#SubName').val(k.Name);
                        });
                    },
                });
            } else if ($(init).hasClass('ui-icon-pencil')) {
                // //debugger
                $('<div></div>').PartialCreateDialog({
                    height: 'auto',
                    width: '35%',
                    form: "#frmBA_SubCategory",
                    htmlurl: "@Url.Action("Partial", "BA_Category")",
                    state: "open",
                    mode: "Edit",
                    editurl: "@Url.Action("GridEditData", "BA_Category")",
                    submiturl: "@Url.Action("GridEditSave", "BA_Category")",
                    editdata: id,
                    forwarddata: id,
                    returndatafunction: function (returndata) {
                        $.each(returndata.returndata, function (i, k) {
                            $('#SubCode').val(k.Code);
                            $('#SubName').val(k.Name);
                        });
                    },
                    submitfun: function (data) {
                        var row = dt.row(parent_element);
                        if (row.child.isShown()) {
                            parent_element.removeClass('details');
                            row.child.hide();
                        }
                    }
                });
            } else if ($(init).hasClass('ui-icon-trash')) {
                $('<div></div>').PartialCreateDialog({
                    state: "open",
                    mode: "Delete",
                    submiturl: "@Url.Action("Delete")",
                    forwarddata: id,
                    submitfun: function (data) {
                        var row = dt.row(parent_element);
                        if (row.child.isShown()) {
                            parent_element.removeClass('details');
                            row.child.hide();
                        }
                    }
                });
            }
        };
        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }

        $('#Create_Dialog').P2BCreateDialog();
        //Create Function
        $('#Create').on("click", function (event) {
            $.FormReset('#frmBA_Category');
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'BA_Category', 'open', '@Url.Action("Create")', '#frmBA_Category', 'Message :', 'Request Falied :', '#JqGrid', 520, 560, '', "", function (data) { }, { datatablename: "#MyTable" });
            event.preventDefault();
        });

        $('#Create-SubCategory').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Partial", "BA_Category")', 'BA_SubCategory', 'open', '@Url.Action("Create", "BA_SubCategory")', '#frmBA_SubCategory', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#frmBA_Category', '', function (data) {
                $('#BA_SubCategoryList').P2BLookUpEncapsulate('#BA_SubCategoryList', 'BA_SubCategoryList', data[0], data[1], 'BA_SubCategoryList', '#Edit-WOCalendar-Location,#Remove-WOCalendar-Location', 'A');
            });
            event.preventDefault();
        });
        $('#Edit').on('click', function () {
            $('#frmBA_Category').trigger("reset");
            var b = localStorage.getItem('MyTable_selected');
            var a = JSON.parse(b);
            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', a.Id, '@Url.Action("EditSave")', "Edit Business Category", '#frmBA_Category', a.Id, 'Message : ', 'Request Falied :', '#JqGrid', 500, 620, '', '', function (data) {
                $.each(data[0], function (i, k) {
                    $('#frmBA_Category').trigger("reset");
                    $('#Code').val(k.Code);
                    $('#Name').val(k.Name);
                    $('[name="IsAccountAppl"]').val([k.IsAccountAppl]).button().button("refresh");
                    $('[name="IsAmountAppl"]').val([k.IsAmountAppl]).button().button("refresh");
                    $('[name="IsComplianceAppl"]').val([k.IsComplianceAppl]).button().button("refresh");
                });

                //partial page bind
                $.each(data[1], function (i, k) {
                    $('#BA_SubCategoryList').P2BLookUpEncapsulate('#BA_SubCategoryList', 'BA_SubCategoryList', k.BA_SubCategory_Id, k.BA_SubCategoryFullDetails, 'BA_SubCategoryList', '#Edit-HOCalendar-Department,#Remove-HOCalendar-Department', 'A');
                });           
            }, { datatablename: "#MyTable" });

        });
        $('#Lookup-SubCategory').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("BA_SubCategoryDetails", "BA_Category")', '', 'LookupDiv', 'Witness Look Up Data', '#BA_SubCategoryList', 'BA_SubCategoryList', 5, 'BA_SubCategoryList', '#frmBA_Category', 'A', '#Remove-Witness-Witness', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });
         
        $('#Edit-SubCategory').button().on("click", function (event) {
            var a = [], b;
            a = $('#BA_SubCategoryList').P2BGetTableDataonSelectedRow('#BA_SubCategoryList', 0);
            b = a[0];
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("Partial", "BA_Category")', '@Url.Action("Edit", "BA_SubCategory")', b, '@Url.Action("Editsave", "BA_SubCategory")', 'Edit SubCategory', '#frmBA_SubCategory', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 560, '#frmBA_Category', '#BA_SubCategoryList', 'BA_SubCategoryList', 'BA_SubCategoryList', 'N', '', function (data) {
               
                $.each(data[0], function (i, k) {
                    $('#BA_Category').trigger("reset");
                    $('#SubCode').val(k.Code);
                    $('#SubName').val(k.Name);
                });                
            });
            event.preventDefault();
        });

        $('#Remove-SubCategory').button().on('click', function (event) {

            //a = $('#BA_SubCategoryList').P2BGetTableDataonSelectedRow('#BA_SubCategoryList', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#BA_SubCategoryList').P2BGetTableDataonSelectedRow('#BA_SubCategoryList', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, '', 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#BA_SubCategoryList', $('#BA_SubCategoryList').val(), 200, 200, '#frmBA_Category', '#BA_SubCategoryList');
            event.preventDefault();
        });

        $('.popup_radio_button').controlgroup();
    });
</script>
