@{
    ViewBag.Title = "Region";
}
@model P2b.Global.Region





<html>

<head>
    <title></title>
    <style>
        .icon-row {
            position: relative;
            left: 53px;
            top: -150px;
        }

        #BusinessType-button {
            font-size: 9px;
            padding-top: 1px;
            font-weight: bold;
        }

        .popup-content-label {
            display: block;
            float: left;
            width: 100px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 150px;
        }

        .row3 {
            width: 402px;
        }

        .row4 {
            position: absolute;
            top: 294px;
            width: 400px;
        }

        .popup-content-textbox-long {
            margin-bottom: 1px;
            width: 290px;
        }


        .row2 {
            width: 402px;
        }
    </style>
</head>

<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <button class="button" id="Create">Create</button>
                <button class="button" id="View">View</button>
                <button class="button" id="Edit">Edit</button>
                <button class="button" id="Delete">Delete</button>
                <button class="button" id="Autho">Authorised</button>
                <div id="Grid_Form">
                    <div>
                        <table id="JqGrid"></table>
                        <div id="pager2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>

    <div id="Create_Dialog" title="Create Corpoarte">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmRegion", name = "frmRegion" }))
        {
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
            <div class="row3 content_margine">@Html.LabelFor(m => m.Code, "Code :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Code, new { @class = "popup-content-textbox must", @id = "RegionCode", @maxlength = "10" })</div>
            <div class="row3 content_margine">@Html.LabelFor(m => m.Name, "Name :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Name, new { @class = "popup-content-textbox must", @id = "RegionName", @maxlength = "50" })</div>
            <div class="row3 content_margine">@Html.LabelFor(m => m.OpeningDate, "OpeningDate :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.OpeningDate, new { @class = "popup-content-textbox must " })</div>
            <div class="dropdown_row1 row3 content_margine">
                @Html.LabelFor(m => m.Incharge, "Incharge :", new { @class = "popup-content-label" })
                <div id="Incharge_old"></div>
                <div class="popup-content-table">

                    <table class="lookuptableselected" id="Incharge_List">
                        <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="LookUp Contact Details" class="popup-content-icon-lookup" id="Lookup-Incharge-Group"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Remove Contact Details" class="popup-content-icon-remove" id="Remove-Incharge-Group"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>
            <div class="row3 content_margine">
                <div id="AddressList_Old"></div>
                @Html.LabelFor(m => m.Address, "Address :", new { @class = "popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="AddressList">
                        <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup Address" class=" popup-content-icon-lookup" id="Lookup-Address-Region"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Create Address" class="popup-content-icon-create" id="Create-Address-Region"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit Address" class="popup-content-icon-edit" id="Edit-Address-Region"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Remove Address" class="popup-content-icon-remove" id="Remove-Address-Region"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>
            <div class="row3 content_margine">
                <div id="ContactDetailsList_Old"></div>@Html.LabelFor(m => m.ContactDetails, "Contact Details :", new { @class = "popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="ContactDetailsList">
                        <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup Contact Details" class=" popup-content-icon-lookup" id="Lookup-ContactDetails-Region"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Create Contact Details" class=" popup-content-icon-create" id="Create-ContactDetails-Region"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit Contact Details" class=" popup-content-icon-edit" id="Edit-ContactDetails-Region"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Remove Contact Details" class=" popup-content-icon-remove" id="Remove-ContactDetails-Region"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>


        }
    </div>

</body>
</html>
<script>
    $(document).ready(function () {
        $('#RegionCode').MaxLength(10);
        $('#RegionName').MaxLength(50);
        //$('#Code').MaxLength(10).ForceOnlyAlphaNumeric();
        //$('#Name').MaxLength(50);
    });

    $(document).ready(function (e) {
        $('button').button();
        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;
        var btndisablenames = "#Edit-Address-Region,#Remove-Address-Region,#Edit-ContactDetails-Region,#Remove-ContactDetails-Region";
        ColModel = ['Code', 'Name', 'Id'];
        ColNames = ['Code', 'Name', 'Id'];
        SortName = 'Id';
        Caption = 'Region';
        url = '@Url.Action("P2BGrid", "Region")';
        width = 1000;
        height = 150;
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);
        $("#OpeningDate").keypress(function (event) { event.preventDefault(); });
        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }
        function DateConvert(JsonDate) {
            var date = new Date(parseInt(JsonDate.substr(6)));
            var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
            return displayDate;
        };
        $('#Create_Dialog').P2BCreateDialog();
        //Create Function
        $('#Create').on("click", function (event) {
            $('#frmRegion').trigger("reset");
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create Region', 'open', '@Url.Action("Create")', '#frmRegion', 'Message :', 'Request Falied :', '#JqGrid', 500, 620, '#AddressList,#ContactDetailsList,#Incharge_List', '', function (data) { });
            $('#Inchargelist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 304, ""); // To bind dropdown on page load
            event.preventDefault();
        });
        //////////////////////////////////////////////////////////////////////////
        $('#Lookup-Incharge-Group').button().on('click', function (event) {
            @*$('.dialog').P2BLookUpModal('@Url.Action("GetAddressLKDetails", "Corporate")', '', 'LookupDiv', 'Address Look Up Data', '#AddressList', 'AddressList', 5, 'AddressList', '#frmCorporate', 'N', '#Edit-Address-Corporate,#Remove-Address-Corporate', 'Lookup_table', 'PageNavPosition');*@
            $('.dialog').P2BLookUpModal('@Url.Action("getemploye", "Group")', '', 'LookupDiv', 'Look Up Data', '#Incharge_List', 'Incharge_List', 10, 'Incharge_List', '#frmRegion', 'N', '', 'Lookup_table', 'PageNavPosition');

            event.preventDefault();
        });
        $('#Remove-Incharge-Group').button().on('click', function (event) {
            //var a = [], b;
            //a = $('#Incharge_List').P2BGetTableDataonSelectedRow('#Incharge_List', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#Incharge_List').P2BGetTableDataonSelectedRow('#Incharge_List', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#Incharge_List', $('#Incharge_List').val(), 200, 200, '#frmRegion', '#Incharge_List');
            event.preventDefault();
        });
        // Main page edit
        $('#Edit').on('click', function () {
            AssignData();
            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit Region Data", '#frmRegion', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 500, 620, '#AddressList,#ContactDetailsList,#Incharge_List','', function (data) {
                // setTimeout(function () {
                $.each(data[0], function (i, k) {
                    console.log(k.Code);
                    $('#Code').val(k.Code);
                    $('#Code').attr('readonly', 'readonly');
                    $('#Name').val(k.Name);
                    if (k.OpeningDate != null)
                        $('#OpeningDate').val(DateConvert(k.OpeningDate));
                    else
                        $('#OpeningDate').val();
                });

                //partial page bind
                $.each(data[1], function (i, k) {
                    $('#AddressList').P2BLookUpEncapsulate('#AddressList', 'AddressList', k.Add_Id, k.Address_FullAddress, 'AddressList', '#Edit-Address-Region,#Remove-Address-Region', 'N');
                    $('#Incharge_List').P2BLookUpEncapsulate('#Incharge_List', 'Incharge_List', k.Incharge_Id, k.InchargetDetails, 'Incharge_List', '#Edit_Incharge,#Remove-Incharge-Group', 'N');
                    $('#ContactDetailsList').P2BLookUpEncapsulate('#ContactDetailsList', 'ContactDetailsList', k.Cont_Id, k.FullContactDetails, 'ContactDetailsList', '#Edit-ContactDetails-Region,#Remove-ContactDetails-Region', 'N');
                });

                //alert(data[3]);
                $('#Autho_Allow').val(data[3]); //Compulsory for authorisation
                // }, 2000);
            });
        });


        //View main page
        $('#View').button().click(function (event) {
            AssignData();
            @*$('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View', '#BasicScaleDetailslist', '', 356, 512, '#Autho', '@Url.Action("delete")', '', '', '', '','','', function (data) {*@
            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View Region Data', '#AddressList,#ContactDetailsList,#Incharge_List', '', 500, 620, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {
                $.each(data[0], function (i, k) {
                    $('#Autho_Action').val(k.Action);
                    $('#Code').val(k.Code);
                    $('#Code').attr('readonly', 'readonly');
                    $('#Name').val(k.Name);
                    if (k.OpeningDate != null)
                        $('#OpeningDate').val(DateConvert(k.OpeningDate));
                    else
                        $('#OpeningDate').val();
                });

                $.each(data[1], function (i, k) {

                    $('#AddressList').P2BLookUpEncapsulate('#AddressList', 'AddressList', k.Add_Id, k.Address_FullAddress, 'AddressList', 'view', 'A');
                    $('#ContactDetailsList').P2BLookUpEncapsulate('#ContactDetailsList', 'ContactDetailsList', k.Cont_Id, k.FullContactDetails, 'ContactDetailsList', 'view', 'A');
                    $('#Incharge_List').P2BLookUpEncapsulate('#Incharge_List', 'Incharge_List', k.Incharge_Id, k.InchargetDetails, 'Incharge_List', 'view', 'A');
                });

                //To bind old data if authorisation is true
                if ($("#Autho").hasClass('auto_active')) {
                    if (data[2] != null) {
                        $('#Name').oldVal(data[2].Name);
                        $('#Inchargelist').oldDropval(data[2].BusinessType_Val);
                        $('#AddressList_Old').oldLookupVal(data[2].Address_Val);
                        $('#ContactDetailsList_Old').oldLookupVal(data[2].Contact_Val);
                    }
                }
                //}, 2000);
            });
        });

        //delete main page
        $('#Delete').button().click(function (event) {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            $('#Create_Dialog').P2BDeleteModalDialog('@Url.Action("Delete")', dt.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
            event.preventDefault();
        });

        /* Address button click*/

        //To get data in Lookup
        $('#Lookup-Address-Region').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetAddressLKDetails", "Region")', '', 'LookupDiv', 'Address Look Up Data', '#AddressList', 'AddressList', 5, 'AddressList', '#frmRegion', 'N', '#Edit-Address-Region,#Remove-Address-Region', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        // PArtial page create
        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-Address-Region').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "address")', 'Create Address', 'open', '@Url.Action("Create","Address")', '#FormAddress', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#frmRegion', '', function (data) {
                // to show data which is created in partial page
                $('#AddressList').P2BLookUpEncapsulate('#AddressList', 'AddressList', data[0], data[1], 'AddressList', '#Edit-Address-Corporate,#Remove-Address-Corporate', 'N');
            });
            event.preventDefault();
        });

        // Partial page edit
        $('#Edit-Address-Region').button().on("click", function (event) {
            var a = [], b;
            a = $('#AddressList').P2BGetTableDataonSelectedRow('#AddressList', 0);
            b = a[0];
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname, height, width, classoridoftheonwhichpopupderived, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not,nameidclassofbuttontodisable,returndatafunction) {



            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "address")', '@Url.Action("edit", "address")', b, '@Url.Action("Editsave","Address")', 'Edit Address', '#FormAddress', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmRegion', '#AddressList', 'AddressList', 'AddressList', 'N', '#Edit-Address-Corporate,#Remove-Address-Corporate', function (data) {
                // setTimeout(function () {
                //to bind data according to selected id
                $.each(data[0], function (i, k) {
                    $('#FormAddress').trigger("reset");
                    $('#Address1').val(k.Address1);
                    $('#Address2').val(k.Address2);
                    $('#Address3').val(k.Address3);
                    $('#Landmark').val(k.Landmark);
                    $('#CountryList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "country")", "", k.Country_Id, '');
                    $('#StateList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "state")", "", k.State_Id, '');
                    $('#StateRegionList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "StateRegion")", "", k.StateRegion_Id, '');
                    $('#DistrictList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "District")", "", k.District_Id, '');
                    $('#TalukaList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "Taluka")", "", k.Taluka_Id, '');
                    $('#CityList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "City")", "", k.City_Id, '');
                    $('#AreaList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "area")", "", k.Area_Id, '');
                });
                //}, 3000);


            });
            event.preventDefault();
        });

        //partial page delete
        $('#Remove-Address-Region').button().on('click', function (event) {
            //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            //var a = [], b;
            //a = $('#AddressList').P2BGetTableDataonSelectedRow('#AddressList', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#AddressList').P2BGetTableDataonSelectedRow('#AddressList', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#AddressList', $('#AddressList').val(), 200, 200, '#frmRegion', '#AddressList', '#Edit-Address-Region,#Remove-Address-Region');
            event.preventDefault();
        });

        /* ContactDetails button click*/

        $('#Lookup-ContactDetails-Region').button().on('click', function (event) {

            $('.dialog').P2BLookUpModal('@Url.Action("GetContactDetLKDetails", "Region")', '', 'LookupDiv', 'ContactDetails Look Up Data', '#ContactDetailsList', 'ContactDetailsList', 5, 'ContactDetailsList', '#frmRegion', 'N', '#Edit-ContactDetails-Region,#Remove-ContactDetails-Region', 'Lookup_table', 'PageNavPosition');

            event.preventDefault();
        });

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-ContactDetails-Region').button().on("click", function (event) {
            //function (url, maindialogtitle, state, submiturl, submitnameformforserilize, savemessage, errormessage, gridreloadname, height, width, forwarddata, ControlName, event, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, returnfunctiondata) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Createcontactdetails_partial", "Region")', 'Create ContactDetails', 'open', '@Url.Action("CreateSave","ContactDetails")', '#frmContactDetails', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#frmContactDetails', '#Edit-ContactNo-ContDetails,#Remove-ContactNo-ContDetails', function (data) {
                $('#ContactDetailsList').P2BLookUpEncapsulate('#ContactDetailsList', 'ContactDetailsList', data[0], data[1], 'ContactDetailsList', '#Edit-ContactDetails-Corporate,#Remove-ContactDetails-Corporate', 'N');
            });
            event.preventDefault();
        });

        $('#Edit-ContactDetails-Region').button().on("click", function (event) {
            var a = [], b;
            a = $('#ContactDetailsList').P2BGetTableDataonSelectedRow('#ContactDetailsList', 0);
            b = a[0];
            console.log(b);
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname, height, width, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not, returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("Createcontactdetails_partial", "Region")', '@Url.Action("Editcontactdetails_partial", "Region")', b, '@Url.Action("EditSave", "ContactDetails")', 'Edit Contact Details', '#frmContactDetails', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmRegion', '#ContactDetailsList', 'ContactDetailsList', 'ContactDetailsList', 'N', '#Remove-ContactNo-ContDetails,#Edit-ContactNo-ContDetails', function (data) {
                // setTimeout(function () {
                $.each(data[0], function (i, k) {
                    $('#frmContactDetails').trigger('reset');
                    $('#EmailId').val(k.EmailId);
                    $('#Website').val(k.Website);
                    $('#FaxNo').val(k.FaxNo);
                });

                $.each(data[1], function (i, k) {
                    $('#ContactNos_List').P2BLookUpEncapsulate('#ContactNos_List', 'ContactNos_List', k.Id, k.FullContactNumbers, 'ContactNos_List', '#Edit-ContactNo-ContDetails,#Remove-ContactNo-ContDetails', 'A');
                });
                // }, 3000);
            });
            event.preventDefault();
        });

        $('#Remove-ContactDetails-Region').button().on('click', function (event) {
            // dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            //var a = [], b;
            //a = $('#ContactDetailsList').P2BGetTableDataonSelectedRow('#ContactDetailsList', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#ContactDetailsList').P2BGetTableDataonSelectedRow('#ContactDetailsList', 0);

            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#ContactDetailsList', $('#ContactDetailsList').val(), 200, 200, '#frmRegion', '#ContactDetailsList', '#Edit-ContactDetails-Region,#Remove-ContactDetails-Region');
            event.preventDefault();
        });

        $("#OpeningDate").P2BDatePicker();

        $('.popup_radio_button').controlgroup();
        //$('.drop').selectmenu().selectmenu("menuWidget");
        $('#Inchargelist').selectmenu().selectmenu("menuWidget");
        $('#Autho').makeDisable('#Create,#Edit,#Delete');
        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid","Region")', '@Url.Action("P2BGrid","Region")');
    });
</script>