@{
    Layout = null;
}
@model   Appraisal.AppRatingObjective
<!DOCTYPE html>

<style>
    .popup-content-label1 {
        display: block;
        float: left;
        width: 158px;
    }

    .popup-content-textbox {
        margin-bottom: 1px;
        min-width: 150px;
    }

    /*.row3 {
        width: 402px;
    }*/



    .popup-content-textbox-long {
        margin-bottom: 1px;
        width: 290px;
    }


    .row2 {
        width: 402px;
    }
</style>


<html>
<body>
    <div>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmAppRatingObjectiveP" }))
        {
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />

            <div class="row3 content_margine">
                @Html.LabelFor(m => m.RatingObjectName, "RatingObjectName :", new { @class = "popup-content-label1 must" })
                @Html.TextBoxFor(m => m.RatingObjectName, new { @class = "popup-content-textbox must", @id = "RatingObjectName" })

                @Html.LabelFor(m => m.RatingPoints, "RatingPoints :", new { @class = "popup-content-label1 must" })
                @Html.TextBoxFor(m => m.RatingPoints, new { @class = "popup-content-textbox must", @id = "RatingPoints" })

                @Html.LabelFor(m => m.RatingPointsFrom, "RatingPointsFrom :", new { @class = "popup-content-label1 must" })
                @Html.TextBoxFor(m => m.RatingPointsFrom, new { @class = "popup-content-textbox must", @id = "RatingPointsFrom" })

                @Html.LabelFor(m => m.RatingPointsTo, "RatingPointsTo :", new { @class = "popup-content-label1 must" })
                @Html.TextBoxFor(m => m.RatingPointsTo, new { @class = "popup-content-textbox must", @id = "RatingPointsTo"})
            </div>    

            <div class="row6 content_margine">     @Html.LabelFor(m => m.ObjectiveWordings, "Objective Wordings :", new { @class = "popup-content-label1" })<select id="ObjectiveWordingslist" name="ObjectiveWordingslist" class="drop " style="width:161px;"><option></option></select>    </div>
            
        }
    </div>
</body>
</html>
 <script>
     
     $(document).ready(function (e) {
         $('.drop').selectmenu().selectmenu('menuWidget');
         $('#ObjectiveWordingslist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 1067, "");
         $('#RatingPoints').ForceOnlyNumeric().MaxLength(10);
     });
 </script>































