<link href="~/Content/popup_form.css" rel="stylesheet" />
@model IR.PunishmentOrderDelivery
<style>
    .popup-content-label {
        width: 190px;
        display: block;
        float: left;
    }

    .popup-content-textbox {
        width: 120px;
    }

    .row1 {
        width: 320px;
    }

    
    .horizontal_row2, .radio_button_div_1 {
        display: inline-block;
    }

    .row3 {
        width: 477px;
    }

    .row2 {
        width: 402px;
    }

    .icon-row {
        left: 127px;
        position: relative;
        top: -121px;
    }

    .popup-content-table {
        right: 120px;
    }
    .lookuptableselected{width:281px;}
</style>
<script>
    $(document).ready(function () {
        $('button').button();
        var dt;
        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;

        ColModel = ['CaseNo', 'VictimName', 'ProceedingStage', 'PunishmentOrderServingDate', 'IsNoticeRecd', 'IsClosedServing', 'Narration', 'Id'];
        ColNames = ['CaseNo', 'VictimName', 'ProceedingStage', 'PunishmentOrderServingDate', 'IsNoticeRecd', 'IsClosedServing', 'Narration', 'Id'];

        SortName = 'Id';
        Caption = 'Punishment Order Delivery';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);
        $('#Create_Dialog').P2BCreateDialog();
        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }
        function DateConvert(JsonDate) {
            var date = new Date(parseInt(JsonDate.substr(6)));
            var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
            return displayDate;
        };
        $('#Create').button().on("click", function () {
            $('#frmpunishmentorderdelivary').trigger("reset");
            var temp = localStorage.getItem("getEmpIrIdKey");

             var empirid = @Request.QueryString["EmpIr"]
            console.log("empirid :::: " + empirid);
            if (empirid == undefined) {
                empirid = temp.toString();
            }
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create Punishment Order Delivery ', 'open', '@Url.Action("create")?EmpIr=' + empirid, '#frmpunishmentorderdelivary', 'Message :', 'Request Falied :', '#JqGrid', 600, 600, '', '', '', function (data) { });
        });
        $('#Delete').on('click', function () {

            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'ID');
            $('#Create_Dialog').P2BDeleteModalDialog('@Url.Action("Delete")', dt.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
            event.preventDefault();
        });
        $('#Lookup-Witness-PunishmentOrderDelivery').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupWitnessData", "PunishmentOrderDelivary")', '', 'LookupDiv', 'Witness Look Up Data', '#WitnessList', 'WitnessList', 5, 'WitnessList', '#frmpunishmentorderdelivary', 'A', '#Remove-Witness-Witness', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        $('#Lookup-PunishmentOrderServingMode-PunishmentOrderDelivery').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupPunishmentOrderServingMode", "PunishmentOrderDelivary")', '', 'LookupDiv', 'PunishmentOrderServingMode Look Up Data', '#PunishmentOrderServingModeList', 'PunishmentOrderServingModeList', 4, 'PunishmentOrderServingModeList', '#frmpunishmentorderdelivary', 'N', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });
        $('#Lookup-ShowCauseNotice-PunishmentOrderDelivery').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupDetailsPunishmentOrderDeliveryDoc", "PunishmentOrderDelivary")', '', 'LookupDiv', 'PunishmentOrderDeliveryDoc Look Up Data', '#ShowCauseNoticeList', 'ShowCauseNoticeList', 4, 'ShowCauseNoticeList', '#frmpunishmentorderdelivary', 'A', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        $('#View').on('click', function () {
            AssignData();
            //$('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit ChargeSheet", '#frmChargeSheet', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 500, 620, '', '', function (data) {
            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View Punishmentorderdelivery', '', '', 500, 620, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {
                //Compulsory for authorisation
                var val = null;
                $.each(data[0], function (i, k) {
                    $('#frmpunishmentorderdelivary').trigger("reset");
                    $('#Narration').val(k.Narration);
                    $('[name="IsClosedServing"]').val([k.IsClosedServing]).button().button("refresh");
                    $('[name="IsNoticeRecd"]').val([k.IsNoticeRecd]).button().button("refresh");

                    $('[name="IsWitnessReqd"]').val([k.IsWitnessReqd]).button().button("refresh");
                    if (k.IsWitnessReqd == false) {
                        $('#hidew').fadeOut();
                    }
                    else {
                        $('#hidew').fadeIn();

                    }
                    if (k.PunishmentOrderServingDate != null)
                        $('#PunishmentOrderServingDate').val(DateConvert(k.PunishmentOrderServingDate));
                    else
                        $('#PunishmentOrderServingDate').val();
                    $('#PunishmentOrderServingModeList').P2BLookUpEncapsulate('#PunishmentOrderServingModeList', 'PunishmentOrderServingModeList', k.PunishmentOrderServingMode_Id, k.PunishmentOrderServingModeDetails, 'PunishmentOrderServingModeList', '#Remove-ContactDetails-Location,#Edit-ContactDetails-Location', 'N');
                });
                $.each(data[1], function (i, k) {
                    console.log(data[1]);
                    $('#WitnessList').P2BLookUpEncapsulate('#WitnessList', 'WitnessList', k.Witnessorderdelivery_Id, k.WitnessorderdeliveryFulldetails, 'WitnessList', '#Edit-HOCalendar-Department,#Remove-HOCalendar-Department', 'A');
                    $('#ShowCauseNoticeList').P2BLookUpEncapsulate('#ShowCauseNoticeList', 'ShowCauseNoticeList', k.PunishmentDeliveryDoc_Id, k.PunishmentDelivaryDocFullDetails, 'ShowCauseNoticeList', '#Edit-HOCalendar-Department,#Remove-HOCalendar-Department', 'A');

                });
            });
        });
        $('#Edit').on('click', function () {
            AssignData();
            //$('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit ChargeSheet", '#frmChargeSheet', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 500, 620, '', '', function (data) {
            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit PunishmentOrderDelivery", '#frmpunishmentorderdelivary', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 500, 620, '', '', function (data) {
                //Compulsory for authorisation
                var val = null;
                $.each(data[0], function (i, k) {
                    $('#frmpunishmentorderdelivary').trigger("reset");
                    $('#Narration').val(k.Narration);
                    $('[name="IsClosedServing"]').val([k.IsClosedServing]).button().button("refresh");
                    $('[name="IsNoticeRecd"]').val([k.IsNoticeRecd]).button().button("refresh");

                    $('[name="IsWitnessReqd"]').val([k.IsWitnessReqd]).button().button("refresh");
                    if (k.IsWitnessReqd == false) {
                        $('#hidew').fadeOut();
                    }
                    else {
                        $('#hidew').fadeIn();

                    }
                    if (k.PunishmentOrderServingDate != null)
                        $('#PunishmentOrderServingDate').val(DateConvert(k.PunishmentOrderServingDate));
                    else
                        $('#PunishmentOrderServingDate').val();
                    $('#PunishmentOrderServingModeList').P2BLookUpEncapsulate('#PunishmentOrderServingModeList', 'PunishmentOrderServingModeList', k.PunishmentOrderServingMode_Id, k.PunishmentOrderServingModeDetails, 'PunishmentOrderServingModeList', '#Remove-ContactDetails-Location,#Edit-ContactDetails-Location', 'N');
                });
                $.each(data[1], function (i, k) {
                    console.log(data[1]);
                    $('#WitnessList').P2BLookUpEncapsulate('#WitnessList', 'WitnessList', k.Witnessorderdelivery_Id, k.WitnessorderdeliveryFulldetails, 'WitnessList', '#Edit-HOCalendar-Department,#Remove-HOCalendar-Department', 'A');
                    $('#ShowCauseNoticeList').P2BLookUpEncapsulate('#ShowCauseNoticeList', 'ShowCauseNoticeList', k.PunishmentDeliveryDoc_Id, k.PunishmentDelivaryDocFullDetails, 'ShowCauseNoticeList', '#Edit-HOCalendar-Department,#Remove-HOCalendar-Department', 'A');

                });
            });
        });
        $('#hidew').hide();
        $('input[name="IsWitnessReqd"]:radio').change(function () {

            if (this.value == "false") {

                $('#hidew').fadeOut();
            }
            else {
                $('#hidew').fadeIn();

            }
        });
        $('#Remove-PunishmentOrderServingMode-PunishmentOrderDelivery').button().on('click', function (event) {

            //a = $('#PunishmentOrderServingModeList').P2BGetTableDataonSelectedRow('#PunishmentOrderServingModeList', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#PunishmentOrderServingModeList').P2BGetTableDataonSelectedRow('#PunishmentOrderServingModeList', 0);

            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#PunishmentOrderServingModeList', $('#PunishmentOrderServingModeList').val(), 200, 200, '#frmpunishmentorderdelivary', '#PunishmentOrderServingModeList');
            event.preventDefault();
        });
        $('#Remove-Witness-PunishmentOrderDelivery').button().on('click', function (event) {

            //a = $('#WitnessList').P2BGetTableDataonSelectedRow('#WitnessList', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#WitnessList').P2BGetTableDataonSelectedRow('#WitnessList', 0);

            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#WitnessList', $('#WitnessList').val(), 200, 200, '#frmpunishmentorderdelivary', '#WitnessList');
            event.preventDefault();
        });
        $('#Remove-ShowCauseNotice-PunishmentOrderDelivery').button().on('click', function (event) {

            //a = $('#ShowCauseNoticeList').P2BGetTableDataonSelectedRow('#ShowCauseNoticeList', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#ShowCauseNoticeList').P2BGetTableDataonSelectedRow('#ShowCauseNoticeList', 0);

            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#ShowCauseNoticeList', $('#ShowCauseNoticeList').val(), 200, 200, '#frmpunishmentorderdelivary', '#ShowCauseNoticeList');
            event.preventDefault();
        });
        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-ShowCauseNotice-PunishmentOrderDelivery').on("click", function (event) {


            var a = $('#EmpCode').val();

            $('<div></div>').P2BConfidentialModelDialog({
                htmlurl: "@Url.Action("partial", "EmployeeDocuments")",
                submiturl: "@Url.Action("Create", "EmployeeDocuments")?EmpCode=" + a,
                form: '#FormCandidateDocs',
                height: "400",
                type: "FILE",
                width: "500",
                title: "DocumentUpload",
                BeforeSendurl: "true",
                returnfun: function (data) {
                    $('#EmployeeDocumentslist').P2BLookUpEncapsulate('#EmployeeDocumentslist', 'EmployeeDocumentslist', data.Id, data.Val, 'EmployeeDocumentslist', '', 'A');
                },
            });
            event.preventDefault();


        });
        //$('.popup-radio-button').controlgroup();
        $('#PunishmentOrderServingDate').P2BDatePicker();
    });
</script>

<!DOCTYPE html>

<html>
<head>
   
    <title>Index</title>
</head>
<body>
   <div class="form-bg">
       <div class="form-input">
           <div class="Button_Container">
               <button class="button" id="Create">Create</button>
               <button class="button" id="Edit">Edit</button>
               <button class="button" id="View">View</button>
               <button class="button" id="Delete">Delete</button>
               <div id="Grid_Form">
                   <div>
                       <table id="JqGrid"></table>
                       <div id="pager2"></div>
                   </div>
               </div>
           </div>
       </div>
   </div>
    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>
    <div id="Create_Dialog">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmpunishmentorderdelivary", name = "frmpunishmentorderdelivary" }))
        {
            <div class="row3 content_margine">
                    <label for="punishmentorderdeliverydetails" class="popup-content-label ">PunishmentOrder Delivery Details</label>
                <textarea cols="30" id="punishmentorderdeliverydetails" name="punishmentorderdeliverydetails" rows="2"></textarea>
                </div> 
            <div class=" row3 content_margine">
        @Html.LabelFor(m => m.PunishmentOrderServingMode, "PunishmentOrder ServingMode :", new { @class = "popup-content-label " })
                    <div class="popup-content-table">
                        <table class="lookuptableselected" id="PunishmentOrderServingModeList">
                            <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                        </table>
                    </div>
                    <div class="icon-row">
                        <button data-p2btooltip="Lookup corresponding  PunishmentOrderServingMode" class=" popup-content-icon-lookup" id="Lookup-PunishmentOrderServingMode-PunishmentOrderDelivery"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
        @*<button data-p2btooltip="Create showCauseDoc " class=" popup-content-icon-create" id="Create-showCauseDoc-FinalShowCauseNotice"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>*@
        @*<button data-p2btooltip="Edit corresponding Contact Details" class=" popup-content-icon-edit" id="Edit-CorrsContactDetails-Employee"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>*@
                        <button data-p2btooltip="Delete PunishmentOrderServingMode" class=" popup-content-icon-remove" id="Remove-PunishmentOrderServingMode-PunishmentOrderDelivery"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                    </div>
                </div>
             <div class="row3 content_margine">
        @Html.LabelFor(m => m.PunishmentOrderServingDate, "PunishmentOrder ServingDate:", new { @class = "popup-content-label must" })
        @Html.TextBoxFor(m => m.PunishmentOrderServingDate, "PunishmentOrder ServingDate:", new { @class = "popup-content-Textboxt must" })
            </div>
            <div class="row3 content_margine">
        @Html.LabelFor(m => m.IsClosedServing, "IsClosedServing:", new { @class = "popup-content-label must" })
                 <div class="popup-radio-button radio-button-div1">
                     <span class="popup-rdaio-button radio-button-div1">
                         <input type="radio" id="radio1" name="IsClosedServing" value="true" /><label for="radio1">YES</label>
                         <input type="radio" id="radio2" name="IsClosedServing" value="false" /><label for="radio2">NO</label>
                     </span>
                 </div>
                 </div>
            <div class="row3 content_margine">
        @Html.LabelFor(m => m.IsNoticeRecd, "IsNoticeRecd:", new { @class = "popup-content-label must" })
                 <div class="popup-radio-button radio-button-div1">
                     <span class="popup-rdaio-button radio-button-div1">
                         <input type="radio" id="radio3" name="IsNoticeRecd" value="true" /><label for="radio3">YES</label>
                         <input type="radio" id="radio4" name="IsNoticeRecd" value="false" /><label for="radio4">NO</label>
                     </span>
                 </div>
                 </div>
            
             <div class="row3 content_margine">
        @Html.LabelFor(m => m.IsWitnessReqd, "IsWitnessReqd:", new { @class = "popup-content-label" })
                 <div class="popup-radio-button radio-button-div1">
                     <span class="popup-rdaio-button radio-button-div1">
                         <input type="radio" id="radio5" name="IsWitnessReqd" value="true" /><label for="radio5">YES</label>
                         <input type="radio" id="radio6" name="IsWitnessReqd" value="false" /><label for="radio6">NO</label>
                     </span>
                 </div>
                 </div>
    <div id="hidew">
        <div class=" row3 content_margine">
            @Html.LabelFor(m => m.Witness, "Witness :", new { @class = "popup-content-label " })
            <div class="popup-content-table">
                <table class="lookuptableselected" id="WitnessList">
                    <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                </table>
            </div>
            <div class="icon-row">
                <button data-p2btooltip="Lookup corresponding  Witness" class=" popup-content-icon-lookup" id="Lookup-Witness-PunishmentOrderDelivery"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                @*<button data-p2btooltip="Create showCauseDoc " class=" popup-content-icon-create" id="Create-showCauseDoc-FinalShowCauseNotice"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>*@
                @*<button data-p2btooltip="Edit corresponding Contact Details" class=" popup-content-icon-edit" id="Edit-CorrsContactDetails-Employee"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>*@
                <button data-p2btooltip="Delete Witness" class=" popup-content-icon-remove" id="Remove-Witness-PunishmentOrderDelivery"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
            </div>
        </div>
    </div>
            <div class="row3 content_margine">
                             @Html.LabelFor(m => m.Narration, "Narration:", new { @class = "popup-content-label must" })
                             @Html.TextBoxFor(m => m.Narration, new { @class = "popup-content-textbox must" })
            </div>
             <div class=" row3 content_margine">
                             @Html.LabelFor(m => m.PunishmentOrderNotice, "Supporting Documents :", new { @class = "popup-content-label " })
                    <div class="popup-content-table">
                        <table class="lookuptableselected" id="ShowCauseNoticeList">
                            <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                        </table>
                    </div>
                    <div class="icon-row">
                        <button data-p2btooltip="Lookup corresponding PunishmentOrderDelivery" class=" popup-content-icon-lookup" id="Lookup-ShowCauseNotice-PunishmentOrderDelivery"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Create PunishmentOrderDelivery " class=" popup-content-icon-create" id="Create-ShowCauseNotice-PunishmentOrderDelivery"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
        @*<button data-p2btooltip="Edit corresponding Contact Details" class=" popup-content-icon-edit" id="Edit-CorrsContactDetails-Employee"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>*@
                        <button data-p2btooltip="Delete PunishmentOrderDelivery" class=" popup-content-icon-remove" id="Remove-ShowCauseNotice-PunishmentOrderDelivery"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                    </div>
                </div>
        }
        </div>
</body>
</html>
