@{
    ViewBag.Title = "Appraisal Publish";
}
@model Appraisal.AppraisalSchedule
<!DOCTYPE html>

<html>
<head>
    <title></title>
    @*<link href="~/Content/SalaryT/SalaryT.css" rel="stylesheet" />*@

    <style>
        .section2_Leave {
            padding-left: 6px;
            width: 513px;
            right: 558.8px;
            display: block;
            border: 1.5px solid rgba(207, 207, 207, 0.91);
            height: 719px;
            width: 534px;
            margin: 4px auto;
            position: absolute;
        }

        .section1_Leave {
            padding-top: 10px;
            display: block;
            border: 2px solid #ddd;
            height: 707px;
            width: 510px;
            margin: 5px 4px;
            position: absolute;
            left: 546px;
            padding-left: 11px;
        }

        .icon-row {
            position: relative;
            left: 61px;
            top: -150px;
        }

        #BusinessType-button {
            font-size: 9px;
            padding-top: 1px;
            font-weight: bold;
        }

        .popup-content-label {
            display: block;
            float: left;
            width: 100px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 150px;
        }

        .row3 {
            width: 853px;
        }

        .row4 {
            position: absolute;
            top: 294px;
            width: 400px;
        }

        .popup-content-textbox-long {
            margin-bottom: 1px;
            width: 290px;
        }


        .row2 {
            width: 402px;
        }

        .date-picker {
            z-index: 999;
        }

        .employeeselectiondiv {
            float: left;
        }

        .addons {
            height: 246px;
        }

        .section_Method {
            border: 1px solid rgba(207, 207, 207, 0.91);
            border-radius: 10px;
            margin-top: 15px;
            margin-bottom: 15px;
            width: 98%;
        }

        .transactiontablenew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            /*width: 200px;*/
            display: block;
            overflow: auto;
            height: 500px;
            border-collapse: collapse;
        }

        .transactiondivnew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            width: 507px;
            border-radius: 5px;
            height: 32px;
        }

            .transactiondivnew > div {
                display: inline-block;
                margin: 0 auto;
                padding: 4px;
            }

                .transactiondivnew > div > input {
                    box-sizing: initial;
                    display: inline-block;
                    margin: 0 auto;
                    width: 108px;
                }

        .transactiontablenew th, .transactiontablenew td {
            background: rgba(246, 246, 246, 0.64) none repeat scroll 0 0;
            padding: 5px;
            border-bottom: 1px solid #c5c5c5;
            border-right: 1px solid #c5c5c5;
            text-align: center;
            color: rgba(114, 113, 113, 0.9);
        }

            .transactiontablenew th:nth-child(1) > input, .transactiontablenew td:nth-child(1) > input {
                margin: 0 auto;
            }

            .transactiontablenew th:nth-child(2), .transactiontablenew td:nth-child(2) {
                height: 100%;
                width: 100%;
            }

        .transactiontablenew tr:hover {
            cursor: pointer;
            background: #EEEEEE none repeat scroll 0 0;
        }
    </style>
</head>
<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                @*<div style="float:left">
                        <label id="lblPayMonth" class="popup-content-label must">PayMonth:</label>
                        <input name="TextPayMonth" type="text" id="TextPayMonth" class="date-picker" />
                    </div>
                    <button class="button" id="Load">Load</button>*@
                <button class="button" id="Create">Add</button>
                @*<button class="button" id="Btn-Upload-Data">Upload</button>*@
                @*<button class="button" id="Delete">Delete</button>*@
                @*<button class="button" id="release">Release</button>*@

            </div>
        </div>
    </div>

    <div id="Grid_Form">
        <div>
            <div id="Container" class="container">
                <div id="Demo">
                    <table id="MyTable" class="display" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>DD</th>
                                <th>Code</th>
                                <th>Name</th>
                                @*<th>JoiningDate</th>*@
                                <th>Job</th>
                                <th>Grade</th>
                                <th>Location</th>
                                <th>ID</th>
                            </tr>
                        </thead>
                        @*<tfoot>
                                <tr>
                                    <th>DD</th>
                                    <th>ID</th>
                                    <th>EmployeeCode</th>
                                    <th>EmployeeName</th>
                                </tr>
                            </tfoot>*@
                    </table>
                </div>
            </div>
            @*<table id="JqGrid"></table>
                <div id="pager2"></div>*@
        </div>
    </div>



    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv" id="lookup"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>

    <div id="Create_Dialog" title="Create Corpoarte">
        <div class="section1_Leave" id="Section_Emp">
            <div class="emplist_row">
                <div class="filter-div">
                    <label class="advance_filter_label">Advance Filter<span class="advance_filter_sysmbol_class_plus" id="Advance-Filter-Symbol"></span></label>
                    <div id="FormFilter"></div>
                </div>
                <input name="geo_id" id="geo_id" class="filter_structure_id" />
                <input name="pay_id" id="pay_id" class="filter_structure_id" />
                <input name="fun_id" id="fun_id" class="filter_structure_id" />

            </div>
            <div class="heading">Employee List</div>
            <div class="employeeselectiondiv">
                <div class="transactiondivnew dynamic addons" style="float:left">
                    <div>
                        <label>Search:</label>
                        <input type="text" id="employee-search1" style="width: 425px;" />
                    </div>
                    <table cellspacing="0" cellpadding="1" class="transactiontablenew" id="employee-table1">
                        <tr>
                            <th><input type="checkbox" id="case-employee1" /></th>
                            <th>Employee</th>
                        </tr>
                    </table>
                </div>
            </div>
            <div>
                <button class="button" id="save">SAVE</button><br />
            </div>
        </div>

        <div class="section2_Leave">

            @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "FormAppPublishT", name = "FormAppPublishT" }))
            {
                <input id="Autho_Action" type="hidden" name="Autho_Action" />
                <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
                <input id="geo_id" class="filter_structure_id" name="geo_id" />
                <input id="pay_id" class="filter_structure_id" name="pay_id" />
                <input id="fun_id" class="filter_structure_id" name="fun_id" />
                <input id="emp_Id" class="filter_structure_id" name="emp_Id" />
                @*<input id="lblPubDateD" class="filter_structure_id" name="lblPubDateD" />*@

                @*<div class="section_Method">
                        <div class="heading">Filter View</div>
                        <div class="filter-div">
                            <label class="advance_filter_label">Advance Filter<span class="advance_filter_sysmbol_class_plus" id="Advance-Filter-Symbol"></span></label>
                            <div id="FormFilter"></div>
                        </div>
                    </div>*@

                <div class="section_Method">
                    <div class="heading">Appraisal Calendar Details</div>
                    <div class="row3 content_margine">

                        <label id="lblAppCalendar" class="popup-content-label must">Appraisal Calendar:</label>
                        <select id="AppCalendardrop" style="width:290px" name="AppCalendardrop" class="drop must"></select>

                    </div>
                </div>
                <div class="section_Method">
                    <div class="heading">Appraisal Schedule Details</div>

                    <label id="lblPayMonth" class="popup-content-label must">Schedule Name:</label>
                    <input name="TextPayMonth" type="text" id="TextPayMonth" />
                    <input type="text" id="Batch_Name" name="Batch_Name" class="filter_structure_id must" />

                    <div class="icon-row">
                        <button data-p2btooltip="Lookup AppraisalSchedule Details" class="  popup-content-icon-lookup" id="Lookup-AppraisalSchedule-AppraisalSchedule" style="top:128px;left:210px"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                        @*<button data-p2btooltip="Create AppraisalSchedule Details" class="  popup-content-icon-create" id="Create-AppraisalSchedule-AppraisalSchedule" style="top:128px;left:235px"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>*@
                    </div>
                </div>
                <div>
                    <button class="button" id="load_emp">LOAD</button><br />
                </div>
                <div class="section_Method">
                    <div class="heading">Employee List</div>
                    <div class="employeeselectiondiv">
                        <div class="transactiondivnew dynamic addons" style="float:left">
                            <div><label>Search : </label><input type="text" id="Employee-Search" style="width: 425px;" /></div>
                            <table cellspacing="0" cellpadding="1" class="transactiontablenew" id="Employee-Table">
                                <tr><th><input type="checkbox" id="Case-Employee" /></th><th>Employee</th></tr>
                            </table>
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>

</body>
</html>

<script>
    $(document).ready(function (e) {
        $('button').button();
        @*var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;

        ColModel = ['Id', 'AppraisalCalendar', 'PublishDate', 'SpanPeriod', 'Extension'];
        ColNames = ['Id', 'AppraisalCalendar', 'PublishDate', 'SpanPeriod', 'Extension'];
        SortName = 'Id';
        Caption = 'Appraisal Publish';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;*@
        //    $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);
        var btndisablenames = "";
        var namelookuptable = '';

        function DateConvert(JsonDate) {
            var date = new Date(parseInt(JsonDate.substr(6)));
            var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
            return displayDate;
        };

        var dt;
        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }
        $('#Section_Emp').fadeOut();




        var inline_ColNames = [];
        var inline_ColModel = [];
        var inline_SortName, inline_Caption, inline_url, inline_width, inline_height;
        inline_ColModel = ['ID', 'Category', 'SubCategory', 'MaxPoints', 'RatingPoints', 'Comments', 'Editable'];
        inline_ColNames = ['ID', 'Category', 'SubCategory', 'MaxPoints', 'RatingPoints', 'Comments', 'Editable'];
        inline_SortName = 'ID';
        inline_Caption = 'Employee List';
        inline_url = '@Url.Action("LoadEmp")';
        inline_width = 800;
        inline_height = 150;



        $('#MyTable').MultiLevelInlineEditGrid({
            url: "@Url.Action("Emp_Grid")",
            htmurl: "@Url.Action("partial", "AppraisalPublishT")",
            columnname: ["Code", "Name", /*"JoiningDate",*/ "Job", "Grade", "Location", "Id"],
            childheader: [ "MaxPoints", "Id"],
            childurl: "@Url.Action("Get_AppAssignData", "AppraisalPublishT")",
            tableheader: "Appraisal Publish",
            childurlColumnNo: "6"
        });


        $.DataTableChildManipulation = function (init, id, parentid, htmurl, editurl, submiturl) {
            var parent_element = $(init).parents('td:last').parent().prev();
            // console.log(parent_element.find('td:eq(1)'));
            // var parentId = parent_element.find('td:eq(1)').html();
            var dt = $('#MyTable').DataTable();
            var htmlcomponant = {
                init: init,
                Id: id,
                idx: parentid,
                htmurl: htmurl,
                editurl: editurl,
                submiturl: submiturl,
            };
            if ($(init).hasClass('ui-icon-newwin1')) {
                $('<div></div>').PartialCreateDialog({
                    height: 'auto',
                    width: 'auto',
                    form: "#Edit-PerkTransT1",
                    htmlurl: "@Url.Action("GridPartial1", "PerkTransT")",
                    state: "open",
                    mode: "View",
                    editurl: "@Url.Action("GridEditData1", "PerkTransT")",
                    submiturl: "@Url.Action("GridEditSave1", "PerkTransT")",
                    editdata: id,
                    forwarddata: id,
                    returndatafunction: function (returndata) {
                        $.each(returndata.returndata, function (i, k) {
                            $('[name="IsPresent1"]').val([k.IsPresent]).button().button("refresh");
                            $('[name="IsCancelled1"]').val([k.IsCancelled]).button().button("refresh");
                            $('#CancelReason1').val(k.CancelReason);

                        });
                    },
                });
            } else if ($(init).hasClass('ui-icon-pencil')) {
                // //debugger
                // alert(parentid);
                $('<div></div>').PartialCreateDialog({
                    height: 'auto',
                    width: '35%',
                    form: "#Edit-PerkTransT",
                    htmlurl: "@Url.Action("GridPartial", "TrainingFeedback")",
                    state: "open",
                    mode: "Edit",
                    editurl: "@Url.Action("GridEditData", "TrainingFeedback")",
                    submiturl: "@Url.Action("GridEditSave", "TrainingFeedback")",
                    editdata: id,
                    forwarddata: [id, parentid],
                    returndatafunction: function (returndata) {
                        $.each(returndata.returndata, function (i, k) {

                            $('#FacultyFeedback1').val(k.FacultyFeedback);
                            $('#FaultyRating1').val(k.FaultyRating);
                            $('#TrainingFeedback1').val(k.TrainingFeedback);
                            $('#TrainingRating1').val(k.TrainingRating);
                        });
                    },
                    submitfun: function (data) {
                        var row = dt.row(parent_element);
                        if (row.child.isShown()) {
                            parent_element.removeClass('details');
                            row.child.hide();
                        }
                    }
                });
            } else if ($(init).hasClass('ui-icon-trash1')) {
                // alert(parentid);
                // alert(id);
                $('<div></div>').PartialCreateDialog({
                    state: "open",
                    mode: "Delete",
                    submiturl: "@Url.Action("GridDelete1")",
                    forwarddata: [id, parentid],
                    submitfun: function (data) {
                        var row = dt.row(parent_element);
                        if (row.child.isShown()) {
                            parent_element.removeClass('details1');
                            row.child.hide();
                        }
                    }
                });
            }
        };





        $("#Extension").ForceOnlyNumeric().MaxLength(8);
        $("#SpanPeriod").ForceOnlyNumeric().MaxLength(8);

        $('#Create_Dialog').P2BCreateDialog();
        $('#Create').on("click", function (event) {
            $('#FormAppPublishT').trigger("reset");
           // $.LoadEmpByDefault();
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create Appraisal Publish', 'open', '@Url.Action("Create")', '#FormAppPublishT', 'Message :', 'Request Falied :', '#JqGrid', 500, 1126, '', '', function (data) { });

            // $('#data_disp').fadeOut();
            //   $('#data_disp').hide();
            $('#AppCalendardrop').P2BSelectMenuAppend('@Url.Action("PopulateDropDownListCalendar", "AppraisalPublishT")', "", '');


            
            event.preventDefault();
        });
        $('#load_emp').on('click', function (e) {
            var AppCal = $('#AppCalendardrop').val();
            var SchName = $("input[name=TextPayMonth]").val();
            
            $('#Employee-Table').P2BTransactionTableDynamic('#Employee-Search', '#Case-Employee', './AppraisalPublishT/Get_Employelist?AppCal=' + AppCal + '&SchName=' + SchName + '', "");
        });
        $('#Create-AppraisalSchedule-AppraisalSchedule').on('click', function (e) {
            $('#Section_Emp').fadeIn();
            $('#employee-table1').P2BTransactionTableDynamic('#employee-search1', '#case-employee1', './Transcation/ByDefaultLoadEmp', "");
            @*$('#Advance-Filter-Symbol').on('click', function () {
                $("<div></div>").FilterDialog({
                    width: 1000,
                    height: 400,
                    title: "Filter",
                    htmlurl: "@Url.Action("Advance_partial", "Transcation")",
                    returnat: function (data) {
                        console.log(data);
                        if (data.GeoStruct != null) {
                            $('#geo_id').val(data.GeoStruct);
                        }
                        if (data.PayStruct != null) {
                            $('#pay_id').val(data.PayStruct);
                        }
                        if (data.FunStruct != null) {
                            $('#fun_id').val(data.FunStruct);
                        }
                        var forwarddata = JSON.stringify(data);
                        $('#employee-table1').P2BTransactionTableDynamic('#Employee-Search', '#Case-Employee', './Transcation/Get_Employelist_h?geo_id=' + forwarddata + '', "");
                    },
                    renderat: "#FormFilter",
                    hierarchy: true,
                });
            });*@

        });


        $('#Edit').on('click', function () {
            AssignData();
            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit Appraisal Publish", '#FormAppraisalPublish', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 270, 620, ' ', "", function (data) {
                // setTimeout(function () {
                $('#PublishDate').attr('readonly', true);
                $.each(data[0], function (i, k) {
                    $('#FormAppraisalPublish').trigger('reset');
                    $('#PublishDate').val(DateConvert(k.PublishDate));
                    $('#SpanPeriod').val(k.SpanPeriod);
                    $('#Extension').val(k.Extension);
                    $('[name="IsTrClose"]').val([k.IsTrClose]).button().button("refresh");
                    $('#AppCalendardrop').P2BSelectMenuAppend('@Url.Action("PopulateDropDownListCalendar", "AppraisalPublish")', "", k.AppraisalPeriodCalendar_Id);

                });

                $('#Autho_Allow').val(data[3]); //Compulsory for authorisation
                // }, 2000);
            });
        });


        $('#View').button().click(function (event) {
            AssignData();
            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View Appraisal Publish', '#AddressList,#ContactDetailsList', '', 270, 620, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {
                $('#IsTrClose').prop("disabled", true);
                $.each(data[0], function (i, k) {
                    $('#FormAppraisalPublish').trigger('reset');
                    $('#PublishDate').val(DateConvert(k.PublishDate));
                    $('#SpanPeriod').val(k.SpanPeriod);
                    $('#Extension').val(k.Extension);
                    $('[name="IsTrClose"]').val([k.IsTrClose]).button().button("refresh");
                    $('#AppCalendardrop').P2BSelectMenuAppend('@Url.Action("PopulateDropDownListCalendar", "AppraisalPublish")', "", k.AppraisalPeriodCalendar_Id);

                });

                $('#Autho_Allow').val(data[3]); //Compulsory for authorisation


            });
        });
        //delete main page
        $('#Delete').button().click(function (event) {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            $('#Create_Dialog').P2BDeleteModalDialog('@Url.Action("Delete")', dt.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
            event.preventDefault();
        });

        ///appraisal Schedule partial


        @*$('#Lookup-AppraisalSchedule-AppraisalSchedule').button().on('click', function (event) {

            $('.dialog').P2BLookUpModal('@Url.Action("GetAppraisalScheduleDetails", "AppraisalPublishT")', '', 'LookupDiv', 'AppraisalSchedule Look Up Data', '#AppraisalSchedulelist', 'AppraisalSchedulelist', 5, 'AppraisalSchedulelist', '#FormAppPublishT', 'N', '#Edit-AppraisalSchedule-AppraisalSchedule,#Remove-AppraisalSchedule-AppraisalSchedule', 'Lookup_table', 'PageNavPosition');

            event.preventDefault();
        });*@

        @*$('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-AppraisalSchedule-AppraisalSchedule').button().on("click", function (event) {
            $('#FormAppraisalSchedule').trigger("reset");

            //function (url, maindialogtitle, state, submiturl, submitnameformforserilize, savemessage, errormessage, gridreloadname, height, width, forwarddata, ControlName, event, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, returnfunctiondata) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "AppraisalPublishT")', 'Create AppraisalSchedule', 'open', '@Url.Action("Create", "AppraisalPublish")', '#FormAppraisalSchedule', 'Message :', 'Request Falied :', '#JqGrid', 500, 700, '', '', '', '#FormAppraisalSchedule', '#Edit-AppraisalSchedule-AppraisalSchedule,#Remove-AppraisalSchedule-AppraisalSchedule', function (data) {
                //$('#AppraisalPublishlist').P2BLookUpEncapsulate('#AppraisalPublishlist', 'AppraisalPublishlist', data[0], data[1], 'AppraisalPublishlist', '#Edit-AppraisalPublish-AppraisalSchedule,#Remove-AppraisalPublish-AppraisalSchedule', 'N');
            });
            event.preventDefault();
        });*@

        $('#Remove-AppraisalSchedule-AppraisalSchedule').button().on('click', function (event) {
            // dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            var a = [], b;
            a = $('#AppraisalSchedulelist').P2BGetTableDataonSelectedRow('#AppraisalSchedulelist', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('@Url.Action("Delete", "AppraisalPublish")', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#AppraisalSchedulelist', $('#AppraisalSchedulelist').val(), 200, 200, '#FormAppraisalSchedule', '#AppraisalSchedulelist', '#Edit-AppraisalSchedule-AppraisalSchedule,#Remove-AppraisalSchedule-AppraisalSchedule');
            event.preventDefault();
        });


        $('#AppCalendardrop').on('selectmenuchange', function () {
            $.post("@Url.Action("GetApplicableData")", { data: $(this).val(), data2: 0 }, function (data) {
                if (data != null) {
                    //  $('#data_disp').fadeIn();
                    //  $('#data_disp').show();
                    $('#lblPubDateD').text(DateConvert(data.PublishDate));
                    $('#lblSpanPeriodD').text(data.SpanPeriod);

                }
            });
        });

        $('#Lookup-AppraisalSchedule-AppraisalSchedule').on('click', function () {
            $('.dialog').AddDataToTextbox({
                appendTo: "#TextPayMonth",
                appendToId: "#Batch_Name",
                lookupurl: "@Url.Action("GetAppraisalScheduleDetails", "AppraisalPublishT")",
                NoOfRecordToShow: "10",
                setnameofthelookupbyppage: "TextPayMonth",
                LookupDiv: "LookupDiv",
                lookuppagename: "lookup",
                readonly: true,
                pagename: "PageNavPosition",

            });
        });




        $('.date').P2BDatePicker();
        $('.popup_radio_button').controlgroup();
        $('.drop').selectmenu().selectmenu('menuWidget').addClass('overflow');
        $('#Autho').makeDisable('#Create,#Edit,#Delete');
        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');
    });
</script>
