@{
    ViewBag.Title = "IT Form 16 Signing Person";
}
@model Payroll.ITForm16SigningPerson

<html>
<head>
    <title></title>
    <style>
        .dialog {
            max-width: 500px;
        }
        .icon-row {
            position: relative;
            left: 53px;
            top: -150px;
        }

        #BusinessType-button {
            font-size: 9px;
            padding-top: 1px;
            font-weight: bold;
        }

        .popup-content-label {
            display: block;
            float: left;
            width: 150px;
        }

        .row1 {
            width: 423px;
            height:22px;
        }

        .row3 {
            width: 402px;
        }

        .row4 {
            position: absolute;
            top: 294px;
            width: 400px;
        }

        .popup-content-textbox-long {
            margin-bottom: 1px;
            width: 290px;
        }

        .popup-content-drop-icon-edit, .popup-content-drop-icon-create, .popup-content-drop-icon-lookup {
            display: inline-block;
            left: 0;
            top: 4px;
        }

        .popup-content-drop-icon-edit, .popup-content-drop-icon-create, .popup-content-drop-icon-lookup {
            height: 20px;
            margin: auto;
            /*position: absolute;*/
            width: 20px;
            left: 24px;
        }

        .popup-content-drop-icon-edit {
            left: 76px;
        }

        .popup-content-drop-icon-lookup {
            left: 0px;
            top: 6px;
        }

        /*.popup-content-drop-icon-lookup {
            left: -102px;
            top: 6px;
        }

        .popup-content-drop-icon-lookup {
            left: 0px;
            top: 6px;
        }

        .popup-content-drop-icon-lookup {
            left: -6px;
            top: 6px;
        }*/

        .emp_icon-row {
            position: relative;
            left: 374px;
            top: -28px;
        }

        .popup-content-textbox {
            width: 206px;
        }

        .popup-content-drop-icon-create {
            left: 52px;
        }

        .row2 {
            width: 402px;
        }
    </style>
</head>

<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <button class="button" id="Create">Create</button>
                <button class="button" id="View">View</button>
                <button class="button" id="Edit">Edit</button>
                <button class="button" id="Delete">Delete</button>
                <button class="button" id="Autho">Authorized</button>
                <div id="Grid_Form">
                    <div>
                        <table id="JqGrid"></table>
                        <div id="pager2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv" id="lookup"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>

    <div id="Create_Dialog" title="IT Form 16 Signing Person">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmSigningPerson", name = "frmSigningPerson" }))
        {
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />

            <div class="content_margine row1">
                @Html.LabelFor(m => m.SigningPersonFullName, "Full Name:", new { @class = "popup-content-label must" })
                <input type="text" id="SigningPersonFullName_id" name="SigningPersonFullName_id" class="filter_structure_id" />
                @*<input type="text" id="SigningPersonFullName" name="SigningPersonFullName" class="filter_structure_id" />*@
                @Html.TextBoxFor(m => m.SigningPersonFullName, new { @class = "popup-content-textbox must" })
                <div class="emp_icon-row">
                    <button data-p2btooltip="Lookup Employee Name" class="popup-content-drop-icon-lookup" id="Lookup-SigningPersonFullName-SigningPerson">
                        <span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span>
                    </button>
                </div>
            </div>

            <div class="content_margine row1">
                @Html.LabelFor(m => m.SigningPersonFMHName, "Father/Mother Name:", new { @class = "popup-content-label " })
                <input type="text" id="SigningPersonFMHName_id" name="SigningPersonFMHName_id" class="filter_structure_id" />
                @*<input type="text" id="SigningPersonFMHName" name="SigningPersonFMHName" class="filter_structure_id" />*@
                @Html.TextBoxFor(m => m.SigningPersonFMHName, new { @class = "popup-content-textbox " })
                <div class="emp_icon-row">
                    <button data-p2btooltip="Lookup Signing Person Father/Mother Name" class="popup-content-drop-icon-lookup" id="Lookup-SigningPersonFMHName-SigningPerson">
                        <span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span>
                    </button>
                </div>
            </div>

            <div class="content_margine row1">
                @Html.LabelFor(m => m.Designation, "Designation :", new { @class = "popup-content-label " })
                <input type="text" id="Designation_id" name="Designation_id" class="filter_structure_id" />
                @*<input type="text" id="Designation" name="Designation" class="filter_structure_id" />*@
                @Html.TextBoxFor(m => m.Designation, new { @class = "popup-content-textbox " })
                <div class="emp_icon-row">
                    <button data-p2btooltip="Lookup Designation Name" class="popup-content-drop-icon-lookup" id="Lookup-Designation-SigningPerson">
                        <span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span>
                    </button>
                </div>
            </div>

            <div class="row1 content_margine horizontal_row1">
                @Html.LabelFor(m => m.IsDefault, " Is Default :", new { @class = "popup-content-label" })
                <div class="popup_radio_button radio_button_div_1">
                    <span class="popup_radio_button radio_button_div_1">
                        <input type="radio" id="radio1" name="IsDefault" value="true" /> <label class="ui-corner-left" for="radio1">Yes</label>
                        <input type="radio" id="radio2" name="IsDefault" value="false" /> <label class="ui-corner-right" for="radio2">No</label>
                    </span>
                </div>
            </div>

            <div class="content_margine row1">
                @Html.LabelFor(m => m.Place, "Place :", new { @class = "popup-content-label " })
                <input type="text" id="Place_id" name="Place_id" class="filter_structure_id" />
                @*<input type="text" id="Place" name="Place" class="filter_structure_id" />*@
                @Html.TextBoxFor(m => m.Place, new { @class = "popup-content-textbox " })
                <div class="emp_icon-row">
                    <button data-p2btooltip="Lookup Place Name" class="popup-content-drop-icon-lookup" id="Lookup-Place-SigningPerson">
                        <span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span>
                    </button>
                </div>
            </div>

            <div class="row6 content_margine">  @Html.LabelFor(m => m.ReportDate, "Report Date :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.ReportDate, new { @class = "popup-content-textbox must" })  </div>

        }
    </div>
</body>
</html>

<script>
    $(document).ready(function () {
        //$('#txt_box1').ValidateTextBox({ maxlength: 5, AlphaNum: 0 });
        $('#Code').ValidateTextBox({ maxlength: 10, alphanum: true });
        $('#Code').MaxLength(10);
        // $('#Name').ForceOnlyAlpha();
        // $('#Name').MaxLength(50);
        $('#ReportDate').P2BDatePicker();
        $('#Name').ValidateTextBox({ maxlength: 50, name: true });
        $('#SigningPersonFullName').attr('readonly', 'readonly');
        $('#SigningPersonFMHName').attr('readonly', 'readonly');
        $('#Designation').attr('readonly', 'readonly');
        $('#Place').attr('readonly', 'readonly');
    });
    $(document).ready(function (e) {
        $('button').button();
        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;
        var btndisablenames = "#Edit-Address-Corporate,#Remove-Address-Corporate,#Edit-ContactDetails-Corporate,#Remove-ContactDetails-Corporate";
       // ColModel = ['Id', 'SigningPersonFullName', 'SigningPersonFMHName', 'Designation', 'IsDefault'];
        ColModel = ['Name', 'Father/mother Name', 'Designation', 'Default', 'Id'];
        ColNames = ['Name', 'Father/mother Name', 'Designation', 'Default', 'Id'];
        SortName = 'Id';
        Caption = 'IT Form 16 Signing Person';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);

        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }

        //function DateConvert(JsonDate) {
            //    var date = new Date(parseInt(JsonDate.substr(6)));
            //    var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
            //    return displayDate;
        //};
        $('#Create_Dialog').P2BCreateDialog();
        $('#Create').on("click", function (event) {
            $('#frmSigningPerson').trigger("reset");
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create Signing Person', 'open', '@Url.Action("Create")', '#frmSigningPerson', 'Message :', 'Request Falied :', '#JqGrid', 455, 590, "", "", function (data) { });
            $('#ReportDate').attr('readonly', true);
            $('#Lookup-SigningPersonFullName-SigningPerson').prop('disabled', false);
            $('#Lookup-SigningPersonFMHName-SigningPerson').prop('disabled', false);
            $('#Lookup-Designation-SigningPerson').prop('disabled', false);
            $('#Lookup-Place-SigningPerson').prop('disabled', false);
            $('#SigningPersonFullName').attr('readonly', 'readonly');
            $('#SigningPersonFMHName').attr('readonly', 'readonly');
            $('#Designation').attr('readonly', 'readonly');
            $('#Place').attr('readonly', 'readonly');

            event.preventDefault();
        });


        // Main page edit
        $('#Edit').on('click', function () {
            $('#frmSigningPerson').trigger('reset');
            $('#Lookup-SigningPersonFullName-SigningPerson').prop('disabled', false);
            $('#Lookup-SigningPersonFMHName-SigningPerson').prop('disabled', false);
            $('#Lookup-Designation-SigningPerson').prop('disabled', false);
            $('#Lookup-Place-SigningPerson').prop('disabled', false);
            AssignData();
            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit Signing Person ", '#frmSigningPerson', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 500, 810, '', '', function (data) {
                $('#ReportDate').attr('readonly', true);

                var k = data[0];
                // setTimeout(function () {
                //$.each(data[0], function (i, k) {
                //$('#frmSigningPerson').trigger('reset');
                $('#SigningPersonFullName_id').val(k.SigningPersonFullName);
                $('#SigningPersonFullName').val(k.SigningPersonFullName);
                $('#SigningPersonFullName').attr('readonly', 'readonly');
                $('#SigningPersonFMHName_id').val(k.SigningPersonFMHName);
                $('#SigningPersonFMHName').attr('readonly', 'readonly');
                $('#SigningPersonFMHName').val(k.SigningPersonFMHName);
                $('#Designation_id').val(k.Designation);
                $('#Designation').attr('readonly', 'readonly');
                $('#Designation').val(k.Designation);
                $('[name="IsDefault"]').val([k.IsDefault]).button().button("refresh");
                $('#Place_id').val(k.Place);
                $('#Place').val(k.Place);
                $('#Place').attr('readonly', 'readonly');
                $('#ReportDate').val(DateConvert(k.ReportDate));

                //});
            });
            $('#Autho_Allow').val(data[3]); //Compulsory for authorisation
            // }, 2000);
        });

        $('#View').button().click(function (event) {
            AssignData();
            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View Signing Person Data', '', '', 500, 620, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {

                var k = data[0];
                //  $.each(data[0], function (i, k) {

                $('#Autho_Action').val(k.Action);
                $('#Lookup-SigningPersonFullName-SigningPerson').prop('disabled', true);
                $('#Lookup-SigningPersonFMHName-SigningPerson').prop('disabled', true);
                $('#Lookup-Designation-SigningPerson').prop('disabled', true);
                $('#Lookup-Place-SigningPerson').prop('disabled', true);
                $('#SigningPersonFullName_id').prop('disabled', true);
                $('#SigningPersonFullName_id').val(k.SigningPersonFullName);
                $('#SigningPersonFullName').val(k.SigningPersonFullName);
                //$('#CodeM').attr('readonly', 'readonly');
                $('#SigningPersonFMHName_id').val(k.SigningPersonFMHName);
                $('#SigningPersonFMHName').val(k.SigningPersonFMHName);
                $('#Designation_id').val(k.Designation);
                $('#Designation').val(k.Designation);
                $('[name="IsDefault"]').val([k.IsDefault]).button().button("refresh");

                $('#ReportDate').val(DateConvert(k.ReportDate));

                $('#Place').val(k.Place);
                //  });


                if ($("#Autho").hasClass('auto_active')) {
                    if (data[2] != null) {
                        $('#Name').oldVal(data[2].Name);
                        $('#CategoryList_DDL').oldDropval(data[2].BusinessType_Val);
                        $('#AddressList_Old').oldLookupVal(data[2].Address_Val);
                        $('#ContactDetailsList_Old').oldLookupVal(data[2].Contact_Val);
                    }
                }
            });
        });

        //delete main page
        $('#Delete').button().click(function (event) {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            $('#Create_Dialog').P2BDeleteModalDialog('@Url.Action("Delete")', dt.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
            event.preventDefault();
        });

        /* Address button click*/

        //To get data in Lookup
        $('#Lookup-SigningPersonFullName-SigningPerson').on('click', function () {

            $('.dialog').AddDataToTextbox({
                appendTo: "#SigningPersonFullName",
                lookupurl: "@Url.Action("GetLookup_Name", "ITForm16SigningPerson")",
                NoOfRecordToShow: 10,
                setnameofthelookupbyppage:'Lookup_table',
              //  setnameofthelookupbyppage: "Lookup-SigningPersonFullName-SigningPerson",
                LookupDiv: "LookupDiv",
                lookuppagename: "lookup",
                appendToId: "#SigningPersonFullName_id",
                readonly: true,
                pagename: "PageNavPosition"
            });
        });

        /* ContactDetails button click*/

        $('#Lookup-SigningPersonFMHName-SigningPerson').on('click', function () {

            $('.dialog').AddDataToTextbox({
                appendTo: "#SigningPersonFMHName",
                lookupurl: "@Url.Action("GetLookup_NameParents", "ITForm16SigningPerson")",
                NoOfRecordToShow: 10,
                setnameofthelookupbyppage: 'Lookup_table',
              //  setnameofthelookupbyppage: "Lookup-SigningPersonFMHName-SigningPerson",
                LookupDiv: "LookupDiv",
                lookuppagename: "lookup",
                appendToId: "#SigningPersonFMHName_id",
                readonly: true,
                pagename: "PageNavPosition"
            });
        });




        $('#Lookup-Designation-SigningPerson').on('click', function () {

            $('.dialog').AddDataToTextbox({
                appendTo: "#Designation",
                lookupurl: "@Url.Action("GetLookup_Name_Designation", "ITForm16SigningPerson")",
                NoOfRecordToShow: 10,
                setnameofthelookupbyppage: 'Lookup_table',
               // setnameofthelookupbyppage: "Lookup-Designation-SigningPerson",
                LookupDiv: "LookupDiv",
                lookuppagename: "lookup",
                appendToId: "#Designation_id",
                readonly: true,
                pagename: "PageNavPosition"
            });
        });



        /* ContactDetails button click*/
        $('#Lookup-Place-SigningPerson').on('click', function () {

            $('.dialog').AddDataToTextbox({
                appendTo: "#Place",
                lookupurl: "@Url.Action("GetLookup_Name_Place", "ITForm16SigningPerson")",
                NoOfRecordToShow: 10,
                setnameofthelookupbyppage: 'Lookup_table',
               // setnameofthelookupbyppage: "Lookup-Place-SigningPerson",
                LookupDiv: "LookupDiv",
                lookuppagename: "lookup",
                appendToId: "#Place_id",
                readonly: true,
                pagename: "PageNavPosition"
            });
        });



        $('.popup_radio_button').controlgroup();
        $('#CategoryList_DDL').selectmenu().selectmenu("menuWidget");
        $('#Autho').makeDisable('#Create,#Edit,#Delete');
        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');
    });
</script>