@{
    ViewBag.Title = "ExitInterviewRequest";
}
@model EMS.ExitInterviewRequest

<html>

<head>
    <title></title>
    <style>
        .icon-row {
            position: relative;
            left: 61px;
            top: -150px;
        }

        #BusinessType-button {
            font-size: 9px;
            padding-top: 1px;
            font-weight: bold;
        }

        .popup-content-label {
            display: block;
            float: left;
            width: 168px;
        }

        .popup-content-labelT {
            display: block;
            float: left;
            width: 170px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 120px;
        }

        .row3 {
            width: 627px;
        }

        .row4 {
            position: absolute;
            top: 294px;
            width: 400px;
        }

        .popup-content-textbox-long {
            margin-bottom: 1px;
            width: 290px;
        }


        .row2 {
            width: 402px;
        }

        .date-picker {
            z-index: 999;
        }
    </style>
</head>

<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <button class="button" id="Create">Create</button>
                <button class="button" data-typeofbtn="process" id="View">View</button>
                <button class="button" data-typeofbtn="release" id="Edit">Edit</button>
                <button class="button" data-typeofbtn="delete" id="Delete">Delete</button>
                <div id="Grid_Form">
                    <div>
                        <table id="JqGrid"></table>
                        <div id="pager2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="Create_Dialog" title="Create Corpoarte">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmExitInterviewRequest", name = "frmExitInterviewRequest" }))
        {
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
            <input id="geo_id" class="filter_structure_id" name="geo_id" />
            <input id="pay_id" class="filter_structure_id" name="pay_id" />
            <input id="fun_id" class="filter_structure_id" name="fun_id" />
            <input id="emp_Id" class="filter_structure_id" name="emp_Id" />


            //  <div class="tds_row6 content_margine">
            //  @Html.LabelFor(m => m.LeavingReason, "Leaving Reason  :", new { @class = "popup-content-label must" })
            // <select class="drop" id="LeavingReasonList" name="LeavingReason" style="width:120px;">
            //  <option value="0">-Select-</option>
            //   </select>
            // </div>

            <div class="add_row content_margine">
                @Html.LabelFor(m => m.LeavingReason, "Leaving Reason :", new { @class = "add_popup-content-label" })
                <select id="LeavingReasonList" name="LeavingReasonList" class="drop" style="width:180px;">
                    <option value="0">-Select-</option>
                </select>

                <div class="add_icon-row">
                    <button data-p2btooltip="Create LeavingReason" class="popup-content-icon-create" id="create_LeavingReason">
                        <span class="ui-icon ui-icon-newwin popup-content-iconmark"></span>
                    </button>
                </div>

                <div class="icon-row">
                    <button data-p2btooltip="Lookup LeavingReason" class="button popup-content-icon-lookup" id="Lookup-LeavingReason-ExitInterviewRequest"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    @*<button data-p2btooltip="Create ExitProcess_CheckList_Object" class="button popup-content-icon-create" id="Create-ExitProcess_CheckList_Object-ExitProcess_CheckList_Policy"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Edit ExitProcess_CheckList_Object" class="button popup-content-icon-edit" id="Edit-ExitProcess_CheckList_Object-ExitProcess_CheckList_Policy"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Remove ExitProcess_CheckList_Object" class="button popup-content-icon-remove" id="Remove-ExitProcess_CheckList_Object-ExitProcess_CheckList_Policy"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>*@
                </div>
            </div>



            <div class="row6 content_margine">@Html.LabelFor(m => m.AfterLeavingPlan, "After Leaving Plan:", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.AfterLeavingPlan, new { @class = "popup-content-textbox " })</div>
            <div class="row6 content_margine">@Html.LabelFor(m => m.AppraisalPolicy, "Appraisal Policy:", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.AppraisalPolicy, new { @class = "popup-content-textbox " })</div>
            <div class="row6 content_margine">@Html.LabelFor(m => m.AttractionInNewJob, "Attraction In New Job:", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.AttractionInNewJob, new { @class = "popup-content-textbox " })</div>
            <div class="row6 content_margine">@Html.LabelFor(m => m.DeptInfo, "Dept Info:", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.DeptInfo, new { @class = "popup-content-textbox " })</div>
            <div class="row6 content_margine">@Html.LabelFor(m => m.DisciplinePolicy, "Discipline Policy:", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.DisciplinePolicy, new { @class = "popup-content-textbox " })</div>
            <div class="row6 content_margine">@Html.LabelFor(m => m.ExtraComments, "Extra Comments:", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.ExtraComments, new { @class = "popup-content-textbox " })</div>
            <div class="row6 content_margine">@Html.LabelFor(m => m.ImprovementToHoldJob, "Improvement To Hold Job:", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.ImprovementToHoldJob, new { @class = "popup-content-textbox " })</div>
            <div class="row6 content_margine">@Html.LabelFor(m => m.IncrementPolicy, "Increment Policy:", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.IncrementPolicy, new { @class = "popup-content-textbox " })</div>
            <div class="row6 content_margine">@Html.LabelFor(m => m.InternalCommunication, "Internal Communication:", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.InternalCommunication, new { @class = "popup-content-textbox " })</div>
            <div class="row6 content_margine">@Html.LabelFor(m => m.JoiningDate, "Joining Date:", new { @class = "popup-content-label must " })@Html.TextBoxFor(m => m.JoiningDate, new { @class = "popup-content-textbox must " })</div>
            <div class="row6 content_margine">@Html.LabelFor(m => m.JoiningPay, "Joining Pay:", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.JoiningPay, new { @class = "popup-content-textbox " })</div>
            <div class="row6 content_margine">@Html.LabelFor(m => m.JoiningRole, "Joining Role:", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.JoiningRole, new { @class = "popup-content-textbox " })</div>
            <div class="row6 content_margine">@Html.LabelFor(m => m.LastWorkDate, "Last Work Date:", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.LastWorkDate, new { @class = "popup-content-textbox " })</div>
            <div class="row6 content_margine">@Html.LabelFor(m => m.LeavingPay, "Leaving Pay:", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.LeavingPay, new { @class = "popup-content-textbox " })</div>
            <div class="row6 content_margine">@Html.LabelFor(m => m.LeavingRole, "Leaving Role:", new { @class = "popup-content-label must " })@Html.TextBoxFor(m => m.LeavingRole, new { @class = "popup-content-textbox must " })</div>
            <div class="row6 content_margine">@Html.LabelFor(m => m.LifeInsurance, "Life Insurance:", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.LifeInsurance, new { @class = "popup-content-textbox " })</div>
            <div class="row6 content_margine">@Html.LabelFor(m => m.LikeLeast, "Like Least:", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.LikeLeast, new { @class = "popup-content-textbox " })</div>
            <div class="row6 content_margine">@Html.LabelFor(m => m.LikeMost, "Like Most:", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.LikeMost, new { @class = "popup-content-textbox " })</div>
            <div class="row6 content_margine">@Html.LabelFor(m => m.MedicalDepend, "Medical Depend:", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.MedicalDepend, new { @class = "popup-content-textbox " })</div>


            <div class="row6 content_margine">@Html.LabelFor(m => m.MedicalSelf, "Medical Self:", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.MedicalSelf, new { @class = "popup-content-textbox " })</div>
            <div class="row6 content_margine">@Html.LabelFor(m => m.OpportunityAbility, "Opportunity Ability:", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.OpportunityAbility, new { @class = "popup-content-textbox " })</div>
            <div class="row6 content_margine">@Html.LabelFor(m => m.OtherRemark, "Other Remark:", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.OtherRemark, new { @class = "popup-content-textbox " })</div>
            <div class="row6 content_margine">@Html.LabelFor(m => m.OvertimePolicy, "Overtime Policy:", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.OvertimePolicy, new { @class = "popup-content-textbox " })</div>
            <div class="row6 content_margine">@Html.LabelFor(m => m.PaidHoliday, "Paid Holiday:", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.PaidHoliday, new { @class = "popup-content-textbox " })</div>
            <div class="row6 content_margine">@Html.LabelFor(m => m.PaidVacation, "Paid Vacation:", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.PaidVacation, new { @class = "popup-content-textbox " })</div>
            <div class="row6 content_margine">@Html.LabelFor(m => m.PayRate, "Pay Rate:", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.PayRate, new { @class = "popup-content-textbox " })</div>
            <div class="row6 content_margine">@Html.LabelFor(m => m.PhysicalWorkCondition, "Physical Work Condition:", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.PhysicalWorkCondition, new { @class = "popup-content-textbox " })</div>
            <div class="row6 content_margine">@Html.LabelFor(m => m.ProgramInfo, "Program Info:", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.ProgramInfo, new { @class = "popup-content-textbox " })</div>
            <div class="row6 content_margine">@Html.LabelFor(m => m.PromotionPolicy, "Promotion Policy:", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.PromotionPolicy, new { @class = "popup-content-textbox " })</div>
            <div class="row6 content_margine">@Html.LabelFor(m => m.ReconsiderEmployment, "Reconsider Employment:", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.ReconsiderEmployment, new { @class = "popup-content-textbox " })</div>
            <div class="row6 content_margine">@Html.LabelFor(m => m.ResignDate, "Resign Date:", new { @class = "popup-content-label must " })@Html.TextBoxFor(m => m.ResignDate, new { @class = "popup-content-textbox must" })</div>
            <div class="row6 content_margine">@Html.LabelFor(m => m.RetirementPlan, "Retirement Plan:", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.RetirementPlan, new { @class = "popup-content-textbox " })</div>
            <div class="row6 content_margine">@Html.LabelFor(m => m.SeperationType, "Seperation Type:", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.SeperationType, new { @class = "popup-content-textbox " })</div>
            <div class="row6 content_margine">@Html.LabelFor(m => m.SickLeave, "Sick Leave:", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.SickLeave, new { @class = "popup-content-textbox " })</div>
            <div class="row6 content_margine">@Html.LabelFor(m => m.SupervisorManagement, "Supervisor Management:", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.SupervisorManagement, new { @class = "popup-content-textbox " })</div>
            <div class="row6 content_margine">@Html.LabelFor(m => m.TrainingPolicy, "Training Policy:", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.TrainingPolicy, new { @class = "popup-content-textbox " })</div>
            <div class="row6 content_margine">@Html.LabelFor(m => m.TrainingRecd, "Training Recd:", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.TrainingRecd, new { @class = "popup-content-textbox " })</div>
            <div class="row6 content_margine">@Html.LabelFor(m => m.TransferPolicy, "Transfer Policy:", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.TransferPolicy, new { @class = "popup-content-textbox " })</div>
            <div class="row6 content_margine">@Html.LabelFor(m => m.WorkInNewJob, "Work In New Job:", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.WorkInNewJob, new { @class = "popup-content-textbox " })</div>
            <div class="row6 content_margine">@Html.LabelFor(m => m.WorkRecognition, "Work Recognition:", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.WorkRecognition, new { @class = "popup-content-textbox " })</div>





        }
    </div>

</body>
</html>

<script>
    $(document).ready(function (e) {
        $('button').button();
        // $("#PayMonth").val($.datepicker.formatDate("mm/yy", new Date()));
        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;
        ColModel = [ 'LeavingReason', 'LeavingPay', 'LeavingRole','Id'];
        ColNames = [ 'LeavingReason', 'LeavingPay', 'LeavingRole','Id',];
        SortName = 'Id';
        Caption = 'Exit Interview Request';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);

        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }
        @*$('#travelmodelist').on('selectmenuchange', function () {
            $('#classoftravellist').P2BSelectMenuAppend('@Url.Action("ClassOffTravelList", "SeperationMaster")', $(this).val(), "", "0");
        });*@
        $('#Create_Dialog').P2BCreateDialog();
        $('#Create').on("click", function (event) {
            $('#frmExitInterviewRequest').trigger("reset");
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create Exit Interview Request', 'open', '@Url.Action("Create")', '#frmExitInterviewRequest', 'Message :', 'Request Falied :', '#JqGrid', 600, 600, '', '', function (data) { });
            $('#LeavingReasonList').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 3021, "");
            // $('[name="Default"]').button().button("refresh");
            event.preventDefault();
        });
        $('#Edit').on('click', function () {
            AssignData();
            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit Exit Interview Request Data", '#frmExitInterviewRequest', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 271, 400, '#AddressList,#ContactDetailsList', '', function (data) {
                // setTimeout(function () {
                $.each(data[0], function (i, k) {
                    $('#Narration').val(k.Narration);
                    $('#LeavingReasonList').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 3021, k.LeavingReason); // Dropdown bind
                });


                $('#Autho_Allow').val(data[3]); //Compulsory for authorisation
                // }, 2000);
            });
        });


        //View main page
        $('#View').button().click(function (event) {
            AssignData();
            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View Exit Interview Request Data', '#AddressList,#ContactDetailsList', '#Lookup-Address-Corporate,#Create-Address-Corporate,#Edit-Address-Corporate,#Remove-Address-Corporate,#Lookup-ContactDetails-Corporate,#Create-ContactDetails-Corporate,#Edit-ContactDetails-Corporate,#Remove-ContactDetails-Corporate', 271, 400, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {
                $.each(data[0], function (i, k) {
                    $('#Autho_Action').val(k.Action);
                    $('#Narration').fval(k.Narration);
                    $('#Categorylist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 402, k.BusinessType_Id);
                });



                if ($("#Autho").hasClass('auto_active')) {
                    if (data[2] != null) {
                        $('#Narration').oldVal(data[2].Narration);
                        $('#Categorylist').oldDropval(data[2].BusinessType_Val);
                        $('#AddressList_Old').oldLookupVal(data[2].Address_Val);
                        $('#ContactDetailsList_Old').oldLookupVal(data[2].Contact_Val);
                    }
                }
            });
        });

        //delete main page
        $('#Delete').button().click(function (event) {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            $('#Create_Dialog').P2BDeleteModalDialog('@Url.Action("Delete")', dt.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
            event.preventDefault();
        });
        $('<div></div>').P2BPartialCreateModalDialog();
        // $('.popup_radio_button').controlgroup();
        $('#JoiningDate').P2BDatePicker();
        $('#LastWorkDate').P2BDatePicker();
        $('#ResignDate').P2BDatePicker();
        $('.drop').selectmenu().selectmenu("menuWidget");
        $('#PayProcessGroupList').selectmenu().selectmenu("menuWidget");
        // $('#AmountList').selectmenu().selectmenu("menuWidget");
        $('#ProcTypeList').selectmenu().selectmenu("menuWidget");
    });


    $('#Lookup-LeavingReason-ExitInterviewRequest').on('click', function (event) {
        $('.dialog').P2BLookUpModal('@Url.Action("GetLookupLeavingReason", "ExitInterviewRequest")', '', 'LookupDiv', 'Look Up Data', '#LeavingReasonList', 'LeavingReasonList', 5, 'LeavingReasonList', '#frmExitInterviewRequest', 'A', '#Remove-ExitProcess_CheckList_Object-ExitProcess_CheckList_Policy', 'Lookup_table', 'PageNavPosition');
        $('#LeavingReasonList').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 3021, "");
        event.preventDefault();
    });
    $('#create_LeavingReason').on("click", function (event) {
        $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial_LeavingReason", "ExitInterviewRequest")', 'Create LeavingReasonList Master', 'open', '@Url.Action("CreateSave", "ExitInterviewRequest")', '#frmExitInterviewRequest', 'Message :', 'Request Falied :', '#JqGrid', 600, 600, '', '', '#Edit-LeavingReasonList-ExitInterviewRequest', '#frmExitInterviewRequest', '', function (data) {
            $('#LeavingReasonList').P2BLookUpEncapsulate('#LeavingReasonList', 'LeavingReasonList', data[0], data[1], 'LeavingReasonList', '#Remove-LeavingReasonList-ExitInterviewRequest', 'N');
        });
        event.preventDefault();
    });







</script>


