@{
    ViewBag.Title = "PFECRSummaryR";
}
@model Payroll.PFECRSummaryR




<html>

<head>
    <title></title>
    <style>
        .icon-row {
            position: relative;
            left: 97px;
            top: -150px;
        }

        .ajax-action-text {
            width: 397px;
            display: block;
            margin: 10px 0px;
        }

        .ajax-action-class-container {
            float: left;
            margin: 2px;
            width: 400px;
        }
        #BusinessType-button {
            font-size: 9px;
            padding-top: 1px;
            font-weight: bold;
        }

        .popup-content-label {
            display: block;
            float: left;
            width: 145px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 150px;
        }

        .row3 {
            width: 500px;
        }

        .row4 {
            position: absolute;
            top: 294px;
            width: 400px;
        }

        .popup-content-textbox-long {
            margin-bottom: 1px;
            width: 290px;
        }


        .row2 {
            width: 402px;
        }
    </style>
</head>

<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <button class="button" id="Create">Create</button>
                <button class="button" id="View">View</button>
                <button class="button" id="Edit">Edit</button>
                <button class="button" id="Delete" disabled="disabled">Delete</button>
                <button class="button" id="Form5">Form5</button>
                <div id="Grid_Form">
                    <div>
                        <table id="JqGrid"></table>
                        <div id="pager2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>
    <div id="view_dialog" title="File Data"></div>

    <div id="Create_Dialog" title="Create PFECRSummaryR">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmPFECRSummaryR", name = "frmPFECRSummaryR" }))
        {
            <div id="hideview">
                <input id="Autho_Action" type="hidden" name="Autho_Action" />
                <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
                <div class="row3 content_margine">
                    @Html.LabelFor(m => m.Wage_Month, " Wages Month:", new { @class = "popup-content-label" })
                    <select id="WageMonth_drop" name="WageMonth_drop" class="drop" style="width:220px;"><option value="0">-Select-</option></select>
                </div>

                <div class="row3 content_margine">
                    @Html.LabelFor(m => m.Return_Month, "Return Month:", new { @class = "popup-content-label must" })
                    @Html.TextBoxFor(m => m.Return_Month, new { @class = "popup-content-textbox must" })
                </div>

            </div>
            
            
            <div id="hidedivrelease">
                <div class="row3 content_margine">
                    @Html.LabelFor(m => m.ECRPaymentReleaseDate, "ReleaseDate:", new { @class = "popup-content-label" })
                    @Html.TextBoxFor(m => m.ECRPaymentReleaseDate, new { @class = "popup-content-textbox" })
                </div>
            </div>

            <div id="showdivonview">
                <div class="row3 content_margine">
                    @Html.LabelFor(m => m.Establishment_ID, "Establishment ID:", new { @class = "popup-content-label" })
                    @Html.TextBoxFor(m => m.Establishment_ID, new { @class = "popup-content-textbox" })
                </div>
                <div class="row3 content_margine">
                    @Html.LabelFor(m => m.Establishment_Name, "Establishment Name:", new { @class = "popup-content-label" })
                    @Html.TextBoxFor(m => m.Establishment_Name, new { @class = "popup-content-textbox" })
                </div>
                <div class="row3 content_margine">
                    @Html.LabelFor(m => m.Wage_Month, "Wage Month:", new { @class = "popup-content-label" })
                    @Html.TextBoxFor(m => m.Wage_Month, new { @class = "popup-content-textbox" })
                </div>
                <div class="row3 content_margine">
                    @Html.LabelFor(m => m.Return_Month, "Return Month:", new { @class = "popup-content-label" })
                    @Html.TextBoxFor(m => m.Return_Month, new { @class = "popup-content-textbox", @id = "Return_MonthView" })
                </div>
                <div class="row3 content_margine">
                    @Html.LabelFor(m => m.Exemption_Status, "Status:", new { @class = "popup-content-label" })
                    @Html.TextBoxFor(m => m.Exemption_Status, new { @class = "popup-content-textbox" })
                </div>
                <div class="row3 content_margine">
                    @Html.LabelFor(m => m.Total_UANs, "Total_UANs:", new { @class = "popup-content-label" })
                    @Html.TextBoxFor(m => m.Total_UANs, new { @class = "popup-content-textbox" })
                </div>
                <div class="row3 content_margine">
                    @Html.LabelFor(m => m.Administrative_Charges_AC2, "AdminChargesAC2:", new { @class = "popup-content-label" })
                    @Html.TextBoxFor(m => m.Administrative_Charges_AC2, new { @class = "popup-content-textbox" })
                </div>
                <div class="row3 content_margine">
                    @Html.LabelFor(m => m.Administrative_Charges_AC22, "AdminChargesAC22:", new { @class = "popup-content-label" })
                    @Html.TextBoxFor(m => m.Administrative_Charges_AC22, new { @class = "popup-content-textbox" })
                </div>
                <div class="row3 content_margine">
                    @Html.LabelFor(m => m.Inspection_Charges_AC2, "InspeChargesAC2:", new { @class = "popup-content-label" })
                    @Html.TextBoxFor(m => m.Inspection_Charges_AC2, new { @class = "popup-content-textbox" })
                </div>
                <div class="row3 content_margine">
                    @Html.LabelFor(m => m.Inspection_Charges_AC22, "InspecChargesAC22:", new { @class = "popup-content-label" })
                    @Html.TextBoxFor(m => m.Inspection_Charges_AC22, new { @class = "popup-content-textbox" })
                </div>
                @*<div class="row3 content_margine">
                        @Html.LabelFor(m => m.ECRFileName, "ECRFileName:", new { @class = "popup-content-label" })
                        @Html.TextBoxFor(m => m.ECRFileName, new { @class = "popup-content-textbox" })
                        <button id="btnfile" class="button">Open</button>
                    </div>*@

                <div class="row3 content_margine">
                    @Html.LabelFor(m => m.ArrECRFileName, "ArrECRFileName:", new { @class = "popup-content-label" })
                    @Html.TextBoxFor(m => m.ArrECRFileName, new { @class = "popup-content-textbox" })
                    @*<button id="ArrFile">View</button>*@
                    <button id="download_buttonArrECRFileName">Download</button>
                </div>

                <div class="row3 content_margine">
                    @Html.LabelFor(m => m.SalECRFileName, "SalECRFileName:", new { @class = "popup-content-label" })
                    @Html.TextBoxFor(m => m.SalECRFileName, new { @class = "popup-content-textbox" })
                    @*<button id="SalFile">View</button>*@
                    <button id="download_button">Download</button>
                </div>

            </div>

            <iframe id="my_iframe" style="display:none;"></iframe>

        }

    </div>

</body>
</html>
<script>
    $(document).ready(function () {
        //$('#txt_box1').ValidateTextBox({ maxlength: 5, AlphaNum: 0 });
        $('#Code').ValidateTextBox({ maxlength: 10, alphanum: true });
        $('#Code').MaxLength(10);
        //$('#Name').ForceOnlyAlphaNumeric();
        // $('#Name').MaxLength(50);
        $('#Name').ValidateTextBox({ maxlength: 50, name: true });
    });
    $(document).ready(function (e) {
        $('button').button();
        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;
        var btndisablenames = "#Edit-Address-Corporate,#Remove-Address-Corporate,#Edit-ContactDetails-Corporate,#Remove-ContactDetails-Corporate";
        ColModel = ['Wage_Month', 'Return_Month', 'Total_UANs', 'ECRPaymentReleaseDate', 'ECRFileName', 'Id'];
        ColNames = ['Wage_Month', 'Return_Month', 'Total_UANs', 'ECRPaymentReleaseDate', 'ECRFileName', 'Id'];
        SortName = 'Id';
        Caption = 'PFECR Summary';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);

        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }

        function DateConvert(JsonDate) {
            var date = new Date(parseInt(JsonDate.substr(6)));
            var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
            return displayDate;
        };

        $('#Create_Dialog').P2BCreateDialog();
        $('#edit_dialog').P2BCreateDialog();

        $("#WageMonth_drop").on("selectmenuchange", function () {
            var dts = '1/' + $('#WageMonth_drop :selected').text();
            var myDate = new Date($.datepicker.formatDate('dd/mm/yy', new Date(dts)));
          
      
            var month = (myDate.getMonth() + 1) + 1;
           
            if (month==13) {
                month = 01;        
            var y1 = myDate.getFullYear() + 1;
            $("#Return_Month").val(" " + month + "/" + y1);
            }
            else{
            var y = myDate.getFullYear()
            $("#Return_Month").val(" " + month + "/" + y);
            }
        });


        $('#ArrFile').on("click", function (event) {
            AssignData();
            $.post("@Url.Action("ViewArrEcrFile")", { id: dt.Id }, function (data) {
                if (data != null && data != "") {
                    $('#view_dialog').html(data).dialog({
                        width: 800, height: 500
                    });
                }
                else {
                    $('#view_dialog').html("No data found").dialog({
                        width: 600, height: 500
                    });
                }
            })

            event.preventDefault();
        });

        $('#SalFile').on("click", function (event) {
            AssignData();
            $.post("@Url.Action("ViewSalEcrFile")", { id: dt.Id }, function (data) {
                if (data != null && data != "") {
                    $('#view_dialog').html(data).dialog({
                        width: 600, height: 500
                    });
                }
                else {
                    $('#view_dialog').html("No data found").dialog({
                        width: 600, height: 500
                    });
                }
            })

            event.preventDefault();
        });
        function ajaxloaderv2(cameform) {
            $('<div style="width: 100%;height: 100%;position: fixed;top: 0;left: 0;background-color: #0000;z-index:998;"><i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw ajax_loder" style="color: rgba(27, 187, 173, 0.93);z-index:999" aria-hidden="true"></i></div>').appendTo(cameform);
        };

        var ajaxLoderRemove = function (init) {
            if (!init) {
                $('.ajax_loder').parents('div').remove();
            } else {
                $(init).find("div .ajax_loder").remove();
            }
            $(window).off('beforeunload');
        };

        $('#Form5').on("click", function (e) {
            $.ajax({
                method:"post",
                url: '@Url.Action("CreateECRFileForm5")',
                beforeSend: function () {
                    ajaxloaderv2('body');
                },
                success: function (data)
                {
                    // $('<div></div>').P2BMessageModalDialog('ui-icon-info', data.responseText);
                    ajaxLoderRemove();
                    var htmltag = "";
                    var newDiv = $(document.createElement('div'));
                    // console.log(msg.responseText.length);
                    for (var i = 0; i < data.responseText.length; i++) {
                        htmltag += '<span class="ajax-action-class-container"><span style="float:left;display:block"><i class="fa fa-fw fa-3x fa-check-circle-o ajax-success-icon" aria-hidden="true"></i></span><span class="ajax-action-text"> ' + data.responseText[i] + '</span></span>';
                    }
                    newDiv.html(htmltag);
                    newDiv.dialog({
                        autoOpen: false,
                        title: "Information",
                        height: 300, width: 500, modal: true,
                        buttons: {
                            Ok: function (e) {
                                newDiv.dialog("close");
                            }
                        }
                    });
                    newDiv.dialog('open');
                }
            });
        });

        $('#Create').on("click", function (event) {
            $('#hideview').show();
            $('#showdivonview').hide();
            $('#hidedivrelease').hide();
            $('#frmPFECRSummaryR').trigger("reset");
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create PFECRSummary', 'open', '@Url.Action("Create")', '#frmPFECRSummaryR', 'Message :', 'Request Falied :', '#JqGrid', 500, 620, '', btndisablenames, function (data) { });
            $('#WageMonth_drop').P2BSelectMenuAppend('@Url.Action("GetWageMonth", "PFECRSummaryR")', "", ""); // To bind dropdown on page load
            alert("Please perform activity if there is any retired/resigned/expired employee in this month before proceeding ...!!");
            event.preventDefault();
        });

        // Main page edit
        $('#Edit').on('click', function () {
            $('#hidedivrelease').show();
            $('#hideview').hide();
            $('#showdivonview').hide();
            AssignData();
            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("ReleaseProcess")', "Edit PFECRSummary Data", '#frmPFECRSummaryR', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 500, 620, '', "", function (data) {
                // setTimeout(function () {
                $.each(data[0], function (i, k) {


                    if (k.ECRPaymentReleaseDate != null) {
                        $('#ECRPaymentReleaseDate').val(DateConvert(k.ECRPaymentReleaseDate));
                        $('#ECRPaymentReleaseDate').attr('readonly', 'readonly');
                    }


                    $('#Code').attr('readonly', 'readonly');
                    $('#Establishment_Name').val(k.Establishment_Name);
                    $('#Return_Month').val(k.Return_Month);
                    $('#Administrative_Charges_AC2').val(k.Administrative_Charges_AC2);
                    $('#Administrative_Charges_AC22').val(k.Administrative_Charges_AC22);


                });
            });
        });

        $('#hideview').hide();
        $('#hidedivrelease').hide();
        $('#showdivonview').hide();
        //View main page
        $('#View').button().click(function (event) {
            AssignData();
            $('#showdivonview').show();
            $('#hidedivrelease').show();
            $('#hideview').hide();
            
            @*$('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View', '#BasicScaleDetailslist', '', 356, 512, '#Autho', '@Url.Action("delete")', '', '', '', '','','', function (data) {*@
            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View PFECRSummary Data', '#AddressList,#ContactDetailsList', '#Lookup-Address-Corporate,#Create-Address-Corporate,#Edit-Address-Corporate,#Remove-Address-Corporate,#Lookup-ContactDetails-Corporate,#Create-ContactDetails-Corporate,#Edit-ContactDetails-Corporate,#Remove-ContactDetails-Corporate', 500, 620, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {
                $.each(data[0], function (i, k) {
                    if (k.ECRPaymentReleaseDate != null) {
                        $('#ECRPaymentReleaseDate').val(DateConvert(k.ECRPaymentReleaseDate));
                    }
                    $('#Establishment_Name').val(k.Establishment_Name);
                    $('#Establishment_ID').val(k.Establishment_ID);
                    $('#Administrative_Charges_AC2').val(k.Administrative_Charges_AC2);
                    $('#Administrative_Charges_AC22').val(k.Administrative_Charges_AC22);
                    $('#Wage_Month').val(k.Wage_Month);
                    $('#Return_MonthView').val(k.Return_Month);
                    $('#Exemption_Status').val(k.Exemption_Status);
                    $('#Total_UANs').val(k.Total_UANs);
                    $('#Inspection_Charges_AC2').val(k.Inspection_Charges_AC2);
                    $('#Inspection_Charges_AC22').val(k.Inspection_Charges_AC22);
                    $('#ArrECRFileName').val(k.ArrECRFileName);
                    $('#SalECRFileName').val(k.SalECRFileName);
                    $('#Exemption_Status').val(k.Exemption_Status);
                });
            });
            event.preventDefault();
        });

        //delete main page
        $('#Delete').button().click(function (event) {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            $('#Create_Dialog').P2BDeleteModalDialog('@Url.Action("Delete")', dt.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
            event.preventDefault();
        });

        /* Address button click*/

        $('#download_button').click(function (event) {

            AssignData();
            $.post("@Url.Action("Download")", { id: dt.Id }, function (data) {
                if (data != null && data != "") {
                  //  alert(data);
                    window.location = '@Url.Action("DownloadFile", "PFECRSummaryR")?fileName=' + data;



                }
                else {
                    alert("Data Null");
                }
            })

            event.preventDefault();
        });

        $('#download_buttonArrECRFileName').click(function (event) {

            AssignData();
            $.post("@Url.Action("DownloadArrECRFileName")", { id: dt.Id }, function (data) {
                if (data != null && data != "")
                {
                    //alert(data);
                    window.location = '@Url.Action("DownloadFileArrECRFileName", "PFECRSummaryR")?fileName=' + data;



                }
                else {
                    alert("Data Null");
                }
            })

            event.preventDefault();
        });


        $('#ECRPaymentReleaseDate').P2BDatePicker();
        // $('#Return_Month').MonthYearPicker();
        $('#Return_Month').datepicker({
            changeMonth: true,
            changeYear: true,
            stepMonths: true,

            dateFormat: 'mm/yy',
            onClose: function (dateText, inst) {
                var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                $(this).val($.datepicker.formatDate('mm/yy', new Date(year, month, 1)));
            }
        });
        $('.popup_radio_button').controlgroup();
        $('#WageMonth_drop').selectmenu().selectmenu("menuWidget");
    });
</script>