@model   Appraisal.AppCategoryRating
@{
    ViewBag.Title = "Appraisal Category Rating";
}



<html>

<head>
    <title></title>
    <style>
        .icon-row {
            position: relative;
            left: 57px;
            top: -150px;
        }

        #BusinessType-button {
            font-size: 9px;
            padding-top: 1px;
            font-weight: bold;
        }

        .popup-content-label {
            width: 122px;
            display: block;
            float: left;
            margin: 1px;
        }

        .popup-content-label-2 {
            width: 100px;
            display: block;
            float: left;
            margin: 1px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 150px;
        }

        .row3 {
            width: 402px;
        }

        .row4 {
            position: absolute;
            top: 294px;
            width: 400px;
        }

        .row6 {
            width: 370px;
            display: inline-block;
        }

        .popup-content-textbox-long {
            margin-bottom: 1px;
            width: 290px;
        }


        .row2 {
            width: 402px;
        }
    </style>
</head>

<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <button class="button" id="Create">Create</button>
                <button class="button" id="View">View</button>
                <button class="button" id="Edit">Edit</button>
                <button class="button" id="Delete">Delete</button>
                <button class="button" id="Autho">Authorised</button>
                <div id="Grid_Form">
                    <div>
                        <table id="JqGrid"></table>
                        <div id="pager2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>

    <div id="Create_Dialog" title="Create Appraisal Category">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "FormAppCategoryRating", name = "FormAppCategoryRating" }))
        {
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
            <div class="row3 content_margine">
                <div id="AppCategoryList_old"></div>@Html.LabelFor(m => m.AppCategory, "Category :", new { @class = "popup-content-label-2" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="AppCategorylist">
                        <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup Category" class="  popup-content-icon-lookup" id="Lookup-Category-AppCategoryRating"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Create Category" class="  popup-content-icon-create" id="Create-Category-AppCategoryRating"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit Category" class="  popup-content-icon-edit" id="Edit-Category-AppCategoryRating"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Remove Category" class="  popup-content-icon-remove" id="Remove-Category-AppCategoryRating"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>

            <div class="row3 content_margine">
                <div id="AppRatingObjectiveList_old"></div>@Html.LabelFor(m => m.AppRatingObjective, "AppRatingObjective :", new { @class = "popup-content-label-2" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="AppRatingObjectivelist">
                        <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup AppRatingObjective" class="  popup-content-icon-lookup" id="Lookup-AppRatingObjective-AppSubCategoryRating"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Create AppRatingObjective" class="  popup-content-icon-create" id="Create-AppRatingObjective-AppSubCategoryRating"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit AppRatingObjective" class="  popup-content-icon-edit" id="Edit-AppRatingObjective-AppSubCategoryRating"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Remove AppRatingObjective" class="  popup-content-icon-remove" id="Remove-AppRatingObjective-AppSubCategoryRating"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>

            <div class="row6 content_margine">@Html.LabelFor(m => m.MaxRatingPoints, "Max Rating Points :", new { @class = "popup-content-label-2 must" })@Html.TextBoxFor(m => m.MaxRatingPoints, new { @class = "popup-content-textbox must", @id = "MaxRatingPoints" })  </div>
            <br>

            <br>



        }
    </div>

</body>
</html>
<script>

    //$(document).ready(function () {
        //$('#Code').ValidateTextBox({ maxlength: 10, alphanum: true });
        //$('#Code').MaxLength(10);
        //// $('#Name').ForceOnlyAlpha();
        //// $('#Name').MaxLength(50);
        //$('#Name').ValidateTextBox({ maxlength: 50, name: true });
    //});

    $(document).ready(function (e) {
        $('button').button();
        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;
        var btndisablenames = "#Remove-Category-AppCategoryRating,#Edit-Category-AppCategoryRating";
        var namelookuptable = '#AppCategoryList';
        ColModel = ['Category', 'MaxPoints', 'Id'];
        ColNames = ['Category', 'MaxPoints', 'Id'];
        SortName = 'Id';
        Caption = 'Appraisal Category Rating';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);
        $('#MaxRatingPoints').ForceOnlyNumeric();



        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }
        //function DateConvert(JsonDate) {
            //    var date = new Date(parseInt(JsonDate.substr(6)));
            //    var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
            //    return displayDate;
        //};

        $('#Create_Dialog').P2BCreateDialog();
        $('#Create').on("click", function (event) {
            $("#Create-Category-AppCategoryRating").button('disable');
            $('#FormAppCategoryRating').trigger("reset");
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create Appraisal Category Rating', 'open', '@Url.Action("Create")', '#FormAppCategoryRating', 'Message :', 'Request Falied :', '#JqGrid', 455, 590, namelookuptable, btndisablenames, function (data) { });
            event.preventDefault();
        });

        // Main page edit
        $('#Edit').on('click', function () {
            AssignData();
            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit Appraisal Category Rating", '#FormAppCategoryRating', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 500, 620, '#AppCategorylist,#AppRatingObjectivelist', btndisablenames, function (data) {
                // setTimeout(function () {
                $.each(data[0], function (i, k) {
                    $('#FormAppCategoryRating').trigger('reset');
                    $('#MaxRatingPoints').val(k.MaxPoints);
                });

                //partial page bind
                $.each(data[1], function (i, k) {
                    $('#AppCategorylist').P2BLookUpEncapsulate('#AppCategorylist', 'AppCategorylist', k.AppCategory_Id, k.AppCategory_FullDetails, 'AppCategorylist', '#Edit-AppCategory-AppCategoryRating,#Remove-AppCategory-AppCategoryRating', 'N');
                    $('#AppRatingObjectivelist').P2BLookUpEncapsulate('#AppRatingObjectivelist', 'AppRatingObjectivelist', k.AppRatingObjective_Id, k.AppRatingObjective_FullDetails, 'AppRatingObjectivelist', '#Edit-AppRatingObjective-AppCategoryRating,#Remove-AppRatingObjective-AppCategoryRating', 'A');
                });
                //alert(data[3]);
                $('#Autho_Allow').val(data[3]); //Compulsory for authorisation
                // }, 2000);
            });
            event.preventDefault();
        });

        //View main page
        $('#View').button().click(function (event) {
            AssignData();
            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View Appraisal Category Rating Data', '#AppCategoryList', '', 455, 590, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {
               // setTimeout(function () {
                $.each(data[0], function (i, k) {
                    $('#FormAppCategoryRating').trigger('reset');
                    $('#MaxRatingPoints').val(k.MaxPoints);

                });

                //partial page bind
                $.each(data[1], function (i, k) {
                    $('#AppCategorylist').P2BLookUpEncapsulate('#AppCategorylist', 'AppCategorylist', k.AppCategory_Id, k.AppCategory_FullDetails, 'AppCategorylist', 'view', 'N');
                    $('#AppRatingObjectivelist').P2BLookUpEncapsulate('#AppRatingObjectivelist', 'AppRatingObjectivelist', k.AppRatingObjective_Id, k.AppRatingObjective_FullDetails, 'AppRatingObjectivelist', 'view', 'A');

                });

                //alert(data[3]);
                $('#Autho_Allow').val(data[3]); //Compulsory for authorisation

            });
            event.preventDefault();
        });


        //delete main page
        $('#Delete').button().click(function (event) {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            $('#Create_Dialog').P2BDeleteModalDialog('@Url.Action("Delete")', dt.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
            event.preventDefault();
        });


        // --------------- SubCategory lookup start ----------

        //To get data in Lookup
        $('#Lookup-Category-AppCategoryRating').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetAppCatDetailLKDetails", "AppCategoryRating")', '', 'LookupDiv', 'Look Up Data', '#AppCategorylist', 'AppCategorylist', 10, 'AppCategorylist', '#FormAppCategoryRating', 'N', '#Edit-Category-AppCategoryRating,#Remove-Category-AppCategoryRating', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        // PArtial page create
        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-Category-AppCategoryRating').button().on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "AppCategory")', 'Create App  Category ', 'open', '@Url.Action("Create", "AppCategory")', '#FormAppCategory', 'Message :', 'Request Falied :', '#JqGrid', 195, 429, '', '', '', '#FormAppCategoryRating', '', function (data) {

                $('#AppCategorylist').P2BLookUpEncapsulate('#AppCategorylist', 'AppCategorylist', data[0], data[1], 'AppCategorylist', '#Edit-Category-AppCategoryRating,#Remove-Category-AppCategoryRating', 'N');
            });
            event.preventDefault();
        });

        $('#Edit-Category-AppCategoryRating').button().on("click", function (event) {
            var a = [], b;
            a = $('#AppCategoryList').P2BGetTableDataonSelectedRow('#AppCategoryList', 0);
            b = a[0];

            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "AppCategory")', '@Url.Action("edit", "AppCategory")', b, '@Url.Action("Editsave", "AppCategory")', 'Edit App Sub Category', '#FormAppCategory', b, 'Message :', 'Request Falied :', '#JqGrid', 195, 429, '#FormAppCategoryRating', '#AppCategoryList', 'AppCategoryList', 'AppCategoryList', 'N', '#Edit-Category-AppCategoryRating,#Remove-Category-AppCategoryRating', function (data) {
                $.each(data, function (i, k) {
                    $('#FormAppCategory').trigger("reset");
                    $('#Code').val(k.Code);
                    $('#Code').attr('readonly', 'readonly');
                    $('#Name').val(k.Name);
                });
            });
            event.preventDefault();
        });

        //partial page delete
        $('#Remove-Category-AppCategoryRating').button().on('click', function (event) {
           //  dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'ID');
            //var a = [], b;
            //a = $('#AppCategorylist').P2BGetTableDataonSelectedRow('#AppCategorylist', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#AppCategorylist').P2BGetTableDataonSelectedRow('#AppCategorylist', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#AppCategorylist', $('#AppCategorylist').val(), 200, 200, '#FormAppCategoryRating', '#AppCategorylist');
            event.preventDefault();
        });
        // --------------- SubCategory lookup end ----------

        // --------------- AppRatingObjective lookup start ----------
        $('#Lookup-AppRatingObjective-AppSubCategoryRating').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetAppRatingObjectiveLKDetails", "AppSubCategoryRating")', '', 'LookupDiv', 'Look Up Data', '#AppRatingObjectivelist', 'AppRatingObjectivelist', 10, 'AppRatingObjectivelist', '#FormAppCategoryRating', 'A', '#Edit-AppRatingObjective-AppSubCategoryRating,#Remove-AppRatingObjective-AppSubCategoryRating', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-AppRatingObjective-AppSubCategoryRating').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "AppRatingObjective")', 'Create AppRatingObjective ', 'open', '@Url.Action("Create", "AppRatingObjective")', '#FormAppRatingObjectiveP', 'Message :', 'Request Falied :', '#JqGrid', 500, 600, '', '', '', '#FormAppSubCategoryRating', '', function (data) {
                // to show data which is created in partial page
                $('#AppRatingObjectivelist').P2BLookUpEncapsulate('#AppRatingObjectivelist', 'AppRatingObjectivelist', data[0], data[1], 'AppRatingObjectivelist', '', 'A');
            });
            event.preventDefault();
        });

        $('#Edit-AppRatingObjective-AppSubCategoryRating').button().on("click", function (event) {
            var a = [], b;
            a = $('#AppRatingObjectivelist').P2BGetTableDataonSelectedRow('#AppRatingObjectivelist', 0);
            b = a[0];
            console.log(b);
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname,                                                                                                                    height, width, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not, returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "AppRatingObjective")', '@Url.Action("edit", "AppRatingObjective")', b, '@Url.Action("EditSave", "AppRatingObjective")', 'Edit AppRatingObjective Details', '#FormAppRatingObjectiveP', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#FormAppCategoryRating', '#AppRatingObjectivelist', 'AppRatingObjectivelist', 'AppRatingObjectivelist', 'A', '#Edit-AppRatingObjective-AppSubCategoryRating,#Remove-AppRatingObjective-AppSubCategoryRating', function (data) {
                // setTimeout(function () {
                $.each(data[0], function (i, k) {
                    $('#FormAppRatingObjectiveP').trigger("reset");
                    $('#RatingObjectName').val(k.RatingObjectName);
                    $('#RatingPoints').val(k.RatingPoints);
                    $('#RatingPointsFrom').val(k.RatingPointsFrom);
                    $('#RatingPointsTo').val(k.RatingPointsTo);
                    // $('#ObjectiveWordings').val(k.ObjectiveWordings_Id);
                    $('#ObjectiveWordingslist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 1067, k.ObjectiveWordings_Id);
                });

            });
            event.preventDefault();
        });

        $('#Remove-AppRatingObjective-AppSubCategoryRating').button().on('click', function (event) {
            //var a = [], b;
            //a = $('#AppRatingObjectivelist').P2BGetTableDataonSelectedRow('#AppRatingObjectivelist', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#AppRatingObjectivelist').P2BGetTableDataonSelectedRow('#AppRatingObjectivelist', 0); 
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#AppRatingObjectivelist', $('#AppRatingObjectivelist').val(), 200, 200, '#FormAppCategoryRating', '#AppRatingObjectivelist');
            event.preventDefault();

           
        });
        // --------------- AppRatingObjective lookup end ----------

        $('.popup_radio_button').controlgroup();
  
        $('#Autho').makeDisable('#Edit,#Delete');

        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');
    });
</script>      