@{
    Layout = null;
}
@model Payroll.DIARYSettlementClaim

<style>
    .icon-row {
        position: relative;
        left: 146px;
        top: -149px;
    }

    .popup-content-label {
        display: block;
        float: left;
        width: 186px;
    }

    .popup-content-textbox {
        margin-bottom: 1px;
        min-width: 150px;
    }

    .row3 {
        width: 548px;
    }

    .row2 {
        display: inline-block;
        width: 450px;
    }

    .add-dialog-content {
        float: right;
        right: 0;
        width: 678px;
    }

    .form-of-element {
        display: block;
        border: #DEDEDE solid 0.1px;
        width: auto;
        height: 800px;
        padding: 5px 2px;
        margin-top: 3px;
    }

    .select_div {
    }
</style>

<html>

<head>
    <title></title>
    <script>
        $(document).ready(function (e) {

            function DateConvert(JsonDate) {
                var date = new Date(parseInt(JsonDate.substr(6)));
                var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
                return displayDate;
            };
            $('#TADATypelist').attr("disabled", "disabled")
            $('button').button();          
            $('.drop').selectmenu().selectmenu("menuWidget");
            $('#EmpLvnereq_Id').val("@Request.RequestContext.HttpContext.Session["TempEmpId"]");
            $('#DateOfAppl').attr('readonly', 'readonly');
            $('#DateOfAppl').TodayDate();
            $('#DIARYTypelist').selectmenu().selectmenu("menuWidget");
            $('#DIARYTypelist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "Lookup")', 3009, "");
            $('#TADATypelist').P2BSelectMenuAppend("@Url.Action("GetLookupPolicyname", "DairySettlementClaim")", "1", "1");

            $('#create-ContactNo-ContDetails').on("click", function (event) {
                $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Partial", "ContactNumbers")', 'Create Dialog', 'open', '@Url.Action("CreateSave", "ContactNumbers")', '#frmContactNo', 'Message :', 'Request Falied :', '#jqgrid', 200, 300, '', '', '', '#frmLvNewReq', '#edit-ContactNo-ContDetails,#remove-ContactNo-ContDetails', function (data) {
                    $('#ContactNos_List').P2BLookUpEncapsulate('#ContactNos_List', 'ContactNos_List', data[0], data[1], 'ContactNos_List', '#edit-ContactNo-ContDetails,#remove-ContactNo-ContDetails', 'N');
                });
                event.preventDefault();
            });
            $('#lookup-ContactNo-ContDetails').on('click', function (event) {
                $('.dialog').P2BLookUpModal('@Url.Action("Get_ContactNumbersLookupValue", "ContactNumbers")', '', 'lookupdiv', 'ContactDetails Look Up Data', '#ContactNos_List', 'ContactNos_List', 5, 'ContactNos_List', '#frmLvNewReq', 'A', '#remove-ContactNo-ContDetails', 'lookup_table', 'pageNavPosition');
                event.preventDefault();
            });

            $('#edit-ContactNo-ContDetails').button().on("click", function (event) {
                var a = [], b;
                a = $('#ContactNos_List').P2BGetTableDataonSelectedRow('#ContactNos_List', 0);
                b = a[0];
                event.preventDefault();
                $('<div></div>').P2BPatialEditModalDialog('@Url.Action("Partial", "ContactNumbers")', '@Url.Action("Edit", "ContactNumbers")', b, '@Url.Action("EditSave","ContactNumbers")', 'Edit Contact Numbers', '#frmContactNo', b, 'Message :', 'Request Falied :', '#jqgrid', 200, 300, '#frmLvNewReq', '#ContactNos_List', 'ContactNos_List', 'ContactNos_List', 'N', '#edit-ContactNo-ContDetails,#remove-ContactNo-ContDetails', function (data) {

                    $.each(data, function (i, k) {
                        $('#frmContactNo').trigger('reset');
                        $('#MobileNo').val(k.MobileNo);
                        $('#LandlineNo').val(k.LandlineNo);
                        $('#STDCode').val(k.STD);
                    });
                });

            });

            function ajaxloaderv2(cameform) {
                $('<a><i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw ajax_loder" style="color: rgba(27, 187, 173, 0.93);z-index:999;" aria-hidden="true"></i></a>').appendTo(cameform);
            };
            $('#DIARYTypelist').on('selectmenuchange', function () {

                var e = "@Request.RequestContext.HttpContext.Session["TempEmpId"]";
                if (e.val == "" || e.length == 0) {
                    alert("Please select Employee");
                    return false;
                }   
                var h = [];
                var j = [];
                var l = [];
                $.ajax({
                    url: '@Url.Action("GetDIARYAmount", "DairySettlementClaim")',
                    method: "POST",                
                    data: $('#frmDIARYSettlementClaim').serialize() + '&data=' + e,
                    beforeSend: function () {
                        ajaxloaderv2('body');
                    },
                    success: function (data) {
                        $.each(data, function (i, k) {                        
                            $("#AdvAmt").val(k.AdvanceAmt);
                            $("#Claim_Amt").val(k.DIARYClaimamt);
                            $("#Eligible_Amt").val(k.DIARYElgmamt);
                            $("#SanctionAmt").val(k.SanctionAmt);
                            $("#SettlementAmt").val(k.SettlementAmt);                         
                        });
                    },
                    complete: function () {
                        $('.ajax_loder').remove();
                    }
                });


            });

            $('#remove-ContactNo-ContDetails').button().on('click', function (event) {
                var a = [], b;
                a = $('#ContactNos_List').P2BGetTableDataonSelectedRow('#ContactNos_List', 0);
                b = a[0];
                $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#ContactNos_List', $('#ContactNos_List').val(), 200, 200, '#frmLvNewReq', '#ContactNos_List', '#remove-ContactNo-ContDetails');
                event.preventDefault();
            });
            $('<div></div>').P2BPartialCreateModalDialog();


            $('#lookup-JourneyDetails-DIARYSettlementClaim').on('click', function (event) {
                $('.dialog').P2BLookUpModal('@Url.Action("GetLookupJourneyDetails", "DairySettlementClaim")', '', 'lookupdiv', ' Look Up Data', '#JourneyDetailsList', 'JourneyDetailsList', 5, 'JourneyDetailsList', '#frmDIARYSettlementClaim', 'N', '#remove-JourneyDetails-DIARYSettlementClaim', 'lookup_table', 'pageNavPosition');
                event.preventDefault();
            });

            
            $('#create-JourneyDetails-DIARYSettlementClaim').on("click", function (event) {
                var a = "@Request.RequestContext.HttpContext.Session["TempEmpId"]";
                if (a.val == "" || a.length == 0) {
                    alert("Please select Employee");
                    return false;
                }
                var T = $("#TADATypelist option:selected").text();
                if (T == "-Select-") {
                    alert("Please select Journey Type");
                    return false;
                }

                $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Partial_JourneyDetails", "LTCSettlementClaim")', 'Create JourneyDetails Master', 'open', '@Url.Action("Create", "JourneyDetails")?EmpId=' + a + '&data1=' + T, '#frmJourneyDetailsPartial', 'Message :', 'Request Falied :', '#jqgrid', 600, 600, '', '', '#edit-JourneyObject1-JourneyDetails,#edit-JourneyObject-JourneyDetails,#edit-FamilyDetails-JourneyDetails,#remove-FamilyDetails-JourneyDetails', '#frmDIARYSettlementClaim', '', function (data) {
                    $('#JourneyDetailsList').P2BLookUpEncapsulate('#JourneyDetailsList', 'JourneyDetailsList', data[0], data[1], 'JourneyDetailsList', '#remove-JourneyDetails-LTCSettlementClaim', 'N');

                    $('#TravelModeEligibilityPolicylist').P2BSelectMenuAppend("@Url.Action("TravelModeEligibilityPolicylistd", "LTCSettlementClaim")", a.toString(), "");
                });
                event.preventDefault();

            });
                 
            $('#edit-JourneyDetails-DIARYSettlementClaim').button().on("click", function (event) {

                var a = [], b;
                a = $('#JourneyDetailsList').P2BGetTableDataonSelectedRow('#JourneyDetailsList', 0);
                b = a[0];
                $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial_JourneyDetails", "LTCSettlementClaim")', '@Url.Action("Edit", "LTCSettlementClaim")', b, '@Url.Action("EditSave", "LTCSettlementClaim")', 'Edit JourneyDetails Details', '#frmJourneyDetailsPartial', b, 'Message :', 'Request Falied :', '#jqgrid', 600, 600, '#frmDIARYSettlementClaim', '#JourneyDetailsList', 'JourneyDetailsList', 'JourneyDetailsList', 'N', '', function (data) {

                    $('#JourneyStart').val(DateConvert(data[0].JourneyStart));
                    $('#JourneyEnd').val(DateConvert(data[0].JourneyEnd));
                    $('#NoOfDays-edit').val((data[0].NoOfDays));
                    $('#DAElligibleAmt').val((data[0].DAElligibleAmt));
                    $('#DAClaimAmt').val((data[0].DAClaimAmt));
                    $('#DASettleAmt').val((data[0].DASettleAmt));
                    $('#TAElligibleAmt').val((data[0].TAElligibleAmt));
                    $('#TAClaimAmt').val((data[0].TAClaimAmt));
                    $('#TASettleAmt').val((data[0].TASettleAmt));
                    $('#MisExpenseElligibleAmt').val((data[0].MisExpenseElligibleAmt));
                    $('#MisExpenseClaimAmt').val((data[0].MisExpenseClaimAmt));
                    $('#MisExpenseSettleAmt').val((data[0].MisExpenseSettleAmt));
                    $('#HotelElligibleAmt').val((data[0].HotelElligibleAmt));
                    $('#HotelClaimAmt').val((data[0].HotelClaimAmt));
                    $('#HotelSettleAmt').val((data[0].HotelSettleAmt));
                    $('#TotFamilyMembers-edit').val((data[0].TotFamilyMembers));
                    $('#TravelModeEligibilityPolicylist').P2BSelectMenuAppend("@Url.Action("TravelModeEligibilityPolicylist", "LTCSettlementClaim")", "", data[0].TravelModeEligibilityPolicy);
                    $.each(data[1], function (i, k) {
                        $('#JourneyObjectlist-edit').P2BLookUpEncapsulate('#JourneyObjectlist-edit', 'JourneyObjectlist-edit', k.JourneyObject_Id, k.JourneyObjectFullDetails, 'JourneyObjectlist-edit', '#edit-HolidayList-HolidayCalendar,#remove-HolidayList-HolidayCalendar', 'A');
                        $('#FamilyDetailslist-edit').P2BLookUpEncapsulate('#FamilyDetailslist-edit', 'FamilyDetailslist-edit', k.Family_Id, k.FamilyFullDetails, 'FamilyDetailslist-edit', '#edit-HolidayList-HolidayCalendar,#remove-HolidayList-HolidayCalendar', 'A');
                        $('#MisExpenseObjectlist-edit').P2BLookUpEncapsulate('#MisExpenseObjectlist-edit', 'MisExpenseObjectlist-edit', k.MisExpenseObject_Id, k.MisExpenseObjectFullDetails, 'MisExpenseObjectlist-edit', '#edit-HolidayList-HolidayCalendar,#remove-HolidayList-HolidayCalendar', 'A');
                        $('#Travel_Hotel_BookingList').P2BLookUpEncapsulate('#Travel_Hotel_BookingList', 'Travel_Hotel_BookingList', k.TravelHotelBooking_Id, k.TravelHotelBookingFullDetails, 'Travel_Hotel_BookingList', '#edit-HolidayList-HolidayCalendar,#remove-HolidayList-HolidayCalendar', 'A');

                    });
                    $.each(data[3], function (i, k) {
                        $('#EmpDocumentslist-edit').P2BLookUpEncapsulate('#EmpDocumentslist-edit', 'EmpDocumentslist-edit', k.JourneyObject_Id, k.JourneyObjectFullDetails, 'JourneyObjectlist-edit', '#edit-HolidayList-HolidayCalendar,#remove-HolidayList-HolidayCalendar', 'A');
                    });
                });
                event.preventDefault();
            });
            /******************************** Journey Details Lookup Delete Button *********************************/
            $('#remove-JourneyDetails-DIARYSettlementClaim').button().on('click', function (event) {
                var a = [], b;
                a = $('#JourneyDetailsList').P2BGetTableDataonSelectedRow('#JourneyDetailsList', 0);
                b = a[0];
                //$('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#JourneyDetailsList', $('#JourneyDetailsList').val(), 200, 200, '#frmTADASettlementClaim', '#JourneyDetailsList');
                $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#JourneyDetailsList', $('#JourneyDetailsList').val(), 200, 200, '#frmDIARYSettlementClaim', '#JourneyDetailsList', '#edit-JourneyDetails-DIARYSettlementClaim,#remove-JourneyDetails-DIARYSettlementClaim');
                event.preventDefault();
            });
            /******/

            $('#lookup-Travel_Hotel_Booking-DIARYSettlementClaim').on('click', function (event) {
                $('.dialog').P2BLookUpModal('@Url.Action("GetTravel_Hotel_Booking", "DairySettlementClaim")', '', 'lookupdiv', ' Look Up Data', '#Travel_Hotel_BookingList', 'Travel_Hotel_BookingList', 5, 'Travel_Hotel_BookingList', '#frmDIARYSettlementClaim', 'N', '#remove-Travel_Hotel_Booking-DIARYSettlementClaim', 'lookup_table', 'pageNavPosition');
                event.preventDefault();
            });

            /******************************** Hotel Booking Lookup Create Button *********************************/
            $('#create-Travel_Hotel_Booking-DIARYSettlementClaim').on("click", function (event) {
                $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial_TravelHotelBooking", "LTCSettlementClaim")', 'Create HotelBookingDetails Master', 'open', '@Url.Action("Create", "TravelHotelBooking")', '#frmTravelHotelBookingDetails', 'Message :', 'Request Falied :', '#jqgrid', 600, 600, '', '', '#edit-HotelBookingDetails-LTCSettlementClaim', '#frmLTCSettlementClaim', '', function (data) {
                    $('#HotelBookingDetailsList').P2BLookUpEncapsulate('#HotelBookingDetailsList', 'HotelBookingDetailsList', data[0], data[1], 'HotelBookingDetailsList', '#remove-HotelBookingDetails-LTCSettlementClaim', 'N');
                });
                event.preventDefault();
            });

            /******/

            /******************************** Hotel Booking Lookup Delete Button *********************************/
            $('#remove-Travel_Hotel_Booking-DIARYSettlementClaim').button().on('click', function (event) {
                var a = [], b;
                a = $('#Travel_Hotel_BookingList').P2BGetTableDataonSelectedRow('#Travel_Hotel_BookingList', 0);
                b = a[0];
                $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#Travel_Hotel_BookingList', $('#Travel_Hotel_BookingList').val(), 200, 200, '#frmDIARYSettlementClaim', '#Travel_Hotel_BookingList', '#edit-Travel_Hotel_Booking-DIARYSettlementClaim,#remove-Travel_Hotel_Booking-DIARYSettlementClaim');
                //$('<div></div>').P2BPartialDeleteModalDialog('', b, '', 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#Travel_Hotel_BookingList', $('#Travel_Hotel_BookingList').val(), 200, 200, '#frmTADASettlementClaim', '#Travel_Hotel_BookingList');
                event.preventDefault();
            });
            /******/



            $('#remove-JourneyDetails-LTCSettlementClaim').button().on('click', function (event) {
                var a = [], b;
                a = $('#JourneyDetailsList').P2BGetTableDataonSelectedRow('#JourneyDetailsList', 0);
                b = a[0];
                $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#JourneyDetailsList', $('#JourneyDetailsList').val(), 200, 200, '#frmLTCSettlmentClaim', '#JourneyDetailsList', '#remove-CandidateDocuments-Candidate');
                event.preventDefault();
            });
            /******/

            $('#lookup-DIARYAdvanceClaim-DIARYSettlementClaim').on('click', function (event) {
                var a = "@Request.RequestContext.HttpContext.Session["TempEmpId"]";
                if (a.val == "" || a.length == 0) {
                    alert("Please select Employee");
                    return false;
                }
                $('.dialog').P2BLookUpModal('@Url.Action("GetLookupDairyAdv", "DairySettlementClaim")?Empid=' + a, '', 'lookupdiv', 'DIARY ADV Look Up Data', '#DIARYAdvanceClaimList', 'DIARYAdvanceClaimList', 5, 'DIARYAdvanceClaimList', '#frmDIARYSettlementClaim', 'A', '#edit-DIARYAdvanceClaim-DIARYSettlementClaim,#remove-DIARYAdvanceClaim-DIARYSettlementClaim', 'lookup_table', 'pageNavPosition');
                event.preventDefault();

                @*$('.dialog').P2BLookUpModal('@Url.Action("GetTADAAdvanceClaim", "TADASettlementClaim")', '', 'lookupdiv', ' Look Up Data', '#TADAAdvanceClaimList', 'TADAAdvanceClaimList', 5, 'TADAAdvanceClaimList', '#frmTADASettlementClaim', 'N', '#remove-TADAAdvanceClaim-TADASettlementClaim', 'lookup_table', 'pageNavPosition');
            event.preventDefault();*@
            });


            $('.popup_radio_button').buttonset();
            $('#LTCTypelist').selectmenu().selectmenu("menuWidget");
            $('#LvReqList').selectmenu().selectmenu("menuWidget");
            $('#Eligible_Amt,#Claim_Amt,#AdvAmt,#EncashmentAmount,#SanctionAmt,#SettlementAmt').ForceAmount();
            $('#Eligible_Amt,#Claim_Amt,#AdvAmt,#EncashmentAmount,#SanctionAmt,#SettlementAmt').val("0");
            $('#DateOfAppl').P2BDatePicker();
        });
    </script>
</head>
<body>
    <div class="dialog">
        <div title="LookUp Data">
            <div class="lookupdiv"></div>
        </div>
        <div id="pageNavPosition">

        </div>
    </div>


    <div id="create_dialog">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmDIARYSettlementClaim", name = "frmDIARYSettlementClaim" }))
        {

            <input id="BlockId" type="hidden" name="BlockId" />
            <input type="text" id="EmpLvnereq_Id" name="EmpLvnereq_Id" class="filter_structure_id" />
            <div class="section2_Leave">

                <div class="row2 select_div content_margine"><label class="popup-content-label must">Policy</label><select id="TADATypelist" name="TADATypelist" class="drop must" style="width:159px;"><option value="0">DIARY</option></select></div>

                <div class="row2 select_div content_margine">
                    @Html.LabelFor(m => m.DateOfAppl, "Date Of Appl   :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.DateOfAppl, new { @class = "popup-content-textbox must" })

                </div>
                <br />

                <div class="row6 content_margine addons">
                    <div id="LTCAdvanceClaimList_old"></div>
                    @Html.LabelFor(m => m.DIARYAdvanceClaim, "DIARY Advance Claim:", new { @class = "popup-content-label" })
                    <div class="popup-content-table">
                        <table class="lookuptableselected" id="DIARYAdvanceClaimList">
                            <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                        </table>
                    </div>
                    <div class="icon-row">
                        <button data-p2btooltip="Lookup DIARYAdvanceClaim" class="button popup-content-icon-lookup" id="lookup-DIARYAdvanceClaim-DIARYSettlementClaim"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                        @*<button data-p2btooltip="Create TADAAdvanceClaim" class="button popup-content-icon-create" id="create-TADAAdvanceClaim-TADASettlementClaim"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Edit TADAAdvanceClaim" class="button popup-content-icon-edit" id="edit-TADAAdvanceClaim-TADASettlementClaim"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>*@
                        <button data-p2btooltip="Remove DIARYAdvanceClaim" class="button popup-content-icon-remove" id="remove-DIARYAdvanceClaim-DIARYSettlementClaim"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                    </div>
                </div>





                <div class="row6 content_margine addons">
                    <div id="JourneyDetailsList_old"></div>
                    @Html.LabelFor(m => m.JourneyDetails, "Journey Details:", new { @class = "popup-content-label" })
                    <div class="popup-content-table">
                        <table class="lookuptableselected" id="JourneyDetailsList">
                            <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                        </table>
                    </div>
                    <div class="icon-row">
                        <button data-p2btooltip="Lookup Journey Details" class="button popup-content-icon-lookup" id="lookup-JourneyDetails-DIARYSettlementClaim"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Create Journey Details" class="button popup-content-icon-create" id="create-JourneyDetails-DIARYSettlementClaim"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Edit Journey Details" class="button popup-content-icon-edit" id="edit-JourneyDetails-DIARYSettlementClaim"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Remove Journey Details" class="button popup-content-icon-remove" id="remove-JourneyDetails-DIARYSettlementClaim"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                    </div>
                </div>



                <div class="row6 content_margine addons">
                    <div id="HotelBookingDetailsList_old"></div>
                    @Html.LabelFor(m => m.Travel_Hotel_Booking, "Travel Hotel Booking  :", new { @class = "popup-content-label" })
                    <div class="popup-content-table">
                        <table class="lookuptableselected" id="Travel_Hotel_BookingList">
                            <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                        </table>
                    </div>
                    <div class="icon-row">
                        <button data-p2btooltip="Lookup Travel Hotel Booking " class="button popup-content-icon-lookup" id="lookup-Travel_Hotel_Booking-DIARYSettlementClaim"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Create Travel Hotel Booking " class="button popup-content-icon-create" id="create-Travel_Hotel_Booking-DIARYSettlementClaim"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Edit Travel Hotel Booking " class="button popup-content-icon-edit" id="edit-Travel_Hotel_Booking-DIARYSettlementClaim"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Remove TravelHotel Booking " class="button popup-content-icon-remove" id="remove-Travel_Hotel_Booking-DIARYSettlementClaim"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                    </div>
                </div>


                <div class="row2 select_div content_margine">@Html.LabelFor(m => m.DIARYType, "DIARY Type:", new { @class = "popup-content-label must" })<select id="DIARYTypelist" name="DIARYTypelist" class="drop must" style="width:159px;"><option value="0">-Select-</option></select></div>

                <br />
                <div class="row2 content_margine">@Html.LabelFor(m => m.NoOfDays, "No Of Days :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.NoOfDays, new { @class = "popup-content-textbox must" })</div>
                <br />
                <div class="row2 content_margine">@Html.LabelFor(m => m.Eligible_Amt, " Eligible Amount :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Eligible_Amt, new { @class = "popup-content-textbox must" })</div>
                <br />

                <div class="row2 content_margine">@Html.LabelFor(m => m.Claim_Amt, " Claim Amount :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Claim_Amt, new { @class = "popup-content-textbox must" })</div>
                <br />

                <div class="row2 content_margine">@Html.LabelFor(m => m.AdvAmt, "Advance Amount :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.AdvAmt, new { @class = "popup-content-textbox must" })</div>
                <br />




                <div class="row2 content_margine">@Html.LabelFor(m => m.SanctionAmt, "Sanction Amount :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.SanctionAmt, new { @class = "popup-content-textbox must" })</div>
                <br />

                <div class="row2 content_margine">@Html.LabelFor(m => m.SettlementAmt, "Settlement Amount :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.SettlementAmt, new { @class = "popup-content-textbox must" })</div>
                <br />

                <div class="row2 content_margine">@Html.LabelFor(m => m.Remark, "Remark :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Remark, new { @class = "popup-content-textbox must" })</div>
                <br />

            </div>


        }
    </div>
</body>
</html>
