@model P2b.Global.Address
@{
    Layout = null;
}

<style>
    .add_icon-row {
        position: relative;
        left: -53px;
        top: -46px;
    }

    .add_popup-content-label {
        display: block;
        margin: 1px;
        float: left;
        width: 107px;
    }

    .add_popup-content-textbox {
        margin-bottom: 1px;
        min-width: 300px;
    }

    .add_row {
        width: 448px;
    }
</style>
<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmAddress" }))
    {
        <div class="add_row content_margine">
            @Html.LabelFor(m => m.Address1, "Address line 1 :", new { @class = "add_popup-content-label must" })
            @Html.TextBoxFor(m => m.Address1, new { @class = "add_popup-content-textbox must", id = "Address1", @maxlength = "50" })
        </div>
        <div class="add_row content_margine">
            @Html.LabelFor(m => m.Address2, "Address line 2 :", new { @class = "add_popup-content-label must" })
            @Html.TextBoxFor(m => m.Address2, new { @class = "add_popup-content-textbox must", id = "Address2", @maxlength = "50" })
        </div>
        <div class="add_row content_margine">
            @Html.LabelFor(m => m.Address3, "Address line 3 :", new { @class = "add_popup-content-label" })
            @Html.TextBoxFor(m => m.Address3, new { @class = "add_popup-content-textbox", id = "Address3", @maxlength = "50" })
        </div>
        <div class="add_row content_margine">
            @Html.LabelFor(m => m.Landmark, "Landmark : ", new { @class = "add_popup-content-label" })
            @Html.TextBoxFor(m => m.Landmark, new { @class = "add_popup-content-textbox", id = "Landmark", @maxlength = "30" })
        </div>
        <div class="add_row content_margine">
            @Html.LabelFor(m => m.Country, "Country :", new { @class = "add_popup-content-label must" })
            <select id="CountryList" name="CountryList" class="drop must" style="min-width:180px;">
                <option value="0">-Select-</option>
            </select>
            <div class="add_icon-row">
                <button data-p2btooltip="Create Country" class="popup-content-icon-create" id="create_country">
                    <span class="ui-icon ui-icon-newwin popup-content-iconmark"></span>
                </button>
            </div>
        </div>
        <div class="add_row content_margine  ">
            @Html.LabelFor(m => m.State, "State :", new { @class = "add_popup-content-label must" })
            <select id="StateList" name="StateList" class="drop must" style="width:180px;">
                <option value="0">-Select-</option>
            </select>
            <div class="add_icon-row">
                <button data-p2btooltip="Create State" class="popup-content-icon-create" id="create_state">
                    <span class="ui-icon ui-icon-newwin popup-content-iconmark"></span>
                </button>
            </div>
        </div>
        <div class="add_row content_margine">
            @Html.LabelFor(m => m.StateRegion, "StateRegion :", new { @class = "add_popup-content-label " })
            <select id="StateRegionList" name="StateRegionList" class="drop" style="width:180px;">
                <option value="0">-Select-</option>
            </select>
            <div class="add_icon-row">
                <button data-p2btooltip="Create StateRegion" class="popup-content-icon-create" id="create_stateregion">
                    <span class="ui-icon ui-icon-newwin popup-content-iconmark"></span>
                </button>
            </div>
        </div>
        <div class="add_row content_margine">
            @Html.LabelFor(m => m.District, "District :", new { @class = "add_popup-content-label" })
            <select id="Districtlist" name="Districtlist" class="drop" style="width:180px;">
                <option value="0">-Select-</option>
            </select>
            <div class="add_icon-row">
                <button data-p2btooltip="Create District" class="popup-content-icon-create" id="create_district">
                    <span class="ui-icon ui-icon-newwin popup-content-iconmark"></span>
                </button>
            </div>
        </div>
        <div class="add_row content_margine">
            @Html.LabelFor(m => m.Taluka, "Taluka :", new { @class = "add_popup-content-label" })
            <select id="TalukaList" name="TalukaList" class="drop" style="width:180px;">
                <option value="0">-Select-</option>
            </select>
            <div class="add_icon-row">
                <button data-p2btooltip="Create Taluka" class="popup-content-icon-create" id="create_taluka">
                    <span class="ui-icon ui-icon-newwin popup-content-iconmark"></span>
                </button>
            </div>
        </div>
        <div class="add_row content_margine">
            @Html.LabelFor(m => m.City, "City :", new { @class = "add_popup-content-label" })
            <select id="CityList" name="CityList" class="drop" style="width:180px;">
                <option value="0">-Select-</option>
            </select>
            <div class="add_icon-row">
                <button data-p2btooltip="Create City" class="popup-content-icon-create" id="create_city">
                    <span class="ui-icon ui-icon-newwin popup-content-iconmark"></span>
                </button>
            </div>
        </div>
        <div class="add_row content_margine">
            @Html.LabelFor(m => m.Area, "Area :", new { @class = "add_popup-content-label" })
            <select id="AreaList" name="AreaList" class="drop" style="width:180px;">
                <option value="0">-Select-</option>
            </select>
            <div class="add_icon-row">
                <button data-p2btooltip="Create Area" class="popup-content-icon-create" id="create_area">
                    <span class="ui-icon ui-icon-newwin popup-content-iconmark"></span>
                </button>
            </div>
        </div>
    }
</div>

<script>
    $(document).ready(function () {
        $('#Address1').MaxLength(50);
        $('#Address2').MaxLength(50);
        $('#Address3').MaxLength(50);
        $('#Landmark').MaxLength(30);
       // $('#Address1').ForceOnlyAlphaNumeric();
        $('#Address1').ValidateTextBox({ maxlength: 50, name: true });
        $('#Address2').ValidateTextBox({ maxlength: 50, name: true });
        $('#Address3').ValidateTextBox({ maxlength: 50, name: true });
       // $('#Address2').ForceOnlyAlphaNumeric();
       // $('#Address3').ForceOnlyAlphaNumeric();
        $('#Landmark').ValidateTextBox({ maxlength: 50, name: true });
    });


    $(document).ready(function (e) {
        $('button').button();
        $('.drop').css({ "width": "182px" });
        $('.drop').selectmenu().selectmenu('menuWidget').css({ "height": "200px" });
        $('#CountryList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "country")", "", "", '#StateList');
        @*$('#CountryList').on("selectmenuopen", function () {
            $('#CountryList').empty().append("<option value=0 selected=true>-goo-</option>").selectmenu("refresh");
            $.post("@Url.Action("PopulateDropDownList","country")", {
                data: "",
                data2: ""
            }, function (data) {
                $.each(data, function (i, k) {
                    $('#CountryList').append($("<option>", {
                        value: k.Value,
                        text: k.Text,
                        selcted: k.Selected
                    }));
                });
                jQuery('#CountryList').selectmenu('refresh').selectmenu("menuWidget").css({ "height": "120px" });
            });
        });*@
        $('#CountryList').P2BSelectMenuOnChange("selectmenuchange", "@Url.Action("PopulateDropDownList", "state")", '#StateList', "");
        $('#StateList').P2BSelectMenuOnChange("selectmenuchange", "@Url.Action("PopulateDropDownList", "StateRegion")", "#StateRegionList", "");
        $('#StateRegionList').P2BSelectMenuOnChange("selectmenuchange", "@Url.Action("PopulateDropDownList", "District")", "#Districtlist", "");
        $('#Districtlist').P2BSelectMenuOnChange("selectmenuchange", "@Url.Action("PopulateDropDownList", "Taluka")", "#TalukaList", "");
        $('#TalukaList').P2BSelectMenuOnChange("selectmenuchange", "@Url.Action("PopulateDropDownList", "City")", "#CityList", "");
        $('#CityList').P2BSelectMenuOnChange("selectmenuchange", "@Url.Action("PopulateDropDownList", "area")", "#AreaList", "");

        $('.popup_radio_button').buttonset();
        $('<div></div>').P2BPartialCreateModalDialog();
        $('#create_country').on("click", function (e) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "country")', 'Create Country', 'open', '@Url.Action("Create","Country")', '#frmCountry', 'Message :', 'Request Falied :', '#jqgrid', 217, 339, '', '#CountryList', 'change', '', '', function (data) {
                $('#CountryList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "country")", "", data[0], '#StateList');

            });
            e.preventDefault();
        });

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#create_state').on("click", function (e) {
            if ($('#CountryList option:selected').val() == null || $('#CountryList option:selected').val() == 0 || $('#CountryList option:selected').val() == "-Select-") {
                alert('Kindly select  "Country"  first');
                return false;
            }
            else {
                $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "state") ', 'Create State', 'open', '@Url.Action("Create", "State")', '#frmState', 'Message :', 'Request Falied :', '#jqgrid', 200, 300, $("#CountryList option:selected").val(), '#CountryList', 'change', '', '', function (data) {
                    $('#StateList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "state")", "", data[0], '#StateRegionList');
                });
                e.preventDefault();
            }
        });

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#create_stateregion').on("click", function (e) {
            if ($('#StateList option:selected').val() == null || $('#StateList option:selected').val() == 0 || $('#StateList option:selected').val() == "-Select-") {
                alert('Kindly select  "State"  first');
                return false;
            }
            else {
                $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "stateregion")', 'Create Region', 'open', '@Url.Action("Create", "stateregion")', '#frmStateRegion', 'Message :', 'Request Falied :', '#jqgrid', 200, 300, $("#StateList option:selected").val(), '#StateList', 'change', '', '', function (data) {
                    $('#StateRegionList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "StateRegion")", "", data[0], '#Districtlist');
                });
                e.preventDefault();
            }
        });


        $('<div></div>').P2BPartialCreateModalDialog();
        $('#create_district').on("click", function (e) {
            if ($('#StateRegionList option:selected').val() == null || $('#StateRegionList option:selected').val() == 0 || $('#StateRegionList option:selected') == "-Select-") {
                alert('Kindly select  "Region"  first');
                return false;
            }
            else {
                $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "district")', 'Create District', 'open', '@Url.Action("Create","District")', '#frmDistrict', 'Message :', 'Request Falied :', '#jqgrid', 200, 300, $("#StateRegionList option:selected").val(), '#StateRegionList', 'change', '', '', function (data) {
                    $('#Districtlist').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "district")", "", data[0], '#TalukaList');
                });
                e.preventDefault();
            }
        });


        $('<div></div>').P2BPartialCreateModalDialog();
        $('#create_taluka').on("click", function (e) {
            if ($("#Districtlist option:selected").val() == null || $("#Districtlist option:selected").val() == 0 || $("#Districtlist option:selected").val() == "-Select-") {
                alert('Kindly select  "District"  first');
                return false;
            }
            else {
                $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "taluka") ', 'Create Taluka', 'open', '@Url.Action("Create","Taluka")', '#frmTaluka', 'Message :', 'Request Falied :', '#jqgrid', 200, 300, $("#Districtlist option:selected").val(), '#Districtlist', 'change', '', '', function (data) {
                    $('#TalukaList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "taluka")", "", data[0], '#CityList');
                });
                e.preventDefault();
            }
        });

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#create_city').on("click", function (e) {
            if ($("#TalukaList option:selected").val() == null || $("#TalukaList option:selected").val() == 0 || $("#TalukaList option:selected").val() == "-Select-") {
                alert('Kindly select  "Taluka"  first');
                return false;
            }
            else {
                $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "city") ', 'Create City', 'open', '@Url.Action("Create","City")', '#frmCity', 'Message :', 'Request Falied :', '#jqgrid', 200, 300, $("#TalukaList option:selected").val(), '#TalukaList', 'change', '', '', function (data) {
                    $('#CityList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "city")", "", data[0], '#AreaList');
                });
                e.preventDefault();
            }
        });

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#create_area').on("click", function (e) {
            if ($("#CityList option:selected").val() == null || $("#CityList option:selected").val() == 0 || $("#CityList option:selected").val() == "-Select-") {
                alert('Kindly select  "City"  first');
                return false;
            }
            else {
                $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "area")', 'Create Area', 'open', '@Url.Action("Create","Area")', '#frmArea', 'Message :', 'Request Falied :', '#jqgrid', 200, 300, $("#CityList option:selected").val(), '#CityList', 'change', '', '', function (data) {
                    $('#AreaList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "area")", "", data[0]);
                });
                e.preventDefault();
            }
        });
    });
</script>

