@{
    Layout = null;
}
@model EssPortal.Models.FileModel
<html>
<head>
    <title></title>
    <style>
        .popup-content-label {
            width: 111px;
            /*display: block;*/
            /*float: left;*/
        }

        .row1 {
            width: 635px;
            display: inline-block;
        }

        .hide_textbox {
            display: none;
        }

        .container_div {
            border: 1px solid rgba(207, 207, 207, 0.91);
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .section1_Leave {
            display: block;
            border: 1.5px solid rgba(207, 207, 207, 0.91);
            height: 554px;
            width: 534px;
            margin: 4px auto;
            position: absolute;
        }

        .section2_Leave {
            display: block;
            border: 1px solid #ddd;
            height: 554px;
            width: 610px;
            margin: 5px 4px;
            position: absolute;
            left: 546px;
        }

        .hide-div {
            display: none;
        }

        .header-title {
            display: block;
            height: 315px;
            width: 610px;
        }

        .heading {
            background: rgba(207, 207, 207, 0.91) none repeat scroll 0 0;
            color: #424242;
            display: block;
            font-size: 1em;
            font-weight: bold;
            height: 15px;
            margin: 3px auto;
            padding: 2px 0 1px 2px;
            width: 99%;
        }

        .hide-div {
            display: none;
        }

        .lv-label {
            width: 125px;
            font-size: 9px;
            padding: 1px;
            position: relative;
            float: left;
        }

        .lb-data {
            font-weight: bold;
            font-size: 11px;
            float: left;
        }

        .imgdata {
            width: 100%;
            height: 100%;
        }

        #monthTable {
            /*font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;*/
            border-collapse: collapse;
            width: 75%;
        }

            #monthTable td, #monthTable th {
                border: 1px solid #ddd;
                padding: 8px;
            }

        .monthTable-selected {
            color: #8e6d87;
            font-weight: bold;
        }
        /*#monthTable tr:nth-child(even) {
            background-color: #f2f2f2;
        }*/

        #monthTable tr:hover {
            background-color: #ddd;
        }

        #monthTable th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #009282;
            color: white;
        }
    </style>
</head>

<body>
    <form id="frmOfficiatingView" name="frmOfficiatingView" method="post">

        <input type="text" class="hide_textbox" name="authority" id="authority" />
        <input type="text" class="hide_textbox" name="isClose" id="isClose" />
        @*<input type="hidden" name="Investmentid_User" id="Investmentid_User" value="" />
            <input type="hidden" name="Subinvestment_Id_User" id="Subinvestment_Id_User" value="" />*@
        <div class="section_Method" id="lv-div" style="display:block">
            @*<div class="heading">Employee Info </div>
                <div class="row1 content_margine">
                    <label class="lv-label">Employee :</label>
                    <div id="Employee" class="lb-data"></div>
                </div>*@
            @*<div class="row1 content_margine">
                       <label class="lv-label">OfficiatingParameterName:</label>
                    <div id="OfficiatingParameterName" class="lb-data" style="width:391px;"></div>
                </div>*@
            <div class="row1 content_margine">
                <label class="lv-label">On Officiating PayStructdetails:</label>
                <div id="PayStructDetails" class="lb-data"></div>
            </div>

            <div class="row1 content_margine">
                <label class="lv-label">Leave Details:</label>
                <div id="LvDetails" class="lb-data" style="margin-left:80px; margin-top:-13px"></div>
            </div>

            <div class="row1 content_margine">
                <label class="lv-label">From Date:</label>
                <div id="FromDate" class="lb-data"></div>
            </div>
            <div class="row1 content_margine">
                <label class="lv-label">To Date:</label>
                <div id="ToDate" class="lb-data"></div>
            </div>
            <div class="row1 content_margine">
                <label class="lv-label">Narration:</label>
                <div id="Remark" class="lb-data"></div>
            </div>
            <div class="row1 content_margine">
                <label class="lv-label">Grade:</label>
                <div id="Grade" class="lb-data"></div>
            </div>
            <div class="row1 content_margine">
                <label class="lv-label">Designation:</label>
                <div id="Designation" class="lb-data"></div>
            </div>
            <div class="row1 content_margine">
                <label class="lv-label">Location:</label>
                <div id="Location" class="lb-data"></div>
            </div>

            @*<div class="row1 content_margine">
                    <label class="lv-label">Status:</label>
                    <div id="Status" class="lb-data"></div>
                </div>
                <div class="row1 content_margine">
                    <label class="lv-label">IsCancel:</label>
                    <div id="IsCacel" class="lb-data"></div>
                </div>*@


            <div class="row1 content_margine hide-div" id="SanctionReasonDiv">
                <label class="lv-label">Sanction Reason:</label>
                <div id="lvSanctionReason" class="lb-data"></div>
            </div>
            <div class="row1 content_margine hide-div" id="ApprovalReasonDiv">
                <label class="lv-label">Approval Reason:</label>
                <div id="lvApprovalReason" class="lb-data"></div>
            </div>
            <div class="section_Method hide-div" id="MySelf-div">
                <div id="MySelfDiv">
                    <div class="heading">MySelf Authority Views</div>
                    <div id="yes_no_div" class="row1 content_margine">
                        <label class="popup-content-label">
                            Is Cancel:
                        </label>
                        <div class="popup_radio_button">
                            <input type="radio" name="IsCancel" value="true" id="rdo5" /><label for="rdo5">Yes</label>
                            <input type="radio" name="IsCancel" id="rdo6" value="false" /><label for="rdo6">No</label>
                        </div>
                    </div>
                    <div class="row1 content_margine">
                        <label class="popup-content-label">Reason :</label>
                        <input type="text" id="Grid-ReasonIsCancel" name="ReasonIsCancel" />
                    </div>

                </div>
            </div>
            <div class="section_Method hide-div" id="Sanction-div">
                <div id="SanctionDiv">
                    <div class="heading">Sanction Authority Views</div>


                    <div class="row1 content_margine">
                        <div id="paymo">
                            <label class="popup-content-label must">Payment Date :</label>
                            <input  id="PayMonth" name="PayMonth" style="margin-left:30px" />
                        </div>
                    </div>
                    <div class="row1 content_margine">
                        <div id="promonth">
                            <label class="popup-content-label">Process Month :</label>
                            <input  id="ProcessMonth" name="ProcessMonth" style="margin-left:35px" />
                        </div>
                        @*  <button type="button" id="Processdata" name="Processdata" style="width:70px ; margin-left:300px">Process</button>*@
                    </div>
                    <div class="row1 content_margine" style=" margin-top: -8px;">
                        <div id="OfficiatingPara">
                            <label for="OfficiatingParameterlist" class="emplist_label must">Officiating Parameter:</label>
                            <select id="OfficiatingParameterlist" name="OfficiatingParameterlist" class="drop" style="width:180px;"><option value="0">-Select-</option></select>
                        </div>
                    </div>
                    <div class="row1 content_margine">
                        <button type="button" id="Processdata" name="Processdata" style="width: 70px; margin-left: 128px">Process</button>
                    </div>
                    <div id="yes_no_div" class="row1 content_margine">
                        <label class="popup-content-label must">
                            Sanction Status:
                        </label>
                        <div id="A11" style="margin-left: 128px; margin-top: -12px;">
                            <div class="popup_radio_button">
                                <input type="radio" name="Sanction" value="true" id="rdo100" /><label for="rdo100">Yes</label>
                                <input type="radio" name="Sanction" id="rdo200" value="false" /><label for="rdo200">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="row1 content_margine">
                        <label class="popup-content-label must">Reason :</label>
                        <input type="text" id="Grid-ReasonSanction" name="ReasonSanction" style="margin-left: 68px;" />
                    </div>
                   
                    @*<div class="row1 content_margine" id="saldata" style="margin-left: 500px; margin-top:-130px; height:260px; width:700px; overflow-y:auto">
                        <table id="monthTable" >
                            <tr><th>Salary Head</th><th>Type</th><th>Amount</th></tr>
                        </table>
                    </div>*@
                    <div class="row1 content_margine" id="saldata" style="margin-left: 500px; margin-top: -140px; width: 500px;">
                        <div style="height: 250px; overflow-y: auto;">
                            <table id="monthTable" style="width: 100%;">
                                <tr>
                                    <th>Salary Head</th>
                                    <th>Type</th>
                                    <th>Amount</th>
                                </tr>
                               
                            </table>
                        </div>
                    </div>

                    <div class="row1 content_margine" style="margin-left: 500px">
                        <div id="totalearn" >
                            <label class="popup-content-label ">Total Earning :</label>
                            <input type="text" id="TotalEarn" name="TotalEarn" readonly style="width:60px" />
                        </div>
                        <div id="totalded" style="margin-left: 155px; margin-top: -20px">
                            <label class="popup-content-label ">Total Deduction :</label>
                            <input type="text" id="TotalDed" name="TotalDed" readonly style="width:60px" />
                        </div>
                        <div id="totalnet" style="margin-left: 370px; margin-top: -20px">
                            <label class="popup-content-label ">Total Net :</label>
                            <input type="text" id="TotalNet" name="TotalNet" readonly style="width:60px" />
                        </div>
                    </div>
                    @*<div class="row1 content_margine" style="margin-left: 500px">
                        <div id="totalded" >
                            <label class="popup-content-label ">Total Deduction :</label>
                            <input type="text" id="TotalDed" name="TotalDed" readonly />
                        </div>
                    </div>*@
                    @*<div class="row1 content_margine" style="margin-left: 500px">
                        <div id="totalnet" style="margin-left: 300px">
                            <label class="popup-content-label ">Total Net :</label>
                            <input type="text" id="TotalNet" name="TotalNet" readonly style="margin-left: 10px;" />
                        </div>
                    </div>*@
                </div>           
            </div>
            <div class="section_Method hide-div" id="Approval-div">
                <div id="ApprovalDiv" class="row1 content_margine">
                    <div class="heading">Approval Authority View</div>
                   
                <div class="row1 content_margine">
                    <div id="paymo">
                        <label class="popup-content-label must">Payment Date :</label>
                        <input  id="PayMonth" name="PayMonth" style="margin-left:57px" />
                    </div>
                </div>
                <div class="row1 content_margine">
                    <div id="promonth">
                        <label class="popup-content-label">Process Month :</label>
                        <input  id="ProcessMonth" name="ProcessMonth" style="margin-left:35px" />
                    </div>
                    @*  <button type="button" id="Processdata" name="Processdata" style="width:70px ; margin-left:300px">Process</button>*@
                </div>
                <div class="row1 content_margine" style=" margin-top: -8px;">
                    <div id="OfficiatingPara">
                        <label for="OfficiatingParameterlist" class="emplist_label must">Officiating Parameter:</label>
                        <select id="OfficiatingParameterlist" name="OfficiatingParameterlist" class="drop" style="width:180px;"><option value="0">-Select-</option></select>
                    </div>
                </div>
                <div class="row1 content_margine">
                    <button type="button" id="Processdata" name="Processdata" style="width: 70px; margin-left: 128px">Process</button>
                </div>
                <div id="yes_no_div" class="row1 content_margine">
                    <label class="popup-content-label must">
                        Approval Status:
                    </label>
                    <div id="A11" style="margin-left: 128px; margin-top: -12px;">
                        <div class="popup_radio_button">
                            <input type="radio" name="Sanction" value="true" id="rdo101" /><label for="rdo101">Yes</label>
                            <input type="radio" name="Sanction" id="rdo201" value="false" /><label for="rdo201">No</label>
                        </div>
                    </div>
                </div>
                <div class="row1 content_margine">
                    <label class="popup-content-label must">Reason :</label>
                    <input type="text" id="Grid-ReasonSanction" name="ReasonSanction" style="margin-left: 68px;" />
                </div>

                <div class="row1 content_margine" id="saldata" style="margin-left: 500px; margin-top: -140px; width: 500px;">
                    <div style="height: 250px; overflow-y: auto;">
                        <table id="monthTable" style="width: 100%;">
                            <tr>
                                <th>Salary Head</th>
                                <th>Type</th>
                                <th>Amount</th>
                            </tr>

                        </table>
                    </div>
                </div>

                <div class="row1 content_margine" style="margin-left: 500px">
                    <div id="totalearn">
                        <label class="popup-content-label ">Total Earning :</label>
                        <input type="text" id="TotalEarn" name="TotalEarn" readonly style="width:60px" />
                    </div>
                    <div id="totalded" style="margin-left: 155px; margin-top: -20px">
                        <label class="popup-content-label ">Total Deduction :</label>
                        <input type="text" id="TotalDed" name="TotalDed" readonly style="width:60px" />
                    </div>
                    <div id="totalnet" style="margin-left: 370px; margin-top: -20px">
                        <label class="popup-content-label ">Total Net :</label>
                        <input type="text" id="TotalNet" name="TotalNet" readonly style="width:60px" />
                    </div>
                </div>
            </div>
           </div>
        </div>
    </form>

</body>
</html>
<script>
    $(document).ready(function (e) {
        //$('#NewPayT-div').fadeIn();
        $('#promonth').fadeIn();
        $('#Processdata').fadeIn();
        $('#paymo').fadeIn();
        $('#OfficiatingPara').fadeIn();

        //$('#totalearn').fadeOut();
        //$('#totalded').fadeOut();
        //$('#totalnet').fadeOut();
        //$('#saldata').fadeOut();
        $('.ui-dialog-buttonpane').find('button:contains("Submit")').button('disable');

        $('#OfficiatingParameterlist').selectmenu().selectmenu("menuWidget");

        function ajaxloaderv2(cameform) {
            $('<a><i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw ajax_loder" style="color: rgba(27, 187, 173, 0.93);z-index:999;" aria-hidden="true"></i></a>').appendTo(cameform);
        };

        $('input[name = "Sanction"]:radio').change(function () {
            if (this.value == "false") {
                $('.ui-dialog-buttonpane').find('button:contains("Submit")').button('enable');               
            }
            //if (this.value == "true") {
            //    $('.ui-dialog-buttonpane').find('button:contains("Submit")').button('enable');
            //    //$('.ui-dialog-buttonpane').find('button:contains("Submit")').button('disable');
            //}
        })

        $('#Processdata').on('click', function () {
            var PayMonth = $('#PayMonth').val();
            var ProcessMonth = $('#ProcessMonth').val();
            var salOperationType = localStorage.getItem('SalOperationType');
            var SalHeadoperationtype = salOperationType;
            var OfficiatingParameterlist = $('#OfficiatingParameterlist').val();
            var EmployeeId = localStorage.getItem('EmpId');
            var SalaryHeadId = localStorage.getItem('SalaryHeadId');
            var officitingId = localStorage.getItem('officitingId');


            $.ajax({
                method: "post",
                url: '@Url.Action("Officiatingeprocess", "BmsPaymentRequest")',
                data: {
                    data: PayMonth,            
                    data2: SalHeadoperationtype,
                    data3: OfficiatingParameterlist,
                    data4: EmployeeId,
                    data5: SalaryHeadId,
                    data6: officitingId,
                    idata: ProcessMonth
                },
                beforeSend: function () {
                    ajaxloaderv2('body');
                },
                success: function (data) {
                    if (SalHeadoperationtype == "OFFICIATING ALLOWANCE") {
                        alert("Process Completed")
                        $.ajax({
                            type: "Post",
                            url: '@Url.Action("offProData", "BmsPaymentRequest")',
                            data: { data1: EmployeeId, data2: officitingId },
                            success: function (data) {
                                
                                $('.ui-dialog-buttonpane').find('button:contains("Submit")').button('enable');

                                var tr = "";
                                var rowIndex = 1;
                                var salaryData = data[0];

                                $('#TotalEarn').val(data[1] || 0);
                                $('#TotalDed').val(data[2] || 0);
                                $('#TotalNet').val(data[3] || 0);

                                $('#monthTable tr:gt(0)').remove();

                                $.each(salaryData, function (i, item) {
                                    //alert("Salary Head: " + item.salhead + ", Amount: " + item.salheadamount);

                                    if (item.salhead !== undefined && item.salheadamount !== undefined) {
                                        tr += "<tr id='" + rowIndex + "'><td>" + item.salhead + "</td><td>" + item.type + "</td><td>" + item.salheadamount + "</td></tr>";
                                        rowIndex++;
                                    } else {
                                        console.log("Item is missing properties: ", JSON.stringify(item, null, 2));
                                    }
                                });

                                $('#monthTable tr:last').after(tr);
                            }
                        });
                    }
                    if (SalHeadoperationtype != "OFFICIATING ALLOWANCE") {
                        alert("Process Completed")
                        $.ajax({
                            type: "Post",
                            url: '@Url.Action("ltaProData", "BmsPaymentRequest")',
                            data: { data1: EmployeeId, data2: officitingId },
                            success: function (data) {
                                // alert(JSON.stringify(data));
                                $('.ui-dialog-buttonpane').find('button:contains("Submit")').button('enable');

                                var tr = "";
                                var rowIndex = 1;
                                var salaryData = data[0];

                                                               

                                $('#TotalEarn').val(data[1] || 0);
                                $('#TotalDed').val(data[2] || 0);
                                $('#TotalNet').val(data[3] || 0);

                                $('#monthTable tr:gt(0)').remove();

                                $.each(salaryData, function (i, item) {
                                    //alert("Salary Head: " + item.salhead + ", Amount: " + item.salheadamount);

                                    if (item.salhead !== undefined && item.salheadamount !== undefined) {
                                        tr += "<tr id='" + rowIndex + "'><td>" + item.salhead + "</td><td>" + item.type + "</td><td>" + item.salheadamount + "</td></tr>";
                                        rowIndex++;
                                    } else {
                                        console.log("Item is missing properties: ", JSON.stringify(item, null, 2));
                                    }
                                });

                                $('#monthTable tr:last').after(tr);
                            }
                        });
                    }
                },
                complete: function () {
                    $('.ajax_loder').remove();
                }
            });
        });




        $('#txtPayMonth').P2BDatePicker();
        //$('#PayMonth').MonthYearPicker();
        $('#PayMonth').P2BDatePicker();
        $('#ProcessMonth').MonthYearPicker();

      
        $('button').button();
        $('.popup_radio_button').buttonset();
        $('#filepathiduser').attr('disabled', 'disabled');
        console.log($.LocalStorageHelper.Get("Whois"));
        if ($.LocalStorageHelper.Get("Whois").toUpperCase() == "SANCTION".toUpperCase()) {
            $('#Sanction-div').show();
            $('#SanctionReasonDiv,#ApprovalReasonDiv').hide();
            $('#Upload_Div').show();
            $('#FileBrowes_id').hide();
            $('#authority').val($.LocalStorageHelper.Get("Whois"));
        } else {
            $('#Sanction-div').hide();
        }
        if ($.LocalStorageHelper.Get("Whois").toUpperCase() == "MySelf".toUpperCase()) {
            $('#MySelf-div').show();
            // $('#MySelfReasonDiv,#ApprovalReasonDiv').hide();
            $('#SanctionReasonDiv,#ApprovalReasonDiv').show();
            $('#authority').val($.LocalStorageHelper.Get("Whois"));
        } else {
            // $('#Sanction-div').hide();
        }
        if ($.LocalStorageHelper.Get("Whois").toUpperCase() == "ReComandtion".toUpperCase()) {
            $('#ReComandtion-div').show();
            $('#authority').val($.LocalStorageHelper.Get("Whois"));
        } else {
            $('#ReComandtion-div').hide();
        }
        if ($.LocalStorageHelper.Get("Whois").toUpperCase() == "Approval".toUpperCase()) {
            $('#Approval-div').show();
            $('#ApprovalReasonDiv').hide();
            $('#SanctionReasonDiv').show();
            $('#Upload_Div').hide();
            $('#authority').val($.LocalStorageHelper.Get("Whois"));
        } else {
            $('#Approval-div').hide();
        }
        if ($.LocalStorageHelper.Get("Whois").toUpperCase() == "HR".toUpperCase()) {
            $('#HR-div').show();

            $('#authority').val($.LocalStorageHelper.Get("Whois"));
        } else {
            $('#HR-div').hide();
        }
        if ($.LocalStorageHelper.Get("Whois").toUpperCase() == "Viewer".toUpperCase()) {
            //   $('#HR-div').show();
        } else {
            // $('#HR-div').hide();
        }
        if ($.LocalStorageHelper.Get("Whois").toUpperCase() == "MYSELF".toUpperCase()) {
        } else {
        }
        //} else {
        //    $('#HR-div').hide(); $('#Approval-div').hide(); $('#ReComandtion-div').hide(); $('#Sanction-div').hide();
        //}

    });
$('#filepathid').attr('disabled', 'disabled');

$('#Upload_btnUser').on("click", function (event) {
    debugger;
    var vidFileLength = $("#files")[0].files.length;
    if (vidFileLength === 0) {
        alert("No file selected.");
        return false;
    }
    var form = $("#frmITInvestmentPaymentView").serialize();
    var tempExcel = new FormData($("#frmITInvestmentPaymentView")[0]);
    $.post({
        url: "@Url.Action("ITnvestmentUploadUser", "ITInvestmentPayment")",
        data: tempExcel,
        datatype: "json",
        method: "POST",
        data: tempExcel,
        cache: false,
        processData: false,
        contentType: false,
        enctype: 'multipart/form-data',
        processData: false,
        success: function (data) {
            if (data.success) {
                alert("File Upload Successfully");
                return false;
            }
        },
        complete: function (data) {
            //$('#lblloader').hide();
        }
    });
    event.preventDefault();
});
$('#Download_btnUser').on("click", function (event) {
    var filepath = $('#filepathiduser').val();
    if (filepath != null) {
        $.post("@Url.Action("Filename", "ITInvestmentPayment")?filepath=" + filepath, function (data) {
            if (data != null && data != "") {
                window.open('@Url.Action("PDFFlyer", "ITInvestmentPayment")?filepath=' + data.data);
            }
            else {
                alert("Data Null");
            }
        })
    }
    event.preventDefault();
});
var imagesPreview = function (input, placeToInsertImagePreview) {
    debugger;
    if (input.files) {
        var filesAmount = input.files.length;
        $(placeToInsertImagePreview).empty();
        for (i = 0; i < filesAmount; i++) {
            var reader = new FileReader();

            reader.onload = function (event) {
                $($.parseHTML('<img class="imgdata">')).attr('src', event.target.result).appendTo(placeToInsertImagePreview);
            }

            reader.readAsDataURL(input.files[i]);
        }
    }

};
// Loaded via <script> tag, create shortcut to access PDF.js exports.
var pdfjsLib = window['pdfjs-dist/build/pdf'];
$("#files").on("change", function (e) {
    debugger;
    var file = e.target.files[0]
    var filesize = e.target.files[0].size;
    var maxfilesize = 500000;//500kb
    if (filesize <= maxfilesize) {
        if (file.type == "application/pdf") {
            $('#container2').empty();
            $("#user_investment").hide();
            $("#pdfViewer").show();
            var fileReader = new FileReader();
            fileReader.onload = function () {
                var pdfData = new Uint8Array(this.result);
                // Using DocumentInitParameters object to load binary data.
                var loadingTask = pdfjsLib.getDocument({ data: pdfData });
                loadingTask.promise.then(function (pdf) {
                    console.log('PDF loaded');

                    // Fetch the first page
                    // var pageNumber = 1;
                    //var container = document.getElementById("container")
                    for (var i = 1; i <= pdf.numPages; i++) {
                        pdf.getPage(i).then(function (page) {
                            console.log('Page loaded');

                            var scale = 1.5;
                            var viewport = page.getViewport({ scale: scale });

                            var div = document.createElement("div");

                            // Set id attribute with page-#{pdf_page_number} format
                            div.setAttribute("id", "page-" + (page.pageIndex + 1));

                            // This will keep positions of child elements as per our needs
                            div.setAttribute("style", "position: relative");
                            div.setAttribute("class", "form-group content_margine");

                            // Append div within div#container
                            container2.appendChild(div);

                            // Create a new Canvas element
                            var canvas = document.createElement("canvas");

                            // Append Canvas within div#page-#{pdf_page_number}
                            div.appendChild(canvas);

                            var context = canvas.getContext('2d');
                            canvas.height = viewport.height;
                            canvas.width = viewport.width;

                            var renderContext = {
                                canvasContext: context,
                                viewport: viewport
                            };

                            // Render PDF page
                            var renderTask = page.render(renderContext);
                            renderTask.promise.then(function () {
                                console.log('Page rendered');
                            });
                        });
                    }
                }, function (reason) {
                    // PDF loading error
                    console.error(reason);
                });
            };
            fileReader.readAsArrayBuffer(file);
        } if (file.type == "image/jpeg" || file.type == "image/png") {
            $('#container2').empty();
            $("#user_investment").show();
            $("#pdfViewer").hide();
            imagesPreview(this, '#user_investment')
        }
        // $('.ui-dialog-buttonpane').find('button:contains("Submit")').button('enable');
        $('#Upload_btnUser').button('enable');
    } else {
        alert("File Size Should Not Be Grater than 500kb");
        $('#Upload_btnUser').button('disable');
        // $('.ui-dialog-buttonpane').find('button:contains("Submit")').button('disable');
    }





});

</script>