@{
    Layout = null;
}
@model P2b.Global.Country

<script type="text/javascript" src="~/Scripts/P2b_Scripts/jQuery.mbValidations.js"></script>
<style>
    .coun_popup-content-label {
        display: block;
        margin: 1px;
        float: left;
        width: 100px;
    }

    .coun_popup-content-textbox {
        margin-bottom: 1px;
        min-width: 59%;
    }

    .coun_row3 {
        width: 274px;
    }
</style>

<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmCountry" }))
    {
        <div class="coun_row3 content_margine">@Html.LabelFor(n => n.Code, "Code :", new { @class = "coun_popup-content-label must" })@Html.TextBoxFor(m => m.Code, new { @class = "coun_popup-content-textbox must", @maxlength = "10", id = "txtCountCode" })</div>
        <div class="coun_row3 content_margine">@Html.LabelFor(m => m.Name, "Name :", new { @class = "coun_popup-content-label must" })@Html.TextBoxFor(m => m.Name, new { @class = "coun_popup-content-textbox must", @maxlength = "30", id = "txtCountName" })</div>
        <div class="coun_row3 content_margine">@Html.LabelFor(m => m.CurrencyCode, "Currency Code :", new { @class = "coun_popup-content-label" })@Html.TextBoxFor(m => m.CurrencyCode, new { @class = "coun_popup-content-textbox", @maxlength = "10" })</div>
        <div class="coun_row3 content_margine">@Html.LabelFor(m => m.CurrencyDesc, "Currency Desc :", new { @class = "coun_popup-content-label" })@Html.TextBoxFor(m => m.CurrencyDesc, new { @class = "coun_popup-content-textbox", @maxlength = "20" })</div>
        <div class="coun_row3 content_margine">@Html.LabelFor(m => m.ISDCode, "Isd Code :", new { @class = "coun_popup-content-label" })@Html.TextBoxFor(m => m.ISDCode, new { @class = "coun_popup-content-textbox", @maxlength = "3" })</div>
    }
</div>
<script>
    $(document).ready(function () {
        //$('#txtCountCode').ForceOnlyAlphaNumeric();
        //$('#txtCountCode').MaxLength(10);
        //$('#txtCountName').MaxLength(30);
        //$('#CurrencyCode').ForceOnlyAlphaNumeric();
        ////$('#CurrencyCode').ForceOnlyNumeric();
        //$('#CurrencyCode').MaxLength(10);
        //$('#CurrencyDesc').MaxLength(20);
        //$('#ISDCode').MaxLength(3);
        //$('#ISDCode').ForceOnlyNumeric(3);

        $('#txtCountCode').ValidateTextBox({ maxlength: 10, name: true });
        $('#txtCountName').ValidateTextBox({ maxlength: 30, name: true });
        $('#CurrencyCode').ValidateTextBox({ maxlength: 10, name: true });
        $('#CurrencyDesc').ValidateTextBox({ maxlength: 30, name: true });
        $('#ISDCode').MaxLength(3);
        $('#ISDCode').ForceOnlyNumeric(3)



    });

</script>