@{
    Layout = null;
}
@model EssPortal.Models.FileModel
<style>
    .popup-content-label {
        width: 100px;
        display: block;
        float: left;
    }

    .row1 {
        width: 635px;
        display: inline-block;
    }

    .hide_textbox {
        display: none;
    }

    .container_div {
        border: 1px solid rgba(207, 207, 207, 0.91);
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .section1_Leave {
        display: block;
        border: 1.5px solid rgba(207, 207, 207, 0.91);
        height: 554px;
        width: 534px;
        margin: 4px auto;
        position: absolute;
    }

    .section2_Leave {
        display: block;
        border: 1px solid #ddd;
        height: 554px;
        width: 610px;
        margin: 5px 4px;
        position: absolute;
        left: 546px;
    }

    .heading {
        background: rgba(207, 207, 207, 0.91) none repeat scroll 0 0;
        color: #424242;
        display: block;
        font-size: 1em;
        font-weight: bold;
        height: 15px;
        margin: 3px auto;
        padding: 2px 0 1px 2px;
        width: 99%;
    }

    .hide-div {
        display: none;
    }

    .lv-label {
        width: 118px;
        font-size: 9px;
        padding: 1px;
        position: relative;
        float: left;
    }

    .lb-data {
        font-weight: bold;
        font-size: 11px;
        float: left;
    }


    .emp-history-link-class {
        color: #20b69c;
        padding: 1px 6px;
        font-weight: bold;
    }

        .emp-history-link-class:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    .popup-content-drop-icon-edit, .popup-content-drop-icon-create, .popup-content-drop-icon-lookup {
        height: 20px;
        margin: auto;
        /*position: absolute;*/
        width: 20px;
        left: 0px;
    }
    .imgdata {
        width: 100%;
        height: 100%;
    }

    .popup-content-textbox1{
        width:500px;
    }

   
</style>

<form id="LvNewReqGridPartial" name="LvNewReqGridPartial" method="post">
    <input type="hidden" name="Lvnewreqid_User" id="Lvnewreqid_User" value="" />
    <input type="hidden" name="Lvnewreqid_User_Empcode" id="Lvnewreqid_User_Empcode" value="" />
    <input type="text" class="hide_textbox" name="authority" id="authority" />
    <input type="text" class="hide_textbox" name="isClose" id="isClose" />
    <input type="text" class="hide_textbox" name="TrClosed" id="TrClosed" />
    <input type="text" class="hide_textbox" name="LvId" id="LvId" />

    <div class="section_Method" id="lv-div" style="display:block">
        <div class="heading">Employee Info </div>
        <div class="row1 content_margine">
            <label class="lv-label">Employee :</label>
            <div id="Employee" class="lb-data"></div>
            <input id="EmployeeId" style="display:none" />
            @*  <span data-p2bheadertooltip="Employee History" id="emp_history" href="#" class="emp-history-link-class Lv-details-class">History</span>*@
        </div>
        <div class="row1 content_margine">
            <label class="lv-label">Branch :</label>
            <div id="BranchId" class="lb-data"></div>
            @*  <span data-p2bheadertooltip="Employee History" id="emp_history" href="#" class="emp-history-link-class Lv-details-class">History</span>*@
        </div>
        <div class="row1 content_margine">
            <label class="lv-label">Department :</label>
            <div id="DeptId" class="lb-data"></div>
            @*  <span data-p2bheadertooltip="Employee History" id="emp_history" href="#" class="emp-history-link-class Lv-details-class">History</span>*@
        </div>
        <div class="row1 content_margine">
            <label class="lv-label">Designation :</label>
            <div id="DesignationId" class="lb-data"></div>
            @*  <span data-p2bheadertooltip="Employee History" id="emp_history" href="#" class="emp-history-link-class Lv-details-class">History</span>*@
        </div>
    </div>
    <div class="section_Method" id="lv-div" style="display:block">
        <div class="heading">Leave Details </div>
        <div class="row1 content_margine">
            <label class="lv-label">Leave Calendar :</label>
            <div id="lvcalendar" class="lb-data"></div>

        </div>
        <div class="row1 content_margine">
            <label class="lv-label">Leave Head :</label>
            <div id="lvhead" class="lb-data"></div>
        </div>
        <div class="row1 content_margine">
            <label class="lv-label">Leave Requisition Date :</label>
            <div id="lvReq_Date" class="lb-data"></div>
        </div>
        <div class="row1 content_margine">
            <label class="lv-label">Leave FromDate :</label>
            <div id="lvFromDate" class="lb-data"></div>
        </div>
        <div class="row1 content_margine">
            <label class="lv-label">Leave ToDate :</label>
            <div id="lvTodate" class="lb-data"></div>
            @*   <span data-p2bheadertooltip="On this period (between from date-to date),How Many Employee on Leave" id="emp_span_history" href="#" class="Lv-details-class emp-history-link-class">Span Leave Application</span>*@
        </div>
        <div class="row1 content_margine">
            <label class="lv-label">Leave Resume date :</label>
            <div id="lvResumedate" class="lb-data"></div>
        </div>
        <div class="row1 content_margine">
            <label class="lv-label">Leave DebitDays:</label>
            <div id="lvDebit_Days" class="lb-data"></div>
        </div>

     
        <div class="row1 content_margine">
            <label class="lv-label">Leave Occurrence :</label>
            <div id="lvOccurance" class="lb-data"></div>
        </div>
        <div class="row1 content_margine">
            <label class="lv-label">Leave Closing:</label>
            <div id="lvClosing" class="lb-data"></div>
        </div>
        <div class="row1 content_margine">
            <label class="lv-label">Leave FromStat:</label>
            <div id="lvFromStat" class="lb-data"></div>
        </div>
        <div class="row1 content_margine">
            <label class="lv-label">Leave ToStat:</label>
            <div id="lvTostat" class="lb-data"></div>
        </div>
        <div class="row1 content_margine">
            <label class="lv-label">Employee Contact NO:</label>
            <div id="lvEmpContactNO" class="lb-data"></div>
        </div>
        <div class="row1 content_margine">
            <label class="lv-label">Employee Reason:</label>
            <div id="lvReason" class="lb-data"></div>
        </div>
        <div class="row1 content_margine">
            <label class="lv-label">Incharge:</label>
            <div id="lvIncharge" class="lb-data"></div>
        </div>

        <div class="form-horizontal" id="Upload_Div"> 
            <div class="row3 content_margine" id="FileDownload_idUser">
                <label class="popup-content-label">Attached File :</label><input type="text" class="popup-content-textbox1" id="filepathiduser" width="500" /> <button id="Download_btnUser" name="Download_btnUser">View</button>
            </div>
           
        </div>

        <div class="row1 content_margine hide-div" id="SanctionReasonDiv">
            <label class="lv-label">Sanction Comment:</label>
            <div id="lvSanctionReason" class="lb-data"></div>
        </div>
        <br />
        <div class="row1 content_margine hide-div" id="RecomendationReasonDiv">
            <label class="lv-label">Recomendation Comment:</label>
            <div id="lvRecomendationReason" class="lb-data"></div>
        </div>

        <br />
        <div class="row1 content_margine hide-div" id="ApprovalReasonDiv">
            <label class="lv-label">Approval Comment:</label>
            <div id="lvApprovalReason" class="lb-data"></div>
        </div><br />
    </div>
    <div class="section_Method hide-div" id="MySelf-div">
        <div id="MySelfDiv">
            <div class="heading">MySelf Authority Views</div>
            <div id="yes_no_div" class="row1 content_margine">
                <label class="popup-content-label">
                    Is Cancel:
                </label>
                <div class="popup_radio_button">
                    <input type="radio" name="IsCancel" value="true" id="rdo5" /><label for="rdo5">Yes</label>
                    <input type="radio" name="IsCancel" id="rdo6" value="false" /><label for="rdo6">No</label>
                </div>
            </div>
            <div id="Reason_Div"  class="row1 content_margine">
                <label class="popup-content-label">Reason :</label>
                <input type="text" id="Grid-ReasonIsCancel" name="ReasonIsCancel" />
            </div>
        </div>
    </div>
    <div class="section_Method hide-div" id="Sanction-div">
        <div id="SanctionDiv">
            <div class="heading">Sanction Authority Views</div>
            <div id="yes_no_div" class="row1 content_margine">
                <label class="popup-content-label">
                    Sanction Status:
                </label>
                <div class="popup_radio_button">
                    <input type="radio" name="Sanction" value="true" id="rdo1" /><label for="rdo1">Yes</label>
                    <input type="radio" name="Sanction" id="rdo2" value="false" /><label for="rdo2">No</label>
                </div>
            </div>
            <div  class="row1 content_margine">
                <label class="popup-content-label must">Reason :</label>
                <input type="text" id="Grid-ReasonSanction" name="ReasonSanction" />
            </div>
            <div class="row1 content_margine" id="hidesanctionincharge">
                <label class="popup-content-label ">Incharge:</label>
                <input name="SantxtIncharge" type="text" id="SantxtIncharge" class="date-picker" style="width: 243px" />
                <input type="text" id="SanIncharge_id" name="SanIncharge_id" class="filter_structure_id" />
                <button data-p2btooltip="Lookup Incharge Name" class="popup-content-drop-icon-lookup" id="Sanlookup_Incharge"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>

            </div>

        </div>
    </div>
    <div class="section_Method hide-div" id="Recomendation-div">
        <div id="RecomendationDiv">
            <div class="heading">Recomendation Authority Views</div>
            <div id="yes_no_div" class="row1 content_margine">
                <label class="popup-content-label">
                    Recomendation Status:
                </label>
                <div class="popup_radio_button">
                    <input type="radio" name="Recomendation" value="true" id="rdo11" /><label for="rdo11">Yes</label>
                    <input type="radio" name="Recomendation" id="rdo12" value="false" /><label for="rdo12">No</label>
                </div>
            </div>
            <div class="row1 content_margine">
                <label class="popup-content-label must">Reason :</label>
                <input type="text" id="Grid-ReasonRecomendation" name="ReasonRecomendation" />
            </div>
            <div class="row1 content_margine" id="hiderecomendationincharge">
                <label class="popup-content-label ">Incharge:</label>
                <input name="RectxtIncharge" type="text" id="RectxtIncharge" class="date-picker" style="width: 243px" />
                <input type="text" id="RecIncharge_id" name="RecIncharge_id" class="filter_structure_id" />
                <button data-p2btooltip="Lookup Incharge Name" class="popup-content-drop-icon-lookup" id="Reclookup_Incharge"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>

            </div>
        </div>
    </div>

    <div class="Sanction_info" id="Sanction_info">
        <div class="heading">Sanction Authority</div>
        <div class="row1 content_margine">
            <label class="lv-label">Sanction Code :</label>
            <div id="lvSanctionCode" class="lb-data"></div>
        </div>
        <div class="row1 content_margine">
            <label class="lv-label">Sanction Emp Name :</label>
            <div id="lvSanctionEmpName" class="lb-data"></div>
        </div>
    </div>
    <div class="Recomendation_info" id="Recomendation_info">
        <div class="heading">Recomendation Authority</div>
        <div class="row1 content_margine">
            <label class="lv-label">Recomendation Code :</label>
            <div id="lvRecomendationCode" class="lb-data"></div>
        </div>
        <div class="row1 content_margine">
            <label class="lv-label">Recomendation Emp Name :</label>
            <div id="lvRecomendationEmpName" class="lb-data"></div>
        </div>
    </div>

    <div class="section_Method hide-div" id="Approval-div">
        <div id="ApprovalDiv" class="row1 content_margine">
            <div class="heading">Approval Authority View</div>
            <label class="popup-content-label">
                Approval Status:
            </label>
            <div class="popup_radio_button">
                <input type="radio" name="Approval" value="true" id="rdo3" /><label for="rdo3">Yes</label>
                <input type="radio" name="Approval" id="rdo4" value="false" /><label for="rdo4">No</label>
            </div>
            <div class="row1 content_margine">
                <label class="popup-content-label must">Reason :</label>
                <input type="text" id="Grid-ReasonApproval" name="ReasonApproval" />
            </div>
            <div class="row1 content_margine" id="hideapprovalincharge">
                <label class="popup-content-label ">Incharge:</label>
                <input name="ApptxtIncharge" type="text" id="ApptxtIncharge" class="date-picker" style="width: 243px" />
                <input type="text" id="AppIncharge_id" name="AppIncharge_id" class="filter_structure_id" />
                <button data-p2btooltip="Lookup Incharge Name" class="popup-content-drop-icon-lookup" id="Applookup_Incharge"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>

            </div>

        </div>
    </div>
    

    <div class="dialog">
        <div title="LookUp Data">
            <div class="lookupdiv" id="lookup"></div>
        </div>
        <div id="pageNavPosition">
        </div>
    </div>
</form>
<script>
    $(document).ready(function (e) {
        $.get('@Url.Action("Checkvisiblebtn", "Login")', function (data, status) {
            data.split('_').forEach(function (item) {
                $("#" + item).hide();
            });
        });
        $('.popup_radio_button').buttonset();
        $('#filepathiduser').attr('disabled', 'disabled');
        console.log($('#TrClosed').val());
        if ($.LocalStorageHelper.Get("Whois").toUpperCase() == "SANCTION".toUpperCase()) {
            $('#Sanction-div').show();
            $('#SanctionReasonDiv,#ApprovalReasonDiv,#RecomendationReasonDiv').hide();
            $('#authority').val($.LocalStorageHelper.Get("Whois"));

          

        } else {
            $('#Sanction-div').hide();
        }

      

        if ($.LocalStorageHelper.Get("Whois").toUpperCase() == "RECOMMENDATION".toUpperCase()) {
            $('#Recomendation-div').show();
            $('#authority').val($.LocalStorageHelper.Get("Whois"));
        } else {
            $('#Recomendation-div').hide();
        }
        if ($.LocalStorageHelper.Get("Whois").toUpperCase() == "Approval".toUpperCase()) {
            $('#Approval-div,#SanctionReasonDiv,#RecomendationReasonDiv').show();
            $('#ApprovalReasonDiv,#RecomendationReasonDiv').hide();
            $('#authority').val($.LocalStorageHelper.Get("Whois"));
        } else {
            $('#Approval-div').hide();
        }

        if ($.LocalStorageHelper.Get("Whois").toUpperCase() == "HR".toUpperCase()) {
            $('#HR-div').show();

            $('#authority').val($.LocalStorageHelper.Get("Whois"));
        } else {
            $('#HR-div').hide();
        }
        if ($.LocalStorageHelper.Get("Whois").toUpperCase() == "Viewer".toUpperCase()) {
            //   $('#HR-div').show();
        } else {
            // $('#HR-div').hide();
        }
        //if ($.LocalStorageHelper.Get("Whois").toUpperCase() == "MYSELF".toUpperCase()) {
        //} else {
        //}
        //} else {
        //    $('#HR-div').hide(); $('#Approval-div').hide(); $('#ReComandtion-div').hide(); $('#Sanction-div').hide();
        //}

        if ($.LocalStorageHelper.Get("Whois").toUpperCase() == "MYSELF") {
            $('#MySelf-div').show();
            $('#MySelf-div').removeAttr("style");
            $('#MySelf-div').removeClass("hide-div");
            $('#SanctionReasonDiv,#ApprovalReasonDiv,#RecomendationReasonDiv').show();
            // $('#MySelfReasonDiv,#ApprovalReasonDiv').hide();
            $('#authority').val($.LocalStorageHelper.Get("Whois"));
        } else {
            // $('#Sanction-div').hide();
        }
        //if ($.LocalStorageHelper.Get("Whois").toUpperCase() == "MySelf".toUpperCase()) {
        //    $('#MySelf-div').hide();
        //    $('.Lv-details-class').hide();
        //}
        $('#emp_history').on('click', function () {
            $("<div></div>").PartialCreateDialog({
                height: '500',
                width: '1000',
                form: null,
                title: "Employee Lv History",
                htmlurl: "@Url.Action("Emp_Leave_History_Partial", "elms")",
                state: "open",
                mode: "view",

            });
        });
        $('#emp_span_history').on('click', function () {
            $("<div></div>").PartialCreateDialog({
                height: '500',
                width: '1000',
                form: null,
                title: "Employee Lv History",
                htmlurl: "@Url.Action("Emp_Leave_Span_History_Partial", "elms")",
                state: "open",
                mode: "view",

            });
        });
    });
    $('#filepathid').attr('disabled', 'disabled');


    $('#Sanlookup_Incharge').on('click', function (e) {
        var emp = $('#Employee').text().split(" ");
       
        $('.dialog').AddDataToTextbox({
            appendTo: "#SantxtIncharge",
            appendToId: "#SanIncharge_id",
            lookupurl: "@Url.Action("GetLookupIncharge", "ELMS")?data=" + emp[0],
            NoOfRecordToShow: "10",
            setnameofthelookupbyppage: "txtIncharge_FName-lookup",
            lookupdiv: "lookupdiv",
            lookuppagename: "lookup",
            pagename: "pageNavPosition",
            readonly: true,
            height : 200,
        });
        e.preventDefault();
    });

    $('#Reclookup_Incharge').on('click', function (e) {
        var empr = $('#Employee').text().split(" ");
        $('.dialog').AddDataToTextbox({
            appendTo: "#RectxtIncharge",
            appendToId: "#RecIncharge_id",
            lookupurl: "@Url.Action("GetLookupIncharge", "ELMS")?data=" + empr[0],
            NoOfRecordToShow: "10",
        setnameofthelookupbyppage: "txtIncharge_FName-lookup",
        lookupdiv: "lookupdiv",
        lookuppagename: "lookup",
        pagename: "pageNavPosition",
        readonly: true,
        });
    e.preventDefault();
    });

    $('#Applookup_Incharge').on('click', function (e) {
        var empa = $('#Employee').text().split(" ");
        $('.dialog').AddDataToTextbox({
            appendTo: "#ApptxtIncharge",
            appendToId: "#AppIncharge_id",
            lookupurl: "@Url.Action("GetLookupIncharge", "ELMS")?data=" + empa[0],
            NoOfRecordToShow: "10",
        setnameofthelookupbyppage: "txtIncharge_FName-lookup",
        lookupdiv: "lookupdiv",
        lookuppagename: "lookup",
        pagename: "pageNavPosition",
        readonly: true,
        });
    e.preventDefault();
    });


    $('#Upload_btnUser').button().on("click", function (event) {
        debugger;
        var vidFileLength = $("#files")[0].files.length;
        if (vidFileLength === 0) {
            alert("No file selected.");
            return false;
        }
        var form = $("#LvNewReqGridPartial").serialize();
        var tempExcel = new FormData($("#LvNewReqGridPartial")[0]);
        $.post({
            url: "@Url.Action("LeaveCertificateUpload", "ELMS")",
            data: tempExcel,
            datatype: "json",
            method: "POST",
            data: tempExcel,
            cache: false,
            processData: false,
            contentType: false,
            enctype: 'multipart/form-data',
            processData: false,
            success: function (data) {
                if (data.success) {
                    alert("File Upload Successfully");
                    jQuery('.ui-dialog').remove();
                    $('#FileDownload_idUser').hide();
                    return false;
                }
                else {
                    alert(data.responseText);
                }
            },
            complete: function (data) {
                //$('#lblloader').hide();
            }
        });
        event.preventDefault();
    });
    $('#Download_btnUser').button().on("click", function (event) {
        debugger;
        var filepath = $('#filepathiduser').val();
        if (filepath != null) {
            $.post("@Url.Action("CheckUploadFile", "ELMS")?filepath=" + filepath, function (data) {
                var ext = data.fileextension.toUpperCase();
                // debugger;
                if (data.success == false) {

                    alert("File Not Found");
                    return false;
                } else if (ext == ".PDF") {
                    window.location = "@Url.Action("GetCompImage", "ELMS")?data=" + filepath;
                }
                else {
                    $('<div></div>').PartialCreateDialog({
                        height: '500',
                        width: '500',
                        form: "#frmImageviewer",
                        title: "Image Viewer",
                        htmlurl: "@Url.Action("Imageviewr", "ELMS")",
                        state: "open",
                        mode: "View",
                        editurl: "@Url.Action("GetCompImage", "ELMS")",
                        editdata: filepath,
                        forwarddata: filepath,
                        returndatafunction: function (data) {
                            if (ext == ".PDF") {
                                $("#pdfload").attr('src', "data:application/pdf;base64," + data + "");
                            }
                            else if (ext == ".PNG") {
                                $("#dashboard-Investment-viewer").attr('src', "data:image/png;base64," + data + "");
                            } else if (ext == ".JPG") {
                                $("#dashboard-Investment-viewer").attr('src', "data:image/jpg;base64," + data + "");
                            } else if (ext == ".JPEG") {
                                $("#dashboard-Investment-viewer").attr('src', "data:image/jpeg;base64," + data + "");
                            } else {
                                alert("First Upload the File");
                            }
                        }
                    });
                }
            });
        }
        event.preventDefault();
    });
    var imagesPreview = function (input, placeToInsertImagePreview) {
        debugger;
        if (input.files) {
            var filesAmount = input.files.length;
            $(placeToInsertImagePreview).empty();
            for (i = 0; i < filesAmount; i++) {
                var reader = new FileReader();

                reader.onload = function (event) {
                    $($.parseHTML('<img class="imgdata">')).attr('src', event.target.result).appendTo(placeToInsertImagePreview);
                }

                reader.readAsDataURL(input.files[i]);
            }
        }

    };
    // Loaded via <script> tag, create shortcut to access PDF.js exports.
    var pdfjsLib = window['pdfjs-dist/build/pdf'];
    $("#files").on("change", function (e) {
        debugger;
        var file = e.target.files[0]
        var filesize = e.target.files[0].size;
        var maxfilesize = 500000;//500kb
        if (filesize <= maxfilesize) {
            if (file.type == "application/pdf") {
                $('#container2').empty();
                $("#user_investment").hide();
                $("#pdfViewer").show();
                var fileReader = new FileReader();
                fileReader.onload = function () {
                    var pdfData = new Uint8Array(this.result);
                    // Using DocumentInitParameters object to load binary data.
                    var loadingTask = pdfjsLib.getDocument({ data: pdfData });
                    loadingTask.promise.then(function (pdf) {
                        console.log('PDF loaded');

                        // Fetch the first page
                        // var pageNumber = 1;
                        //var container = document.getElementById("container")
                        for (var i = 1; i <= pdf.numPages; i++) {
                            pdf.getPage(i).then(function (page) {
                                console.log('Page loaded');

                                var scale = 1.5;
                                var viewport = page.getViewport({ scale: scale });

                                var div = document.createElement("div");

                                // Set id attribute with page-#{pdf_page_number} format
                                div.setAttribute("id", "page-" + (page.pageIndex + 1));

                                // This will keep positions of child elements as per our needs
                                div.setAttribute("style", "position: relative");
                                div.setAttribute("class", "form-group content_margine");

                                // Append div within div#container
                                container2.appendChild(div);

                                // Create a new Canvas element
                                var canvas = document.createElement("canvas");

                                // Append Canvas within div#page-#{pdf_page_number}
                                div.appendChild(canvas);

                                var context = canvas.getContext('2d');
                                canvas.height = viewport.height;
                                canvas.width = viewport.width;

                                var renderContext = {
                                    canvasContext: context,
                                    viewport: viewport
                                };

                                // Render PDF page
                                var renderTask = page.render(renderContext);
                                renderTask.promise.then(function () {
                                    console.log('Page rendered');
                                });
                            });
                        }
                    }, function (reason) {
                        // PDF loading error
                        console.error(reason);
                    });
                };
                fileReader.readAsArrayBuffer(file);
            } if (file.type == "image/jpeg" || file.type == "image/png") {
                $('#container2').empty();
                $("#user_investment").show();
                $("#pdfViewer").hide();
                imagesPreview(this, '#user_investment')
            }
           // $('.ui-dialog-buttonpane').find('button:contains("Submit")').button('enable');
            $('#Upload_btnUser').button('enable');
        } else {
            alert("File Size Should Not Be Grater than 500kb");
            $('#Upload_btnUser').button('disable');
           // $('.ui-dialog-buttonpane').find('button:contains("Submit")').button('disable');
        }
    });

</script>
