@{
    Layout = null;
}
@model Appraisal.BA_Category

<style>
    #lvdata {
        float: right;
    }

    .icon-row {
        position: relative;
        left: 70px;
        top: -150px;
    }

    #BusinessType-button {
        font-size: 9px;
        padding-top: 1px;
        font-weight: bold;
    }

    .popup-content-label {
        display: block;
        float: left;
        width: 122px;
    }

    .popup-content-textbox {
        margin-bottom: 1px;
        min-width: 222px;
    }

    .row3 {
        /*! width: 600px; */
    }

    .row4 {
        position: absolute;
        top: 294px;
        width: 400px;
    }

    .popup-content-textbox-long {
        margin-bottom: 1px;
        width: 290px;
    }

    .row5 {
        width: 282px;
        display: inline-flex;
    }

    .row2 {
        width: 250px;
        display: inline-block;
        /*! margin-left: -89px; */
        position: absolute;
        left: 191px;
        top: 137px;
    }

    .loader {
        width: 299px;
        /*! display: inline-flex; */
        /*! margin-left: -89px; */
    }

    .addwidth {
        width: 453px;
        height: 58px;
    }

    #process {
        top: 29px;
        left: 76px;
    }

    .section_Method {
        border: 1px solid rgba(207, 207, 207, 0.91);
        border-radius: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .transactiontablenew {
        border: 1px solid #c5c5c5;
        /*! margin: 0 auto; */
        width: 379px;
        display: block;
        overflow: auto;
        height: 500px;
        border-collapse: collapse;
    }

    .transactiondivnew {
        border: 1px solid #c5c5c5;
        margin: 0 auto;
        /*! width: 507px; */
        border-radius: 5px;
        height: 100%;
    }

        .transactiondivnew > div {
            display: inline-block;
            margin: 0 auto;
            padding: 4px;
        }

            .transactiondivnew > div > input {
                box-sizing: initial;
                display: inline-block;
                margin: 0 auto;
                width: 108px;
            }

    .transactiontablenew th, .transactiontablenew td {
        background: rgba(246, 246, 246, 0.64) none repeat scroll 0 0;
        padding: 5px;
        border-bottom: 1px solid #c5c5c5;
        border-right: 1px solid #c5c5c5;
        text-align: left;
        color: rgba(114, 113, 113, 0.9);
    }

        .transactiontablenew th:nth-child(1) > input, .transactiontablenew td:nth-child(1) > input {
            margin: 0 auto;
        }

        .transactiontablenew th:nth-child(2), .transactiontablenew td:nth-child(2) {
            height: 100%;
            width: 100%;
        }

    .transactiontablenew tr:hover {
        cursor: pointer;
        background: #EEEEEE none repeat scroll 0 0;
    }

    .section1_Leave {
        display: block;
        border: 1.5px solid rgba(207, 207, 207, 0.91);
        height: 554px;
        /*! width: 511px; */
        margin: 4px auto;
        position: absolute;
    }

    .section2_Leave {
        display: block;
        border: 1px solid #ddd;
        height: 502px;
        width: 68%;
        /*! margin: 5px 4px; */
        position: absolute;
    }

    .section3_Leave {
        display: block;
        border: 1px solid #ddd;
        /*! height: 502px; */
        width: 369px;
        /*! margin: 5px 4px; */
        /*! position: absolute; */
        /*! left: 842px; */
        /*! top: 91px; */
        float: right;
    }

    #monthTable {
        /*font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;*/
        border-collapse: collapse;
        width: 100%;
    }

        #monthTable td, #monthTable th {
            border: 1px solid #ddd;
            padding: 8px;
        }

    .monthTable-selected {
        color: #8e6d87;
        font-weight: bold;
    }
    /*#monthTable tr:nth-child(even) {
            background-color: #f2f2f2;
        }*/

    #monthTable tr:hover {
        background-color: #ddd;
    }

    #monthTable th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #009282;
        color: white;
    }

    .weeklyoffclass {
        background-color: #e8fefa;
    }

    .holidayclass {
        background-color: #e8f3f1;
    }
</style>
<script>
    $(document).ready(function () {
        $('button').button();
        $('#stperiod').P2BDatePicker();
        $('#enperiod').P2BDatePicker();
        $('#erperiod').P2BDatePicker();
        $('#fny').P2BDatePicker();
        $('#EmpAppraisal_id').val("@Request.RequestContext.HttpContext.Session["TempEmpId"]");
        // $.LoadEmpByDefault();
        //$('#employee-table').P2BTransactionTableDynamic('#employee-search', '#case-employee', 'Appraisal/Get_Employelist?geo_id=', "", "");
        // $('#create_dialog1').P2BCreateDialog();
        @*$('#create').on("click", function (event) {
            $('#frmEmpTimingMonthlyRoaster').trigger("reset");
            $('#create_dialog').P2BCreateDialog('', '', '', '', 'Create EmpTimingMonthlyRoaster', 'open', '@Url.Action("Create","EmpTimingRoasterTiming")', '#frmEmpTimingMonthlyRoaster', 'Message :', 'Request Falied :', '#jqgrid', 500, 1200, '#TimingMonthlyRoasterlist', "", function (data) { });
            //     $('#DayTypelist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 203, ""); // To bind dropdown on page load
            event.preventDefault();
        });*@
        // $('#InTime').P2BTimePicker();
        $('.popup_radio_button').buttonset();
        @*$.get("@Url.Action("getCalendar", "TrainingNeedRequest")", function (data) {
            $('#Recruitment_Calendar').val(data.Lvcalendardesc);
        });*@
        // $('.defult-time').P2BTimePicker();
        // $('.date').MonthYearPicker();
        //$('#DayTypelist').selectmenu().selectmenu("menuWidget");
        //$('#employee-table').on('click', 'input:checkbox:gt(0)', function (e) {
        //    if (this.checked) {
        //        $('#Emp_id').val($(this).val());
        //    } else {
        //        $('#Emp_id').val("");

        //    }
        $.get("@Url.Action("GetEmployeeProgrameList", "Appraisal")", function (data) {
            var tr = "";
            var index = 1;
            var tempclass = "";
            $('#monthTable tr:gt(0)').remove();
            var intimeval = $('#default_time').val();
            console.log(data.data);
            debugger;
            if (data.status == true) {
                $.each(data.data, function (l, k) {
                    tr += "<tr class='" + tempclass + "' id='" + index + "'><td>" + index + "</td><td>" + k.ID + "</td><td>" + k.EmpEvaluationId + "</td><td>" + k.CatName + "</td><td>" + k.SubCatName + "</td><td>" + k.MaxRatingPoints + "</td><td>" + k.RatingPoints + "</td><td>" + k.Comments + "</td></tr>";
                    index++;
                    tempclass = "";
                });
            }
            //if (data.status == 1 || data.status != true) {
            //    $('<div></div>').P2BMessageModalDialog('ui-icon-alert', "Appraisal Is Not Publish!");
            //    return false;
            //}
            //if (data.status == 0 && data.status != true) {
            //    $('<div></div>').P2BMessageModalDialog('ui-icon-alert', "Appraisal Publish Span Period Is Complete!");
            //    return false;
            //}
            $('#monthTable tr:last').after(tr);
        });

        @*$('#btnLoad').on('click', function (e) {
            $.get({
                url: "@Url.Action("GetEmployeeProgrameList", "TrainingNeedRequest")",
                data: { employeeids: "", RecruitCalendarid: $('#Recruitment_Calendar').val() },
                success: function (data) {
                    var tr = "";
                    var index = 1;
                    var tempclass = "";
                    $('#monthTable tr:gt(0)').remove();
                    var intimeval = $('#default_time').val();
                    console.log(data.data);
                    console.log("Employeeappraisal");
                    $.each(data.data, function (i, k) {
                        tr += "<tr class='" + tempclass + "' id='" + index + "'><td>" + index + "</td><td>" + k.Id + "</td><td>" + k.StartDate + "</td><td>" + k.EndDate + "</td><td>" + k.ProgramName + "</td><td>" + k.Comment + "</td></tr>";
                        index++;
                        tempclass = "";
                    });
                    $('#monthTable tr:last').after(tr);
                }
            });

        });*@
        $.LocalStorageHelper.Set('FormTrainingNeedData', "");
        $('#monthTable').on('click', 'tr:gt(0)', function (e) {
            var target = $(e.target).parent('tr');
            target.toggleClass('monthTable-selected');
            $('#monthTable tr:gt(0)').not(target).removeClass('monthTable-selected');
            //  var sno = target.attr('id');
            $('#sr_no').focus();
            var input = $('#frm_edit_form input[type="text"],#frm_edit_form select').toArray();
            target.children().each(function (i, k) {
                if (input[i].type == "select-one") {
                    $(input[i]).val($(k).text()).selectmenu("refresh");
                } else {
                    $(input[i]).val($(k).text());
                }
            });
            e.preventDefault();
        });
        $('#sub_form').on('click', function (e) {
            var table_sr_no = $('#sr_no').val();
            var target = $('#monthTable tr#' + table_sr_no).children();
            var input = $('#frm_edit_form input[type="text"],#frm_edit_form select').toArray();
            target.each(function (i, k) {
                $(k).text($(input[i]).val());
            });

            var formjson = [];
            var tr = [];
            tr = $('#monthTable tr:gt(0)').toArray();
            if (tr.length == 0) {
                tr = $('#monthTable tr:gt(0)').toArray();
            }
            console.log(tr);
            $.each(tr, function (i, k) {
                var childs = $(k).children().toArray();
                formjson.push({
                    "Id": $(childs[1]).text(),
                    "EmpAppEvaluationId": $(childs[2]).text(),
                    "MaxPoint": $(childs[5]).text(),
                    "RatingPoints": $(childs[6]).text(),
                    "Comments": $(childs[7]).text(),
                });
            });
            var dataform = JSON.stringify(formjson);
            $.LocalStorageHelper.Set('FormTrainingNeedData', dataform);
        });
        @*$('#create_roaster').on('click', function (event) {

            var formjson = [];
            var tr = [];
            tr = $('#monthTable tr:gt(0)').toArray();
            if (tr.length == 0) {
                tr = $('#monthTable tr:gt(0)').toArray();
            }
            console.log(tr);
            $.each(tr, function (i, k) {
                var childs = $(k).children().toArray();
                formjson.push({
                    "SNo": $(childs[0]).text(),
                    "Id": $(childs[1]).text(),
                    "CategoryName": $(childs[2]).text(),
                    "SubCategoryName": $(childs[3]).text(),
                    "MaxPoint": $(childs[4]).text(),
                    "RatingPoint": $(childs[5]).text(),
                    "Comment": $(childs[6]).text(),
                });
            });
            $.ajax({
                url: "@Url.Action("CreateRoaster", "Appraisal")",
                method: "POST",
                cache: false,
                contentType: 'application/json',
                datatype: 'json',
                data: JSON.stringify({ data: formjson, EmpId: $('#Emp_id').val() }),
                success: function (data) {
                    debugger;
                    if (data.status = true) {
                        $('<div></div>').P2BMessageModalDialog('ui-icon-alert', "Data Saved Successfully");
                        return false;
                    }
                }
            });
            event.preventDefault();
        });*@
    });
</script>

<body>
    <div id="create_dialog1" title="Create TrainingNeed Request">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "TargetHistoryFormReqPartial", name = "TargetHistoryFormReqPartial" }))
        {
            <input id="autho_action" type="hidden" name="autho_action" />
            <input id="EmpAppraisal_id" class="filter_structure_id" name="EmpAppraisal_id" />
            <div>
                <table id="monthTable">
                    <tr><th>Category</th><th>SubCategory</th><th>Amount Target</th><th>Account Target</th><th>Compliance Target</th><th>Achievement Amount</th><th>Achievement Account</th><th>Achievement Compliance</th><th>Short Amount</th><th>Short Account</th><th>Short Compliance</th><th>Narration</th></tr>
                </table>
            </div>

        }

    </div>
</body>


