@{
    Layout = null;
}
@model Payroll.TicketBookingRequest

<style>
    .icon-row {
        position: relative;
        left: 84px;
        top: -150px;
    }

    #BusinessType-button {
        font-size: 9px;
        padding-top: 1px;
        font-weight: bold;
    }

    .popup-content-label {
        display: block;
        float: left;
        width: 130px;
    }

    .popup-content-textbox {
        margin-bottom: 1px;
        min-width: 150px;
    }

    .popup-content-textbox1 {
        margin-left: 7px;
        float: right;
        min-width: 150px;
        top: 221px;
        position: absolute;
    }

    .row3 {
        width: 626px;
    }

    .row4 {
        position: absolute;
        top: 294px;
        width: 400px;
    }

    .popup-content-textbox-long {
        margin-bottom: 1px;
        width: 290px;
    }


    .row2 {
        width: 402px;
    }

    .section_Method {
        border: 1px solid rgba(207, 207, 207, 0.91);
        border-radius: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .process_btn {
        float: right;
    }

    .section2_Leave {
        width: 401px;
    }

    #lvdata {
        display: block;
        float: right;
    }

    .add_icon-row {
        position: relative;
        left: -20px;
        top: -46px;
    }

    .hide_textbox {
        display: none;
    }
</style>
<html>

<head>
    <title></title>
    <script>
        $(document).ready(function (e) {
            @*var dataemp = $('#Emp').val("@Request.RequestContext.HttpContext.Session["TempEmpId"]");*@

            $('button').button();

            $('.popup_radio_button').buttonset();
            $('#autho').makeDisable('#create,#edit,#delete');
            $('.drop').selectmenu().selectmenu('menuWidget');
            $('#EmpLvnereq_Id').val("@Request.RequestContext.HttpContext.Session["TempEmpId"]");
            $('#Categorylist').selectmenu().selectmenu("menuWidget");
            $('#CountryList').selectmenu().selectmenu("menuWidget");
            $('#StateList').selectmenu().selectmenu("menuWidget");
            $('#CityList').selectmenu().selectmenu("menuWidget");
            $('#Type_Nomines').selectmenu().selectmenu("menuWidget");

            $('#Categorylist1').selectmenu().selectmenu("menuWidget");
            $('#autho').onClickGrid('#jqgrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');
            // $('#NoOfRooms').ForceAmount().MaxLength(10);
            //$('#NoOfRooms').attr("value", "0");
            //$('#TotFamilyMembers').attr("value", "0");
            //$('#TotalAdults').attr("value", "0");
            //$('#TotalChild').attr("value", "0");
            //$('#TotalInfant').attr("value", "0");
            //$('#TotalSrCitizen').attr("value", "0");
            //$('#RatePerDay').attr("value", "0");
            //$('#StdDiscount').attr("value", "0");
            //$('#Taxes').attr("value", "0");
            //$('#BillAmount').attr("value", "0");

            //$('#Eligible_BillAmount').attr("value", "0");



            var btndisablenames = "#edit-Address-BenefitNominees,#remove-HotelEligibilityPolicy,#edit-ContactDetails-BenefitNominees,#remove-ContactDetails-BenefitNominees";
            $("#handicapRemarkdiv").fadeOut();
            $('#lvexcludeleavediv').fadeOut();




            function AssignData() {
                dt = $('#jqgrid').P2BGrid.P2BEdDelV('#jqgrid', 'Id');

            }

            $('#DateofBirth').P2BDatePicker();
            $('#StartDate').P2BDatePicker();
            $('#EndDate').P2BDatePicker();

            function DateConvert(JsonDate) {
                var date = new Date(parseInt(JsonDate.substr(6)));
                var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
                return displayDate;
            };

            /******************************** "Journey Details Lookup All Buttons Clicked:" ****************************/


            $('#lookup-JourneyDetails-LTCSettlementClaim').on('click', function (event) {
                //  alert("Clickedd");
                // var a = "@Request.RequestContext.HttpContext.Session["TempEmpId"]";
                // alert("Clickedd : " + a);
                $('.dialog').P2BLookUpModal('@Url.Action("GetJourneyLKDetails", "TicketBookingRequest")', '', 'lookupdiv', 'Family Look Up Data', '#JourneyDetailsList', 'JourneyDetailsList', 5, 'JourneyDetailsList', '#frmTicketbookingrequest', 'N', '#remove-JourneyDetails-LTCSettlementClaim', 'lookup_table', 'pageNavPosition');
                event.preventDefault();
            });


            $('<div></div>').P2BPartialCreateModalDialog();
            $('#create-JourneyDetails-LTCSettlementClaim').button().on("click", function (event) {
                var a = ("@Request.RequestContext.HttpContext.Session["TempEmpId"]");
                //alert("hh...");
                $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial_JourneyDetails", "TicketBookingRequest")', 'Create JourneyDetails Master', 'open', '@Url.Action("Create", "TicketBookingRequest")', '#frmJourneyDetailsPartial', 'Message :', 'Request Falied :', '#jqgrid', 600, 600, '', '', '', '#frmTicketbookingrequest', '', function (data) {
                    $('#JourneyDetailsList').P2BLookUpEncapsulate('#JourneyDetailsList', 'JourneyDetailsList', data[0], data[1], 'JourneyDetailsList', '#edit-JourneyDetails-LTCSettlementClaim,#remove-JourneyDetails-LTCSettlementClaim', 'N');
                    $('#TravelModeEligibilityPolicylist').P2BSelectMenuAppend("@Url.Action("TravelModeEligibilityPolicylistd", "LTCSettlementClaim")", a.toString(), "");
                });

                event.preventDefault();
            });


            $('#remove-JourneyDetails-LTCSettlementClaim').button().on('click', function (event) {
                var a = [], b;
                a = $('#JourneyDetailsList').P2BGetTableDataonSelectedRow('#JourneyDetailsList', 0);
                //      alert("remove lookup : "+a);
                b = a[0];
                //alert("remove lookup b val: " + b);
                $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#JourneyDetailsList', $('#JourneyDetailsList').val(), 200, 200, '##frmTicketbookingrequest', '#JourneyDetailsList', '#remove-JourneyDetails-LTCSettlementClaim');
                event.preventDefault();
            });


            /*----------------------------------------------------------------------------------*/

            $('<div></div>').P2BPartialCreateModalDialog();
            $('#create-NomineeName-BenefitNominees').button().on("click", function (event) {
                // alert("hh...");
                var a = "@Request.RequestContext.HttpContext.Session["TempEmpId"]";
                if (a.val == "" || a.length == 0) {
                    alert("Please select Employee");
                    return false;
                }

                $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("GridPartial", "EmployeeFamilyDetails")', 'Create Family Name', 'open', '@Url.Action("GridCreate", "EmployeeFamilyDetails")?Empid=' + a, '#frmBenefitNominees', 'Message :', 'Request Falied :', '#jqgrid', 400, 500, '', '', '', '#frmHotelBookingReq', '', function (data) {
                    //  alert("hhhhhhhhhhhh...");
                    $('#NomineeNamelist').P2BLookUpEncapsulate('#NomineeNamelist', 'NomineeNamelist', data[0], data[1], 'NomineeNamelist', '#edit-NomineeName-BenefitNominees,#remove-NomineeName-BenefitNominees', 'N');
                    $('#Categorylist1').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 107, "");

                });

                event.preventDefault();
            });

            $('#remove-NomineeName-BenefitNominees').button().on('click', function (event) {
                var a = [], b;

                a = $('#NomineeNamelist').P2BGetTableDataonSelectedRow('#NomineeNamelist', 0);
                //      alert("remove lookup : "+a);
                b = a[0];
                //alert("remove lookup b val: " + b);
                $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#NomineeNamelist', $('#NomineeNamelist').val(), 200, 200, '#frmHotelBookNewReqonSanction', '#NomineeNamelist', '#remove-NomineeName-BenefitNominees');
                event.preventDefault();
            });

            $('<div></div>').P2BPartialCreateModalDialog();




            $('#lookup-NomineeName-BenefitNominees').on('click', function (event) {
                var a = "@Request.RequestContext.HttpContext.Session["TempEmpId"]";
                if (a.val == "" || a.length == 0) {
                    alert("Please select Employee");
                    return false;
                }
                $('.dialog').P2BLookUpModal('@Url.Action("GetLookupFamilyName", "EmployeeFamilyDetails")?Empid=' + a, '', 'lookupdiv', 'Family Look Up Data', '#NomineeNamelist', 'NomineeNamelist', 5, 'NomineeNamelist', '#frmHotelBookingReq', 'A', '#edit-NomineeName-BenefitNominees,#remove-NomineeName-BenefitNominees', 'lookup_table', 'pageNavPosition');
                event.preventDefault();
            });



            $('#edit-NomineeName-BenefitNominees').button().on("click", function (event) {
                var a = [], b;
                a = $('#NomineeNamelist').P2BGetTableDataonSelectedRow('#NomineeNamelist', 0);
                b = a[0];
                console.log(b);
                $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "NameSingle")', '@Url.Action("edit", "NameSingle")', b, '@Url.Action("EditSave", "NameSingle")', 'Edit  Details', '#frmNameSingle', b, 'Message :', 'Request Falied :', '#jqgrid', 400, 500, '#frmHolidaybookingrequest', '#NomineeNamelist', 'NomineeNamelist', 'NomineeNamelist', 'N', '#edit-NomineeName-BenefitNominees,#remove-NomineeName-BenefitNominees', function (data) {
                    // setTimeout(function () {
                    var k = data;
                    $('#frmnameSingle').trigger("reset");
                    $('#FName').val(k.FName);
                    $('#MName').val(k.MName);
                    $('#LName').val(k.LName);

                    $('#title').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 100, k.EmpTitle);


                    // }, 3000);
                });
                event.preventDefault();
            });



            $('#lookup-CandidateDocuments-Candidate').button().on('click', function (e) {
                $('.dialog').P2BLookUpModal('@Url.Action("GetCandDocsLKDetails", "EmployeeDocuments")', '', 'lookupdiv', 'Employee Document Look Up Data', '#CandidateDocumentslist', 'CandidateDocumentslist', 5, 'CandidateDocumentslist', '#frmCandidate', 'N', '#remove-CandidateDocuments-Candidate', 'CandidateDocumentslist_table', 'pageNavPosition');
                e.preventDefault();
            });

            $('<div></div>').P2BPartialCreateModalDialog();
            $('#create-CandidateDocuments-Candidate').on("click", function (event) {
                @*$('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "EmployeeDocuments")', 'Create Employee Documents', 'open', '@Url.Action("Create", "EmployeeDocuments")', '#frmCandidateDocs', 'Message :', 'Request Failed :', '#jqgrid', 400, 500, '', '', '', '#frmCandidate', '', function (data) {
                $('#CandidateDocumentslist').P2BLookUpEncapsulate('#CandidateDocumentslist', 'CandidateDocumentslist', data[0], data[1], 'CandidateDocumentslist', '', 'N');
            });*@

                var a = $('#EmpCode').val();

                $('<div></div>').P2BConfidentialModelDialog({
                    htmlurl: "@Url.Action("Partial__EmployeeDocuments", "EmployeeDocuments")",
                    submiturl: "@Url.Action("Create", "EmployeeDocuments")?EmpCode=" + a,
                    form: '#frmCandidateDocs',
                    height: "400",
                    type: "FILE",
                    width: "500",
                    title: "DocumentUpload",
                    BeforeSendurl: "true",
                    returnfun: function (data) {
                        $('#CandidateDocumentslist').P2BLookUpEncapsulate('#CandidateDocumentslist', 'CandidateDocumentslist', data.Id, data.Val, 'CandidateDocumentslist', '', 'A');
                    },
                });
                event.preventDefault();
            });



            $('#edit-CandidateDocuments-Candidate').button().on("click", function (event) {
                var a = [], b;
                a = $('#CandidateDocumentslist').P2BGetTableDataonSelectedRow('#CandidateDocumentslist', 0);
                b = a[0];



                $.post("@Url.Action("CheckUploadFile", "EmployeeDocuments")?Id=" + b, function (data) {

                    debugger;
                    if (data.success == false) {

                        alert("File Not Found");
                        return false;
                    } else if (data.fileextension == ".pdf") {
                        window.location = "@Url.Action("GetCompImage", "EmployeeDocuments")?data=" + b;
                    }
                    else {
                        $('<div></div>').PartialCreateDialog({
                            height: '500',
                            width: '500',
                            form: "#frmImageviewer",
                            title: "Image Viewer",
                            htmlurl: "@Url.Action("Imageviewr", "Upload")",
                            state: "open",
                            mode: "View",
                            editurl: "@Url.Action("GetCompImage", "EmployeeDocuments")",
                            editdata: b,
                            forwarddata: b,
                            returndatafunction: function (data) {
                                debugger;
                                console.log(data);

                                if (data != null) {
                                    $("#dashboard-Investment-viewer").attr('src', "data:image/png;base64," + data + "");
                                } else {
                                    alert("First Upload the File");
                                }
                            }
                        });
                    }
                });


                event.preventDefault();
            });


            $('#Sanlookup_Incharge').on('click', function (e) {
                var emp = $('#Employee').text().split(" ");

                $('.dialog').AddDataToTextbox({
                    appendTo: "#SantxtIncharge",
                    appendToId: "#SanIncharge_id",
                    lookupurl: "@Url.Action("GetLookupIncharge", "ELMS")?data=" + emp[0],
                    NoOfRecordToShow: "10",
                    setnameofthelookupbyppage: "txtIncharge_FName-lookup",
                    lookupdiv: "lookupdiv",
                    lookuppagename: "lookup",
                    pagename: "pageNavPosition",
                    readonly: true,
                    height: 200,
                });
                e.preventDefault();
            });



            $('#remove-CandidateDocuments-Candidate').button().on('click', function (event) {
                var a = [], b;
                a = $('#CandidateDocumentslist').P2BGetTableDataonSelectedRow('#CandidateDocumentslist', 0);
                b = a[0];
                $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#CandidateDocumentslist', $('#CandidateDocumentslist').val(), 200, 200, '#frmHotelBookingReq', '#CandidateDocumentslist', '#remove-CandidateDocuments-Candidate');
                event.preventDefault();
            });

            $('<div></div>').P2BPartialCreateModalDialog();

            if ($.LocalStorageHelper.Get("Whois").toUpperCase() == "MySelf".toUpperCase()) {
                $('#authority').val($.LocalStorageHelper.Get("Whois"));
            }
            if ($.LocalStorageHelper.Get("Whois").toUpperCase() == "Sanction".toUpperCase()) {
                $('#authority').val($.LocalStorageHelper.Get("Whois"));
                $('#Approval-div').hide();
                $('#Sanction-div').show();
            }
            if ($.LocalStorageHelper.Get("Whois").toUpperCase() == "Approval".toUpperCase()) {
                $('#authority').val($.LocalStorageHelper.Get("Whois"));
                $('#Approval-div').show();
                $('#Sanction-div').hide();
            }


            if ($.LocalStorageHelper.Get("Whois").toUpperCase() == "MySelf".toUpperCase()) {
                $('#authority').val($.LocalStorageHelper.Get("Whois"));
            }
            if ($.LocalStorageHelper.Get("Whois").toUpperCase() == "Sanction".toUpperCase()) {
                $('#authority').val($.LocalStorageHelper.Get("Whois"));
                $('#Approval-div').hide();
                $('#Sanction-div').show();
            }
            if ($.LocalStorageHelper.Get("Whois").toUpperCase() == "Approval".toUpperCase()) {
                $('#authority').val($.LocalStorageHelper.Get("Whois"));
                $('#Approval-div').show();
                $('#Sanction-div').hide();
            }

            $('button').button();









        });
    </script>
</head>
<body>
    <div class="dialog">
        <div title="LookUp Data">
            <div class="lookupdiv"></div>
        </div>
        <div id="pageNavPosition">

        </div>
    </div>


    @*<div id="create_dialog" title="Create LvNewReq">*@
    @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmTICKETBookNewReqonSanction", name = "frmTICKETBookNewReqonSanction" }))
    {
        <input type="text" id="EmpLvnereq_Id" name="EmpLvnereq_Id" class="filter_structure_id" />
        <input type="hidden" name="Lvnewreqid_User" id="Lvnewreqid_User" value="" />
        <input type="hidden" name="Lvnewreqid_User_Empcode" id="Lvnewreqid_User_Empcode" value="" />
        <input type="text" class="hide_textbox" name="authority" id="authority" />
        <input type="text" class="hide_textbox" name="isClose" id="isClose" />
        <input type="text" class="hide_textbox" name="TrClosed" id="TrClosed" />
        <input type="text" class="hide_textbox" name="LvId" id="LvId" />
        <div class="section2_Leave">
            <div class=" " style="width: 506px;">

                <input id="autho_action" type="hidden" name="autho_action" />
                <input id="autho_allow" type="hidden" name="autho_allow" />


                <div class="row3 content_margine addons">
                    <div id="JourneyDetailsList_old"></div>
                    @Html.LabelFor(m => m.JourneyDetails, "Journey Details:", new { @class = "popup-content-label" })
                    <div class="popup-content-table">
                        <table class="lookuptableselected" id="JourneyDetailsList">
                            <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                        </table>
                    </div>
                    <div class="icon-row">
                        <button data-p2btooltip="Lookup Journey Details" class="button popup-content-icon-lookup" id="lookup-JourneyDetails-LTCSettlementClaim"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Create Journey Details" class="button popup-content-icon-create" id="create-JourneyDetails-LTCSettlementClaim"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Edit Journey Details" class="button popup-content-icon-edit" id="edit-JourneyDetails-LTCSettlementClaim"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Remove Journey Details" class="button popup-content-icon-remove" id="remove-JourneyDetails-LTCSettlementClaim"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                    </div>
                </div>


                <div class="row3 content_margine">
                    @Html.LabelFor(m => m.ReqDate, "Req. Date :", new { @class = "popup-content-label must" })
                    @Html.TextBoxFor(m => m.ReqDate, new { @class = "popup-content-textbox must", @maxlength = "10" })
                </div>
                <div class="row3 content_margine">
                    @Html.LabelFor(m => m.BillNo, "Bill No :", new { @class = "popup-content-label must" })
                    @Html.TextBoxFor(m => m.BillNo, new { @class = "popup-content-textbox must" })
                </div>
                <div class="row3 content_margine">
                    @Html.LabelFor(m => m.BillAmount, "Bill Amount  :", new { @class = "popup-content-label " })
                    @Html.TextBoxFor(m => m.BillAmount, new { @class = "popup-content-textbox must" })
                </div>

                <div class="row3 content_margine">
                    @Html.LabelFor(m => m.Elligible_BillAmount, "Eligible Bill Amount  :", new { @class = "popup-content-label must" })
                    @Html.TextBoxFor(m => m.Elligible_BillAmount, new { @class = "popup-content-textbox must" })
                </div>
                <div class="row3 content_margine">
                    @Html.LabelFor(m => m.TotFamilyMembers, "Total Family member :", new { @class = "popup-content-label " })
                    @Html.TextBoxFor(m => m.TotFamilyMembers, new { @class = "popup-content-textbox must" })
                </div>
                <div class="row3 content_margine">
                    @Html.LabelFor(m => m.TotalAdults, "Total Adults :", new { @class = "popup-content-label " })
                    @Html.TextBoxFor(m => m.TotalAdults, new { @class = "popup-content-textbox must" })
                </div>
                <div class="row3 content_margine">
                    @Html.LabelFor(m => m.TotalChild, "Total Child :", new { @class = "popup-content-label " })
                    @Html.TextBoxFor(m => m.TotalChild, new { @class = "popup-content-textbox must" })
                </div>
                <div class="row3 content_margine">
                    @Html.LabelFor(m => m.TotalInfant, "Total Infant :", new { @class = "popup-content-label " })
                    @Html.TextBoxFor(m => m.TotalInfant, new { @class = "popup-content-textbox must" })
                </div>
                <div class="row3 content_margine">
                    @Html.LabelFor(m => m.TotalSrCitizen, "Total Sr. Citizen :", new { @class = "popup-content-label " })
                    @Html.TextBoxFor(m => m.TotalSrCitizen, new { @class = "popup-content-textbox must" })
                </div>
                <div class="row3 content_margine">
                    @Html.LabelFor(m => m.SpecialRemark, "SpecialRemark :", new { @class = "popup-content-label must" })
                    @Html.TextBoxFor(m => m.SpecialRemark, new { @class = "popup-content-textbox must" })
                </div>


                <div class="row3 content_margine">
                    @Html.LabelFor(m => m.Narration, "Narration  :", new { @class = "popup-content-label must" })
                    @Html.TextBoxFor(m => m.Narration, new { @class = "popup-content-textbox must" })
                </div>


                <div class="row3 content_margine">
                    <div id="Empdoclist_old"></div>
                    @*@Html.LabelFor(m => m.EmployeeDocuments, "Document details :", new { @class = "popup-content-label add_label" })*@
                    <label class="popup-content-label">Reference Document :</label>
                    <div class="popup-content-table">
                        <table class="lookuptableselected" id="CandidateDocumentslist">
                            <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                        </table>

                    </div>

                    <div class="icon-Document icon-row">
                        <button data-p2btooltip="Lookup Document Details" class=" popup-content-icon-lookup" id="lookup-CandidateDocuments-Candidate"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Create Document Details" class=" popup-content-icon-create" id="create-CandidateDocuments-Candidate"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Edit Document Details" class=" popup-content-icon-edit" id="edit-CandidateDocuments-Candidate"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Delete Document Details" class=" popup-content-icon-remove" id="remove-CandidateDocuments-Candidate"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                    </div>


                </div>



            </div>
        </div>
        <br>

        <div id="Sanction-div">
            <div class="heading">Sanction Authority Views</div>
            <div class="row3 content_margine " id="yes_no_div">
                <label class="popup-content-label">
                    Sanction Status:
                </label>
                <span class="popup_radio_button">
                    <span><input type="radio" id="radio1" name="Sanction" value="true" /> <label for="radio1">Yes</label></span>
                    <span><input type="radio" id="radio2" name="Sanction" value="false" /> <label for="radio2">No</label></span>
                </span>
            </div>

            <div class="row3 content_margine">
                <label class="popup-content-label must">
                    Reason:
                </label>
                <input type="text" name="ReasonSanction" id="ReasonSanction" class="popup-content-textbox" />
            </div>

            @*<div class="row3 content_margine">
                    <label class="popup-content-label ">Incharge:</label>
                    <input name="SantxtIncharge" type="text" id="SantxtIncharge" class="date-picker" style="width: 243px" />
                    <input type="text" id="SanIncharge_id" name="SanIncharge_id" class="filter_structure_id" />
                    <button data-p2btooltip="Lookup Incharge Name" class="popup-content-drop-icon-lookup" id="Sanlookup_Incharge"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                </div>*@
        </div>

        <div class="section_Method hide-div" id="Approval-div">
            <div id="ApprovalDiv" class="row1 content_margine">
                <div class="heading">Approval Authority View</div>
                <label class="popup-content-label">
                    Approval Status:
                </label>
                <div class="popup_radio_button">
                    <input type="radio" name="Approval" value="true" id="rdo3" /><label for="rdo3">Yes</label>
                    <input type="radio" name="Approval" id="rdo4" value="false" /><label for="rdo4">No</label>
                </div>
                <div class="row1 content_margine">
                    <label class="popup-content-label must">Reason :</label>
                    <input type="text" id="Grid-ReasonApproval" name="ReasonApproval" />
                </div>
                @*<div class="row1 content_margine">
                        <label class="popup-content-label ">Incharge:</label>
                        <input name="ApptxtIncharge" type="text" id="ApptxtIncharge" class="date-picker" style="width: 243px" />
                        <input type="text" id="AppIncharge_id" name="AppIncharge_id" class="filter_structure_id" />
                        <button data-p2btooltip="Lookup Incharge Name" class="popup-content-drop-icon-lookup" id="Applookup_Incharge"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>

                    </div>*@

            </div>
        </div>





    }
    @*</div>*@
</body>
</html>

