@{
    ViewBag.Title = "Faculty Specialization";
}

@model Training.FacultySpecialization


<link href="~/Content/Unit/Unit.css" rel="stylesheet" />
<link href="~/Content/popup_form.css" rel="stylesheet" />


<style>
    .icon-row {
        position: relative;
        left: 60px;
        top: -150px;
    }

    .popup-content-label {
        width: 144px;
        display: block;
        float: left;
        margin: 1px;
    }

</style>


@*<script>
    $(document).ready(function (e) {
        $('button').button();
        $('#OpeningDate').P2BDatePicker();
        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;
        ColModel = ['ID', 'Code', 'Name', 'OpeningDate'];
        ColNames = ['ID', 'Code', 'Name', 'OpeningDate'];
        SortName = 'ID';
        Caption = 'TrainingCalendar';
        url = '//';
        width = 1000;
        height = 150;
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);

        
      //  $('.drop').selectmenu().selectmenu("menuWidget").css({ "width": "200px" });

    });
</script>*@

<script>
    $(document).ready(function (e) {
        var dia;
        $('#SpecType').ValidateTextBox({ maxlength: 90, name: true, alphanum: true });
        $('#SpecArea').ValidateTextBox({ maxlength: 90, name: true, alphanum: true });
        $('button').button();
        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;
        var btndisablenames = "";
        ColModel = ['Id', 'SpecType', 'SpecArea'];
        ColNames = ['Id', 'SpecType', 'SpecArea'];
        SortName = 'Code';
        Caption = 'Faculty Specialization';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);

        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }

       

        $('#Create_Dialog').P2BCreateDialog();

        //Create Function
        $('#Create').on("click", function (event) {
            $('#FormFacultySpecilisation').trigger("reset");
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create Faculty Specialization ', 'open', '@Url.Action("Create")', '#FormFacultySpecilisation', 'Message :', 'Request Falied :', '#JqGrid', 270, 500, '', btndisablenames, function (data) { });
            event.preventDefault();
        });





        $('#Autho').makeDisable('#Create,#Edit,#Delete');

        // Main page edit
        $('#Edit').on('click', function () {
            AssignData();          
            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit Faculty Specialization Data", '#FormFacultySpecilisation', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 270, 500, '', btndisablenames, function (data) {              
                $.each(data[0], function (i, k) {                   
                    $('#SpecType').val(k.SpecType);
                    $('#SpecType').attr('readonly', 'readonly');
                    $('#SpecArea').val(k.SpecArea);
                   // $('#SpecArea').attr('readonly', 'readonly');
                   
                });

                //alert(data[3]);
                $('#Autho_Allow').val(data[3]); //Compulsory for authorisation
                // }, 2000);
            });
        });




        //View main page
        $('#View').button().click(function (event) {
            AssignData();
            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View Faculty Specialization Data', '', '', 270, 500, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {
                $.each(data[0], function (i, k) {
                    $('#Autho_Action').val(k.Action);
                    $('#SpecType').val(k.SpecType);
                   // $('#SpecType').attr('readonly', 'readonly');
                    $('#SpecArea').val(k.SpecArea);
                    //$('#SpecArea').attr('readonly', 'readonly');                  
                });

                //To bind old data if authorisation is true
                if ($("#Autho").hasClass('auto_active')) {
                    $('#SpecType').oldVal(data[2].SpecType);
                    $('#SpecArea').oldVal(data[2].SpecArea);
                  

                }

            });
        });

        //delete main page
        $('#Delete').button().click(function (event) {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'ID');
            $('#Create_Dialog').P2BDeleteModalDialog('@Url.Action("Delete")', dt.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
            event.preventDefault();
        });


        $("#SpecType").ForceOnlyAlphaNumeric();
        $("#SpecArea").ForceOnlyAlphaNumeric();

        $('.drop').selectmenu().selectmenu("menuWidget").addClass("overflow");
        $('.popup_radio_button').controlgroup();
        $('#dob').P2BDatePicker();
        $('#Autho').makeDisable('#Create,#Edit,#Delete');
        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');

    });
</script>


<div class="Form_Bg">
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <button class="button" id="Create">Create</button>
                <button class="button" id="View">View</button>
                <button class="button" id="Edit">Edit</button>
                <button class="button" id="Delete">Delete</button>
                <button class="button" id="Autho">Authorised</button>
                <div id="Grid_Form">
                    <div>
                        <table id="JqGrid"></table>
                        <div id="pager2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>
</div>


<body>
    <div id="Create_Dialog" title="Create Faculty Specialization">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormFacultySpecilisation" }))
        {
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
            <div class="row1 content_margine">@Html.LabelFor(m => m.SpecType, "Specialization Type:", new { @class = "popup-content-label must" })@Html.TextAreaFor(m => m.SpecType, new { @class = "popup-content-textbox must" })</div>
            <div class="row1 content_margine">@Html.LabelFor(m => m.SpecArea, "Area :", new { @class = "popup-content-label must" })@Html.TextAreaFor(m => m.SpecArea, new { @class = "popup-content-textbox must" })</div>
        }
    </div>
</body>