@{
    ViewBag.Title = "App Assignment";
}
@model   Appraisal.AppAssignment

<head>
    <title></title>

</head>
<style>
    .icon-row {
        position: relative;
        left: 95px;
        top: -150px;
    }

    #BusinessType-button {
        font-size: 9px;
        padding-top: 1px;
        font-weight: bold;
    }

    .popup-content-label {
        width: 135px;
        display: block;
        float: left;
        margin: 1px;
    }

    .popup-content-label-2 {
        width: 100px;
        display: block;
        float: left;
        margin: 1px;
    }

    .popup-content-textbox {
        margin-bottom: 1px;
        min-width: 150px;
    }

    .row3 {
        width: 471px;
    }

    .row4 {
        position: absolute;
        top: 294px;
        width: 400px;
    }

    .row6 {
        width: 370px;
        display: inline-block;
    }

    .popup-content-textbox-long {
        margin-bottom: 1px;
        width: 290px;
    }


    .row2 {
        width: 402px;
    }
</style>
<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <button class="button" id="Create">Create</button>
                <button class="button" id="View">View</button>
                <button class="button" id="Edit">Edit</button>
                <button class="button" id="Delete">Delete</button>
                @*<button class="button" id="Autho">Authorised</button>*@
                <div id="Grid_Form">
                    <div>
                        <div id="Container" class="container">
                            <div id="Demo">
                                <table id="MyTable" class="display" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>DD</th>
                                            <th>AppCategory</th>
                                            <th>AppSubCategory</th>
                                            <th>MaxRatingPoints</th>
                                            <th>ID</th>
                                        </tr>
                                    </thead>
                                    @*<tfoot>
                                            <tr>
                                                <th>DD</th>
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>CeilingMin</th>
                                                <th>CeilingMax</th>
                                                <th>DependRule</th>
                                            </tr>
                                        </tfoot>*@
                                </table>
                            </div>
                        </div>
                        @*<table id="JqGrid"></table>
                            <div id="pager2"></div>*@
                    </div>
                </div>
            </div>
        </div>

        <div class="dialog">
            <div title="LookUp Data">
                <div class="LookupDiv"></div>
            </div>
            <div id="PageNavPosition">

            </div>
        </div>

    </div>
</body>
<div id="Create_Dialog" title="Create Apprisal Assignment">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "FormAppAssignment", name = "FormAppAssignment" }))
{

    <input id="appsubcat" type="hidden" name="appsubcat" />
        <input id="Autho_Action" type="hidden" name="Autho_Action" />
        <input id="Autho_Allow" type="hidden" name="Autho_Allow" />

        <input id="geo_id" class="filter_structure_id" name="geo_id" />
        <input id="pay_id" class="filter_structure_id" name="pay_id" />
        <input id="fun_id" class="filter_structure_id" name="fun_id" />
        <div class="section_Method">
            <div class="heading">Filter View</div>
            <div class="filter-div">
                <label class="advance_filter_label">Advance Filter<span class="advance_filter_sysmbol_class_plus" id="Advance-Filter-Symbol"></span></label>
                <div id="FormFilter"></div>
            </div>
        </div>


        <div class="row3 content_margine">
            <div id="AppraisalCalendarlist_old"></div>
            @Html.LabelFor(m => m.AppraisalCalendar, "Appraisal Calendar:", new { @class = "popup-content-label must" })
            <input type="text" hidden id="dispcalender_id" name="AppraisalCalendarlist" style="width:250px" />
            <input type="text" readonly id="dispcalender" name="" style="width:250px" class="popup-content-textbox must" />
            @*@Html.LabelFor(m => m.AppraisalCalendar, " Calendar:", new { @class = "popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="AppraisalCalendarlistMD">
                        <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup Calendar" class="  popup-content-icon-lookup" id="Lookup-AppraisalCalendar-AppAssignment"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Create Calendar" class="popup-content-icon-create" id="Create-AppraisalCalendar-AppAssignment"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Edit Calendar" class="popup-content-icon-edit" id="Edit-AppraisalCalendar-AppAssignment"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Remove Calendar" class="popup-content-icon-remove" id="Remove-AppraisalCalendar-AppAssignment"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>*@
        </div>

        //  <div class="dropdown_row1 row3 content_margine">@Html.LabelFor(m => m.AppCategory, "AppCategory :", new { @class = "popup-content-label must" })<select id="AppCategorylist" name="AppCategorylist" class="must" style="width:161px;"><option></option></select></div>
        // <div class="dropdown_row1 row3 content_margine">@Html.LabelFor(m => m.AppSubCategory, "AppSubCategory :", new { @class = "popup-content-label must" })<select id="AppSubCategorylist" name="AppSubCategorylist" class="must" style="width:161px;"><option></option></select></div>

        @*<div class="add_row content_margine">
            @Html.LabelFor(m => m.AppCategory, "Appraisal Category:", new { @class = "popup-content-label  must" })
            <select id="AppCategorylist" name="AppCategorylist" class="drop must" style="width:280px;">
                <option value="0">-Select-</option>
            </select>
            
        </div>*@

    
        <div class="row3 content_margine">
            <div id="AppCategorylistlist_old"></div>@Html.LabelFor(m => m.AppRatingObjective, "Appraisal Category:", new { @class = "popup-content-label must" })
            <div class="popup-content-table">
                <table class="lookuptableselected" id="AppCategorylist">
                    <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                </table>
            </div>
            <div class="icon-row">
                <button data-p2btooltip="Lookup AppCategory" class="  popup-content-icon-lookup" id="Lookup-AppCategory"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                <button data-p2btooltip="Remove AppCategory" class="  popup-content-icon-remove" id="Remove-AppCategory"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button> 
                
            </div>
        </div>
        <br />
        
        
       
        
         <div class="row3 content_margine">
            <div id="AppSubCategorylistlist_old"></div>@Html.LabelFor(m => m.AppSubCategory, "Appraisal Sub Category:", new { @class = "popup-content-label must" })
            <div class="popup-content-table">
                <table class="lookuptableselected" id="AppSubCategorylist">
                    <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                </table>
            </div>
            <div class="icon-row">
                <button data-p2btooltip="Lookup AppSubCategory" class="  popup-content-icon-lookup" id="Lookup-AppSubCategory"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                <button data-p2btooltip="Remove AppsubCategory" class="  popup-content-icon-remove" id="Remove-AppSubCategory"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
   
                
            </div>
        </div>
        <br />
        
        @*<div class="add_row content_margine  ">
            @Html.LabelFor(m => m.AppSubCategory, "Appraisal Sub Category:", new { @class = "popup-content-label must" })
            <select id="AppSubCategorylist" name="AppSubCategorylist" class="drop must" style="width:280px;">
                <option value="0">-Select-</option>
            </select>
           
        </div>*@
        
        <div class="row3 content_margine">@Html.LabelFor(m => m.MaxRatingPoints, "Maximum Rating Points:", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.MaxRatingPoints, new { @class = "popup-content-textbox must" })</div>
        <br />
        
        <div class="row3 content_margine">
            <div id="AppRatingObjectivelist_old"></div>@Html.LabelFor(m => m.AppRatingObjective, "Appraisal Rating Objective:", new { @class = "popup-content-label" })
            <div class="popup-content-table">
                <table class="lookuptableselected" id="AppRatingObjectivelist">
                    <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                </table>
            </div>
            <div class="icon-row">
                @*<button data-p2btooltip="Lookup AppRating Objective" class="  popup-content-icon-lookup" id="Lookup-AppRatingObjective-AppAssignment"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Create AppRating Objective" class="  popup-content-icon-create" id="Create-AppRatingObjective-AppAssignment"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>*@
                @*<button data-p2btooltip="Edit AppRating Objective" class="  popup-content-icon-edit" id="Edit-AppRatingObjective-AppAssignment"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>*@
                @*<button data-p2btooltip="Remove AppRating Objective" class="  popup-content-icon-remove" id="Remove-AppRatingObjective-AppAssignment"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>*@
            </div>
        </div>
    }
</div>
<script>
    $(document).ready(function (e) {

        $('button').button();
        var dia;
        $('#FromDate,#ToDate').P2BDatePicker();
        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;
        var btndisablenames = "#Remove-SubCategory-Apprisal,#Edit-SubCategory-Apprisal";
        var namelookuptable = '#AppRatingObjectivelist';
        ColModel = ['Id', 'EmpCode', 'EmpName'];
        ColNames = ['Id', 'EmpCode', 'EmpName'];
        SortName = 'Id';
        Caption = 'Appraisal Assignment';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;


        $('#MaxRatingPoints').ForceOnlyNumeric();
        $('#MaxRatingPoints').MaxLength(8);
        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }
        function DateConvert(JsonDate) {
            var date = new Date(parseInt(JsonDate.substr(6)));
            var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
            return displayDate;
        };

        $('#Create_Dialog').P2BCreateDialog();
        $('#Create').on("click", function (event) {
            $('#FormAppAssignment').trigger("reset");
            //$('#AppCategorylist').prop("disabled", false);
            //$('#AppSubCategorylist').prop("disabled", false);
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create Appraisal Assignment', 'open', '@Url.Action("Create")', '#FormAppAssignment', 'Message :', 'Request Falied :', '#JqGrid', 555, 590, namelookuptable, btndisablenames, function (data) { }, { datatablename: "#MyTable" });
            // $('#AppSubCategorylist').attr('readonly', 'readonly');
            @*$('#AppCategorylist').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "AppCategory")", "", "", '#AppSubCategorylist');*@



            $.get("@Url.Action("GetCalendarDetailLKDetails", "AppAssignment")", function (data) {
                $('#dispcalender').val(data.Lvcalendardesc);
                $('#dispcalender_id').val(data.Id);
            });

            @*$("#AppSubCategorylist").on('selectmenuchange', function () {
                $('#AppRatingObjectivelist').find('tr:gt(0)').remove();
                //var valueSelected = this.value;
                var valueSelected = 5;
                $.ajax({
                    method: "post",
                    url: '@Url.Action("MaxRatingBind", "AppAssignment")',
                    data: { 'data': valueSelected },
                    success: function (data) {

                        $('#MaxRatingPoints').val(data[0]);
                        $.each(data[1], function (i, k) {
                            $('#AppRatingObjectivelist').P2BLookUpEncapsulate('#AppRatingObjectivelist', 'AppRatingObjectivelist', k.AppRatingObjective_Id, k.IsRatingObjective_FullDetails, 'AppRatingObjectivelist', ' ', 'A');
                        });
                    }
                });
            });*@

            event.preventDefault();
        });

        //To get data in Lookup
        $('#Lookup-AppCategory').on('click', function (event) {

            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupAppCategory", "AppAssignment")', '', 'LookupDiv', 'Look Up Data', '#AppCategorylist', 'AppCategorylist', 5, 'AppCategorylist', '#FormAppAssignment', 'N', '#Edit-Address-Location,#Remove-Address-Location', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        
        //To get data in Lookup
        $('#Lookup-AppSubCategory').on('click', function (event) {
            var temp = $('#AppCategorylist').text();
           // //debugger
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupAppSUBCategory", "AppAssignment")?data=' + temp, '', 'LookupDiv', 'Look Up Data', '#AppSubCategorylist', 'AppSubCategorylist', 5, 'AppSubCategorylist', '#FormAppAssignment', 'N', '#Edit-Address-Location,#Remove-Address-Location', 'Lookup_table', 'PageNavPosition');
            var subid, valueSelected;
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetLookupAppSUBCategory", "AppAssignment")?data=' + temp,
                
                success: function (result) {
                    var str = JSON.stringify(result);
                    var jsonObj = JSON.parse(str);

                    for (var i = 0; i < jsonObj.length; i++) {
                        
                        subid = jsonObj[i]['srno'];
                        console.log("subid :"+subid);
                        //int valueSelected; = parseInt(subid, 10);
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("MaxRatingBind", "AppAssignment")',
                            data: { 'data': parseInt(subid, 10) },
                            success: function (data, status, xhr) {
                               // alert(data.responseText);
                                //alert("ok" + data[1] + status + xhr.status + xhr.statusText);
                                if (data != null && data != "") {
                                    $('#MaxRatingPoints').val(data[0]);
                                    $.each(data[1], function (i, k) {
                                        $('#AppRatingObjectivelist').P2BLookUpEncapsulate('#AppRatingObjectivelist', 'AppRatingObjectivelist', k.AppRatingObjective_Id, k.IsRatingObjective_FullDetails, 'AppRatingObjectivelist', ' ', 'A');
                                        
                                    });
                                }
                                if (data.Id == 0) {
                                    alert(data.responseText);
                                    
                                }
                                
                            }


                            
                        });
                    }
                }
            });
           
           
            
            //console.log("subid : " + subid);

                @*$.ajax({
                    type: "POST",
                    url: '@Url.Action("MaxRatingBind", "AppAssignment")',
                    data: { 'data': valueSelected },
                    success: function (data) {

                        $('#MaxRatingPoints').val(data[0]);
                        $.each(data[1], function (i, k) {
                            $('#AppRatingObjectivelist').P2BLookUpEncapsulate('#AppRatingObjectivelist', 'AppRatingObjectivelist', k.AppRatingObjective_Id, k.IsRatingObjective_FullDetails, 'AppRatingObjectivelist', ' ', 'A');
                        });
                    }
                });*@


            event.preventDefault();
        });

        $('#Remove-AppSubCategory').button().on('click', function (event) {

            var selectedRows = [];
            selectedRows = $('#AppSubCategorylist').P2BGetTableDataonSelectedRow('#AppSubCategorylist', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#AppSubCategorylist', $('#AppSubCategorylist').val(), 200, 200, '#FormAppAssignment', '#AppSubCategorylist', '#Edit-Address-Location,#Remove-Address-Location');
            event.preventDefault();
        });



        // TO remove data from Lookup
        $('#Remove-AppCategory').button().on('click', function (event) {

            var selectedRows = [];
            selectedRows = $('#AppCategorylist').P2BGetTableDataonSelectedRow('#AppCategorylist', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#AppCategorylist', $('#AppCategorylist').val(), 200, 200, '#FormAppAssignment', '#AppCategorylist', '#Edit-Address-Location,#Remove-Address-Location');
            event.preventDefault();
        });

        $('#MyTable').MultiLevelInlineEditGrid({
            url: "@Url.Action("Formula_Grid", "AppAssignment")",
            editurl: "@Url.Action("EditGridDetails", "AppAssignment")",
            htmurl: "@Url.Action("partial", "AppAssignment")",
            submiturl: "@Url.Action("GridEditSave", "AppAssignment")",
            columnname: ["AppCategory", "AppSubCategory", "MaxRatingPoints", "Id"],
            childheader: ["GeoStruct", "PayStruct", "FuncStruct", "Id"],
            childurl: "@Url.Action("Get_FormulaStructDetails", "AppAssignment")",
            tableheader: "Appraisal Assignment",
            childurlColumnNo: "4"
        });

        $.DataTableChildManipulation = function (init, id, parentid, htmurl, editurl, submiturl) {
            // console.log($(init).parents('tr:eq(0)'));
            var parent_element = $(init).parents('td:last').parent().prev();
            //var element = $(init).parents('tr:eq(0)');
            console.log(id);
            console.log(htmurl);
            console.log(parent_element);
            //   console.log(element);
            var dt = $('#MyTable').DataTable();
            var htmlcomponant = {
                init: init,
                Id: id,
                idx: parentid,
                htmurl: htmurl,
                editurl: editurl,
                submiturl: submiturl,
            };
            //if ($(init).hasClass('ui-icon-newwin')) {
            //    $('<div></div>').PartialCreateDialog({
            //        height: 'auto',
            //        width: 'auto',
            //        form: "#Form-YearlyPaymentT-Partial",
            //        htmlurl: htmurl,
            //        state: "open",
            //        mode: "View",
            //        editurl: editurl,
            //        submiturl: submiturl,
            //        editdata: id,
            //        forwarddata: id,
            //        returndatafunction: function (data) {
            //            $.each(data.data, function (i, k) {
            //                $('#yearlypayment-AmountPaid').val(k.AmountPaidP);
            //                $('#yearlypayment-TDSAmount').val(k.TDSAmountP);
            //                $('#yearlypayment-OtherDeduction').val(k.OtherDeductionP);
            //                $('#yearlypayment-Narration').val(k.NarrationP);
            //            });
            //        }
            //    });
            //} else if ($(init).hasClass('ui-icon-pencil')) {
            //    $('<div></div>').PartialCreateDialog({
            //        height: 'auto',
            //        width: 'auto',
            //        form: "#Form-YearlyPaymentT-Partial",
            //        htmlurl: htmurl,
            //        state: "open",
            //        mode: "Edit",
            //        editurl: editurl,
            //        submiturl: submiturl,
            //        editdata: id,
            //        forwarddata: id,
            //        returndatafunction: function (data) {
            //            $.each(data.data, function (i, k) {
            //                $('#yearlypayment-AmountPaid').val(k.AmountPaidP);
            //                $('#yearlypayment-TDSAmount').val(k.TDSAmountP);
            //                $('#yearlypayment-OtherDeduction').val(k.OtherDeductionP);
            //                $('#yearlypayment-Narration').val(k.NarrationP);
            //            });
            //        },
            //        submitfun: function (data) {
            //            var row = dt.row(parent_element);
            //            if (row.child.isShown()) {
            //                parent_element.removeClass('details');
            //                row.child.hide();
            //            }
            //        }
            //    });
            //}
            @*else if ($(init).hasClass('ui-icon-trash')) {
                console.log(id);
                $('<div></div>').PartialCreateDialog({
                    state: "open",
                    mode: "Delete",
                    submiturl: "@Url.Action("GridDelete")",
                    forwardata: id,
                    submitfun: function (data) {
                        var row = dt.row(parent_element);
                        if (row.child.isShown()) {
                            parent_element.removeClass('details');
                            row.child.hide();
                        }
                    }
                });
            }*@
        };

        $('.popup_radio_button').controlgroup();
        $('#Advance-Filter-Symbol').on('click', function () {
            $("<div></div>").FilterDialog({
                width: 1000,
                height: 400,
                title: "Filter",
                htmlurl: "@Url.Action("Advance_partial", "Transcation")",
                returnat: function (data) {
                    console.log(data);
                    if (data.GeoStruct != null) {
                        $('#geo_id').val(data.GeoStruct);
                    }
                    if (data.PayStruct != null) {
                        $('#pay_id').val(data.PayStruct);
                    }
                    if (data.FunStruct != null) {
                        $('#fun_id').val(data.FunStruct);
                    }
                },
                renderat: "#FormFilter",
            });
        });

        @*$('#Create_Dialog').P2BCreateDialog();
        $('#Create').on("click", function (event) {
            $('#FormAppAssignment').trigger("reset");
            $('#AppCategorylist').prop("disabled", false);
            $('#AppSubCategorylist').prop("disabled", false);
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create Appraisal Assignment', 'open', '@Url.Action("Create")', '#FormAppAssignment', 'Message :', 'Request Falied :', '#JqGrid', 555, 590, namelookuptable, btndisablenames, function (data) { });
            $('#AppCategorylist').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "AppCategory")", "", "", '#AppSubCategorylist');

            $.get("@Url.Action("GetCalendarDetailLKDetails", "AppAssignment")", function (data) {
                $('#dispcalender').val(data.Lvcalendardesc);
                $('#dispcalender_id').val(data.Id);
            });
            event.preventDefault();
        });*@

        $('#Edit').on('click', function () {
            var b = localStorage.getItem('MyTable_selected');
            var a = JSON.parse(b);

            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', a.Id, '@Url.Action("EditSave")', "Edit Appraisal Assignment", '#FormAppAssignment', a.Id, 'Message : ', 'Request Falied :', '#JqGrid', 500, 620, namelookuptable, '', function (data) {
                // setTimeout(function () {
                //$('#AppCategorylist').prop("disabled", true);
                //$('#AppSubCategorylist').prop("disabled", true);
                $.get("@Url.Action("GetCalendarDetailLKDetails", "AppAssignment")", function (data) {
                    $('#dispcalender').val(data.Lvcalendardesc).attr('readonly', 'readonly');;
                    $('#dispcalender_id').val(data.Id).attr('readonly', 'readonly');;
                });

                $.each(data[0], function (i, k) {
                    $('#FormAppAssignment').trigger("reset");
                    $('#MaxRatingPoints').val(k.MaxRatingPoints);
                    @*$('#AppCategorylist').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "AppCategory")", "", k.AppCategory_Id);
                    if (k.AppCategory_Id != null) {
                        $('#AppSubCategorylist').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "AppSubCategory")", "", k.AppSubCategory_Id);
                    }*@

                });

                //partial page bind
                $.each(data[1], function (i, k) {
                    $('#AppCategorylist').P2BLookUpEncapsulate('#AppCategorylist', 'AppCategorylist', k.AppCategory_Id, k.AppCategory_Id_FullDetails, 'AppCategorylist', ' ', 'N');
                    $('#AppSubCategorylist').P2BLookUpEncapsulate('#AppSubCategorylist', 'AppSubCategorylist', k.AppSubCategory_Id_Id, k.AppSubCategory_FullDetails, 'AppSubCategorylist', ' ', 'N');
                    $('#AppRatingObjectivelist').P2BLookUpEncapsulate('#AppRatingObjectivelist', 'AppRatingObjectivelist', k.AppRatingObjective_Id, k.IsRatingObjective_FullDetails, 'AppRatingObjectivelist', ' ', 'A');

                });
                $('#Autho_Allow').val(data[3]); //Compulsory for authorisation
            }, { datatablename: "#MyTable" });

        });

        $('#View').on('click', function () {
            ////debugger;
            //AssignData();
            var b = localStorage.getItem('MyTable_selected');
            var a = JSON.parse(b);
            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', a.Id, 'View Appraisal Assignment Data', '#AppSubCategorylist,#AppRatingObjectivelist', '', 500, 620, '', '@Url.Action("AuthSave")', a.Id, '', '', '', '', '#JqGrid', function (data) {
                // setTimeout(function () {
                $('#AppCategorylist').prop("disabled", true);
                $('#AppSubCategorylist').prop("disabled", true);
                $.get("@Url.Action("GetCalendarDetailLKDetails", "AppAssignment")", function (data) {
                    $('#dispcalender').val(data.Lvcalendardesc).attr('readonly', 'readonly');;
                    $('#dispcalender_id').val(data.Id).attr('readonly', 'readonly');;
                });

                $.each(data[0], function (i, k) {
                    $('#FormAppAssignment').trigger("reset");
                    $('#MaxRatingPoints').val(k.MaxRatingPoints);
                    @*$('#AppCategorylist').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "AppCategory")", "", k.AppCategory_Id);
                    if (k.AppCategory_Id != null) {
                        $('#AppSubCategorylist').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "AppSubCategory")", "", k.AppSubCategory_Id);
                    }*@
                });

                //partial page bind
                $.each(data[1], function (i, k) {
                    $('#AppCategorylist').P2BLookUpEncapsulate('#AppCategorylist', 'AppCategorylist', k.AppCategory_Id, k.AppCategory_Id_FullDetails, 'AppCategorylist', ' ', 'N');
                    $('#AppSubCategorylist').P2BLookUpEncapsulate('#AppSubCategorylist', 'AppSubCategorylist', k.AppSubCategory_Id_Id, k.AppSubCategory_FullDetails, 'AppSubCategorylist', ' ', 'N');
                    $('#AppRatingObjectivelist').P2BLookUpEncapsulate('#AppRatingObjectivelist', 'AppRatingObjectivelist', k.AppRatingObjective_Id, k.IsRatingObjective_FullDetails, 'AppRatingObjectivelist', 'view', 'A');
                    // $('#AppraisalCalendarlistMD').P2BLookUpEncapsulate('#AppraisalCalendarlistMD', 'AppraisalCalendarlistMD', k.AppraisalCalendar_Id, k.AppraisalCalendar_FullDetails, 'AppraisalCalendarlistMD', '', 'N');
                });
                $('#Autho_Allow').val(data[3]); //Compulsory for authorisation
            });
        });

        //$('#AppCategorylist').P2BSelectMenuOnChange("selectmenuchange", "@Url.Action("PopulateDropDownList", "AppSubCategory")", '#AppSubCategorylist', "");

        @*$('#AppSubCategorylist').on('selectmenuchange', function ()
        {
            var valueSelected = this.value;
            $.ajax({
                method:"post",
                url:@Url.Action("MaxRatingBind", "AppAssignment"),
                data:{'data':valueSelected},
                success:function(data){
                    alert(data);
                    $('#MaxRatingPoints').val(k.data);
                }
            });
        });*@
        //delete main page
        $('#Delete').button().click(function (event) {
            //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            $('#FormAppAssignment').trigger("reset");
            var b = localStorage.getItem('MyTable_selected');
            var a = JSON.parse(b);
            $('#Create_Dialog').P2BDeleteModalDialog('@Url.Action("Delete", "AppAssignment")', a.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200, { datatablename: "#MyTable" });

        });

        // --------------- SubCategory lookup start ----------

        //To get data in Lookup


        // PArtial page create

        $('#Lookup-AppRatingObjective-AppAssignment').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetAppRatingObjectiveLKDetails", "AppAssignment")', '', 'LookupDiv', 'Look Up Data', '#AppRatingObjectivelist', 'AppRatingObjectivelist', 10, 'AppRatingObjectivelist', '#FormAppAssignment', 'A', '#Edit-AppRatingObjective-AppAssignment,#Remove-AppRatingObjective-AppAssignment', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        @*$('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-AppRatingObjective-AppAssignment').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "AppRatingObjective")', 'Create App Rating Objective ', 'open', '@Url.Action("Create", "AppRatingObjective")', '#FormAppRatingObjectiveP', 'Message :', 'Request Falied :', '#JqGrid', 240, 494, '', '', '', '#FormAppAssignment', '', function (data) {
                // to show data which is created in partial page
                $('#AppRatingObjectivelist').P2BLookUpEncapsulate('#AppRatingObjectivelist', 'AppRatingObjectivelist', data[0], data[1], 'AppRatingObjectivelist', '', 'N');
            });
            event.preventDefault();
        });*@

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-AppRatingObjective-AppAssignment').button().on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "AppRatingObjective")', 'Create App Rating Objective ', 'open', '@Url.Action("Create", "AppRatingObjective")', '#FormAppRatingObjectiveP', 'Message :', 'Request Falied :', '#JqGrid', 195, 429, '', '', '', '#FormAppAssignment', '', function (data) {

                $('#AppRatingObjectivelist').P2BLookUpEncapsulate('#AppRatingObjectivelist', 'AppRatingObjectivelist', data[0], data[1], 'AppRatingObjectivelist', '', 'A');
            });
            event.preventDefault();
        });
        $('#Edit-AppRatingObjective-AppAssignment').button().on("click", function (event) {
            var a = [], b;
            a = $('#AppRatingObjectivelist').P2BGetTableDataonSelectedRow('#AppRatingObjectivelist', 0);
            b = a[0];
            console.log(b);
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname,                                                                                                                    height, width, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not, returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "AppRatingObjective")', '@Url.Action("edit", "AppRatingObjective")', b, '@Url.Action("EditSave", "AppRatingObjective")', 'Edit App Rating Objective Details', '#FormAppRatingObjectiveP', b, 'Message :', 'Request Falied :', '#JqGrid', 240, 494, '#FormAppAssignment', '#AppRatingObjectivelist', 'AppRatingObjectivelist', 'AppRatingObjectivelist', 'A', '#Edit-AppRatingObjective-AppAssignment,#Remove-AppRatingObjective-AppAssignment', function (data) {
                // setTimeout(function () {
                $.each(data[0], function (i, k) {
                    $('#FormAppRatingObjectiveP').trigger("reset");
                    $('#RatingPoints').val(k.RatingPoints);                                   //****************************
                    // $('#ObjectiveWordings').val(k.ObjectiveWordings_Id);
                    $('#ObjectiveWordingslist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 1067, k.ObjectiveWordings_Id);
                });

            });
            event.preventDefault();
        });

        $('#Remove-AppRatingObjective-AppAssignment').button().on('click', function (event) {
            //  dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'ID');
            //var a = [], b;
            //a = $('#AppRatingObjectivelist').P2BGetTableDataonSelectedRow('#AppRatingObjectivelist', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#AppRatingObjectivelist').P2BGetTableDataonSelectedRow('#AppRatingObjectivelist', 0);
            console.log("Verify...");

            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#AppRatingObjectivelist', $('#AppRatingObjectivelist').val(), 200, 200, '#FormAppAssignment', '#AppRatingObjectivelist');
            event.preventDefault();
        });

        // --------------- SubCategory lookup end ----------

        // ----------------AppraisalCalendar lookup start ----------

        //To get data in Lookup
        $('#Lookup-AppraisalCalendar-AppAssignment').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetCalendarDetailLKDetails", "AppAssignment")', '', 'LookupDiv', 'Look Up Data', '#AppraisalCalendarlistMD', 'AppraisalCalendarlistMD', 10, 'AppraisalCalendarlistMD', '#FormAppAssignment', 'N', '#Edit-AppraisalCalendar-AppAssignment,#Remove-AppraisalCalendar-AppAssignment', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });
        // PArtial page create
        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-AppraisalCalendar-AppAssignment').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "Calendar")', 'Create Calendar ', 'open', '@Url.Action("Create", "Calendar")', '#FormCalendarP', 'Message :', 'Request Falied :', '#JqGrid', 500, 600, '', '', '', '#FormAppAssignment', '', function (data) {
                // to show data which is created in partial page

                $('#AppraisalCalendarlistMD').P2BLookUpEncapsulate('#AppraisalCalendarlistMD', 'AppraisalCalendarlistMD', data[0], data[1], 'AppraisalCalendarlistMD', '', 'N');
            });
            event.preventDefault();
        });

        $('#Edit-AppraisalCalendar-AppAssignment').button().on("click", function (event) {
            var a = [], b;
            a = $('#AppraisalCalendarlistMD').P2BGetTableDataonSelectedRow('#AppraisalCalendarlistMD', 0);
            b = a[0];
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "Calendar")', '@Url.Action("edit", "Calendar")', b, '@Url.Action("Editsave", "Calendar")', 'Edit Calendar', '#FormCalendarP', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#FormAppAssignment', '#AppraisalCalendarlistMD', 'AppraisalCalendarlistMD', 'AppraisalCalendarlistMD', 'N', '#Edit-AppraisalCalendar-AppAssignment,#Remove-AppraisalCalendar-AppAssignment', function (data) {
                $.each(data[0], function (i, k) {
                    $('#FormCalendarP').trigger('reset');
                    $('#Name_drop').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 500, k.Name);
                    $('[name="Default"]').val([k.Default]).button().button("refresh");
                    if (k.FromDate != null) {
                        $('#FromDate').val(DateConvert(k.FromDate));
                    }
                    if (k.ToDate != null) {
                        $('#ToDate').val(DateConvert(k.ToDate));
                    }
                });

            });
            event.preventDefault();
        });

        //partial page delete
        $('#Remove-AppraisalCalendar-AppAssignment').button().on('click', function (event) {
            //  dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'ID');
            //var a = [], b;
            //a = $('#AppraisalCalendarlistMD').P2BGetTableDataonSelectedRow('#AppraisalCalendarlistMD', 0);
            //b = a[0];

            var selectedRows = [];
            selectedRows = $('#AppraisalCalendarlistMD').P2BGetTableDataonSelectedRow('#AppraisalCalendarlistMD', 0);

            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#AppraisalCalendarlistMD', $('#AppraisalCalendarlistMD').val(), 200, 200, '#FormAppAssignment', '#AppraisalCalendarlistMD');
            event.preventDefault();
        });
        // ----------------AppraisalCalendar lookup end ----------

        //$('#AppCategorylist').selectmenu().selectmenu("menuWidget");
        //$('#AppSubCategorylist').selectmenu().selectmenu("menuWidget");
        $('#Autho').makeDisable('#Create,#Edit,#Delete');
        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');
    });
</script>
