@{
    ViewBag.Title = "Remark Config ";
}

@model Attendance.RemarkConfig


<style>
    .icon-row {
        position: relative;
        left: 53px;
        top: -150px;
    }

    #BusinessType-button {
        font-size: 9px;
        padding-top: 1px;
        font-weight: bold;
    }

    .popup-content-label {
        display: block;
        float: left;
        width: 150px;
    }

    .popup-content-textbox {
        margin-bottom: 1px;
        min-width: 150px;
    }

    .row3 {
        width: 402px;
    }

    .row4 {
        position: absolute;
        top: 294px;
        width: 400px;
    }

    .popup-content-textbox-long {
        margin-bottom: 1px;
        width: 290px;
    }


    .row2 {
        width: 402px;
    }
</style>

<script>
    $(document).ready(function (e) {
        var dia;

        $('button').button();
        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;
        var btndisablenames = "";
        //"#RemarkDesc","#RemarkId",  "#SelectedRemark"
        ColModel = ['ApplicableRemark', 'ODApplicable', 'RemarkId', 'RemarkDesc', 'MusterRemarks', 'PresentStatus', 'Id'];
        ColNames = ['ApplicableRemark', 'ODApplicable', 'Alter Muster Remark', 'RemarkDesc', 'Muster Remark', 'Present Status', 'Id'];
        SortName = 'Code';
        Caption = 'Remark Config ';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);

        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }
        $('#Create_Dialog').P2BCreateDialog();

        //Create Function
        $('#Create').on("click", function (event) {
            $('#frmRemarkConfig').trigger("reset");
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create Remark Config ', 'open', '@Url.Action("Create")', '#frmRemarkConfig', 'Message :', 'Request Falied :', '#JqGrid', 300, 450, '', btndisablenames, function (data) { });
            $('#MusterRemarkslist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 611, "");
            $('#AlterMusterRemarklist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 611, "");
            $('#PresentStatuslist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 1012, "");
            event.preventDefault();
        });



        // Main page edit
        $('#Edit').on('click', function () {
            AssignData();
            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit Remark Config Data", '#frmRemarkConfig', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 340, 450, '', btndisablenames, function (data) {
                $.each(data[0], function (i, k) {
                    $('#frmRemarkConfig').trigger("reset");
                    $('#Name').val(k.Name);
                    $('#Name').attr('readonly', 'readonly');

                    $('#RemarkDesc').val(k.RemarkDesc);
                    //  $('#Categorylist').P2BSelectMenuAppend("@@Url.Action("GetLookupValue", "lookup")", 402, k.BusinessType_Id);
                    $('#MusterRemarkslist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 611, k.MusterRemark);
                    $('#AlterMusterRemarklist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 611, k.Altermusterremark);
                    $('#PresentStatuslist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 1012, k.PresentStatus);

                    $('[name="IsAppl"]').val([k.ApplicableRemark]).button().button("refresh");
                    $('[name="IsODAppl"]').val([k.ODApplicable]).button().button("refresh");
                    $('[name="IsODTEAppl"]').val([k.IsODTimeEntryAppl]).button().button("refresh");

                });

                //alert(data[3]);
                $('#Autho_Allow').val(data[3]); //Compulsory for authorisation
                // }, 2000);
            });
        });






        //View main page
        $('#View').button().click(function (event) {
            AssignData();
            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View Remark Config Data', '', '', 370, 600, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {
                $.each(data[0], function (i, k) {
                    $('#frmRemarkConfig').trigger("reset");
                    $('#Autho_Action').val(k.Action);
                    $('#Name').val(k.Name);
                    $('#Name').attr('readonly', 'readonly');
                    //       $('#IsAppl').val(k.IsAppl);

                    $('#RemarkDesc').val(k.RemarkDesc);
                    //  $('#Categorylist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 402, k.BusinessType_Id);
                    $('#MusterRemarkslist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 611, k.MusterRemark);
                    $('#AlterMusterRemarklist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 611, k.Altermusterremark);
                    $('#PresentStatuslist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 1012, k.PresentStatus);

                    $('[name="IsAppl"]').val([k.ApplicableRemark]).button().button("refresh");
                    $('[name="IsODAppl"]').val([k.ODApplicable]).button().button("refresh");
                    $('[name="Accumalation"]').val([k.Accumalation]).button().button("refresh");
                    $('[name="IsODTEAppl"]').val([k.IsODTimeEntryAppl]).button().button("refresh");
                });

                //To bind old data if authorisation is true
                if ($("#Autho").hasClass('auto_active')) {
                    $('#Name').oldVal(data[2].Name);
                    $('#IsAppl').oldVal(data[2].IsAppl);
                    //"#RemarkDesc","#RemarkId",  "#SelectedRemark"
                    $('#RemarkDesc').oldVal(data[2].RemarkDesc);
                    $('#RemarkId').oldVal(data[2].RemarkId);
                    $('#SelectedRemark').oldVal(data[2].SelectedRemark);
                }

            });
        });


        //delete main page
        $('#Delete').button().click(function (event) {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            $('#Create_Dialog').P2BDeleteModalDialog('@Url.Action("Delete")', dt.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
            event.preventDefault();
        });




        //$("#Name").ForceOnlyAlphaNumeric();
        $('#Name').MaxLength(10);
        // $("#ApplicableRemark").ForceOnlyAlphaNumeric();
        $('#IsAppl').MaxLength(30);
        // $("#RemarkDesc").ForceOnlyAlphaNumeric();
        $('#RemarkDesc').MaxLength(30);
        // $("#RemarkId").ForceOnlyAlphaNumeric();
        $('#RemarkId').MaxLength(10);
        //$("#SelectedRemark").ForceOnlyAlphaNumeric();
        $('#SelectedRemark').MaxLength(30);
        $('.drop').selectmenu().selectmenu("menuWidget").addClass("overflow");
        $('.popup_radio_button').controlgroup();
        $('#dob').P2BDatePicker();
        $('#Autho').makeDisable('#Create,#Edit,#Delete');
        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');

    });
</script>


<div class="Form_Bg">
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <button class="button" id="Create">Create</button>
                <button class="button" id="View">View</button>
                <button class="button" id="Edit">Edit</button>
                <button class="button" id="Delete">Delete</button>
                <button class="button" id="Autho">Authorized</button>
                @*<div id="google_translate_element"></div>*@
                <div id="Grid_Form">
                    <div>
                        <table id="JqGrid"></table>
                        <div id="pager2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>
</div>


<body>
    <div id="Create_Dialog" title="Create Remark Config ">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmRemarkConfig" }))
        {
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />

            <div class="dropdown_row1 row3 content_margine">@Html.LabelFor(m => m.MusterRemarks, "Muster Remarks  :", new { @class = "popup-content-label must" })<select id="MusterRemarkslist" name="MusterRemarkslist" class="drop  must" style="width:161px;"><option></option></select></div>

            <div class="row1 content_margine">
                @Html.LabelFor(m => m.IsAppl, "Applicable :", new { @class = "popup-content-label " })
                <div class="popup_radio_button radio_button_div_1">
                    <span class="popup_radio_button radio_button_div_1">
                        <input type="radio" id="IsApplradio1" name="IsAppl" value="true" /> <label class="ui-corner-left" for="IsApplradio1">Yes</label>
                        <input type="radio" id="IsApplradio2" name="IsAppl" value="false" /> <label class="ui-corner-right" for="IsApplradio2">No</label>
                    </span>
                </div>
            </div>

            <div class="dropdown_row1 row3 content_margine">@Html.LabelFor(m => m.AlterMusterRemark, "Alter Muster Remarks  :", new { @class = "popup-content-label  must" })<select id="AlterMusterRemarklist" name="AlterMusterRemarklist" class="drop  must" style="width:161px;"><option></option></select></div>

            <div class="row1 content_margine">
                @Html.LabelFor(m => m.IsODAppl, "Is OD Applicable :", new { @class = "popup-content-label" })
                <div class="popup_radio_button radio_button_div_1">
                    <span class="popup_radio_button radio_button_div_1">
                        <input type="radio" id="IsODApplradio3" name="IsODAppl" value="true" /> <label class="ui-corner-left" for="IsODApplradio3">Yes</label>
                        <input type="radio" id="IsODApplradio4" name="IsODAppl" value="false" /> <label class="ui-corner-right" for="IsODApplradio4">No</label>
                    </span>
                </div>
            </div>
            
            <div class="row1 content_margine">
                @Html.LabelFor(m => m.IsODTimeEntryAppl, "Is OD TimeEntry Appl :", new { @class = "popup-content-label" })
                <div class="popup_radio_button radio_button_div_1">
                    <span class="popup_radio_button radio_button_div_1">
                        <input type="radio" id="IsODApplradio5" name="IsODTEAppl" value="true" /> <label class="ui-corner-left" for="IsODApplradio5">Yes</label>
                        <input type="radio" id="IsODApplradio6" name="IsODTEAppl" value="false" /> <label class="ui-corner-right" for="IsODApplradio6">No</label>
                    </span>
                </div>
            </div>
            <div class="dropdown_row1 row3 content_margine">@Html.LabelFor(m => m.PresentStatus, "Present Status  :", new { @class = "popup-content-label  must" })<select id="PresentStatuslist" class="drop  must" name="PresentStatuslist" style="width:161px;"><option></option></select></div>

            <div class="row1 content_margine">@Html.LabelFor(m => m.RemarkDesc, "Remark Description:", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.RemarkDesc, new { @class = "popup-content-textbox must" })</div>

        }
    </div>
</body>