@{
    ViewBag.Title = "Service Security";
}
@model Payroll.ServiceSecurity

<html>

<head>

    <title>
   
    </title>

    <script>
        $(document).ready(function (e) {
            var dia;
            function AssignData() {
                dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            }
            $('#Date,#DateOfCloser,#DateOfMaturity').P2BDatePicker();
            $('button').button();
            $("#DateOfCloserClass").fadeOut();

            $('.popup_radio_button').controlgroup();
         
            $('#MyTable').MultiLevelInlineEditGrid({
                url: "@Url.Action("Emp_Grid", "ServiceSecurity")",
                htmurl: "@Url.Action("Index", "ServiceSecurity")",
                columnname: ["Code", "Name", "Id"],
                childheader: ["Amount", "Closer", "Date", "DateOfCloser", "DateOfMaturity", "FDR_No", "Remark", "Id"],
                childurl: "@Url.Action("Get_LvCancelReq", "ServiceSecurity")",
                tableheader: "Service Security",
                childurlColumnNo: "3"
            });

            $('#Create_Dialog').P2BCreateDialog();
            $('#Advance-Filter-Symbol').on('click', function () {
                $("<div></div>").FilterDialog({
                    width: 1000,
                    height: 400,
                    title: "Filter",
                    htmlurl: "@Url.Action("Advance_partial", "Transcation")",
                    returnat: function (data) {
                        console.log(data);
                        var forwarddata = JSON.stringify(data);
                        $('#Employee-Table').P2BTransactionTableDynamic('#Employee-Search', '#Case-Employee', './Transcation/Get_Employelist_h?geo_id=' + forwarddata + '', "");

                    },
                    renderat: "#FormFilter", hierarchy: true,
                });
            });
            //Create Function
            $('#Create').on("click", function (event) {
                $('#frmServiceSecurity').trigger("reset");
                $.LoadEmpByDefault(false);
                $('#LocationList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateLocationList")", "", "", '');
                $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create Service Security', 'open', '@Url.Action("Create")', '#frmServiceSecurity', 'Message :', 'Request Falied :', '#JqGrid', 500, 1200, '', "", function (data) { }, { datatablename: "#MyTable" });
                //   $('#LocationList_DDL').P2BSelectMenuAppend("@@Url.Action("PopulateLocationList", "Employee")", "", "");
                event.preventDefault();
            });
            // $('.drop').selectmenu().selectmenu("menuWidget");

            function DateConvert(JsonDate) {
                var date = new Date(parseInt(JsonDate.substr(6)));
                var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
                return displayDate;
            };

         
            $('input[name="Closer"]:radio').change(function () {
                if (this.value == "false") {
                    $("#DateOfCloserClass").fadeOut();
                }
                else {
                    $("#DateOfCloserClass").fadeIn();
                    $("#DateOfCloser").val("");
                }
            });
            @*$('#Advance-Filter-Symbol').on('click', function () {
                $("<div></div>").FilterDialog({
                    width: 1000,
                    height: 400,
                    title: "Filter",
                    htmlurl: "@Url.Action("Advance_partial", "Transcation")",
                    returnat: function (data) {
                        console.log(data);
                        var forwarddata = JSON.stringify(data);
                        $('#MyTable').DataTable({
                            "ajax": {
                                "url": "@Url.Action("Emp_Grid", "LoanAdvRepaymentT")",
                                "type": "post",
                                "data": forwarddata,
                            }
                        }).load();
                    },
                    renderat: "#FormFilter",
                });
            });*@
            function closercheck(chktt) {
                //alert(chktt);
                $('[name="Closer2"]').val([chktt]).button().button("refresh");
                if (chktt == false) {
                    $("#DateOfCloserClass-edit").fadeOut();
                }
                else {
                    $("#DateOfCloserClass-edit").fadeIn();
                    //     $("#DateOfCloser-edit").val("");
                }
            }

            $('.drop').selectmenu().selectmenu("menuWidget");

            $('<div></div>').P2BPartialCreateModalDialog();

            $.DataTableChildManipulation = function (init, id, parentid, htmurl, editurl, submiturl) {
                var parent_element = $(init).parents('td:last').parent().prev();
                console.log(id);
                console.log(htmurl);
                console.log(parent_element);
                var dt = $('#MyTable').DataTable();
                var htmlcomponant = {
                    init: init,
                    Id: id,
                    idx: parentid,
                    htmurl: htmurl,
                    editurl: editurl,
                    submiturl: submiturl,
                };
                if ($(init).hasClass('ui-icon-newwin')) {
                    return false;
                    $('<div></div>').PartialCreateDialog({
                        height: 'auto',
                        width: 'auto',
                        form: "#LvCancelReqGridPartial",
                        htmlurl: "@Url.Action("GridPartial", "LvCancelReq")",
                        state: "open",
                        mode: "View",
                        editurl: "@Url.Action("GridEditData", "LvCancelReq")",
                        submiturl: submiturl,
                        editdata: id,
                        forwarddata: id,
                        returndatafunction: function (data) {
                            $('#Grid-ReqDate').val(data.ReqDate);
                            $('#Grid-LvNewReq').val(data.LvNewReq);
                            $('#Grid-Reason').val(data.Reason);

                        }
                    });
                } else if ($(init).hasClass('ui-icon-pencil')) {
                    $('<div></div>').PartialCreateDialog({
                        height: 'auto',
                        width: 'auto',
                        form: "#ServiceSecurityGridPartial",
                        htmlurl: "@Url.Action("GridPartial", "ServiceSecurity")",
                        state: "open",
                        mode: "Edit",
                        editurl: "@Url.Action("GridEditData", "ServiceSecurity")",
                        submiturl: "@Url.Action("GridEditsave", "ServiceSecurity")",
                        editdata: id,
                        forwarddata: id,
                        returndatafunction: function (data1) {
                            ////debugger;
                            $('[name="Closer2"]').button().button("refresh");
                            var data = data1.data;
                            $('#Amount-edit').val(data.Amount);
                            closercheck(data.Closer2);
                            $('#FDR_No-edit').val(data.FDR_No);
                            $('#radioset-edit').val(data.Closer);
                            $('#Date-edit').val(data.Date);
                            $('#DateOfCloser-edit').val(data.DateOfCloser);
                            $('#DateOfMaturity-edit').val(data.DateOfMaturity);
                            $('#Remark-edit').val(data.Remark);
                            $('#Edit-LocationList_DDL').P2BSelectMenuAppend("@Url.Action("LocationBranchDrop")", "", data.Location);
                        },
                        submitfun: function (data) {
                            var row = dt.row(parent_element);
                            if (row.child.isShown()) {
                                parent_element.removeClass('details');
                                row.child.hide();
                            }
                        }
                    });
                } else if ($(init).hasClass('ui-icon-trash')) {
                    //   return false;
                    $('<div></div>').PartialCreateDialog({
                        state: "open",
                        mode: "Delete",
                        submiturl: "@Url.Action("GridDelete")",
                        forwarddata: id,
                        submitfun: function (data) {
                            var row = dt.row(parent_element);
                            if (row.child.isShown()) {
                                parent_element.removeClass('details');
                                row.child.hide();
                            }
                        }
                    });
                }
            };
            // $.FormReset('#frmServiceSecurity');

        });
    </script>

    <style>
        .icon-row {
            position: relative;
            left: 70px;
            top: -150px;
        }

        #BusinessType-button {
            font-size: 9px;
            padding-top: 1px;
            font-weight: bold;
        }

        .popup-content-label {
            display: block;
            float: left;
            width: 112px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 150px;
        }

        .row3 {
            width: 555px;
            float: right;
        }

        .row4 {
            position: absolute;
            top: 294px;
            width: 400px;
        }

        .popup-content-textbox-long {
            margin-bottom: 1px;
            width: 290px;
        }

        .row5 {
            width: 282px;
            display: inline-flex;
        }

        .row2 {
            width: 350px;
            display: inline-flex;
            margin-left: -89px;
        }

        .loader {
            width: 299px;
            display: inline-flex;
            margin-left: -89px;
        }

        .addwidth {
            width: 453px;
            height: 58px;
        }

        #process {
            top: 4px;
            left: 76px;
        }

        .section_Method {
            border: 1px solid rgba(207, 207, 207, 0.91);
            border-radius: 10px;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .transactiontablenew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            /*width: 200px;*/
            display: block;
            overflow: auto;
            height: 500px;
            border-collapse: collapse;
        }

        .transactiondivnew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            width: 507px;
            border-radius: 5px;
            height: 32px;
        }

            .transactiondivnew > div {
                display: inline-block;
                margin: 0 auto;
                padding: 4px;
            }

                .transactiondivnew > div > input {
                    box-sizing: initial;
                    display: inline-block;
                    margin: 0 auto;
                    width: 108px;
                }

        .transactiontablenew th, .transactiontablenew td {
            background: rgba(246, 246, 246, 0.64) none repeat scroll 0 0;
            padding: 5px;
            border-bottom: 1px solid #c5c5c5;
            border-right: 1px solid #c5c5c5;
            text-align: center;
            color: rgba(114, 113, 113, 0.9);
        }

            .transactiontablenew th:nth-child(1) > input, .transactiontablenew td:nth-child(1) > input {
                margin: 0 auto;
            }

            .transactiontablenew th:nth-child(2), .transactiontablenew td:nth-child(2) {
                height: 100%;
                width: 100%;
            }

        .transactiontablenew tr:hover {
            cursor: pointer;
            background: #EEEEEE none repeat scroll 0 0;
        }

        .section1_Leave {
            display: block;
            border: 1.5px solid rgba(207, 207, 207, 0.91);
            height: 554px;
            width: 534px;
            margin: 4px auto;
            /*! position: absolute; */
            float: left;
        }

        .section2_Leave {
            display: block;
            border: 1px solid #ddd;
            height: 554px;
            width: 621px;
            margin: 5px 4px;
            position: absolute;
            left: 546px;
        }
    </style>
</head>

<body>
    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <button class="button" id="Create">Create</button>
            </div>
        </div>
    </div>

    <div id="Grid_Form">
        <div>
            <div id="Container" class="container">
                <div id="Demo">
                    <table id="MyTable" class="display" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>DD</th>
                                <th>EmployeeCode</th>
                                <th>EmployeeName</th>
                                <th>ID</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>DD</th>
                                <th>EmployeeCode</th>
                                <th>EmployeeName</th>
                                <th>ID</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div id="Create_Dialog" title="LV Cancel Req">
        <div class="filter-div">
            <label class="advance_filter_label">Advance Filter<span class="advance_filter_sysmbol_class_plus" id="Advance-Filter-Symbol"></span></label>
            <div id="FormFilter"></div>
        </div>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmServiceSecurity", name = "frmServiceSecurity" }))
        {
            //<div class="section_Method" id="Section_Emp">
                @*<div class="heading" style="width:1065px">Employee List</div>*@
                <div class="employeeselectiondiv">
                    <div class="transactiondivnew dynamic addons" style="float:left" id="asd">
                        <div><label>Search : </label><input type="text" id="Employee-Search" style="width: 425px;" /></div>
                        <table cellspacing="0" cellpadding="1" class="transactiontablenew" id="Employee-Table" name="Employee-Table" style="height: 1035px">
                            <tr><th><input type="checkbox" id="Case-Employee" class="Chck_emp" /></th><th>Employee</th></tr>
                        </table>
                    </div>
                </div>
          //  </div>

            <div class="section2_Leave">
                <div class=" " style="width: 506px;">
                    <input id="Autho_Action" type="hidden" name="Autho_Action" />
                    <input id="Autho_Allow" type="hidden" name="Autho_Allow" />

                    <div class="heading">Service Security Details</div>

                     <div class="row1 content_margine">@Html.LabelFor(m => m.FDR_No, "FDR No", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.FDR_No, new { @class = "popup-content-textbox must" })</div>
                    <div class="row1 content_margine">@Html.LabelFor(m => m.Amount, "Amount :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Amount, new { @class = "popup-content-textbox must" })</div>
                    <div class="row1 content_margine">@Html.LabelFor(m => m.Date, "Date :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Date, new { @class = "popup-content-textbox must" })</div>
                    <div class="row1 content_margine">@Html.LabelFor(m => m.DateOfMaturity, "Date Of Maturity :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.DateOfMaturity, new { @class = "popup-content-textbox must" })</div>

                    <div class="row1 content_margine horizontal_row1">
                        @Html.LabelFor(m => m.Closer, " Closer:", new { @class = "popup-content-label" })
                        <div class="popup_radio_button radio_button_div_1">
                            <span class="popup_radio_button radio_button_div_1">
                                <input type="radio" id="radio3" name="Closer" value="true" /> <label for="radio3">Yes</label>
                                <input type="radio" id="radio4" name="Closer" value="false" /> <label for="radio4">No</label>
                            </span>
                        </div>
                        <div class="row1 content_margine" id="DateOfCloserClass" style="float: right;padding-right: 23.5px;">
                            @Html.LabelFor(m => m.DateOfCloser, "Date Of Closer :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.DateOfCloser, new { @class = "popup-content-textbox" })
                        </div>
                    </div>
                    <div class="row1 content_margine">@Html.LabelFor(m => m.Remark, "Remark", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Remark, new { @class = "popup-content-textbox must" })</div>
                    <div class="row1 content_margine">
                        @Html.LabelFor(m => m.Location, "Location:", new { @class = "popup-content-label short_width" })
                        <select id="LocationList_DDL" name="LocationList_DDL" class="drop" style="width:250px;">
                            <option value="0">-Select-</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="emplist_row">
                <div id="Grid_Form2">

                </div>
            </div>

        }
    </div>
    @*<div class="section1_Leave">
            <div class="heading">Employee List</div>
            <div class="employeeselectiondiv">
                <div class="transactiondivnew dynamic addons" style="float:left">
                    <div>
                        <label>Search : </label>
                        <input type="text" id="Employee-Search" style="width: 425px;" />
                    </div>
                    <table cellspacing="0" cellpadding="1" class="transactiontablenew" id="Employee-Table">
                        <tr>
                            <th><input type="checkbox" id="Case-Employee" /></th>
                            <th>Employee</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>*@
    @*@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmServiceSecurity", name = "frmServiceSecurity" }))
        {
            <input name="geo_id" type="text" id="geo_id" class="struct_input_val" style="display:none" />
            <input name="pay_id" type="text" id="pay_id" class="struct_input_val" style="display:none" />
            <input name="fun_id" type="text" id="fun_id" class="struct_input_val" style="display:none" />
            <input type="text" id="Emp" name="Employee-Table" class="filter_structure_id" />
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
            <div class="section2_Leave">
                <div class="heading">Service Security Details</div>
                <div class="row1 content_margine">@Html.LabelFor(m => m.Amount, "Amount :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Amount, new { @class = "popup-content-textbox must" })</div>

                <div class="row1 content_margine horizontal_row1">
                    @Html.LabelFor(m => m.Closer, " Closer:", new { @class = "popup-content-label" })
                    <span class="popup_radio_button">
                        <span><input type="radio" id="radio3" name="Closer" value="true" /> <label for="radio3">Yes</label></span>
                        <span><input type="radio" id="radio4" name="Closer" value="false" /> <label for="radio4">No</label></span>
                    </span>
                    <div class="row1 content_margine" id="DateOfCloserClass" style="float: right;padding-right: 23.5px;">
                        @Html.LabelFor(m => m.DateOfCloser, "Date Of Closer :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.DateOfCloser, new { @class = "popup-content-textbox" })
                    </div>
                </div>
                <div class="row1 content_margine">@Html.LabelFor(m => m.Date, "Date :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.Date, new { @class = "popup-content-textbox" })</div>
                <div class="row1 content_margine">@Html.LabelFor(m => m.DateOfMaturity, "Date Of Maturity :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.DateOfMaturity, new { @class = "popup-content-textbox" })</div>
                <div class="row1 content_margine">@Html.LabelFor(m => m.FDR_No, "FDR No", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.FDR_No, new { @class = "popup-content-textbox must" })</div>
                <div class="row1 content_margine">@Html.LabelFor(m => m.Remark, "Remark", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Remark, new { @class = "popup-content-textbox must" })</div>
            </div>

        }*@
</body>
</html>
