@{
    ViewBag.Title = "Previous Company Exprience";
}
@model P2b.Global.PrevCompExp

<style>
    .icon-row {
        position: relative;
        left: 69px;
        top: -150px;
    }
</style>

<style>
    .row1 {
        width: 412px;
    }

    .popup-content-label {
        float: left;
        width: 115px;
    }
</style>


<div class="Form_Bg">
    <div class="Form_Input">
        <div class="Button_Container">
            <button class="button" id="Create">Create</button>
            <button class="button" id="View">View</button>
            <button class="button" id="Edit">Edit</button>
            <button class="button" id="Delete">Delete</button>
            <button class="button" id="Autho">Authorise</button>
            <div id="Grid_Form">
                <div>
                    <table id="JqGrid"></table>
                    <div id="pager2"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dialog_address">
    <div title="LookUp Data">
        <div class="lookupdiv_address"></div>
    </div>
    <div id="pageNavPosition_address">

    </div>
</div>
<div id="Create_Dialog">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmPrevCompExp", CompName = "frmPrevCompExp" }))
    {
        <div class="row1 content_margine">
            @Html.LabelFor(m => m.CompName, "Name :", new { @class = "popup-content-label" })<input class="popup-content-textbox" data-val="true" data-val-length="CompName cannot be more than 50 characters" data-val-length-max="50" id="CompName" name="CompName" value="" style="width: 287px;" type="text">
        </div>
        <div class="row1 content_margine">
            @Html.LabelFor(m => m.CompAddress, "Address :", new { @class = "popup-content-label" })  <div class="popup-content-table">
                <table class="lookuptableselected" id="CompAddressList">
                    <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                </table>
            </div>
            <div class="icon-row">
                <button data-p2btooltip="LookUp CompAddress Details" class="popup-content-icon-lookup" id="Lookup-CompAddress-PrevCompExp"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                <button data-p2btooltip="Crate CompAddress Details" class="popup-content-icon-create" id="Create-CompAddress-PrevCompExp"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                <button data-p2btooltip="Edit CompAddress Details" class="popup-content-icon-edit" id="Edit-CompAddress-PrevCompExp"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                <button data-p2btooltip="Remove CompAddress Details" class="popup-content-icon-remove" id="Remove-CompAddress-PrevCompExp"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
            </div>
        </div>
        <div class="row1 content_margine">
            @Html.LabelFor(m => m.ContactDetails, "Company Contact Details :", new { @class = "popup-content-label" })  <div class="popup-content-table">
                <table class="lookuptableselected" id="ContactDetailsList">
                    <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                </table>
            </div>
            <div class="icon-row">
                <button data-p2btooltip="LookUp ContactDetails Details" class="popup-content-icon-lookup" id="Lookup-ContactDetails-PrevCompExp"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                <button data-p2btooltip="Crate ContactDetails Details" class="popup-content-icon-create" id="Create-ContactDetails-PrevCompExp"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                <button data-p2btooltip="Edit ContactDetails Details" class="popup-content-icon-edit" id="Edit-ContactDetails-PrevCompExp"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                <button data-p2btooltip="Remove ContactDetails Details" class="popup-content-icon-remove" id="Remove-ContactDetails-PrevCompExp"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
            </div>
        </div>
        <div class="row1 content_margine">
            @Html.LabelFor(m => m.FromDate, "From Date :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.FromDate, new { @class = "popup-content-textbox date" })
        </div>
        <div class="row1 content_margine">
            @Html.LabelFor(m => m.ToDate, "To Date :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.ToDate, new { @class = "popup-content-textbox date" })
        </div>
        <div class="row1 content_margine">
            @Html.LabelFor(m => m.YrOfService, "Years Of Experiance :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.YrOfService, new { @class = "popup-content-textbox" })
        </div>
        <div class="row1 content_margine">
            @Html.LabelFor(m => m.JoiningJobPosition, "Joining Job Position :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.JoiningJobPosition, new { @class = "popup-content-textbox" })
        </div>
        <div class="row1 content_margine">
            @Html.LabelFor(m => m.LeaveingJobPosition, "Leaveing Job Position :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.LeaveingJobPosition, new { @class = "popup-content-textbox" })
        </div>
        <div class="row1 content_margine">
            @Html.LabelFor(m => m.Reason, "Reason :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.Reason, new { @class = "popup-content-textbox" })
        </div>
        <div class="row1 content_margine">
            @Html.LabelFor(m => m.LastDrawnSalary, "Last Drawn Salary :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.LastDrawnSalary, new { @class = "popup-content-textbox" })
        </div>
        <div class="row1 content_margine">
            @Html.LabelFor(m => m.SpecialAchievements, "Special Achievements :", new { @class = "popup-content-label" })@Html.TextAreaFor(m => m.SpecialAchievements, new { @class = "popup-content-textbox" })
        </div>
    }
</div>

<script>
    $(document).ready(function (e) {
        $('button').button();
        $('.popup_radio_button').controlgroup();
        var dt;
        function AssignData() {
        dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }
        var dt;
        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;
        ColModel = ['EmpCode', 'EmpName', 'Id'];
        ColNames = ['EmpCode ', 'EmpName', 'Id'];
        SortName = 'Id';
        Caption = 'Previous Company Experience';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;
        $('#CompName').ValidateTextBox({ maxlength: 50, name: true });
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);

            $('#Create_Dialog').P2BCreateDialog();
            $('#Create').button().on("click", function (e) {
                $('#frmPrevCompExp').trigger('reset');
                $.LoadEmpByDefault(true);     
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create Previous Company Experience', 'open', '@Url.Action("create") ', '#frmPrevCompExp', 'Message :', 'Request Falied :', '#JqGrid', 315, 543, '', '', function (data) { });
            e.preventDefault();
            });

        $('#Delete').button().click(function (e) {
        dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        $('#frmPrevCompExp').P2BDeleteModalDialog('@Url.Action("Delete")', dt.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
        e.preventDefault();
        });

        $('#Edit').on('click', function (e) {
            AssignData();
            $('#frmPrevCompExp').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit Previous Company Experience", '#frmPrevCompExp', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 315, 543, '#Itsection10salheadlist', '', function (data) {
                $.each(data[0], function (i, k) {
                    $('#CompName').val(k.CompName);
                    $('#FromDate').val(k.FromDate);
                    $('#JoiningJobPosition').val(k.JoiningJobPosition);
                    $('#LastDrawnSalary').val(k.LastDrawnSalary);
                    $('#LeaveingJobPosition').val(k.LeaveingJobPosition);
                    $('#Reason').val(k.Reason);
                    $('#ToDate').val(k.ToDate);
                    $('#YrOfService').val(k.YrOfService);
                    $('#SpecialAchievements').val(k.SpecialAchievements);
                });
                $.each(data[1], function (i, k) {
                    $('#CompAddressList').P2BLookUpEncapsulate('#CompAddressList', 'CompAddressList', k.Add_Id, k.Address_FullAddress, 'CompAddressList', btndisablename, 'N');
                    $('#ContactDetailsList').P2BLookUpEncapsulate('#ContactDetailsList', 'ContactDetailsList', k.itsec10salhead_id, k.itsec10salhead_fulldetails, 'ContactDetailsList', btndisablename, 'N');
                });
            });
            e.preventDefault();
        });

        $('#Autho').makeDisable('#Create,#Edit,#Delete');
        var Viewbtndisable = '#Lookup-ContactDetails-PrevCompExp,#Create-ContactDetails-PrevCompExp,#Edit-ContactDetails-PrevCompExp,#Remove-ContactDetails-PrevCompExp,#Lookup-CompAddress-PrevCompExp,#Create-CompAddress-PrevCompExp,#Edit-CompAddress-PrevCompExp,#Remove-CompAddress-PrevCompExp';
        $('#View').button().click(function (event) {
            AssignData();
            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View Previous Company Experience', '#ContactDetailsList,#CompAddressList', Viewbtndisable, 315, 543, '#Autho', '', '', '', '', 'Message : ', 'Request Falied :', '#JqGrid', function (data) {
                $.each(data[0], function (i, k) {
                    $('#ExceptionCode').val(k.ExceptionCode);
                    $('#MaxAmount').val(k.MaxAmount);
                });
                $.each(data[1], function (i, k) {
                    $('#ContactDetailsList').P2BLookUpEncapsulate('#ContactDetailsList', 'ContactDetailsList', k.itsec10salhead_id[i], k.itsec10salhead_fulldetails[i], 'ContactDetailsList', '', 'N');
                });
                if ($("#Autho").hasClass('auto_active')) {
                    $.each(data[2], function (i, k) {
                        $('#ExceptionCode').oldVal(k.ExceptionCode);
                        $('#MaxAmount').oldVal(k.MaxAmount);
                        $('#Itsection10salheadlist_old').oldLookupVal(k.itsec10salhead_fulldetails);
                    });
                }
            });
            event.preventDefault();
        });

        $('.date').P2BDatePicker();
    });
</script>