@model P2b.Global.EmpSocialInfo
@{
    ViewBag.Title = "EmpSocialInfo";
}

<style>
    .icon-row {
        position: absolute;
        left: 67px;
        top: 132px;
    }

    .popup-content-textbox {
        /*! margin-bottom:1px; */
        min-width: 59%;
        margin: 0px 0px 3px 1px;
    }

    .popup-content-label {
        display: block;
        margin: 1px;
        float: left;
        width: 99px;
    }

    .row3 {
        width: 402px;
    }
</style>

<html>
<head>
    <title></title>
   
    <style>
        .icon-row {
            position: relative;
            left: 95px;
            top: -150px;
        }

        .transactiontablenew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            /*width: 200px;*/
            display: block;
            overflow: auto;
            height: 500px;
            border-collapse: collapse;
        }

        .transactiondivnew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            width: 507px;
            border-radius: 5px;
            height: 32px;
        }

            .transactiondivnew > div {
                display: inline-block;
                margin: 0 auto;
                padding: 4px;
            }

                .transactiondivnew > div > input {
                    box-sizing: initial;
                    display: inline-block;
                    margin: 0 auto;
                    width: 108px;
                }

        .transactiontablenew th, .transactiontablenew td {
            background: rgba(246, 246, 246, 0.64) none repeat scroll 0 0;
            padding: 5px;
            border-bottom: 1px solid #c5c5c5;
            border-right: 1px solid #c5c5c5;
            text-align: center;
            color: rgba(114, 113, 113, 0.9);
        }

            .transactiontablenew th:nth-child(1) > input, .transactiontablenew td:nth-child(1) > input {
                margin: 0 auto;
            }

            .transactiontablenew th:nth-child(2), .transactiontablenew td:nth-child(2) {
                height: 100%;
                width: 100%;
            }

        .transactiontablenew tr:hover {
            cursor: pointer;
            background: #EEEEEE none repeat scroll 0 0;
        }

        .section1_Leave {
            display: block;
            border: 1.5px solid rgba(207, 207, 207, 0.91);
            height: 688px;
            width: 534px;
            margin: 4px auto;
            position: absolute;
        }

        .section2_Leave {
            display: block;
            border: 1px solid #ddd;
            height: 250px;
            width: 610px;
            margin: 5px 4px;
            position: absolute;
            left: 546px;
        }


        #BusinessType-button {
            font-size: 9px;
            padding-top: 1px;
            font-weight: bold;
        }

        .popup-content-label {
            width: 138px;
            display: block;
            float: left;
            margin: 1px;
        }

        .popup-content-label-2 {
            width: 100px;
            display: block;
            float: left;
            margin: 1px;
        }

        .section1_Leave {
            display: block;
            border: 1.5px solid rgba(207, 207, 207, 0.91);
            height: 688px;
            width: 534px;
            margin: 4px auto;
            position: absolute;
        }

        .section2_Leave {
            display: block;
            border: 2px solid #ddd;
            height: 389px;
            width: 509px;
            margin: 5px 4px;
            position: absolute;
            left: 546px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 150px;
        }

        .row3 {
            width: 471px;
        }

        .row4 {
            position: absolute;
            top: 294px;
            width: 400px;
        }

        .row6 {
            width: 370px;
            display: inline-block;
        }

        .popup-content-textbox-long {
            margin-bottom: 1px;
            width: 290px;
        }



        .row2 {
            width: 402px;
        }
    </style>
</head>
<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <button class="button" id="Create">Create</button>
                <button class="button" id="View">View</button>
                <button class="button" id="Edit">Edit</button>
                <button class="button" id="Delete">Delete</button>
                <button class="button" id="Autho">Authorised</button>
                <div id="Grid_Form">
                    <div>
                        <table id="JqGrid"></table>
                        <div id="pager2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>

    <div id="Create_Dialog">

        <div class="section_Method" id="Section_Emp">
            <div class="heading" style="width:1065px">Employee List</div>

            <div class="employeeselectiondiv">
                <div class="transactiondivnew dynamic addons" style="float:left" id="asd">
                    <div><label>Search : </label><input type="text" id="Employee-Search" style="width: 425px;" /></div>
                    <table cellspacing="0" cellpadding="1" class="transactiontablenew" id="Employee-Table" style="height: 358px">
                        <tr><th><input type="checkbox" id="Case-Employee" class="Chck_emp" /></th><th>Employee</th></tr>
                    </table>
                </div>
            </div>
        </div>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormEmpSocialInfo", name = "FormEmpSocialInfo" }))
{

    <input id="Emp" class="filter_structure_id" name="Employee-Table" />

            <div class="section2_Leave">
                <div class=" " style="width: 506px;">

                    <input id="Autho_Action" type="hidden" name="Autho_Action" />
                    <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
                  
                    <div class="row3 content_margine">
                        @Html.LabelFor(m => m.Religion, "Religion :", new { @class = "popup-content-label must" })
                        <select id="Religionlist" name="Religionlist" style="width:150px;" class="drop must"></select>
                    </div>
                    <div class="row3 content_margine">
                        @Html.LabelFor(m => m.Category, "Category :", new { @class = "popup-content-label must" })
                        <select id="CategoryList_DDL" name="CategoryList_DDL" style="width:150px;" class="drop must"></select>
                    </div>
                    <div class="row3 content_margine">
                        @Html.LabelFor(m => m.Caste, "Caste :", new { @class = "popup-content-label " })
                        <select id="Castelist" name="Castelist" style="width:150px;" class="drop "></select>
                    </div>
                    <div class="row3 content_margine">
                        @Html.LabelFor(m => m.SubCaste, "Sub Caste :", new { @class = "popup-content-label " })
                        <select id="SubCastelist" name="SubCastelist" style="width:150px;" class="drop "></select>
                    </div>

                    <div class="row3 content_margine">
                        <div id="SocialActivitieslist_old"></div>
                        @Html.LabelFor(m => m.SocialActivities, "Social Activities :", new { @class = "popup-content-label" })  <div class="popup-content-table">
                            <div id="SocialActivitieslist_old"></div>
                            <table class="lookuptableselected" id="SocialActivitieslist">
                                <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                            </table>
                        </div>
                        <div class="icon-row">
                            <button data-p2btooltip="LookUp Social Activities Details" class="popup-content-icon-lookup" id="Lookup-SocialActivities-EmpSocialInfo"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Create Social Activities Details" class="popup-content-icon-create" id="Create-SocialActivities-EmpSocialInfo"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Edit Social Activities Details" class="popup-content-icon-edit" id="Edit-SocialActivities-EmpSocialInfo"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Remove Social Activities Details" class="popup-content-icon-remove" id="Remove-SocialActivities-EmpSocialInfo"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                        </div>
                    </div>
               
                </div>
            </div>
            <div class="emplist_row">
                <div id="Grid_Form2">

                </div>
            </div>
        }
    </div>

</body>
</html>

<script>
    $(document).ready(function (e) {
        $('button').button();
        $('.popup_radio_button').controlgroup();
        var dt;
        var btndisablename = "#Edit-SocialActivities-EmpSocialInfo,#Remove-SocialActivities-EmpSocialInfo";
        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }
        var dt;
        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;


        // ColModel = ['Id', 'Category', 'Religion', 'Caste', 'SubCaste'];
        // ColNames = ['Id', 'Category', 'Religion', 'Caste', 'SubCaste'];
        ColModel = ['EmpCode', 'EmpName', 'ID'];
        ColNames = [ 'Employee Code', 'Employee Name', 'ID'];
        SortName = 'Id';
        Caption = 'Employee Social Information';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);


        //function DateConvert(JsonDate) {
            //    var date = new Date(parseInt(JsonDate.substr(6)));
            //    var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
            //    return displayDate;
        //};


        $('#Employee-Table').on('click', 'input:checkbox:gt(0)', function (e) {
            //  $('input[type="checkbox"]').not(this).prop("checked", false);
            if (this.checked) {
                $('#Religionlist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 103, "");
                $('#Castelist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 105, "");
                $('#SubCastelist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 106, "");
                $('#CategoryList_DDL').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 104, "");
                var id = $(this).val();
                $("#Emp").val(id);
            }
        });

        $('#Create_Dialog').P2BCreateDialog();
        $('#Create').button().on("click", function (e) {
            $('#FormEmpSocialInfo').trigger('reset');
            $('#Section_Emp').fadeIn();
            $.LoadEmpByDefault(true);
            $('#Advance-Filter-Symbol').on('click', function () {
                $("<div></div>").FilterDialog({
                    width: 1000,
                    height: 400,
                    title: "Filter",
                    htmlurl: "@Url.Action("Advance_partial", "Transcation")",
                    returnat: function (data) {
                        console.log(data);
                        var forwarddata = JSON.stringify(data);
                        $('#Employee-Table').P2BTransactionTableDynamic('#Employee-Search', '#Case-Employee', './Transcation/Get_Employelist_h?geo_id=' + forwarddata + '', "");
                    },
                    renderat: "#FormFilter", hierarchy: true,
                });
            //console.log($('#FormFilter')[0]);
        });

        $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create Employee Social Info ', 'open', '@Url.Action("create") ', '#FormEmpSocialInfo', 'Message :', 'Request Falied :', '#JqGrid', 528, 1076, '#SocialActivitieslist', btndisablename, function (data) { });
       
        $('#Religionlist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 103, "");
        $('#Castelist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 105, "");
        $('#SubCastelist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 106, "");
            $('#CategoryList_DDL').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 104, "");
            e.preventDefault();
    });



    $('#Delete').button().click(function (e) {
        dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        $('#FormEmpSocialInfo').P2BDeleteModalDialog('@Url.Action("Delete")', dt.ID, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
        e.preventDefault();
    });
    $('#Edit').on('click', function (e) {
        AssignData();
        $('#Section_Emp').fadeOut();
        //$('#Create_Dialog').P2BEditModalDialog('@@Url.Action("Edit")', dt.Id, '@@Url.Action("EditSave")', "Edit Data", '#FormCorporate', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 500, 620, '#AddressList,#ContactDetailsList', btndisablenames, function (data) {
        $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.ID, '@Url.Action("EditSave")', "Edit Employee Social Info->" + JSON.stringify(dt) + "", '#FormEmpSocialInfo', dt.ID, 'Message : ', 'Request Falied :', '#JqGrid', 528, 1076, '#SocialActivitieslist', btndisablename, function (data) {
            $.each(data[0], function (i, k) {
                $('#CategoryList_DDL').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 104, k.Category); // Dropdown bind
                $('#Religionlist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 103, k.Religion); // Dropdown bind
                $('#Castelist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 105, k.Caste); // Dropdown bind
                $('#SubCastelist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 106, k.SubCaste); // Dropdown bind
            });
            $.each(data[1], function (i, k) {
                $('#SocialActivitieslist').P2BLookUpEncapsulate('#SocialActivitieslist', 'SocialActivitieslist', k.SA_id, k.SA_val, 'SocialActivitieslist', btndisablename, 'A');
            });
            $('#Autho_Allow').val(data[3]); //Compulsory for authorisation
        });
        e.preventDefault();
    });

    $('#Create-SocialActivities-EmpSocialInfo').on('click', function (e) {
        $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "EmpSocialInfo")', 'Create Employee Social Activity', 'open', '@Url.Action("Create", "SocialActivities")', '#FormSocialActivities', 'Message :', 'Request Falied :', '#JqGrid', 250, 470, '', '', '', '#FormEmpSocialInfo', 'btndisablename', function (data) {

            $('#SocialActivitieslist').P2BLookUpEncapsulate('#SocialActivitieslist', 'SocialActivitieslist', data[0], data[1], 'SocialActivitieslist', btndisablename, 'A');
        });
        e.preventDefault();
    });


    @*$('#Lookup-SocialActivities-EmpSocialInfo').button().on('click', function (event) {
              @*$('.dialog').P2BLookUpModal('@Url.Action("GetAddressLKDetails", "Corporate")', '', 'LookupDiv', 'Address Look Up Data', '#AddressList', 'AddressList', 5, 'AddressList', '#FormCorporate', 'N', '#Edit-Address-Corporate,#Remove-Address-Corporate', 'Lookup_table', 'PageNavPosition');*@
    //     $('.dialog_address').P2BLookUpModal('@@Url.Action("GetLookupDetails", "EmpSocialInfo")', '', 'LookupDiv-EmpSocialInfo', 'Look Up Data', '#SocialActivitieslist', 'SocialActivitieslist', 5, 'SocialActivitieslist', '#FormEmpSocialInfo', 'N', '#Edit-SocialActivities-EmpSocialInfo,#Remove-SocialActivities-EmpSocialInfo', 'Lookup_table', 'PageNavPosition');
    //      // $('.ContactDetLKDiv').P2BLookUpModal('@@Url.Action("GetContactDetLKDetails", "Corporate")', '', 'ContactDetLKDiv', 'Look Up Data', '#ContactDetailsList', 'ContactDetailsList', 10, 'ContactDetailsList', '#FormCorporate', 'N', '#Edit-ContactDetails-Corporate,#Remove-ContactDetails-Corporate', 'lookupdiv_ContactDet', 'pageNavPosition_ContactDet');
    //     event.preventDefault();
    // });*

    //  $('#Lookup-SocialActivities-EmpSocialInfo').button().on('click', function (event) {
    //     @*$('.dialog').P2BLookUpModal('@Url.Action("GetAddressLKDetails", "Corporate")', '', 'LookupDiv', 'Address Look Up Data', '#AddressList', 'AddressList', 5, 'AddressList', '#FormCorporate', 'N', '#Edit-Address-Corporate,#Remove-Address-Corporate', 'Lookup_table', 'PageNavPosition');*@
    //   $('.dialog').P2BLookUpModal('@@Url.Action("GetLookupDetails", "SocialActivities")', '', 'LookupDiv', 'Look Up Data', '#SocialActivitieslist', 'SocialActivitieslist', 5, 'SocialActivitieslist', '#FormEmpSocialInfo', 'N', '#Edit-SocialActivities-EmpSocialInfo,#Remove-SocialActivities-EmpSocialInfo', 'Lookup_table', 'PageNavPosition');
    // $('.ContactDetLKDiv').P2BLookUpModal('@@Url.Action("GetContactDetLKDetails", "Corporate")', '', 'ContactDetLKDiv', 'Look Up Data', '#ContactDetailsList', 'ContactDetailsList', 10, 'ContactDetailsList', '#FormCorporate', 'N', '#Edit-ContactDetails-Corporate,#Remove-ContactDetails-Corporate', 'lookupdiv_ContactDet', 'pageNavPosition_ContactDet');
    //    event.preventDefault();
    //  });

    $('#Lookup-SocialActivities-EmpSocialInfo').on('click', function (event) {
        $('.dialog').P2BLookUpModal('@Url.Action("GetLookupDetails", "SocialActivities")', '', 'LookupDiv', 'Look Up SocialActivities', '#SocialActivitieslist', 'SocialActivitieslist', 5, 'SocialActivitieslist', '#FormEmpSocialInfo', 'A', '#Edit-SocialActivities-EmpSocialInfo,#Remove-SocialActivities-EmpSocialInfo', 'Lookup_table', 'PageNavPosition');
        event.preventDefault();
    });


    var Viewbtndisable = '#Lookup-SocialActivities-EmpSocialInfo,#Create-SocialActivities-EmpSocialInfo,#Edit-SocialActivities-EmpSocialInfo,#Remove-SocialActivities-EmpSocialInfo';
    $('#View').button().click(function (event) {
        AssignData();
        $('#Section_Emp').fadeOut();
        $('#Employee-Table').val(JSON.stringify(dt));
        var v1 = JSON.stringify(dt);
        //$('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View', '#PostionList', '#Lookup-JobPosition-Job,#Create-JobPosition-Job,#Edit-JobPosition-Job,#Remove-JobPosition-Job', 500, 620, '#Autho', '@@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {
        $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.ID, v1 , '#SocialActivitieslist', Viewbtndisable, 528, 1076, '#Autho', '@Url.Action("AuthSave")', dt.ID, '', '', '', '', '#JqGrid', function (data) {
            $.each(data[0], function (i, k) {
                $('#Autho_Action').val(k.Action);
                $('#CategoryList_DDL').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 104, k.Category); // Dropdown bind
                $('#Religionlist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 103, k.Religion); // Dropdown bind
                $('#Castelist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 105, k.Caste); // Dropdown bind
                $('#SubCastelist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 106, k.SubCaste); // Dropdown bind
                //  $('#CategoryList_DDL').P2BSelectMenuAppend("@@Url.Action("GetLookupValue", "lookup")", 402, k.BusinessType_Id);
            });
            $.each(data[1], function (i, k) {
                $('#SocialActivitieslist').P2BLookUpEncapsulate('#SocialActivitieslist', 'SocialActivitieslist', k.SA_id, k.SA_val, 'SocialActivitieslist', 'view', 'A');
            });
            if ($("#Autho").hasClass('auto_active')) {
                $.each(data[2], function (i, k) {
                    $('#Religionlist').StickNote(data[2].Religion);
                    $('#CategoryList_DDL').StickNote(data[2].Category);
                    $('#Castelist').StickNote(data[2].Caste);
                    $('#SubCastelist').StickNote(data[2].SubCaste);
                    $('#SocialActivitieslist_Old').StickNote(k.SA_Val);
                });
            }
        });
        event.preventDefault();
    });





    $('#Remove-SocialActivities-EmpSocialInfo').button().on('click', function (event) {
        //  dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        //var a = [], b;
        //a = $('#SocialActivitieslist').P2BGetTableDataonSelectedRow('#SocialActivitieslist', 0);
        //b = a[0];
        var selectedRows = [];
        selectedRows = $('#SocialActivitieslist').P2BGetTableDataonSelectedRow('#SocialActivitieslist', 0);
        $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#SocialActivitieslist', $('#SocialActivitieslist').val(), 200, 200, '#FormEmpSocialInfo', '#SocialActivitieslist');
        event.preventDefault();
    });


    $('#Edit-SocialActivities-EmpSocialInfo').button().on("click", function (event) {
        var a = [], b;
        a = $('#SocialActivitieslist').P2BGetTableDataonSelectedRow('#SocialActivitieslist', 0);
        b = a[0];
        console.log(b);
        //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname,                                                                                                                    height, width, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not, returndatafunction) {
        $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "SocialActivities")', '@Url.Action("Edit", "SocialActivities")', b, '@Url.Action("editsave", "SocialActivities")', 'Edit Employee Social Info', '#FormSocialActivities', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#FormEmpSocialInfo', '#SocialActivitieslist', 'SocialActivitieslist', 'SocialActivitieslist', 'A', '#Edit-SocialActivities-EmpSocialInfo,#Remove-SocialActivities-EmpSocialInfo', function (data) {
            $('#FromPeriod').prop('disabled', true);
            $('#ToPeriod').prop('disabled', true);
            // setTimeout(function () {
            $.each(data[0], function (i, k) {
                $('#FormSocialActivities').trigger('reset');
                $('#InstituteName').val(k.InstituteName);
                $('#PostHeld').val(k.PostHeld);
                // $('#FromPeriod').val(k.FromPeriod);


                $('#FromPeriod').val(k.FromPeriod);
                if (k.FromPeriod != null) {
                    $('#FromPeriod').val(DateConvert(k.FromPeriod));
                }


                $('#ToPeriod').val(k.ToPeriod);
                if (k.ToPeriod != null) {
                    $('#ToPeriod').val(DateConvert(k.ToPeriod));
                }
            });
        });
        event.preventDefault();
    });





    $('#Religion').ForceOnlyAlphaNumeric();
    $('#Religion').MaxLength(25);
    $('#Category').ForceOnlyAlphaNumeric();
    $('#Category').MaxLength(25);
    $('#Caste').ForceOnlyAlphaNumeric();
    $('#Caste').MaxLength(25);
    $('#SubCaste').ForceOnlyAlphaNumeric();
    $('#SubCaste').MaxLength(25);
    $('.popup_radio_button').controlgroup();
    $('#Autho').makeDisable('#Create,#Edit,#Delete');
    $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');
    $('.drop').selectmenu().selectmenu('menuWidget');
    });
</script>