@{
    ViewBag.Title = "Attendance Generation";
}
<script>
    $(document).ready(function (e) {      
        $.get('@Url.Action("Checkvisiblebtn", "SalAttendanceT")', function (data) {
            data.split('_').forEach(function (item) {
                $("#" + item).hide();
            });
        });
        $('button').button();
        @*var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;
        ColModel = ['Id', 'Code', 'Name', 'Pay Month', 'Total Earning', 'Total Deduction', 'Total Net'];
        ColNames = ['Id', 'Code', 'Name', 'Pay Month', 'Total Earning', 'Total Deduction', 'Total Net'];
        SortName = 'Id';
        Caption = 'Attendance Generation';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height, '#pager2', { multiple: true, rowNum: 30, selectall: true });*@

        $('#Load').on('click', function (e) {
            $('#JqGrid').PostGridData({ url: url, filter: $('#txtPayMonth').val() });
        });
        $('.datepicker').MonthYearPicker();

        if ($("#txtPayMonth").val() == "") {
            var dt = new Date();
            var month = dt.getMonth() + 1;
            month = month < 10 ? '0' + month : '' + month;
            $("#txtPayMonth").val(month + "/" + dt.getFullYear());
        }
        $('.date-picker').MonthYearPicker();
        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }

        $('#MyTable').MultiLevelInlineEditGrid({
            url: "@Url.Action("Emp_Grid", "ManualAttendanceProcess")",
            htmurl: "@Url.Action("GridPartial", "ManualAttendanceProcess")",
            columnname: ["Code", "Name", "Id"],
            childheader: ["TimingCode", "SwipeDate", "InTime", "OutTime", "MusterRemarks", "IsLocked", "EarlyCount", "LateCount", "Id"],
            childurl: "@Url.Action("Get_ManualAttendanceProcessData", "ManualAttendanceProcess")",
            tableheader: "Manual Attendance Process",
            childurlColumnNo: "3"
        });

        $.DataTableChildManipulation = function (init, id, parentid, htmurl, editurl, submiturl) {
            var parent_element = $(init).parents('td:last').parent().prev();
            console.log(id);
            console.log(htmurl);
            console.log(parent_element);
            var dt = $('#MyTable').DataTable();
            var htmlcomponant = {
                init: init,
                Id: id,
                idx: parentid,
                htmurl: htmurl,
                editurl: editurl,
                submiturl: submiturl,
            };
            if ($(init).hasClass('ui-icon-newwin')) {
                return false;
                $('<div></div>').PartialCreateDialog({
                    height: 'auto',
                    width: 'auto',
                    form: "#EditGridForm",
                    htmlurl: htmurl,
                    state: "open",
                    mode: "View",
                    editurl: "@Url.Action("GridEditData", "ManualAttendanceProcess")",
                    editdata: id,
                    forwarddata: id,
                    returndatafunction: function (data) {
                        $.each(data, function (i, k) {
                            $('#Grid-ReqDate').val(k.ReqDate);
                            $('#Grid-FromDate').val(k.FromDate);
                            $('#Grid-ToDate').val(k.ToDate);
                            $('#Grid-TotalDays').val(k.TotalDays);
                            $('#Grid-Reason').val(k.Reason);
                        });
                    },
                    submitfun: function (data) {
                        var row = dt.row(parent_element);
                        if (row.child.isShown()) {
                            parent_element.removeClass('details');
                            row.child.hide();
                        }
                    }
                });
            } else if ($(init).hasClass('ui-icon-pencil')) {
                return false;
                $('<div></div>').PartialCreateDialog({
                    height: 'auto',
                    width: 'auto',
                    form: "#EditGridForm",
                    htmlurl: "@Url.Action("GridPartial", "ManualAttendanceProcess")",
                    state: "open",
                    mode: "Edit",
                    editurl: "@Url.Action("GridEditData", "ManualAttendanceProcess")",
                    submiturl: "@Url.Action("GridEditsave", "ManualAttendanceProcess")",
                    editdata: id,
                    forwarddata: id,
                    returndatafunction: function (data) {
                        $.each(data, function (i, k) {
                            //console.log(k.MonthlyInstallmentAmount);
                            $('#Edit-InstallmentPaid').val(k.InstallmentPaid);
                            //$('#Edit-MonthlyPricipalAmount').val(k.MonthlyPricipalAmount);
                        });
                    },
                    submitfun: function (data) {
                        var row = dt.row(parent_element);
                        if (row.child.isShown()) {
                            parent_element.removeClass('details');
                            row.child.hide();
                        }
                    }
                });
            } else if ($(init).hasClass('ui-icon-trash')) {
                return false;
                $('<div></div>').PartialCreateDialog({
                    state: "open",
                    mode: "Delete",
                    submiturl: "@Url.Action("GridDelete")",
                    forwarddata: id,
                    submitfun: function (data) {
                        var row = dt.row(parent_element);
                        if (row.child.isShown()) {
                            parent_element.removeClass('details');
                            row.child.hide();
                        }
                    }
                });
            }
        };



        $('#Create_Dialog').P2BCreateDialog();

        //Create Function
        $('#txtPayMonth1').on('change', function () {
            $('#Periodft').show();

            //var months = $("#txtPayMonth1").val();
            //var payprocess = $("#PayProcessGroupList").val();
            $.ajax({
                method: "POST",
                url: "@Url.Action("getperiod", "ManualAttendanceProcess")",
                data: { forwardata: $("#txtPayMonth1").val(), Processgrp: $("#PayProcessGroupList").val() },
                success: function (data) {

                    $.each(data, function (i, k) {
                        $('#PeriodFrom').val(k.Periodfrom);
                        $('#PeriodTo').val(k.PeriodTo);
                    });



                    //$('#PeriodFrom').val(data.Periodfrom);
                    //$('#PeriodTo').val(data.PeriodTo);
                },
            });


        });

        $('#process').on("click", function (event) {

            $('#frmAttendanceGenT').trigger("reset");
            if ($("#txtPayMonth").val()) {

                //$("#txtPayMonth1").val($("#txtPayMonth").val());
            } else {
                alert("Select Month..!");
                return false;
            }
            $('#process').ProcessConfirmation({
                confirmurl: "@Url.Action("ChkProcess")",
                month: "#txtPayMonth",
                msg: "Attendance Genration Already Done,Do You Want to Reprocess..?Please Confirm..!",
                status: function (data) {
                    if (data == true) {
                        $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create Attendance Gen T', 'open', '@Url.Action("ValidateForm")', '#frmAttendanceGenT', 'Message :', 'Request Falied :', '#JqGrid', 500, 900, '#AddressList,#ContactDetailsList', '', function (data) { }, {
                            datatablename: "#MyTable"
                        });
                        $('#PayMonth').val($('#txtPayMonth').val());


                    }
                }
            });
            $('#PayProcessGroupList').P2BSelectMenuAppend('@Url.Action("Polulate_PayProcessGroup", "ManualAttendanceProcess")', "", ""); // To bind dropdown on page load
            event.preventDefault();
        });
        //$.LoadEmpByDefault(false, "#txtPayMonth");
        $.LoadEmpByDefaultWOGeoId(false, "#txtPayMonth");
        $('#Advance-Filter-Symbol').on('click', function () {
            $("<div></div>").FilterDialog({
                width: 1000,
                height: 400,
                title: "Filter",
                htmlurl: "@Url.Action("Advance_partial", "Transcation")",
                returnat: function (data) {
                    console.log(data);
                    if (data.GeoStruct != null) {
                        $('#geo_id').val(data.GeoStruct);
                    }
                    if (data.PayStruct != null) {
                        $('#pay_id').val(data.PayStruct);
                    }
                    if (data.FunStruct != null) {
                        $('#fun_id').val(data.FunStruct);
                    }
                    var forwarddata = JSON.stringify(data);
                    $('#Employee-Table').P2BTransactionTableDynamic('#Employee-Search', '#Case-Employee', './Transcation/Get_Employelist?geo_id=' + forwarddata + '', "");
                },
                renderat: "#FormFilter",
            });
        });
        function ajaxloaderv2(cameform) {
            $('<a><i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw ajax_loder" style="color: rgba(27, 187, 173, 0.93);z-index:999;" aria-hidden="true"></i></a>').appendTo(cameform);
        };
        $('#release').on('click', function (e) {
            var a = $.GetGridSelctedvalue("#JqGrid", "Id");
            //  alert(a);
            a = a != null ? a.toString() : null;
            $.ajax({
                url: "@Url.Action("ReleaseProcess")",
                data: { forwardata: a, PayMonth: $("#txtPayMonth").val() },
                beforeSend: function () {
                    ajaxloaderv2('body');
                },
                success: function (data) {
                    $('<div></div>').P2BMessageModalDialog('ui-icon-info', data.responseText);
                },
                error: function (data) {
                    $('<div></div>').P2BMessageModalDialog('ui-icon-alert', data.responseText);
                }, complete: function (data) {
                    $('#JqGrid').trigger('reloadGrid');
                    $('.ajax_loder').remove();
                }
            });

            e.preventDefault();
        });

        $('#ActionProcessLV').click(function () {

            var getMon = $('#txtPayMonth').val();
            $('#process').ProcessConfirmation({
                confirmurl: "@Url.Action("ChkProcessAction")",
                month: "#txtPayMonth",
                msg: "You are going to Attendance Action LV for " + getMon,
                status: function (data) {
                    if (data == true) {

                        $.ajax({
                            url: "@Url.Action("ActiononAttendanceLvNewReq", "ManualAttendanceProcess")",
                            method: "POST",
                            data: {"PayMonth": $('#txtPayMonth').val()},
                            beforeSend: function () {
                                ajaxloaderv2('body');
                            },
                            success: function (data) {
                                if (data.success == true) {
                                    $('<div></div>').P2BMessageModalDialog('ui-icon-alert', data.responseText);

                                } else {
                                    alert(data.responseText);
                                    console.log(data);
                                }
                            },
                            complete: function () {
                                $('.ajax_loder').remove();

                            }
                        });


                    }
                }
            });
            event.preventDefault();
        });

        $("#BeforeActionOnAttendanceLVReport").on('click', function () {
            localStorage.setItem("BeforeActionOnAttendanceLV", $("#txtPayMonth").val());
            window.open('rptview/rptBeforeActionOnAttendanceLVatt?parm=22', '_blank');
            e.preventDefault();
        });

        $('#ActionProcess').on('click', function () {
            var mon = $("#txtPayMonth").val();
            $('#process').ProcessConfirmation({
                confirmurl: "@Url.Action("ChkProcessAction")",
                month: "#txtPayMonth",
                msg: "You are going to Attendance Action for " + mon,
                status: function (data) {
                    if (data == true) {
                        $.ajax({
                            url: "@Url.Action("ActiononAttendance", "ManualAttendanceProcess")?PayMonth=" + $('#txtPayMonth').val(),
                            method: "POST",
                            beforeSend: function () {
                                ajaxloaderv2('body');
                            },
                            success: function (data) {
                                if (data.success == true) {
                                    $('<div></div>').P2BMessageModalDialog('ui-icon-alert', data.responseText);

                                } else {
                                    alert(data.responseText);
                                    console.log(data);
                                }
                            },
                            complete: function () {
                                $('.ajax_loder').remove();

                            }
                        });


                    }
                }
            });
            event.preventDefault();


        });



        $('#Delete').on('click', function (e) {
            var a = $.GetGridSelctedvalue("#JqGrid", "Id");
            // alert("#JqGrid")
            a = a != null ? a.toString() : null;
            //    console.log(a);
            //   alert(a);
            $.ajax({
                url: "@Url.Action("DeleteProcess")",
                data: { forwardata: a, PayMonth: $("#txtPayMonth").val() },
                beforeSend: function () {
                    ajaxloaderv2('body');
                },
                success: function (data) {
                    $('<div></div>').P2BMessageModalDialog('ui-icon-info', data.responseText);
                },
                error: function (data) {
                    $('<div></div>').P2BMessageModalDialog('ui-icon-alert', data.responseText);
                }, complete: function (data) {
                    $('#JqGrid').trigger('reloadGrid');
                    $('.ajax_loder').remove();
                }
            });
            e.preventDefault();
        });
        @*$('<div></div>').P2BPartialCreateModalDialog();
        $('#Negative').button().on("click", function (event) {
            // $('#frmNegDetails').trigger("reset");
            //function (url, maindialogtitle, state, submiturl, submitnameformforserilize, savemessage, errormessage, gridreloadname, height, width, forwarddata, ControlName, event, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, returnfunctiondata) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Negativepartial", "ManualAttendanceProcess")', 'Create Negative', 'open', '@Url.Action("","")', '#frmNegDetails', 'Message :', 'Request Falied :', '#JqGrid', 700, 800, '', '', '', '#frmNegDetails', '#Edit-ContactNo-ContDetails,#Remove-ContactNo-ContDetails', function (data) {
                $('#PayMonth').val($('#txtPayMonth').val());
                $('#txtPayMonth1').val($('#txtPayMonth').val());
            });
            event.preventDefault();
        });*@
        $('#Periodft').hide();

        $('#PeriodFrom').datepicker({ dateFormat: 'dd/mm/yy' });
        $('#PeriodTo').datepicker({ dateFormat: 'dd/mm/yy' });

        $('.popup_radio_button').controlgroup();
        $('#PayProcessGroupList').selectmenu().selectmenu("menuWidget");

    });
</script>

<html>

<head>
    <title></title>
    @*<link href="~/Content/ManualAttendanceProcess/ManualAttendanceProcess.css" rel="stylesheet" />*@
    <style>
        #lvdata {
            float: right;
        }

        .icon-row {
            position: relative;
            left: 70px;
            top: -150px;
        }

        #BusinessType-button {
            font-size: 9px;
            padding-top: 1px;
            font-weight: bold;
        }

        .popup-content-label {
            display: block;
            float: left;
            width: 97px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 150px;
        }

        .row3 {
            width: 600px;
        }

        .row9 {
            width: 572px;
            display: inline-flex;
            float: right;
            margin-top: -25px;
        }

        .row4 {
            position: absolute;
            top: 294px;
            width: 400px;
        }

        .popup-content-textbox-long {
            margin-bottom: 1px;
            width: 290px;
        }

        .row5 {
            width: 282px;
            display: inline-flex;
        }

        .row2 {
            width: 250px;
            display: inline-block;
            /*! margin-left: -89px; */
            position: absolute;
            left: 191px;
            top: 137px;
        }

        .loader {
            width: 299px;
            /*! display: inline-flex; */
            /*! margin-left: -89px; */
        }

        .addwidth {
            width: 453px;
            height: 58px;
        }

        #process {
            top: 1px;
            left: 3px;
        }

        .section_Method {
            border: 1px solid rgba(207, 207, 207, 0.91);
            border-radius: 10px;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .transactiontablenew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            /*width: 200px;*/
            display: block;
            overflow: auto;
            height: 500px;
            border-collapse: collapse;
        }

        .transactiondivnew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            width: 507px;
            border-radius: 5px;
            height: 32px;
        }

            .transactiondivnew > div {
                display: inline-block;
                margin: 0 auto;
                padding: 4px;
            }

                .transactiondivnew > div > input {
                    box-sizing: initial;
                    display: inline-block;
                    margin: 0 auto;
                    width: 108px;
                }

        .transactiontablenew th, .transactiontablenew td {
            background: rgba(246, 246, 246, 0.64) none repeat scroll 0 0;
            padding: 5px;
            border-bottom: 1px solid #c5c5c5;
            border-right: 1px solid #c5c5c5;
            text-align: center;
            color: rgba(114, 113, 113, 0.9);
        }

            .transactiontablenew th:nth-child(1) > input, .transactiontablenew td:nth-child(1) > input {
                margin: 0 auto;
            }

            .transactiontablenew th:nth-child(2), .transactiontablenew td:nth-child(2) {
                height: 100%;
                width: 100%;
            }

        .transactiontablenew tr:hover {
            cursor: pointer;
            background: #EEEEEE none repeat scroll 0 0;
        }

        .section1_Leave {
            display: block;
            border: 1.5px solid rgba(207, 207, 207, 0.91);
            height: 554px;
            width: 534px;
            margin: 4px auto;
            position: absolute;
        }

        .section2_Leave {
            display: block;
            border: 1px solid #ddd;
            height: 554px;
            /*! width: 610px; */
            margin: 5px 4px;
            /*! position: absolute; */
            left: 546px;
        }
    </style>

</head>

<body>
    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>

    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <div style="float:left">
                    <label id="lblPayMonth" class="popup-content-label must">Pay Month:</label>
                    <input name="txtPayMonth" type="text" id="txtPayMonth" class="date-picker" />
                </div>
                <button class="button" id="Load">Load</button>
                <button class="button" data-typeofbtn="process" id="process">Process</button>
                @*<button class="button" data-typeofbtn="delete" id="Delete">Delete Attendance</button>*@
                <button class="button" data-typeofbtn="ActionProcess" id="ActionProcess">Action On Attendance OD &#x26; FOD</button>
                <button class="button" data-typeofbtn="BeforeActionOnAttendanceLVReport" id="BeforeActionOnAttendanceLVReport">Before Action On Attendance LV Report</button>
                <button class="button" data-typeofbtn="ActionProcessLV" id="ActionProcessLV">Action On Attendance LV</button>
                <div id="Grid_Form">
                    <div>
                        <table id="JqGrid"></table>
                        <div id="pager2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="Grid_Form">
        <div>
            <div id="Container" class="container">
                <div id="Demo">
                    <table id="MyTable" class="display" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>DD</th>
                                <th>Employee Code</th>
                                <th>Employee Name</th>
                                <th>ID</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>DD</th>
                                <th>Employee Code</th>
                                <th>Employee Name</th>
                                <th>ID</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="Create_Dialog" title="Create Corporate">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmAttendanceGenT", name = "frmAttendanceGenT" }))
        {
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
            <input id="geo_id" class="filter_structure_id" name="geo_id" />
            <input id="pay_id" class="filter_structure_id" name="pay_id" />
            <input id="fun_id" class="filter_structure_id" name="fun_id" />
            @*<input type="text" id="Emp" name="Employee-Table" class="filter_structure_id" />*@
            <div class="section2_Leave">
                <div class="section_Method">
                    <div class="heading">Filter View</div>
                    <div class="filter-div">
                        <label class="advance_filter_label">Advance Filter<span class="advance_filter_sysmbol_class_plus" id="Advance-Filter-Symbol"></span></label>
                        <div id="FormFilter"></div>
                    </div>
                </div>
                <div class="section_Method">
                    <div class="heading">Attendance generation Details</div>
                    <div class="row3 content_margine">
                        <label id="lblPayprogessGroup" class="popup-content-label must">PayProcessGroup:</label>

                        <select id="PayProcessGroupList" name="PayProcessGroupList" style="width:160px">
                            <option value="0">-Select-</option>
                        </select>
                    </div>
                    <div class="row3 content_margine">
                        <label class="popup-content-label must">Salary Month :</label>
                        <input type="text" id="txtPayMonth1" class="popup-content-textbox datepicker must" name="PayMonth" />
                    </div>
                    <div id="Periodft">
                        <div class="row3 content_margine"><label class="popup-content-label must">Period From : </label><input type="text" id="PeriodFrom" class="popup-content-textbox must" name="PeriodFrom" /></div>
                        <div class="row9 content_margine"><label class="popup-content-label must">Period To :</label><input type="text" id="PeriodTo" class="popup-content-textbox" name="PeriodTo" /></div>
                    </div>


                </div>
                <div class="section_Method">
                    <div class="heading">Employee List</div>
                    <div class="employeeselectiondiv">
                        <div class="transactiondivnew dynamic addons" style="float:left">
                            <div><label>Search : </label><input type="text" id="Employee-Search" style="width: 425px;" /></div>
                            <table cellspacing="0" cellpadding="1" class="transactiontablenew" id="Employee-Table">
                                <tr><th><input type="checkbox" id="Case-Employee" /></th><th>Employee</th></tr>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>

</body>
</html>
