@{
    ViewBag.Title = "PreminaryEnquiry";
}

@model IR.PreminaryEnquiry
<style>
    .popup-content-label {
        width: 170px;
        display: block;
        float: left;
    }

    .popup-content-textbox {
        width: 120px;
    }

    .row1 {
        width: 320px;
    }

    /*.active {
        color: red;
    }*/

    .horizontal_row2, .radio_button_div_1 {
        display: inline-block;
    }

    .row3 {
        width: 477px;
    }

    .row2 {
        width: 402px;
    }

    .icon-row {
        left: 127px;
        position: relative;
        top: -121px;
    }

    .popup-content-table {
        right: 120px;
    }
</style>
<script>
    $(document).ready(function () {
        $('button').button();
        var dt;
        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;

        ColModel = ['CaseNo', 'VictimName', 'ProceedingStage', 'PreliminaryEnquiryDate', 'CaseEnquiryDate', 'EnquiryPanelRecommendation', 'Narration', 'IsDropCase', 'Id'];
        ColNames = ['CaseNo', 'VictimName', 'ProceedingStage', 'PreliminaryEnquiryDate', 'CaseEnquiryDate', 'EnquiryPanelRecommendation', 'Narration', 'IsDropCase', 'Id'];

        SortName = 'Id';
        Caption = 'Preliminary Enquiry';
        url = '@Url.Action("P2BGrid")';
        width = 1280;
        height = 150;
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);
        $('#Create_Dialog').P2BCreateDialog();
        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }
        //function DateConvert(JsonDate) {
            //    var date = new Date(parseInt(JsonDate.substr(6)));
            //    var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
            //    return displayDate;
        //};
        $('#Create').on("click", function () {
            $('#FormEnquiryPanel').trigger("reset");
            var temp = localStorage.getItem("getEmpIrIdKey");

            var empirid = @Request.QueryString["EmpIr"]
            console.log("empirid :::: " + empirid);
            if (empirid == undefined) {
                empirid = temp.toString();
            }

            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create Preliminary Enquiry ', 'open', '@Url.Action("Create")?EmpIr=' + empirid, '#FormEnquiryPanel', 'Message :', 'Request Falied :', '#JqGrid', 600, 600, '', '', '', function (data) { });
            $('#CaseNo').val("@Request.RequestContext.HttpContext.Session["findcase"]");
            var a = $('#CaseNo').val();

            $.post("@Url.Action("Getcomplain")", { data: a.toString(), data2: "" }, function (data) {
                if (data != null && data != "") {

                    if (data[0] != "") {
                        $('#Complaint').prop("readonly", true);
                        $('#Complaint').val(data[0]);
                    }
                    else {
                        $('#Complaint').prop("readonly", false);
                        $('#Complaint').val("");
                    }
                }
                else {

                    alert("Data Null");
                }
            });

            $('#CaseNo').attr('readonly', 'readonly');

        });

        $('#Lookup-EnquiryPanel-EnquiryPanel').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupEnquirypanel", "PreminaryEnquiry")', '', 'LookupDiv', 'EnquiryPanel Look Up Data', '#EnquiryPanelList', 'EnquiryPanelList', 5, 'EnquiryPanelList', '#FormEnquiryPanel', 'N', '#Remove-EnquiryPanel-EnquiryPanel', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        $('#Lookup-EmployeeDocuments-EmployeeDocuments').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupDetailsEmployeeDoc", "PreminaryEnquiry")', '', 'LookupDiv', 'EnquiryPanel Look Up Data', '#EmployeeDocumentslList', 'EmployeeDocumentslList', 5, 'EmployeeDocumentslList', '#FormEnquiryPanel', 'A', '#Remove-Employee-Employee', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        $('#Remove-EnquiryPanel-EnquiryPanel').button().on('click', function (event) {

            //a = $('#EnquiryPanelList').P2BGetTableDataonSelectedRow('#EnquiryPanelList', 0);
            //b = a[0];

            var selectedRows = [];
            selectedRows = $('#EnquiryPanelList').P2BGetTableDataonSelectedRow('#EnquiryPanelList', 0);
            console.log("Verify...");

            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#EnquiryPanelList', $('#EnquiryPanelList').val(), 200, 200, '#FormEnquiryPanel', '#EnquiryPanelList');
            event.preventDefault();
        });
        $('#Remove-EmployeeDocuments-EmployeeDocuments').button().on('click', function (event) {

            //a = $('#EmployeeDocumentslList').P2BGetTableDataonSelectedRow('#EmployeeDocumentslList', 0);
            //b = a[0];

            var selectedRows = [];
            selectedRows = $('#EmployeeDocumentslList').P2BGetTableDataonSelectedRow('#EmployeeDocumentslList', 0);
            console.log("Verify...");

            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#EmployeeDocumentslList', $('#EmployeeDocumentslList').val(), 200, 200, '#FormEnquiryPanel', '#EmployeeDocumentslList');
            event.preventDefault();
        });

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-EnquiryPanel-EnquiryPanel').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Partial", "PreminaryEnquiry")', 'Create ChargeSheetServingMode', 'open', '@Url.Action("Create", "EnquiryPanel")', '#FormEnquiryPanelList', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#FormEnquiryPanel', '', function (data) {
                $('#EnquiryPanelList').P2BLookUpEncapsulate('#EnquiryPanelList', 'EnquiryPanelList', data[0], data[1], 'EnquiryPanelList', '#Edit-WOCalendar-Location,#Remove-WOCalendar-Location', 'N');
            });
            event.preventDefault();
        });
        $('#Create-EnquiryPanel-EnquiryPanellist').on("click", function (event) {


            var a = $('#EmpCode').val();

            $('<div></div>').P2BConfidentialModelDialog({
                htmlurl: "@Url.Action("partial", "EmployeeDocuments")",
                submiturl: "@Url.Action("Create", "EmployeeDocuments")?EmpCode=" + a,
                form: '#FormCandidateDocs',
                height: "400",
                type: "FILE",
                width: "500",
                title: "DocumentUpload",
                BeforeSendurl: "true",
                returnfun: function (data) {
                    $('#EmployeeDocumentslList').P2BLookUpEncapsulate('#EmployeeDocumentslList', 'EmployeeDocumentslList', data.Id, data.Val, 'EmployeeDocumentslList', '', 'A');
                },
            });
            event.preventDefault();
        });

        $('#Edit').on('click', function () {
            AssignData();
            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit Preliminary Enquiry", '#FormEnquiryPanel', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 500, 620, '', '', function (data) {

                //Compulsory for authorisation
                var val = null;
                $.each(data[0], function (i, k) {
                    $('#FormEnquiryPanel').trigger("reset");
                    $('#CaseNo').val(k.CaseNo);
                    $('#EnquiryPanelRecommendation').val(k.EnquiryPanelRecommendation);
                    $('#Narration').val(k.Narration);
                    $('[name="IsDropCase"]').val([k.IsDropCase]).button().button("refresh");
                    if (k.PreminaryEnquiryDate != null)
                        $('#PreminaryEnquiryDate').val(DateConvert(k.PreminaryEnquiryDate));
                    else
                        $('#PreminaryEnquiryDate').val();
                    if (k.CaseEnquiryDate != null)
                        $('#CaseEnquiryDate').val(DateConvert(k.CaseEnquiryDate));
                    else
                        $('#CaseEnquiryDate').val();

                    $('#EnquiryPanelList').P2BLookUpEncapsulate('#EnquiryPanelList', 'EnquiryPanelList', k.Enquirypanel_Id, k.EnquirypanelDetails, 'EnquiryPanelList', '#Remove-ContactDetails-Location,#Edit-ContactDetails-Location', 'N');

                    var a = $('#CaseNo').val();

                    $.post("@Url.Action("Getcomplain")", { data: a.toString(), data2: "" }, function (data) {
                        if (data != null && data != "") {

                            if (data[0] != "") {
                                $('#Complaint').prop("readonly", true);
                                $('#Complaint').val(data[0]);
                            }
                            else {
                                $('#Complaint').prop("readonly", false);
                                $('#Complaint').val("");
                            }
                        }
                        else {

                            alert("Data Null");
                        }
                    });



                });
                $.each(data[1], function (i, k) {
                    $('#EmployeeDocumentslList').P2BLookUpEncapsulate('#EmployeeDocumentslList', 'EmployeeDocumentslList', k.Employeedoc_Id, k.EmployeedocFullDetails, 'EmployeeDocumentslList', '#Edit-HOCalendar-Department,#Remove-HOCalendar-Department', 'A');
                });
            });
        });

        $('#View').click(function (event) {
            AssignData();
            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View Preliminary Enquiry', '', '', 500, 620, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {
                //Compulsory for authorisation
                var val = null;
                $.each(data[0], function (i, k) {
                    $('#FormEnquiryPanel').trigger("reset");
                    $('#CaseNo').val(k.CaseNo);
                    $('#EnquiryPanelRecommendation').val(k.EnquiryPanelRecommendation);
                    $('#Narration').val(k.Narration);
                    $('[name="IsDropCase"]').val([k.IsDropCase]).button().button("refresh");
                    if (k.PreminaryEnquiryDate != null)
                        $('#PreminaryEnquiryDate').val(DateConvert(k.PreminaryEnquiryDate));
                    else
                        $('#PreminaryEnquiryDate').val();
                    if (k.CaseEnquiryDate != null)
                        $('#CaseEnquiryDate').val(DateConvert(k.CaseEnquiryDate));
                    else
                        $('#CaseEnquiryDate').val();
                    $('#EnquiryPanelList').P2BLookUpEncapsulate('#EnquiryPanelList', 'EnquiryPanelList', k.Enquirypanel_Id, k.EnquirypanelDetails, 'EnquiryPanelList', 'view', 'N');

                    var a = $('#CaseNo').val();

                    $.post("@Url.Action("Getcomplain")", { data: a.toString(), data2: "" }, function (data) {
                        if (data != null && data != "") {

                            if (data[0] != "") {
                                $('#Complaint').prop("readonly", true);
                                $('#Complaint').val(data[0]);
                            }
                            else {
                                $('#Complaint').prop("readonly", false);
                                $('#Complaint').val("");
                            }
                        }
                        else {

                            alert("Data Null");
                        }
                    });

                });
                $.each(data[1], function (i, k) {
                    $('#EmployeeDocumentslList').P2BLookUpEncapsulate('#EmployeeDocumentslList', 'EmployeeDocumentslList', k.Employeedoc_Id, k.EmployeedocFullDetails, 'EmployeeDocumentslList', 'view', 'A');
                });
            });
        });

        $('#Delete').on('click', function () {

            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'ID');
            $('#Create_Dialog').P2BDeleteModalDialog('@Url.Action("Delete")', dt.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
            event.preventDefault();
        });
        $('<div></div>').P2BPartialCreateModalDialog();
        $('.popup_radio_button').controlgroup();
        $('#PreminaryEnquiryDate').P2BDatePicker();
        $('#CaseEnquiryDate').P2BDatePicker();

    });
</script>
<html>
<head>
    <title></title>
</head>
<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <button class="button" id="Create">Create</button>
                <button class="button" id="View">View</button>
                <button class="button" id="Edit">Edit</button>
                <button class="button" id="Delete">Delete</button>

                <div id="Grid_Form">
                    <div>
                        <table id="JqGrid"></table>
                        <div id="pager2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>
    <div id="Create_Dialog">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormEnquiryPanel", name = "FormEnquiryPanel" }))
        {
            <div class="row3 content_margine">
                <label for="Complaint" class="popup-content-label ">Complaint</label>
                <textarea cols="30" rows="3" name="Complaint" id="Complaint" class="popup-content-textbox "></textarea>
            </div>
            <div class="row3 content_margine">
                @Html.LabelFor(m => m.CaseNo, "Case No :", new { @class = "popup-content-label must" })
                @Html.TextBoxFor(m => m.CaseNo, new { @class = "popup-content-textbox must" })
            </div>
            <div class="row3 content_margine">
                @Html.LabelFor(m => m.CaseEnquiryDate, " Case Enquiry Date:", new { @class = "popup-content-label must" })
                @Html.TextBoxFor(m => m.CaseEnquiryDate, new { @class = "popup-content-textbox must" })
            </div>

            <div class=" row3 content_margine">
                @Html.LabelFor(m => m.EnquiryPanel, "Enquiry Panel:", new { @class = "popup-content-label " })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="EnquiryPanelList">
                        <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup corresponding EnquiryPanel" class=" popup-content-icon-lookup" id="Lookup-EnquiryPanel-EnquiryPanel"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    @*<button data-p2btooltip="Create EnquiryPanel " class=" popup-content-icon-create" id="Create-EnquiryPanel-EnquiryPanel"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>*@
                    @*<button data-p2btooltip="Edit corresponding Contact Details" class=" popup-content-icon-edit" id="Edit-CorrsContactDetails-Employee"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>*@
                    <button data-p2btooltip="Delete EnquiryPanel" class=" popup-content-icon-remove" id="Remove-EnquiryPanel-EnquiryPanel"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>
            <div class="row3 content_margine">
                @Html.LabelFor(m => m.PreminaryEnquiryDate, " Preliminary Enquiry Date:", new { @class = "popup-content-label must" })
                @Html.TextBoxFor(m => m.PreminaryEnquiryDate, new { @class = "popup-content-textbox must" })
            </div>
            <div class="row3 content_margine">
                @Html.LabelFor(m => m.IsDropCase, "IsDropCase :", new { @class = "popup-content-label must" })
                <div class="popup_radio_button radio_button_div_1">
                    <span class="popup_radio_button radio_button_div_1">
                        <input type="radio" id="radio3" name="IsDropCase" value="true" /><label for="radio3">Yes</label>
                        <input type="radio" id="radio4" name="IsDropCase" value="false" checked="checked" /><label for="radio4">No</label>
                    </span>
                </div>
            </div>
            <div class=" row3 content_margine">
                @Html.LabelFor(m => m.EmployeeDocuments, "Supporting Documents:", new { @class = "popup-content-label " })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="EmployeeDocumentslList">
                        <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup Supporting Documents" class=" popup-content-icon-lookup" id="Lookup-EmployeeDocuments-EmployeeDocuments"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    @*<button data-p2btooltip="Create Supporting Documents " class=" popup-content-icon-create" id="Create-EmployeeDocuments-EmployeeDocuments"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>*@
                    @*<button data-p2btooltip="Edit corresponding Contact Details" class=" popup-content-icon-edit" id="Edit-CorrsContactDetails-Employee"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>*@
                    <button data-p2btooltip="Delete Supporting Documents" class=" popup-content-icon-remove" id="Remove-EmployeeDocuments-EmployeeDocuments"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>
            <div class="row3 content_margine">
                @Html.LabelFor(m => m.EnquiryPanelRecommendation, "Panel Recommendation :", new { @class = "popup-content-label must" })
                @Html.TextBoxFor(m => m.EnquiryPanelRecommendation, new { @class = "popup-content-textbox must" })
            </div>
            <div class="row3 content_margine">
                @Html.LabelFor(m => m.Narration, "Narration :", new { @class = "popup-content-label must" })
                @Html.TextBoxFor(m => m.Narration, new { @class = "popup-content-textbox " })
            </div>



        }
    </div>
</body>
</html>


