@model P2b.Global.LanguageSkill

@{
    ViewBag.Title = "LanguageSkill";
}

<head>
    <title></title>
    <style>
        .icon-row {
            position: relative;
            left: 74px;
            top: -150px;
        }

        #BusinessType-button {
            font-size: 9px;
            padding-top: 1px;
            font-weight: bold;
        }

        .popup-content-label {
            display: block;
            float: left;
            width: 121px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 150px;
        }

        .row3 {
            width: 402px;
        }

        .row4 {
            position: absolute;
            top: 294px;
            width: 400px;
        }

        .popup-content-textbox-long {
            margin-bottom: 1px;
            width: 290px;
        }


        .row2 {
            width: 402px;
        }
    </style>
</head>

<div class="Form_Bg">
    <div class="Form_Input">
        <div class="Button_Container">
            <button class="button" id="Create">Create</button>
            <button class="button" id="View">View</button>
            <button class="button" id="Edit">Edit</button>
            <button class="button" id="Delete">Delete</button>
            <button class="button" id="Autho">Authorized</button>
            <div id="Grid_Form">
                <div>
                    <table id="JqGrid"></table>
                    <div id="pager2"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="Lookup_Increment">
    <div title="LookUp Data">
        <div class="LookupDiv"></div>
    </div>
    <div id="PageNavPosition">

    </div>
</div>
<div id="Create_Dialog" title="Create LanguageSkill">

    @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "FormLanguageSkill", name = "FormLanguageSkill" }))
    {
        <input id="Autho_Action" type="hidden" name="Autho_Action" />
        <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
        @*<div class="row3 content_margine">
                @Html.LabelFor(m => m.Name, "Name:", new { @class = "sk_popup-content-label must" })
                @Html.TextBoxFor(m => m.Name, new { @class = "sk_popup-content-label must", @maxlength = "50" })
            </div>*@

        <div class="lan_row3">
            @Html.LabelFor(m => m.SkillType, "Skill Type :", new { @class = "popup-content-label must" })
            <select class="must" id="SkillTypelist" name="SkillTypelist" style="width:120px;"><option></option></select>
        </div>



        <div class="lan_row3">
            <div id="Languagelist_old"></div>
            @Html.LabelFor(m => m.Language, "Language :", new { @class = "popup-content-label" })
            <div class="popup-content-table">
                <table class="lookuptableselected" id="Languagelist">
                    <tr><th>Id</th><th>LookUp Selected Language</th></tr>
                </table>
            </div>
            <div class="icon-row">
                <button data-p2btooltip="Lookup Language" class="popup-content-icon-lookup" id="Lookup-Language-Languageskill"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                <button data-p2btooltip="Create Language" class="popup-content-icon-create" id="Create-Language-Languageskill"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                <button data-p2btooltip="Edit Language" class="popup-content-icon-edit" id="Edit-Language-Languageskill"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                <button data-p2btooltip="Remove Language" class="popup-content-icon-remove" id="Remove-Language-Languageskill"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
            </div>
        </div>

    }
</div>


<script>
    $(document).ready(function (e) {
        $('button').button();
        var dt;
        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;
        ColModel = ['Id', 'SkillType'];
        ColNames = ['Id', 'SkillType'];
        SortName = 'Id';
        Caption = 'Languageskill Details';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);

        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }
        var btndisablename = "Edit-Language-Languageskill,#Remove-Language-Languageskill";

        $('#Create_Dialog').P2BCreateDialog();

        //Create Function
        $('#Create').on("click", function (event) {
            $('#FormLanguageSkill').trigger("reset");
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create LanguageSkill', 'open', '@Url.Action("Create")', '#FormLanguageSkill', 'Message :', 'Request Falied :', '#JqGrid', 297, 552, '#Languagelist', btndisablename, function (data) { });
            $('#SkillTypelist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 308, ""); // To bind dropdown on page load
            event.preventDefault();
        });


        //------------------partial start
        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-Language-Languageskill').on("click", function (event) {

            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "Language")', 'Create Language', 'open', '@Url.Action("Create", "Language")', '#FormLanguage', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#FormLanguageSkill', '', function (data) {
                //console.log(qualificn.Id);
                
                $('#Languagelist').P2BLookUpEncapsulate('#Languagelist', 'Languagelist', data[0], data[1], 'Languagelist', '#Lookup_LanguageSkill_empAcademicDtl,#Create_LanguageSkill_empAcademicDtl', 'N');
            });
            event.preventDefault();
        });


        //To get data in Lookup
        $('#Lookup-Language-Languageskill').on('click', function (event) {
           
            $('.Lookup_Increment').P2BLookUpModal('@Url.Action("GetLanguageLKDetails", "LanguageSkill")', '', 'LookupDiv', 'Look Up Data', '#Languagelist', 'Languagelist', 5, 'Languagelist', '#FormLanguageSkill', 'N', '', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });





        $('#Edit-Language-Languageskill').button().on("click", function (event) {
            var a = [], b;
            a = $('#Languagelist').P2BGetTableDataonSelectedRow('#Languagelist', 0);
            b = a[0];
         //   console.log(b);
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname,                                                                                                                    height, width, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not, returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "Language")', '@Url.Action("Edit", "Language")', b, '@Url.Action("EditSave", "Language")', 'Edit Language ', '#FormLanguage', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#FormLanguageSkill', '#Languagelist', 'Languagelist', 'Languagelist', 'N', '#Edit-Language-Languageskill,#Remove-Language-Languageskill', function (data) {
                // setTimeout(function () {
                $.each(data[0], function (i, k) {
                    $('#FormLanguage').trigger("reset");
                    $('#LanguageName').val(k.LanguageName);
                });



                // }, 3000);
            });
            event.preventDefault();
        });

        $('#Remove-Language-Languageskill').button().on('click', function (event) {
              //  dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
                var a = [], b;
                a = $('#Languagelist').P2BGetTableDataonSelectedRow('#Languagelist', 0);
                b = a[0];
                $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#Languagelist', $('#Languagelist').val(), 200, 200, '#FormLanguageSkill', '#Languagelist', '');
                event.preventDefault();
            });


        $('#Remove-Language-Languageskill').button().on('click', function (event) {
            var a = [], b;
            a = $('#Languagelist').P2BGetTableDataonSelectedRow('#Languagelist', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('', b, dt.Id, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#Languagelist', $('#Languagelist').val(), 200, 200, '#Languagelist', '#Languagelist');
            event.preventDefault();
        });
        //------------------partial end



        //delete main page
        $('#Delete').button().click(function (event) {

            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');

            $('#FormLanguageSkill').P2BDeleteModalDialog('@Url.Action("Delete")', dt.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
            event.preventDefault();
        });

        // Main page edit
        $('#Edit').on('click', function () {
            AssignData();
            // $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View', '#Languagelist', btndisablename, 500, 620, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {
            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit Data", '#FormLanguageSkill', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 297, 552, 'Languagelist', btndisablename, function (data) {
                // setTimeout(function () {
                $.each(data[0], function (i, k) {
                    console.log(k.Code);
                    $('#SkillTypelist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 308, k.SkillType_Id); // Dropdown bind
                });

                //partial page bind
                $.each(data[1], function (i, k) {
                    $('#Languagelist').P2BLookUpEncapsulate('#Languagelist', 'Languagelist', k.Language_Id, k.Language_FullDetails, 'Languagelist', '', 'A');
                });
               
                $('#Autho_Allow').val(data[3]); //Compulsory for authorisation
                // }, 2000);
            });
        });

        //View main page
        @*$('#View').button().click(function (event) {
            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View', '#Languagelist', btndisablename, 500, 620, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {
                $.each(data[0], function (i, k) {
                    $('#Autho_Action').val(k.Action);
                    $('#SkillTypelist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 102, k.SkillType_Id);
                });
                $.each(data[1], function (i, k) {
                    // 
                    $('#Languagelist').P2BLookUpEncapsulate('#Languagelist', 'Languagelist', k.Language_Id, k.Language_FullDetails, 'Languagelist', '', 'A');

                });

                //To bind old data if authorisation is true
                if ($("#Autho").hasClass('auto_active')) {
                    // 
                    //  (data[2].Name, data[2].IncrList_val)
                    $('#SkillTypelist').oldVal(data[2].SkillType_Val);
                    $('#Languagelist_old').oldLookupVal(data[2].Language_val);
                }
            });

        });*@
        $('#View').button().click(function (event) {
            AssignData();
            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View ', '#Languagelist', btndisablename, 500, 620, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {
                $.each(data[0], function (i, k) {
                    $('#Autho_Action').val(k.Action);

                    $('#SkillTypelist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 102, k.SkillType_Id);
                });

                $.each(data[1], function (i, k) {
                    $('#Languagelist').P2BLookUpEncapsulate('#Languagelist', 'Languagelist', k.Language_Id, k.Language_FullDetails, 'Languagelist', '', 'A');
                });
                if ($("#Autho").hasClass('auto_active')) {
                    if (data[2] != null) {
                        $('#SkillTypelist').oldVal(data[2].SkillType_Val);
                        $('#Languagelist_old').oldLookupVal(data[2].Language_val);
                    }
                }
            });
        });




        $('#SkillTypelist').selectmenu().selectmenu("menuWidget");

        $('.popup_radio_button').controlgroup();
        $('#Autho').makeDisable('#Create,#Edit,#Delete');
        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');

    });

</script>