@model IR.PreminaryEnquiryAction
<link href="~/Content/popup_form.css" rel="stylesheet" />
<style>
    .popup-content-label {
        width: 170px;
        display: block;
        float: left;
    }

    .popup-content-textbox {
        width: 120px;
    }

    .row1 {
        width: 320px;
    }

   

    .horizontal_row1, .radio_button_div_1 {
        display: inline-block;
    }

    .row3 {
        width: 477px;
    }

    .row2 {
        width: 402px;
    }

    .icon-row {
        left: 127px;
        position: relative;
        top: -121px;
    }
</style>

<script>

    $(document).ready(function () {
        $('button').button();
        var dt;
        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;
        ColModel = ['CaseNo', 'VictimName', 'ProceedingStage', 'PreliminaryEnquiryActionDate', 'SuspensionDate', 'IsSuspendEmp', 'Narration', 'IsNotifyHRDept', 'Id'];
        ColNames = ['CaseNo', 'VictimName', 'ProceedingStage', 'PreliminaryEnquiryActionDate', 'SuspensionDate', 'IsSuspendEmp', 'Narration', 'IsNotifyHRDept', 'Id'];

        SortName = 'Id';
        Caption = 'Preliminary Enquiry Action';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);
        $('#Create_Dialog').P2BCreateDialog();
        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }
        function DateConvert(JsonDate) {
            var date = new Date(parseInt(JsonDate.substr(6)));
            var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
            return displayDate;
        };

        $('#SuspensionId').hide();
        $('#SuspensionDate').hide();


        $('#Create').button().on("click", function () {
            $('#frmPreminaryEnquiryActionpanel').trigger("reset");
            var temp = localStorage.getItem("getEmpIrIdKey");

            var empirid = @Request.QueryString["EmpIr"]
            console.log("empirid :::: " + empirid);
            if (empirid == undefined) {
                empirid = temp.toString();
            }

            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create Preliminary Enquiry Action', 'open', '@Url.Action("Create")?EmpIr=' + empirid, '#frmPreminaryEnquiryActionpanel', 'Message :', 'Request Falied :', '#JqGrid', 600, 600, '', '', function (data) { });


            @*$('#CaseNo').val("@Request.RequestContext.HttpContext.Session["findcase"]");*@
            var a = "@Request.RequestContext.HttpContext.Session["findcase"]";

            $.post("@Url.Action("GetPreminaryEnquiry")", { data: a.toString(), data2: "" }, function (data) {
                if (data != null && data != "") {

                    if (data[0] != "") {
                        $('#PreminaryEnquiryReport').prop("readonly", true);
                        $('#PreminaryEnquiryReport').val(data[0]);
                    }
                    else {
                        $('#PreminaryEnquiryReport').prop("readonly", false);
                        $('#PreminaryEnquiryReport').val("");
                    }

                    if (data[1] != "") {
                        $('#EnquiryPanelList').prop("readonly", true);

                        $('#EnquiryPanelList').P2BLookUpEncapsulate('#EnquiryPanelList', 'EnquiryPanelList', data[1], data[2], 'EnquiryPanelList', ' ', 'N');
                    }
                    else {
                        $('#EnquiryPanelList').prop("readonly", false);
                        $('#EnquiryPanelList').val("");
                    }
                }
                else {

                    alert("Data Null");
                }
            });


        });
        $('#Lookup-EnquiryPanel-EnquiryPanel').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupEnquirypanel", "PreminaryEnquiryAction")', '', 'LookupDiv', 'EnquiryPanel Look Up Data', '#EnquiryPanelList', 'EnquiryPanelList', 5, 'EnquiryPanelList', '#frmPreminaryEnquiryActionpanel', 'N', '#Remove-EnquiryPanel-EnquiryPanel', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });
        $('#Lookup-EmployeeDocuments-PreminaryEnquiryAction').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupDetailsEmployeeDoc", "PreminaryEnquiryAction")', '', 'LookupDiv', 'EnquiryPanel Look Up Data', '#EmployeeDocumentsList', 'EmployeeDocumentsList', 5, 'EmployeeDocumentsList', '#frmPreminaryEnquiryActionpanel', 'A', '#Remove-Employee-Employee', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });
        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-EnquiryPanel-EnquiryPanel').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Partial", "PreminaryEnquiryAction")', 'Create EnquiryPanel', 'open', '@Url.Action("Create", "EnquiryPanel")', '#FormEnquiryPanelList', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#frmPreminaryEnquiryActionpanel', '', function (data) {
                $('#EnquiryPanelList').P2BLookUpEncapsulate('#EnquiryPanelList', 'EnquiryPanelList', data[0], data[1], 'EnquiryPanelList', '#Edit-WOCalendar-Location,#Remove-WOCalendar-Location', 'N');
            });
            event.preventDefault();
        });
        $('#Create-EmployeeDocuments-PreminaryEnquiryAction').on("click", function (event) {


            var a = $('#EmpCode').val();

            $('<div></div>').P2BConfidentialModelDialog({
                htmlurl: "@Url.Action("partial", "EmployeeDocuments")",
                submiturl: "@Url.Action("Create", "EmployeeDocuments")?EmpCode=" + a,
                form: '#FormCandidateDocs',
                height: "400",
                type: "FILE",
                width: "500",
                title: "DocumentUpload",
                BeforeSendurl: "true",
                returnfun: function (data) {
                    $('#EmployeeDocumentsList').P2BLookUpEncapsulate('#EmployeeDocumentsList', 'EmployeeDocumentsList', data.Id, data.Val, 'EmployeeDocumentsList', '', 'A');
                },
            });
            event.preventDefault();
        });

        $('input[name="IsSuspendEmp"]:radio').change(function () {
            if (this.value == "false") {
                console.log("suspension False");
                $('#SuspensionId').hide();
                $('#SuspensionDate').hide();
            }
            else {
                console.log("suspension true");
                $('#SuspensionId').show();
                $('#SuspensionDate').show();
            }
        });

        $('#Remove-EnquiryPanel-EnquiryPanel').button().on('click', function (event) {

            //a = $('#EnquiryPanelList').P2BGetTableDataonSelectedRow('#EnquiryPanelList', 0);
            //b = a[0];

            var selectedRows = [];
            selectedRows = $('#EnquiryPanelList').P2BGetTableDataonSelectedRow('#EnquiryPanelList', 0);

            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#EnquiryPanelList', $('#EnquiryPanelList').val(), 200, 200, '#frmPreminaryEnquiryActionpanel', '#EnquiryPanelList');
            event.preventDefault();
        });
        $('#Remove-EmployeeDocuments-PreminaryEnquiryAction').button().on('click', function (event) {

            //a = $('#EmployeeDocumentsList').P2BGetTableDataonSelectedRow('#EmployeeDocumentsList', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#EmployeeDocumentsList').P2BGetTableDataonSelectedRow('#EmployeeDocumentsList', 0);

            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#EmployeeDocumentsList', $('#EmployeeDocumentsList').val(), 200, 200, '#frmPreminaryEnquiryActionpanel', '#EmployeeDocumentsList');
            event.preventDefault();
        });

        $('#Delete').on('click', function () {

            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'ID');
            $('#Create_Dialog').P2BDeleteModalDialog('@Url.Action("Delete")', dt.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
            event.preventDefault();
        });

        $('#Edit').click(function (event) {
            AssignData();
            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit Preliminary Enquiry Action", '#frmPreminaryEnquiryActionpanel', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 500, 620, '', '', function (data) {
                //Compulsory for authorisation
                var val = null;
                $.each(data[0], function (i, k) {

                    $('#frmPreminaryEnquiryActionpanel').trigger("reset");
                    $('#Narration').val(k.Narration);
                    $('[name="IsNotifyHRDept"]').val([k.IsNotifyHRDept]).button().button("refresh");
                    $('[name="IsSuspendEmp"]').val([k.IsSuspendEmp]).button().button("refresh");
                    if (k.IsSuspendEmp == true) {
                        $('#SuspensionId').show();
                        $('#SuspensionDate').show();
                    } else {
                        $('#SuspensionId').hide();
                        $('#SuspensionDate').hide();
                    }
                    if (k.PreminaryEnquiryActionDate != null)
                        $('#PreminaryEnquiryActionDate').val(DateConvert(k.PreminaryEnquiryActionDate));
                    else
                        $('#PreminaryEnquiryActionDate').val();
                    if (k.SuspensionDate != null)

                        $('#SuspensionDate').val(DateConvert(k.SuspensionDate));

                    else
                        $('#SuspensionDate').val();
                    $('#EnquiryPanelList').P2BLookUpEncapsulate('#EnquiryPanelList', 'EnquiryPanelList', k.Enquirypanel_Id, k.EnquirypanelDetails, 'EnquiryPanelList', '#Remove-ContactDetails-Location,#Edit-ContactDetails-Location', 'N');

                    var a = "@Request.RequestContext.HttpContext.Session["findcase"]";

                    $.post("@Url.Action("GetPreminaryEnquiry")", { data: a.toString(), data2: "" }, function (data) {
                        if (data != null && data != "") {

                            if (data[0] != "") {
                                $('#PreminaryEnquiryReport').prop("readonly", true);
                                $('#PreminaryEnquiryReport').val(data[0]);
                            }
                            else {
                                $('#PreminaryEnquiryReport').prop("readonly", false);
                                $('#PreminaryEnquiryReport').val("");
                            }
                        }
                        else {

                            alert("Data Null");
                        }
                    });


                });
                $.each(data[1], function (i, k) {
                    $('#EmployeeDocumentsList').P2BLookUpEncapsulate('#EmployeeDocumentsList', 'EmployeeDocumentsList', k.Employeedoc_Id, k.EmployeedocFullDetails, 'EmployeeDocumentsList', '#Edit-HOCalendar-Department,#Remove-HOCalendar-Department', 'A');
                });
            });
        });




        $('#View').button().click(function (event) {
            AssignData();
            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View Preliminary Enquiry Action', '', '', 500, 620, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {
                //Compulsory for authorisation
                var val = null;
                $.each(data[0], function (i, k) {

                    $('#frmPreminaryEnquiryActionpanel').trigger("reset");
                    $('#Narration').val(k.Narration);
                    $('[name="IsNotifyHRDept"]').val([k.IsNotifyHRDept]).button().button("refresh");
                    $('[name="IsSuspendEmp"]').val([k.IsSuspendEmp]).button().button("refresh");
                    if (k.IsSuspendEmp == true) {
                        $('#SuspensionId').show();
                        $('#SuspensionDate').show();
                    } else {
                        $('#SuspensionId').hide();
                        $('#SuspensionDate').hide();
                    }
                    if (k.PreminaryEnquiryActionDate != null)
                        $('#PreminaryEnquiryActionDate').val(DateConvert(k.PreminaryEnquiryActionDate));
                    else
                        $('#PreminaryEnquiryActionDate').val();
                    if (k.SuspensionDate != null)
                        $('#SuspensionDate').val(DateConvert(k.SuspensionDate));
                    else
                        $('#SuspensionDate').val();
                    $('#EnquiryPanelList').P2BLookUpEncapsulate('#EnquiryPanelList', 'EnquiryPanelList', k.Enquirypanel_Id, k.EnquirypanelDetails, 'EnquiryPanelList', 'view', 'N');

                    var a = "@Request.RequestContext.HttpContext.Session["findcase"]";

                    $.post("@Url.Action("GetPreminaryEnquiry")", { data: a.toString(), data2: "" }, function (data) {
                        if (data != null && data != "") {

                            if (data[0] != "") {
                                $('#PreminaryEnquiryReport').prop("readonly", true);
                                $('#PreminaryEnquiryReport').val(data[0]);
                            }
                            else {
                                $('#PreminaryEnquiryReport').prop("readonly", false);
                                $('#PreminaryEnquiryReport').val("");
                            }
                        }
                        else {

                            alert("Data Null");
                        }
                    });


                });
                $.each(data[1], function (i, k) {
                    $('#EmployeeDocumentsList').P2BLookUpEncapsulate('#EmployeeDocumentsList', 'EmployeeDocumentsList', k.Employeedoc_Id, k.EmployeedocFullDetails, 'EmployeeDocumentsList', 'view', 'A');
                });
            });
        });



        $('.popup_radio_button').controlgroup();
        $('#SuspensionDate').P2BDatePicker();
        $('#PreminaryEnquiryActionDate').P2BDatePicker();

    });
</script>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <button class="button" id="Create">Create</button>
                <button class="button" id="View">View</button>
                <button class="button" id="Edit">Edit</button>
                <button class="button" id="Delete">Delete</button>
               
                <div id="Grid_Form">
                    <div>
                        <table id="JqGrid"></table>
                        <div id="pager2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>
    <div id="Create_Dialog">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmPreminaryEnquiryActionpanel", name = "frmPreminaryEnquiryActionpanel" }))
        {
             <div class=" row3 content_margine">
                 <label for="Preminary Enquiry Report" class="popup-content-label ">Preliminary Enquiry Report</label>
                 <textarea rows="3" cols="30" name="PreminaryEnquiryReport" id="PreminaryEnquiryReport" class="popup-content-textbox must"></textarea>
                 </div>
            <div class=" row3 content_margine">
                @Html.LabelFor(m => m.EnquiryPanel, "Enquiry Panel :", new { @class = "popup-content-label " })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="EnquiryPanelList">
                        <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                @*<div class="icon-row">
                    <button data-p2btooltip="Lookup corresponding EnquiryPanel" class=" popup-content-icon-lookup" id="Lookup-EnquiryPanel-EnquiryPanel"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Create OffenseObject " class=" popup-content-icon-create" id="Create-EnquiryPanel-EnquiryPanel"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    
                    <button data-p2btooltip="Delete EnquiryPanel" class=" popup-content-icon-remove" id="Remove-EnquiryPanel-EnquiryPanel"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>*@
            </div>
            <div class=" row3 content_margine">
                @Html.LabelFor(m => m.PreminaryEnquiryActionDate, "Action Date :", new { @class = "popup-content-label must" })
                @Html.TextBoxFor(m => m.PreminaryEnquiryActionDate, new { @class = "popup-content-textbox must" })
            </div>
         <div class="row3 content_margine">
            @Html.LabelFor(m => m.IsSuspendEmp, "Is Suspend Emp :", new { @class = "popup-content-label must" })
            <div class="popup_radio_button radio_button_div_1">
                <span class="popup_radio_button radio_button_div_1">
                    <input type="radio" id="radio1" name="IsSuspendEmp" value="true" /><label class="ui-corner-left" for="radio1">Yes</label>
                    <input type="radio" id="radio2" name="IsSuspendEmp" value="false"/><label class="ui-corner-right" for="radio2">No</label>
                </span>
            </div>
        </div>
    <div class=" row3 content_margine">
        @Html.LabelFor(m => m.SuspensionDate, "Suspension Date :", new { @class = "popup-content-label", @id = "SuspensionId"})
        @Html.TextBoxFor(m => m.SuspensionDate, new { @class = "popup-content-textbox" })
    </div>
            <div class="row3 content_margine">
            @Html.LabelFor(m => m.IsNotifyHRDept, "Is Notify HR Dept :", new { @class = "popup-content-label must" })
            <div class="popup_radio_button radio_button_div_1">
                <span class="popup_radio_button radio_button_div_1">
                    <input type="radio" id="radio3" name="IsNotifyHRDept" value="true"/><label class="ui-corner-left" for="radio3">Yes</label>
                    <input type="radio" id="radio4" name="IsNotifyHRDept" value="false" /><label class="ui-corner-right" for="radio4">No</label>
                </span>
            </div>
        </div>

            <div class=" row3 content_margine">
                @Html.LabelFor(m => m.EmployeeDocuments, "Employee Documents :", new { @class = "popup-content-label " })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="EmployeeDocumentsList">
                        <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup corresponding EmployeeDocuments" class=" popup-content-icon-lookup" id="Lookup-EmployeeDocuments-PreminaryEnquiryAction"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Create EmployeeDocuments " class=" popup-content-icon-create" id="Create-EmployeeDocuments-PreminaryEnquiryAction"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    @*<button data-p2btooltip="Edit corresponding Contact Details" class=" popup-content-icon-edit" id="Edit-CorrsContactDetails-Employee"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>*@
                    <button data-p2btooltip="Delete EmployeeDocuments" class=" popup-content-icon-remove" id="Remove-EmployeeDocuments-PreminaryEnquiryAction"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>
            <div class="row3 content_margine">
                @Html.LabelFor(m => m.Narration, " Narration:", new { @class = "popup-content-label must" })
                @Html.TextBoxFor(m => m.Narration, new { @class = "popup-content-textbox must" })
            </div>
        }
    </div>

</body>
</html>
