@model  Recruitment.ManPowerBudget
@{
    Layout = null;
}
<script>
    $(function () {
        $('#Date-edit,#DateOfCloser-edit,#DateOfMaturity-edit').P2BDatePicker();
        $('button').button();
        $('.popup_radio_button').buttonset();

        $('input[name="Closer2"]:radio').change(function () {
            if (this.value == "false") {
                $("#DateOfCloserClass-edit").fadeOut();
                $("#DateOfCloser-edit").val("");
            }
            else {
                $("#DateOfCloserClass-edit").fadeIn();
            }
        });
        $('#edit-Location_drop').selectmenu().selectmenu('menuWidget');
        //$('input[name="IsActive"]:radio').change(function () {
        //    if (this.value == "false") { $('#CloserDate-edit').prop("disabled", false); $('#CloserDate-edit').val(""); }
        //    else { $('#CloserDate-edit').prop("disabled", true); }
        //});
        //$('input[name="IsActive"]').val([true]);
        //$('#edit-LoanAccBranch').selectmenu().selectmenu('menuWidget');
    });

</script>
<style>
    .row2 {
        width: 400px;
    }
</style>
<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "YearlyManpowerBudgetPartial", Name = "YearlyManpowerBudgetPartial" }))
    {
        <div class="heading">Manpower Budget Detaisl Edit</div>
        <div class="row1 content_margine">@Html.LabelFor(m => m.SanctionedPosts, "SanctionedPosts :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.SanctionedPosts, new { @class = "popup-content-textbox must" })</div>
        <div class="row1 content_margine">@Html.LabelFor(m => m.BudgetAmount, "BudgetAmount :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.BudgetAmount, new { @class = "popup-content-textbox must" })</div>

        @*<div class="row3 content_margine horizontal_row1">
            @Html.LabelFor(m => m.Closer, " Closer:", new { @class = "popup-content-label", @id = "Closer-edit" })
            <span class="popup_radio_button">
                <span><input type="radio" id="radio32" name="Closer2" value="true" /> <label for="radio32">Yes</label></span>
                <span><input type="radio" id="radio42" name="Closer2" value="false" /> <label for="radio42">No</label></span>
            </span>
        </div>
        <div class="row1 content_margine">@Html.LabelFor(m => m.Date, "Date :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.Date, new { @class = "popup-content-textbox", @id = "Date-edit" })</div>
        <div class="row1 content_margine" id="DateOfCloserClass-edit">@Html.LabelFor(m => m.DateOfCloser, "Date Of Closer :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.DateOfCloser, new { @class = "popup-content-textbox", @id = "DateOfCloser-edit" })</div>
        <div class="row1 content_margine">@Html.LabelFor(m => m.DateOfMaturity, "Date Of Maturity :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.DateOfMaturity, new { @class = "popup-content-textbox", @id = "DateOfMaturity-edit" })</div>
        <div class="row1 content_margine">@Html.LabelFor(m => m.FDR_No, "FDR No", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.FDR_No, new { @class = "popup-content-textbox must", @id = "FDR_No-edit" })</div>
        <div class="row1 content_margine">@Html.LabelFor(m => m.Remark, "Remark", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Remark, new { @class = "popup-content-textbox must", @id = "Remark-edit" })</div>
        <div class="row1 content_margine">
            <label class="popup-content-label">Location :</label>
            <select class="drop" id="edit-Location_drop" name="Location_drop" style="width:200px"><option></option></select>
        </div>*@
    }
</div>

