@{
    ViewBag.Title = "GuarantorName";
}
@model P2b.Global.GuarantorDetails





@*<html>
<style>
    .icon-row {
        position: relative;
        left: 61px;
        top: -150px;
    }

    .row1 {
        width: 407px;
    }

    .popup-content-label {
        float: left;
        width: 107px;
    }
</style>
<div class="Form_Bg">
    <div class="Form_Input">
        <div class="Button_Container">
            <button class="button" id="Create">Create</button>
            <button class="button" id="View">View</button>
            <button class="button" id="Edit">Edit</button>
            <button class="button" id="Delete">Delete</button>
            <button class="button" id="Autho">Authorise</button>
            <div id="Grid_Form">
                <div>
                    <table id="JqGrid"></table>
                    <div id="pager2"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dialog">
    <div title="LookUp Data">
        <div class="LookupDiv"></div>
    </div>
    <div id="PageNavPosition">
    </div>
</div>
<div id="Create_Dialog">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmGuarantorName" }))
    {

        <div class="dropdown_row1 row3 content_margine">@Html.LabelFor(m => m.GuarantorType, "Guarantor Type :", new { @class = "popup-content-label must" })<select id="Categorylist" name="Categorylist" class="must" style="width:161px;"><option></option></select></div>
        <div class="row1 content_margine">
            @Html.LabelFor(m => m.GuarantorName, "Guarantor Name :", new { @class = "popup-content-label" })
            <div class="popup-content-table">
                <table class="lookuptableselected" id="GuarantorNamelist">
                    <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                </table>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup GuarantorName Details" class="  popup-content-icon-lookup" id="Lookup-GuarantorName-Guarantor"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Create GuarantorName Details" class="  popup-content-icon-create" id="Create-GuarantorName-Guarantor"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit GuarantorName Details" class="  popup-content-icon-edit" id="Edit-GuarantorName-Guarantor"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Remove GuarantorName Details" class="  popup-content-icon-remove" id="Remove-GuarantorName-Guarantor"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>
        </div>

        <div class="row1 content_margine">
            @Html.LabelFor(m => m.Address, " Address :", new { @class = "popup-content-label" })
            <div class="popup-content-table">
                <table class="lookuptableselected" id="AddressList">
                    <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                </table>
            </div>
            <div class="icon-row">
                <button data-p2btooltip="LookUp Address Details" class="popup-content-icon-lookup" id="Lookup-Address-GuarantorName"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                <button data-p2btooltip="Crate Address Details" class="popup-content-icon-create" id="Create-Address-GuarantorName"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                <button data-p2btooltip="Edit Address Details" class="popup-content-icon-edit" id="Edit-Address-GuarantorName"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                <button data-p2btooltip="Remove Address Details" class="popup-content-icon-remove" id="Remove-Address-GuarantorName"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
            </div>
        </div>
        <div class="row1 content_margine">
            @Html.LabelFor(m => m.ContactDetails, " Contact Details :", new { @class = "popup-content-label" })  <div class="popup-content-table">
                <table class="lookuptableselected" id="ContactDetailsList">
                    <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                </table>
            </div>
            <div class="icon-row">
                <button data-p2btooltip="LookUp Contact Details " class="popup-content-icon-lookup" id="Lookup-ContactDetails-GuarantorName"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                <button data-p2btooltip="Crate Contact Details " class="popup-content-icon-create" id="Create-ContactDetails-GuarantorName"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                <button data-p2btooltip="Edit Contact Details " class="popup-content-icon-edit" id="Edit-ContactDetails-GuarantorName"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                <button data-p2btooltip="Remove Contact Details Details" class="popup-content-icon-remove" id="Remove-ContactDetails-GuarantorName"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
            </div>
        </div>
        <div class="row1 content_margine">
            @Html.LabelFor(m => m.Borrower, "Borrower Name :", new { @class = "popup-content-label" })
            <div class="popup-content-table">
                <table class="lookuptableselected" id="Borrowerlist">
                    <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                </table>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup Borrower Details" class="  popup-content-icon-lookup" id="Lookup-Borrower-Guarantor"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Create Borrower Details" class="  popup-content-icon-create" id="Create-Borrower-Guarantor"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit Borrower Details" class="  popup-content-icon-edit" id="Edit-Borrower-Guarantor"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Remove Borrower Details" class="  popup-content-icon-remove" id="Remove-Borrower-Guarantor"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>
        </div>
        @*<div class="dropdown_row1 row3 content_margine">@Html.LabelFor(m => m.Profession, "Profession :", new { @class = "popup-content-label must" })<select id="Professionlist" name="Professionlist" class="must" style="width:161px;"><option></option></select></div>
        <div class="row1 content_margine">
            @Html.LabelFor(m => m.LoanType, "Loan Type :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.LoanType, new { @class = "popup-content-textbox" })
        </div>
        <div class="row1 content_margine">
            @Html.LabelFor(m => m.LoanDesc, "Loan Desc :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.LoanDesc, new { @class = "popup-content-textbox " })
        </div>
        <div class="row1 content_margine">
            @Html.LabelFor(m => m.LoanDate, "Loan Date :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.LoanDate, new { @class = "popup-content-textbox", @id = "LoanDate" })
        </div>
        <div class="row1 content_margine">
            @Html.LabelFor(m => m.Amount, "Amount :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.Amount, new { @class = "popup-content-textbox" })
        </div>
        <div class="row1 content_margine">
            @Html.LabelFor(m => m.Outstanding, "Outstanding :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.Outstanding, new { @class = "popup-content-textbox" })
        </div>
        <div class="row1 content_margine">
            @Html.LabelFor(m => m.InterestRate, "InterestRate :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.InterestRate, new { @class = "popup-content-textbox" })
        </div>
        <div class="row1 content_margine">
            @Html.LabelFor(m => m.Installment, "Installment :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.Installment, new { @class = "popup-content-textbox" })
        </div>
        <div class="row1 content_margine">
            @Html.LabelFor(m => m.DueDate, "Due Date :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.DueDate, new { @class = "popup-content-textbox", @id = "DueDate" })
        </div>
        <div class="row1 content_margine">
            @Html.LabelFor(m => m.LoanBank, "Loan Bank :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.LoanBank, new { @class = "popup-content-textbox" })
        </div>
        <div class="row1 content_margine">
            @Html.LabelFor(m => m.LoanBranch, "Loan Branch :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.LoanBranch, new { @class = "popup-content-textbox" })
        </div>
        <div class="row1 content_margine">
            @Html.LabelFor(m => m.Purpose, "Purpose :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.Purpose, new { @class = "popup-content-textbox" })
        </div>
        @*<div class="row1 content_margine">
                @Html.LabelFor(m => m.Borrower, "Borrower :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.Borrower, new { @class = "popup-content-textbox" })
            </div>

    }
</div>
</html>*@


<html>
<head>
    <title></title>
    
    <style>
       

        .transactiontablenew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            /*width: 200px;*/
            display: block;
            overflow: auto;
            height: 500px;
            border-collapse: collapse;
        }

        .transactiondivnew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            width: 507px;
            border-radius: 5px;
            height: 32px;
        }

            .transactiondivnew > div {
                display: inline-block;
                margin: 0 auto;
                padding: 4px;
            }

                .transactiondivnew > div > input {
                    box-sizing: initial;
                    display: inline-block;
                    margin: 0 auto;
                    width: 108px;
                }

        .transactiontablenew th, .transactiontablenew td {
            background: rgba(246, 246, 246, 0.64) none repeat scroll 0 0;
            padding: 5px;
            border-bottom: 1px solid #c5c5c5;
            border-right: 1px solid #c5c5c5;
            text-align: center;
            color: rgba(114, 113, 113, 0.9);
        }

            .transactiontablenew th:nth-child(1) > input, .transactiontablenew td:nth-child(1) > input {
                margin: 0 auto;
            }

            .transactiontablenew th:nth-child(2), .transactiontablenew td:nth-child(2) {
                height: 100%;
                width: 100%;
            }

        .transactiontablenew tr:hover {
            cursor: pointer;
            background: #EEEEEE none repeat scroll 0 0;
        }

        .section1_Leave {
            display: block;
            border: 1.5px solid rgba(207, 207, 207, 0.91);
            height: 688px;
            width: 534px;
            margin: 4px auto;
            position: absolute;
        }

        #BusinessType-button {
            font-size: 9px;
            padding-top: 1px;
            font-weight: bold;
        }

        .popup-content-label {
            width: 138px;
            display: block;
            float: left;
            margin: 1px;
        }

        .popup-content-label-2 {
            width: 100px;
            display: block;
            float: left;
            margin: 1px;
        }

        .section1_Leave {
            display: block;
            border: 1.5px solid rgba(207, 207, 207, 0.91);
            height: 688px;
            width: 534px;
            margin: 4px auto;
            position: absolute;
        }

        .section2_Leave {
            display: block;
            border: 2px solid #ddd;
            height: 1020px;
            width: 500px;
            margin: 5px 4px;
            position: absolute;
            left: 546px;
            padding-left: 11px;
        }
        .icon-row {
	        position: relative;
	        left: 95px;
	        top: -146px;
        }
        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 150px;
        }

        .row3 {
            width: 471px;
        }

        .row4 {
            position: absolute;
            top: 294px;
            width: 400px;
        }

        .row6 {
            width: 370px;
            display: inline-block;
        }

        .popup-content-textbox-long {
            margin-bottom: 1px;
            width: 290px;
        }



        .row2 {
            width: 402px;
        }
    </style>
</head>

<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <button class="button" id="Create">Create</button>
                <button class="button" id="View">View</button>
                <button class="button" id="Edit">Edit</button>
                <button class="button" id="Delete">Delete</button>
                <button class="button" id="Autho">Authorised</button>
                <div id="Grid_Form">
                    <div>
                        <table id="JqGrid"></table>
                        <div id="pager2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>

    <div id="Create_Dialog">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmGuarantorName", name = "frmGuarantorName" }))
        {

            <div class="section_Method" id="section_emp">
                <div class="heading" style="width:1065px">Employee List</div>

                <div class="employeeselectiondiv">
                    <div class="transactiondivnew dynamic addons" style="float:left" id="asd">
                        <div><label>Search : </label><input type="text" id="Employee-Search" style="width: 425px;" /></div>
                        <table cellspacing="0" cellpadding="1" class="transactiontablenew" id="Employee-Table" style="height: 988px">
                            <tr><th><input type="checkbox" id="Case-Employee" class="Chck_emp" /></th><th>Employee</th></tr>
                        </table>
                    </div>
                </div>
            </div>


            <div class="section2_Leave">
                <div class=" " style="width: 506px;">

                    <input id="Autho_Action" type="hidden" name="Autho_Action" />
                    <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
                    <br /> 
                    <div class="dropdown_row1 row3 content_margine">@Html.LabelFor(m => m.GuarantorType, "Guarantor Type :", new { @class = "popup-content-label must" })<select id="Categorylist" name="Categorylist" class="must" style="width:161px;"><option></option></select></div>
                    <div class="row3  content_margine">
                        @Html.LabelFor(m => m.GuarantorName, "Guarantor Name :", new { @class = "popup-content-label" })
                        <div class="popup-content-table">
                            <table class="lookuptableselected" id="GuarantorNamelist">
                                <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                            </table>
                        </div>
                            <div class="icon-row">
                                <button data-p2btooltip="Lookup GuarantorName Details" class="  popup-content-icon-lookup" id="Lookup-GuarantorName-Guarantor"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                                <button data-p2btooltip="Create GuarantorName Details" class="  popup-content-icon-create" id="Create-GuarantorName-Guarantor"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                                <button data-p2btooltip="Edit GuarantorName Details" class="  popup-content-icon-edit" id="Edit-GuarantorName-Guarantor"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                                <button data-p2btooltip="Remove GuarantorName Details" class="  popup-content-icon-remove" id="Remove-GuarantorName-Guarantor"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                            </div>
                    </div>

                    <div class="row3  content_margine">
                        @Html.LabelFor(m => m.Address, " Address :", new { @class = "popup-content-label" })
                        <div class="popup-content-table">
                            <table class="lookuptableselected" id="AddressList">
                                <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                            </table>
                        </div>
                        <div class="icon-row">
                            <button data-p2btooltip="LookUp Address Details" class="popup-content-icon-lookup" id="Lookup-Address-GuarantorName"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Crate Address Details" class="popup-content-icon-create" id="Create-Address-GuarantorName"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Edit Address Details" class="popup-content-icon-edit" id="Edit-Address-GuarantorName"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Remove Address Details" class="popup-content-icon-remove" id="Remove-Address-GuarantorName"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                        </div>
                    </div>
                    <div class="row3  content_margine">
                        @Html.LabelFor(m => m.ContactDetails, " Contact Details :", new { @class = "popup-content-label" })
                          <div class="popup-content-table">
                            <table class="lookuptableselected" id="ContactDetailsList">
                                <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                            </table>
                        </div>
                        <div class="icon-row">
                            <button data-p2btooltip="LookUp Contact Details " class="popup-content-icon-lookup" id="Lookup-ContactDetails-GuarantorName"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Crate Contact Details " class="popup-content-icon-create" id="Create-ContactDetails-GuarantorName"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Edit Contact Details " class="popup-content-icon-edit" id="Edit-ContactDetails-GuarantorName"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Remove Contact Details Details" class="popup-content-icon-remove" id="Remove-ContactDetails-GuarantorName"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                        </div>
                    </div>
                    <div class="row3  content_margine">
                        @Html.LabelFor(m => m.Borrower, "Borrower Name :", new { @class = "popup-content-label" })
                        <div class="popup-content-table">
                            <table class="lookuptableselected" id="Borrowerlist">
                                <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                            </table>
                        </div>
                            <div class="icon-row">
                                <button data-p2btooltip="Lookup Borrower Details" class="  popup-content-icon-lookup" id="Lookup-Borrower-Guarantor"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                                <button data-p2btooltip="Create Borrower Details" class="  popup-content-icon-create" id="Create-Borrower-Guarantor"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                                <button data-p2btooltip="Edit Borrower Details" class="  popup-content-icon-edit" id="Edit-Borrower-Guarantor"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                                <button data-p2btooltip="Remove Borrower Details" class="  popup-content-icon-remove" id="Remove-Borrower-Guarantor"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                            </div>
                    </div>
                    <br />
                    <div class="dropdown_row1 row3 content_margine">@Html.LabelFor(m => m.Profession, "Profession :", new { @class = "popup-content-label must" })<select id="Professionlist" name="Professionlist" class="must" style="width:161px;"><option></option></select></div>
                    <div class="row3  content_margine">
                        @Html.LabelFor(m => m.LoanType, "Loan Type :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.LoanType, new { @class = "popup-content-textbox" })
                    </div>
                    <div class="row3  content_margine">
                        @Html.LabelFor(m => m.LoanDesc, "Loan Desc :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.LoanDesc, new { @class = "popup-content-textbox " })
                    </div>
                    <div class="row3  content_margine">
                        @Html.LabelFor(m => m.LoanDate, "Loan Date :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.LoanDate, new { @class = "popup-content-textbox", @id = "LoanDate" })
                    </div>
                    <div class="row3  content_margine">
                        @Html.LabelFor(m => m.Amount, "Amount :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Amount, new { @class = "popup-content-textbox must" })
                    </div>
                    <div class="row3  content_margine">
                        @Html.LabelFor(m => m.Outstanding, "Outstanding :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Outstanding, new { @class = "popup-content-textbox must" })
                    </div>
                    <div class="row3  content_margine">
                        @Html.LabelFor(m => m.InterestRate, "InterestRate :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.InterestRate, new { @class = "popup-content-textbox must" })
                    </div>
                    <div class="row3  content_margine">
                        @Html.LabelFor(m => m.Installment, "Installment :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Installment, new { @class = "popup-content-textbox must" })
                    </div>
                    <div class="row3  content_margine">
                        @Html.LabelFor(m => m.DueDate, "Due Date :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.DueDate, new { @class = "popup-content-textbox", @id = "DueDate" })
                    </div>
                    <div class="row3  content_margine">
                        @Html.LabelFor(m => m.LoanBank, "Loan Bank :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.LoanBank, new { @class = "popup-content-textbox" })
                    </div>
                    <div class="row3  content_margine">
                        @Html.LabelFor(m => m.LoanBranch, "Loan Branch :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.LoanBranch, new { @class = "popup-content-textbox" })
                    </div>
                    <div class="row3  content_margine">
                        @Html.LabelFor(m => m.Purpose, "Purpose :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.Purpose, new { @class = "popup-content-textbox" })
                    </div>
                    @*<div class="row1 content_margine">
            @Html.LabelFor(m => m.Borrower, "Borrower :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.Borrower, new { @class = "popup-content-textbox" })
        </div>*@

                </div>
            </div>
            <div class="emplist_row">
                <div id="Grid_Form2">

                </div>
            </div>
        }
    </div>

</body>
</html>

<script>
    $(document).ready(function (e) {
        $('button').button();
        $('.popup_radio_button').controlgroup();
        var dt;
        var btndisablename = "#Edit-ITSection10-GuarantorName,#Remove-ITSection10-GuarantorName";
        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }
        var dt;
        var ColNames = [];
        var ColModel = [];
        var btndisablenames = "#Edit-Address-GuarantorName,#Remove-Address-GuarantorName,#Edit-ContactDetails-GuarantorName,#Remove-ContactDetails-GuarantorName";
        var SortName, Caption, url, width, height;
        //ColModel = ['Id', 'Loan Bank', 'Loan Branch','Guarantor type'];
        //ColNames = ['Id', 'Loan Bank', 'LoanBranch', 'Guarantor type'];
        ColModel = ['Employee Code', 'Employee Name', 'ID'];
        ColNames = ['Employee Code', 'Employee Name', 'ID'];
        SortName = 'Id';
        Caption = 'Guarantor Details';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);
        $('#LoanDate,#DueDate').P2BDatePicker();
        function DateConvert(JsonDate) {
            var date = new Date(parseInt(JsonDate.substr(6)));
            var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
            return displayDate;
        };

        $('#InterestRate').ForceOnlyNumeric();
        $('#InterestRate').ValidateTextBox({ maxlength: 5, name: true });
        $('#Amount').ForceOnlyNumeric();
        $('#Amount').ValidateTextBox({ maxlength: 10, name: true });
        $('#Outstanding').ForceOnlyNumeric();
        $('#Outstanding').ValidateTextBox({ maxlength: 10, name: true });
        $('#InterestRate').ForceOnlyNumeric();
        $('#InterestRate').ValidateTextBox({ maxlength: 5, name: true });
        $('#Installment').ForceOnlyNumeric();
        $('#Installment').ValidateTextBox({ maxlength: 5, name: true });
        $('#LoanDesc').ValidateTextBox({ maxlength: 30, name: true });
        $('#Purpose').ValidateTextBox({ maxlength: 100, name: true });
        $('#LoanType').ValidateTextBox({ maxlength: 10, name: true });
        $('#LoanBank').ValidateTextBox({ maxlength: 50, name: true });
        $('#LoanBranch').ValidateTextBox({ maxlength: 50, name: true });
        $('#Create_Dialog').P2BCreateDialog();
        //Create Function
        $('#Create').on("click", function (event) {
            $('#frmGuarantorName').trigger("reset");
            $('#section_emp').fadeIn();
            $.LoadEmpByDefault(true);
            $('#Advance-Filter-Symbol').on('click', function () {
                $("<div></div>").FilterDialog({
                    width: 1000,
                    height: 400,
                    title: "Filter",
                    htmlurl: "@Url.Action("Advance_partial", "Transcation")",
                    returnat: function (data) {
                        console.log(data);
                        var forwarddata = JSON.stringify(data);
                        $('#Employee-Table').P2BTransactionTableDynamic('#Employee-Search', '#Case-Employee', './Transcation/Get_Employelist_h?geo_id=' + forwarddata + '', "");
                        //$('#Employee-Table').P2BTransactionTableDynamic('#Employee-Search', '#Case-Employee', './Transcation/Get_Employelist?geo_id=' + forwarddata + '', "");
                        //$('#pay_id').val(data.PayStruct);
                        //$('#fun_id').val(data.FunStruct);
                    },
                    renderat: "#FormFilter", hierarchy: true,
                });
            //console.log($('#FormFilter')[0]);
        });
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create GuarantorName Details', 'open', '@Url.Action("Create")', '#frmGuarantorName', 'Message :', 'Request Falied :', '#JqGrid', 600, 1051, '#AddressList,#ContactDetailsList,#GuarantorNamelist,#Borrowerlist', btndisablenames, function (data) { });
            $('#Categorylist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 306, ""); // To bind dropdown on page load
            $('#Professionlist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 304, ""); // To bind dropdown on page load
            event.preventDefault();
        });

    

        $('#Edit').on('click', function () {
            AssignData();
            $('#section_emp').fadeOut();
            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.ID, '@Url.Action("EditSave")', "Edit Data->" + JSON.stringify(dt) + "", '#frmGuarantorName', dt.ID, 'Message : ', 'Request Falied :', '#JqGrid', 600, 1051, '#AddressList,#ContactDetailsList,#GuarantorNamelist,#Borrowerlist', btndisablenames, function (data) {
                var k = data[0];
                // setTimeout(function () {
              //  $.each(data[0], function (i, k) {
                //  alert(k.Amount);
                    $('#Amount').val(k.Amount);
                    $('#Installment').val(k.Installment);
                    $('#InterestRate').val(k.InterestRate);
                    $('#InterestRate').val(k.InterestRate);
                    $('#LoanBank').val(k.LoanBank);
                    $('#LoanBranch').val(k.LoanBranch);
                    $('#LoanDesc').val(k.LoanDesc);
                    $('#LoanType').val(k.LoanType);
                    $('#Outstanding').val(k.Outstanding);
                    $('#Profession').val(k.Profession);
                    $('#Purpose').val(k.Purpose);
                    if (k.LoanDate != null) { $('#LoanDate').val(DateConvert(k.LoanDate)); }
                    if (k.DueDate != null) { $('#DueDate').val(DateConvert(k.DueDate)); }
                    $('#Categorylist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 306, k.BusinessType_Id); // Dropdown bind
                    $('#Professionlist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 304, k.ProfessionType_Id); // Dropdown bind
                //});

                //partial page bind
                $.each(data[1], function (i, k) {
                    $('#AddressList').P2BLookUpEncapsulate('#AddressList', 'AddressList', k.Add_Id, k.Address_FullAddress, 'AddressList', '#Edit-Address-GuarantorName,#Remove-Address-GuarantorName', 'N');
                    $('#ContactDetailsList').P2BLookUpEncapsulate('#ContactDetailsList', 'ContactDetailsList', k.Cont_Id, k.FullContactDetails, 'ContactDetailsList', '#Remove-ContactDetails-GuarantorName,#Edit-ContactDetails-GuarantorName', 'N');
                    $('#GuarantorNamelist').P2BLookUpEncapsulate('#GuarantorNamelist', 'GuarantorNamelist', k.Name_Id, k.Name_FullName, 'GuarantorNamelist', '#Edit-GuarantorName-Guarantor,#Remove-GuarantorName-Guarantor', 'N');
                    $('#Borrowerlist').P2BLookUpEncapsulate('#Borrowerlist', 'Borrowerlist', k.Borrower_Id, k.Borrower_FullDetails, 'Borrowerlist', '#Edit-Borrower-Guarantor,#Remove-Borrower-Guarantor', 'N');
                });
                //alert(data[3]);
                $('#Autho_Allow').val(data[3]); //Compulsory for authorisation
                // }, 2000);
            });
        });

        //View main page
        $('#View').button().click(function (event) {
            AssignData();
            $('#section_emp').fadeOut();
            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.ID, "View GuarantorName Data->" + JSON.stringify(dt) + "", '#AddressList,#ContactDetailsList,#GuarantorNamelist,#Borrrowrlist', '#Lookup-Address-GuarantorName,#Create-Address-GuarantorName,#Edit-Address-GuarantorName,#Remove-Address-GuarantorName,#Lookup-ContactDetails-GuarantorName,#Create-ContactDetails-GuarantorName,#Edit-ContactDetails-GuarantorName,#Remove-ContactDetails-GuarantorName', 600, 1051, '#Autho', '@Url.Action("AuthSave")', dt.ID, '', '', '', '', '#JqGrid', function (data) {
               // $.each(data[0], function (i, k) {
                    var k = data[0];
                    $('#Autho_Action').val(k.Action);
                    $('#Amount').val(k.Amount);
                    $('#Installment').val(k.Installment);
                    $('#InterestRate').val(k.InterestRate);
                    $('#InterestRate').val(k.InterestRate);
                    $('#LoanBank').val(k.LoanBank);
                    $('#LoanBranch').val(k.LoanBranch);
                    $('#LoanDesc').val(k.LoanDesc);
                    $('#LoanType').val(k.LoanType);
                    $('#Outstanding').val(k.Outstanding);
                    $('#Profession').val(k.Profession);
                    $('#Purpose').val(k.Purpose);
                    if (k.LoanDate != null) { $('#LoanDate').val(DateConvert(k.LoanDate)); }
                    if (k.DueDate != null) { $('#DueDate').val(DateConvert(k.DueDate)); }
                    $('#Professionlist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 304, k.ProfessionType_Id); // Dropdown bind
                    $('#Categorylist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 306, k.BusinessType_Id); // Dropdown bind
             //   });

                $.each(data[1], function (i, k) {
                    $('#AddressList').P2BLookUpEncapsulate('#AddressList', 'AddressList', k.Add_Id, k.Address_FullAddress, 'AddressList', 'view', 'N');
                    $('#ContactDetailsList').P2BLookUpEncapsulate('#ContactDetailsList', 'ContactDetailsList', k.Cont_Id, k.FullContactDetails, 'ContactDetailsList', 'view', 'N');
                    $('#GuarantorNamelist').P2BLookUpEncapsulate('#GuarantorNamelist', 'GuarantorNamelist', k.Name_Id, k.Name_FullName, 'GuarantorNamelist', 'view', 'N');
                    $('#Borrowerlist').P2BLookUpEncapsulate('#Borrowerlist', 'Borrowerlist', k.Borrower_Id, k.Borrower_FullDetails, 'Borrowerlist', 'view', 'N');
                });

                if ($("#Autho").hasClass('auto_active')) {
                    if (data[2] != null) {
                        $('#Name').oldVal(data[2].Name);
                        $('#Categorylist').oldDropval(data[2].BusinessType_Val);
                        $('#AddressList_Old').oldLookupVal(data[2].Address_Val);
                        $('#ContactDetailsList_Old').oldLookupVal(data[2].Contact_Val);
                    }
                }
            });
        });

        //delete main page
        $('#Delete').button().click(function (event) {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            $('#Create_Dialog').P2BDeleteModalDialog('@Url.Action("Delete")', dt.ID, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
            event.preventDefault();
        });

        /* Address button click*/
        $('#Lookup-Address-GuarantorName').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetAddressLKDetails", "Guarantor")', '', 'LookupDiv', 'Address Look Up Data', '#AddressList', 'AddressList', 5, 'AddressList', '#frmGuarantorName', 'N', '#Edit-Address-GuarantorName,#Remove-Address-GuarantorName', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        // PArtial page create
        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-Address-GuarantorName').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "address")', 'Create Address', 'open', '@Url.Action("Create","Address")', '#FormAddress', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#frmGuarantorName', '', function (data) {
                // to show data which is created in partial page
                $('#AddressList').P2BLookUpEncapsulate('#AddressList', 'AddressList', data[0], data[1], 'AddressList', '#Edit-Address-GuarantorName,#Remove-Address-GuarantorName', 'N');
            });
            event.preventDefault();
        });

        // PArtial page edit
        $('#Edit-Address-GuarantorName').button().on("click", function (event) {
            var a = [], b;
            a = $('#AddressList').P2BGetTableDataonSelectedRow('#AddressList', 0);
            b = a[0];
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "address")', '@Url.Action("edit", "address")', b, '@Url.Action("Editsave","Address")', 'Edit Address', '#FormAddress', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmGuarantorName', '#Edit-Address-GuarantorName,#Remove-Address-GuarantorName', '#AddressList', 'AddressList', 'AddressList', 'N', function (data) {
                // setTimeout(function () {
                //to bind data according to selected id
                $.each(data[0], function (i, k) {
                    $('#FormAddress').trigger("reset");
                    $('#Address1').val(k.Address1);
                    $('#Address2').val(k.Address2);
                    $('#Address3').val(k.Address3);
                    $('#Landmark').val(k.Landmark);
                    $('#CountryList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "country")", "", k.Country_Id, '');
                    $('#StateList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "state")", "", k.State_Id, '');
                    $('#StateRegionList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "StateRegion")", "", k.StateRegion_Id, '');
                    $('#DistrictList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "District")", "", k.District_Id, '');
                    $('#TalukaList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "Taluka")", "", k.Taluka_Id, '');
                    $('#CityList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "City")", "", k.City_Id, '');
                    $('#AreaList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "area")", "", k.Area_Id, '');
                });
                //}, 3000);
            });
            event.preventDefault();
        });

        //partial page delete
        $('#Remove-Address-GuarantorName').button().on('click', function (event) {
            //var a = [], b;
            //a = $('#AddressList').P2BGetTableDataonSelectedRow('#AddressList', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#AddressList').P2BGetTableDataonSelectedRow('#AddressList', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#AddressList', $('#AddressList').val(), 200, 200, '#frmGuarantorName', '#AddressList', '#Edit-Address-GuarantorName,#Remove-Address-GuarantorName');
            event.preventDefault();
        });


        $('#Lookup-ContactDetails-GuarantorName').button().on('click', function (event) {
            @*$('.dialog').P2BLookUpModal('@Url.Action("GetAddressLKDetails", "GuarantorName")', '', 'LookupDiv', 'Address Look Up Data', '#AddressList', 'AddressList', 5, 'AddressList', '#frmGuarantorName', 'N', '#Edit-Address-GuarantorName,#Remove-Address-GuarantorName', 'Lookup_table', 'PageNavPosition');*@
            $('.dialog').P2BLookUpModal('@Url.Action("GetContactDetLKDetails", "Guarantor")', '', 'LookupDiv', 'ContactDetails Look Up Data', '#ContactDetailsList', 'ContactDetailsList', 5, 'ContactDetailsList', '#frmGuarantorName', 'N', '#Edit-ContactDetails-GuarantorName,#Remove-ContactDetails-GuarantorName', 'Lookup_table', 'PageNavPosition');
           
            event.preventDefault();
        });

    

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-ContactDetails-GuarantorName').button().on("click", function (event) {
            //function (url, maindialogtitle, state, submiturl, submitnameformforserilize, savemessage, errormessage, gridreloadname, height, width, forwarddata, ControlName, event, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, returnfunctiondata) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Createcontactdetails_partial", "Guarantor")', 'Create ContactDetails', 'open', '@Url.Action("CreateSave","ContactDetails")', '#frmContactDetails', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#frmContactDetails', '#Edit-ContactNo-ContDetails,#Remove-ContactNo-ContDetails', function (data) {
                $('#ContactDetailsList').P2BLookUpEncapsulate('#ContactDetailsList', 'ContactDetailsList', data[0], data[1], 'ContactDetailsList', '#Edit-ContactDetails-Corporate,#Remove-ContactDetails-Corporate', 'N');
            });
            event.preventDefault();
        });

        $('#Edit-ContactDetails-GuarantorName').button().on("click", function (event) {
            var a = [], b;
            a = $('#ContactDetailsList').P2BGetTableDataonSelectedRow('#ContactDetailsList', 0);
            b = a[0];
            console.log(b);
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("Createcontactdetails_partial", "GuarantorName")', '@Url.Action("Editcontactdetails_partial", "GuarantorName")', b, '@Url.Action("EditSave", "ContactDetails")', 'Edit Contact Details', '#frmContactDetails', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmGuarantorName', '#Edit-ContactDetails-GuarantorName,#Remove-ContactDetails-GuarantorName', '#ContactDetailsList', 'ContactDetailsList', 'ContactDetailsList', 'N', function (data) {
                // setTimeout(function () {
                $.each(data[0], function (i, k) {
                    $('#frmContactDetails').trigger('reset');
                    $('#EmailId').val(k.EmailId);
                    $('#Website').val(k.Website);
                    $('#FaxNo').val(k.FaxNo);
                });

                $.each(data[1], function (i, k) {
                    $('#ContactNos_List').P2BLookUpEncapsulate('#ContactNos_List', 'ContactNos_List', k.Id, k.FullContactNumbers, 'ContactNos_List', '#Edit-ContactNo-ContDetails,#Remove-ContactNo-ContDetails', 'A');
                });
                // }, 3000);
            });
            event.preventDefault();
        });

        $('#Remove-ContactDetails-GuarantorName').button().on('click', function (event) {
            // dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            //var a = [], b;
            //a = $('#ContactDetailsList').P2BGetTableDataonSelectedRow('#ContactDetailsList', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#ContactDetailsList').P2BGetTableDataonSelectedRow('#ContactDetailsList', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('@Url.Action("DeleteContactDetails", "Guarantor")', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#ContactDetailsList', $('#ContactDetailsList').val(), 200, 200, '#frmGuarantorName', '#ContactDetailsList', '#Edit-ContactDetails-GuarantorName,#Remove-ContactDetails-GuarantorName');
            event.preventDefault();
        });



       

        $('#Lookup-GuarantorName-Guarantor').button().on('click', function (event) {
         @*$('.dialog').P2BLookUpModal('@Url.Action("GetAddressLKDetails", "GuarantorName")', '', 'LookupDiv', 'Address Look Up Data', '#AddressList', 'AddressList', 5, 'AddressList', '#frmGuarantorName', 'N', '#Edit-Address-GuarantorName,#Remove-Address-GuarantorName', 'Lookup_table', 'PageNavPosition');*@
            $('.dialog').P2BLookUpModal('@Url.Action("GetNameDetails", "Guarantor")', '', 'LookupDiv', ' Look Up Data', '#GuarantorNamelist', 'GuarantorNamelist', 5, 'GuarantorNamelist', '#frmGuarantorName', 'N', '#Edit-GuarantorName-Guarantor,#Remove-GuarantorName-Guarantor', 'Lookup_table', 'PageNavPosition');
           
            event.preventDefault();
        });


        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-GuarantorName-Guarantor').button().on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Name_partial", "Guarantor")', 'Create Name', 'open', '@Url.Action("Create","NameSingle")', '#frmNamesingle', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#frmGuarantorName', '', function (data) {

                $('#GuarantorNamelist').P2BLookUpEncapsulate('#GuarantorNamelist', 'GuarantorNamelist', data[0], data[1], 'GuarantorNamelist', '#Edit-GuarantorName-Guarantor,#Remove-GuarantorName-Guarantor', 'N');
            });
            event.preventDefault();
        });

        $('#Edit-GuarantorName-Guarantor').button().on("click", function (event) {
            var a = [], b;
            a = $('#GuarantorNamelist').P2BGetTableDataonSelectedRow('#GuarantorNamelist', 0);
            b = a[0];
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "NameSingle")', '@Url.Action("edit", "NameSingle")', b, '@Url.Action("Editsave","NameSingle")', 'Edit Name', '#frmNameSingle', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmGuarantorName', '#GuarantorNamelist', 'GuarantorNamelist', 'GuarantorNamelist', 'N', '#Edit-GuarantorName-Guarantor,#Remove-GuarantorName-Guarantor', function (data) {
                // setTimeout(function () {
                //to bind data according to selected id
               // $.each(data[0], function (i, k) {
                    var k=data;
                    $('#frmnameSingle').trigger("reset");
                    $('#FName').val(k.FName);
                    $('#MName').val(k.MName);
                    $('#LName').val(k.LName);
                    $('#title').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 100, k.EmpTitle);

               // });
                //}, 3000);

            });
            event.preventDefault();
        });
     

        $('#Remove-GuarantorName-Guarantor').button().on('click', function (event) {
            //   dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            //var a = [], b;
            //a = $('#GuarantorNamelist').P2BGetTableDataonSelectedRow('#GuarantorNamelist', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#GuarantorNamelist').P2BGetTableDataonSelectedRow('#GuarantorNamelist', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#GuarantorNamelist', $('#GuarantorNamelist').val(), 200, 200, '#frmGuarantorName', '#GuarantorNamelist');
            event.preventDefault();
        });

        $('#Lookup-Borrower-Guarantor').button().on('click', function (event) {
      @*$('.dialog').P2BLookUpModal('@Url.Action("GetAddressLKDetails", "GuarantorName")', '', 'LookupDiv', 'Address Look Up Data', '#AddressList', 'AddressList', 5, 'AddressList', '#frmGuarantorName', 'N', '#Edit-Address-GuarantorName,#Remove-Address-GuarantorName', 'Lookup_table', 'PageNavPosition');*@
            $('.dialog').P2BLookUpModal('@Url.Action("GetNameDetails", "Guarantor")', '', 'LookupDiv', ' Look Up Data', '#Borrowerlist', 'Borrowerlist', 5, 'Borrowerlist', '#frmGuarantorName', 'N', '#Edit-GuarantorName-Guarantor,#Remove-GuarantorName-Guarantor', 'Lookup_table', 'PageNavPosition');
           
            event.preventDefault();
        });


        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-Borrower-Guarantor').button().on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Name_partial", "Guarantor")', 'Create Name', 'open', '@Url.Action("Create","NameSingle")', '#frmNamesingle', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#frmGuarantorName', '', function (data) {
                // to show data which is created in partial page
                $('#Borrowerlist').P2BLookUpEncapsulate('#Borrowerlist', 'GuarantorNamelist', data[0], data[1], 'Borrowerlist', '#Edit-Borrower-Guarantor,#Remove-Borrower-Guarantor', 'N');
            });
            event.preventDefault();
        });

        $('#Edit-Borrower-Guarantor').button().on("click", function (event) {
            var a = [], b;
            a = $('#Borrowerlist').P2BGetTableDataonSelectedRow('#Borrowerlist', 0);
            b = a[0];
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "NameSingle")', '@Url.Action("edit", "NameSingle")', b, '@Url.Action("Editsave","NameSingle")', 'Edit Name', '#frmNameSingle', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmGuarantorName', '#Borrowerlist', 'Borrowerlist', 'Borrowerlist', 'N', '#Edit-Borrower-Guarantor,#Remove-Borrower-Guarantor', function (data) {
                // setTimeout(function () {
                //to bind data according to selected id
                var k = data;
                    $('#frmnameSingle').trigger("reset");
                    $('#FName').val(k.FName);
                    $('#MName').val(k.MName);
                    $('#LName').val(k.LName);
                    $('#title').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 100, k.EmpTitle);

              //  });
                //}, 3000);

            });
            event.preventDefault();
        });

        $('#Remove-Borrower-Guarantor').button().on('click', function (event) {
            //   dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            //var a = [], b;
            //a = $('#Borrowerlist').P2BGetTableDataonSelectedRow('#Borrowerlist', 0);
            //b = a[0];
       
            var selectedRows = [];
            selectedRows = $('#Borrowerlist').P2BGetTableDataonSelectedRow('#Borrowerlist', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#Borrowerlist', $('#Borrowerlist').val(), 200, 200, '#frmGuarantorName', '#Borrowerlist');
            event.preventDefault();
        });


        $('#MaxAmount').ForceOnlyNumeric();
        $('#ExceptionCode').ForceOnlyAlphaNumeric();
        $('#ExceptionCode').MaxLength(20);
        $('.popup_radio_button').controlgroup();
        $('#Professionlist').selectmenu().selectmenu('menuWidget');
        $('#Categorylist').selectmenu().selectmenu('menuWidget');
    });
</script>