@model  Recruitment.ResumeCollection
@{
    ViewBag.Title = "Resume Shortlisting";
}



<html>

<head>
    <title></title>
    <style>
        .icon-row {
            position: relative;
            left: 112px;
            top: -151px;
        }

        .icon-row2 {
            position: relative;
            left: -18px;
            top: -144px;
        }

        .icon-row1 {
            position: relative;
            left: 677px;
            top: -145px;
        }

        .icon-row3 {
            position: relative;
            left: 69px;
            top: -146px;
        }

        #BusinessType-button {
            font-size: 9px;
            padding-top: 1px;
            font-weight: bold;
        }

        .popup-content-label {
            width: 155px;
            display: block;
            float: left;
            margin: 1px;
        }

        .popup-content-label1 {
            width: 172px;
            display: block;
            float: left;
            margin: 1px;
        }

        .popup-content-label-2 {
            width: 110px;
            display: block;
            float: left;
            margin: 1px;
        }

        .section_Method1 {
            border: 1px solid rgba(207, 207, 207, 0.91);
            border-radius: 10px;
            margin-top: 0px;
            margin-bottom: -6px;
            margin-left: 510px;
            width: 446px;
            height: 525px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 150px;
        }

        .row3 {
            width: 402px;
        }

        .row4 {
            position: absolute;
            top: 294px;
            width: 400px;
        }

        .row6 {
            width: 260px;
            display: inline-block;
        }

        .row7 {
            width: 500px;
            display: inline-block;
        }

        .row8 {
            width: 500px;
            right: 50px;
            display: inline-block;
        }

        .popup-content-textbox-long {
            margin-bottom: 1px;
            width: 290px;
        }


        .row2 {
            width: 402px;
        }

        .section1 {
            display: block;
            border: 1.5px solid rgba(207, 207, 207, 0.91);
            height: 180px;
            width: 1043px;
            margin: 4px auto;
            position: absolute;
            left: 12px;
            top: 100px;
        }

        .section3 {
            display: block;
            border: 1.5px solid rgba(207, 207, 207, 0.91);
            height: 25px;
            width: 1043px;
            margin: 4px auto;
            position: absolute;
            left: 12px;
            top: 280px;
        }

        .section2 {
            display: block;
            /*border: 1.5px solid rgba(207, 207, 207, 0.91);*/
            height: 300px;
            width: 1043px;
            margin: 4px auto;
            left: 12px;
            top: 315px;
        }

        .popup-content-drop-icon-edit, .popup-content-drop-icon-create, .popup-content-drop-icon-lookup {
            display: inline-block;
            left: 0;
            top: 4px;
        }

        .popup-content-drop-icon-edit, .popup-content-drop-icon-create, .popup-content-drop-icon-lookup {
            height: 20px;
            margin: auto;
            position: absolute;
            width: 20px;
            left: 24px;
        }

        .popup-content-drop-icon-edit {
            left: 76px;
        }

        .popup-content-drop-icon-lookup {
            left: 29px;
        }

        .popup-content-drop-icon-lookup {
            left: 29px;
        }

        .popup-content-icon-create {
            left: 346px;
            margin-top: 101px;
        }

        .bg {
            float: left;
            width: 345px;
            /*padding-top: 15px;*/
        }

        .employeeselectiondiv {
            float: left;
        }

        .transactiontablenew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            /*width: 200px;*/
            display: block;
            overflow: auto;
            height: 500px;
            border-collapse: collapse;
        }

        .transactiondivnew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            width: 507px;
            border-radius: 5px;
            height: 32px;
        }

        .increpoly_icon-row {
            position: relative;
            left: 800px;
            top: -144px;
        }

        .transactiondivnew > div {
            display: inline-block;
            margin: 0 auto;
            padding: 4px;
        }

            .transactiondivnew > div > input {
                box-sizing: initial;
                display: inline-block;
                margin: 0 auto;
                width: 425px;
            }

        .transactiontablenew th, .transactiontablenew td {
            background: rgba(246, 246, 246, 0.64) none repeat scroll 0 0;
            padding: 5px;
            border-bottom: 1px solid #c5c5c5;
            border-right: 1px solid #c5c5c5;
            text-align: center;
            color: rgba(114, 113, 113, 0.9);
        }
            /*.popup-content-icon-create1 {
            left: 346px;
            margin-top: 96px;
        }*/
            .transactiontablenew th:nth-child(1) > input, .transactiontablenew td:nth-child(1) > input {
                margin: 0 auto;
            }

            .transactiontablenew th:nth-child(2), .transactiontablenew td:nth-child(2) {
                height: 100%;
                width: 100%;
            }

        .transactiontablenew tr:hover {
            cursor: pointer;
            background: #EEEEEE none repeat scroll 0 0;
        }

        .Button_Container {
            /* height: 42px; */
            margin-left: 1px;
            margin-right: 1px;
            /* margin-top: 9px; */
            padding: 8px;
            position: relative;
        }

        .struct_input_val_Hide {
            display: none;
            pointer-events:none;
        }
        .struct_input_val_Show {
            display: block;
            pointer-events: visible;
        }
    </style>
</head>
<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="bg">
                <label class="popup-content-label must">Advertise Reference No:</label>
                <input name="txtPayMonth" type="text" id="txtPayMonth" class="popup-content-textbox" readonly />
                <input type="text" id="Batch_Name" name="Batch_Name" class="popup-content-textbox filter_structure_id" />
                <button data-p2btooltip="Lookup Advertise Reference NO" class="button popup-content-icon-create " id="Lookup_BatchName" style="margin-left: -23px;top:9px">
                    <span class="ui-icon ui-icon-folder-open popup-content-iconmark "></span>
                </button>
            </div>
            <div class="bg">
                <label class="popup-content-label must">Batch Name:</label>
                <input name="txtPayMonth13" type="text" id="txtPayMonth13" class="popup-content-textbox" readonly />
                <input type="text" id="Batch_Name12" name="Batch_Name12" class="popup-content-textbox filter_structure_id" />
                <button data-p2btooltip="Lookup Batch Name Details" class="button popup-content-icon-create " id="Lookup_BatchName12" style="margin-left: 324px; top: 9px">
                    <span class="ui-icon ui-icon-folder-open popup-content-iconmark "></span>
                </button>
            </div>
            @*<div style="padding-top:15px;">
                    <label class="popup-content-label ">Shortlisting Parameter:</label>
                    <input type="text" hidden id="TrainingScheduleList" name="TrainingScheduleList" class="popup-content-textbox" />
                    <input type="text" readonly id="dispcalender1" class="popup-content-textbox" name="dispcalender1" />
                    <div class="icon-row1">
                        <button data-p2btooltip="Lookup Shortlisting Parameter" class="popup-content-icon-create" id="Lookup-Session-TrainingFeedback">
                            <span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span>
                        </button>
                    </div>

                </div>*@
            @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmRecruitInitiator1", name = "frmRecruitInitiator1" }))
            {
                <input type="text" hidden id="TrainingScheduleList" name="TrainingScheduleList" class="popup-content-textbox" />
                <div class="increpoly_row1 content_margine">
                    <div id="ContactDetails_old"></div>
                    @Html.LabelFor(m => m.ShortlistingCriteria, "Shortlisting Criteria:", new { @class = "popup-content-label" })
                    <div class="popup-content-table">
                        <table class="lookuptableselected" id="RecruitShortlistingParalist">
                            <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                        </table>
                    </div>
                    <div class="increpoly_icon-row">
                        <button data-p2btooltip="LookUp Shortlisting Criteria Details" class="popup-content-icon-lookup" id="Lookup-ShortlistingCriteria-RecruitEvaluationProcess"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Crate Shortlisting Criteria Details" class="popup-content-icon-create" id="Create-ShortlistingCriteria-RecruitEvaluationProcess" style="top: -80px"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Edit Shortlisting Criteria Details" class="popup-content-icon-edit" id="Edit-ShortlistingCriteria-RecruitEvaluationProcess"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Remove Shortlisting Criteria Details" class="popup-content-icon-remove" id="Remove-ShortlistingCriteria-RecruitEvaluationProcess"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                    </div>
                </div>
            }
            @* <button class="button" id="Load">Load</button>*@
            @*<div class="row7 content_margine">
                    <div id="AdPostList"></div>@Html.LabelFor(m => m.RecruitBatchInitiator, "Advertise And Job Reference No. :", new { @class = "popup-content-label-2" })
                    <div class="popup-content-table" style="width: 522px;">
                        <table class="lookuptableselected" id="AdPostListM">
                            <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                        </table>
                    </div>
                    <div class="icon-row">
                        <button data-p2btooltip="Lookup " class="popup-content-icon-lookup" id="lookUp-RecruitExpenses-RecruitInitiator"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Create " class="popup-content-icon-create" id="Create-RecruitExpenses-RecruitInitiator"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Edit " class="popup-content-icon-edit" id="Edit-RecruitExpenses-RecruitInitiator"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button
                        <button data-p2btooltip="Remove " class="popup-content-icon-remove" id="Remove-RecruitBatchInitiator-RecruitInitiator"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                    </div>
                </div>*@

            @*<div class="row7 content_margine">
                    <div id="ShortlistList"></div>@Html.LabelFor(m => m.RecruitBatchInitiator, "Shortlisting Parameter :", new { @class = "popup-content-label-2" })
                    <div class="popup-content-table" style="width: 522px;">
                        <table class="lookuptableselected" id="ShortListM">
                            <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                        </table>
                    </div>
                    <div class="icon-row">
                        <button data-p2btooltip="Lookup " class="popup-content-icon-lookup" id="lookUp-Shortlistcriteria"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Create " class="popup-content-icon-create" id="Create-Shortlistcriteria"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Edit " class="popup-content-icon-edit" id="Edit-RecruitExpenses-RecruitInitiator"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Remove " class="popup-content-icon-remove" id="Remove-RecruitExpenses-RecruitInitiator"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                    </div>
                </div>*@
            @*<div class="section2">*@
            <div class="Button_Container">
                <button class="button" id="Load">Load</button>
                <button class="button" id="Create">Create</button>
                <button class="button" id="View">View</button>
                <button class="button" id="Edit">Edit</button>
                <button class="button" id="Delete">Delete</button>
                <button class="button" id="Autho">Authorised</button>
                <div id="Grid_Form">
                    <div>
                        <table id="JqGrid"></table>
                        <div id="pager2"></div>
                    </div>
                </div>
            </div>
        </div>
        @*</div>*@
    </div>

    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv" id="Lookup"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>

    <div id="Create_Dialog" title="Create Resume Shortlisting">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmRecruitInitiator", name = "frmRecruitInitiator" }))
        {
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
            //add calendar to view
            <div>
                <label class="popup-content-label must">Advertise Reference No:</label>
                <input name="txtPayMonth" type="text" id="txtPayMonth1" readonly />
                <input type="text" id="Batch_Name1" name="Batch_Name1" class="filter_structure_id" />
                <div class="icon-row2">
                    <button data-p2btooltip="Select Advertise Reference NO" class="button popup-content-icon-create" id="Lookup_BatchName1">
                        <span class="ui-icon ui-icon-folder-open popup-content-iconmark "></span>
                    </button>
                </div>
                @*<button style="left:3%;top:-10%" id="">Load</button>*@
            </div><br>
            <div>
                <label class="popup-content-label must">Batch Name:</label>
                <input name="txtPayMonth12" type="text" id="txtPayMonth12" readonly />
                <input type="text" id="RecruitBatch" name="RecruitBatch" class="filter_structure_id" />
                <div class="icon-row2">
                    <button data-p2btooltip="Lookup Batch Name Details" class="button popup-content-icon-create " id="Lookup_RecruitBatch">
                        <span class="ui-icon ui-icon-folder-open popup-content-iconmark "></span>
                    </button>
                </div>
                @*<button style="left:3%;top:-10%" id="">Load</button>*@
            </div><br>
            @*<input type="text" hidden id="TrainingScheduleList" name="TrainingScheduleList" class="popup-content-textbox" />*@
            <input type="text" hidden id="TrainingScheduleList1" name="TrainingScheduleList1" class="popup-content-textbox" />
            <div class="increpoly_row1 content_margine">
                <div id="ContactDetails_old"></div>
                @Html.LabelFor(m => m.ShortlistingCriteria, "Shortlisting Criteria:", new { @class = "popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="RecruitShortlistingParalist1">
                        <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="LookUp Shortlisting Criteria Details" class="popup-content-icon-lookup" id="Lookup-ShortlistingCriteria-RecruitEvaluationProcess1"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Crate Shortlisting Criteria Details" class="popup-content-icon-create" id="Create-ShortlistingCriteria-RecruitEvaluationProcess1" style="top: -80px"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit Shortlisting Criteria Details" class="popup-content-icon-edit" id="Edit-ShortlistingCriteria-RecruitEvaluationProcess1"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Remove Shortlisting Criteria Details" class="popup-content-icon-remove" id="Remove-ShortlistingCriteria-RecruitEvaluationProcess1"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>
            @*<label class="popup-content-label ">Shortlisting Parameter:</label>
                <input type="text" hidden id="TrainingScheduleList1" name="TrainingScheduleList1" class="popup-content-textbox" />
                <input type="text" readonly id="dispcalender12" class="popup-content-textbox" name="dispcalender12" />
                <div class="icon-row">
                    <button data-p2btooltip="Select Shortlisting Parameter" class="button popup-content-icon-create" id="Lookup-Session-TrainingFeedback1">
                        <span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span>
                    </button>
                </div>*@
            @*<div style="padding-top:15px;">
                    <label class="popup-content-label ">Recruit Evaluation Parameter:</label>
                    <input type="text" hidden id="TrainingScheduleList1" name="TrainingScheduleList1" class="popup-content-textbox" />
                    <input type="text" readonly id="dispcalender1" class="popup-content-textbox" name="dispcalender1" />
                    <div class="icon-row1">
                        <button data-p2btooltip="Lookup Evaluation Parameter" class="popup-content-icon-create" id="Lookup-Session-TrainingFeedback">
                            <span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span>
                        </button>
                    </div>

                </div>*@
            @*<div class="row3 content_margine">
                <div id="AdPostList"></div><label class="popup-content-label-2 must">Advertise And Job Reference No:</label>
                <div class="popup-content-table" style="width: 522px;">
                    <table class="lookuptableselected" id="AdPostListM">
                        <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup " class="popup-content-icon-lookup" id="lookUp-RecruitExpenses-RecruitInitiator"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    @* <button data-p2btooltip="Create " class="popup-content-icon-create" id="Create-RecruitExpenses-RecruitInitiator"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>*@
            @*<button data-p2btooltip="Edit " class="popup-content-icon-edit" id="Edit-RecruitExpenses-RecruitInitiator"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Remove " class="popup-content-icon-remove" id="Remove-RecruitExpenses-RecruitInitiator"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                    </div>
                </div>*@

            @*<div class="row3 content_margine">
                    <div id="ShortlistList"></div><label class="popup-content-label ">Evaluation Parameter:</label>
                    <div class="popup-content-table" style="width: 522px;">
                        <table class="lookuptableselected" id="ShortListM">
                            <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                        </table>
                    </div>
                    <div class="icon-row">
                        <button data-p2btooltip="Lookup " class="popup-content-icon-lookup" id="lookUp-Shortlistcriteria"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                        @*<button data-p2btooltip="Create " class="popup-content-icon-create" id="Create-RecruitExpenses-RecruitInitiator"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Edit " class="popup-content-icon-edit" id="Edit-RecruitExpenses-RecruitInitiator"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Remove " class="popup-content-icon-remove" id="Remove-RecruitExpenses-RecruitInitiator"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                    </div>
                </div>*@
            <div class="row3 content_margine"><input type="button" id="Process" name="Load" value="Load"></div>
            <div class="section_Method">
                <div class="heading">Candidate List</div>
                <div class="employeeselectiondiv">
                    <div class="transactiondivnew dynamic addons" style="float:left">
                        <div><label>Search : </label><input type="text" id="Employee-Search" style="width: 425px;" /></div>
                        <table cellspacing="0" cellpadding="1" class="transactiontablenew" id="Employee-Table">
                            <tr><th><input type="checkbox" id="Case-Employee" /></th><th>Employee</th></tr>
                        </table>
                        @*<span class="btn-span1" aria-hidden="true">
                                <button id="load_emp" class="loan-btn">Load Employee</button>
                            </span>*@
                    </div>
                    @*<input name="geo_id" type="text" id="geo_id" class="struct_input_val"/>
                    <input name="pay_id" type="text" id="pay_id" class="struct_input_val"/>
                    <input name="fun_id" type="text" id="fun_id" class="struct_input_val"/>*@
                </div>
            </div>
            <div class="section_Method1">
                @*<div id="AdPostList"></div><label class="popup-content-label-2 must">RecruitEvaluation Parameter:</label>
                    <div class="popup-content-table" style="width: 522px;">
                        <table class="lookuptableselected" id="AdPostListM">
                            <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                        </table>
                    </div>
                    <div class="icon-row3">
                        <button data-p2btooltip="Lookup " class="popup-content-icon-lookup" id="lookUp-Shortlistcriteria"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                        @* <button data-p2btooltip="Create " class="popup-content-icon-create" id="Create-RecruitExpenses-RecruitInitiator"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>*@
                @*<button data-p2btooltip="Edit " class="popup-content-icon-edit" id="Edit-RecruitExpenses-RecruitInitiator"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Remove " class="popup-content-icon-remove" id="Remove-RecruitExpenses-RecruitInitiator"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                    </div>*@
                <div class="dropdown_row1 row3 content_margine">
                    @Html.LabelFor(m => m.ResumeSortlistingStatus, "Resume Shortlisting Status :", new { @class = "popup-content-label1 must" })
                    <select id="CategorylistEvalpara" name="CategorylistEvalpara" class="" style="width:161px;"><option></option></select>
                </div>

                @*<button style="float:right" id="cancel">Cancel</button>
                    <button style="float:right" id="save">Save</button>*@

            </div>
            @*<div class="row3 content_margine">
                    <div id="Grid_Form2">
                        <div>
                            <table id="JqGridNew"></table>
                            <div id="pager22"></div>
                        </div>
                    </div>
                </div>*@
            @*<div class="section2">
                    <div id="Grid_Form">
                        <div>
                            <table id="JqGrid"></table>
                            <div id="pager2"></div>
                        </div>
                    </div>
                </div>*@
            @*</div>*@


        }
    </div>

</body>
</html>

<script>
    $(document).ready(function (e) {
        $('button').button();

        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;
        // var "" = "Edit-RecruitBatchInitiator-RecruitInitiator,Remove-RecruitBatchInitiator-RecruitInitiator,Edit-RecruitExpenses-RecruitInitiator,Remove-RecruitExpenses-RecruitInitiator";
        var namelookuptable = '#RecruitShortlistingParalist1';
        var btndisablenames = "#Edit-ShortlistingCriteria-RecruitEvaluationProcess1,#Remove-ShortlistingCriteria-RecruitEvaluationProcess1";
        ColModel = ['Name', 'Fulldetails', 'ShortlistingStatus', 'Id'];
        ColNames = ['Name', 'Fulldetails', 'Shortlisting Status', 'Id'];
        SortName = 'Id';
        Caption = 'Shortlist Candidate';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);


        var inline_ColNames = [];
        var inline_ColModel = [];
        var inline_SortName, inline_Caption, inline_url, inline_width, inline_height;
        inline_ColModel = ['Id', 'Candidate Name', 'Fulldetails'];
        inline_ColNames = ['Id', 'Candidate Name', 'Fulldetails'];
        inline_SortName = 'ID';
        inline_Caption = 'Candidate List';
        inline_url = '@Url.Action("Process")';
        inline_width = 900;
        inline_height = 150;

        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }
        function DateConvert(JsonDate) {
            var date = new Date(parseInt(JsonDate.substr(6)));
            var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
            return displayDate;
        };


        $('#Lookup_BatchName1').on('click', function () {
            ////debugger;
            $('#txtPayMonth12').val("");
            $('#RecruitBatch').val("");
            $("#RecruitShortlistingParalist1 tr:gt(0)").remove();
            $('.dialog').AddDataToTextbox({
                appendTo: "#txtPayMonth1",
                appendToId: "#Batch_Name1",
                lookupurl: "@Url.Action("GetRecruitExpensesLKDetails", "ResumeShortlisting")",
                NoOfRecordToShow: "10",
                setnameofthelookupbyppage: "txtPayMonth1",
                LookupDiv: "LookupDiv",
                lookuppagename: "lookup",
                readonly: true,
                pagename: "PageNavPosition",

            });
        });

        $('#Edit-ShortlistingCriteria-RecruitEvaluationProcess').button().on("click", function (event) {
            var a = [], b;
            a = $('#RecruitShortlistingParalist').P2BGetTableDataonSelectedRow('#RecruitShortlistingParalist', 0);
            b = a[0];
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname, height, width, classoridoftheonwhichpopupderived, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not,nameidclassofbuttontodisable,returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("Partial", "ShortlistingCriteria")', '@Url.Action("Edit", "ShortlistingCriteria")', b, '@Url.Action("Editsave", "ShortlistingCriteria")', 'Edit ShortlistingCriteria data', '#frmShortlistingCriteria', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmRecruitEvaluationProcess', '#RecruitShortlistingParalist', 'RecruitShortlistingParalist', 'RecruitShortlistingParalist', 'N', '#Edit-ShortlistingCriteria-RecruitEvaluationProcess,#Remove-ShortlistingCriteria-RecruitEvaluationProcess', function (data) {
                // setTimeout(function () {
                //to bind data according to selected id
                $.each(data[0], function (i, k) {
                    $('#frmShortlistingCriteria').trigger("reset");
                    $('#AgeFrom').val(k.txtAgeFrom);
                    $('#AgeTo').val(k.txtAgeTo);
                    $('#username').val(k.txtNarration);
                    $('#ExpYearFrom').val(k.txtExpYearFrom);
                    $('#ExpYearTo').val(k.txtExpYearTo);
                    $('#NoOfVacancies').val(k.txtNoOfVacancies);
                    $('#RelaxationAge').val(k.txtRelaxationAge);
                    $('#CriteriaName').val(k.CriteriaName);
                    $('#CategorylistNew').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 104, k.CategoryList);
                    $('#ExpFilterlist1').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 1061, k.ExpFilterList);
                    $('#Genderlist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 129, k.GenderList);
                    $('#MaritalStatuslist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 128, k.MaritalStatusList);
                    $('#RangeFilterList').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 1058, k.RangeFilterList);
                    $('#SpecialCategorylist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 514, k.SpecialCategoryList);
                    
                });
                //}, 3000);
                $.each(data[4], function (i, k) {
                    //alert("fff" + k.FuncStruct_Id);

                    $('#FuncStructlist').P2BLookUpEncapsulate('#FuncStructlist', 'FuncStructlist', k.FuncStruct_Id, k.FuncStruct_val, 'FuncStructlist', '#Edit-FuncStruct-ShortlistingCriteria,#Remove-FuncStruct-ShortlistingCriteria', 'N');
                });
                $.each(data[3], function (i, k) {
                    //alert("fff" + k.FuncStruct_Id);

                    $('#Skilllist').P2BLookUpEncapsulate('#Skilllist', 'Skilllist', k.Skill_Id, k.Skill_val, 'Skilllist', '#Edit-Skill-ShortlistingCriteria,#Remove-Skill-ShortlistingCriteria', 'A');
                });

                $.each(data[1], function (i, k) {
                    ////debugger;
                    $('#Qualificationlist').P2BLookUpEncapsulate('#Qualificationlist', 'Qualificationlist', k.Qualification_Id, k.Qualification_val, 'Qualificationlist', '#Edit-Qualification-ShortlistingCriteria,#Remove-Qualification-ShortlistingCriteria', 'N');
                    //$('#Skilllist').P2BLookUpEncapsulate('#Skilllist', 'Skilllist', k.Skill_Id, k.Skill_val, 'Skilllist', '#Edit-Skill-ShortlistingCriteria,#Remove-Skill-ShortlistingCriteria', 'N');
                    console.log("---fhfghfhg---");
                    console.log(k);
                    console.log("---funstructlist---");
                    console.log(data[1]);
                    console.log("---FUNCstruct_ID--- " + k.FuncStruct_Id);
                    //$('#FuncStructlist').P2BLookUpEncapsulate('#FuncStructlist', 'FuncStructlist', k.FuncStruct_Id, k.FuncStruct_val, 'FuncStructlist', '#Edit-FuncStruct-ShortlistingCriteria,#Remove-FuncStruct-ShortlistingCriteria', 'N');

                  //  $('#HolidayListList').P2BLookUpEncapsulate('#HolidayListList', 'HolidayListList', k.HolidayList_Id, k.HolidayList_val, 'HolidayListList', '#Edit-HolidayList-HolidayCalendar,#Remove-HolidayList-HolidayCalendar', 'A');

                });

            });
            event.preventDefault();
        });

        $('#Edit-ShortlistingCriteria-RecruitEvaluationProcess1').button().on("click", function (event) {
            var a = [], b;
            a = $('#RecruitShortlistingParalist1').P2BGetTableDataonSelectedRow('#RecruitShortlistingParalist1', 0);
            b = a[0];
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname, height, width, classoridoftheonwhichpopupderived, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not,nameidclassofbuttontodisable,returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("Partial", "ShortlistingCriteria")', '@Url.Action("Edit", "ShortlistingCriteria")', b, '@Url.Action("Editsave", "ShortlistingCriteria")', 'Edit ShortlistingCriteria data', '#frmShortlistingCriteria', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmRecruitEvaluationProcess', '#RecruitShortlistingParalist1', 'RecruitShortlistingParalist1', 'RecruitShortlistingParalist1', 'N', '#Edit-ShortlistingCriteria-RecruitEvaluationProcess1,#Remove-ShortlistingCriteria-RecruitEvaluationProcess1', function (data) {
                // setTimeout(function () {
                //to bind data according to selected id
                $.each(data[0], function (i, k) {
                    $('#frmShortlistingCriteria').trigger("reset");
                    $('#AgeFrom').val(k.txtAgeFrom);
                    $('#AgeTo').val(k.txtAgeTo);
                    $('#username').val(k.txtNarration);
                    $('#ExpYearFrom').val(k.txtExpYearFrom);
                    $('#ExpYearTo').val(k.txtExpYearTo);
                    $('#NoOfVacancies').val(k.txtNoOfVacancies);
                    $('#RelaxationAge').val(k.txtRelaxationAge);
                    $('#CriteriaName').val(k.CriteriaName);
                    $('#CategorylistNew').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 104, k.CategoryList);
                    $('#ExpFilterlist1').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 1061, k.ExpFilterList);
                    $('#Genderlist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 129, k.GenderList);
                    $('#MaritalStatuslist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 128, k.MaritalStatusList);
                    $('#RangeFilterList').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 1058, k.RangeFilterList);
                    $('#SpecialCategorylist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 514, k.SpecialCategoryList);
                });
                //}, 3000);
                $.each(data[1], function (i, k) {
                    ////debugger;
                    $('#Qualificationlist').P2BLookUpEncapsulate('#Qualificationlist', 'Qualificationlist', k.Qualification_Id, k.Qualification_val, 'Qualificationlist', '#Edit-Qualification-ShortlistingCriteria,#Remove-Qualification-ShortlistingCriteria', 'N');
                    $('#Skilllist').P2BLookUpEncapsulate('#Skilllist', 'Skilllist', k.Skill_Id, k.Skill_val, 'Skilllist', '#Edit-Skill-ShortlistingCriteria,#Remove-Skill-ShortlistingCriteria', 'N');
                    console.log("---fhfghfhg---");
                    console.log(k);
                    console.log("---funstructlist---");
                    //console.log(data[1]);
                    //$('#FuncStructlist').P2BLookUpEncapsulate('#FuncStructlist', 'FuncStructlist', k.FuncStruct_Id, k.FuncStruct_val, 'FuncStructlist', '#Remove-FuncStruct-ShortlistingCriteria', 'N');

                });

                $.each(data[4], function (i, k) {
                    //alert("fff" + k.FuncStruct_Id);

                    $('#FuncStructlist').P2BLookUpEncapsulate('#FuncStructlist', 'FuncStructlist', k.FuncStruct_Id, k.FuncStruct_val, 'FuncStructlist', '#Edit-FuncStruct-ShortlistingCriteria,#Remove-FuncStruct-ShortlistingCriteria', 'N');
                });
                $.each(data[3], function (i, k) {
                    //alert("fff" + k.FuncStruct_Id);

                    $('#Skilllist').P2BLookUpEncapsulate('#Skilllist', 'Skilllist', k.Skill_Id, k.Skill_val, 'Skilllist', '#Edit-Skill-ShortlistingCriteria,#Remove-Skill-ShortlistingCriteria', 'A');
                });

            });
            event.preventDefault();
        });
        $('#Create-RecruitEvaluationPara-RecruitEvaluationProcess').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Partial", "RecruitEvaluationPara")', 'Create Recruit Evaluation Para', 'open', '@Url.Action("Create", "RecruitEvaluationPara")', '#frmRecruitEvaluationPara', 'Message :', 'Request Falied :', '#JqGrid', 400, 600, '', '', '', '#frmRecruitEvaluationProcess', '', function (data) {
                $('#RecruitEvaluationParalist').P2BLookUpEncapsulate('#RecruitEvaluationParalist', 'RecruitEvaluationParalist', data[0], data[1], 'RecruitEvaluationParalist', '#Edit-RecruitEvaluationPara-RecruitEvaluationProcess,#Remove-RecruitEvaluationPara-RecruitEvaluationProcess', 'N');

            });
            event.preventDefault();
        });



        $('#Create-ShortlistingCriteria-RecruitEvaluationProcess').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Partial", "ShortlistingCriteria")', 'Create Shortlisting Criteria', 'open', '@Url.Action("Create", "ShortlistingCriteria")', '#frmShortlistingCriteria', 'Message :', 'Request Falied :', '#JqGrid', 400, 600, '', '', '', '#frmRecruitEvaluationProcess', '', function (data) {
                $('#RecruitShortlistingParalist').P2BLookUpEncapsulate('#RecruitShortlistingParalist', 'RecruitShortlistingParalist', data[0], data[1], 'RecruitShortlistingParalist', '#Edit-RecruitEvaluationPara-RecruitEvaluationProcess,#Remove-RecruitEvaluationPara-RecruitEvaluationProcess', 'N');
            });
            event.preventDefault();
        });

        $('#Create-ShortlistingCriteria-RecruitEvaluationProcess1').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Partial", "ShortlistingCriteria")', 'Create Shortlisting Criteria', 'open', '@Url.Action("Create", "ShortlistingCriteria")', '#frmShortlistingCriteria', 'Message :', 'Request Falied :', '#JqGrid', 400, 600, '', '', '', '#frmRecruitEvaluationProcess', '', function (data) {
                $('#RecruitShortlistingParalist').P2BLookUpEncapsulate('#RecruitShortlistingParalist1', 'RecruitShortlistingParalist1', data[0], data[1], 'RecruitShortlistingParalist1', '#Edit-RecruitEvaluationPara-RecruitEvaluationProcess,#Remove-RecruitEvaluationPara-RecruitEvaluationProcess', 'N');
            });
            event.preventDefault();
        });
        $('#Lookup-ShortlistingCriteria-RecruitEvaluationProcess').on('click', function (event) {
            if ($('#Batch_Name12').val() == "") {
                $('<div></div>').P2BMessageModalDialog('ui-icon-alert', "Please Select Batch!");
                return false;
            }
            $('.dialog').P2BLookUpModal('@Url.Action("Getshorlistingparameter", "ResumeShortlisting")?forwardata=' + $('#Batch_Name12').val(), '', 'LookupDiv', 'Shortlisting Criteria Look Up Data', '#RecruitShortlistingParalist', 'RecruitShortlistingParalist', 5, 'RecruitShortlistingParalist', '#frmRecruitEvaluationProcess', 'N', '#Edit-RecruitEvaluationPara-RecruitEvaluationProcess,#Remove-RecruitEvaluationPara-RecruitEvaluationProcess', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        $('#Lookup-ShortlistingCriteria-RecruitEvaluationProcess1').on('click', function (event) {
            if ($('#RecruitBatch').val() == "") {
                alert("Please Select Job reference no")
                return false;
            }
            $('.dialog').P2BLookUpModal('@Url.Action("Getshorlistingparameter", "ResumeShortlisting")?forwardata=' + $('#RecruitBatch').val(), '', 'LookupDiv', 'Shortlisting Criteria Look Up Data', '#RecruitShortlistingParalist1', 'RecruitShortlistingParalist1', 5, 'RecruitShortlistingParalist1', '#frmRecruitInitiator', 'N', '#Edit-ShortlistingCriteria-RecruitEvaluationProcess1,#Remove-ShortlistingCriteria-RecruitEvaluationProcess1', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });
        $('#Edit-RecruitEvaluationPara-RecruitEvaluationProcess').button().on("click", function (event) {
            var a = [], b;
            a = $('#RecruitEvaluationParalist').P2BGetTableDataonSelectedRow('#RecruitEvaluationParalist', 0);
            b = a[0];
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname, height, width, classoridoftheonwhichpopupderived, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not,nameidclassofbuttontodisable,returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "RecruitEvaluationPara")', '@Url.Action("Edit", "RecruitEvaluationPara")', b, '@Url.Action("Editsave", "RecruitEvaluationPara")', 'Edit Recruit Evaluation Para data', '#frmRecruitEvaluationPara', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 600, '#frmRecruitEvaluationProcess', '#RecruitEvaluationParalist', 'RecruitEvaluationParalist', 'RecruitEvaluationParalist', 'N', '#Edit-RecruitEvaluationPara-RecruitEvaluationProcess,#Remove-RecruitEvaluationPara-RecruitEvaluationProcess', function (data) {
                // setTimeout(function () {
                //to bind data according to selected id
                $.each(data[0], function (i, k) {
                    $('#frmRecruitEvaluationPara').trigger("reset");

                    $('#Name_Eval').val(k.Stage);
                    $('#CategorylistEvalpara').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 809, k.RecruitEvalPara_Id);

                });
                //}, 3000);
                $.each(data[1], function (i, k) {
                    $('#SelectionPanellist').P2BLookUpEncapsulate('#SelectionPanellist', 'SelectionPanellist', k.RE_id, k.RE_val, 'SelectionPanellist', '#Edit-RecruitEvaluationPara-RecruitEvaluationProcess,#Remove-RecruitEvaluationPara-RecruitEvaluationProcess', 'N');

                });


            });
            event.preventDefault();
        });

        $('#Remove-ShortlistingCriteria-RecruitEvaluationProcess').button().on('click', function (event) {
            //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            //var a = [], b;
            //a = $('#RecruitShortlistingParalist').P2BGetTableDataonSelectedRow('#RecruitShortlistingParalist', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#RecruitShortlistingParalist').P2BGetTableDataonSelectedRow('#RecruitShortlistingParalist', 0)
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#RecruitShortlistingParalist', $('#RecruitShortlistingParalist').val(), 200, 200, '#frmRecruitInitiator1', '#RecruitShortlistingParalist', '#Edit-ShortlistingCriteria-RecruitEvaluationProcess,#Remove-ShortlistingCriteria-RecruitEvaluationProcess');
            event.preventDefault();
        });
        $('#Remove-ShortlistingCriteria-RecruitEvaluationProcess1').button().on('click', function (event) {
            //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            //var a = [], b;
            //a = $('#RecruitShortlistingParalist1').P2BGetTableDataonSelectedRow('#RecruitShortlistingParalist1', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#RecruitShortlistingParalist1').P2BGetTableDataonSelectedRow('#RecruitShortlistingParalist1', 0)
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#RecruitShortlistingParalist1', $('#RecruitShortlistingParalist1').val(), 200, 200, '#frmRecruitInitiator', '#RecruitShortlistingParalist1', '#Edit-ShortlistingCriteria-RecruitEvaluationProcess1,#Remove-ShortlistingCriteria-RecruitEvaluationProcess1');
            event.preventDefault();
        });

        $('#Lookup_RecruitBatch').on('click', function () {
            if ($('#Batch_Name1').val() == "") {
                alert("Please Select Advertise reference no")
                return false;
            }
            $('.dialog').AddDataToTextbox({
                appendTo: "#txtPayMonth12",
                appendToId: "#RecruitBatch",
                lookupurl: "@Url.Action("GetShortListingLKDetails", "ResumeShortlisting")?forwardata=" + $('#Batch_Name1').val(),
                NoOfRecordToShow: "10",
                setnameofthelookupbyppage: "txtPayMonth12",
                LookupDiv: "LookupDiv",
                lookuppagename: "lookup",
                readonly: true,
                pagename: "PageNavPosition",

            });
        });

        $('#Lookup-Session-TrainingFeedback1').on('click', function () {

            if ($('#RecruitBatch').val() == "") {
                $('<div></div>').P2BMessageModalDialog('ui-icon-alert', "Please select Batch!");
                return false;
            }
            $('.dialog').AddDataToTextbox({
                appendTo: "#dispcalender12",
                lookupurl: '@Url.Action("Getshorlistingparameter", "ResumeShortlisting")?forwardata=' + $('#RecruitBatch').val(),
                NoOfRecordToShow: "10",
                setnameofthelookupbyppage: "FatherName_FName-lookup",
                LookupDiv: "LookupDiv",
                appendToId: "#TrainingScheduleList1",
                lookuppagename: "lookup", readonly: true,
                pagename: "PageNavPosition"
            });
        });
        @*$('#Process').button().on("click", function (event) {
            // $('#frmCorporate').trigger('reset');
            var allElements = [];
            if ($("#ShortListM tr input").length > 0) {
                $("#ShortListM tr input").each(function () {
                    allElements.push($(this).val());
                });
            } else {
                alert("Please select ShortListing Criteria");
                return false;
            }
            //   $('#JqGridNew').P2BGrid(ColDisplayNames, ColDisplayModel, SortName, Caption_second, urlD, widthD, heightD, '#pager22', { multiple: true, rowNum: 30, selectall: true });

            $('#JqGridNew').InlineEditGrid({
                ColNames: inline_ColNames,
                ColModel: inline_ColModel,
                SortName: inline_SortName,
                Caption: inline_Caption,
                url: inline_url,
                tablename: '#JqGridNew',
                eddelurl: '@Url.Action("Create")',
                width: inline_width,
                height: inline_height,
                //CheckCol: "Editable",
                // EditableCol: ['BudgetAmount', 'SanctionedPosts'],
                forwarddata: allElements,
                //forwarddata: [RatingPoints, Comments],
            });
            event.preventDefault();
        });*@


        @*$('#save').button().on("click", function (e) {

            //var a = $('#TrainingSchedule_OverallFaultyRating').val();
            //alert(a);
            var dedtextbox = $('.dedamt').toArray();
            var JsonObj = [];
            $.each(dedtextbox, function (i, j) {
                var k = $(j);
                if (k.attr("data-val") != k.val()) {
                    var putJson = { Id: null, val: null, SalId: null };
                    putJson.Id = k.attr("name");
                    putJson.val = k.val();
                    putJson.SalId = $('#TrainingSchedule_OverallFaultyRating').val();
                    JsonObj.push(putJson);
                    console.log(putJson.SalId);
                    console.log(putJson);
                    console.log("----------------");
                }
            });
            var stringify_JsonObj = JSON.stringify(JsonObj);
            console.log(stringify_JsonObj);

            $.ajax({
                type: "POST",
                url: '@Url.Action("Create", "ResumeShortlisting")',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: stringify_JsonObj,
                success: function (data) {
                    if (data.success == true) {
                        $("#empnet").val(data.grossearn);
                        $("#empgross").val(data.totearn);
                        $("#empded").val(data.totded);
                        alert(data.responseText);
                    } else {
                        alert(data.responseText);
                    }
                }, error: function () {

                }
            });
            e.preventDefault();
        });*@


        $('#Process').button().on("click", function (event) {
            var v1 = $("#Batch_Name1").val();
            // var v2 = $("#TrainingScheduleList1").val();
            var allElements = [];
            if ($("#RecruitShortlistingParalist1 tr input").length > 0) {
                $("#RecruitShortlistingParalist1 tr input").each(function () {
                    allElements.push($(this).val());
                });
            } else {
                $('<div></div>').P2BMessageModalDialog('ui-icon-alert', "Please select ShortListing Criteria!");
                return false;
            }
            $("#TrainingScheduleList1").val(allElements);
            $('#Employee-Table').P2BTransactionTableDynamic('#Employee-Search', '#Case-Employee', './ResumeShortlisting/Get_Employelist?databatch=' + v1 + '&Session=' + $("#TrainingScheduleList1").val() + '&geo_id=', "");
            event.preventDefault();
        });

        $('#AdvertiseReferenceNo').MaxLength(50);
        $('#Narration').MaxLength(50);

        $('#Load').on('click', function (e) {
            ////debugger;
            // alert($('#Financial_id').val());
            var allElements = [];
            if ($("#RecruitShortlistingParalist tr input").length > 0) {
                $("#RecruitShortlistingParalist tr input").each(function () {
                    allElements.push($(this).val());
                });
            } else {
                $('<div></div>').P2BMessageModalDialog('ui-icon-alert', "Please select ShortListing Criteria!");
                return false;
            }
            $("#TrainingScheduleList").val(allElements);
            //if (!$("#TrainingScheduleList").val()) {
            //    alert("Please Shortlisting Parameter.");
            //    return false;
            //}
            $('#JqGrid').PostGridData({ url: url, filter: $("#TrainingScheduleList").val() });
        });


        $('#Create_Dialog').P2BCreateDialog();
        $('#Create').on("click", function (event) {
            $('#frmRecruitInitiator').trigger("reset");
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create Resume Shortlisting', 'open', '@Url.Action("Create")', '#frmRecruitInitiator', 'Message :', 'Request Falied :', '#JqGrid', 610, 950, namelookuptable, btndisablenames, function (data) { });
            $('#CategorylistEvalpara').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 809, "");
            $('#initiatedDate').prop('readonly', 'readonly');
            $('#PublishDate').prop('readonly', 'readonly');
            $('#CloseAdvDate').prop('readonly', 'readonly');
            event.preventDefault();
        });

        $('#Edit').on('click', function () {
            $(".struct_input_val").addClass("struct_input_val_Hide");
            $('#frmRecruitInitiator').trigger("reset");
            AssignData();
            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit RecruitInitiator", '#frmRecruitInitiator', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 610, 620, ' ', "", function (data) {
                // setTimeout(function () {
                $.each(data[0], function (i, k) {
                    
                    $('#AdvertiseReferenceNo').val(k.AdvertiseReferenceNo);
                    $('#initiatedDate').val(DateConvert(k.initiatedDate));
                    $('#PublishDate').val(DateConvert(k.PublishDate));
                    $('#CloseAdvDate').val(DateConvert(k.CloseAdvDate));
                    $('[name="TrClosed"]').val([k.TrClosed]).button().button("refresh");
                    $('[name="TrReject"]').val([k.TrReject]).button().button("refresh");
                    $('#Narration').val(k.Narration);
                    $('#WFStatusdrop').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 1000, k.WFStatus_Id);
                });

                $.each(data[1], function (i, k) {
                    $('#RecruitBatchInitiatorListM').P2BLookUpEncapsulate('#RecruitBatchInitiatorListM', 'RecruitBatchInitiatorListM', k.RecruitBatchInitiator_Id, k.RecruitBatchInitiator_val, 'RecruitBatchInitiatorListM', '', 'N');
                    $('#RecruitExpensesListM').P2BLookUpEncapsulate('#RecruitExpensesListM', 'RecruitExpensesListM', k.RecruitExpenses_Id, k.RecruitExpenses_val, 'RecruitExpensesListM', '', 'N');
                });
                $('#Autho_Allow').val(data[3]); //Compulsory for authorisation
                // }, 2000);
            });
        });
        $('#View').button().click(function (event) {
            $(".struct_input_val").addClass("struct_input_val_Hide");
            $('#frmRecruitInitiator').trigger("reset");
            AssignData();
            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View RecruitInitiator Data', '#RecruitExpensesListM,#RecruitBatchInitiatorListM', '#Lookup-Address-Corporate,#Create-Address-Corporate,#Edit-Address-Corporate,#Remove-Address-Corporate,#Lookup-ContactDetails-Corporate,#Create-ContactDetails-Corporate,#Edit-ContactDetails-Corporate,#Remove-ContactDetails-Corporate', 500, 620, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {
                $.each(data[0], function (i, k) {
                    $('#Autho_Action').val(k.Action);
                    $('#AdvertiseReferenceNo').val(k.AdvertiseReferenceNo);
                    $('#initiatedDate').val(DateConvert(k.initiatedDate));
                    $('#PublishDate').val(DateConvert(k.PublishDate));
                    $('#CloseAdvDate').val(DateConvert(k.CloseAdvDate));
                    $('[name="TrClosed"]').val([k.TrClosed]).button().button("refresh");
                    $('[name="TrReject"]').val([k.TrReject]).button().button("refresh");
                    $('#Narration').val(k.Narration);
                    $('#WFStatusdrop').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 1000, k.WFStatus_Id);
                });

                $.each(data[1], function (i, k) {
                    $('#RecruitBatchInitiatorListM').P2BLookUpEncapsulate('#RecruitBatchInitiatorListM', 'RecruitBatchInitiatorListM', k.RecruitBatchInitiator_Id, k.RecruitBatchInitiator_val, 'RecruitBatchInitiatorListM', 'view', 'N');
                    $('#RecruitExpensesListM').P2BLookUpEncapsulate('#RecruitExpensesListM', 'RecruitExpensesListM', k.RecruitExpenses_Id, k.RecruitExpenses_val, 'RecruitExpensesListM', 'view', 'N');
                });
                if ($("#Autho").hasClass('auto_active')) {
                    if (data[2] != null) {

                    }
                }
            });
        });

        //delete main page
        $('#Delete').button().click(function (event) {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            $('#Create_Dialog').P2BDeleteModalDialog('@Url.Action("Delete")', dt.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
            event.preventDefault();
        });
        // --------------- Qualification lookup start ----------
        $('#lookUp-RecruitBatchInitiator-RecruitInitiator').button().click(function (r) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetRecruitBatchInitiatorLKDetails", "RecruitInitiator")', '', 'LookupDiv', 'RecruitBatchInitiator Look Up Data', '#RecruitBatchInitiatorListM', 'RecruitBatchInitiatorListM', 5, 'RecruitBatchInitiatorListM', '#frmRecruitInitiator', 'N', '#Edit-RecruitBatchInitiator-RecruitInitiator,#Remove-RecruitBatchInitiator-RecruitInitiator', 'Lookup_table', 'PageNavPosition');
            r.preventDefault();
        });

        $('#lookUp-RecruitExpenses-RecruitInitiator').button().click(function (e) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetRecruitExpensesLKDetails", "ResumeShortlisting")', '', 'LookupDiv', 'Look Up Data', '#AdPostListM', 'AdPostListM', 5, 'AdPostListM', '#frmRecruitInitiator', 'N', '#Edit-RecruitExpenses-RecruitInitiator,#Remove-RecruitExpenses-RecruitInitiator', 'Lookup_table', 'PageNavPosition');
            e.preventDefault();
        });

        $('#Lookup_BatchName').on('click', function () {
            $("#RecruitShortlistingParalist tr:gt(0)").remove();
            $('#txtPayMonth13').val("");
            $('.dialog').AddDataToTextbox({
                appendTo: "#txtPayMonth",
                appendToId: "#Batch_Name",
                lookupurl: "@Url.Action("GetRecruitExpensesLKDetails", "ResumeShortlisting")",
                NoOfRecordToShow: "10",
                setnameofthelookupbyppage: "txtPayMonth",
                LookupDiv: "LookupDiv",
                lookuppagename: "lookup",
                readonly: true,
                pagename: "PageNavPosition",

            });
        });

        $('#Lookup_BatchName12').on('click', function () {
            if ($('#Batch_Name').val() == "") {
                $('<div></div>').P2BMessageModalDialog('ui-icon-alert', "Please Select Advertise reference no!");
                return false;
            }
            $('.dialog').AddDataToTextbox({
                appendTo: "#txtPayMonth13",
                appendToId: "#Batch_Name12",
                lookupurl: "@Url.Action("GetShortListingLKDetails", "ResumeShortlisting")?forwardata=" + $('#Batch_Name').val(),
                NoOfRecordToShow: "10",
                setnameofthelookupbyppage: "txtPayMonth13",
                LookupDiv: "LookupDiv",
                lookuppagename: "lookup",
                readonly: true,
                pagename: "PageNavPosition",

            });
        });

        $('#Lookup-Session-TrainingFeedback').on('click', function () {
            if ($('#Batch_Name12').val() == "") {
                $('<div></div>').P2BMessageModalDialog('ui-icon-alert', "Please Select Batch!");
                return false;
            }
            $('.dialog').AddDataToTextbox({
                appendTo: "#dispcalender1",
                lookupurl: '@Url.Action("Getshorlistingparameter", "ResumeShortlisting")?forwardata=' + $('#Batch_Name12').val(),
                NoOfRecordToShow: "10",
                setnameofthelookupbyppage: "FatherName_FName-lookup",
                LookupDiv: "LookupDiv",
                appendToId: "#TrainingScheduleList",
                lookuppagename: "lookup", readonly: true,
                pagename: "PageNavPosition"
            });
        });
        $('#lookUp-Shortlistcriteria').button().click(function (e) {
            var allElements = [];
            if ($("#AdPostListM tr input").length > 0) {
                $("#AdPostListM tr input").each(function () {
                    allElements.push($(this).val());
                });
            } else {
                $('<div></div>').P2BMessageModalDialog('ui-icon-alert', "Please Select Batch!");
                return false;
            }
            $('.dialog').P2BLookUpModal('@Url.Action("GetShortListingLKDetails", "ResumeShortlisting")?forwardata=' + allElements, '', 'LookupDiv', 'Look Up Data', '#ShortListM', 'ShortListM', 5, 'ShortListM', '#frmRecruitInitiator', 'A', '#Edit-RecruitExpenses-RecruitInitiator,#Remove-RecruitExpenses-RecruitInitiator', 'Lookup_table', 'PageNavPosition');
            e.preventDefault();
        });
        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-RecruitExpenses-RecruitInitiator').button().on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Index", "RecruitExpenses")', 'Create RecruitExpenses ', 'open', '@Url.Action("Create", "RecruitExpenses")', '#frmRecruitExpenses', 'Message :', 'Request Falied :', '#JqGrid', 206, 460, '', '', '', '#frmRecruitInitiator', '', function (data) {
                // to show data which is created in partial page
                $('#RecruitExpensesListM').P2BLookUpEncapsulate('#RecruitExpensesListM', 'RecruitExpensesListM', data[0], data[1], 'RecruitExpensesListM', '', 'N');

            });
            event.preventDefault();
        });

        $('#Edit-RecruitExpenses-RecruitInitiator').button().on("click", function (event) {
            var a = [], b;
            a = $('#RecruitExpensesListM').P2BGetTableDataonSelectedRow('#RecruitExpensesListM', 0);
            b = a[0];
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("Index", "RecruitExpenses")', '@Url.Action("edit", "RecruitExpenses")', b, '@Url.Action("Editsave", "RecruitExpenses")', 'Edit RecruitExpenses', '#frmRecruitExpenses', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmRecruitInitiator', '#RecruitExpensesListM', 'RecruitExpensesListM', 'RecruitExpensesListM', 'N', '', function (data) {
                $.each(data[0], function (i, k) {
                    $('#frmRecruitExpenses').trigger("reset");
                    $('#FeeAmount').val(k.FeeAmount);
                    $('#Narration1').val(k.Narration);
                    $('#ExpAccListP').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 10, k.ExpenseAccount_Id);
                    $('#SourceOFExpListP').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 11, k.SourceOfExpense_Id);
                });
            });
            event.preventDefault();
        });


        //partial page delete
        $('#Remove-RecruitBatchInitiator-RecruitInitiator').button().on('click', function (event) {
            //  dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'ID');
            //var a = [], b;
            //a = $('#AdPostListM').P2BGetTableDataonSelectedRow('#AdPostListM', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#AdPostListM').P2BGetTableDataonSelectedRow('#AdPostListM', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#AdPostListM', $('#AdPostListM').val(), 200, 200, '#frmshortlisting', '#AdPostListM');
            event.preventDefault();
        });

        $('#Remove-RecruitExpenses-RecruitInitiator').button().on('click', function (event) {
            //  dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'ID');
            //var a = [], b;
            //a = $('#ShortListM').P2BGetTableDataonSelectedRow('#ShortListM', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#ShortListM').P2BGetTableDataonSelectedRow('#ShortListM', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#ShortListM', $('#ShortListM').val(), 200, 200, '#frmshortlisting', '#ShortListM');
            event.preventDefault();
        });
        // --------------- Qualification lookup end ----------


        $('.date').P2BDatePicker();
        $('.popup_radio_button').controlgroup();
        $('#CategorylistEvalpara').selectmenu().selectmenu("menuWidget");
        $('#Autho').makeDisable('#Create,#Edit,#Delete');
        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');
    });
</script>