@{
    Layout = null;
}

@model CMS_SPS.CompetencyEvaluationModel
@*<link href="~/Content/staginant/staginant.css" rel="stylesheet" />*@
<script>
    $(document).ready(function () {
        $('#Intialvalue').ValidateTextBox({ maxlength: 10 });
        $('#Criterialist').selectmenu().selectmenu("menuWidget");
        $('#CriteriaTypelist').selectmenu().selectmenu("menuWidget");
        $('.popup_radio_button').controlgroup();
        $('#DataStepslist').selectmenu().selectmenu("menuWidget");
        $('.DataSteps').hide();
        $('input[name="DataStepsAppl"]:radio').change(function () {
            if (this.value == "false") {
                $('.DataSteps').hide();
            }
            else {

                $('.DataSteps').show();
            }
        });
    });

</script>

<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmCompetencyEvaluationModel", name = "frmCompetencyEvaluationModel" }))
    {

        <div class="row3 content_margine">
            @Html.LabelFor(m => m.Criteria, "Criteria :", new { @class = "popup-content-label must" })
            <select class="drop must" style="width:180px;" name="Criterialist" id="Criterialist">
                <option></option>
            </select>
        </div>
        <div class="row3 content_margine">
            @Html.LabelFor(m => m.CriteriaType, "CriteriaType :", new { @class = "popup-content-label must" })
            <select class="drop must" style="width:180px;" name="CriteriaTypelist" id="CriteriaTypelist">
                <option></option>
            </select>
        </div>
        <div class="row3  content_margine">

            @Html.LabelFor(m => m.DataStepsAppl, "DataStepsAppl :", new { @class = "popup-content-label" })
            <div class="popup_radio_button radio_button_div_1">
                <span class="popup_radio_button radio_button_div_1">
                    <input type="radio" id="radio5" name="DataStepsAppl" value="true" /><label for="radio5">Yes</label>
                    <input type="radio" id="radio6" name="DataStepsAppl" value="false" checked="checked" /><label for="radio6">No</label>
                </span>
            </div>
        </div>
        <div class="row3 content_margine DataSteps">
            @Html.LabelFor(m => m.DataSteps, "DataSteps:", new { @class = "popup-content-label" })
            <select class="drop" style="width:180px;" name="DataStepslist" id="DataStepslist">
                <option></option>
            </select>
        </div>
        <div class=" row3 content_margine">
            @Html.LabelFor(m => m.InitialValue, "InitialValue:", new { @class = "popup-content-label" })
            @Html.TextBoxFor(m => m.InitialValue, new { @class = "popup-content-textbox " })
            @*<label class="popup-content-label">Intialvalue</label>
            <input type="text" id="Intialvalue" name="Intialvalue" class="popup-content-textbox">*@           
        </div>

    }
</div>







