@{
    ViewBag.Title = "FacultyInternal";
}

@model Training.FacultyInternal

<link href="~/Content/Unit/Unit.css" rel="stylesheet" />
<link href="~/Content/popup_form.css" rel="stylesheet" />

@*<style>
        .icon-row {
            position: relative;
            left: 60px;
            top: -150px;
        }

        .transactiontablenew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            /*width: 200px;*/
            display: block;
            overflow: auto;
            height: 500px;
            border-collapse: collapse;
        }

        .transactiondivnew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            width: 507px;
            border-radius: 5px;
            height: 32px;
        }


            .transactiondivnew > div {
                display: inline-block;
                margin: 0 auto;
                padding: 4px;
            }

                .transactiondivnew > div > input {
                    box-sizing: initial;
                    display: inline-block;
                    margin: 0 auto;
                    width: 108px;
                }

        .transactiontablenew th, .transactiontablenew td {
            background: rgba(246, 246, 246, 0.64) none repeat scroll 0 0;
            padding: 5px;
            border-bottom: 1px solid #c5c5c5;
            border-right: 1px solid #c5c5c5;
            text-align: center;
            color: rgba(114, 113, 113, 0.9);
        }

            .transactiontablenew th:nth-child(1) > input, .transactiontablenew td:nth-child(1) > input {
                margin: 0 auto;
            }

            .transactiontablenew th:nth-child(2), .transactiontablenew td:nth-child(2) {
                height: 100%;
                width: 100%;
            }

        .transactiontablenew tr:hover {
            cursor: pointer;
            background: #EEEEEE none repeat scroll 0 0;
        }

        .section_lv2 {
            float: left;
        }
    </style>*@
<style>
    .transactiontablenew {
        border: 1px solid #c5c5c5;
        margin: 0 auto;
        /*width: 200px;*/
        display: block;
        overflow: auto;
        height: 470px;
        border-collapse: collapse;
    }

    .transactiondivnew {
        border: 1px solid #c5c5c5;
        margin: 0 auto;
        width: 507px;
        border-radius: 5px;
        height: 32px;
    }

        .transactiondivnew > div {
            display: inline-block;
            margin: 0 auto;
            padding: 4px;
        }

            .transactiondivnew > div > input {
                box-sizing: initial;
                display: inline-block;
                margin: 0 auto;
                width: 108px;
            }

    .transactiontablenew th, .transactiontablenew td {
        background: rgba(246, 246, 246, 0.64) none repeat scroll 0 0;
        padding: 5px;
        border-bottom: 1px solid #c5c5c5;
        border-right: 1px solid #c5c5c5;
        text-align: center;
        color: rgba(114, 113, 113, 0.9);
    }

        .transactiontablenew th:nth-child(1) > input, .transactiontablenew td:nth-child(1) > input {
            margin: 0 auto;
        }

        .transactiontablenew th:nth-child(2), .transactiontablenew td:nth-child(2) {
            height: 100%;
            width: 100%;
        }

    .transactiontablenew tr:hover {
        cursor: pointer;
        background: #EEEEEE none repeat scroll 0 0;
    }



    #BusinessType-button {
        font-size: 9px;
        padding-top: 1px;
        font-weight: bold;
    }

    .popup-content-label {
        width: 115px;
        display: block;
        float: left;
        margin: 1px;
    }

    .popup-content-label-2 {
        width: 100px;
        display: block;
        float: left;
        margin: 1px;
    }

    .section1_Leave {
        padding-left: 6px;
        width: 513px;
        right: 558.8px;
        display: block;
        border: 1.5px solid rgba(207, 207, 207, 0.91);
        height: 550px;
        width: 534px;
        margin: 4px auto;
        position: absolute;
    }

    .section2_Leave {
        padding-top: 10px;
        display: block;
        border: 2px solid #ddd;
        height: 540px;
        width: 531px;
        margin: 5px 4px;
        position: absolute;
        left: 546px;
        padding-left: 11px;
    }

    .icon-row {
        position: relative;
        left: 72px;
        top: -146px;
    }

    .popup-content-textbox {
        margin-bottom: 1px;
        min-width: 150px;
    }

    .row3 {
        width: 471px;
    }

    .row4 {
        position: absolute;
        top: 294px;
        width: 400px;
    }

    .row6 {
        width: 370px;
        display: inline-block;
    }

    .popup-content-textbox-long {
        margin-bottom: 1px;
        width: 290px;
    }



    .row2 {
        width: 402px;
    }
</style>

<script>
    $(document).ready(function (e) {
        $('button').button();
        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;
        var btndisablenames = "#Create_Employee,#Edit_Employee,#Remove_Employee,#Address_Edit,#Address_Edit,#Address_remove,#Contact_Edit-FacultyInternal,#Contact_Remove-FacultyInternal";
        ColModel = ['Id', 'Employee Code', 'Employee Name'];
        ColNames = ['Id', 'Employee Code', 'Employee Name'];
        SortName = 'Code';
        Caption = 'Faculty Internal';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);

        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }
        @*$('#Create_Dialog').P2BCreateDialog();

        //Create Function
        $('#Create').on("click", function (event) {
            $('#frmFacultyInternal').trigger("reset");
            $.LoadEmpByDefault(true);
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create Faculty Internal', 'open', '@Url.Action("Create")', '#frmFacultyInternal', 'Message :', 'Request Falied :', '#JqGrid', 500, 1113, '#Contact_List,#Address_List,#Employee_List', '', function (data) { });
            $('#Category').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 1051, ""); // To bind dropdown on page load
            event.preventDefault();
        });*@

        $('#Create_Dialog').P2BCreateDialog();
        $('#Create').button().on("click", function (e) {
            //console.log(btndisable_all);
            $('#frmFacultyInternal').trigger('reset');
            $('#section_emp').fadeIn();
            $.LoadEmpByDefault(true);
            $('#Advance-Filter-Symbol').on('click', function () {
                $("<div></div>").FilterDialog({
                    width: 1000,
                    height: 400,
                    title: "Filter",
                    htmlurl: "@Url.Action("Advance_partial", "Transcation")",
                    returnat: function (data) {
                        console.log(data);
                        var forwarddata = JSON.stringify(data);
                        $('#Employee-Table').P2BTransactionTableDynamic('#Employee-Search', '#Case-Employee', './Transcation/Get_Employelist_h?geo_id=' + forwarddata + '', "");
                        //$('#Employee-Table').P2BTransactionTableDynamic('#Employee-Search', '#Case-Employee', './Transcation/Get_Employelist?geo_id=' + forwarddata + '', "");
                        //$('#pay_id').val(data.PayStruct);
                        //$('#fun_id').val(data.FunStruct);
                    }, hierarchy: true,
                    renderat: "#FormFilter",
                });
                //console.log($('#FormFilter')[0]);
            });
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create Faculty Internal', 'open', '@Url.Action("Create")', '#frmFacultyInternal', 'Message :', 'Request Falied :', '#JqGrid', 546, 1113, '#Contact_List,#Address_List,#Employee_List', btndisablenames, function (data) { }, { validurl: "@Url.Action("ValidateForm")" });
            $('#Code').attr('readonly', true);
            $('#Name').attr('readonly', true);
            $('#Category').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 1051, ""); // To bind dropdown on page load
            e.preventDefault();
        });

        @*$('#Create_Dialog').P2BCreateDialog();
        $('#Create').on("click", function (event) {
            $('#frmFacultyInternal').trigger("reset");
            $.LoadEmpByDefault(true);
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create Faculty Internal', 'open', '@Url.Action("Create")', '#frmFacultyInternal', 'Message :', 'Request Falied :', '#JqGrid', 546, 1113, '#Contact_List,#Address_List,#Employee_List', btndisablenames, function (data) { }, { validurl: "@Url.Action("ValidateForm")" });
            $('#Category').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 1051, ""); // To bind dropdown on page load
        event.preventDefault();
    });*@

        $('#Lookup-Address-FacultyInternal').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupDetailsAddress", "FacultyInternal")', '', 'LookupDiv', 'Address Look Up Data', '#Address_List', 'Address_List', 5, 'Address_List', '#frmFacultyInternal', 'N', '#Address_Edit,#Address_remove', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        $('#Lookup_Employee').button().on('click', function (event) {
            $('.LookupEmployee').P2BLookUpModal('@Url.Action("GetLookupEmployeeDetails", "FacultyInternal")', '', 'lookupdiv_Emp', 'Look Up Data', '#Employee_List', 'Employee_List', 10, 'EmployeeList', '#frmFacultyInternal', 'N', '#InchargeNo_Edit,#InchargeNo_Remove', '#lookupdiv_Emp', 'pageNavPosition_Emp');
            event.preventDefault();
        });



        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Address_Create-FacultyInternal').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "address")', 'Create Address', 'open', '@Url.Action("Create","Address")', '#FormAddress', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#frmFacultyInternal', '', function (data) {
                // to show data which is created in partial page
                $('#Address_List').P2BLookUpEncapsulate('#Address_List', 'Address_List', data[0], data[1], 'Address_List', '#Address_Edit,#Address_remove', 'N');
            });
            event.preventDefault();
        });

        $('#Address_Edit').button().on("click", function (event) {
            var a = [], b;
            a = $('#Address_List').P2BGetTableDataonSelectedRow('#Address_List', 0);
            b = a[0];
            console.log(b);
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "Address")', '@Url.Action("Edit", "Address")', b, '@Url.Action("Editsave","Address")', 'Edit Address', '#FormAddress', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmFacultyInternal', '#Address_List', 'Address_List', 'Address_List', 'N', '#Address_Edit,#Address_remove', function (data) {
                $.each(data[0], function (i, k) {
                    $('#FormAddress').trigger("reset");
                    $('#Address1').val(k.Address1);
                    $('#Address2').val(k.Address2);
                    $('#Address3').val(k.Address3);
                    $('#Landmark').val(k.Landmark);
                    $('#CountryList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "country")", "", k.Country_Id);
                    $('#StateList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "state")", "", k.State_Id);
                    $('#StateRegionList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "StateRegion")", "", k.StateRegion_Id);
                    $('#DistrictList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "District")", "", k.District_Id);
                    $('#TalukaList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "Taluka")", "", k.Taluka_Id);
                    $('#CityList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "City")", "", k.City_Id);
                    $('#AreaList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "area")", "", k.Area_Id);
                });
                //}, 3000);

            });
            event.preventDefault();
        });

        /* ------------------------- Addresss  Remove --------------------------- */



        $('#Address_remove').button().on('click', function (event) {
            //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            var a = [], b;
            a = $('#Address_List').P2BGetTableDataonSelectedRow('#Address_List', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#Address_List', $('#Address_List').val(), 200, 200, '#frmFacultyInternal', '#Address_List', '');
            event.preventDefault();
        });



        $('#Lookup_Contact').on('click', function (event) {
            $('.ContactLookup').P2BLookUpModal('@Url.Action("GetLookupDetailsContact", "FacultyInternal")', '', 'lookupdiv_ContactDet', 'Contact Look Up Data', '#Contact_List', 'Contact_List', 5, 'Contact_List', '#frmFacultyInternal', 'N', '#Contact_Edit-FacultyInternal,#Contact_Remove-FacultyInternal', 'lookupdiv_ContactDet', 'pageNavPosition_ContactDet');
            event.preventDefault();
        });

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Contact_Create').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Createcontactdetails_partial", "FacultyInternal")', 'Create Contact', 'open', '@Url.Action("CreateSave", "ContactDetails")', '#frmContactDetails', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#frmFacultyInternal', '#Contact_Edit,#Contact_Remove', function (data) {
                console.log(data);
                $('#Contact_List').P2BLookUpEncapsulate('#Contact_List', 'Contact_List', data[0], data[1], 'Contact_List', '#Contact_Remove-FacultyInternal,#Contact_Edit-FacultyInternal', 'N');
            });
            event.preventDefault();
        });

        $('#Contact_Edit-FacultyInternal').button().on("click", function (event) {
            var a = [], b;
            a = $('#Contact_List').P2BGetTableDataonSelectedRow('#Contact_List', 0);
            b = a[0];
            console.log(b);
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("Createcontactdetails_partial", "FacultyInternal")', '@Url.Action("Editcontactdetails_partial", "FacultyInternal")', b, '@Url.Action("EditSave", "ContactDetails")', 'Edit Contact Details', '#frmContactDetails', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmFacultyInternal', '#Contact_List', 'Contact_List', 'Contact_List', 'N', '#Contact_Remove-FacultyInternal,#Contact_Edit-FacultyInternal', function (data) {
                setTimeout(function () {
                    $.each(data[0], function (i, k) {
                        $('#frmContactDetails').trigger('reset');
                        $('#EmailId').val(k.EmailId);
                        $('#Website').val(k.Website);
                        $('#FaxNo').val(k.FaxNo);
                    });

                    $.each(data[1], function (i, k) {
                        //$('#Contact_List').P2BLookUpEncapsulate('#Contact_List', 'ContactNos_List', k.Id, k.FullContactNumbers, 'Contact_List');
                        $('#ContactNos_List').P2BLookUpEncapsulate('#ContactNos_List', 'ContactNos_List', k.Id, k.FullContactNumbers, 'ContactNos_List', '#Contact_Remove-FacultyInternal,#Contact_Edit-FacultyInternal', 'A');
                    });
                }, 3000);
            });
            event.preventDefault();
        });



        $('#Contact_Remove-FacultyInternal').button().on('click', function (event) {
            // dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            var a = [], b;
            a = $('#Contact_List').P2BGetTableDataonSelectedRow('#Contact_List', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('@Url.Action("DeleteContactDetails", "FacultyInternal")', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#Contact_List', $('#Contact_List').val(), 200, 200, '#frmFacultyInternal', '#Contact_List', '#Contact_Remove-FacultyInternal,#Contact_Edit-FacultyInternal');
            event.preventDefault();
        });
        //FacultySpecialization
        $('#Lookup-FacultySpecialization-FacultyInternal').button().on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookup", "FacultySpecialization")', '', 'LookupDiv', 'Faculty Specialization Look Up Data', '#FacultySpecializationlist', 'FacultySpecializationlist', 5, 'FacultySpecializationlist', '#frmFacultyInternal', 'A', '#Edit-FacultySpecialization-FacultyInternal,#Remove-FacultySpecialization-FacultyInternal', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-FacultySpecialization-FacultyInternal').button().on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "FacultySpecialization")', 'Create Faculty Specialization', 'open', '@Url.Action("Create","FacultySpecialization")', '#frmFacultySpecialization', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#frmFacultyInternal', '#Edit-FacultySpecializationNo-ContDetails,#Remove-FacultySpecializationNo-ContDetails', function (data) {
                $('#FacultySpecializationlist').P2BLookUpEncapsulate('#FacultySpecializationlist', 'FacultySpecializationlist', data[0], data[1], 'FacultySpecializationlist', '#Edit-FacultySpecialization-FacultyInternal,#Remove-FacultySpecialization-FacultyInternal', 'A');
            });
            event.preventDefault();
        });

        $('#Edit-FacultySpecialization-FacultyInternal').button().on("click", function (event) {
            var a = [], b;
            a = $('#FacultySpecializationlist').P2BGetTableDataonSelectedRow('#FacultySpecializationlist', 0);
            b = a[0];
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "FacultySpecialization")', '@Url.Action("Edit", "FacultySpecialization")', b, '@Url.Action("EditSave", "FacultySpecialization")', 'Edit Faculty Specialization Details', '#frmFacultySpecialization', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmFacultyInternal', '#FacultySpecializationlist', 'FacultySpecializationlist', 'FacultySpecializationlist', 'A', '#Remove-FacultySpecializationNo-ContDetails,#Edit-FacultySpecializationNo-ContDetails', function (data) {
                $.each(data[0], function (i, k) {
                    $('#frmFacultySpecialization').trigger('reset');
                    $('#SpecType').val(k.SpecType);
                    $('#SpecArea').val(k.SpecArea);
                });

            });
            event.preventDefault();
        });

        $('#Remove-FacultySpecialization-FacultyInternal').button().on('click', function (event) {
            var a = [], b;
            a = $('#FacultySpecializationlist').P2BGetTableDataonSelectedRow('#FacultySpecializationlist', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#FacultySpecializationlist', $('#FacultySpecializationlist').val(), 200, 200, '#frmFacultyInternal', '#FacultySpecializationlist', '#Edit-FacultySpecialization-FacultyInternal,#Remove-FacultySpecialization-FacultyInternal');
            event.preventDefault();
        });

        $('#Lookup-TrainingInstitute-FacultyInternal').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookup", "TrainingInstitute")', '', 'LookupDiv', 'TrainingInstitute Look Up Data', '#TrainingInstitutelist', 'TrainingInstitutelist', 5, 'TrainingInstitutelist', '#frmFacultyInternal', 'N', '#Edit-TrainingInstitute-FacultyInternal,#Remove-TrainingInstitute-FacultyInternal', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        @*$('#Edit').button().click(function (event) {
            AssignData();
            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit Data", '#frmFacultyInternal', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 500, 620, '#Address_List', '#Address_Edit,#Address_remove', btndisablenames, function (data) {
                $.each(data[0], function (i, k) {
                    console.log(k.Code);
                    alert(k.code);
                    $('#Code').val(k.Code);
                    $('#Code').attr('readonly', 'readonly');
                    $('#Name').val(k.Name);
                    $('#Category').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 100, k.FacultyType_Id);
                });

                //$.each(data[1], function (i, k) {
                //    $('#Address_List').P2BLookUpEncapsulate('#Address_List', 'AddList', k.Add_Id, k.Address_FullAddress, 'AddList', '#Address_Edit,#Address_Edit,#Address_remove', 'N');
                //    $('#Contact_List').P2BLookUpEncapsulate('#Contact_List', 'ContactList', k.Cont_Id, k.FullContactDetails, 'ContactList', '#Contact_Edit-FacultyInternal-FacultyInternal,#Contact_Remove-FacultyInternal', 'N');
                //    $('#Employee_List').P2BLookUpEncapsulate('#Employee_List', 'EmployeeList', k.EMP_Id, k.FullEmpId, 'Employee_List', '', 'N');

                //});

                $.each(data[1], function (i, k) {

                    // $('#Address_List').P2BLookUpEncapsulate('#Address_List', 'AddList', k.Add_Id, k.Address_FullAddress, 'Address_List', '', 'N');
                    $('#Contact_List').P2BLookUpEncapsulate('#Contact_List', 'Contact_List', k.Cont_Id, k.FullContactDetails, 'Contact_List', '', 'N');
                    //  $('#Employee_List').P2BLookUpEncapsulate('#Employee_List', 'EmployeeList', k.EMP_Id, k.FullEmpId, 'Employee_List', '', 'N');
                    //   $('#Address_List').P2BLookUpEncapsulate('#Address_List', 'AddList', k.Add_Id, k.Address_FullAddress, 'Address_List', '', 'N');

                });

                $.each(data[1], function (i, k) {
                    console.log("Test");
                    console.log(k.Address_FullAddress);
                    $('#Address_List').P2BLookUpEncapsulate('#Address_List', 'AddList', k.Add_Id, k.Address_FullAddress, 'Address_List', '', 'N');
                    //$('#Contact_List').P2BLookUpEncapsulate('#Contact_List', 'Contact_List', k.Cont_Id, k.FullContactDetails, 'Contact_List', '', 'N');
                    //$('#Employee_List').P2BLookUpEncapsulate('#Employee_List', 'EmployeeList', k.EMP_Id, k.FullEmpId, 'Employee_List', '', 'N');
                });

                $.each(data[1], function (i, k) {
                    console.log("Test");
                    console.log(k.Address_FullAddress);
                    $('#Employee_List').P2BLookUpEncapsulate('#Employee_List', 'EmployeeList', k.EMP_Id, k.FullEmpId, 'Employee_List', '', 'N');
                    //$('#Contact_List').P2BLookUpEncapsulate('#Contact_List', 'Contact_List', k.Cont_Id, k.FullContactDetails, 'Contact_List', '', 'N');
                    //$('#Employee_List').P2BLookUpEncapsulate('#Employee_List', 'EmployeeList', k.EMP_Id, k.FullEmpId, 'Employee_List', '', 'N');
                });



                $('#Autho_Allow').val(data[3]); //Compulsory for authorisation
                alert(data[3]);




                //$.each(data[0], function (i, k) {
                //    $('#Address_List').P2BLookUpEncapsulate('#Address_List', 'AddList', k.Id, k.address, 'Address_List');
                //});

                //$.each(data[1], function (i, k) {
                //    $('#Contact_List').P2BLookUpEncapsulate('#Contact_List', ' ContactList', k.Id, k.FullContactDetails, 'Contact_List');
                //});


            });
        });*@
        $('#Edit').on('click', function (e) {
            AssignData();
            $('#section_emp').fadeOut();
            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit Faculty Internal Data->" + JSON.stringify(dt) + "", '#frmFacultyInternal', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 546, 1113, '#Contact_List,#Address_List', btndisablenames, function (data) {

                $.each(data[0], function (i, k) {

                    $('#Code').val(k.Code);
                    $('#Code').attr('readonly', 'readonly');
                    $('#Name').attr('readonly', true);
                    $('#Name').val(k.Name);
                    $('#Category').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 1051, k.FacultyType_Id);
                });

                $.each(data[1], function (i, k) {
                    $('#Contact_List').P2BLookUpEncapsulate('#Contact_List', 'Contact_List', k.Cont_Id, k.FullContactDetails, 'Contact_List', '', 'N');
                });

                $.each(data[1], function (i, k) {
                    $('#Address_List').P2BLookUpEncapsulate('#Address_List', 'Address_List', k.Add_Id, k.Address_FullAddress, 'Address_List', '', 'A');
                });
                $.each(data[2], function (i, k) {
                    //   $('#TrainingInstitutelist').P2BLookUpEncapsulate('#TrainingInstitutelist', 'TrainingInstitutelist', k.train_id, k.traininginst_details, 'TrainingInstitutelist', '', 'N');
                    $('#FacultySpecializationlist').P2BLookUpEncapsulate('#FacultySpecializationlist', 'FacultySpecializationlist', k.fac_id, k.fac_details, 'FacultySpecializationlist', '', 'A');
                });
                //$.each(data[1], function (i, k) {
                //    $('#Employee_List').P2BLookUpEncapsulate('#Employee_List', 'Employee_List', k.EMP_Id, k.FullEmpId, 'Employee_List', '', 'N');
                //    //$('#Contact_List').P2BLookUpEncapsulate('#Contact_List', 'Contact_List', k.Cont_Id, k.FullContactDetails, 'Contact_List', '', 'N');
                //    //$('#Employee_List').P2BLookUpEncapsulate('#Employee_List', 'EmployeeList', k.EMP_Id, k.FullEmpId, 'Employee_List', '', 'N');
                //});
                $('#Autho_Allow').val(data[3]); //Compulsory for authorisation

            });
            e.preventDefault();
        });
        // Main page edit
        @*$('#Edit').on('click', function () {
            AssignData();
            $('#section1_Leave').fadeOut();
            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit Faculty Internal Data->" + JSON.stringify(dt) + "", '#frmFacultyInternal', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 546, 1113, '', btndisablenames, function (data) {

                $.each(data[0], function (i, k) {

                    $('#Code').val(k.Code);
                    $('#Code').attr('readonly', 'readonly');
                    $('#Name').val(k.Name);
                    $('#Category').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 1051, k.FacultyType_Id);
                });

                $.each(data[1], function (i, k) {

                    // $('#Address_List').P2BLookUpEncapsulate('#Address_List', 'AddList', k.Add_Id, k.Address_FullAddress, 'Address_List', '', 'N');
                    $('#Contact_List').P2BLookUpEncapsulate('#Contact_List', 'Contact_List', k.Cont_Id, k.FullContactDetails, 'Contact_List', '', 'N');
                    //  $('#Employee_List').P2BLookUpEncapsulate('#Employee_List', 'EmployeeList', k.EMP_Id, k.FullEmpId, 'Employee_List', '', 'N');
                    //   $('#Address_List').P2BLookUpEncapsulate('#Address_List', 'AddList', k.Add_Id, k.Address_FullAddress, 'Address_List', '', 'N');

                });

                $.each(data[1], function (i, k) {
                    //console.log("Test");
                    //console.log(k.Address_FullAddress);
                    $('#Address_List').P2BLookUpEncapsulate('#Address_List', 'Address_List', k.Add_Id, k.Address_FullAddress, 'Address_List', '', 'N');
                    //$('#Contact_List').P2BLookUpEncapsulate('#Contact_List', 'Contact_List', k.Cont_Id, k.FullContactDetails, 'Contact_List', '', 'N');
                    //$('#Employee_List').P2BLookUpEncapsulate('#Employee_List', 'EmployeeList', k.EMP_Id, k.FullEmpId, 'Employee_List', '', 'N');
                });

                $.each(data[1], function (i, k) {
                    //console.log("Test");
                    //console.log(k.Address_FullAddress);
                    $('#Employee_List').P2BLookUpEncapsulate('#Employee_List', 'Employee_List', k.EMP_Id, k.FullEmpId, 'Employee_List', '', 'N');
                    //$('#Contact_List').P2BLookUpEncapsulate('#Contact_List', 'Contact_List', k.Cont_Id, k.FullContactDetails, 'Contact_List', '', 'N');
                    //$('#Employee_List').P2BLookUpEncapsulate('#Employee_List', 'EmployeeList', k.EMP_Id, k.FullEmpId, 'Employee_List', '', 'N');
                });
                $('#Autho_Allow').val(data[3]); //Compulsory for authorisation

                $('#Autho_Allow').val(data[3]); //Compulsory for authorisation
            });
        });*@

        //View main page
        //View main page
        $('#View').button().click(function (event) {
            AssignData();
            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, "View Faculty Internal->" + JSON.stringify(dt) + "", '#AddressList,#ContactDetailsList', '#Lookup_Employee,#Lookup_Address-FacultyInternal-FacultyInternal,#Address_Create-FacultyInternal,#Lookup_Contact,#Contact_Create,#Create_Employee,#Edit_Employee,#Remove_Employee,#Address_Edit,#Address_Edit,#Address_remove,#Contact_Edit-FacultyInternal,#Contact_Remove-FacultyInternal', 546, 1113, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {
                $.each(data[0], function (i, k) {

                    $('#Code').val(k.Code);
                    $('#Code').attr('readonly', 'readonly');
                    $('#Name').val(k.Name);
                    $('#Category').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 1051, k.FacultyType_Id);
                });

                $.each(data[1], function (i, k) {
                    $('#Contact_List').P2BLookUpEncapsulate('#Contact_List', 'Contact_List', k.Cont_Id, k.FullContactDetails, 'Contact_List', '', 'N');
                });

                $.each(data[1], function (i, k) {
                    $('#Address_List').P2BLookUpEncapsulate('#Address_List', 'Address_List', k.Add_Id, k.Address_FullAddress, 'Address_List', '', 'A');
                });
                $.each(data[2], function (i, k) {
                    //   $('#TrainingInstitutelist').P2BLookUpEncapsulate('#TrainingInstitutelist', 'TrainingInstitutelist', k.train_id, k.traininginst_details, 'TrainingInstitutelist', '', 'N');
                    $('#FacultySpecializationlist').P2BLookUpEncapsulate('#FacultySpecializationlist', 'FacultySpecializationlist', k.fac_id, k.fac_details, 'FacultySpecializationlist', '', 'A');
                });
                //$.each(data[1], function (i, k) {
                //    $('#Employee_List').P2BLookUpEncapsulate('#Employee_List', 'Employee_List', k.EMP_Id, k.FullEmpId, 'Employee_List', '', 'N');
                //    //$('#Contact_List').P2BLookUpEncapsulate('#Contact_List', 'Contact_List', k.Cont_Id, k.FullContactDetails, 'Contact_List', '', 'N');
                //    //$('#Employee_List').P2BLookUpEncapsulate('#Employee_List', 'EmployeeList', k.EMP_Id, k.FullEmpId, 'Employee_List', '', 'N');
                //});
                $('#Autho_Allow').val(data[3]); //Compulsory for authorisation

            });
            e.preventDefault();

        });



        $('#Delete').button().click(function (event) {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            $('#frmFacultyInternal').P2BDeleteModalDialog('@Url.Action("Delete", "FacultyInternal")', dt.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
        });

        $('#Employee-Table').OnClickFormReset('#frmFacultyInternal', '#Emp', function () {
            $('#Emp').val();
            $('#Category').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 1051, ""); // To bind dropdown on page load
        });
        $('#Employee-Table').on('click', 'input:checkbox:gt(0)', function (e) {
            //  $('input[type="checkbox"]').not(this).prop("checked", false);
            if (this.checked) {
                var id = $(this).val();
                $.ajax({
                    method: "post",
                    data: { data: id },
                    url:"@Url.Action("getemp","FacultyInternalExternal")" ,
                    success: (function (data) {
                        console.log(data);
                        $("#Code").val(data.Id);
                        $("#Name").val(data.Name);
                    })
            });
              
        }
        });
        $('#Code').ForceOnlyAlphaNumeric();
        $('#Code').ValidateTextBox({ maxlength: 10, name: true, alphanum: true });
        $('#Name').ValidateTextBox({ maxlength: 25, name: true, alphanum: true });
        $('.popup_radio_button').controlgroup();
        $('#Autho').makeDisable('#Create,#Edit,#Delete');
        $('#Category').selectmenu().selectmenu("menuWidget");
        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');
    });

</script>


<div class="Form_Bg">
    <div class="Form_Input">
        <div class="Button_Container">
            <button class="button" id="Create">Create</button>
            <button class="button" id="View">View</button>
            <button class="button" id="Edit">Edit</button>
            <button class="button" id="Delete">Delete</button>
            <button class="button" id="Autho">Authorised</button>
            <div id="Grid_Form">
                <div>
                    <table id="JqGrid"></table>
                    <div id="pager2"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="LookupEmployee">
    <div title="LookUp Data">
        <div class="lookupdiv_Emp"></div>
    </div>
    <div id="pageNavPosition_Emp">
    </div>
</div>


<div class="ContactLookup">
    <div title="LookUp Data">
        <div class="lookupdiv_ContactDet"></div>
    </div>
    <div id="pageNavPosition_ContactDet">

    </div>
</div>

<div class="dialog">
    <div title="LookUp Data">
        <div class="LookupDiv"></div>
    </div>
    <div id="PageNavPosition">
    </div>
</div>


<div id="Create_Dialog" title="Create Faculty">
    <div class="section1_Leave" id="section_emp">
        <div class="heading">Employee List</div>
        <div class="employeeselectiondiv">
            <div class="transactiondivnew dynamic addons" style="float:left">
                <div>
                    <label>Search:</label>
                    <input type="text" id="Employee-Search" style="width: 425px;" />
                </div>
                <table cellspacing="0" cellpadding="1" class="transactiontablenew" id="Employee-Table">
                    <tr>
                        <th><input type="checkbox" id="Case-Employee" /></th>
                        <th>Employee</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="section2_Leave">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmFacultyInternal", name = "frmFacultyInternal" }))
        {
            <input id="Autho_Action" type="hidden" name="Autho_Action" />    <input type="text" id="Emp" name="Employee-Table" class="filter_structure_id" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
            <div class="row1 content_margine">@Html.LabelFor(m => m.Code, " Code", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Code, new { @class = "popup-content-textbox must" })</div>
            @*<div class="row1 content_margine">
                    @Html.LabelFor(m => m.FacultyType, "Type", new { @class = "popup-content-label must" })
                    <select id="Category" class="drop must" name="Category"></select>
                </div>*@



            @*<div class="row1 content_margine">
                    @Html.LabelFor(m => m.EmpID, "Emp ID", new { @class = "popup-content-label" })
                    <select id="emp" class="drop" name="emp"></select>
                </div>*@

            <div class="row1 content_margine">@Html.LabelFor(m => m.Name, "Name", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Name, new { @class = "popup-content-textbox must", @style = "width:276px;" })</div>

            <div class="row3 content_margine">
                <div id="FacultySpecializationlist_old"></div>
                @Html.LabelFor(m => m.FacultySpecialization, "Faculty Specialization :", new { @class = "popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="FacultySpecializationlist">
                        <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup Faculty Specialization Details" class="  popup-content-icon-lookup" id="Lookup-FacultySpecialization-FacultyInternal"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Create Faculty Specialization Details" class="  popup-content-icon-create" id="Create-FacultySpecialization-FacultyInternal"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit Faculty Specialization Details" class="  popup-content-icon-edit" id="Edit-FacultySpecialization-FacultyInternal"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Remove Faculty Specialization Details" class="  popup-content-icon-remove" id="Remove-FacultySpecialization-FacultyInternal"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>

            <div class="row3 content_margine">
                <div id="AddressList_Old"></div>
                @Html.LabelFor(m => m.Address, "Address", new { @class = "popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="Address_List">
                        <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="LookUp Contact Details" class="popup-content-icon-lookup" id="Lookup-Address-FacultyInternal"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Crate Contact Details" class="popup-content-icon-create" id="Address_Create-FacultyInternal"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit Contact Details" class="popup-content-icon-edit" id="Address_Edit"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Remove Contact Details" class="popup-content-icon-remove" id="Address_remove"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>

            <div class="row1 content_margine">
                <div id="ContactDetailsList_Old"></div>
                @Html.LabelFor(m => m.ContactDetails, "Contact Details", new { @class = "popup-content-label" })
                <div class="popup-content-table" style="width: 430px;">
                    <table class="lookuptableselected" id="Contact_List">
                        <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="LookUp Contact Details" class="popup-content-icon-lookup" id="Lookup_Contact"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Crate Contact Details" class="popup-content-icon-create" id="Contact_Create"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit Contact Details" class="popup-content-icon-edit" id="Contact_Edit-FacultyInternal"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Remove Contact Details" class="popup-content-icon-remove" id="Contact_Remove-FacultyInternal"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>

            @*<div class="row1 content_margine">@Html.LabelFor(m => m.na, "Name", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.Name, new { @class = "popup-content-textbox" })</div>*@
        }
    </div>
</div>
