@{
    ViewBag.Title = "Calendar";
}

@model P2b.Global.Calendar

<style>
    .popup-content-label {
        width: 105px;
        display: block;
        float: left;
    }

    .popup-content-textbox {
        width: 10rem;
    }
    #Calendar_Name_DDL{

    }
</style>
<html>
<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <button class="button" id="Create">Create</button>
                <button class="button" id="View">View</button>
                <button class="button" id="Edit">Edit</button>
                <button class="button" id="Delete">Delete</button>
                <button class="button" id="Autho">Authorised</button>

                <div id="Grid_Form">
                    <div>
                        <table id="JqGrid"></table>
                        <div id="pager2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>

    <div id="Create_Dialog" title="Create Calendar">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormCalendar", name = "FormCalendar " }))
        {
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
            <div class="row1 content_margine">
                @Html.LabelFor(m => m.Name, "Calendar Name :", new { @class = "popup-content-label must" })
                <select id="Calendar_Name_DDL" name="Name_drop" class="drop must"></select>
            </div>
            <div class="row1 content_margine">@Html.LabelFor(m => m.FromDate, "From Date :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.FromDate, new { @class = "popup-content-textbox must", @id = "FromDate" })</div>
            <div class="row1 content_margine">@Html.LabelFor(m => m.ToDate, "To Date :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.ToDate, new { @class = "popup-content-textbox must", @id = "ToDate" })</div>
            <div class="Look_Value_Row1 content_margine horizontal_row1">
                @Html.LabelFor(m => m.Default, "Default Year :", new { @class = "popup-content-label" })
                <div class="popup_radio_button Radio_Button_Div_1">
                    <span class="popup_radio_button Radio_Button_Div_1">
                        <input type="radio" id="radio1" name="Default" value="true" /> <label class="ui-corner-left" for="radio1">Yes&nbsp;</label>
                        <input type="radio" id="radio2" name="Default" value="false" /> <label class="ui-corner-right" for="radio2">No&nbsp;</label>
                    </span>
                </div>
            </div>
        }
    </div>
</body>
</html>

<script>
    $(document).ready(function (e) {
        var dia;
        $("#FromDate,#ToDate").keypress(function (event) { event.preventDefault(); });
        $('button').button();
        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;
        var btndisablenames = "";
        ColModel = ['Name', 'FromDate', 'ToDate', 'Default', 'Id'];
        ColNames = ['Name', 'From Date', 'To Date', 'Default', 'Id'];
        SortName = 'Id';
        Caption = 'Calendar';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;        
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);

       // $('[name="Default"]').val([k.Default]).button().button("refresh");

        //function DateConvert(JsonDate) {
            //    var date = new Date(parseInt(JsonDate.substr(6)));
            //    var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
            //    return displayDate;
        //};

        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }
        $('#Create_Dialog').P2BCreateDialog();

        //Create Function
        $('#Create').on("click", function (event) {
            $('#FormCalendar').trigger("reset");

            $('#Calendar_Name_DDL').prop('disabled', false);
            $('#FromDate,#ToDate').P2BDatePicker();
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create Calendar', 'open', '@Url.Action("Create")', '#FormCalendar', 'Message :', 'Request Falied :', '#JqGrid', 271, 443, '', btndisablenames, function (data) { });
            $('#Calendar_Name_DDL').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "Calendar")", 500, "", '#Calendar_Name_DDL');
            event.preventDefault();
        });
        $('#Edit').on('click', function () {
            //$('#FormCalendar').trigger("reset");
            //$('[name="Default"]').button().button("refresh");

            AssignData();
            $('#FromDate,#ToDate').prop('disabled', true);
            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit Calendar", '#FormCalendar', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 271, 443, '', btndisablenames, function (data) {
                
                $.each(data[0], function (i, k) {
                    $('#FormCalendar').trigger("reset");
                  //  $('#ToDate').P2BDatePicker();
                    $('#Calendar_Name_DDL').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "Calendar")", 500, k.Name);
                    $('#Calendar_Name_DDL').prop('disabled', true);
                    $('[name="Default"]').val([k.Default]).button().button("refresh");

                  //  $('[name="Default"]').val([k.Default]).button().button("refresh");
                    $('#FromDate').prop("readonly", "readonly");
                    if (k.FromDate != null) {
                        $('#FromDate').val(DateConvert(k.FromDate));
                    }
                    if (k.ToDate != null) {
                        $('#ToDate').val(DateConvert(k.ToDate));
                    }

                });

                //alert(data[3]);
                $('#Autho_Allow').val(data[3]); //Compulsory for authorisation
                // }, 2000);
            });
        });




        //View main page
        $('#View').button().click(function (event) {
            AssignData();
            //$('#FromDate,#ToDate').prop('disabled', true);
            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View Calendar', '', '', 271, 443, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {
                $.each(data[0], function (i, k) {
                    $('#FormCalendar').trigger("reset");
                    $('#Calendar_Name_DDL').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "Calendar")", 500, k.Name);
                    $('[name="Default"]').val([k.Default]).button().button("refresh");

                    if (k.FromDate != null) {
                        $('#FromDate').val(DateConvert(k.FromDate));
                    }
                    if (k.ToDate != null) {
                        $('#ToDate').val(DateConvert(k.ToDate));
                    }
                });

                //To bind old data if authorisation is true
                //if ($("#Autho").hasClass('auto_active')) {
                //    $('#Name').StickNote([data[2].Name]);
                //    $('#radio2').StickNote([data[2].Default]);
                //    //$('#IssuePlace').StickNote([data[2].IssuePlace]);
                //    if (data[2].FromDate != null) { $('#FromDate').StickNote(DateConvert(data[2].FromDate)); }
                //    if (data[2].ToDate != null) { $('#ToDate').StickNote(DateConvert(data[2].ToDate)); }

                //}

            });
        });

        //delete main page
        $('#Delete').button().click(function (event) {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            $('#Create_Dialog').P2BDeleteModalDialog('@Url.Action("Delete")', dt.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
            event.preventDefault();
        });


        $("#Name").ForceOnlyAlpha();
        $("#IssuePlace").ForceOnlyAlpha();

        $('.drop').selectmenu().selectmenu("menuWidget").addClass("overflow");
        $('.popup_radio_button').controlgroup();
      //  $('#dob').P2BDatePicker();
        $('#Autho').makeDisable('#Create,#Edit,#Delete');
        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');
    });
</script>




