@{
    ViewBag.Title = "FFSettlement Release Process ";
}
@model EMS.FFSSettlementReleaseDetailT


<style>
    .icon-row {
        position: relative;
        left: 100px;
        top: -140px;
    }

    .emplist_row {
        width: 700px;
        padding: 2px;
    }

    .emplist_label {
        display: block;
        float: left;
        width: 146px;
    }

    .transactiondiv {
        border: 1px solid #c5c5c5;
        margin: 0 auto;
        width: 192px;
        border-radius: 5px;
        height: 300px;
    }

    .disabled {
        pointer-events: none;
        /*optional opacity: 0.4;*/
    }

    .popup-content-label {
        width: 100px;
        float: left;
        display: block;
        margin: 1px;
    }

    .popup-content-textbox {
        min-width: 150px;
    }

    .row3 {
        width: 500px;
        padding: 2px;
    }

    .row1 {
        width: 450px;
        display: inline-flex;
    }

    .btn-action-class {
        padding: 1px;
    }

    .btn-action-div {
        float: left;
        padding: 1px 12px;
    }
</style>

<script>
    $(document).ready(function (e) {
        $('button').button();

        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height, dt;
        var btndisablenames = "#Edit-empdetails,#Remove-empdetails";
        //ColModel = ['EmpCode', 'EmpName', 'Salcode','SalType','PayAmount', 'PayMonth', 'Paydate', 'Id'];
        //ColNames = ['EmpCode', 'EmpName', 'Salcode', 'SalType', 'PayAmount', 'PayMonth', 'Paydate', 'Id'];

        ColDisplayNames = ['EmployeeCode', 'EmployeeName', 'Id'];
        ColDisplayModel = ['Employee Code', 'Employee Name', 'Id'];
        url = '0';
        width = 1000;
        height = 150;
        Caption_one = "Functional Attendance",
        Caption_second = "Employee List",
        urlD = '@Url.Action("LoadEmp")';
        widthD = 850;
        heightD = 200;

        var inline_ColNames = [];
        var inline_ColModel = [];
        var inline_SortName, inline_Caption, inline_url, inline_width, inline_height;
        inline_ColModel = ['EmpCode', 'EmpName', 'Salcode', 'SalType', 'OpenAmount', 'RelAmount', 'BalAmount', 'RelMonth', 'RelDate', 'Id'];
        inline_ColNames = ['EmpCode', 'EmpName', 'Salcode', 'SalType', 'OpenAmount', 'RelAmount', 'BalAmount', 'RelMonth', 'RelDate', 'Id'];
        inline_SortName = 'Id';
        inline_Caption = 'FF Settlement details';
        inline_url = '@Url.Action("P2BGrid")';
        inline_width = 900;
        inline_height = 150;
        var modified_data = {
            data: []
        };

        $('#JqGrid').InlineEditGrid({
            ColNames: inline_ColNames,
            ColModel: inline_ColModel,
            SortName: inline_SortName,
            Caption: inline_Caption,
            url: inline_url,
            tablename: '#JqGrid',
            eddelurl: '',
            width: inline_width,
            height: inline_height,
            CheckCol: "Editable",
            EditableCol: ["HourDays", 'Reason'],
            LocalStorageId: "EditClickFunctAttendanceT",
            onEditClick: true,
        });
        @*$('#lvheadList').P2BSelectMenuMuliSelectAppend1("@Url.Action("GetLvhead")", "", "");*@
        $("#JqGrid").jqGrid('hideCol', "Editable").trigger('reloadGrid');
        $('#Get-edited-data').on('click', function (e) {
            if (modified_data.data.length > 0) {
                console.log(modified_data.data);
            }
            e.preventDefault();
        });
        $('#Load').on('click', function (e) {
            $('#JqGrid').PostGridData({ url: url, filter: $('#txtPayMonth').val() });
        });
        $('#txtPayMonth').MonthYearPicker();
        $('#fromdate').datepicker({
            changeMonth: true,
            changeYear: true,
            stepMonths: true,
            dateFormat: 'dd/mm/yy'
        });
        $('#Todate').datepicker({
            dateFormat: 'dd/mm/yy'
        });
        if ($("#txtPayMonth").val() == "") {
            var dt = new Date();
            var month = dt.getMonth() + 1;
            month = month < 10 ? '0' + month : '' + month;
            $("#txtPayMonth").val(month + "/" + dt.getFullYear());
        }
        $('#JqGridNew').P2BGrid1(ColDisplayNames, ColDisplayModel, SortName, Caption_second, urlD, widthD, heightD, '#pager22', { multiple: true, rowNum: 30, selectall: true });

        $('#inline_JqGrid').InlineEditGrid({
            ColNames: inline_ColNames,
            ColModel: inline_ColModel,
            SortName: inline_SortName,
            Caption: inline_Caption,
            url: inline_url,
            tablename: '#inline-JqGrid',
            eddelurl: '',
            width: inline_width,
            height: inline_height,
            CheckCol: "Editable",
            EditableCol: ["HourDays"],
        });

        $("#inline_JqGrid").jqGrid('hideCol', "Editable").trigger('reloadGrid');
        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            $.get("@Url.Action("GetPayprocessgroup")", { data: dt.PayProcessGroup_Id }, function (data) {
                $('#payprocessgroup_id').val(data.Id);
                $('#payprocessgroup').val(data.FullDetails).attr("readonly", "readonly");
            });
            $('#PayMonth').val(dt.PayMonth);
            $('#Edit_PaybleDays').val(dt.PaybleDays);
            $('#LWPDays').val(dt.LWPDays);
        };
        $('#lvheadList').fadeOut();
        function DateConvert(JsonDate) {
            var date = new Date(parseInt(JsonDate.substr(6)));
            var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
            return displayDate;
        };
        $('#Edit_model_dialog').P2BGridDialog();
        $('#list-employee').P2BGridDialog();
        $('#Create').button().on("click", function (event) {
            //  $('#frmEmpReleaseList').trigger('reset');
            $('#Promonth').fadeOut();
            $('#lvheadddlist').hide();
            $('#frmEmpReleaseList').find('input').val("");
            $('#frmEmpReleaseList').find('#lvheadList option').text("");
            @*//  $('#SalaryHeadlist').P2BSelectMenuAppend('@Url.Action("PopulateDropDownList", "FFSSettlementReleaseDetailT")', "", "");*@

            @*$('#list-employee').P2BGridDialog({
                maindialogtitle: "Create FunctAttendanceT",
                submiturl: "@Url.Action("create")",
                form: "#frmEmpReleaseList",
                height: 575,
                width: 900,
                title: "FFSettlement Release Process ",
                state: "open",
                gridname: "#JqGridNew",
                gridfunction: "GetGridSelctedvalue",
            });
            $('#Remove-SalaryHead-FunctAttendance').button('disable').button().button("refresh");
            event.preventDefault();
        });*@


            $("#Empstruct_drop").on("selectmenuchange", function () {

                alert($(this).val());
            });
            $("#Empstruct_drop1").on("selectmenuchange", function () {

                alert($(this).val());
            });
            $('#JqGridNew').on('click', function (e) {
                var a = $.GetGridSelctedvalue("#JqGridNew", 3);
                $("#Waive").val("0");
                $("#LastWorkDateByComp").val("");
                $("#LastWorkDateApproved").val("");
                $("#Todate").val("");
                if (a == null || a.length == 0) {
                    $("#Waive").val("0");
                    $("#LastWorkDateByComp").val("");
                    $("#LastWorkDateApproved").val("");
                    $("#Todate").val("");
                    alert('Select Employee...');
                    return false;
                }
                else if (a.length > 1) {
                    $("#Waive").val("0");
                    $("#LastWorkDateByComp").val("");
                    $("#LastWorkDateApproved").val("");
                    $("#Todate").val("");
                    alert('Select only one employee at a time...');
                    return false;
                }
                $('#SalaryHeadlist').P2BSelectMenuAppend('@Url.Action("PopulateDropDownList", "FFSSettlementReleaseDetailT")', parseInt(a), "");



            });


            $('#SalaryHeadlist_old').on('selectmenuchange', function () {
                //console.log("dasd");
                // alert($(this).val());
                var a = $.GetGridSelctedvalue("#JqGridNew", 3);

                if (a == null || a.length == 0) {
                    alert('Select Employee...');
                    return false;
                }
                else if (a.length > 1) {
                    alert('Select only one employee at a time...');
                    return false;
                }

                var id = $(this).val();

                $.get("@Url.Action("GetSalHead", "FFSSettlementReleaseDetailT")", { data: $(this).val(), data1: parseInt(a) }, function (data) {


                    //$('#fromdate').val();
                    //$('#Todate').val();

                    $('#OpenAmount').val(data.OpenAmount);
                    $('#BalAmount').val(data.balAmount);
                    $('#RelAmount').val(data.balAmount);
                    //$('#RelAmount').val("0");

                    //if (data == true)
                    //    $('#HideDiv').fadeIn();
                    //else
                    //    $('#HideDiv').fadeOut();
                });


            });
            //new
            $('#lvheadddlist').fadeOut();

            $('#SalaryHeadlist').on('selectmenuchange', function () {
                var a = $.GetGridSelctedvalue("#JqGridNew", 3);

                if (a == null || a.length == 0) {
                    alert('Select Employee...');
                    return false;
                }
                else if (a.length > 1) {
                    alert('Select only one employee at a time...');
                    return false;
                }

                var id = $(this).val();

                $.get("@Url.Action("GetSalHead", "FFSSettlementReleaseDetailT")", { data: $(this).val() }, function (data) {

                    if (data == "LVENCASH" || data == "LVENCASHEXEMPTED") {

                        if (a != null && a.length > 0) {
                            var b = $.GetGridSelctedvalue("#JqGridNew", 3)

                            $('#lvheadddlist').fadeIn();
                            $('#lvheadList').P2BSelectMenuAppend('@Url.Action("lvheadlist", "FFSSettlementReleaseDetailT")?Empid=' + b + '&data=' + $("#SalaryHeadlist option:selected").val());
                            $('div#lvdata').remove();
                        }
                    }
                    else {
                        var c = $.GetGridSelctedvalue("#JqGridNew", 3);
                        $.get("@Url.Action("salheadreleaseamountcalc", "FFSSettlementReleaseDetailT")", { data: $("#SalaryHeadlist option:selected").val(), data1: parseInt(c) }, function (data) {

                            $('#OpenAmount').val(data.OpenAmount);
                            $('#BalAmount').val(data.balAmount);
                            $('#RelAmount').val(data.balAmount);

                        });

                        $('#lvheadddlist').fadeOut();
                    }
                });


            });
            //console.log(lastDay);

            $('#lvheadList').on('selectmenuchange', function (e) {
                var LHead = $.GetGridSelctedvalue("#JqGridNew", 3);
                var id = $(this).val();
                $.get("@Url.Action("LeaveheadopencloseBalance", "FFSSettlementReleaseDetailT")?leave=" + $(this).val() + "&EmployeeId=" + LHead, function (data) {
                    if (data != null) {
                        $('#OpenAmount').val(data.OpenAmount);
                        $('#BalAmount').val(data.balAmount);
                        $('#RelAmount').val(data.balAmount);
                    }
                });
            });

            $.LocalStorageHelper("EditClickFunctAttendanceT", false);
            $('#cancle,#Save').hide();
            $('#Edit_model_dialog').P2BGridDialog();
            var count = 0;


            $('#Edit').on('click', function (e) {
                $("#PayMonthEdit").val($('#txtPayMonth').val());
                var aa = $('#JqGrid').jqGrid('getGridParam', 'selrow');
                dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'ID');
                if (aa != null) {
                    $('#Edit').ProcessConfirmation1({
                        confirmurl: "@Url.Action("ChkProcess")",
                        month: "#txtPayMonth",
                        EmpCode: dt.EmpCode,
                        msg: "Salary will be deleted,Still You Want to edit..?Please Confirm..!",
                        status: function (data) {
                            if (data == true) {
                                if (aa != null) {
                                    $('#Load,#Create,#Delete,#Edit').button("disable").css("background-color", "rgba(241, 241, 241, 0.66)");
                                    $('#cancle,#Save').fadeIn();
                                    $.LocalStorageHelper("EditClickFunctAttendanceT", true);
                                }
                                //else {
                                //    alert('Please Select Row..!');
                                //}
                                $('#PayMonth').val($('#txtPayMonth').val());
                            }
                            else {
                                $('#cancle,#Save').fadeOut();
                                $('#Load,#Create,#Delete,#Edit').button("enable").css("background-color", "");
                            }
                        }
                    });
                }
                else {
                    $('#cancle,#Save').fadeOut();
                    $('#Load,#Create,#Delete,#Edit').button("enable").css("background-color", "");
                    //alert('Please Select Row..!');
                }
            });


            $(document).on('click', '#Save', function (e) {
                var a = $('#JqGrid').InlineGridEdittedData.GetData();
                if (a != null) {
                    var b = JSON.stringify(a);
                    $.post({
                        url: '@Url.Action("EditSave", "FunctAttendanceT")',
                        data: { PayMonth: $("#PayMonthEdit").val(), forwarddata: b },
                        success: function (data) {
                            if (data != null) {
                                alert(data[2]);
                                $('#JqGrid').InlineGridEdittedData.Empty();
                                $('#JqGrid').trigger('reloadGrid');
                                $.LocalStorageHelper("EditClickFunctAttendanceT", false);
                            }
                        }
                    });
                } else {
                    $('#JqGrid').trigger('reloadGrid');
                    $.LocalStorageHelper("EditClickFunctAttendanceT", false);
                }
                //$(this).text("Edit");
                $('#cancle,#Save').fadeOut();
                $('#Load,#Create,#Delete,#Edit').button("enable").css("background-color", "");
            });
            $('#cancle').on('click', function (e) {

                location.reload();
            });

            $('#View').on('click', function (e) {
                AssignData();

                $('#Edit_model_dialog').P2BGridDialog({
                    maindialogtitle: "Edit Dialog",
                    submiturl: "@Url.Action("process")",
                    form: "#frmeditinlinegrid",
                    height: 400,
                    width: 900,
                    gridname: "#JqGrid",
                    state: "open",
                    editurl: "@Url.Action("P2BInlineGrid")",
                    editdata: dt.Id,
                    returnToGrid: "#inline_JqGrid",
                });

            });
            $('.drop').selectmenu().selectmenu("menuWidget").addClass("overflow");;
            if ($("#txtPayMonth").val() == "") {
                var dt = new Date();
                var month = dt.getMonth() + 1;
                month = month < 10 ? '0' + month : '' + month;
                $("#txtPayMonth").val(month + "/" + dt.getFullYear());
            }

            $('#Create_Processmonth').MonthAndYear();
            $('#SalaryHeadlist').selectmenu().selectmenu("menuWidget");
            $('#Create_Paymonth').MonthAndYear('#Create_PayableDays');
            $('#Create_Paymentdate').P2BDatePicker();

            $('#Delete').button().click(function (event) {
                dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
                $('#list-employee').P2BDeleteModalDialog('@Url.Action("Delete")', dt.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
                event.preventDefault();
            });

            $('#list-employee').P2BGridDialog({
                maindialogtitle: "Create FunctAttendanceT",
                @*// submiturl: "@Url.Action("create")",*@
                //form: "#frmEmpReleaseList",
                height: 575,
                width: 900,
                title: "FFSettlement Release Process ",
                state: "open",
                gridname: "#JqGridNew",
                gridfunction: "GetGridSelctedvalue",
            });
            $('#Remove-SalaryHead-FunctAttendance').button('disable').button('refresh');
            event.preventDefault();
        });

        $(document).on('click', '#save', function (e) {
            e.preventDefault();

            //var forwarddata = $('#frmEmpReleaseList').serialize();
            var empid = $.GetGridSelctedvalue("#JqGridNew", "Id");

            $('#emp_Id').text(empid);
            $.post({
                url: '@Url.Action("Create", "FFSSettlementReleaseDetailT")?empid1=' + empid + '&iPayMonth=' + $('#Create_Paymonth').val() + '&iPaymentDate=' + $('#Create_Paymentdate').val() + '&salhead=' + $('#SalaryHeadlist option:selected').val() + '&OpenAmount=' + $('#OpenAmount').val() + '&RelAmount=' + $('#RelAmount').val() + '&Leavehead=' + $('#lvheadList').val(),
                //data: { forwarddata1: forwarddata + "," + empid, },

                method: "POST",
                success: function (data) {
                    if (data.success == true) {
                        alert(data.responseText[0]);
                    } else {
                        alert(data.responseText[0]);
                    }
                    console.log(data);
                },
                error: function (xhr, status, error) {
                    alert('Error: ' + error);
                }
            });
        });
    });

</script>

<div class="Form_Bg">
    <div class="Form_Input">
        <div class="Button_Container">

            <div style="float:left">
                <label id="lblPayMonth" class="popup-content-label must">PayMonth:</label>
                <input name="txtPayMonth" type="text" id="txtPayMonth" class="date-picker" />
            </div>
            <button class="button" id="Load">Load</button>
            <button class="button" id="Create">Create</button>
            @*<button class="button" id="Edit">Edit</button>*@
            <button class="button" id="Save">Save</button>
            <button class="button" id="cancle">Cancel</button>
            @*<button class="button" id="Delete">Delete</button>*@

            <div id="Grid_Form">
                <div>

                    <table id="JqGrid"></table>
                    <div id="JqGrid_pager"></div>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="loder_div"></div>
<div class="dialog">
    <div title="LookUp Data">
        <div class="LookupDiv"></div>
    </div>
    <div id="PageNavPosition">

    </div>
</div>
<div id="list-employee">
    <div class="btn-action-class">

    </div>
    <div class="emplist_row">
        <div id="Grid_Form2">
            <div>
                <table id="JqGridNew"></table>
                <div id="pager22"></div>
            </div>
        </div>
    </div>


    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmEmpReleaseList", name = "frmEmpReleaseList" }))
    {
        <input id="emp_Id" class="filter_structure_id" name="emp_Id" />
        <input id="lvhead_id" type="hidden" name="lvhead_id" />
        <input name="PayMonthEdit" type="text" id="PayMonthEdit" class="filter_structure_id" />
        <div class="emplist_row">

            <label for="Empstruct_drop" class="emplist_label must">Salary Head:</label>

            <select id="SalaryHeadlist" name="SalaryHeadlist" class="drop" style="width:180px;"><option value="0">-Select-</option></select>

        </div>
        <div id="lvheadddlist">
            <div class="emplist_row">
                <label for="Empstruct_drop1" id="Lvlist" class="emplist_label must">Leave Head:</label>
                <select id="lvheadList" name="lvheadList" class="drop" style="width:180px;"><option value="0">-Select-</option></select>
            </div>
        </div>
        <div class="emplist_row">
            <label id="lblcreatepayableDays" class="emplist_label ">Open Amount</label>
            <input type="text" readonly id="OpenAmount" name="OpenAmount" class="popup-content-textbox-rowfirst " />
        </div>
        <div class="emplist_row">
            <label id="lblcreatepayableDays" class="emplist_label ">Bal Amount </label>
            <input type="text" readonly id="BalAmount" name="BalAmount" class="popup-content-textbox-rowfirst " />
        </div>
        <div class="emplist_row">
            <label id="lblcreatepayableDays" class="emplist_label must">Release Amount </label>
            <input type="text" id="RelAmount" name="RelAmount" class="popup-content-textbox-rowfirst must" />
        </div>
        @*<div class="emplist_row">
                <label id="lblfrmdt" class="emplist_label">From Date</label>
                <input type="text" id="fromdate" name="fromdate" class="popup-content-textbox-rowfirst must" />
            </div>
            <div class="emplist_row">
                <label id="lblfrmdt" class="emplist_label">To Date</label>
                <input type="text" id="Todate" name="Todate" class="popup-content-textbox-rowfirst must" />
            </div>

            <div id="Lvlist" class="emplist_row">
                <label class="popup-content-label must">Leave Head :</label>
                <select id="lvheadList" multiple name="LvHead"></select>

            </div>*@
        @*<div id="Promonth" class="row1">

                <label id="lblcreatepaymonth" class="emplist_label must">Process Month</label>
                <input type="text" id="Create_Processmonth" name="Create_Processmonth" class="popup-content-textbox-rowfirst must" />

            </div>*@


        <div class="emplist_row">

            <label id="lblcreatepaymonth" class="emplist_label must">Release Month</label>
            <input type="text" id="Create_Paymonth" name="Create_Paymonth" class="popup-content-textbox-rowfirst must" />
        </div>

        <div class="emplist_row">

            <label id="lblcreatepaymonth" class="emplist_label must">Release date</label>
            <input type="text" id="Create_Paymentdate" name="Create_Paymentdate" class="popup-content-textbox-rowfirst must" />
        </div>

        <button class="button" id="save" type="button">Submit</button>

        @*<div class="emplist_row">
                <label id="lblcreatepayableDays" class="emplist_label must">Hour Days</label>
                <input type="text" id="Create_HourDays" name="Create_HourDays" class="popup-content-textbox-rowfirst must" />
            </div>*@
        @*<div class="emplist_row">
                <label id="lblcreatepayableDays" class="emplist_label">Reason </label>
                <input type="text" id="Create_Reason" name="Create_Reason" class="popup-content-textbox-rowfirst must" />
            </div>*@

    }
</div>


<div id="Edit_model_dialog">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmeditinlinegrid", name = "frmeditinlinegrid" }))
    {

        <div>
            <table id="inline_JqGrid"></table>
            <div id="inline_JqGrid_pager"></div>
        </div>
    }
</div>
