@{
    ViewBag.Title = "Leave Head";
}

@model Leave.LvHead

<script>
    $(document).ready(function (e) {
        var btndisablenames = "#Edit-LeaveCalendar-LeaveHead,#Remove-LeaveCalendar-LeaveHead,#Edit-LvCreditPolicy-LeaveHead,#Remove-LvCreditPolicy-LeaveHead";
        $('button').button();
        $('.popup_radio_button').controlgroup();
        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;
        ColModel = ['LvCode', 'LvName', 'LvHeadAlias', 'Id'];
        ColNames = ['LvCode', 'LvName', 'LvHeadAlias','Id'];
        SortName = 'Id';
        Caption = 'Leave Head';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);

        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }
        $('#LvCode').ValidateTextBox({ maxlength: 10, alphanum: true });
        $('#LvHeadAlias').ValidateTextBox({ maxlength: 25, name: true });
        $('#LvName').ValidateTextBox({ maxlength: 50, name: true });

        $('#Create_Dialog').P2BCreateDialog();
        $('#Create').on("click", function (event) {
            $('#frmLvHead').trigger("reset");
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create Leave Head', 'open', '@Url.Action("Create")', '#frmLvHead', 'Message :', 'Request Falied :', '#JqGrid', 500, 650, '#LeaveCalendarlist,#LvCreditPolicylist', btndisablenames, function (data) { });
            $('#LvHeadOprationTypelist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 448, ""); // To bind dropdown on page load
            $('#LvActionOnAtt').P2BSelectMenuAppend('@Url.Action("GetLookupValueDATA", "LvHead")', 1005, ""); // To bind dropdown on page load
            event.preventDefault();
        });


        $('#Edit').on('click', function (event) {
            AssignData();

            //$('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit Other Salary Head Master", '#frmOtherSalHead', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 315, 543, '', btndisablename, function (data) {
            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit Leave Head Data", '#frmLvHead', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 500, 620, '#LeaveCalendarlist,#LvCreditPolicylist', '', function (data) {
                $.each(data[0], function (i, k) {

                    $('#frmLvHead').trigger('reset');
                    $('#LvCode').val(k.LvCode);
                    $('#LvCode').prop("readonly", "readonly");
                    $('#LvHeadAlias').val(k.LvHeadAlias);
                    $('#LvName').val(k.LvName);
                    $('[name="HFPay"]').val([k.HFPay]).button().button("refresh");
                    $('[name="LTAAppl"]').val([k.LTAAppl]).button().button("refresh");
                    $('[name="ApplAtt"]').val([k.ApplAtt]).button().button("refresh");
                    $('[name="EncashRegular"]').val([k.EncashRegular]).button().button("refresh");
                    $('[name="EncashRetirement"]').val([k.EncashRetirement]).button().button("refresh");
                    $('[name="ESS"]').val([k.ESS]).button().button("refresh");
                    $('#LvHeadOprationTypelist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 448, k.LvHeadOprationType_Id); // To bind dropdown on page load
                    $('#LvActionOnAtt').P2BSelectMenuAppend('@Url.Action("GetLookupValueDATA", "LvHead")', 1005, k.LvActionOnAtt_Id);
                });               
                //var s = "";
                //s = '<option>' + data[1] + '</option>';
                //$("#LvActionOnAtt").html(s);
                $('#Autho_Allow').val(data[3]); //Compulsory for authorisation                              
            });
            event.preventDefault();
        });


        //View main page
        $('#View').button().click(function (event) {
            AssignData();
            @*$('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View', '#BasicScaleDetailslist', '', 356, 512, '#Autho', '@Url.Action("delete")', '', '', '', '','','', function (data) {*@
            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View Leave Head', '#LeaveCalendarlist,#LvCreditPolicylist', '#Lookup-LeaveCalendar-LeaveHead,#Create-LeaveCalendar-LeaveHead,#Edit-LeaveCalendar-LeaveHead,#Remove-LeaveCalendar-LeaveHead,#Lookup-LvCreditPolicy-LeaveHead,#Create-LvCreditPolicy-LeaveHead,#Edit-LvCreditPolicy-LeaveHead,#Remove-LvCreditPolicy-LeaveHead', 500, 620, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {
                $.each(data[0], function (i, k) {


                    $('#frmLvHead').trigger('reset');
                    $('#LvCode').val(k.LvCode);
                    $('#LvHeadAlias').val(k.LvHeadAlias);
                    $('#LvName').val(k.LvName);
                    $('[name="HFPay"]').val([k.HFPay]).button().button("refresh");
                    $('[name="LTAAppl"]').val([k.LTAAppl]).button().button("refresh");
                    $('[name="ApplAtt"]').val([k.ApplAtt]).button().button("refresh");
                    $('[name="EncashRegular"]').val([k.EncashRegular]).button().button("refresh");
                    $('[name="EncashRetirement"]').val([k.EncashRetirement]).button().button("refresh");
                    $('[name="ESS"]').val([k.ESS]).button().button("refresh");
                    $('#LvHeadOprationTypelist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 448, k.LvHeadOprationType_Id); // To bind dropdown on page load
                    $('#LvActionOnAtt').P2BSelectMenuAppend('@Url.Action("GetLookupValueDATA", "LvHead")', 1005, k.LvActionOnAtt_Id);
                });

                $.each(data[1], function (i, k) {
                    //$('#LeaveCalendarlist').P2BLookUpEncapsulate('#LeaveCalendarlist', 'LeaveCalendarlist', k.LvHeadObj_Id, k.LvHeadObj_FullDetails, 'LeaveCalendarlist', '#Edit-LeaveCalendar-LeaveHead,#Remove-LeaveCalendar-LeaveHead', 'A');
                    //$('#LvCreditPolicylist').P2BLookUpEncapsulate('#LvCreditPolicylist', 'LvCreditPolicylist', k.PayScaleAgreement_Id, k.PayScaleAgreement_FullDetails, 'LvCreditPolicylist', '#Edit-LvCreditPolicy-LeaveHead,#Remove-LvCreditPolicy-LeaveHead', 'A');
                    //$('#LvDebitPolicylist').P2BLookUpEncapsulate('#LvDebitPolicylist', 'LvDebitPolicylist', k.LvDebitPolicy_Id, k.LvDebitPolicy_FullDetails, 'LvDebitPolicylist', '#Edit-LvDebitPolicylist-LeaveHead,#Remove-LvDebitPolicylist-LeaveHead', 'A');
                    //$('#LvEncashPolicylist').P2BLookUpEncapsulate('#LvEncashPolicylist', 'LvEncashPolicylist', k.LvEncashPolicy_Id, k.LvEncashPolicy_FullDetails, 'LvEncashPolicylist', '#Edit-LvEncashPolicy-LeaveHead,#Remove-LvEncashPolicy-LeaveHead', 'A');
                });

                ////To bind old data if authorisation is true
                if ($("#Autho").hasClass('auto_active')) {
                    $('#radio4').StickNote([data[2].HFPay]);
                    $('#radio6').StickNote([data[2].LTAAppl]);
                    $('#radio8').StickNote([data[2].ApplAtt]);
                    $('#radio10').StickNote([data[2].EncashRegular]);
                    $('#radio12').StickNote([data[2].EncashRetirement]);
                    $('#radio14').StickNote([data[2].ESS]);
                    $('#LvCreditPolicylist').StickNote([data[2].PayScaleAgreement_Val]);
                    $('#LeaveCalendarlist').StickNote([data[2].LvHeadObj_Val])
                }
            });
        });



        $('#Delete').button().click(function (event) {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            $('#Create_Dialog').P2BDeleteModalDialog('@Url.Action("Delete")', dt.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
            event.preventDefault();
        });

        $('#LvHeadOprationTypelist').selectmenu().selectmenu("menuWidget");
        $('#LvActionOnAtt').selectmenu().selectmenu("menuWidget");
        $('.popup_radio_button').controlgroup();
        $('#Autho').makeDisable('#Create,#Edit,#Delete');
        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');
    });



</script>
<style>
    .popup-content-label {
        width: 130px;
        float: left;
        display: block;
        margin: 1px;
    }

    .popup-content-textbox {
        width: 150px;
    }

    .row1 {
        width: 433px;
    }

    .add_icon-row {
        left: 41px;
        position: relative;
        top: -48px;
    }

    .icon-row {
        left: 90px;
        position: relative;
        top: -151px;
    }

    .horizontal_row1, .popup_radio_button {
        display: inline-block;
    }

    .drop_edit {
        top: 22px;
        left: 369px;
    }

    .section_Method {
        border: 1px solid rgba(207, 207, 207, 0.91);
        border-radius: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .row4 {
        width: 650px;
        display: inline-flex;
    }

    .namepush {
        margin-right: 2px;
    }

    .radiopush {
        margin-right: 94px;
    }

    .lblwidth {
        width: 100px;
    }
    .lblwidth1 {
        width: 129px;
    }

    .Clblwidth {
        width: 97px;
    }

    .radiowidth {
        width: 94px;
    }

    .Cnamepush {
        margin-right: 127px;
    }

    #LvHeadOprationTypelist {
        width: 158px;
        margin-left: -37px;
    }
    
    /*style="width: 158px; margin-left:-37px;"*/
</style>
<html>
<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <button class="button" id="Create">Create</button>
                <button class="button" id="View">View</button>
                <button class="button" id="Edit">Edit</button>
                <button class="button" id="Delete">Delete</button>
                <button class="button" id="Autho">Authorised</button>
                <div id="Grid_Form">
                    <div>
                        <table id="JqGrid"></table>
                        <div id="pager2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>

    <div id="Create_Dialog" title="Create Leave Head">



        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmLvHead", name = "frmLvHead" }))
        {

            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
            <div class="section_Method">
                <div class="heading">Leave Details</div>
                <div class="row4 content_margine">
                    @Html.LabelFor(m => m.LvCode, "Lv Code:", new { @class = "popup-content-label must" })
                    @Html.TextBoxFor(m => m.LvCode, new { @class = "popup-content-textbox must namepush" })
                    @Html.LabelFor(m => m.LvHeadAlias, "Lv Head Alias:", new { @class = "popup-content-label Clblwidth must" })
                    @Html.TextBoxFor(m => m.LvHeadAlias, new { @class = "popup-content-textbox must" })
                </div>
                <div class="row4 content_margine">
                    @Html.LabelFor(m => m.LvName, "Lv Name:", new { @class = "popup-content-label must" })
                    @Html.TextBoxFor(m => m.LvName, new { @class = "popup-content-textbox must" })
                    @Html.LabelFor(m => m.LvHeadOprationType, "Operation Type:", new { @class = "popup-content-label lblwidth " })
                    <select  id="LvHeadOprationTypelist" name="LvHeadOprationTypelist" class="" style=" width: 160px;">
                        <option value="0">-Select-</option>
                    </select>
                </div>
                <div class="row4 content_margine">
                    @Html.LabelFor(m => m.LvActionOnAtt, "LVaction on attendence:", new { @class = "popup-content-label lblwidth1 " })
                    <select id="LvActionOnAtt" name="LvActionOnAtt" class="" style=" width: 160px;">
                        <option value="0">-Select-</option>
                    </select>
                    </div>                                          
                <div class="row4 content_margine ">
                    @Html.LabelFor(m => m.HFPay, " Hf Pay Applicable:", new { @class = "popup-content-label" })
                    <div class="popup_radio_button radio_button_div_1 radiopush">
                        <span class="popup_radio_button radio_button_div_1">
                            <input type="radio" id="radio3" name="HFPay" value="true" /> <label for="radio3">Yes</label>
                            <input type="radio" id="radio4" name="HFPay" value="false" checked="checked" /> <label for="radio4">No</label>
                        </span>
                    </div>

                    @Html.LabelFor(m => m.LTAAppl, "LTA Applicable:", new { @class = "popup-content-label radiowidth" })
                    <div class="popup_radio_button radio_button_div_1">
                        <span class="popup_radio_button radio_button_div_1">
                            <input type="radio" id="radio5" name="LTAAppl" value="true" /> <label for="radio5">Yes</label>
                            <input type="radio" id="radio6" name="LTAAppl" value="false" checked="checked" /> <label for="radio6">No</label>
                        </span>
                    </div>
                </div>

                <div class="row4 content_margine ">
                    @Html.LabelFor(m => m.ApplAtt, "ATT Applicable:", new { @class = "popup-content-label" })
                    <div class="popup_radio_button radiopush">
                        <input type="radio" id="radio7" name="ApplAtt" value="true" /> <label for="radio7">Yes</label>
                        <input type="radio" id="radio8" name="ApplAtt" value="false" checked="checked" /> <label for="radio8">No</label>
                    </div>
                    @Html.LabelFor(m => m.EncashRegular, "Encash Regular:", new { @class = "popup-content-label radiowidth" })
                    <div class="popup_radio_button radio_button_div_1">
                        <span class="popup_radio_button radio_button_div_1">
                            <input type="radio" id="radio9" name="EncashRegular" value="true" /> <label for="radio9">Yes</label>
                            <input type="radio" id="radio10" name="EncashRegular" value="false" checked="checked" /> <label for="radio10">No</label>
                        </span>
                    </div>
                </div>

                <div class="row4 content_margine ">
                    @Html.LabelFor(m => m.EncashRetirement, "Encash Retirement:", new { @class = "popup-content-label" })
                    <div class="popup_radio_button radio_button_div_1 radiopush">
                        <span class="popup_radio_button radio_button_div_1">
                            <input type="radio" id="radio11" name="EncashRetirement" value="true" /> <label for="radio11">Yes</label>
                            <input type="radio" id="radio12" name="EncashRetirement" value="false" checked="checked" /> <label for="radio12">No</label>
                        </span>
                    </div>
                    @Html.LabelFor(m => m.ESS, "ESS:", new { @class = "popup-content-label radiowidth" })
                    <div class="popup_radio_button radio_button_div_1">
                        <span class="popup_radio_button radio_button_div_1">
                            <input type="radio" id="radio13" name="ESS" value="true" /> <label for="radio13">Yes</label>
                            <input type="radio" id="radio14" name="ESS" value="false" checked="checked" /> <label for="radio14">No</label>
                        </span>
                    </div>

                </div>

                </div>




        }
    </div>
</body>
</html>