@{
    ViewBag.Title = "PasswordPolicy";
}
@model P2b.Global.PasswordPolicy
<script>

    $(function () {
        $('button').button();

        var dt;
        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;
        ColModel = ['MinPwdLength', 'MinUpChars', 'MinLowChars', 'MinSymbols', 'AllowEncryption', 'Application', 'Id'];
        ColNames = ['MinPwdLength', 'MinUpChars', 'MinLowChars', 'MinSymbols', 'AllowEncryption', 'Application', 'Id'];
        SortName = 'Id';
        Caption = 'Password Policy';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;

        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);

        $('#MinUpChars,#MinLowChars,#ForChangedPwd,#AllowAttempt,#BadLogin,#MinPwdLength,#MinNoNos,#Pwd,#LockMin,#MinAllowRep,#OldPwdAllowCount,#OTPActiveTime,#OTPOnEmailAppl,#OTPRetainDays,#Sessions,#SecurityExpiryTimeSec,#SecurityRetryCount,#PwdChangedAfterDays').ForceOnlyNumeric();


        $("#defult_selection").on("click", function () {
            if ($("#defult_selection").is(":checked")) {
                default_val();
            }
            else { ClearSelection(); }
        });

        function default_val() {
            $('#MinPwdLength').val(8);
            $('#MinUpChars').val(1);
            $('#MinLowChars').val(1);
            $('#MinNoNos').val(1);
            $('#ForChangedPwd').val(3);
            $('#AllowAttempt').val(3);
            $('#BadLogin').val(3);
            $('#MinSymbols').val(1);
            $('[name="Suspend"]').val([true]).button().button("refresh");
            $('[name="MultipleLogin"]').val([true]).button().button("refresh");
            $('[name="OldPwdAllow"]').val([false]).button().button("refresh");
            $('[name="Captcha"]').val([false]).button().button("refresh");
            $('[name="SecurityQuestion"]').val([true]).button().button("refresh");
            $('[name="AllowEncryption"]').val([false]).button().button("refresh");
        };

        function ClearSelection() {
            $('#MinPwdLength').val(0);
            $('#MinUpChars').val(0);
            $('#MinLowChars').val(0);
            $('#MinNoNos').val(0);
            $('#ForChangedPwd').val(0);
            $('#AllowAttempt').val(0);
            $('#BadLogin').val(0);
            $('#MinSymbols').val(0);
            $('[name="Suspend"]').val([false]).button().button("refresh");
            $('[name="MultipleLogin"]').val([false]).button().button("refresh");          
            $('[name="OldPwdAllow"]').val([false]).button().button("refresh");
            $('[name="Captcha"]').val([false]).button().button("refresh");
            $('[name="SecurityQuestion"]').val([false]).button().button("refresh");
            $('[name="AllowEncryption"]').val([false]).button().button("refresh");
        };

        $('#Create_Dialog').P2BCreateDialog();
        $('#Create').button().on("click", function (event) {
            $('#MYdiv').fadeOut();
            $('#MYdiv1').fadeOut();
            $('.all_radio_button').addClass("disable");
            $('#OTPRetainDays,#OldPwdAllowCount,#PwdStregth,#MinLowCharsStrength,#MinUpCharsStrength,#SecurityRetryCount,#SecurityExpiryTimeSec,#OTPOnEmailAppl,#PwdChangedAfterDays,#MinAllowRep,#LockMin,#Pwd,#DisallowedChars,#EmpStatus,#Sessions,#OTPActiveTime').attr('readonly', true);
            $('#frmPasswordPolicy').trigger('reset');
            $('#Create_Dialog').P2BCreateDialog('', 0, '', '', 'Create Password Policy Dialog', 'open', '@Url.Action("Create")', '#frmPasswordPolicy', 'Message :', 'Request Falied :', '#JqGrid', 585, 1080, '', '', function () { });
            $('#MinAllowRep').val(0);
            $('#LockMin').val(0);
            $('#OldPwdAllowCount').val(0);
            $('#SecurityExpiryTimeSec').val(0);
            $('#SecurityRetryCount').val(0);
            $('#Pwd').val(0);
            $('#PwdChangedAfterDays').val(0);
            $('#PwdStregth').val(0);
            $('#DisallowedChars').val(0);
            $('#EmpStatus').val(0);
            $('#MinLowCharsStrength').val(0);
            $('#MinUpCharsStrength').val(0);
            $('#Sessions').val(0);
            $('#OTPOnEmailAppl').val(0);
            $('#OTPRetainDays').val(0);
            $('#OTPActiveTime').val(0);
            $('#ApplicationUIList').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 595, "");
            event.preventDefault();

        });

        $('#Edit').on('click', function () {
            AssignData();
            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Password Policy Data", '#frmPasswordPolicy', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 585, 1080, '', '', function (data) {
                //Compulsory for authorisation
                var val = null;
                $.each(data[0], function (i, k) {

                    if ((k.DualAuthenticationAppl) == false) {
                        $('.all_radio_button').addClass("disable");
                        $('#OTPRetainDays,#OldPwdAllowCount,#PwdStregth,#MinLowCharsStrength,#MinUpCharsStrength,#SecurityRetryCount,#SecurityExpiryTimeSec,#OTPOnEmailAppl,#PwdChangedAfterDays,#MinAllowRep,#LockMin,#Pwd,#DisallowedChars,#EmpStatus,#Sessions,#OTPActiveTime').attr('readonly', true);
                    }
                    else {
                        $('.all_radio_button').removeClass("disable");
                        $('#OTPRetainDays,#OldPwdAllowCount,#PwdStregth,#MinLowCharsStrength,#MinUpCharsStrength,#SecurityRetryCount,#SecurityExpiryTimeSec,#OTPOnEmailAppl,#PwdChangedAfterDays,#MinAllowRep,#LockMin,#Pwd,#DisallowedChars,#EmpStatus,#Sessions,#OTPActiveTime').attr('readonly', false);
                    }
                    if ((k.IsLoginSecurityAppl) == false) {
                        $('#MYdiv').fadeOut();
                    }
                    else {
                        $('#MYdiv').fadeIn();
                    }
                    if ((k.IsPasswordSecurityAppl) == false) {

                        $('#MYdiv1').fadeOut();
                    }
                    else {
                        $('#MYdiv1').fadeIn();
                    }

                    $('#frmPasswordPolicy').trigger("reset");
                    $('#MinPwdLength').val(k.MinPwdLength); // For Fetching TextBox value of form
                    $('#MinUpChars').val(k.MinUpChars);
                    $('#MinLowChars').val(k.MinLowChars);
                    $('#MinNoNos').val(k.MinNoNos);
                    $('#MinSymbols').val(k.MinSymbols);
                    $('#AllowAttempt').val(k.AllowAttempt);

                    $('#Authority').val(k.Authority);
                    $('#BadLogin').val(k.BadLogin);
                    $('#DisallowedChars').val(k.DisallowedChars);
                    $('#EmpStatus').val(k.EmpStatus);
                    $('#LockMin').val(k.LockMin);
                    $('#MinAllowRep').val(k.MinAllowRep);
                    $('#OldPwdAllowCount').val(k.OldPwdAllowCount);
                    $('#OTPActiveTime').val(k.OTPActiveTime);
                    //$('#OTPOnEmailAppl').val(k.OTPOnEmailAppl);
                    $('#OTPRetainDays').val(k.OTPRetainDays);
                    $('#MinLowCharsStrength').val(k.MinLowCharsStrength);
                    $('#MinUpCharsStrength').val(k.MinUpCharsStrength);
                    $('#PolicyName').val(k.PolicyName);
                    $('#Pwd').val(k.Pwd);
                    $('#PwdChangedAfterDays').val(k.PwdChangedAfterDays);
                    $('#PwdStregth').val(k.PwdStregth);
                    $('#SecurityRetryCount').val(k.SecurityRetryCount);
                    $('#Sessions').val(k.Sessions);
                    $('#SecurityExpiryTimeSec').val(k.SecurityExpiryTimeSec);


                    $('[name="MultipleLogin"]').val([k.MultipleLogin]).button().button("refresh"); // For Fetching RadioButtons value of form
                    $('[name="OldPwdAllow"]').val([k.OldPwdAllow]).button().button("refresh");
                    $('[name="SecurityQuestion"]').val([k.SecurityQuestion]).button().button("refresh");
                    $('[name="Captcha"]').val([k.Captcha]).button().button("refresh");
                    $('[name="AllowEncryption"]').val([k.AllowEncryption]).button().button("refresh");
                    $('[name="OTPOnEmailAppl"]').val([k.OTPOnEmailAppl]).button().button("refresh");
                    $('[name="CharsOnly"]').val([k.CharsOnly]).button().button("refresh");
                    $('[name="DefaultPasswordChangeInit"]').val([k.DefaultPasswordChangeInit]).button().button("refresh");
                    $('[name="DualAuthenticationAppl"]').val([k.DualAuthenticationAppl]).button().button("refresh");
                    $('[name="Forgot"]').val([k.Forgot]).button().button("refresh");
                    $('[name="IsLoginSecurityAppl"]').val([k.IsLoginSecurityAppl]).button().button("refresh");
                    $('[name="IsPasswordRotationSecurity"]').val([k.IsPasswordRotationSecurity]).button().button("refresh");
                    $('[name="IsPasswordSecurityAppl"]').val([k.IsPasswordSecurityAppl]).button().button("refresh");
                    $('[name="Lock"]').val([k.Lock]).button().button("refresh");
                    $('[name="LoginOTPAppl"]').val([k.LoginOTPAppl]).button().button("refresh");
                    $('[name="LoginRandomNoGenAppl"]').val([k.LoginRandomNoGenAppl]).button().button("refresh");
                    $('[name="LoginSecurityQuestionAppl"]').val([k.LoginSecurityQuestionAppl]).button().button("refresh");
                    $('[name="OTPOnMobileAppl"]').val([k.OTPOnMobileAppl]).button().button("refresh");
                    $('[name="OTPRetainDaysAppl"]').val([k.OTPRetainDaysAppl]).button().button("refresh");
                    $('[name="PasswordOTPAppl"]').val([k.PasswordOTPAppl]).button().button("refresh");
                    $('[name="PasswordRandomNoGenAppl"]').val([k.PasswordRandomNoGenAppl]).button().button("refresh");
                    $('[name="PasswordSecurityQuestion"]').val([k.PasswordSecurityQuestion]).button().button("refresh");
                    $('[name="StartNumericAppl"]').val([k.StartNumericAppl]).button().button("refresh");
                    $('[name="Suspend"]').val([k.Suspend]).button().button("refresh");
                    console.log(k.ApplicationUILK)
                    $('#ApplicationUIList').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 595, k.ApplicationUILK);

                });

                $('#Autho_Allow').val(data[3]);
            });

        });

        $('#View').button().click(function (event) {
            AssignData();
            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View Password Policy Data', '', '', 585, 1080, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {
                $.each(data[0], function (i, k) {


                    if ((k.IsLoginSecurityAppl) == false) {
                        $('#MYdiv').fadeOut();
                    }
                    else {
                        $('#MYdiv').fadeIn();
                    }
                    if ((k.IsPasswordSecurityAppl) == false) {

                        $('#MYdiv1').fadeOut();
                    }
                    else {
                        $('#MYdiv1').fadeIn();
                    }

                    $('#frmPasswordPolicy').trigger("reset");
                    $('#MinPwdLength').val(k.MinPwdLength); // For Fetching TextBox value of form
                    $('#MinUpChars').val(k.MinUpChars);
                    $('#MinLowChars').val(k.MinLowChars);
                    $('#MinNoNos').val(k.MinNoNos);
                    $('#MinSymbols').val(k.MinSymbols);
                    $('#AllowAttempt').val(k.AllowAttempt);
                    $('#Authority').val(k.Authority);
                    $('#BadLogin').val(k.BadLogin);
                    $('#DisallowedChars').val(k.DisallowedChars);
                    $('#EmpStatus').val(k.EmpStatus);
                    $('#LockMin').val(k.LockMin);
                    $('#MinAllowRep').val(k.MinAllowRep);
                    $('#OldPwdAllowCount').val(k.OldPwdAllowCount);
                    $('#OTPActiveTime').val(k.OTPActiveTime);
                    //$('#OTPOnEmailAppl').val(k.OTPOnEmailAppl);
                    $('#OTPRetainDays').val(k.OTPRetainDays);
                    $('#MinLowCharsStrength').val(k.MinLowCharsStrength);
                    $('#MinUpCharsStrength').val(k.MinUpCharsStrength);
                    $('#PolicyName').val(k.PolicyName);
                    $('#Pwd').val(k.Pwd);
                    $('#PwdChangedAfterDays').val(k.PwdChangedAfterDays);
                    $('#PwdStregth').val(k.PwdStregth);
                    $('#SecurityRetryCount').val(k.SecurityRetryCount);
                    $('#Sessions').val(k.Sessions);
                    $('#SecurityExpiryTimeSec').val(k.SecurityExpiryTimeSec);

                    $('[name="MultipleLogin"]').val([k.MultipleLogin]).button().button("refresh"); // For Fetching RadioButtons value of form
                    $('[name="OldPwdAllow"]').val([k.OldPwdAllow]).button().button("refresh");
                    $('[name="SecurityQuestion"]').val([k.SecurityQuestion]).button().button("refresh");
                    $('[name="Captcha"]').val([k.Captcha]).button().button("refresh");
                    $('[name="AllowEncryption"]').val([k.AllowEncryption]).button().button("refresh");
                    $('[name="OTPOnEmailAppl"]').val([k.OTPOnEmailAppl]).button().button("refresh");
                    $('[name="CharsOnly"]').val([k.CharsOnly]).button().button("refresh");
                    $('[name="DefaultPasswordChangeInit"]').val([k.DefaultPasswordChangeInit]).button().button("refresh");
                    $('[name="DualAuthenticationAppl"]').val([k.DualAuthenticationAppl]).button().button("refresh");
                    $('[name="Forgot"]').val([k.Forgot]).button().button("refresh");
                    $('[name="IsLoginSecurityAppl"]').val([k.IsLoginSecurityAppl]).button().button("refresh");
                    $('[name="IsPasswordRotationSecurity"]').val([k.IsPasswordRotationSecurity]).button().button("refresh");
                    $('[name="IsPasswordSecurityAppl"]').val([k.IsPasswordSecurityAppl]).button().button("refresh");
                    $('[name="Lock"]').val([k.Lock]).button().button("refresh");
                    $('[name="LoginOTPAppl"]').val([k.LoginOTPAppl]).button().button("refresh");
                    $('[name="LoginRandomNoGenAppl"]').val([k.LoginRandomNoGenAppl]).button().button("refresh");
                    $('[name="LoginSecurityQuestionAppl"]').val([k.LoginSecurityQuestionAppl]).button().button("refresh");
                    $('[name="OTPOnMobileAppl"]').val([k.OTPOnMobileAppl]).button().button("refresh");
                    $('[name="OTPRetainDaysAppl"]').val([k.OTPRetainDaysAppl]).button().button("refresh");
                    $('[name="PasswordOTPAppl"]').val([k.PasswordOTPAppl]).button().button("refresh");
                    $('[name="PasswordRandomNoGenAppl"]').val([k.PasswordRandomNoGenAppl]).button().button("refresh");
                    $('[name="PasswordSecurityQuestion"]').val([k.PasswordSecurityQuestion]).button().button("refresh");
                    $('[name="StartNumericAppl"]').val([k.StartNumericAppl]).button().button("refresh");
                    $('[name="Suspend"]').val([k.Suspend]).button().button("refresh");
                    console.log(k.ApplicationUILK)
                    $('#ApplicationUIList').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 595, k.ApplicationUILK);
                });

                $('#Autho_Allow').val(data[3]);


            });
        });

        $('input[name="IsLoginSecurityAppl"]:radio').change(function () {
            if (this.value == "true") {
                $('#MYdiv').fadeIn();
            }
            else {

                $('#MYdiv').fadeOut();
            }
        });

        $('input[name="IsPasswordSecurityAppl"]:radio').change(function () {

            if (this.value == "true") {
                $('#MYdiv1').fadeIn();
            }
            else {

                $('#MYdiv1').fadeOut();
            }
        });

        $('input[name="DualAuthenticationAppl"]:radio').change(function () {
            if (this.value == "true") {
                $('.all_radio_button').removeClass("disable");
                $('#OTPRetainDays,#OldPwdAllowCount,#PwdStregth,#MinLowCharsStrength,#MinUpCharsStrength,#SecurityRetryCount,#SecurityExpiryTimeSec,#OTPOnEmailAppl,#PwdChangedAfterDays,#MinAllowRep,#LockMin,#Pwd,#DisallowedChars,#EmpStatus,#Sessions,#OTPActiveTime').attr('readonly', false);
            }
            else {
                $('#OTPRetainDays,#OldPwdAllowCount,#PwdStregth,#MinLowCharsStrength,#MinUpCharsStrength,#SecurityRetryCount,#SecurityExpiryTimeSec,#OTPOnEmailAppl,#PwdChangedAfterDays,#MinAllowRep,#LockMin,#Pwd,#DisallowedChars,#EmpStatus,#Sessions,#OTPActiveTime').attr('readonly', true);
                $('.all_radio_button').addClass("disable");


            }
        });

        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        };

        $('#Delete').button().click(function (event) {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'ID');
            $('#frmJVParameter').P2BDeleteModalDialog('@Url.Action("Delete")', dt.Id, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#JqGrid');
        });

        $('.popup_radio_button').controlgroup();
        $('.drop').selectmenu().selectmenu('menuWidget');

    });
</script>
<style>
    .icon-row {
        left: -343px;
        position: relative;
        top: 25px;
    }

    #BusinessType-button {
        font-size: 9px;
        padding-top: 1px;
        font-weight: bold;
    }

    .popup-content-label {
        display: block;
        float: left;
        width: 185px;
    }

    .popup-content-txtbox {
        margin-bottom: 1px;
        min-width: 50px;
    }

    .popup-content-textbox {
        margin-bottom: 1px;
        min-width: 50px;
        width: 50px;
    }

    .row3 {
        width: 340px;
        display: inline-flex;
    }

    .row4 {
        position: absolute;
        top: 294px;
        width: 400px;
    }

    .popup-content-textbox-long {
        margin-bottom: 1px;
        width: 290px;
    }


    .row2 {
        width: 434px;
    }

    .pwdmrgn {
        margin-top: -12px;
    }

    .row1 {
        width: 190px;
        display: block;
        margin: 1px 1px 6px 6px;
        float: left;
    }

    .row2 {
        float: left;
    }

    .filter_row {
        padding-top: 60px;
    }

    .popup-content-icon-create {
        display: block;
    }

    .transcation_btn {
        width: 21px;
        height: 21px;
    }

    .StrctSelectionClass {
        float: left;
    }

    .grid_colllpase_height {
        height: 43px;
    }

    .row8 {
        /*! display: inline-block; */
        /*! width: 199px; */
        /*! float: left; */
    }

    .section_Method {
        border: 1px solid rgba(207, 207, 207, 0.91);
        border-radius: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
        width: 1040px;
    }

    .disable {
        /* Note: pointer-events not supported by IE10 and under */
        pointer-events: none;
        opacity: 0.4;
    }
</style>
<div>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <button class="button" id="Create">Create</button>
                <button class="button" id="View">View</button>
                <button class="button" id="Edit">Edit</button>
                <button class="button" id="Delete">Delete</button>
                <button class="button" id="Autho">Authorized</button>
                <div id="Grid_Form">
                    <div>
                        <table id="JqGrid"></table>
                        <div id="pager2"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dialog">
            <div title="LookUp Data">
                <div class="LookupDiv"></div>
            </div>
            <div id="PageNavPosition">

            </div>
        </div>
    </div>
    <div id="Create_Dialog">
        <form id="frmPasswordPolicy" method="post" name="frmPasswordPolicy">
            <div class="pwdmrgn">
                <div class="section_Method">
                    <div class="content_margine row3">
                        <div class="row3 content_margine">@Html.LabelFor(m => m.PolicyName, "PolicyName :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.PolicyName, new { @class = "popup-content-txtbox must" })</div>
                    </div>
                    <div class="row3 content_margine">
                        @Html.LabelFor(m => m.ApplicationUI, "ApplicationUI :", new { @class = "popup-content-label must" })
                        <select class="drop must" style="width:120px;" name="ApplicationUIList" id="ApplicationUIList"><option></option></select>
                    </div>
                </div>
            </div>
            <div class="pwdmrgn">
                <div class="button-div">
                    <input type="checkbox" id="defult_selection" /><label for="defult_selection">Default Selection(recommend)</label>
                </div>
            </div>
            <div class="pwdmrgn">
                <div class="section_Method">
                    <div class="content_margine row3">
                        <div class="row3 content_margine">@Html.LabelFor(m => m.MinPwdLength, "MinPwdLength :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.MinPwdLength, new { @class = "popup-content-textbox must" })</div>
                    </div>

                    <div class="content_margine row3">
                        <div class="row3 content_margine">@Html.LabelFor(m => m.MinUpChars, "MinUpChars :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.MinUpChars, new { @class = "popup-content-textbox must" })</div>
                    </div>

                    <div class="content_margine row3">
                        <div class="row3 content_margine">@Html.LabelFor(m => m.MinLowChars, "MinLowChars :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.MinLowChars, new { @class = "popup-content-textbox must" })</div>
                    </div>

                    <div class="content_margine row3">
                        <div class="row3 content_margine">@Html.LabelFor(m => m.MinNoNos, "MinNoNos :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.MinNoNos, new { @class = "popup-content-textbox must" })</div>
                    </div>

                    <div class="content_margine row3">
                        <div class="row3 content_margine">@Html.LabelFor(m => m.MinSymbols, "MinSymbols :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.MinSymbols, new { @class = "popup-content-textbox must" })</div>
                    </div>

                    <div class="content_margine row3">
                        <div class="row3 content_margine">@Html.LabelFor(m => m.ForChangedPwd, "AllowAttempt :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.AllowAttempt, new { @class = "popup-content-textbox must" })</div>
                    </div>
                    <div class="content_margine row3">
                        <div class="row3 content_margine">@Html.LabelFor(m => m.BadLogin, "BadLogin :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.BadLogin, new { @class = "popup-content-textbox must" })</div>
                    </div>
                    <div class="row3 content_margine">
                        <label class="popup-content-label">MultipleLogin :</label>
                        <div class="popup_radio_button">
                            <input type="radio" id="radio1" name="MultipleLogin" value="true" /><label for="radio1">Yes</label>
                            <input type="radio" id="radio2" name="MultipleLogin" value="false" checked="checked" /><label for="radio2">No</label>
                        </div>
                    </div>
                    <div class="row3 content_margine">
                        <label class="popup-content-label">Suspend :</label>
                        <div class="popup_radio_button">
                            <input type="radio" id="radio35" name="Suspend" value="true" /><label for="radio35">Yes</label>
                            <input type="radio" id="radio36" name="Suspend" value="false" checked="checked" /><label for="radio36">No</label>
                        </div>
                    </div>
                    <div class="row3 content_margine">
                        <label class="popup-content-label">StartNumericAppl :</label>
                        <div class="popup_radio_button">
                            <input type="radio" id="radio33" name="StartNumericAppl" value="true" /><label for="radio33">Yes</label>
                            <input type="radio" id="radio34" name="StartNumericAppl" value="false" checked="checked" /><label for="radio34">No</label>
                        </div>
                    </div>

                </div>
            </div>
            <div class="pwdmrgn">
                <div class="row3 content_margine">
                    <label class="popup-content-label">DualAuthenticationAppl :</label>
                    <div class="popup_radio_button">
                        <input type="radio" id="radio15" name="DualAuthenticationAppl" value="true" /><label for="radio15">Yes</label>
                        <input type="radio" id="radio16" name="DualAuthenticationAppl" value="false" checked="checked" /><label for="radio16">No</label>
                    </div>
                </div>
            </div>
            <div class="pwdmrgn">
                <div class="section_Method">
                    <div class="row3 content_margine">
                        <label class="popup-content-label">OTPRetainDaysAppl :</label>
                        <div class="popup_radio_button">
                            <div class="all_radio_button">
                                <input type="radio" id="radio43" name="OTPRetainDaysAppl" value="true" /><label for="radio43">Yes</label>
                                <input type="radio" id="radio44" name="OTPRetainDaysAppl" value="false" checked="checked" /><label for="radio44">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="content_margine row3">
                        <div class="row3 content_margine">@Html.LabelFor(m => m.OTPRetainDays, "OTPRetainDays :", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.OTPRetainDays, new { @class = "popup-content-textbox must " })</div>
                    </div>
                    <div class="content_margine row3">
                        <div class="row3 content_margine">@Html.LabelFor(m => m.OldPwdAllowCount, "OldPwdAllowCount :", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.OldPwdAllowCount, new { @class = "popup-content-textbox must" })</div>
                    </div>

                    <div class="content_margine row3">
                        <div class="row3 content_margine">@Html.LabelFor(m => m.PwdStregth, "PasswordStregth :", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.PwdStregth, new { @class = "popup-content-textbox must" })</div>
                    </div>
                    <div class="content_margine row3">
                        <div class="row3 content_margine">@Html.LabelFor(m => m.MinLowCharsStrength, "MinLowCharsStrength :", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.MinLowCharsStrength, new { @class = "popup-content-textbox must " })</div>
                    </div>
                    <div class="content_margine row3">
                        <div class="row3 content_margine">@Html.LabelFor(m => m.MinUpCharsStrength, "MinUpCharsStrength :", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.MinUpCharsStrength, new { @class = "popup-content-textbox must " })</div>
                    </div>
                    <div class="content_margine row3">
                        <div class="row3 content_margine">@Html.LabelFor(m => m.SecurityRetryCount, "SecurityRetryCount :", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.SecurityRetryCount, new { @class = "popup-content-textbox must" })</div>
                    </div>

                    <div class="content_margine row3">
                        <div class="row3 content_margine">@Html.LabelFor(m => m.SecurityExpiryTimeSec, "SecurityExpiryTimeSec :", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.SecurityExpiryTimeSec, new { @class = "popup-content-textbox must " })</div>
                    </div>

                    <div class="row3 content_margine">
                        <label class="popup-content-label">Lock :</label>
                        <div class="popup_radio_button">
                            <div class="all_radio_button">
                                <input type="radio" id="radio25" name="Lock" value="true" /><label for="radio25">Yes</label>
                                <input type="radio" id="radio26" name="Lock" value="false" checked="checked" /><label for="radio26">No</label>
                            </div>
                        </div>
                    </div>
                    @*<div class="content_margine row3">
                            <div class="row3 content_margine">@Html.LabelFor(m => m.OTPOnEmailAppl, "OTPOnEmailAppl :", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.OTPOnEmailAppl, new { @class = "popup-content-textbox " })</div>
                        </div>*@
                    <div class="row3 content_margine">
                        <label class="popup-content-label">OTPOnEmailAppl :</label>
                        <div class="popup_radio_button">
                            <div class="all_radio_button">
                                <input type="radio" id="radio47" name="OTPOnEmailAppl" value="true" /><label for="radio47">Yes</label>
                                <input type="radio" id="radio48" name="OTPOnEmailAppl" value="false" checked="checked" /><label for="radio48">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="row3 content_margine">
                        <label class="popup-content-label">OTPOnMobileAppl :</label>
                        <div class="popup_radio_button">
                            <div class="all_radio_button">
                                <input type="radio" id="radio41" name="OTPOnMobileAppl" value="true" /><label for="radio41">Yes</label>
                                <input type="radio" id="radio42" name="OTPOnMobileAppl" value="false" checked="checked" /><label for="radio42">No</label>
                            </div>
                        </div>
                    </div>

                    <div class="content_margine row3">
                        <div class="row3 content_margine">@Html.LabelFor(m => m.PwdChangedAfterDays, "PwdChangedAfterDays :", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.PwdChangedAfterDays, new { @class = "popup-content-textbox must" })</div>
                    </div>

                    <div class="content_margine row3">
                        <div class="row3 content_margine">@Html.LabelFor(m => m.MinAllowRep, "MinAllowRep :", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.MinAllowRep, new { @class = "popup-content-textbox must" })</div>
                    </div>

                    <div class="content_margine row3">
                        <div class="row3 content_margine">@Html.LabelFor(m => m.LockMin, "LockMin :", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.LockMin, new { @class = "popup-content-textbox must" })</div>
                    </div>

                    <div class="content_margine row3">
                        <div class="row3 content_margine">@Html.LabelFor(m => m.Pwd, "PasswordLengthMax :", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.Pwd, new { @class = "popup-content-textbox must" })</div>
                    </div>
                    <div class="content_margine row3">
                        <div class="row3 content_margine">@Html.LabelFor(m => m.DisallowedChars, "DisallowedChars :", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.DisallowedChars, new { @class = "popup-content-textbox must" })</div>
                    </div>

                    <div class="content_margine row3">
                        <div class="row3 content_margine">@Html.LabelFor(m => m.EmpStatus, "EmployeeStatus :", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.EmpStatus, new { @class = "popup-content-textbox must" })</div>
                    </div>

                    <div class="content_margine row3">
                        <div class="row3 content_margine">@Html.LabelFor(m => m.Sessions, "Sessions :", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.Sessions, new { @class = "popup-content-textbox must " })</div>
                    </div>

                    <div class="content_margine row3">
                        <div class="row3 content_margine">@Html.LabelFor(m => m.OTPActiveTime, "OTPActiveTime :", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.OTPActiveTime, new { @class = "popup-content-textbox must " })</div>
                    </div>

                    <div class="row3 content_margine">
                        <label class="popup-content-label">OldPwdAllow :</label>
                        <div class="popup_radio_button">
                            <div class="all_radio_button">
                                <input type="radio" id="radio3" name="OldPwdAllow" value="true" /><label for="radio3">Yes</label>
                                <input type="radio" id="radio4" name="OldPwdAllow" value="false" checked="checked" /><label for="radio4">No</label>
                            </div>
                        </div>
                    </div>

                    <div class="row3 content_margine">
                        <label class="popup-content-label">Captcha :</label>
                        <div class="popup_radio_button">
                            <div class="all_radio_button">
                                <input type="radio" id="radio7" name="Captcha" value="true" /><label for="radio7">Yes</label>
                                <input type="radio" id="radio8" name="Captcha" value="false" checked="checked" /><label for="radio8">No</label>
                            </div>
                        </div>
                    </div>

                    <div class="row3 content_margine">
                        <label class="popup-content-label">AllowEncryption :</label>
                        <div class="popup_radio_button">
                            <div class="all_radio_button">
                                <input type="radio" id="radio9" name="AllowEncryption" value="true" /><label for="radio9">Yes</label>
                                <input type="radio" id="radio10" name="AllowEncryption" value="false" checked="checked" /><label for="radio10">No</label>
                            </div>
                        </div>
                    </div>

                    <div class="row3 content_margine">
                        <label class="popup-content-label">CharsOnly :</label>
                        <div class="popup_radio_button">
                            <div class="all_radio_button">
                                <input type="radio" id="radio11" name="CharsOnly" value="true" /><label for="radio11">Yes</label>
                                <input type="radio" id="radio12" name="CharsOnly" value="false" checked="checked" /><label for="radio12">No</label>
                            </div>
                        </div>
                    </div>

                    <div class="row3 content_margine">
                        <label class="popup-content-label">DefaultPasswordChangeInit :</label>
                        <div class="popup_radio_button">
                            <div class="all_radio_button">
                                <input type="radio" id="radio13" name="DefaultPasswordChangeInit" value="true" /><label for="radio13">Yes</label>
                                <input type="radio" id="radio14" name="DefaultPasswordChangeInit" value="false" checked="checked" /><label for="radio14">No</label>
                            </div>
                        </div>
                    </div>             
                    <div class="row3 content_margine">
                        <label class="popup-content-label">IsPasswordSecurityAppl :</label>
                        <div class="popup_radio_button">
                            <div class="all_radio_button">
                                <input type="radio" id="radio23" name="IsPasswordSecurityAppl" value="true" /><label for="radio23">Yes</label>
                                <input type="radio" id="radio24" name="IsPasswordSecurityAppl" value="false" checked="checked" /><label for="radio24">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="row3 content_margine">
                        <label class="popup-content-label">IsPasswordRotationSecurity :</label>
                        <div class="popup_radio_button">
                            <div class="all_radio_button">
                                <input type="radio" id="radio21" name="IsPasswordRotationSecurity" value="true" /><label for="radio21">Yes</label>
                                <input type="radio" id="radio22" name="IsPasswordRotationSecurity" value="false" checked="checked" /><label for="radio22">No</label>
                            </div>
                        </div>
                    </div>

                    <div class="row3 content_margine">
                        <label class="popup-content-label">Forgot :</label>
                        <div class="popup_radio_button">
                            <div class="all_radio_button">
                                <input type="radio" id="radio17" name="Forgot" value="true" /><label for="radio17">Yes</label>
                                <input type="radio" id="radio18" name="Forgot" value="false" checked="checked" /><label for="radio18">No</label>
                            </div>
                        </div>
                    </div>

                    <div id="MYdiv1">
                        <div class="row3 content_margine">
                            <label class="popup-content-label">PasswordSecurityQuestion :</label>
                            <div class="popup_radio_button">
                                <div class="all_radio_button">
                                    <input type="radio" id="radio31" name="PasswordSecurityQuestion" value="true" /><label for="radio31">Yes</label>
                                    <input type="radio" id="radio32" name="PasswordSecurityQuestion" value="false" checked="checked" /><label for="radio32">No</label>
                                </div>
                            </div>
                        </div>

                        <div class="row3 content_margine">
                            <label class="popup-content-label">PasswordOTPAppl :</label>
                            <div class="popup_radio_button">
                                <div class="all_radio_button">
                                    <input type="radio" id="radio39" name="PasswordOTPAppl" value="true" /><label for="radio39">Yes</label>
                                    <input type="radio" id="radio40" name="PasswordOTPAppl" value="false" checked="checked" /><label for="radio40">No</label>
                                </div>
                            </div>
                        </div>

                        <div class="row3 content_margine">
                            <label class="popup-content-label">PasswordRandomNoGenAppl :</label>
                            <div class="popup_radio_button">
                                <div class="all_radio_button">
                                    <input type="radio" id="radio29" name="PasswordRandomNoGenAppl" value="true" /><label for="radio29">Yes</label>
                                    <input type="radio" id="radio30" name="PasswordRandomNoGenAppl" value="false" checked="checked" /><label for="radio30">No</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row3 content_margine">
                        <label class="popup-content-label">IsLoginSecurityAppl :</label>
                        <div class="popup_radio_button">
                            <div class="all_radio_button">
                                <input type="radio" id="radio19" name="IsLoginSecurityAppl" value="true" /><label for="radio19">Yes</label>
                                <input type="radio" id="radio20" name="IsLoginSecurityAppl" value="false" checked="checked" /><label for="radio20">No</label>
                            </div>
                        </div>
                    </div>

                    <div id="MYdiv">
                        <div class="row3 content_margine">
                            <label class="popup-content-label">LoginSecurityQuestionAppl :</label>
                            <div class="popup_radio_button">
                                <div class="all_radio_button">
                                    <input type="radio" id="radio27" name="LoginSecurityQuestionAppl" value="true" /><label for="radio27">Yes</label>
                                    <input type="radio" id="radio28" name="LoginSecurityQuestionAppl" value="false" checked="checked" /><label for="radio28">No</label>
                                </div>
                            </div>
                        </div>
                        <div class="row3 content_margine">
                            <label class="popup-content-label">LoginOTPAppl :</label>
                            <div class="popup_radio_button">
                                <div class="all_radio_button">
                                    <input type="radio" id="radio45" name="LoginOTPAppl" value="true" /><label for="radio45">Yes</label>
                                    <input type="radio" id="radio46" name="LoginOTPAppl" value="false" checked="checked" /><label for="radio46">No</label>
                                </div>
                            </div>
                        </div>
                        <div class="row3 content_margine">
                            <label class="popup-content-label">LoginRandomNoGenAppl :</label>
                            <div class="popup_radio_button">
                                <div class="all_radio_button">
                                    <input type="radio" id="radio37" name="LoginRandomNoGenAppl" value="true" /><label for="radio37">Yes</label>
                                    <input type="radio" id="radio38" name="LoginRandomNoGenAppl" value="false" checked="checked" /><label for="radio38">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="content_margine row3">
                    <div class="row3 content_margine">@Html.LabelFor(m => m.Authority, "Authority :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Authority, new { @class = "popup-content-textbox must" })</div>
                </div>*@

            @*<div class="row3 content_margine">
                    <label class="popup-content-label">SecurityQuestion :</label>
                    <div class="popup_radio_button">
                        <input type="radio" id="radio5" name="SecurityQuestion" value="true" /><label for="radio5">Yes</label>
                        <input type="radio" id="radio6" name="SecurityQuestion" value="false" checked="checked" /><label for="radio6">No</label>
                    </div>
                </div>*@
        </form>
    </div>
</div>