@{
    ViewBag.Title = "Emp App Evaluation";
}
@model   Appraisal.EmpAppEvaluation

<!DOCTYPE html>

<html>
<head>
    <title></title>

    <style>
        .icon-row {
            position: relative;
            left: 95px;
            top: -150px;
        }

        #load_emp {
            margin-left: 372px;
            height: 22px;
            top: -21px;
        }

        .transactiontablenew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            /*width: 200px;*/
            display: block;
            overflow: auto;
            height: 500px;
            border-collapse: collapse;
        }

        .transactiondivnew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            width: 507px;
            border-radius: 5px;
            height: 32px;
        }

            .transactiondivnew > div {
                display: inline-block;
                margin: 0 auto;
                padding: 4px;
            }

                .transactiondivnew > div > input {
                    box-sizing: initial;
                    display: inline-block;
                    margin: 0 auto;
                    width: 108px;
                }

        .transactiontablenew th, .transactiontablenew td {
            background: rgba(246, 246, 246, 0.64) none repeat scroll 0 0;
            padding: 5px;
            border-bottom: 1px solid #c5c5c5;
            border-right: 1px solid #c5c5c5;
            text-align: center;
            color: rgba(114, 113, 113, 0.9);
        }

            .transactiontablenew th:nth-child(1) > input, .transactiontablenew td:nth-child(1) > input {
                margin: 0 auto;
            }

            .transactiontablenew th:nth-child(2), .transactiontablenew td:nth-child(2) {
                height: 100%;
                width: 100%;
            }

        .transactiontablenew tr:hover {
            cursor: pointer;
            background: #EEEEEE none repeat scroll 0 0;
        }

        .section1_Leave {
            display: block;
            border: 1.5px solid rgba(207, 207, 207, 0.91);
            height: 688px;
            width: 534px;
            margin: 4px auto;
            position: absolute;
        }

        .section2_Leave {
            display: block;
            border: 1px solid #ddd;
            height: 250px;
            width: 610px;
            margin: 5px 4px;
            position: absolute;
            left: 546px;
        }


        #BusinessType-button {
            font-size: 9px;
            padding-top: 1px;
            font-weight: bold;
        }

        .popup-content-label {
            width: 138px;
            display: block;
            float: left;
            margin: 1px;
        }

        .popup-content-label-2 {
            width: 100px;
            display: block;
            float: left;
            margin: 1px;
        }

        .section1_Leave {
            display: block;
            border: 1.5px solid rgba(207, 207, 207, 0.91);
            height: 688px;
            width: 534px;
            margin: 4px auto;
            position: absolute;
        }

        .section2_Leave {
            display: block;
            border: 2px solid #ddd;
            height: 789px;
            width: 509px;
            margin: 5px 4px;
            position: absolute;
            left: 546px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 150px;
        }

        .row3 {
            width: 471px;
        }

        .row4 {
            position: absolute;
            top: 294px;
            width: 400px;
        }

        .row6 {
            width: 370px;
            display: inline-block;
        }

        .popup-content-textbox-long {
            margin-bottom: 1px;
            width: 290px;
        }



        .row2 {
            width: 402px;
        }
    </style>
</head>

<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <div style="float:left;width:337px">
                    <label id="lblBatchName" class="popup-content-label must">Batch Name:</label>
                    <input name="txtPBatchName" type="text" id="txtPBatchName" class="date-picker" />
                    <input type="text" id="BatchName_id" name="BatchName_id" class="filter_structure_id" />
                    @*<button data-p2btooltip="Lookup FinancialYear Details" class="button popup-content-icon-lookup" id="Lookup_BatchName"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>*@
                    <div class="icon-row">
                        <button data-p2btooltip="Lookup Appraisal BatchName" class="  popup-content-icon-lookup" id="Lookup_BatchName" style="top:128px;left:232px"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>

                    </div>
                </div>
                @*<div style="float:left">
                        <label id="lblPayMonth" class="popup-content-label must">PayMonth:</label>
                        <input name="txtPayMonth" type="text" id="txtPayMonth" class="date-picker" />
                    </div>
                    <button class="button" id="Load">Load</button>*@

                <span>
                    <button class="button" id="Load">Load</button>
                    <button class="button" id="Create">Add</button>
                </span>
                @*<button class="button" id="Btn-Upload-Data">Upload</button>*@
                @*<button class="button" id="Delete">Delete</button>*@
                @*<button class="button" id="release">Release</button>*@

            </div>
        </div>
    </div>

    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv" id="Lookup"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>

    <div id="Grid_Form">
        <div>
            <div id="Container" class="container">
                <div id="Demo">
                    <table id="MyTable" class="display" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>DD</th>

                                <th>Code</th>
                                <th>Name</th>
                                @*<th>JoiningDate</th>*@
                                <th>Job</th>
                                <th>Grade</th>
                                <th>Location</th>
                                <th>ID</th>
                            </tr>
                        </thead>
                        @*<tfoot>
                                <tr>
                                    <th>DD</th>
                                    <th>ID</th>
                                    <th>EmployeeCode</th>
                                    <th>EmployeeName</th>
                                </tr>
                            </tfoot>*@
                    </table>
                </div>
            </div>
            @*<table id="JqGrid"></table>
                <div id="pager2"></div>*@
        </div>
    </div>

    <div id="Create_Dialog">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmEmpAppEvaluation", name = "frmEmpAppEvaluation" }))
        {
            <div class="section_Method">
                <div class="heading">Appraisal Calendar Details</div>
                <div class="row3 content_margine">

                    <label id="lblAppCalendar" class="popup-content-label must">Appraisal Calendar:</label>
                    <select id="AppCalendardrop" style="width:290px" name="AppCalendardrop" class="drop must"></select>

                </div>
            </div>
            <div class="section_Method">
                <div class="heading">Appraisal Schedule Details</div>

                <label id="lblPayMonth" class="popup-content-label must">Schedule Name:</label>
                <input name="txtPayMonth1" type="text" id="txtPayMonth1" />
                <input type="text" id="Batch_Name1" name="Batch_Name1" class="filter_structure_id must" />

                <div class="icon-row">
                    <button data-p2btooltip="Lookup AppraisalSchedule Details" class="  popup-content-icon-lookup" id="Lookup-AppraisalSchedule-AppraisalPublishT" style="top:128px;left:210px"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    @*<button data-p2btooltip="Create AppraisalSchedule Details" class="  popup-content-icon-create" id="Create-AppraisalSchedule-AppraisalSchedule" style="top:128px;left:235px"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>*@
                </div>
                <button class="button" id="load_emp">LOAD</button><br />
            </div>
            <div class="section_Method" id="Section_Emp" style="margin-top:8px;">
                <div class="heading" style="width:1065px">Employee List</div>

                <div class="employeeselectiondiv">
                    <div class="transactiondivnew dynamic addons" style="float:left" id="asd">
                        <div><label>Search : </label><input type="text" id="Employee-Search" style="width: 425px;" /></div>
                        <table cellspacing="0" cellpadding="1" class="transactiontablenew" id="Employee-Table" style="height: 758px">
                            <tr><th><input type="checkbox" id="Case-Employee" class="Chck_emp" /></th><th>Employee</th></tr>
                        </table>
                        @*<span class="btn-span1" aria-hidden="true">
                                <button id="load_emp" class="loan-btn">Load Employee</button>
                            </span>*@
                    </div>
                    @*<input name="geo_id" type="text" id="geo_id" class="struct_input_val" style="display:none" />                             s
                        <input name="pay_id" type="text" id="pay_id" class="struct_input_val" style="display:none" />
                        <input name="fun_id" type="text" id="fun_id" class="struct_input_val" style="display:none" />*@
                </div>
            </div>

            <input id="Emp" class="filter_structure_id" name="Employee-Table" />
            <div class="section2_Leave">
                <div class=" " style="width: 506px;">

                    <input id="Autho_Action" type="hidden" name="Autho_Action" />
                    <input id="Autho_Allow" type="hidden" name="Autho_Allow" />

                    <div id="Grid_Form1">
                        <div>
                            <table id="JqGridNew1"></table>
                            <div id="JqGridNew_pager1"></div>
                        </div>
                    </div>
                    <br />


                    @*<div class="row3 content_margine">

                            <label class="popup-content-label">Yearly Program Assignment</label>
                            <input type="text" hidden id="dispcalender_id" name="FinancialYearList" />
                            <input type="text" readonly id="dispcalender" name="" style="width:250px" />


                        </div>*@


                    @*<div class="row3 content_margine">
                        <div id="EmpAppRatingConclusionlist_old"></div>@Html.LabelFor(m => m.YearlyProgramAssignment, "Yearly Program Assignment    :", new { @class = "popup-content-label" })
                        <div class="popup-content-table">
                            <table class="lookuptableselected" id="YearlyProgramAssignmentlist">
                                <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                            </table>
                        </div>
                        <div class="icon-row">
                            <button data-p2btooltip="Lookup " class="  popup-content-icon-lookup" id="Lookup-YearlyProgramAssignment-EmpAppEvaluation"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                            @*<button data-p2btooltip="Create " class="  popup-content-icon-create" id="Create-YearlyProgramAssignment-EmpAppEvaluation"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Edit " class="  popup-content-icon-edit" id="Edit-YearlyProgramAssignment-EmpAppEvaluation"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>*@
                    @* <button data-p2btooltip="Remove " class="  popup-content-icon-remove" id="Remove-YearlyProgramAssignment-EmpAppEvaluation"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                            </div>
                        </div>*@



                    <div class="row3 content_margine">
                        <div id="EmpAppRatingConclusionlist_old"></div>@Html.LabelFor(m => m.EmpAppRatingConclusion, "Employee Appraisal Rating   :", new { @class = "popup-content-label" })
                        <div class="popup-content-table">
                            <table class="lookuptableselected" id="EmpAppRatingConclusionlist" style="width:440px">
                                <tr><th>Id</th><th style="width:487px"> lookup selected description</th></tr>
                            </table>
                        </div>
                        <div class="icon-row">
                            @*<button data-p2btooltip="Lookup " class="  popup-content-icon-lookup" id="Lookup-EmpAppRatingConclusion-EmpAppEvaluation"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>*@
                            @*<button data-p2btooltip="Create " class="  popup-content-icon-create" id="Create-EmpAppRatingConclusion-EmpAppEvaluation"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                                <button data-p2btooltip="Edit " class="  popup-content-icon-edit" id="Edit-EmpAppRatingConclusion-EmpAppEvaluation"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>*@
                            @*<button data-p2btooltip="Remove " class="  popup-content-icon-remove" id="Remove-EmpAppRatingConclusion-EmpAppEvaluation"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>*@
                        </div>
                    </div>

                    <div class="row3 content_margine">@Html.LabelFor(m => m.MaxPoints, "Max Points  :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.MaxPoints, new { @class = "popup-content-textbox must", @readonly = "readonly" })</div>
                    <div class="row3 content_margine">@Html.LabelFor(m => m.SecurePoints, "Secure Points  :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.SecurePoints, new { @class = "popup-content-textbox must", @readonly = "readonly" })</div>
                    <div class="row3 content_margine">@Html.LabelFor(m => m.IncPercent, "Percentile  :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.IncPercent, new { @class = "popup-content-textbox must" })</div>

                    <div class="row3 content_margine">@Html.LabelFor(m => m.HRComments, "Comments  :", new { @class = "popup-content-label  " })@Html.TextBoxFor(m => m.HRComments, new { @class = "popup-content-textbox " })</div>
                    <br>
                    <div class="row1 content_margine horizontal_row1">
                        @Html.LabelFor(m => m.IsRecommendDiscussion, "HR Recommended the further Discussion  :", new { @class = "popup-content-label" })
                        <div class="popup_radio_button radio_button_div_1">
                            <span class="popup_radio_button radio_button_div_1">
                                <input type="radio" id="radio1" name="IsRecommendDiscussion" value="true" /><label class="ui-corner-left" for="radio1">Yes</label>
                                <input type="radio" id="radio2" name="IsRecommendDiscussion" value="false" /><label class="ui-corner-right" for="radio2">No</label>
                            </span>
                        </div>
                    </div>
                    <br><br>

                    <div class="row6 content_margine">
                        @Html.LabelFor(m => m.DiscussionSchedule, "Date Dive:", new { @class = "popup-content-label  must " })@Html.TextBoxFor(m => m.DiscussionSchedule, new { @class = "popup-content-textbox date must " })
                    </div>
                    <br>
                    <div class="row3 content_margine">@Html.LabelFor(m => m.DiscussionNode, "Discussion Note  :", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.DiscussionNode, new { @class = "popup-content-textbox  " })</div>
                    <br>
                    <div class="row1 content_margine horizontal_row1">
                        @Html.LabelFor(m => m.HrRecommendIncrement, "Hr Recommended for Increment  :", new { @class = "popup-content-label" })
                        <div class="popup_radio_button radio_button_div_1">
                            <span class="popup_radio_button radio_button_div_1">
                                <input type="radio" id="radio3" name="HrRecommendIncrement" value="true" /><label class="ui-corner-left" for="radio3">Yes</label>
                                <input type="radio" id="radio4" name="HrRecommendIncrement" value="false" /><label class="ui-corner-right" for="radio4">No</label>
                            </span>
                        </div>
                    </div>
                    <br><br>
                    <div class="add_row content_margine  ">
                        @Html.LabelFor(m => m.ScorePercentage, "Score Percentage  :", new { @class = "popup-content-label must" })  @Html.TextBoxFor(m => m.ScorePercentage, new { @class = "popup-content-textbox must" })
                    </div>
                    <br>
                    <div class="row1 content_margine horizontal_row1">
                        @Html.LabelFor(m => m.IsRecommnedPromotion, "Hr Recommended for Promotion  :", new { @class = "popup-content-label" })
                        <div class="popup_radio_button radio_button_div_1">
                            <span class="popup_radio_button radio_button_div_1">
                                <input type="radio" id="radio5" name="IsRecommnedPromotion" value="true" /><label class="ui-corner-left" for="radio5">Yes</label>
                                <input type="radio" id="radio6" name="IsRecommnedPromotion" value="false" /><label class="ui-corner-right" for="radio6">No</label>
                            </span>
                        </div>
                    </div>
                    <br>
                    <div class="row1 content_margine horizontal_row1">
                        @Html.LabelFor(m => m.IsRecommendTraining, "Hr Recommended for Tranning  :", new { @class = "popup-content-label" })
                        <div class="popup_radio_button radio_button_div_1">
                            <span class="popup_radio_button radio_button_div_1">
                                <input type="radio" id="radio7" name="IsRecommendTraining" value="true" /><label class="ui-corner-left" for="radio7">Yes</label>
                                <input type="radio" id="radio8" name="IsRecommendTraining" value="false" /><label class="ui-corner-right" for="radio8">No</label>
                            </span>
                        </div>
                    </div>
                    <br>

                    <br>

                    <div class="row1 content_margine horizontal_row1">
                        @Html.LabelFor(m => m.IsTrClose, "Appraisal Completed :", new { @class = "popup-content-label" })
                        <div class="popup_radio_button radio_button_div_1">
                            <span class="popup_radio_button radio_button_div_1">
                                <input type="radio" id="radio9" name="IsTrClose" value="true" /><label class="ui-corner-left" for="radio9">Yes</label>
                                <input type="radio" id="radio10" name="IsTrClose" value="false" /><label class="ui-corner-right" for="radio10">No</label>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="emplist_row">
                <div id="Grid_Form2">

                </div>
            </div>
        }
    </div>
    <div>

    </div>
</body>
</html>


<script>
    $(document).ready(function (e) {
        $('.popup_radio_button').controlgroup();
        $('.date').P2BDatePicker();
        $('.date').attr('readonly', 'readonly');
        $('button').button();
        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;
        var btndisablenames = "#Remove-EmpAppRatingConclusion-EmpAppEvaluation, #Edit-EmpAppRatingConclusion-EmpAppEvaluation";
        var namelookuptable = '#EmpAppRatingConclusionlist';
        ColModel = ['Id', 'Max Rating Points'];
        ColNames = ['Id', 'Max Rating Points'];
        SortName = 'Id';
        Caption = 'Appraisal HR Evaluation';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;
        //  $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);

        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }

        var inline_ColNames = [];
        var inline_ColModel = [];
        var inline_SortName, inline_Caption, inline_url, inline_width, inline_height;
        inline_ColModel = ['Id', 'ScheduleBatchName', 'MaxPoints', 'SecurePoints', 'Percentile', 'Comments', 'Editable'];
        inline_ColNames = ['Id', 'ScheduleBatchName', 'SecurePoints', 'Percentile', 'Comments', 'Editable'];
        inline_SortName = 'ID';
        inline_Caption = 'Employee List';
        inline_url = '@Url.Action("LoadEmp")';
        inline_width = 800;
        inline_height = 150;

        $('#MyTable').MultiLevelInlineEditGrid({
            url: "@Url.Action("Emp_Grid")",
            htmurl: "@Url.Action("partial", "EmpAppEvaluation")",
            columnname: ["Code", "Name", /*"JoiningDate",*/ "Job", "Grade", "Location", "Id"],
            childheader: ['MaxPoints', 'SecurePoints', 'Percentile', 'Comments', 'Id'],
            childurl: "@Url.Action("Get_AppAssignData", "EmpAppEvaluation")",
            tableheader: "Emp AppRating Conclusion",
            childurlColumnNo: "6"
        });

        $.DataTableChildManipulation = function (init, id, parentid, htmurl, editurl, submiturl) {
            var parent_element = $(init).parents('td:last').parent().prev();
            var parentid = $(parent_element).find('td:eq(1)').html();
            console.log(parentid);
            //console.log(parent_element.find('td:eq(1)'));
            // var parentId = parent_element.find('td:eq(1)').html();
            var dt = $('#MyTable').DataTable();
            // console.log(dt.child.row(0));
            //dt.child.row()



            var htmlcomponant = {
                init: init,
                Id: id,
                idx: parentid,
                htmurl: htmurl,
                editurl: editurl,
                submiturl: submiturl,
            };
            if ($(init).hasClass('ui-icon-newwin1')) {
                $('<div></div>').PartialCreateDialog({
                    height: 'auto',
                    width: 'auto',
                    form: "#Edit-EmpAppRatingConcl",
                    htmlurl: "@Url.Action("GridPartial1", "EmpAppRatingConclusion")",
                    state: "open",
                    mode: "View",
                    editurl: "@Url.Action("GridEditData1", "EmpAppRatingConclusion")",
                    submiturl: "@Url.Action("GridEditSave1", "EmpAppRatingConclusion")",
                    editdata: id,
                    forwarddata: id,
                    returndatafunction: function (returndata) {
                        $.each(returndata.returndata, function (i, k) {
                            $('#RatingPoints-edit').val(k.RatingPoints);
                            $('#Comments-edit').val(k.Comments);


                        });
                    },
                });
            } else if ($(init).hasClass('ui-icon-pencil')) {
                // //debugger
                // alert(parentid);
                $('<div></div>').PartialCreateDialog({
                    height: 'auto',
                    width: '35%',
                    form: "#frmEmpAppEvaluationPartial",
                    htmlurl: "@Url.Action("GridPartial", "EmpAppEvaluation")",
                    state: "open",
                    mode: "Edit",
                    editurl: "@Url.Action("GridEditData", "EmpAppEvaluation")",
                    submiturl: "@Url.Action("GridEditSave", "EmpAppEvaluation")",
                    editdata: id,
                    forwarddata: id,
                    returndatafunction: function (returndata) {
                        $.each(returndata.returndata, function (i, k) {
                            $('#Partial_SecurePoints').val(k.SecurePoints)
                            $('#Partial_maxpoint').val(k.MaxPoints)
                            $('#Partial_ScorePercentage').val(k.ScorePercentage)
                            $('#Partial_DiscussionNode').val(k.DiscussionNote)
                            $('#Partial_DateDrive').val(k.DateDrive);
                            $('#Partial_IncPercent').val(k.Percentile)
                            $('[name="IsRecommendDiscussion1"]').val([k.HrRecommendation]).button().button("refresh");
                            $('[name="HrRecommendIncrement2"]').val([k.HrRecommendedforincrement]).button().button("refresh");
                            $('[name="IsRecommnedPromotion1"]').val([k.HrRecommendedforPromotion]).button().button("refresh");
                            $('[name="IsRecommendTraining1"]').val([k.HrRecommendedforTraining]).button().button("refresh");
                            $('[name="IsTrClose1"]').val([k.AppraisalCompleted]).button().button("refresh");
                            //$('#Partial_maxpoint').val(k.HrRecommendation)
                            //$('#Partial_maxpoint').val(k.HrRecommendedforincrement)
                            //$('#Partial_maxpoint').val(k.HrRecommendedforPromotion)
                            //$('#Partial_maxpoint').val(k.HrRecommendedforTraining)
                            //$('#Partial_maxpoint').val(k.AppraisalCompleted)
                            $('#Partial_HRComments').val(k.Comments)
                        });
                    },
                    submitfun: function (data) {
                        var row = dt.row(parent_element);
                        if (row.child.isShown()) {
                            parent_element.removeClass('details');
                            row.child.hide();
                        }
                    }
                });
            } else if ($(init).hasClass('ui-icon-trash')) {
                // alert(parentid);
                // alert(id);
                $('<div></div>').PartialCreateDialog({
                    state: "open",
                    mode: "Delete",
                    submiturl: "@Url.Action("GridDelete")",
                    forwarddata: [id, parentid],
                    submitfun: function (data) {
                        var row = dt.row(parent_element);
                        if (row.child.isShown()) {
                            parent_element.removeClass('details');
                            row.child.hide();
                        }
                    }
                });
            }
        };

        $('#Get-edited-data').on('click', function (e) {
            if (modified_data.data.length > 0) {
                console.log(modified_data.data);
            }
            e.preventDefault();
        });

        function DateConvert(JsonDate) {
            var date = new Date(parseInt(JsonDate.substr(6)));
            var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
            return displayDate;
        };
        $("#MaxPoints").ForceOnlyNumeric().MaxLength(8);
        $("#SecurePoints").ForceOnlyNumeric().MaxLength(8);
        $("#IncPercent").ForceOnlyNumeric().MaxLength(5);
        $("#ScorePercentage").ForceOnlyNumeric().MaxLength(5);
        $("#HRComments").MaxLength(30);
        $("#DiscussionNode").MaxLength(30);

        $.LocalStorageHelper("CreateClickEmpAppRatingConclusion", false);
        $('#Create_Dialog').P2BGridDialog();

        $('#Create').on("click", function (event) {
            $('#Employee-Table').fadeIn();
            $('#asd').fadeIn();
            $('.heading').fadeIn();
            $('#frmEmpAppEvaluation').trigger("reset");




            //  $.LoadEmpByDefault();

            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create Employee Appraisal Evaluation', 'open', '@Url.Action("Create")', '#frmEmpAppEvaluation', 'Message :', 'Request Falied :', '#JqGrid', 650, 1095, namelookuptable, btndisablenames, function (data) { });

            $('#Employee-Table').on('click', 'input:checkbox:gt(0)', function (e) {
                //  $('input[type="checkbox"]').not(this).prop("checked", false);
                $('#EmpAppRatingConclusionlist tr:gt(0)').remove();
                if (this.checked) {

                    var id = $(this).val();
                    var SchName = $("input[name=txtPayMonth1]").val();
                    $("#Emp").val(id);
                    console.log(id);

                    $.ajax({
                        method: "Post",
                        data: { 'data': id, 'SchName': SchName },
                        url: '@Url.Action("CheckData", "EmpAppEvaluation")',

                        success: function (data) {
                            $.each(data[1], function (i, k) {
                                $('#EmpAppRatingConclusionlist').P2BLookUpEncapsulate('#EmpAppRatingConclusionlist', 'EmpAppRatingConclusionlist', k.AprId, k.Aprdatadet +" "+ k.Apprentryby, 'EmpAppRatingConclusionlist', ' ', 'A');

                            });


                            $("#MaxPoints").val(data[2]);
                            $("#SecurePoints").val(data[3]);
                            $('#ScorePercentage').val(data[4]);
                        },

                    })



                }

            });



            $('#DiscussionSchedule').attr('readonly', true);
            $('#MaxPoints').attr('readonly', true);
            $('#SecurePoints').attr('readonly', true);
            $('#ScorePercentage').attr('readonly', true);


            event.preventDefault();
        });

        //var myArray = [];
        //let getTableValue = function () {
        //    $('#EmpAppRatingConclusionlist tr').each(function () {
        //        var currRows = $(this);
        //        var col1 = currRows.find("td:gt()").text();

        //        var myOBJ = {};
        //        myOBJ.col = col1;

        //        myArray.push(JSON.stringify(myOBJ));



        //    });
        //    var ln = myArray.length-1;

        //    alert(myArray[ln]+" "+ln);
        //}



        // $('#Edit_dialog').P2BCreateDialog();
        //$('#Create_Dialog').P2BCreateDialog();
        $('#Edit').on('click', function () {
            $('#frmAppraisalPublish').trigger('reset');
            AssignData();
            $('#Employee-Table').fadeOut();
            $('#asd').fadeOut();
            $('.heading').fadeOut();


            //$('#Edit_dialog').P2BEditModalDialog('@@Url.Action("Edit")', dt.Id, '@@Url.Action("EditSave")', "Edit AppraisalPublish", '#frmEmpAppEvaluation', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 650, 574, ' ', "", function (data) {
            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit Employee Appraisal Evaluation", '#frmEmpAppEvaluation', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 650, 1095, ' ', "", function (data) {
                //  $('#DiscussionSchedule').attr('readonly', true);
                //   $.each(data[0], function (i, k) {
                var k = data[0];
                $('.Emp_name').val(k.aa);
                $('.transactiontablenew').val(k.HRComments);
                $('#HRComments').val(k.HRComments);
                $('#IncPercent').val(k.IncPercent);
                $('#MaxPoints').val(k.MaxPoints);
                $('#SecurePoints').val(k.SecurePoints);
                $('#ScorePercentage').val(k.ScorePercentage);
                $('#DiscussionNode').val(k.DiscussionNode);

                if (k.DiscussionSchedule != null) {
                    $('#DiscussionSchedule').val(DateConvert(k.DiscussionSchedule));
                }

                $('[name="IsRecommendDiscussion"]').val([k.IsRecommendDiscussion]).button().button("refresh");
                $('[name="HrRecommendIncrement"]').val([k.HrRecommendIncrement]).button().button("refresh");
                $('[name="IsRecommnedPromotion"]').val([k.IsRecommnedPromotion]).button().button("refresh");
                $('[name="IsRecommendTraining"]').val([k.IsRecommendTraining]).button().button("refresh");
                $('[name="IsTrClose"]').val([k.IsTrClose]).button().button("refresh");
                //   });
                var test = data[2];
                console.log(test[0]);
                $.each(data[2], function (i, k) {
                    $('#EmpAppRatingConclusionlist').P2BLookUpEncapsulate('#EmpAppRatingConclusionlist', 'EmpAppRatingConclusionlist', k.EmpAppRatingConclusionDetails_Id, k.EmpAppRatingConclusionDetails_val, 'EmpAppRatingConclusionlist', '#Remove--EmpAppRatingConclusion-EmpAppEvaluation ', 'A');
                    $('#YearlyProgramAssignmentlist').P2BLookUpEncapsulate('#YearlyProgramAssignmentlist', 'YearlyProgramAssignmentlist', k.YearlyTrainingCalendarDetails_Id, k.YearlyTrainingCalendarDetails_val, 'YearlyProgramAssignmentlist', '#Remove-YearlyTrainingCalendar-EmpAppEvaluation', 'A');

                });
                $('#Autho_Allow').val(data[3]); //Compulsory for authorisation
                // }, 2000);
            });
        });

        @*$('#View').button().click(function (event) {
            AssignData();
            $.LoadEmpByDefault();
            $('#Employee-Table').fadeOut();
            $('#asd').fadeOut();
            $('.heading').fadeOut();

            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View Employee Appraisal Evaluation', '#EmpAppRatingConclusionlist,#YearlyProgramAssignmentlist', '', 650, 1095, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {
                $('#DiscussionSchedule').attr('readonly', true);

                var k = data[0];
                $('.Emp_name').val(k.aa);
                $('.transactiontablenew').val(k.HRComments);
                $('#HRComments').val(k.HRComments);
                $('#IncPercent').val(k.IncPercent);
                $('#MaxPoints').val(k.MaxPoints);
                $('#SecurePoints').val(k.SecurePoints);
                $('#ScorePercentage').val(k.ScorePercentage);
                $('#DiscussionNode').val(k.DiscussionNode);

                if (k.DiscussionSchedule != null) {
                    $('#DiscussionSchedule').val(DateConvert(k.DiscussionSchedule));
                }

                $('[name="IsRecommendDiscussion"]').val([k.IsRecommendDiscussion]).button().button("refresh");
                $('[name="HrRecommendIncrement"]').val([k.HrRecommendIncrement]).button().button("refresh");
                $('[name="IsRecommnedPromotion"]').val([k.IsRecommnedPromotion]).button().button("refresh");
                $('[name="IsRecommendTraining"]').val([k.IsRecommendTraining]).button().button("refresh");
                //var test = data[2];
                //console.log(test[0]);
                $.each(data[2], function (i, k) {
                    alert('dfdsfsedfe');
                    console.log(k);
                    $('#EmpAppRatingConclusionlist').P2BLookUpEncapsulate('#EmpAppRatingConclusionlist', 'EmpAppRatingConclusionlist', k.EmpAppRatingConclusionDetails_Id, k.EmpAppRatingConclusionDetails_val, 'EmpAppRatingConclusionlist', '#Remove--EmpAppRatingConclusion-EmpAppEvaluation ', 'A');
                    $('#YearlyProgramAssignmentlist').P2BLookUpEncapsulate('#YearlyProgramAssignmentlist', 'YearlyProgramAssignmentlist', k.YearlyTrainingCalendarDetails_Id, k.YearlyTrainingCalendarDetails_val, 'YearlyProgramAssignmentlist', '#Remove-YearlyTrainingCalendar-EmpAppEvaluation', 'A');

                });
                $('#Autho_Allow').val(data[3]); //Compulsory for authorisation

            });
        });*@

        //View main page
        $('#View').button().click(function (event) {
            AssignData();
            $.LoadEmpByDefault();
            $('#Employee-Table').fadeOut();
            $('#asd').fadeOut();
            $('.heading').fadeOut();
            AssignData();
            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View Corporate Data', '#EmpAppRatingConclusionlist,#YearlyProgramAssignmentlist', '', 650, 1095, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {

                var k = data[0];
                $('.Emp_name').val(k.aa);
                $('.transactiontablenew').val(k.HRComments);
                $('#HRComments').val(k.HRComments);
                $('#IncPercent').val(k.IncPercent);
                $('#MaxPoints').val(k.MaxPoints);
                $('#SecurePoints').val(k.SecurePoints);
                $('#ScorePercentage').val(k.ScorePercentage);
                $('#DiscussionNode').val(k.DiscussionNode);

                if (k.DiscussionSchedule != null) {
                    $('#DiscussionSchedule').val(DateConvert(k.DiscussionSchedule));
                }

                $('[name="IsRecommendDiscussion"]').val([k.IsRecommendDiscussion]).button().button("refresh");
                $('[name="HrRecommendIncrement"]').val([k.HrRecommendIncrement]).button().button("refresh");
                $('[name="IsRecommnedPromotion"]').val([k.IsRecommnedPromotion]).button().button("refresh");
                $('[name="IsRecommendTraining"]').val([k.IsRecommendTraining]).button().button("refresh");

                var cf = k.EmpAppRatingConclusion[0];
                if (cf != null) {
                    $('#EmpAppRatingConclusionlist').P2BLookUpEncapsulate('#EmpAppRatingConclusionlist', 'EmpAppRatingConclusionlist', cf.Id, cf.FullDetails, 'EmpAppRatingConclusionlist', 'view', 'A');
                }

                //var test = data[2];
                //console.log(test[0]);
                //$.each(data[2], function (i, k) {
                //    alert('dfdsfsedfe');
                //    console.log(k);
                //    $('#EmpAppRatingConclusionlist').P2BLookUpEncapsulate('#EmpAppRatingConclusionlist', 'EmpAppRatingConclusionlist', k.EmpAppRatingConclusionDetails_Id, k.EmpAppRatingConclusionDetails_val, 'EmpAppRatingConclusionlist', '#Remove--EmpAppRatingConclusion-EmpAppEvaluation ', 'A');
                //    $('#YearlyProgramAssignmentlist').P2BLookUpEncapsulate('#YearlyProgramAssignmentlist', 'YearlyProgramAssignmentlist', k.YearlyTrainingCalendarDetails_Id, k.YearlyTrainingCalendarDetails_val, 'YearlyProgramAssignmentlist', '#Remove-YearlyTrainingCalendar-EmpAppEvaluation', 'A');

                //});
                $('#Autho_Allow').val(data[3]); //Compulsory for authorisation
            });
        });

        $('#Delete').button().click(function (event) {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            $('#Create_Dialog').P2BDeleteModalDialog('@Url.Action("Delete")', dt.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
            event.preventDefault();
        });

        @*$('#Lookup-EmpAppRatingConclusion-EmpAppEvaluation').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetAppRatingObjectiveLKDetails", "EmpAppEvaluation")', '', 'LookupDiv', 'Look Up Data', '#EmpAppRatingConclusionlist', 'EmpAppRatingConclusionlist', 10, 'EmpAppRatingConclusionlist', '#frmEmpAppEvaluation', 'A', '#Edit-AppRatingObjective-AppAssignment,#Remove-AppRatingObjective-AppAssignment', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });*@




        $('#Lookup-YearlyProgramAssignment-EmpAppEvaluation').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetyearlytrainingcalendarLKDetails", "EmpAppEvaluation")', '', 'LookupDiv', 'Look Up Data', '#YearlyProgramAssignmentlist', 'YearlyProgramAssignmentlist', 10, 'YearlyProgramAssignmentlist', '#frmEmpAppEvaluation', 'A', '#Edit-AppRatingObjective-AppAssignment,#Remove-AppRatingObjective-AppAssignment', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });


        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-YearlyProgramAssignment-EmpAppEvaluation').button().on("click", function (event) {
            //function (url, maindialogtitle, state, submiturl, submitnameformforserilize, savemessage, errormessage, gridreloadname, height, width, forwarddata, ControlName, event, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, returnfunctiondata) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "YearlyProgramAssignment")', 'Create YearlyProgramAssignment', 'open', '@Url.Action("Create", "YearlyProgramAssignment")', '#frmYearlyProgramAssignmentp', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#frmYearlyProgramAssignmentp', '#Edit-ContactNo-ContDetails,#Remove-ContactNo-ContDetails', function (data) {
                $('#YearlyProgramAssignmentlist').P2BLookUpEncapsulate('#YearlyProgramAssignmentlist', 'YearlyProgramAssignmentlist', data[0], data[1], 'YearlyProgramAssignmentlist', '#Edit-ContactDetails-Corporate,#Remove-ContactDetails-Corporate', 'N');
            });
            event.preventDefault();
        });



        $('#Edit-YearlyProgramAssignment-EmpAppEvaluation').button().on("click", function (event) {
            var a = [], b;
            a = $('#YearlyProgramAssignmentlist').P2BGetTableDataonSelectedRow('#YearlyProgramAssignmentlist', 0);
            b = a[0];
            console.log(b);
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname,                                                                                                                    height, width, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not, returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "YearlyProgramAssignment")', '@Url.Action("Edit", "YearlyProgramAssignment")', b, '@Url.Action("EditSave", "YearlyProgramAssignment")', 'Edit YearlyProgramAssignment Details', '#frmYearlyProgramAssignmentp', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmEmpAppEvaluation', '#YearlyProgramAssignmentlist', 'YearlyProgramAssignmentlist', 'YearlyProgramAssignmentlist', 'N', '#Remove-ContactNo-ContDetails,#Edit-ContactNo-ContDetails', function (data) {
                // setTimeout(function () {
                $.each(data[0], function (i, k) {
                    $('#frmYearlyProgramAssignmentp').trigger('reset');
                    $('#StartDate').val(k.StartDate);
                    if (k.StartDate != null) {
                        $('#StartDate').val(DateConvert(k.StartDate));
                    }
                    $('#EndDate').val(k.EndDate);
                    if (k.EndDate != null) {
                        $('#EndDate').val(DateConvert(k.EndDate));
                    }
                });
                $.each(data[1], function (i, k) {
                    $('#ProgramListlist').P2BLookUpEncapsulate('#ProgramListlist', 'ProgramListlist', k.ProgramList_Id, k.ProgramList_FullAddress, 'ProgramListlist', '', 'N');
                });
                // }, 3000);
            });
            event.preventDefault();
        });



        $('#Remove-YearlyProgramAssignment-EmpAppEvaluation').button().on('click', function (event) {
            //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            //var a = [], b;
            //a = $('#YearlyProgramAssignmentlist').P2BGetTableDataonSelectedRow('#YearlyProgramAssignmentlist', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#YearlyProgramAssignmentlist').P2BGetTableDataonSelectedRow('#YearlyProgramAssignmentlist', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#YearlyProgramAssignmentlist', $('#YearlyProgramAssignmentlist').val(), 200, 200, '#YearlyProgramAssignmentlist', '#YearlyProgramAssignmentlist', '#Edit-Address-Corporate,#Remove-Address-Corporate');
            event.preventDefault();
        });
        //partial page delete
        $('#Remove-EmpAppRatingConclusion-EmpAppEvaluation').button().on('click', function (event) {
            //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            //var a = [], b;
            //a = $('#AddressList').P2BGetTableDataonSelectedRow('#AddressList', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#EmpAppRatingConclusionlist').P2BGetTableDataonSelectedRow('#EmpAppRatingConclusionlist', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#EmpAppRatingConclusionlist', $('#EmpAppRatingConclusionlist').val(), 200, 200, '#frmEmpAppEvaluation', '#EmpAppRatingConclusionlist', '#Edit-Address-Corporate,#Remove-Address-Corporate');
            event.preventDefault();
        });
        $('.drop').selectmenu().selectmenu('menuWidget');
        $('#AppCalendardrop').P2BSelectMenuAppend('@Url.Action("PopulateDropDownListCalendar", "EmpAppEvaluation")', "", '');
        $('#AppraisalAssistancelist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 1068, ""); // To bind dropdown on page load

        $('#load_emp').on('click', function (e) {
            var AppCal = $('#AppCalendardrop').val();
            var SchName = $("input[name=txtPayMonth1]").val();

            $('#Employee-Table').P2BTransactionTableDynamic('#Employee-Search', '#Case-Employee', './EmpAppEvaluation/Get_Employelist?AppCal=' + AppCal + '&SchName=' + SchName + '', "", "false");
            e.preventDefault();
        });

        $('#Lookup-AppraisalSchedule-AppraisalPublishT').on('click', function (e) {
            $('.dialog').AddDataToTextbox({
                appendTo: "#txtPayMonth1",
                appendToId: "#Batch_Name1",
                lookupurl: "@Url.Action("GetAppraisalScheduleDetails", "EmpAppEvaluation")",
                NoOfRecordToShow: "10",
                setnameofthelookupbyppage: "txtPayMonth1",
                LookupDiv: "LookupDiv",
                lookuppagename: "lookup",
                readonly: true,
                pagename: "PageNavPosition",

            });
            e.preventDefault();
        });

        $('#Lookup_BatchName').on('click', function (e) {
            $('.dialog').AddDataToTextbox({
                appendTo: "#txtPBatchName",
                appendToId: "#BatchName_id",
                lookupurl: "@Url.Action("GetAppraisalScheduleDetails", "EmpAppEvaluation")",
                NoOfRecordToShow: "10",
                setnameofthelookupbyppage: "txtPBatchName",
                LookupDiv: "LookupDiv",
                lookuppagename: "lookup",
                readonly: true,
                pagename: "PageNavPosition",

            });
            e.preventDefault();
        });
        $('.popup_radio_button').controlgroup();
        $('#Autho').makeDisable('#Create,#Edit,#Delete');
        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');

    });

</script>
