@{
    ViewBag.Title = "TADA Settlement Claim";
}
@model Payroll.TADASettlementClaim
<html>
<head>
    <title></title>
    <style>
        .icon-row {
            position: relative;
            left: 146px;
            top: -149px;
        }

        .popup-content-label {
            display: block;
            float: left;
            width: 186px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 150px;
        }

        .row3 {
            width: 548px;
        }

        .row2 {
            display: inline-block;
            width: 450px;
        }

        .add-dialog-content {
            float: right;
            right: 0;
            width: 678px;
        }

        .form-of-element {
            display: block;
            border: #DEDEDE solid 0.1px;
            width: auto;
            height: 833px;
            padding: 5px 2px;
            margin-top: 3px;
        }

        .select_div {
        }
    </style>

</head>
<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                @*<div style="float:left">
                        <label id="lblPayMonth" class="popup-content-label must">PayMonth:</label>
                        <input name="TextPayMonth" type="text" id="TextPayMonth" class="date-picker" />
                    </div>*@
                @*<button class="button" id="Load">Load</button>*@
                <button class="button" id="add">Add</button>
                @*<button class="button" id="Btn-Upload-Data">Upload</button>*@
                @*<button class="button" id="Delete">Delete</button>*@
                @*<button class="button" id="release">Release</button>*@

            </div>
        </div>
    </div>

    <div id="Grid_Form">
        <div>
            <div id="Container" class="container">
                <div id="Demo">
                    <table id="MyTable" class="display" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>DD</th>
                                <th>Code</th>
                                <th>Name</th>
                                <th>Location</th>
                                <th>ID</th>
                            </tr>
                        </thead>
                        @*<tfoot>
                                <tr>
                                    <th>DD</th>
                                    <th>ID</th>
                                    <th>EmployeeCode</th>
                                    <th>EmployeeName</th>
                                </tr>
                            </tfoot>*@
                    </table>
                </div>
            </div>
            @*<table id="JqGrid"></table>
                <div id="pager2"></div>*@
        </div>
    </div>

    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>
    <div id="Create_Dialog">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmTADASettlementClaim", name = "frmTADASettlementClaim" }))
        {
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
            <input id="BlockId" type="hidden" name="BlockId" />
            <input id="geo_id" name="geo_id" class="filter_structure_id" />
            <input id="pay_id" name="pay_id" class="filter_structure_id" />
            <input id="fun_id" name="fun_id" class="filter_structure_id" />
            <div class="filter-div">
                <label class="advance_filter_label">Advance Filter<span class="advance_filter_sysmbol_class_plus" id="Advance-Filter-Symbol"></span></label>
                <div id="FormFilter"></div>
            </div>
            <div class="form-of-element">

                <div class="fileremployee">
                    <div class="employee-transcationdiv" style="float:left">
                        <div><label>Search : </label><input type="text" id="Employee-Search" /></div>
                        <table cellspacing="0" cellpadding="1" class="employee-transcationtable" id="Employee-Table">
                            <tr><th><input type="checkbox" id="Case-Employee" /></th><th>Employee</th></tr>
                        </table>
                    </div>
                </div>
                <div class="add-dialog-content">
                    <div class="row2 select_div content_margine">@Html.LabelFor(m => m.TADAType, "TADA Type:", new { @class = "popup-content-label must" })<select id="TADATypelist" name="TADATypelist" class="drop must" style="width:159px;"><option value="0">-Select-</option></select></div>
                    <br />
                    <div class="row2 select_div content_margine">
                        @Html.LabelFor(m => m.DateOfAppl, "Date Of Appl   :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.DateOfAppl, new { @class = "popup-content-textbox must" })

                    </div>
                    <br />

                    <div class="row6 content_margine addons">
                        <div id="LTCAdvanceClaimList_old"></div>
                        @Html.LabelFor(m => m.TADAAdvanceClaim, "TADA Advance Claim:", new { @class = "popup-content-label" })
                        <div class="popup-content-table">
                            <table class="lookuptableselected" id="TADAAdvanceClaimList">
                                <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                            </table>
                        </div>
                        <div class="icon-row">
                            <button data-p2btooltip="Lookup TADAAdvanceClaim" class="button popup-content-icon-lookup" id="Lookup-TADAAdvanceClaim-TADASettlementClaim"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                            @*<button data-p2btooltip="Create TADAAdvanceClaim" class="button popup-content-icon-create" id="Create-TADAAdvanceClaim-TADASettlementClaim"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Edit TADAAdvanceClaim" class="button popup-content-icon-edit" id="Edit-TADAAdvanceClaim-TADASettlementClaim"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>*@
                            <button data-p2btooltip="Remove TADAAdvanceClaim" class="button popup-content-icon-remove" id="Remove-TADAAdvanceClaim-TADASettlementClaim"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                        </div>
                    </div>





                    <div class="row6 content_margine addons">
                        <div id="JourneyDetailsList_old"></div>
                        @Html.LabelFor(m => m.JourneyDetails, "Journey Details:", new { @class = "popup-content-label" })
                        <div class="popup-content-table">
                            <table class="lookuptableselected" id="JourneyDetailsList">
                                <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                            </table>
                        </div>
                        <div class="icon-row">
                            <button data-p2btooltip="Lookup Journey Details" class="button popup-content-icon-lookup" id="Lookup-JourneyDetails-TADASettlementClaim"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Create Journey Details" class="button popup-content-icon-create" id="Create-JourneyDetails-TADASettlementClaim"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Edit Journey Details" class="button popup-content-icon-edit" id="Edit-JourneyDetails-TADASettlementClaim"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Remove Journey Details" class="button popup-content-icon-remove" id="Remove-JourneyDetails-TADASettlementClaim"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                        </div>
                    </div>



                    @*<div class="row6 content_margine addons">
                        <div id="HotelBookingDetailsList_old"></div>
                        @Html.LabelFor(m => m.Travel_Hotel_Booking, "Travel Hotel Booking  :", new { @class = "popup-content-label" })
                        <div class="popup-content-table">
                            <table class="lookuptableselected" id="Travel_Hotel_BookingList">
                                <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                            </table>
                        </div>
                        <div class="icon-row">
                            <button data-p2btooltip="Lookup Travel Hotel Booking " class="button popup-content-icon-lookup" id="Lookup-Travel_Hotel_Booking-TADASettlementClaim"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Create Travel Hotel Booking " class="button popup-content-icon-create" id="Create-Travel_Hotel_Booking-TADASettlementClaim"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Edit Travel Hotel Booking " class="button popup-content-icon-edit" id="Edit-Travel_Hotel_Booking-TADASettlementClaim"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Remove TravelHotel Booking " class="button popup-content-icon-remove" id="Remove-Travel_Hotel_Booking-TADASettlementClaim"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                        </div>
                    </div>*@


                    

                    <br />
                    <div class="row2 content_margine">@Html.LabelFor(m => m.NoOfDays, "No Of Days :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.NoOfDays, new { @class = "popup-content-textbox must p2bdisabled" })</div>
                    <br />
                    <div class="row2 content_margine">@Html.LabelFor(m => m.AdvAmt, "Advance Amount :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.AdvAmt, new { @class = "popup-content-textbox must p2bdisabled" })</div>
                    <br />
                    <div class="row2 content_margine">@Html.LabelFor(m => m.TA_Eligible_Amt, "TA Eligible Amount :", new { @class = "popup-content-label must",  @id = "TaelglblId"})@Html.TextBoxFor(m => m.TA_Eligible_Amt, new { @class = "popup-content-textbox must p2bdisabled" })</div>
                    <br />

                    <div  class="row2 content_margine">@Html.LabelFor(m => m.TA_Claim_Amt, "TA Claim Amount :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.TA_Claim_Amt, new { @class = "popup-content-textbox must p2bdisabled " })</div>
                    <br />
                    <div class="row2 content_margine">@Html.LabelFor(m => m.TA_SanctionAmt, "TA Sanction Amount :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.TA_SanctionAmt, new { @class = "popup-content-textbox must p2bdisabled" })</div>
                    <br />
                    


                    @*<div class="row2 content_margine">@Html.LabelFor(m => m.EncashmentAmount, "Encashment Amount :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.EncashmentAmount, new { @class = "popup-content-textbox must" })</div>
                    <br />*@

                    <div class="row2 content_margine">@Html.LabelFor(m => m.DA_Eligible_Amt, "Da Eligible Amount :", new { @class = "popup-content-label must",@id = "DaelglblId" })@Html.TextBoxFor(m => m.DA_Eligible_Amt, new { @class = "popup-content-textbox must p2bdisabled" })</div>
                    <br />
                    <div class="row2 content_margine">@Html.LabelFor(m => m.DA_Claim_Amt, "Da Claim Amount :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.DA_Claim_Amt, new { @class = "popup-content-textbox must p2bdisabled" })</div>
                    <br />
                    <div class="row2 content_margine">@Html.LabelFor(m => m.DA_SanctionAmt, "Da Sanction Amount :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.DA_SanctionAmt, new { @class = "popup-content-textbox must p2bdisabled" })</div>
                    <br />
                    <div class="row2 content_margine">@Html.LabelFor(m => m.Hotel_Eligible_Amt, "Hotel Eligible Amount :", new { @class = "popup-content-label must", @id = "HotelglblId" })@Html.TextBoxFor(m => m.Hotel_Eligible_Amt, new { @class = "popup-content-textbox must p2bdisabled" })</div>
                    <br />
                    <div class="row2 content_margine">@Html.LabelFor(m => m.Hotel_Claim_Amt, "Hotel Claim Amount :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Hotel_Claim_Amt, new { @class = "popup-content-textbox must p2bdisabled" })</div>
                    <br />
                    <div class="row2 content_margine">@Html.LabelFor(m => m.Hotel_SanctionAmt, "Hotel Sanction Amount :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Hotel_SanctionAmt, new { @class = "popup-content-textbox must p2bdisabled" })</div>
                    <br />
                    <div class="row2 content_margine">@Html.LabelFor(m => m.MisExpense_Eligible_Amt, "MisExpense Eligible Amount :", new { @class = "popup-content-label must", @id = "MiselglblId" })@Html.TextBoxFor(m => m.MisExpense_Eligible_Amt, new { @class = "popup-content-textbox must p2bdisabled" })</div>
                    <br />
                    <div class="row2 content_margine">@Html.LabelFor(m => m.MisExpense_Claim_Amt, "MisExpense Claim Amount :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.MisExpense_Claim_Amt, new { @class = "popup-content-textbox must p2bdisabled" })</div>
                    <br />
                    <div class="row2 content_margine">@Html.LabelFor(m => m.MisExpense_SanctionAmt, "MisExpense Sanction Amount :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.MisExpense_SanctionAmt, new { @class = "popup-content-textbox must p2bdisabled" })</div>
                    <br />
                    <div class="row2 content_margine">@Html.LabelFor(m => m.SettlementAmt, "Settlement Amount :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.SettlementAmt, new { @class = "popup-content-textbox must p2bdisabled" })</div>
                    <br />

                    <div class="row2 content_margine">@Html.LabelFor(m => m.Remark, "Remark :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Remark, new { @class = "popup-content-textbox must" })</div>
                    <br />

                    <div class="row2 content_margine">
                        <button id="Finalprocess" class="button" name="Finalprocess">Final payment Process</button>
                    </div>
                   
                </div>
            </div>


        }
    </div>
</body>
</html>
<script>
    $(document).ready(function (e) {
        $('button').button();

        $('#MyTable').MultiLevelInlineEditGrid({
            url: "@Url.Action("Emp_Grid")",
            editurl: "@Url.Action("EditGridDetails", "LTCSettlementClaim")",
            htmurl: "@Url.Action("partial", "LTCSettlementClaim")",
            submiturl: "@Url.Action("GridEditSave", "LTCSettlementClaim")",
            columnname: ["Code", "Name", "Location", "Id"],
            childheader: ["ReqDate", "TADAType", "EligibleAmt", "AdvanceAmt", "Remark", "Id"],
            //childheader: ["Id", "LoanAdvHead", "RequisitionDate", "EnforcementDate", "LoanAppliedAmt", "LoanSanctionedAmt", "MonthlyInstallmentAmt", "TotalInstallment", "LoanAccBranch", "LoanAccNo"],
            childurl: "@Url.Action("Get_TADASettlementClaim", "TADASettlementClaim")",
            tableheader: "TADA Settlement Claim",
            childurlColumnNo: "4"
        });

        function DateConvert(JsonDate) {
            var date = new Date(parseInt(JsonDate.substr(6)));
            var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
            return displayDate;
        };
        $.DataTableChildManipulation = function (init, id, parentid, htmurl, editurl, submiturl) {
            var parent_element = $(init).parents('td:last').parent().prev();
            var chhassa = $(parent_element).find('td:eq(1)').html();
            console.log(parent_element);
            var dt = $('#MyTable').DataTable();
            var htmlcomponant = {
                init: init,
                Id: id,
                idx: parentid,
                htmurl: htmurl,
                editurl: editurl,
                submiturl: submiturl,
            };
            if ($(init).hasClass('ui-icon-newwin')) {
                $('<div></div>').PartialCreateDialog({
                    height: 'auto',
                    width: 'auto',
                    form: "#Edit-LTCAdvanceClaim",
                    htmlurl: "@Url.Action("GridPartial", "LTCAdvanceClaim")",
                    state: "open",
                    mode: "View",
                    editurl: "@Url.Action("GridEditData", "LTCAdvanceClaim")",
                    submiturl: "@Url.Action("GridEditSave", "LTCAdvanceClaim")",
                    editdata: id,
                    forwarddata: id,
                    returndatafunction: function (returndata) {
                        $.each(returndata.returndata, function (i, k) {
                            $('#Edit-ProposedPlace').val(k.ProposedPlace);
                            $('#Edit-LTCEligibleAmount').val(k.EligibleAmount);
                            $('#Edit-LTCAdvanceAmount').val(k.AdvanceAmount);
                            $('#Edit-Remark').val(k.Remark);


                        });
                    },
                });
            } else if ($(init).hasClass('ui-icon-pencil')) {
                // //debugger
                $('<div></div>').PartialCreateDialog({
                    height: 'auto',
                    width: '40%',
                    form: "#frmTADASettlmentClaimPartial",
                    htmlurl: "@Url.Action("GridPartial", "TADASettlementClaim")",
                    state: "open",
                    mode: "Edit",
                    editurl: "@Url.Action("GridEditData", "TADASettlementClaim")",
                    submiturl: "@Url.Action("GridEditSave", "TADASettlementClaim")",
                    editdata: id,
                    forwarddata: id,
                    returndatafunction: function (data) {
                        $.each(data, function (i, k) {
                            console.log("employeeids");
                            console.log(chhassa);
                            $('#EmployeeSettleId').val(chhassa);
                            $('#TADATypelistPartial').P2BSelectMenuAppend("@Url.Action("GetLookupPolicyname", "TADASettlementClaim")", 3005, k.TADAType); // Dropdown bind
                            $('#tadaclaimamtaprtial').val(k.Claim_Amt);
                            $('#tadaeligibleamtpartial').val(k.Eligible_Amt);
                            if (k.ReqDate != null) { $('#DateApplPartial').val(DateConvert(k.ReqDate)); }
                            $('#ltcnoofdayspartial').val(k.Noofdays)
                            $('#tadaEncashamtprtial').val(k.EncashmentAmount);
                            $('#tadaadvamtpartial').val(k.AdvAmt);
                            $('#tadasettleamtpartial').val(k.SettlementAmt);
                            $('#tadaremarkpartial').val(k.Remark);
                            $('#TADAAdvanceClaimListPartial').P2BLookUpEncapsulate('#TADAAdvanceClaimListPartial', 'TADAAdvanceClaimListPartial', k.TADAAdvanceClaimid, k.LTCAdvanceClaimfulldetails, 'TADAAdvanceClaimListPartial', '#Edit-Rent-HRATransTPartial,#Remove-Rent-HRATransTPartial', 'A');
                            $('#JourneyDetailsListPartial').P2BLookUpEncapsulate('#JourneyDetailsListPartial', 'JourneyDetailsListPartial', k.JourneydetailsId, k.JourneydetailsFulldetails, 'JourneyDetailsListPartial', '#Edit-Rent-HRATransTPartial,#Remove-Rent-HRATransTPartial', 'A');
                            $.each(k.travelhoteldetails, function (l, m) {
                                $('#HotelBookingDetailsListPartial').P2BLookUpEncapsulate('#HotelBookingDetailsListPartial', 'HotelBookingDetailsListPartial', m.id, m.fulldetails, 'HotelBookingDetailsListPartial', '#Edit-Rent-HRATransTPartial,#Remove-Rent-HRATransTPartial', 'N');

                            });
                            //$('#Edit-ProposedPlace').val(k.ProposedPlace);
                            //$('#Edit-LTCEligibleAmount').val(k.EligibleAmount);
                            //$('#Edit-LTCAdvanceAmount').val(k.AdvanceAmount);
                            //$('#Edit-Remark').val(k.Remark);

                        });
                    },
                    submitfun: function (data) {
                        var row = dt.row(parent_element);
                        if (row.child.isShown()) {
                            parent_element.removeClass('details');
                            row.child.hide();
                        }
                    }
                });
            } else if ($(init).hasClass('ui-icon-trash')) {
                // alert(chhassa);
                $('<div></div>').PartialCreateDialog({
                    state: "open",
                    mode: "Delete",
                    submiturl: "@Url.Action("Delete")",
                    forwarddata: id,
                    editdata: chhassa,
                    submitfun: function (data) {
                        var row = dt.row(parent_element);
                        if (row.child.isShown()) {
                            parent_element.removeClass('details');
                            row.child.hide();
                        }
                    }
                });
            }
        };

        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }

        $('#Advance-Filter-Symbol').on('click', function () {
            $("<div></div>").FilterDialog({
                width: 1000,
                height: 400,
                title: "Filter",
                htmlurl: "@Url.Action("Advance_partial", "Transcation")",
                returnat: function (data) {
                    //console.log(data);
                    var forwarddata = JSON.stringify(data);
                    $('#Employee-Table').P2BTransactionTableDynamic('#Employee-Search', '#Case-Employee', './Transcation/Get_Employelist_h?geo_id=' + forwarddata + '', "");
                },
                renderat: "#FormFilter", hierarchy: true,
            });
        });


        $('#Create_Dialog').P2BCreateDialog();
        $('#CreateRelease_dialog').P2BCreateDialog();

        function ajaxloaderv2(cameform) {
            $('<a><i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw ajax_loder" style="color: rgba(27, 187, 173, 0.93);z-index:999;" aria-hidden="true"></i></a>').appendTo(cameform);
        };
        $('#Finalprocess').on("click", function (event) {

            var e = $('#Employee-Table').P2BGetTableDataonSelectedRow('#Employee-Table', 1);
            //  alert(e);
            var h = [];
            var j = [];
            var l = [];
            $.ajax({
                url: '@Url.Action("GetTADAAmount", "TADASettlementClaim")',
                method: "POST",
                //beforeSend: function () {
                //    //$('<div style="width:100%;height:100%;"><i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw ajax_loder" style="color: rgba(27, 187, 173, 0.93);" aria-hidden="true"></i></div>').appendTo($(newDiv1).parent());
                //},
                data: $('#frmTADASettlementClaim').serialize() + '&data=' + e,
                beforeSend: function () {
                    ajaxloaderv2('body');
                },
                success: function (data) {
                    $.each(data, function (i, k) {
                        //console.log("--amount data-");
                        //console.log(k.AdvanceAmt);
                        //console.log(k.LTCElgmamt);
                        //console.log(k.LTCClaimamt);

                        $("#AdvAmt").val(k.AdvanceAmt);
                        $("#TA_Claim_Amt").val(k.TAClaim);
                        $("#TA_Eligible_Amt").val(k.TAElgmamt);
                        $("#TA_SanctionAmt").val(k.TASanctionAmt);

                        $("#DA_Eligible_Amt").val(k.DAElgmamt);
                        $("#DA_Claim_Amt").val(k.DAClaim);
                        $("#DA_SanctionAmt").val(k.DASanctionAmt);

                        $("#Hotel_Eligible_Amt").val(k.HotelElgmamt);
                        $("#Hotel_Claim_Amt").val(k.HotelClaim);
                        $("#Hotel_SanctionAmt").val(k.HotelSanctionAmt);

                        $("#MisExpense_Eligible_Amt").val(k.MisexpElgmamt);
                        $("#MisExpense_Claim_Amt").val(k.MisexpClaim);
                        $("#MisExpense_SanctionAmt").val(k.MisexpSanctionAmt);
                        $("#NoOfDays").val(k.Noofdays);



                        $("#SettlementAmt").val(k.SettlementAmt);
                        // $("#SanctionAmt").val(k.TADAClaimamt - k.AdvanceAmt);
                    });

                },
                complete: function () {
                    $('.ajax_loder').remove();
                }
            });


        });
        //Create Function
        $('#add').on("click", function (event) {

            $('#frmLTCAdvClaim').trigger("reset");
            $.LoadEmpByDefault(true, '#TextPayMonth');
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create TADA Settlement Claim', 'open', '@Url.Action("Create")', '#frmTADASettlementClaim', 'Message :', 'Request Falied :', '#JqGrid', 670, 1055, '', '', function (data) { }, '');

            $('#DateOfAppl').attr('readonly', 'readonly');
            $('#DateOfAppl').TodayDate();
            $('#TADATypelist').P2BSelectMenuAppend('@Url.Action("GetLookupPolicyname", "TADASettlementClaim")', 3005, "");
            // $('.p2bdisabled').attr('disabled', 'disabled');
            $('.p2bdisabled').attr('readonly', 'readonly');
            $('.p2bdisabled').css('background-color', 'rgb(231, 231, 231)');
            event.preventDefault();

        });



        $("#LTCAdvAmt").on('focusout', function () {
            // alert('r');
            var a = $("#LTC_Eligible_Amt").val();
            var b = $("#LTCAdvAmt").val();

            if (parseInt(b) > parseInt(a)) {
                $("#LTCAdvAmt").val("");
                alert("Advance amount should not be greater than Eligible amount");
            }

        });

        $('#Lookup-TADAAdvanceClaim-TADASettlementClaim').on('click', function (event) {
            var a = $('#Employee-Table').P2BGetTableDataonSelectedRow('#Employee-Table', 1);
            if (a.val == "" || a.length == 0) {
                alert("Please select Employee");
                return false;
            }
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupTadaAdv", "TADASettlementClaim")?Empid=' + a, '', 'LookupDiv', 'TADA ADV Look Up Data', '#TADAAdvanceClaimList', 'TADAAdvanceClaimList', 5, 'TADAAdvanceClaimList', '#frmTADASettlementClaim', 'A', '#Edit-TADAAdvanceClaim-TADASettlementClaim,#Remove-TADAAdvanceClaim-TADASettlementClaim', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();

            @*$('.dialog').P2BLookUpModal('@Url.Action("GetTADAAdvanceClaim", "TADASettlementClaim")', '', 'LookupDiv', ' Look Up Data', '#TADAAdvanceClaimList', 'TADAAdvanceClaimList', 5, 'TADAAdvanceClaimList', '#frmTADASettlementClaim', 'N', '#Remove-TADAAdvanceClaim-TADASettlementClaim', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();*@
        });


        $('#Create-TADAAdvanceClaim-TADASettlementClaim').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial_TADAAdvanceClaim", "TADASettlementClaim")', 'Create TADAAdvanceClaimList Master', 'open', '@Url.Action("CreateSave", "TADAAdvanceClaim")', '#frmTADASettlementClaim', 'Message :', 'Request Falied :', '#JqGrid', 600, 600, '', '', '#Edit-TADAAdvanceClaim-TADASettlementClaim', '#frmTADASettlementClaim', '', function (data) {
                $('#TADAAdvanceClaimList').P2BLookUpEncapsulate('#TADAAdvanceClaimList', 'TADAAdvanceClaimList', data[0], data[1], 'TADAAdvanceClaimList', '#Remove-TADAAdvanceClaimList-TADASettlementClaim', 'N');
            });
            event.preventDefault();
        });

        $('#Edit-JourneyDetails-TADASettlementClaim').button().on("click", function (event) {

            var a = [], b;
            a = $('#JourneyDetailsList').P2BGetTableDataonSelectedRow('#JourneyDetailsList', 0);
            b = a[0];
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial_JourneyDetails", "LTCSettlementClaim")', '@Url.Action("Edit", "LTCSettlementClaim")', b, '@Url.Action("EditSave", "LTCSettlementClaim")', 'Edit JourneyDetails Details', '#frmJourneyDetailsPartial', b, 'Message :', 'Request Falied :', '#JqGrid', 600, 600, '#frmTADASettlementClaim', '#JourneyDetailsList', 'JourneyDetailsList', 'JourneyDetailsList', 'N', '#Remove-RateMaster-Wages,#View-RateMaster-SalHeadFormula', function (data) {


                $('#JourneyStart').val(DateConvert(data[0].JourneyStart));
                $('#JourneyEnd').val(DateConvert(data[0].JourneyEnd));
                $('#NoOfDays-edit').val((data[0].NoOfDays));
                $('#DAElligibleAmt').val((data[0].DAElligibleAmt));
                $('#DAClaimAmt').val((data[0].DAClaimAmt));
                $('#DASettleAmt').val((data[0].DASettleAmt));
                $('#TAElligibleAmt').val((data[0].TAElligibleAmt));
                $('#TAClaimAmt').val((data[0].TAClaimAmt));
                $('#TASettleAmt').val((data[0].TASettleAmt));
                $('#MisExpenseElligibleAmt').val((data[0].MisExpenseElligibleAmt));
                $('#MisExpenseClaimAmt').val((data[0].MisExpenseClaimAmt));
                $('#MisExpenseSettleAmt').val((data[0].MisExpenseSettleAmt));
                $('#HotelElligibleAmt').val((data[0].HotelElligibleAmt));
                $('#HotelClaimAmt').val((data[0].HotelClaimAmt));
                $('#HotelSettleAmt').val((data[0].HotelSettleAmt));
                $('#TotFamilyMembers-edit').val((data[0].TotFamilyMembers));

                //$('#TravelModeEligibilityPolicylist').val((data[0].TravelModeEligibilityPolicylist));
                @*$('#TravelModeEligibilityPolicylist').P2BSelectMenuAppend("@Url.Action("TravelModeEligibilityPolicylist", "LTCSettlementClaim")", data[0].TravelModeEligibilityPolicy, "");*@
                $('#TravelModeEligibilityPolicylist').P2BSelectMenuAppend("@Url.Action("TravelModeEligibilityPolicylist", "LTCSettlementClaim")", "", data[0].TravelModeEligibilityPolicy, '');
                @*$('#TravelModeEligibilityPolicylistobj').P2BSelectMenuAppend("@Url.Action("GetTravelMode", "JourneyDetails")", "", data[0].TravelModeEligibilityPolicy_Id, '');*@
                //$.each(data[0], function (i, k) {
                //    alert(k.JourneyStart);
                //  //  $('#frmJourneyDetailsPartial').trigger('reset');
                //    $('#JourneyStart').val(DateConvert(k.JourneyStart));
                //    $('#JourneyEnd').val(DateConvert(k.JourneyEnd));
                //});
                $.each(data[1], function (i, k) {
                    $('#JourneyObjectlist-edit').P2BLookUpEncapsulate('#JourneyObjectlist-edit', 'JourneyObjectlist-edit', k.JourneyObject_Id, k.JourneyObjectFullDetails, 'JourneyObjectlist-edit', '#Edit-HolidayList-HolidayCalendar,#Remove-HolidayList-HolidayCalendar', 'A');
                    $('#FamilyDetailslist-edit').P2BLookUpEncapsulate('#FamilyDetailslist-edit', 'FamilyDetailslist-edit', k.Family_Id, k.FamilyFullDetails, 'FamilyDetailslist-edit', '#Edit-HolidayList-HolidayCalendar,#Remove-HolidayList-HolidayCalendar', 'A');
                    $('#MisExpenseObjectlist-edit').P2BLookUpEncapsulate('#MisExpenseObjectlist-edit', 'MisExpenseObjectlist-edit', k.MisExpenseObject_Id, k.MisExpenseObjectFullDetails, 'MisExpenseObjectlist-edit', '#Edit-HolidayList-HolidayCalendar,#Remove-HolidayList-HolidayCalendar', 'A');
                    $('#Travel_Hotel_BookingList').P2BLookUpEncapsulate('#Travel_Hotel_BookingList', 'Travel_Hotel_BookingList', k.TravelHotelBooking_Id, k.TravelHotelBookingFullDetails, 'Travel_Hotel_BookingList', '#Edit-HolidayList-HolidayCalendar,#Remove-HolidayList-HolidayCalendar', 'A');

                });
                //$.each(data[2], function (i, k) {
                //    $('#FamilyDetailslist-edit').P2BLookUpEncapsulate('#FamilyDetailslist-edit', 'JourneyObjectlist-edit', k.JourneyObject_Id, k.JourneyObjectFullDetails, 'JourneyObjectlist-edit', '#Edit-HolidayList-HolidayCalendar,#Remove-HolidayList-HolidayCalendar', 'A');
                //});
                $.each(data[3], function (i, k) {
                    $('#EmpDocumentslist-edit').P2BLookUpEncapsulate('#EmpDocumentslist-edit', 'EmpDocumentslist-edit', k.JourneyObject_Id, k.JourneyObjectFullDetails, 'JourneyObjectlist-edit', '#Edit-HolidayList-HolidayCalendar,#Remove-HolidayList-HolidayCalendar', 'A');
                });
            });
            event.preventDefault();
        });

        $('#Remove-TADAAdvanceClaim-TADASettlementClaim').button().on('click', function (event) {
            //var a = [], b;
            //a = $('#TADAAdvanceClaimList').P2BGetTableDataonSelectedRow('#TADAAdvanceClaimList', 0);
            //b = a[0];

            var selectedRows = [];
            selectedRows = $('#TADAAdvanceClaimList').P2BGetTableDataonSelectedRow('#TADAAdvanceClaimList', 0);
            //$('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#TADAAdvanceClaimlist', $('#TADAAdvanceClaimlist').val(), 200, 200, '#frmTADASettlementClaim', '#TADAAdvanceClaimlist');
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#TADAAdvanceClaimList', $('#TADAAdvanceClaimList').val(), 200, 200, '#frmTADASettlementClaim', '#TADAAdvanceClaimList', '#Edit-TADAAdvanceClaim-TADASettlementClaim,#Remove-TADAAdvanceClaim-TADASettlementClaim');
            event.preventDefault();
        });



        $('#Lookup-JourneyDetails-TADASettlementClaim').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupJourneyDetails", "TADASettlementClaim")', '', 'LookupDiv', ' Look Up Data', '#JourneyDetailsList', 'JourneyDetailsList', 5, 'JourneyDetailsList', '#frmTADASettlementClaim', 'N', '#Remove-JourneyDetails-TADASettlementClaim', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        $('#Create-JourneyDetails-TADASettlementClaim').on("click", function (event) {
            var a = $('#Employee-Table').P2BGetTableDataonSelectedRow('#Employee-Table', 1);
            if (a.val == "" || a.length == 0) {
                alert("Please select Employee");
                return false;
            }
            var T = $("#TADATypelist option:selected").text();
            if (T == "-Select-") {
                alert("Please select Journey Type");
                return false;
            }
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial_JourneyDetails", "LTCSettlementClaim")', 'Create JourneyDetails Master', 'open', '@Url.Action("Create", "JourneyDetails")?EmpId=' + a + '&data1=' + T, '#frmJourneyDetailsPartial', 'Message :', 'Request Falied :', '#JqGrid', 600, 600, '', '', '#Edit-JourneyObject1-JourneyDetails,#Edit-JourneyObject-JourneyDetails,#Edit-FamilyDetails-JourneyDetails,#Remove-FamilyDetails-JourneyDetails', '#frmTADASettlementClaim', '', function (data) {
                $('#JourneyDetailsList').P2BLookUpEncapsulate('#JourneyDetailsList', 'JourneyDetailsList', data[0], data[1], 'JourneyDetailsList', '#Remove-JourneyDetails-LTCSettlementClaim', 'N');

                $('#TravelModeEligibilityPolicylist').P2BSelectMenuAppend("@Url.Action("TravelModeEligibilityPolicylistd", "LTCSettlementClaim")", a.toString(), "");
            });
            event.preventDefault();

            @*$('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial_JourneyDetails", "LTCSettlementClaim")', 'Create JourneyDetails Master', 'open', '@Url.Action("Create", "JourneyDetails")', '#frmJourneyDetailsPartial', 'Message :', 'Request Falied :', '#JqGrid', 600, 600, '', '', '#Edit-JourneyObject-JourneyDetails', '#frmLTCSettlementClaim', '', function (data) {
                $('#JourneyDetailsList').P2BLookUpEncapsulate('#JourneyDetailsList', 'JourneyDetailsList', data[0], data[1], 'JourneyDetailsList', '#Remove-JourneyDetails-LTCSettlementClaim', 'N');
            });
            event.preventDefault();*@
        });


        @*$('#Edit-JourneyDetails-TADASettlementClaim').button().on("click", function (event) {
            var a = [], b;
            a = $('#JourneyDetailsList').P2BGetTableDataonSelectedRow('#JourneyDetailsList', 0);
            b = a[0];
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname,                                                                                                                    height, width, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not, returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial_JourneyDetails", "LTCSettlementClaim")', '@Url.Action("Edit", "LTCSettlementClaim")', b, '', 'Edit Holiday Details', '#frmJourneyDetailsPartial', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmTADASettlementClaim', '#JourneyDetailsList', 'JourneyDetailsList', 'JourneyDetailsList', 'N', '#Remove-HolidayList-HolidayCalendar1', function (data) {
                // setTimeout(function () {
                $.each(data[0], function (i, k) {
                    $('#frmJourneyDetailsPartial').trigger('reset');
                    $('#JourneyStart').val(k.JourneyStart);
                    $('#JourneyEnd').val(k.JourneyEnd);
                });
                $.each(data[3], function (i, k) {
                    alert(data[3]);
                    $('#JourneyObjectlist-edit').P2BLookUpEncapsulate('#JourneyObjectlist-edit', 'JourneyObjectlist-edit', k.JourneyObject_Id, k.JourneyObjectFullDetails, 'JourneyObjectlist-edit', '#Edit-HolidayList-HolidayCalendar,#Remove-HolidayList-HolidayCalendar', 'A');
                });


                // }, 3000);
            });
            event.preventDefault();
        });*@


        $('#Remove-JourneyDetails-TADASettlementClaim').button().on('click', function (event) {
            //var a = [], b;
            //a = $('#JourneyDetailsList').P2BGetTableDataonSelectedRow('#JourneyDetailsList', 0);
            //b = a[0];

            var selectedRows = [];
            selectedRows = $('#JourneyDetailsList').P2BGetTableDataonSelectedRow('#JourneyDetailsList', 0);
            //$('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#JourneyDetailsList', $('#JourneyDetailsList').val(), 200, 200, '#frmTADASettlementClaim', '#JourneyDetailsList');
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#JourneyDetailsList', $('#JourneyDetailsList').val(), 200, 200, '#frmTADASettlementClaim', '#JourneyDetailsList', '#Edit-JourneyDetails-TADASettlementClaim,#Remove-JourneyDetails-TADASettlementClaim');
            event.preventDefault();
        });



        $('#Lookup-Travel_Hotel_Booking-TADASettlementClaim').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetTravel_Hotel_Booking", "TADASettlementClaim")', '', 'LookupDiv', ' Look Up Data', '#Travel_Hotel_BookingList', 'Travel_Hotel_BookingList', 5, 'Travel_Hotel_BookingList', '#frmTADASettlementClaim', 'N', '#Remove-Travel_Hotel_Booking-TADASettlementClaim', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        $('#Create-Travel_Hotel_Booking-TADASettlementClaim').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial_TravelHotelBooking", "LTCSettlementClaim")', 'Create HotelBookingDetails Master', 'open', '@Url.Action("Create", "TravelHotelBooking")', '#frmTravelHotelBookingDetails', 'Message :', 'Request Falied :', '#JqGrid', 600, 600, '', '', '#Edit-HotelBookingDetails-LTCSettlementClaim', '#frmLTCSettlementClaim', '', function (data) {
                $('#HotelBookingDetailsList').P2BLookUpEncapsulate('#HotelBookingDetailsList', 'HotelBookingDetailsList', data[0], data[1], 'HotelBookingDetailsList', '#Remove-HotelBookingDetails-LTCSettlementClaim', 'N');
            });
            event.preventDefault();
        });


        $('#Remove-Travel_Hotel_Booking-TADASettlementClaim').button().on('click', function (event) {
            //var a = [], b;
            //a = $('#Travel_Hotel_BookingList').P2BGetTableDataonSelectedRow('#Travel_Hotel_BookingList', 0);
            //b = a[0];

            var selectedRows = [];
            selectedRows = $('#Travel_Hotel_BookingList').P2BGetTableDataonSelectedRow('#Travel_Hotel_BookingList', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#Travel_Hotel_BookingList', $('#Travel_Hotel_BookingList').val(), 200, 200, '#frmTADASettlementClaim', '#Travel_Hotel_BookingList', '#Edit-Travel_Hotel_Booking-TADASettlementClaim,#Remove-Travel_Hotel_Booking-TADASettlementClaim');
            //$('<div></div>').P2BPartialDeleteModalDialog('', b, '', 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#Travel_Hotel_BookingList', $('#Travel_Hotel_BookingList').val(), 200, 200, '#frmTADASettlementClaim', '#Travel_Hotel_BookingList');
            event.preventDefault();
        });

        $('#DaelglblId,#HotelglblId,#MiselglblId,#TaelglblId').hide();
        $('#DA_Eligible_Amt,#Hotel_Eligible_Amt,#MisExpense_Eligible_Amt,#TA_Eligible_Amt').hide();
        $('#DA_Eligible_Amt,#Hotel_Eligible_Amt,#MisExpense_Eligible_Amt,#TA_Eligible_Amt').val("0");

        $('.popup_radio_button').controlgroup();
        $('.drop').selectmenu().selectmenu("menuWidget");
        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');

        $('#AdvAmt,#TA_Eligible_Amt,#TA_Claim_Amt,#TA_SanctionAmt,#EncashmentAmount,#SettlementAmt,#DA_Eligible_Amt,#DA_Claim_Amt,#DA_SanctionAmt,#Hotel_Eligible_Amt,#Hotel_Claim_Amt,#Hotel_SanctionAmt,#MisExpense_Eligible_Amt,#MisExpense_Claim_Amt,#MisExpense_SanctionAmt').ForceAmount();

        $('#AdvAmt,#EncashmentAmount,#SettlementAmt').val("0");
        $('#DateOfAppl').P2BDatePicker();

    });
</script>
