@{
    ViewBag.Title = "ExitProcess_Process_Policy";
}
@model EMS.ExitProcess_Process_Policy
<script>
    $(document).ready(function (e) {
        $('button').button();
        // $("#PayMonth").val($.datepicker.formatDate("mm/yy", new Date()));
        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;
        ColModel = ['ProcessName', 'Id', ];
        ColNames = [ 'ProcessName', 'Id', ];
        SortName = 'Id';
        Caption = 'ExitProcess_Process_Policy';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);

        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }
        @*$('#travelmodelist').on('selectmenuchange', function () {
            $('#classoftravellist').P2BSelectMenuAppend('@Url.Action("ClassOffTravelList", "ExitProcess_Process_Policy")', $(this).val(), "", "0");
        });*@
        $('#Create_Dialog').P2BCreateDialog();
        $('#Create').on("click", function (event) {
            $('#frmExitProcess_Process_Policy').trigger("reset");
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create ExitProcess_Process_Policy', 'open', '@Url.Action("Create")', '#frmExitProcess_Process_Policy', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', function (data) { });
            // $('[name="Default"]').button().button("refresh");
            event.preventDefault();
        });
        $('#Edit').on('click', function () {
            AssignData();
            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit ExitProcess_Process_Policy Data", '#frmExitProcess_Process_Policy', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 271, 400, '#AddressList,#ContactDetailsList', '', function (data) {
                // setTimeout(function () {
                $.each(data[0], function (i, k) {
                    $('#frmExitProcess_Process_Policy').trigger("reset");
                    $('#ProcessName').val(k.ProcessName);
                    $('[name="IsFFSAppl"]').val([k.IsFFSAppl_id]).button().button("refresh");
                    $('[name="IsFFSDocAppl"]').val([k.IsFFSDocAppl]).button().button("refresh");
                    $('[name="IsNoDuesAppl"]').val([k.IsNoDuesAppl]).button().button("refresh");
                    $('[name="IsPartPayAppl"]').val([k.IsPartPayAppl]).button().button("refresh");
                    $('[name="IsNoticePeriodAppl"]').val([k.IsNoticePeriodAppl]).button().button("refresh");
                    $('[name="IsRefDocAppl"]').val([k.IsRefDocAppl]).button().button("refresh");
                    $('[name="IsResignRequestAppl"]').val([k.IsResignRequestAppl]).button().button("refresh");
                    $('[name="IsExitInterviewAppl"]').val([k.IsExitInterviewAppl]).button().button("refresh");
                });


                $('#Autho_Allow').val(data[3]); //Compulsory for authorisation
                // }, 2000);
            });
        });


        //View main page
        $('#View').button().click(function (event) {
            AssignData();
            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View ExitProcess_Process_Policy Data', '#AddressList,#ContactDetailsList', '#Lookup-Address-Corporate,#Create-Address-Corporate,#Edit-Address-Corporate,#Remove-Address-Corporate,#Lookup-ContactDetails-Corporate,#Create-ContactDetails-Corporate,#Edit-ContactDetails-Corporate,#Remove-ContactDetails-Corporate', 271, 400, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {
                $.each(data[0], function (i, k) {
                    $('#frmExitProcess_Process_Policy').trigger("reset");
                    $('#Autho_Action').val(k.Action);
                    $('#ProcessName').val(k.ProcessName);
                    $('[name="IsFFSAppl"]').val([k.IsFFSAppl_id]).button().button("refresh");
                    $('[name="IsFFSDocAppl"]').val([k.IsFFSDocAppl]).button().button("refresh");
                    $('[name="IsNoDuesAppl"]').val([k.IsNoDuesAppl]).button().button("refresh");
                    $('[name="IsPartPayAppl"]').val([k.IsPartPayAppl]).button().button("refresh");
                    $('[name="IsNoticePeriodAppl"]').val([k.IsNoticePeriodAppl]).button().button("refresh");
                    $('[name="IsRefDocAppl"]').val([k.IsRefDocAppl]).button().button("refresh");
                    $('[name="IsResignRequestAppl"]').val([k.IsResignRequestAppl]).button().button("refresh");
                    $('[name="IsExitInterviewAppl"]').val([k.IsExitInterviewAppl]).button().button("refresh");
                });



                if ($("#Autho").hasClass('auto_active')) {
                    //if (data[2] != null) {
                    //    $('#ProcessName').oldVal(data[2].ProcessName);
                    //    $('#CategoryList_DDL').oldDropval(data[2].BusinessType_Val);
                    //    $('#AddressList_Old').oldLookupVal(data[2].Address_Val);
                    //    $('#ContactDetailsList_Old').oldLookupVal(data[2].Contact_Val);
                    //}
                }
            });
        });

        //delete main page
        $('#Delete').button().click(function (event) {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            $('#Create_Dialog').P2BDeleteModalDialog('@Url.Action("Delete")', dt.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
            event.preventDefault();
        });
        $('<div></div>').P2BPartialCreateModalDialog();
        // $('.popup_radio_button').controlgroup();
        $('.drop').selectmenu().selectmenu("menuWidget");
        $('#PayProcessGroupList').selectmenu().selectmenu("menuWidget");
        // $('#AmountList').selectmenu().selectmenu("menuWidget");
        $('#ProcTypeList').selectmenu().selectmenu("menuWidget");
        $('.popup_radio_button').controlgroup();
    });

</script>

<html>

<head>
    <title></title>
    <style>
        .icon-row {
            position: relative;
            left: 230px;
            top: -150px;
        }

        #BusinessType-button {
            font-size: 9px;
            padding-top: 1px;
            font-weight: bold;
        }

        .popup-content-label {
            display: block;
            float: left;
            width: 185px;
        }

        .popup-content-labelT {
            display: block;
            float: left;
            width: 170px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 120px;
        }

        .row3 {
            width: 627px;
        }

        .row4 {
            position: absolute;
            top: 294px;
            width: 400px;
        }

        .popup-content-textbox-long {
            margin-bottom: 1px;
            width: 290px;
        }


        .row2 {
            width: 402px;
        }

        .date-picker {
            z-index: 999;
        }
    </style>
</head>

<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <button class="button" id="Create">Create</button>
                <button class="button" data-typeofbtn="process" id="View">View</button>
                <button class="button" data-typeofbtn="release" id="Edit">Edit</button>
                <button class="button" data-typeofbtn="delete" id="Delete">Delete</button>
                <div id="Grid_Form">
                    <div>
                        <table id="JqGrid"></table>
                        <div id="pager2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="Create_Dialog" title="Create Corpoarte">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmExitProcess_Process_Policy", name = "frmExitProcess_Process_Policy" }))
        {
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
            <input id="geo_id" class="filter_structure_id" name="geo_id" />
            <input id="pay_id" class="filter_structure_id" name="pay_id" />
            <input id="fun_id" class="filter_structure_id" name="fun_id" />
            <input id="emp_Id" class="filter_structure_id" name="emp_Id" />


            <div class="row3 content_margine">
                @Html.LabelFor(m => m.ProcessName, "Process Name  :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.ProcessName, new { @class = "popup-content-textbox must" })
            </div>
      
    <div class="row3 content_margine">
        @Html.LabelFor(m => m.IsFFSAppl, "Is FFS Appl :", new { @class = "popup-content-label must" })
        <div class="popup_radio_button radio_button_div_1">
            <span class="popup_radio_button radio_button_div_1">
                <input type="radio" id="radio1" name="IsFFSAppl" value="true" /><label class="ui-corner-left" for="radio1">Yes</label>
                <input type="radio" id="radio2" name="IsFFSAppl" value="false" checked="checked" /><label class="ui-corner-right" for="radio2">No</label>
            </span>
        </div>
    </div>

    <div class="row3 content_margine">
        @Html.LabelFor(m => m.IsFFSDocAppl, "Is FFS Doc Appl :", new { @class = "popup-content-label must" })
        <div class="popup_radio_button radio_button_div_2">
            <span class="popup_radio_button radio_button_div_2">
                <input type="radio" id="radio3" name="IsFFSDocAppl" value="true" /><label class="ui-corner-left" for="radio3">Yes</label>
                <input type="radio" id="radio4" name="IsFFSDocAppl" value="false" checked="checked" /><label class="ui-corner-right" for="radio4">No</label>
            </span>
        </div>
    </div>

    <div class="row3 content_margine">
        @Html.LabelFor(m => m.IsNoDuesAppl, "Is No Dues Appl :", new { @class = "popup-content-label must" })
        <div class="popup_radio_button radio_button_div_3">
            <span class="popup_radio_button radio_button_div_1">
                <input type="radio" id="radio5" name="IsNoDuesAppl" value="true" /><label class="ui-corner-left" for="radio5">Yes</label>
                <input type="radio" id="radio6" name="IsNoDuesAppl" value="false" checked="checked" /><label class="ui-corner-right" for="radio6">No</label>
            </span>
        </div>
    </div>

    <div class="row3 content_margine">
        @Html.LabelFor(m => m.IsPartPayAppl, "Is Part Pay Appl :", new { @class = "popup-content-label must" })
        <div class="popup_radio_button radio_button_div_4">
            <span class="popup_radio_button radio_button_div_1">
                <input type="radio" id="radio7" name="IsPartPayAppl" value="true" /><label class="ui-corner-left" for="radio7">Yes</label>
                <input type="radio" id="radio8" name="IsPartPayAppl" value="false" checked="checked" /><label class="ui-corner-right" for="radio8">No</label>
            </span>
        </div>
    </div>

    <div class="row3 content_margine">
        @Html.LabelFor(m => m.IsNoticePeriodAppl, "Is Notice Period Appl :", new { @class = "popup-content-label must" })
        <div class="popup_radio_button radio_button_div_5">
            <span class="popup_radio_button radio_button_div_1">
                <input type="radio" id="radio9" name="IsNoticePeriodAppl" value="true" /><label class="ui-corner-left" for="radio9">Yes</label>
                <input type="radio" id="radio10" name="IsNoticePeriodAppl" value="false" checked="checked" /><label class="ui-corner-right" for="radio10">No</label>
            </span>
        </div>
    </div>

    <div class="row3 content_margine">
        @Html.LabelFor(m => m.IsRefDocAppl, "Is Ref Doc Appl :", new { @class = "popup-content-label must" })
        <div class="popup_radio_button radio_button_div_6">
            <span class="popup_radio_button radio_button_div_1">
                <input type="radio" id="radio11" name="IsRefDocAppl" value="true" /><label class="ui-corner-left" for="radio11">Yes</label>
                <input type="radio" id="radio12" name="IsRefDocAppl" value="false" checked="checked" /><label class="ui-corner-right" for="radio12">No</label>
            </span>
        </div>
    </div>

    <div class="row3 content_margine">
        @Html.LabelFor(m => m.IsResignRequestAppl, "Is Resign Request Appl :", new { @class = "popup-content-label must" })
        <div class="popup_radio_button radio_button_div_7">
            <span class="popup_radio_button radio_button_div_1">
                <input type="radio" id="radio13" name="IsResignRequestAppl" value="true" /><label class="ui-corner-left" for="radio13">Yes</label>
                <input type="radio" id="radio14" name="IsResignRequestAppl" value="false" checked="checked" /><label class="ui-corner-right" for="radio14">No</label>
            </span>
        </div>
    </div>

             <div class="row3 content_margine">
        @Html.LabelFor(m => m.IsExitInterviewAppl, "Is Exit Inter view Appl :", new { @class = "popup-content-label must" })
        <div class="popup_radio_button radio_button_div_7">
            <span class="popup_radio_button radio_button_div_1">
                <input type="radio" id="radio15" name="IsExitInterviewAppl" value="true" /><label class="ui-corner-left" for="radio15">Yes</label>
                <input type="radio" id="radio16" name="IsExitInterviewAppl" value="false" checked="checked" /><label class="ui-corner-right" for="radio16">No</label>
            </span>
        </div>
    </div>

        }
    </div>

</body>
</html>
