@{
    ViewBag.Title = "LoginAccessGeostruct";
}
@model P2b.Global.LoginAccessGeostruct
<html>
<head>
    <title>LoginAccessGeostruct</title>
    <style>
        .icon-row {
            position: relative;
            left: 130px;
            top: -150px;
        }

        .popup-content-label {
            display: block;
            float: left;
            width: 130px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 150px;
        }

        .row3 {
            width: 548px;
        }

        .row2 {
            display: inline-block;
            width: 333px;
        }

        .add-dialog-content {
            float: right;
            right: 0;
            width: 678px;
        }

        .form-of-element {
            display: block;
            border: #DEDEDE solid 0.1px;
            width: auto;
            height: 351px;
            padding: 5px 2px;
            margin-top: 3px;
        }

        .select_div {
        }

        .filter {
            display: none;
            pointer-events: none;
        }

        #note {
            float: right;
            color: black;
            margin-right: 12px;
            font-size: 10px;
        }

        /*li, .ui-icon ui-icon-newwin {
            display: none;
            pointer-events: none;
        }

        li, .ui-icon ui-icon-pencil {
            display: none;
            pointer-events: none;
        }*/

        /*.btn-pane {
            display: none;
            pointer-events: none;
        }*/
    </style>

</head>
<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <button class="button" id="add">Create</button>
                @*<button class="button" id="View">View</button>*@
                <div style="float:left">
                    <label for="html" class="popup-content-label must">LoginAccess Type :</label>
                    <select id="LoginAccessTypelist" name="LoginAccessTypelist" style="width:159px;" class="must">
                        <option value="0">-Select-</option>
                        <option value="1">Geostruct</option>
                        <option value="2">Paystruct</option>
                        <option value="3">Funcstruct</option>
                    </select>
                    <button class="button" id="Load" style="float:right">Load</button>
                </div>

            </div>
            @*<div class="row2 select_div content_margine">
                    <label for="html" class="popup-content-label must">LoginAccess Type :</label>
                    <select id="LoginAccessTypelist" name="LoginAccessTypelist" style="width:159px;" class="must">
                        <option value="0">Geostruct</option>
                        <option value="1">Paystruct</option>
                        <option value="2">Funcstruct</option>
                    </select>
                </div>*@
        </div>
    </div>

    <div class="row2 select_div content_margine">
        
    </div>

    <div id="Grid_Form">
        <div>
            <div id="Container" class="container">
                <div id="Demo">
                    <table id="MyTable" class="display" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>DD</th>
                                <th>Code</th>
                                <th>Name</th>
                                <th>Job</th>
                                <th>Grade</th>
                                <th>Location</th>
                                <th>ID</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div><span id="note"><b>Note : </b>All records of the selected package will be deleted.</span></div>
        </div>
    </div><br><br>

    <div id="Grid_Form1">
            <div>
                <div id="container1" class="container">
                    <div id="demo1">
                        <table id="MyTable1" class="display" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>DD</th>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Job</th>
                                    <th>Grade</th>
                                    <th>Location</th>
                                    <th>ID</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
                <div><span id="note"><b>Note : </b>All records of the selected package will be deleted.</span></div>
            </div>
        </div><br><br>

    <div id="Grid_Form2">
            <div>
                <div id="container2" class="container">
                    <div id="demo2">
                        <table id="MyTable2" class="display" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>DD</th>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Job</th>
                                    <th>Grade</th>
                                    <th>Location</th>
                                    <th>ID</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
                <div><span id="note"><b>Note : </b>All records of the selected package will be deleted.</span></div>
            </div>
        </div>

    
    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>

    
  
    <div id="Create_Dialog">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmLoginAccessGeostruct", name = "frmLoginAccessGeostruct" }))
        {

            <div class="form-of-element">

                <div class="fileremployee">
                    <div class="employee-transcationdiv" style="float:left">
                        <div><label>Search : </label><input type="text" id="Employee-Search" /></div>
                        <table cellspacing="0" cellpadding="1" class="employee-transcationtable" id="Employee-Table">
                            <tr><th><input type="checkbox" id="Case-Employee" /></th><th>Employee</th></tr>
                        </table>
                    </div>
                </div>

                <div class="add-dialog-content">
                    <div class="row2 select_div content_margine">@Html.LabelFor(m => m.Package, "Package :", new { @class = "popup-content-label must" })<select id="Packagelist" name="Packagelist" style="width:159px;" class="must"><option value="0">-Select-</option></select></div>
                    <br><br>
                    @* <div class="row2 select_div content_margine">@Html.LabelFor(m => m.PayMonth, "PayMonth :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.PayMonth, new { @class = "popup-content-textbox must" })</div>
                        <div class="row2 select_div content_margine">@Html.LabelFor(m => m.ActualAmount, "Actual Amount :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.ActualAmount, new { @class = "popup-content-textbox must" })</div>
                        <div class="row2 select_div content_margine">@Html.LabelFor(m => m.ProjectedAmount, "Projected Amount :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.ProjectedAmount, new { @class = "popup-content-textbox must" })</div>*@


                    <input id="Autho_Action" type="hidden" name="Autho_Action" />
                    <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
                    <input id="geo_id" name="geo_id" class="filter_structure_id" />
                    <input id="pay_id" name="pay_id" class="filter_structure_id" />
                    <input id="fun_id" name="fun_id" class="filter_structure_id" />
                    <div class="filter-div">
                        <label class="advance_filter_label">Advance Filter<span class="advance_filter_sysmbol_class_plus" id="Advance-Filter-Symbol"></span></label>
                        <div id="FormFilter"></div>
                    </div>

                </div>
            </div>

        }
    </div>
</body>
</html>
<script>
    $(document).ready(function (e) {
        $('button').button();


        @*$('#LoginAccessTypelist').P2BSelectMenuAppend('@Url.Action("PopulateDropDownLoginAccessTypeList", "LoginAccessGeostruct")', "", ""); // To bind dropdown on page load*@
        //$('#Load').on('click', function (e) {
        //    //$('#JqGrid').PostGridData({ url: url, filter: $('#txtPayMonth').val() });
        //});
        //$('#PayMonth,#txtPayMonth').MonthYearPicker();
        //var PayMonthObj = {
        //    Month: null,
        //    SetMonth: function (val) {
        //        if (val != null || val != undefined) this.Month = val;
        //        this.Month = null;
        //    },
        //    GetMonth: function () {
        //        return this.Month;
        //    }

        //};


        $('#loademp').on('click', function () {
            if ($('#txtPayMonth').val()) {
                PayMonthObj.SetMonth($('#txtPayMonth').val());
            }
        });
        if ($("#txtPayMonth").val() == "") {
            var dt = new Date();
            var month = dt.getMonth() + 1;
            month = month < 10 ? '0' + month : '' + month;
            $("#txtPayMonth").val(month + "/" + dt.getFullYear());
        }
        $('#Grid_Form').hide();
        $('#Grid_Form1').hide();
        $('#Grid_Form2').hide();

      

        // $('#LoginAccessTypelist').on('selectmenuchange', function (event) { // get data on dropdown selection change event
        $('#Load').on('click', function (e) {
            // alert("Inside dropdown....");
            var selectedText = $('#LoginAccessTypelist').find("option:selected").text();
            //var selectedValue = $('#LoginAccessTypelist').val(selectedText);
            //location.reload(true);


            
            if (selectedText == "Geostruct") {
                $('#Grid_Form').show();
                $('#Grid_Form1').hide();
                $('#Grid_Form2').hide();
               
                $('#MyTable').MultiLevelInlineEditGrid({
                    url: "@Url.Action("Emp_GridOne", "LoginAccessGeostruct")",
                    columnname: ["Code", "Name", "Job", "Grade", "Location", "Id"],
                    childheader: ["PackageCode", "Geostrut", "Id"],
                    childurl: "@Url.Action("Get_LoginAcessGeo", "LoginAccessGeostruct")",
                    tableheader: "Login Geostruct Details ",
                    childurlColumnNo: "6"
                });

            } else if (selectedText == "Paystruct") {
                $('#Grid_Form1').show();
                $('#Grid_Form2').hide();
                $('#Grid_Form').hide();
                $('#MyTable1').MultiLevelInlineEditGrid({
                    url: "@Url.Action("Emp_GridTwo", "LoginAccessGeostruct")",
                    columnname: ["Code", "Name", "Job", "Grade", "Location", "Id"],
                    childheader: ["PackageCode", "Paystruct", "Id"],
                    childurl: "@Url.Action("Get_LoginAcessPay", "LoginAccessGeostruct")",
                    tableheader: "Login Paystruct Details ",
                    childurlColumnNo: "6"
                });

            } else {
                $('#Grid_Form2').show();
                $('#Grid_Form1').hide();
                $('#Grid_Form').hide();
                $('#MyTable2').MultiLevelInlineEditGrid({
                    url: "@Url.Action("Emp_GridThree", "LoginAccessGeostruct")",
                    columnname: ["Code", "Name", "Job", "Grade", "Location", "Id"],
                    //childheader: ["PackageCode", "Funcstruct", "FuncAccessId"],
                    childheader: ["PackageCode", "Funcstruct", "Id"],
                    childurl: "@Url.Action("Get_LoginAcessFunc", "LoginAccessGeostruct")",
                    tableheader: "Login Funcstruct Details ",
                    childurlColumnNo: "6"
                });

            }
            //alert("Selected Text: " + selectedText + " Value: " + selectedValue);
        });






        @*$('#MyTable').MultiLevelInlineEditGrid({
            url: "@Url.Action("Emp_GridOne", "LoginAccessGeostruct")",
            columnname: ["Code", "Name", "Job", "Grade", "Location", "Id"],
            childheader: ["PackageCode", "Geostrut", "Id"],
            childurl: "@Url.Action("Get_LoginAcessGeo", "LoginAccessGeostruct")",
            tableheader: "Login Geostruct Details ",
            childurlColumnNo: "6"
        });*@

        @*$('#MyTable1').MultiLevelInlineEditGrid({
            url: "@Url.Action("Emp_GridTwo", "LoginAccessGeostruct")",
            columnname: ["Code", "Name", "Job", "Grade", "Location", "Id"],
            childheader: ["PackageCode", "Paystruct", "PayAccessId"],
            childurl: "@Url.Action("Get_LoginAcessPay", "LoginAccessGeostruct")",
            tableheader: "Login Paystruct Details ",
            childurlColumnNo: "6"
        });*@

        @*$('#MyTable2').MultiLevelInlineEditGrid({
            url: "@Url.Action("Emp_GridThree", "LoginAccessGeostruct")",
            columnname: ["Code", "Name", "Job", "Grade", "Location", "Id"],
            childheader: ["PackageCode", "Funcstruct", "FuncAccessId"],
            childurl: "@Url.Action("Get_LoginAcessFunc", "LoginAccessGeostruct")",
            tableheader: "Login Funcstruct Details ",
            childurlColumnNo: "6"
        });*@




        //parent = 0;
        $.DataTableChildManipulation = function (init, id, parentid, htmurl, editurl, submiturl) {
            var parent_element = $(init).parents('td:last').parent().prev();
            // console.log(parent_element.find('td:eq(1)'));
            // var parentId = parent_element.find('td:eq(1)').html();
            var dt = $('#MyTable').DataTable();
            //alert("dt " + dt);
            var dt_pay = $('#MyTable1').DataTable();
           // alert("dt_pay "+dt_pay);
            var dt_func = $('#MyTable2').DataTable();
            var htmlcomponant = {
                init: init,
                Id: id,
                idx: parentid,
                htmurl: htmurl,
                editurl: editurl,
                submiturl: submiturl,
            };



            if ($(init).hasClass('ui-icon-trash')) {
                 //alert(parentid);
                 //alert(id);
                $('<div></div>').PartialCreateDialog({
                    state: "open",
                    mode: "Delete",
                    submiturl: "@Url.Action("Delete", "LoginAccessGeostruct")",
                    forwarddata: [id, parentid],
                    submitfun: function (data) {
                        var row = dt.row(parent_element);
                        //alert("GEO " + row);
                        if (row.child.isShown()) {
                            parent_element.removeClass('details');
                            row.child.hide();
                        }
                        var row_pay = dt_pay.row(parent_element);
                        //alert("PAY "+row_pay);
                        if (row_pay.child.isShown()) {
                            parent_element.removeClass('details');
                            row_pay.child.hide();
                        }
                        var row_func = dt_func.row(parent_element);
                        //alert("FUNC "+row_func);
                        if (row_func.child.isShown()) {
                            parent_element.removeClass('details');
                            row_func.child.hide();
                        }
                    }
                });
            }
        };

        @*$.DataTableChildManipulation = function (init, id, parentid, htmurl, editurl, submiturl) {
            var parent_element = $(init).parents('td:last').parent().prev();
             //console.log(parent_element.find('td:eq(1)'));
            // var parentId = parent_element.find('td:eq(1)').html();
            var dt_pay = $('#MyTable1').DataTable();
            alert("dt_pay "+dt_pay);
            var htmlcomponant = {
                init: init,
                Id: id,
                
                idx: parentid,
                htmurl: htmurl,
                editurl: editurl,
                submiturl: submiturl,
            };


            if ($(init).hasClass('ui-icon-trash')) {
                alert(parentid);
                alert(id);
                $('<div></div>').PartialCreateDialog({
                    state: "open",
                    mode: "Delete",
                    submiturl: "@Url.Action("Delete", "LoginAccessGeostruct")",
                    forwarddata: [id, parentid],
                submitfun: function (data) {
                    var row_pay = dt_pay.row(parent_element);
                    alert("PAY "+row_pay);
                    if (row_pay.child.isShown()) {
                        parent_element.removeClass('details');
                        row_pay.child.hide();
                    }
                }
            });
        }
    };*@

        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            
        }



        $('#Advance-Filter-Symbol').on('click', function () {
            $("<div></div>").FilterDialog({
                width: 1000,
                height: 400,
                title: "Filter",
                htmlurl: "@Url.Action("Advance_partial", "Transcation")",
                returnat: function (data) {
                    //console.log(data);
              
                    var forwarddata = JSON.stringify(data);
                    //alert(forwarddata);
                    $('#geo_id').val(forwarddata);
                    $('#pay_id').val(forwarddata);
                    $('#fun_id').val(forwarddata);
                  
                    //$('#Employee-Table').P2BTransactionTableDynamic('#Employee-Search', '#Case-Employee', './Transcation/Get_Employelist?geo_id=' + forwarddata + '', "");
                },
                renderat: "#FormFilter",
            });
        });
        // $('#LoginAccessTypelist').P2BSelectMenuAppend('@Url.Action("PopulateDropDownLoginAccessTypeList", "LoginAccessGeostruct")', "", ""); // To bind dropdown on page load
        $('#Create_Dialog').P2BCreateDialog();
        $('#CreateRelease_dialog').P2BCreateDialog();
        //Create Function
        $('#add').on("click", function (event) {
            $('#frmLoginAccessGeostruct').trigger("reset");
           // $.LoadEmpByDefault(false, "");
            $.LoadEmpByDefaultWOGeoId(false, "");
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create LoginAccess', 'open', '@Url.Action("Create")', '#frmLoginAccessGeostruct', 'Message :', 'Request Falied :', '#JqGrid', 570, 1055, '', '', function (data) { }, '');
            //$('#PayMonth').attr('readonly', 'readonly');
            //$('#ActualAmount').val("0");
            //$('#ProjectedAmount').val("0");
            $('#Packagelist').P2BSelectMenuAppend('@Url.Action("PopulateDropDownPackageList", "LoginAccessGeostruct")', "", ""); // To bind dropdown on page load
            event.preventDefault();
        });



        @*$('#Load').on('click', function (e) {
            $('#MyTable1').show();
            // AssignData();
            $('#MyTable1').MultiLevelInlineEditGrid({
                url: "@Url.Action("Emp_GridTwo", "LoginAccessGeostruct")",
                columnname: ["Code", "Name", "Job", "Grade", "Location", "Id"],
                childheader: ["PackageCode", "Paystruct", "PayAccessId"],
                childurl: "@Url.Action("Get_LoginAcessPay", "LoginAccessGeostruct")",
                tableheader: "Login Paystruct Details ",
                childurlColumnNo: "6"
            });
        });*@


        $('#Btn-Upload-Data').on('click', function (e) {
            $('<div></div>').PartialCreateDialog({
                height: '500',
                width: '700',
                form: '#frmlookup',
                title: 'Upload',
                htmlurl: '@Url.Action("PARTIAL","JSONUPLOAD")',
                state: "open",
                mode: 'edit',
                editurl: null,
                submiturl: null,
                editdata: 'a',
                forwarddata: 'a',
                returndatafunction: function (data) {
                    console.log(data);
                },
                submitfun: function (data) {
                    console.log(data);
                }
            });
        });

        $('.popup_radio_button').controlgroup();
        $('#Packagelist').selectmenu().selectmenu("menuWidget");
        $('#LoginAccessTypelist').selectmenu().selectmenu("menuWidget");
        //$('#ActualAmount,#ProjectedAmount').ForceAmount();
        //$('#ActualAmount,#ProjectedAmount').ValidateTextBox({ maxlength: 10 });

        //  $('#PayMonth').P2BMonthPicker();

    });
</script>
