@{
    ViewBag.Title = "WorkExpDetasils";
}
@model P2b.Global.WorkExpDetails


<html>
<head>
    <title></title>
    <style>
        .row1 {
            width: 423px;
        }

        .row5 {
            width: 299px;
            display: inline-block;
        }

        .popup-content-label {
            width: 132px;
            display: block;
            float: left;
            margin: 1.5px;
        }

        .popup-content-textbox {
            width: 206px;
        }

        .row3 {
            width: 371px;
            display: inline-block;
        }

        .section6 {
            display: block;
            border: 1.5px solid rgba(207, 207, 207, 0.91);
            height: 177px;
            width: 550px;
            margin: 4px auto;
            position: absolute;
            top: 374px;
            left: 560px;
        }

        .section3 {
            display: block;
            border: 1.5px solid rgba(207, 207, 207, 0.91);
            height: 180px;
            width: 550px;
            margin: 4px auto;
            position: absolute;
            left: 560px;
            top: 5px;
        }


        .section5 {
            display: block;
            border: 1.5px solid rgba(207, 207, 207, 0.91);
            height: 180px;
            width: 550px;
            margin: 4px auto;
            position: absolute;
            left: 560px;
            top: 189px;
        }

        .short_width {
            width: 74px;
        }

        .transactiontablenew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            /*width: 200px;*/
            display: block;
            overflow: auto;
            height: 500px;
            border-collapse: collapse;
        }

        .transactiondivnew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            width: 507px;
            border-radius: 5px;
            height: 32px;
        }

            .transactiondivnew > div {
                display: inline-block;
                margin: 0 auto;
                padding: 4px;
            }

                .transactiondivnew > div > input {
                    box-sizing: initial;
                    display: inline-block;
                    margin: 0 auto;
                    width: 108px;
                }

        .transactiontablenew th, .transactiontablenew td {
            background: rgba(246, 246, 246, 0.64) none repeat scroll 0 0;
            padding: 5px;
            border-bottom: 1px solid #c5c5c5;
            border-right: 1px solid #c5c5c5;
            text-align: center;
            color: rgba(114, 113, 113, 0.9);
        }

            .transactiontablenew th:nth-child(1) > input, .transactiontablenew td:nth-child(1) > input {
                margin: 0 auto;
            }

            .transactiontablenew th:nth-child(2), .transactiontablenew td:nth-child(2) {
                height: 100%;
                width: 100%;
            }

        .transactiontablenew tr:hover {
            cursor: pointer;
            background: #EEEEEE none repeat scroll 0 0;
        }
    </style>
</head>
<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <button class="button" id="Create">Create</button>
                <button class="button" id="View">View</button>
                <button class="button" id="Edit">Edit</button>
                <button class="button" id="Delete">Delete</button>
                <button class="button" id="Autho">Authorised</button>
                <div id="Grid_Form">
                    <div>
                        <table id="JqGrid"></table>
                        <div id="pager2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv" id="lookup"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>
    <div id="Create_Dialog">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormWorkDetails", name = "frmworkdetails" }))
        {
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
            <div id="tabs">
                @*<ul>
                        <li><a href="#sec1">Employee Info</a></li>
                        <li><a href="#sec2">Reporting Structure</a></li>
                    </ul>*@

                <div class="section_Method" id="Section_Emp">
                    <div class="heading" style="width:1065px">Employee List</div>

                    <div class="employeeselectiondiv">
                        <div class="transactiondivnew dynamic addons" style="float:left" id="asd">
                            <div>
                                <label>Search : </label>
                                <input type="text" id="Employee-Search" style="width: 425px;" />
                            </div>
                            <table cellspacing="0" cellpadding="1" class="transactiontablenew" id="Employee-Table" style="height:440px">
                                <tr>
                                    <th><input type="checkbox" id="Case-Employee" class="Chck_emp" /></th>
                                    <th>Employee</th>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="section3">
                    <div class="heading">GeoGraphical Struct</div>
                    <div class="row3 content_margine">
                        @Html.LabelFor(m => m.GeoStruct.Corporate, "Corpoarte:", new { @class = "popup-content-label short_width" })
                        <select class="selectmenu_geo selectmenu" style="width:200px;display:none;" id="CorporateList_DDL" name="CorporateList_DDL"><option value="0">-Select-</option></select>
                    </div>
                    <div class="row3 content_margine">
                        @Html.LabelFor(m => m.GeoStruct.Region, "Region:", new { @class = "popup-content-label short_width" })
                        <select class="selectmenu_geo selectmenu" style="width:200px;display:none;" id="RegionList_DDL" name="RegionList_DDL"><option value="0">-Select-</option></select>
                    </div>
                    <div class="row3 content_margine">
                        @Html.LabelFor(m => m.GeoStruct.Company, "Company:", new { @class = "popup-content-label short_width" })
                        <select class="selectmenu_geo selectmenu" style="width:200px; left:-32px" id="CompanyList_DDL" name="CompanyList_DDL"><option value="0">-Select-</option></select>
                    </div>
                    <div class="row3 content_margine">
                        @Html.LabelFor(m => m.GeoStruct.Division, "Division:", new { @class = "popup-content-label short_width" })
                        <select class="selectmenu_geo selectmenu" style="width:200px; left:-19px" id="DivisionList_DDL" name="DivisionList_DDL"><option value="0">-Select-</option></select>
                    </div>
                    <div class="row3 content_margine">
                        @Html.LabelFor(m => m.GeoStruct.Location, "Location:", new { @class = "popup-content-label short_width" })
                        <select class="selectmenu_geo selectmenu" style="width: 200px; left: -32px;" id="LocationList_DDL" name="LocationList_DDL"><option value="0">-Select-</option></select>
                    </div>
                    <div class="row3 content_margine">
                        @Html.LabelFor(m => m.GeoStruct.Department, "Department:", new { @class = "popup-content-label short_width" })
                        <select class="selectmenu_geo selectmenu" style="width: 200px; left:-19px" id="DepartmentList_DDL" name="DepartmentList_DDL"><option value="0">-Select-</option></select>
                    </div>
                    <div class="row3 content_margine">
                        @Html.LabelFor(m => m.GeoStruct.Group, "Group:", new { @class = "popup-content-label short_width" })
                        <select class="selectmenu_geo selectmenu" style="width:200px;left:-32px;" id="GroupList_DDL" name="GroupList_DDL"><option value="0">-Select-</option></select>
                    </div>
                    <div class="row3 content_margine">
                        @Html.LabelFor(m => m.GeoStruct.Unit, "Unit:", new { @class = "popup-content-label short_width" })
                        <select class="selectmenu_geo selectmenu" style="width:200px; left:-19px" id="UnitList_DDL" name="UnitList_DDL"><option value="0">-Select-</option></select>

                    </div>
                </div>

                <div class="section5">
                    <div class="heading">Functional Struct</div>
                    <div class="row5 content_margine">
                        @Html.LabelFor(m => m.FuncStruct.Job.Name, "Job", new { @class = "popup-content-label short_width" })
                        <select class="selectmenu_fun selectmenu" style="width:200px" id="JobList_DDL" name="JobList_DDL"><option value="0">-Select-</option></select>
                    </div>
                    <div class="row5 content_margine">
                        @Html.LabelFor(m => m.FuncStruct.Job.JobPosition, "Position", new { @class = "popup-content-label short_width" })
                        <select class="selectmenu_fun selectmenu" style="width:200px" id="JobPositionList_DDL" name="Position_drop"><option value="0">-Select-</option></select>

                    </div>
                </div>

                <div class="section6">
                    <div class="row3 content_margine">
                        @Html.LabelFor(m => m.FromDate, "From Date :", new { @class = "popup-content-label must" })
                        @Html.TextBoxFor(m => m.FromDate, new { @class = "popup-content-textbox must", @id = "FromDate" })


                    </div>
                    <div class="row3 content_margine">
                        @Html.LabelFor(m => m.ToDate, "To Date :", new { @class = "popup-content-label must" })
                        @Html.TextBoxFor(m => m.ToDate, new { @class = "popup-content-textbox must" })
                    </div>
                    <div class="itin_row1 content_margine">
                        @Html.LabelFor(m => m.YrOfService, "Years Of Service :", new { @class = "popup-content-label must" })
                        @Html.TextBoxFor(m => m.YrOfService, new { @class = "popup-content-textbox must", @maxlength = "2" })
                    </div>
                    <div class="row3 content_margine">
                        @Html.LabelFor(m => m.WorkDetails, "Work Details :", new { @class = "popup-content-label" })
                        @Html.TextBoxFor(m => m.WorkDetails, new { @class = "popup-content-textbox" })
                    </div>


                </div>
                <div class="emplist_row">
                    <div id="Grid_Form2">

                    </div>
                </div>
            </div>

        }
    </div>


</body>
<script>
    $(document).ready(function (e) {
        $("#Grid_Formnew").hide();
        $('button').button();
        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;
        //a.Id, a.Code, a.AccountNo
        ColModel = ['EmpCode', 'EmpName', 'ID'];
        ColNames = [ 'Employee Code', 'Employee Name', 'ID'];
        SortName = 'ID';
        Caption = 'Work Experience Details';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;
        var btndisablenames = '#Edit-ResAddrs-Employee,#Remove-ResAddrs-Employee,#Edit-ResContactDetails-Employee,#Remove-ResContactDetails-Employee,#Edit-PermAddrs-Employee,#Remove-PermAddrs-Employee,#Edit-PermContactDetails-Employee,#Remove-PermContactDetails-Employee,#Edit-CorrsAddrs-Employee,#Remove-CorrsAddrs-Employee,#Edit-CorrsContactDetails-Employee,#Remove-CorrsContactDetails-Employee'
        var tablelist = '#ResAddrslist,#ResContactDetailslist,#PermAddrslist,#PermContactDetailslist,#CorrsAddrslist,#CorrsContactDetailslist';
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);
        //$('#JqGrid1').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);
        $('#FromDate').P2BDatePicker();

        function DateConvert(JsonDate) {
            var date = new Date(parseInt(JsonDate.substr(6)));
            var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
            return displayDate;
        };
        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            //   dl = $('#JqGrid1').P2BGrid.P2BEdDelV('#JqGrid1', 'Id');
        }

        $('#YrOfService').ForceOnlyNumeric();
        $('#YrOfService').ValidateTextBox({ maxlength: 4 });
        $('#WorkDetails').ValidateTextBox({ maxlength: 50 });


        //$('#FromDate').on('change', function () {
        //    var todate = $("#ToDate").val();
        //    if (todate != null) {
        //        var frm = $("#FromDate").val();


        //        if (frm != "" || frm != undefined || frm != null) {
        //            var todate = $("#ToDate").val();
        //            var TO = todate.split('/')[2];
        //            var FROM = frm.split('/')[2];
        //            var TOT = (TO) - (FROM);
        //            $("#YrOfService").val(TOT);
        //        }
        //    }
        //});
        $('#FromDate').on('change', function () {
            //if (!$('#FromDate').val()) {
            //    alert('Enter From Date..!');
            //    $('#ToDate').val('');
            //    $('#YrOfService').val('');
            //    return false;
            //    // e.preventDefault();
            //}
            if ($(this).val()) {
                var a = $.StartEndDateCheck({
                    startdate: '#FromDate',
                    enddate: '#ToDate',
                });
                if (a == 0) {
                    alert("From Date Should Be less Than To Date..!");
                }
            }
            var one_day = 1000 * 60 * 60 * 24;
            var from = $("#FromDate").val().split("/");
            // alert(from);
            var convertedStartDate = new Date(from[2], from[1] - 1, from[0]);
            var newdate1 = new Date(convertedStartDate);
            // alert(newdate1);

            var to = $("#ToDate").val().split("/");
            //  alert(to);
            var convertedEndDate = new Date(to[2], to[1] - 1, to[0]);
            var newdate2 = new Date(convertedEndDate);
            // alert(newdate2);

            var diff = newdate2.getTime() - newdate1.getTime();
            //  alert(diff);

            var diff2 = Math.round(diff / one_day);
            var v3 = diff2 / 365;
            var v4 = parseFloat(v3).toString();
            var v5 = v4.split('.')[0];
            $("#YrOfService").val(v5);
        });
        $('#ToDate').on('change', function () {
            //if (!$('#FromDate').val()) {
            //    alert('Enter From Date..!');
            //    $('#ToDate').val('');
            //    $('#YrOfService').val('');
            //    return false;
            //    // e.preventDefault();
            //}
            if ($(this).val()) {
                var a = $.StartEndDateCheck({
                    startdate: '#FromDate',
                    enddate: '#ToDate',
                });
                if (a == 0) {
                    alert("From Date Should Be less Than To Date..!");
                }
            }
            var one_day = 1000 * 60 * 60 * 24;
            var from = $("#FromDate").val().split("/");
            // alert(from);
            var convertedStartDate = new Date(from[2], from[1] - 1, from[0]);
            var newdate1 = new Date(convertedStartDate);
            // alert(newdate1);

            var to = $("#ToDate").val().split("/");
            //  alert(to);
            var convertedEndDate = new Date(to[2], to[1] - 1, to[0]);
            var newdate2 = new Date(convertedEndDate);
            // alert(newdate2);

            var diff = newdate2.getTime() - newdate1.getTime();
            //  alert(diff);

            var diff2 = Math.round(diff / one_day);
            var v3 = diff2 / 365;
            var v4 = parseFloat(v3).toString();
            var v5 = v4.split('.')[0];
            $("#YrOfService").val(v5);
        });
        $.LoadEmpByDefault(true);
        $('#tabs').tabs();
        $('#Create_Dialog').P2BCreateDialog();
        $('#Create').on("click", function () {
            $('#FormWorkDetails').trigger('reset');
            $.LoadEmpByDefault(true);
            $('#ToDate').TodayDate();

            $('#Advance-Filter-Symbol').on('click', function () {
                $("<div></div>").FilterDialog({
                    width: 1000,
                    height: 400,
                    title: "Filter",
                    htmlurl: "@Url.Action("Advance_partial", "Transcation")",
                    returnat: function (data) {
                        console.log(data);
                        var forwarddata = JSON.stringify(data);
                        $('#Employee-Table').P2BTransactionTableDynamic('#Employee-Search', '#Case-Employee', './Transcation/Get_Employelist_h?geo_id=' + forwarddata + '', "");
                        //$('#Employee-Table').P2BTransactionTableDynamic('#Employee-Search', '#Case-Employee', './Transcation/Get_Employelist?geo_id=' + forwarddata + '', "");
                        //$('#pay_id').val(data.PayStruct);
                        //$('#fun_id').val(data.FunStruct);
                    },
                    renderat: "#FormFilter", hierarchy: true,
                });
                //console.log($('#FormFilter')[0]);
            });
            $('#Section_Emp').fadeIn();
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create Work Experience', 'open', '@Url.Action("create")', '#FormWorkDetails', 'Message :', 'Request Falied :', '#JqGrid', 552, 1200, tablelist, '', function (data) { });
            $('#YrOfService').attr('readonly', 'readonly');
            $('.selectmenu_geo,.selectmenu_pay,.selectmenu_fun').parent().hide();
            $('.selectmenu_geo').DynamicSelectMenuAppend("@Url.Action("PopulateDropDownListGeo")");
            $('.selectmenu_geo').DynamicSelectMenuOnChange("@Url.Action("PopulateDropDownlistOnChangeGeo")");

            $('.selectmenu_pay').DynamicSelectMenuAppend("@Url.Action("PopulateDropDownListPay")");
            $('.selectmenu_pay').DynamicSelectMenuOnChange("@Url.Action("PopulateDropDownlistOnChangePay")");

            $('.selectmenu_fun').DynamicSelectMenuAppend("@Url.Action("PopulateDropDownListFun")");
            $('.selectmenu_fun').DynamicSelectMenuOnChange("@Url.Action("PopulateDropDownlistOnChangeFun")");



        });


        function parseJsonDate(jsonDateString) {
            return new Date(parseInt(jsonDateString.replace('/Date(', '')));
        }
        $('#Edit').on('click', function () {
            $('#FormWorkDetails').trigger('reset');
            AssignData();
            $('#Section_Emp').fadeOut();
            //$(".ui-dialog-titlebar").append("<div class='titleinfo'>" + JSON.stringify(dt) + "<div>");
            //console.log(dt);
            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.ID, '@Url.Action("EditSave")', "Edit Work Experience " + JSON.stringify(dt) + "", '#FormWorkDetails', dt.ID, 'Message : ', 'Request Falied :', '#JqGrid', 552, 1200, tablelist, btndisablenames, function (data) {
                // setTimeout(function () {

                $.each(data[0], function (i, k) {
                    console.log(k.Code);
                    $('#EmpCode').val(k.Code);
                    $('#EmpCode').attr('readonly', 'readonly');

                    if (k.FromDate != null) {
                        $('#FromDate').val(DateConvert(k.FromDate));
                    }

                    if (k.ToDate != null) {
                        $('#ToDate').val(DateConvert(k.ToDate));
                    }
                    $('#YrOfService').attr('readonly', 'readonly');
                    $('#YrOfService').val(k.YrOfService);
                    $('#WorkDetails').val(k.WorkDetails);

                    //$('#EmpNameDetail').val(k.EmpNameDetail);
                    $('#CardCode').val(k.CardCode);
                    if (k.GeoStruct_Corporate_Id != 0) {
                        $('#CorporateList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateCorporateList", "WorkExpDetails")", k.GeoStruct_Corporate_Id, k.GeoStruct_Corporate_Id);
                    }
                    else {
                        $('#CorporateList_DDL').selectmenu("widget").hide();
                        $('#CorporateList_DDL').parent('div').hide();
                    }
                    if (k.GeoStruct_Region_Id != 0) {
                        $('#RegionList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateRegionList", "WorkExpDetails")", k.GeoStruct_Region_Id, k.GeoStruct_Region_Id);
                    } else {
                        $('#RegionList_DDL').selectmenu("widget").hide();
                        $('#RegionList_DDL').parent('div').hide();
                    }
                    if (k.GeoStruct_Company_Id != 0) {
                        $('#CompanyList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateCompanyList", "WorkExpDetails")", k.GeoStruct_Company_Id, k.GeoStruct_Company_Id);
                    } else {
                        $('#CompanyList_DDL').selectmenu("widget").hide();
                        $('#CompanyList_DDL').parent('div').hide();
                    }

                    if (k.GeoStruct_Division_Id != 0) {

                        $('#DivisionList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDivisionList", "WorkExpDetails")", k.GeoStruct_Division_Id, k.GeoStruct_Division_Id);
                    } else {
                        $('#DivisionList_DDL').selectmenu("widget").hide();
                        $('#DivisionList_DDL').parent('div').hide();
                    }
                    if (k.GeoStruct_Location_Id != 0) {

                        $('#LocationList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateLocationList", "WorkExpDetails")", k.GeoStruct_Location_Id, k.GeoStruct_Location_Id);
                    } else {
                        $('#LocationList_DDL').selectmenu("widget").hide();
                        $('#LocationList_DDL').parent('div').hide();
                    }
                    if (k.GeoStruct_Department_Id != 0) {

                        $('#DepartmentList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDepartmentList", "WorkExpDetails")", k.GeoStruct_Department_Id, k.GeoStruct_Department_Id);
                    } else {
                        $('#DepartmentList_DDL').selectmenu("widget").hide();
                        $('#DepartmentList_DDL').parent('div').hide();
                    }
                    if (k.GeoStruct_Group_Id != 0) {

                        $('#GroupList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateGroupList", "WorkExpDetails")", k.GeoStruct_Group_Id, k.GeoStruct_Group_Id);
                    } else {
                        $('#GroupList_DDL').selectmenu("widget").hide();
                        $('#GroupList_DDL').parent('div').hide();
                    }
                    if (k.GeoStruct_Unit_Id != 0) {

                        $('#UnitList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateUnitList", "WorkExpDetails")", k.GeoStruct_Unit_Id, k.GeoStruct_Unit_Id);
                    } else {
                        $('#UnitList_DDL').selectmenu("widget").hide();
                        $('#UnitList_DDL').parent('div').hide();
                    }



                    if (k.FuncStruct_Job_Id != 0) {
                        $('#JobList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateJobNameList", "WorkExpDetails")","", k.FuncStruct_Job_Id);

                      //  $('#CategoryList_DDL').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 402, k.BusinessType_Id);

                    } else {
                        $('#JobList_DDL').selectmenu("widget").hide();
                        $('#JobList_DDL').parent('div').hide();
                    }

                    if (k.FuncStruct_Position_Id != 0) {
                        $('#JobPositionList_DDL').P2BSelectMenuAppend("@Url.Action("PopulatePositionList", "WorkExpDetails")", k.FuncStruct_Position_Id, k.FuncStruct_Position_Id);
                    } else {
                        $('#JobPositionList_DDL').selectmenu("widget").hide();
                        $('#JobPositionList_DDL').parent('div').hide();
                    }


                });
                //partial page bind

                $('#Autho_Allow').val(data[3]);
            });
        });





        $('#View').button().click(function (event) {
            AssignData();
            $('#Section_Emp').fadeOut();
            $('#Employee-Table').val(JSON.stringify(dt));
            var v1 = JSON.stringify(dt);
            $('#FormWorkDetails').trigger('reset');
            var btnDisnames = '#Lookup-ResAddrs-Employee,#Create-ResAddrs-Employee,#Edit-ResAddrs-Employee,#Remove-ResAddrs-Employee,#Lookup-ResContactDetails-Employee,#Create-ResContactDetails-Employee,#Edit-ResContactDetails-Employee,#Remove-ResContactDetails-Employee,#Lookup-PermAddrs-Employee,#Create-PermAddrs-Employee,#Edit-PermAddrs-Employee,#Remove-PermAddrs-Employee,#Lookup-PermContactDetails-Employee,#Create-PermContactDetails-Employee,#Lookup-PermContactDetails-Employee,#Create-PermContactDetails-Employee,#Edit-PermContactDetails-Employee,#Remove-PermContactDetails-Employee,#Lookup-CorrsAddrs-Employee,#Create-CorrsAddrs-Employee,#Edit-CorrsAddrs-Employee,#Remove-CorrsAddrs-Employee,#Lookup-CorrsContactDetails-Employee,#Create-CorrsContactDetails-Employee,#Edit-CorrsContactDetails-Employee,#Remove-CorrsContactDetails-Employee';

            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.ID, v1, tablelist, btnDisnames, 552, 1200, '#Autho', '@Url.Action("AuthSave")', dt.ID, '', '', '', '', '#JqGrid', function (data) {
                $.each(data[0], function (i, k) {
                    console.log(k.Code);
                    $('#EmpCode').val(k.Code);
                    $('#EmpCode').attr('readonly', 'readonly');
                    if (k.FromDate != null) {
                        $('#FromDate').val(DateConvert(k.FromDate));
                    }

                    if (k.ToDate != null) {
                        $('#ToDate').val(DateConvert(k.ToDate));
                    }

                    $('#YrOfService').val(k.YrOfService);
                    $('#WorkDetails').val(k.WorkDetails);
                    $('#CardCode').val(k.CardCode);
                    if (k.GeoStruct_Corporate_Id != 0) {
                        $('#CorporateList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateCorporateList", "WorkExpDetails")", k.GeoStruct_Corporate_Id, k.GeoStruct_Corporate_Id);
                    }
                    else {
                        $('#CorporateList_DDL').selectmenu("widget").hide();
                        $('#CorporateList_DDL').parent('div').hide();
                    }
                    if (k.GeoStruct_Region_Id != 0) {
                        $('#RegionList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateRegionList", "WorkExpDetails")", k.GeoStruct_Region_Id, k.GeoStruct_Region_Id);
                    } else {
                        $('#RegionList_DDL').selectmenu("widget").hide();
                        $('#RegionList_DDL').parent('div').hide();
                    }
                    if (k.GeoStruct_Company_Id != 0) {
                        $('#CompanyList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateCompanyList", "WorkExpDetails")", k.GeoStruct_Company_Id, k.GeoStruct_Company_Id);
                    } else {
                        $('#CompanyList_DDL').selectmenu("widget").hide();
                        $('#CompanyList_DDL').parent('div').hide();
                    }

                    if (k.GeoStruct_Division_Id != 0) {

                        $('#DivisionList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDivisionList", "WorkExpDetails")", k.GeoStruct_Division_Id, k.GeoStruct_Division_Id);
                    } else {
                        $('#DivisionList_DDL').selectmenu("widget").hide();
                        $('#DivisionList_DDL').parent('div').hide();
                    }
                    if (k.GeoStruct_Location_Id != 0) {

                        $('#LocationList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateLocationList", "WorkExpDetails")", k.GeoStruct_Location_Id, k.GeoStruct_Location_Id);
                    } else {
                        $('#LocationList_DDL').selectmenu("widget").hide();
                        $('#LocationList_DDL').parent('div').hide();
                    }
                    if (k.GeoStruct_Department_Id != 0) {

                        $('#DepartmentList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDepartmentList", "WorkExpDetails")", k.GeoStruct_Department_Id, k.GeoStruct_Department_Id);
                    } else {
                        $('#DepartmentList_DDL').selectmenu("widget").hide();
                        $('#DepartmentList_DDL').parent('div').hide();
                    }
                    if (k.GeoStruct_Group_Id != 0) {

                        $('#GroupList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateGroupList", "WorkExpDetails")", k.GeoStruct_Group_Id, k.GeoStruct_Group_Id);
                    } else {
                        $('#GroupList_DDL').selectmenu("widget").hide();
                        $('#GroupList_DDL').parent('div').hide();
                    }
                    if (k.GeoStruct_Unit_Id != 0) {

                        $('#UnitList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateUnitList", "WorkExpDetails")", k.GeoStruct_Unit_Id, k.GeoStruct_Unit_Id);
                    } else {
                        $('#UnitList_DDL').selectmenu("widget").hide();
                        $('#UnitList_DDL').parent('div').hide();
                    }



                    if (k.FuncStruct_Job_Id != 0) {
                        $('#JobList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateJobNameList", "WorkExpDetails")", k.FuncStruct_Job_Id, k.FuncStruct_Job_Id);
                    } else {
                        $('#JobList_DDL').selectmenu("widget").hide();
                        $('#JobList_DDL').parent('div').hide();
                    }

                    if (k.FuncStruct_Position_Id != 0) {
                        $('#JobPositionList_DDL').P2BSelectMenuAppend("@Url.Action("PopulatePositionList", "WorkExpDetails")", k.FuncStruct_Position_Id, k.FuncStruct_Position_Id);
                    } else {
                        $('#JobPositionList_DDL').selectmenu("widget").hide();
                        $('#JobPositionList_DDL').parent('div').hide();
                    }



                });

                //partial page bind

            });
        });

        $('#Delete').button().click(function (event) {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            $('#Create_Dialog').P2BDeleteModalDialog('@Url.Action("Delete")', dt.ID, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
            event.preventDefault();
        });



        $('.selectmenu').selectmenu().selectmenu("menuWidget").addClass("overflow");
        $('.popup_radio_button').controlgroup();
        $('.date').P2BDatePicker();
        $('#Autho').makeDisable('#Create,#Edit,#Delete');
        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');



    });
</script>
</html>
