@{
    Layout = null;
}

@model Payroll.BasicScaleDetails
@*<link href="~/Content/BasicScaleDetails/BasicScaleDetails.css" rel="stylesheet" />*@
<style>
    .icon-row {
        left: 80px;
        top: 31px;
    }

    .row1 {
        width: 346px;
    }

    .popup-content-label1 {
        display: block;
        float: left;
        width: 130px;
    }
</style>

<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmBasicScaleDetails" }))
    {
        <div class="row1 content_margine">
            @Html.LabelFor(m => m.StartingSlab, "Starting Slab :", new { @class = "popup-content-label1 must" })@Html.TextBoxFor(m => m.StartingSlab, new { @class = "popup-content-textbox must" })
        </div>
        <div class="row1 content_margine">
            @Html.LabelFor(m => m.IncrementAmount, "Increment Amount :", new { @class = "popup-content-label1 must" })@Html.TextBoxFor(m => m.IncrementAmount, new { @class = "popup-content-textbox must" })
        </div>
        <div class="row1 content_margine">
            @Html.LabelFor(m => m.IncrementCount, "Increment Count :", new { @class = "popup-content-label1 must" })@Html.TextBoxFor(m => m.IncrementCount, new { @class = "popup-content-textbox must" })
        </div>
        <div class="row1 content_margine horizontal_row1">
            @Html.LabelFor(m => m.EBMark, "Efficiency Bar :", new { @class = "popup-content-label1 " })
            <span class="popup_radio_button radio_button_div_1">
                <input type="radio" id="radio1" name="EBMark" value="true" /><label for="radio1">Yes</label>
                <input type="radio" name="EBMark" id="radio2" value="false" /><label for="radio2">No</label>
            </span>
        </div>
        <div class="row1 content_margine">
            @Html.LabelFor(m => m.EndingSlab, "Ending Slab :", new { @class = "popup-content-label1 must" })@Html.TextBoxFor(m => m.EndingSlab, new { @class = "popup-content-textbox must" })
        </div>
        <div class="icon-row">

        </div>
    }
</div>
<script>
    $(document).ready(function () {
        $('button').button();
        $('.popup_radio_button').controlgroup();
    });

    $(document).ready(function () {

        $('#IncrementAmount').ForceOnlyNumeric().MaxLength(6);
        $('#IncrementCount').ForceOnlyNumeric().MaxLength(2);
        $('#StartingSlab').ForceOnlyNumeric().MaxLength(10);
        $('#EndingSlab').attr('readonly', true);
        //$('#EndingSlab').ForceOnlyNumeric().MaxLength(10);

        //$('#IncrementCount').change(function () {


        //    $('#EndingSlab').val((parseInt($('#StartingSlab').val()) + parseInt($('#IncrementAmount').val())) * parseInt($('#IncrementCount').val()));
        //});

        $('#IncrementCount').keyup(function () {
            var a = parseInt($('#IncrementAmount').val());
            var b = parseInt($('#IncrementCount').val());
            var c = parseInt($('#StartingSlab').val());

            var d = (a * b);
            if (isNaN(d)) {
                $('#EndingSlab').val(0);
            }
            else {
                var e = (d + c);
                $('#EndingSlab').val(e);
            }
            //$('#EndingSlab').val((a * b) + c);
        });


    });

</script>
