@{
    Layout = null;
}
@model Payroll.CPIRule
<link href="~/Content/Corporate/corporate.css" rel="stylesheet" />

<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmCPIRule", name = "frmCPIRule" }))
    {
        <input id="Autho_Action" type="hidden" name="Autho_Action" />
        <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
        <div class="row3 content_margine">@Html.LabelFor(m => m.Name, "Name:", new { @class = "popup-content-label must" }) @Html.TextBoxFor(m => m.Name, new { @class = "Popup-content-textbox must", id = "CpiP_Name" })</div>

        <div class="row2 content_margine">
            <div id="CPIRuleDetails_old"></div>
            @Html.LabelFor(m => m.CPIRuleDetails, "CPIRuleDetails:", new { @class = "popup-content-label" })
            <div class="popup-content-table">
                <table class="lookuptableselected" id="CPIRuleDetailslist">
                    <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                </table>
            </div>
            <div class="icon-row">
                <button data-p2btooltip="Lookup CPIRuleDetails " class="button popup-content-icon-lookup" id="Lookup-CPIRuleDetails"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                <button data-p2btooltip="Create CPIRuleDetails " class="button popup-content-icon-create" id="Create-CPIRuleDetails"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                <button data-p2btooltip="Edit CPIRuleDetails " class="button popup-content-icon-edit" id="Edit-CPIRuleDetails"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                <button data-p2btooltip="Remove CPIRuleDetails " class="button popup-content-icon-remove" id="Remove-CPIRuleDetails"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
            </div>
        </div>
        <div class="row2 content_margine">
            <div id="CPIUnitCalc_old"></div>
            @Html.LabelFor(m => m.CPIUnitCalc, "CPIUnitCalc:", new { @class = "popup-content-label" })
            <div class="popup-content-table">
                <table class="lookuptableselected" id="CPIUnitCalclist">
                    <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                </table>
            </div>
            <div class="icon-row">
                <button data-p2btooltip="Lookup CPIUnitCalc " class="button popup-content-icon-lookup" id="Lookup-CPIUnitCalc"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                <button data-p2btooltip="Create CPIUnitCalc " class="button popup-content-icon-create" id="Create-CPIUnitCalc"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                <button data-p2btooltip="Edit CPIUnitCalc " class="button popup-content-icon-edit" id="Edit-CPIUnitCalc"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                <button data-p2btooltip="Remove CPIUnitCalc " class="button popup-content-icon-remove" id="Remove-CPIUnitCalc"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
            </div>
        </div>
         <div class="row3 content_margine">
            @Html.LabelFor(m => m.VDAOnDirectBasic, "VDAOnDirectBasic :", new { @class = "popup-content-label must" })
            <div class="popup_radio_button radio_button_div_1">
                <span class="popup_radio_button radio_button_div_1">
                    <input type="radio" id="radio3" name="VDAOnDirectBasic" value="true" /><label for="radio3">Yes</label>
                    <input type="radio" id="radio4" name="VDAOnDirectBasic" value="false" checked="checked" /><label for="radio4">No</label>
                </span>
            </div>
        </div>
        
        <div class="row3 content_margine">@Html.LabelFor(m => m.IBaseDigit, "IBaseDigit:", new { @class = "popup-content-label must " }) @Html.TextBoxFor(m => m.IBaseDigit, new { @class = "Popup-content-textbox must" })</div>
        @*<div class="row3 content_margine">@Html.LabelFor(m => m.MinAmountIBase, "MinAmountIBase:", new { @class = "popup-content-label must " }) @Html.TextBoxFor(m => m.MinAmountIBase, new { @class = "Popup-content-textbox must" })</div>
        <div class="row3 content_margine">@Html.LabelFor(m => m.MaxAmountIBase, "MaxAmountIBase:", new { @class = "popup-content-label must " }) @Html.TextBoxFor(m => m.MaxAmountIBase, new { @class = "Popup-content-textbox must" })</div>*@

        <div class="row3 content_margine">@Html.LabelFor(m => m.RoundingMethod, "RoundingMethod:", new { @class = "popup-content-label must " })<select class="drop must" style="width:120px" id="RoundingMethodlist" name="RoundingMethodlist"><option value="0">-Select-</option></select></div>
    }
</div>
<style>
    .icon-row {
        position: relative;
        left: 77px;
        top: -150px;
    }

    .popup-content-label {
        display: block;
        float: left;
        width: 127px;
    }

    .popup-content-textbox {
        margin-bottom: 1px;
        min-width: 150px;
    }

    .row3 {
        width: 437px;
    }

    .row4 {
        position: absolute;
        top: 294px;
        width: 400px;
    }

    .popup-content-textbox-long {
        margin-bottom: 1px;
        width: 290px;
    }


    .row2 {
        width: 427px;
    }
</style>
<body>
    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>
</body>
<script>
    $(document).ready(function () {
        $('button').button();
        $('.popup_radio_button').controlgroup();
        $('.drop').selectmenu().selectmenu().css({ "height": "auto" });
        $('<div></div>').P2BPartialCreateModalDialog();
        $('#RoundingMethodlist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 422, "");
        $('#Lookup-Wages-RateMaster').button().on('click', function (e) {
            $('.dialog_RateMast').P2BLookUpModal('@Url.Action("GetLookupDetails", "Ratemaster")', '', 'lookupdiv_RateMast', 'Look Up Data Wages', '#RateMasterlist', 'RateMasterlist', 5, 'RateMasterlist', '#frmWages', 'N', '#Basic_Edit,#Basic_remove', 'Lookup_table', 'pageNavPosition_RateMast');
            e.preventDefault();
        });

        $('#Create-Wages-RateMaster').on('click', function (e) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "ratemaster")', 'Create Rate Master', 'open', '@Url.Action("Create", "ratemaster")', '#frmRateMaster', 'Message :', 'Request Falied :', '#JqGrid', 374, 530, '', '', '', '#frmWages', '', function (data) {
                $('#RateMasterlist').P2BLookUpEncapsulate('#RateMasterlist', 'RateMasterlist', data[0], data[1], 'RateMasterlist');
            });
            e.preventDefault();
        });

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Lookup-CPIRuleDetails').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupDetails", "CPIRuleDetails")', '', 'LookupDiv', 'CpiRule Details Look Up Data', '#CPIRuleDetailslist', 'CPIRuleDetailslist', 5, 'CPIRuleDetailslist', '#frmCPIRule', 'A', '', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });
        $('#Create-CPIRuleDetails').on("click", function (event) {
            //                                              url, maindialogtitle, state, submiturl, submitnameformforserilize, savemessage, errormessage, gridreloadname, height, width, forwarddata, ControlName, event, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, returnfunctiondata) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "cpiruledetails")', 'Create CPI Rule Details Dialog', 'open', '@Url.Action("Create", "cpiruledetails")', '#frmCPIRuleDetails', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#frmCPIRule', '', function (data) {
                console.log(data[0]);
                $('#CPIRuleDetailslist').P2BLookUpEncapsulate('#CPIRuleDetailslist', 'CPIRuleDetailslist', data[0], data[1], 'CPIRuleDetailslist', '#Edit-CPIRuleDetails,#Remove-CPIRuleDetails', 'N');
            });
            event.preventDefault();
        });

        $('#Edit-CPIRuleDetails').button().on("click", function (event) {
            var a = [], b;
            a = $('#CPIRuleDetailslist').P2BGetTableDataonSelectedRow('#CPIRuleDetailslist', 0);
            b = a[0];
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname, height, width, classoridoftheonwhichpopupderived, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not,nameidclassofbuttontodisable,returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "CpiRuleDetails")', '@Url.Action("Edit", "CpiRuleDetails")', b, '@Url.Action("Editsave", "CpiRuleDetails")', 'Edit Cpi Rule Details', '#frmCPIRuleDetails', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmCPIRule', '#CPIRuleDetailslist', 'CPIRuleDetailslist', 'CPIRuleDetailslist', 'N', '', function (data) {
                $.each(data[0], function (i, k) {
                    $('#frmCPIRuleDetails').trigger("reset");
                    $('#ServiceFrom').val(k.ServiceFrom);
                    $('#ServiceTo').val(k.ServiceTo);
                    $('#SalFrom').val(k.SalFrom);
                    $('#SalTo').val(k.SalTo);
                    $('#IncrPercent').val(k.IncrPercent);
                    $('#AdditionalIncrAmount').val(k.AdditionalIncrAmount);
                    $('#MinAmountIBase').val(k.MinAmountIBase);
                    $('#MaxAmountIBase').val(k.MaxAmountIBase);
                });

                $.each(data[1], function (i, k) {
                    $('#CPIWageslist').P2BLookUpEncapsulate('#CPIWageslist', 'CPIWageslist', k.CPIWages_Id, k.CPIWages_FullDetails, 'CPIWageslist', '#Edit-CPIWages-CPIRuleDetails,#Remove-CPIWages-CPIRuleDetails', 'A');
                });
            });
            event.preventDefault();
        });

        $('#Remove-CPIRuleDetails').on('click', function (e) {
            //var a = [], b;
            //a = $('#CPIRuleDetailslist').P2BGetTableDataonSelectedRow('#CPIRuleDetailslist', 0);
            //b = a[0];
            //console.log(b);
            var selectedRows = [];
            selectedRows = $('#CPIRuleDetailslist').P2BGetTableDataonSelectedRow('#CPIRuleDetailslist', 0);
            console.log("Verify...");

            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#CPIRuleDetailslist', $('#CPIRuleDetailslist').val(), 200, 200, '#frmCPIRule', '#CPIRuleDetailslist');
            e.preventDefault();
        });


        $('#Create-CPIUnitCalc').on("click", function (event) {

            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "CpiUnitCalc")', 'Create CPI Unit Calclist Dialog', 'open', '@Url.Action("Create", "CpiUnitCalc")', '#frmCPIUnitCalc', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#frmCPIRule', '', function (data) {
                console.log(data);
                $('#CPIUnitCalclist').P2BLookUpEncapsulate('#CPIUnitCalclist', 'CPIUnitCalclist', data[0], data[1], 'CPIUnitCalclist', '#Edit-CPIUnitCalc,#Remove-CPIUnitCalc', 'A');
            });
            event.preventDefault();
        });
        $('#Lookup-CPIUnitCalc').button().on('click', function (e) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupDetails", "CPIUnitCalc")', '', 'LookupDiv', ' CPI Unit Calc Look Up Data', '#CPIUnitCalclist', 'CPIUnitCalclist', 5, 'CPIUnitCalclist', '#frmCPIRule', 'A', '#Edit-CPIUnitCalc,#Remove-CPIUnitCalc', 'Lookup_table', 'PageNavPosition');
            e.preventDefault();
        });

        $('#Remove-CPIUnitCalc').button().on('click', function (event) {
            //var a = [], b;
            //a = $('#CPIUnitCalclist').P2BGetTableDataonSelectedRow('#CPIUnitCalclist', 0);
            //b = a[0];
            //console.log(b);

            var selectedRows = [];
            selectedRows = $('#CPIUnitCalclist').P2BGetTableDataonSelectedRow('#CPIUnitCalclist', 0);
            console.log("Verify...");

            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#CPIUnitCalclist', $('#CPIUnitCalclist').val(), 200, 200, '#frmCPIRule', '#CPIUnitCalclist');
            event.preventDefault();
        });

        $('#Edit-CPIUnitCalc').button().on("click", function (event) {
            var a = [], b;
            a = $('#CPIUnitCalclist').P2BGetTableDataonSelectedRow('#CPIUnitCalclist', 0);
            b = a[0];
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname, height, width, classoridoftheonwhichpopupderived, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not,nameidclassofbuttontodisable,returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "CpiUnitCalc")', '@Url.Action("Edit", "CpiUnitCalc")', b, '@Url.Action("Editsave", "CpiUnitCalc")', 'Edit Cpi Unit Calc ', '#frmCPIUnitCalc', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmCPIRule', '#CPIUnitCalclist', 'CPIUnitCalclist', 'CPIUnitCalclist', 'A', '', function (data) {
                // setTimeout(function () {
                //to bind data according to selected id
                $.each(data[0], function (i, k) {
                    $('#frmcpiunit').trigger("reset");
                    $('#IndexMaxCeiling').val(k.IndexMaxCeiling);
                    $('#BaseIndex').val(k.BaseIndex);
                    $('#Unit').val(k.Unit);

                });
            });
            event.preventDefault();
        });

    });
</script>