@model Payroll.CPIRuleDetails
@{
    Layout = null;
}
@*<link href="~/Content/Cpi%20Rule%20Details/cpi_rule_details.css" rel="stylesheet" />*@
@*<link href="~/Content/Cpi_Rule_Details/cpi_rule_details.css" rel="stylesheet" />*@
<style>
    #BusinessType-button {
        font-size: 9px;
        padding-top: 1px;
        font-weight: bold;
    }

    .popup-content-label {
        display: block;
        float: left;
        width: 115px;
    }

    .popup-content-textbox {
        margin-bottom: 1px;
        min-width: 150px;
    }

    .row3 {
        width: 402px;
    }

    .row4 {
        position: absolute;
        top: 294px;
        width: 400px;
    }

    .popup-content-textbox-long {
        margin-bottom: 1px;
        width: 290px;
    }


    .row2 {
        width: 402px;
    }
        

</style>
@*<script>
        function handleChange(input) {
            if (input.value < 0) input.value = 0;
            if (input.value > 100) input.value = 100;
        }
    </script>*@
<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmCPIRuleDetails" }))
    {
        <div class="row1 content_margine">
            @Html.LabelFor(m => m.CPIWages, "Cpi Wages :", new { @class = "popup-content-label" })
            <div class="popup-content-table">
                <table class="lookuptableselected" id="CPIWageslist">
                    <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                </table>
            </div>
            <div class="CPIWages_icon-row icon-row">
                <button data-p2btooltip="Create CPIWages " class="button popup-content-icon-lookup" id="Lookup-CPIWages-CPIRuleDetails"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                <button data-p2btooltip="Create CPIWages " class="button popup-content-icon-create" id="Create-CPIWages-CPIRuleDetails"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                @*<button data-p2btooltip="Create CPIWages " class="button popup-content-icon-edit" id="Edit-CPIWages-CPIRuleDetails"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>*@
                <button data-p2btooltip="Create CPIWages " class="button popup-content-icon-remove" id="Remove-CPIWages-CPIRuleDetails"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
            </div>
        </div>
         <div class="cp_row3 content_margine">@Html.LabelFor(m => m.ServiceFrom, "Service From :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.ServiceFrom, new { @class = "popup-content-textbox must" })</div>
        <div class="cp_row3 content_margine">@Html.LabelFor(m => m.ServiceTo, "Service To :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.ServiceTo, new { @class = "popup-content-textbox must" })</div>
        
        <div class="cp_row3 content_margine">@Html.LabelFor(m => m.SalFrom, "Wages Form :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.SalFrom, new { @class = "popup-content-textbox must" })</div>
        <div class="cp_row3 content_margine">@Html.LabelFor(m => m.SalTo, "Wages To :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.SalTo, new { @class = "popup-content-textbox must" })</div>
        <div class="cp_row3 content_margine">
            @Html.LabelFor(m => m.IncrPercent, "Increment Perc :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.IncrPercent, new { @class = "popup-content-textbox search  must" })
            <i class="fa fa-percent" aria-hidden="true" style="color: #6d4a4a;"></i>
            @*<img id="ImgID" src="~/Content/P2B_CSS/images/Percentage.png" class="dem" style="left:0px" />*@
        </div>
        // <div> class="cp_popup-content-label" @Html.EditorFor(m => m.IncrPercent) @Html.ValidationMessageFor(m => m.IncrPercent) </div>
        <div class="cp_row3 content_margine">@Html.LabelFor(m => m.AdditionalIncrAmount, "Additional Incr Amt :", new { @class = "cp_popup-content-label must" })@Html.TextBoxFor(m => m.AdditionalIncrAmount, new { @class = "popup-content-textbox must" })</div>
    <div class="cp_row3 content_margine">@Html.LabelFor(m => m.MinAmountIBase, "Min Amount IBase:", new { @class = "cp_popup-content-label must" })@Html.TextBoxFor(m => m.MinAmountIBase, new { @class = "popup-content-textbox must" })</div>
        <div class="cp_row3 content_margine">@Html.LabelFor(m => m.MaxAmountIBase, "Max Amount IBase:", new { @class = "cp_popup-content-label must" })@Html.TextBoxFor(m => m.MaxAmountIBase, new { @class = "popup-content-textbox must" })</div>
    }
</div>
<script>
    $(document).ready(function (e) {
        $('button').button();
        @*$('#Lookup-CPIWages-CPIRuleDetails').button().on('click', function (e) {
            $('.dialog_address').P2BLookUpModal('@Url.Action("GetLookupDetails", "wages")', '', 'lookupdiv_address', 'Look Up Data', '#CPIWageslist', 'CPIWageslist', 5, 'CPIWageslist', '#frmCPIRuleDetails', 'N', '#Basic_Edit,#Basic_Remove', 'lookupbasicscale_table', 'PageNavPosition_Address');
            e.preventDefault();
        });*@
        $('#Lookup-CPIWages-CPIRuleDetails').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupDetails", "wages")', '', 'LookupDiv', ' Look Up Data', '#CPIWageslist', 'CPIWageslist', 5, 'CPIWageslist', '#frmCPIRuleDetails', 'N', '#Edit-CPIWages-CPIRuleDetails,#Remove-CPIWages-CPIRuleDetails', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });
        $('#SalFrom').ForceOnlyNumeric().MaxLength(10);
        $('#SalTo').ForceOnlyNumeric().MaxLength(10);
        //$('#IncrPercent').MaxLength(3);
        //$('#IncrPercent').ForcePercent();
        $('#IncrPercent').ForceOnlyNumeric().MaxLength(4);
        $('#AdditionalIncrAmount').ForceOnlyNumeric().MaxLength(10);
        @*$('#Create-CPIWages-CPIRuleDetails').on("click", function (e) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "wages")', 'Create Cpi Wages List', 'open', '@Url.Action("Create", "wages")', '#frmWages', 'Message :', 'Request Falied :', '#JqGrid', 374, 585, '', '', '', '#frmCPIRule', '', function (data) {
                $('#CPIWageslist').P2BLookUpEncapsulate('#CPIWageslist', 'CPIWageslist', data[0], data[1], 'CPIWageslist');
            });
            e.preventDefault();
        });*@

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-CPIWages-CPIRuleDetails').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "wages")', 'Create Wages Master', 'open', '@Url.Action("CreateSave", "wages")', '#frmWages', 'Message :', 'Request Falied :', '#JqGrid', 400, 550, '', '', '', '#frmCPIRuleDetails', '', function (data) {
                $('#CPIWageslist').P2BLookUpEncapsulate('#CPIWageslist', 'CPIWageslist', data[0], data[1], 'CPIWageslist', '', 'N');
            });
            event.preventDefault();
        });
        $('#Remove-CPIWages-CPIRuleDetails').button().on('click', function (event) {
            //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'ID');
            //var a = [], b;
            //a = $('#CPIWageslist').P2BGetTableDataonSelectedRow('#CPIWageslist', 0);
            //b = a[0];
            //console.log(b);
            var selectedRows = [];
            selectedRows = $('#CPIWageslist').P2BGetTableDataonSelectedRow('#CPIWageslist', 0);
            console.log("Verify...");

            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#CPIWageslist', $('#CPIWageslist').val(), 200, 200, '#frmCPIRuleDetails', '#CPIWageslist');
            event.preventDefault();
        });

        $("#IncrPercent").change(function () {
            if ($(this).val() > 100) {
                $("#IncrPercent").parent().before("<div class='validation' style='color:red;margin-bottom: 20px;'>Percentage below 100 required</div>");
                $("#IncrPercent").parent().before("<div class='validation' style='color:red;margin-bottom: 20px;'>Percentage below 100 required</div>");
                //alert("CeilingMin can't be greater than CeilingMax");
                $("#IncrPercent").val('');
                $("#IncrPercent").focus();
                return false;
            } else {
                $("#IncrPercent").parent().next(".validation").remove();
                return true;
            }
            $("#IncrPercent").parent().next(".validation").remove();
        });


    });

    //$('#numberbox').keyup(function () {
    //    if ($(this).val() < 100) {
    //        alert("No numbers above 100");
    //        $(this).val('100');
    //    }
    //});


</script>

