@model  Payroll.HotelEligibilityPolicy
@{
    Layout = null;
}


<style>
    .row2 {
        width: 400px;
    }

    .add_icon-row {
        position: relative;
        left: 26px;
        top: -49px;
    }
    /*.popup-content-textbox {
        margin-bottom: 1px;
        width: 275px;
    }*/
</style>


<div>
@using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmHotelEligibilityPolicyDetailsPartial", Name = "frmHotelEligibilityPolicyDetails" }))
    {
    
        <div class="row1 content_margine">@Html.LabelFor(m => m.HotelEligibilityCode, "Eligibility Code :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.HotelEligibilityCode, new { @class = "popup-content-textbox", @id = "HotelEligibilityCode-edit", @maxlength = "10" })</div>
        <div class="row2 select_div content_margine">@Html.LabelFor(m => m.HotelType, "Hotel Type :", new { @class = "popup-content-label must" })<select id="HotelTypelist" name="HotelTypelist" class="drop must" style="width:159px;"><option value="0">-Select-</option></select></div>
        <div class="row2 select_div content_margine">@Html.LabelFor(m => m.RoomType, "Room Type :", new { @class = "popup-content-label must" })<select id="RoomTypelist" name="RoomTypelist" class="drop must" style="width:159px;"><option value="0">-Select-</option></select></div>
        <div class="row1 content_margine">@Html.LabelFor(m => m.Lodging_Eligible_Amt_PerDay, "Rate Per Day :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Lodging_Eligible_Amt_PerDay, new { @class = "popup-content-textbox", @id = "Lodging_Eligible_Amt_PerDay-edit" })</div>
        <div class="row1 content_margine">@Html.LabelFor(m => m.Food_Eligible_Amt_PerDay, "Food Amount Per Day :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Food_Eligible_Amt_PerDay, new { @class = "popup-content-textbox", @id = "Food_Eligible_Amt_PerDay-edit" })</div>
}
        </div>

<script>
    $(document).ready(function (e) {
        $('#HotelEligibilityCode-edit').MaxLength(10);
        //$('#DivisionName').MaxLength(50);
    }
    $('.drop').selectmenu().selectmenu("menuWidget");
    $('#HotelTypelist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 3003, "");
    $('#RoomTypelist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 3004, "");

</script>