@model Payroll.HRAMonthRent
@{
    Layout = null;
}

<style>
    .add_icon-row {
        position: relative;
        left: -53px;
        top: -46px;
    }

    .add_popup-content-label {
        display: block;
        margin: 1px;
        float: left;
        width: 107px;
    }

    .add_popup-content-textbox {
        margin-bottom: 1px;
        width: 20%;
    }

    .add_row {
        width: 448px;
    }
    .popup-content-textbox-short {
        width: 20%;
    }
</style>
<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmRent" }))
    {
        <div class="add_row content_margine">
            @Html.LabelFor(m => m.RentFromDate, "Rent From :", new { @class = "popup-content-label date_label must" })
            @Html.TextBoxFor(m => m.RentFromDate, new { @class = "popup-content-textbox-short date must", id = "RentFromDate" })
        </div>
        
        <div class="add_row content_margine">
            @Html.LabelFor(m => m.RentToDate, "Rent To :", new { @class = "popup-content-label date_label must" })
            @Html.TextBoxFor(m => m.RentToDate, new { @class = "popup-content-textbox-short date must", id = "RentToDate" })
        </div>
        <div class="add_row content_margine">
            @Html.LabelFor(m => m.RentAmount, "Monthly Rent :", new { @class = "add_popup-content-label" })
            @Html.TextBoxFor(m => m.RentAmount, new { @class = "add_popup-content-textbox", id = "RentAmt", @maxlength = "50" })
        </div>
        
       
    }
</div>

<script>
    //$(document).ready(function () {
      
       
    //    $('#Address2').ForceOnlyAlphaNumeric();
       
    //});


    $(document).ready(function (e) {
        $('button').button();
       

        $('.popup_radio_button').controlgroup();
       
        $('#RentFromDate').P2BDatePicker();
        $('#RentToDate').P2BDatePicker();

       
    });
</script>

