@{
    Layout = null;
}
@model Payroll.ITLoan
@*<link href="~/Content/It%20Loan/it_loan.css" rel="stylesheet" />*@
<script>
    $(document).ready(function () {
        $('button').button();
        $('.popup_radio_button').controlgroup();
        @*$('#PersLoan').P2BSelectMenuAppend('@Url.Action("PopulateLookupDropDownList", "PersonalLoan")', 0);*@
        $('#start,#end').P2BDatePicker();
        $('.drop').selectmenu().selectmenu('menuWidget').css({ "height": "200px" });
        $('#Lookup-PersLoan').button().on('click', function (e) {

            $('.dialog_itloan').P2BLookUpModal('@Url.Action("GetLookupDetails", "PersonalLoan")', '', 'lookupdiv_itloan', 'Look Up Data Personal Loan', '#PersLoanlist', 'PersLoanlist', 5, 'PersLoanlist', '#frmitloan', 'N', '#Basic_Edit,#Basic_remove', 'lookupitloan_table', 'pageNavPosition_itloan');
            e.preventDefault();
        });

    });

</script>
<style>
    .it_loan_icon-row {
        position: absolute;
        left: 91px;
        top: 6px;
    }
</style>
<div>
    <div class="dialog_itloan">
        <div title="LookUp Data">
            <div class="lookupdiv_itloan"></div>
        </div>
        <div id="pageNavPosition_itloan">

        </div>
    </div>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmitloan", name = "frmitloan" }))
    {


        <div class="row1 horizontal_row1">
            @Html.LabelFor(m => m.IntPrincAppl, "Int Princ Appl :", new { @class = "popup-content-label" })
            <div class="popup_radio_button radio_button_div_1">
                <span class="popup_radio_button radio_button_div_1">
                    <input type="radio" id="radio1" name="IntPrincAppl" value="True" /><label for="radio1">Yes</label>
                    <input type="radio" id="radio2" name="IntPrincAppl" value="False" /><label for="radio2">No</label>
                </span>
            </div>
        </div>

        <div class="horizontal_row1 row1">
            @Html.LabelFor(m => m.IntAppl, "Int Appl :", new { @class = "popup-content-label" })
            <div class="popup_radio_button radio_button_div_1">
                <span class="popup_radio_button radio_button_div_1">
                    <input type="radio" id="radio3" name="IntAppl" value="True" /><label for="radio3">Yes</label>
                    <input type="radio" id="radio4" name="IntAppl" value="False" /><label for="radio4">No</label>
                </span>
            </div>
        </div>
        <div class="row1 horizontal_row1">
            @Html.LabelFor(m => m.PrincAppl, "Princ Appl :", new { @class = "popup-content-label" })
            <div class="popup_radio_button radio_button_div_1">
                <span class="popup_radio_button radio_button_div_1">
                    <input type="radio" id="radio5" value="True" name="PrincAppl" /><label for="radio5">Yes</label>
                    <input type="radio" id="radio6" value="False" name="PrincAppl" /><label for="radio6">No</label>
                </span>
            </div>
        </div>
            }
        </div>
