@{
    Layout = null;
}
@model Payroll.ITSection
<link href="~/Content/Itsection/Itsection.css" rel="stylesheet" />
<div>
    <div class="dialog_address_itsection">
        <div title="LookUp Data">
            <div class="LookupDiv-itsection"></div>
        </div>
        <div id="PageNavPosition-itsection">
        </div>
    </div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmitsection", name = "frmitsection" }))
    {
        @*<div class="it_row1 content_margine">@Html.LabelFor(m => m.ExemptionLimit, "Section Name :", new { @class = "it_popup-content-label" })
    <select class="drop" id="section_name" style="width:120px;" name="section_name"></select></div>*@
        @*<div class="it_row1 content_margine">
            @Html.LabelFor(m => m.Functionality, "Functionality :", new { @class = "it_popup-content-label" })
            <select class="drop" id="func_drop" name="func_drop" style="width:120px;"><option></option></select>
    </div>*@
        <div class="it_row1 content_margine">@Html.LabelFor(m => m.ExemptionLimit, "Exemption Limit :", new { @class = "it_popup-content-label" })@Html.TextBoxFor(m => m.ExemptionLimit, new { @class = "it_popup-content-textbox" })</div>
         <div class="it_row1 content_margine">@Html.LabelFor(m => m.ITSectionList, "ITSectionList :", new { @class = "it_popup-content-label must" })
             <select class="drop must" id="ITSectionList" style="width:120px;" name="ITSectionList"><option value="0">-Select</option></select></div>
       <div class="it_row1 content_margine">@Html.LabelFor(m => m.ITSectionListType, "ITSectionListType:", new { @class = "it_popup-content-label must" })
           <select class="drop must" id="ITSectionListType" style="width:120px;" name="ITSectionListType"><option value="0">-Select</option> </select></div>
        <div class="it_row1 content_margine">
            @Html.LabelFor(m => m.ITInvestments, "IT Investments :", new { @class = "it_popup-content-label" })
        <div class="popup-content-table">

            <table class="lookuptableselected" id="itsec-itinvestment-list">

                <tr><th>ID</th><th>LookUp Selected Description</th></tr>
            </table>
        </div>
        <div class="itsec_icon-row">
            <button data-p2btooltip="LookUp Contact Details" class="popup-content-icon-lookup" id="Lookup-itsec-itinvest"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
            <button data-p2btooltip="Remove Contact Details" class="popup-content-icon-remove" id="Remove-itsec-itinvest"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
        </div>
    </div>
        <div class="it_row1 content_margine">
            @Html.LabelFor(m => m.ITSection10, "IT Section 10 :", new { @class = "it_popup-content-label" })
        <div class="popup-content-table">
            <table class="lookuptableselected" id="ITSection10list">
                <tr><th>ID</th><th>LookUp Selected Description</th></tr>
            </table>
        </div>
        <div class="itsec_icon-row">
            <button data-p2btooltip="LookUp Contact Details" class="popup-content-icon-lookup" id="Lookup-itsec-ITSection10"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
            
            <button data-p2btooltip="Remove Contact Details" class="popup-content-icon-remove" id="Remove-itsec-ITSection10"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
        </div>
    </div>
        <div class="it_row1 content_margine">
            @Html.LabelFor(m => m.LoanAdvanceHead, "IT Loan :", new { @class = "it_popup-content-label" })
        <div class="popup-content-table">
            <table class="lookuptableselected" id="ITLoanlist">
                <tr><th>ID</th><th>LookUp Selected Description</th></tr>
            </table>
        </div><div class="itsec_icon-row">
                  <button data-p2btooltip="LookUp Contact Details" class="popup-content-icon-lookup" id="Lookup-itsec-ITLoan"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                  <button data-p2btooltip="Remove Contact Details" class="popup-content-icon-remove" id="Remove-itsec-ITLoan"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
        </div>
    </div>
        <div class="it_row1 content_margine">
            @Html.LabelFor(m => m.ITStandardITRebate, "IT Rebate :", new { @class = "it_popup-content-label" }) <div class="popup-content-table">
            <table class="lookuptableselected" id="ITRebatelist">
                <tr><th>ID</th><th>LookUp Selected Description</th></tr>
            </table>
        </div><div class="itsec_icon-row">
                  <button data-p2btooltip="LookUp Contact Details" class="popup-content-icon-lookup" id="Lookup-itsec-ITRebate"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                  <button data-p2btooltip="Remove Contact Details" class="popup-content-icon-remove" id="Remove-itsec-ITRebate"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
        </div>
    </div>
    }
</div>
<script>
    $(document).ready(function ()
    {
        $('button').button();
        $('#section_name').P2BSelectMenuAppend('@Url.Action("PopulateLookupDropDownList", "Itsection")', "020");
        $('#func_drop').P2BSelectMenuAppend('@Url.Action("PopulateLookupDropDownList", "Itsection")', "303");
        $('.drop').selectmenu().selectmenu('menuWidget').addClass('overflow');
        $('#Create-itsec-itinvest').on("click", function (e)
        {
            $('<div></div>').P2BPartialCreateModalDialog();
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("ITInvestment_partial", "ITInvestment")', 'Create It Investment', 'open', '@Url.Action("Create", "ITInvestment")', '#frmitinvestment', 'Message :', 'Request Falied :', '#JqGrid', 329, 549, '', '', '', '#frmitsection', '', function (data) {
                $('#itsec-itinvestment-list').P2BLookUpEncapsulate('#itsec-itinvestment-list', 'itsec-itinvestment-list', data[0], data[1], 'itsec-itinvestment-list');
            });
            e.preventDefault();
        });
        $('#Lookup-itsec-itinvest').button().on('click', function (e)
        {
            $('.dialog_address_itsection').P2BLookUpModal('@Url.Action("GetLookupDetails", "ITInvestment")', '', 'LookupDiv-itsection', 'Look Up Data ItInvestment', '#itsec-itinvestment-list', 'itsec-itinvestment-list', 5, 'itsec-itinvestment-list', '#frmitsection', 'N', '#Basic_Edit,#Basic_remove', 'Lookup_table_itinvestment', 'PageNavPosition-itsection');
            e.preventDefault();
        });
        $('#Edit-itsec-itinvest').button().on("click", function (event)
        {
            var a = [], b;
            a = $('#itsec-itinvestment-list').P2BGetTableDataonSelectedRow('#itsec-itinvestment-list', 0);
            b = a[0];
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("ITInvestment_partial", "ITInvestment")', '@Url.Action("Edit", "ITInvestment")', b, '@Url.Action("EditSave", "ITInvestment")', 'Edit Basic Details', '#frmitinvestment', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmitsection', '#Address_Edit,#Address_remove', '#itsec-itinvestment-list', 'itsec-itinvestment-list', 'itsec-itinvestment-list', function (data)
            {
                setTimeout(function ()
                {
                    $.each(data, function (i, k)
                    {
                        $('#itinvest_name').val(k.ItInvestmentName);
                        $('#MaxAmount').val(k.MaxAmount);
                        $('#MaxPercentage').val(k.MaxPercentage);
                        for (i = 0; i < k.subid.length && k.subname.length; i++)
                        {
                            $('#itsubinvestmentlist').P2BLookUpEncapsulate('#itsubinvestmentlist', 'itsubinvestmentlist', k.subid[i], k.subname[i], 'itsubinvestmentlist');
                        }
                    });
                }, 3000);
            });
            event.preventDefault();
        });
        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-itsec-ITSection10').on("click", function (e)
        {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("It_Section10_partial", "It_Section10")', 'Create Itsection 10', 'open', '@Url.Action("Create", "It_Section10")', '#frmitsection10', 'Message :', 'Request Falied :', '#JqGrid', 250, 355, '', '', '', '#frmitsection', '', function (data) {
                $('#ITSection10list').P2BLookUpEncapsulate('#ITSection10list', 'ITSection10list', data[0], data[1], 'ITSection10list');
            });
            e.preventDefault();
        });
        $('#Lookup-itsec-ITSection10').button().on('click', function (e)
        {
            $('.dialog_address_itsection').P2BLookUpModal('@Url.Action("GetLookupDetails", "It_Section10")', '', 'LookupDiv-itsection', 'Look Up Data It Section 10', '#ITSection10list', 'ITSection10list', 5, 'ITSection10list', '#frmitsection', 'N', '#Basic_Edit,#Basic_remove', 'Lookup_table_itsection10', 'PageNavPosition-itsection');
            e.preventDefault();
        });
        $('#Edit-itsec-ITSection10').button().on("click", function (event)
        {
            var a = [], b;
            a = $('#ITSection10list').P2BGetTableDataonSelectedRow('#ITSection10list', 0);
            b = a[0];
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("It_Section10_partial", "It_Section10")', '@Url.Action("Edit", "It_Section10")', b, '@Url.Action("EditSave", "It_Section10")', 'Edit It Section 10 Details', '#frmitsection10', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmitsection', '#Address_Edit,#Address_remove', '#ITSection10list', 'ITSection10list', 'ITSection10list', function (data) {
                setTimeout(function ()
                {
                    $.each(data, function (i, k) 
                        {
                        $('#ExceptionCode').val(k.ExceptionCode);
                        $('#MaxAmount').val(k.MaxAmount);
                        $('#MaxPercentage').val(k.MaxPercentage);
                        for (i = 0; i < k.itsec10salhead_id.length && k.itsec10salhead_percentage.length; i++)
                        {
                            $('#Itsection10salheadlist').P2BLookUpEncapsulate('#Itsection10salheadlist', 'Itsection10salheadlist', k.itsec10salhead_id[i], k.itsec10salhead_percentage[i], 'Itsection10salheadlist');
                        }
                    });
                }, 3000);
            });
            event.preventDefault();
        });
        $('#Edit-itsec-ITLoan').button().on("click", function (event)
        {
            var a = [], b;
            a = $('#ITLoanlist').P2BGetTableDataonSelectedRow('#ITLoanlist', 0);
            b = a[0];
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("itloan_partial", "itloan")', '@Url.Action("Edit", "itloan")', b, '@Url.Action("EditSave", "itloan")', 'Edit It Loan Details', '#frmitloan', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmitsection', '#Address_Edit,#Address_remove', '#ITLoanlist', 'ITLoanlist', 'ITLoanlist', function (data) {
                setTimeout(function ()
                {
                    $.each(data, function (i, k)
                    {
                        $('[name="IntAppl"]').val([k.IntAppl]).button().button("refresh");
                        $('[name="IntPrincAppl"]').val([k.IntPrincAppl]).button().button("refresh");
                        $('[name="PrincAppl"]').val([k.PrincAppl]).button().button("refresh");
                        for (i = 0; i < k.personalloan_id.length && k.personalloan_LoanDesc.length; i++)
                        {
                            $('#PersLoanlist').P2BLookUpEncapsulate('#PersLoanlist', 'PersLoanlist', k.personalloan_id[i], k.personalloan_LoanDesc[i], 'PersLoanlist');
                        }
                    });
                }, 3000);
            });
            event.preventDefault();
        });
        $('#Edit-itsec-ITRebate').button().on("click", function (event)
        {
            var a = [], b;
            a = $('#ITRebatelist').P2BGetTableDataonSelectedRow('#ITRebatelist', 0);
            b = a[0];
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("stditrebate_partial", "stditrebate")', '@Url.Action("Edit", "stditrebate")', b, '@Url.Action("EditSave", "stditrebate")', 'Edit Std It Rebate Details', '#frmStandardITRebate', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmitsection', '#Address_Edit,#Address_remove', '#ITRebatelist', 'ITRebatelist', 'ITRebatelist', function (data) {
                $.each(data,function (i, k)
                {
                        $('#StartAmount').val(k.StartAmount);
                        $('#EndAmount').val(k.EndAmount);
                        $('#DeductionAmount').val(k.DeductionAmount);
                        $('#DeductionPerc').val(k.DeductionPerc);
                    });
            });
            event.preventDefault();
        });
        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-itsec-ITLoan').on("click", function (e)
        {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("itloan_partial", "itloan")', 'Create It Loan', 'open', '@Url.Action("Create", "itloan")', '#frmitloan', 'Message :', 'Request Falied :', '#JqGrid', 350,480, '', '', '', '#frmitsection', '', function (data) {
                $('#ITLoanlist').P2BLookUpEncapsulate('#ITLoanlist', 'ITLoanlist', data[0], data[1], 'ITLoanlist');
            });
            e.preventDefault();
        });
        $('#Lookup-itsec-ITLoan').button().on('click', function (e)
        {
            $('.dialog_address_itsection').P2BLookUpModal('@Url.Action("GetLookupDetails", "itloan")', '', 'LookupDiv-itsection', 'Look Up Data ItLoan', '#ITLoanlist', 'ITLoanlist', 5, 'ITLoanlist', '#frmitsection', 'N', '#Basic_Edit,#Basic_remove', 'Lookup_table_itloan', 'PageNavPosition-itsection');
            e.preventDefault();
        });
        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-itsec-ITRebate').on("click", function (e)
        {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("stditrebate_partial", "stditrebate")', 'Create Std It Rebate', 'open', '@Url.Action("Create", "stditrebate")', '#frmStandardITRebate', 'Message :', 'Request Falied :', '#JqGrid', 250, 355, '', '', '', '#frmitsection', '', function (data) {
                $('#ITRebatelist').P2BLookUpEncapsulate('#ITRebatelist', 'ITRebatelist', data[0], data[1], 'ITRebatelist');
            });
            e.preventDefault();
        });
        $('#Lookup-itsec-ITRebate').button().on('click', function (e)
        {
            $('.dialog_address_itsection').P2BLookUpModal('@Url.Action("GetLookupDetails", "stditrebate")', '', 'LookupDiv-itsection', 'Look Up Data Std IT Rebate', '#ITRebatelist', 'ITRebatelist', 5, 'ITRebatelist', '#frmitsection', 'N', '#Basic_Edit,#Basic_remove', 'Lookup_table_itrebate', 'PageNavPosition-itsection');
            e.preventDefault();
        });
    });
</script>
<style>
    .itsec_icon-row {
        position: relative;
        left: 60px;
        top: -150px;
    }

    .it_row1 {
        width: 433px;
    }
</style>

