@{
    Layout = null;
}
@model Payroll.ITSection10
    @*<link href="~/Content/It%20Section%2010/it_section_10.css" rel="stylesheet" />*@
    <style>
        .itsec_icon-row1 {
            position: absolute;
            left: 70px;
            top: 62px;
        }

        .popup-content-label1 {
            display: block;
            float: left;
            width: 103px;
        }
    </style>
    <script>
        $(document).ready(function (e) {
            $('#MaxAmount').ForceOnlyNumeric();
            $('#MaxAmount').MaxLength(10);
            $('button').button();

            $('<div></div>').P2BPartialCreateModalDialog();
            $('#Create-ITSection10-itsection10salhead').on('click', function (e) {
                $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "itsection10salhead")', 'Create IT Section 10 Sal Head', 'open', '@Url.Action("Create", "itsection10salhead")', '#frmitsection10salheadDetails', 'Message :', 'Request Falied :', '#JqGrid', 250, 355, '', '', '', '#frmitsection10', '', function (data) {
                    $('#Itsection10salheadlist').P2BLookUpEncapsulate('#Itsection10salheadlist', 'Itsection10salheadlist', data[0], data[1], 'Itsection10salheadlist');

                });
                e.preventDefault();
            });
        $('#Lookup-ITSection10-itsection10salhead').button().on('click', function (e) {
            $('.dialog_address_itsection10salhead').P2BLookUpModal('@Url.Action("GetLookupDetails", "itsection10salhead")', '', 'dialog_address_itsection10salhead', 'Look Up Data', '#Itsection10salheadlist', 'Itsection10salheadlist', 5, 'Itsection10salheadlist', '#frmitsection10', 'N', '#Basic_Edit,#Basic_Remove', 'lookupbasicscale_table', 'PageNavPosition-itsection10salhead');
            e.preventDefault();
        });
            $('#dob').P2BDatePicker();
        });
    </script>
<div>
    <div class="dialog_address_itsection10salhead">
        <div title="LookUp Data">
            <div class="LookupDiv-itsection10salhead"></div>
        </div>
        <div id="PageNavPosition-itsection10salhead">
        </div>
    </div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmitsection10", name = "frmitsection10" }))
    {
            <div class="row1 content_margine">@Html.LabelFor(m => m.ExemptionCode, "Exception Code:", new { @class = "popup-content-label1" })@Html.TextBoxFor(m => m.ExemptionCode, new { @class = "popup-content-textbox"})</div>
            <div class="row1 content_margine">@Html.LabelFor(m => m.MaxAmount, "Max Amount:", new { @class = "popup-content-label1" })@Html.TextBoxFor(m => m.MaxAmount, new { @class = "popup-content-textbox", id = "MaxAmount" })</div>
            <div class="row1 content_margine">
                @Html.LabelFor(m => m.Itsection10salhead, "Sal Head:", new { @class = "popup-content-label1" })
                <div class="popup-content-table" style="width: 459px;">
                    <table class="lookuptableselected" id="Itsection10salheadlist">
                        <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="itsec_icon-row1">
                    <button data-p2btooltip="LookUp Sal Head" class="popup-content-icon-lookup" id="Lookup-ITSection10-itsection10salhead"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Crate Sal Head" class="popup-content-icon-create" id="Create-ITSection10-itsection10salhead"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit Sal Head" class="popup-content-icon-edit" id="Edit-ITSection10-itsection10salhead"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Remove Sal Head" class="popup-content-icon-remove" id="Remove-ITSection10-itsection10salhead"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>
    }
</div>