@{
    Layout = null;
}
@*<link href="~/Content/it_section_sal_head/it_section_sal_head.css" rel="stylesheet" />*@
@model Payroll.ITSection10SalHeads


<style>
    .weg_icon-row {
        position: absolute;
        left: 71px;
        top: 100px;
    }

    .popup-content-textbox {
        width: 170px;
    }

    .popup-content-label {
        display: block;
        margin: 1px;
        float: left;
        width: 101px;
    }
</style>

<div>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmITSection10SalHeads", name = "frmITSection10SalHeads" }))
{

    <div class="weg_row1 content_margine"> @Html.LabelFor(m => m.SalHead, "Sal Head :", new { @class = "popup-content-label must" })<select class="must" id="SalHeadlist" name="SalHeadlist" style="width:161px;"><option></option></select></div>
    <div class="weg_row1 content_margine"> @Html.LabelFor(m => m.Frequency, "Frequency :", new { @class = "popup-content-label must" })<select class="must" id="Frequencylist" name="Frequencylist" style="width:161px;"><option></option></select></div>
    <div class="weg_row1 content_margine">@Html.LabelFor(m => m.Amount, "Amount :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.Amount, new { @class = "popup-content-textbox", id = "Amount" })</div>
    <div class="weg_row1 content_margine">@Html.LabelFor(m => m.Percent, "Percent:", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.Percent, new { @class = "popup-content-textbox search", id = "Percent" })%</div>
    <div class=" weg_row1 content_margine horizontal_row2">
        @Html.LabelFor(m => m.AutoPick, "Autopick :", new { @class = "popup-content-label" })
        <span class="popup_radio_button radio_button_div_1">
            <input type="radio" id="radio1" name="AutoPick" value="true" /><label for="radio1">Yes</label>
            <input type="radio" id="radio2" name="AutoPick" value="false" checked="checked"/><label for="radio2">No</label>
        </span>
    </div>
}
</div>
<script>
    $(document).ready(function () {
        $('.popup_radio_button').controlgroup();
        $('#SalHeadlist,#Frequencylist').selectmenu().selectmenu("menuWidget");
        $('#SalHeadlist').P2BSelectMenuAppend('@Url.Action("PopulateSalHeadDropdownList", "ITSection10SalHeads")', "", ""); // To bind dropdown on page load
       // $('#Frequencylist').P2BSelectMenuAppend('@@Url.Action("PopulateDropdownList", "ITSection10SalHeads")', , ""); // To bind dropdown on page load
        $('#Frequencylist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 421, "");
        $('#Amount').ForceAmount().MaxLength(10);
        $('#Amount').val("0");
        $('#Percent').ForcePercent().MaxLength(5);
        $('#Percent').val("0");
    });
</script>
