@{
    Layout = null;
}
@model Payroll.JourneyObject


<html>
<head>
    <title></title>

    <style>
        .icon-row {
            position: relative;
            left: 95px;
            top: -150px;
        }

        .popup-content-textbox1 {
            margin-bottom: 1px;
            min-width: 150px;
            top: 123px;
            position: absolute;
            margin-left: 302px;
            margin-top: 9px;
        }

        .popup-content-textbox2 {
            margin-bottom: 1px;
            min-width: 150px;
            top: 123px;
            position: absolute;
            margin-left: 302px;
            margin-top: 37px;
        }

        .popup-content-textbox3 {
            margin-bottom: 1px;
            /*min-width: 133px;*/
            top: 123px;
            position: absolute;
            margin-left: 381px;
            margin-top: 67px;
            width: 71px;
        }


        .section1_Leave {
            display: block;
            border: 1.5px solid rgba(207, 207, 207, 0.91);
            height: 688px;
            width: 534px;
            margin: 4px auto;
            position: absolute;
        }

        .section2_Leave {
            display: block;
            border: 1px solid #ddd;
            height: 250px;
            width: 610px;
            margin: 5px 4px;
            position: absolute;
        }


        #BusinessType-button {
            font-size: 9px;
            padding-top: 1px;
            font-weight: bold;
        }

        .popup-content-label {
            width: 138px;
            display: block;
            float: left;
            margin: 1px;
        }

        .popup-content-label-2 {
            width: 100px;
            display: block;
            float: left;
            margin: 1px;
        }

        /*.section1_Leave {
            display: block;
            border: 1.5px solid rgba(207, 207, 207, 0.91);
            height: 688px;
            width: 534px;
            margin: 4px auto;
            position: absolute;
        }*/

        .section2_Leave {
            display: block;
            border: 2px solid #ddd;
            height: 789px;
            width: 509px;
            margin: 5px 4px;
            position: absolute;
            padding-left: 11px;
        }


        .row3 {
            width: 471px;
        }

        .row4 {
            position: absolute;
            top: 294px;
            width: 400px;
        }

        .row6 {
            width: 370px;
            display: inline-block;
        }

        .popup-content-textbox-long {
            margin-bottom: 1px;
            width: 290px;
        }



        .row2 {
            width: 402px;
        }
        .disable {
            /* Note: pointer-events not supported by IE10 and under */
            pointer-events: none;
            opacity: 0.4;
        }
    </style>
</head>

<body>


    <div id="Create_Dialog">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmJourneyobject", name = "frmJourneyobject" }))
        {

           
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />

             <div class="row3  content_margine" id="dvTravelModeEligibilityPolicylistobj">@Html.LabelFor(m => m.TravelModeEligibilityPolicy, "TravelMode :", new { @class = "popup-content-label" })<select id="TravelModeEligibilityPolicylistobj" name="TravelModeEligibilityPolicylistobj" class="drop" style="width:159px;"><option value="0">-Select-</option></select></div>
             <div class="row3 content_margine">@Html.LabelFor(m => m.FromDate, "JourneyStart :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.FromDate, new { @class = "popup-content-textbox" })</div>
            <div class="row3 content_margine">@Html.LabelFor(m => m.ToDate, "JourneyEndtime :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.ToDate, new { @class = "popup-content-textbox" })</div>
                @*<input name="TotalHrs" type="text" id="TotalHrs" style="width: 100px;" readonly="readonly" />*@
             <div class="row3 content_margine">@Html.LabelFor(m => m.TotalHrs, "TotalHrs :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.TotalHrs, new { @class = "popup-content-textbox", @readonly = "readonly", @id = "TotalHrsJO" })</div>

   
         
    <div id="dvPlace">
        <div class="row3 content_margine" id="dvOnwayfrom">
            <input type="checkbox" id="Onwayfrom" name="Onwayfrom">
            <label for="Onwayfrom"> Onwayfrom</label><br>
        </div>
        <div class="row3 content_margine">
            <input type="checkbox" id="OtherPlace" name="OtherPlace">
            <label for="OtherPlace"> Other Place</label><br>
        </div>
        <div id="PlaceFromdiv1" class="row3 content_margine">
            @Html.LabelFor(m => m.PlaceFrom, "PlaceFrom :", new { @class = "popup-content-label" })
            <div class="hidedivusingcss"><select id="PlaceFromlist" name="PlaceFromlist" class="drop" style="width:159px;"><option value="0">-Select-</option></select></div>
            @Html.TextBoxFor(m => m.PlaceFrom, new { @class = "popup-content-textbox1  ", @id = "PlaceFromid", @ReadOnly = "ReadOnly" })
        </div>

        <div class="row3 content_margine" id="dvOnwayTo">
            <input type="checkbox" id="OnwayTo" name="OnwayTo">
            <label for="OnwayTo"> OnwayTo</label><br>
        </div>

        <div id="PlaceTodiv1" class="row3 content_margine">
            @Html.LabelFor(m => m.PlaceTo, "PlaceTo :", new { @class = "popup-content-label " })
            <div class="hidedivusingcss"> <select id="PlaceTolist" name="PlaceTolist" class="drop" style="width:159px;"><option value="0">-Select-</option></select></div>
            @Html.TextBoxFor(m => m.PlaceTo, new { @class = "popup-content-textbox2  ", @id = "PlaceToid", @ReadOnly = "ReadOnly" })
        </div>
    </div>
           
               <div id="JourneyDistdiv1" class="row3 content_margine">
                @Html.LabelFor(m => m.JourneyDist, "JourneyDist :", new { @class = "popup-content-label" })
                @Html.TextBoxFor(m => m.JourneyDist, new { @class = "popup-content-textbox " })

                <label for="RatePerKM">Rate Per KM: </label><br>
                <input type="text" id="RatePerKM" name="RatePerKM" readonly class="popup-content-textbox3">
            </div>

            <div id="TAElligibleAmtdiv1" class="row3 content_margine">
                @Html.LabelFor(m => m.TAElligibleAmt, "TAElligibleAmt :", new { @class = "popup-content-label must" })
                @Html.TextBoxFor(m => m.TAElligibleAmt, new { @class = "popup-content-textbox must must", @id = "TAElligibleAmtid" })
            </div>
            <div id="TAClaimAmtdiv1" class="row3 content_margine">
                @Html.LabelFor(m => m.TAClaimAmt, "TAClaimAmt :", new { @class = "popup-content-label must" })
                @Html.TextBoxFor(m => m.TAClaimAmt, new { @class = "popup-content-textbox must must", @id = "TAClaimAmtoid" })
            </div>
            <div id="TASettleAmtdiv1" class="row3 content_margine">
                @Html.LabelFor(m => m.TASettleAmt, "TASettleAmt :", new { @class = "popup-content-label must" })
                @Html.TextBoxFor(m => m.TASettleAmt, new { @class = "popup-content-textbox must must", @id = "TASettleAmtoid" })
            </div>
            @*<div id="Remarkdiv1" class="row3 content_margine">
                @Html.LabelFor(m => m.Remark, "Remark :", new { @class = "popup-content-label " })
                @Html.TextBoxFor(m => m.Remark, new { @class = "popup-content-textbox must ", @id = "Remarkid" })
            </div>*@

        }
    </div>

</body>
</html>

<script>
    $(document).ready(function (e) {
        $('button').button();

        $('#FromDate').P2BDateTimePicker();

        $('#ToDate').P2BTimePicker({
            format: 'H:i',
            formatDate: 'dd/MM/yyyy',
            timeFormat: 'H:i',
            step: 1


        });

        var type = $("#DIARYTypelist option:selected").text();
        $.get('@Url.Action("hidebutton", "DiarySettlementClaim")?DiaryType=' + type, function (data) {
            if (data != null) {
                data.values.forEach(function (item) {
                    $("#" + item).hide();
                });
                data.enValues.forEach(function (item) {
                    $("#" + item).attr('readonly', 'readonly');
                });
                data.visValues.forEach(function (item) {
                    $("#" + item).show();
                });
            }

        });


        //var ColNames = [];
        //var ColModel = [];
        //var SortName, Caption, url, width, height;
        var btndisablenames = "#Edit-Address-BenefitNominees,#Remove-Address-BenefitNominees,#Edit-ContactDetails-BenefitNominees,#Remove-ContactDetails-BenefitNominees";
        //ColModel = ['Id', 'DateofBirth', 'Relation'];
        //ColNames = ['Id', 'DateofBirth', 'Relation'];
        @*ColModel = ['ID', 'Employee Code', 'Employee Name'];
        ColNames = ['ID', 'Employee Code', 'Employee Name'];
        SortName = 'Id';
        Caption = 'Benefit Nominees';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);*@

        $('.p2bdisabled').attr('readonly', 'readonly');
        $('.p2bdisabled').css('background-color', 'rgb(231, 231, 231)');
         

        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');

        }
        $('#Partial_Datebirthid').P2BDatePicker();

        function DateConvert(JsonDate) {
            var date = new Date(parseInt(JsonDate.substr(6)));
            var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
            return displayDate;
        };

        $("#JourneyStart").on("change", function () {
            var StartDate = $("#txtMonthStart").val();
            var EndDate = $("#txtMonthEnd").val();
            if ($("#JourneyStart").val() < StartDate || $("#JourneyStart").val() > EndDate) {
                alert("Select Proper Journey Date..!");
            }
        });

        $("#ToDate").on("change", function (e) {
            var StartDate = $("#FromDate").val();
            var EndDate = $("#ToDate").val();
            console.log(StartDate);
            console.log(EndDate);
            $.ajax(
             {
                 type: "Post",
                 data: { 'StartDate': StartDate, 'EndDate': EndDate },

                 url: "@Url.Action("getTotalHours", "JourneyDetails")",
                 success: function (data) { 
                     $("#TotalHrsJO").val(data);
                 }
             });
            e.preventDefault();
        });
     
        $('#TravelModeEligibilityPolicylistobj').on('selectmenuchange', function () {

            $('#TAElligibleAmtid').prop("readonly", true);
            $('#TAClaimAmtoid').prop("readonly", false);
            $('#TASettleAmtoid').prop("readonly", true);
            $('#TAElligibleAmtid').val(0);
            $('#TAClaimAmtoid').val(0);
            $('#TASettleAmtoid').val(0);
            $('#JourneyDist').val(0);

            var a = $('#Employee-Table').P2BGetTableDataonSelectedRow('#Employee-Table', 1);
            if (a.val == "" || a.length == 0) {
                alert("Please select Employee");
                return false;
            }
           
            $.post("@Url.Action("GetCode")", { id: a.toString(), data2: $('#TravelModeEligibilityPolicylistobj').val(), data3: '0', data4: $('#DIARYTypelist').val() }, function (data) {
                if (data != null && data != "") {
                    $('#JourneyDist').prop("readonly", data[0]); 
                    var CalAmt = data[1] * $('#JourneyDist').val();
                    $('#TAClaimAmtoid').prop("readonly", data[2]);
                    $('#TAElligibleAmtid').val(CalAmt);
                    $('#TAClaimAmtoid').val(CalAmt);
                    $('#TASettleAmtoid').val(CalAmt);
                    $('#RatePerKM').val(data[1]);
                }
            });
        });

        $('#Onwayfrom').click(function () {
            if ($(this).is(':checked')) {
                $('#PlaceFromid').val('On the Way')
                $('#PlaceFromid').prop("readonly", true);
                $('#FromDate').P2BDateTimePicker([
                     '00:00'
                ]);

            }
            else {

                $('#FromDate').P2BDateTimePicker();

                $('#PlaceFromid').val('')
                $('#PlaceFromid').prop("readonly", false);

            }
        });

        $('#OnwayTo').click(function () {
            if ($(this).is(':checked')) {
                $('#PlaceToid').val('On the Way')
                $('#PlaceToid').prop("readonly", true);
                $('#ToDate').datetimepicker({

                    allowTimes: [
                     '23:59'
                    ] 
                });
            }
            else {

                $('#ToDate').P2BDateTimePickertime();
                $('#PlaceToid').val('')
                $('#PlaceToid').prop("readonly", false);


            }
        });
     

      


        $('#TAClaimAmtoid').keyup(function () {
            //alert('ok');
            //var a = $('#TAElligibleAmtid').val();
            //alert(a);
            $.post('', { id: 0 }, function (data) {
                if (data != null && data != "") {
                    var elg = $('#TAElligibleAmtid').val();
                    var clm = $('#TAClaimAmtoid').val();
                    var setl = $('#TASettleAmtoid').val();
                    elg = parseFloat(elg);
                    clm = parseFloat(clm);
                    setl = parseFloat(setl);
                    if (elg != 0 && clm != null && clm != "") {
                       
                        if (clm > elg) {
                          
                            $('#TASettleAmtoid').val(elg);
                        }
                        else if (clm <= elg) {
                           
                            $('#TASettleAmtoid').val(clm)
                        }
                    }
                    else
                    {
                        
                        $('#TASettleAmtoid').val(clm)
                    }
                }
                else {
                    alert("Data Null");
                }
            });

        });



        $('#JourneyDist').keyup(function () {
            var a = $('#Employee-Table').P2BGetTableDataonSelectedRow('#Employee-Table', 1);
            if (a.val == "" || a.length == 0) {
                alert("Please select Employee");
                return false;
            }

            $.post("@Url.Action("GetCode")", { id: a.toString(), data2: $('#TravelModeEligibilityPolicylistobj').val(), data3: $('#JourneyDist').val(), data4: $('#DIARYTypelist').val() }, function (data) {
                if (data != null && data != "") {
                     //alert(data[1]);
                    //alert('ok1');
                    $('#RatePerKM').val(data[1]);
                    if (data[1] != '0') {
                        $('#TAElligibleAmtid').prop("readonly", true);
                        //  var a = 342.66968064;
                        var a = data[1];
                        var b = parseInt($('#JourneyDist').val());
                        var d = (a * b);
                        if (isNaN(d)) {
                            $('#TAElligibleAmtid').val(0);
                        } else {
                            $('#TAElligibleAmtid').val(d);
                            $('#TAClaimAmtoid').val(d);
                            $('#TASettleAmtoid').val(d);
                            $('#TAClaimAmtoid').prop("readonly", true);
                            $('#TASettleAmtoid').prop("readonly", true);
                        }

                    }
                    else if (data[1] == '0') {
                        $('#TAElligibleAmtid').prop("readonly", true);
                        $('#TAElligibleAmtid').val(0);
                    }
                    else {
                        $('#TAElligibleAmtid').prop("readonly", true);
                        $('#TAElligibleAmtid').val(0);
                    }
                }
                else {

                    alert("Data Null");
                }
            }); 
        });

 
 

       

        /* Address button click*/
        $('#Lookup-Address-BenefitNominees').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetAddressLKDetails", "BenefitNominees")', '', 'LookupDiv', 'Address Look Up Data', '#AddressList', 'AddressList', 5, 'AddressList', '#frmJourneyobject', 'N', '#Edit-Address-BenefitNominees1,#Remove-Address-BenefitNominees1', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        // PArtial page create
        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-Address-BenefitNominees').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "address")', 'Create Address', 'open', '@Url.Action("Create","Address")', '#FormAddress', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#frmJourneyobject', '', function (data) {
                // to show data which is created in partial page
                $('#AddressList').P2BLookUpEncapsulate('#AddressList', 'AddressList', data[0], data[1], 'AddressList', '#Edit-Address-BenefitNominees,#Remove-Address-BenefitNominees', 'N');
            });
            event.preventDefault();
        });

        // PArtial page edit
        $('#Edit-Address-BenefitNominees').button().on("click", function (event) {
            var a = [], b;
            a = $('#AddressList').P2BGetTableDataonSelectedRow('#AddressList', 0);
            b = a[0];
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "address")', '@Url.Action("edit", "address")', b, '@Url.Action("Editsave","Address")', 'Edit Address', '#FormAddress', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmJourneyobject', '#AddressList', 'AddressList', 'AddressList', 'N', '#Edit-Address-BenefitNominees,#Remove-Address-BenefitNominees', function (data) {
                // setTimeout(function () {
                //to bind data according to selected id
                $.each(data[0], function (i, k) {
                    $('#FormAddress').trigger("reset");
                    $('#Address1').val(k.Address1);
                    $('#Address2').val(k.Address2);
                    $('#Address3').val(k.Address3);
                    $('#Landmark').val(k.Landmark);
                    $('#CountryList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "country")", "", k.Country_Id, '');
                    $('#StateList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "state")", "", k.State_Id, '');
                    $('#StateRegionList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "StateRegion")", "", k.StateRegion_Id, '');
                    $('#DistrictList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "District")", "", k.District_Id, '');
                    $('#TalukaList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "Taluka")", "", k.Taluka_Id, '');
                    $('#CityList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "City")", "", k.City_Id, '');
                    $('#AreaList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "area")", "", k.Area_Id, '');
                });
                //}, 3000);
            });
            event.preventDefault();
        });

        $('input[name="IShandicap1"]:radio').change(function () {
            if (this.value == "false") {
                $('#PartialIshandicapid').removeClass('must');
                $("#handicapRemarkdiv1").fadeOut();
            }
            else {
                $("#handicapRemarkdiv1").fadeIn();
                $("#PartialIshandicapid").val("");
            }
        });
        //partial page delete
        $('#Remove-Address-BenefitNominees').button().on('click', function (event) {
            var a = [], b;
            a = $('#AddressList').P2BGetTableDataonSelectedRow('#AddressList', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#AddressList', $('#AddressList').val(), 200, 200, '#frmJourneyobject', '#AddressList', '#Edit-Address-BenefitNominees,#Remove-Address-BenefitNominees');
            event.preventDefault();
        });

        /* ContactDetails button click*/



        $('#Lookup-ContactDetails-BenefitNominees').on('click', function (event) {
            @*$('.dialog').P2BLookUpModal('@Url.Action("GetAddressLKDetails", "BenefitNominees")', '', 'LookupDiv', 'Address Look Up Data', '#AddressList', 'AddressList', 5, 'AddressList', '#frmJourneyobject', 'N', '#Edit-Address-BenefitNominees,#Remove-Address-BenefitNominees', 'Lookup_table', 'PageNavPosition');*@
            $('.dialog').P2BLookUpModal('@Url.Action("GetContactDetLKDetails", "BenefitNominees")', '', 'LookupDiv', 'ContactDetails Look Up Data', '#ContactDetailsList', 'ContactDetailsList', 5, 'ContactDetailsList', '#frmJourneyobject', 'N', '#Edit-ContactDetails-BenefitNominees,#Remove-ContactDetails-BenefitNominees', 'Lookup_table', 'PageNavPosition');
            // $('.ContactDetLKDiv').P2BLookUpModal('@@Url.Action("GetContactDetLKDetails", "BenefitNominees")', '', 'ContactDetLKDiv', 'Look Up Data', '#ContactDetailsList', 'ContactDetailsList', 10, 'ContactDetailsList', '#frmJourneyobject', 'N', '#Edit-ContactDetails-BenefitNominees,#Remove-ContactDetails-BenefitNominees', 'lookupdiv_ContactDet', 'pageNavPosition_ContactDet');
            event.preventDefault();
        });

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-ContactDetails-BenefitNominees').button().on("click", function (event) {
            //function (url, maindialogtitle, state, submiturl, submitnameformforserilize, savemessage, errormessage, gridreloadname, height, width, forwarddata, ControlName, event, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, returnfunctiondata) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Createcontactdetails_partial", "BenefitNominees")', 'Create ContactDetails', 'open', '@Url.Action("CreateSave","ContactDetails")', '#FormContactDetails', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#FormContactDetails', '#Edit-ContactNo-ContDetails,#Remove-ContactNo-ContDetails', function (data) {
                $('#ContactDetailsList').P2BLookUpEncapsulate('#ContactDetailsList', 'ContactDetailsList', data[0], data[1], 'ContactDetailsList', '#Edit-ContactDetails-BenefitNominees,#Remove-ContactDetails-BenefitNominees', 'N');
            });
            event.preventDefault();
        });

        $('#Edit-ContactDetails-BenefitNominees').button().on("click", function (event) {
            var a = [], b;
            a = $('#ContactDetailsList').P2BGetTableDataonSelectedRow('#ContactDetailsList', 0);
            b = a[0];
            console.log(b);
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("Createcontactdetails_partial", "BenefitNominees")', '@Url.Action("Editcontactdetails_partial", "BenefitNominees")', b, '@Url.Action("EditSave", "ContactDetails")', 'Edit Contact Details', '#FormContactDetails', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmJourneyobject', '#ContactDetailsList', 'ContactDetailsList', 'ContactDetailsList', 'N', '#Remove-ContactNo-ContDetails,#Edit-ContactNo-ContDetails', function (data) {
                // setTimeout(function () {
                $.each(data[0], function (i, k) {
                    $('#FormContactDetails').trigger('reset');
                    $('#EmailId').val(k.EmailId);
                    $('#Website').val(k.Website);
                    $('#FaxNo').val(k.FaxNo);
                });

                $.each(data[1], function (i, k) {
                    $('#ContactNos_List').P2BLookUpEncapsulate('#ContactNos_List', 'ContactNos_List', k.Id, k.FullContactNumbers, 'ContactNos_List', '#Edit-ContactNo-ContDetails,#Remove-ContactNo-ContDetails', 'A');
                });
                // }, 3000);
            });
            event.preventDefault();
        });

        $('#Remove-ContactDetails-BenefitNominees').button().on('click', function (event) {
            // dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            var a = [], b;
            a = $('#ContactDetailsList').P2BGetTableDataonSelectedRow('#ContactDetailsList', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('@Url.Action("DeleteContactDetails","BenefitNominees")', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#ContactDetailsList', $('#ContactDetailsList').val(), 200, 200, '#frmJourneyobject', '#ContactDetailsList', '#Edit-ContactDetails-BenefitNominees,#Remove-ContactDetails-BenefitNominees');
            event.preventDefault();
        });



        @*$('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-BenefitTypelist-BenefitNominees').button().on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Index", "NomineeBenefit")', 'Create NomineeName', 'open', '@Url.Action("Create", "NomineeBenefit")', '#frmNomineeBenefit', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#frmJourneyobject', '', function (data) {
                $('#Type_Nomines').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 311, ""); // Dropdown bind
            });
            event.preventDefault();
        });*@

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-BenefitTypelist-BenefitNominees').button().on("click", function (event) {
            //function (url, maindialogtitle, state, submiturl, submitnameformforserilize, savemessage, errormessage, gridreloadname, height, width, forwarddata, ControlName, event, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, returnfunctiondata) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Index", "NomineeBenefit")', 'Create NomineeName', 'open', '@Url.Action("Create", "NomineeBenefit")', '#frmNomineeBenefit', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#frmNomineeBenefit', '', function (data) {
                $('#BenefitTypelist').P2BLookUpEncapsulate('#BenefitTypelist', 'BenefitTypelist', data[0], data[1], 'BenefitTypelist', '', 'A');
                $('#Type_Nomines').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 311, "");
            });

            event.preventDefault();
        });
        $('#Lookup-BenefitTypelist-BenefitNominees').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupBenefitNominees", "BenefitNominees")', '', 'LookupDiv', 'BenefitType Look Up Data', '#BenefitTypelist', 'BenefitTypelist', 5, 'BenefitTypelist', '#frmJourneyobject', 'A', '#Edit-BenefitTypelist-BenefitNominees,#Remove-BenefitTypelist-BenefitNominees', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });



        $('#Edit-BenefitTypelist-BenefitNominees').button().on("click", function (event) {
            var a = [], b;
            a = $('#BenefitTypelist').P2BGetTableDataonSelectedRow('#BenefitTypelist', 0);
            b = a[0];
            console.log(b);
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("Index", "NomineeBenefit")', '@Url.Action("Edit", "NomineeBenefit")', b, '@Url.Action("EditSave", "NomineeBenefit")', 'Edit  Details', '#frmNomineeBenefit', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmJourneyobject', '#BenefitTypelist', 'BenefitTypelist', 'BenefitTypelist', 'A', '#Edit-BenefitTypelist-BenefitNominees,#Remove-BenefitTypelist-BenefitNominees', function (data) {
                // setTimeout(function () {
                $.each(data[0], function (i, k) {
                    $('#frmNomineeBenefit').trigger('reset');
                    $('#BenefitPerc').val(k.BenefitPerc);
                    $('#Type_Nomines').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 311, k.BenefitType_Id);
                });


                // }, 3000);
            });
            event.preventDefault();
        });







        $('#Remove-BenefitTypelist-BenefitNominees').button().on('click', function (event) {
            // dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            var a = [], b;
            a = $('#BenefitTypelist').P2BGetTableDataonSelectedRow('#BenefitTypelist', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('@Url.Action("DeleteContactDetails","BenefitNominees")', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#BenefitTypelist', $('#BenefitTypelist').val(), 200, 200, '#frmJourneyobject', '#BenefitTypelist', '#Edit-BenefitTypelist-BenefitNominees,#Remove-BenefitTypelist-BenefitNominees');
            event.preventDefault();
        });




        $('#Lookup-NomineeName-BenefitNominees1').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupNomineesName", "BenefitNominees")', '', 'LookupDiv', 'Nominee Look Up Data', '#NomineeNamelist1', 'NomineeNamelist1', 5, 'NomineeNamelist1', '#frmJourneyobject', 'N', '#Edit-NomineeName-BenefitNominees,#Remove-NomineeName-BenefitNominees', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-NomineeName-BenefitNominees1').button().on("click", function (event) {
            //function (url, maindialogtitle, state, submiturl, submitnameformforserilize, savemessage, errormessage, gridreloadname, height, width, forwarddata, ControlName, event, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, returnfunctiondata) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "NameSingle")', 'Create NomineeName', 'open', '@Url.Action("Create", "NameSingle")', '#FormNameSingle', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#frmJourneyobject', '', function (data) {
                $('#NomineeNamelist1').P2BLookUpEncapsulate('#NomineeNamelist1', 'NomineeNamelist1', data[0], data[1], 'NomineeNamelist1', '#Edit-NomineeName-BenefitNominees1,#Remove-NomineeName-BenefitNominees1', 'N');
            });
            event.preventDefault();
        });

        $('#Edit-NomineeName-BenefitNominees1').button().on("click", function (event) {
            var a = [], b;
            a = $('#NomineeNamelist1').P2BGetTableDataonSelectedRow('#NomineeNamelist1', 0);
            b = a[0];
            console.log(b);
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "NameSingle")', '@Url.Action("edit", "NameSingle")', b, '@Url.Action("EditSave", "NameSingle")', 'Edit  Details', '#FormNameSingle', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmJourneyobject', '#NomineeNamelist', 'NomineeNamelist', 'NomineeNamelist', 'N', '#Edit-NomineeName-BenefitNominees,#Remove-NomineeName-BenefitNominees', function (data) {
                // setTimeout(function () {
                var k = data;
                $('#frmnameSingle').trigger("reset");
                $('#FName').val(k.FName);
                $('#MName').val(k.MName);
                $('#LName').val(k.LName);

                $('#title').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 100, k.EmpTitle);


                // }, 3000);
            });
            event.preventDefault();
        });

        $('#Remove-NomineeName-BenefitNominees1').button().on('click', function (event) {
            // dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            var a = [], b;
            a = $('#NomineeNamelist1').P2BGetTableDataonSelectedRow('#NomineeNamelist1', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('@Url.Action("DeleteContactDetails","BenefitNominees")', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#NomineeNamelist1', $('#NomineeNamelist1').val(), 200, 200, '#frmJourneyobject', '#NomineeNamelist1', '#Edit-NomineeName-BenefitNominees,#Remove-NomineeName-BenefitNominees');
            event.preventDefault();
        });
      
        $('#PlaceFromid').attr('readonly', 'readonly');
        $('#PlaceToid').attr('readonly', 'readonly');
        $('#PlaceFromlist').selectmenu().selectmenu("menuWidget");
        $('#PlaceTolist').selectmenu().selectmenu("menuWidget");
        $('#PlaceFromlist').P2BSelectMenuAppend("@Url.Action("GetLocation", "JourneyDetails")", "", "", '');
        $('#PlaceTolist').P2BSelectMenuAppend("@Url.Action("GetLocation", "JourneyDetails")", "", "", '');

        $('#PlaceFromlist').on('selectmenuchange', function () {
            var value = $("#PlaceFromlist option:selected").text();
            $('#PlaceFromid').val(value);
        });

        $('#PlaceTolist').on('selectmenuchange', function () {
            var value = $("#PlaceTolist option:selected").text();
            $('#PlaceToid').val(value);
        });

        @*$('#DIARYTypelist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "Lookup")', 3013, "");*@

        $('.popup_radio_button').controlgroup();
        $('#Autho').makeDisable('#Create,#Edit,#Delete');
        $('#Categorylist1').selectmenu().selectmenu("menuWidget");
       
        $('#Type_Nomines').selectmenu().selectmenu("menuWidget");
        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');
        $('#TAClaimAmtoid,#TASettleAmtoid,#JourneyDist,#TAElligibleAmtid').ForceAmount();
        $('#TAClaimAmtoid,#TASettleAmtoid,#TAElligibleAmtid').val("0");
        $('#TAClaimAmtoid').attr("value", "0");
        $('#TASettleAmtoid').attr("value", "0");
        $('#TAElligibleAmtid').attr("value", "0");
        $('#JourneyDist').attr("value", "0");
        $('#TAElligibleAmtid').prop("readonly", true);
        $('#TAClaimAmtoid').prop("readonly", false);
        $('#TASettleAmtoid').prop("readonly", false);
        $('.drop').selectmenu().selectmenu("menuWidget");

        $('#OtherPlace').click(function () {

            if ($(this).is(':checked')) {             
                $('#PlaceFromid').prop("readonly", false);
                $('#PlaceFromid').val('');
                $('#PlaceToid').prop("readonly", false);
                $('#PlaceToid').val('');           
                $('.hidedivusingcss').addClass("disable");
            
                
            }
            else {
                $('#PlaceFromid').prop("readonly", true);
                $('#PlaceFromid').val('');
                $('#PlaceToid').prop("readonly", true);
                $('#PlaceToid').val('');
                $('.hidedivusingcss').removeClass("disable");
               
            }
        });
    });
</script>