
@model Payroll.JVFileFormat
@{
    Layout = null;
}
@*<link href="~/Content/Rate_master/Rate_master.css" rel="stylesheet" />*@
<style>
    .row1 {
        width: 256px;
        display: block;
        margin: 1px 1px 6px 6px;
        float: left;
    }
</style>
 

<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmJVFileFormat" }))
    {
        <div class="row1 content_margine">
            @Html.LabelFor(m => m.FormatType, "Format Type :", new { @class = "popup-content-label must" }) 
            <select class="drop must" name="FormatType_drop" style="width:120px;" id="FormatType_drop">
                <option>-Select-</option>
            </select>
        </div>
        <div class="row1 content_margine">
            @Html.LabelFor(m => m.Seperator, "Seperator :", new { @class = "popup-content-label must" })
            <select class="drop must" name="Seperator_drop" style="width:120px;" id="Seperator_drop">
                <option>-Select-</option>
            </select>
        </div>
        <div class="row1 content_margine">
            @Html.LabelFor(m => m.CBS, "CBS :", new { @class = "popup-content-label must" })
            <select class="drop must" name="CBS_drop" style="width:120px;" id="CBS_drop">
                <option>-Select-</option>
            </select>
        </div>
        <div class="row1 content_margine">
            @Html.LabelFor(m => m.Version, "Version :", new { @class = "popup-content-label must" })
            <select class="drop must" name="Version_drop" style="width:120px;" id="Version_drop">
                <option>-Select-</option>
            </select>
        </div>
    }
</div>


<script>
    $(document).ready(function () {
        $('.drop').selectmenu().selectmenu("menuWidget").css({ "height": "auto" });
        $('#FormatType_drop').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 1075, "");
        $('#Seperator_drop').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 1076, "");
        $('#CBS_drop').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 1077, "");
        $('#Version_drop').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 1078, "");

        $('button').button(); 
    });
</script>