
@model Payroll.JVField
@{
    Layout = null;
}
@*<link href="~/Content/Rate_master/Rate_master.css" rel="stylesheet" />*@
<style>
    .icon-row {
        left: 89px;
        position: relative;
        top: -124px;
    }

    .popup-content-label {
        display: block;
        float: left;
        width: 216px;
    }
</style>


<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmJVField" }))
    {
         <div class="content_margine row3">
                @Html.LabelFor(m => m.Name, "Name:", new { @class = "popup-content-label must" })
             <select class="drop must" name="Name_drop" id="Name_drop" style="width:180px">
                 <option value="0">-Select-</option>
             </select>
            </div>
        
       

            <div class="row3 content_margine">@Html.LabelFor(m => m.Size, "Size:", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.Size, new { @class = "popup-content-textbox" })</div>
           
             
                <div class="row3 content_margine">
                    @Html.LabelFor(m => m.PaddingAppl, "Padding Applicable :", new { @class = "popup-content-label" })
                    <div class="popup_radio_button radio_button_div_1">
                        <span class="popup_radio_button radio_button_div_1">
                            <input type="radio" id="radio1" name="PaddingAppl" value="true" /><label for="radio1">Yes</label>
                            <input type="radio" id="radio2" name="PaddingAppl" value="false" checked="checked" /><label for="radio2">No</label>
                        </span>
                    </div>
                </div>
        
          <div class="content_margine row3">
                @Html.LabelFor(m => m.PaddingChar, "PaddingChar:", new { @class = "popup-content-label" })
              <select class="drop" name="PaddingChar_drop" id="PaddingChar_drop" style="width:180px">
                  <option value="0">-Select-</option>
              </select>
            </div>
        
          <div class="content_margine row3">
                @Html.LabelFor(m => m.PaddingSide, "PaddingSide:", new { @class = "popup-content-label" })
              <select class="drop" name="PaddingSide_drop" id="PaddingSide_drop" style="width:180px">
                  <option value="0">-Select-</option>
              </select>
            </div>
        
         <div class="row3 content_margine">
                        @Html.LabelFor(m => m.SeqNo, "SeqNo:", new { @class = "popup-content-label " })
                        @Html.TextBoxFor(m => m.SeqNo, new { @class = "popup-content-textbox " })
                    </div>
                    
              <div class="content_margine row3">
                @Html.LabelFor(m => m.Value, "Value:", new { @class = "popup-content-label" })
                  <select class="drop" name="Value_drop" id="Value_drop" style="width:180px">
                      <option value="0">-Select-</option>
                  </select>
            </div>
        
           <div class="content_margine row3">
                @Html.LabelFor(m => m.ConcatData, "ConcatData:", new { @class = "popup-content-label" })
              <select class="drop" name="ConcatData_drop" id="ConcatData_drop" style="width:180px">
                  <option value="0">-Select-</option>
              </select>
            </div>
        
          
        
        
         <div class="row3 content_margine">
                    @Html.LabelFor(m => m.ConcatDataPaddingAppl, "ConcatData Padding Applicable :", new { @class = "popup-content-label" })
                    <div class="popup_radio_button radio_button_div_1">
                        <span class="popup_radio_button radio_button_div_1">
                            <input type="radio" id="radio3" name="ConcatDataPaddingAppl" value="true" /><label for="radio3">Yes</label>
                            <input type="radio" id="radio4" name="ConcatDataPaddingAppl" value="false" checked="checked" /><label for="radio4">No</label>
                        </span>
                    </div>
                </div>
    
        
 <div class="content_margine row3">
                @Html.LabelFor(m => m.ConcatDataPaddingSide, "ConcatData PaddingSide:", new { @class = "popup-content-label" })
              <select class="drop" name="ConcatDataPaddingSide_drop" id="ConcatDataPaddingSide_drop" style="width:180px">
                  <option value="0">-Select-</option>
              </select>
            </div>
        
                  
              <div class="content_margine row3">
                @Html.LabelFor(m => m.ConcatDataValue, "ConcatData Value:", new { @class = "popup-content-label" })
                  <select class="drop" name="ConcatDataValue_drop" id="ConcatDataValue_drop" style="width:180px">
                      <option value="0">-Select-</option>
                  </select>
            </div>
        
          <div class="content_margine row3">
                @Html.LabelFor(m => m.ConcatDataSize, "ConcatData Size:", new { @class = "popup-content-label" })
              @Html.TextBoxFor(m => m.ConcatDataSize, new { @class = "popup-content-textbox " }) 
            </div>
        
      <div class="content_margine row3">
                @Html.LabelFor(m => m.SplitData, "SplitData:", new { @class = "popup-content-label" })
          <select class="drop" name="SplitData_drop" id="SplitData_drop" style="width:180px">
              <option value="0">-Select-</option>
          </select>
            </div>
        
         <div class="row3 content_margine">
                    @Html.LabelFor(m => m.SplitDataPaddingAppl, "SplitData Padding Applicable :", new { @class = "popup-content-label" })
                    <div class="popup_radio_button radio_button_div_1">
                        <span class="popup_radio_button radio_button_div_1">
                            <input type="radio" id="radio5" name="SplitDataPaddingAppl" value="true" /><label for="radio5">Yes</label>
                            <input type="radio" id="radio6" name="SplitDataPaddingAppl" value="false" checked="checked" /><label for="radio6">No</label>
                        </span>
                    </div>
                </div>
         
        <div class="content_margine row3">
                @Html.LabelFor(m => m.SplitDataPaddingSide, "SplitData PaddingSide:", new { @class = "popup-content-label" })
            <select class="drop" name="SplitDataPaddingSide_drop" id="SplitDataPaddingSide_drop" style="width:180px">
                <option value="0">-Select-</option>
            </select>
            </div>
          <div class="content_margine row3">
                @Html.LabelFor(m => m.SplitDataValue, "SplitData Value:", new { @class = "popup-content-label" })
              <select class="drop" name="SplitDataValue_drop" id="SplitDataValue_drop" style="width:180px">
                  <option value="0">-Select-</option>
              </select>
            </div>
                   
        <div class="content_margine row3">
                @Html.LabelFor(m => m.SplitDataSize, "SplitData Size:", new { @class = "popup-content-label" })
              @Html.TextBoxFor(m => m.SplitDataSize, new { @class = "popup-content-textbox " }) 
            </div>
        
        
         <div class="row3 content_margine">
                    @Html.LabelFor(m => m.SkipSeperator, "Skip Seperator :", new { @class = "popup-content-label" })
                    <div class="popup_radio_button radio_button_div_1">
                        <span class="popup_radio_button radio_button_div_1">
                            <input type="radio" id="radio7" name="SkipSeperator" value="true" /><label for="radio7">Yes</label>
                            <input type="radio" id="radio8" name="SkipSeperator" value="false" checked="checked" /><label for="radio8">No</label>
                        </span>
                    </div>
                </div>
         <div class="row3 content_margine">
                    @Html.LabelFor(m => m.HeaderAppl, "Header Applicable :", new { @class = "popup-content-label" })
                    <div class="popup_radio_button radio_button_div_1">
                        <span class="popup_radio_button radio_button_div_1">
                            <input type="radio" id="radio9" name="HeaderAppl" value="true" /><label for="radio9">Yes</label>
                            <input type="radio" id="radio10" name="HeaderAppl" value="false" checked="checked" /><label for="radio10">No</label>
                        </span>
                    </div>
                </div>
        <div class="content_margine row3" id="Hdname">
                @Html.LabelFor(m => m.HeaderName, "HeaderName:", new { @class = "popup-content-label" })
              @Html.TextBoxFor(m => m.HeaderName, new { @class = "popup-content-textbox " }) 
            </div>
       
    }
</div>


<script>
    $(document).ready(function () {
        $('.drop').selectmenu().selectmenu("menuWidget").css({ "height": "auto" });
        $('#Name_drop').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 1079, "");
        $('#PaddingChar_drop').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 1080, "");
        $('#Value_drop').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 1081, "");
        $('#PaddingSide_drop').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 1082, "");
        $('#ConcatData_drop').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 1083, "");
        $('#ConcatDataPaddingSide_drop').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 1082, "");
        $('#SplitData_drop').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 1083, "");
        $('#SplitDataPaddingSide_drop').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 1082, "");
        $('#ConcatDataValue_drop').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 1081, "");
        $('#SplitDataValue_drop').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 1081, "");
        $('button').button();
        $('.popup_radio_button').controlgroup();
        $('#Hdname').hide();
        $('#Lookup-Value-JVFileName').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetValueLKDetails", "JVField")', '', 'LookupDiv', 'Value Look Up Data', '#ValueList', 'ValueList', 5, 'ValueList', '#frmJVField', 'A', '', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        $('#Remove-Value-JVFileName').button().on('click', function (event) {
            //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            var a = [], b;
            a = $('#ValueList').P2BGetTableDataonSelectedRow('#ValueList', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#ValueList', $('#ValueList').val(), 200, 200, '#frmJVField', '#ValueList', '');
            event.preventDefault();
        });

        $('input[name="HeaderAppl"]:radio').change(function () {
            if (this.value == "false") {
                $('#Hdname').fadeOut();
            }
            else {
                $('#Hdname').fadeIn();
            }
        });

    });
</script>