@{
    Layout = null;
}

@model Payroll.LoanAdvancePolicy


<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmLoanAdvancePolicy" }))
    {
        <div class="row3 content_margine">
            @Html.LabelFor(m => m.EffectiveDate, "Effective Date:", new { @class = "popup-content-label must" })
            @Html.TextBoxFor(m => m.EffectiveDate, new { @class = "popup-content-textbox must date" })
        </div>
        <div class="row3 content_margine">
                    @Html.LabelFor(m => m.EndDate, "End Date:", new { @class = "popup-content-label must" })
                @Html.TextBoxFor(m => m.EndDate, new { @class = "popup-content-textbox must date" })
            </div>
        <div class="row3 content_margine">
            @Html.LabelFor(m => m.YrsOfServ, "Years Of Service:", new { @class = "popup-content-label" })
            @Html.TextBoxFor(m => m.YrsOfServ, new { @class = "popup-content-textbox" })
        </div>
        <div class="row3  content_margine">
            @Html.LabelFor(m => m.IsLoanLimit, "Limit Applicable:", new { @class = "popup-content-label" })
            <div class="popup_radio_button radio_button_div_2 ">
                @Html.RadioButtonFor(m => m.IsLoanLimit, "true", new { type = "radio", @id = "radio3" })
                @Html.Label("Yes", new { @for = "radio3" })
                @Html.RadioButtonFor(m => m.IsLoanLimit, "false", new { type = "radio", @id = "radio4" })
                @Html.Label("No", new { @for = "radio4" })
            </div>
        </div>
        <div class="row3  content_margine">
            @Html.LabelFor(m => m.IsFixAmount, "Is Fixed Amt:", new { @class = "popup-content-label" })
            <div class="popup_radio_button radio_button_div_2 ">
                @Html.RadioButtonFor(m => m.IsFixAmount, "true", new { type = "radio", @id = "radio5" })
                @Html.Label("Yes", new { @for = "radio5" })
                @Html.RadioButtonFor(m => m.IsFixAmount, "false", new { type = "radio", @id = "radio6" })
                @Html.Label("No", new { @for = "radio6" })
            </div>
        </div>
        <div class="row3 content_margine">
            @Html.LabelFor(m => m.MaxLoanAmount, "Max Loan Amt:", new { @class = "popup-content-label must" })
            @Html.TextBoxFor(m => m.MaxLoanAmount, new { @class = "popup-content-textbox must" })
        </div>
        <div class="row3  content_margine">
            @Html.LabelFor(m => m.IsOnWages, "Is Dependent On Salary:", new { @class = "popup-content-label" })
            <div class="popup_radio_button radio_button_div_2 ">
                @Html.RadioButtonFor(m => m.IsOnWages, "true", new { type = "radio", @id = "radio7" })
                @Html.Label("Yes", new { @for = "radio7" })
                @Html.RadioButtonFor(m => m.IsOnWages, "false", new { type = "radio", @id = "radio8" })
                @Html.Label("No", new { @for = "radio8" })
            </div>
        </div>
        <div class="row3 content_margine">
            @Html.LabelFor(m => m.LoanSanctionWages, "Loan Sanction Wages:", new { @class = "popup-content-label" })  <div class="popup-content-table">
                <table class="lookuptableselected" id="WagesList">
                    <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                </table>
            </div>
            <div class="icon-row">
                <button data-p2btooltip="Select LoanAdvanceHead" class="  popup-content-icon-lookup" id="Lookup-Wages-LoanAdvancePolicy"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                @*<button data-p2btooltip="Create LoanAdvanceHead" class="popup-content-icon-create" id="Create-LoanAdvanceHead-LoanAdvanceHead"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit LoanAdvanceHead" class="popup-content-icon-edit" id="Edit-LoanAdvanceHead-LoanAdvanceHead"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>*@
                <button data-p2btooltip="Remove LoanAdvanceHead" class="popup-content-icon-remove" id="Remove-Wages-LoanAdvancePolicy"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
            </div>
        </div>



        <div class="row3 content_margine">
            @Html.LabelFor(m => m.IntAppl, "Investment Appli:", new { @class = "popup-content-label" })
            <div class="popup_radio_button radio_button_div_2 ">
                @Html.RadioButtonFor(m => m.IntAppl, "true", new { type = "radio", @id = "radio9" })
                @Html.Label("Yes", new { @for = "radio9" })
                @Html.RadioButtonFor(m => m.IntAppl, "false", new { type = "radio", @id = "radio10" })
                @Html.Label("No", new { @for = "radio10" })
            </div>
        </div>
        <div class="row3 content_margine">
            @Html.LabelFor(m => m.InterestType, "Interest Type:", new { @class = "popup-content-label must" })
            <select id="InterestTpyelist" name="InterestTypelist" class="drop must" style="width:120px;"><option></option></select>
        </div>
        <div class="row3 content_margine">@Html.LabelFor(m => m.IntRate, "Investment Rate:", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.IntRate, new { @class = "popup-content-textbox must", id = "IntRate" })</div>
        <div class="row3 content_margine horizontal_row3 content_margine">
            @Html.LabelFor(m => m.IsPerkOnInt, "Perk on Investment Appli:", new { @class = "popup-content-label" })
            <div class="popup_radio_button radio_button_div_3 ">
                @Html.RadioButtonFor(m => m.IsPerkOnInt, "true", new { type = "radio", @id = "radio11" })
                @Html.Label("Yes", new { @for = "radio11" })
                @Html.RadioButtonFor(m => m.IsPerkOnInt, "false", new { type = "radio", @id = "radio12" })
                @Html.Label("No", new { @for = "radio12" })
            </div>
        </div>
        <div class="row3 content_margine">
            @Html.LabelFor(m => m.GovtIntRate, "Gov Int Rate:", new { @class = "popup-content-label must" })
            @Html.TextBoxFor(m => m.GovtIntRate, new { @class = "popup-content-textbox must" })
        </div>
    }
</div>

<script>
    $(document).ready(function () {
        $('button').button();
        $('.date').P2BDatePicker();
        $('.popup_radio_button').controlgroup();
        var a =
            //.find('button:contains("No")');
        console.log(a);
        $('#Lookup-Wages-LoanAdvancePolicy').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetWagesLKDetails", "Wages")', '', 'LookupDiv', 'LoanWages Look Up Data', '#WagesList', 'WagesList', 5, 'WagesList', '#frmLoanAdvancePolicy', 'N', '#Remove-Wages-LoanAdvancePolicy', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        $('#Remove-Wages-LoanAdvancePolicy').button().on('click', function (event) {
            // dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            //var a = [], b;
            //a = $('#Wageslist').P2BGetTableDataonSelectedRow('#Wageslist', 0);
            //b = a[0];

            var selectedRows = [];
            selectedRows = $('#WagesList').P2BGetTableDataonSelectedRow('#WagesList', 0);
            console.log("Verify...");


            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#WagesList', $('#WagesList').val(), 200, 200, '#frmLoanAdvancePolicy', '#WagesList', '#Remove-Wages-LoanAdvancePolicy');
            event.preventDefault();
        });
        $('.drop').selectmenu().selectmenu('menuWidget');
        $('#InterestTypelist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 3010, "");
    });
</script>



<style>
    .icon-row {
        position: relative;
        left: 122px;
        top: -150px;
    }

    .popup-content-label {
        display: block;
        float: left;
        width: 165px;
    }

    .popup-content-textbox {
        margin-bottom: 1px;
        min-width: 150px;
    }

    .row3 {
        width: 465px;
    }

    .popup-content-textbox-long {
        margin-bottom: 1px;
        width: 290px;
    }


    .row2 {
        width: 402px;
    }
</style>
