@{
    Layout = null;
}

<head>
    <title>Loan Interface</title>
    <style>
        .form-group {
            padding: 2px;
        }

        .upload-file {
            margin-left: -50px;
        }

        .row1-label {
            display: block;
            float: left;
            width: 250px;
        }

        .row1 {
            display: block;
            float: left;
            width: 100%;
            padding: 2px;
        }

        .preview-table-class-selected {
            background-color: #18A689;
        }

        .responsetext-class {
            color: #18A689;
            font-weight: bold;
        }

        .preview-tr {
            cursor: pointer;
        }

            .preview-tr:hover {
                background-color: #efefef;
            }

        .preview-table-class th {
            padding: 15px;
            text-align: center;
        }

        .preview-table-class {
            border: 1px solid #ddd;
            text-align: left;
            border-collapse: collapse;
            width: 100%;
        }

        .preview-table-class, td {
            padding: 15px;
            border: 1px solid #ddd;
            text-align: left;
        }

        .preview-table-div {
            display: block;
            margin: 0 auto;
            padding: 3px 0px;
        }

        .icon-row {
            position: relative;
            left: -45px;
            top: -150px;
        }

        .popup-content-label {
            display: inline-block;
            width: 170px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 150px;
        }

        .popup-content-textbox-long {
            margin-bottom: 1px;
            width: 290px;
        }

        .section_Method {
            border: 1px solid rgba(207, 207, 207, 0.91);
            border-radius: 10px;
            margin-top: 5px;
            margin-bottom: 15px;
        }

        .transactiontablenew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            width: 470px;
            display: block;
            overflow: auto;
            height: 420px;
            border-collapse: collapse;
        }

        .transactiondivnew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            width: 378px;
            border-radius: 5px;
            height: 25px;
            float: left;
        }

            .transactiondivnew > div {
                display: inline-block;
                margin: 0 auto;
                padding: 4px;
            }

                .transactiondivnew > div > input {
                    box-sizing: initial;
                    display: inline-block;
                    margin: 0 auto;
                    width: 108px;
                }

        .transactiontablenew th, .transactiontablenew td {
            background: rgba(246, 246, 246, 0.64) none repeat scroll 0 0;
            padding: 5px;
            border-bottom: 1px solid #c5c5c5;
            border-right: 1px solid #c5c5c5;
            text-align: center;
            color: rgba(114, 113, 113, 0.9);
        }

            .transactiontablenew th:nth-child(1) > input, .transactiontablenew td:nth-child(1) > input {
                margin: 0 auto;
            }

            .transactiontablenew th:nth-child(2), .transactiontablenew td:nth-child(2) {
                height: 100%;
                width: 100%;
            }

        .transactiontablenew tr:hover {
            cursor: pointer;
            background: #EEEEEE none repeat scroll 0 0;
        }

        #new {
            margin-top: 10px;
            margin-left: 0px;
        }

        #new1 {
            margin-top: -20px;
            margin-left: 320px;
        }

        .date-picker {
            margin-left: -70px;
        }

        #Upload {
            margin-top: 0px;
            margin-left: 10px;
        }

        #Grid_Form {
            margin-top: 30px;
            margin-left: -10px;
        }

        #one {
            margin-top: 20px;
            float: left;
        }

        .row4 {
            position: absolute;
            top: 294px;
            width: 400px;
        }

        .popup-content-textbox-long {
            margin-bottom: 1px;
            width: 290px;
        }

        .row5 {
            width: 282px;
            display: inline-flex;
        }

        .row2 {
            width: 250px;
            display: inline-block;
            position: absolute;
            left: 191px;
            top: 137px;
        }

        .loader {
            width: 299px;
        }

        .addwidth {
            width: 453px;
            height: 58px;
        }

        #process {
            top: 29px;
            left: 76px;
        }

        .section_Method {
            border: 1px solid rgba(207, 207, 207, 0.91);
            border-radius: 10px;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .transactiontablenew {
            border: 1px solid #c5c5c5;
            width: 379px;
            display: block;
            overflow: auto;
            height: 414px;
            border-collapse: collapse;
        }

        .transactiondivnew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            border-radius: 5px;
            height: 100%;
        }

            .transactiondivnew > div {
                display: inline-block;
                margin: 0 auto;
                padding: 4px;
            }

                .transactiondivnew > div > input {
                    box-sizing: initial;
                    display: inline-block;
                    margin: 0 auto;
                    width: 108px;
                }

        .transactiontablenew th, .transactiontablenew td {
            background: rgba(246, 246, 246, 0.64) none repeat scroll 0 0;
            padding: 5px;
            border-bottom: 1px solid #c5c5c5;
            border-right: 1px solid #c5c5c5;
            text-align: left;
            color: rgba(114, 113, 113, 0.9);
        }

            .transactiontablenew th:nth-child(1) > input, .transactiontablenew td:nth-child(1) > input {
                margin: 0 auto;
            }

            .transactiontablenew th:nth-child(2), .transactiontablenew td:nth-child(2) {
                height: 100%;
                width: 100%;
            }

        .transactiontablenew tr:hover {
            cursor: pointer;
            background: #EEEEEE none repeat scroll 0 0;
        }

        .section1_Leave {
            display: block;
            border: 1.5px solid rgba(207, 207, 207, 0.91);
            height: 467px;
            margin: 4px auto;
            position: absolute;
        }

        .section2_Leave {
            display: block;
            border: 1.5px solid #ddd;
            height: 469px;
            width: 690px;
            position: absolute;
            left: 397px;
            top: 49px;
        }

        .section3_Leave {
            display: block;
            border: 1.5px solid #ddd;
            width: 329px;
            float: right;
        }

        #monthTable {
            border-collapse: collapse;
            width: 100%;
            overflow: scroll;
            height: 100%;
        }

            #monthTable td, #monthTable th {
                border: 1px solid #ddd;
                padding: 8px;
            }

        .monthTable-selected {
            color: #8e6d87;
            font-weight: bold;
        }

        #monthTable tr:hover {
            background-color: #ddd;
        }

        #monthTable th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #009282;
            color: white;
        }

        .weeklyoffclass {
            background-color: #e8fefa;
        }

        .holidayclass {
            background-color: #e8f3f1;
        }

        ::-webkit-scrollbar {
            width: 10px;
        }

        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        ::-webkit-scrollbar-thumb {
            background: #888;
        }

            ::-webkit-scrollbar-thumb:hover {
                background: #555;
            }

        #contextMenu {
            position: absolute;
            display: none;
        }

        .context-menu-list {
            position: absolute;
            display: inline-block;
            min-width: 5em;
            max-width: 26em;
            /*left: 522px;
            top: 72px;*/
            padding: .25em 0;
            /*margin: .3em;*/
            font-family: inherit;
            font-size: inherit;
            list-style-type: none;
            background: #fff;
            border: 3px solid #bebebe;
            border-radius: .2em;
            -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
            box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
        }

        .context-menu-icon.context-menu-icon--fa::before {
            position: absolute;
            top: 50%;
            left: 0;
            width: 2em;
            font-family: FontAwesome;
            font-size: 1em;
            font-style: normal;
            font-weight: normal;
            line-height: 1;
            color: #2980b9;
            text-align: center;
        }

        .context-menu-item {
            position: relative;
            padding: .2em 2em;
            color: #2f2f2f;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-color: #fff;
        }

        .transactiondivnew1 {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            border-radius: 5px;
            height: 30px;
            width: 687px;
        }

            .transactiondivnew1 > div {
                display: inline-block;
                margin: 0 auto;
                padding: 4px;
            }

                .transactiondivnew1 > div > input {
                    box-sizing: initial;
                    display: inline-block;
                    margin: 0 auto;
                    width: 108px;
                }
    </style>
</head>
<div class="dialog1">
    <div title="LookUp Data">
        <div class="lookupdiv1" id="lookup1"></div>
    </div>
    <div id="pageNavPosition1">
    </div>
</div>
<form method="post" enctype="multipart/form-data" id="frmLoanInterface">
    <div id="new">
        <span class="h2-class content_margine">Select File:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="file" id="dataFile" name="upload" class="upload-file content_margine" />
    </div>
    <div id="new1">
        <div style="float:left">
            <label id="lblPayMonth" class="popup-content-label must">PayMonth:</label>
            <input type="text" id="txtPayMonth1" name="txtPayMonth1" class="date-picker" />
        </div>
    </div>&nbsp;&nbsp;

    <button value="NewRequest" id="CheckNewRequest" class="btn btn-default">Check New Request</button>&nbsp;&nbsp;
    <button value="Save" id="Save" class="btn btn-default">Save New Request</button>&nbsp;&nbsp;
    <button value="Process" id="Process" class="btn btn-default">Process</button>
</form>

<div id="Create_Dialog">

    @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmSalaryGenT", name = "frmSalaryGenT" }))
    {
        <input id="Autho_Action" type="hidden" name="Autho_Action" />
        <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
        <input id="geo_id" class="filter_structure_id" name="geo_id" />
        <input id="pay_id" class="filter_structure_id" name="pay_id" />
        <input id="fun_id" class="filter_structure_id" name="fun_id" />
        <input id="Emp_id" class="filter_structure_id" name="fun_id" />
        <input id="sr_no" type="hidden" name="sr_no" />
        <div class="section1_Leave" id="Empdiv">
            <div class="heading">Employee List</div>
            <div class="employeeselectiondiv">
                <div class="transactiondivnew dynamic addons" style="float:left">
                    <div>
                        <label>Search:</label>
                        <input type="text" placeholder="Search..." id="Employee-Search" style="width: 308px;" />
                    </div>
                    <table cellspacing="0" cellpadding="1" class="transactiontablenew" id="Employee-Table">
                        <tr>
                            <th><input type="checkbox" id="Case-Employee" /></th>
                            <th>Employee</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    }
    <div class="section2_Leave" id="Loandatadiv">
        <div class="heading">New Loan Data</div>
        <div class="employeeselectiondiv">
            <div class="transactiondivnew1 dynamic addons" style="float:left">
                <div>
                    <label>Search:</label>
                    <span class='table-header-search'>
                        <input id="myInput" class="table-header-search-input content_margine"
                               type="text" placeholder="search..." style="width:475px; height:18px;">
                    </span>
                </div>
                <div id="New1">
                    <table id="monthTable">
                        <tr><th>Sr.No</th><th>EmpCode</th><th>BranchCode</th><th>ProductCode</th><th>AccountNo</th><th>InstallmentAmount</th><th>PrincipalOutStand</th></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div id="contextMenu">
        <ul class="context-menu-list context-menu-root" width:156px; top:164px; left:734px;
            z-index:1;">
            <li class="context-menu-item context-menu-icon--fs fs fs-eye context-menu-visible::before">
                <span>Delete</span>
            </li>
        </ul>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('button').button();
        $('#txtPayMonth1').MonthYearPicker();
        $.get('@Url.Action("hidebutton", "LoanInterface")', function (data) {         
            //data.forEach(function (item) {              
            //    $("#" + item).hide();
            //});
        });
        var $contextMenu = $("#contextMenu");
        $("body").on("contextmenu", "table tr", function (e) {
            var currentRow = $(this).closest("tr");

            if (currentRow.find("td:eq(1)").text() != 'null') {
                $contextMenu.css({
                    display: "block",
                    left: e.pageX + (-50),
                    top: e.pageY + (-50)
                });
                e.preventDefault();
            }
            else {
                $('#contextMenu').SetVisible(false);
                e.preventDefault();
            }

            ////debugger;
            return false;
        });

        $('html').click(function () {
            $contextMenu.hide();
        });

        $("#contextMenu li a").click(function (e) {
            var f = $(this);
            ////debugger;
        });


        $('#Employee-Table').on('click', 'input:checkbox:gt(0)', function (e) {
            if (this.checked) {
                $('#Emp_id').val($(this).val());
            } else {
                $('#Emp_id').val("");

            }
        });


        $('#Save').on('click', function (e) {
            var formjson = [];
            var tr = [];
            tr = $('#monthTable tr:gt(0)').toArray();
            if (tr.length == 0) {
                tr = $('#monthTable tr:gt(0)').toArray();
            }



            $.each(tr, function (i, k) {
                var childs = $(k).children().toArray();
                formjson.push({
                    "EmpCode": $(childs[1]).text(),
                    "BranchCodeL": $(childs[2]).text(),
                    "ProductL": $(childs[3]).text(),
                    "AccountNoL": $(childs[4]).text(),
                    "InstallmentAmountL": $(childs[5]).text(),
                    "PrincipalOutStandL": $(childs[6]).text(),
                });
            });
            $.ajax({
                url: "@Url.Action("CreateLoan", "LoanInterface")",
                method: "POST",
                cache: false,
                contentType: 'application/json',
                datatype: 'json',
                data: JSON.stringify({ data: formjson, PayMonthF: $('#txtPayMonth1').val() }),
                success: function (data) {
                    $('#monthTable tr:gt(0)').remove();
                    alert(data.responseText);
                }
            });

            e.preventDefault();
        });

        $('#Process').on('click', function (e) {
            if ($('#dataFile').val()) {
                //alert('r');
                ////debugger;
                var tempExcel = new FormData($('#frmLoanInterface')[0]);
                if ($("#txtPayMonth1").val() == "" || $("#txtPayMonth1").val() == null) {
                    alert("Select paymonth");
                    return false;
                }
                $.ajax({                                                                                //(string PaymonthforLoanadv, string loanfilepath, string Type)
                    url: "@Url.Action("Upload","LOANINTERFACE")?PaymonthforLoanadv=" + $("#txtPayMonth1").val() + "&Type=Proc&loanfilepath=" + $("#txtPath").val() + "",
                    type: "POST",
                    data: tempExcel,
                    cache: false,
                    timeout: 600000,
                    datatype: "json",
                    enctype: 'multipart/form-data',
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        console.log(data);
                        alert(data.responseText);
                    },
                    beforeSend: function () {
                        ajaxloaderv2('body');
                    },
                    error: function (data) {
                        $('<div></div>').P2BMessageModalDialog('ui-icon-alert', data.responseText);
                    }, complete: function (data) {
                        $('.ajax_loder').remove();
                    }
                });
            }
            e.preventDefault();
        });

        function ajaxloaderv2(cameform) {
            $('<a><i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw ajax_loder" style="color: rgba(27, 187, 173, 0.93);z-index:999;" aria-hidden="true"></i></a>').appendTo(cameform);
        };

        $('#CheckNewRequest').on('click', function (e) {
            var TableName = $('#TableName').val();
            $('#preview-table-id,#log-div,#append_div').empty();
            if ($('#dataFile').val()) {
                //alert('r');
                ////debugger;
                var tempExcel = new FormData($('#frmLoanInterface')[0]);
                $.LoadEmpByDefault(true);

                if ($("#txtPayMonth1").val() == "" || $("#txtPayMonth1").val() == null) {
                    alert("Select paymonth");
                    return false;
                }

                $.ajax({                                                                                //(string PaymonthforLoanadv, string loanfilepath, string Type)
                    url: "@Url.Action("Upload","LOANINTERFACE")?PaymonthforLoanadv=" + $("#txtPayMonth1").val() + "&Type=chk&loanfilepath=" + $("#txtPath").val() + "",
                    type: "POST",
                    data: tempExcel,
                    cache: false,
                    timeout: 600000,
                    datatype: "json",
                    enctype: 'multipart/form-data',
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        console.log(data);

                        if (data.responseText != "" && data.responseText != null) {
                            alert(data.responseText);
                        }

                        //if ($("#monthTable").val() == '') {
                        //    alert("Invalid account no !!!");
                        //}

                        //if ($("#monthTable tr:has(td)").val() == "0") {
                        //    alert("Invalid account no !!!");
                        //    return false;
                        //}
                        //else if($("#monthTable tr:has(td)").val() != ""){
                        //    alert("Success");
                        //}
                        //else
                        //{
                        //    alert("Success54");
                        //}


                        //if ($("#monthTable").val() == "") {
                        //    var AccountNo = $("input#AccountNo").val();
                        //    if (AccountNo == 0 && !$.isNumeric(AccountNo))
                        //        alert($.isNumeric(AccountNo));
                        //}

                        //if ($("#monthTable").val() == "") {
                        //    alert("Value Should Be Numeric!!!");
                        //    //return false;
                        //}
                        //else {
                        //    alert("success");
                        //}

                        var tr = "";
                        var index = 1;
                        var tempclass = "";
                        $('#monthTable tr:gt(0)').remove();

                        $.each(data, function (i, k) {
                            $.each(k, function (l, j) {
                                if (j == "weeklyoff") {
                                    tempclass = "weeklyoffclass";
                                } else if (j == "Holiday") {
                                    tempclass = "holidayclass";
                                }
                                tr += "<tr class='" + tempclass + "' id='" + index + "'><td>" + index + "</td><td>" + j.EmpCode + "</td><td>" + j.BranchCodeL + "</td><td>" + j.ProductL + "</td><td>" + j.AccountNoL + "</td><td>" + j.InstallmentAmountL + "</td><td>" + j.PrincipalOutStandL + "</td></tr>";
                                index++;
                                tempclass = "";
                            });
                        });
                        $('#monthTable tr:last').after(tr);
                    }
                });
            }
            e.preventDefault();
        });

        // For search in GridView.....
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#monthTable tr:has(td)").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

        // monthtable tr click function
        $('#monthTable').on('click', 'tr', function (e) {
            var target = $(e.target).parent('tr');
            target.toggleClass('monthTable-selected');
            $('#monthTable tr:gt(0)').not(target).removeClass('monthTable-selected');
            $('#sr_no').val(target.attr('id'));
            var currentRow = $(this).closest("tr");

            var table_sr_no = $('#sr_no').val();
            $.ajax({
                url: "@Url.Action("GetEmpCode", "LoanInterface")",
                data: { EmpId: $('#Emp_id').val() },
                success: function (data) {
                    if (currentRow.find("td:eq(1)").text() == 'null')
                    { currentRow.find("td:eq(1)").text(data); }
                    else
                    {
                        $('#contextMenu').fadeIn();
                    }
                }
            });
        });
    });

    $("#contextMenu").on('click', function (e) {

        $('#monthTable td:eq(1)').text('null');
        $('#monthTable td:eq(8)').text('null');

        alert("Data Removed Successfully!!!!");
    });

    function getRow() {
        // here you need to return the value
        // to be available when function was called
        return $('table > tbody').find('.monthtable');
    }

    $('#contextMenu').click(function (e) {
        var selrow = getRow();
        // index of selected row
        //alert('Index is :' + selrow.index());
        // text of selected row
        //alert('My text is :' + selrow.text());
    });

    //$('.monthtable-selected').on('click', '#contextMenu', function (e) {
    //    $('#monthTable td:eq(1)').text('null');
    //});

    //$(function () {
    //    $('').each(function (i) {
    //        $(this).quicksearch("[id*=GridView1] tr:not(:has(th))", {
    //            'testQuery': function (query, txt, row) {
    //                return $(row).children(":eq(" + i + ")").text().toLowerCase().indexOf(query[0].toLowerCase()) != -1;
    //            }
    //        });
    //    });
    //});

    //$('#monthTable tbody').on('click', 'td', function () {
    //    alert('Data:'+$(this).html().trim());
    //    alert('Row:'+$(this).parent().find('td').html().trim());
    //    alert('Column:' + $('#monthTable tr th').eq($(this).index()).html().trim());
    //});

    //var table = $('#monthTable').DataTable();

    //$('#contextMenu').on('click', function (e) {
    //    $("#monthtable").remove("th");

</script>

