@{
    Layout = null;
}
@model Payroll.LTCSettlementClaim
<html>
<head>
    <title></title>
    <style>
        .icon-row {
            position: relative;
            left: 146px;
            top: -149px;
        }

        .popup-content-label {
            display: block;
            float: left;
            width: 167px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 150px;
        }

        .row3 {
            width: 548px;
        }

        .row2 {
            display: inline-block;
            width: 450px;
        }

        .add-dialog-content {
            float: right;
            right: 0;
            width: 678px;
        }

        .form-of-element {
            display: block;
            border: #DEDEDE solid 0.1px;
            width: auto;
            height: 800px;
            padding: 5px 2px;
            margin-top: 3px;
        }

        .select_div {
        }
    </style>

</head>
<body>
    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>
    <div id="Create_Dialog">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmLTCSettlmentClaimPartial", name = "frmLTCSettlmentClaimPartial" }))
        {
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
            <input id="BlockId" type="hidden" name="BlockIdPartial" />
            <input id="EmployeeSettleId" type="hidden" name="EmployeeSettleId" />
            <input id="geo_id" name="geo_id" class="filter_structure_id" />
            <input id="pay_id" name="pay_id" class="filter_structure_id" />
            <input id="fun_id" name="fun_id" class="filter_structure_id" />
            <div>
                <div>
                    <div class="row2 select_div content_margine"><label class="popup-content-label must">LTC Block</label><input name="txtLTCBlockPartial" type="text" id="txtLTCBlockPartial" style="width:263px;" /></div>
                    <div class="row6 content_margine addons">
                        <div id="LTCAdvanceClaimList_old"></div>
                        @Html.LabelFor(m => m.LTCAdvanceClaim, "LTC Advance Claim:", new { @class = "popup-content-label" })
                        <div class="popup-content-table">
                            <table class="lookuptableselected" id="LTCAdvanceClaimListPartial">
                                <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                            </table>
                        </div>
                        <div class="icon-row">
                            <button data-p2btooltip="Lookup Advance Claim Details" class="button popup-content-icon-lookup" id="Lookup-LTCAdvanceClaim-LTCSettlementClaim1_partial"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                            @*<button data-p2btooltip="Create Advance Claim Details" class="button popup-content-icon-create" id="Create-LTCAdvanceClaim-SettlementClaim"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                                <button data-p2btooltip="Edit Advance Claim Details" class="button popup-content-icon-edit" id="Edit-LTCAdvanceClaim-SettlementClaim"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>*@
                            <button data-p2btooltip="Remove Advance Claim Details" class="button popup-content-icon-remove" id="Remove-LTCAdvanceClaim-SettlementClaim"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                        </div>
                    </div>
                    <div class="row2 select_div content_margine">@Html.LabelFor(m => m.LTC_TYPE, "LTC Type :", new { @class = "popup-content-label must" })<select id="LTCTypelistPartial" name="LTCTypelistPartial" class="drop must" style="width:159px;"><option value="0">-Select-</option></select></div>
                    <br />
                    <div class="row2 content_margine">@Html.LabelFor(m => m.DateOfAppl, "Requisition Date :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.DateOfAppl, new { @class = "popup-content-textbox must", @id = "DateApplPartial" })</div>
                    <br />
                    <div class="row2 content_margine">
                        @Html.LabelFor(m => m.LvNewReq, "Leave Requisition:", new { @class = "popup-content-label must" })<select id="LvReqListPartial" name="LvReqListPartial" style="width:263px;" class="drop must"><option value="0">-Select-</option></select>
                    </div>
                    <div class="row6 content_margine addons">
                        <div id="JourneyDetailsList_old"></div>
                        @Html.LabelFor(m => m.JourneyDetails, "Journey Details:", new { @class = "popup-content-label" })
                        <div class="popup-content-table">
                            <table class="lookuptableselected" id="JourneyDetailsListPartial">
                                <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                            </table>
                        </div>
                        <div class="icon-row">
                            <button data-p2btooltip="Lookup Journey Details" class="button popup-content-icon-lookup" id="Lookup-JourneyDetails-LTCSettlementClaim1_partial"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Create Journey Details" class="button popup-content-icon-create" id="Create-JourneyDetails-LTCSettlementClaim1_partial"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Edit Journey Details" class="button popup-content-icon-edit" id="Edit-JourneyDetails-LTCSettlementClaim1_partial"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Remove Journey Details" class="button popup-content-icon-remove" id="Remove-JourneyDetails-LTCSettlementClaim1_partial"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                        </div>
                    </div>
                    <div class="row6 content_margine addons">
                        <div id="HotelBookingDetailsList_old"></div>
                        @Html.LabelFor(m => m.Travel_Hotel_Booking, "Hotel Booking  Details:", new { @class = "popup-content-label" })
                        <div class="popup-content-table">
                            <table class="lookuptableselected" id="HotelBookingDetailsListPartial">
                                <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                            </table>
                        </div>
                        <div class="icon-row">
                            <button data-p2btooltip="Lookup Hotel Booking Details" class="button popup-content-icon-lookup" id="Lookup-HotelBookingDetails-LTCSettlementClaim"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Create Hotel Booking Details" class="button popup-content-icon-create" id="Create-HotelBookingDetails-LTCSettlementClaim"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Edit Hotel Booking Details" class="button popup-content-icon-edit" id="Edit-HotelBookingDetails-LTCSettlementClaim"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Remove Hotel Booking Details" class="button popup-content-icon-remove" id="Remove-HotelBookingDetails-LTCSettlementClaim"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                        </div>
                    </div>
                    <div class="row2 content_margine">@Html.LabelFor(m => m.LTC_Claim_Amt, "LTC Claim Amount :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.LTC_Claim_Amt, new { @class = "popup-content-textbox must", @id = "ltcclaimamtaprtial" })</div>
                    <br />
                    <div class="row2 content_margine">@Html.LabelFor(m => m.LTC_Eligible_Amt, "LTC Eligible Amount :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.LTC_Eligible_Amt, new { @class = "popup-content-textbox must", @id = "ltceligibleamtpartial" })</div>
                    <div>
                        <div class="row2 content_margine">@Html.LabelFor(m => m.NoOfDays, "No Of Days :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.NoOfDays, new { @class = "popup-content-textbox must", @id = "ltcnoofdayspartial" })</div>
                        <br />
                        <div class="row2 content_margine">@Html.LabelFor(m => m.EncashmentAmount, "Encashment Amount :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.EncashmentAmount, new { @class = "popup-content-textbox must", @id = "ltcEncashamtprtial" })</div>
                    </div>
                    <div class="row2 content_margine">@Html.LabelFor(m => m.LTCAdvAmt, "LTC Advance Amount :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.LTCAdvAmt, new { @class = "popup-content-textbox must", @id = "ltcadvamtpartial" })</div>
                    <br />
                    <div class="row2 content_margine">@Html.LabelFor(m => m.LTC_Settle_Amt, "LTC Settlement Amount :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.LTC_Settle_Amt, new { @class = "popup-content-textbox must", @id = "ltcsettleamtpartial" })</div>
                    <br />
                    <div class="row2 content_margine">@Html.LabelFor(m => m.Remark, "Remark :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Remark, new { @class = "popup-content-textbox must", @id = "ltcremarkpartial" })</div>


                </div>
            </div>

        }
    </div>
</body>
</html>
<script>
    $(document).ready(function (e) {
        $('button').button();

        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }



        $('#Employee-Table').on('click', 'input:checkbox:gt(0)', function (e) {
            $('input[type="checkbox"]').not(this).prop("checked", false);
            if (this.checked) {
                //alert($(this).val());
                var id = $(this).val();
                $.get("@Url.Action("GetEmpLTCBlock")", { data: id }, function (data) {
                    $('#txtLTCBlock').val(data.Id);
                    $('#BlockId').val(data.Id);
                    $('#LvReqListPartial').P2BSelectMenuAppend('@Url.Action("GetLVReqLKDetails", "LTCAdvanceClaim")', id, data.Id); // To bind dropdown on page load
                    $('#txtLTCBlock').val(data.FullDetails).attr("readonly", "readonly");
                });
            }
        });
        function DateConvert(JsonDate) {
            var date = new Date(parseInt(JsonDate.substr(6)));
            var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
            return displayDate;
        };

        $('#Edit-HotelBookingDetails-LTCSettlementClaim').button().on("click", function (event) {
            var a = [], b;
            a = $('#HotelBookingDetailsListPartial').P2BGetTableDataonSelectedRow('#HotelBookingDetailsListPartial', 0);
            b = a[0];

            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial_TravelHotelBooking", "LTCSettlementClaim")', '@Url.Action("GethotelbookingData", "TravelHotelBooking")', b, '@Url.Action("EditSave", "TravelHotelBooking")', 'Edit HotelBooking  Details', '#frmTravelHotelBookingDetails', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmLTCSettlmentClaimPartial', '#HotelBookingDetailsListPartial', 'HotelBookingDetailsListPartial', 'HotelBookingDetailsListPartial', 'N', '#Edit-JourneyObject-JourneyDetails,#Remove-JourneyObject1-JourneyDetails', function (data) {
                // $.each(data[0], function (i, k) {
                $('#HotelName-edit').val(data.HotelName);
                $('#HotelDesc-edit').val(data.HotelDesc);
                if (data.StartDate != null) { $('#StartDate').val(DateConvert(data.StartDate)); }
                if (data.EndDate != null) { $('#EndDate').val(DateConvert(data.EndDate)); }
                $('#Taxes-edit').val(data.Taxes);
                $('#NoOfRooms-edit').val(data.NoOfRooms);
                $('#StdDiscount-edit').val(data.StdDiscount);
                $('#BillNo-edit').val(data.BillNo);
                $('#BillAmount-edit').val(data.BillAmount);
                $('#Elligible_BillAmount-edit').val(data.Elligible_BillAmount);
                $('#Narration-edit').val(data.Narration);
                $('#NoOfRooms').val(data.NoOfRooms);
                $('#RatePerDay-edit').val(data.RatePerDay);
                $('#HotelEligibilityPolicyList').P2BLookUpEncapsulate('#HotelEligibilityPolicyList', 'HotelEligibilityPolicyList', data.HotelEligibilityPolicy, data.HotelEligibilityPolicyFulldetails, 'HotelEligibilityPolicyList', '#Edit-Rent-HRATransTPartial,#Remove-Rent-HRATransTPartial', 'A');
                $('#CountryList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "HotelBookingRequest")", "", data.Country, '');
                $('#StateList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownListState", "HotelBookingRequest")", "", data.State, '');
                $('#CityList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownListCity", "HotelBookingRequest")", "", data.City, '');
                //$('#travelmodelist').val(data.TravelMode);
                //$('#classoftravellist').val(data.ClassOfTravel);
                //});

            });
            event.preventDefault();

        });

        $("#LTCAdvAmt").on('focusout', function () {
            // alert('r');
            var a = $("#LTC_Eligible_Amt").val();
            var b = $("#LTCAdvAmt").val();

            if (parseInt(b) > parseInt(a)) {
                $("#LTCAdvAmt").val("");
                alert("Advance amount should not be greater than Eligible amount");
            }

        });

        $('#Lookup-LTCAdvanceClaim-LTCSettlementClaim1_partial').on('click', function (event) {
            var a = $('#Employee-Table').P2BGetTableDataonSelectedRow('#Employee-Table', 1);
            if (a.val == "" || a.length == 0) {
                alert("Please select Employee");
                return false;
            }
            var blockid = $('#BlockId').val();
            if (blockid == "") {
                alert("BlockId Is Empty");
                return false;
            }
            $('.dialog').P2BLookUpModal('@Url.Action("GetAdavanceClaimLKDetails", "LTCSettlementClaim")?Empid=' + a + '&EmpLTCBlockId=' + blockid, '', 'LookupDiv', ' Look Up Data', '#LTCAdvanceClaimListPartial', 'LTCAdvanceClaimListPartial', 5, 'LTCAdvanceClaimListPartial', '#frmLTCSettlementClaim', 'N', '#Remove-LTCAdvanceClaim-LTCSettlementClaim', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        $('#Lookup-JourneyDetails-LTCSettlementClaim1_partial').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetJourneyLKDetails", "LTCSettlementClaim")', '', 'LookupDiv', ' Look Up Data', '#JourneyDetailsListPartial', 'JourneyDetailsListPartial', 5, 'JourneyDetailsListPartial', '#frmLTCSettlmentClaimPartial', 'N', '#Remove-JourneyDetails-LTCSettlementClaim1_partial', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        $('#Create-JourneyDetails-LTCSettlementClaim1_partial').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial_JourneyDetails", "LTCSettlementClaim")', 'Create JourneyDetails Master', 'open', '@Url.Action("Create", "JourneyDetails")', '#frmJourneyDetailsPartial', 'Message :', 'Request Falied :', '#JqGrid', 600, 600, '', '', '#Edit-JourneyObject1-JourneyDetails,#Edit-JourneyObject-JourneyDetails,#Edit-FamilyDetails-JourneyDetails,#Remove-FamilyDetails-JourneyDetails', '#frmLTCSettlementClaim', '', function (data) {
                $('#JourneyDetailsListPartial').P2BLookUpEncapsulate('#JourneyDetailsListPartial', 'JourneyDetailsListPartial', data[0], data[1], 'JourneyDetailsListPartial', '#Remove-JourneyDetails-LTCSettlementClaim1_partial', 'N');
            });
            event.preventDefault();
        });
        $('#Remove-HotelBookingDetails-LTCSettlementClaim').button().on('click', function (event) {
            var a = [], b;
            a = $('#HotelBookingDetailsListPartial').P2BGetTableDataonSelectedRow('#HotelBookingDetailsListPartial', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#HotelBookingDetailsListPartial', $('#HotelBookingDetailsListPartial').val(), 200, 200, '#frmLTCSettlmentClaimPartial', '#HotelBookingDetailsListPartial', '#Remove-CandidateDocuments-Candidate');
            event.preventDefault();
        });

        $('#Remove-JourneyDetails-LTCSettlementClaim1_partial').button().on('click', function (event) {
            var a = [], b;
            a = $('#JourneyDetailsListPartial').P2BGetTableDataonSelectedRow('#JourneyDetailsListPartial', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#JourneyDetailsListPartial', $('#JourneyDetailsListPartial').val(), 200, 200, '#frmLTCSettlmentClaimPartial', '#JourneyDetailsListPartial', '#Remove-CandidateDocuments-Candidate');
            event.preventDefault();
        });
        $('#Lookup-HotelBookingDetails-LTCSettlementClaim').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetHotelBookingDetails", "TravelHotelBooking")', '', 'LookupDiv', ' Look Up Data', '#HotelBookingDetailsListPartial', 'HotelBookingDetailsListPartial', 5, 'HotelBookingDetailsListPartial', '#frmLTCSettlmentClaimPartial', 'N', '#Remove-HotelBookingDetails-LTCSettlementClaim', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        $('#Create-HotelBookingDetails-LTCSettlementClaim').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial_TravelHotelBooking", "LTCSettlementClaim")', 'Create HotelBookingDetails Master', 'open', '@Url.Action("Create", "TravelHotelBooking")', '#frmTravelHotelBookingDetails', 'Message :', 'Request Falied :', '#JqGrid', 600, 600, '', '', '#Edit-HotelBookingDetails-LTCSettlementClaim', '#frmLTCSettlementClaim', '', function (data) {
                $('#HotelBookingDetailsListPartial').P2BLookUpEncapsulate('#HotelBookingDetailsListPartial', 'HotelBookingDetailsListPartial', data[0], data[1], 'HotelBookingDetailsListPartial', '#Remove-HotelBookingDetails-LTCSettlementClaim', 'N');
            });
            event.preventDefault();
        });
        $('.popup_radio_button').controlgroup();
        $('.drop').selectmenu().selectmenu("menuWidget");
        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');
        $('#LTCAdvAmt,#LTC_Eligible_Amt,#LTCSanctionedAmt').ForceAmount();
        $('#LTCAdvAmt,#LTC_Eligible_Amt,#LTCSanctionedAmt').val("0");
        $('#DateOfAppl').P2BDatePicker();

    });
</script>
