@model Payroll.LeaveDependPolicy
@{
    Layout = null;
}
@*<link href="~/Content/Rate_master/Rate_master.css" rel="stylesheet" />*@
@*<style></style>
<div class="dialog_LvHead">
    <div title="LookUp Data">
        <div class="lookupdiv_LvHead" id="Lookup"></div>
    </div>
    <div id="PageNavPosition">


    </div>
</div>*@

<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmLeaveDependPolicy" }))
    {
         <div class="row1 content_margine">
            @Html.LabelFor(m => m.LvHead, "Leave Head :", new { @class = "popup-content-label must" })
             <select class="drop must" name="LvHead_drop" style="width:120px;" id="LvHead_drop">
                 <option>-Select-</option>
             </select>
        </div>
        
        <div class="row1 content_margine">
            @Html.LabelFor(m => m.IsContinous, "IsContinous :", new { @class = "popup-content-label must" })
            <div class="popup_radio_button radio_button_div_1">
                <span class="popup_radio_button radio_button_div_1">
                    <input type="radio" id="radio11" name="IsContinous" value="true" /><label for="radio11">Yes</label>
                    <input type="radio" id="radio12" name="IsContinous" value="false" checked="checked" /><label for="radio12">No</label>
                </span>
            </div>
        </div>
        
        <div class="row1 content_margine">
            @Html.LabelFor(m => m.MinLvDaysAppl, "MinLvDaysAppl :", new { @class = "popup-content-label" })
            @Html.TextBoxFor(m => m.MinLvDaysAppl, new { id = "MinLvDaysAppl", @class = "popup-content-textbox search" }) 
        </div>
       
        <div class="row1 content_margine">
            @Html.LabelFor(m => m.IsAccumulated, "IsAccumulated :", new { @class = "popup-content-label must" })
            <div class="popup_radio_button radio_button_div_1">
                <span class="popup_radio_button radio_button_div_1">
                    <input type="radio" id="radio13" name="IsAccumulated" value="true" /><label for="radio13">Yes</label>
                    <input type="radio" id="radio14" name="IsAccumulated" value="false" checked="checked" /><label for="radio14">No</label>
                </span>
            </div>
        </div>
        
          <div class="row1 content_margine">
            @Html.LabelFor(m => m.AccMinLvDaysAppl, "AccMinLvDaysAppl :", new { @class = "popup-content-label" })
            @Html.TextBoxFor(m => m.AccMinLvDaysAppl, new { id = "AccMinLvDaysAppl", @class = "popup-content-textbox search"}) 
        </div>
        
         <div class="row1 content_margine">
            @Html.LabelFor(m => m.MaxDays, "MaxDays :", new { @class = "popup-content-label must" })
            @Html.TextBoxFor(m => m.MaxDays, new { id = "MaxDays", @class = "popup-content-textbox search must" }) 
        </div>
        
    }
</div>
@*<link href="~/Content/Rate_master/Rate_master.css" rel="stylesheet" />*@

<script>
    $(document).ready(function () {
        $('.drop').selectmenu().selectmenu("menuWidget").css({ "height": "auto" });
        $('#LvHead_drop').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "LeaveDependPolicy")", "", "", '');
        $('button').button();
        $('.popup_radio_button').controlgroup();
        $('#AccMinLvDaysAppl').prop("disabled", true);
        $('#MinLvDaysAppl').prop("disabled", true);
        $('#AccMinLvDaysAppl').attr("value", "0");
        $('#MinLvDaysAppl').attr("value", "0");
        $('#MaxDays').attr("value", "0");
        $('input[name="IsAccumulated"]:radio').change(function () {
            if (this.value == "false") { $('#AccMinLvDaysAppl').prop("disabled", true); $('#AccMinLvDaysAppl').val(""); }
            else { $('#AccMinLvDaysAppl').prop("disabled", false); } 
        });

        $('input[name="IsContinous"]:radio').change(function () {
            if (this.value == "false") { $('#MinLvDaysAppl').prop("disabled", true); $('#MinLvDaysAppl').val(""); }
            else { $('#MinLvDaysAppl').prop("disabled", false); }
          
        });
    });
</script>
