@{
    Layout = null;
}
@model Payroll.SalaryT

<style>
    .icon-row {
        position: relative;
        left: 61px;
        top: -150px;
    }

    #Create {
        top: 526px;
        left: -515px;
    }

    #Auto {
        top: 502px;
        left: 132px;
    } 
    
    #BusinessType-button {
        font-size: 9px;
        padding-top: 1px;
        font-weight: bold;
    }

    .popup-content-label {
        display: block;
        float: left;
        width: 115px;
    }

    .popup-content-textbox {
        margin-bottom: 1px;
        min-width: 150px;
    }

    .row3 {
        width: 430px;
    }

    .row9 {
        width: 386px;
        display: inline-flex;
        float: right;
        margin-top: -32px;
    }

    .row4 {
        position: absolute;
        top: 294px;
        width: 400px;
    }

    .popup-content-textbox-long {
        margin-bottom: 1px;
        width: 290px;
    }


    .row2 {
        width: 402px;
    }

    .date-picker {
        z-index: 999;
    }

    .employeeselectiondiv {
        float: left;
    }

    .addons {
        height: 246px;
    }

    .section_Method {
        border: 1px solid rgba(207, 207, 207, 0.91);
        border-radius: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .transactiontablenew {
        border: 1px solid #c5c5c5;
        margin: 0 auto;
        /*width: 200px;*/
        display: block;
        overflow: auto;
        height: 500px;
        border-collapse: collapse;
    }

    .transactiondivnew {
        border: 1px solid #c5c5c5;
        margin: 0 auto;
        width: 507px;
        border-radius: 5px;
        height: 32px;
    }

        .transactiondivnew > div {
            display: inline-block;
            margin: 0 auto;
            padding: 4px;
        }

            .transactiondivnew > div > input {
                box-sizing: initial;
                display: inline-block;
                margin: 0 auto;
                width: 108px;
            }

    .transactiontablenew th, .transactiontablenew td {
        background: rgba(246, 246, 246, 0.64) none repeat scroll 0 0;
        padding: 5px;
        border-bottom: 1px solid #c5c5c5;
        border-right: 1px solid #c5c5c5;
        text-align: center;
        color: rgba(114, 113, 113, 0.9);
    }

        .transactiontablenew th:nth-child(1) > input, .transactiontablenew td:nth-child(1) > input {
            margin: 0 auto;
        }

        .transactiontablenew th:nth-child(2), .transactiontablenew td:nth-child(2) {
            height: 100%;
            width: 100%;
        }

    .transactiontablenew tr:hover {
        cursor: pointer;
        background: #EEEEEE none repeat scroll 0 0;
    }
    .earnamt {
        font-family: Verdana;
        font-size: 1em;
        outline: 0px;
        float: right;
    }

    .dedamt {
        font-family: Verdana;
        font-size: 1em;
        outline: 0px;
        float: right;
    }
        
</style>
<script>
    $(document).ready(function (e) {
        $('button').button();
        $('#div2').hide();
        // console.log("dasd->"+$('#PayMonth').val());
        //     $('#txtPayMonth1').val($('#PayMonth').val());
       
        var ReturnStructIds = function (filterid, returnfun) {
            $.ajax({
                method: "Get",
                url: "Transcation/ByDefaultLoadEmp",
                success: function (data) {
                    console.log(data);
                    if (data.GeoStruct != null) {
                        $('#geo_id1').val(data.GeoStruct);
                    }
                    if (data.PayStruct != null) {
                        $('#pay_id1').val(data.PayStruct);
                    }
                    if (data.FunStruct != null) {
                        $('#fun_id1').val(data.FunStruct);
                    }
                    var data = {
                        GeoStruct: $('#geo_id1').val() || null,
                        PayStruct: $('#pay_id1').val() || null,
                        FunStruct: $('#fun_id1').val() || null,
                        Filter: $(filterid).val() || null,
                    };
                    returnfun(data);
                }
            });
        };

        
        $.get("@Url.Action("NegSalActAccess", "NegSalAct")", function (data) { 

            $('.ui-dialog-buttonpane').find('button:contains("Submit")').button('disable');
            if (data == "undefine") {               
                $.LoadEmpByDefault1 = function (single, filterid) {
                    single = single || true;
                    ReturnStructIds(filterid, function (data) {
                        var forwarddata = JSON.stringify(data);
                        $('#employee-table1').find('td').remove();
                        $('#employee-table1').P2BTransactionTableDynamic('#employee-search1', '#case-employee1', 'NegSalAct/Get_Employelist1?geo_id=' + forwarddata + '', "", single);
                    });

                };
                $.LoadEmpByDefault1(true, "#txtPayMonth");
                
            }

            else {           
                $.LoadEmpByDefault1 = function (single, filterid) {
                    single = single || false;
                    ReturnStructIds(filterid, function (data) {
                        var forwarddata = JSON.stringify(data);
                        $('#employee-table1').find('td').remove();
                        $('#employee-table1').P2BTransactionTableDynamic('#employee-search1', '#case-employee1', 'NegSalAct/Get_Employelist1?geo_id=' + forwarddata + '', "", single);
                    });

                };
                $.LoadEmpByDefault1(false, "#txtPayMonth");
          
            }
            
        });

        $('#Advance-Filter-Symbol').on('click', function () {
            $("<div></div>").FilterDialog({
                width: 1000,
                height: 400,
                title: "Filter",
                htmlurl: "@Url.Action("Advance_partial", "Transcation")",
                returnat: function (data) {
                    console.log(data);
                    if (data.GeoStruct != null) {
                        $('#geo_id1').val(data.GeoStruct);
                    }
                    if (data.PayStruct != null) {
                        $('#pay_id1').val(data.PayStruct);
                    }
                    if (data.FunStruct != null) {
                        $('#fun_id1').val(data.FunStruct);
                    }
                    var forwarddata = JSON.stringify(data);
                    $('#employee-table1').P2BTransactionTableDynamic('#employee-search1', '#case-employee1', './Transcation/Get_Employelist1?geo_id=' + forwarddata + '', "");
                },
                renderat: "#FormFilter",
            });
        });

        function ajaxloaderv2(cameform) {
            $('<a><i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw ajax_loder" style="color: rgba(27, 187, 173, 0.93);z-index:999;" aria-hidden="true"></i></a>').appendTo(cameform);
        };

        $('#Auto').on("click", function (e) {
            //var a = $.GetGridSelctedvalue("#employee-table1", "Id");
            var form = $("#frmNegDetails").serialize();            
            $.ajax({
                url: "@Url.Action("Autosavedata", "SalaryT")",
                method: "POST",
                cache: false,
                contentType: 'application/json',
                datatype: 'json',
                data: JSON.stringify({
                    form: form
                }),
                beforeSend: function () {
                    ajaxloaderv2('body');
                },
                success: function (data) {
                    alert(data.responseText);
                },
                complete: function (data) {                    
                    $('.ajax_loder').remove();                  
                }
            });
            
        });

        $('#Create').on("click", function (e) {
            var form = $("#frmNegDetails").serialize();
            $('<div></div>').PartialCreateDialog({
                height: 800,
                width: 1200,
                form: "#frmupdate",
                htmlurl:  "@Url.Action("partial", "SalaryT")",
                state: "open",
                mode: "Edit",
                editurl: "@Url.Action("getdata", "SalaryT")",
                submiturl: "@Url.Action("editdata", "SalaryT")",
                editdata: form,
                forwarddata: form,
                returndatafunction: function (data) {
                    var v1 = data.Sal;
                    var v2 = data.Salded;
                    $.each(v1, function (i, k) {
                        $("#Earn1").append("<li>" + "<p class=cb>" + k.earn + "<input type='text' class='earnamt' style='width: 80px;margin-right: 71px;' value=" + k.amt + " readonly class=bc>" + "</input>" + "</li>");
                    });
                    $.each(v2, function (p, q) {
                        
                        if (q.ded != null) {
                            //alert('in');
                            $("#ded1").append("<li>" + "<p class=ba>" + q.Name + "<input type='text' class='dedamt' style='margin-right: 513px;width: 80px;' value=" + q.amount + " data-val=" + q.amount + "  name=AmtE" + q.Id + " class=ab>" + "</input>" + "<input class='dedamt' type='text' style='margin-right: -196px;width: 80px;' value=" + q.Amount + " data-val=" + q.Amount + "  name=AmtP" + q.Id + " class=ab>" + "</input>" + "<input class='dedamt' type='text' style='margin-right: -298px;width: 80px;' value=" + q.ded + " data-val=" + q.ded + "  name=AmtI" + q.Id + " class=abb>" + "</input>" + "</li>");
                        }
                        else {
                            //alert('out');
                            $("#ded1").append("<li>" + "<p class=ba>" + q.Name + "<input type='text' class='dedamt' style='margin-right: 515px;width: 80px;'value=" + q.Amount + " data-val=" + q.Amount + "  name=" + q.Id + " class=ab>" + "</li>");
                        }
                        
                    });
                    $("#txtmonth").val(data.month);
                    $("#excessval").val(data.excessval);
                    $('#SalaryID').val(data.SalaryTId);
                    $("#empcode").val(data.Name);
                    $("#empnet").val(data.grossearn);
                    $("#empgross").val(data.totearn);
                    $("#empded").val(data.totded);
                    $("#empperc").val(data.percent);
            },
                submitfun: function (data) {
                    alert("after submit");
                var row = dt.row(parent_element);
                if (row.child.isShown()) {
                    parent_element.removeClass('details');
                    row.child.hide();
                }
            }
        });
        });
        //$('.dedamt').on('change', function (e) {

        //});
    
        $('#PayProcessGroupList').P2BSelectMenuAppend('@Url.Action("Polulate_PayProcessGroup", "SalaryT")', "", "");
        $('.popup_radio_button').controlgroup();
        $('#PayProcessGroupList').selectmenu().selectmenu("menuWidget");
    });

</script>
<div id="Create_Dialog" title="Create Negtive Sal Act">

    @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmNegDetails", name = "frmNegDetails" }))
    {

        <input id="Autho_Action" type="hidden" name="Autho_Action" />
        <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
        <div>
            <label id="lblPayMonth" class="popup-content-label must" style="margin-top:13px">PayMonth :</label>
            <input name="txtPayMonth1" type="text" id="txtPayMonth1" class="date-picker" style="margin-top:10px" readonly />
        </div>

        <div class="section_Method" id="div1">
            <div class="heading">Employee List</div>
            <div class="employeeselectiondiv">
                <div class="transactiondivnew dynamic addons" style="float:left">
                    <div>
                        <label>Search : </label><input type="text" id="employee-search1" style="width: 425px;" />
                    </div>
                    <table cellspacing="0" cellpadding="1" class="transactiontablenew" id="employee-table1">
                        <tr><th><input type="checkbox" id="case-employee1" /></th><th>Employee</th></tr>
                    </table>

                </div>
            </div>
        </div>

        <div id="Create-btnclck">
            <button class="button" data-typeofbtn="Create" id="Create">Create</button>
            <button class="button" data-typeofbtn="Auto" id="Auto">Auto</button>
        </div>
    }
    
</div>