@{
    Layout = null;
}
@model Payroll.PayScaleConfigJobStatus
<link href="~/Content/Contactdetails/payscale_config.css" rel="stylesheet" />

<div class="dialog_PayScaleConfig">
    <div title="LookUp Data">
        <div class="lookupdiv_PayScaleConfig"></div>
    </div>
    <div id="pageNavPosition_PayScaleConfig">

    </div>
</div>

<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmPayScaleConfigJobStatus", name = "frmPayScaleConfigJobStatus" }))
    {
    <div class="payscalejob_row1 content_margine">
        @Html.LabelFor(m => m.JobStatus, "JobStatus:", new { @class = "payscalejob_popup-content-label" })
        <div class="popup-content-table">
            <table class="lookuptableselected" id="JobStatusList">
                <tr><th>ID</th><th>LookUp Selected Description</th></tr>
            </table>
        </div>
    </div>
    <div class="payscalejob_icon-row">
        <button data-p2btooltip="Select JobStatus" class="  popup-content-icon-lookup" id="Lookup-JobStatus-PayScaleConfigJobStatus"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
        @*<button data-p2btooltip="Create PayScale" class="  popup-content-icon-create" id="Create-PayScale-PayScaleConfig"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>*@
    </div>

    <div class="payscalejob_row1 content_margine">
        @Html.LabelFor(m => m.PayScaleConfig, "PayScaleConfig:", new { @class = "payscalejob_popup-content-label" })
        <div class="popup-content-table">
            <table class="lookuptableselected" id="PayScaleConfigList">
                <tr><th>ID</th><th>LookUp Selected Description</th></tr>
            </table>
        </div>
    </div>
    <div class="payscalejob_icon-row">
        <button data-p2btooltip="Select PayScaleConfig" class="  popup-content-icon-lookup" id="Lookup-PayScaleConfig-PayScaleConfigJobStatus"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
        <button data-p2btooltip="Create PayScaleConfig" class="  popup-content-icon-create" id="Create-PayScaleConfig-PayScaleConfigJobStatus"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
    </div>
    }
</div>
<style>
    .payscalejob_icon-row {
        position: relative;
        left: 20px;
        top: -130px;
    }
</style>

<script>
    $(document).ready(function () {

    });

</script>
<script>
    $(document).ready(function () {
        $('button').button();
        
        $('#Lookup-JobStatus-PayScaleConfigJobStatus').button().on('click', function (event) {
            $('.dialog_PayScaleConfig').P2BLookUpModal('@Url.Action("GetJobStatusLKDetails", "PayScaleConfigJobStatus")', '', 'lookupdiv_PayScaleConfig', 'JobStatus Look Up Data', '#JobStatusList', 'JobStatusList', 5, 'JobStatusList', '#frmPayScaleConfig', 'N', '', 'lookupdiv_PayScaleConfig', 'pageNavPosition_PayScaleConfig');
            event.preventDefault();
        });

        $('#Lookup-PayScaleConfig-PayScaleConfigJobStatus').button().on('click', function (event) {
            $('.dialog_PayScaleConfig').P2BLookUpModal('@Url.Action("GetPayScaleConfigLKDetails", "PayScaleConfigJobStatus")', '', 'lookupdiv_PayScaleConfig', 'PayScaleConfig Look Up Data', '#PayScaleConfigList', 'PayScaleConfigList', 5, 'PayScaleConfigList', '#frmPayScaleConfig', 'A', '', 'lookupdiv_PayScaleConfig', 'pageNavPosition_PayScaleConfig');
            event.preventDefault();
        });

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-PayScaleConfig-PayScaleConfigJobStatus').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("CreatePayScaleConfig_partial", "PayScaleConfigJobStatus")', 'Create PayScaleConfig', 'open', '@Url.Action("Create", "PayScaleConfig")', '#frmPayScaleConfig', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#frmPayScaleConfigJobStatus', '', function (data) {
                $('#PayScaleConfigList').P2BLookUpEncapsulate('#PayScaleConfigList', 'PayScaleConfigList', data[0], data[1], 'PayScaleConfigList', '', 'A');
            });
            event.preventDefault();
        });
    });
</script>