@{
    Layout = null;
}
@model P2b.Global.PayScale

@*<link rel="stylesheet" type="text/css" href="~/Content/mb-ui.css" />*@
<style>
    .all_popup-content-label {
        display: block;
        margin: 1px;
        float: left;
        width: 120px;
    }

    .all_popup-content-textbox {
        margin-bottom: 1px;
        width: 59%;
    }

    .all_row3 {
        width: 150px;
    }
</style>
<html>
<body>
    <div id="Create_Dialog2" title="Create Payscale">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "FormPayScaleP" }))
        {

            <div class="row3 content_margine">
                @Html.LabelFor(m => m.PayScaleType, "Payscale Type :", new { @class = "popup-content-label must" })
                <select id="PayScaleTypeList_DDL" name="PayScaleTypeList_DDL" style="width:150px;" class="drop must">
                    <option></option>
                </select>
            </div>
            <div class="row3 content_margine">
                @Html.LabelFor(m => m.PayScaleArea, "Payscale Area :", new { @class = "popup-content-label" })
                <select id="PayScaleAreaList" name="PayScaleAreaList" style="width:150px;" class="drop">
                <option value="0">-Select-</option>
                </select>
            </div>
            <div class="row1 content_margine horizontal_row1">
                @Html.LabelFor(m => m.BasicScaleAppl, "Basic Scale Appl:", new { @class = "popup-content-label" })
                <div class="popup_radio_button radio_button_div_1">
                    <div class="radioset">
                        <span><input type="radio" id="radio15" name="BasicScaleAppl" value="true" /> <label for="radio15">Yes</label></span>
                        <span><input type="radio" id="radio16" name="BasicScaleAppl" value="false"  checked="checked"/> <label for="radio16">No</label></span>
                    </div>
                </div>
            </div>

            <div class="row1 content_margine horizontal_row1">
                @Html.LabelFor(m => m.CPIAppl, "CPI Appl:", new { @class = "popup-content-label" })
                <div class="popup_radio_button radio_button_div_1">
                    <div class="radioset">
                        <span><input type="radio" id="radio17" name="CPIAppl" value="true" /> <label for="radio17">Yes</label></span>
                        <span><input type="radio" id="radio18" name="CPIAppl" value="false"  checked="checked"/> <label for="radio18">No</label></span>
                    </div>
                </div>
            </div>

        }
    </div>
</body>
</html>

<script>
    $(document).ready(function () {
        $('.drop').selectmenu().selectmenu('menuWidget');
        $('button').button();
        $('.popup_radio_button').controlgroup();

        $('#PayScaleTypeList_DDL').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 423, "");
        $('#PayScaleAreaList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "PayScale")", "", "");
        @*$('#PayScaleAreaList').on("selectmenuopen", function () {
            $('#PayScaleAreaList').empty().append("<option value=0 >-Select-</option>").selectmenu().selectmenu("refresh");
            $.post("@Url.Action("PopulateDropDownList", "PayScale")", {
                data: "",
                data2: ""
            }, function (data) {
                $.each(data, function (i, k) {
                    $('#PayScaleAreaList').append($("<option>", {
                        value: k.Value,
                        text: k.Text,
                        selcted: k.Selected
                    }));
                });
                jQuery('#PayScaleAreaList').selectmenu('refresh').selectmenu("menuWidget");
            });
        });*@
    });
</script>


