@{
    Layout = null;
}
@model Payroll.Range
@*<link href="~/Content/Wages_Range/Wages_Range.css" rel="stylesheet" />*@


<script>
    $(document).ready(function () {
        $('#RangeFrom').ForceAmount().MaxLength(10);22;
        $('#RangeTo').ForceAmount().MaxLength(10);;
        $('#Percentage').ForcePercent().MaxLength(10);;
        $('#CompShareAmount').ForceAmount().MaxLength(10);;
        $('#EmpShareAmount').ForceAmount().MaxLength(10);;
        $('#CompSharePercentage').ForcePercent().MaxLength(10);;
        $('#EmpSharePercentage').ForcePercent().MaxLength(10);;

        $('#RangeTo ').on('focusout', function (e) {
            if (!$('#RangeFrom').val()) {
                alert('Enter Range From value...!');
                $('#RangeTo').val('');
                return false;               
            }
            if (parseFloat($("#RangeTo").val()) < parseFloat($("#RangeFrom").val())) {
                alert("  Range To value Should Be Grater Than Starting Range Value ..!");
                $('#RangeTo').val('');
            }           
        });
    });

</script>
<style>
    .wag_popup-content-label {
        display: block;
        margin: 1px;
        float: left;
        width: 143px;
    }

    .wag_popup-content-textbox {
        min-width: 131px;
    }
</style>
<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmRange", name = "frmRange" }))
    {
        <div class="wag_row3 content_margine">@Html.LabelFor(m => m.RangeFrom, "Range From:", new { @class = "wag_popup-content-label must" })@Html.TextBoxFor(m => m.RangeFrom, new { @class = "wag_popup-content-textbox must", id = "RangeFrom" })</div>
        <div class="wag_row3 content_margine">@Html.LabelFor(m => m.RangeTo, "Range To:", new { @class = "wag_popup-content-label must" })@Html.TextBoxFor(m => m.RangeTo, new { @class = "wag_popup-content-textbox must", id = "RangeTo" })</div>
        <div class="wag_row3 content_margine">@Html.LabelFor(m => m.CompShareAmount, "CompShareAmount:", new { @class = "wag_popup-content-label must" })@Html.TextBoxFor(m => m.CompShareAmount, new { @class = "wag_popup-content-textbox must", id = "Percentage" })</div>@*<img id="ImgID" src="~/Content/P2B_CSS/images/Percentage.png" class="dem" />*@
        <div class="wag_row3 content_margine">@Html.LabelFor(m => m.CompSharePercentage, "CompSharePercentage:", new { @class = "wag_popup-content-label must" })@Html.TextBoxFor(m => m.CompSharePercentage, new { @class = "wag_popup-content-textbox must", id = "Amount" })</div>
        <div class="wag_row3 content_margine">@Html.LabelFor(m => m.EmpShareAmount, "EmpShareAmount:", new { @class = "wag_popup-content-label must" })@Html.TextBoxFor(m => m.EmpShareAmount, new { @class = "wag_popup-content-textbox must", id = "txtCeilingMin" })</div>
        <div class="wag_row3 content_margine">@Html.LabelFor(m => m.EmpSharePercentage, "EmpSharePercentage:", new { @class = "wag_popup-content-label must" })@Html.TextBoxFor(m => m.EmpSharePercentage, new { @class = "wag_popup-content-textbox must", id = "txtCeilingMax" })</div>
    }
</div>
