@{
    Layout = null;

}
@model Payroll.ServiceRange


<script>
    $(document).ready(function () {
        $('#ServiceTo').ForceAmount();
        $('#ServiceFrom').ForceAmount();
        $('#WagesFrom').ForceAmount();
        $('#WagesTo').ForceAmount();
        $('#Percentage').ForceAmount();
        $('#Amount').ForceAmount();
        $('#txtCeilingMin').ForceAmount();
        $('#txtCeilingMax').ForceAmount();
    });

</script>
<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmserviceRange", name = "frmserviceRange" }))
    {
        <div class="ran_row1 content_margine">@Html.LabelFor(m => m.ServiceFrom, "Service From:", new { @class = "ran_popup-content-label" })@Html.TextBoxFor(m => m.ServiceFrom, new { @class = "ran_popup-content-textbox" })</div>
        <div class="ran_row1 content_margine">@Html.LabelFor(m => m.ServiceTo, "Service To:", new { @class = "ran_popup-content-label" })@Html.TextBoxFor(m => m.ServiceTo, new { @class = "ran_popup-content-textbox" })</div>
        <div class="ran_row1 content_margine">@Html.LabelFor(m => m.WagesFrom, "Range From:", new { @class = "ran_popup-content-label" })@Html.TextBoxFor(m => m.WagesFrom, new { @class = "ran_popup-content-textbox" })</div>
        <div class="ran_row1 content_margine">@Html.LabelFor(m => m.WagesTo, "Range To:", new { @class = "ran_popup-content-label" })@Html.TextBoxFor(m => m.WagesTo, new { @class = "ran_popup-content-textbox" })</div>
        <div class="ran_row1 content_margine">@Html.LabelFor(m => m.Amount, "Amount:", new { @class = "ran_popup-content-label" })@Html.TextBoxFor(m => m.Amount, new { @class = "ran_popup-content-textbox" })</div>
        <div class="ran_row1 content_margine">@Html.LabelFor(m => m.Percentage, "Percentage:", new { @class = "ran_popup-content-label" })@Html.TextBoxFor(m => m.Percentage, new { @class = "ran_popup-content-textbox search" })</div> @*<img id="ImgID" src="~/Content/P2B_CSS/images/Percentage.png" class="dem" />*@
        <div class="ran_row1 content_margine">@Html.LabelFor(m => m.CeilingMin, "Min Celling:", new { @class = "ran_popup-content-label" })@Html.TextBoxFor(m => m.CeilingMin, new { @class = "ran_popup-content-textbox", @id = "txtCeilingMin" })</div>
        <div class="ran_row1 content_margine">@Html.LabelFor(m => m.CeilingMax, "Max Celling:", new { @class = "ran_popup-content-label" })@Html.TextBoxFor(m => m.CeilingMax, new { @class = "ran_popup-content-textbox", @id = "txtCeilingMax" })</div>
    }
</div>
<style>
    .ran_popup-content-label {
        display: block;
        float: left;
        width: 100px;
    }

    .ran_popup-content-textbox {
        width: 127px;
    }

    .ran_row1 {
        width: 261px;
    }
</style>