@model  Payroll.ServiceSecurity
@{
    Layout = null;
}
<script>
    $(function () {
        $('#Date-edit,#DateOfCloser-edit,#DateOfMaturity-edit').P2BDatePicker();
        $('button').button();
        $('.popup_radio_button').controlgroup();

        $('input[name="Closer2"]:radio').change(function () {
            if (this.value == "false") {
                $("#DateOfCloserClass-edit").fadeOut();
                $("#DateOfCloser-edit").val("");
            }
            else {
                $("#DateOfCloserClass-edit").fadeIn();
            }
        });
        $('#Edit-LocationList_DDL').selectmenu().selectmenu('menuWidget');
        //$('input[name="IsActive"]:radio').change(function () {
        //    if (this.value == "false") { $('#CloserDate-edit').prop("disabled", false); $('#CloserDate-edit').val(""); }
        //    else { $('#CloserDate-edit').prop("disabled", true); }
        //});
        //$('input[name="IsActive"]').val([true]);
        //$('#Edit-LoanAccBranch').selectmenu().selectmenu('menuWidget');
    });

</script>
<style>
    .row2 {
        width: 400px;
    }
</style>
<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "ServiceSecurityGridPartial", Name = "ServiceSecurityGridPartial" }))
    {
        <div class="heading">Service Security Details Edit</div>
        <div class="row1 content_margine">@Html.LabelFor(m => m.Amount, "Amount :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Amount, new { @class = "popup-content-textbox must", @id = "Amount-edit" })</div>

        <div class="row3 content_margine horizontal_row1">
            @Html.LabelFor(m => m.Closer, " Closer:", new { @class = "popup-content-label", @id = "Closer-edit" })
            <span class="popup_radio_button">
                <span><input type="radio" id="radio32" name="Closer2" value="true" /> <label for="radio32">Yes</label></span>
                <span><input type="radio" id="radio42" name="Closer2" value="false" /> <label for="radio42">No</label></span>
            </span>
        </div>
        <div class="row1 content_margine">@Html.LabelFor(m => m.Date, "Date :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.Date, new { @class = "popup-content-textbox", @id = "Date-edit" })</div>
        <div class="row1 content_margine" id="DateOfCloserClass-edit">@Html.LabelFor(m => m.DateOfCloser, "Date Of Closer :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.DateOfCloser, new { @class = "popup-content-textbox", @id = "DateOfCloser-edit" })</div>
        <div class="row1 content_margine">@Html.LabelFor(m => m.DateOfMaturity, "Date Of Maturity :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.DateOfMaturity, new { @class = "popup-content-textbox", @id = "DateOfMaturity-edit" })</div>
        <div class="row1 content_margine">@Html.LabelFor(m => m.FDR_No, "FDR No", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.FDR_No, new { @class = "popup-content-textbox must", @id = "FDR_No-edit" })</div>
        <div class="row1 content_margine">@Html.LabelFor(m => m.Remark, "Remark", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Remark, new { @class = "popup-content-textbox must", @id = "Remark-edit" })</div>
        <div class="row1 content_margine">
            <label class="popup-content-label">Location :</label>
            <select class="drop" id="Edit-LocationList_DDL" name="LocationList_DDL" style="width:200px"><option></option></select>
        </div>
    }
</div>
@*<form id="ServiceSecurityGridPartial" method="post" name="ServiceSecurityGridPartial">
        <div class="row2 content_margine">
            <label class="popup-content-label">Amount :</label>
            <input id="Amount-edit" name="Amount" />
        </div>
        <div class="row2 content_margine">
            <label class="popup-content-label">Remark :</label>
            <input id="Remark-edit" name="Remark" />
        </div>
        <div class="row2 content_margine">
            <label class="popup-content-label">FDR_No :</label>
            <input id="FDR_No-edit" name="FDR_No" />
        </div>
        <div class="row2 content_margine">
            <label class="popup-content-label">Closer :</label>
            <div class="popup_radio_button">
                <div id="radioset">
                    <span><input type="radio" id="radio11" name="IsActive" value="true" /> <label for="radio11">Yes</label></span>
                    <span><input type="radio" id="radio22" name="IsActive" value="false" /> <label for="radio22">No</label></span>
                </div>
            </div>
        </div>
        <div class="row2 content_margine">
            <label class="popup-content-label">Date :</label>
            <input id="Date-edit" name="Date" />
        </div>
        <div class="row2 content_margine">
            <label class="popup-content-label">DateOfCloser :</label>
            <input id="DateOfCloser-edit" name="DateOfCloser" />
        </div>
        <div class="row2 content_margine">
            <label class="popup-content-label">DateOfMaturity :</label>
            <input id="DateOfMaturity-edit" name="DateOfMaturity" />
        </div>
    </form>*@
