@{
    Layout = null;
}
@model Payroll.SlabDependRule
<div>
    @*@using (Html.BeginForm("", "", FormMethod.Post, new { id = "frmSlabDependRule", name = "frmSlabDependRule" }))
    {*@
        <div class="slab_row1">

            @Html.LabelFor(m => m.WageRange, new { @class = "slab_popup-content-label" })
            <div class="popup-content-table">
                <table class="lookuptableselected" id="WageRangeList">
                    <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                </table>
            </div>
            <div class="icon-row">
                <button data-p2btooltip="Select WageRange" class="popup-content-icon-lookup" id="Lookup-WagesRange-SalHeadFormula"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                <button data-p2btooltip="Create WageRange" class="popup-content-icon-create" id="Create-WagesRange-SalHeadFormula"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                <button data-p2btooltip="Edit WageRange" class="popup-content-icon-edit" id="Edit-WageRange-SalHeadFormula"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                <button data-p2btooltip="Remove WageRange" class="popup-content-icon-remove" id="Remove-WageRange-SalHeadFormula"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                <button data-p2btooltip="View WageRange" class="popup-content-icon-view" id="view-WageRange-SalHeadFormula"><span class="ui-icon ui-icon-extlink popup-content-iconmark"></span></button>
                @*<button data-p2btooltip="Edit WageRange" class="popup-content-icon-edit" id="Edit-WagesRange-SalHeadFormula"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Remove WageRange" class="popup-content-icon-remove" id="Remove-WagesRange-SalHeadFormula"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>*@
            </div>
        </div>
    @*}*@

    <div class="dialog_WageRange">
        <div title="LookUp Data">
            <div class="lookupdiv_WageRange"></div>
        </div>
        <div id="pageNavPosition_WageRange">

        </div>
    </div>
</div>
<style>
    .icon-row {
        position: relative;
        left: 58px;
        top: -150px;
    }

    .slab_popup-content-label {
        display: block;
        float: left;
        width: 100px;
    }

    .slab_popup-content-textbox {
        width: 150px;
    }
</style>
<script>
    $(document).ready(function () {
        $('button').button();
        /* WagesRange CRUD Start*/

        @*$('#Lookup-Wages-SalHeadFormula').on('click', function (event) {
            $('.dialog_Wages').P2BLookUpModal('@Url.Action("GetWagesLKDetails", "SalHeadFormula")', '', 'lookupdiv_Wages', 'Wages Look Up Data', '#WagesList', 'WagesList', 5, 'WagesList', '#FormSalHeadFormula', 'N', '#Edit-Wages-SalHeadFormula,#Remove-Wages-SalHeadFormula', 'Lookup_table', 'pageNavPosition_Wages');
            event.preventDefault();
        });*@
        $('#Lookup-WagesRange-SalHeadFormula').button().on('click', function (event) {
            @*//$('.dialog').P2BLookUpModal('@Url.Action("GetAddressLKDetails", "Corporate")', '', 'LookupDiv', 'Address Look Up Data', '#AddressList', 'AddressList', 5, 'AddressList', '#frmCorporate', 'N', '#Edit-Address-Corporate,#Remove-Address-Corporate', 'Lookup_table', 'PageNavPosition');*@
            $('.dialog_WageRange').P2BLookUpModal('@Url.Action("GetWagesRangeLKDetails", "WagesRange")', '', 'lookupdiv_WageRange', 'WageRange Look Up Data', '#WageRangeList', 'WageRangeList', 5, 'WageRangeList', '#frmSlabDependRule', 'A', '#Edit-WagesRange-SalHeadFormula,#Remove-WagesRange-SalHeadFormula', 'Lookup_table_WagesRange', 'pageNavPosition_WageRange');
            event.preventDefault();
        });


        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-WagesRange-SalHeadFormula').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("CreateWageRange_partial", "SalHeadFormula")', 'Create WagesRange', 'open', '@Url.Action("CreateSave", "WagesRange")', '#frmWagesRange', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#frmSlabDependRule', '#Edit-WagesRange-SalHeadFormula,#Remove-WagesRange-SalHeadFormula', function (data) {
                $('#WageRangeList').P2BLookUpEncapsulate('#WageRangeList', 'WageRangeList', data[0], data[1], 'WageRangeList', '#Edit-WagesRange-SalHeadFormula,#Remove-WagesRange-SalHeadFormula', 'A');
                //$('#WageRange_List').P2BLookUpEncapsulate('#WageRange_List', 'AddressList', k.Add_Id, k.Address_FullAddress, 'AddressList', '#Edit-Address-Corporate,#Remove-Address-Corporate', 'N');
            });
            event.preventDefault();
        });

        $('#Edit-WageRange-SalHeadFormula').button().on("click", function (event) {
            var a = [], b;
            a = $('#WageRangeList').P2BGetTableDataonSelectedRow('#WageRangeList', 0);
            b = a[0];
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname, height, width, classoridoftheonwhichpopupderived, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not,nameidclassofbuttontodisable,returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("CreateWageRange_partial", "SalHeadFormula")', '@Url.Action("EditWagesRange_partial", "WagesRange")', b, '@Url.Action("EditSave", "WagesRange")', 'Edit WagesRange', '#frmWagesRange', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#FormSalHeadFormula', '#WageRangeList', 'WageRangeList', 'WageRangeList', 'N', '', function (data) {
                // setTimeout(function () {
                //to bind data according to selected id
                console.log(data);
                $.each(data, function (i, k) {
                    $('#WageRangeList').trigger("reset");
                  //  alert(k.CeilingMax);
                    $('#RangeFrom').val(k.WageFrom);
                    $('#RangeTo').val(k.WageTo);
                    $('#Percentage').val(k.Percentage);
                    $('#Amount').val(k.Amount);
                    $('#txtCeilingMin').val(k.CeilingMin);
                    $('#txtCeilingMax').val(k.CeilingMax);
                    //$('#RateMasterlist').P2BLookUpEncapsulate('#RateMasterlist', 'RateMasterlist', k.rate_id, k.RateCode, 'RateMasterlist', '#Remove-RateMaster-Wages', 'N');

                });
                //}, 3000);


            });
            event.preventDefault();
        });

        $('#View-WageRange-SalHeadFormula').on('click', function (e) {
            var a = [], b;
            a = $('#WageRangeList').P2BGetTableDataonSelectedRow('#WageRangeList', 0);
            b = a[0];
            $('<div></div>').P2bViewPartialDialog({
                htmurl: '@Url.Action("CreateWageRange_partial", "SalHeadFormula")',
                btnid: '#View-WageRange-SalHeadFormula',
                editurl: "@Url.Action("EditWagesRange_partial", "WagesRange")",
                height: 'auto',
                width: 'auto',
                returndatafunction: function (data) {
                    $.each(data[0], function (i, k) {
                        $('#WageRangeList').trigger("reset");
                        // alert(k.CeilingMax);
                        $('#RangeFrom').val(k.WageFrom);
                        $('#RangeTo').val(k.WageTo);
                        $('#Percentage').val(k.Percentage);
                        $('#Amount').val(k.Amount);
                        $('#txtCeilingMin').val(k.CeilingMin);
                        $('#txtCeilingMax').val(k.CeilingMax);
                    });
                },
                editdata: b,
            });
            e.preventDefault();
        });

        @*$('#Remove-WagesRange-SalHeadFormula').button().on('click', function (event) {
            //  dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'ID');
            var a = [], b;
            a = $('#WageRangeList').P2BGetTableDataonSelectedRow('#WageRangeList', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('@Url.Action("Delete", "WagesRange")', b, 0, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#WageRangeList', $('#WageRangeList').val(), 200, 200, '#FormSalHeadFormula', '#WageRangeList', '#Edit-WagesRange-SalHeadFormula,#Remove-WagesRange-SalHeadFormula');
            event.preventDefault();
        });*@

        $('#Remove-WageRange-SalHeadFormula').button().on('click', function (event) {
            //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            //var a = [], b;
            //a = $('#WageRangeList').P2BGetTableDataonSelectedRow('#WageRangeList', 0);
            //b = a[0];

            var selectedRows = [];
            selectedRows = $('#WageRangeList').P2BGetTableDataonSelectedRow('#WageRangeList', 0);
            console.log("Verify...");

            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#WageRangeList', $('#WageRangeList').val(), 200, 200, '#FormSalHeadFormula', '#WageRangeList', '');
            event.preventDefault();
        });


        /* WagesRange CRUD End*/
    });
</script>