@{
    Layout = null;
}
@model Payroll.TADAAdvanceClaim

<style>
    .popup-content-label {
        display: block;
        float: left;
        width: 168px;
    }
    .popup-content-textbox {
        margin-bottom: 1px;
        min-width: 150px;
    }
</style>
<script>
    $(document).ready(function () {
        $('button').button();
        $('#DateOfAppl').P2BDatePicker();
        //$('#TADATypeListpartial').selectmenu().selectmenu('menuWidget');
        $('#TADATypeListpartial').P2BSelectMenuAppend('@Url.Action("GetLookupPolicyname", "TADASettlementClaim")', 3005, "");

        $('#Autho').makeDisable('#Create,#Edit,#Delete');
        $('.popup_radio_button').controlgroup();
    });

</script>


<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmTADAAdvanceClaim", name = "frmTADAAdvanceClaim" }))
    {
        <div class="row3 content_margine">
            <div class="row2 select_div content_margine">@Html.LabelFor(m => m.TADAType, "TADA Type :", new { @class = "popup-content-label must" })<select id="TADATypeListpartial" name="TADATypeListpartial" class="must" style="width:159px;"><option value="0">-Select-</option></select></div>
        </div>
         
            <div class="row3 content_margine">
        @Html.LabelFor(m => m.IsClaimSettle, "IsClaimSettle :", new { @class = "popup-content-label" })
        <div class="popup_radio_button radio_button_div_1">
            <span class="popup_radio_button radio_button_div_1">
                <input type="radio" id="radio1" name="IsClaimSettle" value="true" /><label for="radio1">Yes</label>
                <input type="radio" id="radio2" name="IsClaimSettle" value="false" checked="checked" /><label for="radio2">No</label>
            </span>
        </div>
    </div>
                    <div class="row2 content_margine">@Html.LabelFor(m => m.DateOfAppl, "Requisition Date :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.DateOfAppl, new { @class = "popup-content-textbox must" })</div>
                    <div class="row2 content_margine">@Html.LabelFor(m => m.TravelStartDate, "Travel Start Date :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.TravelStartDate, new { @class = "popup-content-textbox must" })</div>
                    <div class="row2 content_margine">@Html.LabelFor(m => m.TravelEndDate, "Travel End Date :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.TravelEndDate, new { @class = "popup-content-textbox must" })</div>
                    <div class="row2 content_margine">@Html.LabelFor(m => m.ProposedPlace, "Proposed Place :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.ProposedPlace, new { @class = "popup-content-textbox must" })</div>
                    <div class="row2 content_margine">@Html.LabelFor(m => m.EligibleAmt, " Eligible Amount :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.EligibleAmt, new { @class = "popup-content-textbox must" })</div>
                    <div class="row2 content_margine">@Html.LabelFor(m => m.AdvAmt, " Advance Amount :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.AdvAmt, new { @class = "popup-content-textbox must" })</div>
                    <div class="row2 content_margine">@Html.LabelFor(m => m.SanctionedAmt, "Sanctioned Amt :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.SanctionedAmt, new { @class = "popup-content-textbox must" })</div>
                   <div class="row2 content_margine">@Html.LabelFor(m => m.TravelDays, "TravelDays :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.TravelDays, new { @class = "popup-content-textbox must" })</div>
                   <div class="row2 content_margine">@Html.LabelFor(m => m.Remark, "Remark :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Remark, new { @class = "popup-content-textbox must" })</div>
            }        
                       
                </div>
</div>
