@{
    Layout = null;
}
@model Payroll.TravelModeEligibilityPolicy
@*<link href="~/Content/Wages_Range/Wages_Range.css" rel="stylesheet" />*@

<style>
    .popup-content-labelT {
        display: block;
        float: left;
        width: 170px;
    }
</style>
<script>
    $(document).ready(function () {
        $('#WageFrom').ForceAmount();
        $('#WageTo').ForceAmount();
        $('#Percentage').ForceAmount();
        $('#Amount').ForceAmount();
        $('#txtCeilingMin').ForceAmount();
        $('#txtCeilingMax').ForceAmount();
        $('#travelmodelist').on('selectmenuchange', function () {
            $('#classoftravellist').P2BSelectMenuAppend('@Url.Action("ClassOffTravelList", "TravelModeEligibilityPolicy")', $(this).val(), "", "0");
        });
        $('.drop').selectmenu().selectmenu("menuWidget");
    });

</script>
<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmPartialTravelEligibiltyPolicy", name = "frmPartialTravelEligibiltyPolicy" }))
    {
        <div class="row3 content_margine">
            @Html.LabelFor(m => m.TA_TM_Elligibilty_Code, "TA_TM_Elligibilty_Code :", new { @class = "popup-content-labelT must" })
            @Html.TextBoxFor(m => m.TA_TM_Elligibilty_Code, new { @class = "popup-content-textbox must" })
        </div>
        <div class="row3 content_margine">
            @Html.LabelFor(m => m.TravelMode, "TravelMode:", new { @class = "popup-content-labelT must" })
            <select class="drop" style="width:140px;" name="travelmodelist" id="travelmodelist"><option></option></select>
        </div>
        <div class="row3 content_margine">
            @Html.LabelFor(m => m.ClassOfTravel, "ClassOfTravel:", new { @class = "popup-content-labelT must" })
            <select class="drop" style="width:140px;" name="classoftravellist" id="classoftravellist"><option></option></select>
        </div>
    }
</div>
