@{
    Layout = null;
}
@model Payroll.WagesRange
    <style>
        .popup-content-label-partial{
            width:107px;
            display:inline-block;
        }
    </style>

<script>
    $(document).ready(function () {
    	$('#WageFrom').ForceAmount();
    	$('#WageTo').ForceAmount();
        $('#Percentage').ForceAmount();
        $('#Amount').ForceAmount();
        $('#txtCeilingMin').ForceAmount();
        $('#txtCeilingMax').ForceAmount();
    });

</script>
<div>
     @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmWagesRange", name = "frmWagesRange" }))
    { 
    <div class="wag_row3 content_margine">@Html.LabelFor(m => m.WageFrom, "Range From:", new { @class = "popup-content-label-partial must" })@Html.TextBoxFor(m => m.WageFrom, new { @class = "popup-content-textbox must", id = "RangeFrom", @maxlength = "10" })</div>
    <div class="wag_row3 content_margine">@Html.LabelFor(m => m.WageTo, "Range To:", new { @class = "popup-content-label-partial must" })@Html.TextBoxFor(m => m.WageTo, new { @class = "popup-content-textbox must", id = "RangeTo", @maxlength = "10" })</div>
    <div class="wag_row3 content_margine">@Html.LabelFor(m => m.Percentage, "Percentage:", new { @class = "popup-content-label-partial" })@Html.TextBoxFor(m => m.Percentage, new { @class = "popup-content-textbox", id = "Percentage", @maxlength = "10" })</div>@*<img id="ImgID" src="~/Content/P2B_CSS/images/Percentage.png" class="dem" />*@
    <div class="wag_row3 content_margine">@Html.LabelFor(m => m.Amount, "Amount:", new { @class = "popup-content-label-partial" })@Html.TextBoxFor(m => m.Amount, new { @class = "popup-content-textbox", id = "Amount", @maxlength = "10" })</div>
    <div class="wag_row3 content_margine">@Html.LabelFor(m => m.CeilingMin, "Min Ceiling Amt:", new { @class = "popup-content-label-partial" })@Html.TextBoxFor(m => m.CeilingMin, new { @class = "popup-content-textbox", id = "txtCeilingMin", @maxlength = "10" })</div>
    <div class="wag_row3 content_margine">@Html.LabelFor(m => m.CeilingMax, "Max Ceiling Amt:", new { @class = "popup-content-label-partial" })@Html.TextBoxFor(m => m.CeilingMax, new { @class = "popup-content-textbox", id = "txtCeilingMax", @maxlength = "10" })</div>
     }
</div>
