
@{
    ViewBag.Title = "SuccessionModel";
}
@model CMS_SPS.SuccessionModel
<html>
<head>
    <title></title>
    <style>
        .icon-row {
            position: relative;
            left: 59px;
            top: -126px;
        }

        .popup-content-label {
            display: block;
            float: left;
            width: 102px;
        }

        .popup-content-textbox {
            margin-right: 15px;
            width: 100px;
        }

        .row3 {
            width: 548px;
        }

        .row2 {
            display: inline-block;
            width: 333px;
        }

        .section1_Leave {
            display: block;
            border: 1.5px solid rgba(207, 207, 207, 0.91);
            height: 554px;
            width: 450px;
            margin: 4px auto;
            position: absolute;
        }

        .section2_Leave {
            display: block;
            border: 1px solid #ddd;
            height: 350px;
            width: 437px;
            margin: 2px 2px;
            position: absolute;
            margin-left: 43em;
            /*left: 401px;*/
        }

        .section3_Leave {
            display: block;
            border: 1px solid #ddd;
            /*! height: 502px; */
            width: 250px;
            margin: 2px 2px;
            position: absolute;
            left: 920px;
            top: 28px;
            /*float: right;*/
        }

        #monthTable {
            /*font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;*/
            border-collapse: collapse;
            width: 100%;
        }

            #monthTable td, #monthTable th {
                border: 1px solid #ddd;
                padding: 8px;
            }

        .monthTable-selected {
            color: #8e6d87;
            font-weight: bold;
        }
        /*#monthTable tr:nth-child(even) {
            background-color: #f2f2f2;
        }*/

        #monthTable tr:hover {
            background-color: #ddd;
        }

        #monthTable th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #009282;
            color: white;
        }

        .newstruct-div {
            float: left;
            width: 193px;
            margin: 3px auto;
        }

        .transactiontable {
            height: 187px;
        }

        .without-btn {
            height: 216px;
        }

        .extra {
            margin-right: 500px
        }

        .ex {
            margin-left: 105px;
        }

        .lookupbox {
            margin-left: 100px
        }
    </style>

</head>
<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <button class="button" id="Create">Create</button>
                @*<button class="button" id="View">View</button>
                    <button class="button" id="Edit">Edit</button>
                    <button class="button" id="Delete">Delete</button>
                    <button class="button" id="Autho">Authorized</button>*@
                @*<button class="button" id="Delete">Delete</button>*@
                @*<button class="button" id="release">Release</button>*@

            </div>
        </div>
    </div>

    <div id="Grid_Form">
        <div>
            <div id="Container" class="container">
                <div id="Demo">
                    <table id="MyTable" class="display" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>DD</th>
                                <th>Code</th>
                                <th>ModelName</th>
                                <th>ModelDescription</th>
                                <th>CreatedDate</th>
                                <th>ID</th>
                            </tr>
                        </thead>
                        @*<tfoot>
                                <tr>
                                    <th>DD</th>
                                    <th>ID</th>
                                    <th>EmployeeCode</th>
                                    <th>EmployeeName</th>
                                </tr>
                            </tfoot>*@
                    </table>
                </div>
            </div>
            @*<table id="JqGrid"></table>
                <div id="pager2"></div>*@
        </div>
    </div>

    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>
    <div id="Create_Dialog">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmSuccessionModel", name = "frmSuccessionModel" }))
        {
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
            <input id="Division_id" type="hidden" name="Division_id" />

            <div class="section1_Leave">
                <div class="row3 content_margine">
                    <select class="drop must" style="width:180px;" name="Modellist" id="Modellist">
                        <option></option>
                    </select>
                </div>
                <div class="row3 content_margine">
                    <label class="popup-content-label">
                        Model List :
                    </label>
                    <div class="newstruct-div">
                        <div class="transactiondiv without-btn">
                            <div><label>Search : </label><input type="text" id="Model-search" /></div>
                            <table cellspacing="0" cellpadding="1" class="transactiontable" id="Model-table">
                                <tr><th><input type="checkbox" id="Case-Model" /></th><th>Model List</th></tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section2_Leave">
                <div class="row1 content_margine">
                    <label class="popup-content-label must">Code :</label>
                    <input type="text" id="Code" name="Code" class="popup-content-textbox" readonly maxlength="10"/>
                </div>
                <div class="row1 content_margine">
                    <label class="popup-content-label must">ModelName :</label>
                    <input type="text" id="ModelName" name="ModelName" class="popup-content-textbox" maxlength="50" readonly />
                </div>
                <div class="row1 content_margine">
                    <label class="popup-content-label must">ModelDescription :</label>
                    <input type="text" id="ModelDescription" name="ModelDescription" class="popup-content-textbox" />
                </div>
                <div class="row1 content_margine">
                    <label class="popup-content-label extra">CreatedDate :</label>
                    <input type="text" id="CreatedDate" name="CreatedDate" class="popup-content-textbox ex" />
                </div>
                <div class="row1 content_margine ">
                    <label for="ModelObjectList" class="popup-content-label">ModelObjectList</label><br>
                    <div class="popup-content-table lookupbox">
                        <table class="lookuptableselected" id="ModelObjectList">
                            <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                        </table>
                    </div>
                    <div class="icon-row">
                        <button data-p2btooltip="Lookup ModelList" class="popup-content-icon-lookup " id="Lookup-ModelObjectList"><span class="ui-icon ui-icon-folder-open popup-content-iconmark "></span></button>
                        <button data-p2btooltip="Remove ModelList" class="popup-content-icon-remove " id="Remove-ModelObjectList"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                    </div>
                </div>
            </div>
        }
    </div>
</body>
</html>
<script>
    $(document).ready(function (e) {
        $('button').button();
        $('#MyTable').MultiLevelInlineEditGrid({
            url: "@Url.Action("SuccessionModel_Grid")",
            editurl: "@Url.Action("EditGridDetails", "DivisionTargetSetting")",
            htmurl: "@Url.Action("partial", "DivisionTargetSetting")",
            submiturl: "@Url.Action("GridEditSave", "DivisionTargetSetting")",
            columnname: ["Code", "ModelName", "ModelDescription", "CreatedDate", "Id", ],
            childheader: ["Category", "SubCategory", "Accounts", "Amount", "Compliance", "Id"],
            //childheader: ["Id", "LoanAdvHead", "RequisitionDate", "EnforcementDate", "LoanAppliedAmt", "LoanSanctionedAmt", "MonthlyInstallmentAmt", "TotalInstallment", "LoanAccBranch", "LoanAccNo"],
            childurl: "@Url.Action("Get_TargetSettingRequest")",
            tableheader: "SuccessionModel",
            childurlColumnNo: "5"
        });

        $.DataTableChildManipulation = function (init, id, parentid, htmurl, editurl, submiturl) {
            var parent_element = $(init).parents('td:last').parent().prev();
            console.log(parent_element);
            var dt = $('#MyTable').DataTable();
            var htmlcomponant = {
                init: init,
                Id: id,
                idx: parentid,
                htmurl: htmurl,
                editurl: editurl,
                submiturl: submiturl,
            };
            if ($(init).hasClass('ui-icon-newwin')) {
                $('<div></div>').PartialCreateDialog({
                    height: 'auto',
                    width: 'auto',
                    form: "#Edit-loanadvrequest",
                    htmlurl: "@Url.Action("GridPartial", "LoanAdvRequest")",
                    state: "open",
                    mode: "View",
                    editurl: "@Url.Action("GridEditData", "LoanAdvRequest")",
                    submiturl: "@Url.Action("GridEditSave", "LoanAdvRequest")",
                    editdata: id,
                    forwarddata: id,
                    returndatafunction: function (returndata) {
                        $.each(returndata.returndata, function (i, k) {
                            $('#LoanAdvanceHead-edit').val(k.LoanAdvanceHead);
                            $('#TotalInstallment-edit').val(k.TotalInstallement);
                            $('[name="IsActive"]').val([k.ISActive]).button().button("refresh");
                            $('#CloserDate-edit').val(k.CloserDate);
                            $('#LoanAccNo-edit').val(k.LoanAccNo);
                            $('#Edit-LoanAccBranch').P2BSelectMenuAppend("@Url.Action("LoanAccBranchDrop")", "", k.LoanAccBranch);

                        });
                    },
                });
            } else if ($(init).hasClass('ui-icon-pencil')) {
                // //debugger
                $('<div></div>').PartialCreateDialog({
                    height: 'auto',
                    width: '35%',
                    form: "#Edit-loanadvrequest",
                    htmlurl: "@Url.Action("GridPartial", "LoanAdvRequest")",
                    state: "open",
                    mode: "Edit",
                    editurl: "@Url.Action("GridEditData", "LoanAdvRequest")",
                    submiturl: "@Url.Action("GridEditSave", "LoanAdvRequest")",
                    editdata: id,
                    forwarddata: id,
                    returndatafunction: function (returndata) {
                        $.each(returndata.returndata, function (i, k) {
                            $('#LoanAdvanceHead-edit').val(k.LoanAdvanceHead);
                            $('#TotalInstallment-edit').val(k.TotalInstallement);
                            $('[name="IsActive"]').val([k.ISActive]).button().button("refresh");
                            $('#CloserDate-edit').val(k.CloserDate);
                            $('#LoanAccNo-edit').val(k.LoanAccNo);
                            $('#Edit-LoanAccBranch').P2BSelectMenuAppend("@Url.Action("LoanAccBranchDrop")", "", k.LoanAccBranch);

                        });
                    },
                    submitfun: function (data) {
                        var row = dt.row(parent_element);
                        if (row.child.isShown()) {
                            parent_element.removeClass('details');
                            row.child.hide();
                        }
                    }
                });
            } else if ($(init).hasClass('ui-icon-trash')) {
                $('<div></div>').PartialCreateDialog({
                    state: "open",
                    mode: "Delete",
                    submiturl: "@Url.Action("Delete")",
                    forwarddata: id,
                    submitfun: function (data) {
                        var row = dt.row(parent_element);
                        if (row.child.isShown()) {
                            parent_element.removeClass('details');
                            row.child.hide();
                        }
                    }
                });
            }
        };

        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }


        $('#Create_Dialog').P2BCreateDialog();

        //Create Function
        $('#Create').on("click", function (event) {
            $.FormReset('#frmSuccessionModel');
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'SuccessionModel', 'open', '@Url.Action("Create")', '#frmSuccessionModel', 'Message :', 'Request Falied :', '#JqGrid', 570, 1140, '', '', function (data) { }, { datatablename: "#MyTable" });
            $('#CreatedDate').TodayDate();
            $('#CreatedDate').attr("readonly", "readonly");
            $('#Modellist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 507, "");
            event.preventDefault();
        });

        $('#Modellist').on('selectmenuchange', function () {
            var value = $("#Modellist option:selected").text();
            $('#Model-table').P2BTransactionTable('#Model-search', '#Case-Model', '@Url.Action("DropdownlistModels")?Modellist=' + value, "");
        });

        $('#Lookup-ModelObjectList').button().on('click', function (event) {
            var value = $("#Modellist option:selected").text();
            var Val = $('#Model-table').P2BGetTableDataonSelectedRow('#Model-table', 1);
            $('.dialog').P2BLookUpModal('@Url.Action("GetModelData")?Val=' + Val + '&Modellist=' + value, '', 'LookupDiv', 'Look Up Data', '#ModelObjectList', 'ModelObjectList', 5, 'ModelObjectList', '#frmSuccessionModel', 'A', '#Remove-Category-DivisionTargetSetting', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });


        $('#Remove-ModelObjectList').button().on('click', function (event) {
            //var a = [], b;
            //a = $('#ModelObjectList').P2BGetTableDataonSelectedRow('#ModelObjectList', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#ModelObjectList').P2BGetTableDataonSelectedRow('#ModelObjectList', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#ModelObjectList', $('#ModelObjectList').val(), 200, 200, '#frmSuccessionModel', '#ModelObjectList');
            event.preventDefault();
        });


        $('#Modellist').selectmenu().selectmenu("menuWidget");

    });
</script>


