@{
    Layout = null;
}

@model P2b.Global.AccessRights
<style>
    .popup-content-label1 {
        width: 151px;
        display: block;
        float: left;
        margin: 1px;
    }
</style>



<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmAccessRights", name = "frmAccessRights" }))
    {
        <div class="row1 content_margine">
            @Html.LabelFor(m => m.ActionName, "ActionName :", new { @class = "popup-content-label1 must" })
            <select class="drop must" name="ActionName-drop" style="width:120px;" id="ActionName-drop">
                <option>-Select-</option>
            </select>
        </div>
        <div class="row1 content_margine horizontal_row1">
            @Html.LabelFor(m => m.IsApproveRejectAppl, "IsApproveRejectAppl :", new { @class = "popup-content-label1 " })
            <span class="popup_radio_button radio_button_div_1">
                <input type="radio" id="ReportingStruct_radio1" name="IsApproveRejectAppl" value="true" /><label for="ReportingStruct_radio1">Yes</label>
                <input type="radio" name="IsApproveRejectAppl" id="ReportingStruct_radio2" value="false" checked="checked"/><label for="ReportingStruct_radio2">No</label>
            </span>
        </div>

        <div class="row1 content_margine horizontal_row1">
            @Html.LabelFor(m => m.IsClose, "IsClose :", new { @class = "popup-content-label1 " })
            <span class="popup_radio_button radio_button_div_1">
                <input type="radio" id="ReportingStruct_radio3" name="IsClose" value="true" /><label for="ReportingStruct_radio3">Yes</label>
                <input type="radio" name="IsClose" id="ReportingStruct_radio4" value="false" checked="checked" /><label for="ReportingStruct_radio4">No</label>
            </span>
        </div>
    <div class="row1 content_margine horizontal_row1">
        @Html.LabelFor(m => m.LvNoOfDaysFrom, "Leave No Of Days From :", new { @class = "popup-content-label1 " })
        @Html.TextBoxFor(m => m.LvNoOfDaysFrom, new { @class = "popup-content-textbox " })
    </div>
    <div class="row1 content_margine horizontal_row1">
        @Html.LabelFor(m => m.LvNoOfDaysTo, "Leave No Of Days To :", new { @class = "popup-content-label1 " })
        @Html.TextBoxFor(m => m.LvNoOfDaysTo, new { @class = "popup-content-textbox " })
    </div>

    }
</div>
<script>
    $(document).ready(function () {
        $('button').button();
        $('.popup_radio_button').controlgroup();

        $('.drop').selectmenu().selectmenu("menuWidget").addClass("overflow");
        $('#ActionName-drop').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 603, "");
    });

</script>
<style>

    /*.icon-row {
        position: relative;
        left: 60px;
        top: -150px;
    }*/

    .popup-content-label {
        width: 133px;
        display: block;
        float: left;
        margin: 1px;
    }

    .popup-content-textbox {
        min-width: 150px;
    }

</style>

