@model P2b.Global.LoginDetails
@{
    Layout = null;
}
<div>
 @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmResetPassword" }))
  {
     <div class="child-div content_margine">
         @Html.LabelFor(e => e.OldPwd, "Old PassWord :", new { @class = "popup-content-label must" })@Html.TextBoxFor(e => e.OldPwd, new { @type = "password", @class = "popup-content-textbox must" })
     </div>
     <div class="child-div content_margine">
         @Html.LabelFor(e => e.NewPwd, "New PassWord :", new { @class = "popup-content-label must" })@Html.TextBoxFor(e => e.NewPwd, new { @type = "password", @class = "popup-content-textbox must" })
        
     </div>
     
    <div class="child-div content_margine">
        <label class="content-label">Confirm Password :</label><input type="password" id="Confrm_password" required/>
    </div>
    <div class="child-div content_margine">

        <label class="popup-content-label">Security Question:</label>
        <select  id="SecQQ" name="SecQQ" style="width:160px;"><option value="0">-Select-</option></select>

    </div>

    @*<div class="child-div content_margine">
        @Html.LabelFor(e => e.SecQ, "Security Question :", new { @class = "content-label" })@Html.TextBoxFor(e => e.SecQ)
    </div>*@
    <div class="child-div content_margine">
        @Html.LabelFor(e => e.SecAns,"Security Answer :",new { @class = "content-label" })@Html.TextBoxFor(e => e.SecAns)
    </div>
    <div class="child-div content_margine">
        @Html.LabelFor(e => e.EmailId, "Email Id : ", new { @class = "content-label" })@Html.TextBoxFor(e => e.EmailId)
    </div>
  }
</div>
<script>
    $(function () {
        $('button').button();
        var FormValidation = { ValidationField: {} };
        if (typeof (Storage) !== "undefined") {
            console.log("webstorage Avaliable");
            localStorage.clear();
           

            $.get('@Url.Action("GetPasswordPolicy", "PasswordPolicy")', function (data) {
                $.each(data, function (i, k) {
                    localStorage.setItem("" + i + "", "" + k + "");
                });
                FormValidation.ValidationField = {
                    minlength: localStorage.getItem("MinPwdLength"),
                    minupchars: localStorage.getItem("MinUpChars"),
                    minlowchars: localStorage.getItem("MinLowChars"),
                    minnonos: localStorage.getItem("MinNoNos"),
                    minsymbol: localStorage.getItem("MinSymbols")
                };
                $('#NewPwd').ValidatePassword(FormValidation.ValidationField);
                if (localStorage.getItem("SecurityQuestion") === "false") {
                    $('#SecQ,#SecAns').parent().hide();
                } else {
                    $('#SecQ,#SecAns').parent().show();
                }
                $('#SecQQ').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 455, "");
            });
            console.log(FormValidation.ValidationField);
        }
        else {
            alert("Webstorage is Not Avaliable");
        }
        var check_confrm_pass = function () {
            var valid;
            if ($('#NewPwd').val() === $('#Confrm_password').val()) {
                return valid=true;
            } else {
                alert("Confirm PassWrod Are Not Match");
                return valid=false;
            }
        };
        $.fn.doval = function () {
         
            var valid;
            var PerformValidation = $('#NewPwd').DoValidation($('#NewPwd'), FormValidation.ValidationField);
            var confirm_pass_val = check_confrm_pass();
            if (PerformValidation == true && confirm_pass_val == true) {
                return valid=true;
            } else {
                return valid=false;
            }
        };
       
        $('#SecQQ').selectmenu().selectmenu("menuWidget");
        //$("#NewPwd").focus(function () {
        //    //alert("Inside focus...");
        //    console.log("Inside focus...");
        //});


    });
</script>
<style>
    .child-div{
        display:inline-block;
    }
    .popup-content-label {
        float: left;
        width: 124px;
        display: block;
    }
    .content-label{
        float:left;
        width:124px;
        display:block;
    }
</style>