@model P2b.Global.ChangePassword
@{
    ViewBag.Title = "Change Password";
}
<script>
    $(function () {
        var dia = $('#createdialog').dialog({
            autoOpen: false,
            height: 400,
            width: 425,
            modal: true,
            beforeClose: function () { true; },
            closeOnEscape: false,
            title: "Change Password",
            buttons: {
                Submit: function (e) {
                    var x = PerformValidations('#frmChangePassword');
                    if (x == true) {
                        var PerformValidation = $('#NewPassword').DoValidation($('#NewPassword'), FormValidation.ValidationField);
                        var confirm_pass_val = check_confrm_pass();
                        if ($('#comp_drop').val() == 0) {
                            alert("Select Company..!");
                            return false;
                        }
                        if (PerformValidation == true && confirm_pass_val == true) {
                            $.ajax({
                                type: "POST",
                                url: "@Url.Action("create", "ChangePassword")",
                                data: $('#frmChangePassword').serialize() + '&capcha_text=' + $("#captcha_code").val(),
                                success: function (data) {
                                    if (data.success == false) {
                                        alert(data.responseText);
                                    } else {
                                        ////debugger;
                                        alert(data.responseText);
                                        dia.dialog('close');
                                        window.location.href = "@Url.Action("index","dashboard")";
                                    }
                                },
                            });

                        }
                    }
                },
                //Cancel: function (e) {
                //    $(this).dialog("close");
                //}
            }
        });
        dia.dialog("open");
        $('#Employee_Id').val('@Request.RequestContext.HttpContext.Session["EmpId"]');
       
        @*var loadCaptcha = function () {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("generateCaptcha", "Utilities")',
                dataType: "json",
                cache: false,
                success: function (data) {
                    $('#capcha_img').attr('src', "data:image/png;base64," + data + "")
                },
                error: function (data) {
                    alert("Error while loading captcha image")
                }
            });
        };
        loadCaptcha();*@
        $('button').button();
        var FormValidation = { ValidationField: {} };
        if (typeof (Storage) !== "undefined") {
            console.log("webstorage Avaliable");
            localStorage.clear();

            $.get('@Url.Action("GetPasswordPolicy", "PasswordPolicy")', function (data) {
                $.each(data, function (i, k) {
                    localStorage.setItem("" + i + "", "" + k + "");
                });
                FormValidation.ValidationField = {
                    minlength: localStorage.getItem("MinPwdLength"),
                    minupchars: localStorage.getItem("MinUpChars"),
                    minlowchars: localStorage.getItem("MinLowChars"),
                    minnonos: localStorage.getItem("MinNoNos"),
                    minsymbol: localStorage.getItem("MinSymbols")
                };
                $('#NewPassword').ValidatePassword(FormValidation.ValidationField);
                if (localStorage.getItem("SecurityQuestion") === "false") {
                    $('#SecurityQuestion,#SecurityAnswer').parent().hide();
                } else {
                    $('#SecurityQuestion,#SecurityAnswer').parent().show();
                }
               
                if (localStorage.getItem("Captcha") === "false") {
                    $('.capcha_content,.capcha_text').parent().hide();
                } else {
                    $('.capcha_content,.capcha_text').parent().show();
                }
                $('#iSecQQ').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 455, "");
            });
        }
        else {
            alert("Webstorage is Not Avaliable");
        }

        $('#capcha_img').on('click', function (e) {
            loadCaptcha();
        });

        var check_confrm_pass = function () {
            var valid;
            if ($('#NewPassword').val() === $('#Confrm_password').val()) {
                return valid = true;
            } else {
                alert("Confirm PassWrod Are Not Match");
                return valid = false;
            }
        };
        $('#iSecQQ').selectmenu().selectmenu("menuWidget");
        $('#EmailId').ForceEmail();
        $('.drop').selectmenu().selectmenu('menuWidget');
        $('#comp_drop').P2BSelectMenuAppend("@Url.Action("Fill_CompanyDrop", "InitialChangePassword")", "", "", "");
       
    });
</script>
<div id="createdialog">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmChangePassword" }))
    {
        <div class="parent_div">
            <div class="child-div">
                @Html.LabelFor(e => e.Company.Code, "Company Code :", new { @class = "content-label" })<select id="comp_drop" name="comp_drop" class="drop" style="width:100px;"><option></option></select>
            </div>
            @*<div class="child-div">
                    @Html.LabelFor(e => e.Company.Name, "Company Name ", new { @class = "content-label" })@Html.TextBoxFor(e => e.Company.Name)
                </div>*@
            <div class="child-div">
                @Html.LabelFor(e => e.Employee.Id, "Employee Code :", new { @class = "content-label must" })@Html.TextBoxFor(e => e.Employee.Id, new { @class = "must", @id = "EmployeeCode", @maxlength = "10" })
            </div>
            <div class="child-div">
                @Html.LabelFor(e => e.OldPassword, "Old Password :", new { @class = "content-label must" })@Html.TextBoxFor(e => e.OldPassword, new { @type = "password", @class = "must" })
            </div>
            <div class="child-div">
                @Html.LabelFor(e => e.NewPassword, "New Password :", new { @class = "content-label must" })@Html.TextBoxFor(e => e.NewPassword, new { @type = "password", @class = "must" })
            </div>
            <div class="child-div">
                <label class="content-label">Confirm Password</label><input type="password" id="Confrm_password" />
            </div>
            <div class="child-div">

                <label class="content-label">Security Question:</label>
                <select id="iSecQQ" name="iSecQQ" style="width:160px;"><option value="0">-Select-</option></select>

            </div>

            @*<div class="child-div">
                @Html.LabelFor(e => e.SecurityQuestion, "Security Question :", new { @class = "content-label" })@Html.TextBoxFor(e => e.SecurityQuestion)
            </div>*@
            <div class="child-div">
                @Html.LabelFor(e => e.SecurityAnswer, "Security Answer :", new { @class = "content-label" })@Html.TextBoxFor(e => e.SecurityAnswer)
            </div>
            <div class="child-div">
                @Html.LabelFor(e => e.EmailId, "Email Id :", new { @class = "content-label" })@Html.TextBoxFor(e => e.EmailId)
            </div>
            <div class="child-div">
                <label style="float:left;display:block;">Captcha Image :</label>
                <div style="" class="capcha_content">
                    <img id="capcha_img" title="Refresh Captcha Image" style="width:163px; height: 50px;" />
                </div>
            </div>
            <div class="child-div">
                <input type="text" class="capcha_text" id="captcha_code" title="Write Captcha Code" placeholder="Enter Captcha Text Here" />
            </div>
        </div>
    }
</div>
<style>
    .parent_div {
        float: left;
        width: 368px;
    }

    .content-label {
        float: left;
        width: 130px;
    }

    .child-div {
        display: inline-block;
        margin: 1px;
        width: 400px;
    }

    .button-div {
        padding-top: 2px;
    }

    .capcha_content {
        width: 163px;
        height: 50px;
        border-color: grey;
        border-style: solid;
        border-width: thin;
        margin-left: 130px;
    }

    .capcha_text {
        margin-left: 129px;
    }
</style>
