@{
    Layout = null;
}
<head>
    <title></title>
    <style>
        .downloadformate-class {
            font-size: 1.5em;
            display: block;
            width: auto;
        }

            .downloadformate-class > a {
                color: blue;
            }

        #preview-table-id tr:first-child {
        }

        .form-group {
            padding: 2px;
        }

        .h2-class {
            float: left;
            font-size: 17px;
            font-weight: bold;
            padding: 2px 6px;
        }

        .upload-file {
            float: left;
        }

        .preview-heading {
            text-align: left;
            font-weight: bold;
        }

        .log-div-class span {
            width: 100%;
            display: inline-block;
            padding: 4px 3px;
        }

        .log-div-class {
            float: left;
            display: block;
        }

        .row1-label {
            display: block;
            float: left;
            width: 250px;
        }

        .row1 {
            display: block;
            float: left;
            width: 100%;
            padding: 2px;
        }

        .preview-table-class-selected {
            background-color: #18A689;
        }

        .responsetext-class {
            color: #18A689;
            font-weight: bold;
        }

        .preview-tr {
            cursor: pointer;
        }

            .preview-tr:hover {
                background-color: #efefef;
            }

        .preview-table-class th {
            padding: 15px;
            text-align: center;
        }

        .preview-table-class {
            border: 1px solid #ddd;
            text-align: left;
            border-collapse: collapse;
            width: 100%;
        }

        .preview-table-class, td {
            padding: 15px;
            border: 1px solid #ddd;
            text-align: left;
        }

        .preview-table-div {
            /*! float: left; */
            display: block;
            margin: 0 auto;
            padding: 3px 0px;
        }

        .icon-row {
            position: relative;
            left: -45px;
            top: -150px;
        }

        #Lookup_FinancialYear_Calendar {
            left: 280px;
            top: 20px;
        }

        #BusinessType-button {
            font-size: 9px;
            padding-top: 1px;
            font-weight: bold;
        }

        .popup-content-label {
            display: block;
            float: left;
            width: 100px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 150px;
        }

        .row3 {
            width: 853px;
            margin-top: inherit;
        }

        .row4 {
            position: absolute;
            top: 294px;
            width: 400px;
        }

        .popup-content-textbox-long {
            margin-bottom: 1px;
            width: 290px;
        }


        .row2 {
            width: 853px;
            display: inline-flex;
        }

        .date-picker {
            z-index: 999;
        }

        .employeeselectiondiv {
            float: left;
        }

        .addons {
            height: 246px;
        }

        .section_Method {
            border: 1px solid rgba(207, 207, 207, 0.91);
            border-radius: 10px;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .section_Method_AnnulaSalR {
            border: 1px solid rgba(207, 207, 207, 0.91);
            border-radius: 10px;
            margin-top: 15px;
            margin-bottom: 15px;
            height: 250px;
        }


        .transactiontablenew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            /*width: 200px;*/
            display: block;
            overflow: auto;
            height: 500px;
            border-collapse: collapse;
        }

        .transactiondivnew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            width: 507px;
            border-radius: 5px;
            height: 32px;
        }

            .transactiondivnew > div {
                display: inline-block;
                margin: 0 auto;
                padding: 4px;
            }

                .transactiondivnew > div > input {
                    box-sizing: initial;
                    display: inline-block;
                    margin: 0 auto;
                    width: 108px;
                }

        .transactiontablenew th, .transactiontablenew td {
            background: rgba(246, 246, 246, 0.64) none repeat scroll 0 0;
            padding: 5px;
            border-bottom: 1px solid #c5c5c5;
            border-right: 1px solid #c5c5c5;
            text-align: center;
            color: rgba(114, 113, 113, 0.9);
        }

            .transactiontablenew th:nth-child(1) > input, .transactiontablenew td:nth-child(1) > input {
                margin: 0 auto;
            }

            .transactiontablenew th:nth-child(2), .transactiontablenew td:nth-child(2) {
                height: 100%;
                width: 100%;
            }

        .transactiontablenew tr:hover {
            cursor: pointer;
            background: #EEEEEE none repeat scroll 0 0;
        }

        .section1_Leave {
            display: block;
            border: 1.5px solid rgba(207, 207, 207, 0.91);
            height: 600px;
            width: 534px;
            margin: 4px auto;
            position: absolute;
        }

        .section2_Leave {
            display: block;
            border: 1px solid #ddd;
            height: 400px;
            width: 581px;
            margin: 5px 4px;
            position: absolute;
            left: 546px;
        }
    </style>
</head>
<div class="dialog1">
    <div title="LookUp Data">
        <div class="lookupdiv1" id="lookup1"></div>
    </div>
    <div id="pageNavPosition1">

    </div>
</div>
<form method="post" enctype="multipart/form-data" id="frmjsonupload">
    <input hidden id="valid_on_exit" />
    <span class="downloadformate-class">
        To Download Format <a id="ancher-download-format" href="#">Click here..!</a>
    </span>
    <div class="">
        <span class="h2-class content_margine">Upload File</span>
        <input type="file" id="dataFile" name="upload" class="upload-file content_margine" />
    </div>

    <div class="form-group">
        <button value="Upload" id="Upload" class="btn btn-default">Upload</button>
        <button value="Excute" id="Excute" class="btn btn-default">Execute</button>
        <input type="text" id="txtPayMonth1" name="txtPayMonth1" class="date-picker" />
        <input type="text" id="txtPath" name="txtPath" />
        <button value="CheckIsClose" id="CheckIsClose" class="btn btn-default">CheckIsClose</button>
        @*<button data-p2btooltip="Lookup Employee Name" class="popup-content-drop-icon-lookup" id="Lookup-EmpName-FName">
                    <span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span>
                </button>
            <input type="text" id="AppendNameHere1" />*@
    </div>
</form>
<div id="preview" class="preview-table-div"></div>
<input type="text" name="TableName" id="TableName" style="display:none" />
<div id="append_div"></div>
<div id="ajax-log-div">

    <div id="log-div" class="log-div-class"></div>
</div>
<script>
    $(document).ready(function () {


    });

    $(function () {

        //imp
        //  $('.dialog').P2BLookUpModal('@@Url.Action("GetEmp", "ResetPassword")', '', 'LookupDiv', ' Look Up Data', '', '', 5, '', '#frmjsonupload', 'N', '', 'Lookup_table', 'PageNavPosition');
        //$('#preview-table-id tr.preview-table-class-selected td[data-type="EmpCode"]').html("053");  for selected
        // $('#preview-table-id tr.preview-tr td[data-type="EmpCode"]').html("0532");
        //$('#preview-table-id tr.preview-table-class-selected td[data-type="EmpCode"]').attr('data-id', 'newvalue');   to set data id
        // $('#forselected').find('td[data-id="null"]').attr('Id', 'test');

        $('button').button();
        $("#Lookup-EmpName-FName").button('enable');
        $('#txtPayMonth1').MonthYearPicker();
        $('#txtPayMonth1').fadeOut();
        $('#CheckIsClose').fadeOut();
        $('#txtPath').fadeOut();
        //$('#EmpLoad_Display').prop('hidden', true);  vr
        $('#dataFile').on('change', function (e) {
            $('#preview-table-id,#log-div,#append_div').empty();
            var aa = e.target.files[0].name.split('.')[0];
            var aa11 = $('#dataFile').val();
            $('#TableName').val(aa);
            $('#txtPath').val(aa11);
            ////debugger;
            if ($('#TableName').val() == "LoanAdvRequest") {
                $('#txtPayMonth1').fadeIn();
                $('#CheckIsClose').fadeIn();
                $('#txtPath').fadeIn();
            }
            else if ($('#TableName').val() == "LOAN") {
                $('#txtPayMonth1').fadeIn();
                $('#CheckIsClose').fadeOut();
                $('#txtPath').fadeIn();
            } else {
                $('#txtPayMonth1').fadeOut();
                $('#CheckIsClose').fadeOut();
                $('#txtPath').fadeOut();
            }
            $('#frmlookup').trigger('reset');
        });

        $('#ancher-download-format').on('click', function (e) {
            var ControlName = window.location.pathname.split('/')[window.location.pathname.split('/').length - 1];
            if (ControlName)
                window.location = '@Url.Action("DownloadFile", "Excelmapping")?fileName=' + ControlName;
            e.preventDefault();
        });

        function ajaxloader(cameform) {
            $('<div style="width:100%;height:100%;"><i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw ajax_loder" style="color: rgba(27, 187, 173, 0.93);" aria-hidden="true"></i></div>').appendTo(cameform);
        };
        function ajaxloaderv2(cameform) {
            $('<div style="width: 100%;height: 100%;position: fixed;top: 0;left: 0;background-color: #0000;z-index:998;"><i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw ajax_loder" style="color: rgba(27, 187, 173, 0.93);z-index:999" aria-hidden="true"></i></div>').appendTo(cameform);
        };
        var ajaxLoderRemove = function (init) {
            if (!init) {
                $('.ajax_loder').parents('div').remove();
            } else {
                $(init).find("div .ajax_loder").remove();
            }
            $(window).off('beforeunload');
        };

        function ajaxloaderv2(cameform) {
            $('<a><i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw ajax_loder" style="color: rgba(27, 187, 173, 0.93);z-index:999;" aria-hidden="true"></i></a>').appendTo(cameform);
        };

        var UploadFileFun = function (tempExcel) {
            var TableName = $('#TableName').val();

            $.ajax({
                url: "@Url.Action("Upload","JsonUpload")?PaymonthforLoanadv=" + $("#txtPayMonth1").val() + "&Type=chk&loanfilepath=" + $("#txtPath").val() + "",
                type: "POST",
                data: tempExcel,
                beforeSend: function () {
                    ajaxloaderv2('body');
                },
                cache: false,
                timeout: 600000,
                datatype: "json",
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false,
                success: function (data) {
                    $.getJSON("@Url.Action("GetMapping", "ExcelMapping")", { FileName: $('#TableName').val() }, function (mapdata) {
                        console.log();
                        if (mapdata.success == true) {
                            ////debugger;
                            var mapData = JSON.parse(mapdata.obj.Mapping);
                            // ////debugger;
                            var htm = "<form id='frmlookup' method='post' name='frmlookup'><div class='row1'><label class='row1-label'>" + "RowNo" + "</label><input type='text' name=" + "rowno" + " /></div>";
                            var jsondata = JSON.parse(data.json);
                            //   console.log(jsondata);
                            var lenOfinput = 0;
                            $.each(mapData, function (i, k) {
                                htm += "<div class='row1'><label class='row1-label'>" + k.name + "</label><input type='text' name=" + k.name + " /></div>";
                                lenOfinput++;
                            });
                            htm + "</form>";
                            $('#append_div').html(htm);
                            var datahtm = "";
                            if (TableName == "LoanAdvRequest") {
                                datahtm = "<table class='preview-table-class' id='preview-table-id'><th>New Loan Request</th><tbody>";
                            } else {
                                datahtm = "<table class='preview-table-class' id='preview-table-id'><th>Preview Data</th><tbody>";
                            }
                            var count = 1;
                            var l = 0;
                            // console.log(mapData);
                            datahtm += "<tr>";
                            $.each(mapData, function (i, k) {
                                datahtm += "<td class='preview-heading'>" + k.name + "</td>";
                            });
                            datahtm += "</tr><tr>";
                            $.each(mapData, function (i, k) {
                                $.each(jsondata[0], function (c, j) {

                                    if (k.value == j) {
                                        $.each(jsondata, function (l, m) {
                                            if (l > 0) {

                                                var aat = jsondata[l][c];
                                                var aa = "";
                                                if (/\s/g.test(aat)) {
                                                    aa = aat.replace(/\s+/g, '#');
                                                } else {
                                                    aa = aat;
                                                }
                                                datahtm += "<td data-id=" + aa + " data-type=" + j + ">" + aat + "</td>";
                                            }
                                        });
                                    }
                                });
                            });
                            console.log(lenOfinput);
                            $('#preview').html(datahtm + "</tbody></table>");
                            var $td = $('#preview').find('tr:eq(2)').find('td').toArray();
                            var htm = "";
                            var tempdiv = "";
                            var aa = [];
                            $.each(mapData, function (i, k) {
                                aa.push($.grep($td, function (n, i) {
                                    return $(n).attr('data-type') == k.value;
                                }));
                            });
                            var temp = [];
                            for (var j = 0; j < aa[0].length; j++) {
                                for (var i = 0; i < aa.length; i++) {
                                    temp.push(aa[i][j]);
                                }
                            }
                            var size = aa.length, arrays = [], tdhtm = "", trhtm = "";
                            while (temp.length > 0)
                                arrays.push(temp.splice(0, size));
                            for (var i = 0; i < arrays.length; i++) {
                                for (var j = 0; j < arrays[i].length; j++) {
                                    tdhtm += $(arrays[i][j])[0].outerHTML;
                                }
                                trhtm += "<tr class='preview-tr'>" + tdhtm + "</tr>";
                                tdhtm = "";
                            }
                            //console.log(trhtm);
                            $('#preview').find('tr:eq(2)').remove();
                            var tableheader = $('#preview').find('tr:eq(1)');
                            $(trhtm).insertAfter(tableheader);
                            tableheader.prepend("<td class='preview-heading'>RowNo</td>");
                            var $tr = $('#preview').find('tr:gt(1)').toArray();
                            $.each($tr, function (i, k) {
                                $(k).prepend('<td data-id=' + i + '>' + i + '</td>');
                            });
                            $('#preview-table-id').find('tr:eq(0) th').attr('colspan', lenOfinput);
                        } else {
                            console.log(mapdata);
                        }
                    });
                },
                error: function (data) {
                    $('<div></div>').P2BMessageModalDialog('ui-icon-alert', data.responseText);
                    $('#emp_Id').val("");
                }, complete: function (data) {
                    
                    $('.ajax_loder').remove();
                  
                }
            });
        };
        var MappingFunction = function (tempExcel) {
            $('<div></div>').PartialCreateDialog({
                height: '500',
                width: '1000',
                form: '#frmlookup',
                title: 'Mapping',
                htmlurl: '@Url.Action("PARTIAL","ExcelMapping")',
                state: "open",
                mode: 'edit',
                editurl: null,
                submiturl: function (funreturndata) {
                    var temp = $('#frmExcelMapping').serializeArray();
                    var json = [];
                    $.each(temp, function (i, k) {
                        if (k.value != "") {
                            json.push(temp[i]);
                        }
                    });
                    $.ajax({
                        method: "POST",
                        url: "@Url.Action("Update", "ExcelMapping")",
                        data: JSON.stringify(json),
                        dataType: 'json',
                        contentType: 'application/json; charset=UTF-8',
                        success: function (data) {
                            funreturndata(data);
                            if (data.success == true) {
                                UploadFileFun(tempExcel);
                            }
                        },
                        complete: function (xhr) {
                            if (xhr.status != 200) {
                                funreturndata(data);
                            }
                        }
                    });
                },
                editdata: 'a',
                forwarddata: 'a',
                returndatafunction: function (data) {
                    console.log(data);
                },
                submitfun: function (data) {
                    console.log(data);
                }
            });
        };

        $('#Upload').on('click', function (e) {
            var TableName = $('#TableName').val();
            $('#preview-table-id,#log-div,#append_div').empty();
            if ($('#dataFile').val()) {
                ////debugger;
                var tempExcel = new FormData($('#frmjsonupload')[0]);
                if (TableName == "LoanAdvRequest" || TableName == "LOAN") {
                    var showerror = false;
                    if ($("#txtPayMonth1").val() == "" || $("#txtPayMonth1").val() == null) {
                        alert("Select paymonth");
                        return false;
                    }

                    var chkifsalexistornot = $.ajax({
                        url: "@Url.Action("CheckSalaryOfMonth", "LoanAdvRequest")?Paymonth=" + $("#txtPayMonth1").val(),
                        type: "POST",
                        success: function (data) {
                            console.log(data);
                            if (data.status == false) {
                                alert(data.responseText);
                                showerror = true;
                            }
                        }
                    });

                    chkifsalexistornot.done(function () {
                        if (showerror == true) {
                            return false;
                        }
                        $.ajax({
                            url: "@Url.Action("FindMapping","ExcelMapping")",
                            method: "POST",
                            data: { FileName: $('#TableName').val() },
                            beforesend: function () {
                                $('.ui-dialog-buttonpane').find('button:contains("Submit")').button('disable').addClass('submitbtndisable');
                                ajaxloaderv2('body');
                            },
                            success: function (data) {
                                $('.ui-dialog-buttonpane').find('button:contains("Submit")').button('enable').removeClass('submitbtndisable');
                                ajaxLoderRemove();
                                if (data.success == true && data.data == "1") {
                                    //exits ask to edit For Confirm
                                    if (confirm("" + data.responseText + "\n Did you continue with this Mapping.?") == true) {
                                        UploadFileFun(tempExcel);
                                    } else {
                                        MappingFunction(tempExcel);
                                    }

                                } else if (data.success == true && data.data == "0") {
                                    //not Found
                                    MappingFunction(tempExcel);
                                }
                            }
                        });
                    });

                }
                else {
                    $.ajax({
                        url: "@Url.Action("FindMapping","ExcelMapping")",
                        method: "POST",
                        data: { FileName: $('#TableName').val() },
                        success: function (data) {
                            if (data.success == true && data.data == "1") {
                                //exits ask to edit For Confirm
                                if (confirm("" + data.responseText + "\n Did you continue with this Mapping.?") == true) {
                                    UploadFileFun(tempExcel);

                                } else {
                                    MappingFunction(tempExcel);
                                }

                            } else if (data.success == true && data.data == "0") {
                                //not Found
                                MappingFunction(tempExcel);
                            }
                        }
                    });
                }

            }
            e.preventDefault();
        });

        $('#CheckIsClose').on('click', function (e) {
            ////debugger;
            var tempExcel = new FormData($('#frmjsonupload')[0]);
            $('#preview-table-id,#log-div,#append_div').empty();

            if ($("#txtPayMonth1").val() == "" || $("#txtPayMonth1").val() == null) {
                alert("Select paymonth");
                return false;
            }
            var showerror1 = false;
            var chkifsalexistornot = $.ajax({
                url: "@Url.Action("CheckSalaryOfMonth", "LoanAdvRequest")?Paymonth=" + $("#txtPayMonth1").val(),
                type: "POST",
                success: function (data) {
                    console.log(data);
                    if (data.status == false) {
                        alert(data.responseText);
                        showerror1 = true;
                    }
                }
            });

            chkifsalexistornot.done(function () {
                if (showerror1 == true) {
                    return false;
                }
                $.ajax({
                    url: "@Url.Action("CheckIsQuit", "JsonUpload")?Paymonth=" + $("#txtPayMonth1").val(),
                    type: "POST",
                    data: tempExcel,
                    cache: false,
                    timeout: 600000,
                    datatype: "json",
                    enctype: 'multipart/form-data',
                    processData: false,
                    contentType: false,
                    beforeSend: function () {
                        $('.ui-dialog-buttonpane').find('button:contains("Submit")').button('disable').addClass('submitbtndisable');
                        ajaxloaderv2('body');
                    },
                    success: function (data) {
                        $('.ui-dialog-buttonpane').find('button:contains("Submit")').button('enable').removeClass('submitbtndisable');
                        ajaxLoderRemove();
                        $.getJSON("@Url.Action("GetMapping", "ExcelMapping")", { FileName: $('#TableName').val() }, function (mapdata) {
                            console.log();
                            if (mapdata.success == true) {
                                var mapData = JSON.parse(mapdata.obj.Mapping);
                                ////debugger;
                                var htm = "<form id='frmlookup' method='post' name='frmlookup'><div class='row1'><label class='row1-label'>" + "RowNo" + "</label><input type='text' name=" + "rowno" + " /></div>";
                                var jsondata = JSON.parse(data.json);
                                //   console.log(jsondata);
                                var lenOfinput = 0;
                                $.each(mapData, function (i, k) {
                                    htm += "<div class='row1'><label class='row1-label'>" + k.name + "</label><input type='text' name=" + k.name + " /></div>";
                                    lenOfinput++;
                                });
                                htm + "</form>";
                                $('#append_div').html(htm);
                                var datahtm = "<table class='preview-table-class' id='preview-table-id'><th>Close EMI</th><tbody>";
                                var count = 1;
                                var l = 0;
                                // console.log(mapData);
                                datahtm += "<tr>";
                                $.each(mapData, function (i, k) {
                                    datahtm += "<td class='preview-heading'>" + k.name + "</td>";
                                });
                                datahtm += "</tr><tr>";
                                $.each(mapData, function (i, k) {
                                    $.each(jsondata[0], function (c, j) {

                                        if (k.value == j) {
                                            $.each(jsondata, function (l, m) {
                                                if (l > 0) {

                                                    var aat = jsondata[l][c];
                                                    var aa = "";
                                                    if (/\s/g.test(aat)) {
                                                        aa = aat.replace(/\s+/g, '#');
                                                    } else {
                                                        aa = aat;
                                                    }
                                                    datahtm += "<td data-id=" + aa + " data-type=" + j + ">" + aat + "</td>";
                                                }
                                            });
                                        }
                                    });
                                });
                                console.log(lenOfinput);
                                $('#preview').html(datahtm + "</tbody></table>");
                                var $td = $('#preview').find('tr:eq(2)').find('td').toArray();
                                var htm = "";
                                var tempdiv = "";
                                var aa = [];
                                $.each(mapData, function (i, k) {
                                    aa.push($.grep($td, function (n, i) {
                                        return $(n).attr('data-type') == k.value;
                                    }));
                                });
                                var temp = [];
                                for (var j = 0; j < aa[0].length; j++) {
                                    for (var i = 0; i < aa.length; i++) {
                                        temp.push(aa[i][j]);
                                    }
                                }
                                var size = aa.length, arrays = [], tdhtm = "", trhtm = "";
                                while (temp.length > 0)
                                    arrays.push(temp.splice(0, size));
                                for (var i = 0; i < arrays.length; i++) {
                                    for (var j = 0; j < arrays[i].length; j++) {
                                        tdhtm += $(arrays[i][j])[0].outerHTML;
                                    }
                                    trhtm += "<tr class='preview-tr'>" + tdhtm + "</tr>";
                                    tdhtm = "";
                                }
                                //console.log(trhtm);
                                $('#preview').find('tr:eq(2)').remove();
                                var tableheader = $('#preview').find('tr:eq(1)');
                                $(trhtm).insertAfter(tableheader);

                                tableheader.prepend("<td class='preview-heading'>RowNo</td>");
                                var $tr = $('#preview').find('tr:gt(1)').toArray();
                                $.each($tr, function (i, k) {
                                    $(k).prepend('<td data-id=' + i + '>' + i + '</td>');
                                });
                                $('#preview-table-id').find('tr:eq(0) th').attr('colspan', lenOfinput);
                            } else {
                                console.log(mapdata);
                            }
                        });
                    }
                });
            });

            e.preventDefault();
        });
        //vr
        var RowNoName11 = "";
        $(document).on('click', '.preview-tr', function (e) {
            var init = $(e.target).parent('tr');
            var tablename = $('#TableName').val();
            var chkName = $(e.target).attr("data-type");
            ////debugger;
            if (init.hasClass('preview-table-class-selected')) {
                if (tablename == "LoanAdvRequest") {
                    $('#preview-table-id').find('td[id="nameofit"]').removeAttr('Id', 'nameofit');
                    console.log($(e.target));
                    //if (chkName == "EmpCode") {

                    //}
                }
                init.removeClass('preview-table-class-selected');
            } else {
                init.addClass('preview-table-class-selected');
                if (tablename == "LoanAdvRequest") {
                    // $(init).find('td[data-id="null"]').attr('IdForSelected', '');
                    //$(init).find('td[data-id="null"]').attr('Id', 'nameofit');
                    if (chkName == "EmpCode") {
                        $('#preview-table-id').find('td[id="nameofit"]').removeAttr('Id', 'nameofit');
                        $(e.target).attr('Id', 'nameofit');
                        var RowNoName = 'AppendName' + $(e.target).siblings(":first").text();
                        $(e.target).html("<input type='text' readonly id='" + RowNoName + "' name='" + RowNoName + "'>");

                        // ////debugger;
                        //console.log($(e.target).attr("data-type"));
                        //if ( == "EmpCode") {
                        //AppendNameHere1
                        RowNoName11 = '#' + RowNoName;
                        $('.dialog1').AddDataToTextbox({
                            appendTo: RowNoName11,
                            appendToTextbox: true,
                            lookupurl: "@Url.Action("GetEmp", "ResetPassword")",
                            NoOfRecordToShow: "10",
                            setnameofthelookupbyppage: "EmpName_FName-lookup",
                            LookupDiv: "lookupdiv1",
                            lookuppagename: "lookup1",
                            appendToId: RowNoName,
                            readonly: true,
                            pagename: "pageNavPosition1"
                        });

                        //  $('.dialog').P2BLookUpModal('@@Url.Action("GetEmp", "ResetPassword")', '', 'LookupDiv', ' Look Up Data', '', '', 5, '', '#frmjsonupload', 'N', '', 'Lookup_table', 'PageNavPosition');
                        event.preventDefault();

                        var emp1 = $('#' + RowNoName + '').val().split(',')[0];
                        var EmpFetched = emp1.split('Code : ')[1]
                        $(e.target).attr('data-id', EmpFetched);

                    }
                    //}
                }
            }
            ///m
            //$.each($('.preview-tr').toArray(), function (i, k) {
            //    $(k).not(init).removeClass('preview-table-class-selected');
            //});
            var $tr = $(this).find('td').toArray();
            var $input = $('#append_div').find('input').toArray();
            if ($tr.length == $input.length) {
                for (var i = 0; i < $tr.length; i++) {
                    $($input[i]).val($($tr[i]).attr('data-id'));
                }
            }
            e.preventDefault();
            $('#AppendName1').on('input', function () {
                alert('gh');
                console.log(e);
            });

            $(RowNoName11).on('change input propertychange paste', 'input', function (e) {
                alert('gh');
                console.log(e);
                // Check input( $( this ).val() ) for validity here
            });
        });


        var ControlName = window.location.pathname.split('/')[window.location.pathname.split('/').length - 1];
        var dia = $('#ajax-log-div').dialog({
            autoOpen: false,
            width: '600',
            height: '500',
            modal: true,
            title: "Ajax Logs",
            beforeClose: function () {
                $('#log-div').empty();
            },
            closeOnEscape: false,
            open: function (event, ui) { },
            buttons: {
                Ok: function () {
                    $(this).dialog('close');
                },
                Export: function () {
                    var b = $('div#log-div span').filter(function (i, k) {
                        var match = 'rgb(255, 0, 0)';
                        return ($(k).css('color') == match);
                    }).toArray();
                    var arr = [];
                    var str = "";

                    for (var i = 0; i < b.length; i++) {
                        var td = $('#preview').find('tr:gt(1):eq(' + $(b[i]).attr('id') + ')').find('td').toArray();
                        var temmp_str = "&"
                        for (var j = 0; j < td.length; j++) {
                            temmp_str += " " + $(td[j]).attr('data-type') + "-->" + $(td[j]).attr('data-id');
                        }
                        str += temmp_str;
                    }
                    var controllername = window.location.pathname.split("/")[window.location.pathname.split("/").length - 1];
                    $.post("@Url.Action("GenrateErrorFile")", { data: str, name: controllername }, function (data) {
                        window.location = '@Url.Action("DownloadFile")?name=' + controllername;

                    });
                    // console.log(str);
                }
            }
        });
        $('#Excute').on('click', function (e) {
            var $tr;
            var aa = $('#preview').find('tr:gt(1).preview-table-class-selected');
            if (aa.length > 0) {
                $tr = $('#preview').find('tr:gt(1).preview-table-class-selected').toArray();
            } else {
                $tr = $('#preview').find('tr:gt(1)').toArray();
            }
            if ($tr.length > 0) {
                $('#log-div').empty();
                for (var j = 0; j < $tr.length; j++) {
                    var $td = $($tr[j]).find('td').toArray();
                    var $input = $('#append_div').find('input').toArray();
                    if ($td.length == $input.length) {
                        for (var i = 0; i < $td.length; i++) {

                            $($input[i]).val($($td[i]).attr('data-id'));
                        }
                    }
                    $.ajax({
                        url: "@Url.Action("ExcuteAll","JsonUpload")",
                        data: $('#frmlookup').serialize() + "&ControlName=" + ControlName + "&PaymonthforLoanadv=" + $("#txtPayMonth1").val(),
                        method: "POST",
                        beforeSend: function () {
                            var row_id = $('#frmlookup').find('input:eq(0)').val();
                            $('#log-div').append("<span data-id='" + j + "' id=" + row_id + " >" + j + "-->" + this.data + "</span>");
                            if (!$('#ajax-log-div').dialog('isOpen')) $('#ajax-log-div').dialog('open');
                        },
                        success: function (data) {
                            if (data.success == false) {
                                var span_div = $('#log-div').find('span#' + data.data + '');
                                span_div.css({ "color": "red" });
                                span_div.html(span_div.html() + "--><span class='responsetext-class'>" + data.responseText + "</span>");
                            } else {
                                var span_div = $('#log-div').find('span#' + data.data + '');
                                span_div.html(span_div.html() + "--><span class='responsetext-class'>" + data.responseText + "</span>");
                            }
                        },
                        complete: function (data) {
                            if (data.status != 200) {
                                var row_id = $('#frmlookup').find('input:eq(0)').val();
                                var span_div = $('#log-div').find('span#' + row_id + '');
                                span_div.html(span_div.html() + "--><span class='responsetext-class'>" + data.status + "</span>");
                            }
                        }
                    });
                }
            }
            e.preventDefault();
        });
    });
</script>
