@{
    Layout = null;
}

@model P2b.Global.ReportingStruct

<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmReportingStruct", name = "frmReportingStruct" }))
    {
        <div class="row1 content_margine">
            @Html.LabelFor(m => m.RSName, "RSName :", new { @class = "popup-content-label must" })
            @Html.TextBoxFor(m => m.RSName, new { @class = "popup-content-textbox " })
        </div>
        @*<div class="row1 content_margine horizontal_row1" id="radio_1">
                <label>Select one:</label>
                <span class="popup_radio_button radio_button_div_1">
                    <input type="radio" id="Geo_radio" name="GeoR" value="a" /><label for="Geo_radio" >Geo</label>
                    <input type="radio" name="FunR" id="Fun_radio" value="b" /><label for="Fun_radio">Fun</label>
                    <input type="radio" name="RoleR" id="Role_radio" value="c" /><label for="Role_radio">Role</label>
                </span>
            </div>*@
        <div id="Geo_Hide">
            <div class="row1 content_margine horizontal_row1">
                @Html.LabelFor(m => m.GeographicalAppl, "GeographicalAppl :", new { @class = "popup-content-label " })
                <span class="popup_radio_button radio_button_div_1">
                    <input type="radio" id="ReportingStruct_radio1" name="GeographicalAppl" value="true" /><label for="ReportingStruct_radio1">Yes</label>
                    <input type="radio" name="GeographicalAppl" id="ReportingStruct_radio2" value="false" /><label for="ReportingStruct_radio2">No</label>
                </span>
            </div>
            <div class="row1 content_margine">
                @Html.LabelFor(m => m.GeoGraphList, "GeoGraphList :", new { @class = "popup-content-label" })
                <select class="drop" name="GeoGraphList-drop" style="width:120px;" id="GeoGraphList-drop">
                    <option>-Select-</option>
                </select>
            </div>
        </div>

        <div id="Fun_Hide">
            <div class="row1 content_margine horizontal_row1">
                @Html.LabelFor(m => m.FunctionalAppl, "FunctionalAppl :", new { @class = "popup-content-label " })
                <span class="popup_radio_button radio_button_div_1">
                    <input type="radio" id="ReportingStruct_radio3" name="FunctionalAppl" value="true" /><label for="ReportingStruct_radio3">Yes</label>
                    <input type="radio" name="FunctionalAppl" id="ReportingStruct_radio4" value="false" /><label for="ReportingStruct_radio4">No</label>
                </span>
            </div>
            <div class="row1 content_margine">
                @Html.LabelFor(m => m.GeoFuncList, "GeoFuncList :", new { @class = "popup-content-label" })
                <select class="drop" name="GeoFuncList-drop" style="width:120px;" id="GeoFuncList-drop">
                    <option>-Select-</option>
                </select>
            </div>
        </div>

        <div id="Role_Hide">
            <div class="row1 content_margine horizontal_row1">
                @Html.LabelFor(m => m.RoleBasedAppl, "RoleBasedAppl :", new { @class = "popup-content-label " })
                <span class="popup_radio_button radio_button_div_1">
                    <input type="radio" id="ReportingStruct_radio5" name="RoleBasedAppl" value="true" /><label for="ReportingStruct_radio5">Yes</label>
                    <input type="radio" name="RoleBasedAppl" id="ReportingStruct_radio6" value="false" /><label for="ReportingStruct_radio6">No</label>
                </span>
            </div>
            <div class="row1 content_margine">
                @Html.LabelFor(m => m.FuncStruct, "FuncStruct :", new { @class = "popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="FuncStructlist">
                        <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row" style="margin-left: -17px;">
                    <button data-p2btooltip="Select FuncStruct" class="  popup-content-icon-lookup" id="Lookup-FuncStruct-ReportingStruct"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="remove FuncStruct" class="  popup-content-icon-remove" id="Remove-FuncStruct-ReportingStruct"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>
        </div>

        <div class="row1 content_margine horizontal_row1">
            @Html.LabelFor(m => m.IndividualAppl, "IndividualAppl :", new { @class = "popup-content-label " })
            <span class="popup_radio_button radio_button_div_1">
                <input type="radio" name="IndividualAppl" id="ReportingStruct_radio7" value="true" /><label for="ReportingStruct_radio7">Yes</label>
                <input type="radio" name="IndividualAppl" id="ReportingStruct_radio8" value="false" /><label for="ReportingStruct_radio8">No</label>
            </span>
        </div>
        <div class="row1 content_margine">
            @Html.LabelFor(m => m.BossEmp, "BossEmp :", new { @class = "popup-content-label" })
            <div class="popup-content-table">
                <table class="lookuptableselected" id="BossEmplist">
                    <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                </table>
            </div>
            <div class="icon-row" style="margin-left: -17px;">
                <button data-p2btooltip="Select FuncStruct" class="  popup-content-icon-lookup" id="Lookup-BossEmp-ReportingStruct"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                <button data-p2btooltip="remove FuncStruct" class="  popup-content-icon-remove" id="Remove-BossEmp-ReportingStruct"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
            </div>
        </div>
    }
</div>
<script>
    $(document).ready(function () {
        $('button').button();
        $('.popup_radio_button').controlgroup();

        //$('#Geo_Hide, #Fun_Hide,#Role_Hide').fadeOut();

        //$('#Role_radio').click(function (e) {
        //    $('#Geo_Hide, #Fun_Hide').fadeOut('slow', function () {
        //        $('#Role_Hide').fadeIn();
        //    });
        //});

        //$('#Geo_radio').click(function (e) {
        //    $('#Role_Hide, #Fun_Hide').fadeOut('slow', function () {
        //        $('#Geo_Hide').fadeIn();
        //    });
        //});

        //$('#Fun_radio').click(function (e) {
        //    $('#Geo_Hide, #Role_Hide').fadeOut('slow', function () {
        //        $('#Fun_Hide').fadeIn();
        //    });
        //});

        //$('input[name="radio_1"]:radio').change(function () {
        //    if (this.value = "a") {
        //        $('#Role_Hide, #Fun_Hide').fadeOut();
        //        $('#Geo_Hide').fadeIn('slow');
        //    }
        //    else if(this.value = "b"){
        //        $('#Geo_Hide, #Role_Hide').fadeOut('slow');
        //        $('#Fun_Hide').fadeIn('slow');

        //    }else if(this.value = "c"){
        //        $('#Geo_Hide, #Fun_Hide').fadeOut('slow');
        //        $('#Role_Hide').fadeIn('slow');
        //    }

        // $('#Geo_radio').data('clicked') ? (function () { $('#Geo_Hide').fadeIn(); $('#Role_Hide, #Fun_Hide').fadeOut() })() : (function () { $('#Fun_Hide ').fadeIn(); $('#Role_Hide, #Geo_Hide').fadeOut() })();

        // $('#Geo_radio').data('clicked') ? (function () { $('#Geo_Hide').fadeIn(); })() : (function () { $('#Role_Hide, #Fun_Hide').fadeOut() })();
        //$('#Fun_radio').data('clicked') ? (function () { $('#Fun_Hide').fadeIn(); })() : (function () { $('#Role_Hide, #Geo_Hide').fadeOut() })();
        //$('#Role_radio').data('clicked') ? (function () { $('#Role_Hide').fadeIn(); })() : (function () { $('#Geo_Hide, #Fun_Hide').fadeOut() })();


        $('#Lookup-FuncStruct-ReportingStruct').button().on('click', function (e) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookup_FuncStruct", "ReportingStruct")', '', 'LookupDiv', 'FuncStruct Look Up Data', '#FuncStructlist', 'FuncStructlist', 5, 'FuncStructlist', '#frmReportingStruct', 'N', '#Edit-CorrsContactDetails-Employee,#Remove-CorrsContactDetails-Employee', 'Lookup_table', 'PageNavPosition');
            e.preventDefault();

        });

        $('#Remove-FuncStruct-ReportingStruct').button().on('click', function (event) {
            //var a = [], b;
            //a = $('#FuncStructlist').P2BGetTableDataonSelectedRow('#FuncStructlist', 0);
            //b = a[0];

            var selectedRows = [];

            selectedRows = $('#FuncStructlist').P2BGetTableDataonSelectedRow('#FuncStructlist', 0);

            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#FuncStructlist', $('#FuncStructlist').val(), 200, 200, '#frmReportingStruct', '#FuncStructlist', '#Remove-RateMaster-Wages');
            event.preventDefault();
        });



        $('#Lookup-BossEmp-ReportingStruct').button().on('click', function (e) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookup_BossEmp", "ReportingStruct")', '', 'LookupDiv', 'BossEmp Look Up Data', '#BossEmplist', 'BossEmplist', 7, 'BossEmplist', '#frmReportingStruct', 'N', '', 'Lookup_table', 'PageNavPosition');
            e.preventDefault();
        });


        $('#Remove-BossEmp-ReportingStruct').button().on('click', function (event) {
            var selectedRows = [];
            selectedRows = $('#BossEmplist').P2BGetTableDataonSelectedRow('#BossEmplist', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#BossEmplist', $('#BossEmplist').val(), 200, 200, '#frmReportingStruct', '#BossEmplist', '');
            event.preventDefault();
        });


        $("input[name='IndividualAppl']").change(function () {
            var aa=$(this).val();
            if (aa == "true") {
                $('[name="IndividualAppl"]').val([true]).button().button("refresh");
                $('[name="FunctionalAppl"]').val([false]).button().button("refresh");
                $('[name="RoleBasedAppl"]').val([false]).button().button("refresh");
                $('[name="GeographicalAppl"]').val([false]).button().button("refresh");
            }
        });
        $("input[name='FunctionalAppl']").change(function () {
            var aa = $(this).val();
            if (aa == "true") {
                $('[name="IndividualAppl"]').val([false]).button().button("refresh");
                $('[name="FunctionalAppl"]').val([true]).button().button("refresh");
                $('[name="RoleBasedAppl"]').val([false]).button().button("refresh");
                $('[name="GeographicalAppl"]').val([false]).button().button("refresh");
            }
        });
        $("input[name='RoleBasedAppl']").change(function () {
            var aa = $(this).val();
            if (aa == "true") {
                $('[name="IndividualAppl"]').val([false]).button().button("refresh");
                $('[name="FunctionalAppl"]').val([false]).button().button("refresh");
                $('[name="RoleBasedAppl"]').val([true]).button().button("refresh");
                $('[name="GeographicalAppl"]').val([false]).button().button("refresh");
            }
        });
        $("input[name='GeographicalAppl']").change(function () {
            var aa = $(this).val();
            if (aa == "true") {
                $('[name="IndividualAppl"]').val([false]).button().button("refresh");
                $('[name="FunctionalAppl"]').val([false]).button().button("refresh");
                $('[name="RoleBasedAppl"]').val([false]).button().button("refresh");
                $('[name="GeographicalAppl"]').val([true]).button().button("refresh");
            }
        });
        $('.drop').selectmenu().selectmenu("menuWidget").addClass("overflow");
        $('#GeoGraphList-drop').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 604, "");
        $('#GeoFuncList-drop').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 605, "");
    });

</script>
<style>
    .icon-row {
        position: relative;
        left: 88px;
        top: -150px;
    }
</style>

