<link href="~/Content/popup_form.css" rel="stylesheet" />
@model IR.FinalShowCauseNoticeClarificarionServing

<style>
    .popup-content-label {
        width: 170px;
        display: block;
        float: left;
    }

    .popup-content-textbox {
        width: 120px;
    }

    .row1 {
        width: 320px;
    }

    /*.active {
        color: red;
    }*/

    .horizontal_row2, .radio_button_div_1 {
        display: inline-block;
    }

    .row3 {
        width: 477px;
    }

    .row2 {
        width: 402px;
    }

    .icon-row {
        left: 127px;
        position: relative;
        top: -121px;
    }

    .popup-content-table {
        right: 120px;
    }
</style>
<script>
    $(document).ready(function () {
        $('button').button();
        var dt;
        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;

        ColModel = ['CaseNo', 'VictimName', 'ProceedingStage', 'NoticeReplyRecdDate', 'IsClosedServing', 'IsNoticeRecd', 'narration', 'Id'];
        ColNames = ['CaseNo', 'VictimName', 'ProceedingStage', 'NoticeReplyRecdDate', 'IsClosedServing', 'IsNoticeRecd', 'narration', 'Id'];

        SortName = 'Id';
        Caption = 'Final Show Cause Notice Clarificarion Serving';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);
        $('#Create_Dialog').P2BCreateDialog();
        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }
        function DateConvert(JsonDate) {
            var date = new Date(parseInt(JsonDate.substr(6)));
            var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
            return displayDate;
        };
        $('#Create').button().on("click", function () {
            $('#frmFinalShowCauseNoticeClarificarionServing').trigger("reset");
            var temp = localStorage.getItem("getEmpIrIdKey");

             var empirid = @Request.QueryString["EmpIr"]
            console.log("empirid :::: " + empirid);
            if (empirid == undefined) {
                empirid = temp.toString();
            }
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create Final Show Cause Notice Clarificarion Serving ', 'open', '@Url.Action("create")?EmpIr=' + empirid, '#frmFinalShowCauseNoticeClarificarionServing', 'Message :', 'Request Falied :', '#JqGrid', 600, 600, '', '', '', function (data) { });
        });
        $('#Lookup-ShowCauseClarificationServingMode-FinalShowCauseNoticeClarificarionServing').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupChargeSheetServingMode", "FinalShowCauseNoticeClarificarionServing")', '', 'LookupDiv', 'FinalShowCauseNoticeServingMode Look Up Data', '#ShowCauseClarificationServingMode', 'ShowCauseClarificationServingMode', 4, 'ShowCauseClarificationServingMode', '#frmFinalShowCauseNoticeClarificarionServing', 'N', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });
        $('#Lookup-ShowCauseClarificationServingWitness-FinalShowCauseNoticeClarificarionServing').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupWitnessData", "FinalShowCauseNoticeClarificarionServing")', '', 'LookupDiv', 'FinalShowCauseNoticeServingWitness Look Up Data', '#Witnesslist', 'Witnesslist', 4, 'Witnesslist', '#frmFinalShowCauseNoticeClarificarionServing', 'A', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });
        $('#Lookup-ShowCauseNotice-FinalShowCauseNoticeClarificarionServing').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupDetailsEmployeeDoc", "FinalShowCauseNoticeClarificarionServing")', '', 'LookupDiv', 'FinalShowCauseNoticeServingDoc Look Up Data', '#ShowCauseNoticelist', 'ShowCauseNoticelist', 4, 'ShowCauseNoticelist', '#frmFinalShowCauseNoticeClarificarionServing', 'A', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });
        $('#Remove-ShowCauseClarificationServingMode-FinalShowCauseNoticeClarificarionServing').button().on('click', function (event) {

            //a = $('#ShowCauseClarificationServingMode').P2BGetTableDataonSelectedRow('#ShowCauseClarificationServingMode', 0);
            //b = a[0];

            var selectedRows = [];
            selectedRows = $('#ShowCauseClarificationServingMode').P2BGetTableDataonSelectedRow('#ShowCauseClarificationServingMode', 0);

            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#ShowCauseClarificationServingMode', $('#ShowCauseClarificationServingMode').val(), 200, 200, '#frmFinalShowCauseNoticeClarificarionServing', '#ShowCauseClarificationServingMode');
            event.preventDefault();
        });
        $('#Remove-ShowCauseClarificationServingWitness-FinalShowCauseNoticeClarificarionServing').button().on('click', function (event) {

            //a = $('#Witnesslist').P2BGetTableDataonSelectedRow('#Witnesslist', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#Witnesslist').P2BGetTableDataonSelectedRow('#Witnesslist', 0);

            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#Witnesslist', $('#Witnesslist').val(), 200, 200, '#frmFinalShowCauseNoticeClarificarionServing', '#Witnesslist');
            event.preventDefault();
        });
        $('#Remove-ShowCauseNotice-FinalShowCauseNoticeClarificarionServing').button().on('click', function (event) {

            //a = $('#ShowCauseNoticelist').P2BGetTableDataonSelectedRow('#ShowCauseNoticelist', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#ShowCauseNoticelist').P2BGetTableDataonSelectedRow('#ShowCauseNoticelist', 0);


            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#ShowCauseNoticelist', $('#ShowCauseNoticelist').val(), 200, 200, '#frmFinalShowCauseNoticeClarificarionServing', '#ShowCauseNoticelist');
            event.preventDefault();
        });
        $('#Delete').button().click(function () {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'ID');
            $('#Create_Dialog').P2BDeleteModalDialog('@Url.Action("Delete")', dt.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
        });
        $('#Edit').on('click', function () {
            AssignData();
            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit FinalShowCauseNoticeServing", '#frmFinalShowCauseNoticeClarificarionServing', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 500, 620, '', '', function (data) {
                //Compulsory for authorisation
                var val = null;
                $.each(data[0], function (i, k) {
                    $('#frmFinalShowCauseNoticeClarificarionServing').trigger("reset");
                    $('#Narration').val(k.Narration);
                    $('[name="IsClosedServing"]').val([k.IsClosedServing]).button().button("refresh");
                    $('[name="IsNoticeRecd"]').val([k.IsNoticeRecd]).button().button("refresh");
                    if (k.NoticeClarificationServingDate != null)
                        $('#NoticeClarificationServingDate').val(DateConvert(k.NoticeClarificationServingDate));
                    else
                        $('#NoticeClarificationServingDate').val();

                    $('[name="IsWitnessReqd"]').val([k.IsWitnessReqd]).button().button("refresh");

                    if (k.IsWitnessReqd == false) {
                        $('#hidew').fadeOut();
                    }
                    else {
                        $('#hidew').fadeIn();

                    }
                    $('#ShowCauseClarificationServingMode').P2BLookUpEncapsulate('#ShowCauseClarificationServingMode', 'ShowCauseClarificationServingMode', k.ShowCauseClarificationServingMode_Id, k.ShowCauseClarificationServingMode, 'ShowCauseClarificationServingMode', '#Remove-ContactDetails-Location,#Edit-ContactDetails-Location', 'N');

                });
                $.each(data[1], function (i, k) {
                    $('#Witnesslist').P2BLookUpEncapsulate('#Witnesslist', 'Witnesslist', k.witness_Id, k.witnessfulldetails, 'Witnesslist', '#Edit-HOCalendar-Department,#Remove-HOCalendar-Department', 'A');
                    $('#ShowCauseNoticelist').P2BLookUpEncapsulate('#ShowCauseNoticelist', 'ShowCauseNoticelist', k.shownoticedoc_Id, k.shownoticedocfulldetails, 'ShowCauseNoticelist', '#Edit-HOCalendar-Department,#Remove-HOCalendar-Department', 'A');
                });

            });
        });


        $('<div></div>').P2BPartialCreateModalDialog();
        $('#hidew').hide();
        $('input[name="IsWitnessReqd"]:radio').change(function () {

            if (this.value == "false") {

                $('#hidew').fadeOut();
            }
            else {
                $('#hidew').fadeIn();

            }
        });
        $('#Create-ShowCauseNotice-FinalShowCauseNoticeClarificarionServing').on("click", function (event) {


            var a = $('#EmpCode').val();

            $('<div></div>').P2BConfidentialModelDialog({
                htmlurl: "@Url.Action("partial", "EmployeeDocuments")",
                submiturl: "@Url.Action("Create", "EmployeeDocuments")?EmpCode=" + a,
                form: '#FormCandidateDocs',
                height: "400",
                type: "FILE",
                width: "500",
                title: "DocumentUpload",
                BeforeSendurl: "true",
                returnfun: function (data) {
                    $('#EmployeeDocumentslist').P2BLookUpEncapsulate('#EmployeeDocumentslist', 'EmployeeDocumentslist', data.Id, data.Val, 'EmployeeDocumentslist', '', 'A');
                },
            });
            event.preventDefault();

        });
        $('#NoticeClarificationServingDate').P2BDatePicker();
        //$('.popup-radio-button').controlgroup();
    });
    </script>

<!DOCTYPE html>

<html>
<head>

    <title>Index</title>
</head>
<body>
    <div class="form-bg">
        <div class="form-input">
            <div class="Button_Container">
                <button class="button" id="Create">Create</button>
                <button class="button" id="Edit">Edit</button>
                <button class="button" id="View">View</button>
                <button class="button" id="Delete">Delete</button>
                <div id="Grid_Form">
                    <div>
                        <table id="JqGrid"></table>
                        <div id="pager2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>
    <div id="Create_Dialog">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmFinalShowCauseNoticeClarificarionServing", name = "frmFinalShowCauseNoticeClarificarionServing" }))
        {
           
            <div class=" row3 content_margine">
        @Html.LabelFor(m => m.ShowCauseClarificationServingMode, "Show Cause Clarification Serving Mode :", new { @class = "popup-content-label " })
                    <div class="popup-content-table">
                        <table class="lookuptableselected" id="ShowCauseClarificationServingMode">
                            <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                        </table>
                    </div>
                    <div class="icon-row">
                        <button data-p2btooltip="Lookup corresponding  ShowCauseClarificationServingMode" class=" popup-content-icon-lookup" id="Lookup-ShowCauseClarificationServingMode-FinalShowCauseNoticeClarificarionServing"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>       
                        <button data-p2btooltip="Delete ShowCauseClarificationServingMode" class=" popup-content-icon-remove" id="Remove-ShowCauseClarificationServingMode-FinalShowCauseNoticeClarificarionServing"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                    </div>
                </div>
            <div class="row3 content_margine">
        @Html.LabelFor(m => m.NoticeClarificationServingDate, "ClarificationServingDate:", new { @class = "popup-content-label must" })
        @Html.TextBoxFor(m => m.NoticeClarificationServingDate, "NoticeClarificationServingDate:", new { @class = "popup-content-Textboxt must" })
            </div>
            <div class="row3 content_margine">
        @Html.LabelFor(m => m.IsClosedServing, "Is Closed Serving:", new { @class = "popup-content-label must" })
                 <div class="popup-radio-button radio-button-div1">
                     <span class="popup-rdaio-button radio-button-div1">
                         <input type="radio" id="radio1" name="IsClosedServing" value="true" /><label for="radio1">YES</label>
                         <input type="radio" id="radio2" name="IsClosedServing" value="false" /><label for="radio2">NO</label>
                     </span>
                 </div>
                 </div>
            <div class="row3 content_margine">
                             @Html.LabelFor(m => m.IsNoticeRecd, "IsNoticeRecd:", new { @class = "popup-content-label must" })
                 <div class="popup-radio-button radio-button-div1">
                     <span class="popup-rdaio-button radio-button-div1">
                         <input type="radio" id="radio3" name="IsNoticeRecd" value="true" /><label for="radio3">YES</label>
                         <input type="radio" id="radio4" name="IsNoticeRecd" value="false" /><label for="radio4">NO</label>
                     </span>
                 </div>
                 </div>
              <div class="row3 content_margine">
                             @Html.LabelFor(m => m.IsWitnessReqd, "IsWitnessReqd:", new { @class = "popup-content-label " })
                 <div class="popup-radio-button radio-button-div1">
                     <span class="popup-rdaio-button radio-button-div1">
                         <input type="radio" id="radio5" name="IsWitnessReqd" value="true" /><label for="radio5">YES</label>
                         <input type="radio" id="radio6" name="IsWitnessReqd" value="false" /><label for="radio6">NO</label>
                     </span>
                 </div>
                 </div>
            <div id="hidew">
               <div class=" row3 content_margine">
        @Html.LabelFor(m => m.Witness, "Show Cause Witness :", new { @class = "popup-content-label " })
                    <div class="popup-content-table">
                        <table class="lookuptableselected" id="Witnesslist">
                            <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                        </table>
                    </div>
                    <div class="icon-row">
                        <button data-p2btooltip="Lookup corresponding  ShowCauseClarificationServingWitness" class=" popup-content-icon-lookup" id="Lookup-ShowCauseClarificationServingWitness-FinalShowCauseNoticeClarificarionServing"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>       
                        <button data-p2btooltip="Delete ShowCauseClarificationServingWitness" class=" popup-content-icon-remove" id="Remove-ShowCauseClarificationServingWitness-FinalShowCauseNoticeClarificarionServing"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                    </div>
                </div>
                </div>
             <div class="row3 content_margine">
                             @Html.LabelFor(m => m.Narration, "Narration:", new { @class = "popup-content-label must" })
                             @Html.TextBoxFor(m => m.Narration, new { @class = "popup-content-textbox must" })
            </div>
             <div class=" row3 content_margine">
                             @Html.LabelFor(m => m.ShowCauseNotice, " Show Cause Supporting Documents :", new { @class = "popup-content-label" })
                    <div class="popup-content-table">
                        <table class="lookuptableselected" id="ShowCauseNoticelist">
                            <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                        </table>
                    </div>
                    <div class="icon-row">
                        <button data-p2btooltip="Lookup corresponding FinalShowCauseNoticeClarificarionServingShowCauseNotice" class=" popup-content-icon-lookup" id="Lookup-ShowCauseNotice-FinalShowCauseNoticeClarificarionServing"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Create FinalShowCauseNoticeClarificarionServingShowCauseNotice" class=" popup-content-icon-create" id="Create-ShowCauseNotice-FinalShowCauseNoticeClarificarionServing"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>       
                        <button data-p2btooltip="Delete FinalShowCauseNoticeClarificarionServingShowCauseNotice" class=" popup-content-icon-remove" id="Remove-ShowCauseNotice-FinalShowCauseNoticeClarificarionServing"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                    </div>
                </div>
               
        }
        </div>
</body>
</html>
