@{
    ViewBag.Title = "PF Loan Authentication Form";
}
@model P2B.PFTRUST.LoanAdvRequestPFT
<html>
<head>
    <title></title>
    <style>
        .tbl_1, .th_1, .td_1 {
            border: 1px solid #c5c5c5;
        }

        .tbl_1 {
            width: 50%;
            border-collapse: collapse;
            border-spacing: 0;
            margin-top: 30px;
            margin-left: 100px;
        }

        .th_1 {
            padding: 5px;
            /*position:relative;*/
        }

        .td_1 {
            padding: 10px;
        }

        .th_1, td_1 {
            text-align: center;
            padding: 8px;
        }


        .icon-row {
            position: relative;
            left: 130px;
            top: -150px;
        }

        .popup-content-label {
            display: block;
            float: left;
            width: 170px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 150px;
        }

        .row3 {
            width: 548px;
        }

        .row2 {
            display: inline-block;
            width: 333px;
        }

        .add-dialog-content {
            float: right;
            right: 0;
            width: 678px;
        }

        .form-of-element {
            /*display: block;*/
            border: #DEDEDE solid 0.1px;
            /*width: auto;*/
            height: 700px;
            padding: 5px 2px;
            margin-top: 3px;
        }

        .select_div {
        }

        .section1 {
            margin-top: 10px;
            /*    width: 200px;*/
        }

        .popup-content-label1 {
            display: block;
            float: left;
            /*  width: 170px;*/
            margin-right: 50px;
        }

        .popup-content-textbox1 {
            margin-bottom: 1px;
            min-width: 150px;
            margin-right: 30px;
        }
    </style>

</head>
<body>

    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <div style="float:left">
                    <label id="lblPayMonth" class="popup-content-label must">PayMonth:</label>
                    <input name="TextPayMonth" type="text" id="TextPayMonth" class="date-picker" />
                </div>
                <button class="button" id="Load">Load</button>
                <button class="button" id="Authorize">Authorize</button>
                <button class="button" id="View">View</button>
                <span>

                    <button class="button" id="upload" style="width:fit-content">Post In Ledger</button>

                </span>
                <div id="Grid_Form">
                    <div>
                        <table id="JqGrid"></table>
                        <div id="pager2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>
    <div id="Create_Dialog">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmLoanAdvRequestPFT", name = "frmLoanAdvRequestPFT" }))
        {

            <div class="form-of-element">

                <div class="add-dialog-content">

                    <div class="row2 content_margine">
                        @Html.LabelFor(m => m.LoanAdvanceHeadPFT, "Loan Advance Head :", new { @class = "popup-content-label must" })
                        <input type="text" id="LoanAdvanceHeadPFT" name="LoanAdvanceHeadPFT" class="popup-content-textbox" />
                        @* @Html.TextBoxFor(m => m.LoanAdvanceHeadPFT, new { @class = "popup-content-textbox must", Id = "LoanAdvanceHeadPFT" })*@

                    </div>
                    <div class="row2 content_margine">
                        @Html.LabelFor(m => m.BankBranchDetails, "Branch Name :", new { @class = "popup-content-label must" })
                        <input type="text" id="BankBranchDetails" name="BankBranchDetails" class="popup-content-textbox" />

                        @*@Html.TextBoxFor(m => m.LoanAccBranch,  new { @class = "popup-content-textbox must", Id= "LoanAccBranch" })*@
                    </div>

                    @*<div class="row3 content_margine">
                            <div id="LoanAdvanceHeadlist_old"></div>
                            @Html.LabelFor(m => m.LoanAdvanceHeadPFT, "Loan Advance Head :", new { @class = "popup-content-label must" })
                            <div class="popup-content-table">
                                <table class="lookuptableselected" id="LoanAdvanceHeadlist">
                                    <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                                </table>
                            </div>
                            <div class="icon-row">
                                <button data-p2btooltip="Lookup LoanAdvance Head" class="popup-content-icon-lookup" id="Lookup-LoanAdvanceHead-LoanAdvRequest"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                                <button data-p2btooltip="Remove LoanAdvance Head" class="popup-content-icon-remove" id="Remove-LoanAdvanceHead-LoanAdvRequest"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                            </div>
                        </div>*@
                    @*<div class="row3 content_margine">
                            @Html.LabelFor(m => m.LoanAccBranch, " Loan Account Branch:", new { @class = "popup-content-label must" })
                            <div class="popup-content-table">
                                <table class="lookuptableselected" id="LoanAccBranchlist">
                                    <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                                </table>
                            </div>
                            <div class="icon-row">
                                <button data-p2btooltip="Lookup Loan Account Branch" class="popup-content-icon-lookup" id="Lookup-LoanAccBranch-LoanAdvRequest"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                                <button data-p2btooltip="Remove Loan Account Branch" class="popup-content-icon-remove" id="Remove-LoanAccBranch-LoanAdvRequest"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                            </div>
                        </div>*@

                    @*<div class="row2 select_div content_margine">@Html.LabelFor(m => m.LoanAccBranch, "Loan Account Branch :", new { @class = "popup-content-label must" })<select id="LoanAccBranchlist" name="LoanAccBranchlist" class="must" style="width:159px;"><option value="0">-Select-</option></select></div>*@
                    <div class="row2 content_margine">
                        @Html.LabelFor(m => m.LoanAccNo, "Loan Account No :", new { @class = "popup-content-label must" })
                        <input type="text" id="LoanAccNo" name="LoanAccNo" class="popup-content-textbox" />
                        @* @Html.TextBoxFor(m => m.LoanAccNo, new { @class = "popup-content-textbox must" })*@
                    </div>

                    <div class="row2 content_margine">
                        @Html.LabelFor(m => m.RequisitionDate, "Requisition Date :", new { @class = "popup-content-label must" })
                        <input type="text" id="RequisitionDate" name="RequisitionDate" class="popup-content-textbox" />

                        @* @Html.TextBoxFor(m => m.RequisitionDate, new { @class = "popup-content-textbox must" })*@
                    </div>
                    <div class="row2 content_margine">
                        @Html.LabelFor(m => m.SanctionedDate, "Sanctioned Date :", new { @class = "popup-content-label must" })
                        <input type="text" id="SanctionedDate" name="SanctionedDate" class="popup-content-textbox" />
                        @* @Html.TextBoxFor(m => m.SanctionedDate, new { @class = "popup-content-textbox must" })*@
                    </div>
                    <div class="row2 content_margine">
                        @Html.LabelFor(m => m.LoanAppliedAmount, "Loan Applied Amount :", new { @class = "popup-content-label must" })
                        <input type="text" id="LoanAppliedAmount" name="LoanAppliedAmount" class="popup-content-textbox" />

                        @*@Html.TextBoxFor(m => m.LoanAppliedAmount, new { @class = "popup-content-textbox must" })*@
                    </div>
                    <div class="row2 content_margine">
                        @Html.LabelFor(m => m.LoanSanctionedAmount, "Loan Sanctioned Amount :", new { @class = "popup-content-label must" })
                        <input type="text" id="LoanSanctionedAmount" name="LoanSanctionedAmount" class="popup-content-textbox" />

                        @* @Html.TextBoxFor(m => m.LoanSanctionedAmount, new { @class = "popup-content-textbox must" })*@
                    </div>

                    <div class="row2 content_margine">
                        @Html.LabelFor(m => m.MonthlyInstallmentAmount, "Monthly Installment Amount :", new { @class = "popup-content-label must" })
                        <input type="text" id="MonthlyInstallmentAmount" name="MonthlyInstallmentAmount" class="popup-content-textbox" />

                        @*@Html.TextBoxFor(m => m.MonthlyInstallmentAmount, new { @class = "popup-content-textbox must" })*@
                    </div>

                    <div class="row2 content_margine">
                        @Html.LabelFor(m => m.TotalInstall, "Total Install :", new { @class = "popup-content-label must" })
                        <input type="text" id="TotalInstall" name="TotalInstall" class="popup-content-textbox" />
                        @*@Html.TextBoxFor(m => m.TotalInstall, new { @class = "popup-content-textbox must" })*@
                    </div>
                    <div class="row2 content_margine">
                        @Html.LabelFor(m => m.MonthlyPricipalAmount, "Monthly Principal Amount :", new { @class = "popup-content-label must" })
                        <input type="text" id="MonthlyPricipalAmount" name="MonthlyPricipalAmount" class="popup-content-textbox" />
                        @*@Html.TextBoxFor(m => m.MonthlyPricipalAmount, new { @class = "popup-content-textbox must" })*@
                    </div>
                    <div class="row2 content_margine">
                        @Html.LabelFor(m => m.MonthlyInterest, "Monthly Interest :", new { @class = "popup-content-label must" })
                        <input type="text" id="MonthlyInterest" name="MonthlyInterest" class="popup-content-textbox" />

                        @*@Html.TextBoxFor(m => m.MonthlyInterest, new { @class = "popup-content-textbox must" })*@
                    </div>

                    <div class="row2 content_margine">
                        @Html.LabelFor(m => m.Narration, "Narration :", new { @class = "popup-content-label must" })
                        <input type="text" id="Narration" name="Narration" class="popup-content-textbox" />

                        @* @Html.TextBoxFor(m => m.Narration, new { @class = "popup-content-textbox must" })*@
                    </div>
                    <div class="row2 content_margine">
                        @Html.LabelFor(m => m.EnforcementDate, "Enforcement Date :", new { @class = "popup-content-label must" })
                        <input type="text" id="EnforcementDate" name="EnforcementDate" class="popup-content-textbox" />

                        @*@Html.TextBoxFor(m => m.EnforcementDate, new { @class = "popup-content-textbox must" })*@
                    </div>
                    <div class="row2 content_margine">
                        @Html.LabelFor(m => m.IsActive, "Active :", new { @class = "popup-content-label" })
                        <div class="popup_radio_button">
                            <div id="radioset">
                                <span><input type="radio" id="radio1" name="IsActive" value="true" checked="checked" /> <label for="radio1">Yes</label></span>
                                <span><input type="radio" id="radio2" name="IsActive" value="false" /> <label for="radio2">No</label></span>
                            </div>
                        </div>
                    </div>
                    <div class="row2 content_margine" style="visibility:hidden">@Html.LabelFor(m => m.CloserDate, "Closer Date :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.CloserDate, new { @class = "popup-content-textbox", disabled = "disabled" })</div>
                    <div>
                        <div><label style="font-size:15px;text-decoration:underline">Bifurcated Applied LoanAmount</label></div>
                        <div class="section1">
                            <label style="margin-right:100px"></label>
                            <label style="margin-right:150px; font-size:12px">Contibution</label>
                            <label style="font-size:12px">Interest</label>
                        </div>
                        <div class="section1">@Html.LabelFor(m => m.OwnPFAmount, "Own :", new { @class = "popup-content-label1" })@Html.TextBoxFor(m => m.OwnPFAmount, new { @class = "popup-content-textbox1", Id = "OwnPFAmount" })@Html.TextBoxFor(m => m.OwnPFIntAmount, new { @class = "popup-content-textbox", Id = "OwnPFIntAmount" })</div>
                        <div class="section1">@Html.LabelFor(m => m.OwnerPFAmount, "Owner :", new { @style = "margin-right:40px" })@Html.TextBoxFor(m => m.OwnerPFAmount, new { @class = "popup-content-textbox1", Id = "OwnerPFAmount" })@Html.TextBoxFor(m => m.OwnerPFIntAmount, new { @class = "popup-content-textbox", Id = "OwnerPFIntAmount" })</div>

                        <div class="section1">@Html.LabelFor(m => m.VPFAmount, "VPF :", new { @style = "margin-right:55px" })@Html.TextBoxFor(m => m.VPFAmount, new { @class = "popup-content-textbox1", Id = "VPFAmount" })@Html.TextBoxFor(m => m.VPFIntAmount, new { @class = "popup-content-textbox", Id = "VPFIntAmount" })</div>

                        <div class="section1">@Html.LabelFor(m => m.PaymentMode, "PayMode :", new { @style = "margin-right:25px" })<select class="selectmenu must" style="width:120px" id="PayMode_drop" name="PayMode_drop"><option>-Select-</option></select></div>
                        <div id="hidedivdetail">
                            <div class="section1">@Html.LabelFor(m => m.ChequeNo, "ChequeNo :", new { @style = "margin-right:20px" })@Html.TextBoxFor(m => m.ChequeNo, new { @class = "popup-content-textbox1", Id = "ChequeNo" })</div>
                            <div class="section1">@Html.LabelFor(m => m.ChequeDate, "ChequeDate :", new { @style = "margin-right:10px" })@Html.TextBoxFor(m => m.ChequeDate, new { @class = "popup-content-textbox1", Id = "ChequeDate" })</div>
                        </div>
                        <div class="section1">@Html.LabelFor(m => m.BankBranchDetails, "BranchDetails :", new { @style = "margin-right:5px" })@Html.TextBoxFor(m => m.BankBranchDetails, new { @class = "popup-content-textbox1", Id = "BankBranchDetails2" })</div>





                        @*=============================================================*@

                        <br />

                        @* <label class="section1" style="margin-right:31px; margin-left:5px;" id="Action">Action : </label>*@
                        @*<label class="section1" style="margin-right:35px; " id="Action">Action : </label>
                            <input type="text" />*@

                        @*<div class="row2 content_margine">
                                @Html.LabelFor(m => m.IsActive, "Active :", new { @class = "popup-content-label" })
                                <div class="popup_radio_button">
                                    <div id="radioset">
                                        <span><input type="radio" id="radio1" name="IsActive" value=1 checked="checked" /> <label for="radio1">Sanction</label></span>
                                        <span><input type="radio" id="radio2" name="IsActive" value= 2/> <label for="radio2">Reject</label></span>
                                    </div>
                                </div>


                            </div>*@



                        <div class="section1">
                            @Html.LabelFor(m => m.LoanWFDetails, "authorization Status: ", new { @style = "margin-right:40px;" })
                            <select class="selectmenu must" style="padding-top:40px" name="LoanWFDetailids" id="LoanWFDetailids">
                                <option></option>
                            </select>
                        </div>


                        <br />
                        <br />

                        <label style="margin-right: 8px; margin-left: 5px;">Comments : </label>
                        <input type="text" id="comment" name="comment" />
                        @* <div class="section1">@Html.LabelFor(m => m.c, "BranchDetails :", new { @style = "margin-right:5px" })@Html.TextBoxFor(m => m.BankBranchDetails, new { @class = "popup-content-textbox1", Id = "BankBranchDetails2" })</div>*@


                        @*<div>

                                <table class="tbl_1">
                                    <tr>
                                        <th class="th_1">Contribution</th>
                                        <th class="th_1">Interest</th>
                                    </tr>
                                    <tr>
                                        <td class="td_1">Own</td>
                                        <td class="td_1"> </td>
                                    </tr>
                                    <tr>
                                        <td class="td_1">Owner</td>
                                        <td class="td_1"> </td>
                                    </tr>
                                    <tr>
                                        <td class="td_1">PF</td>
                                        <td class="td_1"> </td>
                                    </tr>
                                    <tr>
                                        <td class="td_1">VPF</td>
                                        <td class="td_1"> </td>
                                    </tr>
                                </table>

                            </div>*@

                        @*==================================================================*@










                    </div>
                </div>
            </div>







        }
    </div>
</body>
</html>
<script>

    $(document).ready(function () {
        $('button').button();
        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;
        ColModel = ['Emp Code', 'EMP Name', 'PF Number', 'Loan Type', 'Reg Date','SanctionDate','Status','CloserDate', 'Ammount', 'Id'];
        ColNames = ['EmployeeCode', 'EmployeeName', 'PFNumber', 'LoanType', 'RequisitionDate', 'SanctionDate', 'LoanAppliedAmount', 'Id'];
        SortName = 'Id';
        Caption = 'PF Loan Autherization';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);
        $('#Load').on('click', function (e) {
            $('#JqGrid').PostGridData({ url: url, filter: $('#TextPayMonth').val() });
        });
        $('#TextPayMonth').MonthYearPicker();

        if ($("#TextPayMonth").val() == "") {
            var dt = new Date();
            var month = dt.getMonth() + 1;
            month = month < 10 ? '0' + month : '' + month;
            $("#TextPayMonth").val(month + "/" + dt.getFullYear());
        }

        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }

        //function DateConvert(JsonDate) {
            //    var date = new Date(parseInt(JsonDate.substr(6)));
            //    var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
            //    return displayDate;
        //};

        function ajaxloaderv2(cameform) {
            $('<a><i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw ajax_loder" style="color: rgba(27, 187, 173, 0.93);z-index:999;" aria-hidden="true"></i></a>').appendTo(cameform);
        };

        $('#upload').on('click', function (e) {
            //AssignData();
            //$('#frmLoanAdvRequestPFT').trigger('reset');
         //   var a = $.GetGridSelctedvalue("#JqGrid", "Id");
         
            //if (a.val == "" || a.length == 0) {
            //    alert("Please select Employee");
            //    return false;
            //}
           
           
            //if ($('#emp_Id').val()) {
            //    console.log($('#emp_Id').val())
            //    a = $('#emp_Id').val();
            //    console.log(a);
            //}
            //else {
            //    a = a.toString();
            //}

            // a = a != null ? a.toString() : $('#emp_Id').val();
            $('#upload').ProcessConfirmation({
                confirmurl: "@Url.Action("ChkProcess", "PFLoanAuthorizationForm")",
                month: "#TextPayMonth",
                msg: "You have already upload PF!,Do You Want to Re upload..?Please Confirm..!",
                status: function (data) {
                    if (data == true) {

                        $.ajax({
                            method: "POST",
                            url: "@Url.Action("LoanDebitPosting", "PFLoanAuthorizationForm")",
                            data: { month: $('#TextPayMonth').val() },
                            beforeSend: function () {
                                ajaxloaderv2('body');
                            },
                            success: function (data) {
                                $('<div></div>').P2BMessageModalDialog1('ui-icon-info', data.responseText);
                            },
                            error: function (data) {
                                $('<div></div>').P2BMessageModalDialog1('ui-icon-alert', data.responseText);
                                $('#emp_Id').val("");
                            }, complete: function (data) {
                                $('#JqGrid').trigger('reloadGrid');
                                $('.ajax_loder').remove();
                                $('#emp_Id').val("");
                            }
                        });
                    }
                }
            });


            e.preventDefault();
        });




        $('input[name="IsActive"]:radio').change(function () {
            if (this.value == "false") { $('#CloserDate').prop("disabled", false); $('#CloserDate').val(""); }
            else { $('#CloserDate').prop("disabled", true); }
        });


        var PayMonthObj = {
            Month: null,
            SetMonth: function (val) {
                if (val != null || val != undefined) this.Month = val;
                this.Month = null;
            },
            GetMonth: function () {
                return this.Month;
            }

        };


        $.DataTableChildManipulation = function (init, id, parentid, htmurl, editurl, submiturl) {
            var parent_element = $(init).parents('td:last').parent().prev();
            console.log(parent_element);
            var dt = $('#MyTable').DataTable();
            var htmlcomponant = {
                init: init,
                Id: id,
                idx: parentid,
                htmurl: htmurl,
                editurl: editurl,
                submiturl: submiturl,
            };
            if ($(init).hasClass('ui-icon-newwin')) {
                $('<div></div>').PartialCreateDialog({
                    height: 'auto',
                    width: 'auto',
                    form: "#Edit-loanadvrequest",
                    htmlurl: "@Url.Action("GridPartial", "LoanAdvRequest")",
                    state: "open",
                    mode: "View",
                    editurl: "@Url.Action("GridEditData", "LoanAdvRequest")",
                    submiturl: "@Url.Action("GridEditSave", "LoanAdvRequest")",
                    editdata: id,
                    forwarddata: id,
                    returndatafunction: function (returndata) {
                        $.each(returndata.returndata, function (i, k) {
                            $('#LoanAdvanceHead-edit').val(k.LoanAdvanceHead);
                            $('#TotalInstallment-edit').val(k.TotalInstallement);
                            $('[name="IsActive"]').val([k.ISActive]).button().button("refresh");
                            $('#CloserDate-edit').val(k.CloserDate);
                            $('#LoanAccNo-edit').val(k.LoanAccNo);
                            $('#Edit-LoanAccBranch').P2BSelectMenuAppend("@Url.Action("LoanAccBranchDrop")", "", k.LoanAccBranch);

                        });
                    },
                });
            } else if ($(init).hasClass('ui-icon-pencil')) {
                // //
                $('<div></div>').PartialCreateDialog({
                    height: 'auto',
                    width: '35%',
                    form: "#Edit-loanadvrequest",
                    htmlurl: "@Url.Action("GridPartial", "LoanAdvRequest")",
                    state: "open",
                    mode: "Edit",
                    editurl: "@Url.Action("GridEditData", "LoanAdvRequest")",
                    submiturl: "@Url.Action("GridEditSave", "LoanAdvRequest")",
                    editdata: id,
                    forwarddata: id,
                    returndatafunction: function (returndata) {
                        $.each(returndata.returndata, function (i, k) {
                            $('#LoanAdvanceHead-edit').val(k.LoanAdvanceHead);
                            $('#TotalInstallment-edit').val(k.TotalInstallement);
                            $('[name="IsActive"]').val([k.ISActive]).button().button("refresh");
                            $('#CloserDate-edit').val(k.CloserDate);
                            $('#LoanAccNo-edit').val(k.LoanAccNo);
                            $('#Edit-LoanAccBranch').P2BSelectMenuAppend("@Url.Action("LoanAccBranchDrop")", "", k.LoanAccBranch);

                        });
                    },
                    submitfun: function (data) {
                        var row = dt.row(parent_element);
                        if (row.child.isShown()) {
                            parent_element.removeClass('details');
                            row.child.hide();
                        }
                    }
                });
            } else if ($(init).hasClass('ui-icon-trash')) {
                $('<div></div>').PartialCreateDialog({
                    state: "open",
                    mode: "Delete",
                    submiturl: "@Url.Action("Delete")",
                    forwarddata: id,
                    submitfun: function (data) {
                        var row = dt.row(parent_element);
                        if (row.child.isShown()) {
                            parent_element.removeClass('details');
                            row.child.hide();
                        }
                    }
                });
            }
        };

        $('#Create_Dialog').P2BCreateDialog();
        $('#CreateRelease_dialog').P2BCreateDialog();

        //=====================================================EDIT SAVE=================================================================================
    

        $('#Authorize').button().on("click", function (event) {
            AssignData();
            $.post('@Url.Action("SanctionCheck", "PFLoanAuthorizationForm")?reqid=' + dt.Id, function (data, status) {
                if (data.responseText!="") {
                    alert(data.responseText);
                    return false;
                }
                else {
                    $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Loan Authorization ", '#frmLoanAdvRequestPFT', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 550, 740, '', '', function (data) {

                        $.each(data[0], function (i, k) {
                            var paymentmodes = (k.PaymentModeVal);
                            if (paymentmodes == "Cheque") {
                                $('#hidedivdetail').show();
                            }

                            else {
                                $('#hidedivdetail').hide();
                            }
                            $('#frmLoanAdvRequestPFT').trigger("reset");
                            var checkd2 = DateConvert(k.ChequeDate);
                            $('#ChequeDate').val(checkd2);
                            $('#BankBranchDetails').val(k.BankBranchDetails);
                            $('#LoanAdvanceHeadPFT').val(k.LoanAdvanceHeadPFT);
                            $('#LoanAccNo').val(k.LoanAccNo);
                            $('#RequisitionDate').val(DateConvert(k.RequisitionDate));
                            $('#SanctionedDate').val(DateConvert(k.SanctionedDate));
                            $('#LoanAppliedAmount').val(k.LoanAppliedAmount);
                            $('#LoanSanctionedAmount').val(k.LoanSanctionedAmount);
                            $('#MonthlyInstallmentAmount').val(k.MonthlyInstallmentAmount);
                            $('#TotalInstall').val(k.TotalInstall);
                            $('#MonthlyPricipalAmount').val(k.MonthlyPricipalAmount);
                            $('#MonthlyInterest').val(k.MonthlyInterest);
                            $('#Narration').val(k.Narration);
                            $('#EnforcementDate').val(DateConvert(k.EnforcementDate));
                            $('[name="IsActive"]').val([k.IsActive]).button().button("refresh");
                            $('#OwnPFAmount').val(k.OwnPFAmount);
                            $('#OwnPFIntAmount').val(k.OwnPFIntAmount);
                            $('#OwnerPFAmount').val(k.OwnerPFAmount);
                            $('#OwnerPFIntAmount').val(k.OwnerPFIntAmount);
                            $('#VPFAmount').val(k.VPFAmount);
                            $('#VPFIntAmount').val(k.VPFIntAmount);
                            $('#BankBranchDetails2').val(k.Bank);
                            $('#PayMode_drop').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 404, k.PaymentMode);
                            $('#ChequeNo').val(k.ChequeNo);
                            $('#BankBranchDetails').attr("readonly", "readonly");
                            $('#LoanAdvanceHeadPFT').attr("readonly", "readonly");
                            $('#LoanAccNo').attr("readonly", "readonly");
                            $('#RequisitionDate').attr("readonly", "readonly");
                            $('#SanctionedDate').attr("readonly", "readonly");
                            $('#LoanAppliedAmount').attr("readonly", "readonly");
                            $('#LoanSanctionedAmount').attr("readonly", "readonly");
                            $('#MonthlyInstallmentAmount').attr("readonly", "readonly");
                            $('#TotalInstall').attr("readonly", "readonly");
                            $('#MonthlyPricipalAmount').attr("readonly", "readonly");
                            $('#MonthlyInterest').attr("readonly", "readonly");
                            $('#Narration').attr("readonly", "readonly");
                            $('#EnforcementDate').attr("readonly", "readonly");
                            $('#IsActive').attr("readonly", "readonly");
                            $('#BankBranchDetails2').attr("readonly", "readonly");
                            $('#PayMode_drop').attr('disabled', true);
                            $('#ChequeNo').attr("readonly", "readonly");
                            $('#ChequeDate').attr("readonly", "readonly");
                        });
                        $.each(data[1], function (i, k) {
                            $('#LoanWFDetailids').P2BSelectMenuAppend('@Url.Action("GetLookupValueDATA")', 1005, k.wfStatusids);
                        });
                    });

                    //-------------------------------------------------------Rohan-------------------------------------------------------

                    $('input[name="IsActive"]:radio').filter('[value=true]').prop('checked', true);
                    $('#RequisitionDate').attr('readonly', true);
                    $('#SanctionedDate').attr('readonly', true);
                    $('#EnforcementDate').attr('readonly', true);
                    $('#PayMode_drop').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 404, "");

                    // To bind dropdown on page load


                    @*$('#LoanWFDetails').P2BSelectMenuAppend('@Url.Action("GetLookupValueDATA", "PFLoanAuthorizationForm")', 1005, "" );*@

                    $("#MonthlyInterest").on('focusout', function () {
                        var c = $("#MonthlyInstallmentAmount").val();
                        var a = $("#MonthlyInterest").val();
                        var b = $("#MonthlyPricipalAmount").val();
                        var d = parseInt(a) + parseInt(b);
                    });
                }
            });
                event.preventDefault();
            
            });




            //==========================================================EDIT VIEW===============================================================================



            $('#View').button().click(function (event) {


                AssignData();
                $('#Create_Dialog').P2BViewModalDialog('@Url.Action("EditView")', dt.Id, ' Loan Application', '', '', 640, 720, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {

                    $.each(data[0], function (i, k) {
                        var paymentmodes = (k.PaymentModeVal);
                        if (paymentmodes == "Cheque") {
                            $('#hidedivdetail').show();
                        }

                        else {
                            $('#hidedivdetail').hide();
                        }
                        $('#frmLoanAdvRequestPFT').trigger("reset");
                        var checkd2 = DateConvert(k.ChequeDate);
                        $('#ChequeDate').val(checkd2);
                        $('#BankBranchDetails').val(k.BankBranchDetails);
                        $('#LoanAdvanceHeadPFT').val(k.LoanAdvanceHeadPFT);
                        $('#LoanAccNo').val(k.LoanAccNo);
                        $('#RequisitionDate').val(DateConvert(k.RequisitionDate));
                        $('#SanctionedDate').val(DateConvert(k.SanctionedDate));
                        $('#LoanAppliedAmount').val(k.LoanAppliedAmount);
                        $('#LoanSanctionedAmount').val(k.LoanSanctionedAmount);
                        $('#MonthlyInstallmentAmount').val(k.MonthlyInstallmentAmount);
                        $('#TotalInstall').val(k.TotalInstall);
                        $('#MonthlyPricipalAmount').val(k.MonthlyPricipalAmount);
                        $('#MonthlyInterest').val(k.MonthlyInterest);
                        $('#Narration').val(k.Narration);
                        $('#EnforcementDate').val(DateConvert(k.EnforcementDate));
                        $('[name="IsActive"]').val([k.IsActive]).button().button("refresh");
                        $('#OwnPFAmount').val(k.OwnPFAmount);
                        $('#OwnPFIntAmount').val(k.OwnPFIntAmount);
                        $('#OwnerPFAmount').val(k.OwnerPFAmount);
                        $('#OwnerPFIntAmount').val(k.OwnerPFIntAmount);
                        $('#VPFAmount').val(k.VPFAmount);
                        $('#VPFIntAmount').val(k.VPFIntAmount);
                        $('#BankBranchDetails2').val(k.Bank);
                        $('#PayMode_drop').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 404, k.PaymentMode);
                        $('#ChequeNo').val(k.ChequeNo);
                        $('#BankBranchDetails').attr("readonly", "readonly");
                        $('#LoanAdvanceHeadPFT').attr("readonly", "readonly");
                        $('#LoanAccNo').attr("readonly", "readonly");
                        $('#RequisitionDate').attr("readonly", "readonly");
                        $('#SanctionedDate').attr("readonly", "readonly");
                        $('#LoanAppliedAmount').attr("readonly", "readonly");
                        $('#LoanSanctionedAmount').attr("readonly", "readonly");
                        $('#MonthlyInstallmentAmount').attr("readonly", "readonly");
                        $('#TotalInstall').attr("readonly", "readonly");
                        $('#MonthlyPricipalAmount').attr("readonly", "readonly");
                        $('#MonthlyInterest').attr("readonly", "readonly");
                        $('#Narration').attr("readonly", "readonly");
                        $('#EnforcementDate').attr("readonly", "readonly");
                        $('#IsActive').attr("readonly", "readonly");
                        $('#OwnPFAmount').attr("readonly", "readonly");
                        $('#OwnPFIntAmount').attr("readonly", "readonly");
                        $('#OwnerPFAmount').attr("readonly", "readonly");
                        $('#OwnerPFIntAmount').attr("readonly", "readonly");
                        $('#VPFAmount').attr("readonly", "readonly");
                        $('#VPFIntAmount').attr("readonly", "readonly");
                        $('#BankBranchDetails2').attr("readonly", "readonly");
                        $('#PayMode_drop').attr("readonly", "readonly");
                        $('#ChequeNo').attr("readonly", "readonly");
                        $('#ChequeDate').attr("readonly", "readonly");

                    });

                    $.each(data[1], function (i, k) {
                        $('#LoanWFDetailids').P2BSelectMenuAppend('@Url.Action("GetLookupValueDATA")', 1005, k.wfStatusviewid);
                        $('#comment').val(k.Comment);
                    });


                });



                $('input[name="IsActive"]:radio').filter('[value=true]').prop('checked', true);
                $('#RequisitionDate').attr('readonly', true);
                $('#SanctionedDate').attr('readonly', true);
                $('#EnforcementDate').attr('readonly', true);
                // $('#PayMode_drop').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 404, "");-->-->
                @* $('#LoanAccBranchlist').P2BSelectMenuAppend('@Url.Action("PopulateDropDownLocList", "LoanAdvRequest")', "", ""); *@

                // $('#LoanWFDetails').P2BSelectMenuAppend('@Url.Action("GetLookupValueDATA", "PFLoanAuthorizationForm")', 1005, "");
                $("#MonthlyInterest").on('focusout', function () {

                    var c = $("#MonthlyInstallmentAmount").val();
                    var a = $("#MonthlyInterest").val();
                    var b = $("#MonthlyPricipalAmount").val();
                    var d = parseInt(a) + parseInt(b);



                });

                event.preventDefault();
            });


            //==========================================================EDIT VIEW=================================================================================

            $('#Lookup-LoanAdvanceHead-LoanAdvRequest').button().on('click', function (event) {
                $('.dialog').P2BLookUpModal('@Url.Action("GetLoanAdvHeadLKDetails", "LoanAdvRequest")', '', 'LookupDiv', 'Look Up Data', '#LoanAdvanceHeadlist', 'LoanAdvanceHeadlist', 5, 'LoanAdvanceHeadlist', '#frmLoanAdvRequest', 'N', '#Remove-LoanAdvanceHead-LoanAdvRequest', 'Lookup_table', 'PageNavPosition');
                event.preventDefault();
            });
            $('#Remove-LoanAdvanceHead-LoanAdvRequest').button().on('click', function (event) {
                var a = [], b;
                a = $('#LoanAdvanceHeadlist').P2BGetTableDataonSelectedRow('#LoanAdvanceHeadlist', 0);
                b = a[0];
                $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#LoanAdvanceHeadlist', $('#LoanAdvanceHeadlist').val(), 200, 200, '#frmLoanAdvRequest', '#LoanAdvanceHeadlist', '');
                event.preventDefault();
            });

            $('#Lookup-LoanAccBranch-LoanAdvRequest').button().on('click', function (event) {
                $('.dialog').P2BLookUpModal('@Url.Action("PopulateDropDownLocList", "LoanAdvRequest")', '', 'LookupDiv', 'Look Up Data', '#LoanAccBranchlist', 'LoanAccBranchlist', 5, 'LoanAccBranchlist', '#frmLoanAdvRequest', 'N', '#Remove-LoanAccBranch-LoanAdvRequest', 'Lookup_table', 'PageNavPosition');
                event.preventDefault();
            });
            $('#Remove-LoanAccBranch-LoanAdvRequest').button().on('click', function (event) {
                var a = [], b;
                a = $('#LoanAccBranchlist').P2BGetTableDataonSelectedRow('#LoanAccBranchlist', 0);
                b = a[0];
                $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#LoanAccBranchlist', $('#LoanAccBranchlist').val(), 200, 200, '#frmLoanAdvRequest', '#LoanAccBranchlist', '');
                event.preventDefault();
            });

            $('#Btn-Upload-Data').on('click', function (e) {
                $('<div></div>').PartialCreateDialog({
                    height: '500',
                    width: '700',
                    form: '#FormLookup',
                    title: 'Upload',
                    htmlurl: '@Url.Action("PARTIAL","JSONUPLOAD")',
                    state: "open",
                    mode: 'edit',
                    editurl: null,
                    submiturl: null,
                    editdata: 'a',
                    forwarddata: 'a',
                    returndatafunction: function (data) {
                        console.log(data);
                    },
                    submitfun: function (data) {
                        console.log(data);
                    }
                });
            });
            $('#PayMode_drop').selectmenu().selectmenu("menuWidget");
            $('.popup_radio_button').controlgroup();
            $('#SalaryHeadReleaselist').selectmenu().selectmenu("menuWidget");
            $('#LoanWFDetailids').selectmenu().selectmenu("menuWidget");
            $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');
            $('#Code').ValidateTextBox({ maxlength: 10, AlphaNum: true });
            $('#Name').MaxLength(50);
            $('#LoanAppliedAmount,#LoanSanctionedAmount,#MonthlyInstallmentAmount,#TotalInstall,#MonthlyPricipalAmount,#MonthlyInterest').ForceAmount();
            // $('#RequisitionDate,#SanctionedDate,#EnforcementDate,#CloserDate').P2BDatePicker();

        });

        $('#OwnPFAmount').ForceOnlyNumeric();
        $('#OwnPFIntAmount').ForceOnlyNumeric();
        $('#OwnerPFAmount').ForceOnlyNumeric();
        $('#OwnerPFIntAmount').ForceOnlyNumeric();
        $('#VPFAmount').ForceOnlyNumeric();
        $('#VPFIntAmount').ForceOnlyNumeric();

        $('.drop').selectmenu().selectmenu("menuWidget").addClass("overflow");
        $('.popup_radio_button').controlgroup();


</script>
