@{
    Layout = null;
}
@model Payroll.LTCAdvanceClaim

<style>
    .icon-row {
        position: relative;
        left: 84px;
        top: -150px;
    }

    #BusinessType-button {
        font-size: 9px;
        padding-top: 1px;
        font-weight: bold;
    }

    .popup-content-label {
        display: block;
        float: left;
        width: 130px;
    }

    .popup-content-textbox {
        margin-bottom: 1px;
        min-width: 150px;
    }

    .popup-content-textbox1 {
        margin-left: 7px;
        float: right;
        min-width: 150px;
        top: 221px;
        position: absolute;
    }

    .row3 {
        width: 626px;
    }

    .row4 {
        position: absolute;
        top: 294px;
        width: 400px;
    }

    .popup-content-textbox-long {
        margin-bottom: 1px;
        width: 290px;
    }


    .row2 {
        width: 402px;
    }

    .section_Method {
        border: 1px solid rgba(207, 207, 207, 0.91);
        border-radius: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .process_btn {
        float: right;
    }

    .section2_Leave {
        width: 401px;
    }

    #lvdata {
        display: block;
        float: right;
    }

    .add_icon-row {
        position: relative;
        left: -20px;
        top: -46px;
    }
</style>

<html>

<head>
    <title></title>
    <script>
        $(document).ready(function (e) {
            @*var dataemp = $('#Emp').val("@Request.RequestContext.HttpContext.Session["TempEmpId"]");*@

            $('button').button();
            $('.popup_radio_button').buttonset();
            //$('#ResumeDate').P2BDatePicker();
            // $('#ReqDate').P2BDatePicker();
            $('#EmpLvnereq_Id').val("@Request.RequestContext.HttpContext.Session["TempEmpId"]");
            $('#autho').onClickGrid('#jqgrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');
            $('#PayMonth,#txtPayMonth').MonthYearPicker();
            $('.drop').selectmenu().selectmenu("menuWidget");
            $('#LTCTypelist').selectmenu().selectmenu("menuWidget");
            $('#LTCTypelist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "LTCAdvanceClaim")', 3000, "");
            $('#LvReqList').selectmenu().selectmenu("menuWidget");


            $('#DateOfAppl').attr('readonly', 'readonly');
            $('#DateOfAppl').TodayDate();



            if ($("#txtPayMonth").val() == "") {
                var dt = new Date();
                var month = dt.getMonth() + 1;
                month = month < 10 ? '0' + month : '' + month;
                $("#txtPayMonth").val(month + "/" + dt.getFullYear());
            }




            var EMPID = "@Request.RequestContext.HttpContext.Session["TempEmpId"]";
            //alert("EMPID : " + EMPID);
            if (EMPID != null || EMPID != "") {
                // alert($(this).val());
                //var id = $(this).val();
                $.get("@Url.Action("GetEmpLTCBlock")", { data: EMPID }, function (data) {
                   // alert(data.FullDetails);
                    $('#txtLTCBlock').val(data.Id);
                    $('#BlockId').val(data.Id);
                    $('#LvReqList').P2BSelectMenuAppend('@Url.Action("GetLVReqLKDetails", "LTCAdvanceClaim")', EMPID, data.Id); // To bind dropdown on page load
                    $('#txtLTCBlock').val(data.FullDetails).attr("readonly", "readonly");

                });
                $.get("@Url.Action("GetEmpSalStruct")", { data: EMPID }, function (data1) {

                    $('#LTC_Eligible_Amt').val(data1).attr("readonly", "readonly");

                });

            }



            $("#LTCAdvAmt").on('focusout', function () {
                // alert('r');
                var a = $("#LTC_Eligible_Amt").val();
                var b = $("#LTCAdvAmt").val();

                if (parseInt(b) > parseInt(a)) {
                    $("#LTCAdvAmt").val("");
                    alert("Advance amount should not be greater than Eligible amount");

                }

            });


            $('.popup_radio_button').buttonset();
            $('.drop').selectmenu().selectmenu("menuWidget");
            $('#autho').onClickGrid('#jqgrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');

            $('#LTCAdvAmt,#LTC_Eligible_Amt,#LTCSanctionedAmt').ForceAmount();
            $('#LTCAdvAmt,#LTC_Eligible_Amt,#LTCSanctionedAmt').val("0");
            $('#DateOfAppl,#TravelStartDate,#TravelEndDate').P2BDatePicker();





        });
    </script>
</head>
<body>
    <div class="dialog">
        <div title="LookUp Data">
            <div class="lookupdiv"></div>
        </div>
        <div id="pageNavPosition">

        </div>
    </div>


    <div id="create_dialog">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmLTCAdvClaim", name = "frmLTCAdvClaim" }))
        {
             <input id="BlockId" type="hidden" name="BlockId" />
            <input type="text" id="EmpLvnereq_Id" name="EmpLvnereq_Id" class="filter_structure_id" />


            <div class="section2_Leave">



                <div class="row2 select_div content_margine">
                    <label class="popup-content-label must">LTC Block</label>
                    <input name="txtLTCBlock" type="text" id="txtLTCBlock" />
                </div>

                <div class="row2 select_div content_margine">
                    @Html.LabelFor(m => m.LTC_TYPE, "LTC Type :", new { @class = "popup-content-label must" })
                    <select id="LTCTypelist" name="LTCTypelist" class="drop must" style="width:159px;"><option value="0">-Select-</option></select>
                </div>

                <div class="row2 content_margine">
                    @Html.LabelFor(m => m.LvNewReq, "Leave Requisition:", new { @class = "popup-content-label must" })
                    <select id="LvReqList" name="LvReqList" style="width:161px;" class="drop must"><option value="0">-Select-</option></select>
                </div>

                <div class="row2 content_margine">@Html.LabelFor(m => m.DateOfAppl, "Requisition Date :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.DateOfAppl, new { @class = "popup-content-textbox must" })</div>
                <div class="row2 content_margine">@Html.LabelFor(m => m.TravelStartDate, "Travel Start Date :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.TravelStartDate, new { @class = "popup-content-textbox must" })</div>
                <div class="row2 content_margine">@Html.LabelFor(m => m.TravelEndDate, "Travel End Date :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.TravelEndDate, new { @class = "popup-content-textbox must" })</div>
                <div class="row2 content_margine">@Html.LabelFor(m => m.ProposedPlace, "Proposed Place :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.ProposedPlace, new { @class = "popup-content-textbox must" })</div>
                <div class="row2 content_margine">@Html.LabelFor(m => m.LTC_Eligible_Amt, "LTC Eligible Amount :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.LTC_Eligible_Amt, new { @class = "popup-content-textbox must" })</div>

                <div class="row2 content_margine">
                    @Html.LabelFor(m => m.LTCAdvAmt, "LTC Advance Amount :", new { @class = "popup-content-label must" })
                    @Html.TextBoxFor(m => m.LTCAdvAmt, new { @class = "popup-content-textbox must" })
                </div>

                <div class="row2 content_margine" id="LTCSSanAmt" style="float:left;">
                    @*<label class="popup-content-label must" id="LTCSanctionedAmt">LTC Sanctioned Amount :</label>
                        <input type="text" id="LTCSanctionedAmtt" name="LTCSanctionedAmtt" />*@
                    @Html.LabelFor(m => m.LTCSanctionedAmt, "LTC Sanctioned Amount :", new { @class = "popup-content-label must" })
                    @Html.TextBoxFor(m => m.LTCSanctionedAmt, new { @class = "popup-content-textbox must" })
                </div>

                <div class="row2 content_margine">
                    @Html.LabelFor(m => m.Remark, "Remark :", new { @class = "popup-content-label must" })
                    @Html.TextBoxFor(m => m.Remark, new { @class = "popup-content-textbox must" })
                </div>


            </div>

        }
    </div>
</body>
</html>
