@{
    ViewBag.Title = "QualificationDetails";
}
@model P2b.Global.QualificationDetails

<head>
    <title></title>
    <style>
        .icon-row {
            position: relative;
            left: 131px;
            top: -150px;
        }

        #BusinessType-button {
            font-size: 9px;
            padding-top: 1px;
            font-weight: bold;
        }

        .popup-content-label {
            display: block;
            float: left;
            width: 178px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 150px;
        }

        /*.row3 {
            width: 402px;
        }*/

        .row4 {
            position: absolute;
            top: 294px;
            width: 400px;
        }

        .popup-content-textbox-long {
            margin-bottom: 1px;
            width: 290px;
        }


        .row2 {
            width: 402px;
        }
    </style>
</head>
<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <button class="button" id="Create">Create</button>
                <button class="button" id="View">View</button>
                <button class="button" id="Edit">Edit</button>
                <button class="button" id="Delete">Delete</button>
                <button class="button" id="Autho">Authorised</button>
                <div id="Grid_Form">
                    <div>
                        <table id="JqGrid"></table>
                        <div id="pager2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>

    <div id="Create_Dialog" title="Create Qualification Detail">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormQualificationDetails" }))
        {
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
            @*  <div class="row1 content_margine_quali">
                        @Html.LabelFor(m => m.Qualification, "Qualification:", new { @class = "qual_popup-content-label" })
                        <select class="drop" name="QualificationList" id="QualificationList" style="width:180px;">
                            <option value="0">
                                -Select-
                            </option>
                        </select>
                </div>*@
            @*<div class="row3 content_margine">
                    <div id="Qualificationlist_old"></div>
                    @Html.LabelFor(m => m.Qualification, "Qualification :", new { @class = "qual_first_popup_content-label" })
                    <div class="popup-content-table">
                        <table class="lookuptableselected" id="Qualificationlist">
                            <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                        </table>
                    </div>
                    <div class="icon-row">
                        <button data-p2btooltip="Select Qualification" class="popup-content-icon-lookup" id="Lookup-Qualification-QualDetails"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Create Qualification" class="popup-content-icon-create" id="Create-Qualification-QualDetails"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Edit Qualification" class="popup-content-icon-edit" id="Edit-Qualification-QualDetails"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Remove Qualification" class="popup-content-icon-remove" id="Remove-Qualification-QualDetails"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                    </div>
                </div>*@


            <div class="row3 content_margine">
                <div id="Qualificationlist_old"></div>
                @Html.LabelFor(m => m.Qualification, "Qualification :", new { @class = "popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="Qualificationlist">
                        <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Select Qualification" class="popup-content-icon-lookup" id="Lookup-Qualification-QualDetails"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Create Qualification" class="popup-content-icon-create" id="Create-Qualification-QualDetails"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit Qualification" class="popup-content-icon-edit" id="Edit-Qualification-QualDetails"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Remove Qualification" class="popup-content-icon-remove" id="Remove-Qualification-QualDetails"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>

            <div class="row3 content_margine">
                @Html.LabelFor(m => m.SpecilisedBranch, "Branch :", new { @class = "popup-content-label must" })
                @Html.TextBoxFor(m => m.SpecilisedBranch, new { @class = "popup-content-textbox must" })
            </div>
            <div class="row3 content_margine">
                @Html.LabelFor(m => m.Institute, "School/Instituate/College :", new { @class = "popup-content-label must" })
                @Html.TextBoxFor(m => m.Institute, new { @class = "popup-content-textbox must" })
            </div>
            <div class="row3 content_margine">
                @Html.LabelFor(m => m.University, "University :", new { @class = "popup-content-label must" })
                @Html.TextBoxFor(m => m.University, new { @class = "popup-content-textbox must" })
            </div>
            <div class="row3 content_margine">
                @Html.LabelFor(m => m.ResultPercentage, "ResultPercentage :", new { @class = "popup-content-label must" })
                @Html.TextBoxFor(m => m.ResultPercentage, new { @class = "popup-content-textbox must" ,@id="ResultPercentage" })
            </div>
            <div class="row3 content_margine">
                @Html.LabelFor(m => m.ResultGradation, "ResultGradation :", new { @class = "popup-content-label must" })
                @Html.TextBoxFor(m => m.ResultGradation, new { @class = "popup-content-textbox must" })
            </div>
            <div class="row3 content_margine">
                @Html.LabelFor(m => m.PasingYear, "PasingYear :", new { @class = "popup-content-label must" })
                @Html.TextBoxFor(m => m.PasingYear, new { @class = "popup-content-textbox must", @id = "PasingYear" })
            </div>
            <div class="row3 content_margine">
                @Html.LabelFor(m => m.ResultSubmissionDate, "Submission Date :", new { @class = "popup-content-label must" })
                @Html.TextBoxFor(m => m.ResultSubmissionDate, new { @class = "popup-content-textbox must",@id="ResultSubmissionDate" })
            </div>
            <div class="row3 content_margine">
                @Html.LabelFor(m => m.SpecialFeature, "Naration :", new { @class = "popup-content-label must" })
                @Html.TextBoxFor(m => m.SpecialFeature, new { @class = "popup-content-textbox must" })
            </div>

        }
    </div>
</body>

<script>
    $(function (e) {
        $('button').button();
        var dt;
        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;
        ColModel = ['Id', 'Institute', 'University'];
        ColNames = ['Id', 'Institute', 'University'];
        SortName = 'Id';
        Caption = 'Qualification Details';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);

        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }

        var btndisablenames = "Edit-Qualification-QualDetails,#Remove-Qualification-QualDetails";

        function DateConvert(JsonDate) {
            var date = new Date(parseInt(JsonDate.substr(6)));
            var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
            return displayDate;
        };



        $('#Create_Dialog').P2BCreateDialog();
        $('#Create').on("click", function (event) {
            $('#FormQualificationDetails').trigger("reset");
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create FormQualificationDetails', 'open', '@Url.Action("Create")', '#FormQualificationDetails', 'Message :', 'Request Falied :', '#JqGrid', 500, 620, '#Qualificationlist', btndisablenames, function (data) { });
         
            event.preventDefault();
        });


        $('#ResultPercentage').ForceOnlyNumeric();
        $('#ResultSubmissionDate').P2BDatePicker();
        $('#PasingYear').P2BDatePicker();
        

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-Qualification-QualDetails').on("click", function (event) {
          
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "Qualification")', 'Create Qualification', 'open', '@Url.Action("Create", "Qualification")', '#FormQualification', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#FormQualificationDetails', '', function (data) {
                //console.log(qualificn.Id);
             
                $('#Qualificationlist').P2BLookUpEncapsulate('#Qualificationlist', 'Qualificationlist', data[0], data[1], 'Qualificationlist', '#Edit-Qualification-QualDetails,#Remove-Qualification-QualDetails', 'N');
            });
            event.preventDefault();
        });



        //To get data in Lookup
        $('#Lookup-Qualification-QualDetails').on('click', function (event) {
           // alert('Show Qualifications')
            $('.dialog').P2BLookUpModal('@Url.Action("GetQualificationLKDetails", "QualificationDetails")', '', 'LookupDiv', 'Look Up Data', '#Qualificationlist', 'Qualificationlist', 5, 'Qualificationlist', '#FormQualificationDetails', 'N', '#Edit_QualDetails_empAcademicDtl,#Remove_QualDetails_empAcademicDtl', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });


      

        $('#Edit-Qualification-QualDetails').button().on("click", function (event) {
            var a = [], b;
            a = $('#Qualificationlist').P2BGetTableDataonSelectedRow('#Qualificationlist', 0);
            b = a[0];
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "Qualification")', '@Url.Action("edit", "Qualification")', b, '@Url.Action("Editsave", "Qualification")', 'Edit Qualification', '#FormQualification', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#FormQualificationDetails', '#Qualificationlist', 'Qualificationlist', 'Qualificationlist', 'N', '#Edit-Qualification-QualDetails,#Remove-Qualification-QualDetails', function (data) {

                $.each(data, function (i, k) {
                   
                        $('#FormQualification').trigger("reset");
                        $('#QualificationShortName').val(k.QualificationShortName);
                        $('#QualificationDesc').val(k.QualificationDesc);
                       // $('#QualificationType_Id').val(k.QualificationType_Id)
                       $('#Qualificationlist1').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 314, k.BusinessType_Id);
                });
            });
            event.preventDefault();
        });


        $('#Remove-Qualification-QualDetails').button().on('click', function (event) {
           // dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'ID');
            var a = [], b;
            a = $('#Qualificationlist').P2BGetTableDataonSelectedRow('#Qualificationlist', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#Qualificationlist', $('#Qualificationlist').val(), 200, 200, '#FormQualificationDetails', '#Qualificationlist', '#Remove-Qualification-QualDetails,#Edit-Qualification-QualDetails');
            event.preventDefault();
        });



     

        $('#Delete').button().click(function (event) {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            $('#Create_Dialog').P2BDeleteModalDialog('@Url.Action("Delete")', dt.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
            event.preventDefault();
        });


 // Main page edit
        $('#Edit').on('click', function () {
            AssignData();
            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit Data", '#FormQualificationDetails', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 500, 620, 'Qualificationlist', btndisablenames, function (data) {
                // setTimeout(function () {
                $.each(data[0], function (i, k) {
              
                    $('#FormQualificationDetails').trigger("reset");
                   // alert(k.Institute);
                    $('#Institute').val(k.Institute);
                    $('#SpecilisedBranch').val(k.SpecilisedBranch);
                    $('#University').val(k.University);
                   
                    $('#ResultPercentage').val(k.ResultPercentage);
                    $('#SpecilisedBranch').val(k.SpecilisedBranch);
                    $('#ResultGradation').val(k.ResultGradation);
                   
                    $('#SpecialFeature').val(k.SpecialFeature);
                    if (k.PasingYear != null) {
                        $('#PasingYear').val(DateConvert(k.PasingYear));
                    }
                    if (k.ResultSubmissionDate != null) {
                        $('#ResultSubmissionDate').val(DateConvert(k.ResultSubmissionDate));
                    }

                });

                //partial page bind
                $.each(data[1], function (i, k) {
                    $('#Qualificationlist').P2BLookUpEncapsulate('#Qualificationlist', 'Qualificationlist', k.Qual_Id, k.Qual_FullDetails, 'Qualificationlist', '#Edit-Qualification-QualDetails,#Remove-Qualification-QualDetails', 'A');
                });
                //alert(data[3]);
                $('#Autho_Allow').val(data[3]); //Compulsory for authorisation
                // }, 2000);
            });
        });



      


        //View main page
        $('#View').button().click(function (event) {
            AssignData();

            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View', '#Qualificationlist', btndisablenames, 500, 620, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {
                $.each(data[0], function (i, k) {
                    $('#Autho_Action').val(k.Action);
                    $('#FormQualificationDetails').trigger("reset");
                    $('#Institute').val(k.Institute);
                    $('#SpecilisedBranch').val(k.SpecilisedBranch);
                    $('#University').val(k.University);
                    $('#PasingYear').val(k.PasingYear);
                    $('#ResultPercentage').val(k.ResultPercentage);
                    $('#SpecilisedBranch').val(k.SpecilisedBranch);
                    $('#ResultGradation').val(k.ResultGradation);
                    $('#ResultSubmissionDate').val(k.ResultSubmissionDate);
                    $('#SpecialFeature').val(k.SpecialFeature);
                    if (k.PasingYear != null) {
                        $('#PasingYear').val(DateConvert(k.PasingYear));
                    }
                    if (k.ResultSubmissionDate != null) {
                        $('#ResultSubmissionDate').val(DateConvert(k.ResultSubmissionDate));
                    }


                });
                $.each(data[1], function (i, k) {
                    //alert('1');
                    $('#Qualificationlist').P2BLookUpEncapsulate('#Qualificationlist', 'Qualificationlist', k.Qual_Id, k.Qual_FullDetails, 'Qualificationlist', '', 'A');

                });

                //To bind old data if authorisation is true
                if ($("#Autho").hasClass('auto_active')) {
                    //alert('2');
                    // alert(data[2].Name, data[2].IncrList_val)
                    $('#SpecilisedBranch').oldVal(data[2].SpecilisedBranch);
                    $('#Institute').oldVal(data[2].Institute);
                    $('#University').oldVal(data[2].University);
                    $('#PasingYear').oldVal(data[2].PasingYear);
                    $('#ResultPercentage').oldVal(data[2].ResultPercentage);
                    $('#PasingYear').oldVal(data[2].PasingYear);
                    $('#ResultGradation').oldVal(data[2].ResultGradation);
                    $('#ResultSubmissionDate').oldVal(data[2].ResultSubmissionDate);
                    $('#SpecialFeature').oldVal(data[2].SpecialFeature);
                    $('#Qualificationlist_old').oldLookupVal(data[2].Qualification_val);
                }
            });

        });

       // $('.popup_radio_button').controlgroup();
        $('#Autho').makeDisable('#Create,#Edit,#Delete');
        //$('#CategoryList_DDL').selectmenu().selectmenu("menuWidget");
        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');

       // $('.drop').selectmenu().selectmenu('menuWidget');
        $('.date').P2BDatePicker();
    });
</script>