@{
    ViewBag.Title = "SeperationPolicyAssignment";
}
@model EMS.SeperationPolicyAssignment

<!DOCTYPE html>

<script>
    $(document).ready(function () {
        //$('#txt_box1').ValidateTextBox({ maxlength: 5, AlphaNum: 0 });
        $('#Code').ValidateTextBox({ maxlength: 10, AlphaNum: 0 });
        $('#Code').MaxLength(10);
        //$('#Name').ForceOnlyAlphaNumeric();
        $('#Name').MaxLength(50);
    });

</script>

<script>
    $(document).ready(function (e) {
        $('button').button();
        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;
        var btndisablenames = "#Edit-Address-Corporate,#Remove-Address-Corporate,#Edit-ContactDetails-Corporate,#Remove-ContactDetails-Corporate";
        ColModel = ['Separationmaster', 'PayScaleAgreementFullDetails', 'Id'];
        ColNames = ['Separationmaster', 'PayScaleAgreement', 'Id'];
        SortName = 'Id';
        Caption = 'Seperation Policy Assignment';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);

        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }

        $('#Create_Dialog').P2BCreateDialog();

        //Create Function
        $('#Create').on("click", function (event) {
            $('#frmSeperationPolicyAssignment').trigger("reset");
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create SeperationPolicyAssignment', 'open', '@Url.Action("Create")', '#frmSeperationPolicyAssignment', 'Message :', 'Request Falied :', '#JqGrid', 500, 620, '#AddressList,#ContactDetailsList', "", function (data) { });
            @*$('#PolicyNamelist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "PolicyAssignment")", 804, "", '#PolicyNamelist');*@
            event.preventDefault();
        });

        function DateConvert(JsonDate) {
            var date = new Date(parseInt(JsonDate.substr(6)));
            var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
            return displayDate;
        };
        @*// Main page edit
        $('#Edit').on('click', function () {
            AssignData();
            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit SeperationPolicyAssignment  Data", '#frmSeperationPolicyAssignment', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 500, 620, '#PolicyNamelist,#PolicyFormulalist', "", function (data) {
                $.each(data[0], function (i, k) {
                    @*// $('#PolicyNamelist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "PolicyAssignment")", 804, k.PolicyName); //
                    $('#PayScaleAgreementlist').P2BLookUpEncapsulate('#PayScaleAgreementlist', 'PayScaleAgreementlist', k.PayScaleAgreement_Id, k.PayScaleAgreement_FullDetails, 'PayScaleAgreementlist', '#Remove-PayScaleAgreement-PolicyAssignment', 'N');
                });

                //partial page bind
                $.each(data[1], function (i, k) {
                    ////;
                    $('#SeparationFormulalist').P2BLookUpEncapsulate('#SeparationFormulalist', 'SeparationFormulalist', k.PolicyFormula_Id, k.PolicyFormula_fulldetails, 'SeparationFormulalist', '#Remove-SeperationFormula-SeperationPolicyAssignment', 'A');
                });
                //alert(data[3]);
                $('#Autho_Allow').val(data[3]); //Compulsory for authorisation
                // }, 2000);
            });
        });
        // Main page edit*@

        // Main page edit
        $('#Edit').on('click', function () {
            AssignData();
            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit SeperationPolicyAssignment  Data", '#frmSeperationPolicyAssignment', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 500, 620, '#PolicyNamelist,#PolicyFormulalist', "", function (data) {
                $.each(data[0], function (i, k) {
                    ////;
                    $('#PayScaleAgreementlist').P2BLookUpEncapsulate('#PayScaleAgreementlist', 'PayScaleAgreementlist', k.PayScaleAgreement_Id, k.PayScaleAgreement_FullDetails, 'PayScaleAgreementlist', '#Remove-PayScaleAgreement-LvAssignemnt', 'N');

                    $('#SeperationMasterlist').P2BLookUpEncapsulate('#SeperationMasterlist', 'SeperationMasterlist', k.PolicyName_Id, k.PolicyName, 'SeperationMasterlist', '#Remove-SeperationMaster-SeperationPolicyAssignment', 'A');
                });

                //partial page bind
                $.each(data[1], function (i, k) {
                    ////;
                    $('#SeperationFormulalist').P2BLookUpEncapsulate('#SeperationFormulalist', 'SeperationFormulalist', k.SeperationPolicyFormula_Id, k.SeperationPolicyFormula_fulldetails, 'SeperationFormulalist', '#Remove-SeperationFormula-SeperationPolicyAssignment', 'A');
                });

                $('#Autho_Allow').val(data[3]); //Compulsory for authorisation
            });
        });

        //View main page
        $('#View').button().click(function (event) {
            AssignData();
            @*$('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View', '#BasicScaleDetailslist', '', 356, 512, '#Autho', '@Url.Action("delete")', '', '', '', '','','', function (data) {*@
            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View SeperationPolicyAssignment Data', '#AddressList,#ContactDetailsList', '#Lookup-Address-Corporate,#Create-Address-Corporate,#Edit-Address-Corporate,#Remove-Address-Corporate,#Lookup-ContactDetails-Corporate,#Create-ContactDetails-Corporate,#Edit-ContactDetails-Corporate,#Remove-ContactDetails-Corporate', 500, 620, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {
                $.each(data[0], function (i, k) {
                    $('#Seperationmasterlist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "PolicyAssignment")", 804, k.Seperationmaster);
                    $('#PayScaleAgreementlist').P2BLookUpEncapsulate('#PayScaleAgreementlist', 'PayScaleAgreementlist', k.PayScaleAgreement_Id, k.PayScaleAgreement_FullDetails, 'PayScaleAgreementlist', 'view', 'N');
                });

                $.each(data[1], function (i, k) {
                    console.log("fdsfdsf");
                    console.log(k);
                    console.log("fdsfdsf");
                    $('#SeperationFormulalist').P2BLookUpEncapsulate('#SeperationFormulalist', 'SeperationFormulalist', k.PolicyFormula_Id, k.PolicyFormula_fulldetails, 'SeperationFormulalist', '#Remove-SeperationFormula-SeperationPolicyAssignment', 'A');
                });

                //To bind old data if authorisation is true
                if ($("#Autho").hasClass('auto_active')) {
                    if (data[2] != null) {
                        $('#Name').oldVal(data[2].Name);
                        $('#CategoryList_DDL').oldDropval(data[2].BusinessType_Val);
                        $('#AddressList_Old').oldLookupVal(data[2].Address_Val);
                        $('#ContactDetailsList_Old').oldLookupVal(data[2].Contact_Val);
                    }
                }
                //}, 2000);
            });
        });

        //delete main page
        $('#Delete').button().click(function (event) {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            $('#Create_Dialog').P2BDeleteModalDialog('@Url.Action("Delete")', dt.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
            event.preventDefault();
        });


        /* ContactDetails button click*/

        $('#Lookup-SeperationFormula-SeperationPolicyAssignment').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetSeperationFormula", "SeperationPolicyAssignment")', '', 'LookupDiv', 'Look Up Data', '#SeperationFormulalist', 'SeperationFormulalist', 5, 'SeperationFormulalist', '#frmSeperationPolicyAssignment', 'A', '#Remove-SeperationFormula-SeperationPolicyAssignment', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        $('#Remove-SeperationFormula-SeperationPolicyAssignment').button().on('click', function (event) {
            // dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            //var a = [], b;
            //a = $('#SeperationFormulalist').P2BGetTableDataonSelectedRow('#SeperationFormulalist', 0);
            //b = a[0];]
            var selectedRows = [];
            selectedRows = $('#SeperationFormulalist').P2BGetTableDataonSelectedRow('#SeperationFormulalist', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#SeperationFormulalist', $('#SeperationFormulalist').val(), 200, 200, '#frmSeperationPolicyAssignment', '#SeperationFormulalist', '');
            event.preventDefault();
        });

        $('#Lookup-SeperationMaster-SeperationPolicyAssignment').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupSeperationMaster", "SeperationPolicyAssignment")', '', 'LookupDiv', 'Look Up Data', '#SeperationMasterlist', 'SeperationMasterlist', 5, 'SeperationMasterlist', '#frmSeperationPolicyAssignment', 'N', '#Remove-SeperationMaster-SeperationPolicyAssignment', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });


        $('#Remove-SeperationMaster-SeperationPolicyAssignment').button().on('click', function (event) {
            // dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            //var a = [], b;
            //a = $('#SeperationMasterlist').P2BGetTableDataonSelectedRow('#SeperationMasterlist', 0);
            //b = a[0];

            var selectedRows = [];
            selectedRows = $('#SeperationMasterlist').P2BGetTableDataonSelectedRow('#SeperationMasterlist', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#SeperationMasterlist', $('#SeperationMasterlist').val(), 200, 200, '#frmSeperationPolicyAssignment', '#SeperationMasterlist', '');
            event.preventDefault();
        });

        $('#Lookup-PayScaleAgreement-SeperationPolicyAssignment').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupPayscaleagreement", "SeperationPolicyAssignment")', '', 'LookupDiv', 'Look Up Data', '#PayScaleAgreementlist', 'PayScaleAgreementlist', 5, 'PayScaleAgreementlist', '#frmSeperationPolicyAssignment', 'N', '#Remove-PayScaleAgreement-SeperationPolicyAssignment', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        $('#Remove-PayScaleAgreement-SeperationPolicyAssignment').button().on('click', function (event) {
            // dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            //var a = [], b;
            //a = $('#PayScaleAgreementlist').P2BGetTableDataonSelectedRow('#PayScaleAgreementlist', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#PayScaleAgreementlist').P2BGetTableDataonSelectedRow('#PayScaleAgreementlist', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#PayScaleAgreementlist', $('#PayScaleAgreementlist').val(), 200, 200, '#frmSeperationPolicyAssignment', '#PayScaleAgreementlist', '');
            event.preventDefault();
        });


        $('.popup_radio_button').controlgroup();
        $('#Autho').makeDisable('#Create,#Edit,#Delete');
        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');
        $('.drop').selectmenu().selectmenu("menuWidget").addClass("overflow");
    });
</script>

<html>

<head>
    <title></title>

    <style>
        .icon-row {
            position: relative;
            left: 96px;
            top: -151px;
        }

        #BusinessType-button {
            font-size: 9px;
            padding-top: 1px;
            font-weight: bold;
        }

        .popup-content-label {
            display: block;
            width: 137px;
            margin: 1px;
            display: block;
            float: left;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 150px;
        }

        .row3 {
            display: inline-block;
            width: 500px;
            margin-top: 10px;
        }

        .row4 {
            position: absolute;
            top: 294px;
            width: 400px;
        }

        .popup-content-textbox-long {
            margin-bottom: 1px;
            width: 290px;
        }


        .row2 {
            width: 402px;
        }
    </style>
</head>

<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <button class="button" id="Create">Create</button>
                <button class="button" id="View">View</button>
                <button class="button" id="Edit">Edit</button>
                <button class="button" id="Delete">Delete</button>
                <button class="button" id="Autho">Authorised</button>
                <div id="Grid_Form">
                    <div>
                        <table id="JqGrid"></table>
                        <div id="pager2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>

    <div id="Create_Dialog" title="Create Policy Assignment">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmSeperationPolicyAssignment", name = "frmSeperationPolicyAssignment" }))
        {
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />

            <div class="row3 content_margine">
                <div id="lvnewreqlist_old"></div>
                @Html.LabelFor(m => m.PayScaleAgreement, "PayScaleAgreement :", new { @class = "popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="PayScaleAgreementlist">
                        <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Select PayScaleAgreement" class="  popup-content-icon-lookup" id="Lookup-PayScaleAgreement-SeperationPolicyAssignment"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    @*<button data-p2btooltip="Create Address" class="popup-content-icon-create" id="Create-LvNewReq-LvEncashReq"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Edit Address" class="popup-content-icon-edit" id="Edit-LvNewReq-LvEncashReq"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>*@
                    <button data-p2btooltip="Remove PayScaleAgreement" class="popup-content-icon-remove" id="Remove-PayScaleAgreement-SeperationPolicyAssignment"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>


            @*<div class="row3 content_margine">
                    @Html.LabelFor(m => m.SeperationFormula, "Seperation Formula:", new { @class = "popup-content-label must" })
                    <select class="drop must" style="width:300px;" name="SeperationFormulalist" id="PolicyNamelist"><option></option></select>
                </div>*@


            <div class="row3 content_margine">
                <div id="lvnewreqlist_old"></div>
                @Html.LabelFor(m => m.SeperationFormula, "Seperation Policy Formula :", new { @class = "popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="SeperationFormulalist">
                        <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>

                <div class="icon-row">
                    <button data-p2btooltip="Select SeperationPolicyFormula" class="  popup-content-icon-lookup" id="Lookup-SeperationFormula-SeperationPolicyAssignment"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    @*<button data-p2btooltip="Create Address" class="popup-content-icon-create" id="Create-LvNewReq-LvEncashReq"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Edit Address" class="popup-content-icon-edit" id="Edit-LvNewReq-LvEncashReq"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>*@
                    <button data-p2btooltip="Remove SeperationPolicyFormula" class="popup-content-icon-remove" id="Remove-SeperationFormula-SeperationPolicyAssignment"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>

            <div class="row3 content_margine">
                <div id="lvnewreqlist_old"></div>
                @Html.LabelFor(m => m.SeperationMaster, "Seperation Master:", new { @class = "popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="SeperationMasterlist">
                        <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>

                <div class="icon-row">
                    <button data-p2btooltip="Select SeperationMaster" class="  popup-content-icon-lookup" id="Lookup-SeperationMaster-SeperationPolicyAssignment"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    @*<button data-p2btooltip="Create Address" class="popup-content-icon-create" id="Create-LvNewReq-LvEncashReq"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Edit Address" class="popup-content-icon-edit" id="Edit-LvNewReq-LvEncashReq"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>*@
                    <button data-p2btooltip="Remove SeperationMaster" class="popup-content-icon-remove" id="Remove-SeperationMaster-SeperationPolicyAssignment"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>

        }
    </div>

</body>
</html>

