@{
    Layout = null;
}


@model P2B.PFTRUST.InterestRate


<html>
<head>
    <style>


        .contact_popup-content-textbox {
            margin-bottom: 20px;
            min-width: 71%;
        }


        .contact_popup-content-label {
            display: block;
            margin: 1px;
            float: left;
            width: 95px;
        }

        .contact_row {
            width: 397px;
        }

        .con_icon-row {
            position: absolute;
            left: 64px;
            top: 83px;
        }

        .date_label {
            margin-left: 40px;
            width: 95px;
        }

        .date_label1 {
            margin-left: 3px;
            width: 95px;
        }

        .date_textbox {
            margin-bottom: 20px;
            width: 80px;
            margin-left: 24px;
        }

        .heading {
            margin-bottom: 20px;
        }
    </style>


</head>


<body>
    <div>

        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmInterestRate", name = "frmInterestRate" }))
        {

            <div class="contact_row content_margine">
                @Html.LabelFor(m => m.Name, "Name : ", new { @class = "contact_popup-content-label" })
                @Html.TextBoxFor(m => m.Name, new { @class = "contact_popup-content-textbox must", @maxlength = "100" })
            </div>

            @*<div class="contact_row content_margine">
                    @Html.LabelFor(m=>m.EffectiveFrom,"Effective From : ",new {@class= "contact_popup-content-label" })
                    @Html.TextBoxFor(m => m.EffectiveFrom, new {@class= "popup-content-textbox must", @readonly = true })
                    @Html.LabelFor(m=>m.EffectiveTo, "To : ", new {@class= "contact_popup-content-label" })
                    @Html.TextBoxFor(m => m.EffectiveTo, new { @class = "popup-content-textbox must", @readonly=true })

                </div>*@

            <div class="contact_row content_margine">
                @Html.LabelFor(m => m.EffectiveFrom, "Effective From : ", new { @class = "date_label1" })
                @Html.TextBoxFor(m => m.EffectiveFrom, new { @class = "date_textbox must" })
                @Html.LabelFor(m => m.EffectiveTo, "To : ", new { @class = "date_label" })
                @Html.TextBoxFor(m => m.EffectiveTo, new { @class = "date_textbox must" })
            </div>


            <div class="contact_row content_margine">
                <div class="heading">Government Interest</div>

                @Html.LabelFor(m => m.GovtEMPPFInt, "Employee PF : ", new { @class = "date_label1" })
                @Html.TextBoxFor(m => m.GovtEMPPFInt, new { @class = "date_textbox must" })
                @Html.LabelFor(m => m.GovtVPFInt, "VPF : ", new { @class = "date_label" })
                @Html.TextBoxFor(m => m.GovtVPFInt, new { @class = "date_textbox must" })

            </div>



            <div class="contact_row content_margine">
                <div class="heading">Trust Interest</div>

                @Html.LabelFor(m => m.TrustEMPPFInt, "Employee PF : ", new { @class = "date_label1 " })
                @Html.TextBoxFor(m => m.TrustEMPPFInt, new { @class = "date_textbox must" })
                @Html.LabelFor(m => m.TrustVPFInt, "VPF : ", new { @class = "date_label" })
                @Html.TextBoxFor(m => m.TrustVPFInt, new { @class = "date_textbox must" })

            </div>




        }

    </div>


</body>



</html>

<script>









    $(document).ready(function () {

        $("#EffectiveFrom").P2BDatePicker();
        $("#EffectiveTo").P2BDatePicker();
    });

</script>