@{
    Layout = null;
}

@model P2B.PFTRUST.LoanAdvancePolicyPFT

<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmLoanAdvancePolicy" }))
    {   <div class="row3 content_margine">
            @Html.LabelFor(m => m.Name, "Name:", new { @class = "popup-content-label" })
            @Html.TextBoxFor(m => m.Name, new { @class = "popup-content-textbox" ,@id="NameId"})
        </div>
        <div class="row3 content_margine">
            @Html.LabelFor(m => m.EffectiveDate, "Effective Date:", new { @class = "popup-content-label must" })
            @Html.TextBoxFor(m => m.EffectiveDate, new { @class = "popup-content-textbox must date" })
        </div>
        <div class="row3 content_margine">
            @Html.LabelFor(m => m.YrsOfServ, "Years Of Service:", new { @class = "popup-content-label" })
            @Html.TextBoxFor(m => m.YrsOfServ, new { @class = "popup-content-textbox" })
        </div>
        <div class="row3  content_margine">
            @Html.LabelFor(m => m.IsLoanLimit, "Limit Applicable:", new { @class = "popup-content-label" })
            <div class="popup_radio_button radio_button_div_2 ">
                @Html.RadioButtonFor(m => m.IsLoanLimit, "true", new { type = "radio", @id = "radio3" })
                @Html.Label("Yes", new { @for = "radio3" })
                @Html.RadioButtonFor(m => m.IsLoanLimit, "false", new { type = "radio", @id = "radio4" })
                @Html.Label("No", new { @for = "radio4" })
            </div>
        </div>
        <div class="row3  content_margine">
            @Html.LabelFor(m => m.IsFixAmount, "Is Fixed Amt:", new { @class = "popup-content-label" })
            <div class="popup_radio_button radio_button_div_2 ">
                @Html.RadioButtonFor(m => m.IsFixAmount, "true", new { type = "radio", @id = "radio5" })
                @Html.Label("Yes", new { @for = "radio5" })
                @Html.RadioButtonFor(m => m.IsFixAmount, "false", new { type = "radio", @id = "radio6" })
                @Html.Label("No", new { @for = "radio6" })
            </div>
        </div>
        <div class="row3 content_margine">
            @Html.LabelFor(m => m.MaxLoanAmount, "Max Loan Amt:", new { @class = "popup-content-label must" })
            @Html.TextBoxFor(m => m.MaxLoanAmount, new { @class = "popup-content-textbox must" })
        </div>
        <div class="row3  content_margine">
            @Html.LabelFor(m => m.IsOnWages, "Is Dependent On Salary:", new { @class = "popup-content-label" })
            <div class="popup_radio_button radio_button_div_2 ">
                @Html.RadioButtonFor(m => m.IsOnWages, "true", new { type = "radio", @id = "radio7" })
                @Html.Label("Yes", new { @for = "radio7" })
                @Html.RadioButtonFor(m => m.IsOnWages, "false", new { type = "radio", @id = "radio8" })
                @Html.Label("No", new { @for = "radio8" })
            </div>
        </div>
        <div class="row3 content_margine">
            <label class="popup-content-label">Loan Sanction Wages:</label>
            <div class="popup-content-table">
                <table class="lookuptableselected" id="WagesList">
                    <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                </table>
            </div>
            <div class="icon-row">
                <button data-p2btooltip="Select LoanAdvanceHead" class="  popup-content-icon-lookup" id="Lookup-Wages-LoanAdvancePolicy"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                <button data-p2btooltip="Remove LoanAdvanceHead" class="popup-content-icon-remove" id="Remove-Wages-LoanAdvancePolicy"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
            </div>
        </div>

        <div class="row3 content_margine">
            @Html.LabelFor(m => m.IntAppl, "Investment Appli:", new { @class = "popup-content-label" })
            <div class="popup_radio_button radio_button_div_2 ">
                @Html.RadioButtonFor(m => m.IntAppl, "true", new { type = "radio", @id = "radio9" })
                @Html.Label("Yes", new { @for = "radio9" })
                @Html.RadioButtonFor(m => m.IntAppl, "false", new { type = "radio", @id = "radio10" })
                @Html.Label("No", new { @for = "radio10" })
            </div>
        </div>
        <div class="row3 content_margine">
            @Html.LabelFor(m => m.InterestType, "Interest Type:", new { @class = "popup-content-label must" })
            <select id="InterestTpyelist" name="InterestTpyelist" class="drop must" style="width:120px;"><option></option></select>
        </div>
        <div class="row3 content_margine">@Html.LabelFor(m => m.IntRate, "Investment Rate:", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.IntRate, new { @class = "popup-content-textbox", id = "IntRate" })</div>
        <div class="row3 content_margine horizontal_row3 content_margine">
            @Html.LabelFor(m => m.IsPerkOnInt, "Perk on Investment Appli:", new { @class = "popup-content-label" })
            <div class="popup_radio_button radio_button_div_3 ">
                @Html.RadioButtonFor(m => m.IsPerkOnInt, "true", new { type = "radio", @id = "radio11" })
                @Html.Label("Yes", new { @for = "radio11" })
                @Html.RadioButtonFor(m => m.IsPerkOnInt, "false", new { type = "radio", @id = "radio12" })
                @Html.Label("No", new { @for = "radio12" })
            </div>
        </div>
        <div class="row3 content_margine">
            @Html.LabelFor(m => m.GovtIntRate, "Gov Int Rate:", new { @class = "popup-content-label" })
            @Html.TextBoxFor(m => m.GovtIntRate, new { @class = "popup-content-textbox" })
        </div>
        <div class="row3  content_margine">
            @Html.LabelFor(m => m.IsPFTContibution, "IsPFTContibution:", new { @class = "popup-content-label" })
            <div class="popup_radio_button radio_button_div_2 ">
                <span class="popup_radio_button radio_button_div_1">
                    <input type="radio" id="radio13" name="IsPFTContibution" value="true" /><label for="radio13">Yes</label>
                    <input type="radio" id="radio14" name="IsPFTContibution" value="false" checked="checked" /><label for="radio14">No</label>
                </span>
            </div>
        </div>

        <div class="row3 content_margine PFTContibution">
            @Html.LabelFor(m => m.PFTContibutionPercent, "PFTContibutionPercent :", new { @class = "popup-content-label" })
            @Html.TextBoxFor(m => m.PFTContibutionPercent, new { @class = "popup-content-textbox" })
        </div>

        <div class="row3  content_margine">
            @Html.LabelFor(m => m.IsOwnContibution, "IsOwnContibution:", new { @class = "popup-content-label" })
            <div class="popup_radio_button radio_button_div_2 ">
                <span class="popup_radio_button radio_button_div_1">
                    <input type="radio" id="radio15" name="IsOwnContibution" value="true" /><label for="radio15">Yes</label>
                    <input type="radio" id="radio16" name="IsOwnContibution" value="false" checked="checked" /><label for="radio16">No</label>
                </span>
            </div>
        </div>

        <div class="row3 content_margine OwnContibution">
            @Html.LabelFor(m => m.OwnContibutionPercent, "OwnContibutionPercent:", new { @class = "popup-content-label" })
            @Html.TextBoxFor(m => m.OwnContibutionPercent, new { @class = "popup-content-textbox" })
        </div>

        <div class="row3  content_margine">
            @Html.LabelFor(m => m.IsOwnerContibution, "IsOwnerContibution:", new { @class = "popup-content-label" })
            <div class="popup_radio_button radio_button_div_2 ">
                <span class="popup_radio_button radio_button_div_1">
                    <input type="radio" id="radio17" name="IsOwnerContibution" value="true" /><label for="radio17">Yes</label>
                    <input type="radio" id="radio18" name="IsOwnerContibution" value="false" checked="checked" /><label for="radio18">No</label>
                </span>
            </div>
        </div>

        <div class="row3 content_margine OwnerContibution">
            @Html.LabelFor(m => m.OwnerContibutionPercent, "OwnerContibutionPercent :", new { @class = "popup-content-label" })
            @Html.TextBoxFor(m => m.OwnerContibutionPercent, new { @class = "popup-content-textbox" })
        </div>

        <div class="row3 content_margine">
            @Html.LabelFor(m => m.PFLoanType, "PFLoanType:", new { @class = "popup-content-label must" })
            <select id="PFLoanType" name="PFLoanType" class="drop must" style="width:120px;"><option></option></select>
        </div>

        <div class="row3 content_margine ">
            @Html.LabelFor(m => m.IsOwnerIntContibution, "IsOwnerIntContibution:", new { @class = "popup-content-label" })
            <div class="popup_radio_button radio_button_div_2 ">
                <span class="popup_radio_button radio_button_div_1">
                    <input type="radio" id="radio19" name="IsOwnerIntContibution" value="true" /><label for="radio19">Yes</label>
                    <input type="radio" id="radio20" name="IsOwnerIntContibution" value="false" checked="checked" /><label for="radio20">No</label>
                </span>
            </div>
        </div>

        <div class="row3 content_margine OwnerIntContibution">
            @Html.LabelFor(m => m.OwnerIntContibutionPercent, "OwnerIntContibutionPercent :", new { @class = "popup-content-label" })
            @Html.TextBoxFor(m => m.OwnerIntContibutionPercent, new { @class = "popup-content-textbox" })
        </div>


        <div style="margin-right:211px">
            @Html.LabelFor(m => m.IsOwnIntContibution, "IsOwnIntContibution:", new { @class = "popup-content-label" })
            <div class="popup_radio_button radio_button_div_3 ">
                <span class="popup_radio_button radio_button_div_1">
                    <input type="radio" id="radio21" name="IsOwnIntContibution" value="true" /><label for="radio21">Yes</label>
                    <input type="radio" id="radio22" name="IsOwnIntContibution" value="false" checked="checked" /><label for="radio22">No</label>
                </span>
            </div>

        </div>

        <div class="row3 content_margine OwnIntContibution">
            @Html.LabelFor(m => m.OwnIntContibutionPercent, "OwnIntContibutionPercent :", new { @class = "popup-content-label" })
            @Html.TextBoxFor(m => m.OwnIntContibutionPercent, new { @class = "popup-content-textbox" })
        </div>

        <div class="row3 content_margine horizontal_row3 content_margine">
            @Html.LabelFor(m => m.IsVPFIntContibution, "IsVPFIntContibution:", new { @class = "popup-content-label" })
            <div class="popup_radio_button radio_button_div_3 ">
                <span class="popup_radio_button radio_button_div_1">
                    <input type="radio" id="radio23" name="IsVPFIntContibution" value="true" /><label for="radio23">Yes</label>
                    <input type="radio" id="radio24" name="IsVPFIntContibution" value="false" checked="checked" /><label for="radio24">No</label>
                </span>
            </div>
        </div>

    <div class="row3 content_margine VPFIntContibution">
        @Html.LabelFor(m => m.VPFIntContibutionPercent, "VPFIntContibutionPercent :", new { @class = "popup-content-label" })
        @Html.TextBoxFor(m => m.VPFIntContibutionPercent, new { @class = "popup-content-textbox" })
    </div>

        <div class="row3 content_margine horizontal_row3 content_margine">
            @Html.LabelFor(m => m.IsPFIntContibution, "IsPFIntContibution:", new { @class = "popup-content-label" })
            <div class="popup_radio_button radio_button_div_3 ">
                <span class="popup_radio_button radio_button_div_1">
                    <input type="radio" id="radio25" name="IsPFIntContibution" value="true" /><label for="radio25">Yes</label>
                    <input type="radio" id="radio26" name="IsPFIntContibution" value="false" checked="checked" /><label for="radio26">No</label>
                </span>

            </div>
        </div>

    <div class="row3 content_margine PFIntContibution">
        @Html.LabelFor(m => m.PFIntContibutionPercent, "PFIntContibutionPercent :", new { @class = "popup-content-label" })
        @Html.TextBoxFor(m => m.PFIntContibutionPercent, new { @class = "popup-content-textbox" })
    </div>

        <div class="row3 content_margine">
            @Html.LabelFor(m => m.NoOfTimesPFTContribution, "No Of TimesPFT Contribution:", new { @class = "popup-content-label" })
            @Html.TextBoxFor(m => m.NoOfTimesPFTContribution, new { @class = "popup-content-textbox" })
        </div>
    }
</div>

<script>
    $(document).ready(function () {
        $('button').button();
        $('.date').P2BDatePicker();
        $('.popup_radio_button').controlgroup();

        $('#PFTContibutionPercent').attr("value", "0");
        $('#OwnContibutionPercent').attr("value", "0");
        $('#OwnerContibutionPercent').attr("value", "0");
        $('#OwnerIntContibutionPercent').attr("value", "0"); 
        $('#OwnIntContibutionPercent').attr("value", "0");
        $('#VPFIntContibutionPercent').attr("value", "0");
        $('#PFIntContibutionPercent').attr("value", "0");

        $('#Lookup-Wages-LoanAdvancePolicy').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetWagesLKDetails", "Wages")', '', 'LookupDiv', 'LoanWages Look Up Data', '#WagesList', 'WagesList', 5, 'WagesList', '#frmLoanAdvancePolicy', 'N', '#Remove-Wages-LoanAdvancePolicy', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        $('#Remove-Wages-LoanAdvancePolicy').button().on('click', function (event) {
            //var a = [], b;
            //a = $('#Wageslist').P2BGetTableDataonSelectedRow('#Wageslist', 0);
            var selectedRow = [];
            selectedRow = $('#WagesList').P2BGetTableDataonSelectedRow('#WagesList', 0);
            
            //b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRow, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#WagesList', $('#WagesList').val(), 200, 200, '#frmLoanAdvancePolicy', '#WagesList', '');
            event.preventDefault();
        });
        
        $('input[name="IsPFTContibution"]:radio').change(function () {
            if (this.value == "false") {
                $('.PFTContibution').hide();
            }
            else {

                $('.PFTContibution').show();
            }
        });
        $('input[name="IsOwnContibution"]:radio').change(function () {
            if (this.value == "false") {
                $('.OwnContibution').hide();
            }
            else {

                $('.OwnContibution').show();
            }
        });

        $('input[name="IsOwnerContibution"]:radio').change(function () {
            if (this.value == "false") {
                $('.OwnerContibution').hide();
            }
            else {

                $('.OwnerContibution').show();
            }
        });
        

        $('input[name="IsOwnerIntContibution"]:radio').change(function () {
            if (this.value == "false") {
                $('.OwnerIntContibution').hide();
            }
            else {

                $('.OwnerIntContibution').show();
            }
        });

        $('input[name="IsOwnIntContibution"]:radio').change(function () {
            if (this.value == "false") {
                $('.OwnIntContibution').hide();
            }
            else {

                $('.OwnIntContibution').show();
            }
        });


        $('input[name="IsPFIntContibution"]:radio').change(function () {
            if (this.value == "false") {
                $('.PFIntContibution').hide();
            }
            else {

                $('.PFIntContibution').show();
            }
        });

        $('input[name="IsVPFIntContibution"]:radio').change(function () {
            if (this.value == "false") {
                $('.VPFIntContibution').hide();                
            }
            else {

                $('.VPFIntContibution').show();
            }
        });
      
        $('#MaxLoanAmount').ForceOnlyNumeric();
        $('.drop').selectmenu().selectmenu('menuWidget');
        $('#InterestTpyelist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 402, "");
        $('#PFLoanType').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 510, "");
    });
</script>



<style>
    .icon-row {
        position: relative;
        left: 122px;
        top: -150px;
    }

    .popup-content-label {
        display: block;
        float: left;
        width: 165px;
    }

    .popup-content-textbox {
        margin-bottom: 1px;
        min-width: 150px;
    }

    .row3 {
        width: 465px;
    }

    .popup-content-textbox-long {
        margin-bottom: 1px;
        width: 290px;
    }


    .row2 {
        width: 402px;
    }
</style>
