@{
    ViewBag.Title = "ITChallan";
}
@model Payroll.ITChallan




<html>
@*<link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/themes/blitzer/jquery-ui.css"
    rel="stylesheet" type="text/css" />*@
<head>
    <title></title>
    <style>
        .transcation_btn{
            height:20px;
            width:20px;
        }
        .popup-content-iconmark{
            left:0px;
            top:0px;
        }
        .icon-row {
            position: relative;
            left: 53px;
            top: -150px;
        }

        #BusinessType-button {
            font-size: 9px;
            padding-top: 1px;
            font-weight: bold;
        }

        .popup-content-label {
            display: block;
            float: left;
            width: 122px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 150px;
        }

        .row3 {
            width: 595px;
        }

        .row4 {
            position: absolute;
            top: 294px;
            width: 400px;
        }

        .popup-content-textbox-long {
            margin-bottom: 1px;
            width: 290px;
        }


        .row2 {
            width: 402px;
        }

        .row4 {
            width: 250px;
            display: inline-block;
            /*! margin-left: -89px; */
            position: absolute;
            left: 292px;
            top: 132px;
        }

        .row5 {
            width: 150px;
            display: inline-block;
            /* margin-left: -89px; */
            position: absolute;
            left: 305px;
            top: 152px;
        }

        .tbl {
            width: 686px;
            min-height: 300px;
            min-width: 600px;
            max-height: none;
            height: 350px;
        }

        .transactiondiv {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            width: 451px;
            border-radius: 5px;
            /* height: 43px; */
        }

        .transactiontablenew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            /*width: 200px;*/
            display: block;
            overflow: auto;
            height: 500px;
            border-collapse: collapse;
        }

        .transactiondivnew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            width: 507px;
            border-radius: 5px;
            height: 32px;
        }

            .transactiondivnew > div {
                display: inline-block;
                margin: 0 auto;
                padding: 4px;
            }

                .transactiondivnew > div > input {
                    box-sizing: initial;
                    display: inline-block;
                    margin: 0 auto;
                    width: 108px;
                }

        .transactiontablenew th, .transactiontablenew td {
            background: rgba(246, 246, 246, 0.64) none repeat scroll 0 0;
            padding: 5px;
            border-bottom: 1px solid #c5c5c5;
            border-right: 1px solid #c5c5c5;
            text-align: center;
            color: rgba(114, 113, 113, 0.9);
        }

            .transactiontablenew th:nth-child(1) > input, .transactiontablenew td:nth-child(1) > input {
                margin: 0 auto;
            }

            .transactiontablenew th:nth-child(2), .transactiontablenew td:nth-child(2) {
                height: 100%;
                width: 100%;
            }

        .transactiontablenew tr:hover {
            cursor: pointer;
            background: #EEEEEE none repeat scroll 0 0;
        }

        .section1_Leave {
            display: block;
            border: 1.5px solid rgba(207, 207, 207, 0.91);
            height: 688px;
            width: 534px;
            margin: 4px auto;
            position: absolute;
        }

        .section2_Leave {
            display: block;
            border: 1px solid #ddd;
            height: 250px;
            width: 610px;
            margin: 5px 4px;
            position: absolute;
            left: 546px;
        }


        #BusinessType-button {
            font-size: 9px;
            padding-top: 1px;
            font-weight: bold;
        }

        .popup-content-label {
            width: 138px;
            display: block;
            float: left;
            margin: 1px;
        }

        .popup-content-label-2 {
            width: 100px;
            display: block;
            float: left;
            margin: 1px;
        }

        .section1_Leave {
            display: block;
            border: 1.5px solid rgba(207, 207, 207, 0.91);
            height: 688px;
            width: 534px;
            margin: 4px auto;
            position: absolute;
        }

        .section2_Leave {
            display: block;
            border: 2px solid #ddd;
            height: 789px;
            width: 509px;
            margin: 5px 4px;
            position: absolute;
            left: 546px;
            padding-left: 11px;
        }

        .transactiondiv {
            border: 1px solid #c5c5c5;
            margin: 0;
            width: 192px;
            border-radius: 5px;
            height: 43px;
        }
    </style>

</head>

<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <button class="button" id="Create">Create</button>
                <button class="button" id="View">View</button>
                <button class="button" id="Edit">Edit</button>
                <button class="button" id="Delete">Delete</button>
                <button class="button" id="Autho">Authorised</button>
                <div id="Grid_Form">
                    <div>
                        <table id="JqGrid"></table>
                        <div id="pager2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv" id="Lookup"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>

    <div id="Create_Dialog" title="Create ITChallan">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "FormCorporate", name = "frmCorporateEdit" }))
        {
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
            <div class="row3 content_margine">
                <div id="FinancialYearList_old"></div>
                <label class="popup-content-label must">Financial year:</label>
                <input type="text" hidden id="dispcalender_id" name="FinancialYearList" />
                <input type="text" readonly id="dispcalender" class="must" />
                <button data-p2btooltip="Lookup FinancialYear Details" class="button popup-content-icon-lookup" id="Lookup_FinancialYear_Calendar1"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
            </div>
            <div class="row3 content_margine">
                @Html.LabelFor(m => m.ChallanNo, "Challan No :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.ChallanNo, new { @class = "popup-content-textbox must" })
                <b id="frcreate">
                    Enter Temporary Reference Challan Number
                </b>
                <b id="fredit">
                    Enter Permenent Reference Challan Number
                </b>
            </div>
            <div id="forEditdis">
                <div class="row3 content_margine">@Html.LabelFor(m => m.BankBSRCode, "BankBSR Code :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.BankBSRCode, new { @class = "popup-content-textbox must", @id = "BankBSRCode" , @maxlength = "10" })</div>
                <div class="row3 content_margine">@Html.LabelFor(m => m.TaxDepositDate, "TaxDeposit Date :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.TaxDepositDate, new { @class = "popup-content-textbox must" })</div>
                <div class="row3 content_margine">
                    @Html.LabelFor(m => m.ExtraChallan, "Extra Challan:", new { @class = "popup-content-label must" })
                    <div class="popup_radio_button radio_button_div_1">
                        <span class="popup_radio_button radio_button_div_1">
                            <input type="radio" id="ProcessFlag_radio3" class="popup_radio_button" name="ExtraChallan" value="true" /><label class="ui-corner-left" for="ProcessFlag_radio3">Yes</label>
                            <input type="radio" id="ProcessFlag_radio4" class="popup_radio_button" name="ExtraChallan" value="false" checked="checked" /><label class="ui-corner-right" for="ProcessFlag_radio4">No</label>
                        </span>
                    </div>

                </div>
                <div class="row3 content_margine">@Html.LabelFor(m => m.ChallanNarration, "Challan Narration :", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.ChallanNarration, new { @class = "popup-content-textbox " })</div>


                <div class="row3 content_margine" id="salcalmonth">
                    <div class="row3 content_margine" id="salmonth">
                        <div class="row3 content_margine">@Html.LabelFor(m => m.SalaryMonth, "Salary Month :", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.SalaryMonth, new { @class = "popup-content-textbox ", @id = "txtPayMonth", @name = "txtPayMonth" })</div>
                        <div class="content_margine" style="width: 475px;">
                            @Html.LabelFor(m => m.TaxAmount, "Tax Amount  :", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.TaxAmount, new { @class = "popup-content-textbox ", @id = "TaxAmount", @name = "TaxAmount" })
                            <div class="content_margine" style="width: 159px;float: right;">
                                <button id="process" class="button" name="process">Calculate</button>
                            </div>
                        </div>

                        <div class="row3 content_margine">
                            <div style="width:140px;float: left;">  Yearly / Other tax including monthly :</div>
                            <div class="popup_radio_button radio_button_div_1">
                                <span class="popup_radio_button radio_button_div_1">
                                    <input type="radio" id="ProcessFlag_radio5" class="popup_radio_button" name="Othertax" value="true" /><label class="ui-corner-left" for="ProcessFlag_radio5">Yes</label>
                                    <input type="radio" id="ProcessFlag_radio6" class="popup_radio_button" name="Othertax" value="false" checked="checked" /><label class="ui-corner-right" for="ProcessFlag_radio6">No</label>
                                </span>
                            </div>
                        </div>
                        <br />
                        @*<div class="row3 content_margine">*@
                        <div id="HeadLoad">
                            <label class="content_margine"> Tax Amount  :</label>
                            <input style="margin-left: 52px;" type="text" id="TaxYrAmount" name="TaxYrAmount">
                            <br /><br />

                            <div class="transactiondiv grid_colllpase_height" style="height: 290px;">
                                <div><label>Search : </label><input type="text" id="HeadLoad-search" /></div>
                                <table cellspacing="0" cellpadding="1" class="transactiontable" id="HeadLoad-table">
                                    <tr><th><input type="checkbox" id="case-HeadLoad" /></th><th>Heads</th></tr>
                                </table>
                                <span class="btn-span" aria-hidden="true">
                                    <a data-p2bheadertooltip="Collapse">
                                        <i class="fa fa-angle-double-down fa-fw fa-2x"></i>
                                    </a>
                                    <button class="transcation_btn transcation-refresh" data-type="company" style="left: 13%;" id="">
                                        <span class="ui-icon ui-icon-refresh popup-content-iconmark"></span>
                                    </button>
                                    @*<button class="transcation_btn transcation-lookup" data-type="company" style="left: 15%;" id="">
                                            <span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span>
                                        </button>*@
                                    <button id="process2" class="loan-btn">Calculate</button>
                                </span>
                            </div>
                        </div>

                        @*</div>*@

                        @*<div>
                                @Html.LabelFor(m => m.SalaryMonth, "Salary Month :", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.SalaryMonth, new { @class = "popup-content-textbox ", @id = "txtPayMonth", @name = "txtPayMonth" })
                            </div>
                            <div>
                                @Html.LabelFor(m => m.TaxAmount, "Tax Amount  :", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.TaxAmount, new { @class = "popup-content-textbox ", @id = "TaxAmount", @name = "TaxAmount" })
                            </div>*@
                        @*<div class="row4 content_margine">
                                <button id="process" class="button" name="process">Calculate</button>
                            </div>*@
                    </div>
                    <div id="salcal">
                        <div class="row3 content_margine">
                            <label id="lblPaymonth" class="popup-content-label ">From Period:</label>
                            <input name="txtPayMonth1" type="text" id="txtPayMonth1" class="date-picker" />
                        </div>
                        <div class="row3 content_margine">
                            <label id="lblPaymonth" class="popup-content-label ">To Period:</label>
                            <input name="txtPayMonth2" type="text" id="txtPayMonth2" class="date-picker" />
                        </div>
                        @*<label id="lblPaymonth" class="popup-content-label ">TaxAmount:</label>
                            <input name="taxamt1" type="text" id="taxamt1" />*@
                        @*<br />*@
                        <div id="HeadLoad1">
                            <label class="content_margine"> Tax Amount  :-</label>
                            <input style="margin-left: 52px;" type="text" id="TaxYrAmount1" name="TaxYrAmount1">
                            <br /><br />

                            <div class="transactiondiv grid_colllpase_height" style="height: 290px;">
                                <div><label>Search : </label><input type="text" id="HeadLoad1-search" /></div>
                                <table cellspacing="0" cellpadding="1" class="transactiontable" id="HeadLoad1-table">
                                    <tr><th><input type="checkbox" id="case-HeadLoad1" /></th><th>Heads</th></tr>
                                </table>
                                <span class="btn-span" aria-hidden="true">
                                    <a data-p2bheadertooltip="Collapse">
                                        <i class="fa fa-angle-double-down fa-fw fa-2x"></i>
                                    </a>
                                    <button class="transcation_btn transcation-refresh" data-type="company" style="left: 13%;" id="">
                                        <span class="ui-icon ui-icon-refresh popup-content-iconmark"></span>
                                    </button>
                                    @*<button class="transcation_btn transcation-lookup" data-type="company" style="left: 15%;" id="">
                                            <span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span>
                                        </button>*@
                                    <button id="process1" class="loan-btn">Calculate</button>
                                </span>
                            </div>
                        </div>
                        @*<div class="row3 content_margine">@Html.LabelFor(m => m.SalaryMonth, "Salary Month :", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.SalaryMonth, new { @class = "popup-content-textbox ", @id = "txtPayMonth1", @name = "txtPayMonth1" })</div>*@
                        @*<div class="row3 content_margine">@Html.LabelFor(m => m.TaxAmount, "Tax Amount  :", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.TaxAmount, new { @class = "popup-content-textbox ", @id = "taxamt1", @name = "taxamt1" })</div>*@
                        <div class="row5 content_margine">
                            <button id="process11" class="button" name="process11">Load Heads</button>
                        </div>
                    </div>
                </div>



            </div>

        }
    </div>
    <div id="list-employee">
        <div id="FormFilter"></div>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmEmpList", name = "frmEmpList" }))
        {
            <div class="emplist_row">
                <div id="Grid_Form1">
                    <div>
                        <table id="JqGridNew"></table>
                        <div id="pager22"></div>

                    </div>
                </div>
                <button class="button" id="OK">OK</button>
            </div>
        }
    </div>

    <div id="list-employee1">
        <div id="fromFilter1"></div>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmEmpList1", name = "frmEmpList1" }))
        {
            <div class="emplist_row">
                <div id="Grid_Form2">
                    <div>
                        <table id="JqGridNew1"></table>
                        <div id="pager221"></div>

                    </div>
                </div>
                <button class="button" id="OKK">OK</button>
            </div>
        }
    </div>
    <div id="list-employee2">
        <div id="fromFilter2"></div>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmEmpList2", name = "frmEmpList2" }))
        {
            <div class="emplist_row">
                <div id="Grid_Form3">
                    <div>
                        <table id="JqGridNew2"></table>
                        <div id="pager222"></div>
                    </div>
                </div>
                <button class="button" id="OKKK">OK</button>
            </div>
        }
    </div>
</body>
</html>
<script>

    $(document).ready(function () {
        $('#BankBSRCode').MaxLength(10);
        $('#ChallanNo').ValidateTextBox({ maxlength: 10, alphanum: true });
        //$('#BankBSRCode').ValidateTextBox({ maxlength: 7, name: true });
        $('#dispcalender,#ReqDate,#FromDate,#ToDate,#DebitDays,#ResumeDate').attr('readonly', 'readonly');

        $('#OKKK').hide();
    });
    $(document).ready(function (e) {
        $('button').button();
        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;
        var btndisablenames = "#Edit-Address-Corporate,#Remove-Address-Corporate,#Edit-ContactDetails-Corporate,#Remove-ContactDetails-Corporate";
        ColModel = ['ChallanNo', 'BankBSRCode', "TaxDepositDate", "TaxAmount", "SalaryMonth", "ExtraChallan", "ChallanNarration", 'Id'];
        ColNames = ['Challan No', 'BSR Code and Bank', "Tax Deposited Date", "Tax Amount", "Salary Month", "Extra Chalan", "Narration", 'Id'];
        SortName = 'Id';
        Caption = 'ITChallan';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);
        //


        ColDisplayNames = ['Id', 'EmpCode', 'EmpName', 'Amount(Tax Paid)', 'Gross'];
        ColDisplayModel = ['Id', 'EmpCode', 'EmpName', 'Amount(Tax Paid)', 'Gross'];
        url = '@Url.Action("P2BInlineGrid")';
        width = 1000;
        height = 150;
        Caption_one = "Emp AttendanceT",
        Caption_second = "Employee List",
        urlD = '@Url.Action("LoadEmp")';
        widthD = 700;
        heightD = 200;

        ColDisplayNames1 = ['EmpCode', 'EmpName', 'Amount', 'Grosss'];
        ColDisplayModel1 = ['EmpCode', 'EmpName', 'Amount', 'Grosss'];
        url1 = '@Url.Action("P2BInlineGrid")';
        width1 = 1000;
        height1 = 150;
        Caption_one1 = "Emp AttendanceT",
        Caption_second1 = "Employee List",
        urlD1 = '@Url.Action("LoadEmp1")';
        widthD1 = 700;
        heightD1 = 200;


        function DateConvert(JsonDate) {
            var date = new Date(parseInt(JsonDate.substr(6)));
            var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
            return displayDate;
        };


        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }

        //  $('#HeadLoad-table').P2BTransactionTableAnimation();
        $('#Lookup_FinancialYear_Calendar1').on('click', function () {
            $('.dialog').AddDataToTextbox({
                appendTo: "#dispcalender",
                appendToId: "#dispcalender_id",
                lookupurl: "@Url.Action("GetCalendarDetails", "ITForm16")",
                NoOfRecordToShow: "10",
                setnameofthelookupbyppage: "HusbandName_FName-lookup",
                LookupDiv: "LookupDiv",
                lookuppagename: "lookup",
                pagename: "PageNavPosition",
                readonly: true,
            });
        });
        $("#TaxDepositDate").P2BDatePicker();
        $("#txtPayMonth1").P2BDatePicker();
        $("#txtPayMonth2").P2BDatePicker();
        $("#txtPayMonth").MonthYearPicker();
        $("#SalaryMonth").MonthYearPicker();

        $('#TaxAmount,#taxamt1').ForceAmount();
        $('#TaxAmount,#taxamt1').ValidateTextBox({ maxlength: 12 });

        $('#salcalmonth').hide();
        $('input[name="ExtraChallan"]:radio').change(function () {
            if (this.value == "false") {
                $('#salcalmonth').show();
                $('#salmonth').fadeIn();
                $('#salcal').fadeOut();

            }
            else {
                $('#salcalmonth').show();
                $('#salcal').fadeIn();
                $('#salmonth').fadeOut();

            }
        });

        $('#HeadLoad').fadeOut();
        var paym = "";
        var head_ids = "";
        $('input[name="Othertax"]:radio').change(function () {
            if (this.value == "false") {
                $('#HeadLoad').fadeOut();
                $('#TaxYrAmount').val("");
                $('#HeadLoad-table').find("tr:gt(0)").empty();
            }
            else {
                paym = $('#txtPayMonth').val();
                if (paym == "") {
                    alert('kindly enter the salary month');
                } else {
                    $('#HeadLoad').fadeIn();
                    $('#HeadLoad-table').P2BTransactionTable('#HeadLoad-search', '#case-HeadLoad', '@Url.Action("GetYearlyPay", "Itchallan")?param=' + paym, []);

                }
            }
        });


        $("#frmupdate").hide();
        $('#process').on('click', function (e) {
            //$('#list-employee').add();
            //$('#list-employee').dialog("open");
            var mn = $('#txtPayMonth').val();

        });
        // $('#JqGridNew').P2BGrid(ColDisplayNames, ColDisplayModel, SortName, Caption_second, urlD, widthD, heightD, '#pager22', { multiple: true, rowNum: 30, selectall: true });
        //$('#frmEmpList2').P2BGridDialog();
        $('#Create_Dialog').P2BCreateDialog();
        $('#Create').on("click", function (event) {
            $('#FormCorporate').trigger("reset");
            $('#frcreate').show();
            $('#fredit').hide();
            $('#salcalmonth').show();
            $('#salmonth').show();
            $('#salcal').hide();

            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create ITChallan', 'open', '@Url.Action("Create")', '#FormCorporate', 'Message :', 'Request Falied :', '#JqGrid', 500, 620, '#AddressList,#ContactDetailsList', btndisablenames, function (data) { });
            $('#process,#process1').attr('disabled', false);
            event.preventDefault();
        });
        $('#list-employee').P2BGridDialog();

        $('#txtPayMonth').on("change", function () {
            //  $('[name="Othertax"]').val('false').button().button("refresh");
            $('#TaxAmount').val("");
            $('#TaxYrAmount').val("");
            $('#HeadLoad-table').find("tr:gt(0)").empty();
        });

        $('#process11').on("click", function () {
            // alert('fgdf');
            var paym1 = $('#txtPayMonth2').val().substring(3);
            $('#taxamt1').val("");
            $('#TaxYrAmount1').val("");
            $('#HeadLoad1-table').find("tr:gt(0)").empty();

            // $('#HeadLoad1').fadeIn();
            $('#HeadLoad1-table').P2BTransactionTable('#HeadLoad1-search', '#case-HeadLoad1', '@Url.Action("GetYearlyPay", "Itchallan")?param=' + paym1, []);

        });

        $('#JqGridNew').P2BGrid(ColDisplayNames, ColDisplayModel, SortName, Caption_second, "@Url.Action("LoadEmp")", widthD, heightD, '#pager22', { multiple: true, rowNum: 30, selectall: true });
        $('#process').on('click', function (e) {

            $('#list-employee').P2BGridDialog({
                maindialogtitle: "Create Dialog",
                submiturl: "@Url.Action("createAmt")",
                form: "#frmEmpList",
                height: 475,
                width: 800,
                filter: $('#txtPayMonth').val(),
                state: "open",
                returnToGrid: "#JqGridNew",
                editurl: "@Url.Action("LoadEmp")",

                // gridreloadname: "#JqGrid",
                // gridfunction: "GetGridSelctedvalue",
            });

            $("#OK").on('click', function () {
                var data = $("#fromFilter1").serialize();
                //  var data = $("#gbox_JqGridNew1").serialize();
                var forwarddata = JSON.stringify(data);
                $.ajax({
                    type: "post",
                    data: forwarddata,
                    url: "@Url.Action("CreateAmt", "ITChallan")",

                    success: function (data) {

                        $('#TaxAmount').val(data);
                        $('#TaxAmount').attr('readonly', 'readonly');
                        //  $('#list-employee').remove();
                        $('#list-employee').dialog("close");

                    }
                })
            });

            e.preventDefault();
        }); // Main page edit

        //
        $('#list-employee1').P2BGridDialog();
        $('#process1').on('click', function (e) {
            //  $('[name="Othertax"]').val('false').button().button("refresh");
            //  var vm = alert($('#SalaryMonth').val());
            //  $('#JqGridNew').PostGridData({ url: urlD, filter: $('#SalaryMonth').val() });
            //});
            var ahead_ids = $('#HeadLoad1-table :checked').map(function () { return this.value; }).get();

            if (ahead_ids[0] == "on") {
                head_ids = ahead_ids.slice(1).join(',');
            } else {
                head_ids = ahead_ids.join(',');
            }
            @*$('#list-employee2').P2BGridDialog({
                maindialogtitle: "Create Dialog",
                submiturl: "@Url.Action("createAmt")",
                form: "#frmEmpList2",
            height: 475,
            width: 800,
            filter: paym,
            state: "open",
            returnToGrid: "#JqGridNew2",
            editurl: "@Url.Action("LoadEmpYearly")?paym=" + paym + "&head_ids=" + head_ids,
            editdata: head_ids,
            // gridreloadname: "#JqGrid",
            // gridfunction: "GetGridSelctedvalue",
            });*@
            var d1 = $('#txtPayMonth1').val();
            var d2 = $('#txtPayMonth2').val()
            var d3 = d1 + "-" + d2;
            $('#list-employee1').P2BGridDialog({
                maindialogtitle: "Create Dialog",
                submiturl: "@Url.Action("createAmt")",
                form: "#frmEmpList1",
                height: 475,
                width: 800,
                //filter: $('#txtPayMonth1').val(),
                filter: d1 + "-" + d2,
                state: "open",
                returnToGrid: "#JqGridNew1",
                editurl: "@Url.Action("LoadEmp1")?param=" + d3 + "&head_ids=" + head_ids,
                //editdata: head_ids,
                // gridreloadname: "#JqGrid",
                // gridfunction: "GetGridSelctedvalue",
            });

            $("#OKK").on('click', function () {
                ////debugger;
                var data = $("#frmEmpList1").serialize();
                var forwarddata = JSON.stringify(data);
                $.ajax({
                    type: "post",
                    data: forwarddata,
                    url: "@Url.Action("CreateAmt1")",

                    success: function (data) {

                        //var v1 = data.p;
                        //alert(v1);
                        $("#TaxYrAmount1").val(data);
                        $('#TaxYrAmount1').attr('readonly', 'readonly');
                        //  $('#list-employee').remove();
                        $('#list-employee1').dialog("close");

                    }
                })
            });
            $('#JqGridNew1').P2BGrid(ColDisplayNames1, ColDisplayModel1, SortName, Caption_second1, "@Url.Action("LoadEmp1","ITChallan")?param=" + d3 + "&head_ids=" + head_ids, widthD1, heightD1, '#pager221', { multiple: true, rowNum: 30, selectall: true });

            e.preventDefault();
        }); // Main page edit

        $('#process2').on('click', function (e) {
            $('#OKKK').show();
            paym = $('#txtPayMonth').val();
            var ahead_ids = $('#HeadLoad-table :checked').map(function () { return this.value; }).get();

            if (ahead_ids[0] == "on") {
                head_ids = ahead_ids.slice(1).join(',');
            } else {
                head_ids = ahead_ids.join(',');
            }
            $('#list-employee2').P2BGridDialog({
                maindialogtitle: "Create Dialog",
                submiturl: "@Url.Action("createAmt")",
                form: "#frmEmpList2",
                height: 475,
                width: 800,
                filter: paym,
                state: "open",
                returnToGrid: "#JqGridNew2",
                editurl: "@Url.Action("LoadEmpYearly")?paym=" + paym + "&head_ids=" + head_ids,
                editdata: head_ids,
                // gridreloadname: "#JqGrid",
                // gridfunction: "GetGridSelctedvalue",
            });

            $("#OKKK").on('click', function () {
                ////debugger;
                var data = $("#fromFilter2").serialize();
                //alert(data);
                //  var data = $("#gbox_JqGridNew1").serialize();
                var forwarddata = JSON.stringify(data);

                //    alert(forwarddata);
                $.ajax({
                    type: "post",
                    data: forwarddata,
                    url: "@Url.Action("CreateYearlyAmt", "ITChallan")",

                    success: function (data) {

                        //var v1 = data.p;
                        //alert(v1);
                        $("#TaxYrAmount").val(data);
                        $('#TaxYrAmount').attr('readonly', 'readonly');
                        //  $('#list-employee').remove();
                        $('#list-employee2').dialog("close");
                    }
                })
            });

            $('#JqGridNew2').P2BGrid(ColDisplayNames, ColDisplayModel, SortName, Caption_second, "@Url.Action("LoadEmpYearly")?paym=" + paym + "&head_ids=" + head_ids, widthD, heightD, '#pager222', { multiple: true, rowNum: 30, selectall: true });
            e.preventDefault();
        }); // Main page edit


        $('#Edit').on('click', function () {
            AssignData();
            $('#fredit').show();
            $('#frcreate').hide();

            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit ITChallan Data", '#FormCorporate', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 500, 620, '#AddressList,#ContactDetailsList', btndisablenames, function (data) {
                // setTimeout(function () {

                $.each(data[0], function (i, k) {

                    $('#ChallanNo').val(k.ChallanNo);
                    $('#BankBSRCode').val(k.BankBSRCode);
                    $('#BankBSRCode').attr('disabled', true);
                    if (k.TaxDepositDate != null) {
                        $('#TaxDepositDate').val(DateConvert(k.TaxDepositDate));
                    }
                    $('#TaxDepositDate').attr('disabled', true);
                    //$('#ExtraChallan').val(k.ExtraChallan);
                    //$('#ExtraChallan').attr('disabled', true);
                    //   $('#SalaryMonth').val(k.SalaryMonth);
                    $('#txtPayMonth').val(k.SalaryMonth);
                    $('#txtPayMonth').attr('disabled', true);
                    $('#txtPayMonth1').val(k.SalaryMonth);
                    $('#txtPayMonth1').attr('disabled', true);
                    $('#TaxAmount').val(k.TaxAmount);
                    $('#TaxAmount').attr('disabled', true);
                    $('#taxamt1').val(k.TaxAmount);
                    $('#taxamt1').attr('disabled', true);
                    $('#ChallanNarration').val(k.ChallanNarration);
                    $('#ChallanNarration').attr('disabled', true);
                    $('[name="ExtraChallan"]').attr('disabled', true);
                    $('[name="ExtraChallan"]').val([k.ExtraChallan]).button().button("refresh");
                    if ([k.ExtraChallan] == 'false') {
                        $('#salcalmonth').show();
                        $('#salmonth').fadeIn();
                        $('#salcal').fadeOut();
                    }
                    else {
                        $('#salcalmonth').show();
                        $('#salcal').fadeIn();
                        $('#salmonth').fadeOut();
                    }
                    $('#process,#process1').button('disable').button().button("refresh");
                });

                //partial page bind
                $.each(data[1], function (i, k) {
                    $('#AddressList').P2BLookUpEncapsulate('#AddressList', 'AddressList', k.Add_Id, k.Address_FullAddress, 'AddressList', '#Edit-Address-Corporate,#Remove-Address-Corporate', 'N');
                    $('#ContactDetailsList').P2BLookUpEncapsulate('#ContactDetailsList', 'ContactDetailsList', k.Cont_Id, k.FullContactDetails, 'ContactDetailsList', '#Edit-ContactDetails-Corporate,#Remove-ContactDetails-Corporate', 'N');
                });
                //alert(data[3]);
                $('#Autho_Allow').val(data[3]); //Compulsory for authorisation
                // }, 2000);
            });
        });


        //View main page
        $('#View').button().click(function (event) {
            AssignData();
            $('#fredit').hide();
            $('#frcreate').hide();
            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View ITChallan Data', '#AddressList,#ContactDetailsList', '#Lookup-Address-Corporate,#Create-Address-Corporate,#Edit-Address-Corporate,#Remove-Address-Corporate,#Lookup-ContactDetails-Corporate,#Create-ContactDetails-Corporate,#Edit-ContactDetails-Corporate,#Remove-ContactDetails-Corporate', 500, 620, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {
                $.each(data[0], function (i, k) {
                    $('#Autho_Action').val(k.Action);
                    $('#ChallanNo').val(k.ChallanNo);
                    $('#BankBSRCode').val(k.BankBSRCode);
                    if (k.TaxDepositDate != null) {
                        $('#TaxDepositDate').val(DateConvert(k.TaxDepositDate));
                    }
                    $('#ExtraChallan').val(k.ExtraChallan);
                    // $('#SalaryMonth').val(k.SalaryMonth);
                    $('#txtPayMonth').val(k.SalaryMonth);
                    $('#txtPayMonth1').val(k.SalaryMonth);
                    $('#TaxAmount').val(k.TaxAmount);
                    $('#ChallanNarration').val(k.ChallanNarration);
                    $('#taxamt1').val(k.TaxAmount);
                    $('[name="ExtraChallan"]').val([k.ExtraChallan]).button().button("refresh");
                    if ([k.ExtraChallan] == 'false') {
                        $('#salcalmonth').show();
                        $('#salmonth').fadeIn();
                        $('#salcal').fadeOut();
                    }
                    else {
                        $('#salcalmonth').show();
                        $('#salcal').fadeIn();
                        $('#salmonth').fadeOut();
                    }
                    $('#process,#process1').button('disable').button().button("refresh");
                });


                if ($("#Autho").hasClass('auto_active')) {
                    if (data[2] != null) {
                        $('#Name').oldVal(data[2].Name);
                        $('#CategoryList_DDL').oldDropval(data[2].BusinessType_Val);
                        $('#AddressList_Old').oldLookupVal(data[2].Address_Val);
                        $('#ContactDetailsList_Old').oldLookupVal(data[2].Contact_Val);
                    }
                }
            });
        });

        //delete main page
        $('#Delete').button().click(function (event) {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            $('#Create_Dialog').P2BDeleteModalDialog('@Url.Action("Delete")', dt.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
            event.preventDefault();
        });

        /* Address button click*/

        //To get data in Lookup
        $('#Lookup-Address-Corporate').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetAddressLKDetails", "Corporate")', '', 'LookupDiv', 'Address Look Up Data', '#AddressList', 'AddressList', 5, 'AddressList', '#FormCorporate', 'N', '#Edit-Address-Corporate,#Remove-Address-Corporate', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        // PArtial page create
        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-Address-Corporate').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "address")', 'Create Address', 'open', '@Url.Action("Create","Address")', '#FormAddress', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#FormCorporate', '', function (data) {
                // to show data which is created in partial page
                $('#AddressList').P2BLookUpEncapsulate('#AddressList', 'AddressList', data[0], data[1], 'AddressList', '#Edit-Address-Corporate,#Remove-Address-Corporate', 'N');
            });
            event.preventDefault();
        });

        // Partial page edit
        $('#Edit-Address-Corporate').button().on("click", function (event) {
            var a = [], b;
            a = $('#AddressList').P2BGetTableDataonSelectedRow('#AddressList', 0);
            b = a[0];
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname, height, width, classoridoftheonwhichpopupderived, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not,nameidclassofbuttontodisable,returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "address")', '@Url.Action("edit", "address")', b, '@Url.Action("Editsave","Address")', 'Edit Address', '#FormAddress', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#FormCorporate', '#AddressList', 'AddressList', 'AddressList', 'N', '#Edit-Address-Corporate,#Remove-Address-Corporate', function (data) {
                // setTimeout(function () {
                //to bind data according to selected id
                $.each(data[0], function (i, k) {
                    $('#FormAddress').trigger("reset");
                    $('#Address1').val(k.Address1);

                });
                //}, 3000);


            });
            event.preventDefault();
        });

        //partial page delete
        $('#Remove-Address-Corporate').button().on('click', function (event) {
            //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            var a = [], b;
            a = $('#AddressList').P2BGetTableDataonSelectedRow('#AddressList', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#AddressList', $('#AddressList').val(), 200, 200, '#FormCorporate', '#AddressList', '#Edit-Address-Corporate,#Remove-Address-Corporate');
            event.preventDefault();
        });

        /* ContactDetails button click*/

        $('#Lookup-ContactDetails-Corporate').button().on('click', function (event) {
            @*$('.dialog').P2BLookUpModal('@Url.Action("GetAddressLKDetails", "Corporate")', '', 'LookupDiv', 'Address Look Up Data', '#AddressList', 'AddressList', 5, 'AddressList', '#FormCorporate', 'N', '#Edit-Address-Corporate,#Remove-Address-Corporate', 'Lookup_table', 'PageNavPosition');*@
            $('.dialog').P2BLookUpModal('@Url.Action("GetContactDetLKDetails", "Corporate")', '', 'LookupDiv', 'ContactDetails Look Up Data', '#ContactDetailsList', 'ContactDetailsList', 5, 'ContactDetailsList', '#FormCorporate', 'N', '#Edit-ContactDetails-Corporate,#Remove-ContactDetails-Corporate', 'Lookup_table', 'PageNavPosition');
            // $('.ContactDetLKDiv').P2BLookUpModal('@Url.Action("GetContactDetLKDetails", "Corporate")', '', 'ContactDetLKDiv', 'Look Up Data', '#ContactDetailsList', 'ContactDetailsList', 10, 'ContactDetailsList', '#FormCorporate', 'N', '#Edit-ContactDetails-Corporate,#Remove-ContactDetails-Corporate', 'lookupdiv_ContactDet', 'pageNavPosition_ContactDet');
            event.preventDefault();
        });

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-ContactDetails-Corporate').button().on("click", function (event) {
            //function (url, maindialogtitle, state, submiturl, submitnameformforserilize, savemessage, errormessage, gridreloadname, height, width, forwarddata, ControlName, event, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, returnfunctiondata) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Createcontactdetails_partial", "Corporate")', 'Create ContactDetails', 'open', '@Url.Action("CreateSave","ContactDetails")', '#FormContactDetails', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#FormContactDetails', '#Edit-ContactNo-ContDetails,#Remove-ContactNo-ContDetails', function (data) {
                $('#ContactDetailsList').P2BLookUpEncapsulate('#ContactDetailsList', 'ContactDetailsList', data[0], data[1], 'ContactDetailsList', '#Edit-ContactDetails-Corporate,#Remove-ContactDetails-Corporate', 'N');
            });
            event.preventDefault();
        });

        $('#Edit-ContactDetails-Corporate').button().on("click", function (event) {
            var a = [], b;
            a = $('#ContactDetailsList').P2BGetTableDataonSelectedRow('#ContactDetailsList', 0);
            b = a[0];
            console.log(b);
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname,                                                                                                                    height, width, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not, returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("Createcontactdetails_partial", "Corporate")', '@Url.Action("Editcontactdetails_partial", "Corporate")', b, '@Url.Action("EditSave", "ContactDetails")', 'Edit Contact Details', '#FormContactDetails', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#FormCorporate', '#ContactDetailsList', 'ContactDetailsList', 'ContactDetailsList', 'N', '#Remove-ContactNo-ContDetails,#Edit-ContactNo-ContDetails', function (data) {
                // setTimeout(function () {
                $.each(data[0], function (i, k) {
                    $('#FormContactDetails').trigger('reset');
                    $('#EmailId').val(k.EmailId);
                    $('#Website').val(k.Website);
                    $('#FaxNo').val(k.FaxNo);
                });

                $.each(data[1], function (i, k) {
                    $('#ContactNos_List').P2BLookUpEncapsulate('#ContactNos_List', 'ContactNos_List', k.Id, k.FullContactNumbers, 'ContactNos_List', '#Edit-ContactNo-ContDetails,#Remove-ContactNo-ContDetails', 'A');
                });
                // }, 3000);
            });
            event.preventDefault();
        });

        $('#Remove-ContactDetails-Corporate').button().on('click', function (event) {
            // dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            var a = [], b;
            a = $('#ContactDetailsList').P2BGetTableDataonSelectedRow('#ContactDetailsList', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('@Url.Action("DeleteContactDetails","Corporate")', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#ContactDetailsList', $('#ContactDetailsList').val(), 200, 200, '#FormCorporate', '#ContactDetailsList', '#Edit-ContactDetails-Corporate,#Remove-ContactDetails-Corporate');
            event.preventDefault();
        });

        $('.popup_radio_button').controlgroup();
        $('#CategoryList_DDL').selectmenu().selectmenu("menuWidget");
        $('#Autho').makeDisable('#Create,#Edit,#Delete');
        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');
    });
</script>