@{
    ViewBag.Title = "IT Section 24 Payment";
}
@model Payroll.ITSection24Payment
<html>

<head>
    <title></title>
    <script>
        $(document).ready(function (e) {
            $('button').button();
            function AssignData() {
                dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            }

            //-------------------------Release Grid----------------------------------------//

            $('.popup_radio_button').controlgroup();
            $('#InvestmentDate').P2BDatePicker();
            $('#InvestmentDate').attr('readonly', 'readonly');
            $('#dispcalender').attr('readonly', 'readonly');
            $('#DeclaredInterest').ForceAmount().MaxLength(10);
            $('#DeclaredInterest').val("0");
            $('#ActualInterest').ForceAmount().MaxLength(10);
            $('#ActualInterest').val("0");
            $('#PaymentName').ValidateTextBox({ maxlength: 30, alphanum: true });
            $('#Narration').MaxLength(30);

            $('#filterShow').on('click', function () {
                $("<div></div>").FilterDialog({
                    width: 1000,
                    height: 400,
                    title: "Filter",
                    htmlurl: "@Url.Action("Advance_partial", "Transcation")",
                    returnat: function (data) {
                        console.log(data);
                        var forwarddata = JSON.stringify(data);

                        $('#JqGrid').PostGridData({
                            url: "@Url.Action("P2BGrid")",
                            filter: forwarddata,
                        });
                    }
                });
            });

            $('#Advance-Filter-Symbol').on('click', function () {
                $("<div></div>").FilterDialog({
                    width: 1000,
                    height: 400,
                    title: "Filter",
                    htmlurl: "@Url.Action("Advance_partial", "Transcation")",
                    returnat: function (data) {
                        console.log(data);
                        var forwarddata = JSON.stringify(data);
                        $('#Employee-Table').P2BTransactionTableDynamic('#Employee-Search', '#Case-Employee', './Transcation/Get_Employelist_h?geo_id=' + forwarddata + '', "");
                        //$('#Employee-Table').P2BTransactionTableDynamic('#Employee-Search', '#Case-Employee', './Transcation/Get_Employelist?geo_id=' + forwarddata + '', "");
                        //$('#pay_id').val(data.PayStruct);
                        //$('#fun_id').val(data.FunStruct);
                    },
                    renderat: "#FormFilter", hierarchy: true,
                });
                //console.log($('#FormFilter')[0]);
            });

            $('#ReleaseDate').prop("disabled", true);
            $('input[name="ReleaseFlag"]:radio').change(function () {
                if (this.value == "false") {
                    $('#ReleaseDate').prop("disabled", true);
                    $('#ReleaseDate').val("");
                }
                else {
                    $('#ReleaseDate').prop("disabled", false);
                }
            });

            $('#Create_Dialog').P2BCreateDialog();
            //$('#CreateRelease_dialog').P2BCreateDialog();

            $('#add').on("click", function (event) {
                $.LoadEmpByDefault();
                $('#frmITSection24Payment').trigger("reset");
                $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create IT Section 24 Payment Self Occupied', 'open', '@Url.Action("Create")', '#frmITSection24Payment', 'Message :', 'Request Falied :', '#JqGrid', 600, 1200, '', '', function (data) { }, { datatablename: "#MyTable" });
                $('#InvestmentDate,#dispcalender').attr('readonly', 'readonly');
                $('#DeclaredInterest').val("0");
                $('#ActualInterest').val("0");
                //  $('#dispcalender').attr('readonly', 'readonly');
                @*$.get("@Url.Action("GetITSectionByDefault")", function (data) {
                //    $.each(data, function (i, k) {

                        $('#ITSectionListL').P2BLookUpEncapsulate('#ITSectionListL', 'ITSectionList', k.Id, k.FullDetails, 'ITSectionList', '', 'N');
                  //  });
                });*@

                $.get("@Url.Action("GetITSectionByDefault")", function (data) {
                    // alert(data.FullDetails);
                    $('#ITSectionListL').P2BLookUpEncapsulate('#ITSectionListL', 'ITSectionList', data.Id, data.FullDetails, 'ITSectionList', '', 'N');
                });
                $.get("@Url.Action("getCalendar", "ITInvestmentPayment80CCCTo80CCF")", function (data) {
                    $('#dispcalender').val(data.Lvcalendardesc);
                    $('#dispcalender_id').val(data.Id);
                });

                event.preventDefault();
            });


            $('#txtNarrationRelease').prop("disabled", true);
            $('#txtincractivityrelease').prop("disabled", true);
            $('#txtProcessIncrDateRelease').prop("disabled", true);
            $('.popup_radio_button').controlgroup();
            $('.structclass').selectmenu().selectmenu("menuWidget");
            $('#Autho').makeDisable('#Create,#Edit,#Delete');
            $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');


            $('#MyTable').MultiLevelInlineEditGrid({
                url: "@Url.Action("Emp_Grid")",
                htmurl: "@Url.Action("partial", "ITsection24PaymentSelfOccupied")",
                columnname: ["Code", "Name",/* "JoiningDate", "Job",*/ "Grade", "Location", "Id"],
                childheader: ["PaymentName", "InvestmentDate", "ActualInterest", "DeclaredInterest", "SalaryApp", "Narration", "Id"],
                childurl: "@Url.Action("Get_ITSection24Payment", "ITsection24PaymentSelfOccupied")",
                tableheader: "IT Section 24 Payment Self Occupied",
                childurlColumnNo: "5"
            });
            //function DateConvert(JsonDate) {
                //    var date = new Date(parseInt(JsonDate.substr(6)));
                //    var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
                //    return displayDate;
            //};
            $.DataTableChildManipulation = function (init, id, parentid, htmurl, editurl, submiturl) {
                // console.log($(init).parents('tr:eq(0)'));
                var parent_element = $(init).parents('td:last').parent().prev();
                //var element = $(init).parents('tr:eq(0)');
                console.log(id);
                console.log(htmurl);
                console.log(parent_element);
                //   console.log(element);
                var dt = $('#MyTable').DataTable();
                var htmlcomponant = {
                    init: init,
                    Id: id,
                    idx: parentid,
                    htmurl: htmurl,
                    editurl: editurl,
                    submiturl: submiturl,
                };
                @*if ($(init).hasClass('ui-icon-newwin')) {
                    $('<div></div>').PartialCreateDialog({
                        height: 'auto',
                        width: 'auto',
                        form: "#frm-ITSection24-partial",
                        htmlurl: htmurl,
                        state: "open",
                        mode: "View",
                        editurl: "@Url.Action("EditGridDetails", "ITSection24Payment")",
                        submiturl: "@Url.Action("GridEditSave", "ITSection24Payment")",
                        editdata: id,
                        forwarddata: id,
                        returndatafunction: function (data) {

                            $.each(data.data, function (i, k) {
                                $('#ITSection24-PaymentName').val(k.PaymentName);
                                $('#ITSection24-InvestmentDate').val(DateConvert(k.InvestmentDate));
                                //$('#ITSection24-InvestmentDate').val(k.InvestmentDate);
                                $('#ITSection24-ActualInterest').val(k.ActualInterest);
                                $('#ITSection24-DeclaredInterest').val(k.DeclaredInterest);
                                $('#ITSection24-Narration').val(k.Narration);
                            });
                        }
                    });*@
                // } else
                if ($(init).hasClass('ui-icon-pencil')) {
                    $('<div></div>').PartialCreateDialog({
                        height: 'auto',
                        width: 'auto',
                        form: "#frm-ITSection24-partial",
                        htmlurl: htmurl,
                        state: "open",
                        mode: "Edit",
                        editurl: "@Url.Action("EditGridDetails", "ITsection24PaymentSelfOccupied")",
                        submiturl: "@Url.Action("GridEditSave", "ITsection24PaymentSelfOccupied")",
                        editdata: id,
                        forwarddata: id,
                        returndatafunction: function (data) {
                            $('#ITSection24-InvestmentDate,#ITSection24-PaymentName').attr('readonly', 'readonly');
                            $.each(data.data, function (i, k) {
                                $('#ITSection24-PaymentName').val(k.PaymentName);
                                $('#ITSection24-InvestmentDate').val(DateConvert(k.InvestmentDate));
                                //$('#ITSection24-InvestmentDate').val(k.InvestmentDate);
                                $('#ITSection24-ActualInterest').val(k.ActualInterest);
                                $('#ITSection24-DeclaredInterest').val(k.DeclaredInterest);
                                $('#ITSection24-Narration').val(k.Narration);
                            });
                        },
                        submitfun: function (data) {
                            var row = dt.row(parent_element);
                            if (row.child.isShown()) {
                                parent_element.removeClass('details');
                                row.child.hide();
                            }
                        }
                    });
                } else if ($(init).hasClass('ui-icon-trash')) {
                    $('<div></div>').PartialCreateDialog({
                        state: "open",
                        mode: "Delete",
                        submiturl: "@Url.Action("GridDelete")",
                        forwarddata: id,
                        submitfun: function (data) {
                            var row = dt.row(parent_element);
                            if (row.child.isShown()) {
                                parent_element.removeClass('details');
                                row.child.hide();
                            }
                        }
                    });
                } else if ($(init).hasClass('fa fa-upload')) {
                    var chk = $($(init)).closest('tr');
                    var SubId = $(chk).find('td:eq(6)').html();
                    @*$.post("@Url.Action("CheckSalaryHeadLink", "Upload")?Id=" + id + "&SubId=" + SubId, function (data) {
                        ////;
                        if (data.status == true) {
                            alert("This Salary Part not upload");
                            return false;

                        } else {

                        }

                    })*@
                    var testnew = $('<div></div>').P2BConfidentialModelDialog({
                        htmlurl: "@Url.Action("UploadInvestment", "Upload")",
                        submiturl: "@Url.Action("InvestmentUpload", "ITsection24PaymentSelfOccupied")?Id=" + id + "&SubId=" + SubId,
                        form: '#FormUploadInvestment',
                        height: "500",
                        type: "FILE",
                        width: "800",
                        title: "DocumentUpload",
                        BeforeSendurl: "@Url.Action("CheckUploadFile", "ITsection24PaymentSelfOccupied")?Id=" + id + "&SubId=" + SubId,
                        returnfun: function (data) {
                            //  window.location.href = "" + data + "";
                        },
                    });

                }
                else if ($(init).hasClass('ui-icon-image')) {
                    ////;
                    var chk = $($(init)).closest('tr');
                    var SubId = $(chk).find('td:eq(6)').html();
                    $.post("@Url.Action("CheckUploadFile", "ITsection24PaymentSelfOccupied")?Id=" + id + "&SubId=" + SubId, function (data) {
                        ////;
                        if (data.success == false) {

                            alert("File Not Found");
                            return false;
                        } else if (data.fileextension == ".pdf") {
                            window.location = "@Url.Action("GetCompImage", "ITsection24PaymentSelfOccupied")?Id=" + id + "&SubId=" + SubId;
                        }
                        else {
                            $('<div></div>').PartialCreateDialog({
                                height: '500',
                                width: '500',
                                form: "#FormImageViewer",
                                htmlurl: "@Url.Action("Imageviewr", "Upload")",
                                state: "open",
                                mode: "View",
                                editurl: "@Url.Action("GetCompImage", "ITsection24PaymentSelfOccupied")?Id=" + id + "&SubId=" + SubId,
                                editdata: id,
                                forwarddata: id,
                                returndatafunction: function (data) {
                                    ////;
                                    console.log(data);
                                    if (data.status == "pdf") {
                                        $("#PDFLoad").attr('src', "data:application/pdf;base64," + data.data + "");
                                    }
                                    else if (data.status == ".png") {
                                        $("#Dashboard-Investment-Viewer").attr('src', "data:image/png;base64," + data.data + "");
                                    } else if (data.status == ".jpg") {
                                        $("#Dashboard-Investment-Viewer").attr('src', "data:image/jpg;base64," + data.data + "");
                                    } else {
                                        alert("First Upload the File");
                                    }
                                }
                            });
                        }
                    })

                }
            };

            $('#OldFuncT-table').prop("disabled", true);
            $('#OldPayT-table').prop("disabled", true);
            $('#OldGeoT-table').prop("disabled", true);

            $('#Employee-Table').on('click', 'input:checkbox:gt(0)', function (e) {
                $('input[type="checkbox"]').not(this).prop("checked", false);
                if (this.checked) {
                    var id = $(this).val();

                }
                else {
                    return;
                }


            });

            $('#Lookup-ITSection-ITSection24Payment').on('click', function (event) {
                $('.dialog').P2BLookUpModal('@Url.Action("GetITSectionLKDetails", "ITsection24PaymentSelfOccupied")', '', 'LookupDiv', 'ITSection Look Up Data', '#ITSectionListL', 'ITSectionlist', 5, 'ITSectionlist', '#frmITSection24Payment', 'N', '#Remove-ITSection-ITSection24Payment', 'Lookup_table', 'PageNavPosition');
                event.preventDefault();
            });

            $('#Remove-ITSection-ITSection24Payment').button().on('click', function (event) {
                //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
                //var a = [], b;
                //a = $('#ITSectionListL').P2BGetTableDataonSelectedRow('#ITSectionListL', 0);
                //b = a[0];
                var selectedRows = [];
                selectedRows = $('#ITSectionListL').P2BGetTableDataonSelectedRow('#ITSectionListL', 0);
                $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#ITSectionListL', $('#ITSectionListL').val(), 200, 200, '#frmITSection24Payment', '#ITSectionListL', '#Remove-ITSection-ITSection24Payment');
                event.preventDefault();
            });

            $('#Lookup-LoanAdvHead-ITSection24Payment').on('click', function (event) {
                $('.dialog').P2BLookUpModal('@Url.Action("GetLoanAdvHeadLKDetails", "ITsection24PaymentSelfOccupied")', '', 'LookupDiv', 'LoanAdvanceHead Look Up Data', '#LoanAdvHeadlist', 'LoanAdvHeadlist', 5, 'LoanAdvHeadlist', '#frmITSection24Payment', 'N', '#Remove-LoanAdvHead-ITSection24Payment', 'Lookup_table', 'PageNavPosition');
                event.preventDefault();
            });

            $('#Remove-LoanAdvHead-ITSection24Payment').button().on('click', function (event) {
                //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
                //var a = [], b;
                //a = $('#LoanAdvHeadlist').P2BGetTableDataonSelectedRow('#LoanAdvHeadlist', 0);
                //b = a[0];
                var selectedRows = [];
                selectedRows = $('#LoanAdvHeadlist').P2BGetTableDataonSelectedRow('#LoanAdvHeadlist', 0);
                $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#LoanAdvHeadlist', $('#LoanAdvHeadlist').val(), 200, 200, '#frmITSection24Payment', '#LoanAdvHeadlist', '#Remove-LoanAdvHead-ITSection24Payment');
                event.preventDefault();
            });

            $('#Btn-Upload-Data').on('click', function (e) {
                ////;
                $('<div></div>').PartialCreateDialog({
                    height: '500',
                    width: '700',
                    form: '#FormLookup',
                    title: 'Upload',
                    htmlurl: '@Url.Action("PARTIAL","JSONUPLOAD")',
                    state: "open",
                    mode: 'edit',
                    editurl: null,
                    submiturl: null,
                    editdata: 'a',
                    forwarddata: 'a',
                    returndatafunction: function (data) {
                        console.log(data);
                    },
                    submitfun: function (data) {
                        console.log(data);
                    }
                });

                e.preventDefault();
            });


        });
    </script>

    <style>
        .without-btn {
            height: 216px;
        }

        .icon-row {
            position: relative;
            left: 61px;
            top: -150px;
        }


        .popup-content-label {
            display: block;
            float: left;
            width: 101px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 150px;
        }

        .popup-content-textbox-long {
            margin-bottom: 1px;
            width: 290px;
        }

        .FormYearlypymentt {
            margin-left: 298px;
            margin-top: 15px;
        }


        .FormRelaseYearlypymentt {
            margin-top: 10px;
        }

        .FormYearlypymentt {
            margin-top: 10px;
        }

        .newcontentdiv {
            float: right;
        }

        .transactiontable {
            height: 187px;
        }


        .oldstruct-div {
            width: 192px;
            float: left;
            margin: 1px 105px;
            position: relative;
        }

        .newstruct-div {
            float: left;
            width: 193px;
            margin: 3px auto;
        }

        .oldstruct-label-class {
            margin: 0 44px;
            font-weight: bold;
        }

        .oldstruct-textarea-class {
            height: 192px;
        }

        .row3 {
            display: inline-block;
            width: 563px;
        }

        .row1 {
            /*display: inline-block;*/
            width: 563px;
        }

        .section1_Leave {
            display: block;
            border: 1.5px solid rgba(207, 207, 207, 0.91);
            height: 688px;
            width: 534px;
            margin: 4px auto;
            position: absolute;
        }

        .section2_Leave {
            display: block;
            border: 1px solid #ddd;
            height: 688px;
            width: 610px;
            margin: 5px 4px;
            position: absolute;
            left: 546px;
        }

        .transactiontablenew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            /*width: 200px;*/
            display: block;
            overflow: auto;
            height: 500px;
            border-collapse: collapse;
        }

        .transactiondivnew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            width: 507px;
            border-radius: 5px;
            height: 32px;
        }

            .transactiondivnew > div {
                display: inline-block;
                margin: 0 auto;
                padding: 4px;
            }

                .transactiondivnew > div > input {
                    box-sizing: initial;
                    display: inline-block;
                    margin: 0 auto;
                    width: 108px;
                }

        .transactiontablenew th, .transactiontablenew td {
            background: rgba(246, 246, 246, 0.64) none repeat scroll 0 0;
            padding: 5px;
            border-bottom: 1px solid #c5c5c5;
            border-right: 1px solid #c5c5c5;
            text-align: center;
            color: rgba(114, 113, 113, 0.9);
        }

            .transactiontablenew th:nth-child(1) > input, .transactiontablenew td:nth-child(1) > input {
                margin: 0 auto;
            }

            .transactiontablenew th:nth-child(2), .transactiontablenew td:nth-child(2) {
                height: 100%;
                width: 100%;
            }

        .transactiontablenew tr:hover {
            cursor: pointer;
            background: #EEEEEE none repeat scroll 0 0;
        }
    </style>
</head>

<body>

    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <button class="button" id="add">Add</button>
                @*<button class="button" id="release">Release</button>
                    <button class="button" id="filterShow">filterShow</button>*@
                <button class="button" id="Btn-Upload-Data">Upload</button>
            </div>
        </div>
    </div>

    <div id="Grid_Form">
        <div>
            <div id="Container" class="container">
                <div id="Demo">
                    <table id="MyTable" class="datatable-inline" cellspacing="0">
                        <thead>
                            <tr>
                                <th>DD</th>
                                <th>Code</th>
                                <th>Name</th>
                                @*<th>JoiningDate</th>*@
                                @*<th>Job</th>*@
                                <th>Grade</th>
                                <th>Location</th>
                                <th>Id</th>
                            </tr>
                        </thead>
                        @*<tfoot>
                                <tr>
                                    <th>DD</th>
                                    <th>Id</th>
                                    <th>EmpCode</th>
                                    <th>EmpName</th>
                                </tr>
                            </tfoot>*@
                    </table>
                </div>
            </div>
            @*<table id="JqGrid"></table>
                <div id="pager2"></div>*@
        </div>
    </div>

    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>

    <div id="Create_Dialog" title="Create ITSection24Payment">
        <div class="filter-div">
            <label class="advance_filter_label">Advance Filter<span class="advance_filter_sysmbol_class_plus" id="Advance-Filter-Symbol"></span></label>
            <div id="FormFilter"></div>
        </div>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmITSection24Payment", name = "frmITSection24Payment" }))
        {
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
            <input id="geo_id" class="filter_structure_id" name="geo_id" />
            <input id="pay_id" class="filter_structure_id" name="pay_id" />
            <input id="fun_id" class="filter_structure_id" name="fun_id" />
            @*<input id="emp_Id" class="filter_structure_id" name="emp_Id" />*@
            <div class="section1_Leave">
                <div class="heading">Employee List</div>
                <div class="employeeselectiondiv">
                    <div class="transactiondivnew dynamic addons" style="float:left">
                        <div><label>Search : </label><input type="text" id="Employee-Search" style="width: 425px;" /></div>
                        <table cellspacing="0" cellpadding="1" class="transactiontablenew" id="Employee-Table">
                            <tr><th><input type="checkbox" id="Case-Employee" /></th><th>Employee</th></tr>
                        </table>
                        @*<span class="btn-span1" aria-hidden="true">
                                <button id="load_emp" class="loan-btn">Load Employee</button>
                            </span>*@
                    </div>
                    <input name="geo_id" type="text" id="geo_id" class="struct_input_val" style="display:none" />
                    <input name="pay_id" type="text" id="pay_id" class="struct_input_val" style="display:none" />
                    <input name="fun_id" type="text" id="fun_id" class="struct_input_val" style="display:none" />
                </div>
            </div>
            <div class="section2_Leave">
                <div class="FormIncrServBook">
                    <div class="row2 content_margine">@Html.LabelFor(m => m.PaymentName, "Payment Name:", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.PaymentName, new { @class = "popup-content-textbox must" })</div>
                    <div class="row2 content_margine">@Html.LabelFor(m => m.InvestmentDate, "Invest Date:", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.InvestmentDate, new { @class = "popup-content-textbox must" })</div>
                    <div class="row3 content_margine">

                        <div id="FinancialYearList_old"></div>
                        @Html.LabelFor(m => m.FinancialYear, "Financial year:", new { @class = "popup-content-label" })
                        <input type="text" hidden id="dispcalender_id" name="FinancialYearList" style="width:250px" />
                        <input type="text" readonly id="dispcalender" name="" style="width:250px" />
                        @*<div class="popup-content-table">
                                <table class="lookuptableselected" id="FinancialYearList">
                                    <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                                </table>
                            </div>
                            <div class="icon-row">
                                <button data-p2btooltip="Lookup FinancialYear Details" class="button popup-content-icon-lookup" id="Lookup_FinancialYear"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>

                                <button data-p2btooltip="Remove FinancialYear Details" class="button popup-content-icon-remove" id="Remove_FinancialYear"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                            </div>*@

                    </div>
                    <div class="row3 content_margine">
                        @Html.LabelFor(m => m.ITSection, "IT Section :", new { @class = "popup-content-label" })
                        <div class="popup-content-table">
                            <table class="lookuptableselected" id="ITSectionListL">
                                <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                            </table>
                        </div>
                        <div class="icon-row">
                            <button data-p2btooltip="Select ITSection" class="popup-content-icon-lookup" id="Lookup-ITSection-ITSection24Payment"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Remove ITSection" class="popup-content-icon-remove" id="Remove-ITSection-ITSection24Payment"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                        </div>
                    </div>

                    <div class="row3 content_margine">
                        @Html.LabelFor(m => m.LoanAdvanceHead, "Loan Advance Head :", new { @class = "popup-content-label" }) <div class="popup-content-table">
                            <table class="lookuptableselected" id="LoanAdvHeadlist">
                                <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                            </table>
                        </div>
                        <div class="icon-row">
                            <button data-p2btooltip="Select LoanAdvanceHead" class="popup-content-icon-lookup" id="Lookup-LoanAdvHead-ITSection24Payment"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Remove LoanAdvanceHead" class="popup-content-icon-remove" id="Remove-LoanAdvHead-ITSection24Payment"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                        </div>
                    </div>



                    <div class="row2 content_margine">@Html.LabelFor(m => m.ActualInterest, "Actual Interest:", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.ActualInterest, new { @class = "popup-content-narration must" })</div>
                    <div class="row2 content_margine">@Html.LabelFor(m => m.DeclaredInterest, "Declared Interest:", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.DeclaredInterest, new { @class = "popup-content-narration must" })</div>
                    <div class="row3 content_margine">
                        @Html.LabelFor(m => m.SalaryApp, "Salary App:", new { @class = "popup-content-label " })
                        <div class="popup_radio_button">
                            <input type="radio" id="SalaryApp_radio1" name="SalaryApp" value="true" /><label for="SalaryApp_radio1">Yes</label>
                            <input type="radio" id="SalaryApp_radio2" name="SalaryApp" value="false" checked="checked" /><label for="SalaryApp_radio2">No</label>
                        </div>

                    </div>
                    <div class="row2 content_margine">@Html.LabelFor(m => m.Narration, "Narration:", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Narration, new { @class = "popup-content-narration must" })</div>
                </div>
            </div>
        }
    </div>




</body>
</html>
