@{
    ViewBag.Title = "VisaDetails";
}

@model P2b.Global.VisaDetails

<html>
<head>
    <title></title>
    
    <style>
        .icon-row {
            position: relative;
            left: 95px;
            top: -150px;
        }

        .transactiontablenew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            /*width: 200px;*/
            display: block;
            overflow: auto;
            height: 500px;
            border-collapse: collapse;
        }

        .transactiondivnew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            width: 507px;
            border-radius: 5px;
            height: 32px;
        }

            .transactiondivnew > div {
                display: inline-block;
                margin: 0 auto;
                padding: 4px;
            }

                .transactiondivnew > div > input {
                    box-sizing: initial;
                    display: inline-block;
                    margin: 0 auto;
                    width: 108px;
                }

        .transactiontablenew th, .transactiontablenew td {
            background: rgba(246, 246, 246, 0.64) none repeat scroll 0 0;
            padding: 5px;
            border-bottom: 1px solid #c5c5c5;
            border-right: 1px solid #c5c5c5;
            text-align: center;
            color: rgba(114, 113, 113, 0.9);
        }

            .transactiontablenew th:nth-child(1) > input, .transactiontablenew td:nth-child(1) > input {
                margin: 0 auto;
            }

            .transactiontablenew th:nth-child(2), .transactiontablenew td:nth-child(2) {
                height: 100%;
                width: 100%;
            }

        .transactiontablenew tr:hover {
            cursor: pointer;
            background: #EEEEEE none repeat scroll 0 0;
        }

        .section1_Leave {
            display: block;
            border: 1.5px solid rgba(207, 207, 207, 0.91);
            height: 688px;
            width: 534px;
            margin: 4px auto;
            position: absolute;
            
        }

        .section2_Leave {
            display: block;
            border: 1px solid #ddd;
            height: 250px;
            width: 610px;
            margin: 5px 4px;
            position: absolute;
            left: 546px;
            padding-left: 11px;
        }


        #BusinessType-button {
            font-size: 9px;
            padding-top: 1px;
            font-weight: bold;
        }

        .popup-content-label {
            width: 138px;
            display: block;
            float: left;
            margin: 1px;
        }

        .popup-content-label-2 {
            width: 100px;
            display: block;
            float: left;
            margin: 1px;
        }

        .section1_Leave {
            display: block;
            border: 1.5px solid rgba(207, 207, 207, 0.91);
            height: 688px;
            width: 534px;
            margin: 4px auto;
            position: absolute;
        }

        .section2_Leave {
            display: block;
            border: 2px solid #ddd;
            height: 350px;
            width: 379px;
            margin: 5px 4px;
            position: absolute;
            left: 546px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 150px;
        }

        .row3 {
            width: 471px;
        }

        .row4 {
            position: absolute;
            top: 294px;
            width: 400px;
        }

        .row6 {
            width: 370px;
            display: inline-block;
        }

        .popup-content-textbox-long {
            margin-bottom: 1px;
            width: 290px;
        }



        .row2 {
            width: 402px;
        }
    </style>
</head>

<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <button class="button" id="Create">Create</button>
                <button class="button" id="View">View</button>
                <button class="button" id="Edit">Edit</button> 
                <button class="button" id="Delete">Delete</button>
                <button class="button" id="Autho">Authorised</button>
                <div id="Grid_Form">
                    <div>
                        <table id="JqGrid"></table>
                        <div id="pager2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>

    <div id="Create_Dialog">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormVisa", name = "FormVisa" }))
        {

            <div class="section_Method" id="Section_Emp">
                <div class="heading" style="width:1065px">Employee List</div>

                <div class="employeeselectiondiv">
                    <div class="transactiondivnew dynamic addons" style="float:left" id="asd">
                        <div><label>Search : </label><input type="text" id="Employee-Search" style="width: 425px;" /></div>
                        <table cellspacing="0" cellpadding="1" class="transactiontablenew" id="Employee-Table" style="height: 320px">
                            <tr><th><input type="checkbox" id="Case-Employee" class="Chck_emp" /></th><th>Employee</th></tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="section2_Leave">
                <div class=" " style="width: 506px;">

                    <input id="Autho_Action" type="hidden" name="Autho_Action" />
                    <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
                    <br /><br />
                    <div class="row1 content_margine">
                        @Html.LabelFor(m => m.VisaType, "Visa Type :", new { @class = "popup-content-label must" })
                        <select class="drop must" style="width:120px;" name="VisaTypelist" id="VisaTypelist"><option value="0">-Select-</option></select>
                    </div>
                    <div class="row1 content_margine">
                        @Html.LabelFor(m => m.Country, "Country :", new { @class = "popup-content-label" })
                        <select class="drop" style="width:120px;" name="CountryList_DDL" id="CountryList_DDL"><option value="0">-Select-</option></select>
                    </div>
                    <div class="row1 content_margine">
                        @Html.LabelFor(m => m.IssueDate, "Issue Date :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.IssueDate, new { @class = "popup-content-textbox" })
                    </div>
                    <div class="row1 content_margine">@Html.LabelFor(m => m.ValidDate, "Expiry Date :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.ValidDate, new { @class = "popup-content-textbox" })</div>
                    <div class="row1 content_margine">@Html.LabelFor(m => m.IssueAt, "Issue At :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.IssueAt, new { @class = "popup-content-textbox" })</div>

                </div>
            </div>
            <div class="emplist_row">
                <div id="Grid_Form2">

                </div>
            </div>
        }
    </div>

</body>
</html>


<script>
    $(document).ready(function (e) {
        $("#IssueAt").ForceOnlyAlphaNumeric();

        $('button').button().on("click", function () { });
        $('#IssueDate,#ValidDate').P2BDatePicker();
        //$('.popup_radio_button').buttonset({})
        var dia;
        $('#FromDate,#ToDate').P2BDatePicker();
        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;
        var btndisablenames = "#Edit-VisaType-Visa,#Remove-VisaType-Visa";
        //ColModel = ['Id', 'IssueAt', 'IssueDate', 'ValidDate'];
        //ColNames = ['Id', 'IssueAt', 'IssueDate', 'ValidDate'];
        ColModel = ['EmpCode', 'EmpName', 'ID'];
        ColNames = [ 'Employee Code', 'Employee Name', 'ID'];
        SortName = 'Code';
        Caption = 'Visa Details';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);

        function DateConvert(JsonDate) {
            var date = new Date(parseInt(JsonDate.substr(6)));
            var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
            return displayDate;
        };



        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }
        $('#Create_Dialog').P2BCreateDialog();

        //Create Function
        $('#Create').on("click", function (event) {
            $('#FormVisa').trigger("reset");
            $('#Section_Emp').fadeIn();
            $.LoadEmpByDefault(true);
            $('#Advance-Filter-Symbol').on('click', function () {
                $("<div></div>").FilterDialog({
                    width: 1000,
                    height: 400,
                    title: "Filter",
                    htmlurl: "@Url.Action("Advance_partial", "Transcation")",
                    returnat: function (data) {
                        console.log(data);
                        var forwarddata = JSON.stringify(data);
                        $('#Employee-Table').P2BTransactionTableDynamic('#Employee-Search', '#Case-Employee', './Transcation/Get_Employelist_h?geo_id=' + forwarddata + '', "");
                        //$('#Employee-Table').P2BTransactionTableDynamic('#Employee-Search', '#Case-Employee', './Transcation/Get_Employelist?geo_id=' + forwarddata + '', "");
                        //$('#pay_id').val(data.PayStruct);
                        //$('#fun_id').val(data.FunStruct);
                    },
                    renderat: "#FormFilter", hierarchy: true,
                });
                //console.log($('#FormFilter')[0]);
            });
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create Visa Details', 'open', '@Url.Action("Create")', '#FormVisa', 'Message :', 'Request Falied :', '#JqGrid', 490, 956, '', btndisablenames, function (data) { });
            $('#VisaTypelist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 316, "");
            $('#CountryList_DDL').empty();
            $('#CountryList_DDL').off("selectmenuopen").on("selectmenuopen", function () {
                $('#CountryList_DDL').empty().append("<option value=0 >-Select-</option>").selectmenu().selectmenu("refresh");
                $.post("@Url.Action("PopulateDropDownList","country")", {
                    data: "",
                    data2: ""
                }, function (data) {
                    $.each(data, function (i, k) {
                        $('#CountryList_DDL').append($("<option>", {
                            value: k.Value,
                            text: k.Text,
                            selcted: k.Selected
                        }));
                    });
                    jQuery('#CountryList_DDL').selectmenu('refresh').selectmenu("menuWidget").css({ "height": "120px" });
                });
            });
            event.preventDefault();
        });;


        // Main page edit
        $('#Edit').on('click', function () {
            AssignData();
            $('#Section_Emp').fadeOut();
            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.ID, '@Url.Action("EditSave")', "Edit Visa Details->" + JSON.stringify(dt) + "", '#FormVisa', dt.ID, 'Message : ', 'Request Falied :', '#JqGrid', 490, 956, '#CountryList_DDL', btndisablenames, function (data) {
                // setTimeout(function () {
                $.each(data[0], function (i, k) {
                    $('#IssueAt').val(k.IssueAt);

                    //$('#IssueDate').val(k.IssueDate);
                    if (k.IssueDate != null) { $('#IssueDate').val(DateConvert(k.IssueDate)); }
                    //$('#ValidDate').val(k.ValidDate);
                    if (k.ValidDate != null) { $('#ValidDate').val(DateConvert(k.ValidDate)); }
                    $('#CountryList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "country")", "", k.Country_Id);
                    $('#VisaTypelist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 316, k.VisaType_Id);
                });

                //alert(data[3]);
                $('#Autho_Allow').val(data[3]); //Compulsory for authorisation
                // }, 2000);
            });
        });


        //View main page
        $('#View').button().click(function (event) {
            AssignData();
            $('#Section_Emp').fadeOut();  @*$('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View', '#BasicScaleDetailslist', '', 356, 512, '#Autho', '@Url.Action("delete")', '', '', '', '','','', function (data) {*@
            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.ID, "View Visa Details->" + JSON.stringify(dt) + "", '', '#Lookup-Address-Corporate,#Create-Address-Corporate,#Edit-Address-Corporate,#Remove-Address-Corporate,#Lookup-ContactDetails-Corporate,#Create-ContactDetails-Corporate,#Edit-ContactDetails-Corporate,#Remove-ContactDetails-Corporate', 490, 956, '#Autho', '@Url.Action("AuthSave")', dt.ID, '', '', '', '', '#JqGrid', function (data) {
                $.each(data[0], function (i, k) {
                    $('#Autho_Action').val(k.Action);
                    $('#IssueAt').val(k.IssueAt);

                    if (k.IssueDate != null) { $('#IssueDate').val(DateConvert(k.IssueDate)); }
                    if (k.ValidDate != null) { $('#ValidDate').val(DateConvert(k.ValidDate)); }

                    $('#VisaTypelist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 316, k.VisaType_Id);
                    $('#CountryList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "country")", "", k.Country_Id); 
                });



                //To bind old data if authorisation is true
                if ($("#Autho").hasClass('auto_active')) {
                    $('#Name').oldVal(data[2].Name);
                    $('#VisaTypelist').oldDropval(data[2].VisaType_Val);
                    $('#CountryList_DDL').oldDropval(data[2].Country_Val);
                    if (data[2].IssueDate != null) { $('#IssueDate').StickNote(DateConvert(data[2].IssueDate)); }
                    if (data[2].ValidDate != null) { $('#ValidDate').StickNote(DateConvert(data[2].ValidDate)); }
                }
            });
        });

        @*//delete main page
            $('#Delete').button().click(function (event) {
                dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
                $('#Create_Dialog').P2BDeleteModalDialog('@Url.Action("Delete")', 0, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
            event.preventDefault();
        });*@


        @*$('#Delete').button().click(function (event) {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            $('#Create_Dialog').P2BDeleteModalDialog('@Url.Action("Delete")', dt.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
            event.preventDefault();
        });*@
        $('#Delete').button().click(function (e) {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            $('#Create_Dialog').P2BDeleteModalDialog('@Url.Action("Delete")', dt.ID, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
            e.preventDefault();
        });

        $('#Autho').makeDisable('#Create,#Edit,#Delete');
        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');
        $('.drop').selectmenu().selectmenu("menuWidget");
    });
</script>
