@{
    ViewBag.Title = "ITProjection";
}
@model Payroll.ITProjection

<script>
    $(document).ready(function () {
        var start = new Date();
        start.setFullYear(start.getFullYear() - 70);
        var end = new Date();
        end.setFullYear(end.getFullYear() - 18);
    });

</script>

<script>
    $(document).ready(function (e) {
        $('button').button();
        // $("#PayMonth").val($.datepicker.formatDate("mm/yy", new Date()));
        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;
        ColModel = ['Code', 'EmpId', 'Name', 'ProjectionDate', 'Islock', 'Id'];
        ColNames = ['EmpCode', 'EmpId', 'Name', 'ProjectionDate', 'Islock', 'Id'];

        SortName = 'Code';
        Caption = 'IT Projection';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height, '#pager2', { multiple: true, rowNum: 30, selectall: true });
        var ColNamesP = [];
        var ColModelP = [];
        var SortNameP, CaptionP, urlP, widthP, heightP;
        //ColModelP = ['Id', 'Code', 'Name', 'FromPeriod', 'Toperiod', 'ActualAmount', 'ActualQualifyingAmount', 'ChapterName', 'FinancialYear', 'Form16Header', 'Form24Header', 'PickupId', 'ProjectedAmount', 'ProjectedQualifyingAmount', 'ProjectionDate', 'QualifiedAmount', 'SalayHead', 'Section', 'SectionType', 'SubChapter', 'TDSComponents', 'title', 'Islock', 'Narration'];
        //ColNamesP = ['Id', 'Code', 'Name', 'FromPeriod', 'Toperiod', 'ActualAmount', 'ActualQualifyingAmount', 'ChapterName', 'FinancialYear', 'Form16Header', 'Form24Header', 'PickupId', 'ProjectedAmount', 'ProjectedQualifyingAmount', 'ProjectionDate', 'QualifiedAmount', 'SalayHead', 'Section', 'SectionType', 'SubChapter', 'TDSComponents', 'title', 'Islock', 'Narration'];

        //ColModelP = ['Id','Code', 'ActualAmount', 'ActualQualifyingAmount', 'ChapterName', 'ProjectedAmount', 'ProjectedQualifyingAmount',  'QualifiedAmount','Section',  'title'];
        //ColNamesP = ['Id','Code', 'ActualAmount', 'ActualQualifyingAmount', 'ChapterName', 'ProjectedAmount', 'ProjectedQualifyingAmount',  'QualifiedAmount', 'Section',  'title'];

        ColModelP = ['Code', 'Title', 'Section', 'ChapterName', 'ProjectedAmount', 'ActualAmount', 'ActualQualifyingAmount', 'ProjectedQualifyingAmount', 'Narration', 'Id'];
        ColNamesP = ['Code', 'Title', 'Section', 'ChapterName', 'ProjectedAmount', 'ActualAmount', 'ActualQualifyingAmount', 'ProjectedQualifyingAmount', 'Narration', 'Id'];



        SortNameP = 'Id';
        CaptionP = 'Projection Details';
        urlP = '@Url.Action("ViewProjection")';
        widthP = 1100;
        heightP = 300;

        $('#JqGridProjection').P2BGrid(ColNamesP, ColModelP, SortNameP, CaptionP, urlP, widthP, heightP, '#pager2Projection');

        $('#Load').on('click', function (e) {
            // alert($('#Financial_Id').val());

            if (!$("#Financial_Id").val()) {
                alert("Please Select Financial Year.");
                return false;
            }
            $('#JqGrid').PostGridData({ url: url, filter: $('#TextPayMonth').val() });
        });
        //$('#PayMonth,#TextPayMonth').MonthYearPicker();

        //if ($("#TextPayMonth").val() == "") {
        //    var dt = new Date();
        //    var month = dt.getMonth() + 1;
        //    month = month < 10 ? '0' + month : '' + month;
        //    $("#TextPayMonth").val(month + "/" + dt.getFullYear());
        //}

        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }

        $('#Advance-Filter-Symbol').on('click', function () {
            $("<div></div>").FilterDialog({
                width: 1000,
                height: 400,
                title: "Filter",
                htmlurl: "@Url.Action("Advance_partial", "Transcation")",
                returnat: function (data) {
                    console.log(data);
                    var forwarddata = JSON.stringify(data);
                    $('#Employee-Table').P2BTransactionTableDynamic('#Employee-Search', '#Case-Employee', './Transcation/Get_Employelist_h?geo_id=' + forwarddata + '', "");

                },
                renderat: "#FormFilter", hierarchy: true,
            });
            //console.log($('#FormFilter')[0]);
        });

        $('#Create_Dialog').P2BCreateDialog();

        //Create Function

        $('#process').on("click", function (event) {

            if (!$("#Financial_Id").val()) {

                alert("Please Select Financial Year.")
                return false;
            }

            $('#frmITProjection').trigger("reset");
            //$.LoadEmpByDefault();
            $('#process').ProcessConfirmation({
                confirmurl: "@Url.Action("ChkProcess")",
                month: "#Financial_Id",
                msg: "Already Process !!! Do you want to re-process ?",
                status: function (data) {
                    if (data == true) {
                    //    $.LoadEmpByDefaultWOGeoId(false, $('#Financial_Id').val());
                        $.LoadEmpByDefaultWOGeoId(false,"");
                        // $("#FinancialYearList").append("<tr><td>" + $("#TextPayMonth").val());
                        $.get("@Url.Action("getCalendar", "ITInvestmentPayment80CCCTo80CCF")", function (data) {
                            // $('#dispcalender').val(data.Lvcalendardesc);
                            $('#dispcalender').attr('readonly', 'readonly');
                            //$('#dispcalender_id').val(data.Id);
                            console.log(data);
                        });
                        //alert($('#txtfinancialyear_id').val());
                        var newrow = $('#TextPayMonth').val();

                        $('#FinancialYearList tr:last').after(newrow);
                        $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create ITProjection', 'open', '@Url.Action("Create")', '#frmITProjection', 'Message :', 'Request Falied :', '#JqGrid', 600, 1200, '#AddressList,#ContactDetailsList', '', function (data) { });
                        $('#dispcalender').attr('readonly', 'readonly');
                        //$.LoadEmpByDefault();
                        $('#ProcTypeList').P2BSelectMenuAppend1('@Url.Action("Polulate_ProcTypeChk", "ITProjection")', "", ""); // To bind dropdown on page load
                        // $('#PayProcessGroupList').P2BSelectMenuAppend('@Url.Action("Polulate_PayProcessGroup", "SalaryT")', "", ""); // To bind dropdown on page load


                    }
                }
            });
            event.preventDefault();
        });


        function ajaxloaderv2(cameform) {
            $('<a><i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw ajax_loder" style="color: rgba(27, 187, 173, 0.93);z-index:999;" aria-hidden="true"></i></a>').appendTo(cameform);
        };
        $('#release').on('click', function (e) {
            var a = $.GetGridSelctedvalue("#JqGrid", "EmpId");
            if ($('#emp_Id').val()) {
                console.log($('#emp_Id').val())
                a = $('#emp_Id').val();
                console.log(a);
            }
            else {
                a = a.toString();
            }
            //a = a != null ? a.toString() : null;
            //alert(a);
            @*$.post("@Url.Action("ReleaseProcess")", { forwardata: a, PayMonth: $("#Financial_Id").val() }, function (data) {
                console.log(data);
            }).success(function (data) {
                $('<div></div>').P2BMessageModalDialog('ui-icon-info', data.responseText);

            }).error(function (data) {
                $('<div></div>').P2BMessageModalDialog('ui-icon-alert', data.responseText);
            });*@

            $.ajax({
                method: "POST",
                url: "@Url.Action("ReleaseProcess")",
                data: { forwardata: a, PayMonth: $("#Financial_Id").val() },
                beforeSend: function () {
                    ajaxloaderv2('body');
                },
                success: function (data) {
                    $('<div></div>').P2BMessageModalDialog('ui-icon-info', data.responseText);
                },
                error: function (data) {
                    $('<div></div>').P2BMessageModalDialog('ui-icon-alert', data.responseText);
                    $('#emp_Id').val("");
                }, complete: function (data) {
                    $('#JqGrid').trigger('reloadGrid');
                    $('.ajax_loder').remove();
                    $('#emp_Id').val("");
                }
            });
            e.preventDefault();
        });
        $('#Lookup_FinancialYear').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetCalendarDetails", "ITProjection")', '', 'LookupDiv', ' Look Up Data', '#FinancialYearList', 'FinancialYearList', 5, 'FinancialYearList', '#frmITProjection', 'N', '#Remove_FinancialYear', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        $('#Remove_FinancialYear').button().on('click', function (event) {
            //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            var a = [], b;
            a = $('#FinancialYearList').P2BGetTableDataonSelectedRow('#FinancialYearList', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#FinancialYearList', $('#FinancialYearList').val(), 200, 200, '#frmITProjection', '#FinancialYearList', '');
            event.preventDefault();
        });

        $('.popup_radio_button').controlgroup();
        $('#PayProcessGroupList').selectmenu().selectmenu("menuWidget");

        $('#Lookup_FinancialYear_Calendar').on('click', function () {
            $('.dialog').AddDataToTextbox({
                appendTo: "#TextPayMonth",
                appendToId: "#Financial_Id",
                lookupurl: "@Url.Action("GetCalendarDetails", "ITProjection")",
                NoOfRecordToShow: "10",
                setnameofthelookupbyppage: "HusbandName_FName-lookup",
                LookupDiv: "LookupDiv",
                lookuppagename: "lookup",
                pagename: "PageNavPosition",
                readonly: true,
            });
        });
        $('#Edit_model_dialog').P2BGridDialog();


        $('#Lookup_FinancialYear_Calendar1').on('click', function () {
            $('.dialog').AddDataToTextbox({
                appendTo: "#dispcalender",
                appendToId: "#dispcalender_id ",
                lookupurl: "@Url.Action("GetCalendarDetails", "ITProjection")",
                NoOfRecordToShow: "10",
                setnameofthelookupbyppage: "HusbandName_FName-lookup",
                LookupDiv: "LookupDiv",
                lookuppagename: "lookup",
                pagename: "PageNavPosition",
                readonly: true,
            });
        });
        $('#Edit_model_dialog').P2BGridDialog();

        @*$('#View').on('click', function (e) {
            AssignData();
            alert(dt.Id);
            var data = dt.Id;

            $.post("@Url.Action("ViewProjection")", { data: dt.Id }, function (data) {

                $('#Edit_model_dialog').P2BGridDialog(
                    {
                        maindialogtitle: "View Projection Dialog",
                        submiturl: "@Url.Action("ViewProjection")",
                        form: "#FormEditInlineGrid",
                        height: 500,
                        width: 1100,
                        gridname: "#JqGrid",
                        state: "open",
                        editurl: "@Url.Action("ViewProjection")",
                        editdata: dt.Id,
                        filter: dt.struct_Id,
                        returnToGrid: "",
                    });

            });


        });*@
        $('#View').on('click', function (e) {
            AssignData();
            var arr = [];
            arr.push(dt.Id);
            // arr.push(struct_id);
            console.log(arr);
            $('#Edit_model_dialog').P2BGridDialog({
                maindialogtitle: "Edit Dialog",
                submiturl: "@Url.Action("")",
                form: "#FormEditInlineGrid",
                height: 500,
                width: 1146,
                title: "View IT Projection",
                gridname: "#JqGrid",
                state: "open",
                editurl: "@Url.Action("ViewProjection", "ITProjection")",
                editdata: dt.Id,
                filter: dt.Id,
                returnToGrid: "#JqGridProjection",
            });
        });

        $('#FromPeriod').P2BDatePicker();
        $('#ToPeriod').P2BDatePicker();

        $('#ProcTypeList').selectmenu().selectmenu("menuWidget");

    });
</script>

<html>

<head>
    <title></title>
    @*<link href="~/Content/SalaryT/SalaryT.css" rel="stylesheet" />*@

    <style>
        .icon-row {
            position: relative;
            left: -45px;
            top: -150px;
        }

        #Lookup_FinancialYear_Calendar {
            left: 280px;
            top: 20px;
        }

        #Lookup_FinancialYear_Calendar1 {
            left: 66%;
            top: 7%;
        }

        #BusinessType-button {
            font-size: 9px;
            padding-top: 1px;
            font-weight: bold;
        }

        .popup-content-label {
            display: block;
            float: left;
            width: 100px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 150px;
        }

        .row3 {
            width: 853px;
            margin-top: inherit;
        }

        .row4 {
            position: absolute;
            top: 294px;
            width: 400px;
        }

        .popup-content-textbox-long {
            margin-bottom: 1px;
            width: 290px;
        }


        .row2 {
            width: 853px;
            display: inline-flex;
        }

        .date-picker {
            z-index: 999;
        }

        .employeeselectiondiv {
            float: left;
        }

        .addons {
            height: 246px;
        }

        .section_Method {
            border: 1px solid rgba(207, 207, 207, 0.91);
            border-radius: 10px;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .section_Method_AnnulaSalR {
            border: 1px solid rgba(207, 207, 207, 0.91);
            border-radius: 10px;
            margin-top: 15px;
            margin-bottom: 15px;
            height: 250px;
        }


        .transactiontablenew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            /*width: 200px;*/
            display: block;
            overflow: auto;
            height: 500px;
            border-collapse: collapse;
        }

        .transactiondivnew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            width: 507px;
            border-radius: 5px;
            height: 32px;
        }

            .transactiondivnew > div {
                display: inline-block;
                margin: 0 auto;
                padding: 4px;
            }

                .transactiondivnew > div > input {
                    box-sizing: initial;
                    display: inline-block;
                    margin: 0 auto;
                    width: 108px;
                }

        .transactiontablenew th, .transactiontablenew td {
            background: rgba(246, 246, 246, 0.64) none repeat scroll 0 0;
            padding: 5px;
            border-bottom: 1px solid #c5c5c5;
            border-right: 1px solid #c5c5c5;
            text-align: center;
            color: rgba(114, 113, 113, 0.9);
        }

            .transactiontablenew th:nth-child(1) > input, .transactiontablenew td:nth-child(1) > input {
                margin: 0 auto;
            }

            .transactiontablenew th:nth-child(2), .transactiontablenew td:nth-child(2) {
                height: 100%;
                width: 100%;
            }

        .transactiontablenew tr:hover {
            cursor: pointer;
            background: #EEEEEE none repeat scroll 0 0;
        }

        .section1_Leave {
            display: block;
            border: 1.5px solid rgba(207, 207, 207, 0.91);
            height: 600px;
            width: 534px;
            margin: 4px auto;
            position: absolute;
        }

        .section2_Leave {
            display: block;
            border: 1px solid #ddd;
            height: 400px;
            width: 581px;
            margin: 5px 4px;
            position: absolute;
            left: 546px;
        }
    </style>
</head>

<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <div style="float: left; width: 285px;">
                    @*@Html.LabelFor(m => m.PayMonth, "PayMonth:", new { @class = "popup-content-label must" })
                        @Html.TextBoxFor(m => m.PayMonth, new { @class = "popup-content-textbox must" })*@
                    <label id="lblPayMonth" class="popup-content-label must">Financial Year:</label>
                    <input name="TextPayMonth" type="text" id="TextPayMonth" class="date-picker" />
                    <input type="text" id="Financial_Id" name="Financial_Id" class="filter_structure_id" />

                    <button data-p2btooltip="Lookup FinancialYear Details" class="button popup-content-icon-lookup" id="Lookup_FinancialYear_Calendar"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>


                </div>
                <button class="button" id="Load">Load</button>
                <button class="button" data-typeofbtn="process" id="process">Process</button>
                <button class="button" data-typeofbtn="release" id="release">Lock</button>
                <button class="button" data-typeofbtn="view" id="View">View</button>

                <div id="Grid_Form">
                    <div>
                        <table id="JqGrid"></table>
                        <div id="pager2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv" id="lookup"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>

    <div id="Create_Dialog" title="Create Corpoarte">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmITProjection", name = "frmITProjection" }))
        {
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
            <input id="geo_id" class="filter_structure_id" name="geo_id" />
            <input id="pay_id" class="filter_structure_id" name="pay_id" />
            <input id="fun_id" class="filter_structure_id" name="fun_id" />
            <input id="emp_Id" class="filter_structure_id" name="emp_Id" />
            <input type="text" id="txtfinancialyear_id" name="txtfinancialyear_id" class="filter_structure_id" />
            <div class="HideDivForm">
                <div class="section_Method">
                    <div class="heading">Filter View</div>
                    <div class="filter-div">
                        <label class="advance_filter_label">Advance Filter<span class="advance_filter_sysmbol_class_plus" id="Advance-Filter-Symbol"></span></label>
                        <div id="FormFilter"></div>
                    </div>
                </div>
                <div class="section1_Leave">
                    <div class="heading">Employee List</div>
                    <div class="employeeselectiondiv">
                        <div class="transactiondivnew dynamic addons" style="float:left">
                            <div><label>Search : </label><input type="text" id="Employee-Search" style="width: 425px;" /></div>
                            <table cellspacing="0" cellpadding="1" class="transactiontablenew" id="Employee-Table">
                                <tr><th><input type="checkbox" id="Case-Employee" /></th><th>Employee</th></tr>
                            </table>
                            @*<span class="btn-span1" aria-hidden="true">
                                    <button id="load_emp" class="loan-btn">Load Employee</button>
                                </span>*@
                        </div>
                        <input name="geo_id" type="text" id="geo_id" class="struct_input_val" style="display:none" />
                        <input name="pay_id" type="text" id="pay_id" class="struct_input_val" style="display:none" />
                        <input name="fun_id" type="text" id="fun_id" class="struct_input_val" style="display:none" />
                    </div>
                </div>

                <div class="section2_Leave">
                    <div class="heading">Financial Year Selection</div>
                    <div class="row3 content_margine">

                        <div id="FinancialYearList_old"></div>
                        @Html.LabelFor(m => m.FinancialYear, "Financial year:", new { @class = "popup-content-label" })
                        <input type="text" hidden id="dispcalender_id" name="FinancialYearList" />
                        <input type="text" readonly id="dispcalender" name="" style="width:270px" />

                        <button data-p2btooltip="Lookup FinancialYear Details" class="button popup-content-icon-lookup" id="Lookup_FinancialYear_Calendar1"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    </div>
                    <br />
                    <div class="heading">Process Type Selection:</div>
                    <div class="row3 content_margine">
                        <label id="lblProcType" class="popup-content-label">Tax Calculation On:</label>
                        <select id="ProcTypeList" name="ProcTypeList" style="width:270px">
                            <option value="0">-Select-</option>
                        </select>
                    </div>

                </div>

            </div>




        }
    </div>
    <div id="Edit_model_dialog">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormEditInlineGrid", name = "FormEditInlineGrid" }))
        {

            <div id="Grid_FormProjection">
                <div>
                    <table id="JqGridProjection"></table>
                    <div id="pager2Projection"></div>
                </div>
            </div>
        }
    </div>
</body>
</html>
