@{
    ViewBag.Title = "Location";
}
@model P2b.Global.Location

<html>
<head>
    <title></title>
    <style>
        .dialog{
            max-width:500px;
        }
        .icon-row {
            position: relative;
            left: 62px;
            top: -150px;
        }

        .row2 {
            width: 449px;
        }

        .popup-content-label {
            width: 104px;
            display: block;
            float: left;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
/*            width: 63%;*/
        }

        .add_icon-row {
            left: -80px;
            top: -45px;
            position: relative;
        }

        .popup-content-drop-icon-edit, .popup-content-drop-icon-create, .popup-content-drop-icon-lookup {
            height: 20px;
            margin: auto;
            /*position: absolute;*/
            width: 20px;
            left: 0px;
        }
    </style>





</head>
<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <button class="button" id="Create">Create</button>
                <button class="button" id="View">View</button>
                <button class="button" id="Edit">Edit</button>
                <button class="button" id="Delete">Delete</button>
                <button class="button" id="Autho">Authorized</button>
                <button class="button" id="Btn-Upload-Data">Upload</button>
                <div id="Grid_Form">
                    <div>
                        <table id="JqGrid"></table>
                        <div id="pager2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv" id="Lookup"></div>
        </div>
        <div id="PageNavPosition">
        </div>
    </div>


    <div id="Create_Dialog" title="Create Corpoarte">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormLocation", name = "frmLocationEdit" }))
        {
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
            <div class="row2 content_margine  ">
                <label class="popup-content-label must">Location object :</label>
                <select id="Location_Obj_DDL" name="Location_Obj_DDL" class="drop must" style="width:246px;">
                    <option value="0">-Select-</option>
                </select>

                <div class="add_icon-row">
                    <button data-p2btooltip="Create Location obj" class="popup-content-icon-create" id="Create_Location">
                        <span class="ui-icon ui-icon-newwin popup-content-iconmark"></span>
                    </button>
                </div>
            </div>

            /////////emplookup

            @*<div class="row2 content_margine">
                    <label class="popup-content-label ">In charge:</label>
                    <select id="Incharge_DDL" name="Incharge_DDL" class="drop" style="width:250px;">
                        <option value="0">-Select-</option>
                    </select>

                </div>*@

            <label id="LabelIncharge" class="popup-content-label">Incharge :</label>
            <input name="TextIncharge" type="text" id="TextIncharge" class="date-picker" style="width: 243px" />
            <input type="text" id="Incharge_Id" name="Incharge_Id" class="filter_structure_id" />

            <button data-p2btooltip="Lookup Incharge Name" class="popup-content-drop-icon-lookup" id="Lookup_Incharge"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
            //<button data-p2btooltip="Lookup Incharge Name" class="button popup-content-icon-lookup" id="Lookup_Incharge"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
            /////////emplookup


            @*<div class="row2 content_margine">
                    <label class="popup-content-label ">HOCalendar:</label>
                    <select id="HolidayCalendar_DDL" name="HolidayCalendar_DDL" class="drop" style="width:250px;">
                        <option value="0">-Select-</option>
                    </select>

                </div>
                <div class="row2 content_margine">
                    <label class="popup-content-label ">WOCalendar:</label>
                    <select id="WeeklyOffCalendar_DDL" name="WeeklyOffCalendar_DDL" class="drop" style="width:250px;">
                        <option value="0">-Select-</option>
                    </select>
                </div>*@

            <div class="row2 content_margine">
                @Html.LabelFor(m => m.HolidayCalendar, "Holiday Calendar Details :", new { @class = "popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="HOCalendarList">
                        <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup Holiday Calendar Details" class="popup-content-icon-lookup" id="Lookup-HOCalendar-Location"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Create Holiday Calendar Details" class="popup-content-icon-create" id="Create-HOCalendar-Location"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit Holiday Calendar Details" class="popup-content-icon-edit" id="Edit-HOCalendar-Location"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Remove Holiday Calendar Details" class="popup-content-icon-remove" id="Remove-HOCalendar-Location"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>

            <div class="row2 content_margine">
                @Html.LabelFor(m => m.WeeklyOffCalendar, "Weekly Off Calendar Details :", new { @class = "popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="WOCalendarList">
                        <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup Weekly Off Calendar Details" class="popup-content-icon-lookup" id="Lookup-WOCalendar-Location"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Create Weekly Off Calendar Details" class="popup-content-icon-create" id="Create-WOCalendar-Location"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit Weekly Off Calendar Details" class="popup-content-icon-edit" id="Edit-WOCalendar-Location"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Remove Weekly Off Calendar Details" class="popup-content-icon-remove" id="Remove-WOCalendar-Location"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>



            // <div class="row2 content_margine">@Html.LabelFor(m => m.Code, "Code:", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Code, new { @class = "popup-content-textbox-short must", @maxlength = "10" })</div>
            //<div class="row2 content_margine">@Html.LabelFor(m => m.Name, "Name:", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Name, new { @class = "popup-content-textbox must", @LoginDetails = "25" })</div>
            <div class="row2 content_margine">@Html.LabelFor(m => m.OpeningDate, "Opening Date :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.OpeningDate, new { @class = "popup-content-textbox must", @readonly = true })</div>
            <div class="row3 content_margine" style="width: 420px;">
                @Html.LabelFor(m => m.BusinessCategory, "Business :", new { @class = "popup-content-label" })
                <select class="drop" style="width:120px;" name="BusinessCategory_DDL" id="BusinessCategory_DDL">
                    <option></option>
                </select>
            </div>
            <div class="row2 content_margine">
                @Html.LabelFor(m => m.Address, "Address :", new { @class = "popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="AddressList">
                        <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup Address" class="  popup-content-icon-lookup" id="Lookup-Address-Location"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Create Address" class="popup-content-icon-create" id="Create-Address-Location"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit Address" class="popup-content-icon-edit" id="Edit-Address-Location"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Remove Address" class="popup-content-icon-remove" id="Remove-Address-Location"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>

            <div class="row2 content_margine">
                @Html.LabelFor(m => m.ContactDetails, "Contact Details :", new { @class = "popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="ContactDetailsList">
                        <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup Contact Details" class="popup-content-icon-lookup" id="Lookup-ContactDetails-Location"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Create Contact Details" class="popup-content-icon-create" id="Create-ContactDetails-Location"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit Contact Details" class="popup-content-icon-edit" id="Edit-ContactDetails-Location"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Remove Contact Details" class="popup-content-icon-remove" id="Remove-ContactDetails-Location"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>
            @*<div class="row2 content_margine">
                @Html.LabelFor(m => m.UnitId, "Unit Id :", new { @class = "popup-content-label " })
                @Html.TextBoxFor(m => m.UnitId, new { @class = "Popup-content-textbox must" })
            </div>*@
        }
    </div>
</body>
</html>
<script>
    $(document).ready(function () {
        //$('#txt_box1').ValidateTextBox({ maxlength: 5, AlphaNum: 0 });
        $('#Code').ValidateTextBox({ maxlength: 10, alphanum: true });
        //$('#Code').MaxLength(10);
        $('#Name').MaxLength(50);
        $('#Name').ValidateTextBox({ maxlength: 50, alphanum: true });
        $('#OpeningDate').P2BDatePicker();
    });

    $(document).ready(function (e) {


        $('button').button();
        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;
        var btndisablenames = "#Edit-Address-Location,#Remove-Address-Location,#Edit-ContactDetails-Location,#Remove-ContactDetails-Location";
        // a.Id, Convert.ToString(a.DiviName), Convert.ToString(a.Code), Convert.ToString(a.Name)
        ColModel = ['LocCode', 'LocDesc', 'Id'];
        ColNames = ['LocCode', 'LocDesc', 'Id'];
        SortName = 'Id';
        Caption = 'Location';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);
        $('#OpeningDate').P2BDatePicker();
        //$("#OpeningDate").keypress(function (event) { event.preventDefault(); });
        function DateConvert(JsonDate) {
            var date = new Date(parseInt(JsonDate.substr(6)));
            var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
            return displayDate;
        };
        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');

        }
        //$('#Lookup-Address-Location').attr('disabled', 'disabled');
        $('#Create_Dialog').P2BCreateDialog();

        $('#Create').on("click", function (event) {
            $('#FormLocation').trigger("reset");

            $('#Location_Obj_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "LocationObj")", "", "", '#Location_Obj_DDL');
            $('#BusinessCategory_DDL').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 408, "");
            //$('#HolidayCalendar_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownListHolidayCalendar", "Location")", "", "", '');
            //$('#Incharge_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownListIncharge", "Location")", "", "", '');
            //$('#WeeklyOffCalendar_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownListWeeklyOffCalendar", "Location")", "", "", '');
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create Location', 'open', '@Url.Action("Create")', '#FormLocation', 'Message :', 'Request Falied :', '#JqGrid', 500, 620, '#AddressList,#ContactDetailsList', btndisablenames, function (data) { });
            @*$('#Categorylist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 100, ""); // To bind dropdown on page load*@
            event.preventDefault();
        });

        //To get data in Lookup
        $('#Lookup-Address-Location').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupDetailsAddress", "Location")', '', 'LookupDiv', 'Look Up Data', '#AddressList', 'AddressList', 5, 'AddressList', '#FormLocation', 'N', '#Edit-Address-Location,#Remove-Address-Location', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        // PArtial page create
        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-Address-Location').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "address")', 'Create Address', 'open', '@Url.Action("Create","Address")', '#FormAddress', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#FormLocation', '', function (data) {
                $('#AddressList').P2BLookUpEncapsulate('#AddressList', 'AddressList', data[0], data[1], 'AddressList', '#Edit-Address-Location,#Remove-Address-Location', 'N');
            });
            event.preventDefault();
        });

        // PArtial page edit

        $('#Edit-Address-Location').button().on("click", function (event) {
            var a = [], b;
            a = $('#AddressList').P2BGetTableDataonSelectedRow('#AddressList', 0);
            b = a[0];
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname, height, width, classoridoftheonwhichpopupderived, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not,nameidclassofbuttontodisable,returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "address")', '@Url.Action("edit", "address")', b, '@Url.Action("Editsave","Address")', 'Edit Address', '#FormAddress', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#FormLocation', '#AddressList', 'AddressList', 'AddressList', 'N', '#Edit-Address-Location,#Remove-Address-Location', function (data) {
                // setTimeout(function () {
                //to bind data according to selected id
                $.each(data[0], function (i, k) {
                    $('#FormAddress').trigger("reset");
                    $('#Address1').val(k.Address1);
                    $('#Address2').val(k.Address2);
                    $('#Address3').val(k.Address3);
                    $('#Landmark').val(k.Landmark);
                    $('#CountryList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "country")", "", k.Country_Id, '');
                    $('#StateList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "state")", "", k.State_Id, '');
                    $('#StateRegionList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "StateRegion")", "", k.StateRegion_Id, '');
                    $('#DistrictList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "District")", "", k.District_Id, '');
                    $('#TalukaList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "Taluka")", "", k.Taluka_Id, '');
                    $('#CityList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "City")", "", k.City_Id, '');
                    $('#AreaList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "area")", "", k.Area_Id, '');
                });
                //}, 3000);


            });
            event.preventDefault();
        });

        // Main page edit
        $('#Edit').on('click', function () {
            AssignData();
            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit Location Data", '#FormLocation', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 500, 620, '#AddressList,#ContactDetailsList', btndisablenames, function (data) {

                $.each(data[0], function (i, k) {
                    //$('#Code').val(k.Code);
                    //$('#Code').attr('readonly', 'readonly');
                    //$('#Name').val(k.Name);
                    if (k.OpeningDate != null)
                        $('#OpeningDate').val(DateConvert(k.OpeningDate));
                    else
                        $('#OpeningDate').val();

                    if (k.UnitId != null)
                        $('#UnitId').val((k.UnitId));
                    else
                        $('#UnitId').val();

                    $('#Location_Obj_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "LocationObj")", "", k.LocationObj); // Dropdown bind// Dropdown bind
                    //Incharge_Id
                    @*$('#TextIncharge').P2BSelectMenuAppend("@Url.Action("PopulateDropDownListIncharge", "Location")", "", k.Incharge_Id);*@
                    $('#BusinessCategory_DDL').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 408, k.BusinessCategory_Id);
                    $('#Incharge_Id').val(k.Incharge_Id);

                    $('#TextIncharge').val(k.Incharge);

                    $('#AddressList').P2BLookUpEncapsulate('#AddressList', 'AddressList', k.Add_Id, k.Address_FullAddress, 'AddressList', '#Edit-Address-Location,#Remove-Address-Location', 'N');
                    $('#ContactDetailsList').P2BLookUpEncapsulate('#ContactDetailsList', 'ContactDetailsList', k.Cont_Id, k.FullContactDetails, 'ContactDetailsList', '#Remove-ContactDetails-Location,#Edit-ContactDetails-Location', 'N');

                });

                $.each(data[1], function (i, k) {
                    $('#HOCalendarList').P2BLookUpEncapsulate('#HOCalendarList', 'HOCalendarList', k.Holly_Id, k.HollyFullDetails, 'HOCalendarList', '#Edit-HOCalendar-Department,#Remove-HOCalendar-Department', 'A');
                    $('#WOCalendarList').P2BLookUpEncapsulate('#WOCalendarList', 'WOCalendarList', k.week_Id, k.WeeklyFullDetails, 'WOCalendarList', '#Remove-WOCalendar-Department,#Edit-WOCalendar-Department', 'A');
                });
                $('#Autho_Allow').val(data[3]); //Compulsory for authorisation

            });
        });


        //View main page
        $('#View').button().click(function (event) {
            AssignData();
            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View Location Data', '#AddressList,#ContactDetailsList', '#Lookup-Address-Location,#Create-Address-Location,#Edit-Address-Location,#Remove-Address-Location,#Lookup-ContactDetails-Location,#Create-ContactDetails-Location,#Edit-ContactDetails-Location,#Remove-ContactDetails-Location', 500, 620, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {
                $.each(data[0], function (i, k) {
                    $('#Autho_Action').val(k.Action);
                    $('#Code').val(k.Code);
                    $('#Name').val(k.Name);
                    if (k.OpeningDate != null)
                        $('#OpeningDate').val(DateConvert(k.OpeningDate));
                    else
                        $('#OpeningDate').val();
                    if (k.UnitId != null)
                        $('#UnitId').val((k.UnitId));
                    else
                        $('#UnitId').val();
                    $('#Location_Obj_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "LocationObj")", "", k.LocationObj, "#Location_Obj_DDL"); // Dropdown bind // Dropdown bind
                    @*$('#Incharge_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownListIncharge", "Location")", "", k.Incharge_Id);*@
                    $('#Incharge_Id').val(k.Incharge_Id);
                    $('#BusinessCategory_DDL').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 408, k.BusinessCategory_Id);
                    $('#TextIncharge').val(k.Incharge);
                    $('#AddressList').P2BLookUpEncapsulate('#AddressList', 'AddressList', k.Add_Id, k.Address_FullAddress, 'AddressList', 'view', 'N');
                    $('#ContactDetailsList').P2BLookUpEncapsulate('#ContactDetailsList', 'ContactDetailsList', k.Cont_Id, k.FullContactDetails, 'ContactDetailsList', 'view', 'N');
                });
                $.each(data[1], function (i, k) {
                    $('#HOCalendarList').P2BLookUpEncapsulate('#HOCalendarList', 'HOCalendarList', k.Holly_Id, k.HollyFullDetails, 'HOCalendarList', 'view', 'A');
                    $('#WOCalendarList').P2BLookUpEncapsulate('#WOCalendarList', 'WOCalendarList', k.week_Id, k.WeeklyFullDetails, 'WOCalendarList', 'view', 'A');
                });
                if ($("#Autho").hasClass('auto_active')) {
                    if (data[2] != null) {
                        $('#Name').oldVal(data[2].Name);
                        $('#AddressList_Old').oldLookupVal(data[2].Address_Val);
                        $('#ContactDetailsList_Old').oldLookupVal(data[2].Contact_Val);
                    }
                }
            });
        });

        //delete main page
        $('#Delete').button().click(function (event) {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            $('#Create_Dialog').P2BDeleteModalDialog('@Url.Action("Delete")', dt.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
            event.preventDefault();
        });


        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }

        $('#Lookup-ContactDetails-Location').button().on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupDetailsContact", "Location")', '', 'LookupDiv', 'ContactDetails Look Up Data', '#ContactDetailsList', 'ContactDetailsList', 5, 'ContactDetailsList', '#FormLocation', 'N', '#Edit-ContactDetails-Location,#Remove-ContactDetails-Location', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-ContactDetails-Location').button().on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Createcontactdetails_partial", "Location")', 'Create ContactDetails', 'open', '@Url.Action("CreateSave","ContactDetails")', '#frmContactDetails', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#frmContactDetails', '#Edit-ContactNo-ContDetails,#Remove-ContactNo-ContDetails', function (data) {
                $('#ContactDetailsList').P2BLookUpEncapsulate('#ContactDetailsList', 'ContactDetailsList', data[0], data[1], 'ContactDetailsList', '#Edit-ContactDetails-Location,#Remove-ContactDetails-Location', 'N');
            });
            event.preventDefault();
        });



        $('#Edit-ContactDetails-Location').button().on("click", function (event) {
            var a = [], b;
            a = $('#ContactDetailsList').P2BGetTableDataonSelectedRow('#ContactDetailsList', 0);
            b = a[0];
            console.log(b);
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname,                                                                                                                    height, width, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not, returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("Createcontactdetails_partial", "Location")', '@Url.Action("Editcontactdetails_partial", "Location")', b, '@Url.Action("EditSave", "ContactDetails")', 'Edit Contact Details', '#frmContactDetails', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#FormLocation', '#ContactDetailsList', 'ContactDetailsList', 'ContactDetailsList', 'N', '#Remove-ContactNo-ContDetails,#Edit-ContactNo-ContDetails', function (data) {
                // setTimeout(function () {
                $.each(data[0], function (i, k) {
                    $('#frmContactDetails').trigger('reset');
                    $('#EmailId').val(k.EmailId);
                    $('#Website').val(k.Website);
                    $('#FaxNo').val(k.FaxNo);
                });

                $.each(data[1], function (i, k) {
                    $('#ContactNos_List').P2BLookUpEncapsulate('#ContactNos_List', 'ContactNos_List', k.Id, k.FullContactNumbers, 'ContactNos_List', '#Edit-ContactNo-ContDetails,#Remove-ContactNo-ContDetails', 'A');
                });
                // }, 3000);
            });
            event.preventDefault();
        });
        $('#Remove-ContactDetails-Location').button().on('click', function (event) {
            //var a = [], b;
            //a = $('#ContactDetailsList').P2BGetTableDataonSelectedRow('#ContactDetailsList', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#ContactDetailsList').P2BGetTableDataonSelectedRow('#ContactDetailsList', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('@Url.Action("DeleteContactDetails","Location")', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#ContactDetailsList', $('#ContactDetailsList').val(), 200, 200, '#FormLocation', '#ContactDetailsList', '#Edit-ContactDetails-Location,#Remove-ContactDetails-Location');
            event.preventDefault();
        });

        //partial page delete
        $('#Remove-Address-Location').button().on('click', function (event) {
            ////dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            //var a = [], b;
            //a = $('#AddressList').P2BGetTableDataonSelectedRow('#AddressList', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#AddressList').P2BGetTableDataonSelectedRow('#AddressList', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#AddressList', $('#AddressList').val(), 200, 200, '#FormLocation', '#AddressList', '#Edit-Address-Location,#Remove-Address-Location');
            event.preventDefault();
        });


        $('#Lookup-HOCalendar-Location').button().on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupDetailsHolliday", "Location")', '', 'LookupDiv', 'Holliday Look Up Data', '#HOCalendarList', 'HOCalendarList', 5, 'HOCalendarList', '#FormLocation', 'A', '#Edit-HOCalendar-Location,#Remove-HOCalendar-Location', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-HOCalendar-Location').on("click", function (event) {
            $('<div></div>').   P2BPartialCreateModalDialog('@Url.Action("Partial", "HolidayCalendar")', 'Create Holiday Calendar', 'open', '@Url.Action("Create", "HolidayCalendar")', '#FormHoliCalendar', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#FormLocation', '', function (data) {
                $('#HOCalendarList').P2BLookUpEncapsulate('#HOCalendarList', 'HOCalendarList', data[0], data[1], 'HOCalendarList', '#Edit-HOCalendar-Location,#Remove-HOCalendar-Location', 'N');
                $('#HoliCalendarDDL').P2BSelectMenuAppend('@Url.Action("PopulateDropDownListCalendar", "HolidayCalendar")', "", '');
            });
            event.preventDefault();
        });
        $('#Edit-HOCalendar-Location').button().on("click", function (event) {
            var a = [], b;
            a = $('#HOCalendarList').P2BGetTableDataonSelectedRow('#HOCalendarList', 0);
            b = a[0];
            console.log(b);
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname,                                                                                                                    height, width, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not, returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("Partial", "HolidayCalendar")', '@Url.Action("Edit", "HolidayCalendar")', b, '@Url.Action("EditSave", "HolidayCalendar")', 'Edit Holiday Details', '#FormHoliCalendar', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#FormLocation', '#HOCalendarList', 'HOCalendarList', 'HOCalendarList', 'N', '#Remove-HolidayList-HolidayCalendar1,#Edit-HolidayList-HolidayCalendar1', function (data) {
                // setTimeout(function () {
                $.each(data[0], function (i, k) {
                    $('#FormHoliCalendar').trigger('reset');
                    $('#HoliCalendarDDL').P2BSelectMenuAppend('@Url.Action("PopulateDropDownListCalendar", "HolidayCalendar")', "", k.Holicalendar_Id);
                });
                $.each(data[1], function (i, k) {
                    $('#HolidayListList').P2BLookUpEncapsulate('#HolidayListList', 'HolidayListList', k.HolidayList_Id, k.HolidayList_val, 'HolidayListList', '#Edit-HolidayList-HolidayCalendar,#Remove-HolidayList-HolidayCalendar', 'A');
                });


                // }, 3000);
            });
            event.preventDefault();
        });


        $('#Remove-HOCalendar-Location').button().on('click', function (event) {
            //var a = [], b;
            //a = $('#HOCalendarList').P2BGetTableDataonSelectedRow('#HOCalendarList', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#HOCalendarList').P2BGetTableDataonSelectedRow('#HOCalendarList', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#HOCalendarList', $('#HOCalendarList').val(), 200, 200, '#FormLocation', '#HOCalendarList', '#Edit-HOCalendar-Location,#Remove-HOCalendar-Location');
            event.preventDefault();
        });

        $('#Lookup-WOCalendar-Location').button().on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupDetailsWOCalendar", "Location")', '', 'LookupDiv', 'WOCalendar Look Up Data', '#WOCalendarList', 'WOCalendarList', 5, 'WOCalendarList', '#FormLocation', 'A', '#Edit-WOCalendar-Location,#Remove-WOCalendar-Location', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-WOCalendar-Location').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Partial", "WeeklyOffCalendar")', 'Create Weekly Off Calendar', 'open', '@Url.Action("Create", "WeeklyOffCalendar")', '#FormParWeeklyOffCalendar', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#FormLocation', '', function (data) {
                $('#WOCalendarList').P2BLookUpEncapsulate('#WOCalendarList', 'WOCalendarList', data[0], data[1], 'WOCalendarList', '#Edit-WOCalendar-Location,#Remove-WOCalendar-Location', 'N');
                $('#WOCalendar_DDL').P2BSelectMenuAppend('@Url.Action("PopulateDropDownListCalendar", "WeeklyOffCalendar")', "", '');
            });
            event.preventDefault();
        });
        $('#Edit-WOCalendar-Location').button().on("click", function (event) {
            var a = [], b;
            a = $('#WOCalendarList').P2BGetTableDataonSelectedRow('#WOCalendarList', 0);
            b = a[0];
            console.log(b);
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname,                                                                                                                    height, width, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not, returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("Partial", "WeeklyOffCalendar")', '@Url.Action("Edit", "WeeklyOffCalendar")', b, '@Url.Action("EditSave", "WeeklyOffCalendar")', 'Edit WeeklyOffList Details', '#FormParWeeklyOffCalendar', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#FormLocation', '#WOCalendarList', 'WOCalendarList', 'WOCalendarList', 'N', '#Remove-WeeklyOffList-WeeklyOffCalendar,#Edit-WeeklyOffList-WeeklyOffCalendar', function (data) {
                // setTimeout(function () {
                $.each(data[0], function (i, k) {

                    $('#FormParWeeklyOffCalendar').trigger('reset');
                    $('#WOCalendar_DDL').P2BSelectMenuAppend('@Url.Action("PopulateDropDownListCalendar", "WeeklyOffCalendar")', "", k.WOCalendar_Id);
                });
                $.each(data[1], function (i, k) {
                    $('#WeeklyOffListList').P2BLookUpEncapsulate('#WeeklyOffListList', 'WeeklyOffListList', k.WeeklyoffList_Id, k.WeeklyoffList_val, 'WeeklyOffListList', '#Edit-WeeklyOffList-WeeklyOffCalendar,#Remove-WeeklyOffList-WeeklyOffCalendar', 'N');
                });

                // }, 3000);
            });
            event.preventDefault();
        });

        $('#Remove-WOCalendar-Location').button().on('click', function (event) {
            //var a = [], b;
            //a = $('#WOCalendarList').P2BGetTableDataonSelectedRow('#WOCalendarList', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#WOCalendarList').P2BGetTableDataonSelectedRow('#WOCalendarList', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#WOCalendarList', $('#WOCalendarList').val(), 200, 200, '#FormLocation', '#WOCalendarList', '#Edit-WOCalendar-Location,#Remove-WOCalendar-Location');
            event.preventDefault();
        });

        $('#Lookup_Incharge').on('click', function () {
            $('.dialog').AddDataToTextbox({
                appendTo: "#TextIncharge",
                appendToId: "#Incharge_Id",
                lookupurl: "@Url.Action("GetLookupIncharge", "Location")",
                NoOfRecordToShow: 10,
                setnameofthelookupbyppage: "txtIncharge_FName-lookup",
                LookupDiv: "LookupDiv",
                lookuppagename: "lookup",
                pagename: "PageNavPosition",
                readonly: true,
            });
        });
        $('#Btn-Upload-Data').on('click', function (e) {
            $('<div></div>').PartialCreateDialog({
                height: '500',
                width: '700',
                form: '#frmlookup',
                title: 'Upload',
                htmlurl: '@Url.Action("PARTIAL","JSONUPLOAD")',
                state: "open",
                mode: 'edit',
                editurl: null,
                submiturl: null,
                editdata: 'a',
                forwarddata: 'a',
                returndatafunction: function (data) {
                    console.log(data);
                },
                submitfun: function (data) {
                    console.log(data);
                }
            });

            e.preventDefault();
        });
        $('#edit_model_dialog').P2BGridDialog();


        $('.popup_radio_button').controlgroup();
        $('#Autho').makeDisable('#Create,#Edit,#Delete');
        $('.drop').selectmenu().selectmenu("menuWidget");
        $('#Create_Location').on('click', function (e) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "LocationObj")', 'Create LocationObj', 'open', '@Url.Action("Create", "LocationObj")', '#frmLocationObj', 'Message :', 'Request Falied :', '#JqGrid', 217, 439, '', '#LocationObjlist', 'change', '', '', function (data) {
                $('#Location_Obj_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "LocationObj")", "", data[0], '#Location_Obj_DDL');
            });
        });
        $('#Location_Obj_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "LocationObj")", "", "", '#Location_Obj_DDL');

        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');
    });
</script>