@{
    ViewBag.Title = "PayBank";
}

@model P2b.Global.Bank
<html>
<head>
    <title>@ViewBag.Title </title>
    <style>
        .icon-row {
            position: relative;
            left: 55px;
            top: -149px;
        }

        .popup-content-label {
            display: block;
            float: left;
            width: 100px;
            margin: 1px;
        }

        .row1 {
            width: 428px;
        }

        .row3 {
            width: 428px;
        }
    </style>


</head>
<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <button class="button" id="Create">Create</button>
                <button class="button" id="View">View</button>
                <button class="button" id="Edit">Edit</button>
                <button class="button" id="Delete">Delete</button>
                <button class="button" id="Autho">Authorized</button>

                <div id="Grid_Form">
                    <div>
                        <table id="JqGrid"></table>
                        <div id="pager2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>

    <div id="Create_Dialog" title="Create PayBank">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmPayBank", name = "frmPayBankEdit" }))
        {

            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
            <div class="row1 content_margine">@Html.LabelFor(m => m.Code, "Code :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Code, new { @class = "popup-content-textbox-short must", @id = "PayBankCode", @maxlength = "10" })</div>
            <div class="row3 content_margine">@Html.LabelFor(m => m.Name, "Name :", new { @class = "popup-content-label must" })<input class="popup-content-textbox must" data-val="true" data-val-length="Name can not be more than 50 characters" data-val-length-max="50" data-val-regex="Special characters are not allowed" data-val-regex-pattern="^([a-zA-Z0-9 .,'-]+)$" data-val-required="Name is Required" id="Name" maxlength="50" name="Name" value="" style="width: 286px;" type="text"></div>
            <div class="row3 content_margine">
                <div id="AddressList_Old"></div>@Html.LabelFor(m => m.Address, "Address :", new { @class = "popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="AddressList">
                        <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup Address" class="  popup-content-icon-lookup" id="Lookup-Address-PayBank"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Create Address" class="popup-content-icon-create" id="Create-Address-PayBank"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit Address" class="popup-content-icon-edit" id="Edit-Address-PayBank"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Remove Address" class="popup-content-icon-remove" id="Remove-Address-PayBank"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>

            <div class="row3 content_margine">
                <div id="ContactDetailsList_Old"></div>@Html.LabelFor(m => m.ContactDetails, "Contact Details :", new { @class = "popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="ContactDetailsList">
                        <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup Contact Details" class="popup-content-icon-lookup" id="Lookup-ContactDetails-PayBank"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Create Contact Details" class="popup-content-icon-create" id="Create-ContactDetails-PayBank"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit Contact Details" class="popup-content-icon-edit" id="Edit-ContactDetails-PayBank"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Remove Contact Details" class="popup-content-icon-remove" id="Remove-ContactDetails-PayBank"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>

            <div class="row3 content_margine">
                <div id="Branch_List_old"></div> @Html.LabelFor(m => m.Branches, "Branches :", new { @class = "popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="Branch_List">
                        <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                    </table>
                    </div>
                    <div class="icon-row">
                        <button data-p2btooltip="LookUp Branches Details" class="popup-content-icon-lookup" id="Lookup_Branch"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                        @*<button data-p2btooltip="Crate Branches Details" class="popup-content-icon-create" id="Create_Branch"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Edit Branches Details" class="popup-content-icon-edit" id="Edit_Branch"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>*@
                        <button data-p2btooltip="Remove Branches Details" class="popup-content-icon-remove" id="Remove_Branch"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                    </div>

                </div>
        }
        </div>
</body>
</html>


<script>
    $(document).ready(function (e) {
        $('#PayBankCode').MaxLength(10);
        $('#Name').MaxLength(50);
        $('button').button();
        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;
        var btndisablenames = "#Edit-Address-PayBank,#Remove-Address-PayBank,#Edit-ContactDetails-PayBank,#Remove-ContactDetails-PayBank";
        ColModel = ['Code', 'Name', 'Id'];
        ColNames = ['Code', 'Name', 'Id'];
        SortName = 'Id';
        Caption = 'Pay Bank';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);

        //$('#Code').ValidateTextBox({ maxlength: 10, alphanum: true });
        //$('#Name').ValidateTextBox({ maxlength: 250, name: true });

        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');

        }
        $('#Create_Dialog').P2BCreateDialog();
        $('#Create').on("click", function (event) {
            $('#frmPayBank').trigger("reset");
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create Pay Bank', 'open', '@Url.Action("Create")', '#frmPayBank', 'Message :', 'Request Falied :', '#JqGrid', 500, 620, '#AddressList,#ContactDetailsList', btndisablenames, function (data) { });
            event.preventDefault();
        });

        // Main page edit
        $('#Edit').on('click', function () {
            AssignData();
            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit Pay Bank Data", '#frmPayBank', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 500, 620, '#AddressList,#ContactDetailsList', btndisablenames, function (data) {

                $.each(data[0], function (i, k) {
                    console.log(k.Code);
                    $('#Code').val(k.Code);
                    $('#Code').attr('readonly', 'readonly');
                    $('#Name').val(k.Name);
                    $('#Name').attr('readonly', 'readonly');
                    $('#AddressList').P2BLookUpEncapsulate('#AddressList', 'AddressList', k.Add_Id, k.Address_FullAddress, 'AddressList', '#Edit-Address-PayBank,#Remove-Address-PayBank', 'N');
                    $('#ContactDetailsList').P2BLookUpEncapsulate('#ContactDetailsList', 'ContactDetailsList', k.Cont_Id, k.FullContactDetails, 'ContactDetailsList', '#Remove-ContactDetails-PayBank,#Edit-ContactDetails-PayBank', 'N');
                });

                //$.each(data[1], function (i, k) {
                  //  $('#AddressList').P2BLookUpEncapsulate('#AddressList', 'AddressList', k.Add_Id, k.Address_FullAddress, 'AddressList', '#Edit-Address-PayBank,#Remove-Address-PayBank','N');
                  //  $('#ContactDetailsList').P2BLookUpEncapsulate('#ContactDetailsList', 'ContactDetailsList', k.Cont_Id, k.FullContactDetails, 'ContactDetailsList','#Remove-ContactDetails-PayBank,#Edit-ContactDetails-PayBank','N');
                //  $('#AddressList').P2BLookUpEncapsulate('#AddressList', 'AddressList', k.Add_Id, k.Address_FullAddress, 'AddressList', '#Edit-Address-PayBank,#Remove-Address-PayBank','N');
                   // $('#ContactDetailsList').P2BLookUpEncapsulate('#ContactDetailsList', 'ContactDetailsList', k.Cont_Id, k.FullContactDetails, 'ContactDetailsList', '#Edit-ContactDetails-PayBank,#Remove-ContactDetails-PayBank', 'N');
                    

               // });
                $.each(data[1], function (i, k) {
                    $('#Branch_List').P2BLookUpEncapsulate('#Branch_List', 'Branch_List', k.Branch_Id, k.FullDetails_full, 'Branch_List', '', 'A');

                });
                $('#Autho_Allow').val(data[3]); //Compulsory for authorisation
                
                $('#Autho_Allow').val(data[3]); //Compulsory for authorisation
            });
        });


        //View main page
        $('#View').button().click(function (event) {
            AssignData();
            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View Pay Bank Data', '#AddressList,#ContactDetailsList', '#Lookup-Address-PayBank,#Create-Address-PayBank,#Edit-Address-PayBank,#Remove-Address-PayBank,#Lookup-ContactDetails-PayBank,#Create-ContactDetails-PayBank,#Edit-ContactDetails-PayBank,#Remove-ContactDetails-PayBank', 500, 620, '#Autho', '@Url.Action("AuthSave")',dt.Id,'','', '', '', '#JqGrid', function (data) {
                $.each(data[0], function (i, k) {
                    $('#Autho_Action').val(k.Action);
                    $('#Code').val(k.Code); 
                    $('#Name').val(k.Name);
                    $('#AddressList').P2BLookUpEncapsulate('#AddressList', 'AddressList', k.Add_Id, k.Address_FullAddress, 'AddressList', 'view', 'N');
                    $('#ContactDetailsList').P2BLookUpEncapsulate('#ContactDetailsList', 'ContactDetailsList', k.Cont_Id, k.FullContactDetails, 'ContactDetailsList', 'view', 'N');
                    $('#Name').attr('readonly', 'readonly');
                });
                $.each(data[1], function (i, k) {
                    //$('#AddressList').P2BLookUpEncapsulate('#AddressList', 'AddressList', k.Add_Id, k.Address_FullAddress, 'AddressList','view','N');
                    //$('#ContactDetailsList').P2BLookUpEncapsulate('#ContactDetailsList', 'ContactDetailsList', k.Cont_Id, k.FullContactDetails, 'ContactDetailsList','view','N');
                   // $('#AddressList').P2BLookUpEncapsulate('#AddressList', 'AddressList', k.Add_Id, k.Address_FullAddress, 'AddressList', 'view', 'N');
                   // $('#ContactDetailsList').P2BLookUpEncapsulate('#ContactDetailsList', 'ContactDetailsList', k.Cont_Id, k.FullContactDetails, 'ContactDetailsList', 'view', 'N');
                    $('#Branch_List').P2BLookUpEncapsulate('#Branch_List', 'Branch_List', k.Branch_Id, k.FullDetails_full, 'Branch_List', 'view', 'A');

                });
                console.log(data[2]);
                //$.each(data[2], function (i, k) {
                //    $('#Branch_List').P2BLookUpEncapsulate('#Branch_List', 'Branch_List', k.Branch_Id, k.FullDetails_full, 'Branch_List', '', 'A');

                //});
                if ($("#Autho").hasClass('auto_active')) {
                    if (data[2] != null) {
                        $('#Name').oldVal(data[2].Name);
                        $('#AddressList_Old').oldLookupVal(data[2].Address_Val);
                        $('#ContactDetailsList_Old').oldLookupVal(data[2].Contact_Val);
                        $('#Branch_List_old').oldLookupVal(data[2].Branch_Id);
                    }
                }
            });
        });

        //delete main page
        $('#Delete').button().click(function (event) {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            $('#Create_Dialog').P2BDeleteModalDialog('@Url.Action("Delete")', dt.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
            event.preventDefault();
        });

        /* Address button click*/
        $('#Lookup-Address-PayBank').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetAddressLKDetails", "PayBank")', '', 'LookupDiv', 'Address Look Up Data', '#AddressList', 'AddressList', 5, 'AddressList', '#frmPayBank', 'N', '#Edit-Address-PayBank,#Remove-Address-PayBank', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        // PArtial page create
        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-Address-PayBank').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "address")', 'Create Address', 'open', '@Url.Action("Create","Address")', '#FormAddress', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#frmPayBank', '', function (data) {
                // to show data which is created in partial page
                $('#AddressList').P2BLookUpEncapsulate('#AddressList', 'AddressList', data[0], data[1], 'AddressList', '#Edit-Address-PayBank,#Remove-Address-PayBank','N');
            });
            event.preventDefault();
        });

        // PArtial page edit
        $('#Edit-Address-PayBank').button().on("click", function (event) {
            var a = [], b;
            a = $('#AddressList').P2BGetTableDataonSelectedRow('#AddressList', 0);
            b = a[0];
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "address")', '@Url.Action("edit", "address")', b, '@Url.Action("Editsave","Address")', 'Edit Address', '#FormAddress', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmPayBank', '#AddressList', 'AddressList', 'AddressList', 'N', '#Edit-Address-PayBank,#Remove-Address-PayBank', function (data) {
                // setTimeout(function () {
                //to bind data according to selected id
                $.each(data[0], function (i, k) {
                    $('#FormAddress').trigger("reset");
                    $('#Address1').val(k.Address1);
                    $('#Address2').val(k.Address2);
                    $('#Address3').val(k.Address3);
                    $('#Landmark').val(k.Landmark);
                    $('#CountryList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "country")", "", k.Country_Id,'');
                    $('#StateList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "state")", "", k.State_Id,'');
                    $('#StateRegionList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "StateRegion")", "", k.StateRegion_Id,'');
                    $('#DistrictList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "District")", "", k.District_Id,'');
                    $('#TalukaList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "Taluka")", "", k.Taluka_Id,'');
                    $('#CityList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "City")", "", k.City_Id,'');
                    $('#AreaList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "area")", "", k.Area_Id,'');
                });
                //}, 3000);
            });
            event.preventDefault();
        });

        //partial page delete
        $('#Remove-Address-PayBank').button().on('click', function (event) {
            //var a = [], b;
            //a = $('#AddressList').P2BGetTableDataonSelectedRow('#AddressList', 0);
            //b = a[0];

            var selectedRows = [];
            selectedRows = $('#AddressList').P2BGetTableDataonSelectedRow('#AddressList', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#AddressList', $('#AddressList').val(), 200, 200, '#frmPayBank', '#AddressList', '#Edit-Address-PayBank,#Remove-Address-PayBank');
            event.preventDefault();
        });

     
        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }

        $('#Lookup-ContactDetails-PayBank').button().on('click', function (event) {
            @*$('.dialog').P2BLookUpModal('@Url.Action("GetAddressLKDetails", "PayBank")', '', 'LookupDiv', 'Address Look Up Data', '#AddressList', 'AddressList', 5, 'AddressList', '#frmPayBank', 'N', '#Edit-Address-PayBank,#Remove-Address-PayBank', 'Lookup_table', 'PageNavPosition');*@
            $('.dialog').P2BLookUpModal('@Url.Action("GetContactDetLKDetails", "PayBank")', '', 'LookupDiv', 'ContactDetails Look Up Data', '#ContactDetailsList', 'ContactDetailsList', 5, 'ContactDetailsList', '#frmPayBank', 'N', '#Edit-ContactDetails-PayBank,#Remove-ContactDetails-PayBank', 'Lookup_table', 'PageNavPosition');
            // $('.ContactDetLKDiv').P2BLookUpModal('@Url.Action("GetContactDetLKDetails", "PayBank")', '', 'ContactDetLKDiv', 'Look Up Data', '#ContactDetailsList', 'ContactDetailsList', 10, 'ContactDetailsList', '#frmPayBank', 'N', '#Edit-ContactDetails-PayBank,#Remove-ContactDetails-PayBank', 'lookupdiv_ContactDet', 'pageNavPosition_ContactDet');
            event.preventDefault();
        });

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-ContactDetails-PayBank').button().on("click", function (event) {
            //function (url, maindialogtitle, state, submiturl, submitnameformforserilize, savemessage, errormessage, gridreloadname, height, width, forwarddata, ControlName, event, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, returnfunctiondata) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("CreateContact_partial", "PayBank")', 'Create ContactDetails', 'open', '@Url.Action("CreateSave","ContactDetails")', '#FormContactDetails', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#FormContactDetails', '#Edit-ContactNo-ContDetails,#Remove-ContactNo-ContDetails', function (data) {
                $('#ContactDetailsList').P2BLookUpEncapsulate('#ContactDetailsList', 'ContactDetailsList', data[0], data[1], 'ContactDetailsList', '#Edit-ContactDetails-PayBank,#Remove-ContactDetails-PayBank', 'N');
            });
            event.preventDefault();
        });

        $('#Edit-ContactDetails-PayBank').button().on("click", function (event) {
            var a = [], b;
            a = $('#ContactDetailsList').P2BGetTableDataonSelectedRow('#ContactDetailsList', 0);
            b = a[0];
            console.log(b);
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("CreateContact_partial", "PayBank")', '@Url.Action("Editcontactdetails_partial", "PayBank")', b, '@Url.Action("EditSave", "ContactDetails")', 'Edit Contact Details', '#FormContactDetails', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmPayBank', '#ContactDetailsList', 'ContactDetailsList', 'ContactDetailsList', 'N', '#Edit-ContactDetails-PayBank,#Remove-ContactDetails-PayBank', function (data) {
                // setTimeout(function () {
                $.each(data[0], function (i, k) {
                    $('#FormContactDetails').trigger('reset');
                    $('#EmailId').val(k.EmailId);
                    $('#Website').val(k.Website);
                    $('#FaxNo').val(k.FaxNo);
                });

                $.each(data[1], function (i, k) {
                    $('#ContactNos_List').P2BLookUpEncapsulate('#ContactNos_List', 'ContactNos_List', k.Id, k.FullContactNumbers, 'ContactNos_List', '#Edit-ContactNo-ContDetails,#Remove-ContactNo-ContDetails', 'A');
                });
                // }, 3000);
            });
            event.preventDefault();
        });
        $('#Remove-ContactDetails-PayBank').button().on('click', function (event) {
            // dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            //var a = [], b;
            //a = $('#ContactDetailsList').P2BGetTableDataonSelectedRow('#ContactDetailsList', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#ContactDetailsList').P2BGetTableDataonSelectedRow('#ContactDetailsList', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#ContactDetailsList', $('#ContactDetailsList').val(), 200, 200, '#frmPayBank', '#ContactDetailsList', '#Edit-ContactDetails-PayBank,#Remove-ContactDetails-PayBank');
            event.preventDefault();
        });
      

        $('#Lookup_Branch').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetBranchDetLDetails", "PayBank")', '', 'LookupDiv', 'branchDetails Look Up Data', '#Branch_List', 'Branch_List', 5, 'Branch_List', '#frmPayBank', 'A', '#Edit-Branches-PayBank,#Remove-Branchs-PayBank', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });
        

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create_Branch').button().on("click", function (event) {
            //function (url, maindialogtitle, state, submiturl, submitnameformforserilize, savemessage, errormessage, gridreloadname, height, width, forwarddata, ControlName, event, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, returnfunctiondata) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("CreateBranch_partial", "PayBank")', 'Create Branches', 'open', '@Url.Action("Create", "PayBranch")', '#frmBranch', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#frmPayBank', '', function (data) {
                $('#Branch_List').P2BLookUpEncapsulate('#Branch_List', 'Branch_List', data[0], data[1], 'Branch_List', '#Edit-Branches-PayBank,#Remove-Branchs-PayBank', 'N');
            });
            event.preventDefault();
        });
        $('#Remove_Branch').button().on('click', function (event) {
            // dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            //var a = [], b;
            //a = $('#Branch_List').P2BGetTableDataonSelectedRow('#Branch_List', 0);
            //b = a[0];

            var selectedRows = [];
            selectedRows = $('#Branch_List').P2BGetTableDataonSelectedRow('#Branch_List', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#Branch_List', $('#Branch_List').val(), 200, 200, '#frmPayBank', '#Branch_List', '#Edit_Branch,#Remove_Branch');
            event.preventDefault();
        });
        //Removing and Editing Code is remains to write

        $('.popup_radio_button').controlgroup();
        $('#Autho').makeDisable('#Create,#Edit,#Delete');
        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');
    });

</script>
