<link href="~/Content/popup_form.css" rel="stylesheet" />
@model Payroll.SalaryHead
<style>
    .popup-content-label {
        width: 170px;
        display: block;
        float: left;
    }

    

    .row1 {
        width: 320px;
    }

    .active {
        color: red;
    }

    .horizontal_row2, .radio_button_div_2 {
        display: inline-block;
    }

    .row3 {
        width: 477px;
    }

    .row2 {
        width: 402px;
    }

    .icon-row {
        left: 127px;
        position: relative;
        top: -121px;
    }
</style>
<script type="text/javascript" src="~/Scripts/P2b_Scripts/jQuery.mbValidations.js"></script>
<script>
    $(document).ready(function () {
        $('#RoundDigit').ForceOnlyNumeric();
        $('#RoundDigit').MaxLength(1);
        $('#RoundDigit').attr("value", "0");
        $('#SalaryHeadName').ValidateTextBox({ maxlength: 35, PersonName: true });
        $('#SalaryHeadCode').ValidateTextBox({ maxlength: 10, alphanum: true });
        $('#SeqNo').MaxLength(3).ForceOnlyNumeric();
        //$('#SalaryHeadName').ForceOnlyAlphaNumeric();
        //$('#SalaryHeadName').MaxLength(50);
    });


    $(document).ready(function () {
        $('#SalaryHeadCode').MaxLength(10);
        $('#SalaryHeadName').MaxLength(50);
        $('button').button();
        var dt;
        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;
        //ColModel = ['Id', 'Code', 'Name', 'OnAttend', 'OnLeave', 'RoundDigit', 'InITax'];
        //ColNames = ['Id', 'Code', 'Name', 'OnAttend', 'OnLeave', 'RoundDigit', 'InITax'];

        ColModel = ['Code', 'Name', 'InPayslip', 'OnAttend', 'OnLeave', 'InITax', 'RoundDigit', 'Id'];
        ColNames = ['Code', 'Name', 'InPayslip', 'OnAttend', 'OnLeave', 'InITax', 'RoundDigit', 'Id'];

        SortName = 'Id';
        Caption = 'Salary Head';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);
        $('#Create_Dialog').P2BCreateDialog();
        $('#Create').button().on("click", function () {
            $('#frmSalaryHead').trigger("reset");
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create Salary Head', 'open', '@Url.Action("create")', '#frmSalaryHead', 'Message :', 'Request Falied :', '#JqGrid', 600, 600, '', '', function (data) { });
            $('#Frequencylist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 421, "");
            $('#RoundingMethodlist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 422, "");
            $('#Typelist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 420, "");
            $('#SalHeadOperationTypelist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 426, "");
            $('#ProcessTypelist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 427, "");

        });
        $('#Autho').makeDisable('#Create,#Edit,#Delete');
        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');
        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }

        $('#View').button().click(function (event) {
            AssignData();

            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View Salary Head', '', '', 500, 620, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {
                $.each(data[0], function (i, k) {
                    $('#frmSalaryHead').trigger("reset");
                    $('#SalaryHeadCode').val(k.Code);
                    $('#SalaryHeadName').val(k.Name);
                    $('#Frequencylist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 421, k.Frequency_Id);
                    $('#RoundingMethodlist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 422, k.RoundingMethod_Id);
                    $('#Typelist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 420, k.Type_Id);
                    $('#SalHeadOperationTypelist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 426, k.SalHeadOpeType_Id);
                    $('#ProcessTypelist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 427, k.ProcessType_Id);
                    $('[name="OnAttend"]').val([k.OnAttend]).button().button("refresh");
                    $('[name="OnLeave"]').val([k.OnLeave]).button().button("refresh");
                    $('[name="InPayslip"]').val([k.InPayslip]).button().button("refresh");
                    $('[name="InITax"]').val([k.InITax]).button().button("refresh");
                    $('#RoundDigit').val(k.RoundDigit);
                    $('#SeqNo').val(k.SeqNo);
                    $('#Autho_Action').val(k.Action);
                });

                //To bind old data if authorisation is true
                if ($("#Autho").hasClass('auto_active')) {
                    if (data[2] != null) {
                        $('#SalaryHeadName').oldVal(data[2].Name);
                        $('#SalaryHeadCode').Oldval(k.Code);
                        $('#Type').Oldval(k.Type);
                        $('[id="radio4"]').Oldval(k.OnAttend);
                        $('[id="radio6"]').Oldval(k.OnLeave);
                        $('[id="radio8"]').Oldval(k.InPayslip);
                        $('[id="radio10"]').Oldval(k.InITax);
                        $('#CategoryList_DDL').oldDropval(data[2].BusinessType_Val);
                        $('#AddressList_Old').oldLookupVal(data[2].Address_Val);
                        $('#ContactDetailsList_Old').oldLookupVal(data[2].Contact_Val);
                    }
                }
            });
        });





        $('#Delete').button().click(function () {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'ID');
            $('#Create_Dialog').P2BDeleteModalDialog('@Url.Action("Delete")', dt.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
        });

        $('#Edit').on('click', function () {
            AssignData();
            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit Salary Head Data", '#frmSalaryHead', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 500, 620, '', '', function (data) {
                //Compulsory for authorisation
                var val = null;
                $.each(data[0], function (i, k) {
                    $('#frmSalaryHead').trigger("reset");
                    $('#SalaryHeadCode').val(k.Code);
                    $('#SalaryHeadCode').attr('readonly', 'readonly');
                    $('#SalaryHeadName').val(k.Name);
                    $('#Frequencylist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 421, k.Frequency_Id);
                    $('#RoundingMethodlist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 422, k.RoundingMethod_Id);
                    $('#Typelist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 420, k.Type_Id);
                    $('#SalHeadOperationTypelist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 426, k.SalHeadOpeType_Id);
                    $('#ProcessTypelist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 427, k.ProcessType_Id);
                    debugger;
                    $('[name="OnAttend"]').val([k.OnAttend]).button().button("refresh");
                    $('[name="OnLeave"]').val([k.OnLeave]).button().button("refresh");
                    $('[name="InPayslip"]').val([k.InPayslip]).button().button("refresh");
                    $('[name="InITax"]').val([k.InITax]).button().button("refresh");
                    $('#RoundDigit').val(k.RoundDigit);
                    $('#SeqNo').val(k.SeqNo);
                    if (k.OnLeave == false) {
                        $('#hidelv').fadeOut();
                    }
                    else {
                        $('#hidelv').fadeIn();

                    }
                });


                $.each(data[1], function (i, k) {
                    $('#LvDependPolicylist').P2BLookUpEncapsulate('#LvDependPolicylist', 'LvDependPolicylist', k.Lv_Id, k.LvFullDetails, 'LvDependPolicylist', '', 'A');

                });
                $('#Autho_Allow').val(data[3]);
            });


        });

        $('#hidelv').hide();
        $('input[name="OnLeave"]:radio').change(function () {
            if (this.value == "false") {

                $('#hidelv').fadeOut();
            }
            else {
                $('#hidelv').fadeIn();

            }
        });
        /* Address button click*/


        $('#SalaryHeadName').ValidateTextBox({ maxlength: 25, name: true, alphanum: true });
        //To get data in Lookup
        $('#Lookup-LvDependPolicy-SalaryHead').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLvDependPolicyLKDetails", "SalaryHead")', '', 'LookupDiv', 'LvDependPolicy Look Up Data', '#LvDependPolicylist', 'LvDependPolicylist', 5, 'LvDependPolicylist', '#frmSalaryHead', 'A', '#Edit-LvDependPolicy-SalaryHead,#Remove-LvDependPolicy-SalaryHead', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-LvDependPolicy-SalaryHead').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Partial", "SalaryHead")', 'Create LeaveDependPolicy', 'open', '@Url.Action("Create", "LeaveDependPolicy")', '#frmLeaveDependPolicy', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#frmSalaryHead', '', function (data) {
                // to show data which is created in partial page
                $('#LvDependPolicylist').P2BLookUpEncapsulate('#LvDependPolicylist', 'LvDependPolicylist', data[0], data[1], 'LvDependPolicylist', '#Edit-LvDependPolicy-SalaryHead,#Remove-LvDependPolicy-SalaryHead', 'A');
            });
            event.preventDefault();
        });

        $('#Edit-LvDependPolicy-SalaryHead').button().on("click", function (event) {
            var a = [], b;
            a = $('#LvDependPolicylist').P2BGetTableDataonSelectedRow('#LvDependPolicylist', 0);
            b = a[0];
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname, height, width, classoridoftheonwhichpopupderived, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not,nameidclassofbuttontodisable,returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("Partial", "SalaryHead")', '@Url.Action("edit", "LeaveDependPolicy")', b, '@Url.Action("Editsave", "LeaveDependPolicy")', 'Edit LeaveDependPolicy', '#frmLeaveDependPolicy', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmSalaryHead', '#LvDependPolicylist', 'LvDependPolicylist', 'LvDependPolicylist', 'A', '#Edit-LeaveDependPolicy-SalaryHead,#Remove-LeaveDependPolicy-SalaryHead', function (data) {
                // setTimeout(function () {
                //to bind data according to selected id
                $.each(data[0], function (i, k) {
                    $('#frmLeaveDependPolicy').trigger("reset");
                    $('#AccMinLvDaysAppl').val(k.AccMinLvDaysAppl);
                    $('#MinLvDaysAppl').val(k.MinLvDaysAppl);
                    $('#MaxDays').val(k.MaxDays);
                    $('[name="IsAccumulated"]').val([k.IsAccumulated]).button().button("refresh");
                    $('[name="IsContinous"]').val([k.IsContinous]).button().button("refresh");
                    $('#LvHead_drop').P2BSelectMenuAppend('@Url.Action("PopulateDropDownList", "LeaveDependPolicy")', k.LvHead_Id, k.LvHead_Id);
                });
                //}, 3000);


            });
            event.preventDefault();
        });


        //partial page delete
        $('#Remove-LvDependPolicy-SalaryHead').button().on('click', function (event) {
            //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            //var a = [], b;
            //a = $('#LvDependPolicylist').P2BGetTableDataonSelectedRow('#LvDependPolicylist', 0);
            //b = a[0];

            var selectedRows = [];
            selectedRows = $('#LvDependPolicylist').P2BGetTableDataonSelectedRow('#LvDependPolicylist', 0);
            console.log("Verify...");


            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#LvDependPolicylist', $('#LvDependPolicylist').val(), 200, 200, '#frmSalaryHead', '#LvDependPolicylist', '');
            event.preventDefault();
        });

        $('.drop').selectmenu().selectmenu("menuWidget").addClass("overflow");
        debugger;
        $('.popup_radio_button').controlgroup();
    });
</script>

<div class="Form_Bg">
    <div class="Form_Input">
        <div class="Button_Container">
            <button class="button" id="Create">Create</button>
            <button class="button" id="View">View</button>
            <button class="button" id="Edit">Edit</button>
            <button class="button" id="Delete">Delete</button>
            <button class="button" id="Autho">Authorized</button>
            <div id="Grid_Form">
                <div>
                    <table id="JqGrid"></table>
                    <div id="pager2"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="dialog">
    <div title="LookUp Data">
        <div class="LookupDiv"></div>
    </div>
    <div id="PageNavPosition">

    </div>
</div>
<div id="Create_Dialog">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmSalaryHead", name = "frmSalaryHead" }))
    {

        <input id="Autho_Action" type="hidden" name="Autho_Action" />
        <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
        @*<input  id="Autho_Action" style="display:none" value="c"/>*@

        <div class="row3 content_margine">
            @Html.LabelFor(m => m.Code, "Code :", new { @class = "popup-content-label must" })
            @Html.TextBoxFor(m => m.Code, new { @class = "popup-content-textbox must", @id = "SalaryHeadCode", @maxlength = "10" })
        </div>
        <div class=" row3 content_margine">
            @Html.LabelFor(m => m.Name, "Name :", new { @class = "popup-content-label must" })
            @Html.TextBoxFor(m => m.Name, new { @class = "popup-content-textbox must", @id = "SalaryHeadName", @maxlength = "50" })
        </div>

        <div class="row3 content_margine">
            @Html.LabelFor(m => m.Type, "Type:", new { @class = "popup-content-label must" })
            <select class="drop must" style="width:120px;" name="Typelist" id="Typelist"><option></option></select>
        </div>
        <div class="row1 content_margine" style="width: 420px;">
            @Html.LabelFor(m => m.Frequency, "Frequency :", new { @class = "popup-content-label must" })
            <select class="drop must" style="width:120px;" name="Frequencylist" id="Frequencylist">
                <option></option>
            </select>
        </div>


        <div class="row3 content_margine">
            @Html.LabelFor(m => m.OnAttend, "Depend On Attendance :", new { @class = "popup-content-label must" })
            <div class="popup_radio_button radio_button_div_1">
                <span class="popup_radio_button radio_button_div_1">
                    <input type="radio" id="radio3" name="OnAttend" value="true" /><label class="ui-corner-left" for="radio3">Yes</label>
                    <input type="radio" id="radio4" name="OnAttend" value="false" checked="checked" /><label class="ui-corner-right" for="radio4">No</label>
                </span>
            </div>
        </div>
        <div class="row3  content_margine">

            @Html.LabelFor(m => m.OnLeave, "Depend On Leave :", new { @class = "popup-content-label must" })
            <div class="popup_radio_button radio_button_div_1">
                <span class="popup_radio_button radio_button_div_1">
                    <input type="radio" id="radio5" name="OnLeave" value="true" /><label class="ui-corner-left" for="radio5">Yes</label>
                    <input type="radio" id="radio6" name="OnLeave" value="false" checked="checked" /><label class="ui-corner-right" for="radio6">No</label>
                </span>
            </div>
        </div>
        <div id="hidelv">
            <div class="row3 content_margine">
                @Html.LabelFor(m => m.LeaveDependPolicy, "LeaveDependPolicy :", new { @class = "popup-content-label must" })
                <div class="popup-content-table">
                    <div id="LvDependPolicylist_old"></div>
                    <table class="lookuptableselected" id="LvDependPolicylist">
                        <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Select LvDependPolicy" class="popup-content-icon-lookup" id="Lookup-LvDependPolicy-SalaryHead"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Create LvDependPolicy" class="popup-content-icon-create" id="Create-LvDependPolicy-SalaryHead"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit LvDependPolicy " class="popup-content-icon-edit" id="Edit-LvDependPolicy-SalaryHead"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Remove LvDependPolicy" class="popup-content-icon-remove" id="Remove-LvDependPolicy-SalaryHead"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>
        </div>

        <div class="row3  content_margine">

            @Html.LabelFor(m => m.InPayslip, "Appear On Payslip :", new { @class = "popup-content-label must" })
            <div class="popup_radio_button radio_button_div_1">
                <span class="popup_radio_button radio_button_div_1">
                    <input type="radio" id="radio7" name="InPayslip" value="true" /><label class="ui-corner-left" for="radio7">Yes</label>
                    <input type="radio" id="radio8" name="InPayslip" value="false" checked="checked" /><label class="ui-corner-right" for="radio8">No</label>
                </span>
            </div>
        </div>
        <div class="row3  content_margine">

            @Html.LabelFor(m => m.InITax, "Include in IncomeTax:", new { @class = "popup-content-label must" })
            <div class="popup_radio_button radio_button_div_1">
                <span class="popup_radio_button radio_button_div_1">
                    <input type="radio" id="radio9" name="InITax" value="true" /><label class="ui-corner-left" for="radio9">Yes</label>
                    <input type="radio" id="radio10" name="InITax" value="false" checked="checked" /><label class="ui-corner-right" for="radio10">No</label>
                </span>
            </div>
        </div>
        <div class="row3 content_margine">
            @Html.LabelFor(m => m.RoundingMethod, "Rounding Method :", new { @class = "popup-content-label must" })
            <select class="drop must" style="width:120px;" name="RoundingMethodlist" id="RoundingMethodlist"><option></option></select>
        </div>
        <div class="row3 content_margine">
            @Html.LabelFor(m => m.RoundDigit, "Rounding Digit :", new { @class = "popup-content-label must" })
            @Html.TextBoxFor(m => m.RoundDigit, new { @class = "popup-content-textbox must", @maxlenght = "1" })
        </div>
        <div class="row3 content_margine">
            @Html.LabelFor(m => m.SalHeadOperationType, "SalHeadOper Type :", new { @class = "popup-content-label must" })
            <select class="drop must" style="width:120px;" name="SalHeadOperationTypelist" id="SalHeadOperationTypelist"><option></option></select>
        </div>
        <div class="row3 content_margine">
            @Html.LabelFor(m => m.ProcessType, "Process Type :", new { @class = "popup-content-label must" })
            <select class="drop must" style="width:120px;" name="ProcessTypelist" id="ProcessTypelist"><option></option></select>
        </div>
        <div class="row3 content_margine">
            @Html.LabelFor(m => m.SeqNo, "Seq No :", new { @class = "popup-content-label must" })
            @Html.TextBoxFor(m => m.SeqNo, new { @class = "popup-content-textbox must" })
        </div>
    }
</div>