@model Leave.LvSharingPolicy
@{
    Layout = null;
}
 
<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmLvSharingPolicy" }))
    {
        <div class="row1 content_margine">
            @Html.LabelFor(m => m.LvHead, "Leave Head :", new { @class = "popup-content-label must" })
            <select class="drop must" name="LvHead_drop" style="width:120px;" id="LvHead_drop">
                <option>-Select-</option>
            </select>
        </div>

        <div class="row1 content_margine">
            @Html.LabelFor(m => m.IsPartial, "IsPartial :", new { @class = "popup-content-label must" })
            <div class="popup_radio_button radio_button_div_1">
                <span class="popup_radio_button radio_button_div_1">
                    <input type="radio" id="radio11" name="IsPartial" value="true" /><label for="radio11">Yes</label>
                    <input type="radio" id="radio12" name="IsPartial" value="false" checked="checked" /><label for="radio12">No</label>
                </span>
            </div>
        </div>
        
            <div class="row1 content_margine">
            @Html.LabelFor(m => m.MinDayAppl, "MinDayAppl :", new { @class = "popup-content-label must" })
            @Html.TextBoxFor(m => m.MinDayAppl, new { id = "MinDayAppl", @class = "popup-content-textbox search must" })
        </div>

        <div class="row1 content_margine">
            @Html.LabelFor(m => m.MaxDayAppl, "MaxDayAppl :", new { @class = "popup-content-label must" })
            @Html.TextBoxFor(m => m.MaxDayAppl, new { id = "MaxDayAppl", @class = "popup-content-textbox search must" })
        </div>

        <div class="row1 content_margine">
            @Html.LabelFor(m => m.Preference, "Preference :", new { @class = "popup-content-label must" })
            @Html.TextBoxFor(m => m.Preference, new { id = "Preference", @class = "popup-content-textbox search must" })
        </div>

    }
</div>
@*<link href="~/Content/Rate_master/Rate_master.css" rel="stylesheet" />*@

<script>
    $(document).ready(function () {
        $('.drop').selectmenu().selectmenu("menuWidget").css({ "height": "auto" });
        $('#LvHead_drop').P2BSelectMenuAppend("@Url.Action("GetLookupLvHeadObjNew", "LvDebitPolicy")", "", "", '');
 
         
        $('button').button();
        $('.popup_radio_button').controlgroup();
        
        $('#MaxDayAppl').attr("value", "0");
        $('#MinDayAppl').attr("value", "0");
        $('#Preference').attr("value", "0");
        
    });
</script>

