
@model Leave.PrefixSuffixAction
@{
    Layout = null;
}

<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmPrefixSuffixAction" }))
    {
        

        <div class="row1 content_margine">
            @Html.LabelFor(m => m.IsFixedDayDebit_PrefixSuffixAction, "Fixed Debit Day :", new { @class = "popup-content-label must" })
            <div class="popup_radio_button radio_button_div_1">
                <span class="popup_radio_button radio_button_div_1">
                    <input type="radio" id="IsFixedDayDebit_radio1" name="IsFixedDayDebit" value="true" /><label for="IsFixedDayDebit_radio1">Yes</label>
                    <input type="radio" id="IsFixedDayDebit_radio2" name="IsFixedDayDebit" value="false" checked="checked" /><label for="IsFixedDayDebit_radio2">No</label>
                </span>
            </div>
        </div>
        
         <div class="row1 content_margine">
            @Html.LabelFor(m => m.FixedDebitDay, "Fixed Debit Day :", new { @class = "popup-content-label must" })
            @Html.TextBoxFor(m => m.FixedDebitDay, new { id = "FixedDebitDay", @class = "popup-content-textbox search must" })
        </div>
        
         <div class="row1 content_margine">
            @Html.LabelFor(m => m.IsActualDayDebit_PrefixSuffixAction, "Actual Day Debit :", new { @class = "popup-content-label must" })
            <div class="popup_radio_button radio_button_div_1">
                <span class="popup_radio_button radio_button_div_1">
                    <input type="radio" id="IsActualDayDebit_radio1" name="IsActualDayDebit" value="true" /><label for="IsActualDayDebit_radio1">Yes</label>
                    <input type="radio" id="IsActualDayDebit_radio2" name="IsActualDayDebit" value="false" checked="checked" /><label for="IsActualDayDebit_radio2">No</label>
                </span>
            </div>
        </div>
        
         <div class="row1 content_margine">
            @Html.LabelFor(m => m.IsWaiveOffDayDebit_PrefixSuffixAction, "WaiveOff Day Debit :", new { @class = "popup-content-label must" })
            <div class="popup_radio_button radio_button_div_1">
                <span class="popup_radio_button radio_button_div_1">
                    <input type="radio" id="IsWaiveOff_radio1" name="IsWaiveOffDayDebit" value="true" /><label for="IsWaiveOff_radio1">Yes</label>
                    <input type="radio" id="IsWaiveOff_radio2" name="IsWaiveOffDayDebit" value="false" checked="checked" /><label for="IsWaiveOff_radio2">No</label>
                </span>
            </div>
        </div>
 
        <div class="row1 content_margine">
            @Html.LabelFor(m => m.WaiveOffDebitDay, "WaiveOff Debit Day :", new { @class = "popup-content-label must" })
            @Html.TextBoxFor(m => m.WaiveOffDebitDay, new { id = "WaiveOffDebitDay", @class = "popup-content-textbox search must" })
        </div>

       

    }
</div>
@*<link href="~/Content/Rate_master/Rate_master.css" rel="stylesheet" />*@

<script>
    $(document).ready(function () {
       
        $('button').button();
        $('.popup_radio_button').controlgroup();
        //$.OnlyOneYesAllowed('IsFixedDayDebit,IsActualDayDebit,IsWaiveOff');
        $('#WaiveOffDebitDay').attr("value", "0");
        $('#FixedDebitDay').attr("value", "0");

        $('input[name="IsFixedDayDebit"]:radio').change(function () {
            //alert(this.value);
            if (this.value == "false") {
                $('#FixedDebitDay').prop("disabled", true);
                $('#FixedDebitDay').val("0");
            }
            else {
                $('#FixedDebitDay').prop("disabled", false);
            }
        });

        $('input[name="IsWaiveOffDayDebit"]:radio').change(function () {
            if (this.value == "false") {
                $('#WaiveOffDebitDay').prop("disabled", true);
                $('#WaiveOffDebitDay').val("0");
            }
            else {
                $('#WaiveOffDebitDay').prop("disabled", false);
            }
        });
        $('#FixedDebitDay').attr('disabled', true);
        $('#WaiveOffDebitDay').attr('disabled', true);
      
    });
</script>

