

<link href="~/Content/popup_form.css" rel="stylesheet" />
@model IR.ChargeSheetEnquiryReport
           <style>
               .popup-content-label {
                   width: 170px;
                   display: block;
                   float: left;
               }

               .popup-content-textbox {
                   width: 120px;
               }

               .row1 {
                   width: 320px;
               }

               /*.active {
                   color: red;
               }*/

               .horizontal_row2, .radio_button_div_1 {
                   display: inline-block;
               }

               .row3 {
                   width: 477px;
               }

               .row2 {
                   width: 402px;
               }

               .icon-row {
                   left: 127px;
                   position: relative;
                   top: -121px;
               }

               .popup-content-table {
                   right: 120px;
               }
           </style>
<script>
    $(document).ready(function () {
        $('button').button();
        var dt;
        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;


        ColModel = ['CaseNo', 'VictimName', 'ProceedingStage', 'ReportSubmissionDate', 'SuspensionRevokeDate', 'CaseCloseDate', 'IsCloseCase', 'IsEmpGuilty', 'IsNotifyHRDept', 'Narration', 'Id'];
        ColNames = ['CaseNo', 'VictimName', 'ProceedingStage', 'ReportSubmissionDate', 'SuspensionRevokeDate', 'CaseCloseDate', 'IsCloseCase', 'IsEmpGuilty', 'IsNotifyHRDept', 'Narration', 'Id'];

        SortName = 'Id';
        Caption = 'ChargeSheet Enquiry Report';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);
        $('#Create_Dialog').P2BCreateDialog();
        $('#ReportSubmissionDate').P2BDatePicker();
        $('#CaseCloseDate').P2BDatePicker();
        $('#SuspensionRevokeDate').P2BDatePicker();
        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }
        function DateConvert(JsonDate) {
            var date = new Date(parseInt(JsonDate.substr(6)));
            var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
            return displayDate;
        };

        $('#IsCloseDatelabelId').hide();
        $('#CaseCloseDate').hide();

        $('#SuspensionRevokeDateLabelId').hide();
        $('#SuspensionRevokeDate').hide();

        $('#Create').button().on("click", function () {
            $('#FormChargeSheetEnquiryReport').trigger("reset");
            var temp = localStorage.getItem("getEmpIrIdKey");

            var empirid = @Request.QueryString["EmpIr"]
            console.log("empirid :::: " + empirid);
            if (empirid == undefined) {
                empirid = temp.toString();
            }
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create Charge Sheet Enquiry Report ', 'open', '@Url.Action("create")?EmpIr=' + empirid, '#FormChargeSheetEnquiryReport', 'Message :', 'Request Falied :', '#JqGrid', 600, 600, '', '', '', function (data) { });

            // =============== Get Chargesheet Details from ChargeSheetServing ========================= //
            $.post("@Url.Action("GetChargeSheetData", "ChargeSheetServing")", { EmpIr: empirid }, function (data) {

                if (data != null) {
                    //alert(data);
                    $("#chargesheetDetails").val(data);
                    $('#chargesheetDetails').attr('readonly', 'readonly');
                    return false;
                }
            });

        });

        $('input[name=IsCloseCase]:radio').change(function () {
            if (this.value == "false") {
                $('#IsCloseDatelabelId').hide();
                $('#CaseCloseDate').hide();
            }
            else {
                $('#IsCloseDatelabelId').show();
                $('#CaseCloseDate').show();
            }
        });

        $('input[name=IsSuspensionRevoke]:radio').change(function () {
            if (this.value == "false") {
                $('#SuspensionRevokeDateLabelId').hide();
                $('#SuspensionRevokeDate').hide();
            }
            else {
                $('#SuspensionRevokeDateLabelId').show();
                $('#SuspensionRevokeDate').show();
            }
        });

        $('#Delete').on('click', function () {

            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'ID');
            $('#Create_Dialog').P2BDeleteModalDialog('@Url.Action("Delete")', dt.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
            event.preventDefault();
        });
        $('#View').click(function (event) {
            AssignData();
            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View ChargeSheetServingStatus', '', '', 500, 620, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {
                //  $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id,  "view ChargeSheetServingStatus", '#FormChargeSheetServingStatus', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 500, 620, '', '', function (data) {
                //Compulsory for authorisation
                var val = null;
                $.each(data[0], function (i, k) {
                    $('#FormChargeSheetServingStatus').trigger("reset");
                    var tempIR = localStorage.getItem("getEmpIrIdKey").toString();
                    $('#Narration').val(k.Narration);
                    $('[name="IsCloseCase"]').val([k.IsCloseCase]).button().button("refresh");
                    $('[name="IsEmpGuilty"]').val([k.IsEmpGuilty]).button().button("refresh");
                    $('[name="IsNotifyHRDept"]').val([k.IsNotifyHRDept]).button().button("refresh");
                    if (k.ReportSubmissionDate != null)
                        $('#ReportSubmissionDate').val(DateConvert(k.ReportSubmissionDate));
                    else
                        $('ReportSubmissionDate').val();
                    if (k.SuspensionRevokeDate != null)
                        $('#SuspensionRevokeDate').val(DateConvert(k.SuspensionRevokeDate));
                    else
                        $('SuspensionRevokeDate').val();
                    if (k.CaseCloseDate != null)
                        $('#CaseCloseDate').val(DateConvert(k.CaseCloseDate));
                    else
                        $('CaseCloseDate').val();

                    $.post("@Url.Action("GetChargeSheetData", "ChargeSheetServing")", { EmpIr: tempIR }, function (data) {

                        if (data != null) {
                            //alert(data);
                            $("#chargesheetDetails").val(data);
                            $('#chargesheetDetails').attr('readonly', 'readonly');
                            return false;
                        }
                    });

                });
                $.each(data[1], function (i, k) {
                    $('#EnquiryReportDocList').P2BLookUpEncapsulate('#EnquiryReportDocList', 'EnquiryReportDocList', k.EmployeeReportdoc_Id, k.EmployeeReportdocFullDetails, 'EnquiryReportDocList', '#Edit-HOCalendar-Department,#Remove-HOCalendar-Department', 'A');
                });
            });
        });

        $('#Edit').on('click', function () {
            AssignData();
            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit ChargeSheetServingStatus", '#FormChargeSheetEnquiryReport', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 500, 620, '', '', function (data) {
                //Compulsory for authorisation
                var val = null;
                $.each(data[0], function (i, k) {
                    $('#FormChargeSheetEnquiryReport').trigger("reset");
                    var tempIR = localStorage.getItem("getEmpIrIdKey").toString();
                    $('#Narration').val(k.Narration);
                    $('[name="IsCloseCase"]').val([k.IsCloseCase]).button().button("refresh");
                    $('[name="IsEmpGuilty"]').val([k.IsEmpGuilty]).button().button("refresh");
                    $('[name="IsNotifyHRDept"]').val([k.IsNotifyHRDept]).button().button("refresh");
                    if (k.ReportSubmissionDate != null)
                        $('#ReportSubmissionDate').val(DateConvert(k.ReportSubmissionDate));
                    else
                        $('ReportSubmissionDate').val();
                    if (k.SuspensionRevokeDate != null)
                        $('#SuspensionRevokeDate').val(DateConvert(k.SuspensionRevokeDate));
                    else
                        $('SuspensionRevokeDate').val();
                    if (k.CaseCloseDate != null)
                        $('#CaseCloseDate').val(DateConvert(k.CaseCloseDate));
                    else
                        $('CaseCloseDate').val();

                    $.post("@Url.Action("GetChargeSheetData", "ChargeSheetServing")", { EmpIr: tempIR }, function (data) {

                        if (data != null) {
                            //alert(data);
                            $("#chargesheetDetails").val(data);
                            $('#chargesheetDetails').attr('readonly', 'readonly');
                            return false;
                        }
                    });
                });
                $.each(data[1], function (i, k) {
                    $('#EnquiryReportDocList').P2BLookUpEncapsulate('#EnquiryReportDocList', 'EnquiryReportDocList', k.EmployeeReportdoc_Id, k.EmployeeReportdocFullDetails, 'EnquiryReportDocList', '#Edit-HOCalendar-Department,#Remove-HOCalendar-Department', 'A');
                });
            });
        });

        $('#Lookup-EnquiryReportDoc-ChargeSheetEnquiryReport').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupDetailsEmployeeDoc", "chargesheetenquiryreport")', '', 'LookupDiv', 'ChargeSheetReplyEnquiryReportSoc Look Up Data', '#EnquiryReportDocList', 'EnquiryReportDocList', 4, 'EnquiryReportDocList', '#FormChargeSheetEnquiryReport', 'A', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        $('#Remove-EnquiryReportDoc-ChargeSheetEnquiryReport').button().on('click', function (event) {

            //a = $('#EnquiryReportDocList').P2BGetTableDataonSelectedRow('#EnquiryReportDocList', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#EnquiryReportDocList').P2BGetTableDataonSelectedRow('#EnquiryReportDocList', 0);

            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#EnquiryReportDocList', $('#EnquiryReportDocList').val(), 200, 200, '#FormChargeSheetEnquiryReport', '#EnquiryReportDocList');
            event.preventDefault();
        });
        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-EnquiryReportDoc-ChargeSheetEnquiryReport').on("click", function (event) {


            var a = $('#EmpCode').val();

            $('<div></div>').P2BConfidentialModelDialog({
                htmlurl: "@Url.Action("partial", "EmployeeDocuments")",
                submiturl: "@Url.Action("Create", "EmployeeDocuments")?EmpCode=" + a,
                form: '#FormCandidateDocs',
                height: "400",
                type: "FILE",
                width: "500",
                title: "DocumentUpload",
                BeforeSendurl: "true",
                returnfun: function (data) {
                    $('#EnquiryReportDocList').P2BLookUpEncapsulate('#EnquiryReportDocList', 'EnquiryReportDocList', data.Id, data.Val, 'EnquiryReportDocList', '', 'A');
                },
            });
            event.preventDefault();

        });

        //$('.popup-radio-button').controlgroup();
    });

</script>
<!DOCTYPE html>

<html>
<head>
   
    <title>Index</title>
</head>
<body>
  <div class="form-bg">
      <div class="form-input">
          <div class="Button_Container">
              <button class="button" id="Create">Create</button>
              <button class="button" id="Edit">Edit</button>
              <button class="button" id="View">View</button>
              <button class="button" id="Delete">Delete</button>
              <div id="Grid_Form">
                  <div>
                      <table id="JqGrid"></table>
                      <div id="pager2"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>
    <div id="Create_Dialog">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormChargeSheetEnquiryReport", name = "frmChargeSheetEnquiryreport" }))
        {
           <div class="row3 content_margine">
                    <label for="chargesheetDetails" class="popup-content-label ">charge sheet Details</label>
                <textarea cols="30" id="chargesheetDetails" name="chargesheetDetails" rows="2"></textarea>
                </div> 
            <div class="row3 content_margine">
            @Html.LabelFor(m => m.ReportSubmissionDate, "Report Submission Date:", new { @class = "popup-content-label must" })
            @Html.TextBoxFor(m => m.ReportSubmissionDate, new { @class = "popup-content-textbox must" })
        </div>
             <div class="row3 content_margine">
            @Html.LabelFor(m => m.IsCloseCase, "Is Case Close :", new { @class = "popup-content-label must" })
                 <div class="popup-radio-button radio-button-div1">
                     <span class="popup-rdaio-button radio-button-div1">
                         <input type="radio" id="radio1" name="IsCloseCase" value="true" /><label for="radio1">YES</label>
                         <input type="radio" id="radio2" name="IsCloseCase" value="false" /><label for="radio2">NO</label>
                     </span>
                 </div> 
                 </div>
                 <div class="row3 content_margine">
                     @Html.LabelFor(m => m.CaseCloseDate, "CaseCloseDate:", new { @class = "popup-content-label", @id = "IsCloseDatelabelId" })
                     @Html.TextBoxFor(m => m.CaseCloseDate, new { @class = "popup-content-textbox" })
                 </div>
                 <div class="row3 content_margine">
                     @Html.LabelFor(m=>m.IsEmpGuilty,"Is Employee Guilty:",new{@class="popup-content-label must"})
                     <div class="popup-radio-button radio-butto-div1">
                         <span class="popup-radio-button radio-button-div1" >
                             <input type="radio" id="radio3" name="IsEmpGuilty" value="true" /><label for="radio3">YES</label>
                             <input type="radio" id="radio4" name="IsEmpGuilty" value="false" /><label for="radio4">NO</label>
                         </span>
                     </div>
                 </div> 
                 <div class="row3 content_margine">
                     @Html.LabelFor(m=>m.IsNotifyHRDept,"Is Notify HRDept:",new{@class="popup-content-label must"})
                     <div class="popup-radio-button radio-button-div1">
                         <span class="popup-radio-button rdaio-button-div1">
                             <input type="radio" id="radio5" name="IsNotifyHRDept" value="true" /><label for="radio5">YES</label>
                             <input type="radio" id="radio6" name="IsNotifyHRDept" value="false" /><label for="radio6">NO</label>
                         </span> 
                     </div>
                 </div> 
            
            <div class="row3 content_margine">
                     @Html.LabelFor(m=>m.IsNotifyHRDept,"Is Suspension Revoke:",new{@class="popup-content-label must"})
                     <div class="popup-radio-button radio-button-div1">
                         <span class="popup-radio-button rdaio-button-div1">
                             <input type="radio" id="radio7" name="IsSuspensionRevoke" value="true" /><label for="radio7">YES</label>
                             <input type="radio" id="radio8" name="IsSuspensionRevoke" value="false" /><label for="radio8">NO</label>
                         </span> 
                     </div>
                 </div> 
            
             <div class="row3 content_margine">
                     @Html.LabelFor(m => m.SuspensionRevokeDate, "Suspension Revoke Date:", new { @class = "popup-content-label", @id = "SuspensionRevokeDateLabelId" })
                     @Html.TextBoxFor(m => m.SuspensionRevokeDate, new { @class = "popup-content-textbox" })
                 </div>
           
              <div class="row3 content_margine">
                     @Html.LabelFor(m => m.Narration, "Narration:", new { @class = "popup-content-label must" })
                     @Html.TextBoxFor(m => m.Narration, new { @class = "popup-content-textbox must" })
                 </div>
             <div class=" row3 content_margine">
                        @Html.LabelFor(m => m.EnquiryReportDoc, "Supporting Documents :", new { @class = "popup-content-label " })
                    <div class="popup-content-table">
                        <table class="lookuptableselected" id="EnquiryReportDocList">
                            <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                        </table>
                    </div>
                    <div class="icon-row">
                        <button data-p2btooltip="Lookup corresponding EnquiryReportDoc" class=" popup-content-icon-lookup" id="Lookup-EnquiryReportDoc-ChargeSheetEnquiryReport"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Create EnquiryReportDoc " class=" popup-content-icon-create" id="Create-EnquiryReportDoc-ChargeSheetEnquiryReport"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
            @*<button data-p2btooltip="Edit corresponding Contact Details" class=" popup-content-icon-edit" id="Edit-CorrsContactDetails-Employee"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>*@
                        <button data-p2btooltip="Delete EnquiryReportDoc" class=" popup-content-icon-remove" id="Remove-EnquiryReportDoc-ChargeSheetEnquiryReport"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                    </div>
                </div>
        }
        </div>
</body>
</html>
