@{
    ViewBag.Title = "Training Feedback";
}

@model Training.TrainingDetails

<link href="~/Content/Unit/Unit.css" rel="stylesheet" />
<link href="~/Content/popup_form.css" rel="stylesheet" />

<style>
    #Lookup_BatchNameM {
        left: 280px;
        top: 20px;
    }

    .icon-row {
        position: relative;
        left: 75px;
        top: -150px;
    }

    .popup-content-label {
        width: 114px;
        display: block;
        float: left;
        margin: 1px;
    }

    .popup-content-label1 {
        width: 112px;
        display: block;
        float: left;
        margin: 1px;
    }

    .popup-content-textbox {
        margin-bottom: 1px;
        min-width: 150px;
    }

    .row3 {
        width: 650px;
    }

    .row9 {
        width: 386px;
        display: inline-flex;
        float: right;
        margin-top: -32px;
    }

    .row4 {
        position: absolute;
        top: 294px;
        width: 400px;
    }

    .popup-content-textbox-long {
        margin-bottom: 1px;
        width: 290px;
    }


    .row2 {
        width: 402px;
    }

    .date-picker {
        z-index: 999;
    }

    .employeeselectiondiv {
        float: left;
    }

    .addons {
        height: 246px;
    }

    .section_Method {
        border: 1px solid rgba(207, 207, 207, 0.91);
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 15px;
    }

    .transactiontablenew {
        border: 1px solid #c5c5c5;
        margin: 0 auto;
        /*width: 200px;*/
        display: block;
        overflow: auto;
        height: 500px;
        border-collapse: collapse;
    }

    .transactiondivnew {
        border: 1px solid #c5c5c5;
        margin: 0 auto;
        width: 507px;
        border-radius: 5px;
        height: 32px;
    }

        .transactiondivnew > div {
            display: inline-block;
            margin: 0 auto;
            padding: 4px;
        }

            .transactiondivnew > div > input {
                box-sizing: initial;
                display: inline-block;
                margin: 0 auto;
                width: 108px;
            }

    .transactiontablenew th, .transactiontablenew td {
        background: rgba(246, 246, 246, 0.64) none repeat scroll 0 0;
        padding: 5px;
        border-bottom: 1px solid #c5c5c5;
        border-right: 1px solid #c5c5c5;
        text-align: center;
        color: rgba(114, 113, 113, 0.9);
    }

        .transactiontablenew th:nth-child(1) > input, .transactiontablenew td:nth-child(1) > input {
            margin: 0 auto;
        }

        .transactiontablenew th:nth-child(2), .transactiontablenew td:nth-child(2) {
            height: 100%;
            width: 100%;
        }

    .transactiontablenew tr:hover {
        cursor: pointer;
        background: #EEEEEE none repeat scroll 0 0;
    }


    .section_Method1 {
        border: 1px solid rgba(207, 207, 207, 0.91);
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 15px;
        margin-left: 525px;
    }

    .popup-content-drop-icon-lookup {
        height: 20px;
        margin: auto;
        width: 20px;
        left: 4px;
    }
</style>

<script>
    $(document).ready(function (e) {
        $('button').button();
        var dedtextbox = $('.dedamt').toArray();
        // $('#OpeningDate').P2BDatePicker();
        @*var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;
        ColModel = ['Id', 'Batch Name', 'Faculty Feedback', 'Training Feedback', 'Faulty Rating'];
        ColNames = ['Id', 'Batch Name', 'Faculty Feedback', 'Training Feedback', 'Faulty Rating'];
        SortName = 'Id';
        Caption = 'Training Feedback';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;*@
        var btnEnablenameTrsch = "#Edit_TrainingSchedule_TrainingFeedback,#Remove_TrainingSchedule_TrainingFeedback,#Edit_TrainingEvaluation_TrainingFeedback,#Remove_TrainingEvaluation_TrainingFeedback";
        var btnEnablenameTrschAll = "#Edit_TrainingSchedule_TrainingFeedback,#Remove_TrainingSchedule_TrainingFeedback,#Create_TrainingSchedule_TrainingFeedback,#LookUp_TrainingSchedule_TrainingFeedback,#Edit_TrainingEvaluation_TrainingFeedback,#Remove_TrainingEvaluation_TrainingFeedback,#Create_TrainingEvaluation_TrainingFeedback,#LookUp_TrainingEvaluation_TrainingFeedback";
        //    $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);
        var dt;
        var urlfilter = "@Url.Action("Emp_Grid", "TrainingFeedback")?y=" + $('#BatchName_id').val();
        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }

        $('#Advance-Filter-Symbol').on('click', function () {
            var v11 = $("#Batch_Name").val();

            $("<div></div>").FilterDialog({
                width: 1000,
                height: 400,
                title: "Filter",
                htmlurl: "@Url.Action("Advance_partial", "Transcation")",
                returnat: function (data) {

                    console.log("-----------------------------------");
                    console.log(data);
                    console.log("-----------------------------------");

                    if (data.GeoStruct != null) {
                        $('#geo_id').val(data.GeoStruct);
                    }
                    if (data.PayStruct != null) {
                        $('#pay_id').val(data.PayStruct);
                    }
                    if (data.FunStruct != null) {
                        $('#fun_id').val(data.FunStruct);
                    }
                    var forwarddata = JSON.stringify(data);
                    $('#Employee-Table').P2BTransactionTableDynamic('#Employee-Search', '#Case-Employee', './trainingfeedback/LaodEmp?databatch=' + v11 + '&geo_id=' + forwarddata + '', "");
                },
                renderat: "#FormFilter",
                hierarchy: true,
            });
        });

        @*var inline_ColNames = [];
        var inline_ColModel = [];
        var inline_SortName, inline_Caption, inline_url, inline_width, inline_height;
        inline_ColModel = ['ID', 'Category', 'SubCategory', 'MaxPoints', 'RatingPoints', 'Comments', 'Editable'];
        inline_ColNames = ['ID', 'Category', 'SubCategory', 'MaxPoints', 'RatingPoints', 'Comments', 'Editable'];
        inline_SortName = 'ID';
        inline_Caption = 'Employee List';
        inline_url = '@Url.Action("LoadEmp")';
        inline_width = 800;
        inline_height = 150;*@


        @*$('#MyTable').MultiLevelInlineEditGrid({
            url: "@Url.Action("Emp_Grid")",
            editurl: "@Url.Action("EditGridDetails", "PerkTransT")",
        htmurl: "@Url.Action("partial", "PerkTransT")",
        submiturl: "@Url.Action("GridEditSave", "PerkTransT")",
        columnname: ["Id", "Category", "SubCategory",/* "JoiningDate",*/ "MaxPoints", "RatingPoints", "Comments"],
        childheader: ["Id", "Category", "SubCategory", "MaxPoints", "RatingPoints", "Comments"],
        childurl: "@Url.Action("Get_PerkTransT", "PerkTransT")",
        tableheader: "Perquisite Details "
    });*@


        $('#MyTable').MultiLevelInlineEditGrid({
            url: urlfilter,
            htmurl: "@Url.Action("partial", "TrainingFeedback")",
            columnname: ["Code", "Name", "Id" ],
            // childheader: ["Id", "Code", "FacultyFeedback", "FaultyRating", "TrainingFeedback", "TrainingRating"],
            childheader: ["BatchName", "FullDetails", "ProgramList", "FacultyFeedback", "FaultyRating", "TrainingFeedback", "TrainingRating", "Id"],
            childurl: "@Url.Action("Get_AppAssignData", "TrainingFeedback")",
            tableheader: "Employee Training Feedback",
            childurlColumnNo: "3"

        });

        $('#Load').on('click', function (e) {
            var v1 = $("#BatchName_id").val();
            if (v1 == "") {
                $('<div></div>').P2BMessageModalDialog('ui-icon-alert', "Please Select Batch!");
                return false;
            }
            $('#MyTable').DataTable().ajax.url('./TrainingFeedback/Emp_Grid?y=' + $('#BatchName_id').val()).load();

        });

        $('<div></div>').P2BPartialCreateModalDialog();


        //parent = 0;
        $.DataTableChildManipulation = function (init, id, parentid, htmurl, editurl, submiturl) {
            var parent_element = $(init).parents('td:last').parent().prev();
            // console.log(parent_element.find('td:eq(1)'));
            // var parentId = parent_element.find('td:eq(1)').html();
           
            var dt = $('#MyTable').DataTable();
            var htmlcomponant = {
                init: init,
                Id: id,
                idx: parentid,
                htmurl: htmurl,
                editurl: editurl,
                submiturl: submiturl,
            };
            if ($(init).hasClass('ui-icon-newwin')) {
                $('<div></div>').PartialCreateDialog({
                    height: 'auto',
                    width: 'auto',
                    form: "#Edit-PerkTransT",
                    htmlurl: "@Url.Action("GridPartial", "TrainingFeedback")",
                    state: "open",
                    mode: "View",
                    editurl: "@Url.Action("GridEditData", "TrainingFeedback")",
                    submiturl: "@Url.Action("GridEditSave", "TrainingFeedback")",
                    editdata: id,
                    forwarddata: id,
                    returndatafunction: function (returndata) {
                        $.each(returndata.returndata, function (i, k) {
                            $('#FacultyFeedback1').val(k.FacultyFeedback);
                            $('#FaultyRating1').val(k.FaultyRating);
                            $('#TrainingFeedback1').val(k.TrainingFeedback);
                            $('#TrainingRating1').val(k.TrainingRating);
                            $('#batchname').val(k.Batchname);
                        });
                    },
                });
            } else if ($(init).hasClass('ui-icon-pencil')) {
                // //
                // alert(parentid);
                $('<div></div>').PartialCreateDialog({
                    height: 'auto',
                    width: '35%',
                    form: "#Edit-PerkTransT",
                    htmlurl: "@Url.Action("GridPartial", "TrainingFeedback")",
                    state: "open",
                    mode: "Edit",
                    editurl: "@Url.Action("GridEditData", "TrainingFeedback")?batch=" + $('#BatchName_id').val(),
                    submiturl: "@Url.Action("GridEditSave", "TrainingFeedback")",
                    editdata: id,
                    forwarddata: [id, parentid],
                    returndatafunction: function (returndata) {
                        $.each(returndata.returndata, function (i, k) {

                            $('#FacultyFeedback1').val(k.FacultyFeedback);
                            $('#FaultyRating1').val(k.FaultyRating);
                            $('#TrainingFeedback1').val(k.TrainingFeedback);
                            $('#TrainingRating1').val(k.TrainingRating);
                            $('#batchname').val(k.Batchname);
                        });
                    },
                    submitfun: function (data) {
                        var row = dt.row(parent_element);
                        if (row.child.isShown()) {
                            parent_element.removeClass('details');
                            row.child.hide();
                        }
                    }
                });
            } else if ($(init).hasClass('ui-icon-trash')) {
                // alert(parentid);
                // alert(id);
                $('<div></div>').PartialCreateDialog({
                    state: "open",
                    mode: "Delete",
                    submiturl: "@Url.Action("GridDelete", "TrainingFeedback")",
                    forwarddata: [id, parentid],
                    submitfun: function (data) {
                        var row = dt.row(parent_element);
                        if (row.child.isShown()) {
                            parent_element.removeClass('details');
                            row.child.hide();
                        }
                    }
                });
            }
        };

        $('#Create_Dialog').P2BCreateDialog();
        $('#FormTrainingFeedback').trigger("reset");
        $('#Employee-Table>tbody>tr:gt(0)').remove();
        $('#TextPayMonth').val("");
        $('#Create').button().on("click", function (e) {
            $('#FormTrainingFeedback').trigger("reset");
            $('#Employee-Table>tbody>tr:gt(0)').remove();
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create Training Feedback', 'open', '@Url.Action("create") ', '#FormTrainingFeedback', 'Message :', 'Request Falied :', '#JqGrid', 700, 920, ' #TrainingScheduleList,TrainingEvaluationList', btnEnablenameTrsch, function (data) { });
            $('#dispcalender1').attr('readonly', true);
            $('.ui-dialog-buttonpane').find('button:contains("Submit")').button('disable');
            $('#TextPayMonth').attr('readonly', true);

            e.preventDefault();
        });
        $("#FaultyRating").ForceOnlyNumeric();
        $("#TrainingRating").ForceOnlyNumeric();


        $("#Loading").button().on('click', function () {
            var v1 = $("#Batch_Name").val();
            //var v2 = $("#TrainingScheduleList1").val();

            var v2 = [];
            if ($("#TrainingScheduleList1 tr input").length > 0) {
                $("#TrainingScheduleList1 tr input").each(function () {
                    v2.push($(this).val());
                });
            } else {
                alert("Please select training session");
                return false;
            }


            if (v1 == "" || v1 == undefined && v2 == "" || v2 == undefined) {
                $('<div></div>').P2BMessageModalDialog('ui-icon-alert', "Kindly Select Batch Name!");
                return false;
            }
            else {
                $('#Employee-Table').P2BTransactionTableDynamic('#Employee-Search', '#Case-Employee', './TrainingFeedback/Get_Employelist?databatch=' + v1 + '&Session=' + v2 + '&geo_id=', "");
            }
        });


        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create_TrainingSchedule_TrainingFeedback').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "TrainingSchedule")', 'Create Training Schedule', 'open', '@Url.Action("Create", "TrainingSchedule")', '#FormTrainingFeedback', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#FormTrainingFeedback', '', function (data) {
                alert(data[0]);
                $('#TrainingScheduleList').P2BLookUpEncapsulate('#TrainingScheduleList', 'TrainingScheduleList', data[0], data[1], 'TrainingScheduleList', '#LookUp_TrainingSchedule_TrainingFeedback,#Create_TrainingSchedule_TrainingFeedback', 'A');
            });
            event.preventDefault();
        });

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create_TrainingEvaluation_TrainingFeedback').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "TrainingEvaluation")', 'Create Training Evaluation', 'open', '@Url.Action("Create", "TrainingEvaluation")', '#FormTrainingFeedback', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#FormTrainingFeedback', '', function (data) {
                alert(data[0]);
                $('#TrainingEvaluationList').P2BLookUpEncapsulate('#TrainingEvaluationList', 'TrainingEvaluationList', data[0], data[1], 'TrainingEvaluationList', '#LookUp_TrainingEvaluation_TrainingFeedback,#Create_TrainingEvaluation_TrainingFeedback', 'A');
            });
            event.preventDefault();
        });

        //To get data in Lookup6
        $('#LookUp_TrainingEvaluation_TrainingFeedback').on('click', function (event) {
            alert('Show TrainingEvaluation')
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupDetailsTrainingEvaluation", "TrainingFeedback")', '', 'LookupDiv', 'Look Up Data', '#TrainingEvaluationList', 'TrainingEvaluationList', 5, 'TrainingEvaluationList', '#FormTrainingFeedback', 'N', '#LookUp_TrainingEvaluation_TrainingFeedback,#Create_TrainingEvaluation_TrainingFeedback', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });



        // Main page edit
        $('#Edit').on('click', function () {
            $('#FormTrainingFeedback').trigger("reset");

            AssignData();
            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit Training Feedback", '#FormTrainingFeedback', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 587, 620, ' #TrainingScheduleList', btnEnablenameTrsch, function (data) {
                // setTimeout(function () {
                $.each(data[0], function (i, k) {
                    console.log(k.BatchName);
                    $('#BatchName').val(k.BatchName);
                    $('#BatchName').attr('readonly', 'readonly');
                    $('#FaultyRating').val(k.FaultyRating);
                    $('#TrainingFeedback').val(k.TrainingFeedback);
                    $('#FacultyFeedback').val(k.FacultyFeedback);

                    $('[name="IsBatchClose"]').val([k.IsBatchClose]).button().button("refresh");
                    $('[name="IsCancelled"]').val([k.IsCancelled]).button().button("refresh");
                    $('[name="IsPresent"]').val([k.IsPresent]).button().button("refresh");
                });
                $.each(data[1], function (i, k) {
                    $('#TrainingEvaluationList').P2BLookUpEncapsulate('#TrainingEvaluationList', 'TrainingEvaluationList', k.TrainingEvaluationDtl_Id, k.TrainingEvaluationDtl_val, 'TrainingEvaluationList', '#LookUp_TrainingEvaluation_TrainingFeedback,#Create_TrainingEvaluation_TrainingFeedback', 'N');
                    $('#TrainingScheduleList').P2BLookUpEncapsulate('#TrainingScheduleList', 'TrainingScheduleList', k.TrainingScheduleDtl_Id, k.TrainingScheduleDtl_val, 'TrainingScheduleList', '#LookUp_TrainingSchedule_TrainingFeedback,#Create_TrainingSchedule_TrainingFeedback', 'N');
                });

                //alert(data[3]);
                $('#Autho_Allow').val(data[3]); //Compulsory for authorisation
                // }, 2000);
            });
        });



        //View main page
        $('#View').button().click(function (event) {
            AssignData();
            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View Training Feedback', '#TrainingEvaluationList', btnEnablenameTrschAll, 587, 620, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {

                $.each(data[0], function (i, k) {
                    $('#Autho_Action').val(k.Action);
                    $('#BatchName').val(k.BatchName);
                    $('#FaultyRating').val(k.FaultyRating);
                    $('#TrainingFeedback').val(k.TrainingFeedback);
                    $('#FacultyFeedback').val(k.FacultyFeedback);

                    $('[name="IsBatchClose"]').val([k.IsBatchClose]).button().button("refresh");
                    $('[name="IsCancelled"]').val([k.IsCancelled]).button().button("refresh");
                    $('[name="IsPresent"]').val([k.IsPresent]).button().button("refresh");
                });

                $.each(data[1], function (i, k) {
                    $('#TrainingScheduleList').P2BLookUpEncapsulate('#TrainingScheduleList', 'TrainingScheduleList', k.TrainingScheduleDtl_Id, k.TrainingScheduleDtl_val, 'TrainingScheduleList', '#LookUp_TrainingSchedule_TrainingFeedback,#Create_TrainingSchedule_TrainingFeedback', 'A');
                    $('#TrainingEvaluationList').P2BLookUpEncapsulate('#TrainingEvaluationList', 'TrainingEvaluationList', k.TrainingEvaluationDtl_Id, k.TrainingEvaluationDtl_val, 'TrainingEvaluationList', '#LookUp_TrainingEvaluation_TrainingFeedback,#Create_TrainingEvaluation_TrainingFeedback', 'N');
                });


                //To bind old data if authorisation is true
                if ($("#Autho").hasClass('auto_active')) {
                    $('#BatchName').oldVal(data[2].BatchName);
                    $('#FaultyRating').oldVal(data[2].FaultyRating);
                    $('#TrainingFeedback').oldVal(data[2].TrainingFeedback);
                    $('#FacultyFeedback').oldVal(data[2].FacultyFeedback);
                    $('#TrainingEvaluationList_old').oldLookupVal(data[2].TrainingEvaluation_Val);
                    $('#TrainingScheduleList_old').oldLookupVal(data[2].TrainingSchedule_Val);
                }
                //}, 2000);
            });
        });

        $('#Lookup_BatchName').on('click', function () {
            $('.dialog').AddDataToTextbox({
                appendTo: "#TextPayMonth",
                appendToId: "#Batch_Name",
                lookupurl: "@Url.Action("GetBatchNameDetails1", "TrainingFeedback")",
                NoOfRecordToShow: "10",
                setnameofthelookupbyppage: "TextPayMonth",
                LookupDiv: "LookupDiv",
                lookuppagename: "lookup",
                readonly: true,
                pagename: "PageNavPosition",

            });
        });

        $('#Lookup_BatchNameM').on('click', function () {
            $('.dialog').AddDataToTextbox({
                appendTo: "#txtBatchName",
                appendToId: "#BatchName_id",
                lookupurl: "@Url.Action("GetBatchNameDetails", "TrainingFeedback")",
                NoOfRecordToShow: "10",
                setnameofthelookupbyppage: "txtBatchName",
                LookupDiv: "LookupDiv",
                lookuppagename: "lookup",
                readonly: true,
                pagename: "PageNavPosition",

            });
        });

        $('#Lookup_BatchName').on('click', function () {

            $("#TrainingScheduleList1 tr:gt(0)").remove();

        });

        @*$('#Lookup-Session-TrainingFeedback').on('click', function () {

            //var forwarddata = $('#Batch_Name').val();

            $('.dialog').AddDataToTextbox({
                appendTo: "#dispcalender1",
                lookupurl: '@Url.Action("GetLookupDetailsSession", "TrainingFeedback")?ts=' + $('#Batch_Name').val(),
                NoOfRecordToShow: "10",
                setnameofthelookupbyppage: "FatherName_FName-lookup",
                LookupDiv: "LookupDiv",
                appendToId: "#TrainingScheduleList1",
                lookuppagename: "lookup", readonly: true,
                pagename: "PageNavPosition"
            });
        });*@

        $('#Remove_Session_TrnPresenty').button().on('click', function (event) {
            // dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            //var a = [], b;
            //a = $('#TrainingScheduleList1').P2BGetTableDataonSelectedRow('#TrainingScheduleList1', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#TrainingScheduleList1').P2BGetTableDataonSelectedRow('#TrainingScheduleList1', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#TrainingScheduleList1', $('#TrainingScheduleList1').val(), 200, 200, '#FormTrainingFeedback', '#TrainingScheduleList1', '#Edit_Session_TrnPresenty,#Remove_Session_TrnPresenty');
            event.preventDefault();
        });
        $('#Lookup-Session-TrainingFeedback').button().on('click', function (event) {
            var forwarddata = $('#Batch_Name').val();
            if (forwarddata == "") {
                $('<div></div>').P2BMessageModalDialog('ui-icon-alert', "Kindly Select Batch Name!");
                return false;
            }
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupDetailsSession", "TrainingFeedback")?ts=' + forwarddata, '', 'LookupDiv', 'Look Up Data', '#TrainingScheduleList1', 'TrainingScheduleList1', 5, 'TrainingScheduleList1', '#FormTrainingFeedback', 'N', '#Remove-Session-TrainingFeedback', 'lookup', 'PageNavPosition');

            event.preventDefault();
        });

        @*$('#save').on("click", function (e) {

            var a = $('#TrainingSchedule_OverallFaultyRating').val();
            alert(a);
            var dedtextbox = $('.dedamt').toArray();
            var JsonObj = [];
            $.each(dedtextbox, function (i, j) {
                var k = $(j);
                if (k.attr("data-val") != k.val()) {
                    var putJson = { Id: null, val: null, SalId: null };
                    putJson.Id = k.attr("name");
                    putJson.val = k.val();
                    putJson.SalId = $('#TrainingSchedule_OverallFaultyRating').val();
                    JsonObj.push(putJson);
                    console.log(putJson.SalId);
                    console.log(putJson);
                    console.log("----------------");
                }
            });
            var stringify_JsonObj = JSON.stringify(JsonObj);
            console.log(stringify_JsonObj);

            $.ajax({
                type: "POST",
                url: '@Url.Action("Create", "TrainingFeedback")',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: stringify_JsonObj,
                success: function (data) {
                    if (data.success == true) {
                        $("#empnet").val(data.grossearn);
                        $("#empgross").val(data.totearn);
                        $("#empded").val(data.totded);
                        alert(data.responseText);
                    } else {
                        alert(data.responseText);
                    }
                }, error: function () {

                }
            });
            e.preventDefault();
        });*@

        $(document).on('click', '#save', function (e) {
            $.post({
                url: '@Url.Action("Create", "TrainingFeedback")',
                data: $('#FormTrainingFeedback').serialize(),
                method: "POST",
                //data: forms + "&forwarddata=" + b,
                success: function (data) {
                    if (data.success == true) {
                        alert(data.responseText[0]);
                        var v1 = $("#Batch_Name").val();

                        //var a = [], b;
                        //a = $('#SessionListSch').P2BGetTableDataonSelectedRow('#SessionListSch', 0);
                        //alert(a);
                        //b = a[0];
                        //var v2 = $('#SessionListSch').P2BGetTableDataonSelectedRow('#SessionListSch', 0);
                        //alert(b);
                        var v2 = [];
                        if ($("#TrainingScheduleList1 tr input").length > 0) {
                            $("#TrainingScheduleList1 tr input").each(function () {
                                v2.push($(this).val());
                            });
                        }
                        $('#Employee-Table').P2BTransactionTableDynamic('#Employee-Search', '#Case-Employee', './TrainingFeedback/Get_Employelist?databatch=' + v1 + '&Session=' + v2 + '&geo_id=', "");
                        $('#TrainingSchedule_OverallFaultyRating').val("");
                        $('#TrainingSchedule_FacultyFeedback').val("");
                        $('#TrainingSchedule_OverallTrainingRating').val("");
                        $('#TrainingSchedule_OverallTrainingFeedback').val("");
                    }
                    console.log(data);
                }
            });
        });
        //delete main page
        $('#Delete').button().click(function (event) {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            $('#Create_Dialog').P2BDeleteModalDialog('@Url.Action("Delete")', dt.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
            event.preventDefault();
        });
        $('.popup_radio_button').controlgroup();
        $('#Autho').makeDisable('#Create,#Edit,#Delete');
        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');
    });
</script>

<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <div style="float:left;width:290px">
                    <label id="lblBatchName" class="popup-content-label must" style="width:90px">Batch Name:</label>
                    <input name="txtBatchName" type="text" id="txtBatchName" class="date-picker" />
                    <input type="text" id="BatchName_id" name="BatchName_id" class="filter_structure_id must" />

                    <button data-p2btooltip="Lookup FinancialYear Details" class="button popup-content-icon-lookup" id="Lookup_BatchNameM"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>

                </div>
                <span>
                    <button class="button" id="Load">Load</button>
                    <button class="button" id="Create">Create</button>
                    @*<button class="button" id="View">View</button>*@
                    @*<button class="button" id="Btn-Upload-Data">Upload</button>*@
                    <button class="button" id="Delete">Delete</button>
                    @*<button class="button" id="release">Release</button>*@
                </span>
            </div>
        </div>
    </div>

    <div id="Grid_Form">
        <div>
            <div id="Container" class="container">
                <div id="Demo">
                    <table id="MyTable" class="display" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>DD</th>
                                <th>Code</th>
                                <th>Name</th>
                                <th>ID</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>DD</th>
                                <th>Code</th>
                                <th>Name</th>
                                <th>ID</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            @*<table id="JqGrid"></table>
                <div id="pager2"></div>*@
        </div>
    </div>







    @*<div class="dialog">
            <div title="LookUp Data">
                <div class="LookupDiv"></div>
            </div>
            <div id="PageNavPosition">

            </div>
        </div>*@

    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv" id="lookup"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>
    <div class="dialog1">
        <div title="LookUp Data">
            <div class="lookupdiv1" id="lookup1"></div>
        </div>
        <div id="PageNavPosition1">

        </div>
    </div>



    <div id="Create_Dialog" title="Create Training Feedback">


        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormTrainingFeedback", name = "FormTrainingFeedback" }))
        {

            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
            <input id="geo_id" class="filter_structure_id" name="geo_id" />
            <input id="pay_id" class="filter_structure_id" name="pay_id" />
            <input id="fun_id" class="filter_structure_id" name="fun_id" />






            @*<div class="row1 content_margine">@Html.LabelFor(m => m.BatchName, "Batch Name", new { @class = "popup-content-label must" }) @Html.TextBoxFor(m => m.BatchName, new { @class = "popup-content-textbox must" })</div>*@

            <div>
                <label class="popup-content-label must">Batch Name:</label>
                <input name="TextPayMonth" type="text" id="TextPayMonth" readonly />
                <input type="text" id="Batch_Name" name="Batch_Name" class="filter_structure_id must" />

                <button data-p2btooltip="Select BatchName" class="button popup-content-icon-lookup " id="Lookup_BatchName" style="margin-left: -53px;"><span class="ui-icon ui-icon-folder-open popup-content-iconmark "></span></button>
                @*<button style="left:3%;top:-10%" id="">Load</button>*@
            </div><br>


            // <div class="row3 content_margine">
            <div id="FinancialYearList_old"></div>
            @*@Html.LabelFor(m => m.TrainingSession, "Training Session :", new { @class = "popup-content-label1" })*@
            @*<label class="popup-content-label must">Training Session:</label>
                <input type="text" hidden id="TrainingScheduleList1" class="popup-content-textbox" name="TrainingScheduleList1" />
                <input type="text" readonly id="dispcalender1" class="popup-content-textbox" name="dispcalender1" style="width:500px" />
                <button data-p2btooltip="Select TrainingSession" class="button popup-content-icon-lookup " id="Lookup_TrainingSession" style="margin-left: 33%;"><span class="ui-icon ui-icon-folder-open popup-content-iconmark "></span></button>*@




            @*<label class="popup-content-label ">Training Session:</label>
                <input type="text" hidden id="TrainingScheduleList1" name="TrainingScheduleList1" class="popup-content-textbox" />
                <input type="text" readonly id="dispcalender1" class="popup-content-textbox" name="dispcalender1" style="width:220px" />

                <button data-p2btooltip="Lookup TrainingSession" class="popup-content-drop-icon-lookup" id="Lookup-Session-TrainingFeedback">
                    <span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span>
                </button>*@




            //</div>

            <div class="row3 content_margine">
                <div id="SessionList_old"></div>
                <label class="popup-content-label">TrainingSession :</label>
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="TrainingScheduleList1">
                        <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">

                    <button data-p2btooltip="LookUp Session" class="popup-content-icon-lookup" id="Lookup-Session-TrainingFeedback" style="left:346px"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    @*<button data-p2btooltip="Create Session" class="popup-content-icon-create" id="Create_Session_TrnSchedule"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Edit Sessions" class="popup-content-icon-edit" id="Edit_Session_TrnSchedule"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>*@
                    <button data-p2btooltip="Remove Session" class="popup-content-icon-remove" id="Remove_Session_TrnPresenty"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>



            <div>
                <input type="button" name="Loading" value="Load" id="Loading">
            </div>
            <div class="section_Method">
                <div class="heading">Filter View</div>
                <div class="filter-div">
                    <label class="advance_filter_label">Advance Filter<span class="advance_filter_sysmbol_class_plus" id="Advance-Filter-Symbol"></span></label>
                    <div id="FormFilter"></div>
                </div>
            </div>

            <div class="section_Method">
                <div class="heading">Employee List</div>
                <div class="employeeselectiondiv">
                    <div class="transactiondivnew dynamic addons" style="float:left">
                        <div><label>Search : </label><input type="text" id="Employee-Search" style="width: 425px;" /></div>
                        <table cellspacing="0" cellpadding="1" class="transactiontablenew" id="Employee-Table">
                            <tr><th><input type="checkbox" id="Case-Employee" /></th><th>Employee</th></tr>
                        </table>
                        @*<span class="btn-span1" aria-hidden="true">
                                <button id="load_emp" class="loan-btn">Load Employee</button>
                            </span>*@
                    </div>
                    <input name="geo_id" type="text" id="geo_id" class="struct_input_val" style="display:none" />
                    <input name="pay_id" type="text" id="pay_id" class="struct_input_val" style="display:none" />
                    <input name="fun_id" type="text" id="fun_id" class="struct_input_val" style="display:none" />
                </div>
            </div>



            <div class="section_Method1">

                <div class="row1 content_margine">@Html.LabelFor(m => m.TrainingSchedule.OverallFaultyRating, "Faculty Rating :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.TrainingSchedule.OverallFaultyRating, new { @class = "popup-content-textbox must" })</div>
                <div class="row1 content_margine">@Html.LabelFor(m => m.TrainingSchedule.FacultyFeedback, "Faculty Feedback :", new { @class = "popup-content-label must" })@Html.TextAreaFor(m => m.TrainingSchedule.FacultyFeedback, new { @class = "popup-content-textbox must" })</div>
                <div class="row1 content_margine">@Html.LabelFor(m => m.TrainingSchedule.OverallTrainingRating, "Training Rating :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.TrainingSchedule.OverallTrainingRating, new { @class = "popup-content-textbox must" })</div>
                <div class="row1 content_margine">@Html.LabelFor(m => m.TrainingSchedule.OverallTrainingFeedback, "Training Feedback :", new { @class = "popup-content-label must" })@Html.TextAreaFor(m => m.TrainingSchedule.OverallTrainingFeedback, new { @class = "popup-content-textbox must" })</div>
                <button style="float:right" id="save">Save</button>
                @*<button style="float:right" id="cancel">Cancel</button>
                    <button style="float:right" id="save">Save</button>*@


            </div>
        }
    </div>

</body>