@{
    ViewBag.Title = "Company Wise Head Mapping To Employee";
}
<script>
    $(document).ready(function (e) {
        $('button').button();
        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;
        ColModel = ['Id', 'EmpCode', 'Name', 'Pay Month', 'Total Earning', 'Total Deduction', 'Total Net'];
        ColNames = ['Id', 'EmpCode', 'Name', 'Pay Month', 'Total Earning', 'Total Deduction', 'Total Net'];
        SortName = 'Id';
        Caption = 'Company Wise Head Mapping To Employee';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height, '#pager2', { multiple: true, rowNum: 30, selectall: true });


        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }

        $('#Create_Dialog').P2BCreateDialog();
        $('#Create').on('click', function () {
            $('#PayProcessGroupList').P2BSelectMenuAppend('@Url.Action("Polulate_Salaryhead", "CompWiseHeadMappingToEmp")', "", ""); // To bind dropdown on page load

            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Company Wise Head Mapping To Employee', 'open', '@Url.Action("Create")', '#FormSalaryGenT', 'Message :', 'Request Falied :',
                '#JqGrid', 500, 900,
                '#AddressList,#ContactDetailsList', '',
                function (data) { }, {
                    validurl: "@Url.Action("ValidateForm")"
                });
        });
        $.LoadEmpByDefault();
        $('#Advance-Filter-Symbol').on('click', function () {
            $("<div></div>").FilterDialog({
                width: 1000,
                height: 400,
                title: "Filter",
                htmlurl: "@Url.Action("Advance_partial", "Transcation")",
                returnat: function (data) {
                    console.log(data);
                    if (data.GeoStruct != null) {
                        $('#geo_id').val(data.GeoStruct);
                    }
                    if (data.PayStruct != null) {
                        $('#pay_id').val(data.PayStruct);
                    }
                    if (data.FunStruct != null) {
                        $('#fun_id').val(data.FunStruct);
                    }
                    var forwarddata = JSON.stringify(data);
                    $('#Employee-Table').P2BTransactionTableDynamic('#Employee-Search', '#Case-Employee', './Transcation/Get_Employelist_h?geo_id=' + forwarddata + '', "");
                },
                renderat: "#FormFilter",
                hierarchy: true,
            });
        });
        function ajaxloaderv2(cameform) {
            $('<a><i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw ajax_loder" style="color: rgba(27, 187, 173, 0.93);z-index:999;" aria-hidden="true"></i></a>').appendTo(cameform);
        };

        $('#Delete').on('click', function (e) {
            var a = $.GetGridSelctedvalue("#JqGrid", "Id");

            //  a = a != null ? a.toString() : null;

            if ($('#emp_Id').val()) {
                console.log($('#emp_Id').val())
                a = $('#emp_Id').val();
                console.log(a);
            }
            else {
                a = a.toString();
            }


            $.ajax({
                method: "POST",
                url: "@Url.Action("DeleteProcess")",
                data: { forwardata: a, PayMonth: $("#TextPayMonth").val() },
                beforeSend: function () {
                    ajaxloaderv2('body');
                },
                success: function (data) {
                    $('<div></div>').P2BMessageModalDialog('ui-icon-info', data.responseText);
                },
                error: function (data) {
                    $('<div></div>').P2BMessageModalDialog('ui-icon-alert', data.responseText);
                    $('#emp_Id').val("");
                }, complete: function (data) {
                    $('#JqGrid').trigger('reloadGrid');
                    $('.ajax_loder').remove();
                    $('#emp_Id').val("");
                }
            });
            e.preventDefault();
        });
        $('.popup_radio_button').controlgroup();
        $('#PayProcessGroupList').selectmenu().selectmenu("menuWidget");

    });
</script>

<html>

<head>
    <title></title>
    @*<link href="~/Content/SalaryT/SalaryT.css" rel="stylesheet" />*@

    <style>
        .icon-row {
            position: relative;
            left: 61px;
            top: -150px;
        }

        #BusinessType-button {
            font-size: 9px;
            padding-top: 1px;
            font-weight: bold;
        }

        .popup-content-label {
            display: block;
            /*! float: left; */
            width: 100px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 150px;
        }

        .row3 {
            width: 853px;
        }

        .row4 {
            position: absolute;
            top: 294px;
            width: 400px;
        }

        .popup-content-textbox-long {
            margin-bottom: 1px;
            width: 290px;
        }


        .row2 {
            width: 402px;
        }

        .date-picker {
            z-index: 999;
        }

        .employeeselectiondiv {
            padding: 5px;
        }

        .addons {
            height: 246px;
        }

        .section_Method2 {
            border: 1px solid rgba(207, 207, 207, 0.91);
            border-radius: 10px;
            /*! margin-top: 15px; */
            /*! margin-bottom: 15px; */
        }

        .section_Method {
            border: 1px solid rgba(207, 207, 207, 0.91);
            border-radius: 10px;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .transactiontablenew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            /*width: 200px;*/
            display: block;
            overflow: auto;
            height: 500px;
            border-collapse: collapse;
        }

        .transactiondivnew {
            border: 1px solid #c5c5c5;
            width: 507px;
            border-radius: 5px;
            /*! height: 32px; */
        }

            .transactiondivnew > div {
                display: inline-block;
                margin: 0 auto;
                padding: 4px;
            }

                .transactiondivnew > div > input {
                    box-sizing: initial;
                    display: inline-block;
                    margin: 0 auto;
                    width: 108px;
                }

        .transactiontablenew th, .transactiontablenew td {
            background: rgba(246, 246, 246, 0.64) none repeat scroll 0 0;
            padding: 5px;
            border-bottom: 1px solid #c5c5c5;
            border-right: 1px solid #c5c5c5;
            text-align: center;
            color: rgba(114, 113, 113, 0.9);
        }

            .transactiontablenew th:nth-child(1) > input, .transactiontablenew td:nth-child(1) > input {
                margin: 0 auto;
            }

            .transactiontablenew th:nth-child(2), .transactiontablenew td:nth-child(2) {
                height: 100%;
                width: 100%;
            }

        .transactiontablenew tr:hover {
            cursor: pointer;
            background: #EEEEEE none repeat scroll 0 0;
        }
    </style>
</head>

<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <button class="button" data-typeofbtn="process" id="Create">Create</button>
                <button class="button" data-typeofbtn="release" id="release">Release</button>
            </div>
            <div id="Grid_Form">
                <div>
                    <table id="JqGrid"></table>
                    <div id="pager2"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>  

    <div id="Create_Dialog" title="Create Corporate">
        <form method="post" name="FormSalaryGenT" id="FormSalaryGenT">
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
            <input id="geo_id" class="filter_structure_id" name="geo_id" />
            <input id="pay_id" class="filter_structure_id" name="pay_id" />
            <input id="fun_id" class="filter_structure_id" name="fun_id" />
            <input id="emp_Id" class="filter_structure_id" name="emp_Id" />
            <div class="section_Method">
                <div class="heading">Filter View</div>
                <div class="filter-div">
                    <label class="advance_filter_label">Advance Filter<span class="advance_filter_sysmbol_class_plus" id="Advance-Filter-Symbol"></span></label>
                    <div id="FormFilter"></div>
                </div>
            </div>
            <div class="section_Method">
                <div class="heading">Salary Head </div>
                <div class="row3 content_margine">

                    <label id="lblPayprogessGroup" class="popup-content-label must">Salary Head :</label>
                    <select id="Salhead" name="Salhead">
                        <option value="0">-Select-</option>
                    </select>

                </div>
            </div>
            <div class="section_Method2">
                <div class="heading">Employee List</div>
                <div class="employeeselectiondiv">
                    <div class="transactiondivnew ">
                        <div><label>Search : </label><input type="text" id="Employee-Search" style="width: 425px;" /></div>
                        <table cellspacing="0" cellpadding="1" class="transactiontablenew" id="Employee-Table">
                            <tr><th><input type="checkbox" id="Case-Employee" /></th><th>Employee</th></tr>
                        </table>
                    </div>

                </div>
            </div>
        </form>
    </div>
</body>
</html>
