@model  Recruitment.RecruitInitiator
@{
    ViewBag.Title = "Recruitment Process Setup";
}



<html>

<head>
    <title></title>
    <style>
        .icon-row {
            position: relative;
            left: 115px;
            top: -150px;
        }

        #BusinessType-button {
            font-size: 9px;
            padding-top: 1px;
            font-weight: bold;
        }

        .popup-content-label {
            width: 155px;
            display: block;
            float: left;
            margin: 1px;
        }

        .popup-content-label-2 {
            width: 157px;
            display: block;
            float: left;
            margin: 1px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 150px;
        }

        .row3 {
            width: 402px;
        }

        .row4 {
            position: absolute;
            top: 294px;
            width: 400px;
        }

        .row6 {
            width: 260px;
            display: inline-block;
        }

        .popup-content-textbox-long {
            margin-bottom: 1px;
            width: 290px;
        }


        .row2 {
            width: 402px;
        }

        #Lookup_FinancialYear_Calendar {
            left: 408px;
            top: 20px;
        }
    </style>
</head>
<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <div style="float: left; width: 415px;">

                    <label id="lblPayMonth" class="popup-content-label must">Recruitment Year:</label>
                    <input name="txtPayMonth" type="text" id="txtPayMonth" class="date-picker" style="width:215px" />
                    <input type="text" id="Financial_id" name="Financial_id" class="filter_structure_id" />

                    <button data-p2btooltip="Lookup FinancialYear Details" class="button popup-content-icon-lookup" id="Lookup_FinancialYear_Calendar"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>


                </div>
                <span>
                    <button class="button" id="Load">Load</button>
                    <button class="button" id="Create">Create</button>
                    <button class="button" id="View">View</button>
                    <button class="button" id="Edit">Edit</button>
                    <button class="button" id="Delete">Delete</button>
                    @*<button class="button" id="Autho">Authorised</button>*@
                </span>
                <div id="Grid_Form">
                    <div>
                        <table id="JqGrid"></table>
                        <div id="pager2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv" id="Lookup"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>

    <div id="Create_Dialog" title="Create Apprisal Category">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmRecruitInitiator", name = "frmRecruitInitiator" }))
        {
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />

            <div class="row3 content_margine">     @Html.LabelFor(m => m.AdvertiseReferenceNo, "Advertise Reference No:", new { @class = "popup-content-label  must" })@Html.TextBoxFor(m => m.AdvertiseReferenceNo, new { @class = "popup-content-textbox  must" })</div>

            <div class="row3 content_margine">     @Html.LabelFor(m => m.initiatedDate, "Creation Date:", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.initiatedDate, new { @class = "popup-content-textbox date" })  </div>

            <div class="row3 content_margine">     @Html.LabelFor(m => m.PublishDate, "PublishDate:", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.PublishDate, new { @class = "popup-content-textbox date" })  </div>

            @*<div class="row3 content_margine">     @Html.LabelFor(m => m.CloseAdvDate, "CloseAdvDate:", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.CloseAdvDate, new { @class = "popup-content-textbox date" })  </div>*@

            <div class="row3 content_margine">     @Html.LabelFor(m => m.Narration, "Narration:", new { @class = "popup-content-label  must" })@Html.TextBoxFor(m => m.Narration, new { @class = "popup-content-textbox  must" })</div>



            @*<div class="dropdown_row1 row3 content_margine">
                    @Html.LabelFor(m => m.WFStatus, "WF Status :", new { @class = "popup-content-label must" })
                    <select id="WFStatusdrop" name="WFStatusdrop" class="drop" style="width:161px;"><option></option></select>
                </div>
                <div class="row3 content_margine">
                    @Html.LabelFor(m => m.TrClosed, " TrClosed :", new { @class = "popup-content-label" })
                    <span class="popup_radio_button">
                        <span><input type="radio" id="radio1" name="TrClosed" value="true" /> <label for="radio1">Yes</label></span>
                        <span><input type="radio" id="radio2" name="TrClosed" value="false" /> <label for="radio2">No</label></span>
                    </span>
                </div>

                <div class="row3 content_margine">
                    @Html.LabelFor(m => m.TrReject, " TrReject :", new { @class = "popup-content-label" })
                    <span class="popup_radio_button">
                        <span><input type="radio" id="radio3" name="TrReject" value="true" /> <label for="radio3">Yes</label></span>
                        <span><input type="radio" id="radio4" name="TrReject" value="false" /> <label for="radio4">No</label></span>
                    </span>
                </div>*@

            <div class="row3 content_margine">
                <div id="AppSubCategoryList_old"></div>@Html.LabelFor(m => m.RecruitBatchInitiator, "Post Allocation :", new { @class = "popup-content-label-2" })
                <div class="popup-content-table" style="width: 522px;">
                    <table class="lookuptableselected" id="RecruitBatchInitiatorListM">
                        <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup " class="popup-content-icon-lookup" id="lookUp-RecruitBatchInitiator-RecruitInitiator"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    @*<button data-p2btooltip="Create " class="popup-content-icon-create" id="Create-RecruitBatchInitiator-RecruitInitiator"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
    <button data-p2btooltip="Edit " class="popup-content-icon-edit" id="Edit-RecruitBatchInitiator-RecruitInitiator"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>*@
                    <button data-p2btooltip="Remove " class="popup-content-icon-remove" id="Remove-RecruitBatchInitiator-RecruitInitiator"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>

            <div class="row3 content_margine">
                <div id="AppSubCategoryList_old"></div>@Html.LabelFor(m => m.RecruitExpenses, "Expenses Allocation:", new { @class = "popup-content-label-2" })
                <div class="popup-content-table" style="width: 522px;">
                    <table class="lookuptableselected" id="RecruitExpensesListM">
                        <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup " class="popup-content-icon-lookup" id="lookUp-RecruitExpenses-RecruitInitiator"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Create " class="popup-content-icon-create" id="Create-RecruitExpenses-RecruitInitiator"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit " class="popup-content-icon-edit" id="Edit-RecruitExpenses-RecruitInitiator"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Remove " class="popup-content-icon-remove" id="Remove-RecruitExpenses-RecruitInitiator"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>


        }
    </div>
</body>
</html>

<script>
    $(document).ready(function (e) {
        $('button').button();

        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;
        // var "" = "Edit-RecruitBatchInitiator-RecruitInitiator,Remove-RecruitBatchInitiator-RecruitInitiator,Edit-RecruitExpenses-RecruitInitiator,Remove-RecruitExpenses-RecruitInitiator";
        var namelookuptable = '#RecruitBatchInitiatorListM,#RecruitExpensesListM';
        ColModel = ['PublishDate', 'AdvertiseReferenceNo', 'Narration', 'Id'];
        ColNames = ['PublishDate', 'AdvertiseReferenceNo', 'Narration', 'Id'];
        SortName = 'Id';
        Caption = 'Recruitment Process Setup';
        url = '@Url.Action("P2BGrid")';
        width = 1100;
        height = 150;
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);

        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }
        function DateConvert(JsonDate) {
            var date = new Date(parseInt(JsonDate.substr(6)));
            var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
            return displayDate;
        };

        $('#AdvertiseReferenceNo').MaxLength(50);
        $('#Narration').MaxLength(50);

        $('#Load').on('click', function (e) {
            // alert($('#Financial_id').val());

            if (!$("#Financial_id").val()) {
                alert("Please Select Recruitment Year.");
                return false;
            }
            $('#JqGrid').PostGridData({ url: url, filter: $('#Financial_id').val() });
        });


        $('#Create_Dialog').P2BCreateDialog();
        $('#Create').on("click", function (event) {
            $('#frmRecruitInitiator').trigger("reset");
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create Recruitment Process Setup', 'open', '@Url.Action("Create")', '#frmRecruitInitiator', 'Message :', 'Request Falied :', '#JqGrid', 610, 620, namelookuptable, "", function (data) { });
            $('#WFStatusdrop').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 1000, "");
            $('#initiatedDate').prop('readonly', 'readonly');
            $('#PublishDate').prop('readonly', 'readonly');
            $('#CloseAdvDate').prop('readonly', 'readonly');
            event.preventDefault();
        });

        $('#Edit').on('click', function () {
            AssignData();
            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit Recruitment Process Setup", '#frmRecruitInitiator', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 610, 620, ' ', "", function (data) {
                // setTimeout(function () {
                $.each(data[0], function (i, k) {
                    $('#frmRecruitInitiator').trigger('reset');
                    $('#AdvertiseReferenceNo').val(k.AdvertiseReferenceNo);
                    $('#initiatedDate').val(DateConvert(k.initiatedDate));
                    $('#PublishDate').val(DateConvert(k.PublishDate));
                    //$('#CloseAdvDate').val(DateConvert(k.CloseAdvDate));
                    //$('[name="TrClosed"]').val([k.TrClosed]).button().button("refresh");
                    //$('[name="TrReject"]').val([k.TrReject]).button().button("refresh");
                    $('#Narration').val(k.Narration);
                    @*$('#WFStatusdrop').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 1000, k.WFStatus_Id);*@
                });

                $.each(data[1], function (i, k) {
                    $('#RecruitBatchInitiatorListM').P2BLookUpEncapsulate('#RecruitBatchInitiatorListM', 'RecruitBatchInitiatorListM', k.RecruitBatchInitiator_Id, k.RecruitBatchInitiator_val, 'RecruitBatchInitiatorListM', '', 'A');
                    $('#RecruitExpensesListM').P2BLookUpEncapsulate('#RecruitExpensesListM', 'RecruitExpensesListM', k.RecruitExpenses_Id, k.RecruitExpenses_val, 'RecruitExpensesListM', '', 'A');
                });
                //$('#Autho_Allow').val(data[3]); //Compulsory for authorisation
                // }, 2000);
            });
        });
        $('#View').button().click(function (event) {
            AssignData();
            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View Recruitment Process Setup Data', '#RecruitExpensesListM,#RecruitBatchInitiatorListM', '#Lookup-Address-Corporate,#Create-Address-Corporate,#Edit-Address-Corporate,#Remove-Address-Corporate,#Lookup-ContactDetails-Corporate,#Create-ContactDetails-Corporate,#Edit-ContactDetails-Corporate,#Remove-ContactDetails-Corporate', 500, 620, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {
               $.each(data[0], function (i, k) {
                    $('#frmRecruitInitiator').trigger('reset');
                    $('#AdvertiseReferenceNo').val(k.AdvertiseReferenceNo);
                    $('#initiatedDate').val(DateConvert(k.initiatedDate));
                    $('#PublishDate').val(DateConvert(k.PublishDate));
                    //$('#CloseAdvDate').val(DateConvert(k.CloseAdvDate));
                    //$('[name="TrClosed"]').val([k.TrClosed]).button().button("refresh");
                    //$('[name="TrReject"]').val([k.TrReject]).button().button("refresh");
                    $('#Narration').val(k.Narration);
                    @*$('#WFStatusdrop').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 1000, k.WFStatus_Id);*@
                });

                $.each(data[1], function (i, k) {
                    $('#RecruitBatchInitiatorListM').P2BLookUpEncapsulate('#RecruitBatchInitiatorListM', 'RecruitBatchInitiatorListM', k.RecruitBatchInitiator_Id, k.RecruitBatchInitiator_val, 'RecruitBatchInitiatorListM', 'view', 'A');
                    $('#RecruitExpensesListM').P2BLookUpEncapsulate('#RecruitExpensesListM', 'RecruitExpensesListM', k.RecruitExpenses_Id, k.RecruitExpenses_val, 'RecruitExpensesListM', 'view', 'A');
                });
            });
        });

        //delete main page
        $('#Delete').button().click(function (event) {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            $('#Create_Dialog').P2BDeleteModalDialog('@Url.Action("Delete")', dt.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
            event.preventDefault();
        });
        // --------------- RecruitBatchInitiator start ----------
        $('#lookUp-RecruitBatchInitiator-RecruitInitiator').button().click(function (r) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetRecruitBatchInitiatorLKDetails", "RecruitInitiator")', '', 'LookupDiv', 'RecruitBatchInitiator Look Up Data', '#RecruitBatchInitiatorListM', 'RecruitBatchInitiatorListM', 5, 'RecruitBatchInitiatorListM', '#frmRecruitInitiator', 'A', '#Edit-RecruitBatchInitiator-RecruitInitiator,#Remove-RecruitBatchInitiator-RecruitInitiator', 'Lookup_table', 'PageNavPosition');
            r.preventDefault();
        });
        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-RecruitBatchInitiator-RecruitInitiator').button().on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "RecruitInitiator")', 'Create RecruitBatchInitiator ', 'open', '@Url.Action("Create", "RecruitBatchInitiator")', '#frmRecruitExpenses', 'Message :', 'Request Falied :', '#JqGrid', 500, 800, '', '', '', '#frmRecruitInitiator', '', function (data) {
                // to show data which is created in partial page
                $('#RecruitBatchInitiatorListM').P2BLookUpEncapsulate('#RecruitBatchInitiatorListM', 'RecruitBatchInitiatorListM', data[0], data[1], 'RecruitBatchInitiatorListM', '', 'N');

            });
            event.preventDefault();
        });

        $('#Edit-RecruitBatchInitiator-RecruitInitiator').button().on("click", function (event) {
            var a = [], b;
            a = $('#RecruitBatchInitiatorListM').P2BGetTableDataonSelectedRow('#RecruitBatchInitiatorListM', 0);
            b = a[0];
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("Index", "RecruitBatchInitiator")', '@Url.Action("edit", "RecruitBatchInitiator")', b, '@Url.Action("Editsave", "RecruitBatchInitiator")', 'Edit RecruitExpenses', '#frmRecruitExpenses', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmRecruitInitiator', '#RecruitBatchInitiatorListM', 'RecruitBatchInitiatorListM', 'RecruitBatchInitiatorListM', 'N', '', function (data) {
                $.each(data[0], function (i, k) {
                    $('#frmRecruitExpenses').trigger("reset");
                    $('#FeeAmount').val(k.FeeAmount);
                    $('#Narration1').val(k.Narration);
                    $('#ExpAccListP').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 10, k.ExpenseAccount_Id);
                    $('#SourceOFExpListP').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 11, k.SourceOfExpense_Id);
                });
            });
            event.preventDefault();
        });

        $('#Remove-RecruitBatchInitiator-RecruitInitiator').button().on('click', function (event) {
            //  dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'ID');
            //var a = [], b;
            //a = $('#RecruitBatchInitiatorListM').P2BGetTableDataonSelectedRow('#RecruitBatchInitiatorListM', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#RecruitBatchInitiatorListM').P2BGetTableDataonSelectedRow('#RecruitBatchInitiatorListM', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#RecruitBatchInitiatorListM', $('#RecruitBatchInitiatorListM').val(), 200, 200, '#frmRecruitInitiator', '#RecruitBatchInitiatorListM');
            event.preventDefault();
        });

        // ---------------RecruitExpenses start ----------

        $('#lookUp-RecruitExpenses-RecruitInitiator').button().click(function (e) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetRecruitExpensesLKDetails", "RecruitInitiator")', '', 'LookupDiv', 'Look Up Data', '#RecruitExpensesListM', 'RecruitExpensesListM', 5, 'RecruitExpensesListM', '#frmRecruitInitiator', 'A', '#Edit-RecruitExpenses-RecruitInitiator,#Remove-RecruitExpenses-RecruitInitiator', 'Lookup_table', 'PageNavPosition');
            e.preventDefault();
        });
        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-RecruitExpenses-RecruitInitiator').button().on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Index", "RecruitExpenses")', 'Create RecruitExpenses ', 'open', '@Url.Action("Create", "RecruitExpenses")', '#frmRecruitExpenses', 'Message :', 'Request Falied :', '#JqGrid', 206, 460, '', '', '', '#frmRecruitInitiator', '', function (data) {
                // to show data which is created in partial page
                $('#RecruitExpensesListM').P2BLookUpEncapsulate('#RecruitExpensesListM', 'RecruitExpensesListM', data[0], data[1], 'RecruitExpensesListM', '', 'N');

            });
            event.preventDefault();
        });

        $('#Edit-RecruitExpenses-RecruitInitiator').button().on("click", function (event) {
            var a = [], b;
            a = $('#RecruitExpensesListM').P2BGetTableDataonSelectedRow('#RecruitExpensesListM', 0);
            b = a[0];
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("Index", "RecruitExpenses")', '@Url.Action("edit", "RecruitExpenses")', b, '@Url.Action("Editsave", "RecruitExpenses")', 'Edit RecruitExpenses', '#frmRecruitExpenses', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmRecruitInitiator', '#RecruitExpensesListM', 'RecruitExpensesListM', 'RecruitExpensesListM', 'N', '', function (data) {
                $.each(data[0], function (i, k) {
                    $('#frmRecruitExpenses').trigger("reset");
                    $('#FeeAmount').val(k.FeeAmount);
                    $('#Narration1').val(k.Narration);
                    $('#ExpAccListP').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 10, k.ExpenseAccount_Id);
                    $('#SourceOFExpListP').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 11, k.SourceOfExpense_Id);
                });
            });
            event.preventDefault();
        });

        $('#Load').on('click', function (e) {
            // alert($('#Financial_id').val());

            if (!$("#Financial_id").val()) {
                alert("Please Select Financial Year.");
                return false;
            }
            $('#JqGrid').PostGridData({ url: url, filter: $('#Financial_id').val() });
        });
        //partial page delete
        $('#Remove-RecruitExpenses-RecruitInitiator').button().on('click', function (event) {
            //  dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'ID');
            //var a = [], b;
            //a = $('#RecruitExpensesListM').P2BGetTableDataonSelectedRow('#RecruitExpensesListM', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#RecruitExpensesListM').P2BGetTableDataonSelectedRow('#RecruitExpensesListM', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#RecruitExpensesListM', $('#RecruitExpensesListM').val(), 200, 200, '#frmRecruitInitiator', '#RecruitExpensesListM');
            event.preventDefault();
        });


        // --------------- end ----------

        $('#Lookup_FinancialYear_Calendar').on('click', function () {
            $('.dialog').AddDataToTextbox({
                appendTo: "#txtPayMonth",
                appendToId: "#Financial_id",
                lookupurl: "@Url.Action("GetCalendarDetails", "postdetails")",
                NoOfRecordToShow: "10",
                setnameofthelookupbyppage: "HusbandName_FName-lookup",
                LookupDiv: "LookupDiv",
                lookuppagename: "lookup",
                pagename: "PageNavPosition",
                readonly: true,
            });
        });
        $('#edit_model_dialog').P2BGridDialog();


        $('.date').P2BDatePicker();
        $('.popup_radio_button').controlgroup();
        $('.drop').selectmenu().selectmenu('menuWidget').addClass('overflow');
        $('#Autho').makeDisable('#Create,#Edit,#Delete');
        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');
    });
</script>