<link href="~/Content/popup_form.css" rel="stylesheet" />
@model IR.ChargeSheetServingStatus

<style>
    .popup-content-label {
        width: 170px;
        display: block;
        float: left;
    }

    .popup-content-textbox {
        width: 120px;
    }

    .row1 {
        width: 320px;
    }

    /*.active {
        color: red;
    }*/

    .horizontal_row2, .radio_button_div_2 {
        display: inline-block;
    }

    .row3 {
        width: 477px;
    }

    .row2 {
        width: 402px;
    }

    .icon-row {
        left: 127px;
        position: relative;
        top: -121px;
    }

    .popup-content-table {
        right: 120px;
    }
</style>
<script>
    $(document).ready(function () {
        $('button').button();
        var dt;
        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;
        //ColModel = ['Id', 'Code', 'Name', 'OnAttend', 'OnLeave', 'RoundDigit', 'InITax'];
        //ColNames = ['Id', 'Code', 'Name', 'OnAttend', 'OnLeave', 'RoundDigit', 'InITax'];

        ColModel = ['IsChargeSheetRead', 'IsCloseServingChargeSheet', 'Narration', 'Id'];
        ColNames = ['IsChargeSheetRead', 'IsCloseServingChargeSheet', 'Narration', 'Id'];

        SortName = 'Id';
        Caption = 'Charge Sheet serving status';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);
        $('#Create_Dialog').P2BCreateDialog();
        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }
        $('#Create').button().on("click", function () {
            $('#FormChargeSheetServingStatus').trigger("reset");
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create Charge Sheet serving status ', 'open', '@Url.Action("create")', '#FormChargeSheetServingStatus', 'Message :', 'Request Falied :', '#JqGrid', 600, 600, '', '', '', function (data) { });
        });
        $('#View').button().on("click", function () {
           
            AssignData();
            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View ChargeSheetServingStatus', '', '', 500, 620, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {
          //  $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id,  "view ChargeSheetServingStatus", '#FormChargeSheetServingStatus', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 500, 620, '', '', function (data) {
                //Compulsory for authorisation
                var val = null;
                $.each(data[0], function (i, k) {
                    $('#FormChargeSheetServingStatus').trigger("reset");
                    $('#Narration').val(k.Narration);
                    $('[name="IsChargeSheetRead"]').val([k.IsChargeSheetRead]).button().button("refresh");
                    $('[name="IsCloseServingChargeSheet"]').val([k.IsCloseServingChargeSheet]).button().button("refresh");
                });
            });
        });
        $('#Delete').on('click', function () {

            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'ID');
            $('#Create_Dialog').P2BDeleteModalDialog('@Url.Action("Delete")', dt.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
            event.preventDefault();
        });

        $('#Edit').click(function (event) {
          
            AssignData();
            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit ChargeSheetServingStatus", '#FormChargeSheetServingStatus', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 500, 620, '', '', function (data) {
                //Compulsory for authorisation
                var val = null;
                $.each(data[0], function (i, k) {
                    $('#FormChargeSheetServingStatus').trigger("reset");
                    $('#Narration').val(k.Narration);
                    $('[name="IsChargeSheetRead"]').val([k.IsChargeSheetRead]).button().button("refresh");
                    $('[name="IsCloseServingChargeSheet"]').val([k.IsCloseServingChargeSheet]).button().button("refresh");
                });
            });
        });
        $('.popup_radio_button').controlgroup();
    });
    </script>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <button class="button" id="Create">Create</button>
                <button class="button" id="View">View</button>
                <button class="button" id="Edit">Edit</button>
                <button class="button" id="Delete">Delete</button>

                <div id="Grid_Form">
                    <div>
                        <table id="JqGrid"></table>
                        <div id="pager2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>
    <div id="Create_Dialog">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormChargeSheetServingStatus", name = "FormChargeSheetServingStatus" }))
        {
            <div class="row3 content_margine">
                <label for="chargesheetservingDetails" class="popup-content-label ">chargesheet serving Details</label>
                <textarea cols="30" id="chargesheetservingDetails" name="chargesheetservingDetails" rows="2"></textarea>
            </div>
            <div class="row3 content_margine">
        @Html.LabelFor(m => m.IsChargeSheetRead, "Is ChargeSheet Read :", new { @class = "popup-content-label must" })
            <div class="popup_radio_button radio_button_div_1">
                <span class="popup_radio_button radio_button_div_1">
                    <input type="radio" id="radio1" name="IsChargeSheetRead" value="true" /><label for="radio1">Yes</label>
                    <input type="radio" id="radio2" name="IsChargeSheetRead" value="false" checked="checked" /><label for="radio2">No</label>
                </span>
            </div>
        </div>
             <div class=" row3 content_margine">
                        @Html.LabelFor(m => m.Narration, "Narration :", new { @class = "popup-content-label must" })
                        @Html.TextBoxFor(m => m.Narration, new { @class = "popup-content-textbox must" })
            </div>
            <div class="row3 content_margine">
                        @Html.LabelFor(m => m.IsCloseServingChargeSheet, "Is Close Serving ChargeSheet :", new { @class = "popup-content-label must" })
            <div class="popup_radio_button radio_button_div_1">
                <span class="popup_radio_button radio_button_div_1">
                    <input type="radio" id="radio3" name="IsCloseServingChargeSheet" value="true" /><label for="radio3">Yes</label>
                    <input type="radio" id="radio4" name="IsCloseServingChargeSheet" value="false" checked="checked" /><label for="radio4">No</label>
                </span>
            </div>
        </div>
           
        }
        </div>
</body>
</html>
