@{
    ViewBag.Title = "CompetencyModel";
}
@model CMS_SPS.CompetencyModel
<html>
<head>
    <title></title>
    <style>
        #ModelObject-table {
            /*font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;*/
            border: 1px solid #ddd;
            width: 53%;
            left: 205px;
            position: absolute;
        }
            #ModelObject-table td, #ModelObject-table th {
                border: 1px solid #ddd;
                padding: 8px;
            }
        #monthTable {
            /*font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;*/
            border-collapse: collapse;
            width: 100%;
        }

            #monthTable td, #monthTable th {
                border: 1px solid #ddd;
                padding: 8px;
            }

        #monthTable-selected {
            color: #8e6d87;
            font-weight: bold;
        }
        /*#monthTable tr:nth-child(even) {
            background-color: #f2f2f2;
        }*/

        #monthTable tr:hover {
            background-color: #ddd;
        }

        #monthTable th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #009282;
            color: white;
        }
        .section1_Leave {
            display: block;
            border: 1.5px solid rgba(207, 207, 207, 0.91);
            height: 382px;
            width: 416px;
            margin: 4px auto;
            position: absolute;
        }

        .section2_Leave {
            display: block;
            border: 1px solid #ddd;
            height: 350px;
            width: 576px;
            margin: 2px 2px;
            position: absolute;
            margin-left: 39em;
            /*left: 401px;*/
        }

        .icon-row {
            position: relative;
            left: 59px;
            top: -126px;
            margin-left: 125px;
        }

        .popup-content-label {
            display: block;
            float: left;
            width: 204px;
        }

        .popup-content-textbox {
            margin-right: 15px;
            width: 100px;
        }

        .row3 {
            width: 548px;
        }

        .row2 {
            display: inline-block;
            width: 333px;
        }

        .section1_Leave {
            display: block;
            border: 1.5px solid rgba(207, 207, 207, 0.91);
            height: 554px;
            width: 450px;
            margin: 4px auto;
            position: absolute;
        }

        .section2_Leave {
            display: block;
            border: 1px solid #ddd;
            height: 350px;
            width: 437px;
            margin: 2px 2px;
            position: absolute;
            margin-left: 43em;
            /*left: 401px;*/
        }

        .section3_Leave {
            display: block;
            border: 1px solid #ddd;
            /*! height: 502px; */
            width: 250px;
            margin: 2px 2px;
            position: absolute;
            left: 920px;
            top: 28px;
            /*float: right;*/
        }

        .newstruct-div {
            float: left;
            width: 193px;
            margin: 3px auto;
        }

        .transactiontable {
            height: 187px;
            width: 179px;
            left: 207px;
            position: absolute;
        }

        .without-btn {
            height: 216px;
        }
    </style>
</head>
<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <div style="float:left;margin-left:25px"><label>Competency Model:</label></div>
                
                <div style="float:left;margin-left:25px">
                    <select class="drop must" style="width:180px;" name="Competencymodellist" id="Competencymodellist">
                        <option value="0">--Select--</option>
                    </select>
                </div>
                <button class="button" id="Load">Load</button> 
                <button class="button" id="Create">Create</button>   
                <button class="button" id="Edit">Edit</button>              
                <button class="button" id="Delete">Delete</button>
            </div>
        </div>
    </div>
    <div id="competencym">
        <div id="Grid_Form">
            <div>
                <div id="Container" class="container">
                    <div id="Demo">
                        <table id="MyTable" class="display" cellspacing="0" width="100">
                            <thead>
                                <tr>
                                    <th>DD</th>
                                    <th>Competency Model Code</th>
                                    <th>Competency Model Name</th>
                                    <th>Competency Model Description</th>
                                    <th>Created Date</th>
                                    <th>ID</th>
                                </tr>
                            </thead>
                            @*<tfoot>
                                    <tr>
                                        <th>DD</th>
                                        <th>ID</th>
                                        <th>EmployeeCode</th>
                                        <th>EmployeeName</th>
                                    </tr>
                                </tfoot>*@
                        </table>
                    </div>
                </div>
                <table id="JqGrid"></table>
                <div id="pager2"></div>
            </div>
        </div>
        <div id="Grid_Form1">
            <div>
                <div id="Container" class="container">
                    <div id="Demo">
                        <table id="MyTable1" class="display" cellspacing="0" width="100">
                            <thead>
                                <tr>
                                    <th>DD</th>
                                   
                                    <th>Competency Model Code</th>
                                    <th>Competency Model Name</th>
                                    <th>Competency Model Description</th>
                                    <th>Created Date</th>
                                    <th>ID</th>
                                </tr>
                            </thead>
                            @*<tfoot>
                                    <tr>
                                        <th>DD</th>
                                        <th>ID</th>
                                        <th>EmployeeCode</th>
                                        <th>EmployeeName</th>
                                    </tr>
                                </tfoot>*@
                        </table>
                    </div>
                </div>
                <table id="JqGrid"></table>
                <div id="pager2"></div>
            </div>
        </div>
        <div class="dialog">
            <div title="LookUp Data">
                <div class="LookupDiv"></div>
            </div>
            <div id="PageNavPosition">

            </div>
        </div>
        <div id="Create_Dialog">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmCompetencyModel", name = "frmCompetencyModel" }))
            {
                <div class="section1_Leave">
                    <div class=" row3 content_margine">
                        @Html.LabelFor(m => m.Code, "Competency Model Code :", new { @class = "popup-content-label must", @maxlength = "10" })
                        @Html.TextBoxFor(m => m.Code, new { @class = "popup-content-textbox must" })
                    </div>
                    <div class=" row3 content_margine">
                        @Html.LabelFor(m => m.ModelName, "Competency Model Name :", new { @class = "popup-content-label must" })
                        @Html.TextBoxFor(m => m.ModelName, new { @class = "popup-content-textbox must", @maxlength = "50" })
                    </div>
                    <div class=" row3 content_margine">
                        @Html.LabelFor(m => m.ModelDescription, "Competency Model Description :", new { @class = "popup-content-label must" })
                        @Html.TextBoxFor(m => m.ModelDescription, new { @class = "popup-content-textbox must" })
                    </div>
                    <div class=" row3 content_margine">
                        @Html.LabelFor(m => m.CreatedDate, "Created Date :", new { @class = "popup-content-label" })
                        @Html.TextBoxFor(m => m.CreatedDate, new { @class = "popup-content-textbox" })
                    </div>
                    <div class=" row3 content_margine">
                        <label class="popup-content-label must">Competency Model Object Type:</label>
                        <select class="drop must" style="width:180px;" name="Modellist" id="Modellist">
                            <option></option>
                        </select>
                    </div>
                    <div class=" row3 content_margine">
                        <label class="popup-content-label must">Model Object List:</label>
                        <select class="drop must" style="width:180px;" name="ModelObjectlist" id="ModelObjectlist">
                            <option></option>
                        </select>

                        @*<div class="newstruct-div">
                            <div class="transactiondiv without-btn">
                                <div><label>Search : </label><input type="text" id="Model-search" /></div>
                                <table cellspacing="0" cellpadding="1" class="transactiontable" id="Model-table">
                                    <tr><th><input type="checkbox" id="Case-Model" /></th><th>Model List</th></tr>
                                </table>
                            </div>
                        </div>*@
                    </div>
                    <div class="row3 content_margine ">
                        <label class="popup-content-label must">Modesl Subtype Object List:</label>
                        <table id="ModelObject-table" style="overflow:auto">
                            <tr><th>Model Object SubType</th></tr>
                        </table>
                        <button id="save_data" style="left: 3px; top: 200px; font-weight:bold">Save Data</button>
                        </div>
                    </div>
                
                <div class="section2_Leave" style="width:565px">
                    <div class="row3 content_margine">
                        <label class="heading">Model Data</label>
                        <table id="monthTable">
                            <tr><th>Sr.No</th><th>Model ObjectType</th><th>Model Object</th></tr>
                        </table>
                    </div>
                 
                    </div>
                
            }
        </div>
    </div>
</body>
</html>
<script>
    $('#competencym').hide();
    $('button').button();
    $('#Competencymodellist').selectmenu().selectmenu("menuWidget");
    $('#Competencymodellist').P2BSelectMenuAppend('@Url.Action("GetCompetencyData", "CompetencyModel")', '', "");

    $(document).ready(function (e) {
            $('#competencym').show();
            $('#Grid_Form1').show();
            $('#Grid_Form').hide();
            $('#MyTable1').MultiLevelInlineEditGrid({
                url: "@Url.Action("CompetencyModel_Grid")",
                columnname: ["Code", "ModelName", "ModelDescription", "CreatedDate", "Id", ],
                childheader: ["ModelObjectType", "ModelObject", "Id"],
                childurl: "@Url.Action("A_CompetencyModel_Grid", "CompetencyModel")",
                tableheader: "Competency Model",
                childurlColumnNo: "5"
            });

        $.DataTableChildManipulation = function (init, id, parentid, htmurl, editurl, submiturl) {
            // console.log($(init).parents('tr:eq(0)'));

            var parent_element = $(init).parents('td:last').parent().prev();
              var tr = $(init).parents('tr');
              var chhassa = $(parent_element).find('td:eq(5)').html() + "-" + $(tr.find("td:eq(1)")).text();
          
            var dt = $('#MyTable').DataTable();
           
            var htmlcomponant = {
                init: init,
                Id: id,
                idx: parentid,
                htmurl: htmurl,
                editurl: editurl,
                submiturl: submiturl,
            };
            if ($(init).hasClass('ui-icon-newwin')) {
                $('<div></div>').PartialCreateDialog({
                    height: 'auto',
                    width: 'auto',
                    form: "#frm-YearlyPaymentT-partial",
                    htmlurl: htmurl,
                    state: "open",
                    mode: "View",
                    editurl: "@Url.Action("EditGridDetails", "YearlyPaymentT")",
                    submiturl: "@Url.Action("GridEditSave", "YearlyPaymentT")",
                    editdata: id,
                    forwarddata: id,
                    returndatafunction: function (data) {
                        $.each(data.data, function (i, k) {
                            $('#yearlypayment-AmountPaid').val(k.AmountPaidP);
                            $('#yearlypayment-TDSAmount').val(k.TDSAmountP);
                            $('#yearlypayment-OtherDeduction').val(k.OtherDeductionP);
                            //$('#yearlypayment-Narration').val(k.NarrationP);
                        });
                    }
                });
            } else if ($(init).hasClass('ui-icon-pencil')) {
                 

                        $('<div></div>').PartialCreateDialog({
                            height: 'auto',
                            width: '35%',
                            form: "#Edit-CompetencyModel",
                            title: "Edit CompetencyModel",
                            htmlurl: htmurl,
                            state: "open",
                            mode: "Edit",
                            editurl: "@Url.Action("EditGridDetails", "CompetencyModel")",
                            submiturl: "@Url.Action("GridEditSave", "CompetencyModel")",
                            editdata: id,
                            forwarddata: chhassa,
                            returndatafunction: function (data) {
                                $.each(data, function (i, k) {
                                    $('#ModelObjectListE').P2BLookUpEncapsulate('#ModelObjectListE', 'ModelObjectListE', k.srno, k.lookupvalue, 'ModelObjectListE', '#Remove-Address-Location', 'A');
                                });
                            },
                            submitfun: function (data) {
                                var row = dt.row(parent_element);
                                if (row.child.isShown()) {
                                    parent_element.removeClass('details');
                                    row.child.hide();
                                }
                            }
                        });
                    }
            else if ($(init).hasClass('ui-icon-trash')) {
                $('<div></div>').PartialCreateDialog({
                    state: "open",
                    mode: "Delete",
                    submiturl: "@Url.Action("GridDelete")",
                    forwarddata: id,
                    editdata: chhassa,
                    submitfun: function (data) {
                        var row = dt.row(parent_element);
                        
                        if (row.child.isShown()) {
                            parent_element.removeClass('details');
                            row.child.hide();
                        }
                    }
                });
                @*$.get("@Url.Action("EditGridDetails", "YearlyPaymentT")", { data: id }, function (data) {
                    if (data.ReleaseFlagP == true) {
                        alert("You can not Delete this Record because this payment has Released");
                    } else if (data.LvencashId != "") {
                        alert("You can  Delete this Record From LeaveEncashPayment Form");
                    }
                    else {
                       
                    }
                });*@
            }
        };
       

      
        $('#Load').click(function () {
            $('#competencym').show();
            $('#Grid_Form1').hide();
            $('#Grid_Form').show();
            var selectedtext = $("#Competencymodellist option:selected").text();
            $('#MyTable').MultiLevelInlineEditGrid({
                url: "@Url.Action("CompetencyModel_Grid")?selectedtextcmn=" + selectedtext,
                columnname: ["Code", "ModelName", "ModelDescription", "CreatedDate", "Id"],
                htmurl: "@Url.Action("partial", "CompetencyModel")",
                childheader: ["ModelObjectType", "ModelObject",  "Id"],
                childurl: "@Url.Action("A_CompetencyModel_Grid", "CompetencyModel")",
                tableheader: "Competency Model",
                childurlColumnNo: "5"
            });
        });

        $('#save_data').on('click', function (e) {  
            var ModelObjectType = $("#Modellist option:selected").text();
            let text1 = $("#ModelObjectlist option:selected").val();
            let text2 =  $("#ModelObjectlist option:selected").text();
            let result = text1.concat("-", text2);

            var data = [];
            $.each($("#ModelObject-table tr"), function () { //tr which has selected class which is delcared in standard css as standardtr.
                if (jQuery(this).find('td').eq(0).text() != "") {
                    data.push(jQuery(this).find('td').eq(0).text());
                }
            });
            
            $.ajax({
                url: "@Url.Action("savedata", "CompetencyModel")",
                method: "POST",
                cache: false,
                contentType: 'application/json',
                datatype: 'json',
                data: JSON.stringify({
                    ModelObjectType: ModelObjectType, ModelObjectList: result, ModelObjectSubTypeList: data.toString()
                }),
                success: function (data) {
                    $('#save_data').attr('disabled', 'disabled');
                    $('#ModelObject-table tr:gt(0)').remove();
                    var tr = "";
                    var index = 1;
                    var tempclass = "";
                    $('#monthTable tr:gt(0)').remove();

                    $.each(data, function (i, k) {
                        tempclass = "weeklyoffclass";

                        tr += "<tr class='" + tempclass + "' Id='" + index + "'><td>" + index + "</td><td>" + k.ModelObjectType + "</td><td>" + k.ModelObjectList.toString().split("-")[1] + "</td></tr>";
                        index++;
                        tempclass = "";
                        //});
                    });
                    $('#monthTable tr:last').after(tr);
                    alert("Data saved");
                }
            });
        });

        $('#Create').on("click", function (event) {
            $.FormReset('#frmCompetencyModel');
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Competency Model', 'open', '@Url.Action("Create")', '#frmCompetencyModel', 'Message :', 'Request Falied :', '#JqGrid', 650, 1100, '', '', function (data) { }, {  });
            $('#CreatedDate').TodayDate();
            $('#CreatedDate').attr("readonly", "readonly");
            $('#Modellist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 507, "");
            event.preventDefault();

        });

        $('#Edit').on('click', function () {
            $('#frmCompetencyModel').trigger("reset");
            var b = localStorage.getItem('MyTable_selected');
            var a = JSON.parse(b);
            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', a.Id, '@Url.Action("EditSave")', "Edit Competency Model", '#frmCompetencyModel', a.Id, 'Message : ', 'Request Falied :', '#JqGrid', 650, 1100, '', '', function (data) {
                 $.each(data[0], function (i, k) {
               
                    $('#frmCompetencyModel').trigger("reset");
                    $('#Code').val(k.Code);
                    $('#Code').attr("readonly", "readonly");
                    $('#ModelName').val(k.ModelName);
                    $('#ModelDescription').val(k.ModelDescription);
                    $('#CreatedDate').val(k.CreatedDate);
                    $('#CreatedDate').attr("readonly", "readonly");
                });
                 $('#Modellist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 507, "");
                //partial page bind
                //$.each(data[1], function (i, k) {
                //    $('#PersonnelModelObjectList').P2BLookUpEncapsulate('#PersonnelModelObjectList', 'PersonnelModelObjectList', k.PersonnelModelObject_Id, k.PersonnelModelObject_FullDetails, 'PersonnelModelObjectList', '#Edit-HOCalendar-Department,#Remove-HOCalendar-Department', 'A');
                //});
            }, { datatablename: "#MyTable" });

        });

        
        $('#Delete').button().click(function (event) {
            $.FormReset('#frmCompetencyModel');
            var b = localStorage.getItem('MyTable_selected');
            var a = JSON.parse(b);
            $('#Create_Dialog').P2BDeleteModalDialog('@Url.Action("Delete")', a.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200, { datatablename: "#MyTable" });
            event.preventDefault();
        });

        $('#Modellist').on('selectmenuchange', function () {
            var value = $("#Modellist option:selected").text();
              $('#ModelObjectlist').P2BSelectMenuAppend('@Url.Action("DropdownlistModels")?Modellist=' + value, "", "");
           // $('#Model-table').P2BTransactionTable('#Model-search', '#Case-Model', '@Url.Action("DropdownlistModels")?Modellist=' + value, "");
            $('#save_data').removeAttr('disabled');
            $('#ModelObjectList tr:gt(0)').remove();
        });

        $('#ModelObjectlist').on('selectmenuchange', function () {
            var ModelId = $("#Modellist option:selected").text();
            var ModelobjId = $("#ModelObjectlist option:selected").val();
            $.ajax({
                url: "@Url.Action("GetModelData", "CompetencyModel")",
                data: { Modellist: ModelId, ModelobjId: ModelobjId },
                success: function (data) {
                    var tr = "";
                    $('#ModelObject-table tr:gt(0)').remove();

                    $.each(data, function (i, k) {
                        tr += "<tr Id='" + k.srno + "'><td>" + k.lookupvalue + "</td></tr>";
                       
                    });
                    $('#ModelObject-table tr:last').after(tr);
                }
            });

        });



        $('#Lookup-ModelObjectList').button().on('click', function (event) {
            var value = $("#Modellist option:selected").text();
            var Val = $('#Model-table').P2BGetTableDataonSelectedRow('#Model-table', 1);
            $('.dialog').P2BLookUpModal('@Url.Action("GetModelData")?Val=' + Val + '&Modellist=' + value, '', 'LookupDiv', 'Look Up Data', '#ModelObjectList', 'ModelObjectList', 5, 'ModelObjectList', '#frmCompetencyModel', 'A', '#Remove-Category-DivisionTargetSetting', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });


        $('#Remove-ModelObjectList').button().on('click', function (event) {
            //var a = [], b;
            //a = $('#ModelObjectList').P2BGetTableDataonSelectedRow('#ModelObjectList', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#ModelObjectList').P2BGetTableDataonSelectedRow('#ModelObjectList', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#ModelObjectList', $('#ModelObjectList').val(), 200, 200, '#frmCompetencyModel', '#ModelObjectList');
            event.preventDefault();
        });

        $('#Code').ValidateTextBox({ maxlength: 10 });
        $('#ModelName').ValidateTextBox({ maxlength: 25 });
        $('#ModelDescription').ValidateTextBox({ maxlength: 50 });
        $('#Create_Dialog').P2BCreateDialog();
        $('#Modellist').selectmenu().selectmenu("menuWidget");
        $('#ModelObjectlist').selectmenu().selectmenu("menuWidget");

    });

</script>

