@{
    ViewBag.Title = "Insurance Details";
}
@model Payroll.InsuranceDetailsT
<html>

<head>

    <title></title>
    <script>
        $(document).ready(function (e) {
            $('button').button();
            $('#PolicyNo').ValidateTextBox({ maxlength: 25, name: true, alphanum: true });
            $('#Premium').ForceOnlyNumeric().MaxLength(10);
            $('#SumAssured').ForceOnlyNumeric().MaxLength(10);
            function DateConvert(JsonDate) {
                var date = new Date(parseInt(JsonDate.substr(6)));
                var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
                return displayDate;
            };
            $('#MyTable').MultiLevelInlineEditGrid({
                url: "@Url.Action("Emp_Grid", "IncrementServiceBook")",
                columnname: ["Code", "Name", "Id"],
                childheader: ["PolicyNo", "SumAssured", "Premium","FromDate","ToDate", "Status", "Id"],
                childurl: "@Url.Action("Get_InsuranceDetails", "InsuranceDetailsT")",
                htmurl: "@Url.Action("partial", "InsuranceDetailsT")",
                tableheader: "Insurance Details",
                childurlColumnNo: "3"
            });

            $.DataTableChildManipulation = function (init, id, parentid, htmurl, editurl, submiturl) {
                var parent_element = $(init).parents('td:last').parent().prev();
                var dt = $('#MyTable').DataTable();
                var htmlcomponant = {
                    init: init,
                    Id: id,
                    idx: parentid,
                    htmurl: htmurl,
                    editurl: editurl,
                    submiturl: submiturl,
                };
                if ($(init).hasClass('ui-icon-newwin')) {
                    $('#Edit').ProcessConfirmation1({
                        confirmurl: "@Url.Action("ChkProcess")",
                        month: "#txtPayMonth",
                        EmpCode: parentid,
                        msg: "Salary will be deleted,Still You Want to edit..?Please Confirm..!",
                        status: function (data) {
                            if (data == true) {
                                $('<div></div>').PartialCreateDialog({
                                    height: 'auto',
                                    width: 'auto',
                                    form: "#frm-InsuranceDetailsT-partial",
                                    htmlurl: htmurl,
                                    state: "open",
                                    mode: "View",
                                    editurl: "@Url.Action("EditGridDetails", "InsuranceDetailsT")",
                                    submiturl: "@Url.Action("GridEditSave", "InsuranceDetailsT")",
                                    editdata: id,
                                    forwarddata: id,
                                    returndatafunction: function (data) {
                                        $.each(data.data, function (i, k) {
                                            $('#InsuranceDetailsT-PolicyNo').val(k.PolicyNo);
                                            $('#InsuranceDetailsT-SumAssured').val(k.SumAssured);
                                            $('#InsuranceDetailsT-Premium').val(k.Premium);
                                            $('#InsuranceDetailsT-Frequency').val(k.Frequency);
                                            $('#InsuranceDetailsT-OpStatus').P2BSelectMenuAppend("@Url.Action("GetLookupValue","Lookup")", 488, k.OperationStatus);
                                            $('#Closer-Date').val(DateConvert(k.ToDate));
                                        });
                                    },
                                    submitfun: function (data) {
                                        var row = dt.row(parent_element);
                                        if (row.child.isShown()) {
                                            parent_element.removeClass('details');
                                            row.child.hide();
                                        }
                                    }
                                });
                                $('#PayMonth').val($('#txtPayMonth').val());
                            }
                        }
                    });

                } else if ($(init).hasClass('ui-icon-pencil')) {
                    $('<div></div>').PartialCreateDialog({
                        height: 'auto',
                        width: 'auto',
                        form: "#frm-InsuranceDetailsT-partial",
                        htmlurl: htmurl,
                        state: "open",
                        mode: "Edit",
                        editurl: "@Url.Action("EditGridDetails", "InsuranceDetailsT")",
                        submiturl: "@Url.Action("GridEditSave", "InsuranceDetailsT")",
                        editdata: id,
                        forwarddata: id,
                        returndatafunction: function (data) {
                            $.each(data.data, function (i, k) {
                                $('#InsuranceDetailsT-PolicyNo').val(k.PolicyNo);
                                $('#InsuranceDetailsT-SumAssured').val(k.SumAssured);
                                $('#InsuranceDetailsT-Premium').val(k.Premium);
                                $('#InsuranceDetailsT-Frequency').val(k.Frequency);
                                $('#InsuranceDetailsT-OpStatus').P2BSelectMenuAppend("@Url.Action("GetLookupValue","Lookup")", 488, k.OperationStatus);
                                $('#Closer-Date').val(DateConvert(k.ToDate));
                            });
                        },
                        submitfun: function (data) {
                            var row = dt.row(parent_element);
                            if (row.child.isShown()) {
                                parent_element.removeClass('details');
                                row.child.hide();
                            }
                        }
                    });
                } else if ($(init).hasClass('ui-icon-trash')) {
                    $('<div></div>').PartialCreateDialog({
                        state: "open",
                        mode: "Delete",
                        submiturl: "@Url.Action("Delete")",
                        forwarddata: id,
                        submitfun: function (data) {
                            var row = dt.row(parent_element);
                            if (row.child.isShown()) {
                                parent_element.removeClass('details');
                                row.child.hide();
                            }
                        }
                    });
                }
            };
            $('#FromDate').P2BDatePicker();
            $('#ToDate').P2BDatePicker();
            $('#ReleaseDate').P2BDatePicker();
            $('#Closer-Date').P2BDatePicker();



            $('#Advance-Filter-Symbol').on('click', function () {
                $("<div></div>").FilterDialog({
                    width: 1000,
                    height: 400,
                    title: "Filter",
                    htmlurl: "@Url.Action("Advance_partial", "Transcation")",
                    returnat: function (data) {
                        console.log(data);
                        var forwarddata = JSON.stringify(data);
                        $('#Employee-Table').P2BTransactionTableDynamic('#Employee-Search', '#Case-Employee', './Transcation/Get_Employelist_h?geo_id=' + forwarddata + '', "");
                        //$('#Employee-Table').P2BTransactionTableDynamic('#Employee-Search', '#Case-Employee', './Transcation/Get_Employelist?geo_id=' + forwarddata + '', "");
                        //$('#pay_id').val(data.PayStruct);
                        //$('#fun_id').val(data.FunStruct);
                    },
                    renderat: "#FormFilter", hierarchy: true,
                });
                //console.log($('#FormFilter')[0]);
            });
            $('#Btn-Upload-Data').on('click', function (e) {
                $('<div></div>').PartialCreateDialog({
                    height: '500',
                    width: '700',
                    form: '#frmlookup',
                    title: 'Upload',
                    htmlurl: '@Url.Action("PARTIAL","JSONUPLOAD")',
                    state: "open",
                    mode: 'edit',
                    editurl: null,
                    submiturl: null,
                    editdata: 'a',
                    forwarddata: 'a',
                    returndatafunction: function (data) {
                        console.log(data);
                    },
                    submitfun: function (data) {
                        console.log(data);
                    }
                });
            });


            $('#Create_Dialog').P2BCreateDialog();

            //Create Function
            $('#add').on("click", function (event) {
                $('#frmInsuranceDetailsT').trigger("reset");
                $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create Insurance Details', 'open', '@Url.Action("Create")', '#frmInsuranceDetailsT', 'Message :', 'Request Falied :', '#JqGrid', 600, 1200, '#AddressList,#ContactDetailsList', '', function (data) { }, { datatablename: "#MyTable" });
                $('#FromDate').attr('readonly', true);
                $('#ToDate').attr('readonly', true);
                $('#Frequencylist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 421, "");

                $('#OperationStatuslist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 488, "");
                //$.LoadEmpByDefault(true);
                $.LoadEmpByDefaultWOGeoId(true, "");
                event.preventDefault();
            });
            $('#Lookup-InsuranceProduct-InsuranceDetailsT').on('click', function (event) {
                $('.dialog').P2BLookUpModal('@Url.Action("GetInsuranceDetailsTDetails", "InsuranceDetailsT")', '', 'LookupDiv', 'Look Up Data', '#InsuranceProductlist', 'InsuranceProductlist', 5, 'InsuranceProductlist', '#frmInsuranceDetailsT', 'N', '#Remove-InsuranceProduct-InsuranceDetailsT', 'Lookup_table', 'PageNavPosition');
                event.preventDefault();
            });
            $('#Remove-InsuranceProduct-InsuranceDetailsT').button().on('click', function (event) {
                //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
                //var a = [], b;
                //a = $('#InsuranceProductlist').P2BGetTableDataonSelectedRow('#InsuranceProductlist', 0);
                //b = a[0];

                var selectedRows = [];
                selectedRows = $('#InsuranceProductlist').P2BGetTableDataonSelectedRow('#InsuranceProductlist', 0);
                console.log("Verify...");

                $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#LvEncashReqlist', $('#InsuranceProductlist').val(), 200, 200, '#frmInsuranceDetailsT', '#InsuranceProductlist', '');
                event.preventDefault();
            });

            $('#ProcessMonth').MonthYearPicker();
            $('#PayMonth').MonthYearPicker();
            $('.popup_radio_button').controlgroup();
            $('#OperationStatuslist').selectmenu().selectmenu("menuWidget");
            $('#Frequencylist').selectmenu().selectmenu("menuWidget");
        });
    </script>
    <style>
        .icon-row {
            position: absolute;
            top: 131px;
            left: 67px;
        }

        .popup-content-label {
            display: block;
            float: left;
            width: 101px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 150px;
        }

        .row3 {
            width: 280px;
            display: inline-flex;
        }

        .row4 {
            position: absolute;
            top: 294px;
            width: 400px;
        }


        .row2 {
            width: 402px;
        }


        .FormYearlypymentt {
            margin-left: 298px;
            margin-top: 15px;
        }

        .section1_YearlyPT {
            display: block;
            border: 1.5px solid rgba(207, 207, 207, 0.91);
            height: 539px;
            width: 417px;
            margin: 4px auto;
            position: absolute;
        }

        .FormRelaseYearlypymentt {
            margin-top: 10px;
        }

        .section1_Leave {
            display: block;
            border: 1.5px solid rgba(207, 207, 207, 0.91);
            height: 560px;
            width: 534px;
            margin: 4px auto;
            position: absolute;
        }

        .section2_Leave {
            display: block;
            border: 1px solid #ddd;
            height: 300px;
            width: 581px;
            margin: 5px 4px;
            position: absolute;
            left: 546px;
        }

        .FormYearlypymentt {
            margin-top: 10px;
        }

        .transactiontablenew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            /*width: 200px;*/
            display: block;
            overflow: auto;
            height: 500px;
            border-collapse: collapse;
        }

        .transactiondivnew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            width: 507px;
            border-radius: 5px;
            height: 32px;
        }

            .transactiondivnew > div {
                display: inline-block;
                margin: 0 auto;
                padding: 4px;
            }

                .transactiondivnew > div > input {
                    box-sizing: initial;
                    display: inline-block;
                    margin: 0 auto;
                    width: 108px;
                }

        .transactiontablenew th, .transactiontablenew td {
            background: rgba(246, 246, 246, 0.64) none repeat scroll 0 0;
            padding: 5px;
            border-bottom: 1px solid #c5c5c5;
            border-right: 1px solid #c5c5c5;
            text-align: center;
            color: rgba(114, 113, 113, 0.9);
        }

            .transactiontablenew th:nth-child(1) > input, .transactiontablenew td:nth-child(1) > input {
                margin: 0 auto;
            }

            .transactiontablenew th:nth-child(2), .transactiontablenew td:nth-child(2) {
                height: 100%;
                width: 100%;
            }

        .transactiontablenew tr:hover {
            cursor: pointer;
            background: #EEEEEE none repeat scroll 0 0;
        }
    </style>
</head>

<body>

    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <button class="button" id="add">Add</button>
                <button class="button" id="Btn-Upload-Data">Upload</button>

            </div>
        </div>
    </div>

    <div id="Container" class="container">
        <div id="Demo">
            <table id="MyTable" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>DD</th>
                        <th>Employee Code</th>
                        <th>Employee Name</th>
                        <th>ID</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>DD</th>
                        <th>Employee Code</th>
                        <th>Employee Name</th>
                        <th>ID</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>

    <div id="Create_Dialog" title="Create Insurance Detail ">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmInsuranceDetailsT", name = "frmInsuranceDetailsT" }))
        {
            <div class="filter-div">
                <label class="advance_filter_label">Advance Filter<span class="advance_filter_sysmbol_class_plus" id="Advance-Filter-Symbol"></span></label>
                <div id="FormFilter"></div>
            </div>
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
            @*<input id="emp_Id" class="filter_structure_id" name="emp_Id" />*@
            <div class="section1_Leave">
                <div class="employeeselectiondiv">
                    <div class="transactiondivnew dynamic addons" style="float:left">
                        <div><label>Search : </label><input type="text" id="Employee-Search" style="width: 425px;" /></div>
                        <table cellspacing="0" cellpadding="1" class="transactiontablenew" id="Employee-Table">
                            <tr><th><input type="checkbox" id="Case-Employee" /></th><th>Employee</th></tr>
                        </table>
                        @*<span class="btn-span1" aria-hidden="true">
                                <button id="load_emp" class="loan-btn">Load Employee</button>
                            </span>*@
                    </div>
                    <input name="geo_id" type="text" id="geo_id" class="struct_input_val" style="display:none" />
                    <input name="pay_id" type="text" id="pay_id" class="struct_input_val" style="display:none" />
                    <input name="fun_id" type="text" id="fun_id" class="struct_input_val" style="display:none" />
                </div>
            </div>

            <div class="section2_Leave">

                <div class="row3 content_margine">@Html.LabelFor(m => m.PolicyNo, "Policy No:", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.PolicyNo, new { @class = "popup-content-textbox must" })</div>
                <div class="row3 content_margine">@Html.LabelFor(m => m.Frequency, "Frequency:", new { @class = "popup-content-label must" })<select class="must" id="Frequencylist" name="Frequencylist" style="width:159px;"><option value="0">-Select-</option></select></div>
                <div class="row3 content_margine">@Html.LabelFor(m => m.FromDate, "Period From:", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.FromDate, new { @class = "popup-content-textbox must" })</div>
                <div class="row3 content_margine">@Html.LabelFor(m => m.ToDate, "Period To:", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.ToDate, new { @class = "popup-content-textbox must" })</div>

                <div class="row3 content_margine">@Html.LabelFor(m => m.Premium, "Premium:", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Premium, new { @class = "popup-content-textbox must" })</div>
                <div class="row3 content_margine">@Html.LabelFor(m => m.SumAssured, "Sum Assured:", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.SumAssured, new { @class = "popup-content-textbox must" })</div>

                <div class="row3 content_margine">@Html.LabelFor(m => m.OperationStatus, "Operation Status:", new { @class = "popup-content-label must" })<select class="must" id="OperationStatuslist" name="OperationStatuslist" style="width:159px;"><option value="0">-Select-</option></select></div>
                <div class="row2 content_margine">
                    <div id="InsuranceProductlist_old"></div>
                    @Html.LabelFor(m => m.InsuranceProduct, "Insurance Product:", new { @class = "popup-content-label must" })
                    <div class="popup-content-table">
                        <table class="lookuptableselected" id="InsuranceProductlist">
                            <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                        </table>
                    </div>
                    <div class="icon-row">
                        <button data-p2btooltip="Select Insurance Product" class="  popup-content-icon-lookup" id="Lookup-InsuranceProduct-InsuranceDetailsT"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                        <button data-p2btooltip="remove Insurance Product" class="popup-content-icon-remove" id="Remove-InsuranceProduct-InsuranceDetailsT"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                    </div>
                </div>


            </div>

        }
    </div>



</body>
</html>
