@model  Recruitment.RecruitJoinParaProcessResult
@{
    ViewBag.Title = "Candidate Personnel Process";
}



<html>

<head>
    <title></title>
    <style>
        .icon-row {
            position: relative;
            left: -18px;
            top: -144px;
        }

        .icon-row1 {
            position: relative;
            left: -2px;
            top: -21px;
        }

        .icon-row3 {
            position: relative;
            left: -6px;
            top: -23px;
        }

        #BusinessType-button {
            font-size: 9px;
            padding-top: 1px;
            font-weight: bold;
        }

        .popup-content-label {
            width: 125px;
            display: block;
            float: left;
            margin: 1px;
        }

        .popup-content-label-2 {
            width: 155px;
            display: block;
            float: left;
            margin: 1px;
        }

        .popup-content-label-3 {
            width: 110px;
            margin: 1px;
        }

        .section_Method1 {
            border: 1px solid rgba(207, 207, 207, 0.91);
            border-radius: 10px;
            margin-top: 0px;
            margin-bottom: -6px;
            margin-left: 510px;
            width: 492px;
            height: 525px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 150px;
        }

        .row3 {
            width: 402px;
        }

        .row4 {
            position: absolute;
            top: 294px;
            width: 400px;
        }

        .row6 {
            width: 260px;
            display: inline-block;
        }

        .row7 {
            width: 500px;
            display: inline-block;
        }

        .row8 {
            width: 500px;
            right: 50px;
            display: inline-block;
        }

        .popup-content-textbox-long {
            margin-bottom: 1px;
            width: 290px;
        }


        .row2 {
            width: 402px;
        }

        .section1 {
            display: block;
            border: 1.5px solid rgba(207, 207, 207, 0.91);
            height: 180px;
            width: 1043px;
            margin: 4px auto;
            position: absolute;
            left: 12px;
            top: 100px;
        }

        .section3 {
            display: block;
            border: 1.5px solid rgba(207, 207, 207, 0.91);
            height: 25px;
            width: 1043px;
            margin: 4px auto;
            position: absolute;
            left: 12px;
            top: 280px;
        }

        .section2 {
            display: block;
            /*border: 1.5px solid rgba(207, 207, 207, 0.91);*/
            height: 300px;
            width: 1043px;
            margin: 4px auto;
            left: 12px;
            top: 315px;
        }

        .popup-content-drop-icon-edit, .popup-content-drop-icon-create, .popup-content-drop-icon-lookup {
            display: inline-block;
            left: 0;
            top: 4px;
        }

        .popup-content-drop-icon-edit, .popup-content-drop-icon-create, .popup-content-drop-icon-lookup {
            height: 20px;
            margin: auto;
            position: absolute;
            width: 20px;
            left: 24px;
        }

        .popup-content-drop-icon-edit {
            left: 76px;
        }

        .popup-content-drop-icon-lookup {
            left: 29px;
        }

        .popup-content-drop-icon-lookup {
            left: 29px;
        }

        .popup-content-icon-create {
            left: 346px;
            margin-top: 101px;
        }

        .bg {
            float: left;
            width: 345px;
            padding-top: 15px;
        }

        .employeeselectiondiv {
            float: left;
        }

        .transactiontablenew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            /*width: 200px;*/
            display: block;
            overflow: auto;
            height: 500px;
            border-collapse: collapse;
        }

        .transactiondivnew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            width: 507px;
            border-radius: 5px;
            height: 32px;
        }

            .transactiondivnew > div {
                display: inline-block;
                margin: 0 auto;
                padding: 4px;
            }

                .transactiondivnew > div > input {
                    box-sizing: initial;
                    display: inline-block;
                    margin: 0 auto;
                    width: 108px;
                }

        .transactiontablenew th, .transactiontablenew td {
            background: rgba(246, 246, 246, 0.64) none repeat scroll 0 0;
            padding: 5px;
            border-bottom: 1px solid #c5c5c5;
            border-right: 1px solid #c5c5c5;
            text-align: center;
            color: rgba(114, 113, 113, 0.9);
        }

            .transactiontablenew th:nth-child(1) > input, .transactiontablenew td:nth-child(1) > input {
                margin: 0 auto;
            }

            .transactiontablenew th:nth-child(2), .transactiontablenew td:nth-child(2) {
                height: 100%;
                width: 100%;
            }

        .transactiontablenew tr:hover {
            cursor: pointer;
            background: #EEEEEE none repeat scroll 0 0;
        }

        .heading {
            width: 117%;
        }

        .Button_Container {
            /* height: 42px; */
            margin-left: 1px;
            margin-right: 1px;
            /* margin-top: 9px; */
            padding: 8px;
            position: relative;
        }
    </style>
</head>
<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            @*<div class="bg">
                    <label class="popup-content-label must">Advertise And Job Reference No:</label>
                    <input name="TextPayMonth" type="text" id="TextPayMonth" class="popup-content-textbox" readonly />
                    <input type="text" id="Batch_Name" name="Batch_Name" class="popup-content-textbox filter_structure_id" />
                    <button data-p2btooltip="Select Lookup" class="button popup-content-icon-create " id="Lookup_BatchName" style="margin-left: -23px;">
                        <span class="ui-icon ui-icon-folder-open popup-content-iconmark "></span>
                    </button>
                </div>
                <div style="padding-top:15px;">
                    <label class="popup-content-label ">Joining Process Parameter:</label>
                    <input type="text" hidden id="TrainingScheduleList1" name="TrainingScheduleList1" class="popup-content-textbox" />
                    <input type="text" readonly id="dispcalender1" class="popup-content-textbox" name="dispcalender1" />
                    <div class="icon-row1">
                        <button data-p2btooltip="Lookup Evaluation Parameter" class="popup-content-icon-create" id="Lookup-Session-TrainingFeedback">
                            <span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span>
                        </button>
                    </div>

                </div>*@
            @* <button class="button" id="Load">Load</button>*@
            @*<div class="row7 content_margine">
                    <div id="AdPostList"></div>@Html.LabelFor(m => m.RecruitBatchInitiator, "Advertise And Job Reference No. :", new { @class = "popup-content-label-2" })
                    <div class="popup-content-table" style="width: 522px;">
                        <table class="lookuptableselected" id="AdPostListM">
                            <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                        </table>
                    </div>
                    <div class="icon-row">
                        <button data-p2btooltip="Lookup " class="popup-content-icon-lookup" id="Lookup-RecruitExpenses-RecruitInitiator"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Create " class="popup-content-icon-create" id="Create-RecruitExpenses-RecruitInitiator"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Edit " class="popup-content-icon-edit" id="Edit-RecruitExpenses-RecruitInitiator"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button
                        <button data-p2btooltip="Remove " class="popup-content-icon-remove" id="Remove-RecruitBatchInitiator-RecruitInitiator"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                    </div>
                </div>*@

            @*<div class="row7 content_margine">
                    <div id="ShortlistList"></div>@Html.LabelFor(m => m.RecruitBatchInitiator, "Shortlisting Parameter :", new { @class = "popup-content-label-2" })
                    <div class="popup-content-table" style="width: 522px;">
                        <table class="lookuptableselected" id="ShortListM">
                            <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                        </table>
                    </div>
                    <div class="icon-row">
                        <button data-p2btooltip="Lookup " class="popup-content-icon-lookup" id="Lookup-Shortlistcriteria"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Create " class="popup-content-icon-create" id="Create-Shortlistcriteria"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Edit " class="popup-content-icon-edit" id="Edit-RecruitExpenses-RecruitInitiator"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Remove " class="popup-content-icon-remove" id="Remove-RecruitExpenses-RecruitInitiator"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                    </div>
                </div>*@
            @*<div class="section2">*@
            <div class="Button_Container">
                @*<button class="button" id="Load">Load</button>*@
                <div style="float: left; width: 363px;">
                    <label id="lblPayMonth" class="popup-content-label must">Advertise Reference No:</label>
                    <input name="txtAdvertiseNo" type="text" id="txtAdvertiseNo" style="width: 195px;" />
                    <input type="text" id="AdvertiseReference" name="AdvertiseReference" class="filter_structure_id" />
                    <div class="icon-row3">
                        <button data-p2btooltip="Select Advertise Reference NO" class="button popup-content-icon-lookup" id="Lookup_AdvertiseName">
                            <span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span>
                        </button>
                    </div>
                </div>
                <div style="float: left; width: 359px;">
                    <label id="lblPayMonth" class="popup-content-label must">Batch Name:</label>
                    <input name="txtBatchName" type="text" id="txtBatchName" style="width: 200px;" />
                    <input type="text" id="Batch_Name12" name="Batch_Name12" class="filter_structure_id must" />
                    <div class="icon-row1">
                        <button data-p2btooltip="Select Batch Name" class="button popup-content-icon-lookup" id="Lookup_BatchName">
                            <span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span>
                        </button>
                    </div>
                </div>
                <button class="button" id="Load">Load</button>
                @*<button class="button" id="Create">Create</button>*@
                <button class="button" id="Edit">Edit</button>
                @*<button class="button" id="View">View</button>
                    <button class="button" id="Edit">Edit</button>
                    <button class="button" id="Delete">Delete</button>
                    <button class="button" id="Autho">Authorised</button>*@
                @*<div id="Grid_Form">
                        <div>
                            <table id="JqGrid"></table>
                            <div id="pager2"></div>
                        </div>
                    </div>*@
                <div id="Grid_Form">
                    <div>
                        <div id="Container" class="container">
                            <div id="Demo">
                                <table id="MyTable" class="display" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>DD</th>
                                            <th>CandidateName</th>
                                            <th>Fulldetails</th>
                                            <th>HRJoiningStatus</th>
                                            <th>ID</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>DD</th>
                                            <th>CandidateName</th>
                                            <th>HRJoiningStatus</th>
                                            <th>ID</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        @*</div>*@
    </div>

    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv" id="lookup"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>

    <div id="Create_Dialog" title="Create Joining Process">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmRecruitInitiator", name = "frmRecruitInitiator" }))
        {
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
            //add calendar to view
            <div>
                <label class="popup-content-label must">Advertise And Job Reference No:</label>
                <input name="TextPayMonth" type="text" id="txtPayMonth1" readonly />
                <input type="text" id="Batch_Name1" name="Batch_Name1" class="filter_structure_id" />
                <div class="icon-row">
                    <button data-p2btooltip="Select Advertise And Job Reference NO" class="button popup-content-icon-create " id="Lookup_BatchName1">
                        <span class="ui-icon ui-icon-folder-open popup-content-iconmark "></span>
                    </button>
                </div>
                @*<button style="left:3%;top:-10%" id="">Load</button>*@
            </div><br>
            <label class="popup-content-label ">Joining Process Parameter:</label>
            <input type="text" hidden id="TrainingScheduleList1" name="TrainingScheduleList1" class="popup-content-textbox" />
            <input type="text" readonly id="dispcalender12" class="popup-content-textbox" name="dispcalender12" />
            <div class="icon-row">
                <button data-p2btooltip="Select Shortlisting Parameter" class="button popup-content-icon-create" id="Lookup-Session-TrainingFeedback1">
                    <span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span>
                </button>
            </div>
            @*<div style="padding-top:15px;">
                    <label class="popup-content-label ">Recruit Evaluation Parameter:</label>
                    <input type="text" hidden id="TrainingScheduleList1" name="TrainingScheduleList1" class="popup-content-textbox" />
                    <input type="text" readonly id="dispcalender1" class="popup-content-textbox" name="dispcalender1" />
                    <div class="icon-row1">
                        <button data-p2btooltip="Lookup Evaluation Parameter" class="popup-content-icon-create" id="Lookup-Session-TrainingFeedback">
                            <span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span>
                        </button>
                    </div>

                </div>*@
            @*<div class="row3 content_margine">
                <div id="AdPostList"></div><label class="popup-content-label-2 must">Advertise And Job Reference No:</label>
                <div class="popup-content-table" style="width: 522px;">
                    <table class="lookuptableselected" id="AdPostListM">
                        <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup " class="popup-content-icon-lookup" id="Lookup-RecruitExpenses-RecruitInitiator"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    @* <button data-p2btooltip="Create " class="popup-content-icon-create" id="Create-RecruitExpenses-RecruitInitiator"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>*@
            @*<button data-p2btooltip="Edit " class="popup-content-icon-edit" id="Edit-RecruitExpenses-RecruitInitiator"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Remove " class="popup-content-icon-remove" id="Remove-RecruitExpenses-RecruitInitiator"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                    </div>
                </div>*@

            @*<div class="row3 content_margine">
                    <div id="ShortlistList"></div><label class="popup-content-label ">Evaluation Parameter:</label>
                    <div class="popup-content-table" style="width: 522px;">
                        <table class="lookuptableselected" id="ShortListM">
                            <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                        </table>
                    </div>
                    <div class="icon-row">
                        <button data-p2btooltip="Lookup " class="popup-content-icon-lookup" id="Lookup-Shortlistcriteria"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                        @*<button data-p2btooltip="Create " class="popup-content-icon-create" id="Create-RecruitExpenses-RecruitInitiator"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Edit " class="popup-content-icon-edit" id="Edit-RecruitExpenses-RecruitInitiator"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Remove " class="popup-content-icon-remove" id="Remove-RecruitExpenses-RecruitInitiator"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                    </div>
                </div>*@
            <div class="row3 content_margine"><input type="button" id="Process" name="Loading" value="Loading"></div>
            <div class="section_Method">
                <div class="heading">Candidate List</div>
                <div class="employeeselectiondiv">
                    <div class="transactiondivnew dynamic addons" style="float:left">
                        <div><label>Search : </label><input type="text" id="Employee-Search" style="width: 425px;" /></div>
                        <table cellspacing="0" cellpadding="1" class="transactiontablenew" id="Employee-Table">
                            <tr><th><input type="checkbox" id="Case-Employee" /></th><th>Employee</th></tr>
                        </table>
                        @*<span class="btn-span1" aria-hidden="true">
                                <button id="load_emp" class="loan-btn">Load Employee</button>
                            </span>*@
                    </div>
                    <input name="geo_id" type="text" id="geo_id" class="struct_input_val" style="display:none" />
                    <input name="pay_id" type="text" id="pay_id" class="struct_input_val" style="display:none" />
                    <input name="fun_id" type="text" id="fun_id" class="struct_input_val" style="display:none" />
                </div>
            </div>
            <div class="section_Method1">
                @*<div id="AdPostList"></div><label class="popup-content-label-2 must">Joining Process Parameter:</label>
                    <div class="popup-content-table" style="width: 522px;">
                        <table class="lookuptableselected" id="AdPostListM">
                            <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                        </table>
                    </div>
                    <div class="icon-row3">
                        <button data-p2btooltip="Lookup " class="popup-content-icon-lookup" id="Lookup-Shortlistcriteria"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                        @* <button data-p2btooltip="Create " class="popup-content-icon-create" id="Create-RecruitExpenses-RecruitInitiator"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>*@
                @*<button data-p2btooltip="Edit " class="popup-content-icon-edit" id="Edit-RecruitExpenses-RecruitInitiator"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Remove " class="popup-content-icon-remove" id="Remove-RecruitExpenses-RecruitInitiator"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                    </div>*@
                @*<div class="row3 content_margine">
                        <div class="radiobtn_div" id="monthly_chk-div">
                            <input type="radio" name="filter" id="monthly_chk" value="EvaluationSchedule" /><label for="monthly_chk" class="popup-content-label-3">Evaluation Schedule</label>
                        </div>
                        <div class="radiobtn_div" id="monthly_chk-div">
                            <input type="radio" name="filter" id="monthly_chk" value="EvaluationResult" /><label for="monthly_chk" class="popup-content-label-3">Evaluation Result</label>
                        </div>
                    </div>*@

                <div class="row3 content_margine" id="schedulediv">
                    @Html.LabelFor(m => m.ActivityDate, "ActivityDate:", new { @class = "popup-content-label must" })
                    @Html.TextBoxFor(m => m.ActivityDate, new { @class = "popup-content-textbox must namepush", @id = "ActivityDate" })
                    @Html.LabelFor(m => m.ActivityLetterIssue, "ActivityLetterIssue:", new { @class = "popup-content-label must" })
                    <div class="popup_radio_button Cnamepush">
                        <input type="radio" id="IsCreditDatePolicy1" name="IsCreditDatePolicy1" value="true" /><label for="IsCreditDatePolicy1">Yes</label>
                        <input type="radio" id="IsCreditDatePolicy2" name="IsCreditDatePolicy1" value="false" checked="checked" /><label for="IsCreditDatePolicy2">No</label>
                    </div>
                    @Html.LabelFor(m => m.ActivityAccepted, "ActivityAccepted:", new { @class = "popup-content-label must" })
                    <div class="popup_radio_button Cnamepush">
                        <input type="radio" id="IsCreditDatePolicy_radio1" name="IsCreditDatePolicy" value="true" /><label for="IsCreditDatePolicy_radio1">Yes</label>
                        <input type="radio" id="IsCreditDatePolicy_radio2" name="IsCreditDatePolicy" value="false" checked="checked" /><label for="IsCreditDatePolicy_radio2">No</label>
                    </div>
                    @Html.LabelFor(m => m.ActivityAcceptedDate, "ActivityAcceptedDate:", new { @class = "popup-content-label must" })
                    @Html.TextBoxFor(m => m.ActivityAcceptedDate, new { @class = "popup-content-textbox must namepush", @id = "ActivityAcceptedDate" })
                    @*<label class="popup-content-label">ActivityResult</label>
                        <select id="ActivityresultList" name="ActivityresultList" class="" style="width:161px;"><option></option></select>
                        <label class="popup-content-label">ActivityScore</label>
                        <input name="ActivityScore" class="popup-content-textbox" type="text" id="ActivityScore" />*@
                </div>
            </div>
            @*<div class="row3 content_margine">
                    <div id="Grid_Form2">
                        <div>
                            <table id="JqGridNew"></table>
                            <div id="pager22"></div>
                        </div>
                    </div>
                </div>*@
            @*<div class="section2">
                    <div id="Grid_Form">
                        <div>
                            <table id="JqGrid"></table>
                            <div id="pager2"></div>
                        </div>
                    </div>
                </div>*@
            @*</div>*@


        }
    </div>
    <div id="Create_dailog2">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmResumeEvaluation", name = "frmResumeEvaluation" }))
        {
            <label class="popup-content-label must">Employee Name:</label>
            <input name="Empname" type="text" id="Empname" readonly />
            <div class="dropdown_row1 row3 content_margine">
                <label class="popup-content-label must">HREvaluationStatus:</label>
                <select id="CategorylistEvalpara" name="CategorylistEvalpara" class="" style="width:161px;"><option></option></select>
            </div>
        }
    </div>

</body>
</html>

<script>
    $(document).ready(function (e) {
        $('button').button();

        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;
        // var "" = "Edit-RecruitBatchInitiator-RecruitInitiator,Remove-RecruitBatchInitiator-RecruitInitiator,Edit-RecruitExpenses-RecruitInitiator,Remove-RecruitExpenses-RecruitInitiator";
        var namelookuptable = '#RecruitBatchInitiatorListM,#RecruitExpensesListM';
        ColModel = ['Id', 'Name', 'FullDetails'];
        ColNames = ['Id', 'Name', 'Fulldetails'];
        SortName = 'Id';
        Caption = 'Shortlist Candidate';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;
        // $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);
        $('#ActivityAcceptedDate').P2BDatePicker();
        $('#ActivityDate').P2BDatePicker();
        //$('#schedulediv').fadeOut();
        //$('#Resultdiv').fadeOut();
        var inline_ColNames = [];
        var inline_ColModel = [];
        var inline_SortName, inline_Caption, inline_url, inline_width, inline_height;
        inline_ColModel = ['Id', 'Candidate Name', 'Fulldetails'];
        inline_ColNames = ['Id', 'Candidate Name', 'Fulldetails'];
        inline_SortName = 'ID';
        inline_Caption = 'Candidate List';
        inline_url = '@Url.Action("Process")';
        inline_width = 900;
        inline_height = 150;
        var urlfilter = "@Url.Action("Formula_Grid", "JoiningProcess")?Filterdata=" + $('#txtBatchName').val();
        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }
        function DateConvert(JsonDate) {
            var date = new Date(parseInt(JsonDate.substr(6)));
            var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
            return displayDate;
        };
        $('#Process').button().on("click", function (event) {
            var v1 = $("#Batch_Name1").val();
            var v2 = $("#TrainingScheduleList1").val();

            if (v1 == "" || v1 == undefined && v2 == "" || v2 == undefined) {
                $('<div></div>').P2BMessageModalDialog('ui-icon-alert', "Kindly Select Batch Name!");
                return false;
            }
            else {
                $('#Employee-Table').P2BTransactionTableDynamic('#Employee-Search', '#Case-Employee', './JoiningProcess/Get_Employelist?databatch=' + v1 + '&Session=' + v2 + '&geo_id=', "");
            }
            event.preventDefault();
        });

        $('#AdvertiseReferenceNo').MaxLength(50);
        $('#Narration').MaxLength(50);

        $('#Load').on('click', function (e) {
            if ($('#Batch_Name12').val() == "" || $('#txtBatchName').val() == "") {
                $('<div></div>').P2BMessageModalDialog('ui-icon-alert', "Please select Batch!");
                return false;
            }
            $('#MyTable').DataTable().ajax.url('./Formula_Grid?Filterdata=' + $('#Batch_Name12').val()).load();
        });


        $('#Create_dailog2').P2BCreateDialog();
        $('#Create_Dialog').P2BCreateDialog();
        $('#Create').on("click", function (event) {
            $('#frmRecruitInitiator').trigger("reset");
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create Candidate Personnel Process Result', 'open', '@Url.Action("Create")', '#frmRecruitInitiator', 'Message :', 'Request Falied :', '#JqGrid', 700, 1003, namelookuptable, "", function (data) { }, { datatablename: "#MyTable" });
            $('#WFStatusdrop').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 1000, "");
            //$('#schedulediv').fadeOut();
            //$('#Resultdiv').fadeOut();
            $('#initiatedDate').prop('readonly', 'readonly');
            $('#PublishDate').prop('readonly', 'readonly');
            $('#CloseAdvDate').prop('readonly', 'readonly');
            event.preventDefault();
        });

        @*$('#Edit').on('click', function () {
            AssignData();
            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit RecruitInitiator", '#frmRecruitInitiator', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 610, 620, ' ', "", function (data) {
                // setTimeout(function () {
                $.each(data[0], function (i, k) {
                    $('#frmRecruitInitiator').trigger('reset');
                    $('#AdvertiseReferenceNo').val(k.AdvertiseReferenceNo);
                    $('#initiatedDate').val(DateConvert(k.initiatedDate));
                    $('#PublishDate').val(DateConvert(k.PublishDate));
                    $('#CloseAdvDate').val(DateConvert(k.CloseAdvDate));
                    $('[name="TrClosed"]').val([k.TrClosed]).button().button("refresh");
                    $('[name="TrReject"]').val([k.TrReject]).button().button("refresh");
                    $('#Narration').val(k.Narration);
                    $('#WFStatusdrop').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 1000, k.WFStatus_Id);
                });

                $.each(data[1], function (i, k) {
                    $('#RecruitBatchInitiatorListM').P2BLookUpEncapsulate('#RecruitBatchInitiatorListM', 'RecruitBatchInitiatorListM', k.RecruitBatchInitiator_Id, k.RecruitBatchInitiator_val, 'RecruitBatchInitiatorListM', '', 'N');
                    $('#RecruitExpensesListM').P2BLookUpEncapsulate('#RecruitExpensesListM', 'RecruitExpensesListM', k.RecruitExpenses_Id, k.RecruitExpenses_val, 'RecruitExpensesListM', '', 'N');
                });
                $('#Autho_Allow').val(data[3]); //Compulsory for authorisation
                // }, 2000);
            });
        });*@

        $('#Edit').on('click', function () {
            ////;
            // AssignData();
            var b = localStorage.getItem('MyTable_selected');
            var a = JSON.parse(b);
            $('#Create_dailog2').P2BEditModalDialog('@Url.Action("Edit")', a.Id, '@Url.Action("EditSave")', "Edit Candidate Personnel Data", '#frmResumeEvaluation', a.Id, 'Message : ', 'Request Falied :', '#JqGrid', 500, 620, '#CityDetails', '', function (data) {
                ////;
                $.each(data[0], function (i, k) {
                    console.log(k.CompCode);
                    $('#Empname').val(k.CityTypeper);

                    if (k.hrevaluationid == "") {
                        $('#CategorylistEvalpara').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 708, "");
                    } else {
                        $('#CategorylistEvalpara').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 708, k.hrevaluationid);
                    }
                });

                //$.each(data[1], function (i, k) {
                //    $('#CityDetails').P2BLookUpEncapsulate('#CityDetails', 'CityDetails', k.Cityid, k.CityFulldetails, 'CityDetails', '#Remove-Insurance', 'A');
                //});
                //$('#Autho_Allow').val(data[3]); //Compulsory for authorisation

                //$('#Autho_Allow').val(data[3]); //Compulsory for authorisation
            }, { datatablename: "#MyTable" });
        });
        $('#View').button().click(function (event) {
            AssignData();
            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View RecruitInitiator Data', '#RecruitExpensesListM,#RecruitBatchInitiatorListM', '#Lookup-Address-Corporate,#Create-Address-Corporate,#Edit-Address-Corporate,#Remove-Address-Corporate,#Lookup-ContactDetails-Corporate,#Create-ContactDetails-Corporate,#Edit-ContactDetails-Corporate,#Remove-ContactDetails-Corporate', 500, 620, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {
                $.each(data[0], function (i, k) {
                    $('#Autho_Action').val(k.Action);
                    $('#AdvertiseReferenceNo').val(k.AdvertiseReferenceNo);
                    $('#initiatedDate').val(DateConvert(k.initiatedDate));
                    $('#PublishDate').val(DateConvert(k.PublishDate));
                    $('#CloseAdvDate').val(DateConvert(k.CloseAdvDate));
                    $('[name="TrClosed"]').val([k.TrClosed]).button().button("refresh");
                    $('[name="TrReject"]').val([k.TrReject]).button().button("refresh");
                    $('#Narration').val(k.Narration);
                    $('#WFStatusdrop').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 1000, k.WFStatus_Id);
                });

                $.each(data[1], function (i, k) {
                    $('#RecruitBatchInitiatorListM').P2BLookUpEncapsulate('#RecruitBatchInitiatorListM', 'RecruitBatchInitiatorListM', k.RecruitBatchInitiator_Id, k.RecruitBatchInitiator_val, 'RecruitBatchInitiatorListM', 'view', 'N');
                    $('#RecruitExpensesListM').P2BLookUpEncapsulate('#RecruitExpensesListM', 'RecruitExpensesListM', k.RecruitExpenses_Id, k.RecruitExpenses_val, 'RecruitExpensesListM', 'view', 'N');
                });
                if ($("#Autho").hasClass('auto_active')) {
                    if (data[2] != null) {

                    }
                }
            });
        });

        $('#MyTable').MultiLevelInlineEditGrid({
            url: urlfilter,
            editurl: "@Url.Action("EditGridDetails", "JoiningProcess")",
            htmurl: "@Url.Action("partial", "JoiningProcess")",
            submiturl: "@Url.Action("GridEditSave", "JoiningProcess")",
            columnname: ["CandidateName", "Fulldetails", "HRJoiningStatus", "Id"],
            childheader: ["ActivityDate", "ActivityAccepted", "ActivityAcceptedDate", "ActivityLetterIssue", "StageFulldetails", "Id"],
            childurl: "@Url.Action("Get_FormulaStructDetails", "JoiningProcess")",
            tableheader: "Candidate Personnel Process Result",
            childurlColumnNo: "4"
        });

        $.DataTableChildManipulation = function (init, id, parentid, htmurl, editurl, submiturl) {
            // console.log($(init).parents('tr:eq(0)'));
            var parent_element = $(init).parents('td:last').parent().prev();
            //var element = $(init).parents('tr:eq(0)');
            console.log(id);
            console.log(htmurl);
            console.log(parent_element);
            //   console.log(element);
            var dt = $('#MyTable').DataTable();
            var htmlcomponant = {
                init: init,
                Id: id,
                idx: parentid,
                htmurl: htmurl,
                editurl: editurl,
                submiturl: submiturl,
            };
            if ($(init).hasClass('ui-icon-newwin')) {
                return false;
                $('<div></div>').PartialCreateDialog({
                    height: 'auto',
                    width: 'auto',
                    form: "#Form-YearlyPaymentT-Partial",
                    htmlurl: htmurl,
                    state: "open",
                    mode: "View",
                    editurl: editurl,
                    submiturl: submiturl,
                    editdata: id,
                    forwarddata: id,
                    returndatafunction: function (data) {
                        $.each(data.data, function (i, k) {
                            $('#yearlypayment-AmountPaid').val(k.AmountPaidP);
                            $('#yearlypayment-TDSAmount').val(k.TDSAmountP);
                            $('#yearlypayment-OtherDeduction').val(k.OtherDeductionP);
                            $('#yearlypayment-Narration').val(k.NarrationP);
                        });
                    }
                });
            } else if ($(init).hasClass('ui-icon-pencil')) {
                $('<div></div>').PartialCreateDialog({
                    height: 'auto',
                    width: 'auto',
                    form: "#frmRecruitJoinParaProcessResult",
                    htmlurl: htmurl,
                    state: "open",
                    mode: "Edit",
                    editurl: editurl,
                    submiturl: submiturl,
                    editdata: id,
                    forwarddata: id,
                    returndatafunction: function (data1) {
                        $.each(data1, function (i, k) {
                            $('[name="ActivityAcceptedAppl"]').val([k.ActivityAccepted]).button().button("refresh");
                            $('[name="ActivityLetterIssueAppl"]').val([k.ActivityLetterIssue]).button().button("refresh");
                            $('#ActAccepted').val(k.ActivityAcceptedDate);
                            $('#actdate').val(k.ActivityDate);
                        });
                    },
                    submitfun: function (data) {
                        var row = dt.row(parent_element);
                        if (row.child.isShown()) {
                            parent_element.removeClass('details');
                            row.child.hide();
                        }
                    }
                });
            } else if ($(init).hasClass('ui-icon-trash')) {
                console.log(id);
                $('<div></div>').PartialCreateDialog({
                    state: "open",
                    mode: "Delete",
                    submiturl: "@Url.Action("GridDelete")",
                    forwardata: id,
                    submitfun: function (data) {
                        var row = dt.row(parent_element);
                        if (row.child.isShown()) {
                            parent_element.removeClass('details');
                            row.child.hide();
                        }
                    }
                });
            }
        };
        //delete main page
        $('#Delete').button().click(function (event) {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            $('#Create_Dialog').P2BDeleteModalDialog('@Url.Action("Delete")', dt.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
            event.preventDefault();
        });
        // --------------- Qualification lookup start ----------
        $('#Lookup-RecruitBatchInitiator-RecruitInitiator').button().click(function (r) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetRecruitBatchInitiatorLKDetails", "RecruitInitiator")', '', 'LookupDiv', 'RecruitBatchInitiator Look Up Data', '#RecruitBatchInitiatorListM', 'RecruitBatchInitiatorListM', 5, 'RecruitBatchInitiatorListM', '#frmRecruitInitiator', 'N', '#Edit-RecruitBatchInitiator-RecruitInitiator,#Remove-RecruitBatchInitiator-RecruitInitiator', 'Lookup_table', 'PageNavPosition');
            r.preventDefault();
        });

        $('#Lookup-RecruitExpenses-RecruitInitiator').button().click(function (e) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetRecruitExpensesLKDetails", "ResumeShortlisting")', '', 'LookupDiv', 'Look Up Data', '#AdPostListM', 'AdPostListM', 5, 'AdPostListM', '#frmRecruitInitiator', 'N', '#Edit-RecruitExpenses-RecruitInitiator,#Remove-RecruitExpenses-RecruitInitiator', 'Lookup_table', 'PageNavPosition');
            e.preventDefault();
        });

        $('#Lookup_BatchName1').on('click', function () {
            $('.dialog').AddDataToTextbox({
                appendTo: "#txtPayMonth1",
                appendToId: "#Batch_Name1",
                lookupurl: "@Url.Action("GetRecruitExpensesLKDetails", "ResumeEvaluation")",
                NoOfRecordToShow: "10",
                setnameofthelookupbyppage: "txtPayMonth1",
                LookupDiv: "LookupDiv",
                lookuppagename: "lookup",
                readonly: true,
                pagename: "PageNavPosition",

            });
        });
        @*$('#Lookup_BatchName').on('click', function () {
            $('.dialog').AddDataToTextbox({
                appendTo: "#TextPayMonth",
                appendToId: "#Batch_Name",
                lookupurl: "@Url.Action("GetRecruitExpensesLKDetails", "ResumeEvaluation")",
                NoOfRecordToShow: "10",
                setnameofthelookupbyppage: "TextPayMonth",
                LookupDiv: "LookupDiv",
                lookuppagename: "lookup",
                readonly: true,
                pagename: "PageNavPosition",

            });
        });*@

        $('#Lookup-Session-TrainingFeedback').on('click', function () {

            if ($('#Batch_Name').val() == "") {
                alert("Please Select Job reference no")
                return false;
            }

            $('.dialog').AddDataToTextbox({
                appendTo: "#dispcalender1",
                lookupurl: '@Url.Action("GetShortListingLKDetails", "JoiningProcess")?forwardata=' + $('#Batch_Name').val(),
                NoOfRecordToShow: "10",
                setnameofthelookupbyppage: "FatherName_FName-lookup",
                LookupDiv: "LookupDiv",
                appendToId: "#TrainingScheduleList1",
                lookuppagename: "lookup", readonly: true,
                pagename: "PageNavPosition"
            });
        });

        $('#Lookup-Session-TrainingFeedback1').on('click', function () {

            if ($('#Batch_Name1').val() == "") {
                alert("Please Select Job reference no")
                return false;
            }

            $('.dialog').AddDataToTextbox({
                appendTo: "#dispcalender12",
                lookupurl: '@Url.Action("GetShortListingLKDetails", "JoiningProcess")?forwardata=' + $('#Batch_Name1').val(),
                NoOfRecordToShow: "10",
                setnameofthelookupbyppage: "FatherName_FName-lookup",
                LookupDiv: "LookupDiv",
                appendToId: "#TrainingScheduleList1",
                lookuppagename: "lookup", readonly: true,
                pagename: "PageNavPosition"
            });
        });
        $('#Lookup-Shortlistcriteria').button().click(function (e) {
            if ($('#Batch_Name1').val() == "") {
                alert("Please Select Job reference no")
                return false;
            }
            $('.dialog').P2BLookUpModal('@Url.Action("GetShortListingLKDetails", "JoiningProcess")?forwardata=' + $('#Batch_Name1').val(), '', 'LookupDiv', 'Look Up Data', '#AdPostListM', 'AdPostListM', 5, 'AdPostListM', '#frmRecruitInitiator', 'N', '#Edit-RecruitExpenses-RecruitInitiator,#Remove-RecruitExpenses-RecruitInitiator', 'Lookup_table', 'PageNavPosition');
            e.preventDefault();
        });
        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-RecruitExpenses-RecruitInitiator').button().on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Index", "RecruitExpenses")', 'Create RecruitExpenses ', 'open', '@Url.Action("Create", "RecruitExpenses")', '#frmRecruitExpenses', 'Message :', 'Request Falied :', '#JqGrid', 206, 460, '', '', '', '#frmRecruitInitiator', '', function (data) {
                // to show data which is created in partial page
                $('#RecruitExpensesListM').P2BLookUpEncapsulate('#RecruitExpensesListM', 'RecruitExpensesListM', data[0], data[1], 'RecruitExpensesListM', '', 'N');

            });
            event.preventDefault();
        });

        $('#Edit-RecruitExpenses-RecruitInitiator').button().on("click", function (event) {
            var a = [], b;
            a = $('#RecruitExpensesListM').P2BGetTableDataonSelectedRow('#RecruitExpensesListM', 0);
            b = a[0];
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("Index", "RecruitExpenses")', '@Url.Action("edit", "RecruitExpenses")', b, '@Url.Action("Editsave", "RecruitExpenses")', 'Edit RecruitExpenses', '#frmRecruitExpenses', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmRecruitInitiator', '#RecruitExpensesListM', 'RecruitExpensesListM', 'RecruitExpensesListM', 'N', '', function (data) {
                $.each(data[0], function (i, k) {
                    $('#frmRecruitExpenses').trigger("reset");
                    $('#FeeAmount').val(k.FeeAmount);
                    $('#Narration1').val(k.Narration);
                    $('#ExpAccListP').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 10, k.ExpenseAccount_Id);
                    $('#SourceOFExpListP').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 11, k.SourceOfExpense_Id);
                });
            });
            event.preventDefault();
        });

        $('#Lookup_AdvertiseName').on('click', function () {
            $('.dialog').AddDataToTextbox({
                appendTo: "#txtAdvertiseNo",
                appendToId: "#AdvertiseReference",
                lookupurl: "@Url.Action("GetRecruitExpensesLKDetails", "ResumeEvaluation")",
                NoOfRecordToShow: "10",
                setnameofthelookupbyppage: "txtAdvertiseNo",
                LookupDiv: "LookupDiv",
                lookuppagename: "lookup",
                readonly: true,
                pagename: "PageNavPosition",

            });
        });

        $('#Lookup_BatchName').on('click', function () {
            if ($('#AdvertiseReference').val() == "") {
                $('<div></div>').P2BMessageModalDialog('ui-icon-alert', "Please select Advertise Reference No!");
                return false;
            }
            $('.dialog').AddDataToTextbox({
                appendTo: "#txtBatchName",
                appendToId: "#Batch_Name12",
                lookupurl: "@Url.Action("GetBatchDetails", "ResumeEvaluation")?forwardata=" + $('#AdvertiseReference').val(),
                NoOfRecordToShow: "10",
                setnameofthelookupbyppage: "txtBatchName",
                LookupDiv: "LookupDiv",
                lookuppagename: "lookup",
                readonly: true,
                pagename: "PageNavPosition",

            });
        });
        //partial page delete
        $('#Remove-RecruitBatchInitiator-RecruitInitiator').button().on('click', function (event) {
            //  dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'ID');
            //var a = [], b;
            //a = $('#AdPostListM').P2BGetTableDataonSelectedRow('#AdPostListM', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#AdPostListM').P2BGetTableDataonSelectedRow('#AdPostListM', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#AdPostListM', $('#AdPostListM').val(), 200, 200, '#frmshortlisting', '#AdPostListM');
            event.preventDefault();
        });

        $('#Remove-RecruitExpenses-RecruitInitiator').button().on('click', function (event) {
            //  dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'ID');
            //var a = [], b;
            //a = $('#ShortListM').P2BGetTableDataonSelectedRow('#ShortListM', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#ShortListM').P2BGetTableDataonSelectedRow('#ShortListM', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#ShortListM', $('#ShortListM').val(), 200, 200, '#frmshortlisting', '#ShortListM');
            event.preventDefault();
        });
        // --------------- Qualification lookup end ----------


        $('.date').P2BDatePicker();
        $('.popup_radio_button').controlgroup();
        $('#ActivityresultList').selectmenu().selectmenu("menuWidget");
        $('#CategorylistEvalpara').selectmenu().selectmenu("menuWidget");
        $('#Autho').makeDisable('#Create,#Edit,#Delete');
        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');
    });
</script>