@{
    Layout = null;
}
@model Training.BudgetParameters

<link href="~/Content/Unit/Unit.css" rel="stylesheet" />
<link href="~/Content/popup_form.css" rel="stylesheet" />
<style>
    .icon-row {
        position: relative;
        left: 112px;
        top: -150px;
    }

    #BusinessType-button {
        font-size: 9px;
        padding-top: 1px;
        font-weight: bold;
    }

    .popup-content-label {
        display: block;
        float: left;
        width: 156px;
    }

    .popup-content-textbox {
        margin-bottom: 1px;
        min-width: 150px;
    }

    .row3 {
        width: 600px;
    }

    .row4 {
        width: 750px;
        display: inline-flex;
    }

    .popup-content-textbox-long {
        margin-bottom: 1px;
        width: 290px;
    }


    .row2 {
        width: 402px;
    }

    .section1 {
        display: block;
        border: 1.5px solid rgba(207, 207, 207, 0.91);
        height: 318px;
        width: 432px;
        margin: 4px auto;
        position: absolute;
        left: 4px;
        top: -2px;
    }

    .section_Method {
        border: 1px solid rgba(207, 207, 207, 0.91);
        border-radius: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .namepush {
        margin-right: 30px;
    }

    .lblwidth {
        width: 110px;
    }

    .Clblwidth {
        width: 111px;
    }

    .Cnamepush {
        margin-right: 127px;
    }

    #Lookup_LvheadDetails {
        right: -360px;
        position: sticky;
    }
</style>



<script>
    $(document).ready(function (e) {

        var SortName, Caption, url, width, height;
        var btndisablenames = "#Edit-Address-Corporate,#Remove-Address-Corporate,#Edit-ContactDetails-Corporate,#Remove-ContactDetails-Corporate";

        Caption = 'Faculty External';

        width = 1000;
        height = 150;

        $('input[name="IsBudgetAppl"]:radio').change(function () {
            if (this.value == "false") {
                $('#IsBudget').prop("disabled", true);
                $('#IsBudget').val("");
            }
            else {
                $('#IsBudget').prop("disabled", false);
            }
        });

        $('input[name="IsCategory"]:radio').change(function () {
            if (this.value == "false") {
                $('#IsCateg').prop("disabled", true);
                $('#IsCateg').val("");
            }
            else {
                $('#IsCateg').prop("disabled", false);
            }
        });

        $('input[name="IsFuncStruct"]:radio').change(function () {
            if (this.value == "false") {
                $('#IsFuncStr').prop("disabled", true);
                $('#IsFuncStr').val("");
            }
            else {
                $('#IsFuncStr').prop("disabled", false);
            }
        });

        $('input[name="IsGeoStruct"]:radio').change(function () {
            if (this.value == "false") {
                $('#IsGeoStr').prop("disabled", true);
                $('#IsGeoStr').val("");
            }
            else {
                $('#IsGeoStr').prop("disabled", false);
            }
        });

        $('input[name="IsPayStruct"]:radio').change(function () {
            if (this.value == "false") {
                $('#IsPayStr').prop("disabled", true);
                $('#IsPayStr').val("");
            }
            else {
                $('#IsPayStr').prop("disabled", false);
            }
        });

        $('input[name="IsProgram"]:radio').change(function () {
            if (this.value == "false") {
                $('#IsProg').prop("disabled", true);
                $('#IsProg').val("");
            }
            else {
                $('#IsProg').prop("disabled", false);
            }
        });

        $('.popup_radio_button').controlgroup();
        $('#Autho').makeDisable('#Create,#Edit,#Delete');
        $('#Category').selectmenu().selectmenu("menuWidget");
        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');
    });
</script>

<body>
    <div class="TrainingInstits">
        <div title="LookUp Data">
            <div class="lookupdiv_Traininginst"></div>
        </div>
        <div id="pageNavPosition_Traininginst">
        </div>
    </div>

    <div class="FacultyExternal">
        <div title="LookUp Data">
            <div class="lookupdiv_FacultyExternal"></div>
        </div>
        <div id="pageNavPosition_FacultyExternal">
        </div>
    </div>


    <div id="Create_Dialog">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmBudgetParameters", name = "frmBudgetParameters" }))
        {
            
            @*<div class="section_Method">*@
                <div class="heading">CreditMethod</div>
                <div class="row3 content_margine">
                    @Html.LabelFor(m => m.IsBudgetAppl, "IsBudgetAppl:", new { @class = "popup-content-label " })
                    <div class="popup_radio_button Cnamepush">
                        <input type="radio" id="IsBudgetAppl_radio1" name="IsBudgetAppl" value="true" /><label for="IsBudgetAppl_radio1">Yes</label>
                        <input type="radio" id="IsBudgetAppl_radio2" name="IsBudgetAppl" value="false" checked="checked" /><label for="IsBudgetAppl_radio2">No</label>
                    </div>
                </div>
            
                @*<div class="row3 content_margine">@Html.LabelFor(m => m.CreditDays, "CreditDays:", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.CreditDays, new { @class = "popup-content-textbox must" })</div>*@
                <div class="row3 content_margine">
                    @Html.LabelFor(m => m.IsCategory, "IsCategory:", new { @class = "popup-content-label " })
                    <div class="popup_radio_button">
                        <input type="radio" id="IsCategory_radio1" name="IsCategory" value="true" /><label for="IsCategory_radio1">Yes</label>
                        <input type="radio" id="IsCategory_radio2" name="IsCategory" value="false" checked="checked" /><label for="IsCategory_radio2">No</label>
                    </div>
                </div>
                <div class="row3 content_margine">
                    @Html.LabelFor(m => m.IsFuncStruct, "IsFuncStruct:", new { @class = "popup-content-label " })
                    <div class="popup_radio_button">
                        <input type="radio" id="IsFuncStruct_radio1" name="IsFuncStruct" value="true" /><label for="IsFuncStruct_radio1">Yes</label>
                        <input type="radio" id="IsFuncStruct_radio2" name="IsFuncStruct" value="false" checked="checked" /><label for="IsFuncStruct_radio2">No</label>
                    </div>
                </div>
               

                <div class="row3 content_margine">
                    @Html.LabelFor(m => m.IsGeoStruct, "IsGeoStruct:", new { @class = "popup-content-label " })
                    <div class="popup_radio_button">
                        <input type="radio" id="IsGeoStruct_radio1" name="IsGeoStruct" value="true" /><label for="IsGeoStruct_radio1">Yes</label>
                        <input type="radio" id="IsGeoStruct_radio2" name="IsGeoStruct" value="false" checked="checked" /><label for="IsGeoStruct_radio2">No</label>
                    </div>
                </div>

                <div class="row3 content_margine">
                    @Html.LabelFor(m => m.IsPayStruct, "IsPayStruct:", new { @class = "popup-content-label " })
                    <div class="popup_radio_button">
                        <input type="radio" id="IsPayStruct_radio1" name="IsPayStruct" value="true" /><label for="IsPayStruct_radio1">Yes</label>
                        <input type="radio" id="IsPayStruct_radio2" name="IsPayStruct" value="false" checked="checked" /><label for="IsPayStruct_radio2">No</label>
                    </div>
                </div>

                <div class="row3 content_margine">
                    @Html.LabelFor(m => m.IsProgram, "IsProgram:", new { @class = "popup-content-label " })
                    <div class="popup_radio_button">
                        <input type="radio" id="IsProgram_radio1" name="IsProgram" value="true" /><label for="IsProgram_radio1">Yes</label>
                        <input type="radio" id="IsProgram_radio2" name="IsProgram" value="false" checked="checked" /><label for="IsProgram_radio2">No</label>
                    </div>
                </div>
            @*</div>*@


        }
    </div>
</body>