@{
    Layout = null;
}
@model Training.FacultyInternalExternal

<link href="~/Content/Unit/Unit.css" rel="stylesheet" />
<link href="~/Content/popup_form.css" rel="stylesheet" />

<style>
    .transactiontablenew {
        border: 1px solid #c5c5c5;
        margin: 0 auto;
        /*width: 200px;*/
        display: block;
        overflow: auto;
        height: 653px;
        border-collapse: collapse;
    }

    .transactiondivnew {
        border: 1px solid #c5c5c5;
        margin: 0 auto;
        width: 507px;
        border-radius: 5px;
        height: 32px;
    }

        .transactiondivnew > div {
            display: inline-block;
            margin: 0 auto;
            padding: 4px;
        }

            .transactiondivnew > div > input {
                box-sizing: initial;
                display: inline-block;
                margin: 0 auto;
                width: 108px;
            }

    .transactiontablenew th, .transactiontablenew td {
        background: rgba(246, 246, 246, 0.64) none repeat scroll 0 0;
        padding: 5px;
        border-bottom: 1px solid #c5c5c5;
        border-right: 1px solid #c5c5c5;
        text-align: center;
        color: rgba(114, 113, 113, 0.9);
    }

        .transactiontablenew th:nth-child(1) > input, .transactiontablenew td:nth-child(1) > input {
            margin: 0 auto;
        }

        .transactiontablenew th:nth-child(2), .transactiontablenew td:nth-child(2) {
            height: 100%;
            width: 100%;
        }

    .transactiontablenew tr:hover {
        cursor: pointer;
        background: #EEEEEE none repeat scroll 0 0;
    }



    #BusinessType-button {
        font-size: 9px;
        padding-top: 1px;
        font-weight: bold;
    }

    .popup-content-label {
        width: 101px;
        display: block;
        float: left;
        margin: 1px;
    }

    .popup-content-label-2 {
        width: 100px;
        display: block;
        float: left;
        margin: 1px;
    }

    .section1_Leave {
        padding-left: 6px;
        width: 513px;
        right: 558.8px;
        display: block;
        border: 1.5px solid rgba(207, 207, 207, 0.91);
        height: 719px;
        width: 534px;
        margin: 4px auto;
        position: absolute;
    }

    .section2_Leave {
        padding-top: 10px;
        display: block;
        border: 2px solid #ddd;
        height: 707px;
        width: 460px;
        margin: 5px 4px;
        position: absolute;
        left: 546px;
        padding-left: 11px;
    }

    .icon-row {
        position: relative;
        left: 57px;
        top: -146px;
    }

    .popup-content-textboxf {
        margin-bottom: 1px;
        min-width: 150px;
    }

    .row3 {
        width: 471px;
    }

    .row4 {
        position: absolute;
        top: 294px;
        width: 400px;
    }

    .row6 {
        width: 370px;
        display: inline-block;
    }

    .popup-content-textboxf-long {
        margin-bottom: 1px;
        width: 290px;
    }



    .row2 {
        width: 402px;
    }
</style>



<body>

    <div class="LookupEmployee">
        <div title="LookUp Data">
            <div class="lookupdiv_Emp"></div>
        </div>
        <div id="pageNavPosition_Emp">
        </div>
    </div>


    <div class="ContactLookup">
        <div title="LookUp Data">
            <div class="lookupdiv_ContactDet"></div>
        </div>
        <div id="pageNavPosition_ContactDet">

        </div>
    </div>

    <div class="dialog22">
        <div title="LookUp Data">
            <div class="lookupdiv22"></div>
        </div>
        <div id="PageNavPosition">
        </div>
    </div>

   





    <div id="Create_dialog1" title="Create">
        <div class="section1_Leave" id="Section_Emp">
            <div class="heading">Employee List</div>
            <div class="employeeselectiondiv">
                <div class="transactiondivnew dynamic addons" style="float:left">
                    <div>
                        <label>Search:</label>
                        <input type="text" id="Employee-Search" style="width: 425px;" />
                    </div>
                    <table cellspacing="0" cellpadding="1" class="transactiontablenew" id="Employee-Table">
                        <tr>
                            <th><input type="checkbox" id="Case-Employee" /></th>
                            <th>Employee</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="section2_Leave">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormFacultyInternalExternal", name = "FormFacultyInternalExternal" }))
            {
                <input id="Autho_Action" type="hidden" name="Autho_Action" />    <input type="text" id="Emp" name="Employee-Table" class="filter_structure_id" />
                <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
                <div class="row1 content_margine">@Html.LabelFor(m => m.Code, " Code", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Code, new { @class = "popup-content-textboxf must" })</div>
                @*<div class="row1 content_margine">
                        @Html.LabelFor(m => m.FacultyType, "Type", new { @class = "popup-content-label must" })
                        <select id="Category" class="drop must" name="Category"></select>
                    </div>*@
                <div class="dropdown_row1 arow3 content_margine">@Html.LabelFor(m => m.FacultyType, "Faculty Type :", new { @class = "popup-content-label must" })<select id="CategoryList_DDL" name="CategoryList_DDL" class="must" style="width:161px;"><option></option></select></div>



                @*<div class="row1 content_margine">
                        @Html.LabelFor(m => m.EmpID, "Emp ID", new { @class = "popup-content-label" })
                        <select id="emp" class="drop" name="emp"></select>
                    </div>*@

                <div class="row1 content_margine">@Html.LabelFor(m => m.Name, "Name", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Name, new { @class = "popup-content-textboxf must", @style = "width:286px;" })</div>

                <div class="row3 content_margine" id="FacultySpecializationhide">
                    <div id="FacultySpecializationlist_old"></div>
                    @Html.LabelFor(m => m.FacultySpecialization, "Faculty Specialization :", new { @class = "popup-content-label" })
                    <div class="popup-content-table">
                        <table class="lookuptableselected" id="FacultySpecializationlist">
                            <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                        </table>
                    </div>
                    <div class="icon-row">
                        <button data-p2btooltip="Lookup Faculty Specialization Details" class="  popup-content-icon-lookup" id="Lookup-FacultySpecialization-FacultyInternal"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Create Faculty Specialization Details" class="  popup-content-icon-create" id="Create-FacultySpecialization-FacultyInternal"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Edit Faculty Specialization Details" class="  popup-content-icon-edit" id="Edit-FacultySpecialization-FacultyInternal"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Remove Faculty Specialization Details" class="  popup-content-icon-remove" id="Remove-FacultySpecialization-FacultyInternal"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                    </div>
                </div>

                <div class="row3 content_margine" id="Addresshide">
                    <div id="AddressList_Old"></div>
                    @Html.LabelFor(m => m.Address, "Address", new { @class = "popup-content-label" })
                    <div class="popup-content-table">
                        <table class="lookuptableselected" id="Address_List">
                            <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                        </table>
                    </div>
                    <div class="icon-row">
                        <button data-p2btooltip="LookUp Address Details" class="popup-content-icon-lookup" id="Lookup-Address-FacultyInternal"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Crate Address Details" class="popup-content-icon-create" id="Address_Create-FacultyInternal"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Edit Address Details" class="popup-content-icon-edit" id="Address_Edit"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Remove Address Details" class="popup-content-icon-remove" id="Address_Remove"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                    </div>
                </div>

                <div class="row1 content_margine" id="ContactDetailshide">
                    <div id="ContactDetailsList_Old"></div>
                    @Html.LabelFor(m => m.ContactDetails, "Contact Details", new { @class = "popup-content-label" })
                    <div class="popup-content-table" style="width: 430px;">
                        <table class="lookuptableselected" id="Contact_List">
                            <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                        </table>
                    </div>
                    <div class="icon-row">
                        <button data-p2btooltip="LookUp Contact Details" class="popup-content-icon-lookup" id="Lookup_Contact"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Crate Contact Details" class="popup-content-icon-create" id="Contact_Create"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Edit Contact Details" class="popup-content-icon-edit" id="Contact_Edit-FacultyInternal"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Remove Contact Details" class="popup-content-icon-remove" id="Contact_Remove-FacultyInternal"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                    </div>
                </div>



                <div class="row1 content_margine" id="TrainingInstituehide">
                    <div id="ContactDetailslist_old1"></div>
                    @Html.LabelFor(m => m.TrainingInstitue, "Training Institute :", new { @class = "popup-content-label" })

                    <div class="popup-content-table">
                        <table class="lookuptableselected" id="TrainingInstitutelist">
                            <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                        </table>
                    </div>
                    <div class="icon-row">
                        <button data-p2btooltip="LookUp TrainingInstitue Details" class="popup-content-icon-lookup" id="Lookup-TrainingInstitute-FacultyExternal"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Create TrainingInstitue Details" class="popup-content-icon-create" id="Create-TrainingInstitute-FacultyExternal"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Edit TrainingInstitue Details" class="popup-content-icon-edit" id="Edit-TrainingInstitute-FacultyExternal"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Remove TrainingInstitue Details" class="popup-content-icon-remove" id="Remove-TrainingInstitute-FacultyExternal"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                    </div>
                </div>
                @*<div class="row1 content_margine">@Html.LabelFor(m => m.na, "Name", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.Name, new { @class = "popup-content-textboxf" })</div>*@
            }
        </div>
    </div>
</body>

<script>
    $(document).ready(function (e) {

        $('#TrainingInstituehide').fadeOut();
        $('#FacultySpecializationhide').fadeOut();
        $('#Addresshide').fadeOut();
        $('#ContactDetailshide').fadeOut();
        $('#Section_Emp').fadeOut();

        $('button').button();
        $.LoadEmpByDefault(true);
        //$('#Code').ValidateTextBox({ maxlength: 10, name: true, alphanum: true });
        $('#Code').attr('readonly', true);
        $('#Name').attr('readonly', true);
        $('#CategoryList_DDL').selectmenu().selectmenu("menuWidget").addClass('overflow');
       
        $("#CategoryList_DDL").on('selectmenuchange', function () {
            var value = $("#CategoryList_DDL option:selected").text().toUpperCase();

            if (value == "INTERNAL") {          //internal
                $('#Section_Emp').fadeIn();
                $('#FacultySpecializationhide').fadeIn();
                $('#Addresshide').fadeIn();
                $('#ContactDetailshide').fadeIn();
                $('#TrainingInstituehide').fadeOut();
            } else if (value == "EXTERNAL") {   //external
                $('#Code').attr('readonly', false);
                $('#Name').attr('readonly', false);
                $('#TrainingInstituehide').fadeIn();
                $('#Section_Emp').fadeOut();
                $('#FacultySpecializationhide').fadeOut();
                $('#Addresshide').fadeOut();
                $('#ContactDetailshide').fadeOut();
            }
        });
        $('#Advance-Filter-Symbol').on('click', function () {
            $("<div></div>").FilterDialog({
                width: 1000,
                height: 400,
                title: "Filter",
                htmlurl: "@Url.Action("Advance_partial", "Transcation")",
                returnat: function (data) {
                    console.log(data);
                    var forwarddata = JSON.stringify(data);
                    $('#Employee-Table').P2BTransactionTableDynamic('#Employee-Search', '#Case-Employee', './Transcation/Get_Employelist_h?geo_id=' + forwarddata + '', "");
                    //$('#Employee-Table').P2BTransactionTableDynamic('#Employee-Search', '#Case-Employee', './Transcation/Get_Employelist?geo_id=' + forwarddata + '', "");
                    //$('#pay_id').val(data.PayStruct);
                    //$('#fun_id').val(data.FunStruct);
                }, hierarchy: true,
                renderat: "#FormFilter",
            });
            //console.log($('#FormFilter')[0]);
        });
   

        $('#Lookup-Address-FacultyInternal').on('click', function (event) {
            $('.ContactLookup').P2BLookUpModal('@Url.Action("GetLookupDetailsAddress", "FacultyInternal")', '', 'lookupdiv_ContactDet', 'Address Look Up Data', '#Address_List', 'Address_List', 5, 'Address_List', '#FormFacultyInternalExternal', 'N', '#Address_Edit,#Address_Remove', 'lookupdiv_ContactDet', 'pageNavPosition_ContactDet');
            event.preventDefault();
        });
      
        $('#Lookup_Employee').button().on('click', function (event) {
            $('.LookupEmployee').P2BLookUpModal('@Url.Action("GetLookupEmployeeDetails", "FacultyInternal")', '', 'lookupdiv_Emp', 'Look Up Data', '#Employee_List', 'Employee_List', 10, 'EmployeeList', '#FormFacultyInternalExternal', 'N', '#InchargeNo_Edit,#InchargeNo_Remove', '#lookupdiv_Emp', 'pageNavPosition_Emp');
            event.preventDefault();
        });

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Address_Create-FacultyInternal').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "address")', 'Create Address', 'open', '@Url.Action("Create","Address")', '#FormAddress', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#FormFacultyInternalExternal', '', function (data) {
                // to show data which is created in partial page
                $('#Address_List').P2BLookUpEncapsulate('#Address_List', 'Address_List', data[0], data[1], 'Address_List', '#Address_Edit,#Address_Remove', 'N');
            });
            event.preventDefault();
        });

        $('#Address_Edit').button().on("click", function (event) {
            var a = [], b;
            a = $('#Address_List').P2BGetTableDataonSelectedRow('#Address_List', 0);
            b = a[0];
            console.log(b);
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "Address")', '@Url.Action("Edit", "Address")', b, '@Url.Action("Editsave","Address")', 'Edit Address', '#FormAddress', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#FormFacultyInternalExternal', '#Address_List', 'Address_List', 'Address_List', 'N', '#Address_Edit,#Address_Remove', function (data) {
                $.each(data[0], function (i, k) {
                    $('#FormAddress').trigger("reset");
                    $('#Address1').val(k.Address1);
                    $('#Address2').val(k.Address2);
                    $('#Address3').val(k.Address3);
                    $('#Landmark').val(k.Landmark);
                    $('#CountryList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "country")", "", k.Country_Id);
                    $('#StateList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "state")", "", k.State_Id);
                    $('#StateRegionList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "StateRegion")", "", k.StateRegion_Id);
                    $('#DistrictList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "District")", "", k.District_Id);
                    $('#TalukaList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "Taluka")", "", k.Taluka_Id);
                    $('#CityList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "City")", "", k.City_Id);
                    $('#AreaList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "area")", "", k.Area_Id);
                });
                //}, 3000);

            });
            event.preventDefault();
        });

        /* ------------------------- Addresss  Remove --------------------------- */



        $('#Address_Remove').button().on('click', function (event) {
            //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            var a = [], b;
            a = $('#Address_List').P2BGetTableDataonSelectedRow('#Address_List', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#Address_List', $('#Address_List').val(), 200, 200, '#FormFacultyInternalExternal', '#Address_List', '');
            event.preventDefault();
        });



        $('#Lookup_Contact').on('click', function (event) {
            $('.ContactLookup').P2BLookUpModal('@Url.Action("GetLookupDetailsContact", "FacultyInternal")', '', 'lookupdiv_ContactDet', 'Contact Look Up Data', '#Contact_List', 'Contact_List', 5, 'Contact_List', '#FormFacultyInternalExternal', 'N', '#Contact_Edit-FacultyInternal,#Contact_Remove-FacultyInternal', 'lookupdiv_ContactDet', 'pageNavPosition_ContactDet');
            event.preventDefault();
        });

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Contact_Create').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Createcontactdetails_partial", "FacultyInternal")', 'Create Contact', 'open', '@Url.Action("CreateSave", "ContactDetails")', '#FormContactDetails', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#FormFacultyInternalExternal', '#Contact_Edit,#Contact_Remove', function (data) {
                console.log(data);
                $('#Contact_List').P2BLookUpEncapsulate('#Contact_List', 'Contact_List', data[0], data[1], 'Contact_List', '#Contact_Remove-FacultyInternal,#Contact_Edit-FacultyInternal', 'N');
            });
            event.preventDefault();
        });

        $('#Contact_Edit-FacultyInternal').button().on("click", function (event) {
            var a = [], b;
            a = $('#Contact_List').P2BGetTableDataonSelectedRow('#Contact_List', 0);
            b = a[0];
            console.log(b);
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("Createcontactdetails_partial", "FacultyInternal")', '@Url.Action("Editcontactdetails_partial", "FacultyInternal")', b, '@Url.Action("EditSave", "ContactDetails")', 'Edit Contact Details', '#FormContactDetails', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#FormFacultyInternalExternal', '#Contact_List', 'Contact_List', 'Contact_List', 'N', '#Contact_Remove-FacultyInternal,#Contact_Edit-FacultyInternal', function (data) {
                setTimeout(function () {
                    $.each(data[0], function (i, k) {
                        $('#FormContactDetails').trigger('reset');
                        $('#EmailId').val(k.EmailId);
                        $('#Website').val(k.Website);
                        $('#FaxNo').val(k.FaxNo);
                    });

                    $.each(data[1], function (i, k) {
                        //$('#Contact_List').P2BLookUpEncapsulate('#Contact_List', 'ContactNos_List', k.Id, k.FullContactNumbers, 'Contact_List');
                        $('#ContactNos_List').P2BLookUpEncapsulate('#ContactNos_List', 'ContactNos_List', k.Id, k.FullContactNumbers, 'ContactNos_List', '#Contact_Remove-FacultyInternal,#Contact_Edit-FacultyInternal', 'A');
                    });
                }, 3000);
            });
            event.preventDefault();
        });



        $('#Contact_Remove-FacultyInternal').button().on('click', function (event) {
            // dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            var a = [], b;
            a = $('#Contact_List').P2BGetTableDataonSelectedRow('#Contact_List', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('@Url.Action("DeleteContactDetails", "FacultyInternal")', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#Contact_List', $('#Contact_List').val(), 200, 200, '#FormFacultyInternalExternal', '#Contact_List', '#Contact_Remove-FacultyInternal,#Contact_Edit-FacultyInternal');
            event.preventDefault();
        });

        //FacultySpecialization
        $('#Lookup-FacultySpecialization-FacultyInternal').button().on('click', function (event) {
            $('.ContactLookup').P2BLookUpModal('@Url.Action("GetLookup", "FacultySpecialization")', '', 'lookupdiv_ContactDet', 'Faculty Specialization Look Up Data', '#FacultySpecializationlist', 'FacultySpecializationlist', 5, 'FacultySpecializationlist', '#FormFacultyInternalExternal', 'A', '#Edit-FacultySpecialization-FacultyInternal,#Remove-FacultySpecialization-FacultyInternal', 'lookupdiv_ContactDet', 'pageNavPosition_ContactDet');
            event.preventDefault();
        });

      

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-FacultySpecialization-FacultyInternal').button().on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "FacultySpecialization")', 'Create Faculty Specialization', 'open', '@Url.Action("Create","FacultySpecialization")', '#frmFacultySpecialization', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#FormFacultyInternalExternal', '#Edit-FacultySpecializationNo-ContDetails,#Remove-FacultySpecializationNo-ContDetails', function (data) {
                $('#FacultySpecializationlist').P2BLookUpEncapsulate('#FacultySpecializationlist', 'FacultySpecializationlist', data[0], data[1], 'FacultySpecializationlist', '#Edit-FacultySpecialization-FacultyInternal,#Remove-FacultySpecialization-FacultyInternal', 'A');
            });
            event.preventDefault();
        });

        $('#Edit-FacultySpecialization-FacultyInternal').button().on("click", function (event) {
            var a = [], b;
            a = $('#FacultySpecializationlist').P2BGetTableDataonSelectedRow('#FacultySpecializationlist', 0);
            b = a[0];
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "FacultySpecialization")', '@Url.Action("Edit", "FacultySpecialization")', b, '@Url.Action("EditSave", "FacultySpecialization")', 'Edit Faculty Specialization Details', '#frmFacultySpecialization', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#FormFacultyInternalExternal', '#FacultySpecializationlist', 'FacultySpecializationlist', 'FacultySpecializationlist', 'A', '#Remove-FacultySpecializationNo-ContDetails,#Edit-FacultySpecializationNo-ContDetails', function (data) {
                $.each(data[0], function (i, k) {
                    $('#frmFacultySpecialization').trigger('reset');
                    $('#SpecType').val(k.SpecType);
                    $('#SpecArea').val(k.SpecArea);
                });

            });
            event.preventDefault();
        });

        $('#Remove-FacultySpecialization-FacultyInternal').button().on('click', function (event) {
            var a = [], b;
            a = $('#FacultySpecializationlist').P2BGetTableDataonSelectedRow('#FacultySpecializationlist', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#FacultySpecializationlist', $('#FacultySpecializationlist').val(), 200, 200, '#FormFacultyInternalExternal', '#FacultySpecializationlist', '#Edit-FacultySpecialization-FacultyInternal,#Remove-FacultySpecialization-FacultyInternal');
            event.preventDefault();
        });

        $('#Edit').on('click', function (e) {
            AssignData();
            $('#Section_Emp').fadeOut();
            $('#Create_dialog1').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit Faculty Internal Data->" + JSON.stringify(dt) + "", '#FacultyInternalExternal', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 546, 1113, '#Contact_List,#Address_List', '', function (data) {

                $.each(data[0], function (i, k) {

                    $('#Code').val(k.Code);
                    $('#Code').attr('readonly', 'readonly');
                    $('#Name').val(k.Name);
                    $('#Category').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 1051, k.FacultyType_Id);
                });

                $.each(data[1], function (i, k) {
                    $('#Contact_List').P2BLookUpEncapsulate('#Contact_List', 'Contact_List', k.Cont_Id, k.FullContactDetails, 'Contact_List', '', 'N');
                });

                $.each(data[1], function (i, k) {
                    $('#Address_List').P2BLookUpEncapsulate('#Address_List', 'Address_List', k.Add_Id, k.Address_FullAddress, 'Address_List', '', 'N');
                });
                $.each(data[2], function (i, k) {
                    //   $('#TrainingInstitutelist').P2BLookUpEncapsulate('#TrainingInstitutelist', 'TrainingInstitutelist', k.train_id, k.traininginst_details, 'TrainingInstitutelist', '', 'N');
                    $('#FacultySpecializationlist').P2BLookUpEncapsulate('#FacultySpecializationlist', 'FacultySpecializationlist', k.fac_id, k.fac_details, 'FacultySpecializationlist', '', 'N');
                });
                //$.each(data[1], function (i, k) {
                //    $('#Employee_List').P2BLookUpEncapsulate('#Employee_List', 'Employee_List', k.EMP_Id, k.FullEmpId, 'Employee_List', '', 'N');
                //    //$('#Contact_List').P2BLookUpEncapsulate('#Contact_List', 'Contact_List', k.Cont_Id, k.FullContactDetails, 'Contact_List', '', 'N');
                //    //$('#Employee_List').P2BLookUpEncapsulate('#Employee_List', 'EmployeeList', k.EMP_Id, k.FullEmpId, 'Employee_List', '', 'N');
                //});
                $('#Autho_Allow').val(data[3]); //Compulsory for authorisation

            });
            e.preventDefault();
        });

        //View main page
        $('#View').button().click(function (event) {
            $('#Section_Emp').fadeOut();
            AssignData();
            $('#Create_dialog1').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, "View Faculty Internal->" + JSON.stringify(dt) + "", '#AddressList,#ContactDetailsList', '#Lookup_Employee,#Lookup_Address-FacultyInternal-FacultyInternal,#Address_Create-FacultyInternal,#Lookup_Contact,#Contact_Create,#Create_Employee,#Edit_Employee,#Remove_Employee,#Address_Edit,#Address_Edit,#Address_Remove,#Contact_Edit-FacultyInternal,#Contact_Remove-FacultyInternal', 546, 1113, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {
                $.each(data[0], function (i, k) {
                    $('#Autho_Action').val(k.Action);
                    $('#Code').val(k.Code);
                    $('#Name').val(k.Name);
                    $('#Category').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 1051, k.FacultyType_Id);
                });

                $.each(data[1], function (i, k) {

                    // $('#Address_List').P2BLookUpEncapsulate('#Address_List', 'AddList', k.Add_Id, k.Address_FullAddress, 'Address_List', '', 'N');
                    $('#Contact_List').P2BLookUpEncapsulate('#Contact_List', 'Contact_List', k.Cont_Id, k.FullContactDetails, 'Contact_List', 'view', 'N');

                    //  $('#Employee_List').P2BLookUpEncapsulate('#Employee_List', 'EmployeeList', k.EMP_Id, k.FullEmpId, 'Employee_List', '', 'N');
                    //   $('#Address_List').P2BLookUpEncapsulate('#Address_List', 'AddList', k.Add_Id, k.Address_FullAddress, 'Address_List', '', 'N');

                });

                $.each(data[1], function (i, k) {
                    $('#Address_List').P2BLookUpEncapsulate('#Address_List', 'Address_List', k.Add_Id, k.Address_FullAddress, 'Address_List', 'view', 'N');
                    //$('#Contact_List').P2BLookUpEncapsulate('#Contact_List', 'Contact_List', k.Cont_Id, k.FullContactDetails, 'Contact_List', '', 'N');
                    //$('#Employee_List').P2BLookUpEncapsulate('#Employee_List', 'EmployeeList', k.EMP_Id, k.FullEmpId, 'Employee_List', '', 'N');
                });

                $.each(data[1], function (i, k) {
                    $('#Employee_List').P2BLookUpEncapsulate('#Employee_List', 'Employee_List', k.EMP_Id, k.FullEmpId, 'Employee_List', 'view', 'N');
                    //$('#Contact_List').P2BLookUpEncapsulate('#Contact_List', 'Contact_List', k.Cont_Id, k.FullContactDetails, 'Contact_List', '', 'N');
                    //$('#Employee_List').P2BLookUpEncapsulate('#Employee_List', 'EmployeeList', k.EMP_Id, k.FullEmpId, 'Employee_List', '', 'N');
                });

                //To bind old data if authorisation is true
                if ($("#Autho").hasClass('auto_active')) {
                    $('#Name').oldVal(data[2].Name);
                    $('#Category').oldDropval(data[2].FacultyType_Val);
                    $('#AddressList_Old').oldLookupVal(data[2].Address_Val);
                    $('#ContactDetailsList_Old').oldLookupVal(data[2].Contact_Val);
                    $('#Emplist_old').oldLookupVal(data[2].Emplist_Val);
                }
                //}, 2000);
            });
        });

        $('#Delete').button().click(function (event) {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            $('#FacultyInternalExternal').P2BDeleteModalDialog('@Url.Action("Delete", "FacultyInternal")', dt.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
        });


        $('#Lookup-TrainingInstitute-FacultyExternal').on('click', function (event) {
            $('.ContactLookup').P2BLookUpModal('@Url.Action("GetLookup", "TrainingInstitute")', '', 'lookupdiv_ContactDet', 'TrainingInstitute Look Up Data', '#TrainingInstitutelist', 'TrainingInstitutelist', 5, 'TrainingInstitutelist', '#FormFacultyInternalExternal', 'N', '#Edit-TrainingInstitute-FacultyExternal,#Remove-TrainingInstitute-FacultyExternal', 'lookupdiv_ContactDet', 'pageNavPosition_ContactDet');
            event.preventDefault();
        });

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-TrainingInstitute-FacultyExternal').button().on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "TrainingInstitute")', 'Create Training Institute', 'open', '@Url.Action("Create", "TrainingInstitute")', '#frmTrainingInstituteP', 'Message :', 'Request Falied :', '#JqGrid', 400, 557, '', '', '', '#FormFacultyInternalExternal', '', function (data) {
                $('#TrainingInstitutelist').P2BLookUpEncapsulate('#TrainingInstitutelist', 'TrainingInstitutelist', data[0], data[1], 'TrainingInstitutelist', '', 'N');
                $('#InstituteTypelist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 1053, "");
            });
            event.preventDefault();
        });
        $('#Edit-TrainingInstitute-FacultyExternal').button().on("click", function (event) {
            var a = [], b;
            a = $('#TrainingInstitutelist').P2BGetTableDataonSelectedRow('#TrainingInstitutelist', 0);
            b = a[0];
            console.log(b);
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname,                                                                                                                    height, width, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not, returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "TrainingInstitute")', '@Url.Action("Edit", "TrainingInstitute")', b, '@Url.Action("EditSave", "TrainingInstitute")', 'Edit Training Institute Details', '#frmTrainingInstituteP', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 557, '#FormFacultyInternalExternal', '#TrainingInstitutelist', 'TrainingInstitutelist', 'TrainingInstitutelist', 'N', '', function (data) {
                // setTimeout(function () {
                $.each(data[0], function (i, k) {
                    $('#FormTrainingInstitute').trigger('reset');
                    $('#Code1').val(k.Code);
                    $('#Name1').val(k.Name);
                    // $('#InstituteType').val(k.InstituteType);
                    $('#ContactPerson').val(k.ContactPerson);
                    $('#InstituteTypelist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 1053, k.InstituteType_ID);

                });

                $.each(data[1], function (i, k) {
                    $('#ContactDetailsList').P2BLookUpEncapsulate('#ContactDetailsList', 'ContactDetailsList', k.ContactDetails_Id, k.ContactDetails_FullDetails, 'ContactDetailsList', '#Edit-ContactNo-ContDetails,#Remove-ContactNo-ContDetails', 'A');
                });
                // }, 3000);
            });
            event.preventDefault();
        });

        $('#Remove-TrainingInstitute-FacultyExternal').button().on('click', function (event) {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            var a = [], b;
            a = $('#TrainingInstitutelist').P2BGetTableDataonSelectedRow('#TrainingInstitutelist', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#TrainingInstitutelist', $('#TrainingInstitutelist').val(), 200, 200, '#FormFacultyInternalExternal', '#TrainingInstitutelist', '');
            event.preventDefault();
        });


        @*$('#Employee-Table').OnClickFormReset('#FacultyInternalExternal', '#Emp', function () {
            $('#Emp').val();
            $('#Category').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 1051, ""); // To bind dropdown on page load
        });*@


        $('#Employee-Table').on('click', 'input:checkbox:gt(0)', function (e) {
            //  $('input[type="checkbox"]').not(this).prop("checked", false);
            if (this.checked) {
                var id = $(this).val();
                $.ajax({
                    method: "post",
                    data: { data: id },
                    url:"@Url.Action("getemp","FacultyInternalExternal")" ,
                    success: (function (data) {
                        console.log(data);
                        $("#Code").val(data.Id);
                        $("#Name").val(data.Name);
                    })
                });
              
            }
        });


        // $('#Code').ForceOnlyAlphaNumeric();

        $('.popup_radio_button').controlgroup();
        $('#Category').selectmenu().selectmenu("menuWidget");
    });

</script>
