@{
    Layout = null;
}
@model Training.FacultyExternal

<link href="~/Content/Unit/Unit.css" rel="stylesheet" />
<link href="~/Content/popup_form.css" rel="stylesheet" />

<style>
    /*.icon-row {
        position: relative;
        left: 60px;
        top: -150px;
    }*/

    .icon-row {
        position: relative;
        left: 56px;
        top: -150px;
    }

    #BusinessType-button {
        font-size: 9px;
        padding-top: 1px;
        font-weight: bold;
    }

    .popup-content-label {
        display: block;
        float: left;
        width: 100px;
    }

    .popup-content-textbox {
        margin-bottom: 1px;
        min-width: 150px;
    }

    .row3 {
        width: 402px;
    }

    .row4 {
        position: absolute;
        top: 294px;
        width: 400px;
    }

    .popup-content-textbox-long {
        margin-bottom: 1px;
        width: 290px;
    }


    .row2 {
        width: 402px;
    }
</style>

<script>
    $(document).ready(function (e) {

        var SortName, Caption, url, width, height;
        var btndisablenames = "#Edit-Address-Corporate,#Remove-Address-Corporate,#Edit-ContactDetails-Corporate,#Remove-ContactDetails-Corporate";

        Caption = 'Faculty External';

        width = 1000;
        height = 500;
          $('.popup_radio_button').controlgroup();
        $('#Lookup-FacultySpecialization-FacultyExternal').button().on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookup", "FacultySpecialization")', '', 'LookupDiv', 'FacultySpecialization Look Up Data', '#FacultySpecializationlist', 'FacultySpecializationlist', 5, 'FacultySpecializationlist', '#frmFacultyExternal', 'N', '#Edit-FacultySpecialization-FacultyExternal,#Remove-FacultySpecialization-FacultyExternal', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });
        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-FacultySpecialization-FacultyExternal').button().on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "FacultySpecialization")', 'Create FacultySpecialization', 'open', '@Url.Action("Create","FacultySpecialization")', '#frmFacultySpecialization', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#frmFacultyExternal', '#Edit-FacultySpecializationNo-ContDetails,#Remove-FacultySpecializationNo-ContDetails', function (data) {
                $('#FacultySpecializationlist').P2BLookUpEncapsulate('#FacultySpecializationlist', 'FacultySpecializationlist', data[0], data[1], 'FacultySpecializationlist', '#Edit-FacultySpecialization-FacultyExternal,#Remove-FacultySpecialization-FacultyExternal', 'N');
            });
            event.preventDefault();
        });

        $('#Edit-FacultySpecialization-FacultyExternal').button().on("click", function (event) {
            var a = [], b;
            a = $('#FacultySpecializationlist').P2BGetTableDataonSelectedRow('#FacultySpecializationlist', 0);
            b = a[0];
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "FacultySpecialization")', '@Url.Action("Edit", "FacultySpecialization")', b, '@Url.Action("EditSave", "FacultySpecialization")', 'Edit FacultySpecialization Details', '#frmFacultySpecialization', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmFacultyExternal', '#FacultySpecializationlist', 'FacultySpecializationlist', 'FacultySpecializationlist', 'N', '#Remove-FacultySpecializationNo-ContDetails,#Edit-FacultySpecializationNo-ContDetails', function (data) {
                $.each(data[0], function (i, k) {
                    $('#frmFacultySpecialization').trigger('reset');
                    $('#SpecType').val(k.SpecType);
                    $('#SpecArea').val(k.SpecArea);
                });

            });
            event.preventDefault();
        });

        $('#Remove-FacultySpecialization-FacultyExternal').button().on('click', function (event) {
            var a = [], b;
            a = $('#FacultySpecializationlist').P2BGetTableDataonSelectedRow('#FacultySpecializationlist', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#FacultySpecializationlist', $('#FacultySpecializationlist').val(), 200, 200, '#frmFacultyExternal', '#FacultySpecializationlist', '#Edit-FacultySpecialization-FacultyExternal,#Remove-FacultySpecialization-FacultyExternal');
            event.preventDefault();
        });
        $('#Lookup-TrainingInstitute-FacultyExternal').button().on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookup", "TrainingInstitute")', '', 'LookupDiv', 'ContactDetails Look Up Data', '#TrainingInstitutelist', 'TrainingInstitutelist', 5, 'TrainingInstitutelist', '#frmFacultyExternal', 'N', '#Edit-TrainingInstitute-FacultyExternal,#Remove-TrainingInstitute-FacultyExternal', 'lookupdiv_FacultyExternal', 'pageNavPosition_FacultyExternal');
            event.preventDefault();
        });
        @*$('#Lookup-TrainingInstitute-FacultyExternale').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookup", "TrainingInstitute")', '', 'LookupDiv', 'ContactDetails Look Up Data', '#TrainingInstitutelist', 'TrainingInstitutelist', 5, 'TrainingInstitutelist', '#frmFacultyExternal', 'N', '#Edit-TrainingInstitute-FacultyExternal,#Remove-TrainingInstitute-FacultyExternal', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });*@

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-TrainingInstitute-FacultyExternal').button().on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "TrainingInstitute")', 'Create TrainingInstitute Details', 'open', '@Url.Action("Create", "TrainingInstitute")', '#frmTrainingInstitute', 'Message :', 'Request Falied :', '#JqGrid', 500, 650, '', '', '', '#frmFacultyExternal', '', function (data) {
                $('#TrainingInstitutelist').P2BLookUpEncapsulate('#TrainingInstitutelist', 'TrainingInstitutelist', data[0], data[1], 'TrainingInstitutelist', '#Edit-ContactDetails-Disease,#Remove-ContactDetails-Disease', 'A');
                $('#InstituteTypelist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 1053, "");
            });
            event.preventDefault();
        });


        $('#Edit-TrainingInstitute-FacultyExternal').button().on("click", function (event) {
            var a = [], b;
            a = $('#TrainingInstitutelist').P2BGetTableDataonSelectedRow('#TrainingInstitutelist', 0);
            b = a[0];
            console.log(b);
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname,                                                                                                                    height, width, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not, returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "TrainingInstitute")', '@Url.Action("Edit", "TrainingInstitute")', b, '@Url.Action("EditSave", "TrainingInstitute")', 'Edit TrainingInstitute Details', '#frmTrainingInstitute', b, 'Message :', 'Request Falied :', '#JqGrid', 500, 650, '#frmFacultyExternal', '#TrainingInstitutelist', 'TrainingInstitutelist', 'TrainingInstitutelist', 'N', '#Remove-TrainingInstitute-FacultyExternal,#Edit-TrainingInstitute-FacultyExternal', function (data) {
                // setTimeout(function () {
                $.each(data[0], function (i, k) {
                    $('#frmTrainingInstitute').trigger('reset');
                    $('#Code').val(k.Code);
                    $('#Name').val(k.Name);
                    // $('#InstituteType').val(k.InstituteType);
                    $('#ContactPerson').val(k.ContactPerson);
                    $('#InstituteTypelist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 1053, k.InstituteType_ID);

                });

                $.each(data[1], function (i, k) {
                    $('#ContactDetailsList').P2BLookUpEncapsulate('#ContactDetailsList', 'ContactDetailsList', k.ContactDetails_Id, k.ContactDetails_FullDetails, 'ContactDetailsList', '#Edit-ContactNo-ContDetails,#Remove-ContactNo-ContDetails', 'A');
                });
                // }, 3000);
            });
            event.preventDefault();
        });


        $('#Remove-TrainingInstitute-FacultyExternal').button().on('click', function (event) {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            var a = [], b;
            a = $('#TrainingInstitutelist').P2BGetTableDataonSelectedRow('#TrainingInstitutelist', 0);
            b = a[0];
            console.log(b);
            $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#TrainingInstitutelist', $('#TrainingInstitutelist').val(), 200, 200, '#frmFacultyExternal', '#TrainingInstitutelist');
            event.preventDefault();
        });

        $('#Categorylist').selectmenu().selectmenu("menuWidget");
        $('#Categorylist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 100, "");
        $('.popup_radio_button').controlgroup();
        $('#Autho').makeDisable('#Create,#Edit,#Delete');

      //  $('.drop').selectmenu().selectmenu("menuWidget");
        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');
    });
</script>

<body>
    <div class="TrainingInstits">
        <div title="LookUp Data">
            <div class="lookupdiv_Traininginst"></div>
        </div>
        <div id="pageNavPosition_Traininginst">
        </div>
    </div>

    <div class="FacultyExternal">
        <div title="LookUp Data">
            <div class="lookupdiv_FacultyExternal"></div>
        </div>
        <div id="pageNavPosition_FacultyExternal">
        </div>
    </div>


    <div id="Create_Dialog">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmFacultyExternal", name = "frmFacultyExternal" }))
        {

            <div class="row1 content_margine">@Html.LabelFor(m => m.Code, " Code", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.Code, new { @class = "popup-content-textbox" })</div>
            @*<div class="row1 content_margine">
                    @Html.LabelFor(m => m.FacultyType, "Type", new { @class = "popup-content-label must" })
                    <select id="Category" class="drop must" name="Category"></select>
                </div>*@
            //<div class="dropdown_row1 row3 content_margine">@Html.LabelFor(m => m.FacultyType, "Faculty Type :", new { @class = "popup-content-label must" })<select id="Categorylist" name="Categorylist" class="" style="width:161px;"><option></option></select></div>
            <div class="row1 content_margine">
                @Html.LabelFor(m => m.TrainingInstitue, "Training Institue", new { @class = "popup-content-label" })

                <div class="popup-content-table">
                    <table class="lookuptableselected" id="TrainingInstitutelist">
                        <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="LookUp TrainingInstitue Details" class="popup-content-icon-lookup" id="Lookup-TrainingInstitute-FacultyExternal"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Crate TrainingInstitue Details" class="popup-content-icon-create" id="Create-TrainingInstitute-FacultyExternal"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit TrainingInstitue Details" class="popup-content-icon-edit" id="Edit-TrainingInstitute-FacultyExternal"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Remove TrainingInstitue Details" class="popup-content-icon-remove" id="Remove-TrainingInstitute-FacultyExternal"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>


            <div class="row3 content_margine">@Html.LabelFor(m => m.Narration, "Narration", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.Narration, new { @class = "popup-content-textbox" })</div>
            <div class="row3 content_margine">
                @Html.LabelFor(m => m.FacultySpecialization, "Faculty Specilisation", new { @class = "popup-content-label" })

                <div class="popup-content-table">
                    <table class="lookuptableselected" id="FacultySpecializationlist">
                        <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup FacultySpecialization Details" class="  popup-content-icon-lookup" id="Lookup-FacultySpecialization-FacultyExternal"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Create FacultySpecialization Details" class="  popup-content-icon-create" id="Create-FacultySpecialization-FacultyExternal"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit FacultySpecialization Details" class="  popup-content-icon-edit" id="Edit-FacultySpecialization-FacultyExternal"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Remove FacultySpecialization Details" class="  popup-content-icon-remove" id="Remove-FacultySpecialization-FacultyExternal"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>

        }
    </div>
</body>