@{
    Layout = null;
}
@model Training.FacultyInternal

<link href="~/Content/Unit/Unit.css" rel="stylesheet" />
<link href="~/Content/popup_form.css" rel="stylesheet" />

<style>
    .icon-row {
        position: relative;
        left: 60px;
        top: -150px;
    }
</style>

<script>
    $(document).ready(function (e) {
        $('button').button();




        $('#Lookup_Address').button().on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupDetailsAddress", "FacultyInternal")', '', 'LookupDiv', 'Look Up Data', '#Address_List', 'Address_List', 5, 'AddList', '#frmFacultyInternal', 'N', '#Address_Edit,#Address_remove', '#Lookup-search');
            event.preventDefault();
        });

        $('#Lookup_Employee').button().on('click', function (event) {
            $('.LookupEmployee').P2BLookUpModal('@Url.Action("GetLookupEmployeeDetails", "FacultyInternal")', '', 'lookupdiv_Emp', 'Look Up Data', '#Employee_List', 'Employee_List', 10, 'EmployeeList', '#frmFacultyInternal', 'N', '#InchargeNo_Edit,#InchargeNo_Remove', '#lookupdiv_Emp', 'pageNavPosition_Emp');
            event.preventDefault();
        });

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Address_Create').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "address")', 'Create Department Address', 'open', '@Url.Action("Create","Address")', '#FormAddress', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#frmFacultyInternal', '#Address_Edit,#Address_remove', function (data) {
                console.log(data);
                $('#Address_List').P2BLookUpEncapsulate('#Address_List', 'AddList', data[0], data[1], 'Address_List', 'N');
            });
            event.preventDefault();
        });

        $('#Address_Edit').button().on("click", function (event) {
            var a = [], b;
            a = $('#Address_List').P2BGetTableDataonSelectedRow('#Address_List', 0);
            b = a[0];
            console.log(b);
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "address")', '@Url.Action("edit", "address")', b, '@Url.Action("Editsave","Address")', 'Edit Address', '#FormAddress', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmFacultyInternal', '#Address_List', 'Address_List', 'Address_List', 'N', '#Address_Edit,#Address_remove', function (data) {
//below 1 is old upper new
             @*$('<div></div>').P2BPatialEditModalDialog('@Url.Action("Createaddress_partial", "FacultyInternal")', '@Url.Action("Editaddress_partial", "Department")', b, '@Url.Action("Edit","Address")', 'Edit Address', '#FormAddress', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmFacultyInternal', '#Address_Edit,#Address_remove', '#Address_List', 'AddList', 'Address_List', function (data) {*@
                $.each(data, function (i, k) {
                    $('#FormAddress').trigger("reset");
                    $('#Address1').val(k.Address1);
                    $('#Address2').val(k.Address2);
                    $('#Address3').val(k.Address3);
                    $('#Landmark').val(k.Landmark);
                    $('#CountryList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "country")", "", k.Country_Id);
                    $('#StateList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "state")", "", k.State_Id);
                    $('#StateRegionList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "StateRegion")", "", k.StateRegion_Id);
                    $('#DistrictList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "District")", "", k.District_Id);
                    $('#TalukaList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "Taluka")", "", k.Taluka_Id);
                    $('#CityList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "City")", "", k.City_Id);
                    $('#AreaList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "area")", "", k.Area_Id);
                });
                //}, 3000);

            });
            event.preventDefault();
        });

        /* ------------------------- Addresss  Remove --------------------------- */

        $('#Address_remove').button().on('click', function (event) {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            var a = [], b;
            a = $('#Address_List').P2BGetTableDataonSelectedRow('#Address_List', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('@Url.Action("AddressRemove", "FacultyInternal")', b, dt.ID, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#Address_List', $('#Address_List').val(), 200, 200, '#FormDepartment ', '#Address_List');
            event.preventDefault();
        });

        $('#Lookup_Contact').button().on('click', function (event) {
            alert('Test');
            $('.ContactLookup').P2BLookUpModal('@Url.Action("GetLookupDetailsContact", "FacultyInternal")', '', 'lookupdiv_ContactDet', 'Look Up Data', '#Contact_List', 'Contact_List', 10, 'ContactList', '#frmFacultyInternal', 'N', '#Contact_Edit,#Contact_Remove', '#lookupdiv_ContactDet', 'pageNavPosition_ContactDet');
            event.preventDefault();
        });

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Contact_Create').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Createcontactdetails_partial", "Corporate")', 'Create Contact', 'open', '@Url.Action("CreateSave", "ContactDetails")', '#frmContactDetails', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#frmFacultyInternal', '#Contact_Edit,#Contact_Remove', function (data) {
                console.log(data);
                $('#Contact_List').P2BLookUpEncapsulate('#Contact_List', 'ContactList', data[0], data[1], 'Contact_List');
            });
            event.preventDefault();
        });

        $('#Contact_Edit').button().on("click", function (event) {
            var a = [], b;
            a = $('#Contact_List').P2BGetTableDataonSelectedRow('#Contact_List', 0);
            b = a[0];
            console.log(b);
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("Createcontactdetails_partial", "Corporate")', '@Url.Action("Editcontactdetails_partial", "Corporate")', b, '@Url.Action("EditSave", "ContactDetails")', 'Edit ContactDetails', '#frmContactDetails', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmFacultyInternal', '#Contact_Edit,#Contact_remove', '#ContactNos_List', 'ContactList', 'Contact_List', function (data) {
                setTimeout(function () {
                    $.each(data[0], function (i, k) {
                        $('#frmContactDetails').trigger('reset');
                        $('#EmailId').val(k.EmailId);
                        $('#Website').val(k.Website);
                        $('#FaxNo').val(k.FaxNo);
                    });

                    $.each(data[1], function (i, k) {
                        $('#Contact_List').P2BLookUpEncapsulate('#Contact_List', 'ContactNosList', k.Id, k.FullContactDetails, 'Contact_List');
                    });
                }, 3000);
            });
            event.preventDefault();
        });

        $('#Contact_Remove').button().on('click', function (event) {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            var a = [], b;
            a = $('#Contact_List').P2BGetTableDataonSelectedRow('#Contact_List', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('@Url.Action("ContactDetailsRemove", "FacultyInternal")', b, dt.ID, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#Contact_List', $('#Contact_List').val(), 200, 200, '#frmFacultyInternal', '#Contact_List');
            event.preventDefault();
        });


        $('#Code').ForceOnlyAlphaNumeric();
        $('#Code').MaxLength(10);
        $('#Name').MaxLength(50);

        $('.popup_radio_button').controlgroup();
        $('#Autho').makeDisable('#Create,#Edit,#Delete');
        $('#Category').selectmenu().selectmenu("menuWidget");
        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');
    });

</script>



<body>

    <div class="LookupEmployee">
        <div title="LookUp Data">
            <div class="lookupdiv_Emp"></div>
        </div>
        <div id="pageNavPosition_Emp">
        </div>
    </div>


    <div class="ContactLookup">
        <div title="LookUp Data">
            <div class="lookupdiv_ContactDet"></div>
        </div>
        <div id="pageNavPosition_ContactDet">

        </div>
    </div>

    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">
        </div>
    </div>


    <div id="Create_Dialog" title="Create Corpoarte">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmFacultyInternal", name = "frmFacultyInternal" }))
        {
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
            <div class="row1 content_margine">@Html.LabelFor(m => m.Code, " Code", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.Code, new { @class = "popup-content-textbox" })</div>
            <div class="row1 content_margine">
              @*@Html.LabelFor(m => m.FacultyType, "Type", new { @class = "popup-content-label must" })*@
                <select id="Category" class="drop must" name="Category"></select>
            </div>



            @*<div class="row1 content_margine">
                    @Html.LabelFor(m => m.EmpID, "Emp ID", new { @class = "popup-content-label" })
                    <select id="emp" class="drop" name="emp"></select>
                </div>*@

            <div class="row1 content_margine">@Html.LabelFor(m => m.Name, "Name", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.Name, new { @class = "popup-content-textbox" })</div>
            <div class="row1 content_margine">
                @Html.LabelFor(m => m.EmpID, "Emp Id", new { @class = "popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="Employee_List">
                        <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="LookUp Contact Details" class="popup-content-icon-lookup" id="Lookup_Employee"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Crate Contact Details" class="popup-content-icon-create" id="Create_Employee"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit Contact Details" class="popup-content-icon-edit" id="Edit_Employee"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Remove Contact Details" class="popup-content-icon-remove" id="Remove_Employee"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>

            <div class="row3 content_margine">
                <div id="AddressList_Old"></div>
                @Html.LabelFor(m => m.Address, "Address", new { @class = "popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="Address_List">
                        <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="LookUp Contact Details" class="popup-content-icon-lookup" id="Lookup_Address"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Crate Contact Details" class="popup-content-icon-create" id="Address_Create"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit Contact Details" class="popup-content-icon-edit" id="Address_Edit"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Remove Contact Details" class="popup-content-icon-remove" id="Address_remove"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>

            <div class="row1 content_margine">
                <div id="ContactDetailsList_Old"></div>
                @Html.LabelFor(m => m.ContactDetails, "ContactDetails", new { @class = "popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="Contact_List">
                        <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="LookUp Contact Details" class="popup-content-icon-lookup" id="Lookup_Contact"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Crate Contact Details" class="popup-content-icon-create" id="Contact_Create"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit Contact Details" class="popup-content-icon-edit" id="Contact_Edit"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Remove Contact Details" class="popup-content-icon-remove" id="Contact_Remove"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>

            @*<div class="row1 content_margine">@Html.LabelFor(m => m.na, "Name", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.Name, new { @class = "popup-content-textbox" })</div>*@
        }

    </div>
</body>