@{
    Layout = null;
}

@model Training.SubCategory
@*<link href="~/Content/Unit/Unit.css" rel="stylesheet" />*@
<link href="~/Content/popup_form.css" rel="stylesheet" />


<style>
    .icon-row {
        position: relative;
        left: 60px;
        top: -150px;
    }
    .popup-content-icon-lookup {
        height: 20px;
        left: 350px;
        margin: auto;
        position: absolute;
        width: 20px;
    }
    .popup-content-icon-create {
        height: 20px;
        left: 350px;
        margin: auto;
        position: absolute;
        width: 20px;
    }
    .popup-content-icon-edit {
        height: 20px;
        left: 350px;
        margin: auto;
        position: absolute;
        width: 20px;
    }
    .popup-content-icon-remove {
        height: 20px;
        left: 350px;
        margin: auto;
        position: absolute;
        width: 20px;
    }
</style>

<script>
    $(document).ready(function (e) {
        var dia;
        $('button').button();
        var SortName, Caption, url, width, height;
        var btndisablenames = "";
        //"#StayFees","#TrainingFees",  "#TravelFees"


        $('#Details').ValidateTextBox({ maxlength: 500, alphanum: true });
        $('#Code').ValidateTextBox({ maxlength: 50, alphanum: true });

        //$('.drop').selectmenu().selectmenu("menuWidget").addClass("overflow");
        $('.popup_radio_button').controlgroup();
        $('#dob').P2BDatePicker();
        $('#Autho').makeDisable('#Create,#Edit,#Delete');
        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');

        $('#Lookup-ProgramListlistS-SubCategory').button().on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupDetailsProgramList", "SubCategory")', '', 'LookupDiv', '  Look Up Data', '#ProgramListlistS', 'ProgramListlistS', 5, 'ProgramListlistS', '#frmSubCategoryP', 'A', ' ', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-ProgramListlistS-SubCategory').button().on("click", function (event) {
            //function (url, maindialogtitle, state, submiturl, submitnameformforserilize, savemessage, errormessage, gridreloadname, height, width, forwarddata, ControlName, event, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, returnfunctiondata) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "ProgramList")', 'Create Programlist', 'open', '@Url.Action("Create", "ProgramList")', '#frmProgramListP', 'Message :', 'Request Falied :', '#JqGrid', 400, 560, '', '', '', '#frmProgramListP', '', function (data) {
                $('#ProgramListlistS').P2BLookUpEncapsulate('#ProgramListlistS', 'ProgramListlistS', data[0], data[1], 'ProgramListlistS', '', 'A');
            });
            event.preventDefault();
        });


        $('#Edit-ProgramListlistS-SubCategory').button().on("click", function (event) {
            var a = [], b;
            a = $('#ProgramListlistS').P2BGetTableDataonSelectedRow('#ProgramListlistS', 0);
            b = a[0];
            console.log(b);
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname,                                                                                                                    height, width, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not, returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "ProgramList")', '@Url.Action("Edit", "ProgramList")', b, '@Url.Action("EditSave", "ProgramList")', 'Edit Program List Details', '#frmProgramListP', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 560, '#frmSubCategoryP', '#ProgramListlistS', 'ProgramListlistS', 'ProgramListlistS', 'A', '', function (data) {
                $.each(data[0], function (i, k) {
                  //  $('#frmProgramListP').trigger('reset');
                    $('#Subject').val(k.Subject).attr("readonly", "readonly");
                    $('#SubjectDetails').val(k.SubjectDetails);
                   // $("#TrainingTypelist").prop("disabled", true);
                    $('#TrainingTypelist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 1050, k.TrainingType_Id);
                });

                $.each(data[1], function (i, k) {

                    $('#BudgetlistP').P2BLookUpEncapsulate('#BudgetlistP', 'BudgetlistP', k.BudgetDetails_Id, k.BudgetDetails_val, 'BudgetlistP', '', 'N');
                });
                // }, 3000);
            });
            event.preventDefault();
        });

        $('#Remove-ProgramListlistS-SubCategory').button().on('click', function (event) {
            //  dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'ID');
            //var a = [], b;
            //a = $('#ProgramListlistS').P2BGetTableDataonSelectedRow('#ProgramListlistS', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#ProgramListlistS').P2BGetTableDataonSelectedRow('#ProgramListlistS', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#ProgramListlistS', $('#ProgramListlistS').val(), 200, 200, '#frmSubCategoryP', '#ProgramListlistS');
            event.preventDefault();
        });

        @*$('#Lookup-Budget-SubCategory').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookup", "Budget")', '', 'LookupDiv', 'Address Look Up Data', '#BudgetlistS', 'BudgetlistS', 5, 'BudgetlistS', '#frmSubCategoryP', 'N', '#Edit-Budget-ProgramList,#Remove-Budget-ProgramList', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-Budget-SubCategory').on("click", function (event) {

            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "Budget")', 'Create Budget', 'open', '@Url.Action("Create", "Budget")', '#frmBudgetP', 'Message :', 'Request Falied :', '#JqGrid', 214, 355, '', '', '', '#frmSubCategoryP', '', function (data) {
                //console.log(qualificn.Id);

                $('#BudgetlistS').P2BLookUpEncapsulate('#BudgetlistS', 'BudgetlistS', data[0], data[1], 'BudgetlistS', '#LookUp_ProgramList_TrainingCal,#Create_ProgramList_TrainingCal', 'N');
            });
            event.preventDefault();
        });

        $('#Edit-Budget-SubCategory').button().on("click", function (event) {
            var a = [], b;
            a = $('#BudgetlistS').P2BGetTableDataonSelectedRow('#BudgetlistS', 0);
            b = a[0];
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname, height, width, classoridoftheonwhichpopupderived, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not,nameidclassofbuttontodisable,returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "Budget")', '@Url.Action("edit", "Budget")', b, '@Url.Action("Editsave", "Budget")', 'Edit Budget', '#frmBudgetP', b, 'Message :', 'Request Falied :', '#JqGrid', 214, 355, '#frmSubCategoryP', '#BudgetlistS', 'BudgetlistS', 'BudgetlistS', 'N', '#Edit-Budget-ProgramList,#Remove-Address-Corporate', function (data) {
                // setTimeout(function () {
                //to bind data according to selected id
                $.each(data[0], function (i, k) {
                    $("#BudgetCredit").val(k.BudgetCredit);
                    $("#BudgetDebit").val(k.BudgetDebit);

                });
                //}, 3000);


            });
            event.preventDefault();
        });
        $('#Remove-Budget-SubCategory').button().on('click', function (event) {
            //  dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'ID');
            var a = [], b;
            a = $('#BudgetlistS').P2BGetTableDataonSelectedRow('#BudgetlistS', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#BudgetlistS', $('#BudgetlistS').val(), 200, 200, '#frmSubCategoryP', '#BudgetlistS');
            event.preventDefault();
        });*@




    });
</script>




<html>

<head>
    <title></title>
    <style>
        .icon-row {
            position: relative;
            left: 57px;
            top: -150px;
        }

        #BusinessType-button {
            font-size: 9px;
            padding-top: 1px;
            font-weight: bold;
        }

        .popup-content-label {
            display: block;
            float: left;
            width: 100px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 150px;
        }

        .row3 {
            width: 402px;
        }

        .row4 {
            position: absolute;
            top: 294px;
            width: 400px;
        }

        .popup-content-textbox-long {
            margin-bottom: 1px;
            width: 290px;
        }


        .row2 {
            width: 402px;
        }
    </style>
</head>

<body>

    <div class="Lookup_Increment1">
        <div title="LookUp Data">
            <div class="lookupdiv22"></div>
        </div>
        <div id="pageNavPosition22">

        </div>
    </div>

    @*<div class="dialog11">
            <div title="LookUp Data">
                <div class="lookupdiv11"></div>
            </div>
            <div id="pageNavPosition11">

            </div>
        </div>*@
    <div id="Create_Dialog" title="Create Sub Category">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmSubCategoryP", Name = "frmSubCategoryP" }))
        {
            <div class="heading">Edit SubCategory Details </div>
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
            <div class="row1 content_margine">@Html.LabelFor(m => m.Code, " Code", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Code, new { @class = "popup-content-textbox must" })</div>
            <div class="row1 content_margine">@Html.LabelFor(m => m.Details, "Details", new { @class = "popup-content-label must" })@Html.TextAreaFor(m => m.Details, new { @class = "popup-content-textbox must" })</div>

            <div class="row3 content_margine">
                <div id="ProgramListlistS_old"></div>@Html.LabelFor(m => m.ProgramList, "ProgramList :", new { @class = "popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="ProgramListlistS">
                        <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup Program List Details" class="  popup-content-icon-lookup" id="Lookup-ProgramListlistS-SubCategory"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Create Program List Details" class="  popup-content-icon-create" id="Create-ProgramListlistS-SubCategory"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit Program List Details" class="  popup-content-icon-edit" id="Edit-ProgramListlistS-SubCategory"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Remove Program List Details" class="  popup-content-icon-remove" id="Remove-ProgramListlistS-SubCategory"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>
            @*<div class="row3 content_margine">
                <div id="Budgetlist_old"></div>@Html.LabelFor(m => m.Budget, "Budget :", new { @class = "popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="BudgetlistS">
                        <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup Budget Details" class="  popup-content-icon-lookup" id="Lookup-Budget-SubCategory"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Create Budget Details" class="  popup-content-icon-create" id="Create-Budget-SubCategory"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit Budget Details" class="  popup-content-icon-edit" id="Edit-Budget-SubCategory"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Remove Budget Details" class="  popup-content-icon-remove" id="Remove-Budget-SubCategory"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>*@
        }
    </div>
</body>

</html>
