@{
    Layout = null;
}
@model Training.TrainingInstitute
<script>
    $(function () {
        $('button').button();
        @*$('#Lookup-ContactDetails-TrainingInstitute').button().on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetContactDetails", "TrainingInstitute")', '', 'LookupDiv', 'ContactDetails Look Up Data', '#ContactDetailsList', 'ContactDetailsList', 5, 'ContactDetailsList', '#frmTrainingInstitute', 'N', '#Edit-ContactDetails-Corporate,#Remove-ContactDetails-Corporate', 'Lookup_table', 'PageNavPosition');
            // $('.ContactDetLKDiv').P2BLookUpModal('@Url.Action("GetContactDetLKDetails", "Corporate")', '', 'ContactDetLKDiv', 'Look Up Data', '#ContactDetailsList', 'ContactDetailsList', 10, 'ContactDetailsList', '#frmCorporate', 'N', '#Edit-ContactDetails-Corporate,#Remove-ContactDetails-Corporate', 'lookupdiv_ContactDet', 'pageNavPosition_ContactDet');
            event.preventDefault();
        });*@
        $('#Lookup-Address-TrainingInstitute').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupDetailsAddress", "facultyinternalexternal")', '', 'LookupDiv', 'Address Look Up Data', '#Address_List', 'Address_List', 5, 'Address_List', '#frmTrainingInstituteP', 'N', '#Address_Edit,#Address_remove', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Address_Create-TrainingInstitute').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "address")', 'Create Address', 'open', '@Url.Action("Create","Address")', '#FormAddress', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#frmTrainingInstituteP', '', function (data) {
                // to show data which is created in partial page
                $('#Address_List').P2BLookUpEncapsulate('#Address_List', 'Address_List', data[0], data[1], 'Address_List', '#Address_Edit,#Address_remove', 'N');
            });
            event.preventDefault();
        });

        $('#Address_Edit').button().on("click", function (event) {
            var a = [], b;
            a = $('#Address_List').P2BGetTableDataonSelectedRow('#Address_List', 0);
            b = a[0];
            console.log(b);
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "Address")', '@Url.Action("Edit", "Address")', b, '@Url.Action("Editsave","Address")', 'Edit Address', '#FormAddress', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmTrainingInstituteP', '#Address_List', 'Address_List', 'Address_List', 'N', '#Address_Edit,#Address_remove', function (data) {
                $.each(data[0], function (i, k) {
                    $('#FormAddress').trigger("reset");
                    $('#Address1').val(k.Address1);
                    $('#Address2').val(k.Address2);
                    $('#Address3').val(k.Address3);
                    $('#Landmark').val(k.Landmark);
                    $('#CountryList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "country")", "", k.Country_Id);
                    $('#StateList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "state")", "", k.State_Id);
                    $('#StateRegionList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "StateRegion")", "", k.StateRegion_Id);
                    $('#DistrictList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "District")", "", k.District_Id);
                    $('#TalukaList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "Taluka")", "", k.Taluka_Id);
                    $('#CityList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "City")", "", k.City_Id);
                    $('#AreaList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "area")", "", k.Area_Id);
                });
                //}, 3000);

            });
            event.preventDefault();
        });

        /* ------------------------- Addresss  Remove --------------------------- */

        $('#Address_remove').button().on('click', function (event) {
            //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            var a = [], b;
            a = $('#Address_List').P2BGetTableDataonSelectedRow('#Address_List', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#Address_List', $('#Address_List').val(), 200, 200, '#frmTrainingInstituteP', '#Address_List', '');
            event.preventDefault();
        });

        $('#Lookup-ContactDetails-TrainingInstitute').button().on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetContactDetails", "TrainingInstitute")', '', 'LookupDiv', 'ContactDetails Look Up Data', '#ContactDetailsList', 'ContactDetailsList', 5, 'ContactDetailsList', '#frmTrainingInstituteP', 'N', '#Edit-ContactDetails-TrainingInstitute,#Remove-ContactDetails-TrainingInstitute', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        
        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-ContactDetails-TrainingInstitute').button().on("click", function (event) {
            //function (url, maindialogtitle, state, submiturl, submitnameformforserilize, savemessage, errormessage, gridreloadname, height, width, forwarddata, ControlName, event, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, returnfunctiondata) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Createcontactdetails_partial", "FacultyInternal")', 'Create Contact Details', 'open', '@Url.Action("CreateSave","ContactDetails")', '#frmContactDetails', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#frmTrainingInstituteP', '#Edit-ContactDetails-TrainingInstitute,#Remove-ContactDetails-TrainingInstitute', function (data) {
                $('#ContactDetailsList').P2BLookUpEncapsulate('#ContactDetailsList', 'ContactDetailsList', data[0], data[1], 'ContactDetailsList', '#Edit-ContactDetails-Corporate,#Remove-ContactDetails-Corporate', 'N');
            });
            event.preventDefault();
        });
       

        $('#Edit-ContactDetails-TrainingInstitute').button().on("click", function (event) {
            var a = [], b;
            a = $('#ContactDetailsList').P2BGetTableDataonSelectedRow('#ContactDetailsList', 0);
            b = a[0];

            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("Createcontactdetails_partial", "Corporate")', '@Url.Action("EditContactDetails_partial", "Corporate")', b, '@Url.Action("EditSave", "ContactDetails")', 'Edit Contact Details', '#frmContactDetails', b, 'Message :', 'Request Falied :', '#JqGrid', 335, 530, '#frmTrainingInstituteP', '#ContactDetailsList', 'ContactDetailsList', 'ContactDetailsList', 'N', '#Edit-ContactDetails-TrainingInstitute,#Remove-ContactDetails-TrainingInstitute', function (data) {

                $.each(data[0], function (i, k) {
                    $('#frmContactDetails').trigger('reset');
                    $('#EmailId').val(k.EmailId);
                    $('#Website').val(k.Website);
                    $('#FaxNo').val(k.FaxNo);
                });
                $.each(data[1], function (i, k) {
                    $('#ContactNos_List').P2BLookUpEncapsulate('#ContactNos_List', 'ContactNos_List', k.Id, k.FullContactNumbers, 'ContactNos_List', '#Edit-ContactDetails-Venue,#Remove-ContactDetails-Venue', 'A');
                });
            });
            event.preventDefault();
        });

        @*$('#Remove-ContactDetails-TrainingInstitute').button().on('click', function (event) {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'ID');
            var a = [], b;
            a = $('#ContactDetailsList').P2BGetTableDataonSelectedRow('#ContactDetailsList', 0);
            b = a[0];
            console.log(b);
            $('<div></div>').P2BPartialDeleteModalDialog('@Url.Action("Delete", "ContactDetails")', b, dt.Id, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#LookupValueslist', $('#ContactDetailsList').val(), 200, 200, '#frmTrainingInstitute', '#ContactDetailsList');
            event.preventDefault();
        });*@

        $('#Remove-ContactDetails-TrainingInstitute').button().on('click', function (event) {
            // dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            var a = [], b;
            a = $('#ContactDetailsList').P2BGetTableDataonSelectedRow('#ContactDetailsList', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('@Url.Action("DeleteContactDetails", "TrainingInstitute")', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#ContactDetailsList', $('#ContactDetailsList').val(), 200, 200, '#frmTrainingInstituteP', '#ContactDetailsList', '#Edit-ContactDetails-TrainingInstitute,#Remove-ContactDetails-TrainingInstitute');
            event.preventDefault();
        });
        $('#Code1').ValidateTextBox({ maxlength: 20, alphanum: true });
        $('#Name1').ValidateTextBox({ maxlength: 40, alphanum: true });
        $('#ContactPerson').ValidateTextBox({ maxlength: 40, alphanum: true });
        $('.drop').selectmenu().selectmenu("menuWidget");
        $('#InstituteTypelist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 1053, "");


    });
</script>

<div id="Create_Dialog" title="Create Training Institute">

    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmTrainingInstituteP" }))
    {

        <input id="Autho_Action" type="hidden" name="Autho_Action" />
        <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
        <div class="row1 content_margine">@Html.LabelFor(m => m.Code, " Code :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Code, new { @class = "popup-content-textbox must" ,@id="Code1", @maxlength = "10" })</div>
        <div class="row1 content_margine">@Html.LabelFor(m => m.Name, "Name :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Name, new { @class = "popup-content-textbox must", @id = "Name1", @maxlength = "50" })</div>

        <div class="row3 content_margine">
            @Html.LabelFor(m => m.InstituteType, "Institute Type :", new { @class = "popup-content-label must" })
            <select class="drop must" name="InstituteTypelist" id="InstituteTypelist" style='width:160px'><option></option></select>
        </div>
        <div class="row1 content_margine">@Html.LabelFor(m => m.ContactPerson, "Contact Person :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.ContactPerson, new { @class = "popup-content-textbox must" })</div>
        <br />
        
        <div class="row3 content_margine">
                    <div id="AddressList_Old"></div>
                    @Html.LabelFor(m => m.Address, "Address", new { @class = "popup-content-label" })
                    <div class="popup-content-table">
                        <table class="lookuptableselected" id="Address_List">
                            <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                        </table>
                    </div>
                    <div class="icon-row">
                        <button data-p2btooltip="LookUp Address Details" class="popup-content-icon-lookup" id="Lookup-Address-TrainingInstitute"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Create Address Details" class="popup-content-icon-create" id="Address_Create-TrainingInstitute"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Edit Address Details" class="popup-content-icon-edit" id="Address_Edit"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Remove Address Details" class="popup-content-icon-remove" id="Address_remove"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                    </div>
                </div>

        <div class="row1 content_margine">
            <div id="ContactDetailsList_Old"></div>
            @Html.LabelFor(m => m.ContactDetails, "ContactDetails :", new { @class = "popup-content-label" })

            <div class="popup-content-table">
                <table class="lookuptableselected" id="ContactDetailsList">
                    <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                </table>
            </div>
            <div class="icon-row">
                <button data-p2btooltip="LookUp Contact Details" class="popup-content-icon-lookup" id="Lookup-ContactDetails-TrainingInstitute"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                <button data-p2btooltip="Create Contact Details" class="popup-content-icon-create" id="Create-ContactDetails-TrainingInstitute"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                <button data-p2btooltip="Edit Contact Details" class="popup-content-icon-edit" id="Edit-ContactDetails-TrainingInstitute"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                <button data-p2btooltip="Remove Contact Details" class="popup-content-icon-remove" id="Remove-ContactDetails-TrainingInstitute"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
            </div>
        </div>
    }
</div>

