@{
    Layout = null;
}

@model P2BUltimate.Models.FileModel
<link href="~/Content/Unit/Unit.css" rel="stylesheet" />
<link href="~/Content/popup_form.css" rel="stylesheet" />


<script>
    $(document).ready(function (e) {


        $('button').button();

        $.fn.doval = function () {

            return true;

        };

        $('#dataFile').on('change', function () {
            ////debugger;
            var a = $('#dataFile').val();
            $('#txtDocPath ').val(a);
        });

        $('.popup_radio_button').controlgroup();
        $('.drop').selectmenu().selectmenu("menuWidget");
        $('#Autho').makeDisable('#Create,#Edit,#Delete');
        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');
    });
</script>


<style>
    .icon-row {
        position: relative;
        left: 60px;
        top: -150px;
    }
</style>



<html>
<body>


    <div class="dialog1">
        <div title="LookUp Data">
            <div class="lookupdiv1"></div>
        </div>
        <div id="PageNavPosition1">

        </div>
    </div>

    <div id="Create_Dialog" title="Create Training Material">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmTrainingMaterial",name="frmTrainingMaterial" ,enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />


            <div class="row3 content_margine">
                <label class="popup-content-label">FileName :</label>
                <input type="text" id="FileName" class="popup-content-textbox " name="FileName">
            </div>

            <div class="row3 content_margine">
                <div class="form-group content_margine">
                    @Html.LabelFor(m => m.files, htmlAttributes: new { @class = "control-label popup-content-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.files, "", new { @type = "file", @accept = ".png, .jpg, .jpeg,.pdf", @multiple = "multiple" })
                    </div>
                </div>
            </div>

        }
    </div>
</body>
</html>