@{
    ViewBag.Title = "Category";
}
@model Training.Category

<html>

<head>

    <title>

    </title>

    <script>
        $(document).ready(function (e) {
            var dia;
            function AssignData() {
                dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            }
            $('#dob').P2BDatePicker();
            $('button').button();
            $('#CodeM').ValidateTextBox({ maxlength: 50, alphanum: true });
            $('#DetailsM').ValidateTextBox({ maxlength: 500, alphanum: true });

            $('.popup_radio_button').controlgroup();

            $('#MyTable').MultiLevelInlineEditGrid({
                url: "@Url.Action("Emp_Grid", "Category")",
                htmurl: "@Url.Action("partial", "Category")",
                columnname: ["Code", "Details", "Id"],
                childheader: ["Code", "Details", "Id"],
                childurl: "@Url.Action("Get_SubCat", "Category")",
                tableheader: "Category",
                childurlColumnNo: "3"
            });

            @*$('#Create_Dialog').P2BCreateDialog();
            $('#Advance-Filter-Symbol').on('click', function () {
                $("<div></div>").FilterDialog({
                    width: 1000,
                    height: 400,
                    title: "Filter",
                    htmlurl: "@Url.Action("Advance_partial", "Transcation")",
                    returnat: function (data) {
                        console.log(data);
                        var forwarddata = JSON.stringify(data);
                        $('#Employee-Table').P2BTransactionTableDynamic('#Employee-Search', '#Case-Employee', './Transcation/Get_Employelist_h?geo_id=' + forwarddata + '', "");

                    },
                    renderat: "#FormFilter", hierarchy: true,
                });
            });*@


            //Create Function
            $('#Create_Dialog').P2BCreateDialog();
            $('#Create').on("click", function (event) {
                $('#frmCategory').trigger("reset");
                $.LoadEmpByDefault(false);
                $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create Category', 'open', '@Url.Action("Create")', '#frmCategory', 'Message :', 'Request Falied :', '#JqGrid', 500, 600, '', "", function (data) { }, { datatablename: "#MyTable" });
                event.preventDefault();
            });


            $('#Edit').on('click', function () {
                //AssignData();
                //var count = $('#MyTable').DataTable().rows({ selected: true }).data();
                //console.log(count[0].Id);

                var b = localStorage.getItem('MyTable_selected');
                var a = JSON.parse(b);
                ////;
                @*$('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', count[0].Id, '@Url.Action("EditSave")', "Edit Data", '#frmCategory', count[0].Id, 'Message : ', 'Request Falied :', '#JqGrid', 500, 620, '', '', function (data) {*@
                $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', a.Id, '@Url.Action("EditSave")', "Edit Category", '#frmCategory', a.Id, 'Message : ', 'Request Falied :', '#JqGrid', 500, 620, '#SubCategorylist', '#Edit-SubCategory-Category,#Remove-SubCategory-Category,#View-SubCategory-Category', function (data) {
                    $.each(data[0], function (i, k) {
                        $('#CodeM').val(k.Code);
                        $('#CodeM').attr('readonly', 'readonly');
                        $('#DetailsM').val(k.Details);
                    });
                    $.each(data[1], function (i, k) {
                        $('#SubCategorylist').P2BLookUpEncapsulate('#SubCategorylist', 'SubCategorylist', k.Category_Id, k.Category_val, 'SubCategorylist', '', 'A');


                    });
                    $.each(data[2], function (i, k) {
                        $('#SubCategorylist').P2BLookUpEncapsulate('#SubCategorylist', 'SubCategorylist', k.Category_Id, k.Category_val, 'SubCategorylist', 'view', 'A');

                    });
                    $('#Autho_Allow').val(data[3]); //Compulsory for authorisation
                }, { datatablename: "#MyTable" });
            });


            $('#View').button().click(function (event) {
                //$('#frmCategory').trigger('reset');
                //AssignData();
                var b = localStorage.getItem('MyTable_selected');
                var a = JSON.parse(b);

                $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', a.Id, 'View Category', '#SubCategorylist', '#Edit-SubCategory-Category,#Remove-SubCategory-Category,#View-SubCategory-Category', 600, 550, '#Autho', '@Url.Action("AuthSave")', a.Id, '', '', '', '', '#JqGrid', function (data) {
                    $.each(data[0], function (i, k) {
                        $('#CodeM').val(k.Code);
                        $('#CodeM').attr('readonly', 'readonly');
                        $('#DetailsM').val(k.Details);
                    });
                    $.each(data[1], function (i, k) {
                        $('#SubCategorylist').P2BLookUpEncapsulate('#SubCategorylist', 'SubCategorylist', k.Category_Id, k.Category_val, 'SubCategorylist', 'view', 'A');


                    });
                    $.each(data[2], function (i, k) {
                        $('#SubCategorylist').P2BLookUpEncapsulate('#SubCategorylist', 'SubCategorylist', k.Category_Id, k.Category_val, 'SubCategorylist', 'view', 'A');

                    });
                    $('#Autho_Allow').val(data[3]);


                    //}, 2000);
                });
            });

            $('#Delete').button().click(function (event) {
                $('#frmCategory').trigger("reset");
                var b = localStorage.getItem('MyTable_selected');
                var a = JSON.parse(b);
                //$('#Create_Dialog').P2BDeleteModalDialog('@@Url.Action("Delete")', a.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200, { datatablename: "#MyTable" });
                $('#frmCategory').P2BDeleteModalDialog('@Url.Action("Delete", "Category")', a.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '', 200, 200, { datatablename: "#MyTable" });
            });

            $('#Lookup-SubCategory-Category').on('click', function (event) {
                $('.dialog').P2BLookUpModal('@Url.Action("GetSubCategoryLKDetails", "Category")', '', 'LookupDiv', 'SubCategory Look Up Data', '#SubCategorylist', 'SubCategorylist', 5, 'SubCategorylist', '#frmCategory', 'A', '#Edit-SubCategory-Category,#Remove-SubCategory-Category', 'Lookup_table', 'PageNavPosition');
                event.preventDefault();
            });

            $('<div></div>').P2BPartialCreateModalDialog();
            $('#Create-SubCategory-Category').button().on("click", function (event) {
                //function (url, maindialogtitle, state, submiturl, submitnameformforserilize, savemessage, errormessage, gridreloadname, height, width, forwarddata, ControlName, event, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, returnfunctiondata) {
                $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "SubCategory")', 'Create SubCategory', 'open', '@Url.Action("Create", "SubCategory")', '#FormSubCategoryP', 'Message :', 'Request Falied :', '#JqGrid', 475, 560, '', '', '', '#frmCategory', '', function (data) {
                    $('#SubCategorylist').P2BLookUpEncapsulate('#SubCategorylist', 'SubCategorylist', data[0], data[1], 'SubCategorylist', '', 'A');
                });
                event.preventDefault();
            });

            $('#Edit-SubCategory-Category').button().on("click", function (event) {
                var a = [], b;
                ////;
                a = $('#SubCategorylist').P2BGetTableDataonSelectedRow('#SubCategorylist', 0);
                b = a[0];
                console.log(b);
                //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname,                                                                                                                    height, width, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not, returndatafunction) {

                $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "SubCategory")', '@Url.Action("Edit", "SubCategory")', b, '@Url.Action("EditSave", "SubCategory")', 'Edit Sub Category Details', '#FormSubCategoryP', b, 'Message :', 'Request Falied :', '#JqGrid', 480, 600, '#frmCategory', '#SubCategorylist', 'SubCategorylist', 'SubCategorylist', 'A', '', function (data) {
                    // setTimeout(function () {
                    $.each(data[0], function (i, k) {
                        $('#Code').val(k.Code);
                        $('#Code').attr('readonly', 'readonly');
                        $('#Details').val(k.Details);
                    });
                    $.each(data[1], function (i, k) {
                        $('#ProgramListlistS').P2BLookUpEncapsulate('#ProgramListlistS', 'ProgramListlistS', k.ProgramList_Id, k.ProgramList_val, 'ProgramListlistS', '', 'A');


                    });
                    // }, 3000);
                });
                event.preventDefault();
            });

            $('#Remove-SubCategory-Category').button().on('click', function (event) {
                //  dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'ID');
                ////var a = [], b;
                ////a = $('#SubCategorylist').P2BGetTableDataonSelectedRow('#SubCategorylist', 0);
                ////b = a[0];
              
                var selectedRows = [];
                selectedRows = $('#SubCategorylist').P2BGetTableDataonSelectedRow('#SubCategorylist', 0);
                $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#SubCategorylist', $('#SubCategorylist').val(), 200, 200, '#frmCategory', '#SubCategorylist');
                event.preventDefault();
            });

            ////function DateConvert(JsonDate) {
            //    //    var date = new Date(parseInt(JsonDate.substr(6)));
            //    //    var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
            //    //    return displayDate;
            //};


            //$('input[name="Closer"]:radio').change(function () {
            //    if (this.value == "false") {
            //        $("#DateOfCloserClass").fadeOut();
            //    }
            //    else {
            //        $("#DateOfCloserClass").fadeIn();
            //        $("#DateOfCloser").val("");
            //    }
            //});
            @*$('#Advance-Filter-Symbol').on('click', function () {
                $("<div></div>").FilterDialog({
                    width: 1000,
                    height: 400,
                    title: "Filter",
                    htmlurl: "@Url.Action("Advance_partial", "Transcation")",
                    returnat: function (data) {
                        console.log(data);
                        var forwarddata = JSON.stringify(data);
                        $('#MyTable').DataTable({
                            "ajax": {
                                "url": "@Url.Action("Emp_Grid", "LoanAdvRepaymentT")",
                                "type": "post",
                                "data": forwarddata,
                            }
                        }).load();
                    },
                    renderat: "#FormFilter",
                });
            });*@
            //function closercheck(chktt) {
            //    //alert(chktt);
            //    $('[name="Closer2"]').val([chktt]).button().button("refresh");
            //    if (chktt == false) {
            //        $("#DateOfCloserClass-edit").fadeOut();
            //    }
            //    else {
            //        $("#DateOfCloserClass-edit").fadeIn();
            //        //     $("#DateOfCloser-edit").val("");
            //    }
            //}

            $('.drop').selectmenu().selectmenu("menuWidget");

            $('<div></div>').P2BPartialCreateModalDialog();

            $.DataTableChildManipulation = function (init, id, parentid, htmurl, editurl, submiturl) {
                var parent_element = $(init).parents('td:last').parent().prev();
                console.log(id);
                console.log(htmurl);
                console.log(parent_element);
                var dt = $('#MyTable').DataTable();
                var htmlcomponant = {
                    init: init,
                    Id: id,
                    idx: parentid,
                    htmurl: htmurl,
                    editurl: editurl,
                    submiturl: submiturl,
                };
                if ($(init).hasClass('ui-icon-newwin')) {

                    $('<div></div>').PartialCreateDialog({
                        height: 500,
                        width: 600,
                        form: "#FormSubCategoryP",
                        htmlurl: "@Url.Action("Partial", "SubCategory")",
                        state: "open",
                        mode: "View",
                        editurl: "@Url.Action("GridEditData", "SubCategory")",
                        submiturl: submiturl,
                        editdata: id,
                        forwarddata: id,
                        returndatafunction: function (data) {
                            $.each(data[0], function (i, k) {
                                $('#Code').val(k.Code);
                                $('#Code').attr('readonly', 'readonly');
                                $('#Details').val(k.Details);
                                $('#Details').attr('readonly', 'readonly');
                            });
                            $.each(data[1], function (i, k) {
                                $('#ProgramListlistS').P2BLookUpEncapsulate('#ProgramListlistS', 'ProgramListlistS', k.ProgramList_Id, k.ProgramList_val, 'ProgramListlistS', 'view', 'A');

                            });

                        }
                    });
                } else if ($(init).hasClass('ui-icon-pencil')) {
                    $('<div></div>').PartialCreateDialog({
                        height: 500,
                        width: 600,
                        form: "#FormSubCategoryP",
                        htmlurl: "@Url.Action("Partial", "SubCategory")",
                        state: "open",
                        mode: "Edit",
                        editurl: "@Url.Action("GridEditData", "SubCategory")",
                        submiturl: "@Url.Action("EditSave", "SubCategory")",
                        editdata: id,
                        forwarddata: id,
                        returndatafunction: function (data) {
                            console.log("dnfkjsndf");
                            console.log(data);
                            console.log("dnfkjsndf");
                            console.log(data.data);
                            $.each(data[0], function (i, k) {
                                $('#Code').val(k.Code);
                                $('#Code').attr('readonly', 'readonly');
                                $('#Details').val(k.Details);

                            });
                            $.each(data[1], function (i, k) {
                                $('#ProgramListlistS').P2BLookUpEncapsulate('#ProgramListlistS', 'ProgramListlistS', k.ProgramList_Id, k.ProgramList_val, 'ProgramListlistS', '', 'A');
                            });
                        },
                        submitfun: function (data) {
                            var row = dt.row(parent_element);
                            if (row.child.isShown()) {
                                parent_element.removeClass('details');
                                row.child.hide();
                            }
                        }

                    });
                } else if ($(init).hasClass('ui-icon-trash')) {
                    //   return false;
                    $('<div></div>').PartialCreateDialog({
                        state: "open",
                        mode: "Delete",
                        submiturl: "@Url.Action("GridDelete", "SubCategory")",
                        forwarddata: id,
                        submitfun: function (data) {
                            var row = dt.row(parent_element);
                            if (row.child.isShown()) {
                                parent_element.removeClass('details');
                                row.child.hide();
                            }
                        }
                    });
                }
            };
            // $.FormReset('#frmServiceSecurity');

        });
    </script>

    <style>
        .icon-row {
            position: relative;
            left: 70px;
            top: -150px;
        }

        #BusinessType-button {
            font-size: 9px;
            padding-top: 1px;
            font-weight: bold;
        }



        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 150px;
        }

        .row3 {
            width: 50%;
            float: left;
        }

        .row4 {
            position: absolute;
            top: 294px;
            width: 400px;
        }

        .popup-content-textbox-long {
            margin-bottom: 1px;
            width: 290px;
        }

        .row5 {
            width: 282px;
            display: inline-flex;
        }

        .row2 {
            width: 350px;
            display: inline-flex;
            margin-left: -89px;
        }

        .loader {
            width: 299px;
            display: inline-flex;
            margin-left: -89px;
        }

        .addwidth {
            width: 453px;
            height: 58px;
        }

        #process {
            top: 4px;
            left: 76px;
        }

        .section_Method {
            border: 1px solid rgba(207, 207, 207, 0.91);
            border-radius: 10px;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .transactiontablenew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            /*width: 200px;*/
            display: block;
            overflow: auto;
            height: 500px;
            border-collapse: collapse;
        }

        .transactiondivnew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            width: 507px;
            border-radius: 5px;
            height: 32px;
        }

            .transactiondivnew > div {
                display: inline-block;
                margin: 0 auto;
                padding: 4px;
            }

                .transactiondivnew > div > input {
                    box-sizing: initial;
                    display: inline-block;
                    margin: 0 auto;
                    width: 108px;
                }

        .transactiontablenew th, .transactiontablenew td {
            background: rgba(246, 246, 246, 0.64) none repeat scroll 0 0;
            padding: 5px;
            border-bottom: 1px solid #c5c5c5;
            border-right: 1px solid #c5c5c5;
            text-align: center;
            color: rgba(114, 113, 113, 0.9);
        }

            .transactiontablenew th:nth-child(1) > input, .transactiontablenew td:nth-child(1) > input {
                margin: 0 auto;
            }

            .transactiontablenew th:nth-child(2), .transactiontablenew td:nth-child(2) {
                height: 100%;
                width: 100%;
            }

        .transactiontablenew tr:hover {
            cursor: pointer;
            background: #EEEEEE none repeat scroll 0 0;
        }

        .section1_Leave {
            display: block;
            border: 1.5px solid rgba(207, 207, 207, 0.91);
            height: 554px;
            width: 534px;
            margin: 4px auto;
            /*! position: absolute; */
            float: left;
        }

        .section2_Leave {
            display: block;
            border: 1px solid #ddd;
            height: 554px;
            width: 621px;
            margin: 5px 4px;
            position: absolute;
            left: 546px;
        }

        .icon-row {
            position: relative;
            left: 130px;
            top: -150px;
        }

        .popup-content-label {
            display: block;
            float: left;
            width: 170px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 150px;
        }

        .row3 {
            width: 548px;
        }

        .row2 {
            display: inline-block;
            width: 333px;
        }

        .add-dialog-content {
            float: right;
            right: 0;
            width: 678px;
        }

        .form-of-element {
            display: block;
            border: #DEDEDE solid 0.1px;
            width: auto;
            height: 351px;
            padding: 5px 2px;
            margin-top: 3px;
        }

        .select_div {
        }
    </style>
</head>

<body>
    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <button class="button" id="Create">Create</button>
                @*<button class="button" id="add">Add</button>*@
                <button class="button" id="Edit">Edit</button>
                <button class="button" id="View">View</button>
                @*<button class="button" id="Btn-Upload-Data">Upload</button>*@
                <button class="button" id="Delete">Delete</button>
            </div>
        </div>
    </div>

    <div id="Grid_Form">
        <div>
            <div id="Container" class="container">
                <div id="Demo">
                    <table id="MyTable" class="display" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>DD</th>
                                <th>Code</th>
                                <th>Details</th>
                                <th>ID</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>DD</th>
                                <th>Code</th>
                                <th>Details</th>
                                <th>ID</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div id="Create_Dialog" title="LV Cancel Req">
        @*<div class="filter-div">
                <label class="advance_filter_label">Advance Filter<span class="advance_filter_sysmbol_class_plus" id="Advance-Filter-Symbol"></span></label>
                <div id="FormFilter"></div>
            </div>*@
        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmCategory", name = "frmCategory" }))
        {
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
            <div class="row3 content_margine">@Html.LabelFor(m => m.Code, " Code", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Code, new { @class = "popup-content-textbox must", @id = "CodeM" })</div>
            <div class="row3 content_margine">@Html.LabelFor(m => m.Details, "Details", new { @class = "popup-content-label must" })@Html.TextAreaFor(m => m.Details, new { @class = "popup-content-textbox must", @id = "DetailsM" })</div>

            <div class="row3 content_margine">
                <div id="SubCategorylist_old"></div>@Html.LabelFor(m => m.SubCategory, "SubCategory :", new { @class = "popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="SubCategorylist">
                        <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup SubCategory Details" class="  popup-content-icon-lookup" id="Lookup-SubCategory-Category"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Create SubCategory Details" class="  popup-content-icon-create" id="Create-SubCategory-Category"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit SubCategory Details" class="  popup-content-icon-edit" id="Edit-SubCategory-Category"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Remove SubCategory Details" class="  popup-content-icon-remove" id="Remove-SubCategory-Category"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>

        }
    </div>


</body>
</html>
