@{
    Layout = null;
}
@model Recruitment.ResumeCollection
<style>
    .icon-row {
        position: relative;
        left: 76px;
        top: -150px;
    }

    #BusinessType-button {
        font-size: 9px;
        padding-top: 1px;
        font-weight: bold;
    }

    .popup-content-label {
        display: block;
        float: left;
        width: 176px;
    }

    .popup-content-textbox {
        margin-bottom: 1px;
        min-width: 150px;
    }

    .row3 {
        width: 450px;
    }

    .row4 {
        position: absolute;
        top: 294px;
        width: 400px;
    }

    .popup-content-textbox-long {
        margin-bottom: 1px;
        width: 290px;
    }


    .row2 {
        width: 402px;
    }
</style>

<script>
    $(document).ready(function (e) {
        $('button').button();
        $('.popup_radio_button').buttonset();

    });
</script>
<div id="create_dialog">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmCandidateFinalization", name = "frmCandidateFinalization" }))
    {
        <input id="autho_action" type="hidden" name="autho_action" />
        <input id="autho_allow" type="hidden" name="autho_allow" />
        <div class="heading">Candidate Finalization Process</div>
        <div class="row1_empoff  horizontal_row1 content_margine ">
            @Html.LabelFor(m => m.IsHREvaluationConfirmation, "IsHREvaluationConfirmation :", new { @class = "popup-content-label must" })
            <div class="popup_radio_button radio_button_div_1">
                <span class="popup_radio_button radio_button_div_1">
                    <input type="radio" id="radio77" name="IsHREvaluationConfirmation" value="true" /><label for="radio77">Yes</label>
                    <input type="radio" id="radio88" name="IsHREvaluationConfirmation" value="false" checked="checked" /><label for="radio88">No</label>
                </span>
            </div>
        </div>
        <div class="row1 content_margine">
            @Html.LabelFor(m => m.ReasonToFailureEvaluat, "ReasonToFailureEvaluat :", new { @class = "popup-content-label must" })
            @Html.TextBoxFor(m => m.ReasonToFailureEvaluat, new { @class = "popup-content-textbox must", @id = "reasonFailureToEval_id" })
        </div>
        <div class="row1_empoff  horizontal_row1 content_margine ">
            @Html.LabelFor(m => m.IsHRJoiningConfirmation, "IsHRJoiningConfirmation :", new { @class = "popup-content-label must" })
            <div class="popup_radio_button radio_button_div_1">
                <span class="popup_radio_button radio_button_div_1">
                    <input type="radio" id="IsHRJoiningConfirmation_radio12" name="IsHRJoiningConfirmation" value="true" /><label for="IsHRJoiningConfirmation_radio12">Yes</label>
                    <input type="radio" id="IsHRJoiningConfirmation_radio21" name="IsHRJoiningConfirmation" value="false" checked="checked" /><label for="IsHRJoiningConfirmation_radio21">No</label>
                </span>
            </div>
        </div>
        <div class="row1 content_margine">
            @Html.LabelFor(m => m.ReasonToFailureJoining, "ReasonToFailureJoining :", new { @class = "popup-content-label must"})
            @Html.TextBoxFor(m => m.ReasonToFailureJoining, new { @class = "popup-content-textbox must", @id = "reasonFailureTojoin_id" })
        </div>
         <div class="row1_empoff  horizontal_row1 content_margine ">
            @Html.LabelFor(m => m.IsInductionTraining, "IsInductionTraining :", new { @class = "popup-content-label must" })
            <div class="popup_radio_button radio_button_div_1">
                <span class="popup_radio_button radio_button_div_1">
                    <input type="radio" id="IsInductionTraining_radio12" name="IsInductionTraining" value="true" /><label for="IsInductionTraining_radio12">Yes</label>
                    <input type="radio" id="IsInductionTraining_radio21" name="IsInductionTraining" value="false" checked="checked" /><label for="IsInductionTraining_radio21">No</label>
                </span>
            </div>
        </div>
         <div class="row1_empoff  horizontal_row1 content_margine ">
            @Html.LabelFor(m => m.IsJoined, "IsJoined :", new { @class = "popup-content-label must" })
            <div class="popup_radio_button radio_button_div_1">
                <span class="popup_radio_button radio_button_div_1">
                    <input type="radio" id="IsJoined_radio12" name="IsJoined" value="true" /><label for="IsJoined_radio12">Yes</label>
                    <input type="radio" id="IsJoined_radio21" name="IsJoined" value="false" checked="checked" /><label for="IsJoined_radio21">No</label>
                </span>
            </div>
        </div>
         <div class="row1_empoff  horizontal_row1 content_margine ">
            @Html.LabelFor(m => m.IsNotificationToHeads, "IsNotificationToHeads :", new { @class = "popup-content-label must" })
            <div class="popup_radio_button radio_button_div_1">
                <span class="popup_radio_button radio_button_div_1">
                    <input type="radio" id="IsNotificationToHeads_radio12" name="IsNotificationToHeads" value="true" /><label for="IsNotificationToHeads_radio12">Yes</label>
                    <input type="radio" id="IsNotificationToHeads_radio21" name="IsNotificationToHeads" value="false" checked="checked" /><label for="IsNotificationToHeads_radio21">No</label>
                </span>
            </div>
        </div>
        <div class="row1_empoff  horizontal_row1 content_margine ">
            @Html.LabelFor(m => m.IsServiceBookUpdate, "IsServiceBookUpdate :", new { @class = "popup-content-label must" })
            <div class="popup_radio_button radio_button_div_1">
                <span class="popup_radio_button radio_button_div_1">
                    <input type="radio" id="IsServiceBookUpdate_radio12" name="IsServiceBookUpdate" value="true" /><label for="IsServiceBookUpdate_radio12">Yes</label>
                    <input type="radio" id="IsServiceBookUpdate_radio21" name="IsServiceBookUpdate" value="false" checked="checked" /><label for="IsServiceBookUpdate_radio21">No</label>
                </span>
            </div>
        </div>
    }
</div>

