@{
    Layout = null;
}
@model Recruitment.CategorySplPost

<style>
   .popup-content-label {
        display: block;
        float: left;
        width: 178px;
    }

    .popup-content-textbox {
        margin-bottom: 1px;
        min-width: 150px;
    }
    
     .popup-content-textbox-long {
        margin-bottom: 1px;
        width: 290px;
    }


    .row2 {
        width: 402px;
    }
</style>
<div>                                                                
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormCategorySpl" }))
    {
        <input id="Autho_Action" type="hidden" name="Autho_Action" />
        <input id="Autho_Allow" type="hidden" name="Autho_Allow" />

        <div class="row3 content_margine">
            @Html.LabelFor(m => m.NoOfVacancies, "Vacancies  :", new { @class = "popup-content-label " })
            @Html.TextBoxFor(m => m.NoOfVacancies, new { @class = "popup-content-textbox ", id = "txtNoOfVacCategorySpl" })
        </div>


        <div class="row3 content_margine">
            @Html.LabelFor(m => m.RelaxationAge, "Relaxation age :", new { @class = "popup-content-label must" })
            @Html.TextBoxFor(m => m.RelaxationAge, new { @class = "popup-content-textbox must", id = "txtNoOfAgeCategorySpl" })
        </div>

        <div class="add_row content_margine  ">
            @Html.LabelFor(m => m.SpecialCategory, "Category Special Type:", new { @class = "popup-content-label must" })
            <select id="CategorySplPostlistP" name="CategorySplPostlistP" class="drop must" style="width:180px;">
                <option value="0">-Select-</option>
            </select>

        </div>
    }
</div>
<script>
    $(function () {
        $('#CategorySplPostlistP').selectmenu().selectmenu('menuWidget');
        $('#CategorySplPostlistP').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 514, "");
      //  $('#CountryList_DDL').P2BSelectMenuOnChange("selectmenuchange", "/*Url.Action("PopulateDropDownList", "state")", '#StateList_DDL', "");
        $('#txtNoOfAgeCategorySpl').ForceOnlyNumeric().MaxLength(3);
        $('#txtNoOfVacCategorySpl').ForceOnlyNumeric().MaxLength(3);
    });
    $(document).ready(function e() {
        $('.drop').css({ "width": "182px" });
        $('.drop').selectmenu().selectmenu('menuWidget').css({ "height": "200px" });
        //  $('#CategorySplTypeList').P2BSelectMenuAppend("Url.Action("PopulateDropDownList", "country")", "", "", '#CategorySplTypeList');
        
    });
</script>

