@{
    Layout = null;
}
@model Recruitment.CategoryPost
@*<link rel="stylesheet" type="text/css" href="~/Content/mb-ui.css" />*@
<style>
    /*.qual_popup-content-textbox {
        min-width: 200px;
        margin: 0px 0px 1px 3px;
    }

    .qual_popup-content-label {
        display: block;
        float: left;
        width: 163px;
    }

    .content_margine_quali {
        margin: 2.5px;
        padding: 0.5px;
    }*/


    /*.qual_popup-content-label {
        display: block;
        margin: 1px;
        float: left;
        width: 120px;
    }

    .qual_popup-content-textbox {
        margin-bottom: 1px;
        width: 59%;
    }*/





    .popup-content-label {
        display: block;
        float: left;
        width: 118px;
    }

    .popup-content-textbox {
        margin-bottom: 1px;
        min-width: 150px;
    }

    /*.row3 {
        width: 402px;
    }*/



    .popup-content-textbox-long {
        margin-bottom: 1px;
        width: 290px;
    }


    .row2 {
        width: 402px;
    }
</style>
<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmCategoryP" }))
    {
        <input id="Autho_Action" type="hidden" name="Autho_Action" />
        <input id="Autho_Allow" type="hidden" name="Autho_Allow" />

        <div class="row3 content_margine">
            @Html.LabelFor(m => m.NoOfVacancies, "Vacancies  :", new { @class = "popup-content-label "})
            @Html.TextBoxFor(m => m.NoOfVacancies, new { @class = "popup-content-textbox ", id = "txtNoOfVacCategory" })
        </div>   
        
        
        <div class="row3 content_margine" >
           @Html.LabelFor(m => m.RelaxationAge, "Relaxation age :", new { @class = "popup-content-label must" })
            @Html.TextBoxFor(m => m.RelaxationAge, new { @class = "popup-content-textbox must", id = "txtNoOfAgeCategory" })
            </div>
      
           <div class="add_row content_margine  ">
            @Html.LabelFor(m => m.Category, "Category Type:", new { @class = "popup-content-label must" })
               <select id="CategoryPostListP" name="CategoryPostListP" class="drop must" style="width:180px;">
                   <option value="0">-Select-</option>
               </select>
          
        </div>
    }
</div>
<script>
    $(function () {
        $('#CategoryPostListP').selectmenu().selectmenu('menuWidget');
        $('#CategoryPostListP').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 1, "");
        $('#txtNoOfAgeCategory').ForceOnlyNumeric().MaxLength(3);
        $('#txtNoOfVacCategory').ForceOnlyNumeric().MaxLength(3);
      //  $('#CountryList').P2BSelectMenuOnChange("selectmenuchange", /*Url.Action("PopulateDropDownList", "state")", '#StateList', ""); 
    });
    $(document).ready(function e() {
        $('.drop').css({ "width": "182px" });
        $('.drop').selectmenu().selectmenu('menuWidget').css({ "height": "200px" });
        //  $('#CategorySplTypeList').P2BSelectMenuAppend("/*Url.Action("PopulateDropDownList", "country")", "", "", '#CategorySplTypeList');
    });
</script>
