@{
    Layout = null;
}
@model P2b.Global.FamilyDetails


<html>
<head>
    <title></title>
    
    <style>
        .icon-row {
            position: relative;
            left: 95px;
            top: -150px;
        }

        .transactiontablenew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            /*width: 200px;*/
            display: block;
            overflow: auto;
            height: 500px;
            border-collapse: collapse;
        }

        .transactiondivnew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            width: 507px;
            border-radius: 5px;
            height: 32px;
        }

            .transactiondivnew > div {
                display: inline-block;
                margin: 0 auto;
                padding: 4px;
            }

                .transactiondivnew > div > input {
                    box-sizing: initial;
                    display: inline-block;
                    margin: 0 auto;
                    width: 108px;
                }

        .transactiontablenew th, .transactiontablenew td {
            background: rgba(246, 246, 246, 0.64) none repeat scroll 0 0;
            padding: 5px;
            border-bottom: 1px solid #c5c5c5;
            border-right: 1px solid #c5c5c5;
            text-align: center;
            color: rgba(114, 113, 113, 0.9);
        }

            .transactiontablenew th:nth-child(1) > input, .transactiontablenew td:nth-child(1) > input {
                margin: 0 auto;
            }

            .transactiontablenew th:nth-child(2), .transactiontablenew td:nth-child(2) {
                height: 100%;
                width: 100%;
            }

        .transactiontablenew tr:hover {
            cursor: pointer;
            background: #EEEEEE none repeat scroll 0 0;
        }

        .section1_Leave {
            display: block;
            border: 1.5px solid rgba(207, 207, 207, 0.91);
            height: 688px;
            width: 534px;
            margin: 4px auto;
            position: absolute;
        }

        .section2_Leave {
            display: block;
            border: 1px solid #ddd;
            height: 250px;
            width: 610px;
            margin: 5px 4px;
            position: absolute;
            
        }


        #BusinessType-button {
            font-size: 9px;
            padding-top: 1px;
            font-weight: bold;
        }

        .popup-content-label {
            width: 138px;
            display: block;
            float: left;
            margin: 1px;
        }

        .popup-content-label-2 {
            width: 100px;
            display: block;
            float: left;
            margin: 1px;
        }

        /*.section1_Leave {
            display: block;
            border: 1.5px solid rgba(207, 207, 207, 0.91);
            height: 688px;
            width: 534px;
            margin: 4px auto;
            position: absolute;
        }*/

        .section2_Leave {
            display: block;
            border: 2px solid #ddd;
            height: 789px;
            width: 509px;
            margin: 5px 4px;
            position: absolute;
            
            padding-left: 11px;
        }
    

        .row3 {
            width: 471px;
        }

        .row4 {
            position: absolute;
            top: 294px;
            width: 400px;
        }

        .row6 {
            width: 370px;
            display: inline-block;
        }

        .popup-content-textbox-long {
            margin-bottom: 1px;
            width: 290px;
        }



        .row2 {
            width: 402px;
        }
    </style>
</head>

<body>
    @*<div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <button class="button" id="Create">Create</button>
                <button class="button" id="View">View</button>
                <button class="button" id="Edit">Edit</button>
                <button class="button" id="Delete">Delete</button>
                <button class="button" id="Autho">Authorised</button>
                <div id="Grid_Form">
                    <div>
                        <table id="JqGrid"></table>
                        <div id="pager2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

    @*<div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>*@

    <div id="Create_Dialog">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormBenefitNominees", name = "FormBenefitNominees" }))
        {

            @*<div class="section_Method" id="Section_Emp">
                <div class="heading" style="width:1065px">Employee List</div>

                <div class="employeeselectiondiv">
                    <div class="transactiondivnew dynamic addons" style="float:left" id="asd">
                        <div><label>Search : </label><input type="text" id="Employee-Search" style="width: 425px;" /></div>
                        <table cellspacing="0" cellpadding="1" class="transactiontablenew" id="Employee-Table" style="height: 758px">
                            <tr><th><input type="checkbox" id="Case-Employee" class="Chck_emp" /></th><th>Employee</th></tr>
                        </table>
                    </div>
                    @*<input name="geo_id" type="text" id="geo_id" class="struct_input_val" style="display:none" />
                    <input name="pay_id" type="text" id="pay_id" class="struct_input_val" style="display:none" />
                    <input name="fun_id" type="text" id="fun_id" class="struct_input_val" style="display:none" />
                </div>
            </div>*@


            <div class="section2_Leave">
                <div class=" " style="width: 506px;">

                    <input id="Autho_Action" type="hidden" name="Autho_Action" />
                    <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
                    <div class="row3 content_margine">
                        <div id="Nomineeslist_old"></div>
                        @*@Html.LabelFor(m => m.NomineeName, "Member Name :", new { @class = "popup-content-label" })*@
                        <label class="popup-content-label">Member Name :</label>
                        <div class="popup-content-table">
                            <table class="lookuptableselected" id="NomineeNamelist">
                                <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                            </table>
                        </div>
                        <div class="icon-row">
                            <button data-p2btooltip="Lookup Nomineename" class="  popup-content-icon-lookup" id="Lookup-NomineeName-BenefitNominees"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Create Nomineename" class="popup-content-icon-create" id="Create-NomineeName-BenefitNominees"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Edit Nomineename" class="popup-content-icon-edit" id="Edit-NomineeName-BenefitNominees"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Remove Nomineename" class="popup-content-icon-remove" id="Remove-NomineeName-BenefitNominees"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                        </div>
                    </div>

                    <div class="row3 content_margine">@Html.LabelFor(m => m.DateofBirth, "Date Birth :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.DateofBirth, new { @class = "popup-content-textbox must", @maxlength = "10" })</div>
                    <div class="row3 content_margine">@Html.LabelFor(m => m.Relation, "Relation :", new { @class = "popup-content-label must" })<select class="must" id="CategoryList_DDL" name="CategoryList_DDL" style="width:161px;"><option></option></select></div>
                    <div class="row3 content_margine">
                        <div id="AddressList_Old"></div>
                        @Html.LabelFor(m => m.Address, "Address :", new { @class = "popup-content-label" })
                        <div class="popup-content-table">
                            <table class="lookuptableselected" id="AddressList">
                                <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                            </table>
                        </div>
                        <div class="icon-row">
                            <button data-p2btooltip="Lookup Address" class="  popup-content-icon-lookup" id="Lookup-Address-BenefitNominees"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Create Address" class="popup-content-icon-create" id="Create-Address-BenefitNominees"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Edit Address" class="popup-content-icon-edit" id="Edit-Address-BenefitNominees"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Remove Address" class="popup-content-icon-remove" id="Remove-Address-BenefitNominees"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                        </div>
                    </div>
                    <div class="row3 content_margine">
                        <div id="ContactDetailsList_Old"></div>@Html.LabelFor(m => m.ContactDetails, "Contact Details :", new { @class = "popup-content-label" })
                        <div class="popup-content-table">
                            <table class="lookuptableselected" id="ContactDetailsList">
                                <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                            </table>
                        </div>
                        <div class="icon-row">
                            <button data-p2btooltip="Lookup Contact Details" class="  popup-content-icon-lookup" id="Lookup-ContactDetails-BenefitNominees"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Create Contact Details" class="  popup-content-icon-create" id="Create-ContactDetails-BenefitNominees"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Edit Contact Details" class="  popup-content-icon-edit" id="Edit-ContactDetails-BenefitNominees"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Remove Contact Details" class="  popup-content-icon-remove" id="Remove-ContactDetails-BenefitNominees"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                        </div>
                    </div>
                    @*<div class="row3 content_margine">
                        <div id="Benefit_old"></div>@Html.LabelFor(m => m.BenefitList, "Benefit List :", new { @class = "popup-content-label" })
                        <div class="popup-content-table">
                            <table class="lookuptableselected" id="BenefitTypelist">
                                <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                            </table>
                        </div>
                        <div class="icon-row">
                            <button data-p2btooltip="Lookup BenefitList" class="popup-content-icon-lookup" id="Lookup-BenefitTypelist-BenefitNominees"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Create BenefitList" class="popup-content-icon-create" id="Create-BenefitTypelist-BenefitNominees"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Edit BenefitList" class="popup-content-icon-edit" id="Edit-BenefitTypelist-BenefitNominees"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Remove BenefitList " class="popup-content-icon-remove" id="Remove-BenefitTypelist-BenefitNominees"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                        </div>
                    </div>*@
                </div>
            </div>
            <div class="emplist_row">
                <div id="Grid_Form2">

                </div>
            </div>
        }
    </div>

</body>
</html>

<script>
    $(document).ready(function (e) {
        $('button').button();
        //var ColNames = [];
        //var ColModel = [];
        //var SortName, Caption, url, width, height;
        var btndisablenames = "#Edit-Address-BenefitNominees,#Remove-Address-BenefitNominees,#Edit-ContactDetails-BenefitNominees,#Remove-ContactDetails-BenefitNominees";
        //ColModel = ['Id', 'DateofBirth', 'Relation'];
        //ColNames = ['Id', 'DateofBirth', 'Relation'];
        @*ColModel = ['ID', 'Employee Code', 'Employee Name'];
        ColNames = ['ID', 'Employee Code', 'Employee Name'];
        SortName = 'Id';
        Caption = 'Benefit Nominees';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);*@

        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');

        }
        $('#DateofBirth').P2BDatePicker();

        function DateConvert(JsonDate) {
            var date = new Date(parseInt(JsonDate.substr(6)));
            var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
            return displayDate;
        };

        @*$('#Create_Dialog').P2BCreateDialog();
        //Create Function
        $('#Create').on("click", function (event) {
            $('#FormBenefitNominees').trigger("reset");
            $.LoadEmpByDefault(true);
            $('#Advance-Filter-Symbol').on('click', function () {
                $("<div></div>").FilterDialog({
                    width: 1000,
                    height: 400,
                    title: "Filter",
                    htmlurl: "@Url.Action("Advance_partial", "Transcation")",
                    returnat: function (data) {
                        console.log(data);
                        var forwarddata = JSON.stringify(data);
                        $('#Employee-Table').P2BTransactionTableDynamic('#Employee-Search', '#Case-Employee', './Transcation/Get_Employelist_h?geo_id=' + forwarddata + '', "");
                        //$('#Employee-Table').P2BTransactionTableDynamic('#Employee-Search', '#Case-Employee', './Transcation/Get_Employelist?geo_id=' + forwarddata + '', "");
                        //$('#pay_id').val(data.PayStruct);
                        //$('#fun_id').val(data.FunStruct);
                    },
                    renderat: "#FormFilter", hierarchy: true,
                });
                //console.log($('#FormFilter')[0]);
            });
            $('#Section_Emp').fadeIn();
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create Benefit Nominees', 'open', '@Url.Action("Create")', '#FormBenefitNominees', 'Message :', 'Request Falied :', '#JqGrid', 493, 1111, '#AddressList,#ContactDetailsList,#NomineeNamelist,#BenefitTypelist', btndisablenames, function (data) { });
            $('#CategoryList_DDL').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 107, ""); // To bind dropdown on page load
            event.preventDefault();
        });



        // Main page edit
        $('#Edit').on('click', function () {
            AssignData();
            $('#Section_Emp').fadeOut();
            // $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.ID, '@Url.Action("EditSave")', "Edit Benefit Nominees Data->" + JSON.stringify(dt) + "", '#FormBenefitNominees', dt.ID, 'Message : ', 'Request Falied :', '#JqGrid', 600, 500, '#AddressList,#ContactDetailsList,#NomineeNamelist,#BenefitTypelist', btndisablenames, function (data) {
            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.ID, '@Url.Action("EditSave")',"" + JSON.stringify(dt) + "", '#FormBenefitNominees', dt.ID, 'Message : ', 'Request Falied :', '#JqGrid', 700, 1000, '#AddressList,#ContactDetailsList,#NomineeNamelist,#BenefitTypelist', btndisablenames, function (data) {
                // setTimeout(function () {
                $.each(data[0], function (i, k) {
                    if (k.DateofBirth != null) {
                      //  $('#DateofBirth').val(DateConvert(k.DateofBirth));
                        $('#DateofBirth').val(k.DateofBirth);
                    }


                    $('#CategoryList_DDL').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 107, k.Relations_Id); // Dropdown bind
                });

                //partial page bind
                $.each(data[1], function (i, k) {
                    $('#AddressList').P2BLookUpEncapsulate('#AddressList', 'AddressList', k.Add_Id, k.Address_FullAddress, 'AddressList', '#Edit-Address-BenefitNominees,#Remove-Address-BenefitNominees', 'N');
                    $('#ContactDetailsList').P2BLookUpEncapsulate('#ContactDetailsList', 'ContactDetailsList', k.Cont_Id, k.FullContactDetails, 'ContactDetailsList', '#Remove-ContactDetails-BenefitNominees,#Edit-ContactDetails-BenefitNominees', 'N');
                    $('#NomineeNamelist').P2BLookUpEncapsulate('#NomineeNamelist', 'NomineeNamelist', k.name_Id, k.name_FullDetails, 'NomineeNamelist', '#Remove-NomineeName-BenefitNominees,#Edit-NomineeName-BenefitNominees', 'N');

                });
                $.each(data[2], function (i, k) {
                    $('#BenefitTypelist').P2BLookUpEncapsulate('#BenefitTypelist', 'BenefitTypelist', k.benefit_id, k.benefitlist_details, 'BenefitTypelist', '#Edit-BenefitTypelist-BenefitNominees,#Remove-BenefitTypelist-BenefitNominees', 'A');
                });
                //alert(data[3]);
                $('#Autho_Allow').val(data[3]); //Compulsory for authorisation
                // }, 2000);
            });
        });

        //View main page
        $('#View').button().click(function (event) {
            AssignData();
            $('#Section_Emp').fadeOut();
            //
            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.ID, "View Benefit Nominees Data->" + JSON.stringify(dt) + "", '#AddressList,#ContactDetailsList,#BenefitTypelist', '  #Lookup-Address-BenefitNominees,#Create-Address-BenefitNominees,#Edit-Address-BenefitNominees,#Remove-Address-BenefitNominees,#Lookup-ContactDetails-BenefitNominees,#Create-ContactDetails-BenefitNominees,#Edit-ContactDetails-BenefitNominees,#Remove-ContactDetails-BenefitNominees', 493, 1111, '#Autho', '@Url.Action("AuthSave")', dt.ID, '', '', '', '', '#JqGrid', function (data) {
                $.each(data[0], function (i, k) {
                    $('#Autho_Action').val(k.Action);
                    if (k.DateofBirth != null) { $('#DateofBirth').val(DateConvert(k.DateofBirth)); }
                    $('#CategoryList_DDL').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 107, k.Relations_Id);
                });
                $.each(data[1], function (i, k) {
                    $('#AddressList').P2BLookUpEncapsulate('#AddressList', 'AddressList', k.Add_Id, k.Address_FullAddress, 'AddressList', 'view', 'N');
                    $('#ContactDetailsList').P2BLookUpEncapsulate('#ContactDetailsList', 'ContactDetailsList', k.Cont_Id, k.FullContactDetails, 'ContactDetailsList', 'view', 'N');
                    $('#NomineeNamelist').P2BLookUpEncapsulate('#NomineeNamelist', 'NomineeNamelist', k.name_Id, k.name_FullDetails, 'NomineeNamelist', 'view', 'N');
                });
                $.each(data[2], function (i, k) {
                    $('#BenefitTypelist').P2BLookUpEncapsulate('#BenefitTypelist', 'BenefitTypelist', k.benefit_id, k.benefitlist_details, 'BenefitTypelist', 'view', 'A');
                });

                if ($("#Autho").hasClass('auto_active')) {
                    if (data[2] != null) {
                        $('#Name').oldVal(data[2].Name);
                        $('#CategoryList_DDL').oldDropval(data[2].BusinessType_Val);
                        $('#AddressList_Old').oldLookupVal(data[2].Address_Val);
                        $('#ContactDetailsList_Old').oldLookupVal(data[2].Contact_Val);
                    }
                }
            });
        });*@
        @*$('#View').button().click(function (event) {
            AssignData();
            $('#Section_Emp').fadeOut();
            $('#Employee-Table').val(JSON.stringify(dt));
            var v1 = JSON.stringify(dt);
            //$('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View', '#PostionList', '#Lookup-JobPosition-Job,#Create-JobPosition-Job,#Edit-JobPosition-Job,#Remove-JobPosition-Job', 500, 620, '#Autho', '@@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {
            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.ID, v1 , '#SocialActivitieslist', Viewbtndisable, 528, 1076, '#Autho', '@Url.Action("AuthSave")', dt.ID, '', '', '', '', '#JqGrid', function (data) {
                $.each(data[0], function (i, k) {
                    $('#Autho_Action').val(k.Action);
                    $('#CategoryList_DDL').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 104, k.Category); // Dropdown bind
                    $('#Religionlist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 103, k.Religion); // Dropdown bind
                    $('#Castelist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 105, k.Caste); // Dropdown bind
                    $('#SubCastelist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 106, k.SubCaste); // Dropdown bind
                    //  $('#CategoryList_DDL').P2BSelectMenuAppend("@@Url.Action("GetLookupValue", "lookup")", 402, k.BusinessType_Id);
                });
                $.each(data[1], function (i, k) {
                    $('#SocialActivitieslist').P2BLookUpEncapsulate('#SocialActivitieslist', 'SocialActivitieslist', k.SA_id, k.SA_val, 'SocialActivitieslist', 'view', 'A');
                });
                if ($("#Autho").hasClass('auto_active')) {
                    $.each(data[2], function (i, k) {
                        $('#Religionlist').StickNote(data[2].Religion);
                        $('#CategoryList_DDL').StickNote(data[2].Category);
                        $('#Castelist').StickNote(data[2].Caste);
                        $('#SubCastelist').StickNote(data[2].SubCaste);
                        $('#SocialActivitieslist_Old').StickNote(k.SA_Val);
                    });
                }
            });
            event.preventDefault();
        });*@

        //delete main page
        @*$('#Delete').button().click(function (event) {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'ID');
            $('#Create_Dialog').P2BDeleteModalDialog('@Url.Action("Delete")', dt.ID, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
            event.preventDefault();
        });*@

        /* Address button click*/
        $('#Lookup-Address-BenefitNominees').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetAddressLKDetails", "BenefitNominees")', '', 'LookupDiv', 'Address Look Up Data', '#AddressList', 'AddressList', 5, 'AddressList', '#FormBenefitNominees', 'N', '#Edit-Address-BenefitNominees,#Remove-Address-BenefitNominees', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        // PArtial page create
        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-Address-BenefitNominees').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "address")', 'Create Address', 'open', '@Url.Action("Create","Address")', '#FormAddress', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#FormBenefitNominees', '', function (data) {
                // to show data which is created in partial page
                $('#AddressList').P2BLookUpEncapsulate('#AddressList', 'AddressList', data[0], data[1], 'AddressList', '#Edit-Address-BenefitNominees,#Remove-Address-BenefitNominees', 'N');
            });
            event.preventDefault();
        });

        // PArtial page edit
        $('#Edit-Address-BenefitNominees').button().on("click", function (event) {
            var a = [], b;
            a = $('#AddressList').P2BGetTableDataonSelectedRow('#AddressList', 0);
            b = a[0];
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "address")', '@Url.Action("edit", "address")', b, '@Url.Action("Editsave","Address")', 'Edit Address', '#FormAddress', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#FormBenefitNominees', '#AddressList', 'AddressList', 'AddressList', 'N', '#Edit-Address-BenefitNominees,#Remove-Address-BenefitNominees', function (data) {
                // setTimeout(function () {
                //to bind data according to selected id
                $.each(data[0], function (i, k) {
                    $('#FormAddress').trigger("reset");
                    $('#Address1').val(k.Address1);
                    $('#Address2').val(k.Address2);
                    $('#Address3').val(k.Address3);
                    $('#Landmark').val(k.Landmark);
                    $('#CountryList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "country")", "", k.Country_Id, '');
                    $('#StateList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "state")", "", k.State_Id, '');
                    $('#StateRegionList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "StateRegion")", "", k.StateRegion_Id, '');
                    $('#DistrictList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "District")", "", k.District_Id, '');
                    $('#TalukaList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "Taluka")", "", k.Taluka_Id, '');
                    $('#CityList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "City")", "", k.City_Id, '');
                    $('#AreaList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "area")", "", k.Area_Id, '');
                });
                //}, 3000);
            });
            event.preventDefault();
        });


        //partial page delete
        $('#Remove-Address-BenefitNominees').button().on('click', function (event) {
            //var a = [], b;
            //a = $('#AddressList').P2BGetTableDataonSelectedRow('#AddressList', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#AddressList').P2BGetTableDataonSelectedRow('#AddressList', 0);

            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#AddressList', $('#AddressList').val(), 200, 200, '#FormBenefitNominees', '#AddressList', '#Edit-Address-BenefitNominees,#Remove-Address-BenefitNominees');
            event.preventDefault();
        });

        /* ContactDetails button click*/



        $('#Lookup-ContactDetails-BenefitNominees').on('click', function (event) {
            @*$('.dialog').P2BLookUpModal('@Url.Action("GetAddressLKDetails", "BenefitNominees")', '', 'LookupDiv', 'Address Look Up Data', '#AddressList', 'AddressList', 5, 'AddressList', '#FormBenefitNominees', 'N', '#Edit-Address-BenefitNominees,#Remove-Address-BenefitNominees', 'Lookup_table', 'PageNavPosition');*@
            $('.dialog').P2BLookUpModal('@Url.Action("GetContactDetLKDetails", "BenefitNominees")', '', 'LookupDiv', 'ContactDetails Look Up Data', '#ContactDetailsList', 'ContactDetailsList', 5, 'ContactDetailsList', '#FormBenefitNominees', 'N', '#Edit-ContactDetails-BenefitNominees,#Remove-ContactDetails-BenefitNominees', 'Lookup_table', 'PageNavPosition');
            // $('.ContactDetLKDiv').P2BLookUpModal('@@Url.Action("GetContactDetLKDetails", "BenefitNominees")', '', 'ContactDetLKDiv', 'Look Up Data', '#ContactDetailsList', 'ContactDetailsList', 10, 'ContactDetailsList', '#FormBenefitNominees', 'N', '#Edit-ContactDetails-BenefitNominees,#Remove-ContactDetails-BenefitNominees', 'lookupdiv_ContactDet', 'pageNavPosition_ContactDet');
            event.preventDefault();
        });

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-ContactDetails-BenefitNominees').button().on("click", function (event) {
            //function (url, maindialogtitle, state, submiturl, submitnameformforserilize, savemessage, errormessage, gridreloadname, height, width, forwarddata, ControlName, event, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, returnfunctiondata) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Createcontactdetails_partial", "BenefitNominees")', 'Create ContactDetails', 'open', '@Url.Action("CreateSave","ContactDetails")', '#FormContactDetails', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#FormContactDetails', '#Edit-ContactNo-ContDetails,#Remove-ContactNo-ContDetails', function (data) {
                $('#ContactDetailsList').P2BLookUpEncapsulate('#ContactDetailsList', 'ContactDetailsList', data[0], data[1], 'ContactDetailsList', '#Edit-ContactDetails-BenefitNominees,#Remove-ContactDetails-BenefitNominees', 'N');
            });
            event.preventDefault();
        });

        $('#Edit-ContactDetails-BenefitNominees').button().on("click", function (event) {
            var a = [], b;
            a = $('#ContactDetailsList').P2BGetTableDataonSelectedRow('#ContactDetailsList', 0);
            b = a[0];
            console.log(b);
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("Createcontactdetails_partial", "BenefitNominees")', '@Url.Action("Editcontactdetails_partial", "BenefitNominees")', b, '@Url.Action("EditSave", "ContactDetails")', 'Edit Contact Details', '#FormContactDetails', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#FormBenefitNominees', '#ContactDetailsList', 'ContactDetailsList', 'ContactDetailsList', 'N', '#Remove-ContactNo-ContDetails,#Edit-ContactNo-ContDetails', function (data) {
                // setTimeout(function () {
                $.each(data[0], function (i, k) {
                    $('#FormContactDetails').trigger('reset');
                    $('#EmailId').val(k.EmailId);
                    $('#Website').val(k.Website);
                    $('#FaxNo').val(k.FaxNo);
                });

                $.each(data[1], function (i, k) {
                    $('#ContactNos_List').P2BLookUpEncapsulate('#ContactNos_List', 'ContactNos_List', k.Id, k.FullContactNumbers, 'ContactNos_List', '#Edit-ContactNo-ContDetails,#Remove-ContactNo-ContDetails', 'A');
                });
                // }, 3000);
            });
            event.preventDefault();
        });

        $('#Remove-ContactDetails-BenefitNominees').button().on('click', function (event) {
            // dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            //var a = [], b;
            //a = $('#ContactDetailsList').P2BGetTableDataonSelectedRow('#ContactDetailsList', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#ContactDetailsList').P2BGetTableDataonSelectedRow('#ContactDetailsList', 0);

            $('<div></div>').P2BPartialDeleteModalDialog('@Url.Action("DeleteContactDetails","BenefitNominees")', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#ContactDetailsList', $('#ContactDetailsList').val(), 200, 200, '#FormBenefitNominees', '#ContactDetailsList', '#Edit-ContactDetails-BenefitNominees,#Remove-ContactDetails-BenefitNominees');
            event.preventDefault();
        });



        @*$('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-BenefitTypelist-BenefitNominees').button().on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Index", "NomineeBenefit")', 'Create NomineeName', 'open', '@Url.Action("Create", "NomineeBenefit")', '#FormNomineeBenefit', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#FormBenefitNominees', '', function (data) {
                $('#Type_Nomines').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 311, ""); // Dropdown bind
            });
            event.preventDefault();
        });*@

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-BenefitTypelist-BenefitNominees').button().on("click", function (event) {
            //function (url, maindialogtitle, state, submiturl, submitnameformforserilize, savemessage, errormessage, gridreloadname, height, width, forwarddata, ControlName, event, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, returnfunctiondata) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Index", "NomineeBenefit")', 'Create NomineeName', 'open', '@Url.Action("Create", "NomineeBenefit")', '#FormNomineeBenefit', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#FormNomineeBenefit', '', function (data) {
                $('#BenefitTypelist').P2BLookUpEncapsulate('#BenefitTypelist', 'BenefitTypelist', data[0], data[1], 'BenefitTypelist', '', 'A');
                $('#Type_Nomines').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 311, "");
            });

            event.preventDefault();
        });
        $('#Lookup-BenefitTypelist-BenefitNominees').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupBenefitNominees", "BenefitNominees")', '', 'LookupDiv', 'BenefitType Look Up Data', '#BenefitTypelist', 'BenefitTypelist', 5, 'BenefitTypelist', '#FormBenefitNominees', 'A', '#Edit-BenefitTypelist-BenefitNominees,#Remove-BenefitTypelist-BenefitNominees', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });



        $('#Edit-BenefitTypelist-BenefitNominees').button().on("click", function (event) {
            var a = [], b;
            a = $('#BenefitTypelist').P2BGetTableDataonSelectedRow('#BenefitTypelist', 0);
            b = a[0];
            console.log(b);
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("Index", "NomineeBenefit")', '@Url.Action("Edit", "NomineeBenefit")', b, '@Url.Action("EditSave", "NomineeBenefit")', 'Edit  Details', '#FormNomineeBenefit', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#FormBenefitNominees', '#BenefitTypelist', 'BenefitTypelist', 'BenefitTypelist', 'A', '#Edit-BenefitTypelist-BenefitNominees,#Remove-BenefitTypelist-BenefitNominees', function (data) {
                // setTimeout(function () {
                $.each(data[0], function (i, k) {
                    $('#FormNomineeBenefit').trigger('reset');
                    $('#BenefitPerc').val(k.BenefitPerc);
                    $('#Type_Nomines').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 311, k.BenefitType_Id);
                });


                // }, 3000);
            });
            event.preventDefault();
        });







        $('#Remove-BenefitTypelist-BenefitNominees').button().on('click', function (event) {
            // dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            //var a = [], b;
            //a = $('#BenefitTypelist').P2BGetTableDataonSelectedRow('#BenefitTypelist', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#BenefitTypelist').P2BGetTableDataonSelectedRow('#BenefitTypelist', 0);


            $('<div></div>').P2BPartialDeleteModalDialog('@Url.Action("DeleteContactDetails","BenefitNominees")', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#BenefitTypelist', $('#BenefitTypelist').val(), 200, 200, '#FormBenefitNominees', '#BenefitTypelist', '#Edit-BenefitTypelist-BenefitNominees,#Remove-BenefitTypelist-BenefitNominees');
            event.preventDefault();
        });




        $('#Lookup-NomineeName-BenefitNominees').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupNomineesName", "BenefitNominees")', '', 'LookupDiv', 'Nominee Look Up Data', '#NomineeNamelist', 'NomineeNamelist', 5, 'NomineeNamelist', '#FormBenefitNominees', 'N', '#Edit-NomineeName-BenefitNominees,#Remove-NomineeName-BenefitNominees', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-NomineeName-BenefitNominees').button().on("click", function (event) {
            //function (url, maindialogtitle, state, submiturl, submitnameformforserilize, savemessage, errormessage, gridreloadname, height, width, forwarddata, ControlName, event, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, returnfunctiondata) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "NameSingle")', 'Create NomineeName', 'open', '@Url.Action("Create", "NameSingle")', '#FormNameSingle', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#FormBenefitNominees', '', function (data) {
                $('#NomineeNamelist').P2BLookUpEncapsulate('#NomineeNamelist', 'NomineeNamelist', data[0], data[1], 'NomineeNamelist', '#Edit-NomineeName-BenefitNominees,#Remove-NomineeName-BenefitNominees', 'N');
            });
            event.preventDefault();
        });

        $('#Edit-NomineeName-BenefitNominees').button().on("click", function (event) {
            var a = [], b;
            a = $('#NomineeNamelist').P2BGetTableDataonSelectedRow('#NomineeNamelist', 0);
            b = a[0];
            console.log(b);
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "NameSingle")', '@Url.Action("edit", "NameSingle")', b, '@Url.Action("EditSave", "NameSingle")', 'Edit  Details', '#FormNameSingle', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#FormBenefitNominees', '#NomineeNamelist', 'NomineeNamelist', 'NomineeNamelist', 'N', '#Edit-NomineeName-BenefitNominees,#Remove-NomineeName-BenefitNominees', function (data) {
                // setTimeout(function () {
                   var k = data;
                    $('#FormNameSingle').trigger("reset");
                    $('#FName').val(k.FName);
                    $('#MName').val(k.MName);
                    $('#LName').val(k.LName);

                    $('#title').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 100, k.EmpTitle);


                // }, 3000);
            });
            event.preventDefault();
        });

        $('#Remove-NomineeName-BenefitNominees').button().on('click', function (event) {
            // dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            //var a = [], b;
            //a = $('#NomineeNamelist').P2BGetTableDataonSelectedRow('#NomineeNamelist', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#NomineeNamelist').P2BGetTableDataonSelectedRow('#NomineeNamelist', 0);

            $('<div></div>').P2BPartialDeleteModalDialog('@Url.Action("DeleteContactDetails","BenefitNominees")', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#NomineeNamelist', $('#NomineeNamelist').val(), 200, 200, '#FormBenefitNominees', '#NomineeNamelist', '#Edit-NomineeName-BenefitNominees,#Remove-NomineeName-BenefitNominees');
            event.preventDefault();
        });

        $('.popup_radio_button').controlgroup();
        $('#Autho').makeDisable('#Create,#Edit,#Delete');
        $('#CategoryList_DDL').selectmenu().selectmenu("menuWidget");
        $('#Type_Nomines').selectmenu().selectmenu("menuWidget");
        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');
    });
</script>