@{
    Layout = null;
}
@model Recruitement.JobNewsPaper




<html>

<head>
    <title></title>
    <style>
        /*.icon-row {
            position: relative;
            left: 53px;
            top: -150px;
        }*/

        #BusinessType-button {
            font-size: 9px;
            padding-top: 1px;
            font-weight: bold;
        }

        .popup-content-label {
            display: block;
            float: left;
            width: 100px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 150px;
        }

        .row3 {
            width: 402px;
        }

        .row4 {
            position: absolute;
            top: 294px;
            width: 400px;
        }

        .popup-content-textbox-long {
            margin-bottom: 1px;
            width: 290px;
        }


        .row2 {
            width: 402px;
        }

        .popup-content-drop-icon-edit, .popup-content-drop-icon-create, .popup-content-drop-icon-lookup {
            height: 20px;
            margin: auto;
            position: absolute;
            width: 20px;
            left: 24px;
        }

        .emp_icon-row {
            position: relative;
            left: 324px;
            top: -27px;
        }

        .popup-content-drop-icon-edit {
            left: 76px;
        }

        .popup-content-drop-icon-lookup {
            left: 29px;
        }

        .popup-content-drop-icon-create {
            left: 52px;
        }
    </style>
</head>

<body>


    <div id="Create_Dialog" title="Create JobNewsPaper">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmJobNewsPaper", name = "frmJobNewsPaperEdit" }))
        {
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />



            <div class="row3 content_margine">@Html.LabelFor(m => m.Name, "Name :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Name, new { @class = "popup-content-textbox must" ,@id = "Name_JobNewsPaper" })</div>
            <div class="row3 content_margine">@Html.LabelFor(m => m.PANNo, "PAN No :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.PANNo, new { @class = "popup-content-textbox must" })</div>
            <div class="row3 content_margine">@Html.LabelFor(m => m.GSTNo, "GST No :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.GSTNo, new { @class = "popup-content-textbox must" })</div>
            <div class="row3 content_margine">
                <div id="AgencyAddress_old"></div>
                @Html.LabelFor(m => m.NewPaperAddress, "New Paper Address :", new { @class = "popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="NewPaperAddressList">
                        <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup NewPaperAddress" class="  popup-content-icon-lookup" id="Lookup-NewPaperAddress-JobNewsPaper"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Create NewPaperAddress" class="popup-content-icon-create" id="Create-NewPaperAddress-JobNewsPaper"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit NewPaperAddress" class="popup-content-icon-edit" id="Edit-NewPaperAddress-JobNewsPaper"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Remove NewPaperAddress" class="popup-content-icon-remove" id="Remove-NewPaperAddress-JobNewsPaper"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>
            <div class="row3 content_margine">
                <div id="ContactDetailsList_Old"></div>@Html.LabelFor(m => m.ContactDetails, "Contact Details :", new { @class = "popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="ContactDetailslistJN">
                        <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup ContactDetails " class="  popup-content-icon-lookup" id="Lookup-ContactDetails-JobNewsPaper"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Create Contact Details" class="  popup-content-icon-create" id="Create-ContactDetails-JobNewsPaper"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit Contact Details" class="  popup-content-icon-edit" id="Edit-ContactDetails-JobNewsPaper"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Remove Contact Details" class="  popup-content-icon-remove" id="Remove-ContactDetails-JobNewsPaper"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>

                   @*<div class="content_margine row1">
                            @Html.LabelFor(m => m.ContactPerson.FullNameFML, "Name:", new { @class = "popup-content-label must" })
                            <input type="text" id="EmpName_id" name="EmpName_id" class="filter_structure_id" />
                            @Html.TextBoxFor(m => m.ContactPerson.FullNameFML, new { @class = "popup-content-textbox must" })
                            <div class="emp_icon-row">
                                <button data-p2btooltip="Lookup FirstName" class="popup-content-drop-icon-lookup" id="Lookup-EmpName-FName">
                                    <span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span>
                                </button>
                                <button data-p2btooltip="Create FirstName" class="popup-content-drop-icon-create" id="Create-EmpName-FName">
                                    <span class="ui-icon ui-icon-newwin popup-content-iconmark"></span>
                                </button>
                                <button data-p2btooltip="Edit FirstName" class="popup-content-drop-icon-edit" id="Edit-EmpName-FName">
                                    <span class="ui-icon ui-icon-pencil popup-content-iconmark"></span>
                                </button>
                            </div>
                        </div>*@


        }
    </div>

</body>
</html>

<script>
	$(document).ready(function (e) {
		var dt;
		$('button').button();
		$('#Name_JobNewsPaper').ValidateTextBox({ maxlength: 25, name: true, alphanum: true });
		$('#GSTNo').ValidateTextBox({ maxlength: 12, name: true, alphanum: true });
		$('#PANNo').ValidateTextBox({ maxlength: 10, name: true, alphanum: true });
		$('#Lookup-NewPaperAddress-JobNewsPaper').on('click', function (event) {
		    $('.dialog').P2BLookUpModal('@Url.Action("GetAddressLKDetails", "JobNewsPaper")', '', 'LookupDiv', 'Address Look Up Data', '#NewPaperAddressList', 'NewPaperAddressList', 5, 'NewPaperAddressList', '#frmJobNewsPaper', 'N', '#Edit-NewPaperAddress-JobNewsPaper,#Remove-NewPaperAddress-JobNewsPaper', 'Lookup_table', 'PageNavPosition');
		    event.preventDefault();
		});

	    $('<div></div>').P2BPartialCreateModalDialog();
	    $('#Create-NewPaperAddress-JobNewsPaper').on("click", function (event) {
	        $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "address")', 'Create Address', 'open', '@Url.Action("Create","Address")', '#FormAddress', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#frmJobNewsPaper', '', function (data) {
	            // to show data which is created in partial page
	            $('#NewPaperAddressList').P2BLookUpEncapsulate('#NewPaperAddressList', 'NewPaperAddressList', data[0], data[1], 'NewPaperAddressList', '#Edit-NewPaperAddress-JobNewsPaper,#Remove-NewPaperAddress-JobNewsPaper', 'N');
	        });
	        event.preventDefault();
	    });


	    $('#Edit-NewPaperAddress-JobNewsPaper').button().on("click", function (event) {
	        var a = [], b;
	        a = $('#NewPaperAddressList').P2BGetTableDataonSelectedRow('#NewPaperAddressList', 0);
	        b = a[0];
	        //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname, height, width, classoridoftheonwhichpopupderived, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not,nameidclassofbuttontodisable,returndatafunction) {
	        $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "address")', '@Url.Action("edit", "address")', b, '@Url.Action("Editsave","Address")', 'Edit Address', '#FormAddress', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmJobNewsPaper', '#NewPaperAddressList', 'NewPaperAddressList', 'NewPaperAddressList', 'N', '#Edit-NewPaperAddress-JobNewsPaper,#Remove-NewPaperAddress-JobNewsPaper', function (data) {
	            // setTimeout(function () {
	            //to bind data according to selected id
	            $.each(data[0], function (i, k) {
	                $('#FormAddress').trigger("reset");
	                $('#Address1').val(k.Address1);
	                $('#Address2').val(k.Address2);
	                $('#Address3').val(k.Address3);
	                $('#Landmark').val(k.Landmark);
	                $('#CountryList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "country")", "", k.Country_Id, '');
	                $('#StateList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "state")", "", k.State_Id, '');
	                $('#StateRegionList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "StateRegion")", "", k.StateRegion_Id, '');
	                $('#DistrictList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "District")", "", k.District_Id, '');
	                $('#TalukaList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "Taluka")", "", k.Taluka_Id, '');
	                $('#CityList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "City")", "", k.City_Id, '');
	                $('#AreaList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "area")", "", k.Area_Id, '');
	            });
	            //}, 3000);


	        });
	        event.preventDefault();
	    });


	    $('#Remove-NewPaperAddress-JobNewsPaper').button().on('click', function (event) {
	        //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
	        var a = [], b;
	        a = $('#NewPaperAddressList').P2BGetTableDataonSelectedRow('#NewPaperAddressList', 0);
	        b = a[0];
	        $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#NewPaperAddressList', $('#NewPaperAddressList').val(), 200, 200, '#frmJobNewsPaper', '#NewPaperAddressList', '#Edit-NewPaperAddress-JobNewsPaper,#Remove-NewPaperAddress-JobNewsPaper');
	        event.preventDefault();
	    });

	    $('#Lookup-ContactDetails-JobNewsPaper').button().on('click', function (event) {
           @*$('.dialog').P2BLookUpModal('@Url.Action("GetAddressLKDetails", "Corporate")', '', 'LookupDiv', 'Address Look Up Data', '#AddressList', 'AddressList', 5, 'AddressList', '#FormCorporate', 'N', '#Edit-Address-Corporate,#Remove-Address-Corporate', 'Lookup_table', 'PageNavPosition');*@
	        $('.dialog').P2BLookUpModal('@Url.Action("GetContactDetLKDetails", "JobNewsPaper")', '', 'LookupDiv', 'ContactDetails Look Up Data', '#ContactDetailslistJN', 'ContactDetailslistJN', 5, 'ContactDetailslistJN', '#frmJobNewsPaper', 'N', '#Edit-ContactDetails-JobNewsPaper,#Remove-ContactDetails-JobNewsPaper', 'Lookup_table', 'PageNavPosition');
	       
	        event.preventDefault();
	    });

	    $('<div></div>').P2BPartialCreateModalDialog();
	    $('#Create-ContactDetails-JobNewsPaper').button().on("click", function (event) {
	        //function (url, maindialogtitle, state, submiturl, submitnameformforserilize, savemessage, errormessage, gridreloadname, height, width, forwarddata, ControlName, event, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, returnfunctiondata) {
	        $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Createcontactdetails_partial", "JobNewsPaper")', 'Create ContactDetails', 'open', '@Url.Action("CreateSave","ContactDetails")', '#FormContactDetails', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#FormContactDetails', '#Edit-ContactNo-ContDetails,#Remove-ContactNo-ContDetails', function (data) {
	            $('#ContactDetailslistJN').P2BLookUpEncapsulate('#ContactDetailslistJN', 'ContactDetailslistJN', data[0], data[1], 'ContactDetailslistJN', '#Edit-ContactDetails-JobNewsPaper,#Remove-ContactDetails-JobNewsPaper', 'N');
	        });
	        event.preventDefault();
	    });

	    $('#Edit-ContactDetails-JobNewsPaper').button().on("click", function (event) {
	        var a = [], b;
	        a = $('#ContactDetailslistJN').P2BGetTableDataonSelectedRow('#ContactDetailslistJN', 0);
	        b = a[0];
	        console.log(b);
	        //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname,                                                                                                                    height, width, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not, returndatafunction) {
	        $('<div></div>').P2BPatialEditModalDialog('@Url.Action("Createcontactdetails_partial", "JobNewsPaper")', '@Url.Action("Editcontactdetails_partial", "JobNewsPaper")', b, '@Url.Action("EditSave", "ContactDetails")', 'Edit Contact Details', '#FormContactDetails', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmJobNewsPaper', '#ContactDetailslistJN', 'ContactDetailslistJN', 'ContactDetailslistJN', 'N', '#Remove-ContactNo-ContDetails,#Edit-ContactNo-ContDetails', function (data) {
	            // setTimeout(function () {
	            $.each(data[0], function (i, k) {
	                $('#FormContactDetails').trigger('reset');
	                $('#EmailId').val(k.EmailId);
	                $('#Website').val(k.Website);
	                $('#FaxNo').val(k.FaxNo);
	            });

	            $.each(data[1], function (i, k) {
	                $('#ContactNos_List').P2BLookUpEncapsulate('#ContactNos_List', 'ContactNos_List', k.Id, k.FullContactNumbers, 'ContactNos_List', '#Edit-ContactNo-ContDetails,#Remove-ContactNo-ContDetails', 'A');
	            });
	            // }, 3000);
	        });
	        event.preventDefault();
	    });

	    $('#Remove-ContactDetails-JobNewsPaper').button().on('click', function (event) {
	        // dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
	        var a = [], b;
	        a = $('#ContactDetailslistJN').P2BGetTableDataonSelectedRow('#ContactDetailslistJN', 0);
	        b = a[0];
	        $('<div></div>').P2BPartialDeleteModalDialog('@Url.Action("DeleteContactDetails","Corporate")', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#ContactDetailslistJN', $('#ContactDetailslistJN').val(), 200, 200, '#frmJobNewsPaper', '#ContactDetailslistJN', '#Edit-ContactDetails-JobNewsPaper,#Remove-ContactDetails-JobNewsPaper');
	        event.preventDefault();
	    });

		$('#Lookup-EmpName-FName').on('click', function () {
            
		    $('.dialog').AddDataToTextbox({
		        appendTo: "#EmpName_FullNameFML",
		        lookupurl: "@Url.Action("GetLookup_Name", "JobAgency")",
		        NoOfRecordToShow: 10,
		    setnameofthelookupbyppage: "EmpName_FName-lookup",
		    LookupDiv: "LookupDiv",
		    lookuppagename: "lookup",
		    appendToId: "#EmpName_id",
		    readonly: true,
		    pagename: "PageNavPosition"
		});
	});

    $('#Create-EmpName-FName').on('click', function (e) {
        $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "NameSingle")', 'Create NameSingle', 'open', '@Url.Action("Create", "NameSingle")', '#FormNameSingle', 'Message :', 'Request Falied :', '#JqGrid', 251, 460, '', '#DepartmentObjlist', 'change', '', '', function (data) {
            $('#EmpName_id').val(data[0]);
            $('#EmpName_FullNameFML').val(data[1]);
        });
    });

    $('#Edit-EmpName-FName').button().on("click", function (event) {
        var a = $('#EmpName_id').val() == false ? alert("Select Record..!") : $('#EmpName_id').val();
        if (a == undefined) return false;
        $("<div></div>").CustomeDialog({
            htmlurl: '@Url.Action("partial", "NameSingle")',
            onloaddataurl: '@Url.Action("edit", "NameSingle")',
            onloaddataid: a,
            submiturl: '@Url.Action("EditSave", "NameSingle")',
            form: '#FormNameSingle',
            title: 'Name Single',
            onloadreturnfunction: function (data) {

                $('#FormNameSingle').trigger('reset');
                $('#FName').val(data.FName);
                $('#MName').val(data.MName);
                $('#LName').val(data.LName);
                $('#title').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 100, data.EmpTitle);
                $('#id').val(data.id);
            },
            onsubmitreturnfunction: function (data) {
                $('#EmpName_id').val(data[0]);
                $('#EmpName_FullNameFML').val(data[1]);
            }
        });
        event.preventDefault();
    });



	






		//$('#IncrPolicy_Name').MaxLength(10).ForceOnlyAlphaNumeric();

		$('#Autho').makeDisable('#Create,#Edit,#Delete');
		$('.popup_radio_button').controlgroup();
		$('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');
		//$('.drop').selectmenu().selectmenu('menuWidget');
	});
</script>