@{
    Layout = null;
}
@model Recruitment.JobInsideOrg




<html>

<head>
    <title></title>
    <style>
        .icon-row {
            position: relative;
            left: 53px;
            top: -150px;
        }

        #BusinessType-button {
            font-size: 9px;
            padding-top: 1px;
            font-weight: bold;
        }

        .popup-content-label {
            display: block;
            float: left;
            width: 100px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 150px;
        }

        .row3 {
            width: 402px;
        }

        .row4 {
            position: absolute;
            top: 294px;
            width: 400px;
        }

        .popup-content-textbox-long {
            margin-bottom: 1px;
            width: 290px;
        }


        .row2 {
            width: 402px;
        }

        .popup-content-drop-icon-edit, .popup-content-drop-icon-create, .popup-content-drop-icon-lookup {
            height: 20px;
            margin: auto;
            position: absolute;
            width: 20px;
            left: 24px;
        }

        .emp_icon-row {
            position: relative;
            left: 324px;
            top: -27px;
        }

        .popup-content-drop-icon-edit {
            left: 76px;
        }

        .popup-content-drop-icon-lookup {
            left: 29px;
        }

        .popup-content-drop-icon-create {
            left: 52px;
        }
    </style>
</head>

<body>


    <div >

        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmJobInsideOrg", name = "frmJobInsideOrgEdit" }))
        {
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />



            <div class="row3 content_margine">@Html.LabelFor(m => m.Name, "Name :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Name, new { @class = "popup-content-textbox must", @id = "Name_JobInsideOrg" })</div>
            <div class="row3 content_margine">@Html.LabelFor(m => m.PANNo, "PAN No :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.PANNo, new { @class = "popup-content-textbox must" })</div>
            <div class="row3 content_margine">@Html.LabelFor(m => m.GSTNo, "GST No :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.GSTNo, new { @class = "popup-content-textbox must" })</div>
            <div class="row3 content_margine">
                <div id="AgencyAddress_old"></div>
                @Html.LabelFor(m => m.PortalAddress, "Portal Address :", new { @class = "popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="PortalAddressList">
                        <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup PortalAddress" class="  popup-content-icon-lookup" id="Lookup-PortalAddress-JobInsideOrg"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Create PortalAddress" class="popup-content-icon-create" id="Create-PortalAddress-JobInsideOrg"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit PortalAddress" class="popup-content-icon-edit" id="Edit-PortalAddress-JobInsideOrg"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Remove PortalAddress" class="popup-content-icon-remove" id="Remove-PortalAddress-JobInsideOrg"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>
            <div class="row3 content_margine">
                <div id="ContactDetailslistJI_old"></div>@Html.LabelFor(m => m.ContactDetails, "Contact Details :", new { @class = "popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="ContactDetailslistJI">
                        <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup ContactDetails " class="  popup-content-icon-lookup" id="Lookup-ContactDetails-JobInsideOrg"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Create Contact Details" class="  popup-content-icon-create" id="Create-ContactDetails-JobInsideOrg"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit Contact Details" class="  popup-content-icon-edit" id="Edit-ContactDetails-JobInsideOrg"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Remove Contact Details" class="  popup-content-icon-remove" id="Remove-ContactDetails-JobInsideOrg"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>

           
        }
    </div>

</body>
</html>

<script>

    $(document).ready(function (e) {
        $('button').button();
        $('#Name_JobInsideOrg').ValidateTextBox({ maxlength: 25, name: true, alphanum: true });
        $('#GSTNo').ValidateTextBox({ maxlength: 12, name: true, alphanum: true });
        $('#PANNo').ValidateTextBox({ maxlength: 10, name: true, alphanum: true });

        Caption = 'JobSource';
        @*url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);*@

        $('#Lookup-PortalAddress-JobInsideOrg').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetAddressLKDetails", "JobInsideOrg")', '', 'LookupDiv', 'Address Look Up Data', '#PortalAddressList', 'PortalAddressList', 5, 'PortalAddressList', '#frmJobInsideOrg', 'N', '#Edit-PortalAddress-JobInsideOrg,#Remove-PortalAddress-JobInsideOrg', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

     
        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-PortalAddress-JobInsideOrg').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "address")', 'Create Address', 'open', '@Url.Action("Create","Address")', '#FormAddress', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#frmJobInsideOrg', '', function (data) {
                // to show data which is created in partial page
                $('#PortalAddressList').P2BLookUpEncapsulate('#PortalAddressList', 'PortalAddressList', data[0], data[1], 'PortalAddressList', '#Edit-PortalAddress-JobInsideOrg,#Remove-PortalAddress-JobInsideOrg', 'N');
            });
            event.preventDefault();
        });

        $('#Edit-PortalAddress-JobInsideOrg').button().on("click", function (event) {
            var a = [], b;
            a = $('#PortalAddressList').P2BGetTableDataonSelectedRow('#PortalAddressList', 0);
            b = a[0];
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname, height, width, classoridoftheonwhichpopupderived, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not,nameidclassofbuttontodisable,returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "address")', '@Url.Action("edit", "address")', b, '@Url.Action("Editsave","Address")', 'Edit Address', '#FormAddress', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmJobInsideOrg', '#PortalAddressList', 'PortalAddressList', 'PortalAddressList', 'N', '#Edit-PortalAddress-JobInsideOrg,#Remove-PortalAddress-JobInsideOrg', function (data) {
                // setTimeout(function () {
                //to bind data according to selected id
                $.each(data[0], function (i, k) {
                    $('#FormAddress').trigger("reset");
                    $('#Address1').val(k.Address1);
                    $('#Address2').val(k.Address2);
                    $('#Address3').val(k.Address3);
                    $('#Landmark').val(k.Landmark);
                    $('#CountryList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "country")", "", k.Country_Id, '');
                    $('#StateList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "state")", "", k.State_Id, '');
                    $('#StateRegionList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "StateRegion")", "", k.StateRegion_Id, '');
                    $('#DistrictList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "District")", "", k.District_Id, '');
                    $('#TalukaList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "Taluka")", "", k.Taluka_Id, '');
                    $('#CityList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "City")", "", k.City_Id, '');
                    $('#AreaList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "area")", "", k.Area_Id, '');
                });
                //}, 3000);


            });
            event.preventDefault();
        });


        $('#Remove-PortalAddress-JobInsideOrg').button().on('click', function (event) {
            //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            var a = [], b;
            a = $('#PortalAddressList').P2BGetTableDataonSelectedRow('#PortalAddressList', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#PortalAddressList', $('#PortalAddressList').val(), 200, 200, '#frmJobInsideOrg', '#PortalAddressList', '#Edit-PortalAddress-JobInsideOrg,#Remove-PortalAddress-JobInsideOrg');
            event.preventDefault();
        });

        $('#Lookup-ContactDetails-JobInsideOrg').button().on('click', function (event) {
          @*$('.dialog').P2BLookUpModal('@Url.Action("GetAddressLKDetails", "Corporate")', '', 'LookupDiv', 'Address Look Up Data', '#AddressList', 'AddressList', 5, 'AddressList', '#FormCorporate', 'N', '#Edit-Address-Corporate,#Remove-Address-Corporate', 'Lookup_table', 'PageNavPosition');*@
            $('.dialog').P2BLookUpModal('@Url.Action("GetContactDetLKDetails", "JobInsideOrg")', '', 'LookupDiv', 'Contact Details Look Up Data', '#ContactDetailslistJI', 'ContactDetailslistJI', 5, 'ContactDetailslistJI', '#frmJobInsideOrg', 'N', '#Edit-ContactDetails-JobInsideOrg,#Remove-ContactDetails-JobInsideOrg', 'Lookup_table', 'PageNavPosition');
	       
            event.preventDefault();
        });

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-ContactDetails-JobInsideOrg').button().on("click", function (event) {
            //function (url, maindialogtitle, state, submiturl, submitnameformforserilize, savemessage, errormessage, gridreloadname, height, width, forwarddata, ControlName, event, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, returnfunctiondata) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Createcontactdetails_partial", "JobInsideOrg")', 'Create Contact Details', 'open', '@Url.Action("CreateSave","ContactDetails")', '#FormContactDetails', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#FormContactDetails', '#Edit-ContactNo-ContDetails,#Remove-ContactNo-ContDetails', function (data) {
                $('#ContactDetailslistJI').P2BLookUpEncapsulate('#ContactDetailslistJI', 'ContactDetailslistJI', data[0], data[1], 'ContactDetailslistJI', '#Edit-ContactDetails-JobInsideOrg,#Remove-ContactDetails-JobInsideOrg', 'N');
            });
            event.preventDefault();
        });


        $('#Edit-ContactDetails-JobInsideOrg').button().on("click", function (event) {
            var a = [], b;
            a = $('#ContactDetailslistJI').P2BGetTableDataonSelectedRow('#ContactDetailslistJI', 0);
            b = a[0];
            console.log(b);
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname,                                                                                                                    height, width, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not, returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("Createcontactdetails_partial", "JobInsideOrg")', '@Url.Action("Editcontactdetails_partial", "JobInsideOrg")', b, '@Url.Action("EditSave", "ContactDetails")', 'Edit Contact Details', '#FormContactDetails', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmJobInsideOrg', '#ContactDetailslistJI', 'ContactDetailslistJI', 'ContactDetailslistJI', 'N', '#Remove-ContactNo-ContDetails,#Edit-ContactNo-ContDetails', function (data) {
                // setTimeout(function () {
                $.each(data[0], function (i, k) {
                    $('#FormContactDetails').trigger('reset');
                    $('#EmailId').val(k.EmailId);
                    $('#Website').val(k.Website);
                    $('#FaxNo').val(k.FaxNo);
                });

                $.each(data[1], function (i, k) {
                    $('#ContactNos_List').P2BLookUpEncapsulate('#ContactNos_List', 'ContactNos_List', k.Id, k.FullContactNumbers, 'ContactNos_List', '#Edit-ContactNo-ContDetails,#Remove-ContactNo-ContDetails', 'A');
                });
                // }, 3000);
            });
            event.preventDefault();
        });

        $('#Remove-ContactDetails-JobInsideOrg').button().on('click', function (event) {
            // dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            var a = [], b;
            a = $('#ContactDetailslistJI').P2BGetTableDataonSelectedRow('#ContactDetailslistJI', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('@Url.Action("DeleteContactDetails","Corporate")', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#ContactDetailslistJA', $('#ContactDetailslistJA').val(), 200, 200, '#frmJobInsideOrg', '#ContactDetailslistJI', '#Edit-ContactDetails-JobInsideOrg,#Remove-ContactDetails-JobInsideOrg');
            event.preventDefault();
        });


        @*$('#Lookup-EmpName-FName').on('click', function () {
            
            $('.dialog').AddDataToTextbox({
                appendTo: "#EmpName_FullNameFML",
                lookupurl: "@Url.Action("GetLookup_Name", "JobAgency")",
                NoOfRecordToShow: "10",
            setnameofthelookupbyppage: "EmpName_FName-lookup",
            LookupDiv: "LookupDiv",
            lookuppagename: "lookup",
            appendToId: "#EmpName_id",
            readonly: true,
            pagename: "PageNavPosition"
        });
    });

    $('#Create-EmpName-FName').on('click', function (e) {
        $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "NameSingle")', 'Create NameSingle', 'open', '@Url.Action("Create", "NameSingle")', '#FormNameSingle', 'Message :', 'Request Falied :', '#JqGrid', 251, 460, '', '#DepartmentObjlist', 'change', '', '', function (data) {
            $('#EmpName_id').val(data[0]);
            $('#EmpName_FullNameFML').val(data[1]);
        });
    });

    $('#Edit-EmpName-FName').button().on("click", function (event) {
        var a = $('#EmpName_id').val() == false ? alert("Select Record..!") : $('#EmpName_id').val();
        if (a == undefined) return false;
        $("<div></div>").CustomeDialog({
            htmlurl: '@Url.Action("partial", "NameSingle")',
            onloaddataurl: '@Url.Action("edit", "NameSingle")',
            onloaddataid: a,
            submiturl: '@Url.Action("EditSave", "NameSingle")',
            form: '#FormNameSingle',
            title: 'Name Single',
            onloadreturnfunction: function (data) {

                $('#FormNameSingle').trigger('reset');
                $('#FName').val(data.FName);
                $('#MName').val(data.MName);
                $('#LName').val(data.LName);
                $('#title').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 100, data.EmpTitle);
                $('#id').val(data.id);
            },
            onsubmitreturnfunction: function (data) {
                $('#EmpName_id').val(data[0]);
                $('#EmpName_FullNameFML').val(data[1]);
            }
        });
        event.preventDefault();
    });*@

      
            $('#Autho').makeDisable('#Create,#Edit,#Delete');
            $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');
        });
</script>