@{
    Layout = null;
}
@model Recruitement.JobSource
<style>
    .radio_button_div_1, .horizontal_increpoly_row1 {
        display: inline-block;
    }

    .increpoly_popup-content-label {
        display: block;
        float: left;
        width: 123px;
    }

    .increpoly_popup-content-textbox {
        width: 120px;
    }

    .increpoly_row1 {
        width: 424px;
    }

    .increpoly_icon-row {
        position: relative;
        left: 81px;
        top: -150px;
    }
</style>
<script>
    $(document).ready(function (e) {
        var dt;
        $('button').button();
        $('.popup_radio_button').controlgroup();


        $('#Lookup-JobAgency-JobSource').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupDetails", "JobSource")', '', 'LookupDiv', 'Job Source Look Up Data', '#JobAgencylist', 'JobAgencylist', 5, 'JobAgencylist', '#frmJobSource', 'N', '#Edit-JobAgency-JobSource,#Remove-JobAgency-JobSource', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });


        // $('<div></div>').P2BPartialCreateModalDialog();

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-JobAgency-JobSource').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Partial", "JobAgency")', 'Create Job Agency', 'open', '@Url.Action("Create", "JobAgency")', '#frmJobAgency', 'Message :', 'Request Falied :', '#JqGrid', 400, 600, '', '', '', '#frmJobSource', '', function (data) {
                $('#JobAgencylist').P2BLookUpEncapsulate('#JobAgencylist', 'JobAgencylist', data[0], data[1], 'JobAgencylist', '#Edit-JobAgency-JobSource,#Remove-JobAgency-JobSource', 'N');
            });
            event.preventDefault();
        });

        $('#Edit-JobAgency-JobSource').button().on("click", function (event) {
            var a = [], b;
            a = $('#JobAgencylist').P2BGetTableDataonSelectedRow('#JobAgencylist', 0);
            b = a[0];
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname, height, width, classoridoftheonwhichpopupderived, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not,nameidclassofbuttontodisable,returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "JobAgency")', '@Url.Action("Edit", "JobAgency")', b, '@Url.Action("Editsave", "JobAgency")', 'Edit Job Agency', '#frmJobAgency', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmJobSource', '#JobAgencylist', 'JobAgencylist', 'JobAgencylist', 'N', '#Edit-JobAgency-JobSource,#Remove-JobAgency-JobSource', function (data) {
                // setTimeout(function () {
                //to bind data according to selected id
                $.each(data[0], function (i, k) {
                    $('#frmJobAgency').trigger("reset");
                    $('#Name_JobAgency').val(k.Name);
                    $('#PANNo').val(k.PANNo);
                    $('#GSTNo').val(k.GSTNo);
                });
                //}, 3000);
                $.each(data[1], function (i, k) {
                    $('#AgencyAddressList').P2BLookUpEncapsulate('#AgencyAddressList', 'AgencyAddressList', k.Add_Id, k.Address_FullAddress, 'AgencyAddressList', '#Edit-JobAgency-JobSource,#Remove-JobAgency-JobSource', 'N');
                    $('#ContactDetailslistJA').P2BLookUpEncapsulate('#ContactDetailslistJA', 'ContactDetailslistJA', k.Cont_Id, k.FullContactDetails, 'ContactDetailslistJA', '#Edit-JobAgency-JobSource,#Remove-JobAgency-JobSource', 'N');
                    $('#ContactPersonlistJA').P2BLookUpEncapsulate('#ContactPersonlistJA', 'ContactPersonlistJA', k.ContPer_Id, k.FullContactPersonDetail, 'ContactPersonlistJA', '#Edit-JobAgency-JobSource,#Remove-JobAgency-JobSource', 'N');
                });


            });
            event.preventDefault();
        });

        $('#Remove-JobAgency-JobSource').button().on('click', function (event) {
            //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            var a = [], b;
            a = $('#JobAgencylist').P2BGetTableDataonSelectedRow('#JobAgencylist', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#JobAgencylist', $('#JobAgencylist').val(), 200, 200, '#frmJobSource', '#JobAgencylist', '#Edit-JobAgency-JobSource,#Remove-JobAgency-JobSource');
            event.preventDefault();
        });


        $('#Lookup-JobInsideOrg-JobSource').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupJobInsideDetails", "JobSource")', '', 'LookupDiv', 'Job Inside Org Look Up Data', '#JobInsideOrglist', 'JobInsideOrglist', 5, 'JobInsideOrglist', '#frmJobSource', 'N', '#Edit-JobInsideOrg-JobSource,#Remove-JobInsideOrg-JobSource', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-JobInsideOrg-JobSource').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Partial", "JobInsideOrg")', 'Create Job Inside Org', 'open', '@Url.Action("Create", "JobInsideOrg")', '#frmJobInsideOrg', 'Message :', 'Request Falied :', '#JqGrid', 500, 611, '', '', '', '#frmJobSource', '', function (data) {
                $('#JobInsideOrglist').P2BLookUpEncapsulate('#JobInsideOrglist', 'JobInsideOrglist', data[0], data[1], 'JobInsideOrglist', '#Edit-JobInsideOrg-JobSource,#Remove-JobInsideOrg-JobSource', 'N');
            });
            event.preventDefault();
        });

        $('#Edit-JobInsideOrg-JobSource').button().on("click", function (event) {
            var a = [], b;
            a = $('#JobInsideOrglist').P2BGetTableDataonSelectedRow('#JobInsideOrglist', 0);
            b = a[0];
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname, height, width, classoridoftheonwhichpopupderived, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not,nameidclassofbuttontodisable,returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "JobInsideOrg")', '@Url.Action("edit", "JobInsideOrg")', b, '@Url.Action("Editsave", "JobInsideOrg")', 'Edit Job Inside Org', '#frmJobInsideOrg', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmJobSource', '#JobInsideOrglist', 'JobInsideOrglist', 'JobInsideOrglist', 'N', '#Edit-JobInsideOrg-JobSource,#Remove-JobInsideOrg-JobSource', function (data) {
                // setTimeout(function () {
                //to bind data according to selected id
                $.each(data[0], function (i, k) {
                    $('#frmJobInsideOrg').trigger("reset");
                    $('#Name_JobInsideOrg').val(k.Name);
                    $('#GSTNo').val(k.GSTNo);
                    $('#PANNo').val(k.PANNo);
                });

                $.each(data[1], function (i, k) {
                    $('#PortalAddressList').P2BLookUpEncapsulate('#PortalAddressList', 'PortalAddressList', k.Add_Id, k.Portal_FullAddress, 'PortalAddressList', '#Edit-JobInsideOrg-JobSource,#Remove-JobInsideOrg-JobSource', 'N');
                    $('#ContactDetailslistJI').P2BLookUpEncapsulate('#ContactDetailslistJI', 'ContactDetailslistJI', k.Cont_Id, k.FullContactDetails, 'ContactDetailslistJI', '#Edit-JobInsideOrg-JobSource,#Remove-JobInsideOrg-JobSource', 'N');
                    $('#ContactPersonlistJI').P2BLookUpEncapsulate('#ContactPersonlistJI', 'ContactPersonlistJI', k.ContPer_Id, k.FullContactPersonDetail, 'ContactPersonlistJI', '#Edit-JobInsideOrg-JobSource,#Remove-JobInsideOrg-JobSource', 'N');
                });
            });
            event.preventDefault();
        });


        $('#Remove-JobInsideOrg-JobSource').button().on('click', function (event) {
            var a = [], b;
            a = $('#JobInsideOrglist').P2BGetTableDataonSelectedRow('#JobInsideOrglist', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#JobInsideOrglist', $('#JobInsideOrglist').val(), 200, 200, '#frmJobSource', '#JobInsideOrglist', '#Edit-JobInsideOrg-JobSource,#Remove-JobInsideOrg-JobSource');
            event.preventDefault();
        });




        $('#Lookup-JobNewsPaper-JobSource').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupJobNewsPaperDetails", "JobSource")', '', 'LookupDiv', 'Job News Paper Look Up Data', '#JobNewsPaperlist', 'JobNewsPaperlist', 5, 'JobNewsPaperlist', '#frmJobSource', 'N', '#Edit-JobNewsPaper-JobSource,#Remove-JobNewsPaper-JobSource', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        //$('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-JobNewsPaper-JobSource').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Partial", "JobNewsPaper")', 'Create Job News Paper', 'open', '@Url.Action("Create", "JobNewsPaper")', '#frmJobNewsPaper', 'Message :', 'Request Falied :', '#JqGrid', 500, 611, '', '', '', '#frmJobSource', '', function (data) {
                $('#JobNewsPaperlist').P2BLookUpEncapsulate('#JobNewsPaperlist', 'JobNewsPaperlist', data[0], data[1], 'JobNewsPaperlist', '#Edit-JobNewsPaper-JobSource,#Remove-JobNewsPaper-JobSource', 'N');
            });
            event.preventDefault();
        });

        $('#Edit-JobNewsPaper-JobSource').button().on("click", function (event) {
            var a = [], b;
            a = $('#JobNewsPaperlist').P2BGetTableDataonSelectedRow('#JobNewsPaperlist', 0);
            b = a[0];
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname, height, width, classoridoftheonwhichpopupderived, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not,nameidclassofbuttontodisable,returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "JobNewsPaper")', '@Url.Action("edit", "JobNewsPaper")', b, '@Url.Action("Editsave", "JobNewsPaper")', 'Edit Job News Paper', '#frmJobNewsPaper', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmJobSource', '#JobNewsPaperlist', 'JobNewsPaperlist', 'JobNewsPaperlist', 'N', '#Edit-JobNewsPaper-JobSource,#Remove-JobNewsPaper-JobSource', function (data) {
                // setTimeout(function () {
                //to bind data according to selected id
                $.each(data[0], function (i, k) {
                    $('#frmJobNewsPaper').trigger("reset");
                    $('#Name_JobNewsPaper').val(k.Name);
                    $('#GSTNo').val(k.GSTNo);
                    $('#PANNo').val(k.PANNo);
                });

                $.each(data[1], function (i, k) {
                    $('#NewPaperAddressList').P2BLookUpEncapsulate('#NewPaperAddressList', 'NewPaperAddressList', k.Add_Id, k.NewsP_FullAddress, 'NewPaperAddressList', '#Edit-JobNewsPaper-JobSource,#Remove-JobNewsPaper-JobSource', 'N');
                    $('#ContactDetailslistJN').P2BLookUpEncapsulate('#ContactDetailslistJN', 'ContactDetailslistJN', k.Cont_Id, k.FullContactDetails, 'ContactDetailslistJN', '#Edit-JobNewsPaper-JobSource,#Remove-JobNewsPaper-JobSource', 'N');
                    $('#ContactPersonlistJN').P2BLookUpEncapsulate('#ContactPersonlistJN', 'ContactPersonlistJN', k.ContPer_Id, k.FullContactPersonDetail, 'ContactPersonlistJN', '#Edit-JobNewsPaper-JobSource,#Remove-JobNewsPaper-JobSource', 'N');
                });
            });
            event.preventDefault();
        });

        $('#Remove-JobNewsPaper-JobSource').button().on('click', function (event) {
            //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            var a = [], b;
            a = $('#JobNewsPaperlist').P2BGetTableDataonSelectedRow('#JobNewsPaperlist', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#JobNewsPaperlist', $('#JobNewsPaperlist').val(), 200, 200, '#frmJobSource', '#JobNewsPaperlist', '#Edit-JobNewsPaper-JobSource,#Remove-JobNewsPaper-JobSource');
            event.preventDefault();
        });


        $('#Lookup-JobPortal-JobSource').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupJobPortalDetails", "JobSource")', '', 'LookupDiv', 'Job Portal Look Up Data', '#JobPortallist', 'JobPortallist', 5, 'JobNewsPaperlist', '#frmJobSource', 'N', '#Edit-JobPortal-JobSource,#Remove-JobPortal-JobSource', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        $('#Create-JobPortal-JobSource').on("click", function (event) {

            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Partial", "JobPortal")', 'Create Job Portal', 'open', '@Url.Action("Create", "JobPortal")', '#frmJobPortal', 'Message :', 'Request Falied :', '#JqGrid',  500, 611, '', '', '', '#frmJobSource', '', function (data) {
                $('#JobPortallist').P2BLookUpEncapsulate('#JobPortallist', 'JobPortallist', data[0], data[1], 'JobPortallist', '#Edit-JobPortal-JobSource,#Remove-JobPortal-JobSource', 'N');
            });
            event.preventDefault();
        });



        @*$('#Edit-JobPortal-JobSource').button().on("click", function (event) {
            var a = [], b;
            a = $('#JobPortallist').P2BGetTableDataonSelectedRow('#JobPortallist', 0);
            b = a[0];
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname, height, width, classoridoftheonwhichpopupderived, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not,nameidclassofbuttontodisable,returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "JobPortal")', '@Url.Action("edit", "JobPortal")', b, '@Url.Action("Editsave", "JobPortal")', 'Edit JobPortal', '#frmJobPortal', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmJobSource', '#JobPortallist', 'JobPortallist', 'JobPortallist', 'N', '#Edit-JobPortal-JobSource,#Remove-JobPortal-JobSource', function (data) {
                // setTimeout(function () {
                //to bind data according to selected id
                $.each(data[0], function (i, k) {
                    $('#frmJobPortal').trigger("reset");
                    $('#Name_JobPortal').val(k.Name);
                    $('#GSTNo').val(k.GSTNo);
                    $('#PANNo').val(k.PANNo);
                });

                $.each(data[1], function (i, k) {
                    $('#PortalAddressList').P2BLookUpEncapsulate('#PortalAddressList', 'PortalAddressList', k.Add_Id, k.Portal_FullAddress, 'PortalAddressList', '#Edit-JobPortal-JobSource,#Remove-JobPortal-JobSource', 'N');
                    $('#ContactDetailslistJP').P2BLookUpEncapsulate('#ContactDetailslistJP', 'ContactDetailslistJP', k.Cont_Id, k.FullContactDetails, 'ContactDetailslistJP', '#Edit-JobPortal-JobSource,#Remove-JobPortal-JobSource', 'N');
                    $('#ContactPersonlistJP').P2BLookUpEncapsulate('#ContactPersonlistJP', 'ContactPersonlistJP', k.ContPer_Id, k.FullContactPersonDetail, 'ContactPersonlistJP', '#Edit-JobPortal-JobSource,#Remove-JobPortal-JobSource', 'N');
                });
            });
            event.preventDefault();
        });*@

        $('#Edit-JobPortal-JobSource').button().on("click", function (event) {
            var a = [], b;
            a = $('#JobPortallist').P2BGetTableDataonSelectedRow('#JobPortallist', 0);
            b = a[0];
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname, height, width, classoridoftheonwhichpopupderived, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not,nameidclassofbuttontodisable,returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "JobPortal")', '@Url.Action("edit", "JobPortal")', b, '@Url.Action("Editsave", "JobPortal")', 'Edit Job Portal', '#frmJobPortal', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmJobSource', '#JobPortallist', 'JobPortallist', 'JobPortallist', 'N', '#Edit-JobPortal-JobSource,#Remove-JobPortal-JobSource', function (data) {
                // setTimeout(function () {
                //to bind data according to selected id
                $.each(data[0], function (i, k) {
                    $('#frmJobPortal').trigger("reset");
                    $('#Name_JobPortal').val(k.Name);
                    $('#GSTNo').val(k.GSTNo);
                    $('#PANNo').val(k.PANNo);
                });

                $.each(data[1], function (i, k) {
                    $('#PortalAddressList').P2BLookUpEncapsulate('#PortalAddressList', 'PortalAddressList', k.Add_Id, k.Portal_FullAddress, 'PortalAddressList', '#Edit-JobPortal-JobSource,#Remove-JobPortal-JobSource', 'N');
                    $('#ContactDetailslistJP').P2BLookUpEncapsulate('#ContactDetailslistJP', 'ContactDetailslistJP', k.Cont_Id, k.FullContactDetails, 'ContactDetailslistJP', '#Edit-JobPortal-JobSource,#Remove-JobPortal-JobSource', 'N');
                    $('#ContactPersonlistJP').P2BLookUpEncapsulate('#ContactPersonlistJP', 'ContactPersonlistJP', k.ContPer_Id, k.FullContactPersonDetail, 'ContactPersonlistJP', '#Edit-JobPortal-JobSource,#Remove-JobPortal-JobSource', 'N');
                });
            });
            event.preventDefault();
        });


        $('#Remove-JobPortal-JobSource').button().on('click', function (event) {
            var a = [], b;
            a = $('#JobPortallist').P2BGetTableDataonSelectedRow('#JobPortallist', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#JobPortallist', $('#JobPortallist').val(), 200, 200, '#frmJobSource', '#JobPortallist', '#Edit-JobPortal-JobSource,#Remove-JobPortal-JobSource');
            event.preventDefault();
        });
        //$('#IncrPolicy_Name').MaxLength(10).ForceOnlyAlphaNumeric();

        //$('#Autho').makeDisable('#Create,#Edit,#Delete');
        $('.popup_radio_button').controlgroup();
        @*$('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');*@
        //$('.drop').selectmenu().selectmenu('menuWidget');
    });
</script>
<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmJobSource", name = "frmJobSourceEdit" }))
    {
        <input id="Autho_Action" type="hidden" name="Autho_Action" />
        <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
        //<div class="increpoly_row1 content_margine">@Html.LabelFor(m => m.Name, "Name :", new { @class = "increpoly_popup-content-label" })@Html.TextBoxFor(m => m.Name, new { @class = "increpoly_popup-content-textbox" }) </div>




        <div class="increpoly_row1 content_margine ">
            <div id="JobAgencylist_old"></div>
            @Html.LabelFor(m => m.JobAgency, "Job Agency :", new { @class = "increpoly_popup-content-label" })  <div class="popup-content-table">
                <table class="lookuptableselected" id="JobAgencylist">
                    <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                </table>
            </div>
            <div class="increpoly_icon-row icon-row">
                <button data-p2btooltip="LookUp Job Agency Details" class="popup-content-icon-lookup" id="Lookup-JobAgency-JobSource"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                <button data-p2btooltip="Create Job Agency Details" class="popup-content-icon-create" id="Create-JobAgency-JobSource"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                <button data-p2btooltip="Edit Job Agency Details" class="popup-content-icon-edit" id="Edit-JobAgency-JobSource"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                <button data-p2btooltip="Remove Job Agency Details" class="popup-content-icon-remove" id="Remove-JobAgency-JobSource"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
            </div>
        </div>
        <div class="increpoly_row1 content_margine">
            <div id="JobInsideOrglist_old"></div>
            @Html.LabelFor(m => m.JobInsideOrg, "Job Inside Org:", new { @class = "increpoly_popup-content-label" })  <div class="popup-content-table">
                <table class="lookuptableselected" id="JobInsideOrglist">
                    <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                </table>
            </div>
            <div class="increpoly_icon-row icon-row">
                <button data-p2btooltip="LookUp Job Inside Org Details" class="popup-content-icon-lookup" id="Lookup-JobInsideOrg-JobSource"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                <button data-p2btooltip="Create Job Inside Org Details" class="popup-content-icon-create" id="Create-JobInsideOrg-JobSource"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                <button data-p2btooltip="Edit Job Inside Org Details" class="popup-content-icon-edit" id="Edit-JobInsideOrg-JobSource"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                <button data-p2btooltip="Remove Job Inside Org Details" class="popup-content-icon-remove" id="Remove-JobInsideOrg-JobSource"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
            </div>
        </div>
        <div class="increpoly_row1 content_margine">
            <div id="IncrJobNewsPaper_old"></div>
            @Html.LabelFor(m => m.JobNewsPaper, "Job News Paper:", new { @class = "increpoly_popup-content-label" })
            <div class="popup-content-table">
                <table class="lookuptableselected" id="JobNewsPaperlist">
                    <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                </table>
            </div>
            <div class="increpoly_icon-row icon-row">
                <button data-p2btooltip="LookUp Job News Paper Details" class="popup-content-icon-lookup" id="Lookup-JobNewsPaper-JobSource"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                <button data-p2btooltip="Create Job News Paper Details" class="popup-content-icon-create" id="Create-JobNewsPaper-JobSource"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                <button data-p2btooltip="Edit Job News Paper Details" class="popup-content-icon-edit" id="Edit-JobNewsPaper-JobSource"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                <button data-p2btooltip="Remove Job News Paper Details" class="popup-content-icon-remove" id="Remove-JobNewsPaper-JobSource"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
            </div>
        </div>
        <div class="increpoly_row1 content_margine">
            <div id="JobPortal_old"></div>
            @Html.LabelFor(m => m.JobPortal, "Job Portal:", new { @class = "increpoly_popup-content-label" })
            <div class="popup-content-table">
                <table class="lookuptableselected" id="JobPortallist" name="JobPortallist">
                    <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                </table>
            </div>
            <div class="increpoly_icon-row icon-row">
                <button data-p2btooltip="LookUp Job Portal Details" class="popup-content-icon-lookup" id="Lookup-JobPortal-JobSource"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                <button data-p2btooltip="Create Job Portal Details" class="popup-content-icon-create" id="Create-JobPortal-JobSource"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                <button data-p2btooltip="Edit Job Portal Details" class="popup-content-icon-edit" id="Edit-JobPortal-JobSource"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                <button data-p2btooltip="Remove Job Portal Details" class="popup-content-icon-remove" id="Remove-JobPortal-JobSource"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
            </div>
        </div>


    }
</div>
