@{
    Layout = null;
}
@model Recruitment.JobPortal




<html>

<head>
    <title></title>
    <style>
       

        #BusinessType-button {
            font-size: 9px;
            padding-top: 1px;
            font-weight: bold;
        }

        .popup-content-label {
            display: block;
            float: left;
            width: 100px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 150px;
        }

        .row3 {
            width: 402px;
        }

        .row4 {
            position: absolute;
            top: 294px;
            width: 400px;
        }

        .popup-content-textbox-long {
            margin-bottom: 1px;
            width: 290px;
        }


        .row2 {
            width: 402px;
        }

        .popup-content-drop-icon-edit, .popup-content-drop-icon-create, .popup-content-drop-icon-lookup {
            height: 20px;
            margin: auto;
            position: absolute;
            width: 20px;
            left: 24px;
        }

        .emp_icon-row {
            position: relative;
            left: 324px;
            top: -27px;
        }

        .popup-content-drop-icon-edit {
            left: 76px;
        }

        .popup-content-drop-icon-lookup {
            left: 29px;
        }

        .popup-content-drop-icon-create {
            left: 52px;
        }
    </style>
</head>

<body>


    <div>

        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmJobPortal", name = "JobPortalEdit" }))
        {
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />



            <div class="row3 content_margine">@Html.LabelFor(m => m.Name, "Name :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Name, new { @class = "popup-content-textbox must",@id = "Name_JobPortal" })</div>
            <div class="row3 content_margine">@Html.LabelFor(m => m.PANNo, "PAN No :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.PANNo, new { @class = "popup-content-textbox must" })</div>
            <div class="row3 content_margine">@Html.LabelFor(m => m.GSTNo, "GST No :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.GSTNo, new { @class = "popup-content-textbox must" })</div>
            <div class="row3 content_margine">
                <div id="AgencyAddress_old"></div>
                @Html.LabelFor(m => m.PortalAddress, "Portal Address :", new { @class = "popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="PortalAddressList">
                        <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup Portal Address" class="  popup-content-icon-lookup" id="Lookup-PortalAddress-JobPortal"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Create Portal Address" class="popup-content-icon-create" id="Create-PortalAddress-JobPortal"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit Portal Address" class="popup-content-icon-edit" id="Edit-PortalAddress-JobPortal"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Remove Portal Address" class="popup-content-icon-remove" id="Remove-PortalAddress-JobPortal"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>
            <div class="row3 content_margine">
                <div id="ContactDetailsList_Old"></div>@Html.LabelFor(m => m.ContactDetails, "Contact Details :", new { @class = "popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="ContactDetailslistJP">
                        <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup Contact Details " class="  popup-content-icon-lookup" id="Lookup-ContactDetails-JobPortal"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Create Contact Details" class="  popup-content-icon-create" id="Create-ContactDetails-JobPortal"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit Contact Details" class="  popup-content-icon-edit" id="Edit-ContactDetails-JobPortal"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Remove Contact Details" class="  popup-content-icon-remove" id="Remove-ContactDetails-JobPortal"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>

               @*<div class="content_margine row1">
                            @Html.LabelFor(m => m.ContactPerson.FullNameFML, "Name:", new { @class = "popup-content-label must" })
                            <input type="text" id="EmpName_id" name="EmpName_id" class="filter_structure_id" />
                            @Html.TextBoxFor(m => m.ContactPerson.FullNameFML, new { @class = "popup-content-textbox must" })
                            <div class="emp_icon-row">
                                <button data-p2btooltip="Lookup FirstName" class="popup-content-drop-icon-lookup" id="Lookup-EmpName-FName">
                                    <span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span>
                                </button>
                                <button data-p2btooltip="Create FirstName" class="popup-content-drop-icon-create" id="Create-EmpName-FName">
                                    <span class="ui-icon ui-icon-newwin popup-content-iconmark"></span>
                                </button>
                                <button data-p2btooltip="Edit FirstName" class="popup-content-drop-icon-edit" id="Edit-EmpName-FName">
                                    <span class="ui-icon ui-icon-pencil popup-content-iconmark"></span>
                                </button>
                            </div>
                        </div>*@

        }
    </div>

</body>
</html>

<script>
	$(document).ready(function (e) {
		var dt;
		$('button').button();
		$('#Name_JobPortal').ValidateTextBox({ maxlength: 25, name: true, alphanum: true });
		$('#GSTNo').ValidateTextBox({ maxlength: 12, name: true, alphanum: true });
		$('#PANNo').ValidateTextBox({ maxlength: 10, name: true, alphanum: true });
		$('#Lookup-PortalAddress-JobPortal').on('click', function (event) {
		    $('.dialog').P2BLookUpModal('@Url.Action("GetAddressLKDetails", "JobPortal")', '', 'LookupDiv', 'Address Look Up Data', '#PortalAddressList', 'PortalAddressList', 5, 'PortalAddressList', '#frmJobPortal', 'N', '#Edit-PortalAddress-JobPortal,#Remove-PortalAddress-JobPortal', 'Lookup_table', 'PageNavPosition');
		    event.preventDefault();
		});


	    $('<div></div>').P2BPartialCreateModalDialog();
	    $('#Create-PortalAddress-JobPortal').on("click", function (event) {
	        $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "address")', 'Create Address', 'open', '@Url.Action("Create","Address")', '#FormAddress', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#frmJobPortal', '', function (data) {
	            // to show data which is created in partial page
	            $('#PortalAddressList').P2BLookUpEncapsulate('#PortalAddressList', 'PortalAddressList', data[0], data[1], 'PortalAddressList', '#Edit-PortalAddress-JobPortal,#Remove-PortalAddress-JobPortal', 'N');
	        });
	        event.preventDefault();
	    });


	    $('#Edit-PortalAddress-JobPortal').button().on("click", function (event) {
	        var a = [], b;
	        a = $('#PortalAddressList').P2BGetTableDataonSelectedRow('#PortalAddressList', 0);
	        b = a[0];
	        //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname, height, width, classoridoftheonwhichpopupderived, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not,nameidclassofbuttontodisable,returndatafunction) {
	        $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "address")', '@Url.Action("edit", "address")', b, '@Url.Action("Editsave","Address")', 'Edit Address', '#FormAddress', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmJobPortal', '#PortalAddressList', 'PortalAddressList', 'PortalAddressList', 'N', '#Edit-PortalAddress-JobPortal,#Remove-PortalAddress-JobPortal', function (data) {
	            // setTimeout(function () {
	            //to bind data according to selected id
	            $.each(data[0], function (i, k) {
	                $('#FormAddress').trigger("reset");
	                $('#Address1').val(k.Address1);
	                $('#Address2').val(k.Address2);
	                $('#Address3').val(k.Address3);
	                $('#Landmark').val(k.Landmark);
	                $('#CountryList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "country")", "", k.Country_Id, '');
	                $('#StateList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "state")", "", k.State_Id, '');
	                $('#StateRegionList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "StateRegion")", "", k.StateRegion_Id, '');
	                $('#DistrictList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "District")", "", k.District_Id, '');
	                $('#TalukaList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "Taluka")", "", k.Taluka_Id, '');
	                $('#CityList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "City")", "", k.City_Id, '');
	                $('#AreaList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "area")", "", k.Area_Id, '');
	            });
	            //}, 3000);


	        });
	        event.preventDefault();
	    });

	    $('#Remove-PortalAddress-JobPortal').button().on('click', function (event) {
	        //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
	        var a = [], b;
	        a = $('#PortalAddressList').P2BGetTableDataonSelectedRow('#PortalAddressList', 0);
	        b = a[0];
	        $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#PortalAddressList', $('#PortalAddressList').val(), 200, 200, '#frmJobPortal', '#PortalAddressList', '#Edit-PortalAddress-JobPortal,#Remove-PortalAddress-JobPortal');
	        event.preventDefault();
	    });

	    $('#Lookup-ContactDetails-JobPortal').button().on('click', function (event) {
           @*$('.dialog').P2BLookUpModal('@Url.Action("GetAddressLKDetails", "Corporate")', '', 'LookupDiv', 'Address Look Up Data', '#AddressList', 'AddressList', 5, 'AddressList', '#FormCorporate', 'N', '#Edit-Address-Corporate,#Remove-Address-Corporate', 'Lookup_table', 'PageNavPosition');*@
	        $('.dialog').P2BLookUpModal('@Url.Action("GetContactDetLKDetails", "JobPortal")', '', 'LookupDiv', 'ContactDetails Look Up Data', '#ContactDetailslistJP', 'ContactDetailslistJP', 5, 'ContactDetailslistJP', '#frmJobPortal', 'N', '#Edit-ContactDetails-JobPortal,#Remove-ContactDetails-JobPortal', 'Lookup_table', 'PageNavPosition');
	       
	        event.preventDefault();
	    });

	    $('<div></div>').P2BPartialCreateModalDialog();
	    $('#Create-ContactDetails-JobPortal').button().on("click", function (event) {
	        //function (url, maindialogtitle, state, submiturl, submitnameformforserilize, savemessage, errormessage, gridreloadname, height, width, forwarddata, ControlName, event, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, returnfunctiondata) {
	        $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Createcontactdetails_partial", "JobPortal")', 'Create ContactDetails', 'open', '@Url.Action("CreateSave","ContactDetails")', '#FormContactDetails', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#FormContactDetails', '#Edit-ContactNo-ContDetails,#Remove-ContactNo-ContDetails', function (data) {
	            $('#ContactDetailslistJP').P2BLookUpEncapsulate('#ContactDetailslistJP', 'ContactDetailslistJP', data[0], data[1], 'ContactDetailslistJP', '#Edit-ContactDetails-JobPortal,#Remove-ContactDetails-JobPortal', 'N');
	        });
	        event.preventDefault();
	    });

	    $('#Edit-ContactDetails-JobPortal').button().on("click", function (event) {
	        var a = [], b;
	        a = $('#ContactDetailslistJP').P2BGetTableDataonSelectedRow('#ContactDetailslistJP', 0);
	        b = a[0];
	        console.log(b);
	        //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname,                                                                                                                    height, width, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not, returndatafunction) {
	        $('<div></div>').P2BPatialEditModalDialog('@Url.Action("Createcontactdetails_partial", "JobPortal")', '@Url.Action("Editcontactdetails_partial", "JobPortal")', b, '@Url.Action("EditSave", "ContactDetails")', 'Edit Contact Details', '#FormContactDetails', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmJobPortal', '#ContactDetailslistJP', 'ContactDetailslistJP', 'ContactDetailslistJP', 'N', '#Remove-ContactNo-ContDetails,#Edit-ContactNo-ContDetails', function (data) {
	            // setTimeout(function () {
	            $.each(data[0], function (i, k) {
	                $('#FormContactDetails').trigger('reset');
	                $('#EmailId').val(k.EmailId);
	                $('#Website').val(k.Website);
	                $('#FaxNo').val(k.FaxNo);
	            });

	            $.each(data[1], function (i, k) {
	                $('#ContactNos_List').P2BLookUpEncapsulate('#ContactNos_List', 'ContactNos_List', k.Id, k.FullContactNumbers, 'ContactNos_List', '#Edit-ContactNo-ContDetails,#Remove-ContactNo-ContDetails', 'A');
	            });
	            // }, 3000);
	        });
	        event.preventDefault();
	    });

	    $('#Remove-ContactDetails-JobPortal').button().on('click', function (event) {
	        // dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
	        var a = [], b;
	        a = $('#ContactDetailslistJP').P2BGetTableDataonSelectedRow('#ContactDetailslistJP', 0);
	        b = a[0];
	        $('<div></div>').P2BPartialDeleteModalDialog('@Url.Action("DeleteContactDetails","Corporate")', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#ContactDetailslistJP', $('#ContactDetailslistJP').val(), 200, 200, '#frmJobPortal', '#ContactDetailslistJP', '#Edit-ContactDetails-JobPortal,#Remove-ContactDetails-JobPortal');
	        event.preventDefault();
	    });



		$('#Lookup-EmpName-FName').on('click', function () {
            
		    $('.dialog').AddDataToTextbox({
		        appendTo: "#EmpName_FullNameFML",
		        lookupurl: "@Url.Action("GetLookup_Name", "JobAgency")",
		        NoOfRecordToShow: 10,
		    setnameofthelookupbyppage: "EmpName_FName-lookup",
		    LookupDiv: "LookupDiv",
		    lookuppagename: "lookup",
		    appendToId: "#EmpName_id",
		    readonly: true,
		    pagename: "PageNavPosition"
		});
	});

    $('#Create-EmpName-FName').on('click', function (e) {
        $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "NameSingle")', 'Create NameSingle', 'open', '@Url.Action("Create", "NameSingle")', '#FormNameSingle', 'Message :', 'Request Falied :', '#JqGrid', 251, 460, '', '#DepartmentObjlist', 'change', '', '', function (data) {
            $('#EmpName_id').val(data[0]);
            $('#EmpName_FullNameFML').val(data[1]);
        });
    });

    $('#Edit-EmpName-FName').button().on("click", function (event) {
        var a = $('#EmpName_id').val() == false ? alert("Select Record..!") : $('#EmpName_id').val();
        if (a == undefined) return false;
        $("<div></div>").CustomeDialog({
            htmlurl: '@Url.Action("partial", "NameSingle")',
            onloaddataurl: '@Url.Action("edit", "NameSingle")',
            onloaddataid: a,
            submiturl: '@Url.Action("EditSave", "NameSingle")',
            form: '#FormNameSingle',
            title: 'Name Single',
            onloadreturnfunction: function (data) {

                $('#FormNameSingle').trigger('reset');
                $('#FName').val(data.FName);
                $('#MName').val(data.MName);
                $('#LName').val(data.LName);
                $('#title').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 100, data.EmpTitle);
                $('#id').val(data.id);
            },
            onsubmitreturnfunction: function (data) {
                $('#EmpName_id').val(data[0]);
                $('#EmpName_FullNameFML').val(data[1]);
            }
        });
        event.preventDefault();
    });


		//$('#Remove-JobAgency-JobSource').button().on('click', function (event) {
		//    //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
		//    var a = [], b;
		//    a = $('#JobAgencylist').P2BGetTableDataonSelectedRow('#JobAgencylist', 0);
		//    b = a[0];
		//    $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#JobAgencylist', $('#JobAgencylist').val(), 200, 200, '#frmJobSource', '#JobAgencylist', '#Edit-JobAgency-JobSource,#Remove-JobAgency-JobSource');
		//    event.preventDefault();
		//});




		@*$('#Lookup-JobInsideOrg-JobSource').on('click', function (event) {
		    $('.dialog').P2BLookUpModal('@Url.Action("GetLookupJobInsideDetails", "JobSource")', '', 'LookupDiv', 'Address Look Up Data', '#JobInsideOrglist', 'JobInsideOrglist', 5, 'JobInsideOrglist', '#frmJobSource', 'N', '#Edit-JobInsideOrg-JobSource,#Remove-JobInsideOrg-JobSource', 'Lookup_table', 'PageNavPosition');
		    event.preventDefault();
		});*@

	//	$('<div></div>').P2BPartialCreateModalDialog();
		@*$('#Create-JobInsideOrg-JobSource').on("click", function (event) {
		    $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Partial", "JobInsideOrg")', 'Create JobInsideOrg', 'open', '@Url.Action("Create", "JobInsideOrg")', '#frmJobInsideOrg', 'Message :', 'Request Falied :', '#JqGrid', 200, 300, '', '', '', '#frmJobSource', '', function (data) {
		        $('#JobInsideOrglist').P2BLookUpEncapsulate('#JobInsideOrglist', 'JobInsideOrglist', data[0], data[1], 'JobInsideOrglist', '#Edit-JobInsideOrg-JobSource,#Remove-JobInsideOrg-JobSource', 'N');
		    });
		    event.preventDefault();
		});*@

		@*$('#Edit-JobInsideOrg-JobSource').button().on("click", function (event) {
		    var a = [], b;
		    a = $('#JobInsideOrglist').P2BGetTableDataonSelectedRow('#JobInsideOrglist', 0);
		    b = a[0];
		    //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname, height, width, classoridoftheonwhichpopupderived, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not,nameidclassofbuttontodisable,returndatafunction) {
		    $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "JobInsideOrg")', '@Url.Action("edit", "JobInsideOrg")', b, '@Url.Action("Editsave", "JobInsideOrg")', 'Edit JobInsideOrg', '#frmJobInsideOrg', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmJobSource', '#JobInsideOrglist', 'JobInsideOrglist', 'JobInsideOrglist', 'N', '#Edit-JobInsideOrg-JobSource,#Remove-JobInsideOrg-JobSource', function (data) {
		        // setTimeout(function () {
		        //to bind data according to selected id
		        $.each(data[0], function (i, k) {
		            $('#frmJobInsideOrg').trigger("reset");
		            $('#Name').val(k.Name);
		            $('#GSTNo').val(k.GSTNo);
		            $('#Narration').val(k.Narration);
		        });

		        $.each(data[1], function (i, k) {
		            $('#PortalAddressList').P2BLookUpEncapsulate('#PortalAddressList', 'PortalAddressList', k.Add_Id, k.Portal_FullAddress, 'PortalAddressList', '#Edit-JobInsideOrg-JobSource,#Remove-JobInsideOrg-JobSource', 'N');
		            $('#ContactDetailslistJA').P2BLookUpEncapsulate('#ContactDetailslistJA', 'ContactDetailslistJA', k.Cont_Id, k.FullContactDetails, 'ContactDetailslistJA', '#Edit-JobInsideOrg-JobSource,#Remove-JobInsideOrg-JobSource', 'N');
		            $('#ContactPersonlistJA').P2BLookUpEncapsulate('#ContactPersonlistJA', 'ContactPersonlistJA', k.ContPer_Id, k.FullContactPersonDetail, 'ContactPersonlistJA', '#Edit-JobInsideOrg-JobSource,#Remove-JobInsideOrg-JobSource', 'N');
		        });



		        //}, 3000);


		    });
		    event.preventDefault();
		});*@


		//$('#Remove-JobInsideOrg-JobSource').button().on('click', function (event) {
		//    //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
		//    var a = [], b;
		//    a = $('#JobInsideOrglist').P2BGetTableDataonSelectedRow('#JobInsideOrglist', 0);
		//    b = a[0];
		//    $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#JobInsideOrglist', $('#JobInsideOrglist').val(), 200, 200, '#frmJobInsideOrg', '#JobInsideOrglist', '#Edit-JobInsideOrg-JobSource,#Remove-JobInsideOrg-JobSource');
		//    event.preventDefault();
		//});

		@*$('#Lookup-JobNewsPaper-JobSource').on('click', function (event) {
		    $('.dialog').P2BLookUpModal('@Url.Action("GetLookupJobNewsPaperDetails", "JobSource")', '', 'LookupDiv', 'Address Look Up Data', '#JobNewsPaperlist', 'JobNewsPaperlist', 5, 'JobNewsPaperlist', '#frmJobSource', 'N', '#Edit-JobNewsPaper-JobSource,#Remove-JobNewsPaper-JobSource', 'Lookup_table', 'PageNavPosition');
		    event.preventDefault();
		});*@

		//$('<div></div>').P2BPartialCreateModalDialog();
		@*$('#Create-JobNewsPaper-JobSource').on("click", function (event) {
		    $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Partial", "JobNewsPaper")', 'Create JobNewsPaper', 'open', '@Url.Action("Create", "JobNewsPaper")', '#frmJobNewsPaper', 'Message :', 'Request Falied :', '#JqGrid', 200, 300, '', '', '', '#frmJobSource', '', function (data) {
		        $('#JobNewsPaperlist').P2BLookUpEncapsulate('#JobNewsPaperlist', 'JobNewsPaperlist', data[0], data[1], 'JobNewsPaperlist', '#Edit-JobNewsPaper-JobSource,#Remove-JobNewsPaper-JobSource', 'N');
		    });
		    event.preventDefault();
		});*@

		@*$('#Edit-JobNewsPaper-JobSource').button().on("click", function (event) {
		    var a = [], b;
		    a = $('#JobNewsPaperlist').P2BGetTableDataonSelectedRow('#JobNewsPaperlist', 0);
		    b = a[0];
		    //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname, height, width, classoridoftheonwhichpopupderived, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not,nameidclassofbuttontodisable,returndatafunction) {
		    $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "JobNewsPaper")', '@Url.Action("edit", "JobNewsPaper")', b, '@Url.Action("Editsave", "JobNewsPaper")', 'Edit JobNewsPaper', '#frmJobNewsPaper', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmJobSource', '#JobNewsPaperlist', 'JobNewsPaperlist', 'JobNewsPaperlist', 'N', '#Edit-JobNewsPaper-JobSource,#Remove-JobNewsPaper-JobSource', function (data) {
		        // setTimeout(function () {
		        //to bind data according to selected id
		        $.each(data[0], function (i, k) {
		            $('#frmJobNewsPaper').trigger("reset");
		            $('#Name').val(k.Name);
		            $('#GSTNo').val(k.GSTNo);
		            $('#Narration').val(k.Narration);
		        });

		        $.each(data[1], function (i, k) {
		            $('#PortalAddressList').P2BLookUpEncapsulate('#NewPaperAddressList', 'NewPaperAddressList', k.Add_Id, k.NewsP_FullAddress, 'NewPaperAddressList', '#Edit-JobNewsPaper-JobSource,#Remove-JobNewsPaper-JobSource', 'N');
		            $('#ContactDetailslistJA').P2BLookUpEncapsulate('#ContactDetailslistJA', 'ContactDetailslistJA', k.Cont_Id, k.FullContactDetails, 'ContactDetailslistJA', '#Edit-JobNewsPaper-JobSource,#Remove-JobNewsPaper-JobSource', 'N');
		            $('#ContactPersonlistJA').P2BLookUpEncapsulate('#ContactPersonlistJA', 'ContactPersonlistJA', k.ContPer_Id, k.FullContactPersonDetail, 'ContactPersonlistJA', '#Edit-JobNewsPaper-JobSource,#Remove-JobNewsPaper-JobSource', 'N');
		        });
		    });
		    event.preventDefault();
		});*@

		//$('#Remove-JobNewsPaper-JobSource').button().on('click', function (event) {
		//    //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
		//    var a = [], b;
		//    a = $('#JobNewsPaperlist').P2BGetTableDataonSelectedRow('#JobNewsPaperlist', 0);
		//    b = a[0];
		//    $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#JobNewsPaperlist', $('#JobNewsPaperlist').val(), 200, 200, '#frmJobNewsPaper', '#JobInsideOrglist', '#Edit-JobNewsPaper-JobSource,#Remove-JobNewsPaper-JobSource');
		//    event.preventDefault();
		//});


		@*$('#Lookup-JobPortal-JobSource').on('click', function (event) {
		    $('.dialog').P2BLookUpModal('@Url.Action("GetLookupJobPortalDetails", "JobSource")', '', 'LookupDiv', 'Address Look Up Data', '#JobPortallist', 'JobPortallist', 5, 'JobNewsPaperlist', '#frmJobSource', 'N', '#Edit-JobPortal-JobSource,#Remove-JobPortal-JobSource', 'Lookup_table', 'PageNavPosition');
		    event.preventDefault();
		});*@





























		//$('#IncrPolicy_Name').MaxLength(10).ForceOnlyAlphaNumeric();

		$('#Autho').makeDisable('#Create,#Edit,#Delete');
		$('.popup_radio_button').controlgroup();
		$('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');
		//$('.drop').selectmenu().selectmenu('menuWidget');
	});
</script>