@{
    Layout = null;
}
@model  Recruitment.RecruitExpenses
<style>
    /*.qual_popup-content-textbox {
        min-width: 200px;
        margin: 0px 0px 1px 3px;
    }

    .qual_popup-content-label {
        display: block;
        float: left;
        width: 163px;
    }

    .content_margine_quali {
        margin: 2.5px;
        padding: 0.5px;
    }*/


    /*.qual_popup-content-label {
        display: block;
        margin: 1px;
        float: left;
        width: 120px;
    }

    .qual_popup-content-textbox {
        margin-bottom: 1px;
        width: 59%;
    }*/

    .popup-content-label {
        display: block;
        float: left;
        width: 178px;
    }

    .popup-content-textbox {
        margin-bottom: 1px;
        min-width: 150px;
    }

    /*.row3 {
        width: 402px;
    }*/



    .popup-content-textbox-long {
        margin-bottom: 1px;
        width: 290px;
    }


    .row2 {
        width: 402px;
    }
</style>                                                          
<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmRecruitExpenses" }))
    {
         <input id="Autho_Action" type="hidden" name="Autho_Action" />
        <input id="Autho_Allow" type="hidden" name="Autho_Allow" />

            <div class="row3 content_margin">
                @Html.LabelFor(m => m.FeeAmount, "Fee Amount :", new { @class = "popup-content-label " })
                @Html.TextBoxFor(m => m.FeeAmount, new { @class = "popup-content-textbox" })
             </div>
            <div class="add_row content_margin">
                @Html.LabelFor(m => m.ExpenseAccount, "Expense Account :", new { @class = "popup-content-label must" })
                <select id="ExpAccListP" name="ExpAccListP" class="must drop">
                    <option value="0">-Select-</option>
                </select>
            </div>
        <div class="add_row content_margin" >
            @Html.LabelFor(m => m.SourceOfExpense, "Source Of Expense :", new { @class="popup-content-label"})
            <select id="SourceOFExpListP" name="SourceOFExpListP" class="must drop">
                <option value="0">-select-</option>
            </select>
        </div>
         <div>
            @Html.LabelFor(m => m.Narration, "Narration :", new { @class = "popup-content-label" })
            @Html.TextBoxFor(m => m.Narration, new { @class = "popup-content-textbox", @Id="Narration1" })
        </div>
    }
</div>

<script>
    $(function () {
        $('#ExpAccListP').selectmenu().selectmenu('menuWidget');
        $('#ExpAccListP').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 405, "");

        $('#SourceOFExpListP').selectmenu().selectmenu('menuWidget');
        $('#SourceOFExpListP').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 405, "");
    });
    $(document).ready(function e() {
        $('#FeeAmount').ForceOnlyNumeric().MaxLength(10);
        $('#Narration1').MaxLength(50);
        $('.drop').css({ "width": "182px" });
        $('.drop').selectmenu().selectmenu('menuWidget').css({ "height": "200px" });
        //  $('#CategorySplTypeList').P2BSelectMenuAppend("/*Url.Action("PopulateDropDownList", "country")", "", "", '#CategorySplTypeList');
    });
</script>