
@{
    Layout = null;
}
@model Recruitment.RecruitBatchInitiator
<html>

<head>
    <title></title>
    <style>
        .icon-row {
            position: relative;
            left: 60px;
            top: -150px;
        }

        #BusinessType-button {
            font-size: 9px;
            padding-top: 1px;
            font-weight: bold;
        }

        .popup-content-label {
            display: block;
            float: left;
            width: 100px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 150px;
        }

        .row3 {
            width: 402px;
        }

        .row4 {
            position: absolute;
            top: 294px;
            width: 400px;
        }
        .regpoly_popup-content-label {
            width: 208px;
            display: block;
            float: left;
            margin: 1px;
        }
        .popup-content-textbox-long {
            margin-bottom: 1px;
            width: 290px;
        }
        .popup_radio_button {
            font-size: 9px;
            margin: 0 0 2px 2px;
        }

        .row2 {
            width: 402px;
        }
    </style>
</head>

<body>
    

    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>


    <div id="Create_Dialog" title="Create Recruit Batch Initiator">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmRecruitBatchInitiator", name = "frmfrmRecruitBatchInitiatorEdit" }))
        {
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
            @*<div class="row3 content_margine">@Html.LabelFor(m => m.Name, "Batch Name :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Name, new { @class = "popup-content-textbox must" })</div>*@
            <div class="row3 content_margine">@Html.LabelFor(m => m.JobReferenceNo, "JobReference No :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.JobReferenceNo, new { @class = "popup-content-textbox must" })</div>
            <div class="row5 content_margine">@Html.LabelFor(m => m.initiatedDate, "Initiated Date:", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.initiatedDate, new { @class = "popup-content-textbox must" })</div>
            <div class="row3 content_margine">
                <div id="PostDetails_old"></div>
                @Html.LabelFor(m => m.PostDetails, "Post Details :", new { @class = "popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="PostDetailslist">
                        <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup PostDetails" class="popup-content-icon-lookup" id="Lookup-PostDetails-RecruitBatchInitiator"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    @*<button data-p2btooltip="Create PostDetails" class="popup-content-icon-create" id="Create-PostDetails-RecruitBatchInitiator"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Edit PostDetails" class="popup-content-icon-edit" id="Edit-PostDetails-RecruitBatchInitiator"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>*@
                    <button data-p2btooltip="Remove PostDetails" class="popup-content-icon-remove" id="Remove-PostDetails-RecruitBatchInitiator"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>

            @*<div class="row3 content_margine">
                <div id="Geostruct_old"></div>
                @Html.LabelFor(m => m.Geostruct, "Geo struct :", new { @class = "popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="Geostructlist">
                        <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup Geostruct" class="popup-content-icon-lookup" id="Lookup-Geostruct-RecruitBatchInitiator"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Create Geostruct" class="popup-content-icon-create" id="Create-Geostruct-RecruitBatchInitiator"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit Geostruct" class="popup-content-icon-edit" id="Edit-Geostruct-RecruitBatchInitiator"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Remove Geostruct" class="popup-content-icon-remove" id="Remove-Geostruct-RecruitBatchInitiator"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>*@

            @*<div class="row3 content_margine">
                <div id="JobSource_old"></div>@Html.LabelFor(m => m.JobSource, "Job Source Details :", new { @class = "popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="JobSourceDetailslist">
                        <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup Job Source Details" class="popup-content-icon-lookup" id="Lookup-JobSource-RecruitBatchInitiator"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Create Job Source Details" class="popup-content-icon-create" id="Create-JobSource-RecruitBatchInitiator"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit Job Source Details" class="popup-content-icon-edit" id="Edit-JobSource-RecruitBatchInitiator"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Remove Job Source Details" class="popup-content-icon-remove" id="Remove-JobSource-RecruitBatchInitiator"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>*@

            <div class="row3 content_margine">
                <div id="RecruitEvaluationProcess_old"></div>@Html.LabelFor(m => m.RecruitEvaluationProcess, "Recruitment Evaluation Process Details :", new { @class = "popup-content-label" })
                <br />
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="RecruitEvaluationProcessDetailslist">
                        <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup Recruit Evaluation Process Details" class="popup-content-icon-lookup" id="Lookup-RecruitEvaluationProcess-RecruitBatchInitiator"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Create Recruit Evaluation Process Details" class="popup-content-icon-create" id="Create-RecruitEvaluationProcess-RecruitBatchInitiator"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit Recruit Evaluation Process Details" class="popup-content-icon-edit" id="Edit-RecruitEvaluationProcess-RecruitBatchInitiator"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Remove Recruit Evaluation Process Details" class="popup-content-icon-remove" id="Remove-RecruitEvaluationProcess-RecruitBatchInitiator"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>
            
            <div class="row3 content_margine">
                <div id="ResumeCollection_old"></div>@Html.LabelFor(m => m.ResumeCollection, "Resume Collection Details :", new { @class = "popup-content-label" })
                <br />
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="ResumeCollectionlist">
                        <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup ResumeCollection Details" class="popup-content-icon-lookup" id="Lookup-ResumeCollection-RecruitBatchInitiator"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    @*<button data-p2btooltip="Create ResumeCollection Details" class="popup-content-icon-create" id="Create-ResumeCollection-RecruitBatchInitiator"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>*@
                    @*<button data-p2btooltip="Edit ResumeCollection Details" class="popup-content-icon-edit" id="Edit-ResumeCollection-RecruitBatchInitiator"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>*@
                    <button data-p2btooltip="Remove ResumeCollection Details" class="popup-content-icon-remove" id="Remove-ResumeCollection-RecruitBatchInitiator"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>

            @*<div class="row5 content_margine">@Html.LabelFor(m => m.PublishDate, "Publish Date:", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.PublishDate, new { @class = "popup-content-textbox must" })</div>

            <div class="row3 content_margine">@Html.LabelFor(m => m.Narration, "Narration :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Narration, new { @class = "popup-content-textbox must" })</div>
           <div class="row3 content_margine">
            </div>

            <div class="row5 content_margine">@Html.LabelFor(m => m.BatchCloseDate, "Batch Close Date:", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.BatchCloseDate, new { @class = "popup-content-textbox " })</div>*@

        }
    </div></body>
</html>
<script>
    $(document).ready(function () {
        //$('#txt_box1').ValidateTextBox({ maxlength: 5, AlphaNum: 0 });
        //$('#Code').ValidateTextBox({ maxlength: 10, alphanum: true });
        //$('#Code').MaxLength(10);
        $('#Name').ValidateTextBox({ maxlength: 25, name: true, alphanum: true });
        $('#initiatedDate').P2BDatePicker();
        $('#PublishDate').P2BDatePicker();
        $('#BatchCloseDate').P2BDatePicker();

        //  $('#Name').ValidateTextBox({ maxlength: 50, name: true });
    });
    $(document).ready(function (e) {
        $('button').button();
        

        //function DateConvert(JsonDate) {
            //    var date = new Date(parseInt(JsonDate.substr(6)));
            //    var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
            //    return displayDate;
        //};
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);

        $.OnCheckMakeTextboxDisable('BatchClose', '#BatchCloseDate');
        $('.popup_radio_button').controlgroup();
        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }

       

        $('#Lookup-JobSource-RecruitBatchInitiator').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookup", "RecruitBatchInitiator")', '', 'LookupDiv', 'Address Look Up Data', '#JobSourceDetailslist', 'JobSourceDetailslist', 5, 'JobSourceDetailslist', '#frmRecruitBatchInitiator', 'N', '#Edit-JobSource-RecruitBatchInitiator,#Remove-JobSource-RecruitBatchInitiator', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        // PArtial page create
        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-JobSource-RecruitBatchInitiator').on("click", function (event) {

            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "JobSource")', 'Create Job Source', 'open', '@Url.Action("Create", "JobSource")', '#frmJobSource', 'Message :', 'Request Falied :', '#JqGrid', 517, 600, '', '', '', '#frmRecruitBatchInitiator', '', function (data) {
                // to show data which is created in partial page
                $('#JobSourceDetailslist').P2BLookUpEncapsulate('#JobSourceDetailslist', 'JobSourceDetailslist', data[0], data[1], 'JobSourceDetailslist', '#Edit-JobSource-RecruitBatchInitiator,#Remove-JobSource-RecruitBatchInitiator', 'N');
            });
            event.preventDefault();
        });




        // Partial page edit
        $('#Edit-JobSource-RecruitBatchInitiator').button().on("click", function (event) {
            var a = [], b;
            a = $('#JobSourceDetailslist').P2BGetTableDataonSelectedRow('#JobSourceDetailslist', 0);
            b = a[0];
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname, height, width, classoridoftheonwhichpopupderived, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not,nameidclassofbuttontodisable,returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "JobSource")', '@Url.Action("edit", "JobSource")', b, '@Url.Action("Editsave", "JobSource")', 'Edit Address', '#frmJobSource', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmRecruitBatchInitiator', '#JobSourceDetailslist', 'JobSourceDetailslist', 'JobSourceDetailslist', 'N', '#Edit-JobSource-RecruitBatchInitiator,#Remove-JobSource-RecruitBatchInitiator', function (data) {
                // setTimeout(function () {
                //to bind data according to selected id
                $.each(data[0], function (i, k) {
                    $('#frmJobSource').trigger("reset");
                    $('#JobAgencylist').P2BLookUpEncapsulate('#JobAgencylist', 'JobAgencylist', k.JA_id[i], k.JA_val[i], 'AddressList', '#Edit-JobSource-RecruitBatchInitiator,#Remove-JobSource-RecruitBatchInitiator', 'N');
                });

                $.each(data[1], function (i, k) {
                    $('#JobInsideOrglist').P2BLookUpEncapsulate('#JobInsideOrglist', 'JobInsideOrglist', k.JI_id, k.JI_val, 'JobInsideOrglist', '#Edit-JobSource-RecruitBatchInitiator,#Remove-JobSource-RecruitBatchInitiator', 'N');

                });

                $.each(data[2], function (i, k) {
                    $('#JobNewsPaperlist').P2BLookUpEncapsulate('#JobNewsPaperlist', 'JobNewsPaperlist', k.JN_id, k.JN_val, 'JobNewsPaperlist', '#Edit-JobSource-RecruitBatchInitiator,#Remove-JobSource-RecruitBatchInitiator', 'N');

                });

                $.each(data[3], function (i, k) {
                    $('#JobPortallist').P2BLookUpEncapsulate('#JobPortallist', 'JobPortallist', k.JP_id, k.JP_val, 'JobPortallist', '#Edit-JobSource-RecruitBatchInitiator,#Remove-JobSource-RecruitBatchInitiator', 'N');

                });

                //}, 3000);


            });
            event.preventDefault();
        });


        $('#Remove-JobSource-RecruitBatchInitiator').button().on('click', function (event) {
            //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            var a = [], b;
            a = $('#JobSourceDetailslist').P2BGetTableDataonSelectedRow('#JobSourceDetailslist', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#JobSourceDetailslist', $('#JobSourceDetailslist').val(), 200, 200, '#frmRecruitBatchInitiator', '#JobSourceDetailslist', '#Edit-JobSource-RecruitBatchInitiator,#Remove-JobSource-RecruitBatchInitiator');
            event.preventDefault();
        });





        /* ContactDetails button click*/

        $('#Lookup-PostDetails-RecruitBatchInitiator').button().on('click', function (event) {
            @*$('.dialog').P2BLookUpModal('@Url.Action("GetAddressLKDetails", "Corporate")', '', 'LookupDiv', 'Address Look Up Data', '#AddressList', 'AddressList', 5, 'AddressList', '#FormCorporate', 'N', '#Edit-Address-Corporate,#Remove-Address-Corporate', 'Lookup_table', 'PageNavPosition');*@
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupPostDetails", "RecruitBatchInitiator")', '', 'LookupDiv', 'PostDetails Look Up Data', '#PostDetailslist', 'PostDetailslist', 5, 'PostDetailslist', '#frmRecruitBatchInitiator', 'N', '#Edit-PostDetails-RecruitBatchInitiator,#Remove-PostDetails-RecruitBatchInitiator', 'Lookup_table', 'PageNavPosition');
            // $('.ContactDetLKDiv').P2BLookUpModal('@Url.Action("GetContactDetLKDetails", "Corporate")', '', 'ContactDetLKDiv', 'Look Up Data', '#ContactDetailsList', 'ContactDetailsList', 10, 'ContactDetailsList', '#FormCorporate', 'N', '#Edit-ContactDetails-Corporate,#Remove-ContactDetails-Corporate', 'lookupdiv_ContactDet', 'pageNavPosition_ContactDet');
            event.preventDefault();
        });

        @*$('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-PostDetails-RecruitBatchInitiator').button().on("click", function (event) {
            //function (url, maindialogtitle, state, submiturl, submitnameformforserilize, savemessage, errormessage, gridreloadname, height, width, forwarddata, ControlName, event, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, returnfunctiondata) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Partial", "PostDetails")', 'Create PostDetails', 'open', '@Url.Action("Create", "PostDetails")', '#FormPostDetails', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#frmRecruitBatchInitiator', '#Edit-PostDetails-RecruitBatchInitiator,#Remove-PostDetails-RecruitBatchInitiator', function (data) {
                $('#PostDetailslist').P2BLookUpEncapsulate('#PostDetailslist', 'PostDetailslist', data[0], data[1], 'PostDetailslist', '#Edit-PostDetails-RecruitBatchInitiator,#Remove-PostDetails-RecruitBatchInitiator', 'N');
            });
            event.preventDefault();
        });*@

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-PostDetails-RecruitBatchInitiator').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Partial", "PostDetails")', 'Create PostDetails', 'open', '@Url.Action("Create", "PostDetails")', '#FormPostDetails', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#frmRecruitBatchInitiator', '', function (data) {
                // to show data which is created in partial page
                $('#PostDetailslist').P2BLookUpEncapsulate('#PostDetailslist', 'PostDetailslist', data[0], data[1], 'PostDetailslist', '#Edit-PostDetails-RecruitBatchInitiator,#Remove-PostDetails-RecruitBatchInitiator', 'N');
            });
            event.preventDefault();
        });







        $('#Edit-PostDetails-RecruitBatchInitiator').button().on("click", function (event) {
            var a = [], b;
            a = $('#PostDetailslist').P2BGetTableDataonSelectedRow('#PostDetailslist', 0);
            b = a[0];
            console.log(b);
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname,                                                                                                                    height, width, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not, returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("Partial", "PostDetails")', '@Url.Action("Edit", "PostDetails")', b, '@Url.Action("EditSave", "PostDetails")', 'Edit Contact Details', '#FormPostDetails', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmRecruitBatchInitiator', '#PostDetailslist', 'PostDetailslist', 'PostDetailslist', 'N', '#Remove-PostDetails-RecruitBatchInitiator,#Edit-PostDetails-RecruitBatchInitiator', function (data) {
                // setTimeout(function () {
                $.each(data[0], function (i, k) {
                    $('#FormPostDetails').trigger('reset');
                    $('#NoOfVacancies').val(k.Vaccancy);
                    $('#NoOfVacancies').attr('readonly', 'readonly');
                    $('#ExpYearFrom').val(k.ExpYearFrom);
                    $('#ExpYearTo').val(k.ExpYearTo);
                    $('#AgeFrom').val(k.AgeFrom);
                    $('#AgeTo').val(k.AgeTo);
                    $('#Narration').val(k.Narration);

                    $('#RangeFilterList_DDL').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 1058, k.RangeFilter_Id);
                    $('#MaritalStatusList_DDL').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 1059, k.MaritalStatus_Id);
                    $('#GenderList_DDL').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 1060, k.Gender_Id);
                    $('#ExpFilterList_DDL').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 1061, k.ExpFilter_Id);
                });
                $.each(data[1], function (i, k) {
                    $('#JobPositionMList').P2BLookUpEncapsulate('#JobPositionMList', 'JobPositionMList', k.JobPos_Id, k.JobPos_FullAddress, 'JobPositionMList', '#Edit-JobPosition-PostDetails,#Remove-JobPosition-PostDetails', 'N');

                });
                $.each(data[2], function (i, k) {
                    $('#QualificationListM').P2BLookUpEncapsulate('#QualificationListM', 'QualificationListM', k.QualificationDetails_Id, k.QualificationDetails_val, 'QualificationListM', '#Edit-Qualification-PostDetails,#Remove-Qualification-PostDetails', 'A');
                    $('#SkillList').P2BLookUpEncapsulate('#SkillList', 'SkillList', k.SkillDetails_Id, k.SkillDetails_val, 'SkillList', '#Edit-Skill-PostDetails,#Remove-Skill-PostDetails', 'A');
                    $('#CategoryPostList').P2BLookUpEncapsulate('#CategoryPostList', 'CategoryPostList', k.CategoryDetails_Id, k.CategoryDetails_val, 'CategoryPostList', '#Edit-Category-PostDetails,#Remove-Category-PostDetails', 'A');
                    $('#CategorySplPostList').P2BLookUpEncapsulate('#CategorySplPostList', 'CategorySplPostList', k.CategorySplDetails_Id, k.CategorySplDetails_val, 'CategorySplPostList', '#Edit-CategorySpl-PostDetails,#Remove-CategorySpl-PostDetails', 'A');

                });
                $('#Autho_Allow').val(data[3]);
                // }, 3000);
            });
            event.preventDefault();
        });

        $('#Remove-PostDetails-RecruitBatchInitiator').button().on('click', function (event) {
            // dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            var a = [], b;
            a = $('#PostDetailslist').P2BGetTableDataonSelectedRow('#PostDetailslist', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('@Url.Action("Delete", "PostDetails")', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#PostDetailslist', $('#PostDetailslist').val(), 200, 200, '#frmRecruitBatchInitiator', '#PostDetailslist', '#Edit-PostDetails-RecruitBatchInitiator,#Remove-PostDetails-RecruitBatchInitiator');
            event.preventDefault();
        });

        $('#Remove-Geostruct-RecruitBatchInitiator').button().on('click', function (event) {
            // dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            var a = [], b;
            a = $('#Geostructlist').P2BGetTableDataonSelectedRow('#Geostructlist', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('@Url.Action("DeleteGeo", "RecruitBatchInitiator")', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#Geostructlist', $('#Geostructlist').val(), 200, 200, '#frmRecruitBatchInitiator', '#Geostructlist', '#Edit-Geostruct-RecruitBatchInitiator,#Remove-Geostruct-RecruitBatchInitiator');
            event.preventDefault();
        });

        $('#Lookup-RecruitEvaluationProcess-RecruitBatchInitiator').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupRecruitEvalProcess", "RecruitBatchInitiator")', '', 'LookupDiv', 'Recruit Evaluation Process Look Up Data', '#RecruitEvaluationProcessDetailslist', 'RecruitEvaluationProcessDetailslist', 5, 'RecruitEvaluationProcessDetailslist', '#frmRecruitBatchInitiator', 'N', '#Edit-RecruitEvaluationProcess-RecruitBatchInitiator,#Remove-RecruitEvaluationProcess-RecruitBatchInitiator', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-RecruitEvaluationProcess-RecruitBatchInitiator').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "RecruitEvaluationProcess")', 'Create Recruit Evaluation Process', 'open', '@Url.Action("Create", "RecruitEvaluationProcess")', '#FormRecruitEvaluationProcess', 'Message :', 'Request Falied :', '#JqGrid', 450, 625, '', '', '', '#frmRecruitBatchInitiator', '', function (data) {
                // to show data which is created in partial page
                $('#RecruitEvaluationProcessDetailslist').P2BLookUpEncapsulate('#RecruitEvaluationProcessDetailslist', 'RecruitEvaluationProcessDetailslist', data[0], data[1], 'RecruitEvaluationProcessDetailslist', '#Edit-RecruitEvaluationProcess-RecruitBatchInitiator,#Remove-RecruitEvaluationProcess-RecruitBatchInitiator', 'N');
            });
            event.preventDefault();
        });


        // Partial page edit
        $('#Edit-RecruitEvaluationProcess-RecruitBatchInitiator').button().on("click", function (event) {
            var a = [], b;
            a = $('#RecruitEvaluationProcessDetailslist').P2BGetTableDataonSelectedRow('#RecruitEvaluationProcessDetailslist', 0);
            b = a[0];
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname, height, width, classoridoftheonwhichpopupderived, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not,nameidclassofbuttontodisable,returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "RecruitEvaluationProcess")', '@Url.Action("edit", "RecruitEvaluationProcess")', b, '@Url.Action("Editsave", "RecruitEvaluationProcess")', 'Edit Recruit Evaluation Process Data', '#FormRecruitEvaluationProcess', b, 'Message :', 'Request Falied :', '#JqGrid', 450, 625, '#frmRecruitBatchInitiator', '#RecruitEvaluationProcessDetailslist', 'RecruitEvaluationProcessDetailslist', 'RecruitEvaluationProcessDetailslist', 'N', '#Edit-RecruitEvaluationProcess-RecruitBatchInitiator,#Remove-RecruitEvaluationProcess-RecruitBatchInitiator', function (data) {
                // setTimeout(function () {
                //to bind data according to selected id
                $.each(data[0], function (i, k) {
                    $('#FormRecruitEvaluationProcess').trigger("reset");
                    $('#Name_Recruit').val(k.Name);
                });

                $.each(data[1], function (i, k) {
                    $('#RecruitEvaluationParalist').P2BLookUpEncapsulate('#RecruitEvaluationParalist', 'RecruitEvaluationParalist', k.RE_id, k.RE_val, 'RecruitEvaluationParalist', '#Edit-JobSource-RecruitBatchInitiator,#Remove-JobSource-RecruitBatchInitiator', 'N');

                });
                $.each(data[2], function (i, k) {
                    $('#RecruitJoiningParalist').P2BLookUpEncapsulate('#RecruitJoiningParalist', 'RecruitJoiningParalist', k.RJ_id, k.RJ_val, 'RecruitJoiningParalist', '#Edit-JobSource-RecruitBatchInitiator,#Remove-JobSource-RecruitBatchInitiator', 'N');

                });


                //}, 3000);


            });
            event.preventDefault();
        });

        $('#Remove-RecruitEvaluationProcess-RecruitBatchInitiator').button().on('click', function (event) {
            //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            var a = [], b;
            a = $('#RecruitEvaluationProcessDetailslist').P2BGetTableDataonSelectedRow('#RecruitEvaluationProcessDetailslist', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#RecruitEvaluationProcessDetailslist', $('#RecruitEvaluationProcessDetailslist').val(), 200, 200, '#frmRecruitBatchInitiator', '#RecruitEvaluationProcessDetailslist', '#Edit-RecruitEvaluationProcess-RecruitBatchInitiator,#Remove-RecruitEvaluationProcess-RecruitBatchInitiator');
            event.preventDefault();
        });

        $('#Lookup-Geostruct-RecruitBatchInitiator').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookup_location", "RecruitBatchInitiator")', '', 'LookupDiv', 'Address Look Up Data', '#Geostructlist', 'Geostructlist', 5, 'Geostructlist', '#frmRecruitBatchInitiator', 'N', '#Edit-Geostruct-RecruitBatchInitiator,#Remove-Geostruct-RecruitBatchInitiator', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        /////new
        $('#Lookup-ResumeCollection-RecruitBatchInitiator').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookup_ResumeCollection", "RecruitBatchInitiator")', '', 'LookupDiv', 'ResumeCollection Look Up Data', '#ResumeCollectionlist', 'ResumeCollectionlist', 5, 'ResumeCollectionlist', '#frmRecruitBatchInitiator', 'N', '#Edit-ResumeCollection-RecruitBatchInitiator,#Remove-ResumeCollection-RecruitBatchInitiator', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });
        $('#Remove-ResumeCollection-RecruitBatchInitiator').button().on('click', function (event) {
            var a = [], b;
            a = $('#ResumeCollectionlist').P2BGetTableDataonSelectedRow('#ResumeCollectionlist', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#ResumeCollectionlist', $('#ResumeCollectionlist').val(), 200, 200, '#frmRecruitBatchInitiator', '#ResumeCollectionlist', '#Edit-ResumeCollectionlist-RecruitBatchInitiator,#Remove-ResumeCollectionlist-RecruitBatchInitiator');
            event.preventDefault();
        });



        $('#GenderList_DDL').selectmenu().selectmenu("menuWidget");
        $('#MaritalStatusList_DDL').selectmenu().selectmenu("menuWidget");
        $('#RangeFilterList_DDL').selectmenu().selectmenu("menuWidget");
        $('#ExpFilterList_DDL').selectmenu().selectmenu("menuWidget");
        $('.popup_radio_button').controlgroup();
        //$('#CategoryList_DDL').selectmenu().selectmenu("menuWidget");
        $('#Autho').makeDisable('#Create,#Edit,#Delete');
        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');
    });
</script>