@{
    Layout = null;
}
@model Recruitment.RecruitEvaluationProcess
<style>
    .radio_button_div_1, .horizontal_increpoly_row1 {
        display: inline-block;
    }

    .increpoly_popup-content-label {
        display: block;
        float: left;
        width: 123px;
    }

    .increpoly_popup-content-textbox {
        width: 120px;
    }

    .increpoly_row1 {
        width: 424px;
    }

    .increpoly_icon-row {
        position: relative;
        left: 81px;
        top: -150px;
    }

    .row3 {
        width: 402px;
    }
</style>
<script>
    $(document).ready(function (e) {
        var dt;
        $('button').button();
        $('#Name_Recruit').ValidateTextBox({ maxlength: 25, name: true, alphanum: true });

        $('#Lookup-RecruitEvaluationPara-RecruitEvaluationProcess').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupDetails", "RecruitEvaluationProcess")', '', 'LookupDiv', 'Recruit Evaluation Para Look Up Data', '#RecruitEvaluationParalist', 'RecruitEvaluationParalist', 5, 'RecruitEvaluationParalist', '#FormRecruitEvaluationProcess', 'A', '#Edit-RecruitEvaluationPara-RecruitEvaluationProcess,#Remove-RecruitEvaluationPara-RecruitEvaluationProcess', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });


        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-RecruitEvaluationPara-RecruitEvaluationProcess').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Partial", "RecruitEvaluationPara")', 'Create Recruit Evaluation Para', 'open', '@Url.Action("Create", "RecruitEvaluationPara")', '#FormRecruitEvaluationPara', 'Message :', 'Request Falied :', '#JqGrid', 400, 600, '', '', '', '#FormRecruitEvaluationProcess', '', function (data) {
                $('#RecruitEvaluationParalist').P2BLookUpEncapsulate('#RecruitEvaluationParalist', 'RecruitEvaluationParalist', data[0], data[1], 'RecruitEvaluationParalist', '#Edit-RecruitEvaluationPara-RecruitEvaluationProcess,#Remove-RecruitEvaluationPara-RecruitEvaluationProcess', 'N');

            });
            event.preventDefault();
        });



        $('#Create-ShortlistingCriteria-RecruitEvaluationProcess').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Partial", "ShortlistingCriteria")', 'Create Shortlisting Criteria', 'open', '@Url.Action("Create", "ShortlistingCriteria")', '#FormShortlistingCriteria', 'Message :', 'Request Falied :', '#JqGrid', 400, 600, '', '', '', '#FormRecruitEvaluationProcess', '', function (data) {
                $('#RecruitShortlistingParalist').P2BLookUpEncapsulate('#RecruitShortlistingParalist', 'RecruitShortlistingParalist', data[0], data[1], 'RecruitShortlistingParalist', '#Edit-RecruitEvaluationPara-RecruitEvaluationProcess,#Remove-RecruitEvaluationPara-RecruitEvaluationProcess', 'N');
            });
            event.preventDefault();
        });

        $('#Lookup-ShortlistingCriteria-RecruitEvaluationProcess').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetShortListingLKDetails", "ResumeShortlisting")', '', 'LookupDiv', 'Shortlisting Criteria Look Up Data', '#RecruitShortlistingParalist', 'RecruitShortlistingParalist', 5, 'RecruitShortlistingParalist', '#FormRecruitEvaluationProcess', 'N', '#Edit-RecruitEvaluationPara-RecruitEvaluationProcess,#Remove-RecruitEvaluationPara-RecruitEvaluationProcess', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        $('#Edit-RecruitEvaluationPara-RecruitEvaluationProcess').button().on("click", function (event) {
            var a = [], b;
            a = $('#RecruitEvaluationParalist').P2BGetTableDataonSelectedRow('#RecruitEvaluationParalist', 0);
            b = a[0];
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname, height, width, classoridoftheonwhichpopupderived, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not,nameidclassofbuttontodisable,returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "RecruitEvaluationPara")', '@Url.Action("Edit", "RecruitEvaluationPara")', b, '@Url.Action("Editsave", "RecruitEvaluationPara")', 'Edit Recruit Evaluation Para data', '#FormRecruitEvaluationPara', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 600, '#FormRecruitEvaluationProcess', '#RecruitEvaluationParalist', 'RecruitEvaluationParalist', 'RecruitEvaluationParalist', 'N', '#Edit-RecruitEvaluationPara-RecruitEvaluationProcess,#Remove-RecruitEvaluationPara-RecruitEvaluationProcess', function (data) {
                // setTimeout(function () {
                //to bind data according to selected id
                $.each(data[0], function (i, k) {
                    $('#FormRecruitEvaluationPara').trigger("reset");

                    $('#Name_Eval').val(k.Stage);
                    $('#CategorylistEvalpara').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 600, k.RecruitEvalPara_Id);

                });
                //}, 3000);
                $.each(data[1], function (i, k) {
                    $('#SelectionPanellist').P2BLookUpEncapsulate('#SelectionPanellist', 'SelectionPanellist', k.RE_id, k.RE_val, 'SelectionPanellist', '#Edit-RecruitEvaluationPara-RecruitEvaluationProcess,#Remove-RecruitEvaluationPara-RecruitEvaluationProcess', 'N');

                });


            });
            event.preventDefault();
        });


        $('#Remove-RecruitEvaluationPara-RecruitEvaluationProcess').button().on('click', function (event) {
            //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            //var a = [], b;
            //a = $('#RecruitEvaluationParalist').P2BGetTableDataonSelectedRow('#RecruitEvaluationParalist', 0);
            //b = a[0];
            
            var selectedRows = [];
            selectedRows = $('#RecruitEvaluationParalist').P2BGetTableDataonSelectedRow('#RecruitEvaluationParalist', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#RecruitEvaluationParalist', $('#RecruitEvaluationParalist').val(), 200, 200, '#FormRecruitEvaluationProcess', '#RecruitEvaluationParalist', '#Edit-RecruitEvaluationPara-RecruitEvaluationProcess,#Remove-RecruitEvaluationPara-RecruitEvaluationProcess');
            event.preventDefault();
        });


        $('#Lookup-RecruitJoiningPara-RecruitEvaluationProcess').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupDetailsJoiningPara", "RecruitEvaluationProcess")', '', 'LookupDiv', 'JobSource Look Up Data', '#RecruitJoiningParalist', 'RecruitJoiningParalist', 5, 'RecruitJoiningParalist', '#FormRecruitEvaluationProcess', 'A', '#Edit-RecruitJoiningPara-RecruitEvaluationProcess,#Remove-RecruitJoiningPara-RecruitEvaluationProcess', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-RecruitJoiningPara-RecruitEvaluationProcess').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Partial", "RecruitJoiningPara")', 'Create Recruit Joining Para', 'open', '@Url.Action("Create", "RecruitJoiningPara")', '#frmRecruitJoiningPara', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#FormRecruitEvaluationProcess', '', function (data) {
                $('#RecruitJoiningParalist').P2BLookUpEncapsulate('#RecruitJoiningParalist', 'RecruitJoiningParalist', data[0], data[1], 'RecruitJoiningParalist', '#Edit-RecruitEvaluationPara-RecruitEvaluationProcess,#Remove-RecruitEvaluationPara-RecruitEvaluationProcess', 'N');

            });
            event.preventDefault();
        });
        // Partial page edit

        $('#Edit-RecruitJoiningPara-RecruitEvaluationProcess').button().on("click", function (event) {
            var a = [], b;
            a = $('#RecruitJoiningParalist').P2BGetTableDataonSelectedRow('#RecruitJoiningParalist', 0);
            b = a[0];
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname, height, width, classoridoftheonwhichpopupderived, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not,nameidclassofbuttontodisable,returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "RecruitJoiningPara")', '@Url.Action("Edit", "RecruitJoiningPara")', b, '@Url.Action("Editsave", "RecruitJoiningPara")', 'Edit Recruit Joining Para data', '#frmRecruitJoiningPara', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#FormRecruitEvaluationProcess', '#RecruitJoiningParalist', 'RecruitJoiningParalist', 'RecruitJoiningParalist', 'N', '#Edit-RecruitJoiningPara-RecruitEvaluationProcess,#Remove-RecruitJoiningPara-RecruitEvaluationProcess', function (data) {
                // setTimeout(function () {
                //to bind data according to selected id
                $.each(data[0], function (i, k) {
                    $('#frmRecruitJoiningPara').trigger("reset");
                    $('#RecruitJoinParalist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 701, k.RecruitJoinPara_Id);
                    $('#Stage_Join').val(k.Stage);
                });
                //}, 3000);



            });
            event.preventDefault();
        });

        $('#Edit-ShortlistingCriteria-RecruitEvaluationProcess').button().on("click", function (event) {
            var a = [], b;
            a = $('#RecruitShortlistingParalist').P2BGetTableDataonSelectedRow('#RecruitShortlistingParalist', 0);
            b = a[0];
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname, height, width, classoridoftheonwhichpopupderived, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not,nameidclassofbuttontodisable,returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("Partial", "ShortlistingCriteria")', '@Url.Action("Edit", "ShortlistingCriteria")', b, '@Url.Action("Editsave", "ShortlistingCriteria")', 'Edit ShortlistingCriteria data', '#FormShortlistingCriteria', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#FormRecruitEvaluationProcess', '#RecruitShortlistingParalist', 'RecruitShortlistingParalist', 'RecruitShortlistingParalist', 'N', '#Edit-ShortlistingCriteria-RecruitEvaluationProcess,#Remove-ShortlistingCriteria-RecruitEvaluationProcess', function (data) {
                // setTimeout(function () {
                //to bind data according to selected id
                $.each(data[0], function (i, k) {
                    $('#FormShortlistingCriteria').trigger("reset");
                    $('#AgeFrom').val(k.txtAgeFrom);
                    $('#AgeTo').val(k.txtAgeTo);
                    $('#username').val(k.txtNarration);
                    $('#ExpYearFrom').val(k.txtExpYearFrom);
                    $('#ExpYearTo').val(k.txtExpYearTo);
                    $('#NoOfVacancies').val(k.txtNoOfVacancies);
                    $('#RelaxationAge').val(k.txtRelaxationAge);
                    $('#CriteriaName').val(k.CriteriaName);
                    $('#CategorylistNew').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 104, k.CategoryList);
                    $('#ExpFilterlist1').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 1061, k.ExpFilterList);
                    $('#Genderlist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 129, k.GenderList);
                    $('#MaritalStatuslist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 128, k.MaritalStatusList);
                    $('#RangeFilterList').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 1058, k.RangeFilterList);
                    $('#SpecialCategorylist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 514, k.SpecialCategoryList);
                });
                //}, 3000);
                $.each(data[1], function (i, k) {
                    ////;
                    $('#Qualificationlist').P2BLookUpEncapsulate('#Qualificationlist', 'Qualificationlist', k.Qualification_id, k.Qualification_details, 'Qualificationlist', '#Edit-Qualification-ShortlistingCriteria,#Remove-Qualification-ShortlistingCriteria', 'A');
                });

                $.each(data[3], function (i, k) {
                    $('#Skilllist').P2BLookUpEncapsulate('#Skilllist', 'Skilllist', k.Skill_id, k.Skill_details, 'Skilllist', '#Edit-Skill-ShortlistingCriteria,#Remove-Skill-ShortlistingCriteria', 'A');
                });

                $.each(data[4], function (i, k) {
                    $('#FuncStructlist').P2BLookUpEncapsulate('#FuncStructlist', 'FuncStructlist', k.FuncStruct_Id, k.FuncStruct_val, 'FuncStructlist', '#Remove-FuncStruct-ShortlistingCriteria', 'N');
                });

            });
            event.preventDefault();
        });

        $('#Remove-RecruitJoiningPara-RecruitEvaluationProcess').button().on('click', function (event) {
            //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            //var a = [], b;
            //a = $('#RecruitJoiningParalist').P2BGetTableDataonSelectedRow('#RecruitJoiningParalist', 0);
            //b = a[0];
        
            var selectedRows = [];
            selectedRows = $('#RecruitJoiningParalist').P2BGetTableDataonSelectedRow('#RecruitJoiningParalist', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#RecruitJoiningParalist', $('#RecruitJoiningParalist').val(), 200, 200, '#FormRecruitEvaluationProcess', '#RecruitJoiningParalist', '#Edit-RecruitJoiningPara-RecruitEvaluationProcess,#Remove-RecruitJoiningPara-RecruitEvaluationProcess');
            event.preventDefault();
        });

        $('#Remove-ShortlistingCriteria-RecruitEvaluationProcess').button().on('click', function (event) {
            //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            //var a = [], b;
            //a = $('#RecruitShortlistingParalist').P2BGetTableDataonSelectedRow('#RecruitShortlistingParalist', 0);
            //b = a[0];

            var selectedRows = [];
            selectedRows = $('#RecruitShortlistingParalist').P2BGetTableDataonSelectedRow('#RecruitShortlistingParalist', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#RecruitShortlistingParalist', $('#RecruitShortlistingParalist').val(), 200, 200, '#FormRecruitEvaluationProcess', '#RecruitShortlistingParalist', '#Edit-ShortlistingCriteria-RecruitEvaluationProcess,#Remove-ShortlistingCriteria-RecruitEvaluationProcess');
            event.preventDefault();
        });

        $('#Autho').makeDisable('#Create,#Edit,#Delete');
        $('.popup_radio_button').controlgroup();
        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');
        //$('.drop').selectmenu().selectmenu('menuWidget');
    });
</script>
<div id="Create_Dialog" title="Create JobAgency">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "FormRecruitEvaluationProcess", name = "FormRecruitEvaluationProcess" }))
    {
        <input id="Autho_Action" type="hidden" name="Autho_Action" />
        <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
        //<div class="increpoly_row1 content_margine">@Html.LabelFor(m => m.Name, "Name :", new { @class = "increpoly_popup-content-label" })@Html.TextBoxFor(m => m.Name, new { @class = "increpoly_popup-content-textbox" }) </div>
        <div class="increpoly_row1 content_margine">@Html.LabelFor(m => m.Name, "Name :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Name, new { @class = "popup-content-textbox must", @id = "Name_Recruit" })</div>

        <div class="increpoly_row1 content_margine ">
            <div id="AgencyAddress_old"></div>
            @Html.LabelFor(m => m.RecruitEvaluationPara, "Recruit Evaluation Para :", new { @class = "increpoly_popup-content-label" })  <div class="popup-content-table">
                <table class="lookuptableselected" id="RecruitEvaluationParalist">
                    <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                </table>
            </div>
            <div class="increpoly_icon-row icon-row">
                <button data-p2btooltip="LookUp Recruit Evaluation Para Details" class="popup-content-icon-lookup" id="Lookup-RecruitEvaluationPara-RecruitEvaluationProcess"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                <button data-p2btooltip="Crate Recruit Evaluation Para Details" class="popup-content-icon-create" id="Create-RecruitEvaluationPara-RecruitEvaluationProcess"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                <button data-p2btooltip="Edit Recruit Evaluation Para Details" class="popup-content-icon-edit" id="Edit-RecruitEvaluationPara-RecruitEvaluationProcess"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                <button data-p2btooltip="Remove Recruit Evaluation Para Details" class="popup-content-icon-remove" id="Remove-RecruitEvaluationPara-RecruitEvaluationProcess"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
            </div>
        </div>
        <div class="increpoly_row1 content_margine">
            <div id="ContactDetails_old"></div>
            @Html.LabelFor(m => m.RecruitJoiningPara, "Recruit Joining Para:", new { @class = "increpoly_popup-content-label" })  <div class="popup-content-table">
                <table class="lookuptableselected" id="RecruitJoiningParalist">
                    <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                </table>
            </div>
            <div class="increpoly_icon-row icon-row">
                <button data-p2btooltip="LookUp Recruit Joining Para Details" class="popup-content-icon-lookup" id="Lookup-RecruitJoiningPara-RecruitEvaluationProcess"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                <button data-p2btooltip="Crate Recruit Joining Para Details" class="popup-content-icon-create" id="Create-RecruitJoiningPara-RecruitEvaluationProcess"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                <button data-p2btooltip="Edit Recruit Joining Para Details" class="popup-content-icon-edit" id="Edit-RecruitJoiningPara-RecruitEvaluationProcess"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                <button data-p2btooltip="Remove Recruit Joining Para Details" class="popup-content-icon-remove" id="Remove-RecruitJoiningPara-RecruitEvaluationProcess"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
            </div>
        </div>
        <div class="increpoly_row1 content_margine">
            <div id="ContactDetails_old"></div>
            @Html.LabelFor(m => m.ShortlistingCriteria, "Shortlisting Criteria:", new { @class = "increpoly_popup-content-label" })  <div class="popup-content-table">
                <table class="lookuptableselected" id="RecruitShortlistingParalist">
                    <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                </table>
            </div>
            <div class="increpoly_icon-row icon-row">
                <button data-p2btooltip="LookUp Shortlisting Criteria Details" class="popup-content-icon-lookup" id="Lookup-ShortlistingCriteria-RecruitEvaluationProcess"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                <button data-p2btooltip="Crate Shortlisting Criteria Details" class="popup-content-icon-create" id="Create-ShortlistingCriteria-RecruitEvaluationProcess"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                <button data-p2btooltip="Edit Shortlisting Criteria Details" class="popup-content-icon-edit" id="Edit-ShortlistingCriteria-RecruitEvaluationProcess"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                <button data-p2btooltip="Remove Shortlisting Criteria Details" class="popup-content-icon-remove" id="Remove-ShortlistingCriteria-RecruitEvaluationProcess"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
            </div>
        </div>





    }
</div>
