@{
    Layout = null;
}
@model Recruitment.SelectionPanel
<style>
    .radio_button_div_1, .horizontal_increpoly_row1 {
        display: inline-block;
    }

    .increpoly_popup-content-label {
        display: block;
        float: left;
        width: 123px;
    }

    .increpoly_popup-content-textbox {
        width: 120px;
    }

    .increpoly_row1 {
        width: 424px;
    }

    .increpoly_icon-row {
        position: relative;
        left: 81px;
        top: -150px;
    }
</style>
<script>
    $(document).ready(function (e) {
        var dt;
        $('button').button();
        $('#PanelName').ValidateTextBox({ maxlength: 25, name: true, alphanum: true });
        $('#MaxPoints').ForceAmount().MaxLength(10);
        $('#SelectionCriteria').MaxLength(20);
        $('#MaxPoints').val("0");
        $('.drop').selectmenu().selectmenu('menuWidget');
        $('#panelCategorylist').selectmenu().selectmenu("menuWidget");
        $('#panelCategorylist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 1064, "");

        // Partial page edit

        $('#Autho').makeDisable('#Create,#Edit,#Delete');
        $('.popup_radio_button').controlgroup();
        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');


        $('#Remove-Employee-SelectionPanel').button().on('click', function (event) {
            //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            //var a = [], b;
            //a = $('#Employeelist').P2BGetTableDataonSelectedRow('#Employeelist', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#Employeelist').P2BGetTableDataonSelectedRow('#Employeelist', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#Employeelist', $('#Employeelist').val(), 200, 200, '#frmSelectionPanel', '#Employeelist', '#Remove-Employee-SelectionPanel');
            event.preventDefault();
        });
         
        $('#Lookup-Employee-SelectionPanel').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookup", "SelectionPanel")', '', 'LookupDiv', ' Employee Look Up Data', '#Employeelist', 'Employeelist', 5, 'Employeelist', '#frmSelectionPanel', 'N', '#Remove-Employee-SelectionPanel', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        //$('#Remove-NameSingle-SelectionPanel').button().on('click', function (event) {
        //    //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        //    var a = [], b;
        //    a = $('#ExternalSelectorlist').P2BGetTableDataonSelectedRow('#ExternalSelectorlist', 0);
        //    b = a[0];
        //    $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#ExternalSelectorlist', $('#ExternalSelectorlist').val(), 200, 200, '#frmRecruitBatchInitiator', '#ExternalSelectorlist', '#Remove-Employee-SelectionPanel');
        //    event.preventDefault();
        //});
         
        $('#Lookup-NameSingle-SelectionPanel').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetNameSingleLookup", "SelectionPanel")', '', 'LookupDiv', 'External Selector Look Up Data', '#ExternalSelectorlist', 'ExternalSelectorlist', 5, 'ExternalSelectorlist', '#frmSelectionPanel', 'N', '', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        @*$('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-NameSingle-SelectionPanel').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Partial", "NameSingle")', 'Create External Selector', 'open', '@Url.Action("Create", "NameSingle")', '#frmNameSingle', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#frmSelectionPanel', '', function (data) {
                // to show data which is created in partial page
                $('#ExternalSelectorlist').P2BLookUpEncapsulate('#ExternalSelectorlist', 'ExternalSelectorlist', data[0], data[1], 'ExternalSelectorlist', '#Edit-NameSingle-SelectionPanel,#Remove-NameSingle-SelectionPanel', 'N');
            });
            event.preventDefault();
        });*@
        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-NameSingle-SelectionPanel').button().on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "NameSingle")', 'Create Name', 'open', '@Url.Action("Create","NameSingle")', '#frmNameSingle', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#frmSelectionPanel', '', function (data) {
                // to show data which is created in partial page
                $('#ExternalSelectorlist').P2BLookUpEncapsulate('#ExternalSelectorlist', 'ExternalSelectorlist', data[0], data[1], 'ExternalSelectorlist', '#Edit-NameSingle-SelectionPanel,#Remove-NameSingle-SelectionPanel', 'N');
            });
            event.preventDefault();
        });
        $('#Remove-NameSingle-SelectionPanel').button().on('click', function (event) {
            // dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            //var a = [], b;
            //a = $('#ExternalSelectorlist').P2BGetTableDataonSelectedRow('#ExternalSelectorlist', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#ExternalSelectorlist').P2BGetTableDataonSelectedRow('#ExternalSelectorlist', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('@Url.Action("DeleteContactDetails","BenefitNominees")', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#ExternalSelectorlist', $('#ExternalSelectorlist').val(), 200, 200, '#frmSelectionPanel', '#ExternalSelectorlist', '');
            event.preventDefault();
        });

        $('#Edit-NameSingle-SelectionPanel').button().on("click", function (event) {
            var a = [], b;
            a = $('#ExternalSelectorlist').P2BGetTableDataonSelectedRow('#ExternalSelectorlist', 0);
            b = a[0];
            console.log(b);
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "NameSingle")', '@Url.Action("edit", "NameSingle")', b, '@Url.Action("EditSave", "NameSingle")', 'Edit  Details', '#frmNameSingle', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmSelectionPanel', '#ExternalSelectorlist', 'ExternalSelectorlist', 'ExternalSelectorlist', 'N','', function (data) {
                // setTimeout(function () {
                var k = data;
              //  alert(k.FName);
                $('#frmnameSingle').trigger("reset");
                $('#FName').val(k.FName);
                $('#MName').val(k.MName);
                $('#LName').val(k.LName);

                $('#title').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 100, k.EmpTitle);


                // }, 3000);
            });
            event.preventDefault();
        });
         
        //$('.drop').selectmenu().selectmenu('menuWidget');
    });
</script>
<div id="Create_Dialog">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmSelectionPanel", name = "frmSelectionPanel" }))
    {
        <input id="Autho_Action" type="hidden" name="Autho_Action" />
        <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
        //<div class="increpoly_row1 content_margine">@Html.LabelFor(m => m.Name, "Name :", new { @class = "increpoly_popup-content-label" })@Html.TextBoxFor(m => m.Name, new { @class = "increpoly_popup-content-textbox" }) </div>

            <div class="row3 content_margine">@Html.LabelFor(m => m.PanelName, "Panel Name :", new { @class = "increpoly_popup-content-label must" })@Html.TextBoxFor(m => m.PanelName, new { @class = "popup-content-textbox must" })</div>
            <div class="row3 content_margine">@Html.LabelFor(m => m.SelectionCriteria, "Selection Criteria :", new { @class = "increpoly_popup-content-label must" })@Html.TextBoxFor(m => m.SelectionCriteria, new { @class = "popup-content-textbox must" })</div>
        <div class="row3 content_margine">@Html.LabelFor(m => m.MaxPoints, "Max Points :", new { @class = "increpoly_popup-content-label must" })@Html.TextBoxFor(m => m.MaxPoints, new { @class = "popup-content-textbox must" })</div>

        <div class="dropdown_row1 row3 content_margine">@Html.LabelFor(m => m.PanelType, "Panel Type :", new { @class = "increpoly_popup-content-label must" })<select id="panelCategorylist" name="panelCategorylist" class="drop must"  style="width:161px;"><option></option></select></div>
       
         <div class="increpoly_row1 content_margine">
            <div id="SelectionPanel_old"></div>
            @Html.LabelFor(m => m.Employee, "Employee :", new { @class = "increpoly_popup-content-label" })  <div class="popup-content-table">
              <table class="lookuptableselected" id="Employeelist">
              <tr><th>ID</th><th>LookUp Selected Description</th></tr>
             </table>
            </div>
            <div class="increpoly_icon-row icon-row">
                <button data-p2btooltip="LookUp Employee Details" class="popup-content-icon-lookup" id="Lookup-Employee-SelectionPanel"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                @*<button data-p2btooltip="Crate Employee Details" class="popup-content-icon-create" id="Create-Employee-RecruitEvaluationPara"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                <button data-p2btooltip="Edit Employee Details" class="popup-content-icon-edit" id="Edit-Employee-RecruitEvaluationPara"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>*@
                <button data-p2btooltip="Remove Employee Details" class="popup-content-icon-remove" id="Remove-Employee-SelectionPanel"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
            </div>
        </div>

              <div class="increpoly_row1 content_margine">
                  <div id="ExternalSelector_old"></div>
            @Html.LabelFor(m => m.ExternalSelector, "External Selector:", new { @class = "increpoly_popup-content-label" })  <div class="popup-content-table">
             <table class="lookuptableselected" id="ExternalSelectorlist">
             <tr><th>ID</th><th>LookUp Selected Description</th></tr>
             </table>
            </div>
            <div class="increpoly_icon-row icon-row">
                <button data-p2btooltip="LookUp External Selector Details" class="popup-content-icon-lookup" id="Lookup-NameSingle-SelectionPanel"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                <button data-p2btooltip="Crate External Selector Details" class="popup-content-icon-create" id="Create-NameSingle-SelectionPanel"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                <button data-p2btooltip="Edit External Selector Details" class="popup-content-icon-edit" id="Edit-NameSingle-SelectionPanel"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                <button data-p2btooltip="Remove External Selector Details" class="popup-content-icon-remove" id="Remove-NameSingle-SelectionPanel"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
            </div>
        </div>



    }
</div>
