@{
    Layout = null;
}
@model Recruitment.ShortlistingCriteria
<style>
    .icon-row {
        position: relative;
        left: 76px;
        top: -150px;
    }

    #BusinessType-button {
        font-size: 9px;
        padding-top: 1px;
        font-weight: bold;
    }

    .popup-content-label {
        display: block;
        float: left;
        width: 121px;
    }

    .popup-content-textbox {
        margin-bottom: 1px;
        min-width: 150px;
    }

    .row3 {
        width: 450px;
    }

    .row4 {
        position: absolute;
        top: 294px;
        width: 400px;
    }

    .popup-content-textbox-long {
        margin-bottom: 1px;
        width: 290px;
    }


    .row2 {
        width: 402px;
    }
</style>


<div id="Create_Dialog" title="Create JobAgency">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "FormShortlistingCriteria", name = "FormShortlistingCriteria" }))
    {
        <input id="Autho_Action" type="hidden" name="Autho_Action" />
        <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
        //<div class="increpoly_row1 content_margine">@Html.LabelFor(m => m.Name, "Name :", new { @class = "increpoly_popup-content-label" })@Html.TextBoxFor(m => m.Name, new { @class = "increpoly_popup-content-textbox" }) </div>
         <div class="dropdown_row1 row3 content_margine">@Html.LabelFor(m => m.RangeFilter, "RangeFilter :", new { @class = "popup-content-label must" })<select id="RangeFilterList" name="RangeFilterList_DDL" class="must" style="width:161px;"><option></option></select></div>
        <div class="row3 content_margine">@Html.LabelFor(m => m.AgeFrom, "AgeFrom :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.AgeFrom, new { @class = "popup-content-textbox must" })</div>
        <div class="row3 content_margine">@Html.LabelFor(m => m.AgeTo, "AgeTo :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.AgeTo, new { @class = "popup-content-textbox must" })</div>

        <div class="dropdown_row1 row3 content_margine">
            @Html.LabelFor(m => m.Category, "Category :", new { @class = "popup-content-label must" })
            <select id="CategorylistNew" name="CategorylistNew" class="must" style="width:161px;"><option></option></select>
        </div>

        <div class="row3 content_margine">@Html.LabelFor(m => m.CriteriaName, "Criteria Name :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.CriteriaName, new { @class = "popup-content-textbox must" })</div>

        <div class="dropdown_row1 row3 content_margine">
            @Html.LabelFor(m => m.ExpFilter, "ExpFilter :", new { @class = "popup-content-label must" })
            <select id="ExpFilterlist1" name="ExpFilterlist1" class="must" style="width:161px;"><option></option></select>
        </div>

        <div class="row3 content_margine">@Html.LabelFor(m => m.ExpYearFrom, "Exp Year From :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.ExpYearFrom, new { @class = "popup-content-textbox must" })</div>

        <div class="row3 content_margine">@Html.LabelFor(m => m.ExpYearTo, "Exp Year To :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.ExpYearTo, new { @class = "popup-content-textbox must" })</div>

        <div class="row3 content_margine">
            <div id="FuncStruct_old"></div>@Html.LabelFor(m => m.FuncStruct, "Func Struct :", new { @class = "popup-content-label" })
            <div class="popup-content-table">
                <table class="lookuptableselected" id="FuncStructlist">
                    <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                </table>
            </div>
            <div class="icon-row">
                <button data-p2btooltip="Lookup FuncStruct Details" class="popup-content-icon-lookup" id="Lookup-FuncStruct-ShortlistingCriteria"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                @*<button data-p2btooltip="Create FuncStruct Details" class="popup-content-icon-create" id="Create-FuncStruct-ShortlistingCriteria"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit FuncStruct Details" class="popup-content-icon-edit" id="Edit-FuncStruct-ShortlistingCriteria"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>*@
                <button data-p2btooltip="Remove FuncStruct Details" class="popup-content-icon-remove" id="Remove-FuncStruct-ShortlistingCriteria"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
            </div>
        </div>

        <div class="dropdown_row1 row3 content_margine">@Html.LabelFor(m => m.Gender, "Gender :", new { @class = "popup-content-label must" })<select id="Genderlist" name="Genderlist" class="must" style="width:161px;"><option></option></select></div>

        <div class="dropdown_row1 row3 content_margine">@Html.LabelFor(m => m.MaritalStatus, "Marital Status :", new { @class = "popup-content-label must" })<select id="MaritalStatuslist" name="MaritalStatuslist" class="must" style="width:161px;"><option></option></select></div>

        <div class="row3 content_margine">@Html.LabelFor(m => m.Narration, "Narration :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Narration, new { @class = "popup-content-textbox must", @id = "username" })</div>

        <div class="row3 content_margine">@Html.LabelFor(m => m.NoOfVacancies, "NoOfVacancies :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.NoOfVacancies, new { @class = "popup-content-textbox must" })</div>

        <div class="row3 content_margine">
            <div id="Qualification_old"></div>@Html.LabelFor(m => m.Qualification, "Qualification :", new { @class = "popup-content-label" })
            <div class="popup-content-table">
                <table class="lookuptableselected" id="Qualificationlist">
                    <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                </table>
            </div>
            <div class="icon-row">
                <button data-p2btooltip="Lookup Qualification Details" class="popup-content-icon-lookup" id="Lookup-Qualification-ShortlistingCriteria"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                <button data-p2btooltip="Create Qualification Details" class="popup-content-icon-create" id="Create-Qualification-ShortlistingCriteria" style="top:23px;"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                <button data-p2btooltip="Edit Qualification Details" class="popup-content-icon-edit" id="Edit-Qualification-ShortlistingCriteria"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                <button data-p2btooltip="Remove Qualification Details" class="popup-content-icon-remove" id="Remove-Qualification-ShortlistingCriteria"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
            </div>
        </div>

        @*<div class="dropdown_row1 row3 content_margine">@Html.LabelFor(m => m.RangeFilter, "RangeFilter :", new { @class = "popup-content-label must" })<select id="RangeFilterList" name="RangeFilterList_DDL" class="must" style="width:161px;"><option></option></select></div>*@

        <div class="row3 content_margine">@Html.LabelFor(m => m.RelaxationAge, "Relaxation Age :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.RelaxationAge, new { @class = "popup-content-textbox must" })</div>

        <div class="row3 content_margine">
            <div id="Skill_old"></div>@Html.LabelFor(m => m.Skill, "Skill :", new { @class = "popup-content-label" })
            <div class="popup-content-table">
                <table class="lookuptableselected" id="Skilllist">
                    <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                </table>
            </div>
            <div class="icon-row">
                <button data-p2btooltip="Lookup Skill Details" class="popup-content-icon-lookup" id="Lookup-Skill-ShortlistingCriteria"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                <button data-p2btooltip="Create Skill Details" class="popup-content-icon-create" id="Create-Skill-ShortlistingCriteria" style="top:23px;"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                <button data-p2btooltip="Edit Skill Details" class="popup-content-icon-edit" id="Edit-Skill-ShortlistingCriteria"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                <button data-p2btooltip="Remove Skill Details" class="popup-content-icon-remove" id="Remove-Skill-ShortlistingCriteria"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
            </div>
        </div>

        <div class="dropdown_row1 row3 content_margine">@Html.LabelFor(m => m.SpecialCategory, "Special Category :", new { @class = "popup-content-label must" })<select id="SpecialCategorylist" name="SpecialCategorylist" class="must" style="width:161px;"><option></option></select></div>

    }
</div>
<script>

    $(document).ready(function (e) {


        var dt;
        $('button').button();
        //$('#Name_Recruit').ValidateTextBox({ maxlength: 25, name: true, alphanum: true });



        $('#Lookup-FuncStruct-ShortlistingCriteria').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetFuncStructLKDetails", "ShortlistingCriteria")', '', 'LookupDiv', 'FuncStruct Data', '#FuncStructlist', 'FuncStructlist', 5, 'FuncStructlist', '#FormShortlistingCriteria', 'N', '#Edit-FuncStruct-ShortlistingCriteria,#Remove-FuncStruct-ShortlistingCriteria', 'FuncStruct_table', 'PageNavPosition');
            event.preventDefault();
        });
        $('#Lookup-Qualification-ShortlistingCriteria').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetQualificationLKDetails", "ShortlistingCriteria")', '', 'LookupDiv', 'Qualification Look Up Data', '#Qualificationlist', 'Qualificationlist', 5, 'Qualificationlist', '#FormShortlistingCriteria', 'A', '#Edit-Qualification-ShortlistingCriteria,#Remove-Qualification-RecruitEvaluationProcess', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });
        $('#Lookup-Skill-ShortlistingCriteria').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetSkillDetails", "ShortlistingCriteria")', '', 'LookupDiv', 'Skill Look Up Data', '#Skilllist', 'Skilllist', 5, 'Skilllist', '#FormShortlistingCriteria', 'A', '#Edit-Skill-ShortlistingCriteria,#Remove-Skill-ShortlistingCriteria', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });
        $('#Remove-FuncStruct-ShortlistingCriteria').button().on('click', function (event) {
            //var a = [], b;
            //a = $('#FuncStructlist').P2BGetTableDataonSelectedRow('#FuncStructlist', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#FuncStructlist').P2BGetTableDataonSelectedRow('#FuncStructlist', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#FuncStructlist', $('#FuncStructlist').val(), 200, 200, '#FormShortlistingCriteria', '#FuncStructlist', '#Edit-FuncStruct-ShortlistingCriteria,#Remove-FuncStruct-ShortlistingCriteria');
            event.preventDefault();
        });
        $('#Remove-Qualification-ShortlistingCriteria').button().on('click', function (event) {
            //var a = [], b;
            //a = $('#Qualificationlist').P2BGetTableDataonSelectedRow('#Qualificationlist', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#Qualificationlist').P2BGetTableDataonSelectedRow('#Qualificationlist', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#Qualificationlist', $('#Qualificationlist').val(), 200, 200, '#FormShortlistingCriteria', '#Qualificationlist', '#Edit-Qualification-ShortlistingCriteria,#Remove-Qualification-RecruitEvaluationProcess');
            event.preventDefault();
        });
        $('#Remove-Skill-ShortlistingCriteria').button().on('click', function (event) {
            //var a = [], b;
            //a = $('#Skilllist').P2BGetTableDataonSelectedRow('#Skilllist', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#Skilllist').P2BGetTableDataonSelectedRow('#Skilllist', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#Skilllist', $('#Skilllist').val(), 200, 200, '#FormShortlistingCriteria', '#Skilllist', '#Edit-Skill-ShortlistingCriteria,#Remove-Skill-ShortlistingCriteria');
            event.preventDefault();
        });




        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-Qualification-ShortlistingCriteria').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Partial", "Qualification")', 'Create Qualification', 'open', '@Url.Action("Create", "Qualification")', '#FormQualification', 'Message :', 'Request Falied :', '#JqGrid', 479, 544, '', '', '', '#FormShortlistingCriteria', '', function (data) {
                $('#Qualificationlist').P2BLookUpEncapsulate('#Qualificationlist', 'Qualificationlist', data[0], data[1], 'Qualificationlist', '', 'N');
            });
            event.preventDefault();
        });

        $('#Edit-Qualification-ShortlistingCriteria').button().on("click", function (event) {
            var a = [], b;
            a = $('#Qualificationlist').P2BGetTableDataonSelectedRow('#Qualificationlist', 0);
            b = a[0];
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname, height, width, classoridoftheonwhichpopupderived, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not,nameidclassofbuttontodisable,returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "Qualification")', '@Url.Action("Edit", "Qualification")', b, '@Url.Action("Editsave", "Qualification")', 'Edit Qualification', '#FormQualification', b, 'Message :', 'Request Falied :', '#JqGrid', 479, 544, '#FormShortlistingCriteria', '#Qualificationlist', 'Qualificationlist', 'Qualificationlist', 'N', '#Edit-Qualification-ShortlistingCriteria,#Remove-Qualification-ShortlistingCriteria', function (data) {
                // setTimeout(function () {
                //to bind data according to selected id
                //    $.each(data[0], function (i, k) {

                var k = data[0];
                $('#FormQualification').trigger("reset");

                $('#QualificationShortName').val(k.QualificationShortName);
                $('#QualificationDesc').val(k.QualificationDesc);
                $('#Qualificationlist1').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 314, k.BusinessType_Id);


                //  });
            });
            event.preventDefault();
        });


        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-Skill-ShortlistingCriteria').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Partial", "Skill")', 'Create Skill', 'open', '@Url.Action("Create", "Skill")', '#FormSkill', 'Message :', 'Request Falied :', '#JqGrid', 479, 544, '', '', '', '#FormShortlistingCriteria', '', function (data) {
                $('#Skilllist').P2BLookUpEncapsulate('#Skilllist', 'Skilllist', data[0], data[1], 'Skilllist', '', 'N');
            });
            event.preventDefault();
        });

        $('#Edit-Skill-ShortlistingCriteria').button().on("click", function (event) {
            var a = [], b;
            a = $('#Skilllist').P2BGetTableDataonSelectedRow('#Skilllist', 0);
            b = a[0];
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname, height, width, classoridoftheonwhichpopupderived, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not,nameidclassofbuttontodisable,returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "Skill")', '@Url.Action("Edit", "Skill")', b, '@Url.Action("Editsave", "Skill")', 'Edit Skill', '#FormSkill', b, 'Message :', 'Request Falied :', '#JqGrid', 479, 544, '#FormShortlistingCriteria', '#Skilllist', 'Skilllist', 'Skilllist', 'N', '#Edit-Qualification-ShortlistingCriteria,#Remove-Qualification-ShortlistingCriteria', function (data) {
                $.each(data[0], function (i, k) {
                    $('#FormSkill').trigger("reset");
                    $('#Name').val(k.Name);
                });
            });
            event.preventDefault();
        });


        $('#Remove-RecruitEvaluationPara-ResumeCollection').button().on('click', function (event) {
            //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            //var a = [], b;
            //a = $('#RecruitEvaluationParalist').P2BGetTableDataonSelectedRow('#RecruitEvaluationParalist', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#RecruitEvaluationParalist').P2BGetTableDataonSelectedRow('#RecruitEvaluationParalist', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#RecruitEvaluationParalist', $('#RecruitEvaluationParalist').val(), 200, 200, '#FormRecruitEvaluationProcess', '#RecruitEvaluationParalist', '#Edit-RecruitEvaluationPara-RecruitEvaluationProcess,#Remove-RecruitEvaluationPara-RecruitEvaluationProcess');
            event.preventDefault();
        });


        @*$('#Lookup-RecruitJoiningPara-RecruitEvaluationProcess').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupDetailsJoiningPara", "RecruitEvaluationProcess")', '', 'LookupDiv', 'JobSource Look Up Data', '#RecruitJoiningParalist', 'RecruitJoiningParalist', 5, 'RecruitJoiningParalist', '#FormRecruitEvaluationProcess', 'N', '#Edit-RecruitJoiningPara-RecruitEvaluationProcess,#Remove-RecruitJoiningPara-RecruitEvaluationProcess', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-RecruitJoiningPara-RecruitEvaluationProcess').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Partial", "RecruitJoiningPara")', 'Create Recruit Joining Para', 'open', '@Url.Action("Create", "RecruitJoiningPara")', '#frmRecruitJoiningPara', 'Message :', 'Request Falied :', '#JqGrid', 479, 544, '', '', '', '#FormRecruitEvaluationProcess', '', function (data) {
                $('#RecruitJoiningParalist').P2BLookUpEncapsulate('#RecruitJoiningParalist', 'RecruitJoiningParalist', data[0], data[1], 'RecruitJoiningParalist', '#Edit-RecruitEvaluationPara-RecruitEvaluationProcess,#Remove-RecruitEvaluationPara-RecruitEvaluationProcess', 'N');

            });
            event.preventDefault();
        });
        // Partial page edit

        $('#Edit-RecruitJoiningPara-RecruitEvaluationProcess').button().on("click", function (event) {
            var a = [], b;
            a = $('#RecruitJoiningParalist').P2BGetTableDataonSelectedRow('#RecruitJoiningParalist', 0);
            b = a[0];
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname, height, width, classoridoftheonwhichpopupderived, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not,nameidclassofbuttontodisable,returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "RecruitJoiningPara")', '@Url.Action("Edit", "RecruitJoiningPara")', b, '@Url.Action("Editsave", "RecruitJoiningPara")', 'Edit Recruit Joining Para data', '#frmRecruitJoiningPara', b, 'Message :', 'Request Falied :', '#JqGrid', 479, 544, '#FormRecruitEvaluationProcess', '#RecruitJoiningParalist', 'RecruitJoiningParalist', 'RecruitJoiningParalist', 'N', '#Edit-RecruitJoiningPara-RecruitEvaluationProcess,#Remove-RecruitJoiningPara-RecruitEvaluationProcess', function (data) {
                // setTimeout(function () {
                //to bind data according to selected id
                $.each(data[0], function (i, k) {
                    $('#frmRecruitJoiningPara').trigger("reset");
                    $('#RecruitJoinParalist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 500, k.RecruitJoinPara_Id);
                    $('#Stage_Join').val(k.Stage);
                });
                //}, 3000);



            });
            event.preventDefault();
        });


        $('#Remove-RecruitJoiningPara-RecruitEvaluationProcess').button().on('click', function (event) {
            //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            var a = [], b;
            a = $('#RecruitJoiningParalist').P2BGetTableDataonSelectedRow('#RecruitJoiningParalist', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#RecruitJoiningParalist', $('#RecruitJoiningParalist').val(), 200, 200, '#RecruitJoiningParalist', '#RecruitJoiningParalist', '#Edit-RecruitJoiningPara-RecruitEvaluationProcess,#Remove-RecruitJoiningPara-RecruitEvaluationProcess');
            event.preventDefault();
        });*@

        $('#CategorylistNew').selectmenu().selectmenu('menuWidget');
        $('#CategorylistNew').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 104, "");

        $('#ExpFilterlist1').selectmenu().selectmenu('menuWidget');
        $('#ExpFilterlist1').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 1061, "");


        $('#Genderlist').selectmenu().selectmenu('menuWidget');
        $('#Genderlist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 129, "");

        $('#MaritalStatuslist').selectmenu().selectmenu('menuWidget');
        $('#MaritalStatuslist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 128, "");

        $('#RangeFilterList').selectmenu().selectmenu('menuWidget');
        $('#RangeFilterList').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 1058, "");

        $('#SpecialCategorylist').selectmenu().selectmenu('menuWidget');
        $('#SpecialCategorylist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 514, "");

        @*$('#FuncStructList').selectmenu().selectmenu('menuWidget');
        $('#FuncStructList').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 500, "");*@

        $('#AgeFrom').ForceOnlyNumeric();
        $('#AgeTo').ForceOnlyNumeric();
        $('#ExpYearFrom').ForceOnlyNumeric();
        $('#ExpYearTo').ForceOnlyNumeric();
        $('#NoOfVacancies').ForceOnlyNumeric();
        $('#RelaxationAge').ForceOnlyNumeric();
    });
</script>