@{
    ViewBag.Title = "Hotel Eligibility policy";
}
@model Payroll.HotelEligibilityPolicy
<style>
    .popup-content-label {
        display: block;
        float: left;
        width: 180px;
    }
</style>

<html>
<head>
    <title>@ViewBag.title</title>
    @*<link href="~/Content/tds_master/tds_master.css" rel="stylesheet" />*@
    <script>
    $(document).ready(function () {
        $('button').button();
        var ColNames = [];
        var ColModel = [];
        //a.Id, a.IncomeRangeFrom, a.IncomeRangeTo, a.SurchargeAmount, a.Percentage, a.Amount, a.EduCessPercent, a.EduCessAmount, a.SurchargePercent
        var SortName, Caption, url, width, height;
        ColModel = ['Id', 'HotelEligibilityCode', 'Hotel Type', 'Room Type', 'Lodging Elligible Amt PerDay', 'Food Elligible Amt PerDay'];
        ColNames = ['Id', 'HotelEligibilityCode', 'Hotel Type', 'Room Type','Lodging Elligible Amt PerDay', 'Food Elligible Amt PerDay'];
        SortName = 'Id';
        Caption = 'Hotel Eligibility Policy';
        url = '@Url.Action("Grid_HotelElligibilityPolicy")';
        width = 1000;
        height = 150;
        $('#jqgrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);

        $('#create_dialog').P2BCreateDialog();
        $('#create').button().on("click", function () {
            //  $('#Cat').oldDropval("Category");
            $("#frmTDS").trigger("reset");
            $('#create_dialog').P2BCreateDialog('', 0, '', '', 'Create Hotel Eligibility Policy', 'open', '@Url.Action("Create")', '#frmTDS', 'Message :', 'Request Falied :', '#jqgrid', 350, 400, '', '', function (data) {
                $('#Htype').prop('disabled', false);
                $('#Htype').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 3003, "");
                $('#Rtype').prop('disabled', false);
                $('#Rtype').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 3004, "");
            });
        });
        var dt;
        function AssignData() {
            dt = $('#jqgrid').P2BGrid.P2BEdDelV('#jqgrid', 'Id');
        }
        $('#edit').button().click(function (event) {
            AssignData();
            $('#create_dialog').P2BEditModalDialog('@Url.Action("edit")', dt.Id, '@Url.Action("EditSave")', "Edit Hotel Eligibility Policy Data", '#frmTDS', dt.Id, 'Message : ', 'Request Falied :', '#jqgrid', 350, 400, '', '', function (data) {
                $.each(data[0], function (i, k) {
                    $('#HotelEligibilityCode').attr('readonly', 'readonly');
                    $('#HotelEligibilityCode').val(k.HotelEligibilityCode);
                    $('#Lodging_Eligible_Amt_PerDay').val(k.Lodging_Eligible_Amt_PerDay);
                    $('#Food_Eligible_Amt_PerDay').val(k.Food_Eligible_Amt_PerDay);
                    $('#Htype').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 3003, k.HotelType_Id);
                    $('#Rtype').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 3004, k.RoomType_Id);
                });
                $.each(data[1], function (i, k) {
                    //  $('#Cat').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 412, k.Category_Id);

                });

            });
        });



        $('#view').button().click(function (event) {
            AssignData();
            $('#create_dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View Hotel Eligibility Policy Data', '#Addresslist,#ContactDetailslist', '#lookup-Address-Corporate,#create-Address-Corporate,#edit-Address-Corporate,#remove-Address-Corporate,#lookup-ContactDetails-Corporate,#create-ContactDetails-Corporate,#edit-ContactDetails-Corporate,#remove-ContactDetails-Corporate', 500, 620, '#autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#jqgrid', function (data) {
                    $.each(data[0], function (i, k) {
                        $('#HotelEligibilityCode').attr('readonly', 'readonly');
                        $('#HotelEligibilityCode').val(k.HotelEligibilityCode);
                        $('#Lodging_Eligible_Amt_PerDay').val(k.Lodging_Eligible_Amt_PerDay);
                        $('#Food_Eligible_Amt_PerDay').val(k.Food_Eligible_Amt_PerDay);
                        $('#Htype').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 3003, k.HotelType_Id);
                        $('#Rtype').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 3004, k.RoomType_Id);
                    });

                  
                    if ($("#autho").hasClass('auto_active')) {
                        if (data[2] != null) {
                            $('#Name').oldVal(data[2].Name);
                            $('#Categorylist').oldDropval(data[2].BusinessType_Val);
                            $('#Addresslist_old').oldLookupVal(data[2].Address_Val);
                            $('#ContactDetailslist_old').oldLookupVal(data[2].Contact_Val);
                        }
                    }
                });
            });

            $('#delete').button().click(function (event) {
                dt = $('#jqgrid').P2BGrid.P2BEdDelV('#jqgrid', 'Id');
                $('#create_dialog').P2BDeleteModalDialog('@Url.Action("Delete")', dt.Id, 'Are You Sure You Want To Delete', 'Message : ', 'Request failed', '#jqgrid');
        });
        $('.drop').selectmenu().selectmenu("menuWidget").css({ "height": "60px" });
        $('#Lodging_Eligible_Amt_PerDay').attr("value", "0").ForceAmount().MaxLength(10);
        $('#Food_Eligible_Amt_PerDay').attr("value", "0").ForceAmount().MaxLength(10);
        //$('#Percentage').attr("value", "0.0").ForcePercent().MaxLength(4);
        //$('#Amount').attr("value", "0").ForceAmount().MaxLength(10);
        //$('#EduCessPercent').attr("value", "0.0").ForcePercent().MaxLength(4);
        //$('#EduCessAmount').attr("value", "0").ForceAmount().MaxLength(10);
        //$('#SurchargePercent').attr("value", "0.0").ForcePercent().MaxLength(4);
        //$('#SurchargeAmount').attr("value", "0").ForceAmount().MaxLength(10);


    });
    </script>

</head>
<body>
    <div class="form_bg">
        <div class="form_input">
            <div class="button_container">
                <button class="button" id="create">Create</button>
                <button class="button" id="view">View</button>
                <button class="button" id="edit">Edit</button>
                <button class="button" id="delete">Delete</button>


                <div id="grid_form">
                    <div>
                        <table id="jqgrid"></table>
                        <div id="pager2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="create_dialog">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmTDS" }))
        {
            <div class="tds_row1 content_margine">
                @Html.LabelFor(m => m.HotelEligibilityCode, "Hotel Eligibility Code :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.HotelEligibilityCode, new { @class = "popup-content-textbox" })
            </div>
            
            <div class="tds_row1 content_margine">
                @Html.LabelFor(m => m.HotelType, new { @class = "popup-content-label must" })
                <select class="drop" id="Htype" name="Htype" style="width:120px;">
                    <option value="0">-Select-</option>
                </select>
        </div>
            
            <div class="tds_row1 content_margine">
                @Html.LabelFor(m => m.RoomType, new { @class = "popup-content-label must" })
                <select class="drop" id="Rtype" name="Rtype" style="width:120px;">
                    <option value="0">-Select-</option>
                </select>
        </div>
            
            <div class="tds_row1 content_margine">
                @Html.LabelFor(m => m.Lodging_Eligible_Amt_PerDay, "Lodging Eligible Amt PerDay :", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.Lodging_Eligible_Amt_PerDay, new { @class = "popup-content-textbox" })
            </div>
            <div class="tds_row1 content_margine">
                @Html.LabelFor(m => m.Food_Eligible_Amt_PerDay, "Food Eligible Amt PerDay :", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.Food_Eligible_Amt_PerDay, new { @class = "popup-content-textbox" })
            </div>
                      

        }
    </div>

</body>
</html>
