@{
    ViewBag.Title = "Candidate AcademicInfo";
}
@model P2b.Global.EmpAcademicInfo

<html>
<head>
    <title></title>
   
    <style>
        .icon-row {
            position: relative;
            left: 95px;
            top: -150px;
        }

        .transactiontablenew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            /*width: 200px;*/
            display: block;
            overflow: auto;
            height: 500px;
            border-collapse: collapse;
        }

        .transactiondivnew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            width: 507px;
            border-radius: 5px;
            height: 32px;
        }

            .transactiondivnew > div {
                display: inline-block;
                margin: 0 auto;
                padding: 4px;
            }

                .transactiondivnew > div > input {
                    box-sizing: initial;
                    display: inline-block;
                    margin: 0 auto;
                    width: 108px;
                }

        .transactiontablenew th, .transactiontablenew td {
            background: rgba(246, 246, 246, 0.64) none repeat scroll 0 0;
            padding: 5px;
            border-bottom: 1px solid #c5c5c5;
            border-right: 1px solid #c5c5c5;
            text-align: center;
            color: rgba(114, 113, 113, 0.9);
        }

            .transactiontablenew th:nth-child(1) > input, .transactiontablenew td:nth-child(1) > input {
                margin: 0 auto;
            }

            .transactiontablenew th:nth-child(2), .transactiontablenew td:nth-child(2) {
                height: 100%;
                width: 100%;
            }

        .transactiontablenew tr:hover {
            cursor: pointer;
            background: #EEEEEE none repeat scroll 0 0;
        }

        #BusinessType-button {
            font-size: 9px;
            padding-top: 1px;
            font-weight: bold;
        }

        .popup-content-label {
            width: 138px;
            display: block;
            float: left;
            margin: 1px;
        }

        .popup-content-label-2 {
            width: 100px;
            display: block;
            float: left;
            margin: 1px;
        }

        .section1_Leave {
            display: block;
            border: 1.5px solid rgba(207, 207, 207, 0.91);
            height: 688px;
            width: 534px;
            margin: 4px auto;
            position: absolute;
        }

        .section2_Leave {
            display: block;
            border: 2px solid #ddd;
            height: 945px;
            width: 509px;
            margin: 5px 4px;
            position: absolute;
            left: 546px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 150px;
        }

        .row3 {
            width: 471px;
        }

        .row4 {
            position: absolute;
            top: 294px;
            width: 400px;
        }

        .row6 {
            width: 370px;
            display: inline-block;
        }

        .popup-content-textbox-long {
            margin-bottom: 1px;
            width: 290px;
        }



        .row2 {
            width: 402px;
        }
    </style>
</head>

<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <button class="button" id="Create">Create</button>
                <button class="button" id="View">View</button>
                <button class="button" id="Edit">Edit</button>
                <button class="button" id="Delete">Delete</button>
                <button class="button" id="Autho">Authorised</button>
                <div id="Grid_Form">
                    <div>
                        <table id="JqGrid"></table>
                        <div id="pager2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>

    <div id="Create_Dialog">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmCanAcademicInfo", name = "frmCanAcademicInfo" }))
        {

            <div class="section_Method" id="Section_Emp">
                <div class="heading" style="width:1065px">Candidate List</div>

                <div class="employeeselectiondiv">
                    @*<div class="transactiondivnew dynamic addons" style="float:left" id="asd">
                        <div><label>Search : </label><input type="text" id="Employee-Search" style="width: 425px;" /></div>
                        <table cellspacing="0" cellpadding="1" class="transactiontablenew" id="employee_table" style="height: 908px">
                            <tr><th><input type="checkbox" id="Case-Employee" class="Chck_emp" /></th><th>Candidate</th></tr>
                        </table>
                    </div>*@

                    <div class="transactiondivnew dynamic addons" style="float:left" id="asd">
                        <div><label>Search : </label><input type="text" id="Candidate-search" style="width: 425px;" /></div>
                        <table cellspacing="0" cellpadding="1" class="transactiontablenew" id="Candidate_table" style="height: 1035px">
                            <tr><th><input type="checkbox" id="Case-Employee" class="Chck_emp" /></th><th>Candidate</th></tr>
                        </table>
                    </div>
                        @*<span class="btn-span1" aria-hidden="true">
                                <button id="load_emp" class="loan-btn">Load Employee</button>
                            </span>*@
                    @*<input name="geo_id" type="text" id="geo_id" class="struct_input_val" style="display:none" />                             s
                        <input name="pay_id" type="text" id="pay_id" class="struct_input_val" style="display:none" />
                        <input name="fun_id" type="text" id="fun_id" class="struct_input_val" style="display:none" />*@
                </div>
            </div>


            <div class="section2_Leave">
                <div class=" " style="width: 506px;">

                    <input id="Autho_Action" type="hidden" name="Autho_Action" />
                    <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
                    <br />
                    <div class="row3 content_margine">
                        <div id="QualificationDetailsList_old"></div>
                        @Html.LabelFor(m => m.QualificationDetails, "Qualification Details :", new { @class = "popup-content-label" })
                        <div class="popup-content-table">
                            <table class="lookuptableselected" id="QualificationDetailsList">
                                <tr><th>ID</th><th>LookUp Selected QualificationDetailsList</th></tr>
                            </table>
                        </div>
                        <div class="icon-row">
                            <button data-p2btooltip="LookUp QualificationDetails" class="popup-content-icon-lookup" id="LookUp_QualDetails_empAcademicDtl"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Create QualificationDetails" class="popup-content-icon-create" id="Create_QualDetails_empAcademicDtl"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Edit QualificationDetails" class="popup-content-icon-edit" id="Edit_QualDetails_empAcademicDtl"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Remove QualificationDetails" class="popup-content-icon-remove" id="Remove_QualDetails_empAcademicDtl"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                        </div>
                    </div>

                    <div class="row3 content_margine">
                        <div id="HobbyList_old"></div>
                        @Html.LabelFor(m => m.Hobby, "Hobby :", new { @class = "popup-content-label" })
                        <div class="popup-content-table">
                            <table class="lookuptableselected" id="HobbyList">
                                <tr><th>ID</th><th>LookUp Selected HobbyList</th></tr>
                            </table>
                        </div>
                        <div class="icon-row">
                            <button data-p2btooltip="LookUp Hobby" class="popup-content-icon-lookup" id="LookUp_Hobby_empAcademicDtl"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Create Hobby" class="popup-content-icon-create" id="Create_Hobby_empAcademicDtl"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Edit Hobby" class="popup-content-icon-edit" id="Edit_Hobby_empAcademicDtl"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Remove Hobby" class="popup-content-icon-remove" id="Remove_Hobby_empAcademicDtl"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                        </div>
                    </div>



                    <div class="row3 content_margine">
                        <div id="SkillList_Old"></div>
                        @Html.LabelFor(m => m.Skill, "Skill :", new { @class = "popup-content-label" })
                        <div class="popup-content-table">
                            <table class="lookuptableselected" id="SkillList">
                                <tr><th>ID</th><th>LookUp Selected SkillList</th></tr>
                            </table>
                        </div>
                        <div class="icon-row">
                            <button data-p2btooltip="LookUp Skill" class="popup-content-icon-lookup" id="LookUp_Skill_empAcademicDtl"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Create Skill" class="popup-content-icon-create" id="Create_Skill_empAcademicDtl"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Edit Skill" class="popup-content-icon-edit" id="Edit_Skill_empAcademicDtl"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Remove Skill" class="popup-content-icon-remove" id="Remove_Skill_empAcademicDtl"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                        </div>
                    </div>

                    <div class="row3 content_margine">
                        <div id="LanguageSkill_old"></div>
                        @Html.LabelFor(m => m.LanguageSkill, "Language Skill :", new { @class = "popup-content-label" })
                        <div class="popup-content-table">
                            <table class="lookuptableselected" id="LanguageSkillList">
                                <tr><th>ID</th><th>LookUp Selected LanguageSkillList</th></tr>
                            </table>
                        </div>
                        <div class="icon-row">
                            <button data-p2btooltip="LookUp LanguageSkill" class="popup-content-icon-lookup" id="LookUp_LanguageSkill_empAcademicDtl"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Create LanguageSkill" class="popup-content-icon-create" id="Create_LanguageSkill_empAcademicDtl"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Edit LanguageSkill" class="popup-content-icon-edit" id="Edit_LanguageSkill_empAcademicDtl"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Remove LanguageSkill" class="popup-content-icon-remove" id="Remove_LanguageSkill_empAcademicDtl"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                        </div>
                    </div>


                    <div class="row3 content_margine">
                        <div id="ScolarshipList_old"></div>
                        @Html.LabelFor(m => m.Scolarship, "Scolarship :", new { @class = "popup-content-label" })
                        <div class="popup-content-table">
                            <table class="lookuptableselected" id="ScolarshipList">
                                <tr><th>ID</th><th>LookUp Selected ScolarshipList</th></tr>
                            </table>
                        </div>
                        <div class="icon-row">
                            <button data-p2btooltip="LookUp Scolarship" class="popup-content-icon-lookup" id="LookUp_Scolarship_empAcademicDtl"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Create Scolarship" class="popup-content-icon-create" id="Create_Scolarship_empAcademicDtl"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Edit Scolarship" class="popup-content-icon-edit" id="Edit_Scolarship_empAcademicDtl"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Remove Scolarship" class="popup-content-icon-remove" id="Remove_Scolarship_empAcademicDtl"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                        </div>
                    </div>

                    <div class="row3 content_margine">
                        <div id="AwardsList_old"></div>
                        @Html.LabelFor(m => m.Awards, "Awards :", new { @class = "popup-content-label" })
                        <div class="popup-content-table">
                            <table class="lookuptableselected" id="AwardsList">
                                <tr><th>ID</th><th>LookUp Selected AwardsList</th></tr>
                            </table>
                        </div><div class="icon-row">
                            <button data-p2btooltip="LookUp Awards" class="popup-content-icon-lookup" id="LookUp_Awards_empAcademicDtl"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Create Awards" class="popup-content-icon-create" id="Create_Awards_empAcademicDtl"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Edit Awards" class="popup-content-icon-edit" id="Edit_Awards_empAcademicDtl"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Remove Awards" class="popup-content-icon-remove" id="Remove_Awards_empAcademicDtl"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="emplist_row">
                <div id="Grid_Form2">

                </div>
            </div>
        }
    </div>

</body>
</html>

<script>
    $(document).ready(function (e) {
        $("button").button();
        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;
        //ColModel = ['ID','Hobby','Skill'];
        //ColNames = ['ID','Hobby','Skill'];
        ColModel = ['ID', 'Name'];
        ColNames = ['ID', 'Name'];
        SortName = 'ID';
        Caption = 'Employee Academic Info';
        var Academiclist = "#QualificationDetailsList,#HobbyList,#SkillList,#LanguageSkillList,#AwardsList,#ScolarshipList";
        var btndisablenames = "#Edit_QualDetails_empAcademicDtl,#Remove_QualDetails_empAcademicDtl,#Edit_Hobby_empAcademicDtl,#Remove_Hobby_empAcademicDtl,#Edit_Skill_empAcademicDtl,#Remove_Skill_empAcademicDtl,#Edit_LanguageSkill_empAcademicDtl,#Remove_LanguageSkill_empAcademicDtl,#Edit_Scolarship_empAcademicDtl,#Remove_Scolarship_empAcademicDtl,#Edit_Awards_empAcademicDtl,#Remove_Awards_empAcademicDtl";
        var btnEnablenameQual = "#LookUp_QualDetails_empAcademicDtl,#Create_QualDetails_empAcademicDtl,#Edit_QualDetails_empAcademicDtl,#Remove_QualDetails_empAcademicDtl";
        var btnEnablenamehobby = "#LookUp_Hobby_empAcademicDtl,#Create_Hobby_empAcademicDtl,#Edit_Hobby_empAcademicDtl,#Remove_Hobby_empAcademicDtl";
        var btnEnablenameskill = "#LookUp_Skill_empAcademicDtl,#Create_Skill_empAcademicDtl,#Edit_Skill_empAcademicDtl,#Remove_Skill_empAcademicDtl";
        var btnEnablenamelang = "#LookUp_LanguageSkill_empAcademicDtl,#Create_LanguageSkill_empAcademicDtl,#Edit_LanguageSkill_empAcademicDtl,#Remove_LanguageSkill_empAcademicDtl";
        var btnEnablenamescolar = "#LookUp_Scolarship_empAcademicDtl,#Create_Scolarship_empAcademicDtl,#Edit_Scolarship_empAcademicDtl,#Remove_Scolarship_empAcademicDtl";
        var btnEnablenameaward = "#LookUp_Awards_empAcademicDtl,#Create_Awards_empAcademicDtl,#Edit_Awards_empAcademicDtl,#Remove_Awards_empAcademicDtl";
        var btnEnablenameall = btnEnablenameQual & btnEnablenamehobby & btnEnablenameskill & btnEnablenamelang & btnEnablenamescolar & btnEnablenameaward;
        $('#IssueDate').P2BDatePicker();

        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);

        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        };




        //function DateConvert(JsonDate) {
            //    var date = new Date(parseInt(JsonDate.substr(6)));
            //    var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
            //    return displayDate;
        //};




        $('#Create_Dialog').P2BCreateDialog();
        $('#Create').on("click", function (event) {
            $('#frmCanAcademicInfo').trigger("reset");
            $.LoadCanByDefault();
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create Candidate Acedemic Info', 'open', '@Url.Action("Create")', '#frmCanAcademicInfo', 'Message :', 'Request Falied :', '#JqGrid', 595, 1093, Academiclist,btnEnablenameall,function (data) { });

            event.preventDefault();
        });




        $('#Delete').button().click(function (event) {
          //  dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
          // alert(dt.Id);
            $('#Create_Dialog').P2BDeleteModalDialog('@Url.Action("Delete")', 1, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
            event.preventDefault();
        });



       //----------Hobby Details-start----
        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create_Hobby_empAcademicDtl').on("click", function (event) {

            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "Hobby")', 'Create Hobby', 'open', '@Url.Action("Create", "Hobby")', '#FormHobby', 'Message :', 'Request Falied :', '#JqGrid', 150, 366, '', '', '', '#frmCanAcademicInfo', '', function (data) {
                //alert(data[0]);
                $('#HobbyList').P2BLookUpEncapsulate('#HobbyList', 'HobbyList', data[0], data[1], 'HobbyList', '#Remove_Hobby_empAcademicDtl,#Edit_Hobby_empAcademicDtl', 'A');
            });
            event.preventDefault();
        });

        //To get data in Lookup
        $('#LookUp_Hobby_empAcademicDtl').on('click', function (event) {
            //alert ('Show Hobby')
            $('.dialog').P2BLookUpModal('@Url.Action("GetHobbyLKDetails", "EmpAcademicInfo")', '', 'LookupDiv', 'Look Up Data', '#HobbyList', 'HobbyList', 5, 'HobbyList', '#frmCanAcademicInfo', 'A', '#Edit_Hobby_empAcademicDtl,#Remove_Hobby_empAcademicDtl', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });





        $('#Edit_Hobby_empAcademicDtl').button().on("click", function (event) {
            var a = [], b;
            a = $('#HobbyList').P2BGetTableDataonSelectedRow('#HobbyList', 0);
            b = a[0];
          //  console.log(b);
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname,                                                                                                                    height, width, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not, returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "Hobby")', '@Url.Action("edit", "Hobby")', b, '@Url.Action("EditSave", "Hobby")', 'Edit Hobby ', '#FormHobby', b, 'Message :', 'Request Falied :', '#JqGrid', 150, 366, '#frmCanAcademicInfo', '#HobbyList', 'HobbyList', 'HobbyList', 'N', '#Edit_Hobby_empAcademicDtl,#Remove_Hobby_empAcademicDtl', function (data) {
                // setTimeout(function () {
                $.each(data[0], function (i, k) {
                    $('#FormHobby').trigger("reset");
                    $('#HobbyName').val(k.HobbyName);
                });



                // }, 3000);
            });
            event.preventDefault();
        });






        $('#Remove_Hobby_empAcademicDtl').button().on('click', function (event) {
          //  dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'ID');
            var a = [], b;
            a = $('#HobbyList').P2BGetTableDataonSelectedRow('#HobbyList', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('', b,0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#HobbyList', $('#HobbyList').val(), 200, 200, '#frmCanAcademicInfo', '#HobbyList');
            event.preventDefault();
        });

        //----------Hobby Details-end----


        //----------Quali Details-----

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create_QualDetails_empAcademicDtl').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "QualificationDetails")', 'Create Qualification Details', 'open', '@Url.Action("Create", "QualificationDetails")', '#frmQualificationDetails1', 'Message :', 'Request Falied :', '#JqGrid', 500, 600, '', '', '', '#frmCanAcademicInfo', '', function (data) {
                // to show data which is created in partial page
                $('#QualificationDetailsList').P2BLookUpEncapsulate('#QualificationDetailsList', 'QualificationDetailsList', data[0], data[1], 'QualificationDetailsList', '#Edit_QualDetails_empAcademicDtl,#Remove_QualDetails_empAcademicDtl', 'N');
            });
            event.preventDefault();
        });



        //To get data in Lookup
        $('#LookUp_QualDetails_empAcademicDtl').on('click', function (event) {
           // alert('Show QualDetails')
            $('.dialog').P2BLookUpModal('@Url.Action("GetQualificationDetailLKDetails", "EmpAcademicInfo")', '', 'LookupDiv', 'Look Up Data', '#QualificationDetailsList', 'QualificationDetailsList', 10, 'QualificationDetailsList', '#frmCanAcademicInfo', 'A', '#Remove_QualDetails_empAcademicDtl,#Edit_QualDetails_empAcademicDtl', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });



        $('#Edit_QualDetails_empAcademicDtl').button().on("click", function (event) {
            var a = [], b;
            a = $('#QualificationDetailsList').P2BGetTableDataonSelectedRow('#QualificationDetailsList', 0);
            b = a[0];
            console.log(b);
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname,                                                                                                                    height, width, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not, returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "QualificationDetails")', '@Url.Action("Edit", "QualificationDetails")', b, '@Url.Action("EditSave", "QualificationDetails")', 'Edit QualificationDetails', '#frmQualificationDetails1', b, 'Message :', 'Request Falied :', '#JqGrid', 500, 600, '#frmCanAcademicInfo', '#QualificationDetailsList', 'QualificationDetailsList', 'QualificationDetailsList', 'N', '#Remove_QualDetails_empAcademicDtl,#Edit_QualDetails_empAcademicDtl', function (data) {
                // setTimeout(function () {
                $.each(data[0], function (i, k) {

                    $('#frmQualificationDetails1').trigger("reset");

                    $('#Institute').val(k.Institute);
                    $('#SpecilisedBranch').val(k.SpecilisedBranch);
                    $('#University').val(k.University);

                    $('#ResultPercentage').val(k.ResultPercentage);
                    $('#SpecilisedBranch').val(k.SpecilisedBranch);
                    $('#ResultGradation').val(k.ResultGradation);

                    $('#SpecialFeature').val(k.SpecialFeature);
                    if (k.PasingYear != null) {
                        $('#PasingYear').val(DateConvert(k.PasingYear));
                    }
                    if (k.ResultSubmissionDate != null) {
                        $('#ResultSubmissionDate').val(DateConvert(k.ResultSubmissionDate));
                    }

                });

                $.each(data[1], function (i, k) {
                    $('#Qualificationlist').P2BLookUpEncapsulate('#Qualificationlist', 'Qualificationlist', k.Qual_Id, k.Qual_FullDetails, 'Qualificationlist', '#Edit-Qualification-QualDetails,#Remove-Qualification-QualDetails', 'A');
                });
                // }, 3000);
            });
            event.preventDefault();
        });





        $('#Remove_QualDetails_empAcademicDtl').button().on('click', function (event) {
          //  dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'ID');
            var a = [], b;
            a = $('#QualificationDetailsList').P2BGetTableDataonSelectedRow('#QualificationDetailsList', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#QualificationDetailsList', $('#QualificationDetailsList').val(), 200, 200, '#frmCanAcademicInfo', '#QualificationDetailsList');
            event.preventDefault();
        });

        //----------Quali Details-end----

        //----------Skill Details-start----


        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create_Skill_empAcademicDtl').on("click", function (event) {
          //  alert('create Hobby');
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "Skill")', 'Create Skill', 'open', '@Url.Action("Create", "Skill")', '#FormSkill', 'Message :', 'Request Falied :', '#JqGrid', 185, 429, '', '', '', '#frmCanAcademicInfo', '', function (data) {
                //alert(data[0]);
                $('#SkillList').P2BLookUpEncapsulate('#SkillList', 'SkillList', data[0], data[1], 'SkillList', '#Remove_Skill_empAcademicDtl,#Edit_Skill_empAcademicDtl', 'A');
            });
            event.preventDefault();
        });

        //To get data in Lookup

        $('#LookUp_Skill_empAcademicDtl').on('click', function (event) {
            //alert ('Show Hobby')
            $('.dialog').P2BLookUpModal('@Url.Action("GetSkillLKDetails", "EmpAcademicInfo")', '', 'LookupDiv', 'Look Up Data', '#SkillList', 'SkillList', 5, 'SkillList', '#frmCanAcademicInfo', 'A', '#Remove_Skill_empAcademicDtl,#Edit_Skill_empAcademicDtl', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });



        $('#Edit_Skill_empAcademicDtl').button().on("click", function (event) {
            var a = [], b;
            a = $('#HobbyList').P2BGetTableDataonSelectedRow('#SkillList', 0);
            b = a[0];
            console.log(b);
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname,                                                                                                                    height, width, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not, returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "Skill")', '@Url.Action("edit", "Skill")', b, '@Url.Action("EditSave", "Skill")', 'Edit Skill ', '#FormSkill', b, 'Message :', 'Request Falied :', '#JqGrid', 185, 429, '#frmCanAcademicInfo', '#SkillList', 'SkillList', 'SkillList', 'N', '#Edit_Skill_empAcademicDtl,#Remove_Skill_empAcademicDtl', function (data) {
                // setTimeout(function () {
                $.each(data[0], function (i, k) {
                    $('#FormSkill').trigger("reset");
                    $('#Name').val(k.Name);
                });



                // }, 3000);
            });
            event.preventDefault();
        });

        $('#Remove_Skill_empAcademicDtl').button().on('click', function (event) {
          //  dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'ID');
            var a = [], b;
            a = $('#SkillList').P2BGetTableDataonSelectedRow('#SkillList', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#SkillList', $('#SkillList').val(), 200, 200, '#frmCanAcademicInfo', '#SkillList');
            event.preventDefault();
        });

        //----------Skill Details-end----

        //----------languge Details-start----

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create_LanguageSkill_empAcademicDtl').on("click", function (event) {
            //  alert('create Hobby');
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "LanguageSkill")', 'Create LanguageSkill', 'open', '@Url.Action("Create", "LanguageSkill")', '#FormLanguageSkill', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#frmCanAcademicInfo', '', function (data) {
                //alert(data[0]);
                $('#LanguageSkillList').P2BLookUpEncapsulate('#LanguageSkillList', 'LanguageSkillList', data[0], data[1], 'LanguageSkillList', '', 'A');
            });
            event.preventDefault();
        });

        //To get data in Lookup


        $('#LookUp_LanguageSkill_empAcademicDtl').on('click', function (event) {
            //alert ('Show Hobby')
            $('.dialog').P2BLookUpModal('@Url.Action("GetLanguageSkillLKDetails", "EmpAcademicInfo")', '', 'LookupDiv', 'Look Up Data', '#LanguageSkillList', 'LanguageSkillList', 5, 'LanguageSkillList', '#frmCanAcademicInfo', 'A', '#Edit_LanguageSkill_empAcademicDtl,#Remove_LanguageSkill_empAcademicDtl', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        $('#Edit_LanguageSkill_empAcademicDtl').button().on("click", function (event) {
            var a = [], b;
            a = $('#LanguageSkillList').P2BGetTableDataonSelectedRow('#LanguageSkillList', 0);
            b = a[0];
           // console.log(b);
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname,                                                                                                                    height, width, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not, returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "LanguageSkill")', '@Url.Action("edit", "LanguageSkill")', b, '@Url.Action("EditSave", "LanguageSkill")', 'Edit Language ', '#FormLanguageSkill', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmCanAcademicInfo', '#LanguageSkillList', 'LanguageSkillList', 'LanguageSkillList', 'N', '#Edit_LanguageSkill_empAcademicDtl,#Remove_LanguageSkill_empAcademicDtl', function (data) {
                // setTimeout(function () {
                $.each(data[0], function (i, k) {
                    $('#FormLanguageSkill').trigger("reset");
                    $('#Name').val(k.Name);

                    $('#SkillTypelist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 308, k.SkillType_Id);
                });

                $.each(data[1], function (i, k) {
                    $('#Languagelist').P2BLookUpEncapsulate('#Languagelist', 'Languagelist', k.Language_Id, k.Language_FullDetails, 'Languagelist', '#Edit-Language-Languageskill,#Remove-Language-Languageskill', 'A');
                });

                // }, 3000);
            });
            event.preventDefault();
        });

        $('#Remove_LanguageSkill_empAcademicDtl').button().on('click', function (event) {
          //  dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'ID');
            var a = [], b;
            a = $('#LanguageSkillList').P2BGetTableDataonSelectedRow('#LanguageSkillList', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#LanguageSkillList', $('#LanguageSkillList').val(), 200, 200, '#frmCanAcademicInfo', '#LanguageSkillList');
            event.preventDefault();
        });

        //----------language Details-end----

        //----------Scolarship Details-start----
        $('<div></div>').P2BPartialCreateModalDialog();


        $('#Create_Scolarship_empAcademicDtl').on("click", function (event) {
            //  alert('create Hobby');
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "Scolarship")', 'Create Scolarship', 'open', '@Url.Action("Create", "Scolarship")', '#FormScolarship', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#frmCanAcademicInfo', '', function (data) {
                //alert(data[0]);
                $('#ScolarshipList').P2BLookUpEncapsulate('#ScolarshipList', 'ScolarshipList', data[0], data[1], 'ScolarshipList', '#LookUp_Scolarship_empAcademicDtl,#Create_Scolarship_empAcademicDtl', 'A');
            });
            event.preventDefault();
        });


        //To get data in Lookup


        $('#LookUp_Scolarship_empAcademicDtl').on('click', function (event) {
            //alert ('Show Hobby')
            $('.dialog').P2BLookUpModal('@Url.Action("GetScolarshipLKDetails", "EmpAcademicInfo")', '', 'LookupDiv', 'Look Up Data', '#ScolarshipList', 'ScolarshipList', 5, 'ScolarshipList', '#frmCanAcademicInfo', 'A', '#Edit_Scolarship_empAcademicDtl,#Remove_Scolarship_empAcademicDtl', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });



        $('#Edit_Scolarship_empAcademicDtl').button().on("click", function (event) {
            var a = [], b;
            a = $('#ScolarshipList').P2BGetTableDataonSelectedRow('#ScolarshipList', 0);
            b = a[0];
            console.log(b);
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname,                                                                                                                    height, width, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not, returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "Scolarship")', '@Url.Action("edit", "Scolarship")', b, '@Url.Action("EditSave", "Scolarship")', 'Edit Scolarship ', '#FormScolarship', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmCanAcademicInfo', '#ScolarshipList', 'ScolarshipList', 'ScolarshipList', 'N', '#Edit_Scolarship_empAcademicDtl,#Remove_Scolarship_empAcademicDtl', function (data) {
                // setTimeout(function () {
                $.each(data[0], function (i, k) {
                    $('#FormScolarship').trigger("reset");
                    $('#Name').val(k.Name);
                    $('#Details').val(k.Details);
                    if (k.IssueDate != null)
                    { $('#IssueDate').val(DateConvert(k.IssueDate)); }
                });



                // }, 3000);
            });
            event.preventDefault();
        });


        $('#Remove_Scolarship_empAcademicDtl').button().on('click', function (event) {
          //  dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'ID');
            var a = [], b;
            a = $('#ScolarshipList').P2BGetTableDataonSelectedRow('#ScolarshipList', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('', b,0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#ScolarshipList', $('#ScolarshipList').val(), 200, 200, '#frmCanAcademicInfo', '#ScolarshipList');
            event.preventDefault();
        });

        //----------Scolarship Details-end----

        //----------Award Details-start----
        $('<div></div>').P2BPartialCreateModalDialog();


        $('#Create_Awards_empAcademicDtl').on("click", function (event) {
            //  alert('create Hobby');
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "Awards")', 'Create Awards', 'open', '@Url.Action("Create", "Awards")', '#FormAwards', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#frmCanAcademicInfo', '', function (data) {
                //alert(data[0]);
                $('#AwardsList').P2BLookUpEncapsulate('#AwardsList', 'AwardsList', data[0], data[1], 'AwardsList', '#Edit_Awards_empAcademicDtl,#Remove_Awards_empAcademicDtl', 'A');
            });
            event.preventDefault();
        });


        //To get data in Lookup


        $('#LookUp_Awards_empAcademicDtl').on('click', function (event) {
            //alert ('Show Hobby')
            $('.dialog').P2BLookUpModal('@Url.Action("GetAwardsLKDetails", "EmpAcademicInfo")', '', 'LookupDiv', 'Look Up Data', '#AwardsList', 'AwardsList', 5, 'AwardsList', '#frmCanAcademicInfo', 'A', '#Edit_Awards_empAcademicDtl,#Remove_Awards_empAcademicDtl', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });




        $('#Edit_Awards_empAcademicDtl').button().on("click", function (event) {
            var a = [], b;
            a = $('#AwardsList').P2BGetTableDataonSelectedRow('#AwardsList', 0);
            b = a[0];
            console.log(b);
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname,                                                                                                                    height, width, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not, returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "Awards")', '@Url.Action("edit", "Awards")', b, '@Url.Action("EditSave", "Awards")', 'Edit Awards ', '#FormAwards', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmCanAcademicInfo', '#AwardsList', 'AwardsList', 'AwardsList', 'N', '#Edit_Awards_empAcademicDtl,#Remove_Awards_empAcademicDtl', function (data) {
                // setTimeout(function () {
                $.each(data[0], function (i, k) {
                    $('#FormAwards').trigger("reset");
                    $('#Name').val(k.Name);
                    $('#Details').val(k.Details);
                    if (k.IssueDate != null)
                    { $('#IssueDate').val(DateConvert(k.IssueDate)); }

                });



                // }, 3000);
            });
            event.preventDefault();
        });
        $('#Remove_Awards_empAcademicDtl').button().on('click', function (event) {
          //  dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'ID');
            var a = [], b;
            a = $('#AwardsList').P2BGetTableDataonSelectedRow('#AwardsList', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('', b,0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#AwardsList', $('#AwardsList').val(), 200, 200, '#frmCanAcademicInfo', '#AwardsList');
            event.preventDefault();
        });

        //----------Award Details-end----



        // Main page edit
        $('#Edit').on('click', function () {
            AssignData();
            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.ID, '@Url.Action("EditSave")', "Edit Employee Acedemic Info ->" + JSON.stringify(dt) + "", '#frmCanAcademicInfo', dt.ID, 'Message : ', 'Request Falied :', '#JqGrid', 595, 1093, Academiclist, '', function (data) {
                // setTimeout(function () {
                //alert(dt.Id)
                //$.each(data[0], function (i, k) {
                //    alert(data[0])
                //   // console.log(k.ID);
                //                    });






                $.each(data[1], function (i, k) {
                    $('#HobbyList').P2BLookUpEncapsulate('#HobbyList', 'HobbyList', k.HobbyDetails_Id, k.HobbyDetails_val, 'HobbyList', '#Edit_Hobby_empAcademicDtl,#Remove_Hobby_empAcademicDtl', 'A');

                });

                $.each(data[1], function (i, k) {
                    $('#AwardsList').P2BLookUpEncapsulate('#AwardsList', 'AwardsList', k.AwardsDetails_Id, k.AwardsDetails_val, 'AwardsList', '#Edit_Awards_empAcademicDtl,#Remove_Awards_empAcademicDtl', 'A');
                });
                $.each(data[1], function (i, k) {
                    $('#QualificationDetailsList').P2BLookUpEncapsulate('#QualificationDetailsList', 'QualificationDetailsList', k.QualificationDetailsdtl_Id, k.QualificationDetailsdtl_val, 'QualificationDetailsList', '#Edit_QualDetails_empAcademicDtl,#Remove_QualDetails_empAcademicDtl', 'A');
                });
                $.each(data[1], function (i, k) {
                    $('#SkillList').P2BLookUpEncapsulate('#SkillList', 'SkillList', k.SkillDetails_Id, k.SkillDetails_val, 'SkillList', '#Edit_Skill_empAcademicDtl,#Remove_Skill_empAcademicDtl', 'A');
                });
                $.each(data[1], function (i, k) {
                    $('#ScolarshipList').P2BLookUpEncapsulate('#ScolarshipList', 'ScolarshipList', k.Scolarshipdtl_Id, k.Scolarshipdtl_val, 'ScolarshipList', '#Edit_Scolarship_empAcademicDtl,#Remove_Scolarship_empAcademicDtl', 'A');
                });
                $.each(data[1], function (i, k) {
                    $('#LanguageSkillList').P2BLookUpEncapsulate('#LanguageSkillList', 'LanguageSkillList', k.LanguageSkillDtl_Id, k.LanguageSkillDtl_val, 'LanguageSkillList', '#Edit_LanguageSkill_empAcademicDtl,#Remove_LanguageSkill_empAcademicDtl', 'A');
                });


                //alert(data[3]);
                $('#Autho_Allow').val(data[3]); //Compulsory for authorisation
                // }, 2000);
            });
        });

        //View main page
        $('#View').button().click(function (event) {
            AssignData();
            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.ID, "View Employee Acedemic Info ->" + JSON.stringify(dt) + "", Academiclist, btnEnablenameall, 595, 1093, '#Autho', '@Url.Action("AuthSave")', dt.ID, '', '', '', '', '#JqGrid', function (data) {
                //alert(dt.Id)
                $.each(data[0], function (i, k) {
                    $('#Autho_Action').val(k.Action);

                });

                $.each(data[1], function (i, k) {
                    $('#HobbyList').P2BLookUpEncapsulate('#HobbyList', 'HobbyList', k.HobbyDetails_Id, k.HobbyDetails_val, 'HobbyList', 'view', 'A');
                });

                $.each(data[1], function (i, k) {
                    $('#AwardsList').P2BLookUpEncapsulate('#AwardsList', 'AwardsList', k.AwardsDetails_Id, k.AwardsDetails_val, 'AwardsList', 'view', 'A');
                });
                $.each(data[1], function (i, k) {
                    $('#QualificationDetailsList').P2BLookUpEncapsulate('#QualificationDetailsList', 'QualificationDetailsList', k.QualificationDetailsdtl_Id, k.QualificationDetailsdtl_val, 'QualificationDetailsList', 'view', 'A');
                });
                $.each(data[1], function (i, k) {
                    $('#SkillList').P2BLookUpEncapsulate('#SkillList', 'SkillList', k.SkillDetails_Id, k.SkillDetails_val, 'SkillList', 'view', 'A');
                 });
                $.each(data[1], function (i, k) {
                    $('#ScolarshipList').P2BLookUpEncapsulate('#ScolarshipList', 'ScolarshipList', k.Scolarshipdtl_Id, k.Scolarshipdtl_val, 'ScolarshipList', 'view', 'A');
                });
                $.each(data[1], function (i, k) {
                    $('#LanguageSkillList').P2BLookUpEncapsulate('#LanguageSkillList', 'LanguageSkillList', k.LanguageSkillDtl_Id, k.LanguageSkillDtl_val, 'LanguageSkillList', 'view', 'A');
                   });




                //To bind old data if authorisation is true
                if ($("#Autho").hasClass('auto_active')) {
                    $('#QualificationDetailsList_old').oldLookupVal(data[2].QualificationDetails_val);
                    $('#HobbyList_old').oldLookupVal(data[2].Hobby_val);
                    $('#SkillList_Old').oldLookupVal(data[2].Skill_val);
                    $('#LanguageSkillList_old').oldLookupVal(data[2].LanguageSkill_val);
                    $('#AwardsList_old').oldLookupVal(data[2].Awards_val);
                    $('#ScolarshipList_old').oldLookupVal(data[2].Scolarship_val);
                    @*$.each(data[2], function (i, k) {
                        // $('#Code').Oldval(k.Code);
                        alert(k.Name)
                        $('#Name').oldVal(k.Name);
                        $('#CategoryList_DDL').oldDropval(k.BusinessType_Val);
                        $('#AddressList_Old').oldLookupVal(k.Address_Val);
                        $('#ContactDetailsList_Old').oldLookupVal(k.Contact_Val);
                        //$('#CategoryList_DDL').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 304, k.BusinessType_Id);
                    });*@
                    }
                //}, 2000);
            });
            });


        $('.popup_radio_button').controlgroup();
        $('#Autho').makeDisable('#Create,#Edit,#Delete');
        $('#SkillTypelist').selectmenu().selectmenu("menuWidget");
        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');

    });
</script>