@{
    ViewBag.Title = "Increment Service Book";
}
@model Payroll.IncrementServiceBook
<html>

<head>

    <title></title>



    <style>
        .without-btn {
            height: 216px;
        }

        .section2_Leave {
            display: block;
            border: 1px solid #ddd;
            height: 300px;
            width: 581px;
            margin: 5px 4px;
            position: absolute;
            left: 354px;
            padding-top: 8px;
            padding-left: 7px;
        }

        .icon-row {
            position: relative;
            left: 61px;
            top: -150px;
        }


        .popup-content-label {
            display: block;
            float: left;
            width: 110px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 150px;
        }

        .popup-content-textbox-long {
            margin-bottom: 1px;
            width: 290px;
        }

        .FormYearlypymentt {
            margin-left: 298px;
            margin-top: 15px;
        }


        .FormRelaseYearlypymentt {
            margin-top: 10px;
        }

        .FormYearlypymentt {
            margin-top: 10px;
        }

        .newcontentdiv {
            float: right;
        }

        .transactiontable {
            height: 187px;
        }

        .section1_Leave {
            display: block;
            border: 1.5px solid rgba(207, 207, 207, 0.91);
            height: 560px;
            width: 324px;
            margin: 4px auto;
            position: absolute;
            padding-left: 11px;
        }

        .oldstruct-div {
            width: 192px;
            float: left;
            margin: 1px 105px;
            position: relative;
        }


        .newstruct-div {
            float: left;
            width: 193px;
            margin: 3px auto;
        }

        .oldstruct-label-class {
            margin: 0 44px;
            font-weight: bold;
        }

        .oldstruct-textarea-class {
            height: 192px;
        }

        .row3 {
            display: inline-block;
            width: 563px;
        }

        .row4 {
            display: inline-block;
            right: 30px;
/*            position: absolute;*/
            top: 239px;
        }

        .row1 {
            /*display: inline-block;*/
            width: 563px;
        }

        .txtMonth {
            /*//margin-left:-100px;
          //  width:78px;*/
        }

        .button {
        }

        .earnamt {
            font-family: Verdana;
            font-size: 1em;
            outline: 0px;
            float: right;
        }
    </style>
</head>

<body>

    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <label id="lblPayMonth" class="popup-content-label must">PayMonth:</label>
                <div style="float:left">   <input name="TextPayMonth" type="text" id="TextPayMonth" class="date-picker txtMonth" /></div>
                <div>   <button class="button btncls" id="Load">Load</button></div>
                <button class="button btncls" id="add">Add</button>
                <button class="button btncls" id="release">Release</button>
                <button class="button btncls" id="releaseHold">Release Hold</button>
                <button class="button btncls" id="Hold">Hold</button>
                <button class="button" id="double_incr_btn">Double Increment</button>
                <button class="button" id="Btn-Upload-Data">Upload</button>
                @*<button class="button" id="incr_ser_bkupload">Incr Ser BookUpload</button>*@

            </div>
        </div>
    </div>

    <div id="Grid_Form">
        <div>
            <div id="Container" class="container">
                <div id="Demo">
                    <table id="MyTable" class="display" cellspacing="0" width="100%">
                        <thead>
                            <tr style="text-align:left">
                                <th>DD</th>
                                <th>EmployeeCode</th>
                                <th>EmployeeName</th>
                                <th>ID</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>DD</th>
                                <th>EmployeeCode</th>
                                <th>EmployeeName</th>
                                <th>ID</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            @*<table id="JqGrid"></table>
                <div id="pager2"></div>*@
        </div>
    </div>

    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>

    <div id="Create_Dialog" title="Create Increment Service Book">
        @*<div class="filter-div">
                <label class="advance_filter_label">Advance Filter<span class="advance_filter_sysmbol_class_plus" id="Advance-Filter-Symbol"></span></label>
                <div id="FormFilter"></div>
            </div>
            <div class="section1_Leave">*@
        @*<br />*@
        @*<input type="checkbox" name="IncrementEmpLoad" id="IncrementEmpLoad" /> Regular Increment Employee*@
        @*<div class="fileremployee">
                    <div class="employee-transcationdiv" style="float:left">
                        <div><label>Search : </label><input type="text" id="Employee-Search" /></div>
                        <table cellspacing="0" cellpadding="1" class="employee-transcationtable" id="Employee-Table">
                            <tr><th><input type="checkbox" id="Case-Employee" /></th><th>Employee</th></tr>
                        </table>
                    </div>
                </div>
            </div>*@
        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmIncrServBook", name = "frmIncrServBook" }))
        {
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
            <input id="geo_id" name="geo_id" class="filter_structure_id" />
            <input id="pay_id" name="pay_id" class="filter_structure_id" />
            <input id="fun_id" name="fun_id" class="filter_structure_id" />
            <div class="filter-div">
                <label class="advance_filter_label">Advance Filter<span class="advance_filter_sysmbol_class_plus" id="Advance-Filter-Symbol"></span></label>
                <div id="FormFilter"></div>
            </div>

            <div class="form-of-element">

                <div class="fileremployee">
                    <div class="employee-transcationdiv" style="float:left">
                        <div><label>Search : </label><input type="text" id="Employee-Search" /></div>
                        <table cellspacing="0" cellpadding="1" class="employee-transcationtable" id="Employee-Table">
                            <tr><th><input type="checkbox" id="Case-Employee" /></th><th>Employee</th></tr>
                        </table>
                    </div>
                </div>

                <div class="FormIncrServBook">

                    <div class="row3 content_margine">
                        @Html.LabelFor(m => m.IncrActivity, "Activity:", new { @class = "popup-content-label" })<select id="IncrActivitylist" class="drop" name="IncrActivitylist" style="width:159px;"><option value="0">-Select-</option></select>

                        <div class="newcontentdiv">
                            @Html.LabelFor(m => m.ProcessIncrDate, "Activity Date:", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.ProcessIncrDate, new { @class = "popup-content-textbox must" })
                        </div>
                    </div>
                    <div class="row3 content_margine">

                        <label class="popup-content-label">InCrPolicy Name :</label><select id="incrementpolicy_drop" class="drop" name="incrpolicy" style="width:159px;"><option value="0">-Select-</option></select>
                    </div>
                    @*<div class="row3 content_margine">@Html.LabelFor(m => m.EmployeeCTC, "CTC:", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.EmployeeCTC, new { @class = "popup-content-textbox must" })</div>*@

                    <div class="row2 content_margine">
                        @Html.LabelFor(m => m.Narration, "Narration:", new { @class = "popup-content-label must" })
                        @Html.TextBoxFor(m => m.Narration, new { @class = "popup-content-narration must", id = "Promotion_Narration" })
                    </div>
                </div>
            </div>
        }

    </div>

    <div id="CreateRelease_dialog" title="Create IncrementServiceBook Release">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmIncrServBookRelease", name = "frmIncrServBookRelease" }))
        {
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
            <input id="emp_Id" class="filter_structure_id" name="emp_Id" />
            <input id="Activity_Id" class="filter_structure_id" name="Activity_Id" />
            <input id="releas_Id" class="filter_structure_id" name="releas_Id" />
            <input id="releas_HoldId" class="filter_structure_id" name="releas_Id" />
            <input id="IncrMonth" class="filter_structure_id" name="IncrMonth" />

            <div class="Release_grid" id="Grid_Form_release">
                <div>
                    <table id="JqGrid_release"></table>
                    <div id="pager2_release"></div>
                </div>
            </div>
            <div class="Release_grid" id="Grid_Form_releaseHold">
                <div>
                    <table id="JqGrid_releaseHold"></table>
                    <div id="pager2_releaseHold"></div>
                </div>
            </div>

            <div class="FormRelaseYearlypymentt">
                <div class="row3 content_margine" id="ActivityDiv_Id">
                    @Html.LabelFor(m => m.IncrActivity, "Activity:", new { @class = "popup-content-label" })<input type="text" id="txtpromoactivityrelease" name="txtpromoactivityrelease" class="popup-content-textbox must" />
                    <div class="newcontentdiv">
                        @Html.LabelFor(m => m.ProcessIncrDate, "Activity Date:", new { @class = "popup-content-label must" })<input type="text" id="txtProcessIncrDaterelease" name="txtProcessIncrDaterelease" class="popup-content-textbox must date-picker " />
                    </div>
                </div>
                <div class="row3 content_margine">
                    @Html.LabelFor(m => m.ReleaseFlag, "Release Flag:", new { @class = "popup-content-label must" })
                    <div class="popup_radio_button">
                        <input type="radio" id="ProcessFlag_radio1" class="popup_radio_button" name="ReleaseFlag" value="true" /><label for="ProcessFlag_radio1">Yes</label>
                        <input type="radio" id="ProcessFlag_radio2" class="popup_radio_button" name="ReleaseFlag" value="false" checked="checked" /><label for="ProcessFlag_radio2">No</label>
                    </div>
                    <div id="ExtendedFlagDiv_id">
                        <label class="popup-content-label">Extend ReleaseDate</label>
                        <div class="popup_radio_button">
                            <input type="radio" id="ExtendReleaseFlag_radio1" class="popup_radio_button" name="ExtendReleaseFlag" value="true" /><label for="ExtendReleaseFlag_radio1">Yes</label>
                            <input type="radio" id="ExtendReleaseFlag_radio2" class="popup_radio_button" name="ExtendReleaseFlag" value="false" checked="checked" /><label for="ExtendReleaseFlag_radio2">No</label>
                        </div>
                    </div>

                </div>

                <div class="row1 content_margine">
                    @Html.LabelFor(m => m.ReleaseDate, "Release Date:", new { @class = "popup-content-label must" })
                    @Html.TextBoxFor(m => m.ReleaseDate, new { @class = "popup-content-textbox must" })
                </div>

            </div>

            @*<div class="row2 content_margine">
                @Html.LabelFor(m => m.Narration, "Narration:", new { @class = "popup-content-label must" })
                @Html.TextBoxFor(m => m.Narration, new { @class = "popup-content-narration must", id = "Promotion_Narration" })
            </div>*@
            
           
             <div class="row4 content_margine" id="divinline_jq" style="display:none">
                <input type="hidden" id="SalHeadCount" name="SalHeadCount" value="">
                <input type="hidden" id="input_hidden_field" name="input_hidden_field" value="">
                <table class="tbl" style="width:108%" id="tblinline">
                    <tr>
                        <td class="td1">
                            <label><center><b>Earning</b></center></label>
                        </td>
                    </tr>
                    <tr>
                        <td class="td1" style="padding:10px;">
                            <ul id="Earn1" ></ul>
                        </td>
                    </tr>
                    
                    </table>
            </div>
        }
    </div>


    <div id="Create_Double_incr_popup">
        <form method="post" name="frmdoubleincr" id="frmdoubleincr">
            <input id="empid_frm" name="Employee-Table" class="filter_structure_id" />
            <div class="newstruct-div">
                <div class="transactiondiv">
                    <div><label>Search : </label><input type="text" id="NewGeoT-search" /></div>
                    <table cellspacing="0" cellpadding="1" class="transactiontable" id="NewGeoT-table">
                        <tr><th><input type="checkbox" id="case-NewGeoT" /></th><th>Double Increment Employee List</th></tr>
                    </table>
                </div>
            </div>
            <div class="row4 content_margine">
                <label class="popup-content-label">Activity :</label>
                <input class="popup-content-textbox" id="dbl_activity" />
                <input class="popup-content-textbox filter_structure_id" name="IncrActivitylist" id="dbl_activity_frm" />
            </div>
            <div class="row4 content_margine">
                <label class="popup-content-label">Policy :</label>
                <input class="popup-content-textbox" id="dbl_Policy" />
                <input class="popup-content-textbox filter_structure_id" name="incrpolicy" id="dbl_Policy_frm" />
            </div>
            <div class="row4 content_margine">
                <label class="popup-content-label">Activity Date :</label>
                <input class="popup-content-textbox" name="ProcessIncrDate" id="dbl_Date" />
            </div>
            <div class="row4 content_margine">
                <label class="popup-content-label">Narration :</label>
                <input class="popup-content-textbox" name="Narration" id="dbl_Narration" />
            </div>
        </form>
    </div>

    <div id="CreateHold_dialog" title="Create IncrementServiceBook Hold">

        <form method="post" name="frmIncrServBookHold" id="frmIncrServBookHold">
            <input id="autho_actionH" type="hidden" name="autho_actionH" />
            <input id="autho_allowH" type="hidden" name="autho_allowh" />
            <input id="emp_Idh" class="filter_structure_id" name="emp_IdH" />
            <input id="Activity_Idh" class="filter_structure_id" name="Activity_Idh" />
            <input id="Holds_Id" class="filter_structure_id" name="Holds_Id" />
            <input id="IncrMonthH" class="filter_structure_id" name="IncrMonthH" />
            <div class="Hold_grid">
                <div id="Grid_Form_Hold">
                    <div>
                        <table id="JqGrid_Hold"></table>
                        <div id="pager2_Hold"></div>
                    </div>
                </div>
            </div>
            <div class="row3 content_margine">
                <label id="lblHoldNarrationRelease" class="popup-content-label">Hold Narration:</label>
                <input type="text" id="txtHoldNarrationRelease" name="txtHoldNarrationRelease" class="popup-content-textbox must" />
            </div>
            <div class="row1 content_margine">
                @Html.LabelFor(m => m.ReleaseDate, "Release Date:", new { @class = "popup-content-label must" })
                @Html.TextBoxFor(m => m.ReleaseDate, new { @class = "popup-content-textbox must", @id = "HoldReleaseDate" })
            </div>
        </form>
    </div>

    @*<div id="CreateReleaseHold_dialog" title="Create IncrementServiceBook Hold">

            <form method="post" name="frmIncrServBookReleaseHoldHold" id="frmIncrServBookReleaseHoldHold">
                <input id="autho_actionH" type="hidden" name="autho_actionH" />
                <input id="autho_allowH" type="hidden" name="autho_allowh" />
                <input id="emp_Idh" class="filter_structure_id" name="emp_IdH" />
                <input id="ReleaseHolds_Id" class="filter_structure_id" name="ReleaseHolds_Id" />
                <input id="IncrMonthH" class="filter_structure_id" name="IncrMonthH" />
                <div class="ReleaseHold_grid">
                    <div id="Grid_Form_ReleaseHold">
                        <div>
                            <table id="JqGrid_ReleaseHold"></table>
                            <div id="pager2_ReleaseHold"></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>*@
</body>
</html>
<script>
    $(document).ready(function (e) {
        $('button').button();

        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;
        var btndisablenames = "";
        ColModel = ['EmpCode', 'EmpName', 'Id'];
        ColNames = ['EmpCode', 'EmpName', 'Id'];
        SortName = 'Id';
        Caption = 'Increment Service Book';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;

        $('#TextPayMonth').MonthYearPicker();

        if ($("#TextPayMonth").val() == "") {
            var dt = new Date();
            var month = dt.getMonth() + 1;
            month = month < 10 ? '0' + month : '' + month;
            $("#TextPayMonth").val(month + "/" + dt.getFullYear());
        }

        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }

        //function DateConvert(JsonDate) {
            //    var date = new Date(parseInt(JsonDate.substr(6)));
            //    var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
            //    return displayDate;
        //};
        $('.popup_radio_button').controlgroup();
        //-------------------------Release Grid----------------------------------------//

        var ColNames_release = [];
        var ColModel_release = [];
        var SortName_release, Caption_release, url_release, width_release, height_release;

        ColNames_release = ['EmpCode', 'EmpName', 'Activity', 'ProcessDate', 'OldBasic', 'NewBasic', 'ActivityId', 'Id'];
        ColModel_release = ['EmpCode', 'EmpName', 'Activity', 'ProcessDate', 'OldBasic', 'NewBasic', 'ActivityId', 'Id'];
        SortName_release = 'Id';
        Caption_release = 'Increment Service Book Release';
        Caption_releaseHold = 'Increment Service Book Release Hold';
        Caption_Hold = 'Increment Service Book Hold';
        // url_release = 'IncrementServiceBook/P2BGridRelease';
        url_release = '@Url.Action("P2BGridRelease", "IncrementServiceBook")'
        width_release = 1000;
        height_release = 150;

        //  a.Id, a.SalaryHead.Name, a.FromPeriod, a.ToPeriod, a.AmountPaid, a.OtherDeduction, a.ProcessMonth, a.TDSAmount, a.Narration
        var ReturnStructIds = function (filterid, returnfun) {
            $.ajax({
                method: "Get",
                url: "Transcation/ByDefaultLoadEmp",
                success: function (data) {
                    console.log(data);
                    if (data.GeoStruct != null) {
                        $('#geo_id').val(data.GeoStruct);
                    }
                    if (data.PayStruct != null) {
                        $('#pay_id').val(data.PayStruct);
                    }
                    if (data.FunStruct != null) {
                        $('#fun_id').val(data.FunStruct);
                    }
                    var data = {
                        GeoStruct: $('#geo_id').val() || null,
                        PayStruct: $('#pay_id').val() || null,
                        FunStruct: $('#fun_id').val() || null,
                        Filter: $(filterid).val() || null,
                    };
                    returnfun(data);
                }
            });
        };

        $.LoadEmpByDefaultIncr = function (single, filterid) {
            single = single || false;
            ReturnStructIds(filterid, function (data) {
                var forwarddata = JSON.stringify(data);
                $('#Employee-Table').find('td').remove();
                $('#Employee-Table').P2BTransactionTableDynamic('#Employee-Search', '#Case-Employee', '@Url.Action("Get_Employelist_h", "IncrementServiceBook")?geo_id=' + forwarddata + '', "", single);
            });

        };

        //$('input[type="checkbox"]').click(function () {
        //    if ($(this).prop("checked") == true) {
        //        alert("Checkbox is checked.");
        //    }
        //    else if ($(this).prop("checked") == false) {
        //        alert("Checkbox is unchecked.");
        //    }
        //});

        $("#IncrementEmpLoad").on("click", function () {
            if ($(this).prop("checked") == true) {
                alert('Do you Have processed increment due list? If not then first process it and then only do this activity.');
                $.LoadEmpByDefaultIncr(false);
            }
            else if ($(this).prop("checked") == false) {
                $.LoadEmpByDefault(false);
            }
        });

        $('#JqGrid_release').on('click', function () {
            setTimeout(function () {
                if ($('#emp_Id').val() == "") {
                    var EmpId = $.GetGridSelctedvalue("#JqGrid_release", "Id");
                    var Id = $.GetGridSelctedvalue("#JqGrid_release", "ActivityId");
                    console.log(EmpId);
                    $('#emp_Id').val(EmpId);
                    $('#releas_Id').val(Id);
                }

                $.get("@Url.Action("GetNonstdData")", { data: $('#emp_Id').val() }, function (data) {
                        
                    if (data.msg != "")
                    {
                        alert(data.msg);
                    }
                    if (data.Sal != "") {
                        $('#divinline_jq').removeAttr("style");
                        $("#Earn1").empty();
                        var v1 = data.Sal;
                        var elems = [];
                        $.each(v1, function (i, k) {
                            $('#SalHeadCount').val(i);
                            elems[i] = k.SalaryHead.Id;
                            $("#Earn1").append("<li>" + "<p class=cb>" + k.SalaryHead.Name + "<input class='earnamt' name=Amt" + i + " value=" + k.Amount + " >" + "</input>" + "<input class='earnamt' value=" + k.FormulaEditable + " name=F" + i + " class=bc>" + "</li>");
                        });
                          
                        $('#input_hidden_field').val(elems);
                    } else {
                        $("#Earn1").empty();
                        $('#divinline_jq').attr("display","none");
                    }
                });

                $.get("@Url.Action("Edit")", { data: $('#releas_Id').val() }, function (data) {
                    var k = data[0];
                    //     $.each(data[0], function (i, k) {
                    //  if (k.ProcessIncrDate != null) {
                    $('#txtProcessIncrDateRelease').val(k.ProcessIncrDate);
                    //  }
                    $('#txtpromoactivityrelease').val(k.IncrActivity);
                    $('#Narration').val(k.Narration);

                    //  });
                    // console.log(data);
                });

            }, 500);
        });

        $('#ProcessIncrDate').P2BDatePicker();

        $('#ReleaseDate').P2BDatePicker();
        $('#HoldReleaseDate').P2BDatePicker();

        $('#Advance-Filter-Symbol').on('click', function () {
            $("<div></div>").FilterDialog({
                width: 1000,
                height: 400,
                title: "Filter",
                htmlurl: "@Url.Action("Advance_partial", "Transcation")",
                returnat: function (data) {
                    console.log(data);
                    var forwarddata = JSON.stringify(data);
                    $('#Employee-Table').P2BTransactionTableDynamic('#Employee-Search', '#Case-Employee', '@Url.Action("Get_Employelist_h", "IncrementServiceBook")?geo_id=' + forwarddata + '', "");
                },
                renderat: "#FormFilter", hierarchy: true,
            });
        });

       

        $('input[name="ExtendReleaseFlag"]:radio').change(function () {
            if (this.value == "false") {
                $('#ReleaseDate').prop("disabled", true);
                $('#ReleaseDate').val("");
            }
            else {
                $('#ReleaseDate').prop("disabled", false);
            }
        });
        $('#Create_Dialog').P2BCreateDialog();
        $('#CreateHold_dialog').P2BCreateDialog();
        $('#CreateRelease_dialog').P2BCreateDialog();
        //$('#txtProcessIncrDateRelease').P2BDatePicker();

        $('#add').on("click", function (event) {
            $('#frmIncrServBook').trigger("reset");
            //$.LoadEmpByDefault(true);
            $.LoadEmpByDefaultWOGeoId(true, "");
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create Increment Service Book', 'open', '@Url.Action("Create")', '#frmIncrServBook', 'Message :', 'Request Falied :', '#JqGrid', 570, 1055, '', '', function (data) { }, '');
            @*$('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create Increment Service Book', 'open', '@Url.Action("Create")', '#frmIncrServBook', 'Message :', 'Request Falied :', '#JqGrid', 600, 1020, '', '', function (data) { }, '');*@
            @*$('#IncrActivitylist').SelectMenuAppend('@Url.Action("PopulateDropDownActivityList", "IncrementServiceBook")', "", "IncrActivity");*@
            @*$('#IncrActivitylist').SelectMenuOnChange("@Url.Action("PopulateDropDownFunctionForIncr", "ServiceBookPolicy")", "#incrementpolicy_drop", "", "IncrPolicy");*@

            $('#ProcessIncrDate').attr('readonly', true);
            event.preventDefault();
        });
        $('.drop').selectmenu().selectmenu("menuWidget");

        //   $('#txtNarrationRelease').prop("readonly", "readonly");
        $('#txtincractivityrelease').prop("readonly", "readonly");
        $('#txtProcessIncrDaterelease').P2BDatePicker();
        $('#txtProcessIncrDateRelease').prop("readonly", "readonly");

        var Empdata = {

            Get: $('#Emp').val(),
            Set: function (data) {
                console.log(data);
                if ($('#Emp').val() != "" && $('#Emp').val() != null) {
                    var temp = $('#Emp').val();
                    var ch = temp + "," + data;
                    $('#Emp').val(ch);
                } else {
                    $('#Emp').val(data);
                }
            },
            Remove: function () {
                $('#Emp').val("");
            }
        };

        //leo
        $('#release').on("click", function (event) {          
            console.log("release");
            console.log($('#TextPayMonth').val());
            $('#IncrMonth').val($('#TextPayMonth').val());
            $('#ActivityDiv_Id').show();
            $('#frmIncrServBookRelease').trigger("reset");
            // $('#JqGrid_releaseHold').fadeIn();
            // $('#JqGrid_release').fadeOut();
            $('#Grid_Form_release').show();
            $('#Grid_Form_releaseHold').hide();
            $('#ExtendedFlagDiv_id').hide();
            $('#CreateRelease_dialog').P2BGridDialog({
                maindialogtitle: "Release Increment",
                submiturl: "@Url.Action("Release")?param=false",
                form: "#frmIncrServBookRelease",
                height: 555,
                width: 1100,
                state: "open",
                gridname: "#JqGrid_release",
                editurl: '@Url.Action("P2BGridRelease", "IncrementServiceBook")?param=true',
                filter: $('#TextPayMonth').val(),
                returnToGrid: "#JqGrid_release",
                gridfunction: "GetGridSelctedvalue",
            });
            $('#JqGrid_release').P2BGrid(ColNames_release, ColModel_release, SortName_release, Caption_release, '@Url.Action("P2BGridRelease", "IncrementServiceBook")?param=true', width_release, height_release, '#pager2_release', { multiple: true, rowNum: 30, selectall: true });
            $.ajax({
                success: function () {
                    confirm('Please note that in the case of multiple selections of employee releases, the nonstandard salary component value has to be changed manually... ?');
                }

            });
        });
        $('#ReleaseDate').prop("disabled", true);
        $('input[name="ReleaseFlag"]:radio').change(function () {
            if (this.value === "false") {
                $('#ReleaseDate').prop("disabled", true);
                $('#ReleaseDate').val(""); // Clear the date input when disabled
                alert("Release date input has been disabled.");
            } else {
                $('#ReleaseDate').prop("disabled", false);
                $('#ReleaseDate').TodayDate(); // Assuming TodayDate is a function you defined
                alert("Release date input has been enabled.");
            }
        });
        //-------------------------Hold Grid----------------------------------------//
        $('#Hold').on("click", function (event) {

            console.log($('#TextPayMonth').val());
            $('#IncrMonth').val($('#TextPayMonth').val());
            $('#frmIncrServBookHold').trigger("reset");
            //$('#t1').show();
            //$('#t1').hide();
            $('#CreateHold_dialog').P2BGridDialog({
                maindialogtitle: "Hold Increment",
                submiturl: "@Url.Action("Hold")",
                form: "#frmIncrServBookHold",
                height: 555,
                width: 1100,
                state: "open",
                gridname: "#JqGrid_Hold",
                editurl: '@Url.Action("P2BGridRelease", "IncrementServiceBook")?param=true',
                filter: $('#TextPayMonth').val(),
                returnToGrid: "#JqGrid_Hold",
                gridfunction: "GetGridSelctedvalue",
            });
            $('#JqGrid_Hold').P2BGrid(ColNames_release, ColModel_release, SortName_release, Caption_Hold, '@Url.Action("P2BGridRelease", "IncrementServiceBook")?param=true', width_release, height_release, '#pager2_Hold', { multiple: true, rowNum: 30, selectall: true });
        });

        //$('#emp_Id').val(EmpId.toString());
        //$('#releas_Id').val(Id.toString());

        $('#JqGrid_Hold').on('click', function () {
            setTimeout(function () {
                var EmpId = $.GetGridSelctedvalue("#JqGrid_Hold", "Id");
                var Id = $.GetGridSelctedvalue("#JqGrid_Hold", "ActivityId");
                console.log(EmpId);
                $('#emp_Id').val(EmpId);
                $('#releas_Id').val(Id);
                //$('#Holds_Id').val(Id);
                $.get("@Url.Action("Edit")", { data: $('#releas_Id').val() }, function (data) {
                    var k = data[0];
                    //     $.each(data[0], function (i, k) {
                    //  if (k.ProcessIncrDate != null) {
                    $('#txtProcessIncrDateHold').val(k.ProcessIncrDate);
                    //  }
                    $('#txtpromoactivityHold').val(k.IncrActivity);
                    $('#Narration').val(k.Narration);

                    //  });
                    // console.log(data);
                });

            }, 500);
        });

        //-------------------------Hold release Grid----------------------------------------//
        //leo
        $('#releaseHold').on("click", function (event) {
            console.log($('#TextPayMonth').val());
            $('#IncrMonth').val($('#TextPayMonth').val());
            $('#frmIncrServBookRelease').trigger("reset");
            //  $('#JqGrid_release').fadeIn();
            // $('#JqGrid_releaseHold').fadeOut();
            $('#Grid_Form_releaseHold').show();
            $('#Grid_Form_release').hide();
            $('#ActivityDiv_Id').hide();
            $('#ExtendedFlagDiv_id').show();
            // alert($('#releas_HoldId').val());
            $('#CreateRelease_dialog').P2BGridDialog({
                maindialogtitle: "Release Increment",
                submiturl: "@Url.Action("Release")?param=false",
                form: "#frmIncrServBookRelease",
                height: 555,
                width: 1100,
                state: "open",
                gridname: "#JqGrid_releaseHold",
                editurl: '@Url.Action("P2BGridRelease", "IncrementServiceBook")?param=true',
                filter: $('#TextPayMonth').val(),
                returnToGrid: "#JqGrid_releaseHold",
                gridfunction: "GetGridSelctedvalue",
            });
            $('#JqGrid_releaseHold').P2BGrid(ColNames_release, ColModel_release, SortName_release, Caption_releaseHold, '@Url.Action("P2BGridRelease", "IncrementServiceBook")?param=false', width_release, height_release, '#pager2_releaseHold', { multiple: true, rowNum: 30, selectall: true });
        });

        $('#JqGrid_releaseHold').on('click', function () {
            setTimeout(function () {
                var EmpId = $.GetGridSelctedvalue("#JqGrid_releaseHold", "Id");
                var Id = $.GetGridSelctedvalue("#JqGrid_releaseHold", "ActivityId");
                console.log(EmpId);
                $('#emp_Id').val(EmpId);
                $('#releas_HoldId').val(Id);
                //$('#Holds_Id').val(Id);
                $.get("@Url.Action("Edit")", { data: $('#releas_HoldId').val() }, function (data) {
                    var k = data[0];
                    //     $.each(data[0], function (i, k) {
                    //  if (k.ProcessIncrDate != null) {
                    // alert(k.Releasedate);
                    $('#ReleaseDate').val(k.Releasedate)
                    //  $('#txtProcessIncrDateHold').val(k.ProcessIncrDate);
                    //  }
                    // $('#txtpromoactivityHold').val(k.IncrActivity);
                    // $('#Narration').val(k.Narration);

                    //  });
                    // console.log(data);
                });

            }, 500);
        });
        @*var ColNames_Hold = [];
            var ColModel_Hold = [];
            var SortName_Hold, Caption_Hold, url_Hold, width_Hold, height_Hold;

            ColNames_Hold = ['Id', 'EmpId', 'EmpCode', 'EmpName', 'Activity', 'ProcessDate', 'OldBasic', 'NewBasic'];
            ColModel_Hold = ['Id', 'EmpId', 'EmpCode', 'EmpName', 'Activity', 'ProcessDate', 'OldBasic', 'NewBasic'];
            SortName_Hold = 'Id';
            Caption_Hold = 'Increment Service Book Hold';
            // url_Hold = 'IncrementServiceBook/P2BGridHold';
            url_Hold = '@Url.Action("P2BGridHold", "IncrementServiceBook")'
            width_Hold = 1000;
            height_Hold = 150;*@

        //  a.Id, a.SalaryHead.Name, a.FromPeriod, a.ToPeriod, a.AmountPaid, a.OtherDeduction, a.ProcessMonth, a.TDSAmount, a.Narration

        // $('#Create_Double_incr_popup').P2BCreateDialog();





        //leo

        $('#MyTable').MultiLevelInlineEditGrid({
            url: "@Url.Action("Emp_Grid", "IncrementServiceBook")",
            editurl: "@Url.Action("EditGridDetails", "IncrementServiceBook")",
            htmurl: "@Url.Action("partial", "IncrementServiceBook")",
            submiturl: "@Url.Action("GridEditSave", "IncrementServiceBook")",
            columnname: ["Code", "Name", "Id"],
            childheader: ["Release", "ReleaseDate", "Activity", "ProcessDate", "OriginalDate", "OldBasic", "NewBasic", "Id"],
            childurl: "@Url.Action("Get_IncrServBook", "IncrementServiceBook")",
            tableheader: "Increment Service Book",
            childurlColumnNo: "3"
        });

        $.DataTableChildManipulation = function (init, id, parentid, htmurl, editurl, submiturl) {
            // console.log($(init).parents('tr:eq(0)'));
            var parent_element = $(init).parents('td:last').parent().prev();
            //var element = $(init).parents('tr:eq(0)');
            console.log(id);
            console.log(htmurl);
            console.log(parent_element);
            //   console.log(element);
            var dt = $('#MyTable').DataTable();
            var htmlcomponant = {
                init: init,
                Id: id,
                idx: parentid,
                htmurl: htmurl,
                editurl: editurl,
                submiturl: submiturl,
            };
            if ($(init).hasClass('ui-icon-newwin')) {
                //    $('<div></div>').PartialCreateDialog({
                //        height: 'auto',
                //        width: 'auto',
                //        form: "#Form-YearlyPaymentT-Partial",
                //        htmlurl: htmurl,
                //        state: "open",
                //        mode: "View",
                //        editurl: editurl,
                //        submiturl: submiturl,
                //        editdata: id,
                //        forwarddata: id,
                //        returndatafunction: function (data) {
                //            $.each(data.data, function (i, k) {
                //                $('#yearlypayment-AmountPaid').val(k.AmountPaidP);
                //                $('#yearlypayment-TDSAmount').val(k.TDSAmountP);
                //                $('#yearlypayment-OtherDeduction').val(k.OtherDeductionP);
                //                $('#yearlypayment-Narration').val(k.NarrationP);
                //            });
                //        }
                //    });
                //} else if ($(init).hasClass('ui-icon-pencil')) {
                //    $('<div></div>').PartialCreateDialog({
                //        height: 'auto',
                //        width: 'auto',
                //        form: "#Form-YearlyPaymentT-Partial",
                //        htmlurl: htmurl,
                //        state: "open",
                //        mode: "Edit",
                //        editurl: editurl,
                //        submiturl: submiturl,
                //        editdata: id,
                //        forwarddata: id,
                //        returndatafunction: function (data) {
                //            $.each(data.data, function (i, k) {
                //                $('#yearlypayment-AmountPaid').val(k.AmountPaidP);
                //                $('#yearlypayment-TDSAmount').val(k.TDSAmountP);
                //                $('#yearlypayment-OtherDeduction').val(k.OtherDeductionP);
                //                $('#yearlypayment-Narration').val(k.NarrationP);
                //            });
                //        },
                //        submitfun: function (data) {
                //            var row = dt.row(parent_element);
                //            if (row.child.isShown()) {
                //                parent_element.removeClass('details');
                //                row.child.hide();
                //            }
                //        }
                //    });
            } else if ($(init).hasClass('ui-icon-trash')) {
                $('<div></div>').PartialCreateDialog({
                    state: "open",
                    mode: "Delete",
                    submiturl: "@Url.Action("GridDelete")",
                    forwarddata: id,
                    submitfun: function (data) {
                        var row = dt.row(parent_element);
                        if (row.child.isShown()) {
                            parent_element.removeClass('details');
                            row.child.hide();
                        }
                    }
                });
            }
        };

        $('#Btn-Upload-Data').on('click', function (e) {
            ////;
            $('<div></div>').PartialCreateDialog({
                height: '500',
                width: '700',
                form: '#FormLookup',
                title: 'Upload',
                htmlurl: '@Url.Action("PARTIAL","JSONUPLOAD")',
                state: "open",
                mode: 'edit',
                editurl: null,
                submiturl: null,
                editdata: 'a',
                forwarddata: 'a',
                returndatafunction: function (data) {
                    console.log(data);
                },
                submitfun: function (data) {
                    console.log(data);
                }
            });

            e.preventDefault();
        });

        $('#Employee-Table').on('click', 'input:checkbox:gt(0)', function (e) {
            //  $('input[type="checkbox"]').not(this).prop("checked", false);
            //    //

            if (this.checked) {
                var id = $(this).val();
                console.log(id);
                Empdata.Set(id);
                $('#NewFuncT-table').find('tr:gt(0)').remove();
                $('#NewPayT-table').find('tr:gt(0)').remove();
                $('#NewGeoT-table').find('tr:gt(0)').remove();

                $('#IncrActivitylist').SelectMenuAppend('@Url.Action("PopulateDropDownActivityList", "IncrementServiceBook")', id, "IncrActivity");
                $('#IncrActivitylist').SelectMenuOnChange("@Url.Action("PopulateDropDownFunction", "ServiceBookPolicy")", "#incrementpolicy_drop", id, "IncrPolicy");
            }
            else {

                Empdata.Remove();
                $(this).prop("checked", false);
                return false;
            }
        });


        $('#Employee-Table').on('click', 'input:checkbox:eq(0)', function (e) {
            var val = "";
            if ($('#Case-Employee').prop("checked") == true) {
                $('#Employee-Table input:checkbox:gt(0)').each(function () {
                    if (val == "") {
                        val = $(this).val().toString();
                    } else {
                        val += "," + $(this).val().toString();
                    }
                });
                Empdata.Set(val);

            } else {
                $('#Emp').val("")
            }
        });

        $('#Grid_Form_release').on('click', 'input:checkbox:eq(0)', function (e) {
            var val1 = "";
            // //
            if ($('#cb_JqGrid_release').prop("checked") == true) {
                var ddd = $('#Grid_Form_release input:checkbox:gt(0)').parent().parent().find('td:eq(2)');
                $(ddd).each(function () {
                    if (val1 == "") {
                        val1 = $(this).html();
                    } else {
                        val1 += "," + $(this).html();
                    }
                });
                console.log(val1);
                $('#emp_Id').val(val1);

            } else {
                $('#emp_Id').val("")
            }
        });
        //$('#IncrActivitylist').on('selectmenuopen', function () {
        //    var a = $('#Employee-Table').P2BGetTableDataonSelectedRow('#Employee-Table', 1);
        //    //console.log(a);
        //    if (a != null && a.length > 0) {
        //    } else {
        //        alert('Select Employee..!');
        //        $('#IncrActivitylist').selectmenu().selectmenu("refresh");
        //    }
        //});
        //$('#Employee-Table').OnClickFormReset('#frmIncrServBook', '#Emp', function () {


        //});
        $('#Create_Double_incr_popup').P2BCreateDialog();
        $('#double_incr_btn').on('click', function (e) {
            /*
                  Load Employee Promotion Data
              */
            $('#NewGeoT-table').P2BTransactionTable('#NewGeoT-search', '#case-NewGeoT', '@Url.Action("GetZeroStepIncrEmp","Promotionservicebook")', "");

            $('#Create_Double_incr_popup').P2BCreateDialog('', '', '', '', 'Create Increment Service Book', 'open', '@Url.Action("Create")',
                '#frmdoubleincr', 'Message :', 'Request Falied :', '#JqGrid', 600, 1020, '#AddressList,#ContactDetailsList', '',
                function (data) {
                    $.get("@Url.Action("GetActivityPolicy")", function (data) {
                        $('#dbl_activity').val(data.activity);
                        $('#dbl_activity_frm').val(data.activity_id);
                        $('#dbl_Policy').val(data.IncrPolicy);
                        $('#dbl_Policy_frm').val(data.IncrPolicy_id);
                        $('#dbl_Date').val(data.date);
                        $('#dbl_Narration').val("DoubleIncrement");
                    });

                }, { datatablename: "#MyTable" });


            e.preventDefault();
        });
        $('#NewGeoT-table').on('click', 'input:checkbox:gt(0)', function (e) {
            if (this.checked) {
                $('#empid_frm').val($(this).val());
            }
        });
    });
</script>
