@{
    ViewBag.Title = "Employee Document";
}
@model P2b.Global.DMS_Bulletin
<script>
    $(document).ready(function (e) {
        $('button').button();
        // $("#PayMonth").val($.datepicker.formatDate("mm/yy", new Date()));
        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;
        ColModel = ['PublishDate', 'ExpiryDate', 'Title', 'Id'];
        ColNames = ['PublishDate', 'ExpiryDate', 'Title', 'Id'];
        SortName = 'Id';
        Caption = 'Employee Document ';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height, '#pager2', { multiple: false, rowNum: 30, selectall: true });

        $('#Load').on('click', function (e) {
            $('#JqGrid').PostGridData({ url: url, filter: $('#TextPayMonth').val() });
        });

        //function DateConvert(JsonDate) {
            //    var date = new Date(parseInt(JsonDate.substr(6)));
            //    var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
            //    return displayDate;
        //};



        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }

        $('#Create_Dialog').P2BCreateDialog();

        function ajaxloaderv2(cameform) {
            $('<a><i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw ajax_loder" style="color: rgba(27, 187, 173, 0.93);z-index:999;" aria-hidden="true"></i></a>').appendTo(cameform);
        };

        $('#Create').on("click", function (event) {
            $('#FormDocBulletin').trigger("reset");
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create Employee Document', 'open', '@Url.Action("Create")', '#FormDocBulletin', 'Message :', 'Request Falied :', '#JqGrid', 700, 1020, '', '', function (data) { });
            event.preventDefault();
        });

    
        // Main page edit
        $('#Edit').on('click', function () {
            AssignData();
            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit Employee Document Data", '#FormDocBulletin', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 700, 1020, '', '', function (data) {
                // setTimeout(function () {
                $.each(data[0], function (i, k) {
                    console.log(k.Code);
                    $('#Autho_Action').val(k.Action); 
                    $('#PublishDate').val(DateConvert(k.PublishDate));
                    $('#ExpiryDate').val(DateConvert(k.ExpiryDate));
                    $('#MessageContent').val(k.MessageContent);
                    $('#Title').val(k.Title);
                    $('#Icon').val(k.Icon);
                    $('#Attachment').val(k.Attachment);
                });

                //alert(data[3]);
                $('#Autho_Allow').val(data[3]); //Compulsory for authorisation
                // }, 2000);
            });
        });


        //View main page
        $('#View').button().click(function (event) {
            AssignData();
            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View Document Data', '', '', 700, 1020, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {
                $.each(data[0], function (i, k) {
                    $('#Autho_Action').val(k.Action);
                    $('#PublishDate').val(k.PublishDate);
                    $('#ExpiryDate').val(k.ExpiryDate);
                    $('#MessageContent').val(k.MessageContent);
                    $('#Title').val(k.Title);
                    $('#Icon').val(k.Icon);
                    $('#Attachment').val(k.Attachment);
                }); 
            });
        });

        //delete main page
        $('#Delete').button().click(function (event) {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            $('#Create_Dialog').P2BDeleteModalDialog('@Url.Action("Delete")', dt.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
            event.preventDefault();
        });

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#UploadIcon').on("click", function (event) {

            $('<div></div>').P2BConfidentialModelDialog({
                htmlurl: "@Url.Action("UploadLogo", "Email")",
                submiturl: "@Url.Action("CreateSignatureLogo", "Email")",
                form: '#FormSignatureLogo',
                height: "400",
                type: "FILE",
                width: "500",
                title: "DocumentUpload",
                BeforeSendurl: "true",
                returnfun: function (data) {

                    $('#Icon').val(data.Val);
                     
                },
            });
            event.preventDefault();
        });

        $('#UploadAtt').on("click", function (event) { 
            $('<div></div>').P2BConfidentialModelDialog({
                htmlurl: "@Url.Action("UploadLogo", "Email")",
                submiturl: "@Url.Action("CreateSignatureLogo", "Email")",
                form: '#FormSignatureLogo',
                height: "400",
                type: "FILE",
                width: "500",
                title: "DocumentUpload",
                BeforeSendurl: "true",
                returnfun: function (data) { 
                    $('#Attachment').val(data.Val); 
                },
            });
        event.preventDefault();
    });
 
        $('.popup_radio_button').controlgroup();
        $('#PublishDate,#ExpiryDate').P2BDatePicker();

    });
</script>

<html>

<head>
    <title></title>

    <style>
        .icon-row {
            position: relative;
            left: 115px;
            top: -150px;
        }

        #BusinessType-button {
            font-size: 9px;
            padding-top: 1px;
            font-weight: bold;
        }

        .popup-content-label {
            display: block;
            float: left;
            width: 151px;
        }

        .popup-content-labelT {
            display: block;
            float: left;
            width: 120px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 150px;
        }

        .row3 {
            width: 627px;
        }

        .row4 {
            position: absolute;
            top: 294px;
            width: 400px;
        }

        .popup-content-textbox-long {
            margin-bottom: 1px;
            width: 290px;
        }


        .row2 {
            width: 402px;
        }

        .date-picker {
            z-index: 999;
        }

        .employeeselectiondiv {
            float: left;
        }

        .addons {
            height: 246px;
        }

        .section_Method {
            border: 1px solid rgba(207, 207, 207, 0.91);
            border-radius: 10px;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .section_Method1 {
            border: 1px solid rgba(207, 207, 207, 0.91);
            border-radius: 10px;
            margin-top: 15px;
            margin-bottom: 15px;
            height: 150px;
        }

        .section1_Leave {
            display: block;
            border: 1.5px solid rgba(207, 207, 207, 0.91);
            height: 867px;
            width: 534px;
            margin: 4px auto;
            position: absolute;
        }

        .section2_Leave {
            display: block;
            border: 1px solid #ddd;
            height: 859px;
            width: 581px;
            margin: 5px 4px;
            position: absolute;
            left: 546px;
        }

        .transactiontablenew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            /*width: 200px;*/
            display: block;
            overflow: auto;
            height: 500px;
            border-collapse: collapse;
        }

        .transactiondivnew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            width: 507px;
            border-radius: 5px;
            height: 32px;
        }

            .transactiondivnew > div {
                display: inline-block;
                margin: 0 auto;
                padding: 4px;
            }

                .transactiondivnew > div > input {
                    box-sizing: initial;
                    display: inline-block;
                    margin: 0 auto;
                    width: 108px;
                }

        .transactiontablenew th, .transactiontablenew td {
            background: rgba(246, 246, 246, 0.64) none repeat scroll 0 0;
            padding: 5px;
            border-bottom: 1px solid #c5c5c5;
            border-right: 1px solid #c5c5c5;
            text-align: center;
            color: rgba(114, 113, 113, 0.9);
        }

            .transactiontablenew th:nth-child(1) > input, .transactiontablenew td:nth-child(1) > input {
                margin: 0 auto;
            }

            .transactiontablenew th:nth-child(2), .transactiontablenew td:nth-child(2) {
                height: 100%;
                width: 100%;
            }

        .transactiontablenew tr:hover {
            cursor: pointer;
            background: #EEEEEE none repeat scroll 0 0;
        }
    </style>
</head>

<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <button class="button" id="Create">Create</button>
                <button class="button" id="View">View</button>
                <button class="button" id="Edit">Edit</button>
                <button class="button" id="Delete">Delete</button>
                <button class="button" id="Autho">Authorised</button>
                <div id="Grid_Form">
                    <div>
                        <table id="JqGrid"></table>
                        <div id="pager2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>

    <div id="Create_Dialog" title="Create Employee Document">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "FormDocBulletin", name = "FormDocBulletin" }))
        {

            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />

            <div class="row3 content_margine">
               @Html.LabelFor(m => m.Title, "Title :", new { @class = "popup-content-label must" })
                @Html.TextBoxFor(m => m.Title, new { @class = "popup-content-textbox must", style = "width:290px" })
            </div>
            <div class="row3 content_margine">
                @Html.LabelFor(m => m.PublishDate, "Publish Date :", new { @class = "popup-content-label must" })
                @Html.TextBoxFor(m => m.PublishDate, new { @class = "popup-content-textbox must" })
            </div>
            
            <div class="row3 content_margine">
                @Html.LabelFor(m => m.ExpiryDate, "Expiry Date :", new { @class = "popup-content-label must" })
                @Html.TextBoxFor(m => m.ExpiryDate, new { @class = "popup-content-textbox must"})
            </div>

           
            
            <div class="row3 content_margine">
                @Html.LabelFor(m => m.MessageContent, "MessageContent :", new { @class = "popup-content-label must" })
                @Html.TextAreaFor(m => m.MessageContent, new { @class = "popup-content-textbox must", style = "width:444px ;height:250px", id = "MessageContent" })
               
            </div>

         
            <div class="row3 content_margine">
                @Html.LabelFor(m => m.Icon, "Icon :", new { @class = "popup-content-label must" })
                @Html.TextBoxFor(m => m.Icon, new { @class = "popup-content-textbox must", style = "width:290px" })
                <button id="UploadIcon">Upload</button>
            </div>
            <div class="row3 content_margine">
                @Html.LabelFor(m => m.Attachment, "Attachment :", new { @class = "popup-content-label must" })
                @Html.TextBoxFor(m => m.Attachment, new { @class = "popup-content-textbox must", style = "width:290px" })
                <button id="UploadAtt">Upload</button>
            </div>
        }
    </div>

</body>
</html>
