
<link href="~/Content/popup_form.css" rel="stylesheet" />
@model IR.FinalShowCauseNoticeClarification
<style>
    .popup-content-label {
        width: 195px;
        display: block;
        float: left;
    }
    .popup-content-label1 {
        width: 170px;
        display: block;
        float: left;
    }
    .popup-content-textbox1 {
        width: 120px;
        float: left;
    }

    .popup-content-textbox {
        width: 120px;
    }

    .row1 {
        width: 320px;
    }

    /*.active {
        color: red;
    }*/

    .horizontal_row2, .radio_button_div_1 {
        display: inline-block;
    }

    .row3 {
        width: 477px;
    }

    .row2 {
        width: 402px;
    }

    .icon-row {
        left: 127px;
        position: relative;
        top: -121px;
    }

    .popup-content-table {
        right: 120px;
    }
    .lookuptableselected{width:275px;}
</style>
<script>
    $(document).ready(function () {
        $('button').button();
        var dt;
        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;

        ColModel = ['CaseNo', 'VictimName', 'ProceedingStage', 'NoticeReplyClarificationDate', 'ReplyClarificationDetails', 'Narration', 'Id'];
        ColNames = ['CaseNo', 'VictimName', 'ProceedingStage', 'NoticeReplyClarificationDate', 'ReplyClarificationDetails', 'Narration', 'Id'];

        SortName = 'Id';
        Caption = 'Final Show Cause Notice Clarification';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);
        $('#Create_Dialog').P2BCreateDialog();
        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }
        function DateConvert(JsonDate) {
            var date = new Date(parseInt(JsonDate.substr(6)));
            var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
            return displayDate;
        };

        $('#Lookup-ShowCauseNotice-FinalShowCauseNoticeClarification').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupDetailsEmployeeDoc", "FinalShowCauseNoticeClarification")', '', 'LookupDiv', 'ChargeSheetReplyDoc Look Up Data', '#ShowCauseNoticeList', 'ShowCauseNoticeList', 4, 'ShowCauseNoticeList', '#frmFinalShowCauseNoticeClarification', 'A', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });
        $('#Remove-ShowCauseNotice-FinalShowCauseNoticeClarification').button().on('click', function (event) {

            //a = $('#ShowCauseNoticeList').P2BGetTableDataonSelectedRow('#ShowCauseNoticeList', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#ShowCauseNoticeList').P2BGetTableDataonSelectedRow('#ShowCauseNoticeList', 0);


            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#ShowCauseNoticeList', $('#ShowCauseNoticeList').val(), 200, 200, '#frmFinalShowCauseNoticeClarification', '#ShowCauseNoticeList');
            event.preventDefault();
        });
        $('#Create').button().on("click", function () {
            $('#frmFinalShowCauseNoticeClarification').trigger("reset");
            var temp = localStorage.getItem("getEmpIrIdKey");

             var empirid = @Request.QueryString["EmpIr"]
            console.log("empirid :::: " + empirid);
            if (empirid == undefined) {
                empirid = temp.toString();
            }
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create Final Show Cause Notice Clarification ', 'open', '@Url.Action("create")?EmpIr=' + empirid, '#frmFinalShowCauseNoticeClarification', 'Message :', 'Request Falied :', '#JqGrid', 600, 600, '', '', '', function (data) { });
        });
        $('#Delete').on('click', function () {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'ID');
            $('#Create_Dialog').P2BDeleteModalDialog('@Url.Action("Delete")', dt.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
            event.preventDefault();
        });
        $('#View').click(function (event) {
            AssignData();
            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View FinalShowCauseNoticeClarification', '', '', 500, 620, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {
                // $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, "view FinalShowCauseNoticeClarification", '#frmFinalShowCauseNoticeClarification', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 500, 620, '', '', function (data) {
                //Compulsory for authorisation
                var val = null;
                $.each(data[0], function (i, k) {
                    $('#frmFinalShowCauseNoticeClarification').trigger("reset");
                    $('#Narration').val(k.Narration);
                    $('#ReplyClarificationDetails').val(k.ReplyClarificationDetails);
                    if (k.NoticeReplyClarificationDate != null)
                        $('#NoticeReplyClarificationDate').val(DateConvert(k.NoticeReplyClarificationDate));
                    else
                        $('#NoticeReplyClarificationDate').val();

                });
                $.each(data[1], function (i, k) {
                    $('#ShowCauseNoticeList').P2BLookUpEncapsulate('#ShowCauseNoticeList', 'ShowCauseNoticeList', k.Employeedoc_Id, k.EmployeedocFullDetails, 'ShowCauseNoticeList', '#Edit-HOCalendar-Department,#Remove-HOCalendar-Department', 'A');
                });

            });
        });
        $('#Edit').on('click', function () {
            AssignData();
            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit FinalShowCauseNoticeClarification", '#frmFinalShowCauseNoticeClarification', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 500, 620, '', '', function (data) {

                //Compulsory for authorisation
                var val = null;
                $.each(data[0], function (i, k) {
                    $('#frmFinalShowCauseNoticeClarification').trigger("reset");
                    $('#Narration').val(k.Narration);
                    $('#ReplyClarificationDetails').val(k.ReplyClarificationDetails);
                    if (k.NoticeReplyClarificationDate != null)
                        $('#NoticeReplyClarificationDate').val(DateConvert(k.NoticeReplyClarificationDate));
                    else
                        $('#NoticeReplyClarificationDate').val();

                });
                $.each(data[1], function (i, k) {
                    $('#ShowCauseNoticeList').P2BLookUpEncapsulate('#ShowCauseNoticeList', 'ShowCauseNoticeList', k.Employeedoc_Id, k.EmployeedocFullDetails, 'ShowCauseNoticeList', '#Edit-HOCalendar-Department,#Remove-HOCalendar-Department', 'A');
                });

            });
        });
        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-ShowCauseNotice-FinalShowCauseNoticeClarification').on("click", function (event) {


            var a = $('#EmpCode').val();

            $('<div></div>').P2BConfidentialModelDialog({
                htmlurl: "@Url.Action("partial", "EmployeeDocuments")",
                submiturl: "@Url.Action("Create", "EmployeeDocuments")?EmpCode=" + a,
                form: '#FormCandidateDocs',
                height: "400",
                type: "FILE",
                width: "500",
                title: "DocumentUpload",
                BeforeSendurl: "true",
                returnfun: function (data) {
                    $('#ShowCauseNoticeList').P2BLookUpEncapsulate('#ShowCauseNoticeList', 'ShowCauseNoticeList', data.Id, data.Val, 'ShowCauseNoticeList', '', 'A');
                },
            });
            event.preventDefault();

        });
        $('#NoticeReplyClarificationDate').P2BDatePicker();

    });
</script>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="form-bg">
        <div class="form-input">
            <div class="Button_Container">
                <button class="button" id="Create">Create</button>
                <button class="button" id="Edit">Edit</button>
                <button class="button" id="View">View</button>
                <button class="button" id="Delete">Delete</button>
                <div id="Grid_Form">
                    <div>
                        <table id="JqGrid"></table>
                        <div id="pager2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>
    <div id="Create_Dialog">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmFinalShowCauseNoticeClarification", name = "frmFinalShowCauseNoticeClarification" }))
        {
           
            <div class="row3 content_margine">
                @Html.LabelFor(m => m.NoticeReplyClarificationDate, "Notice Reply Clarification Date:", new { @class = "popup-content-label must" })
                @Html.TextBoxFor(m => m.NoticeReplyClarificationDate, new { @class = "popup-content-textbox must" })
            </div>
             <div class="row3 content_margine">
                @Html.LabelFor(m => m.ReplyClarificationDetails, "Reply Clarification Details:", new { @class = "popup-content-label must" })
                @Html.TextAreaFor(m => m.ReplyClarificationDetails, new { @class = "popup-content-textbox must" })
            </div>
             
              
            <div class="row3 content_margine">
                @Html.LabelFor(m => m.Narration, "Narration:", new { @class = "popup-content-label must" })
                @Html.TextBoxFor(m => m.Narration, new { @class = "popup-content-textbox must" })
            </div>
            <div class=" row3 content_margine">
                             @Html.LabelFor(m => m.ShowCauseNotice, "Supporting Documents :", new { @class = "popup-content-label " })
                    <div class="popup-content-table">
                        <table class="lookuptableselected" id="ShowCauseNoticeList">
                            <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                        </table>
                    </div>
                    <div class="icon-row">
                        <button data-p2btooltip="Lookup corresponding ShowCauseNotice" class=" popup-content-icon-lookup" id="Lookup-ShowCauseNotice-FinalShowCauseNoticeClarification"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Create ShowCauseNotice " class=" popup-content-icon-create" id="Create-ShowCauseNotice-FinalShowCauseNoticeClarification"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                             @*<button data-p2btooltip="Edit corresponding Contact Details" class=" popup-content-icon-edit" id="Edit-CorrsContactDetails-Employee"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>*@
                        <button data-p2btooltip="Delete ShowCauseNotice" class=" popup-content-icon-remove" id="Remove-ShowCauseNotice-FinalShowCauseNoticeClarification"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                    </div>
                </div>
        }
        </div>
</body>
</html>
