@model  Recruitment.ManpowerRequestPost
@{
    Layout=null;
}



<html>

<head>
    <title></title>
    <style>
        .icon-row {
            position: relative;
            left: 92px;
            top: -150px;
        }

        #BusinessType-button {
            font-size: 9px;
            padding-top: 1px;
            font-weight: bold;
        }

        .popup-content-label {
            width: 139px;
            display: block;
            float: left;
            margin: 1px;
        }

        .popup-content-label-2 {
            width: 136px;
            display: block;
            float: left;
            margin: 1px;
        }

        .popup-content-label-3 {
            width: 40px;
            display: block;
            float: left;
            margin: 1px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 150px;
        }

        .row3 {
            width: 473px;
        }

        .row4 {
            position: absolute;
            top: 294px;
            width: 400px;
        }

        .row6 {
            width: 360px;
            display: inline-block;
        }

        .row7 {
            width: 360px;
            display: inline-block;
        }

        .popup-content-textbox-long {
            margin-bottom: 1px;
            width: 290px;
        }


        .row2 {
            width: 402px;
        }

        #lookup_FinancialYear_Calendar {
            left: 350px;
            top: 20px;
        }
    </style>
</head>

<body>
    <div class="dialog">
        <div title="LookUp Data">
            <div class="lookupdiv" id="lookup"></div>
        </div>
        <div id="pageNavPosition">

        </div>
    </div>

    <div id="create_dialog" title="Create Post Details">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmPostDetails", name = "frmPostDetailsEdit" }))
        {
            <input id="autho_action" type="hidden" name="autho_action" />
            <input id="autho_allow" type="hidden" name="autho_allow" />

            @*<div class="row6 content_margine" id="postsourcetype">    @Html.LabelFor(m => m.PostSourceType, "Source Type :", new { @class = "popup-content-label " })<select id="PostSourceTypelist" name="PostSourceTypelist" class=" " style="width:161px;"><option></option></select>     </div>*@
            <div class="section6">
                <div class="row6 content_margine"> @Html.LabelFor(m => m.PostCode, "PostCode :", new { @class = "popup-content-label   must" })@Html.TextBoxFor(m => m.PostCode, new { @class = "popup-content-textbox   must " })  </div>
                <div class="row6 content_margine"> @Html.LabelFor(m => m.PostRequestDate, "Requisition Date :", new { @class = "popup-content-label   must" })@Html.TextBoxFor(m => m.PostRequestDate, new { @class = "popup-content-textbox   must " })  </div>
            </div>
            <div class="row3 content_margine">
                <div id="JobPositionM_old"></div>
                @*@Html.LabelFor(m => m.FuncStruct.JobPosition, "Job Position :", new { @class = "popup-content-label-2" })*@
                <label class="popup-content-label-2">Job Position :</label>
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="JobPositionMlist">
                        <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup " class="popup-content-icon-lookup" id="lookup-JobPosition-PostDetails"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Remove " class="popup-content-icon-remove" id="remove-JobPosition-PostDetails"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>
            @* <div class="row6 content_margine"> @Html.LabelFor(m => m.FuncStruct.JobPosition, "Job Position :", new { @class = "popup-content-label   " })@Html.TextBoxFor(m => m.FuncStruct.JobPosition, new { @class = "popup-content-textbox   " })  </div>*@
            <div class="row6 content_margine"> @Html.LabelFor(m => m.RequestVacancies, "Vacancies :", new { @class = "popup-content-label   must" })@Html.TextBoxFor(m => m.RequestVacancies, new { @class = "popup-content-textbox   must " })  </div>

            @*<div class="row2 content_margine">
                     <label>Experiance</label><br />
                 </div>

                     <div class="row6 content_margine">@Html.LabelFor(m => m.ExpFilter, "Experiance Criteria :", new { @class = "popup-content-label" })<select id="ExpFilterlist" name="ExpFilterlist" class=" " style="width:161px;"><option></option></select>    </div>
                    <br />
                      <div class="row6 content_margine"> @Html.LabelFor(m => m.ExpYearFrom, "From :", new { @class = "popup-content-label  " })@Html.TextBoxFor(m => m.ExpYearFrom, new { @class = "popup-content-textbox    " })        </div>
                     <br />
                       <div class="row6 content_margine"> @Html.LabelFor(m => m.ExpYearTo, "To :", new { @class = "popup-content-label    " })@Html.TextBoxFor(m => m.ExpYearTo, new { @class = "popup-content-textbox    " })          </div>
                <br />*@<br />
            <div class="row6 content_margine">     @Html.LabelFor(m => m.ExpFilter, "Experience Criteria :", new { @class = "popup-content-label" })<select id="ExpFilterlist" name="ExpFilterlist" class=" " style="width:161px;"><option></option></select>    </div>
            <div class="section6">

                <div class="row6 content_margine">     @Html.LabelFor(m => m.ExpYearFrom, "From :", new { @class = "popup-content-label must " })@Html.TextBoxFor(m => m.ExpYearFrom, new { @class = "popup-content-textbox   must " })        </div>
                <div class="row6 content_margine">     @Html.LabelFor(m => m.ExpYearTo, "To :", new { @class = "popup-content-label-3   must " })@Html.TextBoxFor(m => m.ExpYearTo, new { @class = "popup-content-textbox   must " })          </div>
            </div>


            <div class="row6 content_margine">    @Html.LabelFor(m => m.RangeFilter, "Age Criteria :", new { @class = "popup-content-label " })<select id="RangeFilterlist" name="RangeFilterlist" class=" " style="width:161px;"><option></option></select>     </div>
            <div class="section6">

                <div class="row6 content_margine">     @Html.LabelFor(m => m.AgeFrom, "From :", new { @class = "popup-content-label   must " })@Html.TextBoxFor(m => m.AgeFrom, new { @class = "popup-content-textbox   must " })        </div>
                <div class="row6 content_margine">     @Html.LabelFor(m => m.AgeTo, "To :", new { @class = "popup-content-label-3   must " })@Html.TextBoxFor(m => m.AgeTo, new { @class = "popup-content-textbox   must " })          </div>
            </div>

            <div class="row3 content_margine">
                <div id="QualificationlistM_old"></div>
                @Html.LabelFor(m => m.Qualification, "Qualification :", new { @class = "popup-content-label-2" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="QualificationlistM">
                        <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup " class="  popup-content-icon-lookup" id="lookup-Qualification-PostDetails"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Create " class="popup-content-icon-create" id="create-Qualification-PostDetails"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit " class="popup-content-icon-edit" id="edit-Qualification-PostDetails"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Remove " class="popup-content-icon-remove" id="remove-Qualification-PostDetails"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>
            <br />
            <div class="row3 content_margine">
                <div id="SkillList_old"></div>@Html.LabelFor(m => m.Skill, "Skills :", new { @class = "popup-content-label-2" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="SkillList">
                        <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup " class="  popup-content-icon-lookup" id="lookUp-Skill-PostDetails"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Create " class="  popup-content-icon-create" id="create-Skill-PostDetails"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit " class="  popup-content-icon-edit" id="edit-Skill-PostDetails"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Remove " class="  popup-content-icon-remove" id="remove-Skill-PostDetails"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>


            <div class="row6 content_margine">   @Html.LabelFor(m => m.Gender, "Gender :", new { @class = "popup-content-label " })<select id="Gender_drop" name="Gender_drop" @*class="must"*@ style="width:161px;"><option></option></select>    </div>
            <br />
            <div class="row6 content_margine">   @Html.LabelFor(m => m.MaritalStatus, "Maratial Status :", new { @class = "popup-content-label " })<select id="MaritalStatus_drop" name="MaritalStatus_drop" @*class="must"*@ style="width:161px;"><option></option></select>    </div>

            <br />
            <div class="row3 content_margine">
                <div id="CategoryPostlist_old"></div>@Html.LabelFor(m => m.CategoryPost, " CategoryPost :", new { @class = "popup-content-label-2" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="CategoryPostlist">
                        <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup " class="  popup-content-icon-lookup" id="lookup-CategoryPost-PostDetails"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Create " class="  popup-content-icon-create" id="create-CategoryPost-PostDetails"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit " class="  popup-content-icon-edit" id="edit-CategoryPost-PostDetails"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Remove " class="  popup-content-icon-remove" id="remove-CategoryPost-PostDetails"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>

            <div class="row3 content_margine">
                <div id="CategorySplPostlist_old"></div>@Html.LabelFor(m => m.CategorySplPost, "Special Categories :", new { @class = "popup-content-label-2" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="CategorySplPostlist">
                        <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup " class="  popup-content-icon-lookup" id="lookup-CategorySpl-PostDetails"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Create " class="  popup-content-icon-create" id="create-CategorySpl-PostDetails"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit " class="  popup-content-icon-edit" id="edit-CategorySpl-PostDetails"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Remove " class="  popup-content-icon-remove" id="remove-CategorySpl-PostDetails"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div> <br />
            @*<div class="row3 content_margine">@Html.LabelFor(m => m.Narration, "Narration :", new { @class = "popup-content-label-2 " })@Html.TextBoxFor(m => m.Narration, new { @class = "popup-content-textbox " })</div>*@

        }
    </div>

</body>
</html>

<script>
    $(document).ready(function () {

        //$('#Code').ValidateTextBox({ maxlength: 10, alphanum: true });
        //$('#Code').MaxLength(10);
        //// $('#Name').ForceOnlyAlpha();
        //// $('#Name').MaxLength(50);
        $('#NoOfVacancies').ForceOnlyNumeric().MaxLength(3);
        $('#ExpYearFrom').ForceOnlyNumeric().MaxLength(3);
        $('#ExpYearTo').ForceOnlyNumeric().MaxLength(3);
        $('#AgeFrom').ForceOnlyNumeric().MaxLength(3);
        $('#AgeTo').ForceOnlyNumeric().MaxLength(3);
        $('#Narration').MaxLength(50);
        $('#PostRequestDate').P2BDatePicker();

        //$('#Name').ValidateTextBox({ maxlength: 50, name: true });
    });
    $(document).ready(function (e) {
        $('button').button();
        @*var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;
        var btndisablenames = "#remove-JobPosition-PostDetails,#edit-CategoryPost-PostDetails,#remove-CategoryPost-PostDetails,#edit-CategorySplPost-PostDetails,#remove-CategorySplPost-PostDetails,#edit-Skill-PostDetails,#remove-Skill-PostDetails,#edit-Qualification-PostDetails,#remove-Qualification-PostDetails";
        var namelookuptable = '#JobPositionMlist,#QualificationlistM,#SkillList,#CategoryPostlist,#CategorySplPostlist';
        ColModel = ['Id', 'SourceType', 'Job description', 'NoOfVacancies','PostDate'];
        ColNames = ['Id', 'SourceType', 'Job description', 'NoOfVacancies', 'PostDate'];
        SortName = 'Id';
        Caption = 'Manpower Requisition';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;*@
       // $('#jqgrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);
        $('#CreationDate').datepicker();
        //function AssignData() {
        //    dt = $('#jqgrid').P2BGrid.P2BEdDelV('#jqgrid', 'Id');
        //}
        function DateConvert(JsonDate) {
            var date = new Date(parseInt(JsonDate.substr(6)));
            var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
            return displayDate;
        };

        //$('#load').on('click', function (e) {
        //    // alert($('#Financial_id').val());

        //    if (!$("#Financial_id").val()) {
        //        alert("Please Select Recruitment Year.");
        //        return false;
        //    }
        //    $('#jqgrid').PostGridData({ url: url, filter: $('#txtPayMonth').val() });
        //});
        $('#Gender_drop').selectmenu().selectmenu("menuWidget");
        $('#MaritalStatus_drop').selectmenu().selectmenu("menuWidget");
        $('#RangeFilterlist').selectmenu().selectmenu("menuWidget");
        $('#ExpFilterlist').selectmenu().selectmenu("menuWidget");
        $('#PostSourceTypelist').selectmenu().selectmenu("menuWidget");
       // $("#postsourcetype").hide();
        $('#ExpFilterlist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 1061, ""); // To bind dropdown on page load
        $('#RangeFilterlist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 1058, "");
        $('#MaritalStatus_drop').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 128, "");
        $('#Gender_drop').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 129, "");
       // $('#PostSourceTypelist').P2BSelectMenuAppend('@@Url.Action("GetLookupValueForManpowerRequest", "lookup")', 700, "DeptRequest");
        @*$('#create_dialog').P2BCreateDialog();
        $('#create').on("click", function (event) {
            $('#frmPostDetails').trigger("reset");
            $('#create_dialog').P2BCreateDialog('', '', '', '', 'CreateManpower Requisition', 'open', '@Url.Action("Create")', '#frmPostDetails', 'Message :', 'Request Falied :', '#jqgrid', 550, 810, namelookuptable, btndisablenames, function (data) { });
            $('#ExpFilterlist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 1061, ""); // To bind dropdown on page load
            $('#RangeFilterlist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 1058, "");
            $('#MaritalStatus_drop').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 128, "");
            $('#Gender_drop').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 129, "");
            $('#PostSourceTypelist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 700, "");

            event.preventDefault();
        });*@


        // --------------- Qualification lookup start ----------

        //To get data in Lookup
        $('#lookup-Qualification-PostDetails').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetQualificationDetailLKDetails", "Manpower")', '', 'lookupdiv', 'Look Up Data', '#QualificationlistM', 'QualificationlistM', 10, 'QualificationlistM', '#frmPostDetails', 'A', '#edit-Qualification-PostDetails,#remove-Qualification-PostDetails', 'lookup_table', 'pageNavPosition');
            event.preventDefault();
        });

        // PArtial page create
        $('<div></div>').P2BPartialCreateModalDialog();
        $('#create-Qualification-PostDetails').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "Qualification")', 'Create Qualification ', 'open', '@Url.Action("Create", "Qualification")', '#frmQualification', 'Message :', 'Request Falied :', '#jqgrid', 500, 600, '', '', '', '#frmPostDetails', '', function (data) {
                // to show data which is created in partial page
                $('#QualificationlistM').P2BLookUpEncapsulate('#QualificationlistM', 'QualificationlistM', data[0], data[1], 'QualificationlistM', '', 'N');
            });
            event.preventDefault();
        });


        $('#edit-Qualification-PostDetails').button().on("click", function (event) {
            var a = [], b;
            a = $('#QualificationlistM').P2BGetTableDataonSelectedRow('#QualificationlistM', 0);
            b = a[0];
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "Qualification")', '@Url.Action("edit", "Qualification")', b, '@Url.Action("Editsave", "Qualification")', 'Edit Qualification', '#frmQualification', b, 'Message :', 'Request Falied :', '#jqgrid', 400, 500, '#frmPostDetails', '#QualificationlistM', 'QualificationlistM', 'QualificationlistM', 'N', '#remove-Qualification-PostDetails,#edit-Qualification-PostDetails', function (data) {
                console.log(data[0]);
                //$.each(data[0], function (i, k) {
                var k = data[0]
                $('#frmQualification').trigger("reset");
                $('#QualificationShortName').val(k.QualificationShortName);
                $('#QualificationDesc').val(k.QualificationDesc);
                $('#Qualificationlist1').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 314, k.BusinessType_Id);
                //});
            });
            event.preventDefault();
        });


        //partial page delete
        $('#remove-Qualification-PostDetails').button().on('click', function (event) {
            //  dt = $('#jqgrid').P2BGrid.P2BEdDelV('#jqgrid', 'ID');
            var a = [], b;
            a = $('#QualificationlistM').P2BGetTableDataonSelectedRow('#QualificationlistM', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#QualificationlistM', $('#QualificationlistM').val(), 200, 200, '#frmPostDetails', '#QualificationlistM');
            event.preventDefault();
        });
        // --------------- Qualification lookup end ----------

        //----------Skill Details-start----

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#create-Skill-PostDetails').on("click", function (event) {
            //  alert('create Hobby');
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "Skill")', 'Create Skill', 'open', '@Url.Action("Create", "Skill")', '#frmSkill', 'Message :', 'Request Falied :', '#jqgrid', 207, 365, '', '', '', '#frmPostDetails', '', function (data) {
                //alert(data[0]);
                $('#SkillList').P2BLookUpEncapsulate('#SkillList', 'SkillList', data[0], data[1], 'SkillList', '#remove-Skill-PostDetails,#edit-Skill-PostDetails', 'A');
            });
            event.preventDefault();
        });

        //To get data in Lookup

        @*$('#lookUp-Skill-PostDetails').on('click', function (event) {
            //alert ('Show Hobby')
            $('.dialog').P2BLookUpModal('@Url.Action("GetSkillLKDetails", "PostDetails")', '', 'lookupdiv', 'Look Up Data', '#SkillList', 'SkillList', 5, 'SkillList', '#frmPostDetails', 'A', '#remove-Skill-PostDetails,#edit-Skill-PostDetails', 'lookup_table', 'pageNavPosition');
            event.preventDefault();
        });*@

        $('#lookUp-Skill-PostDetails').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetSkillLKDetails", "Manpower")', '', 'lookupdiv', ' Look Up Data', '#SkillList', 'SkillList', 5, 'SkillList', '#frmPostDetails', 'A', '#remove-Skill-PostDetails,#edit-Skill-PostDetails', 'lookup_table', 'pageNavPosition');
            event.preventDefault();
        });

        $('#edit-Skill-PostDetails').button().on("click", function (event) {
            var a = [], b;
            a = $('#SkillList').P2BGetTableDataonSelectedRow('#SkillList', 0);
            b = a[0];
            console.log(b);
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname,                                                                                                                    height, width, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not, returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "Skill")', '@Url.Action("edit", "Skill")', b, '@Url.Action("EditSave", "Skill")', 'Edit Skill ', '#frmSkill1', b, 'Message :', 'Request Falied :', '#jqgrid', 207, 365, '#frmPostDetails', '#SkillList', 'SkillList', 'SkillList', 'N', '#remove-Skill-PostDetails,#edit-Skill-PostDetails', function (data) {
                // setTimeout(function () {
                $.each(data[0], function (i, k) {
                    $('#frmSkill1').trigger("reset");
                    $('#Name1').val(k.Name);
                });
                // }, 3000);
            });
            event.preventDefault();
        });

        $('#remove-Skill-PostDetails').button().on('click', function (event) {
            //  dt = $('#jqgrid').P2BGrid.P2BEdDelV('#jqgrid', 'ID');
            var a = [], b;
            a = $('#SkillList').P2BGetTableDataonSelectedRow('#SkillList', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#SkillList', $('#SkillList').val(), 200, 200, '#frmPostDetails', '#SkillList');
            event.preventDefault();
        });

        //----------Skill Details-end----

        //-----------CategoryPost Start----------------
        $('#lookup-CategoryPost-PostDetails').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetCategoryDetails", "Manpower")', '', 'lookupdiv', 'Look Up Data', '#CategoryPostlist', 'CategoryPostlist', 10, 'CategoryPostlist', '#frmPostDetails', 'A', '#edit-CategoryPost-PostDetails,#remove-CategoryPost-PostDetails', 'lookup_table', 'pageNavPosition');
            event.preventDefault();
        });

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#create-CategoryPost-PostDetails').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "CategoryPost")', 'Create CategoryPost Details', 'open', '@Url.Action("Create", "CategoryPost")', '#frmCategoryP', 'Message :', 'Request Falied :', '#jqgrid', 400, 500, '', '', '', '#frmPostDetails', '', function (data) {
                // to show data which is created in partial page
                $('#CategoryPostlistP').P2BLookUpEncapsulate('#CategoryPostlist', 'CategoryPostlist', data[0], data[1], 'CategoryPostlist', '#edit-CategoryPost-PostDetails,#Remove-CategoryPost-PostDetails', 'N');
            });
            event.preventDefault();
        });


        $('#edit-CategoryPost-PostDetails').button().on("click", function (event) {
            var a = [], b;
            a = $('#CategoryPostlist').P2BGetTableDataonSelectedRow('#CategoryPostlist', 0);
            b = a[0];
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname, height, width, classoridoftheonwhichpopupderived, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not,nameidclassofbuttontodisable,returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "CategoryPost")', '@Url.Action("edit", "CategoryPost")', b, '@Url.Action("Editsave", "CategoryPost")', 'Edit CategoryPost', '#frmCategoryP', b, 'Message :', 'Request Falied :', '#jqgrid', 400, 500, '#frmPostDetails', '#CategoryPostlist', 'CategoryPostlist', 'CategoryPostlist', 'N', '#remove-CategoryPost-PostDetails,#edit-CategoryPost-PostDetails', function (data) {
                $.each(data[0], function (i, k) {
                    $('#frmCategory').trigger("reset");
                    $('#txtNoOfVacCategory').val(k.NoOfVacancies);
                    $('#txtNoOfAgeCategory').val(k.RelaxationAge);
                    $('#CategoryPostListP').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 1, k.CategoryType_Id); // Dropdown bind
                });
            });
            event.preventDefault();
        });

        $('#remove-CategoryPost-PostDetails').button().on('click', function (event) {
            //  dt = $('#jqgrid').P2BGrid.P2BEdDelV('#jqgrid', 'ID');
            var a = [], b;
            a = $('#CategoryPostlist').P2BGetTableDataonSelectedRow('#CategoryPostlist', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#CategoryPostlist', $('#CategoryPostlist').val(), 200, 200, '#frmPostDetails', '#CategoryPostlist');
            event.preventDefault();
        });


        //-----------CategoryPost End-----------------

        //----------- Special CategoryPost Start----------------
        $('#lookup-CategorySpl-PostDetails').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetCategorySplDetails", "Manpower")', '', 'lookupdiv', 'Look Up Data', '#CategorySplPostlist', 'CategorySplPostlist', 10, 'CategorySplPostlist', '#frmPostDetails', 'A', '#edit-CategorySpl-PostDetails,#remove-CategorySpl-PostDetails', 'lookup_table', 'pageNavPosition');
            event.preventDefault();
        });

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#create-CategorySpl-PostDetails').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "CategorySplPost")', 'Create Special CategoryPost Details', 'open', '@Url.Action("Create", "CategorySplPost")', '#frmCategorySpl', 'Message :', 'Request Falied :', '#jqgrid', 400, 500, '', '', '', '#frmPostDetails', '', function (data) {
                $('#CategorySplPostlist').P2BLookUpEncapsulate('#CategorySplPostlist', 'CategorySplPostlist', data[0], data[1], 'CategorySplPostlist', '#edit-CategorySpl-PostDetails,#Remove-CategorySpl-PostDetails', 'N');
            });
            event.preventDefault();
        });

        $('#edit-CategorySpl-PostDetails').button().on("click", function (event) {
            var a = [], b;
            a = $('#CategorySplPostlist').P2BGetTableDataonSelectedRow('#CategorySplPostlist', 0);
            b = a[0];
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname, height, width, classoridoftheonwhichpopupderived, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not,nameidclassofbuttontodisable,returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "CategorySplPost")', '@Url.Action("edit", "CategorySplPost")', b, '@Url.Action("Editsave", "CategorySplPost")', 'Edit CategoryPost Spl', '#frmCategorySpl', b, 'Message :', 'Request Falied :', '#jqgrid', 400, 500, '#frmPostDetails', '#CategorySplPostlist', 'CategorySplPostlist', 'CategorySplPostlist', 'N', '#remove-CategorySpl-PostDetails,#edit-CategorySpl-PostDetails ', function (data) {
                $.each(data[0], function (i, k) {
                    console.log(k);
                    $('#frmCategorySpl').trigger("reset");
                    $('#txtNoOfVacCategorySpl').val(k.NoOfVacancies);
                    $('#txtNoOfAgeCategorySpl').val(k.RelaxationAge);
                    $('#CategorySplPostlistP').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 514, k.CategorySplType_Id); // Dropdown bind
                });
            });
            event.preventDefault();
        });

        $('#remove-CategorySpl-PostDetails').button().on('click', function (event) {
            //  dt = $('#jqgrid').P2BGrid.P2BEdDelV('#jqgrid', 'ID');
            var a = [], b;
            a = $('#CategorySplPostlist').P2BGetTableDataonSelectedRow('#CategorySplPostlist', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#CategorySplPostlist', $('#CategorySplPostlist').val(), 200, 200, '#frmPostDetails', '#CategorySplPostlist');
            event.preventDefault();
        });
        //----------- Special CategoryPost End-----------------

        //------------- JobPosition CategoryPost Start--------------------
        $('#lookup-JobPosition-PostDetails').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetJobPositionDetails", "Manpower")', '', 'lookupdiv', 'Look Up Data', '#JobPositionMlist', 'JobPositionMlist', 10, 'JobPositionMlist', '#frmPostDetails', 'N', '#edit-JobPosition-PostDetails,#remove-JobPosition-PostDetails', 'lookup_table', 'pageNavPosition');
            event.preventDefault();
        });

        $('#remove-JobPosition-PostDetails').button().on('click', function (event) {
            //  dt = $('#jqgrid').P2BGrid.P2BEdDelV('#jqgrid', 'ID');
            var a = [], b;
            a = $('#JobPositionMlist').P2BGetTableDataonSelectedRow('#JobPositionMlist', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#JobPositionMlist', $('#JobPositionMlist').val(), 200, 200, '#frmPostDetails', '#JobPositionMlist');
            event.preventDefault();
        });
        //------------- JobPosition CategoryPost end--------------------

        $('#lookup_FinancialYear_Calendar').on('click', function () {
            $('.dialog').AddDataToTextbox({
                appendTo: "#txtPayMonth",
                appendToId: "#Financial_id",
                lookupurl: "@Url.Action("GetCalendarDetails", "postdetails")",
                NoOfRecordToShow: "10",
                setnameofthelookupbyppage: "HusbandName_FName-lookup",
                lookupdiv: "lookupdiv",
                lookuppagename: "lookup",
                pagename: "pageNavPosition",
                readonly: true,
            });
        });
        $('#edit_model_dialog').P2BGridDialog();

        $('.popup_radio_button').buttonset();

       
       // $('#PostSourceTypelist').selectmenu().selectmenu("menuWidget");
        $('#autho').makeDisable('#create,#edit,#delete');
        $('#autho').onClickGrid('#jqgrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');
    });
</script>
