@{
    ViewBag.Title = "JobNewsPaper";
}

@model Recruitment.JobNewsPaper
<html>
<head>
    <title>@ViewBag.Title </title>
    <style>
        .icon-row {
            position: relative;
            left: 60px;
            top: -149px;
        }

        .row1, .row2, .row3 {
            width: 498px;
        }

        .popup-content-label {
            display: block;
            margin: 1px;
            float: left;
            width: 103px;
        }



        .popup-content-textbox {
            margin-bottom: 1px;
            width: 200px;
        }

        .popup-content-drop-icon-edit {
            height: 20px;
            left: 379px;
            margin: auto;
            position: absolute;
            top: 22px;
            width: 20px;
        }

        .emp_icon-row {
            position: relative;
            left: -8px;
            top: -44px;
        }

        .popup-content-textbox-short {
            min-width: 97px;
        }

        .editable {
            margin-left: 35px;
        }
    </style>

</head>
<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <button class="button" id="Create">Create</button>
                <button class="button" id="View">View</button>
                <button class="button" id="Edit">Edit</button>
                <button class="button" id="Delete">Delete</button>
                <button class="button" id="Autho">Authorised</button>

                <div id="Grid_Form">
                    <div>
                        <table id="JqGrid"></table>
                        <div id="pager2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <div class="dialogA">
        <div title="LookUp Data">
            <div class="lookupdivJA" id="Lookup"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>
    <div id="Create_Dialog" title="Create JobNewsPaper">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmJobNewsPaper", name = "frmJobNewsPaperEdit" }))
        {
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />



            <div class="row3 content_margine">@Html.LabelFor(m => m.Name, "Name :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Name, new { @class = "popup-content-textbox must", @id = "Name_JobNewsPaper" })</div>
            <div class="row3 content_margine">@Html.LabelFor(m => m.PANNo, "PAN No :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.PANNo, new { @class = "popup-content-textbox" })</div>
            <div class="row3 content_margine">@Html.LabelFor(m => m.GSTNo, "GST No :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.GSTNo, new { @class = "popup-content-textbox" })</div>
            <div class="row3 content_margine">
                @*@Html.LabelFor(m => m.ContactPerson.FullNameFML, "Contact Person:", new { @class = "popup-content-label must" })
                    <input type="text" id="EmpName_id" name="EmpName_id" class="filter_structure_id" />
                    @Html.TextBoxFor(m => m.ContactPerson.FullNameFML, new { @class = "popup-content-textbox must" })*@
                <label for="EmpName_id" class="popup-content-label must">Contact Person:</label>
                <input type="text" name="ContactPerson_FullNameFML" id="ContactPerson_FullNameFML" style="width: 243px" class="popup-content-textbox must" />
                <input type="text" id="EmpName_id" name="EmpName_id" class="filter_structure_id" />
                <div class="emp_icon-row">
                    <button style="margin-left: 22px;" data-p2btooltip="Create Employee Name" class="popup-content-icon-create" id="Create-EmpName-FName">
                        <span class="ui-icon ui-icon-newwin popup-content-iconmark"></span>
                    </button>
                    <button style="margin-left: 75px;" data-p2btooltip="Edit  Employee Name" class="popup-content-icon-create editable" id="Edit-EmpName-FName">
                        <span class="ui-icon ui-icon-pencil popup-content-iconmark"></span>
                    </button>
                    <button style="margin-left: 48px;" data-p2btooltip="Lookup Employee Name" class="popup-content-icon-create" id="Lookup_FullNameFML">
                        <span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span>
                    </button>
                </div>
            </div>

            <div class="row3 content_margine">
                <div id="AgencyAddress_old"></div>
                @Html.LabelFor(m => m.NewPaperAddress, "NewPaper Address :", new { @class = "popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="NewPaperAddressList">
                        <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup NewPaperAddress" class="  popup-content-icon-lookup" id="Lookup-NewPaperAddress-JobNewsPaper"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Create NewPaperAddress" class="popup-content-icon-create" id="Create-NewPaperAddress-JobNewsPaper"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit NewPaperAddress" class="popup-content-icon-edit" id="Edit-NewPaperAddress-JobNewsPaper"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Remove NewPaperAddress" class="popup-content-icon-remove" id="Remove-NewPaperAddress-JobNewsPaper"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>
            <div class="row3 content_margine">
                <div id="ContactDetailsList_Old"></div>@Html.LabelFor(m => m.ContactDetails, "Contact Details :", new { @class = "popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="ContactDetailslistJN">
                        <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup ContactDetails " class="  popup-content-icon-lookup" id="Lookup-ContactDetails-JobNewsPaper"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Create Contact Details" class="  popup-content-icon-create" id="Create-ContactDetails-JobNewsPaper"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit Contact Details" class="  popup-content-icon-edit" id="Edit-ContactDetails-JobNewsPaper"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Remove Contact Details" class="  popup-content-icon-remove" id="Remove-ContactDetails-JobNewsPaper"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>

        }
    </div>
</body>
</html>

<script>
    $(document).ready(function (e) {
        $("button").button();
        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;

        ColModel = ['Name', 'ContactPerson', 'City', 'Email', 'Id'];
        ColNames = ['Name', 'ContactPerson', 'City', 'Email', 'Id'];
        SortName = 'Id';
        Caption = 'JobNewsPaper';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);

        //$('#Lookup-NewPaperAddress-JobNewsPaper').attr('disabled', 'disabled');
        //$('#Lookup-ContactDetails-JobNewsPaper').attr('disabled', 'disabled');
        $('#Lookup-NewPaperAddress-JobNewsPaper').on('click', function (event) {
            $('.dialogA').P2BLookUpModal('@Url.Action("GetAddressLKDetails", "JobNewsPaper")', '', 'lookupdivJA', 'Address Look Up Data', '#NewPaperAddressList', 'NewPaperAddressList', 5, 'NewPaperAddressList', '#frmJobNewsPaper', 'N', '#Edit-AgencyAddress-JobAgency,#Remove-AgencyAddress-JobAgency', 'Lookup_tableJA', 'PageNavPosition');
            event.preventDefault();
        });

        $('#Name_JobNewsPaper').ValidateTextBox({ maxlength: 25, name: true, alphanum: true });
        $('#GSTNo').ValidateTextBox({ maxlength: 12, name: true, alphanum: true });
        $('#PANNo').ValidateTextBox({ maxlength: 10, name: true, alphanum: true });

        $('#Code').ForceOnlyAlphaNumeric();
        $('#Create_Dialog').P2BCreateDialog();
        $('#Create').button().on("click", function (event) {
            $('#frmJobNewsPaper').trigger('reset');
            $('#Create_Dialog').P2BCreateDialog('@Url.Action("Index", "JobNewsPaper")', 0, '', '', 'Create JobNewsPaper', 'open', '@Url.Action("Create")', '#frmJobNewsPaper', 'Message :', 'Request Falied :', '#JqGrid', 500, 620, '#NewPaperAddressList,#ContactDetailslistJN', '', function (data) { });
            event.preventDefault();
        });

        $('#Lookup-PortalAddress-JobNewsPaper').on('click', function (event) {
            $('.dialogA').P2BLookUpModal('@Url.Action("GetAddressLKDetails", "JobNewsPaper")', '', 'lookupdivJA', 'Address Look Up Data', '#PortalAddressList', 'PortalAddressList', 5, 'PortalAddressList', '#frmJobNewsPaper', 'N', '#Edit-PortalAddress-JobNewsPaper,#Remove-PortalAddress-JobNewsPaper', 'Lookup_tableJA', 'PageNavPosition');
            event.preventDefault();
        });
        var dt;
        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }


        $('#Autho').makeDisable('#Create,#Edit,#Delete');
        $('#Edit').on('click', function () {
            AssignData();
            $('#frmJobNewsPaper').trigger('reset');
            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit JobNewsPaper Data", '#frmJobNewsPaper', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 500, 620, '#NewPaperAddressList, #ContactDetailslistJN', '', function (data) {
                //$('#Create_Dialog').P2BEditModalDialog('@@Url.Action("Edit")', dt.Id, '@@Url.Action("EditSave")', "Edit Employee Data ->" + JSON.stringify(dt) + "", '#frmEmployee', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 552, 1012, tablelist, btndisablenames, function (data) {
                // setTimeout(function () {
                console.log('Jobagencydata');
                console.log(data[0])
                //console.log(data[1])
                $.each(data[0], function (i, k) {
                    console.log(k.Code);
                    $('#Name_JobNewsPaper').val(k.Name);
                    $('#GSTNo').val(k.GSTNo);
                    $('#PANNo').val(k.PANNo);
                    $('#ContactPerson_FullNameFML').val(k.ContactPerson_Name);
                    $('#EmpName_id').val(k.ContactPerson_Id);
                });

                //partial page bind
                $.each(data[1], function (i, k) {
                    $('#NewPaperAddressList').P2BLookUpEncapsulate('#NewPaperAddressList', 'NewPaperAddressList', k.Add_Id, k.NewsP_FullAddress, 'NewPaperAddressList', '#Address_Edit,#Address_remove', 'N');
                    $('#ContactDetailslistJN').P2BLookUpEncapsulate('#ContactDetailslistJN', 'ContactDetailslistJN', k.Cont_Id, k.FullContactDetails, 'ContactDetailslistJN', '#Contact_Edit,#Contact_remove', 'N');
                });

                $('#Autho_Allow').val(data[3]); //Compulsory for authorisation
            });
        });

        //View main page
        $('#View').button().click(function (event) {
            $('#frmJobNewsPaper').trigger('reset');
            AssignData();
            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View JobNewsPaper', '#NewPaperAddressList,#ContactDetailslistJN', '', 500, 620, '#Autho', '@Url.Action("AuthSave", "JobAgency")', dt.Id, '', '', '', '', '#JqGrid', function (data) {
                $.each(data[0], function (i, k) {
                    $('#Name_JobAgency').val(k.Name);
                    $('#GSTNo').val(k.GSTNo);
                    $('#PANNo').val(k.PANNo);
                    $('#ContactPerson_FullNameFML').val(k.ContactPerson_Name);
                    $('#EmpName_id').val(k.ContactPerson_Id);
                });
                // console.log(data[1]);
                $.each(data[1], function (i, k) {
                    $('#NewPaperAddressList').P2BLookUpEncapsulate('#NewPaperAddressList', 'NewPaperAddressList', k.Add_Id, k.Address_FullAddress, 'NewPaperAddressList', 'view', 'N');
                    $('#ContactDetailslistJN').P2BLookUpEncapsulate('#ContactDetailslistJN', 'ContactDetailslistJN', k.Cont_Id, k.FullContactDetails, 'ContactDetailslistJN', 'view', 'N');

                });

                //To bind old data if authorisation is true
                if ($("#Autho").hasClass('auto_active')) {
                    console.log(data[2]);
                    $('#Name').StickNote(data[2].Name);
                    $('#AddressList_Old').StickNote(data[2].Address_Val);
                    $('#ContactDetailsList_Old').StickNote(data[2].Contact_Val);
                    $('#InchargeDetails_old').StickNote(data[2].Incharge_Val);
                }
            });
        });

        $('#Delete').button().click(function (event) {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            $('#frmJobNewsPaper').P2BDeleteModalDialog('@Url.Action("Delete", "JobNewsPaper")', dt.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
        });

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-NewPaperAddress-JobNewsPaper').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "address")', 'Create Address', 'open', '@Url.Action("Create","Address")', '#FormAddress', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#frmJobNewsPaper', '', function (data) {
                // to show data which is created in partial page
                $('#NewPaperAddressList').P2BLookUpEncapsulate('#NewPaperAddressList', 'NewPaperAddressList', data[0], data[1], 'NewPaperAddressList', '#Edit-NewPaperAddress-JobNewsPaper,#Remove-NewPaperAddress-JobNewsPaper', 'N');
            });
            event.preventDefault();
        });


        $('#Edit-NewPaperAddress-JobNewsPaper').button().on("click", function (event) {
            var a = [], b;
            a = $('#NewPaperAddressList').P2BGetTableDataonSelectedRow('#NewPaperAddressList', 0);
            b = a[0];
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname, height, width, classoridoftheonwhichpopupderived, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not,nameidclassofbuttontodisable,returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "address")', '@Url.Action("edit", "address")', b, '@Url.Action("Editsave","Address")', 'Edit Address', '#FormAddress', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmJobNewsPaper', '#NewPaperAddressList', 'NewPaperAddressList', 'NewPaperAddressList', 'N', '#Edit-NewPaperAddress-JobNewsPaper,#Remove-NewPaperAddress-JobNewsPaper', function (data) {
                // setTimeout(function () {
                //to bind data according to selected id
                $.each(data[0], function (i, k) {
                    $('#FormAddress').trigger("reset");
                    $('#Address1').val(k.Address1);
                    $('#Address2').val(k.Address2);
                    $('#Address3').val(k.Address3);
                    $('#Landmark').val(k.Landmark);
                    $('#CountryList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "country")", "", k.Country_Id, '');
                    $('#StateList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "state")", "", k.State_Id, '');
                    $('#StateRegionList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "StateRegion")", "", k.StateRegion_Id, '');
                    $('#DistrictList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "District")", "", k.District_Id, '');
                    $('#TalukaList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "Taluka")", "", k.Taluka_Id, '');
                    $('#CityList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "City")", "", k.City_Id, '');
                    $('#AreaList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "area")", "", k.Area_Id, '');
                });
                //}, 3000);


            });
            event.preventDefault();
        });


        $('#Remove-NewPaperAddress-JobNewsPaper').button().on('click', function (event) {
            //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            //var a = [], b;
            //a = $('#NewPaperAddressList').P2BGetTableDataonSelectedRow('#NewPaperAddressList', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#NewPaperAddressList').P2BGetTableDataonSelectedRow('#NewPaperAddressList', 0);
            console.log("Verify...");

            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#NewPaperAddressList', $('#NewPaperAddressList').val(), 200, 200, '#frmJobNewsPaper', '#NewPaperAddressList', '#Edit-NewPaperAddress-JobNewsPaper,#Remove-NewPaperAddress-JobNewsPaper');
            event.preventDefault();
        });

        $('#Lookup-ContactDetails-JobNewsPaper').button().on('click', function (event) {
            @*$('.dialog').P2BLookUpModal('@Url.Action("GetAddressLKDetails", "Corporate")', '', 'LookupDiv', 'Address Look Up Data', '#AddressList', 'AddressList', 5, 'AddressList', '#frmCorporate', 'N', '#Edit-Address-Corporate,#Remove-Address-Corporate', 'Lookup_table', 'PageNavPosition');*@
            $('.dialogA').P2BLookUpModal('@Url.Action("GetContactDetLKDetails", "JobNewsPaper")', '', 'lookupdivJA', 'ContactDetails Look Up Data', '#ContactDetailslistJN', 'ContactDetailslistJN', 5, 'ContactDetailslistJN', '#frmJobNewsPaper', 'N', '#Edit-ContactDetails-JobNewsPaper,#Remove-ContactDetails-JobNewsPaper', 'Lookup_tableJA', 'PageNavPosition');

            event.preventDefault();
        });

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-ContactDetails-JobNewsPaper').button().on("click", function (event) {
            //function (url, maindialogtitle, state, submiturl, submitnameformforserilize, savemessage, errormessage, gridreloadname, height, width, forwarddata, ControlName, event, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, returnfunctiondata) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Createcontactdetails_partial", "JobNewsPaper")', 'Create ContactDetails', 'open', '@Url.Action("CreateSave","ContactDetails")', '#frmContactDetails', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#frmContactDetails', '#Edit-ContactNo-ContDetails,#Remove-ContactNo-ContDetails', function (data) {
                $('#ContactDetailslistJN').P2BLookUpEncapsulate('#ContactDetailslistJN', 'ContactDetailslistJN', data[0], data[1], 'ContactDetailslistJN', '#Edit-ContactDetails-JobNewsPaper,#Remove-ContactDetails-JobNewsPaper', 'N');
            });
            event.preventDefault();
        });

        $('#Edit-ContactDetails-JobNewsPaper').button().on("click", function (event) {
            var a = [], b;
            a = $('#ContactDetailslistJN').P2BGetTableDataonSelectedRow('#ContactDetailslistJN', 0);
            b = a[0];
            console.log(b);
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname,                                                                                                                    height, width, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not, returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("Createcontactdetails_partial", "JobNewsPaper")', '@Url.Action("Editcontactdetails_partial", "JobNewsPaper")', b, '@Url.Action("EditSave", "ContactDetails")', 'Edit Contact Details', '#frmContactDetails', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmJobNewsPaper', '#ContactDetailslistJN', 'ContactDetailslistJN', 'ContactDetailslistJN', 'N', '#Remove-ContactNo-ContDetails,#Edit-ContactNo-ContDetails', function (data) {
                // setTimeout(function () {
                $.each(data[0], function (i, k) {
                    $('#frmContactDetails').trigger('reset');
                    $('#EmailId').val(k.EmailId);
                    $('#Website').val(k.Website);
                    $('#FaxNo').val(k.FaxNo);
                });

                $.each(data[1], function (i, k) {
                    $('#ContactNos_List').P2BLookUpEncapsulate('#ContactNos_List', 'ContactNos_List', k.Id, k.FullContactNumbers, 'ContactNos_List', '#Edit-ContactNo-ContDetails,#Remove-ContactNo-ContDetails', 'A');
                });
                // }, 3000);
            });
            event.preventDefault();
        });

        $('#Remove-ContactDetails-JobNewsPaper').button().on('click', function (event) {
            // dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            //var a = [], b;
            //a = $('#ContactDetailslistJN').P2BGetTableDataonSelectedRow('#ContactDetailslistJN', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#ContactDetailslistJN').P2BGetTableDataonSelectedRow('#ContactDetailslistJN', 0);

            $('<div></div>').P2BPartialDeleteModalDialog('@Url.Action("DeleteContactDetails","Corporate")', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#ContactDetailslistJN', $('#ContactDetailslistJN').val(), 200, 200, '#frmJobNewsPaper', '#ContactDetailslistJN', '#Edit-ContactDetails-JobNewsPaper,#Remove-ContactDetails-JobNewsPaper');
            event.preventDefault();
        });

        $('#Lookup_FullNameFML').on('click', function () {
            $('.dialogA').AddDataToTextbox({
                appendTo: "#ContactPerson_FullNameFML",
                appendToId: "#EmpName_id",
                lookupurl: "@Url.Action("GetLookupJobNewsPaper_EmpName", "JobNewsPaper")",
                NoOfRecordToShow: "10",
                setnameofthelookupbyppage: "EmpName_FName-lookup",
                LookupDiv: "lookupdivJA",
                lookuppagename: "lookup",
                pagename: "PageNavPosition",
                readonly: true
            });
        });

        $('#Lookup-EmpName-FName').on('click', function () {

            $('.dialogA').AddDataToTextbox({
                appendTo: "#ContactPerson_FullNameFML",
                lookupurl: "@Url.Action("GetLookup_Name", "JobAgency")",
                NoOfRecordToShow: "10",
                setnameofthelookupbyppage: "ContactPerson-lookup",
                LookupDiv: "LookupDiv",
                lookuppagename: "lookup",
                appendToId: "#EmpName_id",
                readonly: true,
                pagename: "PageNavPosition"
            });
        });
        $('#Create-EmpName-FName').on('click', function (e) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "NameSingle")', 'Create NameSingle', 'open', '@Url.Action("Create", "NameSingle")', '#frmNameSingle', 'Message :', 'Request Falied :', '#JqGrid', 251, 460, '', '#DepartmentObjlist', 'change', '', '', function (data) {
                console.log('jobagency');
                console.log(data[0]);
                console.log('jobagency');
                console.log(data[1]);
                $('#EmpName_id').val(data[0]);
                $('#ContactPerson_FullNameFML').val(data[1]);
            });
        });
        $('#Edit-EmpName-FName').button().on("click", function (event) {
            var a = $('#EmpName_id').val() == false ? alert("Select Record..!") : $('#EmpName_id').val();
            if (a == undefined) return false;
            $("<div></div>").CustomeDialog({
                htmlurl: '@Url.Action("partial", "NameSingle")',
                onloaddataurl: '@Url.Action("edit", "NameSingle")',
                onloaddataid: a,
                submiturl: '@Url.Action("EditSave", "NameSingle")',
                form: '#frmNameSingle',
                title: 'Name Single',
                onloadreturnfunction: function (data) {

                    $('#frmNameSingle').trigger('reset');
                    $('#FName').val(data.FName);
                    $('#MName').val(data.MName);
                    $('#LName').val(data.LName);
                    $('#title').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 100, data.EmpTitle);
                    $('#id').val(data.id);
                },
                onsubmitreturnfunction: function (data) {
                    $('#EmpName_id').val(data.Id);
                    $('#ContactPerson_FullNameFML').val(data.Val);
                }
            });
            event.preventDefault();
        });
        $('.popup_radio_button').controlgroup();
        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');
    });
</script>