@{
    Layout = null;
}

<style>
    .add_icon-row {
        position: relative;
        left: -65px;
        top: -46px;
    }

    .add_popup-content-label {
        display: block;
        margin: 1px;
        float: left;
        min-width: 107px;
    }

    .add_popup-content-textbox {
        margin-bottom: 1px;
        min-width: 290px;
    }

    .add_row {
        width: 448px;
    }
</style>
<div>
    <form id="FormAddress" method="post">
        <div class="add_row content_margine">
            <label class="add_popup-content-label must">Address line 1 :</label>
            <input type="text" id="Address1" name="Address1" class="add_popup-content-textbox must" maxlength="50" />
        </div>
        <div class="add_row content_margine">
            <label class="add_popup-content-label must">Address line 2 :</label>
            <input type="text" id="Address2" name="Address2" class="add_popup-content-textbox must" maxlength="50" />
        </div>
        <div class="add_row content_margine">
            <label class="add_popup-content-label">Address line 3 :</label>
            <input type="text" id="Address3" name="Address3" class="add_popup-content-textbox" maxlength="50" />
        </div>
        <div class="add_row content_margine">
            <label class="add_popup-content-label">Landmark :</label>
            <input type="text" id="Landmark" name="Landmark" class="add_popup-content-textbox" maxlength="30" />
        </div>
        <div class="row3 content_margine">
            <div id="CountryList_Old"></div>
            <label for="Country_Id" class="add_popup-content-label">Country :</label>
            <div class="popup-content-table">
                <table class="lookuptableselected" id="Country_Id">
                    <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                </table>
            </div>
            <div class="icon-row">
                <button data-p2btooltip="Lookup Country" class="  popup-content-icon-lookup" id="Lookup-Country-Address-Company"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                <button data-p2btooltip="Create Country" class="popup-content-icon-create" id="Create-Country-Address-Company"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                <button data-p2btooltip="Edit Country" class="popup-content-icon-edit" id="Edit-Country-Address-Company"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                <button data-p2btooltip="Remove Country" class="popup-content-icon-remove" id="Remove-Country-Address-Company"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
            </div>
        </div>
        <div class="row3 content_margine">
            <div id="StateList_Old"></div>
            <label for="State_Id" class="add_popup-content-label">State :</label>
            <div class="popup-content-table">
                <table class="lookuptableselected" id="State_Id">
                    <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                </table>
            </div>
            <div class="icon-row">
                <button data-p2btooltip="Lookup State" class="  popup-content-icon-lookup" id="Lookup-State-Address-Company"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                <button data-p2btooltip="Create State" class="popup-content-icon-create" id="Create-State-Address-Company"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                <button data-p2btooltip="Edit State" class="popup-content-icon-edit" id="Edit-State-Address-Company"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                <button data-p2btooltip="Remove State" class="popup-content-icon-remove" id="Remove-State-Address-Company"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
            </div>
        </div>
        <div class="row3 content_margine">
            <div id="StateRegionList_Old"></div>
            <label for="StateRegion_Id" class="add_popup-content-label">StateRegion :</label>
            <div class="popup-content-table">
                <table class="lookuptableselected" id="StateRegion_Id">
                    <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                </table>
            </div>
            <div class="icon-row">
                <button data-p2btooltip="Lookup StateRegion" class="  popup-content-icon-lookup" id="Lookup-StateRegion-Address-Company"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                <button data-p2btooltip="Create StateRegion" class="popup-content-icon-create" id="Create-StateRegion-Address-Company"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                <button data-p2btooltip="Edit StateRegion" class="popup-content-icon-edit" id="Edit-StateRegion-Address-Company"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                <button data-p2btooltip="Remove StateRegion" class="popup-content-icon-remove" id="Remove-StateRegion-Address-Company"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
            </div>
        </div>
        <div class="row3 content_margine">
            <div id="DistrictList_Old"></div>
            <label for="District_Id" class="add_popup-content-label">District :</label>
            <div class="popup-content-table">
                <table class="lookuptableselected" id="District_Id">
                    <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                </table>
            </div>
            <div class="icon-row">
                <button data-p2btooltip="Lookup District" class="  popup-content-icon-lookup" id="Lookup-District-Address-Company"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                <button data-p2btooltip="Create District" class="popup-content-icon-create" id="Create-District-Address-Company"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                <button data-p2btooltip="Edit District" class="popup-content-icon-edit" id="Edit-District-Address-Company"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                <button data-p2btooltip="Remove District" class="popup-content-icon-remove" id="Remove-District-Address-Company"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
            </div>
        </div>
        <div class="row3 content_margine">
            <div id="TalukaList_Old"></div>
            <label for="Taluka_Id" class="add_popup-content-label">Taluka :</label>
            <div class="popup-content-table">
                <table class="lookuptableselected" id="Taluka_Id">
                    <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                </table>
            </div>
            <div class="icon-row">
                <button data-p2btooltip="Lookup Taluka" class="  popup-content-icon-lookup" id="Lookup-Taluka-Address-Company"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                <button data-p2btooltip="Create Taluka" class="popup-content-icon-create" id="Create-Taluka-Address-Company"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                <button data-p2btooltip="Edit Taluka" class="popup-content-icon-edit" id="Edit-Taluka-Address-Company"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                <button data-p2btooltip="Remove Taluka" class="popup-content-icon-remove" id="Remove-Taluka-Address-Company"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
            </div>
        </div>
        <div class="row3 content_margine">
            <div id="City_Old"></div>
            <label for="City_Id" class="add_popup-content-label">City :</label>
            <div class="popup-content-table">
                <table class="lookuptableselected" id="City_Id">
                    <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                </table>
            </div>
            <div class="icon-row">
                <button data-p2btooltip="Lookup City" class="  popup-content-icon-lookup" id="Lookup-City-Address-Company"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                <button data-p2btooltip="Create City" class="popup-content-icon-create" id="Create-City-Address-Company"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                <button data-p2btooltip="Edit City" class="popup-content-icon-edit" id="Edit-City-Address-Company"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                <button data-p2btooltip="Remove City" class="popup-content-icon-remove" id="Remove-City-Address-Company"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
            </div>
        </div>
        <div class="row3 content_margine">
            <div id="AreaList_Old"></div>
            <label for="Area_Id" class="add_popup-content-label">Area :</label>
            <div class="popup-content-table">
                <table class="lookuptableselected" id="Area_Id">
                    <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                </table>
            </div>
            <div class="icon-row">
                <button data-p2btooltip="Lookup Area" class="  popup-content-icon-lookup" id="Lookup-Area-Address-Company"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                <button data-p2btooltip="Create Area" class="popup-content-icon-create" id="Create-Area-Address-Company"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                <button data-p2btooltip="Edit Area" class="popup-content-icon-edit" id="Edit-Area-Address-Company"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                <button data-p2btooltip="Remove Area" class="popup-content-icon-remove" id="Remove-Area-Address-Company"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
            </div>
        </div>
        @*<div class="add_row content_margine">
            <label class="add_popup-content-label must">Country :</label>
            <select id="CountryList_DDL" name="CountryList_DDL" class="drop must">
                <option value="0">-Select-</option>
            </select>
            <div class="add_icon-row">
                <button data-p2btooltip="Create Country" class="popup-content-icon-create" id="Create_Country">
                    <span class="ui-icon ui-icon-newwin popup-content-iconmark"></span>
                </button>
            </div>
        </div>
        <div class="add_row content_margine  ">
            <label class="add_popup-content-label must">State :</label>
            <select id="StateList_DDL" name="StateList_DDL" class="drop must">
                <option value="0">-Select-</option>
            </select>
            <div class="add_icon-row">
                <button data-p2btooltip="Create State" class="popup-content-icon-create" id="Create_State">
                    <span class="ui-icon ui-icon-newwin popup-content-iconmark"></span>
                </button>
            </div>
        </div>
        <div class="add_row content_margine">
            <label class="add_popup-content-label">StateRegion :</label>
            <select id="StateRegionList_DDL" name="StateRegionList_DDL" class="drop">
                <option value="0">-Select-</option>
            </select>
            <div class="add_icon-row">
                <button data-p2btooltip="Create StateRegion" class="popup-content-icon-create" id="Create_StateRegion">
                    <span class="ui-icon ui-icon-newwin popup-content-iconmark"></span>
                </button>
            </div>
        </div>
        <div class="add_row content_margine">
            <label class="add_popup-content-label">District :</label>
            <select id="DistrictList_DDL" name="DistrictList_DDL" class="drop">
                <option value="0">-Select-</option>
            </select>
            <div class="add_icon-row">
                <button data-p2btooltip="Create District" class="popup-content-icon-create" id="Create_District">
                    <span class="ui-icon ui-icon-newwin popup-content-iconmark"></span>
                </button>
            </div>
        </div>
        <div class="add_row content_margine">
            <label class="add_popup-content-label">Taluka :</label>
            <select id="TalukaList_DDL" name="TalukaList_DDL" class="drop">
                <option value="0">-Select-</option>
            </select>
            <div class="add_icon-row">
                <button data-p2btooltip="Create Taluka" class="popup-content-icon-create" id="Create_Taluka">
                    <span class="ui-icon ui-icon-newwin popup-content-iconmark"></span>
                </button>
            </div>
        </div>
        <div class="add_row content_margine">
            <label class="add_popup-content-label">City :</label>
            <select id="CityList_DDL" name="CityList_DDL" class="drop">
                <option value="0">-Select-</option>
            </select>
            <div class="add_icon-row">
                <button data-p2btooltip="Create City" class="popup-content-icon-create" id="Create_City">
                    <span class="ui-icon ui-icon-newwin popup-content-iconmark"></span>
                </button>
            </div>
        </div>
        <div class="add_row content_margine">
            <label class="add_popup-content-label">Area :</label>
            <select id="AreaList_DDL" name="AreaList_DDL" class="drop">
                <option value="0">-Select-</option>
            </select>
            <div class="add_icon-row">
                <button data-p2btooltip="Create Area" class="popup-content-icon-create" id="Create_Area">
                    <span class="ui-icon ui-icon-newwin popup-content-iconmark"></span>
                </button>
            </div>
        </div>*@
    </form>
</div>

<script>
    $(document).ready(function () {
        $('#Address1').MaxLength(50);
        $('#Address2').MaxLength(50);
        $('#Address3').MaxLength(50);
        $('#Landmark').MaxLength(30);
       // $('#Address1').ForceOnlyAlphaNumeric();
      //  $('#Address1').ValidateTextBox({ maxlength: 50, name: true });
      //  $('#Address2').ValidateTextBox({ maxlength: 50, name: true });
       // $('#Address3').ValidateTextBox({ maxlength: 50, name: true });
       // $('#Address2').ForceOnlyAlphaNumeric();
       // $('#Address3').ForceOnlyAlphaNumeric();
       // $('#Landmark').ValidateTextBox({ maxlength: 50, name: true });
    });


    $(document).ready(function (e) {
        $('button').button();
        $('.popup_radio_button').controlgroup();


        //To get data in Lookup
        $('#Lookup-Country-Address-Company').on('click', function (event) {
            $('.dialog').P2BLookUpModal(APIURL + '/GetCountryEditRequest', '', 'LookupDiv', 'Country Look Up Data', '#Country_Id', 'Country_Id', 5, 'Country_Id', '#FormAddress', 'A', '#Edit-Country-Address-Company,#Remove-Country-Address-Company', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        // PArtial page create
        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-Country-Address-Company').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "country")', 'Create Country', 'open', APIURL + '/GetCountryCreateRequest', '#FormCountry', 'Message :', 'Request Falied :', '#JqGrid', 257, 439, '', '#CountryList_DDL', 'change', '', '', function (data) {
                $('#Country_Id').P2BLookUpEncapsulate('#Country_Id', 'Country_Id', data[0] && data[0].Country.Id, data[0] && data[0].Country && data[0].Country.Country_FullDetails, 'Country_Id', 'Create', 'A','C');

            });
            event.preventDefault();
        });

        // Partial page edit
        $('#Edit-Country-Address-Company').button().on("click", function (event) {
            var a = [], b;
            a = $('#Country_Id').P2BGetTableDataonSelectedRow('#Country_Id', 0);
            b = a[0];
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "country")', APIURL + '/GetCountryEditRequest', b, APIURL + '/GetCountryEditSaveRequest', 'Edit Country', '#FormCountry', b, 'Message :', 'Request Falied :', '#JqGrid', 257, 439, '#FormCountry', '#Country_Id', 'Country_Id', 'Country_Id', 'A', '#Edit-Country-Address-Company,#Remove-Country-Address-Company', function (data) {
                var k;
                var apiData;
                if (data) {
                    k = data.Data;
                    if (k && k.OriginalData && k.OriginalData.Id) {
                        apiData = k.OriginalData;
                    } else {
                        apiData = k.DT_Country;
                    }
                }
                $('#FormCountry').trigger("reset");
                $('#TextCountryCode').val(apiData.Code || '');
                $('#TextCountryName').val(apiData.Name || '');
                $('#CurrencyCode').val(apiData.CurrencyCode || '');
                $('#CurrencyDesc').val(apiData.CurrencyDesc || '');
                $('#ISDCode').val(apiData.ISDCode || '');
            });
            event.preventDefault();
        });

        //partial page delete
        $('#Remove-Country-Address-Company').button().on('click', function (event) {
            var selectedRows = [];
            selectedRows = $('#Country_Id').P2BGetTableDataonSelectedRow('#Country_Id', 0);
            var objData = $('.Country_Id');
            if (objData[0].innerText === 'C') {
                $('<div></div>').P2BPartialDeleteModalDialog(APIURL + '/GetStateDeleteRequest', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#Country_Id', $('#Country_Id').val(), 200, 250, '#FormAddress', '#Country_Id', '#Edit-Country-Address-Company,#Remove-Country-Address-Company');
            } else {
                $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#Country_Id', $('#Country_Id').val(), 200, 250, '#FormAddress', '#Country_Id', '#Edit-Country-Address-Company,#Remove-Country-Address-Company');
            }
            $('#Lookup-Country-Address-Company,#Create-Country-Address-Company').button().button('enable');
            event.preventDefault();
        });


        //To get data in Lookup
        $('#Lookup-State-Address-Company').on('click', function (event) {
            $('.dialog').P2BLookUpModal(APIURL + '/GetStateEditRequest', '', 'LookupDiv', 'State Look Up Data', '#State_Id', 'State_Id', 5, 'State_Id', '#FormAddress', 'A', '#Edit-State-Address-Company,#Remove-State-Address-Company', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        // PArtial page create
       $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-State-Address-Company').on("click", function (e) {
            //if ($('#CountryList_DDL option:selected').val() == null || $('#CountryList_DDL option:selected').val() == 0 || $('#CountryList_DDL option:selected').val() == "-Select-") {
            //    alert('Kindly select  "Country"  first');
            //    return false;
            //}
            //else {
                $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "state") ', 'Create State', 'open', APIURL + '/GetStateCreateRequest', '#FormState', 'Message :', 'Request Falied :', '#JqGrid', 200, 400, $("#CountryList_DDL option:selected").val(), '#CountryList_DDL', 'change', '', '', function (data) {
                    $('#State_Id').P2BLookUpEncapsulate('#State_Id', 'State_Id', data[0] && data[0].State.Id, data[0] && data[0].State && data[0].State.State_FullDetails, 'State_Id', 'Create', 'A','C');
                });
                e.preventDefault();
            //}
        });

        // Partial page edit
        $('#Edit-State-Address-Company').button().on("click", function (event) {
            var a = [], b;
            a = $('#State_Id').P2BGetTableDataonSelectedRow('#State_Id', 0);
            b = a[0];
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "state")', APIURL + '/GetStateEditRequest', b, APIURL + '/GetStateEditSaveRequest', 'Edit Country', '#FormState', b, 'Message :', 'Request Falied :', '#JqGrid', 200, 400, '#FormAddress', '#State_Id', 'State_Id', 'State_Id', 'A', '#Edit-State-Address-Company,#Remove-State-Address-Company', function (data) {
                var k;
                var apiData;
                if (data) {
                    k = data.Data;
                    if (k && k.OriginalData && k.OriginalData.Id) {
                        apiData = k.OriginalData;
                    } else {
                        apiData = k.DT_State;
                    }
                }
                $('#FormState').trigger("reset");
                $('#StateCode').val(apiData.Code || '');
                $('#StateName').val(apiData.Name || '');
            });
            event.preventDefault();
        });

        //partial page delete
        $('#Remove-State-Address-Company').button().on('click', function (event) {
            var selectedRows = [];
            selectedRows = $('#State_Id').P2BGetTableDataonSelectedRow('#State_Id', 0);
            var objData = $('.State_Id');
            if (objData[0].innerText === 'C') {
                $('<div></div>').P2BPartialDeleteModalDialog(APIURL + '/GetStateDeleteRequest', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#State_Id', $('#State_Id').val(), 200, 250, '#FormAddress', '#State_Id', '#Edit-State-Address-Company,#Remove-State-Address-Company');
            } else {
                $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#State_Id', $('#State_Id').val(), 200, 250, '#FormAddress', '#State_Id', '#Edit-State-Address-Company,#Remove-State-Address-Company');
            }
            $('#Lookup-State-Address-Company,#Create-State-Address-Company').button().button('enable');
            event.preventDefault();
        });


        //To get data in Lookup
        $('#Lookup-StateRegion-Address-Company').on('click', function (event) {
            $('.dialog').P2BLookUpModal(APIURL + '/GetStateRegionEditRequest', '', 'LookupDiv', 'StateRegion Look Up Data', '#StateRegion_Id', 'StateRegion_Id', 5, 'StateRegion_Id', '#FormAddress', 'A', '#Edit-StateRegion-Address-Company,#Remove-StateRegion-Address-Company', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        // PArtial page create
       $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-StateRegion-Address-Company').on("click", function (e) {
            //if ($('#StateList_DDL option:selected').val() == null || $('#StateList_DDL option:selected').val() == 0 || $('#StateList_DDL option:selected').val() == "-Select-") {
            //    alert('Kindly select  "State"  first');
            //    return false;
            //}
            //else {
                $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "stateregion")', 'Create Region', 'open', APIURL + '/GetStateRegionCreateRequest', '#FormStateRegion', 'Message :', 'Request Falied :', '#JqGrid', 250, 400, $("#StateList_DDL option:selected").val(), '#StateList_DDL', 'change', '', '', function (data) {
                    $('#StateRegion_Id').P2BLookUpEncapsulate('#StateRegion_Id', 'StateRegion_Id', data[0] && data[0].StateRegion.Id, data[0] && data[0].StateRegion && data[0].StateRegion.StateRegion_FullDetails, 'StateRegion_Id', 'Create', 'A','C');
                });
                e.preventDefault();
            //}
        });

        // Partial page edit
        $('#Edit-StateRegion-Address-Company').button().on("click", function (event) {
            var a = [], b;
            a = $('#StateRegion_Id').P2BGetTableDataonSelectedRow('#StateRegion_Id', 0);
            b = a[0];
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "stateregion")', APIURL + '/GetStateRegionEditRequest', b, APIURL + '/GetStateRegionEditSaveRequest', 'Edit StateRegion', '#FormStateRegion', b, 'Message :', 'Request Falied :', '#JqGrid', 250, 400, '#FormAddress', '#StateRegion_Id', 'StateRegion_Id', 'StateRegion_Id', 'A', '#Edit-StateRegion-Address-Company,#Remove-StateRegion-Address-Company', function (data) {
                var k;
                var apiData;
                if (data) {
                    k = data.Data;
                    if (k && k.OriginalData && k.OriginalData.Id) {
                        apiData = k.OriginalData;
                    } else {
                        apiData = k.DT_StateRegion;
                    }
                }
                $('#FormStateRegion').trigger("reset");
                $('#RegionCode').val(apiData.Code || '');
                $('#RegionName').val(apiData.Name || '');
            });
            event.preventDefault();
        });

        //partial page delete
        $('#Remove-StateRegion-Address-Company').button().on('click', function (event) {
            var selectedRows = [];
            selectedRows = $('#StateRegion_Id').P2BGetTableDataonSelectedRow('#StateRegion_Id', 0);
            var objData = $('.StateRegion_Id');
            if (objData[0].innerText === 'C') {
                $('<div></div>').P2BPartialDeleteModalDialog(APIURL + '/GetStateRegionDeleteRequest', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#StateRegion_Id', $('#StateRegion_Id').val(), 200, 250, '#FormAddress', '#StateRegion_Id', '#Edit-StateRegion-Address-Company,#Remove-StateRegion-Address-Company');
            } else {
                $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#StateRegion_Id', $('#StateRegion_Id').val(), 200, 250, '#FormAddress', '#StateRegion_Id', '#Edit-StateRegion-Address-Company,#Remove-StateRegion-Address-Company');
            }
            $('#Lookup-District-Address-Company,#Create-District-Address-Company').button().button('enable'); 
            event.preventDefault();
        });


        //To get data in Lookup
        $('#Lookup-District-Address-Company').on('click', function (event) {
            $('.dialog').P2BLookUpModal(APIURL + '/GetDistrictEditRequest', '', 'LookupDiv', 'District Look Up Data', '#District_Id', 'District_Id', 5, 'District_Id', '#FormAddress', 'A', '#Edit-District-Address-Company,#Remove-District-Address-Company', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        // PArtial page create
       $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-District-Address-Company').on("click", function (e) {
            //if ($('#StateRegionList_DDL option:selected').val() == null || $('#StateRegionList_DDL option:selected').val() == 0 || $('#StateRegionList_DDL option:selected') == "-Select-") {
            //    alert('Kindly select  "Region"  first');
            //    return false;
            //}
            //else {
                $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "district")', 'Create District', 'open', APIURL + '/GetDistrictCreateRequest', '#FormDistrict', 'Message :', 'Request Falied :', '#JqGrid', 250, 400, $("#StateRegionList_DDL option:selected").val(), '#StateRegionList_DDL', 'change', '', '', function (data) {
                    $('#District_Id').P2BLookUpEncapsulate('#District_Id', 'District_Id', data[0] && data[0].District.Id, data[0] && data[0].District && data[0].District.District_FullDetails, 'District_Id', 'Create', 'A','C');
                });
                e.preventDefault();
            //}
        });

        // Partial page edit
        $('#Edit-District-Address-Company').button().on("click", function (event) {
            var a = [], b;
            a = $('#District_Id').P2BGetTableDataonSelectedRow('#District_Id', 0);
            b = a[0];
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "district")', APIURL + '/GetDistrictEditRequest', b, APIURL + '/GetDistrictEditSaveRequest', 'Edit District', '#FormDistrict', b, 'Message :', 'Request Falied :', '#JqGrid', 250, 400, '#FormAddress', '#District_Id', 'District_Id', 'District_Id', 'A', '#Edit-District-Address-Company,#Remove-District-Address-Company', function (data) {
                var k;
                var apiData;
                if (data) {
                    k = data.Data;
                    if (k && k.OriginalData && k.OriginalData.Id) {
                        apiData = k.OriginalData;
                    } else {
                        apiData = k.DT_District;
                    }
                }
                $('#FormDistrict').trigger("reset");
                $('#DistrictCode').val(apiData.Code || '');
                $('#DistrictName').val(apiData.Name || '');
            });
            event.preventDefault();
        });

        //partial page delete
        $('#Remove-District-Address-Company').button().on('click', function (event) {
            var selectedRows = [];
            selectedRows = $('#District_Id').P2BGetTableDataonSelectedRow('#District_Id', 0);
            var objData = $('.District_Id');
            if (objData[0].innerText === 'C') {
                $('<div></div>').P2BPartialDeleteModalDialog(APIURL + '/GetDistrictDeleteRequest', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#District_Id', $('#District_Id').val(), 200, 250, '#FormAddress', '#District_Id', '#Edit-District-Address-Company,#Remove-District-Address-Company');
            } else {
                $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#District_Id', $('#District_Id').val(), 200, 250, '#FormAddress', '#District_Id', '#Edit-District-Address-Company,#Remove-District-Address-Company');
            }
            $('#Lookup-District-Address-Company,#Create-District-Address-Company').button().button('enable');  
            event.preventDefault();
        });


        //To get data in Lookup
        $('#Lookup-Taluka-Address-Company').on('click', function (event) {
            $('.dialog').P2BLookUpModal(APIURL + '/GetTalukaEditRequest', '', 'LookupDiv', 'Taluka Look Up Data', '#Taluka_Id', 'Taluka_Id', 5, 'Taluka_Id', '#FormAddress', 'A', '#Edit-Taluka-Address-Company,#Remove-Taluka-Address-Company', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        // PArtial page create
       $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-Taluka-Address-Company').on("click", function (e) {
            //if ($("#DistrictList_DDL option:selected").val() == null || $("#DistrictList_DDL option:selected").val() == 0 || $("#DistrictList_DDL option:selected").val() == "-Select-") {
            //    alert('Kindly select  "District"  first');
            //    return false;
            //}
            //else {
                $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "taluka") ', 'Create Taluka', 'open', APIURL + '/GetTalukaCreateRequest', '#FormTaluka', 'Message :', 'Request Falied :', '#JqGrid', 250, 400, $("#DistrictList_DDL option:selected").val(), '#DistrictList_DDL', 'change', '', '', function (data) {
                    $('#Taluka_Id').P2BLookUpEncapsulate('#Taluka_Id', 'Taluka_Id', data[0] && data[0].Taluka.Id, data[0] && data[0].Taluka && data[0].Taluka.Taluka_FullDetails, 'Taluka_Id', 'Create', 'A','C');
                });
                e.preventDefault();
            //}
        });

        // Partial page edit
        $('#Edit-Taluka-Address-Company').button().on("click", function (event) {
            var a = [], b;
            a = $('#Taluka_Id').P2BGetTableDataonSelectedRow('#Taluka_Id', 0);
            b = a[0];
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "taluka")', APIURL + '/GetTalukaEditRequest', b, APIURL + '/GetTalukaEditSaveRequest', 'Edit Taluka', '#FormTaluka', b, 'Message :', 'Request Falied :', '#JqGrid', 250, 400, '#FormAddress', '#Taluka_Id', 'Taluka_Id', 'Taluka_Id', 'A', '#Edit-Taluka-Address-Company,#Remove-Taluka-Address-Company', function (data) {
                var k;
                var apiData;
                if (data) {
                    k = data.Data;
                    if (k && k.OriginalData && k.OriginalData.Id) {
                        apiData = k.OriginalData;
                    } else {
                        apiData = k.DT_Taluka;
                    }
                }
                $('#FormTaluka').trigger("reset");
                $('#TalukaCode').val(apiData.Code || '');
                $('#TalukaName').val(apiData.Name || '');               
            });
            event.preventDefault();
        });

        //partial page delete
        $('#Remove-Taluka-Address-Company').button().on('click', function (event) {
            var selectedRows = [];
            selectedRows = $('#Taluka_Id').P2BGetTableDataonSelectedRow('#Taluka_Id', 0);
            var objData = $('.Taluka_Id');
            if (objData[0].innerText === 'C') {
                $('<div></div>').P2BPartialDeleteModalDialog(APIURL + '/GetTalukaDeleteRequest', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#Taluka_Id', $('#Taluka_Id').val(), 200, 250, '#FormAddress', '#Taluka_Id', '#Edit-Taluka-Address-Company,#Remove-Taluka-Address-Company');
            } else {
                $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#Taluka_Id', $('#Taluka_Id').val(), 200, 250, '#FormAddress', '#Taluka_Id', '#Edit-Taluka-Address-Company,#Remove-Taluka-Address-Company');
            }
            $('#Lookup-Taluka-Address-Company,#Create-Taluka-Address-Company').button().button('enable'); 
            event.preventDefault();
        });


        //To get data in Lookup
        $('#Lookup-City-Address-Company').on('click', function (event) {
            $('.dialog').P2BLookUpModal(APIURL + '/GetCityEditRequest', '', 'LookupDiv', 'City Look Up Data', '#City_Id', 'City_Id', 5, 'City_Id', '#FormAddress', 'A', '#Edit-City-Address-Company,#Remove-City-Address-Company', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        // PArtial page create
       $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-City-Address-Company').on("click", function (e) {
            //if ($("#TalukaList_DDL option:selected").val() == null || $("#TalukaList_DDL option:selected").val() == 0 || $("#TalukaList_DDL option:selected").val() == "-Select-") {
            //    alert('Kindly select  "Taluka"  first');
            //    return false;
            //}
            //else {
                $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "city") ', 'Create City', 'open', APIURL + '/GetCityCreateRequest', '#FormCity', 'Message :', 'Request Falied :', '#JqGrid', 250, 400, $("#TalukaList_DDL option:selected").val(), '#TalukaList_DDL', 'change', '', '', function (data) {
                    $('#City_Id').P2BLookUpEncapsulate('#City_Id', 'City_Id', data[0] && data[0].City.Id, data[0] && data[0].City && data[0].City.City_FullDetails, 'City_Id', 'Create', 'A','C');
                });
                e.preventDefault();
            //}
        });

        // Partial page edit
        $('#Edit-City-Address-Company').button().on("click", function (event) {
            var a = [], b;
            a = $('#City_Id').P2BGetTableDataonSelectedRow('#City_Id', 0);
            b = a[0];
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "city")', APIURL + '/GetCityEditRequest', b, APIURL + '/GetCityEditSaveRequest', 'Edit City', '#FormCity', b, 'Message :', 'Request Falied :', '#JqGrid', 250, 400, '#FormAddress', '#City_Id', 'City_Id', 'City_Id', 'A', '#Edit-City-Address-Company,#Remove-City-Address-Company', function (data) {
                var k;
                var apiData;
                if (data) {
                    k = data.Data;
                    if (k && k.OriginalData && k.OriginalData.Id) {
                        apiData = k.OriginalData;
                    } else {
                        apiData = k.DT_City;
                    }
                }
                $('#FormCity').trigger("reset");
                $('#CityCode').val(apiData.Code || '');
                $('#CityName').val(apiData.Name || ''); 
            });
            event.preventDefault();
        });

        //partial page delete
        $('#Remove-City-Address-Company').button().on('click', function (event) {
            var selectedRows = [];
            selectedRows = $('#City_Id').P2BGetTableDataonSelectedRow('#City_Id', 0);
            var objData = $('.City_Id');
            if (objData[0].innerText === 'C') {
                $('<div></div>').P2BPartialDeleteModalDialog(APIURL + '/GetCityDeleteRequest', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#City_Id', $('#City_Id').val(), 200, 250, '#FormAddress', '#City_Id', '#Edit-City-Address-Company,#Remove-City-Address-Company');
            } else {
                $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#City_Id', $('#City_Id').val(), 200, 250, '#FormAddress', '#City_Id', '#Edit-City-Address-Company,#Remove-City-Address-Company');
            }
            $('#Lookup-City-Address-Company,#Create-City-Address-Company').button().button('enable');             
            event.preventDefault();
        });


        //To get data in Lookup
        $('#Lookup-Area-Address-Company').on('click', function (event) {
            $('.dialog').P2BLookUpModal(APIURL + '/GetAreaEditRequest', '', 'LookupDiv', 'Area Look Up Data', '#Area_Id', 'Area_Id', 5, 'Area_Id', '#FormAddress', 'A', '#Edit-Area-Address-Company,#Remove-Area-Address-Company', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        // PArtial page create
       $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-Area-Address-Company').on("click", function (e) {
            //if ($("#CityList_DDL option:selected").val() == null || $("#CityList_DDL option:selected").val() == 0 || $("#CityList_DDL option:selected").val() == "-Select-") {
            //    alert('Kindly select  "City"  first');
            //    return false;
            //}
            //else {
                $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "area")', 'Create Area', 'open', APIURL + '/GetAreaCreateRequest', '#FormArea', 'Message :', 'Request Falied :', '#JqGrid', 250, 400, $("#CityList_DDL option:selected").val(), '#CityList_DDL', 'change', '', '', function (data) {
                    $('#Area_Id').P2BLookUpEncapsulate('#Area_Id', 'Area_Id', data[0] && data[0].Area.Id, data[0] && data[0].Area && data[0].Area.Area_FullDetails, 'Area_Id', 'Create', 'A','C');
                });
                e.preventDefault();
            //}
        });

        // Partial page edit
        $('#Edit-Area-Address-Company').button().on("click", function (event) {
            var a = [], b;
            a = $('#Area_Id').P2BGetTableDataonSelectedRow('#Area_Id', 0);
            b = a[0];
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "area")', APIURL + '/GetAreaEditRequest', b, APIURL + '/GetAreaEditSaveRequest', 'Edit Area', '#FormArea', b, 'Message :', 'Request Falied :', '#JqGrid', 250, 400, '#FormAddress', '#Area_Id', 'Area_Id', 'Area_Id', 'A', '#Edit-Area-Address-Company,#Remove-Area-Address-Company', function (data) {
                var k;
                var apiData;
                if (data) {
                    k = data.Data;
                    if (k && k.OriginalData && k.OriginalData.Id) {
                        apiData = k.OriginalData;
                    } else {
                        apiData = k.DT_Area;
                    }
                }
                $('#FormArea').trigger("reset");
                $('#AreaCode').val(apiData.Code || '');
                $('#AreaName').val(apiData.Name || ''); 
                $('#TxtPinCode').val(apiData.PinCode || ''); 
            });
            event.preventDefault();
        });

        //partial page delete
        $('#Remove-Area-Address-Company').button().on('click', function (event) {
            var selectedRows = [];
            selectedRows = $('#Area_Id').P2BGetTableDataonSelectedRow('#Area_Id', 0);
            var objData = $('.Area_Id');
            if (objData[0].innerText === 'C') {
                $('<div></div>').P2BPartialDeleteModalDialog(APIURL + '/GetAreaDeleteRequest', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#Area_Id', $('#Area_Id').val(), 200, 250, '#FormAddress', '#Area_Id', '#Edit-Area-Address-Company,#Remove-Area-Address-Company');
            } else {
                $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#Area_Id', $('#Area_Id').val(), 200, 250, '#FormAddress', '#Area_Id', '#Edit-Area-Address-Company,#Remove-Area-Address-Company');
            }
            $('#Lookup-Area-Address-Company,#Create-Area-Address-Company').button().button('enable');         
            event.preventDefault();
        });




        //$('<div></div>').P2BPartialCreateModalDialog();

        @*$('#Create_Country').on("click", function (e) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "country")', 'Create Country', 'open', APIURL + '/GetCountryCreateRequest', '#FormCountry', 'Message :', 'Request Falied :', '#JqGrid', 257, 439, '', '#CountryList_DDL', 'change', '', '', function (data) {
                $('#CountryList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "country")", "", data[0], '#StateList_DDL');

            });
            e.preventDefault();
        });*@

        @*$('<div></div>').P2BPartialCreateModalDialog();
        $('#Create_State').on("click", function (e) {
            if ($('#CountryList_DDL option:selected').val() == null || $('#CountryList_DDL option:selected').val() == 0 || $('#CountryList_DDL option:selected').val() == "-Select-") {
                alert('Kindly select  "Country"  first');
                return false;
            }
            else {
                $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "state") ', 'Create State', 'open', APIURL + '/GetStateCreateRequest', '#FormState', 'Message :', 'Request Falied :', '#JqGrid', 200, 400, $("#CountryList_DDL option:selected").val(), '#CountryList_DDL', 'change', '', '', function (data) {
                    $('#StateList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "state")", "", data[0], '#StateRegionList_DDL');
                });
                e.preventDefault();
            }
        });*@

        @*$('<div></div>').P2BPartialCreateModalDialog();
        $('#Create_StateRegion').on("click", function (e) {
            if ($('#StateList_DDL option:selected').val() == null || $('#StateList_DDL option:selected').val() == 0 || $('#StateList_DDL option:selected').val() == "-Select-") {
                alert('Kindly select  "State"  first');
                return false;
            }
            else {
                $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "stateregion")', 'Create Region', 'open', APIURL + '/GetStateRegionCreateRequest', '#FormStateRegion', 'Message :', 'Request Falied :', '#JqGrid', 250, 400, $("#StateList_DDL option:selected").val(), '#StateList_DDL', 'change', '', '', function (data) {
                    $('#StateRegionList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "StateRegion")", "", data[0], '#DistrictList_DDL');
                });
                e.preventDefault();
            }
        });*@


        @*$('<div></div>').P2BPartialCreateModalDialog();
        $('#Create_District').on("click", function (e) {
            if ($('#StateRegionList_DDL option:selected').val() == null || $('#StateRegionList_DDL option:selected').val() == 0 || $('#StateRegionList_DDL option:selected') == "-Select-") {
                alert('Kindly select  "Region"  first');
                return false;
            }
            else {
                $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "district")', 'Create District', 'open', APIURL + '/GetDistrictCreateRequest', '#FormDistrict', 'Message :', 'Request Falied :', '#JqGrid', 250, 400, $("#StateRegionList_DDL option:selected").val(), '#StateRegionList_DDL', 'change', '', '', function (data) {
                    $('#DistrictList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "district")", "", data[0], '#TalukaList_DDL');
                });
                e.preventDefault();
            }
        });*@


        @*$('<div></div>').P2BPartialCreateModalDialog();
        $('#Create_Taluka').on("click", function (e) {
            if ($("#DistrictList_DDL option:selected").val() == null || $("#DistrictList_DDL option:selected").val() == 0 || $("#DistrictList_DDL option:selected").val() == "-Select-") {
                alert('Kindly select  "District"  first');
                return false;
            }
            else {
                $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "taluka") ', 'Create Taluka', 'open', APIURL + '/GetTalukaCreateRequest', '#FormTaluka', 'Message :', 'Request Falied :', '#JqGrid', 250, 400, $("#DistrictList_DDL option:selected").val(), '#DistrictList_DDL', 'change', '', '', function (data) {
                    $('#TalukaList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "taluka")", "", data[0], '#CityList_DDL');
                });
                e.preventDefault();
            }
        });*@

        @*$('<div></div>').P2BPartialCreateModalDialog();
        $('#Create_City').on("click", function (e) {
            if ($("#TalukaList_DDL option:selected").val() == null || $("#TalukaList_DDL option:selected").val() == 0 || $("#TalukaList_DDL option:selected").val() == "-Select-") {
                alert('Kindly select  "Taluka"  first');
                return false;
            }
            else {
                $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "city") ', 'Create City', 'open', APIURL + '/GetCityCreateRequest', '#FormCity', 'Message :', 'Request Falied :', '#JqGrid', 250, 400, $("#TalukaList_DDL option:selected").val(), '#TalukaList_DDL', 'change', '', '', function (data) {
                    $('#CityList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "city")", "", data[0], '#AreaList_DDL');
                });
                e.preventDefault();
            }
        });*@

        @*$('<div></div>').P2BPartialCreateModalDialog();
        $('#Create_Area').on("click", function (e) {
            if ($("#CityList_DDL option:selected").val() == null || $("#CityList_DDL option:selected").val() == 0 || $("#CityList_DDL option:selected").val() == "-Select-") {
                alert('Kindly select  "City"  first');
                return false;
            }
            else {
                $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "area")', 'Create Area', 'open', APIURL + '/GetAreaCreateRequest', '#FormArea', 'Message :', 'Request Falied :', '#JqGrid', 250, 400, $("#CityList_DDL option:selected").val(), '#CityList_DDL', 'change', '', '', function (data) {
                    $('#AreaList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "area")", "", data[0]);
                });
                e.preventDefault();
            }
        });*@
    });
</script>

