@{
    Layout = null;
}

<style>
    .add_icon-row {
        position: relative;
        left: -65px;
        top: -46px;
    }

    .add_popup-content-label {
        display: block;
        margin: 1px;
        float: left;
        width: 107px;
    }

    .add_popup-content-textbox {
        margin-bottom: 1px;
        min-width: 300px;
    }

    .add_row {
        width: 448px;
    }
</style>
<div>
    <form id="FormAddress" method="post">
        <div class="add_row content_margine">
            <label class="add_popup-content-label must">Address line 1 :</label>
            <input type="text" id="Address1" name="Address1" class="add_popup-content-textbox must" maxlength="50" />
        </div>
        <div class="add_row content_margine">
            <label class="add_popup-content-label must">Address line 2 :</label>
            <input type="text" id="Address2" name="Address2" class="add_popup-content-textbox must" maxlength="50" />
        </div>
        <div class="add_row content_margine">
            <label class="add_popup-content-label">Address line 3 :</label>
            <input type="text" id="Address3" name="Address3" class="add_popup-content-textbox" maxlength="50" />
        </div>
        <div class="add_row content_margine">
            <label class="add_popup-content-label">Landmark :</label>
            <input type="text" id="Landmark" name="Landmark" class="add_popup-content-textbox" maxlength="30" />
        </div>
        <div class="add_row content_margine">
            <label class="add_popup-content-label must">Country :</label>
            <select id="CountryList_DDL" name="CountryList_DDL" class="drop must">
                <option value="0">-Select-</option>
            </select>
            <div class="add_icon-row">
                <button data-p2btooltip="Create Country" class="popup-content-icon-create" id="Create_Country">
                    <span class="ui-icon ui-icon-newwin popup-content-iconmark"></span>
                </button>
            </div>
        </div>
        <div class="add_row content_margine  ">
            <label class="add_popup-content-label must">State :</label>
            <select id="StateList_DDL" name="StateList_DDL" class="drop must">
                <option value="0">-Select-</option>
            </select>
            <div class="add_icon-row">
                <button data-p2btooltip="Create State" class="popup-content-icon-create" id="Create_State">
                    <span class="ui-icon ui-icon-newwin popup-content-iconmark"></span>
                </button>
            </div>
        </div>
        <div class="add_row content_margine">
            <label class="add_popup-content-label">StateRegion :</label>
            <select id="StateRegionList_DDL" name="StateRegionList_DDL" class="drop">
                <option value="0">-Select-</option>
            </select>
            <div class="add_icon-row">
                <button data-p2btooltip="Create StateRegion" class="popup-content-icon-create" id="Create_StateRegion">
                    <span class="ui-icon ui-icon-newwin popup-content-iconmark"></span>
                </button>
            </div>
        </div>
        <div class="add_row content_margine">
            <label class="add_popup-content-label">District :</label>
            <select id="DistrictList_DDL" name="DistrictList_DDL" class="drop">
                <option value="0">-Select-</option>
            </select>
            <div class="add_icon-row">
                <button data-p2btooltip="Create District" class="popup-content-icon-create" id="Create_District">
                    <span class="ui-icon ui-icon-newwin popup-content-iconmark"></span>
                </button>
            </div>
        </div>
        <div class="add_row content_margine">
            <label class="add_popup-content-label">Taluka :</label>
            <select id="TalukaList_DDL" name="TalukaList_DDL" class="drop">
                <option value="0">-Select-</option>
            </select>
            <div class="add_icon-row">
                <button data-p2btooltip="Create Taluka" class="popup-content-icon-create" id="Create_Taluka">
                    <span class="ui-icon ui-icon-newwin popup-content-iconmark"></span>
                </button>
            </div>
        </div>
        <div class="add_row content_margine">
            <label class="add_popup-content-label">City :</label>
            <select id="CityList_DDL" name="CityList_DDL" class="drop">
                <option value="0">-Select-</option>
            </select>
            <div class="add_icon-row">
                <button data-p2btooltip="Create City" class="popup-content-icon-create" id="Create_City">
                    <span class="ui-icon ui-icon-newwin popup-content-iconmark"></span>
                </button>
            </div>
        </div>
        <div class="add_row content_margine">
            <label class="add_popup-content-label">Area :</label>
            <select id="AreaList_DDL" name="AreaList_DDL" class="drop">
                <option value="0">-Select-</option>
            </select>
            <div class="add_icon-row">
                <button data-p2btooltip="Create Area" class="popup-content-icon-create" id="Create_Area">
                    <span class="ui-icon ui-icon-newwin popup-content-iconmark"></span>
                </button>
            </div>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        $('#Address1').MaxLength(50);
        $('#Address2').MaxLength(50);
        $('#Address3').MaxLength(50);
        $('#Landmark').MaxLength(30);
       // $('#Address1').ForceOnlyAlphaNumeric();
      //  $('#Address1').ValidateTextBox({ maxlength: 50, name: true });
      //  $('#Address2').ValidateTextBox({ maxlength: 50, name: true });
       // $('#Address3').ValidateTextBox({ maxlength: 50, name: true });
       // $('#Address2').ForceOnlyAlphaNumeric();
       // $('#Address3').ForceOnlyAlphaNumeric();
       // $('#Landmark').ValidateTextBox({ maxlength: 50, name: true });
    });


    $(document).ready(function (e) {
        $('button').button();
        $('.drop').css({ "width": "182px" });
        $('.drop').selectmenu().selectmenu('menuWidget').css({ "height": "200px" });
        $('#CountryList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "country")", "", "", '#StateList_DDL');
        @*$('#CountryList_DDL').on("selectmenuopen", function () {
            $('#CountryList_DDL').empty().append("<option value=0 selected=true>-goo-</option>").selectmenu().selectmenu("refresh");
            $.post("@Url.Action("PopulateDropDownList","country")", {
                data: "",
                data2: ""
            }, function (data) {
                $.each(data, function (i, k) {
                    $('#CountryList_DDL').append($("<option>", {
                        value: k.Value,
                        text: k.Text,
                        selcted: k.Selected
                    }));
                });
                jQuery('#CountryList_DDL').selectmenu().selectmenu("refresh").selectmenu("menuWidget").css({ "height": "120px" });
            });
        });*@
        $('#CountryList_DDL').P2BSelectMenuOnChange("selectmenuchange", "@Url.Action("PopulateDropDownList", "state")", '#StateList_DDL', "");
        $('#StateList_DDL').P2BSelectMenuOnChange("selectmenuchange", "@Url.Action("PopulateDropDownList", "StateRegion")", "#StateRegionList_DDL", "");
        $('#StateRegionList_DDL').P2BSelectMenuOnChange("selectmenuchange", "@Url.Action("PopulateDropDownList", "District")", "#DistrictList_DDL", "");
        $('#DistrictList_DDL').P2BSelectMenuOnChange("selectmenuchange", "@Url.Action("PopulateDropDownList", "Taluka")", "#TalukaList_DDL", "");
        $('#TalukaList_DDL').P2BSelectMenuOnChange("selectmenuchange", "@Url.Action("PopulateDropDownList", "City")", "#CityList_DDL", "");
        $('#CityList_DDL').P2BSelectMenuOnChange("selectmenuchange", "@Url.Action("PopulateDropDownList", "area")", "#AreaList_DDL", "");

        $('.popup_radio_button').controlgroup();
        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create_Country').on("click", function (e) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "country")', 'Create Country', 'open', APIURL + '/GetCountryCreateRequest', '#FormCountry', 'Message :', 'Request Falied :', '#JqGrid', 257, 439, '', '#CountryList_DDL', 'change', '', '', function (data) {
                $('#CountryList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "country")", "", data[0], '#StateList_DDL');

            });
            e.preventDefault();
        });

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create_State').on("click", function (e) {
            if ($('#CountryList_DDL option:selected').val() == null || $('#CountryList_DDL option:selected').val() == 0 || $('#CountryList_DDL option:selected').val() == "-Select-") {
                alert('Kindly select  "Country"  first');
                return false;
            }
            else {
                $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "state") ', 'Create State', 'open', APIURL + '/GetStateCreateRequest', '#FormState', 'Message :', 'Request Falied :', '#JqGrid', 200, 400, $("#CountryList_DDL option:selected").val(), '#CountryList_DDL', 'change', '', '', function (data) {
                    $('#StateList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "state")", "", data[0], '#StateRegionList_DDL');
                });
                e.preventDefault();
            }
        });

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create_StateRegion').on("click", function (e) {
            if ($('#StateList_DDL option:selected').val() == null || $('#StateList_DDL option:selected').val() == 0 || $('#StateList_DDL option:selected').val() == "-Select-") {
                alert('Kindly select  "State"  first');
                return false;
            }
            else {
                $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "stateregion")', 'Create Region', 'open', APIURL + '/GetStateRegionCreateRequest', '#FormStateRegion', 'Message :', 'Request Falied :', '#JqGrid', 250, 400, $("#StateList_DDL option:selected").val(), '#StateList_DDL', 'change', '', '', function (data) {
                    $('#StateRegionList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "StateRegion")", "", data[0], '#DistrictList_DDL');
                });
                e.preventDefault();
            }
        });


        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create_District').on("click", function (e) {
            if ($('#StateRegionList_DDL option:selected').val() == null || $('#StateRegionList_DDL option:selected').val() == 0 || $('#StateRegionList_DDL option:selected') == "-Select-") {
                alert('Kindly select  "Region"  first');
                return false;
            }
            else {
                $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "district")', 'Create District', 'open', APIURL + '/GetDistrictCreateRequest', '#FormDistrict', 'Message :', 'Request Falied :', '#JqGrid', 250, 400, $("#StateRegionList_DDL option:selected").val(), '#StateRegionList_DDL', 'change', '', '', function (data) {
                    $('#DistrictList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "district")", "", data[0], '#TalukaList_DDL');
                });
                e.preventDefault();
            }
        });


        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create_Taluka').on("click", function (e) {
            if ($("#DistrictList_DDL option:selected").val() == null || $("#DistrictList_DDL option:selected").val() == 0 || $("#DistrictList_DDL option:selected").val() == "-Select-") {
                alert('Kindly select  "District"  first');
                return false;
            }
            else {
                $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "taluka") ', 'Create Taluka', 'open', APIURL + '/GetTalukaCreateRequest', '#FormTaluka', 'Message :', 'Request Falied :', '#JqGrid', 250, 400, $("#DistrictList_DDL option:selected").val(), '#DistrictList_DDL', 'change', '', '', function (data) {
                    $('#TalukaList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "taluka")", "", data[0], '#CityList_DDL');
                });
                e.preventDefault();
            }
        });

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create_City').on("click", function (e) {
            if ($("#TalukaList_DDL option:selected").val() == null || $("#TalukaList_DDL option:selected").val() == 0 || $("#TalukaList_DDL option:selected").val() == "-Select-") {
                alert('Kindly select  "Taluka"  first');
                return false;
            }
            else {
                $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "city") ', 'Create City', 'open', APIURL + '/GetCityCreateRequest', '#FormCity', 'Message :', 'Request Falied :', '#JqGrid', 250, 400, $("#TalukaList_DDL option:selected").val(), '#TalukaList_DDL', 'change', '', '', function (data) {
                    $('#CityList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "city")", "", data[0], '#AreaList_DDL');
                });
                e.preventDefault();
            }
        });

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create_Area').on("click", function (e) {
            if ($("#CityList_DDL option:selected").val() == null || $("#CityList_DDL option:selected").val() == 0 || $("#CityList_DDL option:selected").val() == "-Select-") {
                alert('Kindly select  "City"  first');
                return false;
            }
            else {
                $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "area")', 'Create Area', 'open', APIURL + '/GetAreaCreateRequest', '#FormArea', 'Message :', 'Request Falied :', '#JqGrid', 250, 400, $("#CityList_DDL option:selected").val(), '#CityList_DDL', 'change', '', '', function (data) {
                    $('#AreaList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "area")", "", data[0]);
                });
                e.preventDefault();
            }
        });
    });
</script>

