@{
    Layout = null;
}
@*<link href="~/Content/Awards/Awards.css" rel="stylesheet" />*@
@model P2b.Global.Awards
<style>
    /*.aw_popup-content-textbox {
        margin-bottom: 1px;
        min-width: 140px;
    }

    .aw_popup-content-label {
        display: block;
        margin: 1px;
        float: left;
        min-width: 76px;
    }

    .aw_row1 {
        width: 252px;
    }*/
    .popup-content-textbox {
        margin-bottom: 1px;
        min-width: 140px;
    }

    .popup-content-label {
        display: block;
        margin: 1px;
        float: left;
        min-width: 76px;
    }

    .row1 {
        width: 306px;
    }
</style>

<div id="Create_Dialog" title="Create Skill">

    @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmAwards", name = "frmAwards" }))
    {
        <input id="Autho_Action" type="hidden" name="Autho_Action" />
        <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
        <div class="row1 content_margine">
            @Html.LabelFor(m => m.Name, "Name :", new { @class = "popup-content-label must" })
            @Html.TextBoxFor(m => m.Name, new { @class = "popup-content-textbox must" })
        </div>
        <div class="row1 content_margine">
            @Html.LabelFor(m => m.Details, "Details :", new { @class = "popup-content-label must" })
            @Html.TextBoxFor(m => m.Details, new { @class = "popup-content-textbox must" })
        </div>
        <div class="row1 content_margine">
            @Html.LabelFor(m => m.IssueDate, "Issue Date :", new { @class = "popup-content-label must" })
            @Html.TextBoxFor(m => m.IssueDate, new { @class = "popup-content-textbox date must" })
        </div>
    }
</div>

<script>
    $(function () {
        $('.drop').selectmenu().selectmenu('menuWidget');
        $('.date').P2BDatePicker();
        $('#Name').ValidateTextBox({ maxlength: 50, name: true });
        $('#Details').ValidateTextBox({ maxlength: 50, name: true });
        $('#IssueDate').attr('readonly', 'readonly')
    });
    $(document).ready(function (e) {
       // $('#Details');
        Caption = 'Awards Details';


        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Autho').makeDisable('#Create,#Edit,#Delete');
        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');

       
    });
</script> 