@{
    Layout = null;
}
@*<link href="~/Content/Awards/Awards.css" rel="stylesheet" />*@
@model P2b.Global.Awards
<style>
    .popup-content-label-partial-1 {
        display: block;
        margin: 1px;
        float: left;
        width: 95px;
    }

    .popup-content-textbox-partial-1 {
        margin-bottom: 1px;
        width: 140px;
    }
</style>

<div id="Create_Dialog" title="Create Skill">

    @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "FormAwards", name = "FormAwards" }))
    {
        <input id="Autho_Action" type="hidden" name="Autho_Action" />
        <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
        <div class="row1 content_margine">
            @Html.LabelFor(m => m.Name, "Name :", new { @class = "popup-content-label-partial-1 must" })
            @Html.TextBoxFor(m => m.Name, new { @class = "popup-content-textbox-partial-1 must", @id = "Name", @maxlength = "100" })
        </div>
        <div class="row1 content_margine">
            @Html.LabelFor(m => m.Details, "Details :", new { @class = "popup-content-label-partial-1 must" })
            @Html.TextBoxFor(m => m.Details, new { @class = "popup-content-textbox-partial-1 must", @id = "Details", @maxlength = "250" })
        </div>
        <div class="row1 content_margine">
            @Html.LabelFor(m => m.IssueDate, "Issue Date :", new { @class = "popup-content-label-partial-1 must" })
            @Html.TextBoxFor(m => m.IssueDate, new { @class = "popup-content-textbox-partial-1 date must" })
        </div>
    }
</div>

<script>
    $(function () {
        $('.drop').selectmenu().selectmenu('menuWidget');
        $('.date').P2BDatePicker();
        $('#Name').MaxLength(100);
        $('#Details').MaxLength(250);
        $('#IssueDate').attr('readonly', 'readonly')
    });
    $(document).ready(function (e) {
       // $('#Details');
        Caption = 'Awards Details';


        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Autho').makeDisable('#Create,#Edit,#Delete');
        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');

       
    });
</script> 