@{
    Layout = null;
}
@model P2b.Global.Disease

<style>
    .icon-row {
        position: relative;
        left: 57px;
        top: -150px;
    }

    .popup-content-label {
        display: block;
        float: left;
        width: 100px;
    }

    .popup-content-textbox {
        margin-bottom: 1px;
        min-width: 150px;
    }

    .row3 {
        width: 402px;
    }
</style>
<html>
<body>


    <div class="dialog1">
        <div title="LookUp Data">
            <div class="lookupdiv1"></div>
        </div>
        <div id="PageNavPosition1">

        </div>
    </div>


    <div id="Create_Dialog" title="Create Disease">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmDisease" }))
        {
            <div>
                <div class="row3 content_margine">@Html.LabelFor(m => m.Name, "Name :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Name, new { @class = "popup-content-textbox must", @maxlength = "50" })</div>
                <div class="row3 content_margine">
                    @Html.LabelFor(m => m.DiseaseType, "Details :", new { @class = "popup-content-label must" })
                    <select class="must" name="DiseaseTypeList_DDL" id="DiseaseTypeList_DDL" style="width:160px"><option></option></select>
            </div>
            @*<div class="dis_row3 content_margine">@Html.LabelFor(m => m.DiseaseType, "Details:", new { @class = "dis_popup-content-label" })
                    <select class="drop" style="width:120px;" name="DiseaseTypeList_DDL" id="DiseaseTypeList_DDL"><option value="0">-Select-</option></select>
                </div>*@
          
                <div class="row3 content_margine">
                    <div id="ContactDetailsList_Old"></div>@Html.LabelFor(m => m.DiseaseMedicine, "Medicine :", new { @class = "popup-content-label" })
                    <div class="popup-content-table">
                        <table class="lookuptableselected" id="MedicineList1">
                            <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                        </table>
                    </div>
                    <div class="icon-row">
                        <button data-p2btooltip="LookUp Medicine Details" class="popup-content-icon-lookup" id="Lookup-Medicine-Disease"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Create Medicine Details" class="popup-content-icon-create" id="Create-Medicine-Disease"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Edit Medicine Details" class="popup-content-icon-edit" id="Edit-Medicine-Disease"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Remove Medicine Details" class="popup-content-icon-remove" id="Remove-Medicine-Disease"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                    </div>
                </div>


              
        </div>

        }
    </div>

</body>
</html>
<script>
    $(document).ready(function (e) {
        $('button').button();
        $('#DiseaseTypeList_DDL').selectmenu().selectmenu("menuWidget");

        $('#DiseaseTypeList_DDL').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 300, "");


        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }

        $('#Lookup-Medicine-Disease').button().on('click', function (event) {
            @*$('.dialog').P2BLookUpModal('@Url.Action("GetAddressLKDetails", "Corporate")', '', 'LookupDiv', 'Address Look Up Data', '#AddressList', 'AddressList', 5, 'AddressList', '#FormCorporate', 'N', '#Edit-Address-Corporate,#Remove-Address-Corporate', 'Lookup_table', 'PageNavPosition');*@
            $('.dialog1').P2BLookUpModal('@Url.Action("GetMedicineDetails", "Disease")', '', 'lookupdiv1', 'Look Medicine Details', '#MedicineList1', 'MedicineList1', 5, 'MedicineList1', '#frmDisease', 'A', '#Edit-Medicine-Disease,#Remove-Medicine-Disease', 'Lookup_table', 'PageNavPosition1');
            event.preventDefault();
        });



        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-Medicine-Disease').button().on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Partial", "Medicine")', 'Create Medicine Details', 'open', '@Url.Action("Create", "Medicine")', '#FormMedicine', 'Message :', 'Request Falied :', '#JqGrid', 300, 400, '', '', '', '#frmDisease', '', function (data) {
                $('#MedicineList1').P2BLookUpEncapsulate('#MedicineList1', 'MedicineList1', data[0], data[1], 'MedicineList1', '#Edit-Medicine-Disease,#Remove-Medicine-Disease', 'A');
            });
            event.preventDefault();
        });


        $('#Edit-Medicine-Disease').button().on("click", function (event) {
            var a = [], b;
            a = $('#MedicineList1').P2BGetTableDataonSelectedRow('#MedicineList1', 0);
            b = a[0];

            console.log(b);
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("Partial", "Disease")', '@Url.Action("Edit", "Medicine")', b, '@Url.Action("EditSave", "Medicine")', 'Edit Medicine', '#FormMedicine', b, 'Message :', 'Request Falied :', '#JqGrid', 300, 400, '#frmDisease', '#MedicineList1', 'MedicineList1', 'MedicineList1', 'N', '#Edit-Medicine-Disease,#Remove-Medicine-Disease', function (data) {

                $.each(data[0], function (i, k) {
                    $('#FormMedicine').trigger('reset');
                  //  $('#Name').val(k.Name);
                    $('#MedicalName').val(k.MedicalName);
                    $('#MedPower').val(k.MedPower);
                    $('#Manufacturer').val(k.Manufacturer);
                });

            });
            event.preventDefault();
        });





        $('#Remove-Medicine-Disease').button().on('click', function (event) {
          //  dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'ID');
            //var a = [], b;
            //a = $('#MedicineList1').P2BGetTableDataonSelectedRow('#MedicineList1', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#MedicineList1').P2BGetTableDataonSelectedRow('#MedicineList1', 0);
           /* console.log(b);*/
            $('<div></div>').P2BPartialDeleteModalDialog('@Url.Action("Delete", "Medicine")', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#LookupValueslist', $('#MedicineList1').val(), 200, 200, '#frmDisease', '#MedicineList1');
            event.preventDefault();
        });

        $('#Name').ForceOnlyAlphaNumeric();
        $('#Name').MaxLength(50);
        $('.popup_radio_button').controlgroup();
        $('#dob').P2BDatePicker();

    });
</script>

