@model P2b.Global.Doctor
@{
    Layout = null;
}


<html>
<body>
    <style>
        .icon-row {
            left: 53px;
            position: relative;
            top: -150px;
        }

        .row1 {
            width: 400px;
        }

        .popup-content-label {
            display: block;
            margin: 1px;
            float: left;
            width: 98px;
        }

        .popup-content-textbox {
            min-width: 140px;
            margin: 0px 0px 1px 3px;
        }
    </style>

    <div class="dialog1">
        <div title="LookUp Data">
            <div class="lookupdiv1"></div>
        </div>
        <div id="PageNavPosition1">

        </div>
    </div>

    <div id="Create_Dialog" title="Create Doctor">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "FormDoctor", name = "FormDoctor" }))
        {
            <div>
                <div>
                    @*<div class="doc_row1 content_margine">@Html.LabelFor(m => m.Name, "Name :", new { @class = "doc_popup-content-label" })@Html.TextBoxFor(m => m.Name, new { @class = "doc_popup-content-textbox" })</div>*@
                    
                    <div class="row3 content_margine">
                        <div id="ContactDetailsList_Old"></div>
                        @Html.LabelFor(m => m.Name, "Name :", new { @class = "popup-content-label" })
                        <div class="popup-content-table">
                            <table class="lookuptableselected" id="NameList">
                                <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                            </table>
                        </div>
                            <div class="icon-row">
                                <button data-p2btooltip="Lookup Name Details" class="popup-content-icon-lookup" id="Lookup-Name-Doctor"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                                <button data-p2btooltip="Create Name Details" class="popup-content-icon-create" id="Create-Name-Doctor"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                                <button data-p2btooltip="Edit Name Details" class="popup-content-icon-edit" id="Edit-Name-Doctor"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                                <button data-p2btooltip="Remove Name Details" class="popup-content-icon-remove" id="Remove-Name-Doctor"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                            </div>
                      
                    </div>
                    
                    <div class="row3 content_margine">
                        @Html.LabelFor(m => m.Specialization, "Specialization :", new { @class = "popup-content-label must" })
                        <select class="drop " name="SpecializationList_DDL" id="SpecializationList_DDL" style="width:161px;"><option></option></select>
                    </div>
                   
                    
                     <div class="row3 content_margine">
                        @Html.LabelFor(m => m.DoctorCategory, "Category :", new { @class = "popup-content-label must" })
                         <select class="drop " name="DoctorCategoryList_DDL" id="DoctorCategoryList_DDL" style="width:161px;"><option></option></select>
                    </div>
                    <div class="row3 content_margine">@Html.LabelFor(m => m.Qualification, "Qualification:", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.Qualification, new { @class = "popup-content-textbox"})</div>
                    <div class="row3 content_margine">
                        <div id="ContactDetailsList_Old"></div>
                        @Html.LabelFor(m => m.Address, "Address :", new { @class = "popup-content-label" })
                        <div class="popup-content-table">
                            <table class="lookuptableselected" id="AddressList">
                                <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                            </table>
                        </div>
                            <div class="icon-row">
                                <button data-p2btooltip="Lookup Address Details" class="  popup-content-icon-lookup" id="Lookup-Address-Doctor"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                                <button data-p2btooltip="Create Address Details" class="  popup-content-icon-create" id="Create-Address-Doctor"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                                <button data-p2btooltip="Edit Address Details" class="  popup-content-icon-edit" id="Edit-Address-Doctor"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                                <button data-p2btooltip="Remove Address Details" class="  popup-content-icon-remove" id="Remove-Address-Doctor"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                            </div>
                     
                    </div>
                    <div class="row3 content_margine">
                        <div id="ContactDetailsList_Old"></div>
                        @Html.LabelFor(m => m.ContactDetails, "Contact Details:", new { @class = "popup-content-label" })
                        <div class="popup-content-table">
                            <table class="lookuptableselected" id="ContactDetailsList">
                                <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                            </table>
                        </div>
                            <div class="icon-row">
                                <button data-p2btooltip="Lookup Contact Details" class=" popup-content-icon-lookup" id="Lookup-ContactDetails-Doctor"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                                <button data-p2btooltip="Create Contact Details" class="popup-content-icon-create" id="Create-ContactDetails-Doctor"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                                <button data-p2btooltip="Edit Contact Details" class="popup-content-icon-edit" id="Edit-ContactDetails-Doctor"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                                <button data-p2btooltip="Remove Contact Details" class="popup-content-icon-remove" id="Remove-ContactDetails-Doctor"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                            </div>
                      
                    </div>
                    <div class="row3 content_margine">@Html.LabelFor(m => m.MeetingTime, "Meeting Time:", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.MeetingTime, new { @class = "popup-content-textbox" })</div>

                </div>
            </div>
        }
    </div>
</body>
</html>

<script>

    $(function () {
        $('button').button();
        $('.drop').selectmenu().selectmenu('menuWidget');

    });

    $(document).ready(function (e) {
        $('button').button();
        var btndisablenames_ConNO = "#Edit-ContactDetails-Doctor,Remove-ContactDetails-Doctor";
        var btndisablenames_Name = "#Edit-Name-Doctor,Remove-Name-Doctor";
        var btndisablenames_Adddr = "#Edit-Address-Doctor,Remove-Address-Doctor";
        $('.drop').selectmenu().selectmenu("menuWidget");
        $('#SpecializationList_DDL').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 301, "");
        $('#DoctorCategoryList_DDL').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 302, "");
        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }

        ///****************************************Addess *********************************************
        $('#Lookup-Address-Doctor').button().on('click', function (event) {
          
            $('.dialog1').P2BLookUpModal('@Url.Action("GetAddressLKDetails", "Doctor")', '', 'lookupdiv1', 'Look Up Data', '#AddressList', 'AddressList', 5, 'AddressList', '#FormDoctor', 'N', '#Edit-Address-Doctor,#Remove-Address-Doctor', 'Lookup_table', 'PageNavPosition1');
        
            event.preventDefault();
        });
      


        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-Address-Doctor').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "address")', 'Create Address', 'open', '@Url.Action("Create","Address")', '#FormAddress', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#FormDoctor', '', function (data) {
                // to show data which is created in partial page
                $('#AddressList').P2BLookUpEncapsulate('#AddressList', 'AddressList', data[0], data[1], 'AddressList', '#Edit-Address-Doctor,#Remove-Address-Doctor', 'N');
            });
            event.preventDefault();
        });




        $('#Edit-Address-Doctor').button().on("click", function (event) {
            var a = [], b;
            a = $('#AddressList').P2BGetTableDataonSelectedRow('#AddressList', 0);
            b = a[0];
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname, height, width, classoridoftheonwhichpopupderived, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not,nameidclassofbuttontodisable,returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "address")', '@Url.Action("edit", "address")', b, '@Url.Action("Editsave","Address")', 'Edit Address', '#FormAddress', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#FormDoctor', '#AddressList', 'AddressList', 'AddressList', 'N', '#Edit-Address-Doctor,#Remove-Address-Doctor', function (data) {
                // setTimeout(function () {
                //to bind data according to selected id
                $.each(data[0], function (i, k) {
                    $('#FormAddress').trigger("reset");
                    $('#Address1').val(k.Address1);
                    $('#Address2').val(k.Address2);
                    $('#Address3').val(k.Address3);
                    $('#Landmark').val(k.Landmark);
                    $('#CountryList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "country")", "", k.Country_Id, '');
                    $('#StateList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "state")", "", k.State_Id, '');
                    $('#StateRegionList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "StateRegion")", "", k.StateRegion_Id, '');
                    $('#DistrictList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "District")", "", k.District_Id, '');
                    $('#TalukaList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "Taluka")", "", k.Taluka_Id, '');
                    $('#CityList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "City")", "", k.City_Id, '');
                    $('#AreaList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "area")", "", k.Area_Id, '');
                });
                //}, 3000);


            });
            event.preventDefault();
        });

        $('#Remove-Address-Doctor').button().on('click', function (event) {
          ////  dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
          //  var a = [], b;
          //  a = $('#AddressList').P2BGetTableDataonSelectedRow('#AddressList', 0);
          //  b = a[0];
            var selectedRows = [];
            selectedRows = $('#AddressList').P2BGetTableDataonSelectedRow('#AddressList', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#AddressList', $('#AddressList').val(), 200, 200, '#FormDoctor', '#AddressList');
            event.preventDefault();
        });
        //*****************************************************************************************************************************************************************

        //***************************************************************  Contact Deatails *****************************************************************************
        $('#Lookup-ContactDetails-Doctor').button().on('click', function (event) {
            @*$('.dialog1').P2BLookUpModal('@Url.Action("GetAddressLKDetails", "Doctor")', '', 'lookupdiv1', 'Look Up Data', '#AddressList', 'AddressList', 5, 'AddressList', '#FormDoctor', 'N', '#Edit-Address-Doctor,#Remove-Address-Doctor', 'Lookup_table', 'PageNavPosition1');*@
            $('.dialog1').P2BLookUpModal('@Url.Action("GetContactDetLKDetails", "Doctor")', '', 'lookupdiv1', 'Look Up Data', '#ContactDetailsList', 'ContactDetailsList', 5, 'ContactDetailsList', '#FormDoctor', 'N', '#Edit-ContactDetail-Doctor,#Remove-ContactDetail-Doctor', '#Lookup_table', 'PageNavPosition1');
            // $('.ContactDetLKDiv').P2BLookUpModal('@Url.Action("GetContactDetLKDetails", "Doctor")', '', 'ContactDetLKDiv', 'Look Up Data', '#ContactDetailsList', 'ContactDetailsList', 10, 'ContactDetailsList', '#FormCorporate', 'N', '#Edit-ContactDetails-Doctor,#Remove-ContactDetails-Doctor', 'lookupdiv_ContactDet', 'pageNavPosition_ContactDet');
            event.preventDefault();
        });
     

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-ContactDetails-Doctor').button().on("click", function (event) {
            //function (url, maindialogtitle, state, submiturl, submitnameformforserilize, savemessage, errormessage, gridreloadname, height, width, forwarddata, ControlName, event, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, returnfunctiondata) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Createcontactdetails_partial", "Doctor")', 'Create ContactDetails', 'open', '@Url.Action("CreateSave","ContactDetails")', '#FormContactDetails', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#FormContactDetails', '#Edit-ContactNo-ContDetails,#Remove-ContactNo-ContDetails', function (data) {
                $('#ContactDetailsList').P2BLookUpEncapsulate('#ContactDetailsList', 'ContactDetailsList', data[0], data[1], 'ContactDetailsList', '#Edit-ContactDetails-Doctor,#Remove-ContactDetails-Doctor', 'N');
            });
            event.preventDefault();
        });
      

        $('#Edit-ContactDetails-Doctor').button().on("click", function (event) {
            var a = [], b;
            a = $('#ContactDetailsList').P2BGetTableDataonSelectedRow('#ContactDetailsList', 0);
            b = a[0];
            console.log(b);
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("Createcontactdetails_partial", "Doctor")', '@Url.Action("Editcontactdetails_partial", "Doctor")', b, '@Url.Action("EditSave", "ContactDetails")', 'Edit Contact Details', '#FormContactDetails', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#FormDoctor', '#ContactDetailsList', 'ContactDetailsList', 'ContactDetailsList', 'N', btndisablenames_ConNO, function (data) {
               
                    $.each(data[0], function (i, k) {
                        $('#FormContactDetails').trigger('reset');
                        $('#EmailId').val(k.EmailId);
                        $('#Website').val(k.Website);
                        $('#FaxNo').val(k.FaxNo);
                    });

                    $.each(data[1], function (i, k) {
                        $('#ContactNos_List').P2BLookUpEncapsulate('#ContactNos_List', 'ContactNosList', k.Id, k.FullContactNumbers, 'ContactNos_List', '#Edit-ContactNo-ContDetails,#Remove-ContactNo-ContDetails','A');
                    });
              
            });
            event.preventDefault();
        });

 

        $('#Remove-ContactDetails-Doctor').button().on('click', function (event) {
            // dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            //var a = [], b;
            //a = $('#ContactDetailsList').P2BGetTableDataonSelectedRow('#ContactDetailsList', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#ContactDetailsList').P2BGetTableDataonSelectedRow('#ContactDetailsList', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#ContactDetailsList', $('#ContactDetailsList').val(), 200, 200, '#FormDoctor', '#ContactDetailsList', '#Edit-ContactDetails-Doctor,#Remove-ContactDetails-Doctor');
            event.preventDefault();
        });
        //**************************************************************************************************************************************************************

        //******************************************************************Name***************************************************************************************
        $('#Lookup-Name-Doctor').button().on('click', function (event) {
            $('.dialog1').P2BLookUpModal('@Url.Action("GetNameDetails", "Doctor")', '', 'lookupdiv1', 'Look Up Data', '#NameList', 'NameList', 5, 'NameList', '#FormDoctor', 'N', '#Edit-Name-Doctor,#Remove-Name-Doctor', 'Lookup_table', 'PageNavPosition1');
            event.preventDefault();
        });

      


        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-Name-Doctor').button().on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "NameSingle")', 'Create Name', 'open', '@Url.Action("Create","NameSingle")', '#FormNameSingle', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#FormDoctor', '', function (data) {
                // to show data which is created in partial page
                $('#NameList').P2BLookUpEncapsulate('#NameList', 'NameList', data[0], data[1], 'NameList', '#Edit-Name-Doctor,#Remove-Name-Doctor','N');
            });
            event.preventDefault();
        });


        $('#Edit-Name-Doctor').button().on("click", function (event) {
            var a = [], b;
            a = $('#NameList').P2BGetTableDataonSelectedRow('#NameList', 0);
            b = a[0];
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "NameSingle")', '@Url.Action("edit", "NameSingle")', b, '@Url.Action("Editsave","NameSingle")', 'Edit Name', '#FormNameSingle', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#FormDoctor', '#NameList', 'NameList', 'NameList', 'N', '#Edit-Name-Doctor,#Remove-Name-Doctor', function (data) {
                // setTimeout(function () {
                //to bind data according to selected id
                //   $.each(data[0], function (i, k) {
                var k = data;
                    $('#FormNameSingle').trigger("reset");
                    $('#FName').val(k.FName);
                    $('#MName').val(k.MName);
                    $('#LName').val(k.LName);
               
                    $('#title').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 100, k.EmpTitle);

            });
            event.preventDefault();
        });

        $('#Remove-Name-Doctor').button().on('click', function (event) {
         //   dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            //var a = [], b;
            //a = $('#NameList').P2BGetTableDataonSelectedRow('#NameList', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#NameList').P2BGetTableDataonSelectedRow('#NameList', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows,0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#NameList', $('#NameList').val(), 200, 200, '#FormDoctor', '#NameList');
            event.preventDefault();
        });










      

     




        //***************************************************************************************************************************************************************


        $(document).ready(function () {
            $('#Name').ForceOnlyAlphaNumeric();
            $('#Name').MaxLength(50);
            $('#Qualification').ForceOnlyAlphaNumeric();
            $('#Qualification').MaxLength(50);
            $('#MeetingTime').ForceOnlyAlphaNumeric();
            $('#MeetingTime').MaxLength(7);
        });



        $('.popup_radio_button').controlgroup();
        $('#dob').P2BDatePicker();
    });
</script>