@model P2b.Global.EmailAddress

@{
    Layout = null;
}
<style>
    .icon-row {
        position: relative;
        left: 53px;
        top: -150px;
    }

   

    .popup-content-label_P {
        display: block;
        float: left;
        width: 100px;
    }

    .popup-content-textbox_P {
        margin-bottom: 1px;
        min-width: 150px;
    }

    .row3_P {
        width: 402px;
    }

    
</style>

<div class="Lookup_Increment">
    <div title="LookUp Data">
        <div class="lookupdiv11"></div>
    </div>
    <div id="pageNavPosition11">

    </div>
</div>
<div id="Create_Dialog" title="Create Skill">

    @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "FormEmailAddress", name = "FormEmailAddress" }))
    {
        <input id="Autho_Action" type="hidden" name="Autho_Action" />
        <input id="Autho_Allow" type="hidden" name="Autho_Allow" />

        <div class="row3_P content_margine">
            @Html.LabelFor(m => m.EmailAddressType, "EmailAddress Type :", new { @class = "popup-content-label_P must" })
            <select class="must" id="EmailAddressTypelist" name="EmailAddressTypelist" style="width:120px;"><option></option></select>
        </div>

         <div class="row3_P content_margine">
            @Html.LabelFor(m => m.Address, "Address:", new { @class = "popup-content-label_P must" })
            @Html.TextAreaFor(m => m.Address, new { @class = "popup-content-textbox_P must" ,style="width:282px"})
        </div>

    }
</div>


<script>
    $(document).ready(function (e) {
        $("button").button();
        var dt;
        Caption = 'EmailAddress Details';


        $('#EmailAddressTypelist').selectmenu().selectmenu("menuWidget");

        $('#EmailAddressTypelist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 801, "");

        $('.popup_radio_button').controlgroup();
        $('#Autho').makeDisable('#Create,#Edit,#Delete');
        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');

    });

</script>