@model P2b.Global.EmergencyContact
@{
    Layout = null;
}

<style>
    .icon-row {
        left: 53px;
        position: relative;
        top: -151px;
    }

    .popup-content-label {
        display: block;
        margin: 1px;
        float: left;
        width: 98px;
    }

    .popup-content-textbox {
        min-width: 140px;
        margin: 0px 0px 1px 3px;
    }

    .row1 {
        width: 401px;
    }
</style>
<html>
<body>


    <div class="dialog1">
        <div title="LookUp Data">
            <div class="lookupdiv1"></div>
        </div>
        <div id="PageNavPosition1">
        </div>
    </div>

    <div>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "FormEmergencyContact" }))
        {
            @*<div class="row1 content_margine">
                    @Html.LabelFor(m => m.Name, "Name :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.Name, new { @class = "popup-content-textbox" })
                </div>*@

            <div class="row1 content_margine">
                <div id="ContactDetailsList_Old"></div>
                @Html.LabelFor(m => m.Name, "Name :", new { @class = "popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="NameList">
                        <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                    <div class="icon-row">
                        <button data-p2btooltip="Lookup Name Details" class="  popup-content-icon-lookup" id="Lookup-Name-EmergencyContact"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Create Name Details" class="  popup-content-icon-create" id="Create-Name-EmergencyContact"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Edit Name Details" class="  popup-content-icon-edit" id="Edit-Name-EmergencyContact"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Remove Name Details" class="  popup-content-icon-remove" id="Remove-Name-EmergencyContact"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                    </div>
              
            </div>

            <div class="row3 content_margine">
             
                @Html.LabelFor(m => m.Relation, "Relation :", new { @class = "popup-content-label must" })
                <select class="drop must" name="RelationList_DDL" id="RelationList_DDL" style="width:120px;"><option></option></select>
            </div>

            <div class="row1 content_margine">
                @Html.LabelFor(m => m.Address, "Address :", new { @class = "popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="AddressList">
                        <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                    <div class="icon-row">
                        <button data-p2btooltip="Lookup Address Details" class="  popup-content-icon-lookup" id="Lookup-Address-EmergencyContact"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Create Address Details" class="  popup-content-icon-create" id="Create-Address-EmergencyContact"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Edit Address Details" class="  popup-content-icon-edit" id="Edit-Address-EmergencyContact"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Remove Address Details" class="  popup-content-icon-remove" id="Remove-Address-EmergencyContact"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                    </div>
              
            </div>

            <div class="row1 content_margine">
                <div id="ContactDetailsList_Old"></div>
                @Html.LabelFor(m => m.ContactDetails, "Contact Details:", new { @class = "popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="ContactDetailsList">
                        <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                    <div class="icon-row">
                        <button data-p2btooltip="Lookup ContactDetails Details" class="  popup-content-icon-lookup" id="Lookup-ContactDetails-EmergencyContact"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Create ContactDetails Details" class="  popup-content-icon-create" id="Create-ContactDetails-EmergencyContact"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Edit ContactDetails Details" class="  popup-content-icon-edit" id="Edit-ContactDetails-EmergencyContact"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Remove ContactDetails Details" class="  popup-content-icon-remove" id="Remove-ContactDetails-EmergencyContact"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                    </div>
            
            </div>

        }
    </div>
</body>
</html>


<script>
    $(document).ready(function (e) {
        $('button').button();
        var btndisablenames_ConNO = "#Edit-ContactDetails-EmergencyContact,Remove-ContactDetails-EmergencyContact";
        var btndisablenames_Name = "#Edit-Name-EmergencyContact,Remove-Name-EmergencyContact";
        var btndisablenames_Adddr = "#Edit-Address-EmergencyContact,Remove-Address-EmergencyContact";
        $('.drop').selectmenu().selectmenu("menuWidget");
        $('#RelationList_DDL').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 107, "");
        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }

        ///****************************************Addess *********************************************
        $('#Lookup-Address-EmergencyContact').button().on('click', function (event) {

            $('.dialog1').P2BLookUpModal('@Url.Action("GetAddressLKDetails", "EmergancyContact")', '', 'lookupdiv1', 'Look Up Data', '#AddressList', 'AddressList', 5, 'AddressList', '#FormEmergencyContact', 'N', '#Edit-Address-EmergencyContact,#Remove-Address-EmergencyContact', 'Lookup_table', 'PageNavPosition1');

            event.preventDefault();
        });


        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-Address-EmergencyContact').button().on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "address")', 'Create Address', 'open', '@Url.Action("Create","Address")', '#FormAddress', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#FormEmergencyContact', '', function (data) {
                // to show data which is created in partial page
                $('#AddressList').P2BLookUpEncapsulate('#AddressList', 'AddressList', data[0], data[1], 'AddressList', '#Edit-Address-EmergencyContact,#Remove-Address-EmergencyContact');
            });
            event.preventDefault();
        });


        $('#Edit-Address-EmergencyContact').button().on("click", function (event) {
            var a = [], b;
            a = $('#AddressList').P2BGetTableDataonSelectedRow('#AddressList', 0);
            b = a[0];
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname, height, width, classoridoftheonwhichpopupderived, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not,nameidclassofbuttontodisable,returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "address")', '@Url.Action("edit", "address")', b, '@Url.Action("Editsave","Address")', 'Edit Address', '#FormAddress', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#FormEmergencyContact', '#AddressList', 'AddressList', 'AddressList', 'N', '#Edit-Address-EmergencyContact,#Remove-Address-EmergencyContact', function (data) {
                // setTimeout(function () {
                //to bind data according to selected id
                $.each(data[0], function (i, k) {
                    $('#FormAddress').trigger("reset");
                    $('#Address1').val(k.Address1);
                    $('#Address2').val(k.Address2);
                    $('#Address3').val(k.Address3);
                    $('#Landmark').val(k.Landmark);
                    $('#CountryList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "country")", "", k.Country_Id, '');
                    $('#StateList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "state")", "", k.State_Id, '');
                    $('#StateRegionList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "StateRegion")", "", k.StateRegion_Id, '');
                    $('#DistrictList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "District")", "", k.District_Id, '');
                    $('#TalukaList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "Taluka")", "", k.Taluka_Id, '');
                    $('#CityList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "City")", "", k.City_Id, '');
                    $('#AreaList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "area")", "", k.Area_Id, '');
                });
                //}, 3000);


            });
            event.preventDefault();
        });

        $('#Remove-Address-EmergencyContact').button().on('click', function (event) {
            //   dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            //var a = [], b;
            //a = $('#AddressList').P2BGetTableDataonSelectedRow('#AddressList', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#AddressList').P2BGetTableDataonSelectedRow('#AddressList', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#AddressList', $('#AddressList').val(), 200, 200, '#FormEmergencyContact', '#AddressList');
            event.preventDefault();
        });
        //*****************************************************************************************************************************************************************

        //***************************************************************  Contact Deatails *****************************************************************************
        $('#Lookup-ContactDetails-EmergencyContact').button().on('click', function (event) {
            @*$('.dialog1').P2BLookUpModal('@Url.Action("GetAddressLKDetails", "EmergencyContact")', '', 'lookupdiv1', 'Look Up Data', '#AddressList', 'AddressList', 5, 'AddressList', '#FormEmergencyContact', 'N', '#Edit-Address-EmergencyContact,#Remove-Address-EmergencyContact', 'Lookup_table', 'PageNavPosition1');*@
            $('.dialog1').P2BLookUpModal('@Url.Action("GetContactDetLKDetails", "EmergancyContact")', '', 'lookupdiv1', 'Look Up Data', '#ContactDetailsList', 'ContactDetailsList', 5, 'ContactDetailsList', '#FormEmergencyContact', 'N', '#Edit-ContactDetail-EmergencyContact,#Remove-ContactDetail-EmergencyContact', '#Lookup_table', 'PageNavPosition1');

            // $('.ContactDetLKDiv').P2BLookUpModal('@@Url.Action("GetContactDetLKDetails", "EmergencyContact")', '', 'ContactDetLKDiv', 'Look Up Data', '#ContactDetailsList', 'ContactDetailsList', 10, 'ContactDetailsList', '#FormEmergencyContact', 'N', '#Edit-ContactDetails-EmergencyContact,#Remove-ContactDetails-EmergencyContact', 'lookupdiv_ContactDet', 'pageNavPosition_ContactDet');
            event.preventDefault();
        });


        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-ContactDetails-EmergencyContact').button().on("click", function (event) {
            //function (url, maindialogtitle, state, submiturl, submitnameformforserilize, savemessage, errormessage, gridreloadname, height, width, forwarddata, ControlName, event, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, returnfunctiondata) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Createcontactdetails_partial", "EmergancyContact")', 'Create ContactDetails', 'open', '@Url.Action("CreateSave","ContactDetails")', '#FormContactDetails', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#FormContactDetails', '#Edit-ContactNo-ContDetails,#Remove-ContactNo-ContDetails', function (data) {
                $('#ContactDetailsList').P2BLookUpEncapsulate('#ContactDetailsList', 'ContactDetailsList', data[0], data[1], 'ContactDetailsList', '#Edit-ContactDetails-EmergencyContact,#Remove-ContactDetails-EmergencyContact', 'N');
            });
            event.preventDefault();
        });


        $('#Edit-ContactDetails-EmergencyContact').button().on("click", function (event) {
            var a = [], b;
            a = $('#ContactDetailsList').P2BGetTableDataonSelectedRow('#ContactDetailsList', 0);
            b = a[0];
            console.log(b);
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname,                                                                                                                    height, width, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not, returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("Createcontactdetails_partial", "EmergancyContact")', '@Url.Action("Editcontactdetails_partial", "EmergancyContact")', b, '@Url.Action("EditSave", "ContactDetails")', 'Edit Contact Details', '#FormContactDetails', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#FormEmergencyContact', '#ContactDetailsList', 'ContactDetailsList', 'ContactDetailsList', 'N', '#Remove-ContactNo-ContDetails,#Edit-ContactNo-ContDetails', function (data) {
                // setTimeout(function () {
                $.each(data[0], function (i, k) {
                    $('#FormContactDetails').trigger('reset');
                    $('#EmailId').val(k.EmailId);
                    $('#Website').val(k.Website);
                    $('#FaxNo').val(k.FaxNo);
                });

                $.each(data[1], function (i, k) {
                    $('#ContactNos_List').P2BLookUpEncapsulate('#ContactNos_List', 'ContactNos_List', k.Id, k.FullContactNumbers, 'ContactNos_List', '#Edit-ContactNo-ContDetails,#Remove-ContactNo-ContDetails', 'A');
                });
                // }, 3000);
            });
            event.preventDefault();
        });

        $('#Remove-ContactDetails-EmergencyContact').button().on('click', function (event) {
            //  dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            //var a = [], b;
            //a = $('#ContactDetailsList').P2BGetTableDataonSelectedRow('#ContactDetailsList', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#ContactDetailsList').P2BGetTableDataonSelectedRow('#ContactDetailsList', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('@Url.Action("DeleteContactDetails","EmergencyContact")', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#ContactDetailsList', $('#ContactDetailsList').val(), 200, 200, '#FormEmergencyContact', '#ContactDetailsList');
            event.preventDefault();
        });
        //**************************************************************************************************************************************************************

        //******************************************************************Name***************************************************************************************


        $('#Lookup-Name-EmergencyContact').button().on('click', function (event) {
            $('.dialog1').P2BLookUpModal('@Url.Action("GetNameDetails", "EmergancyContact")', '', 'lookupdiv1', 'Look Up Data', '#NameList', 'NameList', 5, 'NameList', '#FormEmergencyContact', 'N', '#Edit-Name-EmergencyContact,#Remove-Name-EmergencyContact', 'Lookup_table', 'PageNavPosition1');
            event.preventDefault();
        });



        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-Name-EmergencyContact').button().on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "NameSingle")', 'Create Name', 'open', '@Url.Action("Create","NameSingle")', '#FormNameSingle', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#FormEmergencyContact', '', function (data) {
                // to show data which is created in partial page
                $('#NameList').P2BLookUpEncapsulate('#NameList', 'NameList', data[0], data[1], 'NameList', '#Edit-Name-EmergencyContact,#Remove-Name-EmergencyContact', 'N');
            });
            event.preventDefault();
        });



        @*$('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-Name-Doctor').button().on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "NameSingle")', 'Create Name', 'open', '@Url.Action("Create","NameSingle")', '#FormNameSingle', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#FormNameSingle', '', function (data) {
                // to show data which is created in partial page
                $('#NameList').P2BLookUpEncapsulate('#NameList', 'NameList', data[0], data[1], 'NameList', '#Edit-Name-Doctor,#Remove-Name-Doctor', 'N');
            });
            event.preventDefault();
        });*@

        $('#Edit-Name-EmergencyContact').button().on("click", function (event) {
            var a = [], b;
            a = $('#NameList').P2BGetTableDataonSelectedRow('#NameList', 0);
            b = a[0];
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "NameSingle")', '@Url.Action("edit", "NameSingle")', b, '@Url.Action("Editsave","NameSingle")', 'Edit Name', '#FormNameSingle', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#FormEmergencyContact', '#NameList', 'NameList', 'NameList', 'N', '#Edit-Name-EmergencyContact,#Remove-Name-EmergencyContact', function (data) {
                // setTimeout(function () {
                //to bind data according to selected id
                //  $.each(data, function (i, k) {
                var k = data;
                    $('#FormNameSingle').trigger("reset");
                    $('#FName').val(k.FName);
                    $('#MName').val(k.MName);
                    $('#LName').val(k.LName);
                    $('#title').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 100, k.EmpTitle);

             //   });
                //}, 3000);

            });
            event.preventDefault();
        });

        $('#Remove-Name-EmergencyContact').button().on('click', function (event) {
            //   dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            //var a = [], b;
            //a = $('#NameList').P2BGetTableDataonSelectedRow('#NameList', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#NameList').P2BGetTableDataonSelectedRow('#NameList', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#NameList', $('#NameList').val(), 200, 200, '#FormEmergencyContact', '#NameList');
            event.preventDefault();
        });


        //***************************************************************************************************************************************************************


        $(document).ready(function () {
            $('#Name').ForceOnlyAlphaNumeric();
            $('#Name').MaxLength(50);
            $('#Details').ForceOnlyAlphaNumeric();
            $('#Details').MaxLength(50);

        });



        $('.popup_radio_button').controlgroup();
        $('#dob').P2BDatePicker();
    });
</script>


