@{
    Layout = null;
}
@*@model P2b.Global.EmployeeDocuments*@
@model P2BUltimate.Models.FileModel


<style>
    .popup-content-label {
        display: block;
        float: left;
        width: 178px;
    }

    .popup-content-textbox {
        margin-bottom: 1px;
        min-width: 150px;
    }

    .row3 {
        width: 402px;
    }



    .popup-content-textbox-long {
        margin-bottom: 1px;
        width: 290px;
    }


    .row2 {
        width: 402px;
    }

    .popup_radio_button1 {
        font-size: 9px;
        margin: 0px 0 0px 1px;
    }
</style>
<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmCandidateDocs", name = "frmCandidateDocs", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <input id="Autho_Action" type="hidden" name="Autho_Action" />
        <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
        <div class="row3 content_margine  ">
            @*@Html.LabelFor(m => m.DocumentType, "Document Type:", new { @class = "popup-content-label must" })*@

            <label class="popup-content-label must">Document Type :</label>
            <select id="DocTypeList" name="DocTypeList" class="drop must" style="width:180px;">
                <option value="0">-Select-</option>
            </select>

        </div>
        <div class="row3 content_margine  ">
            @*@Html.LabelFor(m => m.SubDocumentName, "SubDocument Name:", new { @class = "popup-content-label must" })*@
            <label class="popup-content-label must">SubDocument Name:</label>
            <select id="SubDocList" name="SubDocList" class="drop must" style="width:180px;">
                <option value="0">-Select-</option>
            </select>

        </div>
        <div class="row3 content_margine">
            @*@Html.LabelFor(m => m.UploadDate, "Upload Date:", new { @class = "popup-content-label " })*@
            <label class="popup-content-label must">Upload Date:</label>
            @*@Html.TextBoxFor(m => m.UploadDate, new { @class = "popup-content-textbox ", id = "txtUploadDate" })*@

            <input type="text" id="txtUploadDate" class="popup-content-textbox " name="txtUploadDate">
        </div>
        <div class="row3 content_margine">
            <div class="form-group content_margine">
                @Html.LabelFor(m => m.files, htmlAttributes: new { @class = "control-label popup-content-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.files, "", new { @type = "file", @accept = ".png, .jpg, .jpeg,.pdf", @multiple = "multiple" })
                </div>
            </div>
        </div>

        @*<div class="row3 content_margine">
                @Html.LabelFor(m => m.DocumentPath, "Document Path:", new { @class = "popup-content-label " })
                @Html.TextBoxFor(m => m.DocumentPath, new { @class = "popup-content-textbox ", id = "txtDocPath" })
            </div>*@

        <div class="row3  horizontal_row1 content_margine ">
            @*@Html.LabelFor(m => m.IsApproved, "Is Approved :", new { @class = "popup-content-label" })*@
            <label class="popup-content-label must">Is Approved :</label>
            <div class="popup_radio_button1 radio_button_div_1">
                <span class="popup_radio_button1 radio_button_div_1">
                    <input type="radio" id="radio13" name="IsApproved" value="true" /><label for="radio13">Yes</label>
                    <input type="radio" id="radio14" name="IsApproved" value="false" checked="checked" /><label for="radio14">No</label>
                </span>
            </div>
        </div>

        <div class="row3 content_margine">
            @*@Html.LabelFor(m => m.ApprovedDate, "Approved Date :", new { @class = "popup-content-label" })*@
            <label class="popup-content-label must">Approved Date :</label>
            @*@Html.TextBoxFor(m => m.ApprovedDate, new { @class = "popup-content-textbox", id = "txtApprovedDate" })*@

            <input type="text" id="txtApprovedDate" class="popup-content-textbox " name="txtApprovedDate">
        </div>


    }
</div>
<script>
    $(function () {
        $('#DocTypeList').selectmenu().selectmenu('menuWidget');
        $('#DocTypeList').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 1070, "");
        $('#txtUploadDate').P2BDatePicker();
        $('#txtApprovedDate').P2BDatePicker();
        $('#SubDocList').selectmenu().selectmenu('menuWidget');
        $('#SubDocList').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 1071, "");
        $('#txtUploadDate').prop('readonly', 'readonly');
        $('#txtApprovedDate').prop('readonly', 'readonly');
    });
    $(document).ready(function e() {
        $('.popup_radio_button1').controlgroup();
        $('.drop').css({ "width": "182px" });
        $('.drop').selectmenu().selectmenu('menuWidget').css({ "height": "200px" }



            );

        $.fn.doval = function () {
            //if ($('#employee').val() == 0) {
            //    return false;
            //}
            return true;

        };
        $('#dataFile').on('change', function () {
            ////debugger;
            var a = $('#dataFile').val();
            $('#txtDocPath ').val(a);
        });
        //  $('#CategorySplTypeList').P2BSelectMenuAppend("/*Url.Action("PopulateDropDownList", "country")", "", "", '#CategorySplTypeList');
    });
</script>

