@{
    Layout = null;
}
@model P2b.Global.ExtnRednPolicy
<style>
    .icon-row {
        position: relative;
        left: 53px;
        top: -150px;
    }

    #BusinessType-button {
        font-size: 9px;
        padding-top: 1px;
        font-weight: bold;
    }

    .popup-content-label {
        display: block;
        float: left;
        width: 144px;
    }

    .popup-content-textbox {
        margin-bottom: 1px;
        min-width: 150px;
    }

    .row3 {
        width: 402px;
    }

    .row4 {
        position: absolute;
        top: 294px;
        width: 400px;
    }

    .popup-content-textbox-long {
        margin-bottom: 1px;
        width: 290px;
    }


    .row2 {
        width: 402px;
    }
    .section_Method {
        border: 1px solid rgba(207, 207, 207, 0.91);
        border-radius: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
</style>

<script>
	$(document).ready(function (e) {
		var dt;
		$('button').button();
		$('.popup_radio_button').controlgroup();
		$('#ExtnRednPolicy_Name').ValidateTextBox({ maxlength: 50, name: true });
		$('#ExtnRednCauseType_drop').selectmenu().selectmenu("menuWidget");
		$('#ExtnRednCauseType_drop').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 3007, "");
	 
	    $('.drop').selectmenu().selectmenu('menuWidget');
	    $.RadioBtnGroup("IsExtn", "IsRedn");
	  
	     
	});
</script>
<div id="Create_Dialog" title="Create ExtnRedn Activity">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmExtnRednPolicy", name = "frmExtnRednPolicy" }))
    {
        
        <div class="row3 content_margine">@Html.LabelFor(m => m.Name, "Name:", new { @class = "popup-content-label  must" })@Html.TextBoxFor(m => m.Name, new { @class = "popup-content-textbox must", id = "ExtnRednPolicy_Name" })</div>

    <div class="section_Method">
        <div class="heading">ExtnRedn Selection</div>
        <div class="row3 content_margine">
            @Html.LabelFor(m => m.IsExtn, "IsExtn :", new { @class = "popup-content-label " })
            <div class="popup_radio_button ">

                <input type="radio" id="ExtnRednPolicy_radio1" name="IsExtn" value="true" /><label for="ExtnRednPolicy_radio1">Yes</label>
                <input type="radio" id="ExtnRednPolicy_radio2" name="IsExtn" value="false" checked="checked" /><label for="ExtnRednPolicy_radio2">No</label>

            </div>
        </div>

        <div class="row3 content_margine">
            @Html.LabelFor(m => m.IsRedn, "IsRedn :", new { @class = "popup-content-label " })
            <div class="popup_radio_button ">

                <input type="radio" id="ExtnRednPolicy_radio3" name="IsRedn" value="true" /><label for="ExtnRednPolicy_radio3">Yes</label>
                <input type="radio" id="ExtnRednPolicy_radio4" name="IsRedn" value="false" checked="checked" /><label for="ExtnRednPolicy_radio4">No</label>

            </div>
        </div>
        <div class="row3 content_margine">
            @Html.LabelFor(m => m.ExtnRednCauseType, "ExtnRednCause Type :", new { @class = "popup-content-label" })
            <select name="ExtnRednCauseType_drop" class="drop" id="ExtnRednCauseType_drop" style="width:120px;"><option></option></select>
        </div>
        <div class="row3 content_margine">
            @Html.LabelFor(m => m.ExtnRednPeriodUnit, "ExtnRedn Period Unit :", new { @class = "popup-content-label" })
            <select name="ExtnRednPeriodUnit_drop" class="drop" id="ExtnRednPeriodUnit_drop" style="width:120px;"><option></option></select>
        </div>


        <div class="row3 content_margine">@Html.LabelFor(m => m.ExtnRednPeriod, "ExtnRednPeriod :", new { @class = "popup-content-label  must" })@Html.TextBoxFor(m => m.ExtnRednPeriod, new { @class = "popup-content-textbox must", id = "ExtnRednPeriod_Name" })</div>
        <div class="row3 content_margine">@Html.LabelFor(m => m.MaxCount, "MaxCount:", new { @class = "popup-content-label  must" })@Html.TextBoxFor(m => m.MaxCount, new { @class = "popup-content-textbox must", id = "MaxCount_Name" })</div>

        
    </div>
    }
</div>

