@{
	Layout = null;
}
@model P2b.Global.IncrPromoPolicyDetails
<script>
	$(function () {
		$('#MaxIncrInService').ForceOnlyNumeric();
		$('#MaxService').ForceOnlyNumeric();
		$('#MinService').ForceOnlyNumeric();
		$('.popup_radio_button').controlgroup();
		$('.drop').selectmenu().selectmenu('menuWidget');
	});
</script>
<div>

	@using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmIncrPromoPolicyDetails", name = "frmNonRegularIncrementPolicyEdit" }))
	{
		<div class="non_reg_row1 horizontal_row1">
			@Html.LabelFor(m => m.IsIncrAmount, "IsIncrAmount :", new { @class = "non_reg_popup-content-label" })
			<div class="popup_radio_button radio_button_div_1">
				@Html.RadioButtonFor(m => m.IsIncrAmount, "true", new { type = "radio", @id = "non_reg_radio1" })
				@Html.Label("Yes", new { @for = "non_reg_radio1" })
				@Html.RadioButtonFor(m => m.IsIncrAmount, "false", new { type = "radio", @id = "non_reg_radio2" })
				@Html.Label("No", new { @for = "non_reg_radio2" })
			</div>
		</div>
		<div class="non_reg_row1 content_margine">
			@Html.LabelFor(m => m.IncrAmount, "IncrAmount :", new { @class = "non_reg_popup-content-label" })
			@Html.TextBoxFor(m => m.IncrAmount, new { @id = "non_reg_popup-content-textbox" })
		</div>
		<div class="non_reg_row1 horizontal_row1">
			@Html.LabelFor(m => m.IsIncrPercent, "IsIncrPercent :", new { @class = "non_reg_popup-content-label" })
			<div class="popup_radio_button radio_button_div_1">
				@Html.RadioButtonFor(m => m.IsIncrPercent, "true", new { type = "radio", @id = "non_reg_radio3" })
				@Html.Label("Yes", new { @for = "non_reg_radio3" })
				@Html.RadioButtonFor(m => m.IsIncrPercent, "false", new { type = "radio", @id = "non_reg_radio4" })
				@Html.Label("No", new { @for = "non_reg_radio4" })
			</div>
		</div>
		<div class="non_reg_row1 content_margine">
			@Html.LabelFor(m => m.IncrPercent, "IncrPercent :", new { @class = "non_reg_popup-content-label" })
			@Html.TextBoxFor(m => m.IncrPercent, new { @id = "non_reg_popup-content-textbox" })
		</div>
		<div class="non_reg_row1 horizontal_row1">
			@Html.LabelFor(m => m.IsIncrSteps, "IsIncrSteps :", new { @class = "non_reg_popup-content-label" })
			<div class="popup_radio_button radio_button_div_1">
				@Html.RadioButtonFor(m => m.IsIncrSteps, "true", new { type = "radio", @id = "non_reg_radio5" })
				@Html.Label("Yes", new { @for = "non_reg_radio5" })
				@Html.RadioButtonFor(m => m.IsIncrSteps, "false", new { type = "radio", @id = "non_reg_radio6" })
				@Html.Label("No", new { @for = "non_reg_radio6" })
			</div>
		</div>
		<div class="non_reg_row1 content_margine">
			@Html.LabelFor(m => m.IncrSteps, "IncrSteps :", new { @class = "non_reg_popup-content-label" })
			@Html.TextBoxFor(m => m.IncrSteps, new { @id = "non_reg_popup-content-textbox" })
		</div>
	}
</div>