@model P2b.Global.LanguageSkill

@{
    Layout = null;
}
<style>
    .popup-content-textbox {
        margin-bottom: 1px;
        min-width: 140px;
    }

    .popup-content-label {
        display: block;
        margin: 1px;
        float: left;
        width: 76px;
    }
      .icon-row {
            position: relative;
            left: 53px;
            top: -150px;
        }

        #BusinessType-button {
            font-size: 9px;
            padding-top: 1px;
            font-weight: bold;
        }

        .popup-content-label {
            display: block;
            float: left;
            width: 100px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 150px;
        }

        .row3 {
            width: 402px;
        }

        .row4 {
            position: absolute;
            top: 294px;
            width: 400px;
        }

        .popup-content-textbox-long {
            margin-bottom: 1px;
            width: 290px;
        }


        .row2 {
            width: 402px;
        }

    skill_row1 {
        width: 200px;
    }
</style>

<div class="Lookup_Increment">
    <div title="LookUp Data">
        <div class="lookupdiv11"></div>
    </div>
    <div id="pageNavPosition11">

    </div>
</div>
<div id="Create_Dialog" title="Create Skill">

    @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmLanguageSkill", name = "frmLanguageSkill" }))
    {
        <input id="Autho_Action" type="hidden" name="Autho_Action" />
        <input id="Autho_Allow" type="hidden" name="Autho_Allow" />


    <div class="row3 content_margine">
        @Html.LabelFor(m => m.SkillType, "Skill Type :", new { @class = "popup-content-label must" })
        <select class="must" id="SkillTypelist" name="SkillTypelist" style="width:120px;"><option></option></select>
    </div>



    <div class="row3 content_margine">
        <div id="Languagelist_old"></div>
        @Html.LabelFor(m => m.Language, "Language :", new { @class = "popup-content-label" })
        <div class="popup-content-table">
            <table class="lookuptableselected" id="Languagelist">
                <tr><th>Id</th><th>LookUp Selected Language</th></tr>
            </table>
        </div>
        <div class="icon-row">

            <button data-p2btooltip="Lookup Language" class="popup-content-icon-lookup" id="Lookup-Language-Languageskill"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
            <button data-p2btooltip="Create Language" class="popup-content-icon-create" id="Create-Language-Languageskill"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
            <button data-p2btooltip="Edit Language" class="popup-content-icon-edit" id="Edit-Language-Languageskill"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
            <button data-p2btooltip="Remove Language" class="popup-content-icon-remove" id="Remove-Language-Languageskill"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
          
        
         </div>
    </div>

    }
</div>


<script>
    $(document).ready(function (e) {
        $("button").button();
          var dt;
          var btndisablename = "Edit-Language-Languageskill,#Remove-Language-Languageskill";
          Caption = 'Languageskill Details';




          $('<div></div>').P2BPartialCreateModalDialog();
          $('#Create-Language-Languageskill').on("click", function (event) {
              //  alert('create Hobby');
              $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "Language")', 'Create Language', 'open', '@Url.Action("Create", "Language")', '#frmLanguage', 'Message :', 'Request Falied :', '#JqGrid', 201, 375, '', '', '', '#frmLanguageSkill', '', function (data) {
                  //alert(data[0]);
                  $('#Languagelist').P2BLookUpEncapsulate('#Languagelist', 'Languagelist', data[0], data[1], 'Languagelist', '#LookUp_LanguageSkill_empAcademicDtl1,#Create_LanguageSkill_empAcademicDtl', 'N');

              });
              event.preventDefault();
          });
 
          $('#Lookup-Language-Languageskill').on('click', function (event) {
              $('.Lookup_Increment').P2BLookUpModal('@Url.Action("GetLanguageLKDetails", "LanguageSkill")', '', 'lookupdiv11', '  Look Up Data', '#Languagelist', 'Languagelist', 5, 'Languagelist', '#frmLanguageSkill', 'N', '#Lookup-Language-Languageskill,#Create-Language-Languageskill', 'Lookup_table1', 'pageNavPosition11');
              event.preventDefault();
          });
       

          $('#Edit-Language-Languageskill').button().on("click", function (event) {
              var a = [], b;
              a = $('#Languagelist').P2BGetTableDataonSelectedRow('#Languagelist', 0);
              b = a[0];
              console.log(b);
              //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname,                                                                                                                    height, width, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not, returndatafunction) {
              $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "Language")', '@Url.Action("Edit", "Language")', b, '@Url.Action("EditSave", "Language")', 'Edit Language ', '#frmLanguage', b, 'Message :', 'Request Falied :', '#JqGrid', 201, 375, '#frmLanguageSkill', '#Languagelist', 'Languagelist', 'Languagelist', 'A', '#Edit-Language-Languageskill,#Remove-Language-Languageskill', function (data) {
                  // setTimeout(function () {
                  $.each(data[0], function (i, k) {
                      $('#frmLanguage').trigger("reset");
                      $('#LanguageName').val(k.LanguageName);
                  });



                  // }, 3000);
              });
              event.preventDefault();
          });

          //------------------partial end

          $('#Remove-Language-Languageskill').button().on('click', function (event) {
              // dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
              //var a = [], b;
              //a = $('#Languagelist').P2BGetTableDataonSelectedRow('#Languagelist', 0);
              //b = a[0];
              var selectedRows = [];
              selectedRows = $('#Languagelist').P2BGetTableDataonSelectedRow('#Languagelist', 0);
              $('<div></div>').P2BPartialDeleteModalDialog('@Url.Action("DeleteContactDetails", "LanguageSkill")', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#Languagelist', $('#Languagelist').val(), 200, 200, '#frmLanguageSkill', '#Languagelist', '#Edit-Language-Languageskill,#Remove-Language-Languageskill');
              event.preventDefault();
          });

          //delete main page
          $('#Delete').button().click(function (event) {
              alert('delete')
              dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
              alert(dt.Id)
              $('#frmLanguageSkill').P2BDeleteModalDialog('@Url.Action("Delete")', dt.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
              event.preventDefault();
          });

          //View main page
          $('#View').button().click(function (event) {

              $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View', '#Languagelist', btndisablename, 500, 620, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {
                  $.each(data[0], function (i, k) {
                      $('#Autho_Action').val(k.Action);
                      $('#LanguageName').val(k.LanguageName);
                                       });
                  $.each(data[1], function (i, k) {
                      //alert('1');
                      $('#Languagelist').P2BLookUpEncapsulate('#Languagelist', 'Languagelist', data[0], data[1], 'Languagelist', '#Lookup-Language-Languageskill,#Create-Language-Languageskill', 'N');

                  });

                  //To bind old data if authorisation is true
                  if ($("#Autho").hasClass('auto_active')) {
                      //alert('2');
                      // alert(data[2].Name, data[2].IncrList_val)
                      $('#SkillTypelist').oldVal(data[2].SkillTypelist_Id);
                      $('#Languagelist_old').oldLookupVal(data[2].Qualification_val);
                  }
              });

          });




          $('#SkillTypelist').selectmenu().selectmenu("menuWidget");

          $('#SkillTypelist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 308, "");

          $('.popup_radio_button').controlgroup();
          $('#Autho').makeDisable('#Create,#Edit,#Delete');
          $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');

      });

</script>