@{
    Layout = null;
}
@model P2b.Global.LookupValue
@*<link href="~/Content/Lookup_values/Lookup_values.css" rel="stylesheet" />*@
<style>
    .horizontal_row1, .radio_button_div_1 {
        display: inline-block;
    }

    .look_value_row1 {
        width: 350px;
        margin: 3px 0;
    }

    .look_popup-content-label {
        display: block;
        float: left;
        width: 128px;
    }
</style>
<script>
    $(document).ready(function () {
       // $('#LookupVal').ForceOnlyAlphaNumeric();
        $('#LookupVal').MaxLength(50);
        $('#LookupValData').MaxLength(200);
        $('.popup_radio_button').controlgroup();
    });
</script>
<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmLookupValue" }))
    {
        <div class="look_value_row1 ">@Html.LabelFor(m => m.LookupVal, "Lookup Value :", new { @class = "look_popup-content-label must" }) @Html.TextBoxFor(m => m.LookupVal, new { Class = "look_popup-content-textbox must", @maxlength = "50" })</div>
        <div class="look_value_row1 ">@Html.LabelFor(m => m.LookupValData, "Lookup Value Data :", new { @class = "look_popup-content-label" }) @Html.TextBoxFor(m => m.LookupValData, new { Class = "look_popup-content-textbox", @maxlength = "200" })</div>
        <div class="look_value_row1 horizontal_row1 content_margine ">
            @Html.LabelFor(m => m.IsActive, "Is Active:", new { @class = "look_popup-content-label" })
            <div class="popup_radio_button radio_button_div_1">
                <span class="popup_radio_button radio_button_div_1">
                    <input type="radio" id="radio1" name="IsActive" value="true" /><label class="ui-corner-left" for="radio1">Yes</label>
                    <input type="radio" id="radio2" name="IsActive" value="false" checked="checked"/><label class="ui-corner-right" for="radio2">No</label>
                </span>
            </div>
        </div>
         
    }
</div>
