@{
    Layout = null;
}
@model P2b.Global.NameDetails
<link href="~/Content/Name_Details/name_details.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="~/Content/mb-ui.css" />
<script type="text/javascript" src="~/Scripts/P2b_Scripts/jQuery.mbValidations.js"></script>




@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmNameDetails" }))
{
    @*<div class="name_row1 content_margine"></div>@Html.LabelFor(m => m.EmpTitle, "Title:", new { @class = "name_popup-content-label-firstrow" })
        <select id="Namedetails" class="Namedetails" name="Namedetails"></select>*@

    <div class="name_row content_margine">@Html.LabelFor(m => m.EmpFName, "First:", new { @class = "name_popup-content-label" })@Html.TextBoxFor(m => m.EmpFName, new { @class = "name_popup-content-textbox", id = "EmpFName" })</div>
    <div class="name_row content_margine">@Html.LabelFor(m => m.EmpMName, "Middle Name:", new { @class = "name_popup-content-label" })@Html.TextBoxFor(m => m.EmpMName, new { @class = "name_popup-content-textbox", id = "EmpMName" })</div>
    <div class="name_row content_margine">@Html.LabelFor(m => m.EmpLName, "Last Name:", new { @class = "name_popup-content-label" })@Html.TextBoxFor(m => m.EmpLName, new { @class = "name_popup-content-textbox", id = "EmpLName" })</div>
    <div class="name_row content_margine">@Html.LabelFor(m => m.MotherFName, "Mother First Name:", new { @class = "name_popup-content-label" })@Html.TextBoxFor(m => m.MotherFName, new { @class = "name_popup-content-textbox", id = "MotherFName" })</div>
    <div class="name_row content_margine">@Html.LabelFor(m => m.MotherMName, "Mother Middle Name:", new { @class = "name_popup-content-label" })@Html.TextBoxFor(m => m.MotherMName, new { @class = "name_popup-content-textbox", id = "MotherMName" })</div>
    <div class="name_row content_margine">@Html.LabelFor(m => m.MotherLName, "Mother Last Name:", new { @class = "name_popup-content-label" })@Html.TextBoxFor(m => m.MotherLName, new { @class = "name_popup-content-textbox", id = "MotherLName" })</div>

    @*--Ms--*@
    <div class="name_row content_margine">@Html.LabelFor(m => m.FatherFName, "Father First Name:", new { @class = "name_popup-content-label" })@Html.TextBoxFor(m => m.FatherFName, new { @class = "name_popup-content-textbox ms", id = "FatherFName" })</div>
    <div class="name_row content_margine">@Html.LabelFor(m => m.FatherMName, "Father Middle Name:", new { @class = "name_popup-content-label" })@Html.TextBoxFor(m => m.FatherMName, new { @class = "name_popup-content-textbox ms ", id = "FatherMName" })</div>
    <div class="name_row content_margine">@Html.LabelFor(m => m.FatherLName, "Father Last Name:", new { @class = "name_popup-content-label" })@Html.TextBoxFor(m => m.FatherLName, new { @class = "name_popup-content-textbox ms", id = "FatherLName" })</div>

    @*--Mrs--*@
    <div class="name_row content_margine">@Html.LabelFor(m => m.HusbandFName, "Husband First Name:", new { @class = "name_popup-content-label" })@Html.TextBoxFor(m => m.HusbandFName, new { @class = "name_popup-content-textbox mrs", id = "HusbandFName" })</div>
    <div class="name_row content_margine">@Html.LabelFor(m => m.HusbandMName, "Husband Middle Name:", new { @class = "name_popup-content-label" })@Html.TextBoxFor(m => m.HusbandMName, new { @class = "name_popup-content-textbox mrs", id = "HusbandMName" })</div>
    <div class="name_row content_margine">@Html.LabelFor(m => m.HusbandLName, "Husband Last Name:", new { @class = "name_popup-content-label" })@Html.TextBoxFor(m => m.HusbandLName, new { @class = "name_popup-content-textbox mrs", id = "HusbandLName" })</div>
    <div class="name_row content_margine">@Html.LabelFor(m => m.PreviousFName, "Prevoius First Name:", new { @class = "name_popup-content-label" })@Html.TextBoxFor(m => m.PreviousFName, new { @class = "name_popup-content-textbox mrs", id = "PreviousFName" })</div>
    <div class="name_row content_margine">@Html.LabelFor(m => m.PreviousMName, "Previous Middle Name:", new { @class = "name_popup-content-label" })@Html.TextBoxFor(m => m.PreviousMName, new { @class = "name_popup-content-textbox mrs", id = "PreviousMName" })</div>
    <div class="name_row content_margine">@Html.LabelFor(m => m.PreviousLName, "Previous Last Name:", new { @class = "name_popup-content-label" })@Html.TextBoxFor(m => m.PreviousLName, new { @class = "name_popup-content-textbox mrs", id = "PreviousLName" })</div>
}

<script>
    $('#Namedetails').P2BSelectMenuAppend('@Url.Action("PopulateLookupDropDownList", "NameDetails")', "100",'');
    $('.Namedetails').selectmenu().selectmenu("menuWidget").css({ "height": "500px" });

</script>

