@{
    Layout = null;
}
@model P2b.Global.NameSingle
<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmNameSingle", name = "frmNameSingle" }))
    {
        @*<div class="content_margine Name_row1">
            <label class="name_popup-content-label">
                Emp Title
                <span class="Lookup_code_label">
                    (LookupCode-100) :
                </span>
            </label>
            <select class="drop" name="title" id="title"></select>
        </div>*@

       @*<div class="Name_row1 row3 content_margine">
        @Html.LabelFor(m => m.EmpTitle, "Emp Title :", new { @class = "name_popup-content-label must" })<select id="title" name="title" style="width:161px;"><option></option></select>
       </div>*@

         <div class="dropdown_row1 row3 content_margine">@Html.LabelFor(m => m.EmpTitle, "Emp Title :", new { @class = "popup-content-label" })<select id="title" name="title" class="drop" style="width:161px;"><option></option></select></div>

          <div class="content_margine Name_row1">
            @Html.LabelFor(m => m.FName, "First Name:", new { @class = "name_popup-content-label must" })
            @Html.TextBoxFor(m => m.FName, new { @class = "name_popup-content-textbox must" })
        </div>
        <div class="content_margine Name_row1">
            @Html.LabelFor(m => m.MName, "Middle Name:", new { @class = "name_popup-content-label" })
            @Html.TextBoxFor(m => m.MName, new { @class = "name_popup-content-textbox" })
        </div>
        <div class="content_margine Name_row1">
            @Html.LabelFor(m => m.LName, "Last Name:", new { @class = "name_popup-content-label" })
            @Html.TextBoxFor(m => m.LName, new { @class = "name_popup-content-textbox" })
        </div>
    }
</div>
<style>
    .Name_row1 {
        width: 402px;
    }

    .Lookup_code_label {
        font-size: 9px;
    }

    .name_popup-content-textbox {
        width: 200px;
    }

    .name_popup-content-label {
        display: block;
        width: 105px;
        float: left;
    }
</style>
<script>
    $(function () {
        $('#FName').ValidateTextBox({ maxlength: 25, name: true, alphanum: true });
        $('#MName').ValidateTextBox({ maxlength: 25, name: true, alphanum: true });
        $('#LName').ValidateTextBox({ maxlength: 25, name: true, alphanum: true });
        $('.drop').selectmenu().selectmenu('menuWidget');
        $('#title').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")",100,"");

    });
</script>