@model P2b.Global.NonRegIncrPolicy
@{
	Layout = null;
}
@*<link href="~/Content/non_regular_increment/non_regular_increment.css" rel="stylesheet" />*@
<style>
    .non_reg_popup-content-label {
        display: block;
        float: left;
        width: 140px;
    }
</style>
<div>
	@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmNonRegularIncrementPolicy" }))
	{
		<div class="from_section from_section_box">
			
			<div class="non_reg_row1 content_margine">
				@Html.LabelFor(m => m.MaxIncrInService, "Max Incr In Service :", new { @class = "non_reg_popup-content-label must" })
				@Html.TextBoxFor(m => m.MaxIncrInService, new { @class = "non_reg_popup-content-textbox must" })
			</div>
		</div>
		<div class="from_section from_section_box">
			<div class="non_reg_row1 horizontal_row1">
				@Html.LabelFor(m => m.MinSerAppl, "Min Service Appl :", new { @class = "non_reg_popup-content-label" })
				<div class="popup_radio_button radio_button_div_1">
					@Html.RadioButtonFor(m => m.MinSerAppl, "true", new { type = "radio", @id = "non_reg_radio1" })
					@Html.Label("Yes", new { @for = "non_reg_radio1" })
					@Html.RadioButtonFor(m => m.MinSerAppl, "false", new { type = "radio", @id = "non_reg_radio2", @checked = "checked" })
					@Html.Label("No", new { @for = "non_reg_radio2" })
				</div>
			</div>
			<div class="non_reg_row1 content_margine">
				@Html.LabelFor(m => m.MinService, "Min Service :", new { @class = "non_reg_popup-content-label" })
				@Html.TextBoxFor(m => m.MinService, new { @class = "non_reg_popup-content-textbox" })
			</div>
		</div>
		<div class="from_section from_section_box">
			<div class="non_reg_row1 horizontal_row1">
				@Html.LabelFor(m => m.MaxSerLockAppl, "Max Service Lock Appl :", new { @class = "non_reg_popup-content-label" })
				<div class="popup_radio_button radio_button_div_1">
					@Html.RadioButtonFor(m => m.MaxSerLockAppl, "true", new { type = "radio", @id = "non_reg_radio3" })
					@Html.Label("Yes", new { @for = "non_reg_radio3" })
					@Html.RadioButtonFor(m => m.MaxSerLockAppl, "false", new { type = "radio", @id = "non_reg_radio4", @checked = "checked" })
					@Html.Label("No", new { @for = "non_reg_radio4" })
				</div>
			</div>
			<div class="non_reg_row1 content_margine">
				@Html.LabelFor(m => m.MaxService, "Max Service:", new { @class = "non_reg_popup-content-label" })
				@Html.TextBoxFor(m => m.MaxService, new { @class = "non_reg_popup-content-textbox" })
			</div>
		</div>

	}
</div>
<script>
	$(document).ready(function () {
		$('.popup_radio_button').controlgroup();
		//$('.drop').selectmenu().selectmenu('menuWidget');
		$('#MaxIncrInService').ForceOnlyNumeric().MaxLength(10);
		$('#MinService').ForceOnlyNumeric().MaxLength(10);
		$('#MaxService').ForceOnlyNumeric().MaxLength(10);
		$('#MinService').prop("disabled", true);
		$('#MaxService').prop("disabled", true);
		$.OnCheckMakeTextboxDisable('MinSerAppl', '#MinService');
		$.OnCheckMakeTextboxDisable('MaxSerLockAppl', '#MaxService');
	});
</script>
@*<script>
		$(document).ready(function (e) {
		  $('button').button();
			$('.popup_radio_button').controlgroup();

		});
	</script>*@