@model P2b.Global.NonRegIncrPolicy
           @{
               Layout = null;
           }
<link href="~/Content/non_regular_increment/non_regular_increment.css" rel="stylesheet" />
<div>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormNonRegularIncrementPolicy" }))
{
    <div class="non_reg_row1 content_margine">
        @Html.LabelFor(m => m.MaxIncrInService, "Max Incr In Service :", new { @class = "non_reg_popup-content-label" })
        @Html.TextBoxFor(m => m.MaxIncrInService, new { @id = "non_reg_popup-content-textbox" })
    </div>
    <div class="non_reg_row1 horizontal_row1">
        @Html.LabelFor(m => m.MinSerAppl, "Min Service Appl :", new { @class = "non_reg_popup-content-label" })
        <div class="popup_radio_button radio_button_div_1">
            @Html.RadioButtonFor(m => m.MinSerAppl, "true", new { type = "radio", @id = "non_reg_radio1" })
            @Html.Label("Yes", new { @for = "non_reg_radio1" })
            @Html.RadioButtonFor(m => m.MinSerAppl, "false", new { type = "radio", @id = "non_reg_radio2" })
            @Html.Label("No", new { @for = "non_reg_radio2" })
        </div>
    </div>
    <div class="non_reg_row1 content_margine">
        @Html.LabelFor(m => m.MinService, "Min Service :", new { @class = "non_reg_popup-content-label" })
        @Html.TextBoxFor(m => m.MinService, new { @id = "non_reg_popup-content-textbox" })
    </div>
    <div class="non_reg_row1 horizontal_row1">
        @Html.LabelFor(m => m.MaxSerLockAppl, "Mas Service Lock Appl :", new { @class = "non_reg_popup-content-label" })
        <div class="popup_radio_button radio_button_div_1">
            @Html.RadioButtonFor(m => m.MaxSerLockAppl, "true", new { type = "radio", @id = "non_reg_radio3" })
            @Html.Label("Yes", new { @for = "non_reg_radio3" })
            @Html.RadioButtonFor(m => m.MaxSerLockAppl, "false", new { type = "radio", @id = "non_reg_radio4" })
            @Html.Label("No", new { @for = "non_reg_radio4" })
        </div>
    </div>
    <div class="non_reg_row1 content_margine">
        @Html.LabelFor(m => m.MaxService, "Max Service:", new { @class = "non_reg_popup-content-label" })
        @Html.TextBoxFor(m => m.MaxService, new { @id = "non_reg_popup-content-textbox" })
    </div>
}
</div>
<script>
    $(document).ready(function () {
        $('.popup_radio_button').controlgroup();
        $('.drop').selectmenu().selectmenu('menuWidget');
    });
</script>
@*<script>
        $(document).ready(function (e) {
          $('button').button();
            $('.popup_radio_button').controlgroup();

        });
    </script>*@