@{
    Layout = null;
}
@model P2b.Global.OthServiceBookPolicy
<div>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmOthServiceBookPolicy" }))
    {
    <input Id="Autho_Action" type="hidden" name="Autho_Action" />
            <input Id="Autho_Allow" type="hidden" name="Autho_Allow" />
    <div class="other_row1 content_margine">  
    @Html.LabelFor(m => m.Name, "Name :-", new { @class = "other_popup-content-label must" })
    @Html.TextBoxFor(m => m.Name, new { @class = "popup_textbox_leave1 must" })
    </div>
    
    <div class="other_row1 content_margine horizontal_row2 ">
        @Html.LabelFor(m => m.IsPayJobStatusChange, "Job Status Change Appl :", new { @class = "other_popup-content-label " })
        <div class="popup_radio_button radio_button_div_2  ">
            @Html.RadioButtonFor(m => m.IsPayJobStatusChange, "true", new { type = "radio", @id = "radio5" })
            @Html.Label("Yes", new { @for = "radio5" })
            @Html.RadioButtonFor(m => m.IsPayJobStatusChange, "false", new { type = "radio", @id = "radio6" })
            @Html.Label("No", new { @for = "radio6" })
        </div>
    </div>

    <div class="other_row1 content_margine horizontal_row2 ">
        @Html.LabelFor(m => m.IsFuncStructChange, "Func Struct Change Appl :", new { @class = "other_popup-content-label  " })
        <div class="popup_radio_button radio_button_div_2  ">
            @Html.RadioButtonFor(m => m.IsFuncStructChange, "true", new { type = "radio", @id = "radio7" })
            @Html.Label("Yes", new { @for = "radio7" })
            @Html.RadioButtonFor(m => m.IsFuncStructChange, "false", new { type = "radio", @id = "radio8" })
            @Html.Label("No", new { @for = "radio8" })
        </div>
    </div>
}
</div>
<script>
    $(document).ready(function () {
        $('.popup_radio_button').controlgroup();
        $('#Name').ValidateTextBox({ maxlength: 50, name: true });
    });
</script>
<style>
    .radio_button_div_2, .horizontal_row2 {
        display: inline-block;
    }

    .other_popup-content-label {
        width: 100px;
        float: left;
        display: block;
        margin: 1px;
    }

    .other_row1 {
        width: 316px;
    }
   
   
</style>