@{
    Layout = null;
}
@model P2b.Global.PayScale

@*<link rel="stylesheet" type="text/css" href="~/Content/mb-ui.css" />*@
<style>
    .payscale_popup-content-label {
        display: block;
        margin: 1px;
        float: left;
        width: 120px;
    }

    .payscale_popup-content-textbox {
        margin-bottom: 1px;
        width: 59%;
    }

    .payscale_row3 {
        width: 422px;
    }

    .pay_icon-row {
        position: relative;
        left: 80px;
        top: -149px;
    }
</style>
<html>
<body>

    @*<div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>*@

    <div id="create_dialog2" title="Create Payscale">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmPayScaleP" }))
        {

            <div class="payscale_row3 content_margine">
                @Html.LabelFor(m => m.PayScaleType, "Payscale Type :", new { @class = "payscale_popup-content-label must" })
                <select id="PayScaleTypeList" name="PayScaleTypeList" style="width:150px;" class="drop must">
                    <option></option>
                </select>
            </div>
            <div class="payscale_row3 content_margine">
                <div id="PayScaleArealist_old"></div>
                @Html.LabelFor(m => m.PayScaleArea, "Payscale Area:", new { @class = "payscale_popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="PayScaleArealist">
                        <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="pay_icon-row">
                    <button data-p2btooltip="LookUp PayScaleArea" class="popup-content-icon-lookup" id="Lookup-PayScaleArea-PayScale"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    @*<button data-p2btooltip="Crate Contact Details" class="popup-content-icon-create" id="Create-PayScaleArea-PayScale"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>*@
                    @*<button data-p2btooltip="Edit Contact Details" class="popup-content-icon-edit" id="Edit-PayScaleArea-PayScale"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>*@
                    <button data-p2btooltip="Remove PayScaleArea" class="popup-content-icon-remove" id="Remove-PayScaleArea-PayScale"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>
            <div class="payscale_row3 content_margine horizontal_row1">
                @Html.LabelFor(m => m.BasicScaleAppl, "Basic Scale Appl:", new { @class = "payscale_popup-content-label" })
                <div class="popup_radio_button radio_button_div_1">
                    <span class="popup_radio_button radio_button_div_1">
                        <input type="radio" id="radio15" name="BasicScaleAppl" value="true" /> <label for="radio15">Yes</label>
                        <input type="radio" id="radio16" name="BasicScaleAppl" value="false" checked="checked"/> <label for="radio16">No</label>
                    </span>
                </div>
                @*<div class="popup_radio_button radio_button_div_1">
                        <div class="radioset">
                            <span><input type="radio" id="radio15" name="BasicScaleAppl" value="true" /> <label for="radio15">Yes</label></span>
                            <span><input type="radio" id="radio16" name="BasicScaleAppl" value="false" /> <label for="radio16">No</label></span>
                        </div>
                    </div>*@
            </div>

            <div class="payscale_row3 content_margine horizontal_row1">
                @Html.LabelFor(m => m.CPIAppl, "CPI Appl:", new { @class = "payscale_popup-content-label" })
                <div class="popup_radio_button radio_button_div_1">
                    <span class="popup_radio_button radio_button_div_1">
                        <input type="radio" id="radio17" name="CPIAppl" value="true" /> <label for="radio17">Yes</label>
                        <input type="radio" id="radio18" name="CPIAppl" value="false"  checked="checked"/> <label for="radio18">No</label>
                    </span>
                </div>
            </div>
            <div class="payscale_row3 content_margine horizontal_row2">
                @Html.LabelFor(m => m.ActualIndexAppl, "ActualIndexAppl:", new { @class = "payscale_popup-content-label" })
                <div class="popup_radio_button radio_button_div_1">
                    <span class="popup_radio_button radio_button_div_1">
                        <input type="radio" id="radio10" name="ActualIndexAppl" value="true" /><label for="radio10">Yes</label>
                        <input type="radio" id="radio11" name="ActualIndexAppl" value="false"  checked="checked"/><label for="radio11">No</label>
                    </span>
                </div>
            </div>
            <div id="hidedetails">
                <div class="payscale_row3 content_margine">
                    @Html.LabelFor(m => m.Rounding, "Rounding:", new { @class = "payscale_popup-content-label must" })
                    <select class="drop must" name="RoundingList" id="RoundingList" style="width:120px;">

                        <option>-Select-</option>
                    </select>
                </div>

            </div>
            <div class="payscale_row3 content_margine">
                @Html.LabelFor(m => m.MultiplyingFactor, "Multiplying Factor:", new { @class = "payscale_popup-content-label" })
                @Html.TextBoxFor(m => m.MultiplyingFactor, new { @class = "payscale_popup-content-textbox" })
            </div>

        }
    </div>
</body>
</html>

<script>
    $(document).ready(function () {
        $('.drop').selectmenu().selectmenu('menuWidget');
        $('button').button();
        $('.popup_radio_button').controlgroup();
        $('#RoundingList').P2BSelectMenuAppend('@Url.Action("GetLookupValue","lookup")', 422, '');
        $('#PayScaleTypeList').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 423, "");
        $("#hidedetails").hide();

        $('input[name="ActualIndexAppl"]:radio').change(function () {
            if (this.value == "false") {
                $("#hidedetails").fadeOut();
            }
            else {
                $("#hidedetails").fadeIn();
            }
        });
        
        $('#Lookup-PayScaleArea-PayScale').button().on('click', function (e) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetPayscaleAreaDetails", "Payscale")', '', 'LookupDiv', 'Look Up Data', '#PayScaleArealist', 'PayScaleArealist', 10, 'PayScaleArealist', '#frmPayScale', 'A', '#Payscale_Edit,#Payscale_remove', 'Lookup_table', 'PageNavPosition');

            e.preventDefault();
        });
        $('#Remove-PayScaleArea-PayScale').button().on('click', function (event) {
            //var a = [], b;
            //a = $('#PayScaleArealist').P2BGetTableDataonSelectedRow('#PayScaleArealist', 0);
            //b = a[0];
            //console.log(b);

            var selectedRows = [];
            selectedRows = $('#PayScaleArealist').P2BGetTableDataonSelectedRow('#PayScaleArealist', 0);

            console.log("Verify...");

            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#PayScaleArealist', $('#PayScaleArealist').val(), 200, 200, '#frmPayScale', '#PayScaleArealist');
            event.preventDefault();
        });
    });
</script>


