@model P2b.Global.PayrollPeriod
@{
       Layout = null;
}
@*<link href="~/Content/Payroll_period/Payroll_period.css" rel="stylesheet" />*@
<style>
    .icon-row {
        position: relative;
        left: 53px;
        top: -150px;
    }

    .popup-content-label {
        display: block;
        float: left;
        width: 100px;
    }

    .popup-content-textbox {
        margin-bottom: 1px;
        min-width: 150px;
    }

    .row3 {
        width: 402px;
    }

    .row1 {
        width: 264px;
    }
</style>

<script>
    $(document).ready(function (event) {
        $('button').button();
        $('.selectmenu').selectmenu().selectmenu("menuWidget").css("height", "100px");
        for (var i = 0; i <= 30; i++) {
            var j = i + 1;

            $('#PayDate_drop1').append("<option value='" + j + "'>" + j + "</option>");

            $('#StartDate_drop').append("<option value='" + j + "'>" + j + "</option>");
            $('#ToDate_drop').append("<option value='" + j + "'>" + j + "</option>");
        
        }
        $('#PayDate_drop1').selectmenu().selectmenu("refresh").selectmenu('menuWidget').css('height', '100px');

        $('#StartDate_drop').selectmenu().selectmenu("refresh").selectmenu('menuWidget').css('height', '100px');
        $('#ToDate_drop').selectmenu().selectmenu("refresh").selectmenu('menuWidget').css('height', '100px');

       
    });

</script>
        <div>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmPayrollPeriod", name = "frmPayrollPeriod" }))
        {
    <div class="row3 content_margine">@Html.LabelFor(m => m.PayDate, "PayDate :", new { @class = "must popup-content-label" })<select class="selectmenu must" style="width:120px" id="PayDate_drop1" name="PayDate_drop1"><option>-Select-</option></select></div>
<div class="row3 content_margine">@Html.LabelFor(m => m.StartDate, "From Date :", new { @class = "popup-content-label" })<select class="selectmenu" style="width:120px" id="StartDate_drop" name="StartDate_drop"><option>-Select-</option></select></div>
<div class="row3 content_margine">@Html.LabelFor(m => m.EndDate, "To Date :", new { @class = "popup-content-label" })<select class="selectmenu" style="width:120px" id="ToDate_drop" name="ToDate_drop"><option>-Select-</option></select></div>



    @*<div class="per_row2 content_margine"> @Html.LabelFor(m => m.StartDate, "From Date:", new { @class = "per_popup-content-label" })@Html.DropDownListFor(m => m.StartDate, new List<SelectListItem> { new SelectListItem { Text = "1", Value = "1" } }, "-Select-", new { @id = "Incharge" })</div>
    <div class="per_row2 content_margine"> @Html.LabelFor(m => m.EndDate, "To Date:", new { @class = "per_popup-content-label" })@Html.DropDownListFor(m => m.EndDate, new List<SelectListItem> { new SelectListItem { Text = "1", Value = "1" } }, "-Select-", new { @id = "Incharge" })</div>*@
        }
</div>