@{
    Layout = null;
}
@model P2b.Global.QualificationDetails
<style>
    .icon-row {
        position: relative;
        left: 121px;
        top: -150px;
    }

    #BusinessType-button {
        font-size: 9px;
        padding-top: 1px;
        font-weight: bold;
    }

    .popup-content-label {
        display: block;
        float: left;
        width: 165px;
    }

    .popup-content-textbox {
        margin-bottom: 1px;
        min-width: 150px;
    }

    .row3 {
        width: 473px;
    }

    .row4 {
        position: absolute;
        top: 294px;
        width: 400px;
    }

    .popup-content-textbox-long {
        margin-bottom: 1px;
        width: 290px;
    }


    .row2 {
        width: 402px;
    }
    
    
    
     /*.qual_popup-content-textbox {
        min-width: 200px;
        margin: 0px 0px 1px 3px;
    }

    .qual_popup-content-label {
        display: block;
        float: left;
        width: 165px;
    }

    .content_margine_quali {
        margin: 2.5px;
        padding: 0.5px;
    }

    .qual_row3 {
        width: 473px;
    }

    .qual_icon_row3 {
        left: 118px;
        top: -150px;
        position: relative;
    }*/
</style>
<div class="Lookup_Increment2">
    <div title="LookUp Data">
        <div class="lookupdiv1"></div>
    </div>
    <div id="pageNavPosition1">

    </div>
</div>
<div id="Create_Dialog" title="Create Qualification Detail">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmQualificationDetails1" }))
    {
        <input id="Autho_Action" type="hidden" name="Autho_Action" />
        <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
        @*  <div class="row1 content_margine_quali">
                    @Html.LabelFor(m => m.Qualification, "Qualification:", new { @class = "qual_popup-content-label" })
                    <select class="drop" name="QualificationList" id="QualificationList" style="width:180px;">
                        <option value="0">
                            -Select-
                        </option>
                    </select>
            </div>*@
        <div class="row3 content_margine">
            <div id="Qualificationlist_old"></div>
            @Html.LabelFor(m => m.Qualification, "Qualification :", new { @class = "popup-content-label" })
            <div class="popup-content-table">
                <table class="lookuptableselected" id="Qualificationlist">
                    <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                </table>
            </div>
            <div class="icon-row">
                <button data-p2btooltip="Lookup Qualification" class="popup-content-icon-lookup" id="Lookup-Qualification-QualDetails"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                <button data-p2btooltip="Create Qualification" class="popup-content-icon-create" id="Create-Qualification-QualDetails"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                <button data-p2btooltip="Edit Qualification" class="popup-content-icon-edit" id="Edit-Qualification-QualDetails"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                <button data-p2btooltip="Remove Qualification" class="popup-content-icon-remove" id="Remove-Qualification-QualDetails"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
            </div>
        </div>
        
        
        <div class="row3 content_margine">
            @Html.LabelFor(m => m.SpecilisedBranch, "Branch :", new { @class = "popup-content-label must" })
            @Html.TextBoxFor(m => m.SpecilisedBranch, new { @class = "popup-content-textbox must" })
        </div>
    <div class="row3 content_margine">
        @Html.LabelFor(m => m.Institute, "School/Institute/College :", new { @class = "popup-content-label must" })
        @Html.TextBoxFor(m => m.Institute, new { @class = "popup-content-textbox must" })
    </div>
    <div class="row3 content_margine">
        @Html.LabelFor(m => m.University, "University :", new { @class = "popup-content-label" })
        @Html.TextBoxFor(m => m.University, new { @class = "popup-content-textbox" })
    </div>
    <div class="row3 content_margine">
        @Html.LabelFor(m => m.ResultPercentage, "Percentage :", new { @class = "popup-content-label must" })
        @Html.TextBoxFor(m => m.ResultPercentage, new { @class = "popup-content-textbox must" })
    </div>
    <div class="row3 content_margine">
        @Html.LabelFor(m => m.ResultGradation, "Graduation :", new { @class = "popup-content-label" })
        @Html.TextBoxFor(m => m.ResultGradation, new { @class = "popup-content-textbox" })
    </div>
    <div class="row3 content_margine">
        @Html.LabelFor(m => m.PasingYear, "Year Of Passing :", new { @class = "popup-content-label must" })
        @Html.TextBoxFor(m => m.PasingYear, new { @class = "popup-content-textbox date must" })
    </div>
    <div class="row3 content_margine">
        @Html.LabelFor(m => m.ResultSubmissionDate, "Submission Date :", new { @class = "popup-content-label" })
        @Html.TextBoxFor(m => m.ResultSubmissionDate, new { @class = "popup-content-textbox date" })
    </div>
        <div class="row3 content_margine">
            @Html.LabelFor(m => m.SpecialFeature, "Narration :", new { @class = "popup-content-label" })
            @Html.TextBoxFor(m => m.SpecialFeature, new { @class = "popup-content-textbox" })
        </div>
    }
</div>

<script>
    $(function () {
        $('button').button();
        $('.drop').selectmenu().selectmenu('menuWidget');
        $('.date').P2BDatePicker();
        //$('#ResultPercentage').ForceOnlyNumeric();
        //$('#ResultPercentage').ValidateTextBox({ maxlength: 5, name: true });
        $('#SpecilisedBranch').ValidateTextBox({ maxlength: 50, name: true });
        $('#Institute').ValidateTextBox({ maxlength: 50, name: true });
        $('#University').ValidateTextBox({ maxlength: 50, name: true });
        $('#ResultGradation').ValidateTextBox({ maxlength: 50, name: true });
        $('#SpecialFeature').ValidateTextBox({ maxlength: 50, name: true });
        $('#ResultPercentage').ForcePercent().MaxLength(4).val(0.0);
        Caption = 'Qualification Details';
     //   var btndisablename = "Edit-Qualification-QualDetails,#Remove-Qualification-QualDetails";

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-Qualification-QualDetails').on("click", function (event) {
     
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "Qualification")', 'Create Qualification', 'open', '@Url.Action("Create", "Qualification")', '#frmQualification', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#frmQualificationDetails1', '', function (data) {
             
                $('#Qualificationlist').P2BLookUpEncapsulate('#Qualificationlist', 'Qualificationlist', data[0], data[1], 'Qualificationlist', '#Lookup_QualDetails_empAcademicDtl,#Create_QualDetails_empAcademicDtl', 'A');
            });
            event.preventDefault();
        });

      


        $('#Lookup-Qualification-QualDetails').on('click', function (event) {
            $('.Lookup_Increment2').P2BLookUpModal('@Url.Action("GetQualificationLKDetails", "QualificationDetails")', '', 'lookupdiv1', 'Look Up Data', '#Qualificationlist', 'Qualificationlist', 5, 'Qualificationlist', '#frmQualificationDetails1', 'A', '#Edit-Qualification-QualDetails,#Remove-Qualification-QualDetails', 'Lookup_table1', 'pageNavPosition1');
            event.preventDefault();
        });

      

      

        $('#Edit-Qualification-QualDetails').button().on("click", function (event) {
            var a = [], b;
            a = $('#Qualificationlist').P2BGetTableDataonSelectedRow('#Qualificationlist', 0);
            b = a[0];
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "Qualification")', '@Url.Action("edit", "Qualification")', b, '@Url.Action("Editsave", "Qualification")', 'Edit Qualification', '#frmQualification', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmQualificationDetails1', '#Qualificationlist', 'Qualificationlist', 'Qualificationlist', 'A', '#Edit-Qualification-QualDetails,#Remove-Qualification-QualDetails', function (data) {

                // $.each(data, function (i, k) {
                var k = data[0]
                    $('#frmQualification').trigger("reset");
                    $('#QualificationShortName').val(k.QualificationShortName);
                    $('#QualificationDesc').val(k.QualificationDesc);
                    $('#Qualificationlist1').attr('disabled',true);
                    $('#Qualificationlist1').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 314, k.BusinessType_Id);
               // });
            });
            event.preventDefault();
        });
       

      

      
   
        $('#Remove-Qualification-QualDetails').button().on('click', function (event) {
            ////  dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'ID');
            //var a = [], b;
            //a = $('#Qualificationlist').P2BGetTableDataonSelectedRow('#Qualificationlist', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#Qualificationlist').P2BGetTableDataonSelectedRow('#Qualificationlist', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#Qualificationlist', $('#Qualificationlist').val(), 200, 200, '#frmQualificationDetails1', '#Qualificationlist');
            event.preventDefault();
        });

        @*//delete main page
        $('#Delete').button().click(function (event) {
            alert('delete')
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            alert(dt.Id)
            $('#frmIncrementPolicy').P2BDeleteModalDialog('@Url.Action("Delete")', dt.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
            event.preventDefault();
        });*@



        @*// Main page edit
        $('#Edit').on('click', function () {
            AssignData();
            //alert(dt.Name)
            $('#frmIncrementPolicy').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit Data", '#frmIncrementPolicy', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 500, 620, '#RegIncrPolicylist,#NonRegIncrPolicylist', btndisablename, function (data) {
                // setTimeout(function () {
                //alert(data[0])
                $.each(data[0], function (i, k) {
                    console.log(k.Name);
                    alert(data[0])
                    $('#Name').val(k.Name);
                    $('#IncrAmount').val(k.IncrAmount);
                    $('#IsRegularIncr').val(k.IsRegularIncr);
                    $('#IsIncrSteps').val(k.IsIncrSteps);
                    $('#IsRegularIncr').val(k.IncrSteps);
                    $('#IsIncrSteps').val(k.IsIncrPercent);
                    $('#IsIncrAmount').val(k.IsIncrAmount);
                });

                //partial page bind
                $.each(data[1], function (i, k) {
                    $('#RegIncrPolicylist').P2BLookUpEncapsulate('#RegIncrPolicylist', 'RegIncrPolicylist', k.RegIncrPolicyId, k.RegIncrFulldtl, 'RegIncrPolicylist', '#Lookup-RegIncrPolicy-IncrPolicy,#Lookup-RegIncrPolicy-IncrPolicy', 'N');

                    $('#NonRegIncrPolicylist').P2BLookUpEncapsulate('#NonRegIncrPolicylist', 'NonRegIncrPolicylist', k.NonRegIncrPolicyId, k.NonRegIncrFulldtl, 'NonRegIncrPolicylist', '#Lookup-NonRegIncrPolicy-IncrPolicy,#Create-NonRegIncrPolicy-IncrPolicy', 'N');
                });
                //alert(data[3]);
                $('#Autho_Allow').val(data[3]); //Compulsory for authorisation
                // }, 2000);
            });
        });

        //View main page
        $('#View').button().click(function (event) {
            AssignData();
         
            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View', '#Qualificationlist', btndisablename, 500, 620, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {
                $.each(data[0], function (i, k) {
                    $('#Autho_Action').val(k.Action);
                    //$('#Name').val(k.Name);
                    //$('#IncrAmount').val(k.IncrAmount);
                    //// alert('0');
                });
                $.each(data[1], function (i, k) {
                    //alert('1');
                    $('#Qualificationlist').P2BLookUpEncapsulate('#Qualificationlist', 'Qualificationlist', data[0], data[1], 'Qualificationlist', '#Lookup-Qualification-QualDetails,#Create-Qualification-QualDetails', 'N');

                });

                //To bind old data if authorisation is true
                if ($("#Autho").hasClass('auto_active')) {
                    //alert('2');
                    // alert(data[2].Name, data[2].IncrList_val)
                    $('#SpecilisedBranch').oldVal(data[2].SpecilisedBranch);
                    $('#Institute').oldVal(data[2].Institute);
                    $('#University').oldVal(data[2].University);
                    $('#PasingYear').oldVal(data[2].PasingYear);
                    $('#ResultPercentage').oldVal(data[2].ResultPercentage);
                    $('#PasingYear').oldVal(data[2].PasingYear);
                    $('#ResultGradation').oldVal(data[2].ResultGradation);
                    $('#ResultSubmissionDate').oldVal(data[2].ResultSubmissionDate);
                    $('#SpecialFeature').oldVal(data[2].SpecialFeature);
                    $('#Qualificationlist_old').oldLookupVal(data[2].Qualification_val);
                }
            });

        });*@

        $('.popup_radio_button').controlgroup();
        $('#Autho').makeDisable('#Create,#Edit,#Delete');
        //$('#Categorylist').selectmenu().selectmenu("menuWidget");
        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');
    });
</script>