@{
    Layout = null;
}
@model P2b.Global.Qualification
@*<link rel="stylesheet" type="text/css" href="~/Content/mb-ui.css" />*@
<style>
    /*.qual_popup-content-textbox {
        min-width: 200px;
        margin: 0px 0px 1px 3px;
    }

    .qual_popup-content-label {
        display: block;
        float: left;
        width: 163px;
    }

    .content_margine_quali {
        margin: 2.5px;
        padding: 0.5px;
    }*/


    /*.qual_popup-content-label {
        display: block;
        margin: 1px;
        float: left;
        width: 120px;
    }

    .qual_popup-content-textbox {
        margin-bottom: 1px;
        width: 59%;
    }*/





    .popup-content-label {
        display: block;
        float: left;
        width: 178px;
    }

    .popup-content-textbox {
        margin-bottom: 1px;
        min-width: 150px;
    }

    /*.row3 {
        width: 402px;
    }*/

   

    .popup-content-textbox-long {
        margin-bottom: 1px;
        width: 290px;
    }


    .row2 {
        width: 402px;
    }



</style>
<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmQualification" }))
    {
        <input id="Autho_Action" type="hidden" name="Autho_Action" />
        <input id="Autho_Allow" type="hidden" name="Autho_Allow" />

        @*<div class="row3 content_margine">
            @Html.LabelFor(m => m.QualificationShortName, "Qualification ShortName :", new { @class = "qual_popup-content-label must" })
        @Html.TextBoxFor(m => m.QualificationShortName, new { @class = "popup-content-textbox must", @maxlength = "50" })
    </div>*@
          <div class="dropdown_row1 row3 content_margine">@Html.LabelFor(m => m.QualificationType, "Qualification Type :", new { @class = "popup-content-label must "  })<select id="Qualificationlist1" name="Qualificationlist1" class="must" style="width:161px;"><option></option></select></div>
          <div class="row3 content_margine">
                @Html.LabelFor(m => m.QualificationShortName, "Qualification ShortName :", new { @class = "popup-content-label must" })
                @Html.TextBoxFor(m => m.QualificationShortName, new { @class = "popup-content-textbox must" })
            </div>
        
          <div class="row3 content_margine">
                @Html.LabelFor(m => m.QualificationDesc, "Qualification Desc :", new { @class = "popup-content-label must" })
                @Html.TextBoxFor(m => m.QualificationDesc, new { @class = "popup-content-textbox must" })
            </div>

        @*<div class="row3 content_margine">
            @Html.LabelFor(m => m.QualificationDesc, "Qualification Desc :", new { @class = "qual_popup-content-label must" })
        @Html.TextBoxFor(m => m.QualificationDesc, new { @class = "popup-content-textbox must", @maxlength = "50" })
    </div>*@

        @*<div class="dropdown_row1 row3 content_margine">
            @Html.LabelFor(m => m.QualificationType, "Qualification Type :", new { @class = "qual_popup-content-label must" })
            <select class="" id="Qualificationlist" name="Qualificationlist" style="width:159px;"><option></option></select>
        </div>*@
        
        
          @*<div class="row3 content_margine">
                @Html.LabelFor(m => m.QualificationType, "Qualification Type :", new { @class = "qual_popup-content-label must" })
              <select id="Qualificationlist" name="Qualificationlist" style="width: 120px;" class="drop ">
                  <option></option>
              </select>
            </div>*@
        
        
         
            
        
          @*<div class="lan_row3">
            @Html.LabelFor(m => m.QualificationType, "Skill Type :", new { @class = "popup-content-label must" })
            <select class="must" id="SkillTypelist" name="SkillTypelist" style="width:120px;"><option></option></select>
        </div>*@
        
          @*<div class="row3 content_margine">
                @Html.LabelFor(m => m.PayScaleType, "Payscale Type :", new { @class = "popup-content-label must" })
                <select id="PayScaleTypeList" name="PayScaleTypeList" style="width:150px;" class="drop must">
                    <option></option>
                </select>
            </div>*@
    }
</div>
<script>
    $(function () {

        $('#QualificationShortName').ValidateTextBox({ maxlength: 50, name: true });
        $('#QualificationDesc').ValidateTextBox({ maxlength: 50, name: true });

        $('#Qualificationlist1').selectmenu().selectmenu('menuWidget');
        $('.date').P2BDatePicker();
        $('#Qualificationlist1').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 314, "");
    });
</script>