@{
    Layout = null;
}
@model P2b.Global.RegIncrPolicy
<script>
    $(document).ready(function (e) {
        $('button').button();
        $('#Code').ValidateTextBox({ maxlength: 10, AlphaNum: 0 });
        $('#Code').MaxLength(10);
        //$('#Name').ForceOnlyAlphaNumeric();
        $('#Name').MaxLength(50);
        function AssignData() {

            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }

        $('.popup_radio_button').controlgroup();
        $('#Categorylist').selectmenu().selectmenu("menuWidget");
        $('#CurMonStartDay').ForceOnlyNumeric().MaxLength(3);
        $('#IncrMonth').ForceOnlyNumeric().MaxLength(3);
        $('#LWPMinCeiling').ForceOnlyNumeric().MaxLength(3);
        $('#NextMonStartDay').ForceOnlyNumeric().MaxLength(3);
        $('#MidMonthLockDay').ForceOnlyNumeric().MaxLength(3);
        $('#IncrMonth').prop("disabled", true);
        $.OnCheckMakeTextboxDisable("IsFixMonth", "#IncrMonth");
        $.RadioBtnGroup("IsJoiningDate", "IsConfirmDate");
    });
</script>

<style>
    .icon-row {
        position: relative;
        left: 61px;
        top: -150px;
    }

    .horizontal_row1, .radio_button_div_1 {
        display: inline-block;
    }

    .popup-content-label {
        display: block;
        float: left;
        width: 180px;
    }

    .popup-content-textbox {
        margin-bottom: 1px;
        min-width: 150px;
    }

    .row3 {
        width: 402px;
    }

    regpoly_row1 {
        width: 200px;
    }
</style>

<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmRegularIncrementPolicy", name = "frmRegularIncrementPolicy" }))
    {
        <input id="Autho_Action" type="hidden" name="Autho_Action" />
        <input id="Autho_Allow" type="hidden" name="Autho_Allow" />

       <div class="from_section from_section_box">




            <div class="row3 content_margine">
                @Html.LabelFor(m => m.IsJoiningDate, "Is JoiningDate  :", new { @class = "popup-content-label must " })
                <div class="popup_radio_button">
                    @Html.RadioButtonFor(m => m.IsJoiningDate, "true", new { type = "radio", @id = "radio1" })
                    @Html.Label("Yes", new { @for = "radio1" })
                    @Html.RadioButtonFor(m => m.IsJoiningDate, "false", new { type = "radio", @id = "radio2", @checked= "checked" })
                    @Html.Label("No", new { @for = "radio2" })
                </div>
            </div>

          
         

            <div class="row3 content_margine">
                @Html.LabelFor(m => m.IsConfirmDate, "IsConfirmDate  :", new { @class = "popup-content-label must " })
                <div class="popup_radio_button">
                    @Html.RadioButtonFor(m => m.IsConfirmDate, "true", new { type = "radio", @id = "radio3" })
                    @Html.Label("Yes", new { @for = "radio3" })
                    @Html.RadioButtonFor(m => m.IsConfirmDate, "false", new { type = "radio", @id = "radio4", @checked = "checked" })
                    @Html.Label("No", new { @for = "radio4" })
                </div>
            </div>




            <div class="row3 content_margine">
                @Html.LabelFor(m => m.IsFixMonth, "IsFixMonth  :", new { @class = "popup-content-label must " })
                <div class="popup_radio_button ">
                    @Html.RadioButtonFor(m => m.IsFixMonth, "true", new { type = "radio", @id = "radio5" })
                    @Html.Label("Yes", new { @for = "radio5" })
                    @Html.RadioButtonFor(m => m.IsFixMonth, "false", new { type = "radio", @id = "radio6", @checked = "checked" })
                    @Html.Label("No", new { @for = "radio6" })
                </div>
            </div>
            @*<div class="row3 content_margine">@Html.LabelFor(m => m.IncrMonth, "IncrMonth:", new { @class = "popup-content-textbox" })</div>*@
           <div class="row3 content_margine">@Html.LabelFor(m => m.IncrMonth, "IncrMonth:", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.IncrMonth, new { @class = "popup-content-textbox must" })</div>
        </div>
        <div class="from_section from_section_box">


            <div class="row3 content_margine">
                @Html.LabelFor(m => m.IsMidMonthEffect, "IsMidMonthEffect  :", new { @class = "popup-content-label must " })
                <div class="popup_radio_button ">
                    @Html.RadioButtonFor(m => m.IsMidMonthEffect, "true", new { type = "radio", @id = "radio7" })
                    @Html.Label("Yes", new { @for = "radio7" })
                    @Html.RadioButtonFor(m => m.IsMidMonthEffect, "false", new { type = "radio", @id = "radio8", @checked = "checked" })
                    @Html.Label("No", new { @for = "radio8" })
                </div>
            </div>


            <div class="row3 content_margine">@Html.LabelFor(m => m.MidMonthLockDay, "MidMonthLockDay:", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.MidMonthLockDay, new { @class = "popup-content-textbox must" })</div>

            <div class="row3 content_margine">@Html.LabelFor(m => m.CurMonStartDay, "CurMonStartDay:", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.CurMonStartDay, new { @class = "popup-content-textbox must" })</div>

            <div class="row3 content_margine">@Html.LabelFor(m => m.NextMonStartDay, "NextMonStartDay:", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.NextMonStartDay, new { @class = "popup-content-textbox must" })</div>

        </div>




        <div class="from_section from_section_box">

            <div class="row3 content_margine">
                @Html.LabelFor(m => m.IsMidQuarterEffect, "IsMidQuarterEffect  :", new { @class = "popup-content-label must " })
                <div class="popup_radio_button ">
                    @Html.RadioButtonFor(m => m.IsMidQuarterEffect, "true", new { type = "radio", @id = "radio9" })
                    @Html.Label("Yes", new { @for = "radio9" })
                    @Html.RadioButtonFor(m => m.IsMidQuarterEffect, "false", new { type = "radio", @id = "radio10", @checked = "checked" })
                    @Html.Label("No", new { @for = "radio10" })
                </div>
            </div>



            <div class="row3 content_margine">
                @Html.LabelFor(m => m.CurrQuarterStart, "CurrQuarterStart  :", new { @class = "popup-content-label must " })
                <div class="popup_radio_button ">
                    @Html.RadioButtonFor(m => m.CurrQuarterStart, "true", new { type = "radio", @id = "radio11" })
                    @Html.Label("Yes", new { @for = "radio11" })
                    @Html.RadioButtonFor(m => m.CurrQuarterStart, "false", new { type = "radio", @id = "radio12", @checked = "checked" })
                    @Html.Label("No", new { @for = "radio12" })
                </div>
            </div>
            @*<div class="row3 content_margine">
                    @Html.LabelFor(m => m.NextQuarterStart, "NextQuarterStart:", new { @class = "regpoly_popup-content-label must" })
                    <div class="regpoly_popup_radio_button ">

                        <input type="radio" id="RegIncrPolicy_radio13" name="NextQuarterStart" value="true" /><label for="RegIncrPolicy_radio13">Yes</label>
                        <input type="radio" id="RegIncrPolicy_radio14" name="NextQuarterStart" value="false" /><label for="RegIncrPolicy_radio14">No</label>

                    </div>
                </div>*@
            <div class="row3 content_margine">
                @Html.LabelFor(m => m.NextQuarterStart, "CurrQuarterStart  :", new { @class = "popup-content-label must " })
                <div class="popup_radio_button ">
                    @Html.RadioButtonFor(m => m.NextQuarterStart, "true", new { type = "radio", @id = "radio13" })
                    @Html.Label("Yes", new { @for = "radio13" })
                    @Html.RadioButtonFor(m => m.NextQuarterStart, "false", new { type = "radio", @id = "radio14", @checked = "checked" })
                    @Html.Label("No", new { @for = "radio14" })
                </div>
            </div>
        </div>
        <div class="from_section from_section_box">

            <div class="row3 content_margine">
                @Html.LabelFor(m => m.IsLWPEffectDateAsIncrDate, "IsLWPEffectDateAsIncrDate  :", new { @class = "popup-content-label must " })
                <div class="popup_radio_button ">
                    @Html.RadioButtonFor(m => m.IsLWPEffectDateAsIncrDate, "true", new { type = "radio", @id = "radio15" })
                    @Html.Label("Yes", new { @for = "radio15" })
                    @Html.RadioButtonFor(m => m.IsLWPEffectDateAsIncrDate, "false", new { type = "radio", @id = "radio16", @checked = "checked" })
                    @Html.Label("No", new { @for = "radio16" })
                </div>
            </div>


            <div class="row3 content_margine">
                @Html.LabelFor(m => m.IsLWPIncl, "IsLWPIncl  :", new { @class = "popup-content-label must " })
                <div class="popup_radio_button ">
                    @Html.RadioButtonFor(m => m.IsLWPIncl, "true", new { type = "radio", @id = "radio17" })
                    @Html.Label("Yes", new { @for = "radio17" })
                    @Html.RadioButtonFor(m => m.IsLWPIncl, "false", new { type = "radio", @id = "radio18", @checked = "checked" })
                    @Html.Label("No", new { @for = "radio18" })
                </div>
            </div>

            <div class="row3 content_margine">@Html.LabelFor(m => m.LWPMinCeiling, "LWPMinCeiling:", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.LWPMinCeiling, new { @class = "popup-content-textbox must" })</div>
        </div>
    }
</div>