
           @{
               Layout = null;
           }
@model P2b.Global.RegIncrPolicy
<link href="~/Content/Regularincrementpolicy/RegularIncrementPolicy.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        $('.popup_radio_button').buttonset();
        
        $('#CurMonLockDate').ForceOnlyNumeric();
        //$('#select1,#select2').selectmenu().selectmenu("menuWidget").addClass("overflow");
        $('.drop').selectmenu().selectmenu('menuWidget');
    //    $('#dtNextMonEffDate,#dtCurMonLockDate').P2BDatePicker();
    });
</script>
<div>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmRegularIncrementPolicy" }))
{
    <div class="regpoly_row1 horizontal_row1">
        @Html.LabelFor(m => m.IsFixMonth, "Incre Date As Fix Month :", new { @class = "regpoly_popup-content-label" })
        <span class="popup_radio_button radio_button_div_1">
            @Html.RadioButtonFor(m => m.IsFixMonth, "true", new { type = "radio", @id = "reg_radio11" })
            @Html.Label("Yes", new { @for = "reg_radio11" })
            @Html.RadioButtonFor(m => m.IsFixMonth, "false", new { type = "radio", @id = "reg_radio13" })
            @Html.Label("No", new { @for = "reg_radio13" })
        </span>
    </div>
    <div class="regpoly_row1 content_margine">
        @Html.LabelFor(m => m.IncrMonth, "Incr Month :", new { @class = "regpoly_popup-content-label" })@Html.TextBoxFor(m => m.IncrMonth, new { @class = "regpoly_popup-content-textbox" })
    </div>
    <div class="regpoly_row1 horizontal_row1">
        @Html.LabelFor(m => m.IsJoiningDate, "Joining Date As Incr Date :", new { @class = "regpoly_popup-content-label" })
        <span class="popup_radio_button radio_button_div_1">
            @Html.RadioButtonFor(m => m.IsJoiningDate, "true", new { type = "radio", @id = "reg_radio1" })
            @Html.Label("Yes", new { @for = "reg_radio1" })
            @Html.RadioButtonFor(m => m.IsJoiningDate, "false", new { type = "radio", @id = "reg_radio2" })
            @Html.Label("No", new { @for = "reg_radio2" })
        </span>
    </div>
    <div class="regpoly_row1 horizontal_row1">
        @Html.LabelFor(m => m.IsConfirmDate, "Confirm Date As Incr Date :", new { @class = "regpoly_popup-content-label" })
        <span class="popup_radio_button radio_button_div_1">
            @Html.RadioButtonFor(m => m.IsConfirmDate, "true", new { type = "radio", @id = "reg_radio3" })
            @Html.Label("Yes", new { @for = "reg_radio3" })
            @Html.RadioButtonFor(m => m.IsConfirmDate, "false", new { type = "radio", @id = "reg_radio4" })
            @Html.Label("No", new { @for = "reg_radio4" })
        </span>
    </div>
    <div class="regpoly_row1 content_margine" id="dtCurMonLockDate">
        @Html.LabelFor(m => m.CurMonLockDate, "Current Month Lock Date :", new { @class = "regpoly_popup-content-label" })
        <span class="popup_radio_button">
           @* @Html.DropDownListFor(m => m.CurMonLockDate, new SelectList("Select"), new { @style = "width:120px", @id = "select1" })*@
            @Html.TextBoxFor(m => m.CurMonLockDate, new { @class = "regpoly_popup-content-textbox" })
        </span>
    </div>
    <div class="regpoly_row1 content_margine" id="dtNextMonEffDate">
        @Html.LabelFor(m => m.NextMonEffDate, "Next Month Effective Date :", new { @class = "regpoly_popup-content-label" })
        <span class="popup_select_paybank">
            @*@Html.DropDownListFor(m => m.NextMonEffDate, new SelectList("Select"), new { @style = "width:120px", @id = "select2" })*@
            @Html.TextBoxFor(m => m.NextMonEffDate, new { @class = "regpoly_popup-content-textbox" })
        </span>
    </div>

    <div class="regpoly_row1 horizontal_row1">
        @Html.LabelFor(m => m.IsMidMonthEffect, "Incr Date Change With Mid Month :", new { @class = "regpoly_popup-content-label" })
        <span class="popup_radio_button radio_button_div_1">
            @Html.RadioButtonFor(m => m.IsMidMonthEffect, "true", new { type = "radio", @id = "reg_radio5" })
            @Html.Label("Yes", new { @for = "reg_radio5" })
            @Html.RadioButtonFor(m => m.IsMidMonthEffect, "false", new { type = "radio", @id = "reg_radio6" })
            @Html.Label("No", new { @for = "reg_radio6" })
        </span>
    </div>
    <div class="regpoly_row1 horizontal_row1">
        @Html.LabelFor(m => m.IsLWPIncl, "Incr Date Change With LWP :", new { @class = "regpoly_popup-content-label" })
        <span class="popup_radio_button radio_button_div_1">
            @Html.RadioButtonFor(m => m.IsLWPIncl, "true", new { type = "radio", @id = "reg_radio7" })
            @Html.Label("Yes", new { @for = "reg_radio7" })
            @Html.RadioButtonFor(m => m.IsLWPIncl, "false", new { type = "radio", @id = "reg_radio8" })
            @Html.Label("No", new { @for = "reg_radio8" })
        </span>
    </div>
    <div class="regpoly_row1 content_margine">
        @Html.LabelFor(m => m.LWPMinCeiling, "Min LWP Days :", new { @class = "regpoly_popup-content-label" })
        @Html.TextBoxFor(m => m.LWPMinCeiling, new { @class = "regpoly_popup-content-textbox" })
    </div>
    <div class="regpoly_row1 horizontal_row1">
        @Html.LabelFor(m => m.IsLWPEffectDateAsIncrDate, "LWP Effective Date As Future Incr Date :", new { @class = "regpoly_popup-content-label" })
        <span class="popup_radio_button radio_button_div_1">
            @Html.RadioButtonFor(m => m.IsLWPEffectDateAsIncrDate, "true", new { type = "radio", @id = "reg_radio9" })
            @Html.Label("Yes", new { @for = "reg_radio9" })
            @Html.RadioButtonFor(m => m.IsLWPEffectDateAsIncrDate, "false", new { type = "radio", @id = "reg_radio10" })
            @Html.Label("No", new { @for = "reg_radio10" })
        </span>
    </div>
}
</div>
