@{
    Layout = null;
}
@*@model P2b.Global.EmployeeDocuments*@
@model P2BUltimate.Models.FileModel


<style>
    .popup-content-label1 {
        display: block;
        float: left;
        width: 90px;
    }

    .popup-content-textbox {
        margin-bottom: 1px;
        min-width: 150px;
    }

    .row31 {
        width: 402px;
    }



    .popup-content-textbox-long {
        margin-bottom: 1px;
        width: 290px;
    }


    .row2 {
        width: 402px;
    }

    .popup_radio_button1 {
        font-size: 9px;
        margin: 0px 0 0px 1px;
    }
    .imgdata {
        width: 100%;
        height: 100%;
    }
</style>
<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmSignatureLogo", name = "frmSignatureLogo", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <input id="Autho_Action" type="hidden" name="Autho_Action" />
        <input id="Autho_Allow" type="hidden" name="Autho_Allow" />

        <div class="row31 content_margine">
            <div class="form-group content_margine">
                @Html.LabelFor(m => m.files, htmlAttributes: new { @class = "control-label popup-content-label1" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.files, "", new { @type = "file", @accept = ".png, .jpg, .jpeg,.pdf", @multiple = "multiple" })
                </div>
            </div>
        </div>
        <div style="height:100%;width:100%;overflow:auto;" id="user_investment" class="content_margine"></div>
        <canvas id="pdfViewer"></canvas>
        <div id="container2" class="container2">
        </div>


    }
</div>
<script>
    $(function () {
        $('#DocTypeList').selectmenu().selectmenu('menuWidget');
        $('#DocTypeList').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 1070, "");
        $('#txtUploadDate').P2BDatePicker();
        $('#txtApprovedDate').P2BDatePicker();
        $('#SubDocList').selectmenu().selectmenu('menuWidget');
        $('#SubDocList').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 1071, "");
        $('#txtUploadDate').prop('readonly', 'readonly');
        $('#txtApprovedDate').prop('readonly', 'readonly');
    });
    $(document).ready(function e() {
        $('.popup_radio_button1').controlgroup();
        $('.drop').css({ "width": "182px" });
        $('.drop').selectmenu().selectmenu('menuWidget').css({ "height": "200px" }



            );

        $.fn.doval = function () {
            //if ($('#employee').val() == 0) {
            //    return false;
            //}
            return true;

        };
        $('#dataFile').on('change', function () {
            ////debugger;
            var a = $('#dataFile').val();
            $('#txtDocPath ').val(a);
        });
        var imagesPreview = function (input, placeToInsertImagePreview) {
            ////debugger;
            if (input.files) {
                var filesAmount = input.files.length;
                $(placeToInsertImagePreview).empty();
                for (i = 0; i < filesAmount; i++) {
                    var reader = new FileReader();

                    reader.onload = function (event) {
                        $($.parseHTML('<img class="imgdata">')).attr('src', event.target.result).appendTo(placeToInsertImagePreview);
                    }

                    reader.readAsDataURL(input.files[i]);
                }
            }

        };

        $("#files").on("change", function (e) {
            ////debugger;
            var file = e.target.files[0]
            var filesize = e.target.files[0].size;
            var maxfilesize = 5000000;//500kb
            if (filesize <= maxfilesize) {
                if (file.type == "application/pdf") {
                    $('#container2').empty();
                    $("#user_investment").hide();
                    $("#pdfViewer").show();
                    var fileReader = new FileReader();
                    fileReader.onload = function () {
                        var pdfData = new Uint8Array(this.result);
                        // Using DocumentInitParameters object to load binary data.
                        var loadingTask = pdfjsLib.getDocument({ data: pdfData });
                        loadingTask.promise.then(function (pdf) {
                            console.log('PDF loaded');

                            // Fetch the first page
                            // var pageNumber = 1;
                            //var container = document.getElementById("container")
                            for (var i = 1; i <= pdf.numPages; i++) {
                                pdf.getPage(i).then(function (page) {
                                    console.log('Page loaded');

                                    var scale = 1.5;
                                    var viewport = page.getViewport({ scale: scale });

                                    var div = document.createElement("div");

                                    // Set id attribute with page-#{pdf_page_number} format
                                    div.setAttribute("id", "page-" + (page.pageIndex + 1));

                                    // This will keep positions of child elements as per our needs
                                    div.setAttribute("style", "position: relative");
                                    div.setAttribute("class", "form-group content_margine");

                                    // Append div within div#Container
                                    container2.appendChild(div);

                                    // Create a new Canvas element
                                    var canvas = document.createElement("canvas");

                                    // Append Canvas within div#page-#{pdf_page_number}
                                    div.appendChild(canvas);

                                    var context = canvas.getContext('2d');
                                    canvas.height = viewport.height;
                                    canvas.width = viewport.width;

                                    var renderContext = {
                                        canvasContext: context,
                                        viewport: viewport
                                    };

                                    // Render PDF page
                                    var renderTask = page.render(renderContext);
                                    renderTask.promise.then(function () {
                                        console.log('Page rendered');
                                    });
                                });
                            }
                        }, function (reason) {
                            // PDF loading error
                            console.error(reason);
                        });
                    };
                    fileReader.readAsArrayBuffer(file);
                } if (file.type == "image/jpeg" || file.type == "image/png") {
                    $("#user_investment").show();
                    $("#pdfViewer").hide();
                    imagesPreview(this, '#user_investment')
                }
                $('.ui-dialog-buttonpane').find('button:contains("Submit")').button('enable');
            } else {
                alert("File Size Should Not Be Grater than 500kb");
                $('.ui-dialog-buttonpane').find('button:contains("Submit")').button('disable');
            }
        });

        $('#type').selectmenu().selectmenu("menuWidget");
    });
</script>

