@{
    Layout = null;
}
@model P2b.Global.StagIncrPolicy
@*<link href="~/Content/staginant/staginant.css" rel="stylesheet" />*@
@*<script>
    $(document).ready(function () {
        $('.popup_radio_button').buttonset({});
        //$('.popup_radio_button1').buttonset({});
            $('#Edit').button().click(function (event) {
                AssignData();
                console.log(dt.Id);
               $('#frmStagIncrPolicy').P2BEditModalDialog('',dt.Id,'@Url.Action("Editsave")',"Edit Data", '#frmStagIncrPolicy',dt.Id, 'Message : ', 'Request Falied :', '#JqGrid',237,359,'','',function(data){});
            });

            $('#View').button().click(function (event) {
                AssignData();
                '@Url.Action("Edit")', dt.ID, 'View', '#lookuplist', '#Create_lookup,#Create_details,#Basic_Edit,#Basic_Remove', 356, 512, function (data) {
                    $('#frmStagIncrPolicy').P2BViewModalDialog('','','View','','',237,359,function(data){});
            });

            $('#Delete').button().click(function (event) {
                dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'ID');
                $('#frmStagIncrPolicy').P2BDeleteModalDialog('@Url.Action("Delete", "StagIncrPolicy")', dt.Id, 'Are you sure you want to delete this Record ?', 'Message : ', 'Request failed', '#JqGrid',200,200);
                event.preventDeafault();
            });


            //$("#Name").ForceOnlyAlpha();
            //$("#SpanYears").ForceOnlyNumeric();
            //$("#MaxStagIncr").ForceOnlyNumeric();
            //$("#IncrAmount").ForceOnlyNumeric();
        });
</script>*@
<script>

    $(document).ready(function () {
        $('.popup_radio_button').controlgroup();
        $('#stag_name').ValidateTextBox({ maxlength: 50, name: true });
       
        $('#SpanYears').MaxLength(3).ForceOnlyNumeric();
        $('#SpanYears').attr("value", "0")
        $('#MaxStagIncr').MaxLength(5).ForceOnlyNumeric();
        $('#MaxStagIncr').attr("value", "0");
        $('#IncrAmount').attr("value", "0");
        $('#IncrAmount').MaxLength(10).ForceAmount();


    });

</script>
<style>
    .icon-row {
        position: relative;
        left: -44px;
        top: -150px;
    }
</style>
<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmStagIncrPolicy" }))
{
    <div class="row3 content_margine">@Html.LabelFor(m => m.Name, "Name :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Name, new { id = "stag_name", @class = "popup-content-textbox must" })</div>
    <div class="row3 content_margine">@Html.LabelFor(m => m.SpanYears, "Span Years :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.SpanYears, new { @class = "popup-content-textbox must", @id= "SpanYears" })</div>
    <div class="row3 content_margine">@Html.LabelFor(m => m.MaxStagIncr, "Max Stag Incr :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.MaxStagIncr, new { @class = "popup-content-textbox" })</div>


   <div class="row3 content_margine ">
        @Html.LabelFor(m => m.IsLastIncr, "IsLastIncr :", new { @class = "popup-content-label" })
        <div class="popup_radio_button">
          
            <input type="radio" id="StagIncrPolicy_radio1" name="IsLastIncr" value="true" /><label for="StagIncrPolicy_radio1">Yes</label>
            <input type="radio" id="StagIncrPolicy_radio2" name="IsLastIncr" value="false" checked="checked" /><label for="StagIncrPolicy_radio2">No</label>
         
        </div>
    </div>
     <div class="row3 content_margine ">
        @Html.LabelFor(m => m.IsFixAmount, "IsFixAmount:", new { @class = "popup-content-label" })
        <div class="popup_radio_button">
          
            <input type="radio" id="StagIncrPolicy_radio3" name="IsFixAmount" value="true" /><label for="StagIncrPolicy_radio3">Yes</label>
            <input type="radio" id="StagIncrPolicy_radio4" name="IsFixAmount" value="false" checked="checked" /><label for="StagIncrPolicy_radio4">No</label>
         
        </div>
    </div>
    <div class="row3 content_margine">
        @Html.LabelFor(m => m.IncrAmount, "Amount :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.IncrAmount, new { @class = "popup-content-textbox must", @id = "IncrAmount" })
    </div>
}
</div>
