@{
    Layout = null;
}
@model P2b.Global.TransPolicy
<style>
    .icon-row {
        position: relative;
        left: 53px;
        top: -150px;
    }

    #BusinessType-button {
        font-size: 9px;
        padding-top: 1px;
        font-weight: bold;
    }

    .popup-content-label {
        display: block;
        float: left;
        width: 144px;
    }

    .popup-content-textbox {
        margin-bottom: 1px;
        min-width: 150px;
    }

    .row3 {
        width: 402px;
    }

    .row4 {
        position: absolute;
        top: 294px;
        width: 400px;
    }

    .popup-content-textbox-long {
        margin-bottom: 1px;
        width: 290px;
    }


    .row2 {
        width: 402px;
    }
    .section_Method {
        border: 1px solid rgba(207, 207, 207, 0.91);
        border-radius: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
</style>

<script>
	$(document).ready(function (e) {
		var dt;
		$('button').button();
		$('.popup_radio_button').controlgroup();
		$('#TransPolicy_Name').ValidateTextBox({ maxlength: 50, name: true });
		
	});
</script>
<div id="Create_Dialog" title="Create Increment Activity">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "FormTransPolicy", name = "FormTransPolicy" }))
    {
        
        <div class="row3 content_margine">@Html.LabelFor(m => m.Name, "Name:", new { @class = "popup-content-label  must" })@Html.TextBoxFor(m => m.Name, new { @class = "popup-content-textbox must", id = "TransPolicy_Name" })</div>

    <div class="section_Method">
        <div class="heading">Trans Selection</div>
        <div class="row3 content_margine">
            @Html.LabelFor(m => m.IsDepartmentChange, "IsDepartmentChange :", new { @class = "popup-content-label " })
            <div class="popup_radio_button ">

                <input type="radio" id="TransPolicy_radio1" name="IsDepartmentChange" value="true" /><label for="TransPolicy_radio1">Yes</label>
                <input type="radio" id="TransPolicy_radio2" name="IsDepartmentChange" value="false" checked="checked" /><label for="TransPolicy_radio2">No</label>

            </div>
        </div>

        <div class="row3 content_margine">
            @Html.LabelFor(m => m.IsDivsionChange, "IsDivisionChange :", new { @class = "popup-content-label " })
            <div class="popup_radio_button ">

                <input type="radio" id="TransPolicy_radio3" name="IsDivsionChange" value="true" /><label for="TransPolicy_radio3">Yes</label>
                <input type="radio" id="TransPolicy_radio4" name="IsDivsionChange" value="false" checked="checked" /><label for="TransPolicy_radio4">No</label>

            </div>
        </div>
        <div class="row3 content_margine">
            @Html.LabelFor(m => m.IsFuncStructChange, "IsFuncStructChange :", new { @class = "popup-content-label " })
            <div class="popup_radio_button ">

                <input type="radio" id="TransPolicy_radio5" name="IsFuncStructChange" value="true" /><label for="TransPolicy_radio5">Yes</label>
                <input type="radio" id="TransPolicy_radio6" name="IsFuncStructChange" value="false" checked="checked" /><label for="TransPolicy_radio6">No</label>

            </div>
        </div>
        <div class="row3 content_margine">
            @Html.LabelFor(m => m.IsGroupChange, "IsGroupChange :", new { @class = "popup-content-label " })
            <div class="popup_radio_button ">

                <input type="radio" id="TransPolicy_radio7" name="IsGroupChange" value="true" /><label for="TransPolicy_radio7">Yes</label>
                <input type="radio" id="TransPolicy_radio8" name="IsGroupChange" value="false" checked="checked" /><label for="TransPolicy_radio8">No</label>

            </div>
        </div>
        <div class="row3 content_margine">
            @Html.LabelFor(m => m.IsLocationChange, "IsLocationChange :", new { @class = "popup-content-label " })
            <div class="popup_radio_button ">

                <input type="radio" id="TransPolicy_radio9" name="IsLocationChange" value="true" /><label for="TransPolicy_radio9">Yes</label>
                <input type="radio" id="TransPolicy_radio10" name="IsLocationChange" value="false" checked="checked" /><label for="TransPolicy_radio10">No</label>

            </div>
        </div>
        <div class="row3 content_margine">
            @Html.LabelFor(m => m.IsUnitChange, "IsUnitChange :", new { @class = "popup-content-label " })
            <div class="popup_radio_button ">

                <input type="radio" id="TransPolicy_radio11" name="IsUnitChange" value="true" /><label for="TransPolicy_radio11">Yes</label>
                <input type="radio" id="TransPolicy_radio12" name="IsUnitChange" value="false" checked="checked" /><label for="TransPolicy_radio12">No</label>

            </div>
        </div>
    </div>
    }
</div>

