@{
    ViewBag.Title = "Org Training";
}

@model Training.OrgTraining

<html>
<head>
    <title></title>
    <link href="~/Content/OrgTraining/Org_Training.css" rel="stylesheet" />

    <style>
        /*.icon-row {
            position: relative;
            left: 81px;
            top: -150px;
        }

        .icon-row1 {
            position: absolute;
            left: 93px;
            top: 162px;
        }*/
        .icon-row {
            position: relative;
            left: 53px;
            top: -150px;
        }

        .popup-content-label {
            display: block;
            float: left;
            width: 100px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 150px;
        }

        .row3 {
            width: 402px;
        }

        .row4 {
            position: absolute;
            top: 294px;
            width: 400px;
        }

        .popup-content-textbox-long {
            margin-bottom: 1px;
            width: 290px;
        }


        .row2 {
            width: 402px;
        }
    </style>


    <script>
        $(document).ready(function (e) {
            $('button').button();
            //$('#OpeningDate').P2BDatePicker();
            var dt;
            var ColNames = [];
            var ColModel = [];
            var SortName, Caption, url, width, height;
            ColModel = ['Id'];
            ColNames = ['Id'];
            SortName = 'Id';
            Caption = 'Oraganisatioal Training';
            //url = '/Traininginstitute/Grid_Traininginstitute';
            url = '@Url.Action("P2BGrid")';
            width = 1000;
            height = 150;
            $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);
            var btndisablenames = "#Edit_Company_OrgTraining,#Remove_Company_OrgTraining,#Edit_Category_OrgTraining,#Remove_Category_OrgTraining,#Edit_FacultyExternal_OrgTraining,#Remove_FacultyExternal_OrgTraining,#Edit_FacultyInternal_OrgTraining,#Remove_FacultyInternal_OrgTraining,#Edit_TrainingCalendar_OrgTraining,#Remove_TrainingCalendar_OrgTraining,#Edit_TrainingSchedule_OrgTraining,#Remove_TrainingSchedule_OrgTraining";
            var btnEnablenameComp = "#LookUp_Company_OrgTraining,#Create_Company_OrgTraining,#Edit_Company_OrgTraining,#Remove_Company_OrgTraining";
            var btnEnablenameCat = "#LookUp_Category_OrgTraining,#Create_Category_OrgTraining,#Edit_Category_OrgTraining,#Remove_Category_OrgTraining";
            var btnEnablenameFExt = "#LookUp_FacultyExternal_OrgTraining,#Create_FacultyExternal_OrgTraining,#Edit_FacultyExternal_OrgTraining,#Remove_FacultyExternal_OrgTraining";
            var btnEnablenameFInt = "#LookUp_FacultyInternal_OrgTraining,#Create_FacultyInternal_OrgTraining,#Edit_FacultyInternal_OrgTraining,#Remove_FacultyInternal_OrgTraining";
            var btnEnablenameTrCal = "#LookUp_TrainingCalendar_OrgTraining,#Create_TrainingCalendar_OrgTraining,#Edit_TrainingCalendar_OrgTraining,#Remove_TrainingCalendar_OrgTraining";
            var btnEnablenameTrsch = "#LookUp_TrainingSchedule_OrgTraining,#Create_TrainingSchedule_OrgTraining,#Edit_TrainingSchedule_OrgTraining,#Remove_TrainingSchedule_OrgTraining";
            var btnEnablenameall = btnEnablenameComp & btnEnablenameCat & btnEnablenameFExt & btnEnablenameFInt & btnEnablenameTrCal & btnEnablenameTrsch;

            //function DateConvert(JsonDate) {
                //    var date = new Date(parseInt(JsonDate.substr(6)));
                //    var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
                //    return displayDate;
            //};


            $('#Create_Dialog').P2BCreateDialog();
            $('#FormOrgTraining').trigger("reset");
            $('#Create').button().on("click", function (e) {
                $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create Oraganisational Training', 'open', '@Url.Action("create") ', '#FormOrgTraining', 'Message :', 'Request Falied :', '#JqGrid', 500, 620, '#CompanyList,#CategoryList,#FacultyExternalList,#FacultyInternalList,#TrainingCalendarList, #TrainingScheduleList', '', function (data) { });
                e.preventDefault();
            });


            function AssignData() { dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'ID'); }

            //To get data in Lookup1
            $('#LookUp_Company_OrgTraining').on('click', function (event) {
                alert('Show Company')
                $('.Lookup_Increment').P2BLookUpModal('@Url.Action("GetLookupDetailsCompany", "TrainingOrg")', '', 'LookupDiv', 'Look Up Data', '#CompanyList', 'CompanyList', 5, 'CompanyList', '#FormOrgTraining', 'N', '#LookUp_Company_OrgTraining,#Create_Company_OrgTraining', 'Lookup_table', 'PageNavPosition');
                event.preventDefault();
            });
            //To get data in Lookup2
            $('#LookUp_Category_OrgTraining').on('click', function (event) {

                $('.Lookup_Increment').P2BLookUpModal('@Url.Action("GetLookupDetailsCategory", "TrainingOrg")', '', 'LookupDiv', 'Look Up Data', '#CategoryList', 'CategoryList', 5, 'CategoryList', '#FormOrgTraining', 'A', '#LookUp_Category_OrgTraining,#Create_Category_OrgTraining', 'Lookup_table', 'PageNavPosition');
                event.preventDefault();
            });
            //To get data in Lookup3
            $('#LookUp_FacultyExternal_OrgTraining').on('click', function (event) {

                $('.Lookup_Increment').P2BLookUpModal('@Url.Action("GetLookupDetailsFacultyExternal", "TrainingOrg")', '', 'LookupDiv', 'Look Up Data', '#FacultyExternalList', 'FacultyExternalList', 5, 'FacultyExternalList', '#FormOrgTraining', 'A', '#LookUp_FacultyExternal_OrgTraining,#Create_FacultyExternal_OrgTraining', 'Lookup_table', 'PageNavPosition');
                event.preventDefault();
            });
            //To get data in Lookup4
            $('#LookUp_FacultyInternal_OrgTraining').on('click', function (event) {

                $('.Lookup_Increment').P2BLookUpModal('@Url.Action("GetLookupDetailsFacultyInternal", "TrainingOrg")', '', 'LookupDiv', 'Look Up Data', '#FacultyInternalList', 'FacultyInternalList', 5, 'FacultyInternalList', '#FormOrgTraining', 'A', '#LookUp_FacultyInternal_OrgTraining,#Create_FacultyInternal_OrgTraining', 'Lookup_table', 'PageNavPosition');
                event.preventDefault();
            });
            //To get data in Lookup5
            $('#LookUp_TrainingCalendar_OrgTraining').on('click', function (event) {

                $('.Lookup_Increment').P2BLookUpModal('@Url.Action("GetLookupDetailsTrainingCalendar", "TrainingOrg")', '', 'LookupDiv', 'Look Up Data', '#TrainingCalendarList', 'TrainingCalendarList', 5, 'TrainingCalendarList', '#FormOrgTraining', 'A', '#LookUp_TrainingCalendar_OrgTraining,#Create_TrainingCalendar_OrgTraining', 'Lookup_table', 'PageNavPosition');
                event.preventDefault();
            });

            //To get data in Lookup6
            $('#LookUp_TrainingSchedule_OrgTraining').on('click', function (event) {

                $('.Lookup_Increment').P2BLookUpModal('@Url.Action("GetLookupDetailsTrainingSchedule", "TrainingOrg")', '', 'LookupDiv', 'Look Up Data', '#TrainingScheduleList', 'TrainingScheduleList', 5, 'TrainingScheduleList', '#FormOrgTraining', 'N', '#LookUp_TrainingSchedule_OrgTraining,#Create_TrainingSchedule_OrgTraining', 'Lookup_table', 'PageNavPosition');
                event.preventDefault();
            });

            @*$('<div></div>').P2BPartialCreateModalDialog();
            $('#Create_Company_OrgTraining').on("click", function (event) {
                $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "TrainingInstitute")', 'Create Company', 'open', '@Url.Action("Create", "TrainingInstitute")', '#FormTrainingInstitute', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#FormOrgTraining', '', function (data) {
                    alert(data[0]);
                    //$('#QualificationDetailsList').P2BLookUpEncapsulate('#QualificationDetailsList', 'QualificationDetailsList', data[0], data[1], 'QualificationDetailsList', '#Lookup_QualDetails_empAcademicDtl,#Create_QualDetails_empAcademicDtl', 'N');
                    $('#ContactDetailsList').P2BLookUpEncapsulate('#ContactDetailsList', 'ContactDetailsList', data[0], data[1], 'ContactDetailsList', '#LookUp_Company_OrgTraining,#Create_Company_OrgTraining', 'N');
                });

                event.preventDefault();
            });*@


            @*$('<div></div>').P2BPartialCreateModalDialog();
            $('#Create_TrainingCalendar_OrgTraining').on("click", function (event) {
                $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("CreateContactDetails_partial", "TrainingInstitute")', 'Create Contact Details', 'open', '@Url.Action("CreateSave", "ContactDetails")', '#FormContactDetails', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#TrainingInstitute', '#Edit_Company_OrgTraining,#Remove_Company_OrgTraining', function (data) {
                    console.log(data);
                    $('#Contact_List').P2BLookUpEncapsulate('#Contact_List', 'ContactList', data[0], data[1], 'Contact_List');
                });
                event.preventDefault();
            });*@

            $('<div></div>').P2BPartialCreateModalDialog();
            $('#Create_Category_OrgTraining').on("click", function (event) {
                $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Partial1", "Category")', 'Create Category', 'open', '@Url.Action("Create", "Category")', '#FormCategoryP', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#FormOrgTraining', '', function (data) {
                    $('#CategoryList').P2BLookUpEncapsulate('#CategoryList', 'CategoryList', data[0], data[1], 'CategoryList', '#LookUp_Category_OrgTraining,#Create_Category_OrgTraining', 'A');
                });
                event.preventDefault();
            });


            $('<div></div>').P2BPartialCreateModalDialog();
            $('#Create_FacultyExternal_OrgTraining').on("click", function (event) {
                $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "FacultyExternal")', 'Create FacultyExternal', 'open', '@Url.Action("Create", "FacultyExternal")', '#FormFacultyExternal', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#FormOrgTraining', '', function (data) {

                    $('#FacultyExternalList').P2BLookUpEncapsulate('#FacultyExternalList', 'FacultyExternalList', data[0], data[1], 'FacultyExternalList', '#LookUp_FacultyExternal_OrgTraining,#Create_FacultyExternal_OrgTraining', 'A');
                });
                event.preventDefault();
            });

            $('<div></div>').P2BPartialCreateModalDialog();
            $('#Create_FacultyInternal_OrgTraining').on("click", function (event) {
                $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "FacultyInternal")', 'Create FacultyInternal', 'open', '@Url.Action("Create", "FacultyInternal")', '#FormFacultyInternal', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#FormOrgTraining', '', function (data) {

                    $('#FacultyInternalList').P2BLookUpEncapsulate('#FacultyInternalList', 'FacultyInternalList', data[0], data[1], 'FacultyInternalList', '#LookUp_FacultyInternal_OrgTraining,#Create_FacultyInternal_OrgTraining', 'A');
                });
                event.preventDefault();
            });

            $('<div></div>').P2BPartialCreateModalDialog();
            $('#Create_TrainingCalendar_OrgTraining').on("click", function (event) {
                $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial1", "YearlyProgramAssignment")', 'Create Training Calendar', 'open', '@Url.Action("Create", "YearlyProgramAssignment")', '#FormYearlyProgramAssignmentP', 'Message :', 'Request Falied :', '#JqGrid', 450, 570, '', '', '', '#FormOrgTraining', '', function (data) {

                    $('#TrainingCalendarList').P2BLookUpEncapsulate('#TrainingCalendarList', 'TrainingCalendarList', data[0], data[1], 'TrainingCalendarList', '#LookUp_TrainingCalendar_OrgTraining,#Create_TrainingCalendar_OrgTraining', 'A');
                });
                event.preventDefault();
            });

            $('<div></div>').P2BPartialCreateModalDialog();
            $('#Create_TrainingSchedule_OrgTraining').on("click", function (event) {
                $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Partialtrschedule", "TrainingSchedule")', 'Create TrainingSchedule', 'open', '@Url.Action("Create", "TrainingSchedule")', '#FormTrainingSchedule', 'Message :', 'Request Falied :', '#JqGrid', 400, 600, '', '', '', '#FormOrgTraining', '', function (data) {

                    $('#TrainingScheduleList').P2BLookUpEncapsulate('#TrainingScheduleList', 'TrainingScheduleList', data[0], data[1], 'TrainingScheduleList', '#LookUp_TrainingSchedule_OrgTraining,#Create_TrainingSchedule_OrgTraining', 'A');
                });
                event.preventDefault();
            });


            // Main page edit
            $('#Edit').on('click', function () {
                AssignData();

                $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit Data", '#FormOrgTraining', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 500, 620, '#CompanyList,#CategoryList,#FacultyExternalList,#FacultyInternalList,#TrainingCalendarList, #TrainingScheduleList', btndisablenames, function (data) {
                    // setTimeout(function () {
                    //alert(dt.Id)
                    $.each(data[0], function (i, k) {
                    });
                    //partial page bind
                    //
                    $.each(data[1], function (i, k) {
                        $('#CompanyList').P2BLookUpEncapsulate('#CompanyList', 'CompanyList', k.CompanyDetails_Id, k.CompanyDetails_val, 'CompanyList', '#LookUp_Company_OrgTraining,#Create_Company_OrgTraining', 'N');
                    });
                    $.each(data[5], function (i, k) {
                        $('#CategoryList').P2BLookUpEncapsulate('#CategoryList', 'CategoryList', k.CategoryDetails_Id, k.CategoryDetails_val, 'CategoryList', '#LookUp_Category_OrgTraining,#Create_Category_OrgTraining', 'A');
                    });
                    $.each(data[6], function (i, k) {
                        $('#FacultyExternalList').P2BLookUpEncapsulate('#FacultyExternalList', 'FacultyExternalList', k.FacultyExternalDtl_Id, k.FacultyExternalDtl_val, 'FacultyExternalList', '#Lookup_FacultyExternal_OrgTraining,#Create_FacultyExternal_OrgTraining', 'A');
                    });
                    $.each(data[7], function (i, k) {
                        $('#FacultyInternalList').P2BLookUpEncapsulate('#FacultyInternalList', 'FacultyInternalList', k.FacultyInternalDtl_Id, k.FacultyInternalDtl_val, 'FacultyInternalList', '#LookUp_FacultyInternal_OrgTraining,#Create_FacultyInternal_OrgTraining', 'A');
                    });
                    $.each(data[8], function (i, k) {
                        $('#TrainingCalendarList').P2BLookUpEncapsulate('#TrainingCalendarList', 'TrainingCalendarList', k.TrainingCalendarDtl_Id, k.TrainingCalendarDtl_val, 'TrainingCalendarList', '#LookUp_TrainingCalendar_OrgTraining,#Create_TrainingCalendar_OrgTraining', 'A');
                    });
                    $.each(data[9], function (i, k) {
                        $('#TrainingScheduleList').P2BLookUpEncapsulate('#TrainingScheduleList', 'TrainingScheduleList', k.TrainingScheduleDtl_Id, k.TrainingScheduleDtl_val, 'TrainingScheduleList', '#LookUp_TrainingSchedule_OrgTraining,#Create_TrainingSchedule_OrgTraining', 'A');
                    });
                    //alert(data[3]);
                    $('#Autho_Allow').val(data[3]); //Compulsory for authorisation
                    // }, 2000);
                });
            });

            //View main page
            $('#View').button().click(function (event) {

                AssignData();
                $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View', '#CompanyList,#CategoryList,#FacultyExternalList,#FacultyInternalList,#TrainingCalendarList,#TrainingScheduleList', btnEnablenameall, 500, 620, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {
                    $.each(data[0], function (i, k) {
                        $('#Autho_Action').val(k.Action);

                    });

                    $.each(data[1], function (i, k) {
                        $('#CompanyList').P2BLookUpEncapsulate('#CompanyList', 'CompanyList', k.CompanyDetails_Id, k.CompanyDetails_val, 'CompanyList', 'view', 'N');
                    });

                    //alert(data[3]);
                    $('#Autho_Allow').val(data[3]); //Compulsory for authorisation
                    // },
                    $.each(data[5], function (i, k) {
                        $('#CategoryList').P2BLookUpEncapsulate('#CategoryList', 'CategoryList', k.CategoryDetails_Id, k.CategoryDetails_val, 'CategoryList', 'view', 'A');
                    });
                    $.each(data[6], function (i, k) {
                        $('#FacultyExternalList').P2BLookUpEncapsulate('#FacultyExternalList', 'FacultyExternalList', k.FacultyExternalDtl_Id, k.FacultyExternalDtl_val, 'FacultyExternalList', 'view', 'A');
                    });
                    $.each(data[7], function (i, k) {
                        $('#FacultyInternalList').P2BLookUpEncapsulate('#FacultyInternalList', 'FacultyInternalList', k.FacultyInternalDtl_Id, k.FacultyInternalDtl_val, 'FacultyInternalList', 'view', 'A');
                    });
                    $.each(data[8], function (i, k) {
                        $('#TrainingCalendarList').P2BLookUpEncapsulate('#TrainingCalendarList', 'TrainingCalendarList', k.TrainingCalendarDtl_Id, k.TrainingCalendarDtl_val, 'TrainingCalendarList', 'view', 'A');
                    });
                    $.each(data[9], function (i, k) {
                        $('#TrainingScheduleList').P2BLookUpEncapsulate('#TrainingScheduleList', 'TrainingScheduleList', k.TrainingScheduleDtl_Id, k.TrainingScheduleDtl_val, 'TrainingScheduleList', 'view', 'A');
                    });

                    //To bind old data if authorisation is true
                    if ($("#Autho").hasClass('auto_active')) {
                        $('#CompanyList_old').oldLookupVal(data[2].Name);
                        $('#CategoryList_old').oldLookupVal(data[2].Name);
                        $('#FacultyExternalList_old').oldLookupVal(data[2].FullDetails);
                        $('#FacultyInternalList_old').oldLookupVal(data[2].Name);
                        $('#TrainingCalendarList_old').oldLookupVal(data[2].FullDetails);
                        $('#TrainingScheduleList_old').oldLookupVal(data[2].FullDetails);
                        @*$.each(data[2], function (i, k) {
                        // $('#Code').Oldval(k.Code);
                        alert(k.Name)
                        $('#Name').oldVal(k.Name);
                        $('#CategoryList_DDL').oldDropval(k.BusinessType_Val);
                        $('#AddressList_Old').oldLookupVal(k.Address_Val);
                        $('#ContactDetailsList_Old').oldLookupVal(k.Contact_Val);
                        //$('#CategoryList_DDL').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 304, k.BusinessType_Id);
                    });*@
                    }
                    //}, 2000);
                });
            });

            $('#Edit_Category_OrgTraining').button().on("click", function (event) {
                var a = [], b;
                a = $('#CategoryList').P2BGetTableDataonSelectedRow('#CategoryList', 0);
                b = a[0];
                //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname, height, width, classoridoftheonwhichpopupderived, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not,nameidclassofbuttontodisable,returndatafunction) {
                $('<div></div>').P2BPatialEditModalDialog('@Url.Action("Partial1", "Category")', '@Url.Action("Edit", "Category")', b, '@Url.Action("Editsave", "Category")', 'Edit Catagory Details', '#FormCategoryP', b, 'Message :', 'Request Falied :', '#JqGrid', 450, 570, '#FormOrgTraining', '#CategoryList', 'CategoryList', 'CategoryList', 'N', '#Edit-Budget-ProgramList,#Remove-Address-Corporate', function (data) {

                    $.each(data[0], function (i, k) {
                        $('#codecat').val(k.Code);
                        $('#codecat').attr('readonly', 'readonly');
                        $('#Detailscat').val(k.Details);
                    });


                    $.each(data[1], function (i, k) {
                        $('#SubCategorylist').P2BLookUpEncapsulate('#SubCategorylist', 'SubCategorylist', k.Category_Id, k.Category_val, 'SubCategorylist', '', 'A');
                        $('#BudgetlistC').P2BLookUpEncapsulate('#BudgetlistC', 'BudgetlistC', k.Budget_Id, k.Budget_val, 'BudgetlistC', '', 'A');

                    });
                    $.each(data[2], function (i, k) {
                        $('#SubCategorylist').P2BLookUpEncapsulate('#SubCategorylist', 'SubCategorylist', k.Category_Id, k.Category_val, 'SubCategorylist', 'view', 'A');
                        $('#BudgetlistC').P2BLookUpEncapsulate('#BudgetlistC', 'BudgetlistC', k.Budget_Id, k.Budget_val, 'BudgetlistC', 'view', 'A');
                    });
                    // setTimeout(function () {
                    //to bind data according to selected id
                    // setTimeout(function () {
                    //$.each(data[0], function (i, k) {
                    //   $('#Code').val(k.Code);
                    //    $('#Code').attr('readonly', 'readonly');
                    //    $('#Name').val(k.Name);
                    //});
                    //$.each(data[1], function (i, k) {
                    //    //   $('#TrainingInstitutelist').P2BLookUpEncapsulate('#TrainingInstitutelist', 'TrainingInstitutelist', k.train_id, k.traininginst_details, 'TrainingInstitutelist', '', 'N');
                    //    $('#SubCategorylist').P2BLookUpEncapsulate('#SubCategorylist', 'SubCategorylist', k.fac_id, k.fac_details, 'SubCategorylist', '', 'N');
                    //});
                    //alert(data[3]);
                    $('#Autho_Allow').val(data[3]); //Compulsory for authorisation

                    //}, 3000);


                });
                event.preventDefault();
            });

            $('#Edit_FacultyExternal_OrgTraining').button().on("click", function (event) {
                var a = [], b;
                a = $('#FacultyExternalList').P2BGetTableDataonSelectedRow('#FacultyExternalList', 0);
                b = a[0];
                //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname, height, width, classoridoftheonwhichpopupderived, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not,nameidclassofbuttontodisable,returndatafunction) {
                $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "FacultyExternal")', '@Url.Action("edit", "FacultyExternal")', b, '@Url.Action("Editsave", "FacultyExternal")', 'Edit FacultyExternal', '#FormFacultyExternal', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#FormOrgTraining', '#FacultyExternalList', 'FacultyExternalList', 'FacultyExternalList', 'N', '#Edit-Budget-ProgramList,#Remove-Address-Corporate', function (data) {
                    // setTimeout(function () {
                    //to bind data according to selected id
                    // setTimeout(function () {
                    $.each(data[0], function (i, k) {
                        $('#Code').val(k.Code);
                        $('#Code').attr('readonly', 'readonly');
                        $('#Narration').val(k.Narration);
                        $('#TrainingInstitutelist').P2BLookUpEncapsulate('#TrainingInstitutelist', 'TrainingInstitutelist', k.train_id, k.traininginst_details, 'TrainingInstitutelist', '', 'N');
                        $('#CategoryList_DDL').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 1051, k.FacultyType_Id); // Dropdown bind
                    });
                    $.each(data[1], function (i, k) {
                        //   $('#TrainingInstitutelist').P2BLookUpEncapsulate('#TrainingInstitutelist', 'TrainingInstitutelist', k.train_id, k.traininginst_details, 'TrainingInstitutelist', '', 'N');
                        $('#FacultySpecializationlist').P2BLookUpEncapsulate('#FacultySpecializationlist', 'FacultySpecializationlist', k.fac_id, k.fac_details, 'FacultySpecializationlist', '', 'N');
                    });
                    //alert(data[3]);
                    $('#Autho_Allow').val(data[3]); //Compulsory for authorisation

                    //}, 3000);


                });
                event.preventDefault();
            });


            $('#Edit_FacultyInternal_OrgTraining').button().on("click", function (event) {
                var a = [], b;
                a = $('#FacultyInternalList').P2BGetTableDataonSelectedRow('#FacultyInternalList', 0);
                b = a[0];
                //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname, height, width, classoridoftheonwhichpopupderived, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not,nameidclassofbuttontodisable,returndatafunction) {
                $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "FacultyInternal")', '@Url.Action("Edit", "FacultyInternal")', b, '@Url.Action("Editsave", "FacultyInternal")', 'Edit FacultyInternal', '#FormFacultyInternal', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#FormOrgTraining', '#FacultyInternalList', 'FacultyInternalList', 'FacultyInternalList', 'N', '#Edit-Budget-ProgramList,#Remove-Address-Corporate', function (data) {
                    // setTimeout(function () {
                    //to bind data according to selected id
                    // setTimeout(function () {
                    $.each(data[0], function (i, k) {

                        $('#Code').val(k.Code);
                        $('#Code').attr('readonly', 'readonly');
                        $('#Name').val(k.Name);
                        $('#Category').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 1051, k.FacultyType_Id);
                    });

                    $.each(data[1], function (i, k) {
                        $('#Contact_List').P2BLookUpEncapsulate('#Contact_List', 'Contact_List', k.Cont_Id, k.FullContactDetails, 'Contact_List', '', 'N');
                    });

                    $.each(data[1], function (i, k) {
                        $('#Address_List').P2BLookUpEncapsulate('#Address_List', 'Address_List', k.Add_Id, k.Address_FullAddress, 'Address_List', '', 'N');
                    });

                    $.each(data[1], function (i, k) {
                        $('#Employee_List').P2BLookUpEncapsulate('#Employee_List', 'Employee_List', k.EMP_Id, k.FullEmpId, 'Employee_List', '', 'N');
                    });
                    $('#Autho_Allow').val(data[3]); //Compulsory for authorisation

                    //}, 3000);


                });
                event.preventDefault();
            });


            $('#Edit_TrainingCalendar_OrgTraining').button().on("click", function (event) {
                var a = [], b;
                a = $('#TrainingCalendarList').P2BGetTableDataonSelectedRow('#TrainingCalendarList', 0);
                b = a[0];
                //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname, height, width, classoridoftheonwhichpopupderived, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not,nameidclassofbuttontodisable,returndatafunction) {
                $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "YearlyProgramAssignment")', '@Url.Action("Edit", "YearlyProgramAssignment")', b, '@Url.Action("Editsave", "YearlyProgramAssignment")', 'Edit Yearly Program Assignment', '#FormYearlyProgramAssignmentP', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#FormOrgTraining', '#TrainingCalendarList', 'TrainingCalendarList', 'TrainingCalendarList', 'N', '', function (data) {
                    $.each(data[0], function (i, k) {
                        if (k.StartDate != null) {
                            $('#StartDate').val(DateConvert(k.StartDate));
                        }
                        if (k.EndDate != null) {
                            $('#EndDate').val(DateConvert(k.EndDate));
                        }
                        //partial page bind
                        $.each(data[1], function (i, k) {
                            $('#ProgramListlist').P2BLookUpEncapsulate('#ProgramListlist', 'ProgramListlist', k.ProgramList_Id, k.ProgramList_FullAddress, 'ProgramListlist', btndisablenames, 'N');

                        });
                        //alert(data[3]);
                        $('#Autho_Allow').val(data[3]); //Compulsory for authorisation
                        //}, 3000);


                    });
                    event.preventDefault();
                });
            });

            $('#Edit_TrainingSchedule_OrgTraining').button().on("click", function (event) {
                var a = [], b;
                a = $('#TrainingScheduleList').P2BGetTableDataonSelectedRow('#TrainingScheduleList', 0);
                b = a[0];
                //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname, height, width, classoridoftheonwhichpopupderived, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not,nameidclassofbuttontodisable,returndatafunction) {
                $('<div></div>').P2BPatialEditModalDialog('@Url.Action("Partialtrschedule", "TrainingSchedule")', '@Url.Action("Edit", "TrainingSchedule")', b, '@Url.Action("Editsave", "TrainingSchedule")', 'Edit TrainingSchedule', '#FormTrainingSchedule', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#FormOrgTraining', '#TrainingScheduleList', 'TrainingScheduleList', 'TrainingScheduleList', 'N', '#Edit-Budget-ProgramList,#Remove-Address-Corporate', function (data) {

                    $.each(data[0], function (i, k) {
                        $('#FormTrainingSchedule').trigger('reset');
                        //console.log(k.Id);
                        $('#CityList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "city")", "", k.City_Id);
                    });

                    //partial page bind
                    $.each(data[1], function (i, k) {
                        $('#ExpensesList').P2BLookUpEncapsulate('#ExpensesList', 'ExpensesList', k.Expenses_Id, k.Expenses_FullName, 'ExpensesList', '#LookUp_Expenses_TrnSchedule,#Create_Expenses_TrnSchedule', 'N');
                        $('#VenueList').P2BLookUpEncapsulate('#VenueList', 'VenueList', k.Venue_Id, k.Venue_FullName, 'VenueList', '#LookUp_Venue_TrnSchedule,#Create_Venue_TrnSchedule', 'N');

                    });
                    $.each(data[5], function (i, k) {
                        $('#SessionList').P2BLookUpEncapsulate('#SessionList', 'SessionList', k.sessionDtl_Id, k.SessionDtl_val, 'SessionList', '#LookUp_Session_TrnSchedule,#Create_Session_TrnSchedule', 'N');
                    });

                    //alert(data[3]);
                    $('#Autho_Allow').val(data[3]); //Compulsory for authorisation
                    //}, 3000);


                });
                event.preventDefault();
            });

            $('#Remove_Category_OrgTraining').button().on('click', function (event) {
                //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
                var a = [], b;
                a = $('#CategoryList').P2BGetTableDataonSelectedRow('#CategoryList', 0);
                b = a[0];
                $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#CategoryList', $('#CategoryList').val(), 200, 200, '#FormOrgTraining', '#CategoryList', '#Edit-Address-Corporate,#Remove-Address-Corporate');
                event.preventDefault();
            });

            $('#Remove_FacultyExternal_OrgTraining').button().on('click', function (event) {
                //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
                var a = [], b;
                a = $('#FacultyExternalList').P2BGetTableDataonSelectedRow('#FacultyExternalList', 0);
                b = a[0];
                $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#FacultyExternalList', $('#FacultyExternalList').val(), 200, 200, '#FormOrgTraining', '#FacultyExternalList', '#Edit-Address-Corporate,#Remove-Address-Corporate');
                event.preventDefault();
            });

            $('#Remove_FacultyInternal_OrgTraining').button().on('click', function (event) {
                //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
                var a = [], b;
                a = $('#FacultyInternalList').P2BGetTableDataonSelectedRow('#FacultyInternalList', 0);
                b = a[0];
                $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#FacultyInternalList', $('#FacultyInternalList').val(), 200, 200, '#FormOrgTraining', '#FacultyInternalList', '#Edit-Address-Corporate,#Remove-Address-Corporate');
                event.preventDefault();
            });

            $('#Remove_TrainingCalendar_OrgTraining').button().on('click', function (event) {
                //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
                var a = [], b;
                a = $('#TrainingCalendarList').P2BGetTableDataonSelectedRow('#TrainingCalendarList', 0);
                b = a[0];
                $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#TrainingCalendarList', $('#TrainingCalendarList').val(), 200, 200, '#FormOrgTraining', '#TrainingCalendarList', '#Edit-Address-Corporate,#Remove-Address-Corporate');
                event.preventDefault();
            });

            $('#Remove_TrainingSchedule_OrgTraining').button().on('click', function (event) {
                //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
                var a = [], b;
                a = $('#TrainingScheduleList').P2BGetTableDataonSelectedRow('#TrainingScheduleList', 0);
                b = a[0];
                $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#TrainingScheduleList', $('#TrainingScheduleList').val(), 200, 200, '#FormOrgTraining', '#TrainingScheduleList', '#Edit-Address-Corporate,#Remove-Address-Corporate');
                event.preventDefault();
            });
            //delete main page
            $('#Delete').button().click(function (event) {
                dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');

                $('#Create_Dialog').P2BDeleteModalDialog('@Url.Action("Delete")', dt.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
                event.preventDefault();
            });

            $('#Autho').makeDisable('#Create,#Edit,#Delete');
            $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');
        });
    </script>
</head>
<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <button class="button" id="Create">Create</button>
                <button class="button" id="View">View</button>
                <button class="button" id="Edit">Edit</button>
                <button class="button" id="Delete">Delete</button>
                <button class="button" id="Autho">Authorised</button>
                <div id="Grid_Form">
                    <div>
                        <table id="JqGrid"></table>
                        <div id="pager2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Lookup_Increment">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>
    <div id="Create_Dialog" title="OrgTraining">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormOrgTraining", name = "frmorgtrainingedit" }))
        {
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />


            //Category
            <div class="row3 content_margine">
                <div id="CategoryList_old"></div>
                @Html.LabelFor(m => m.Category, "Category Details:", new { @class = "popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="CategoryList">
                        <tr><th>ID</th><th>LookUp Selected CategoryList</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="LookUp Category" class="popup-content-icon-lookup" id="LookUp_Category_OrgTraining"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    @* <button data-p2btooltip="Create Category" class="popup-content-icon-create" id="Create_Category_OrgTraining"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>*@
                    @*<button data-p2btooltip="Edit Category" class="popup-content-icon-edit" id="Edit_Category_OrgTraining"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>*@
                    <button data-p2btooltip="Remove Category" class="popup-content-icon-remove" id="Remove_Category_OrgTraining"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>

            //FacultyExternal
            @*<div class="row3 content_margine">
                    <div id="FacultyExternalList_old"></div>
                    @Html.LabelFor(m => m.FacultyExternal, "FacultyExternal Details:", new { @class = "popup-content-label" })
                    <div class="popup-content-table">
                        <table class="lookuptableselected" id="FacultyExternalList">
                            <tr><th>ID</th><th>LookUp Selected FacultyExternalList</th></tr>
                        </table>
                    </div>
                    <div class="icon-row">
                        <button data-p2btooltip="LookUp FacultyExternal" class="popup-content-icon-lookup" id="LookUp_FacultyExternal_OrgTraining"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Create FacultyExternal" class="popup-content-icon-create" id="Create_FacultyExternal_OrgTraining"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Edit FacultyExternal" class="popup-content-icon-edit" id="Edit_FacultyExternal_OrgTraining"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Remove FacultyExternal" class="popup-content-icon-remove" id="Remove_FacultyExternal_OrgTraining"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                    </div>
                </div>*@

            //FacultyInternal
            @*<div class="row3 content_margine">
                    <div id="FacultyInternalList_old"></div>
                    @Html.LabelFor(m => m.FacultyInternal, "FacultyInternal Details:", new { @class = "popup-content-label" })
                    <div class="popup-content-table">
                        <table class="lookuptableselected" id="FacultyInternalList">
                            <tr><th>ID</th><th>LookUp Selected FacultyInternalList</th></tr>
                        </table>
                    </div>
                    <div class="icon-row">
                        <button data-p2btooltip="LookUp FacultyInternal" class="popup-content-icon-lookup" id="LookUp_FacultyInternal_OrgTraining"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Create FacultyInternal" class="popup-content-icon-create" id="Create_FacultyInternal_OrgTraining"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Edit FacultyInternal" class="popup-content-icon-edit" id="Edit_FacultyInternal_OrgTraining"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Remove FacultyInternal" class="popup-content-icon-remove" id="Remove_FacultyInternal_OrgTraining"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                    </div>
                </div>*@

            //TrainingCalendar
            <div class="row3 content_margine">
                <div id="TrainingCalendarList_old"></div>
                @Html.LabelFor(m => m.TrainingCalendar, "Training Calendar Details:", new { @class = "popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="TrainingCalendarList">
                        <tr><th>ID</th><th>LookUp Selected TrainingCalendarList</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="LookUp TrainingCalendar" class="popup-content-icon-lookup" id="LookUp_TrainingCalendar_OrgTraining"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    @*  <button data-p2btooltip="Create TrainingCalendar" class="popup-content-icon-create" id="Create_TrainingCalendar_OrgTraining"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>*@
                    @* <button data-p2btooltip="Edit TrainingCalendar" class="popup-content-icon-edit" id="Edit_TrainingCalendar_OrgTraining"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>*@
                    <button data-p2btooltip="Remove TrainingCalendar" class="popup-content-icon-remove" id="Remove_TrainingCalendar_OrgTraining"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>


            //TrainingSchedule
            <div class="row3 content_margine">
                <div id="TrainingScheduleList_old"></div>
                @Html.LabelFor(m => m.TrainingSchedule, "TrainingSchedule Details:", new { @class = "popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="TrainingScheduleList">
                        <tr><th>ID</th><th>LookUp Selected TrainingScheduleList</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="LookUp TrainingSchedule" class="popup-content-icon-lookup" id="LookUp_TrainingSchedule_OrgTraining"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    @* <button data-p2btooltip="Create TrainingSchedule" class="popup-content-icon-create" id="Create_TrainingSchedule_OrgTraining"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>*@
                    @*     <button data-p2btooltip="Edit TrainingSchedule" class="popup-content-icon-edit" id="Edit_TrainingSchedule_OrgTraining"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>*@
                    <button data-p2btooltip="Remove TrainingSchedule" class="popup-content-icon-remove" id="Remove_TrainingSchedule_OrgTraining"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>
        }
    </div>
</body>
</html>
