@{
    ViewBag.Title = "EmailAttachment";
}
@model P2b.Global.EmailAttachment




<html>

<head>
    <title></title>
    <style>
        .icon-row {
            position: relative;
            left: 53px;
            top: -150px;
        }

        #BusinessType-button {
            font-size: 9px;
            padding-top: 1px;
            font-weight: bold;
        }

        .popup-content-label {
            display: block;
            float: left;
            width: 150px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 150px;
        }

        .row3 {
            width: 402px;
        }

        .row4 {
            position: absolute;
            top: 294px;
            width: 400px;
        }

        .popup-content-textbox-long {
            margin-bottom: 1px;
            width: 290px;
        }


        .row2 {
            width: 402px;
        }
    </style>
</head>

<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <button class="button" id="Create">Create</button>
                <button class="button" id="View">View</button>
                <button class="button" id="Edit">Edit</button>
                <button class="button" id="Delete">Delete</button>
                <button class="button" id="Autho">Authorised</button>
                <div id="Grid_Form">
                    <div>
                        <table id="JqGrid"></table>
                        <div id="pager2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>

    <div id="Create_Dialog" title="Create Corpoarte">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmEmailAttachment", name = "frmEmailAttachment" }))
        {
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
            
            
            <div class="dropdown_row1 row3 content_margine">@Html.LabelFor(m => m.EmailAttachmentType, "EmailAttachmentType :", new { @class = "popup-content-label must" })<select id="EmailAttachmentTypelist" name="EmailAttachmentTypelist" class="must" style="width:161px;"><option></option></select></div>
            
            <div class="row3 content_margine">@Html.LabelFor(m => m.Name, "Name :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Name, new { @class = "popup-content-textbox must" })</div>
            <div class="row3 content_margine">@Html.LabelFor(m => m.DocPath, "DocPath :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.DocPath, new { @class = "popup-content-textbox must" })</div>
            
            
        }
    </div>

</body>
</html>
<script>
    $(document).ready(function () {
        //$('#txt_box1').ValidateTextBox({ maxlength: 5, AlphaNum: 0 });
      
        
        $('#Name').ValidateTextBox({ maxlength: 50, name: true });
    });
    $(document).ready(function (e) {
        $('button').button();
        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;
        //var btndisablenames = "#Edit-Address-Email,#Remove-Address-Email";
        ColModel = ['EmailAttachmentType', 'Name', 'DocPath', 'Id'];
        ColNames = ['EmailAttachmentType', 'Name', 'DocPath', 'Id'];
        SortName = 'Id';
        Caption = 'EmailAttachment';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);

        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }

        $('#Create_Dialog').P2BCreateDialog();
        $('#Create').on("click", function (event) {
            $('#frmEmailAttachment').trigger("reset");
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create EmailAttachment', 'open', '@Url.Action("Create")', '#frmEmailAttachment', 'Message :', 'Request Falied :', '#JqGrid', 500, 620, '', '', function (data) { });
            $('#EmailAttachmentTypelist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 803, ""); // To bind dropdown on page load
            event.preventDefault();
        });

        // Main page edit
        $('#Edit').on('click', function () {
            AssignData();
            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit EmailAttachment Data", '#frmEmailAttachment', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 500, 620, '', '', function (data) {
                // setTimeout(function () {
                $.each(data[0], function (i, k) {

                    $('#EmailAttachmentTypelist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 803, k.EmailAction_Id); // Dropdown bind
                    $('#Name').val(k.Name);
                    $('#DocPath').val(k.DocPath);
                });

                

            });
        });


        //View main page
        $('#View').button().click(function (event) {
            AssignData();
            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View EmailAttachment Data', '', '', 500, 620, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {

                $.each(data[0], function (i, k) {

                    $('#EmailAttachmentTypelist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 803, k.EmailAction_Id); // Dropdown bind
                    $('#Name').val(k.Name);
                    $('#DocPath').val(k.DocPath);
                });

               

            });
        });

        //delete main page
        $('#Delete').button().click(function (event) {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            $('#Create_Dialog').P2BDeleteModalDialog('@Url.Action("Delete","EmailAttachment")', dt.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
            event.preventDefault();
        });

        /* Address button click*/

       


        $('.popup_radio_button').controlgroup();
        $('#EmailAttachmentTypelist').selectmenu().selectmenu("menuWidget");
        $('#Autho').makeDisable('#Create,#Edit,#Delete');
        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');
    });
</script>