@{
    ViewBag.Title = "Emp AppRating Conclusion";
}
@model   Appraisal.EmpAppRatingConclusion
<!DOCTYPE html>

<html>

<head>
    <title></title>
    <style>
        .icon-row {
            position: relative;
            left: 60px;
            top: -150px;
        }

        #load_emp {
            margin-left: 372px;
            height: 22px;
            top: -21px;
        }

        .emplist_row {
            width: 400px;
            padding: 2px;
        }

        .emplist_label {
            display: block;
            float: left;
            width: 146px;
        }


        .transactiondiv {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            width: 192px;
            border-radius: 5px;
            height: 300px;
        }

        .disabled {
            pointer-events: none;
            /*optional opacity: 0.4;*/
        }

        .icon-row {
            position: relative;
            left: 95px;
            top: -150px;
        }

        .transactiontablenew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            /*width: 200px;*/
            display: block;
            overflow: auto;
            height: 500px;
            border-collapse: collapse;
        }

        .transactiondivnew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            width: 507px;
            border-radius: 5px;
            height: 32px;
        }

            .transactiondivnew > div {
                display: inline-block;
                margin: 0 auto;
                padding: 4px;
            }

                .transactiondivnew > div > input {
                    box-sizing: initial;
                    display: inline-block;
                    margin: 0 auto;
                    width: 108px;
                }

        .transactiontablenew th, .transactiontablenew td {
            background: rgba(246, 246, 246, 0.64) none repeat scroll 0 0;
            padding: 5px;
            border-bottom: 1px solid #c5c5c5;
            border-right: 1px solid #c5c5c5;
            text-align: center;
            color: rgba(114, 113, 113, 0.9);
        }

            .transactiontablenew th:nth-child(1) > input, .transactiontablenew td:nth-child(1) > input {
                margin: 0 auto;
            }

            .transactiontablenew th:nth-child(2), .transactiontablenew td:nth-child(2) {
                height: 100%;
                width: 100%;
            }

        .transactiontablenew tr:hover {
            cursor: pointer;
            background: #EEEEEE none repeat scroll 0 0;
        }

        .section1_Leave {
            display: block;
            border: 1.5px solid rgba(207, 207, 207, 0.91);
            height: 522px;
            width: 534px;
            margin: 4px auto;
            position: absolute;
        }

        .section2_Leave {
            display: block;
            border: 1px solid #ddd;
            margin: 5px 4px;
            position: absolute;
            left: 546px;
            padding-left: 8px;
            padding-top: 16px;
        }

        .icon-row {
            position: relative;
            left: 99px;
            top: -150px;
        }

        #BusinessType-button {
            font-size: 9px;
            padding-top: 1px;
            font-weight: bold;
        }

        .popup-content-label {
            display: block;
            float: left;
            width: 145px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 150px;
        }

        .row3 {
            width: 450px;
        }

        .row4 {
            position: absolute;
            top: 294px;
            width: 400px;
        }

        .popup-content-textbox-long {
            margin-bottom: 1px;
            width: 290px;
        }


        .row2 {
            width: 402px;
        }
    </style>
</head>


<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                @*<div style="float:left">
                        <label id="lblPayMonth" class="popup-content-label must">PayMonth:</label>
                        <input name="TextPayMonth" type="text" id="TextPayMonth" class="date-picker" />
                    </div>
                    <button class="button" id="Load">Load</button>*@
                <button class="button" id="Create">Add</button>
                @*<button class="button" id="Btn-Upload-Data">Upload</button>*@
                @*<button class="button" id="Delete">Delete</button>*@
                @*<button class="button" id="release">Release</button>*@

            </div>
        </div>
    </div>

    <div id="Grid_Form">
        <div>
            <div id="Container" class="container">
                <div id="Demo">
                    <table id="MyTable" class="display" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>DD</th>
                                <th>Code</th>
                                <th>Name</th>
                                @*<th>JoiningDate</th>*@
                                <th>Job</th>
                                <th>Grade</th>
                                <th>Location</th>
                                <th>ID</th>
                            </tr>
                        </thead>
                        @*<tfoot>
                                <tr>
                                    <th>DD</th>
                                    <th>ID</th>
                                    <th>EmployeeCode</th>
                                    <th>EmployeeName</th>
                                </tr>
                            </tfoot>*@
                    </table>
                </div>
            </div>
            @*<table id="JqGrid"></table>
                <div id="pager2"></div>*@
        </div>
    </div>

    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv" id="lookup"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>

    <div id="Create_Dialog" title="Create Emp AppRating Conclusion">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "FormAppRatingConcl", name = "FormAppRatingConcl" }))
        {
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />

            <div class="section_Method">
                <div class="heading">Appraisal Calendar Details</div>
                <div class="row3 content_margine">

                    <label id="lblAppCalendar" class="popup-content-label must">Appraisal Calendar:</label>
                    <select id="AppCalendardrop" style="width:290px" name="AppCalendardrop" class="drop must"></select>

                </div>
            </div>
            <div class="section_Method">
                <div class="heading">Appraisal Schedule Details</div>

                <label id="lblPayMonth" class="popup-content-label must">Schedule Name:</label>
                <input name="TextPayMonth" type="text" id="TextPayMonth" />
                <input type="text" id="Batch_Name" name="Batch_Name" class="filter_structure_id must" />

                <div class="icon-row">
                    <button data-p2btooltip="Lookup AppraisalSchedule Details" class="  popup-content-icon-lookup" id="Lookup-AppraisalSchedule-AppraisalPublishT" style="top:128px;left:210px"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    @*<button data-p2btooltip="Create AppraisalSchedule Details" class="  popup-content-icon-create" id="Create-AppraisalSchedule-AppraisalSchedule" style="top:128px;left:235px"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>*@
                </div>
                <button class="button" id="load_emp">LOAD</button><br />
            </div>


            <div class="section_Method" style="margin-top:8px;">
                <div class="heading" style="width: 1315px">Employee List</div>
                <div class="employeeselectiondiv">
                    <div class="transactiondivnew dynamic addons" style="float:left">
                        <div><label>Search : </label><input type="text" id="Employee-Search" style="width: 425px;" /></div>
                        <table cellspacing="0" cellpadding="1" class="transactiontablenew" id="Employee-Table" style="height: 415px">
                            <tr><th><input type="checkbox" id="Case-Employee" /></th><th>Employee</th></tr>
                        </table>
                        @*<span class="btn-span1" aria-hidden="true">
                                <button id="load_emp" class="loan-btn">Load Employee</button>
                            </span>*@
                    </div>

                </div>
            </div>


            <div class="section2_Leave" style=" height: 415px; width: 820px;">
                <div class=" ">

                    <input id="Autho_Action" type="hidden" name="Autho_Action" />
                    <input id="Autho_Allow" type="hidden" name="Autho_Allow" />


                    @*<div class="dropdown_row1 row3 content_margine">
                            @Html.LabelFor(m => m.AppraisalPeriodCalendar, "Calendar :", new { @class = "popup-content-label" })
                            <select id="AppCalendardrop" style="width:290px" name="AppCalendardrop" class="drop"></select>
                        </div>*@
                    <div class="dropdown_row1 row3 content_margine">@Html.LabelFor(m => m.AppraisalAssistance, "Appraisal Assistance :", new { @class = "popup-content-label must" })<select id="AppraisalAssistancelist" name="AppraisalAssistancelist" class="must" style="width:161px;"><option></option></select></div>

                    <div id="Grid_Form1">
                        <div>
                            <table id="JqGridNew1"></table>
                            <div id="JqGridNew_pager1"></div>
                        </div>
                    </div>
                    <br />

                    <div id="Grid_Form2">
                        <div>
                            <table id="JqGridNew"></table>
                            <div id="JqGridNew_pager"></div>
                        </div>
                    </div>
                    @*<div class="row3 content_margine">
                            <label>Rating Points </label>
                            <input type="text" name="RatingPoints" id="RatingPoints" class="popup-content-textbox must">
                        </div>
                        <div class="row3 content_margine">
                            <label>Comments </label>
                            <input type="text" name="Comments" id="Comments" class="popup-content-textbox must">
                        </div>*@


                    <div class="row3 content_margine">@Html.LabelFor(m => m.AssistanceOverallComments, "Overall Comments  :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.AssistanceOverallComments, new { @class = "popup-content-textbox must" })</div><br>
                    @*<input type="button" name="Save" value="Save" id="Save">*@
                    <button class="button" id="Save">Save</button>

                </div>
            </div>

        }
    </div>

</body>
</html>
<script>

    $(document).ready(function (e) {
        $('button').button();
        //var ColNames = [];
        //var ColModel = [];
        //var SortName, Caption, url, width, height;
        var btndisablenames = "";
        @*ColModel = ['Id', 'Code', 'Name'];
        ColNames = ['Id', 'Code', 'Name'];
        SortName = 'Id';
        Caption = 'Employee AppRating Conclusion';
        url = '@Url.Action("P2BGrid")';
        width = 900;
        height = 150;
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);*@

        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }

        var inline_ColNames = [];
        var inline_ColModel = [];
        var inline_SortName, inline_Caption, inline_url, inline_width, inline_height;
        inline_ColModel = ['Id', 'EmpEvaluationId', 'Category', 'SubCategory', 'MaxPoints', 'RatingPoints', 'Comments', 'Editable'];
        inline_ColNames = ['Id', 'EmpEvaluationId', 'Category', 'SubCategory', 'MaxPoints', 'RatingPoints', 'Comments', 'Editable'];
        inline_SortName = 'ID';
        inline_Caption = 'Employee List';
        inline_url = '';
        inline_width = 800;
        inline_height = 150;



        $('#MyTable').MultiLevelInlineEditGrid({
            url: "@Url.Action("Emp_Grid")",
            htmurl: "@Url.Action("partial", "EmpAppRatingConclusion")",
            columnname: [ "Code", "Name", /*"JoiningDate",*/ "Job", "Grade", "Location", "Id"],
            childheader: ["EmpAppRatingId", "Category", "SubCategory", "AppriasalAssistance", "Comments", "MaxPoints", "ObjectiveWordings", "RatingPoints", "Id"],
            childurl: "@Url.Action("Get_AppAssignData", "EmpAppRatingConclusion")",
            tableheader: "Emp AppRating Conclusion",
            childurlColumnNo: "6"

        });



        //parent = 0;
        $.DataTableChildManipulation = function (init, id, parentid, htmurl, editurl, submiturl) {
            var parent_element = $(init).parents('td:last').parent().prev();
            var parentid = $(parent_element).find('td:eq(1)').html();
            console.log(parentid);
            //console.log(parent_element.find('td:eq(1)'));
            // var parentId = parent_element.find('td:eq(1)').html();
            var dt = $('#MyTable').DataTable();
            // console.log(dt.child.row(0));
            //dt.child.row()



            var htmlcomponant = {
                init: init,
                Id: id,
                idx: parentid,
                htmurl: htmurl,
                editurl: editurl,
                submiturl: submiturl,
            };
            if ($(init).hasClass('ui-icon-newwin1')) {
                $('<div></div>').PartialCreateDialog({
                    height: 'auto',
                    width: 'auto',
                    form: "#Edit-EmpAppRatingConcl",
                    htmlurl: "@Url.Action("GridPartial1", "EmpAppRatingConclusion")",
                    state: "open",
                    mode: "View",
                    editurl: "@Url.Action("GridEditData1", "EmpAppRatingConclusion")",
                    submiturl: "@Url.Action("GridEditSave1", "EmpAppRatingConclusion")",
                    editdata: id,
                    forwarddata: id,
                    returndatafunction: function (returndata) {
                        $.each(returndata.returndata, function (i, k) {
                            $('#RatingPoints-edit').val(k.RatingPoints);
                            $('#Comments-edit').val(k.Comments);


                        });
                    },
                });
            } else if ($(init).hasClass('ui-icon-pencil')) {
                
                // alert(parentid);
                $('<div></div>').PartialCreateDialog({
                    height: 'auto',
                    width: '35%',
                    form: "#Edit-EmpAppRatingConcl",
                    htmlurl: "@Url.Action("GridPartial", "EmpAppRatingConclusion")",
                    state: "open",
                    mode: "Edit",
                    editurl: "@Url.Action("GridEditData", "EmpAppRatingConclusion")",
                    submiturl: "@Url.Action("GridEditSave", "EmpAppRatingConclusion")",
                    editdata: id,
                    forwarddata: id,
                    returndatafunction: function (returndata) {
                        $.each(returndata.returndata, function (i, k) {
                            $('#RatingPoints-edit').val(k.RatingPoints);
                            $('#Comments-edit').val(k.Comments);

                        });
                    },
                    submitfun: function (data) {
                        var row = dt.row(parent_element);
                        if (row.child.isShown()) {
                            parent_element.removeClass('details');
                            row.child.hide();
                        }
                    }
                });
            } else if ($(init).hasClass('ui-icon-trash')) {
                // alert(parentid);
                // alert(id);
                $('<div></div>').PartialCreateDialog({
                    state: "open",
                    mode: "Delete",
                    submiturl: "@Url.Action("GridDelete")",
                    forwarddata: [id, parentid],
                    submitfun: function (data) {
                        var row = dt.row(parent_element);
                        if (row.child.isShown()) {
                            parent_element.removeClass('details');
                            row.child.hide();
                        }
                    }
                });
            }
        };


       



        $('#Get-edited-data').on('click', function (e) {
            if (modified_data.data.length > 0) {
                console.log(modified_data.data);
            }
            e.preventDefault();
        });
        $.LocalStorageHelper("CreateClickEmpAppRatingConclusion", false);
        $('#Create_Dialog').P2BGridDialog();
        $('#Create').button().on("click", function (event) {

            //   $('#FormAppRatingConcl').trigger('reset');
            //   $('#JqGridNew').refresh();
            $('#Grid_Form2').hide();

            $('#Employee-Table').on('click', 'input:checkbox:gt(0)', function (e) {
                //  $('input[type="checkbox"]').not(this).prop("checked", false);



                if (this.checked) {
                    $('#Grid_Form2').show();
                    $('#AppraisalAssistancelist').val(0).selectmenu().selectmenu("refresh");

                    $('#AssistanceOverallComments').val("");
                   // $('#JqGridNew').trigger('reloadGrid');
                    var id = $(this).val();
                    console.log("IDDDD :"+id);
                    $("#Emp").val(id);
                    var AssId = $('#AppraisalAssistancelist').val();
                    var AppCalId = $('#AppCalendardrop').val();
                    var RatingPoints = $("#RatingPoints").val();
                    var Comments = $("#Comments").val();
                    var forwarddata = [id, AssId, AppCalId, RatingPoints, Comments],
                    inline_url = '@Url.Action("LoadEmp")' + '?extraeditdata=' + forwarddata;
                    $('#JqGridNew').setGridParam({ datatype: 'json', page: 1, url: inline_url }, true).trigger("reloadGrid");
                    
                    $('#JqGridNew').InlineEditGrid({
                        ColNames: inline_ColNames,
                        ColModel: inline_ColModel,
                        SortName: inline_SortName,
                        Caption: inline_Caption,
                        url: inline_url,
                        tablename: '#JqGridNew',
                        eddelurl: '@Url.Action("Create")',
                        width: inline_width,
                        height: inline_height,
                        CheckCol: "Editable",
                        EditableCol: ['RatingPoints', 'Comments'],
                        //forwarddata: [id, AssId, AppCalId, RatingPoints, Comments],
                        // forwarddata: [RatingPoints, Comments],
                    });

                }

                @*$('#Save').button().on("click", function (event) {
                    
                    var a = $('#JqGridNew').InlineGridEdittedData.GetData();
                    console.log($('#JqGridNew').InlineGridEdittedData.GetData());
                    var forms = $("#FormAppRatingConcl").serialize();

                    if (a != null) {
                        var b = JSON.stringify(a);
                        $.post({
                            url: '@Url.Action("EditSave", "EmpAppRatingConclusion")',
                            //  data: { form: forms, forwarddata: b },
                            method: "POST",
                            data: forms + "&forwarddata=" + b,
                            success: function (data) {
                                if (data != null) {
                                    if (data[0] == "true") {
                                        alert(data[2]);
                                        $('#JqGrid').InlineGridEdittedData.Empty();
                                        // $('#JqGrid').trigger('reloadGrid');
                                        $.LocalStorageHelper("EditClickSalAttendanceT", false);
                                    }
                                    else { alert(data[2]); }

                                }
                            }
                        });
                    } else {
                        $('#JqGrid').trigger('reloadGrid');
                        $.LocalStorageHelper("EditClickSalAttendanceT", false);
                    }
                    //$(this).text("Edit");
                    // $('#cancle,#Save').fadeOut();
                    $('#Load,#Create,#Delete,#Edit').button("enable").css("background-color", "");
                    event.preventDefault();
                });*@

                //ss  $('.ui-dialog-buttonpane').find('button:contains("Submit")').button('disable');
            });


            
            $('#JqGridNew').on('change', 'input[type="text"]', function (e) {
                var getEnteredRatingPNT = $(this).val();
                var currentRow = $(this).closest("tr");

                var getMaxPNT = currentRow.find("td:eq(5)").text();
                //alert("abc : " + getMaxPNT);
                if (getEnteredRatingPNT > getMaxPNT) {
                    alert("RatingPoints should not be greater than MaxPoints...!");
                }

            });




            //  $('#JqGridNew').dialog("close");
            $('#AppCalendardrop').P2BSelectMenuAppend('@Url.Action("PopulateDropDownListCalendar", "EmpAppRatingConclusion")', "", '');
            $('#AppraisalAssistancelist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 1068, ""); // To bind dropdown on page load
            //$.LoadEmpByDefault('false');
            event.preventDefault();

            $('#load_emp').on('click', function (e) {
                var AppCal = $('#AppCalendardrop').val();
                var SchName = $("input[name=TextPayMonth]").val();

                $('#Employee-Table').P2BTransactionTableDynamic('#Employee-Search', '#Case-Employee', './EmpAppRatingConclusion/Get_Employelist?AppCal=' + AppCal + '&SchName=' + SchName + '', "", "false");
                e.preventDefault();
            });

            $('#Lookup-AppraisalSchedule-AppraisalPublishT').on('click', function (e) {
                $('.dialog').AddDataToTextbox({
                    appendTo: "#TextPayMonth",
                    appendToId: "#Batch_Name",
                    lookupurl: "@Url.Action("GetAppraisalScheduleDetails", "AppraisalPublishT")",
                    NoOfRecordToShow: 10,
                    setnameofthelookupbyppage: "TextPayMonth",
                    LookupDiv: "LookupDiv",
                    lookuppagename: "lookup",
                    readonly: true,
                    pagename: "PageNavPosition",

                });
                e.preventDefault();
            });

            $('#Create_Dialog').P2BGridDialog({

                title: "Create Emp AppRating Conclusion",
                submiturl: "@Url.Action("create")",
                form: "#FormAppRatingConcl",
                height: 585,
                width: 1300,
                state: "open",
                gridname: "#JqGridNew",
                editurl: "@Url.Action("create")",
                editdata: 0,
                filter: 0,
                returnToGrid: "#JqGridNew",
                refreshgrid: "JqGridNew"
            });

            $('#AppraisalAssistancelist').on('selectmenuchange', function () {


                $('#JqGridNew').trigger('reloadGrid');
                var id = $("input[type=checkbox]:checked").val();
                console.log("kkkk:"+id);

                var AssId = $('#AppraisalAssistancelist').val();
                var AppCalId = $('#AppCalendardrop').val();
                var RatingPoints = $("#RatingPoints").val();
                var Comments = $("#Comments").val();
                $('#JqGridNew').InlineEditGrid({
                    ColNames: inline_ColNames,
                    ColModel: inline_ColModel,
                    SortName: inline_SortName,
                    Caption: inline_Caption,
                    url: inline_url,
                    tablename: '#JqGridNew',
                    eddelurl: '@Url.Action("Create")',
                    width: inline_width,
                    height: inline_height,
                    CheckCol: "Editable",
                    EditableCol: ['RatingPoints', 'Comments'],
                    forwarddata: [id, AssId, AppCalId, RatingPoints, Comments],
                    // forwarddata: [RatingPoints, Comments],
                });
            });


            //$('#JqGridNew').P2BGrid(ColDisplayNames, ColDisplayModel, SortName, Caption_second, urlD, widthD, heightD, '#pager22', { multiple: true, rowNum: 30, selectall: true });

            //$('#JqGridNew').InlineEditGrid({
            //    ColNames: inline_ColNames,
            //    ColModel: inline_ColModel,
            //    SortName: inline_SortName,
            //    Caption: inline_Caption,
            //    url: inline_url,
            //    tablename: '#JqGridNew',
            //    eddelurl: '',
            //    width: inline_width,
            //    height: inline_height,
            //    CheckCol: "Editable",
            //    EditableCol:['RatingPoints','Comments'],
            //   // onEditClick: true,
            //});

            $('.ui-dialog-buttonpane').find('button:contains("Submit")').button('disable');
            event.preventDefault();
        });
        $('#Save').button().on("click", function (event) {
            
           
            if ($('#AppraisalAssistancelist').val() == 0)
            {
                alert('You have to select Appraisal Assistance');
            }
            var a = $('#JqGridNew').InlineGridEdittedData.GetData();
            if (a == null)
            { alert('You have to change record to update') };
            console.log($('#JqGridNew').InlineGridEdittedData.GetData());
            var forms = $("#FormAppRatingConcl").serialize();

            if (a != null) {
                var b = JSON.stringify(a);
                $.post({
                    url: '@Url.Action("EditSave", "EmpAppRatingConclusion")',
                    //  data: { form: forms, forwarddata: b },
                    method: "POST",
                    data: forms + "&forwarddata=" + b,
                    success: function (data) {
                        if (data != null) {
                            if (data[0] == "true") {
                                alert(data[2]);
                                $('#JqGrid').InlineGridEdittedData.Empty();
                                // $('#JqGrid').trigger('reloadGrid');
                                $.LocalStorageHelper("EditClickSalAttendanceT", false);
                            }
                            else { alert(data[2]); }

                        }
                    }
                });
            } else {
                $('#JqGrid').trigger('reloadGrid');
                $.LocalStorageHelper("EditClickSalAttendanceT", false);
            }
            //$(this).text("Edit");
            // $('#cancle,#Save').fadeOut();
            $('#Load,#Create,#Delete,#Edit').button("enable").css("background-color", "");
            event.preventDefault();
        });

        $('#AppraisalAssistancelist').selectmenu().selectmenu("menuWidget");
        $('.drop').selectmenu().selectmenu('menuWidget').addClass('overflow');
        $('#Autho').makeDisable('#Create,#Edit,#Delete');
        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');
    });
</script>
