@{
    ViewBag.Title = "OutDoorDutyReq";
}
@model Attendance.OutDoorDutyReq

<style>
    #btnLoad{
        margin-left:20px;
    }
    .monthTable {
        overflow: auto;
        height: 340px;
    }
    .Emppunchhistory {
        overflow: auto;
        height: 100px;
    }

    .btnCreateOutdoorDiv {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        height: 26px;
    }

    .popup-content-label {
        display: block;
        float: left;
        width: 102px;
    }

    .popup-content-textbox {
        margin-bottom: 1px;
        width: 150px;
    }

    .row1 {
        display: inline-block;
    }

    .row3 {
        height: 27px;
        align-items: center;
        display: flex;
    } 

    .section_Method {
        border: 1px solid rgba(207, 207, 207, 0.91);
        border-radius: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .transactiontablenew {
        border: 1px solid #c5c5c5;
        /*! margin: 0 auto; */
/*        width: 379px;*/
        display: flex;
        flex-direction: row;
        overflow: auto;
        height: 345px;
        border-collapse: collapse;
    }

    .transactiondivnew {
        border: 1px solid #c5c5c5;
/*        margin: 0 auto;*/
        overflow:hidden;
        min-width: 250px;
        max-width: 320px;
        border-radius: 5px;
        height: 400px;
/*        float: left;*/
    }

        .transactiondivnew > div {
            display: block;
            margin: 0 auto;
            padding: 4px;
        }

            .transactiondivnew > div > input {
                box-sizing: initial;
                display: inline-block;
                margin: 0 auto;
                width: 75%;
            }

    .transactiontablenew th, .transactiontablenew td {
        background: rgba(246, 246, 246, 0.64) none repeat scroll 0 0;
        padding: 5px;
        border-bottom: 1px solid #c5c5c5;
        border-right: 1px solid #c5c5c5;
        text-align: left;
        color: rgba(114, 113, 113, 0.9);
    }

        .transactiontablenew th:nth-child(1) > input, .transactiontablenew td:nth-child(1) > input {
            margin: 0 auto;
        }

        .transactiontablenew th:nth-child(2), .transactiontablenew td:nth-child(2) {
            height: 100%;
            width: 100%;
        }

    .transactiontablenew tr:hover {
        cursor: pointer;
        background: #EEEEEE none repeat scroll 0 0;
    }

    .section1_Leave {
        display: flex;
        justify-content: space-between;
        border: 1px solid #c5c5c5;
        border-radius: 5px;
        padding: 5px;
        min-width: 1178px;
    }

    .section2_Leave {
        border: 1px solid #c5c5c5;
        margin: 0 2px;
        border-radius: 5px;
        height: 400px;
/*        overflow:auto;*/
        flex: 1;
    }

    .section3_Leave {
        border: 1px solid #c5c5c5;
/*        margin: 0 2px;*/
        border-radius: 5px;
        margin-top:5px;
        min-height: 130px;
        padding: 5px;
        position: relative;
        max-width: 330px;
        align-self:center;
    }

    .section4_Leave {
        display: flex;
        flex-direction: column;
        height: 400px;
    }
    .punchHistory {
        border: 1px solid #c5c5c5;
        border-radius: 5px;
        height: 127px;
    }

    #monthTable {
        display: flex;
    }

        #monthTable td, #monthTable th {
            border: 1px solid #ddd;
            padding: 8px;
        }

    .monthTable-selected {
        color: #8e6d87;
        font-weight: bold;
    }
    /*#monthTable tr:nth-child(even) {
            background-color: #f2f2f2;
        }*/

    #monthTable tr:hover {
        background-color: #ddd;
    }

    #monthTable th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #009282;
        color: white;
    }

    #Emppunchhistory td, #Emppunchhistory th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    .Emppunchhistory-selected {
        color: #8e6d87;
        font-weight: bold;
    }
    /*#monthTable tr:nth-child(even) {
            background-color: #f2f2f2;
        }*/

    #Emppunchhistory tr:hover {
        background-color: #ddd;
    }

    #Emppunchhistory th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #009282;
        color: white;
    }
    .disable {
        /* Note: pointer-events not supported by IE10 and under */
        pointer-events: none;
        opacity: 0.4;
    }
</style>
<script>
    $(document).ready(function () {
        $('button').button();
        $('#Reason').MaxLength(100);
        $('#Reason').val("");       
        $('#Create_Dialog').P2BCreateDialog();
        $('#Create').on("click", function (event) {
            $('#FormOutDoorDutyReq').trigger("reset");
            $.LoadEmpByDefault(true);
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create Out Door Duty Request', 'open', '@Url.Action("Create","OutDoorDutyReq")', '#FormOutDoorDutyReq', 'Message :', 'Request Falied :', '#JqGrid', 600, '95%', '#TimingMonthlyRoasterlist', "", function (data) { });
            //     $('#DayTypelist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 203, ""); // To bind dropdown on page load
            $('.ui-dialog-buttonpane').find('button:contains("Submit")').button('disable');
            event.preventDefault();
        });

        $('#Advance-Filter-Symbol').on('click', function () {
            $("<div></div>").FilterDialog({
                width: 1000,
                height: 400,
                title: "Filter",
                htmlurl: "@Url.Action("Advance_partial", "Transcation")",
                returnat: function (data) {
                    console.log(data);
                    var forwarddata = JSON.stringify(data);
                    $('#Employee-Table').P2BTransactionTableDynamic('#Employee-Search', '#Case-Employee', './Transcation/Get_Employelist_h?geo_id=' + forwarddata + '', "");

                },
                renderat: "#FormFilter", hierarchy: true,
            });
            //console.log($('#FormFilter')[0]);
        });

        $('#MyTable').MultiLevelInlineEditGrid({
            url: "@Url.Action("Emp_Grid", "OutDoorDutyReq")",
            htmurl: "@Url.Action("GridPartial", "OutDoorDutyReq")",
            columnname: ["Id", "Code", "Name"],
            childheader: ["Id", "SwipeDate", "InTime", "OutTime", "Reason"],
            childurl: "@Url.Action("Get_EmpTimingRostData", "OutDoorDutyReq")",
            tableheader: "Emp Timing Monthly Roaster Data"
        });
        $.DataTableChildManipulation = function (init, id, parentid, htmurl, editurl, submiturl) {
            var dt = $('#MyTable').DataTable();
            var htmlcomponant = {
                init: init,
                Id: id,
                idx: parentid,
                htmurl: htmurl,
                editurl: editurl,
                submiturl: submiturl,
            };
            if ($(init).hasClass('ui-icon-newwin')) {
                return false;
                $('<div></div>').PartialCreateDialog({
                    height: 'auto',
                    width: 'auto',
                    form: "#EditGridForm",
                    htmlurl: htmurl,
                    state: "open",
                    mode: "View",
                    editurl: "@Url.Action("GridEditData", "OutDoorDutyReq")",
                    editdata: id,
                    forwarddata: id,
                    returndatafunction: function (data) {
                        $.each(data, function (i, k) {
                            $('#Grid-ReqDate').val(k.ReqDate);
                            $('#Grid-FromDate').val(k.FromDate);
                            $('#Grid-ToDate').val(k.ToDate);
                            $('#Grid-TotalDays').val(k.TotalDays);
                            $('#Grid-Reason').val(k.Reason);
                        });
                    },
                    submitfun: function (data) {
                        var row = dt.row(parent_element);
                        if (row.child.isShown()) {
                            parent_element.removeClass('details');
                            row.child.hide();
                        }
                    }
                });
            } else if ($(init).hasClass('ui-icon-pencil')) {
                //  return false;
                $('<div></div>').PartialCreateDialog({
                    height: 'auto',
                    width: 'auto',
                    form: "#EditGridForm",
                    htmlurl: "@Url.Action("GridPartial", "OutDoorDutyReq")",
                    state: "open",
                    mode: "Edit",
                    editurl: "@Url.Action("GridEditData", "OutDoorDutyReq")",
                    submiturl: "@Url.Action("GridEditsave", "OutDoorDutyReq")",
                    editdata: id,
                    forwarddata: id,
                    returndatafunction: function (data) {
                        $.each(data, function (i, k) {
                            //console.log(k.MonthlyInstallmentAmount);
                            $('#Edit-InstallmentPaid').val(k.InstallmentPaid);
                            //$('#Edit-MonthlyPricipalAmount').val(k.MonthlyPricipalAmount);
                        });
                    },
                    submitfun: function (data) {
                        var row = dt.row(parent_element);
                        if (row.child.isShown()) {
                            parent_element.removeClass('details');
                            row.child.hide();
                        }
                    }
                });
            } else if ($(init).hasClass('ui-icon-trash')) {
                //    return false;
                $('<div></div>').PartialCreateDialog({
                    state: "open",
                    mode: "Delete",
                    submiturl: "@Url.Action("GridDelete")",
                    forwarddata: id,
                    submitfun: function (data) {
                        var row = dt.row(parent_element);
                        if (row.child.isShown()) {
                            parent_element.removeClass('details');
                            row.child.hide();
                        }
                    }
                });
            }
        };


        //$('#InTime').P2BTimePicker();
        //$('#OutTime').P2BTimePicker();
        $('.popup_radio_button').controlgroup();
        //$('.defult-time').P2BTimePicker();
        $('.date').MonthYearPicker();
        $('#DayTypelist').selectmenu().selectmenu("menuWidget");


        $('#Employee-Table').on('click', 'input:checkbox:gt(0)', function (e) {
            $('input[type="checkbox"]').not(this).prop("checked", false);
            if (this.checked) {
                $('#Emp_id').val($(this).val());
            } else {
                $('#Emp_id').val("");

            }

            $("#monthTable").find("tr:gt(0)").remove();
            $("#Emppunchhistory").find("tr:gt(0)").remove();
            $('#sr_no').val("");
            $('#RoasterDate').val("");
            $('#InTime').val("");
            $('#OutTime').val("");
            $('#CompInTime').val("");
            $('#CompOutTime').val("");
            $('#Reason').val("");
        });
        $('#btnLoad').on('click', function () {

            $.ajax({
                url: "@Url.Action("EmpTimingRoasterDates", "OutDoorDutyReq")",
                data: { employeeids: $('#Emp_id').val(), paymonth: $('#month').val() },
                success: function (data) {
                    var tr = "";
                    var index = 1;
                    var tempclass = "";
                    $('#monthTable tr:gt(0)').remove();

                    var v1 = data.Name;
                    $.each(v1, function (i, k) {
                        tr += "<tr class='" + tempclass + "' id='" + index + "'><td>" + k.Id + "</td><td>" + k.SwipeDate + "</td><td>" + k.CompInTime + "</td><td>" + k.CompOutTime + "</td><td>" + k.InTime + "</td><td>" + k.OutTime + "</td><td>" + k.Status + "</td><td style='display:none'>" + k.IsODTimeEntryAppl + "</td></tr>";
                    });
                    $('#monthTable tr:last').after(tr);
                }
            });
        });
       
        $('#monthTable').on('click', 'tr:gt(0)', function (e) {
            var target = $(e.target).parent('tr');
            $.each(target, function (p, q) {
                var childs = $(q).children().toArray();
                SelectId = ($(childs[7]).text());
                if (SelectId == "True") {
                    $('.InOutTime').removeClass("disable");                                          
                    $('#InTime').P2BTimePicker();
                    $('#OutTime').P2BTimePicker();

                }
                else {                               
                    $('.InOutTime').addClass("disable");
                }
            });

            target.toggleClass('monthTable-selected');
            $('#monthTable tr:gt(0)').not(target).removeClass('monthTable-selected');
            //var sno = target.attr('id');
            var swipedate = "";
            $('#sr_no').focus();
            var input = $('#Form_Edit_Form input[type="text"],#Form_Edit_Form select').toArray();
            target.children().each(function (i, k) {
                if (i == 1) {
                    swipedate = $(k).text();
                }
                $(input[i]).val($(k).text());
            });
            $('#Reason').val("");

            $.ajax({
                type: "Post",
                url: '@Url.Action("Get_Employee_History", "OutDoorDutyReq")',
                data: { data: $('#Emp_id').val(), data1: swipedate },


                success: function (data) {
                    if (data.status == true) {
                        $('#Emppunchhistory tr').remove();
                        var temp = "<thead><tr>";
                        $.each(data.data, function (i, k) {
                            if (i == 0) {
                                $.each(k, function (l, j) {
                                    temp += "<th>" + j + "</th>";
                                });
                                temp += "</tr></thead>";
                            } else {
                                temp += "<tr>";
                                $.each(k, function (l, j) {
                                    temp += "<td>" + j + "</td>";
                                });
                                temp += "</tr>";
                            }
                        });
                        console.log(temp);
                        $('#Emppunchhistory').append(temp);
                    }
                    else {
                        $('' + id + ' tr:gt(0)').remove();
                        var temp = $this.find('.show-hide-div');
                        console.log(temp);
                    }
                },


            });
            e.preventDefault();
        });
        $('#sub_form').on('click', function (e) {
            var table_sr_no = $('#sr_no').val();
            var target = $('#monthTable tr#' + table_sr_no).children();
            var input = $('#Form_Edit_Form input[type="text"],#Form_Edit_Form select').toArray();
            target.each(function (i, k) {

                $(k).text($(input[i]).val());
            });
        });
        $('#Create_roaster').on('click', function (e) {
            var formjson = [];

            formjson.push({
                "SNo": $(sr_no).val(),
                "Date": $(RoasterDate).val(),
                "InTime": $(InTime).val(),
                "OutTime": $(OutTime).val(),
                "CompInTime": $(CompInTime).val(),
                "CompOutTime": $(CompOutTime).val(),
                "Reason": $(Reason).val(),
            });


            $.ajax({
                url: "@Url.Action("CreateRoaster", "OutDoorDutyReq")",
                method: "POST",
                cache: false,
                contentType: 'application/json',
                datatype: 'json',
                data: JSON.stringify({ data: formjson, EmpId: $('#Emp_id').val() }),
                success: function (data) {
                    alert(data.MSG);
                    $.ajax({
                        url: "@Url.Action("EmpTimingRoasterDates", "OutDoorDutyReq")",
                        data: { employeeids: $('#Emp_id').val(), paymonth: $('#month').val() },
                        success: function (data) {
                            var tr = "";
                            var index = 1;
                            var tempclass = "";
                            $('#monthTable tr:gt(0)').remove();

                            var v1 = data.Name;
                            $.each(v1, function (i, k) {
                                tr += "<tr class='" + tempclass + "' id='" + index + "'><td>" + k.Id + "</td><td>" + k.SwipeDate + "</td><td>" + k.CompInTime + "</td><td>" + k.CompOutTime + "</td><td>" + k.InTime + "</td><td>" + k.OutTime + "</td><td>" + k.Status + "</td></tr>";
                            });
                            $('#monthTable tr:last').after(tr);
                        }
                    });

                    $('#sr_no').val("");
                    $('#RoasterDate').val("");
                    $('#InTime').val("");
                    $('#OutTime').val("");
                    $('#CompInTime').val("");
                    $('#CompOutTime').val("");
                    $('#Reason').val("");


                }
            });
        });
    });
</script>

<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <button class="button" id="Create">Create</button>
                <button class="button" id="View">View</button>
                <button class="button" id="Edit">Edit</button>
                <button class="button" id="Delete">Delete</button>
                <button class="button" id="Autho">Authorized</button>
                <div id="Grid_Form">
                    <div>
                        <table id="JqGrid"></table>
                        <div id="pager2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>
    <div id="Grid_Form">
        <div>
            <div id="Container" class="container">
                <div id="Demo">
                    <table id="MyTable" class="display" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>DD</th>
                                <th>ID</th>
                                <th>Employee Code</th>
                                <th>Employee Name</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>DD</th>
                                <th>ID</th>
                                <th>Employee Code</th>
                                <th>Employee Name</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="Create_Dialog" title="Create Employee Timing Monthly Roaster">
        <div class="section_Method">
            <div class="heading">Filter View</div>
            <div class="filter-div">
                <label class="advance_filter_label">
                    Advance Filter<span class="advance_filter_sysmbol_class_plus" id="Advance-Filter-Symbol">
                    </span>
                </label>
                <div id="FormFilter"></div>
            </div>
        </div>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "FormOutDoorDutyReq", name = "frmOutDoorDutyReqEdit" }))
        {
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
            <input id="geo_id" class="filter_structure_id" name="geo_id" />
            <input id="pay_id" class="filter_structure_id" name="pay_id" />
            <input id="fun_id" class="filter_structure_id" name="fun_id" />
            <input id="Emp_id" class="filter_structure_id" name="fun_id" />

            <div class="section1_Leave">
                <div class="transactiondivnew dynamic addons">
                    <div class="heading">Employee List</div>
                    <div>
                        <label>Search:</label>
                        <input type="text" id="Employee-Search" />
                    </div>
                    <table cellspacing="0" cellpadding="1" class="transactiontablenew" id="Employee-Table">
                        <tr>
                            <th><input type="checkbox" id="Case-Employee" /></th>
                            <th>Employee</th>
                        </tr>
                    </table>
                </div>


                <div class="section2_Leave">
                    <div class="dropdown_row1 row3 content_margine">
                        <label class="dropdown_row1 row3 content_margine">
                            PayMonth :
                        </label>
                        <input type="text" id="month" class="date" style="width:125px" />
                        <button id="btnLoad">Load</button>
                    </div>
                    <div>
                        <label class="heading">Month Data</label>
                        <div class="monthTable">
                            <table id="monthTable">
                                <tr><th>Sr.No</th><th>SwipeDate</th><th>CompInTime</th><th>CompOutTime</th><th>InTime</th><th>OutTime</th><th>Status</th></tr>
                            </table>
                        </div>
                    </div>
                </div>



                <div class="section4_Leave">
                    <div class="punchHistory">
                        <label class="heading">Punch History</label>
                        <div class="Emppunchhistory">
                            <table id="Emppunchhistory">
                                <tr><th>ReqDate</th><th>Intime</th><th>Outtime</th><th>Reason</th><th>Status</th></tr>
                            </table>
                        </div>
                    </div>


                    <div class="section3_Leave">
                        <form id="Form_Edit_Form" name="Form_Edit_Form">
                            <div class="row1 content_margine">
                                <label class="popup-content-label">Sr.No :</label>
                                <input type="text" id="sr_no" class="popup-content-textbox" readonly />
                            </div>
                            <div class="row1 content_margine">
                                <label class="popup-content-label">RoasterDate :</label>
                                <input type="text" id="RoasterDate" name="RoasterDate" class="popup-content-textbox" readonly />
                            </div>

                            <div class="row1 content_margine">
                                <label class="popup-content-label">Comp InTime :</label>
                                <input type="text" id="CompInTime" class="popup-content-textbox" readonly />
                            </div>
                            <div class="row1 content_margine">
                                <label class="popup-content-label">Comp OutTime :</label>
                                <input type="text" id="CompOutTime" class="popup-content-textbox" readonly />
                            </div>
                            <div class="row1 content_margine">
                                <label class="popup-content-label">Emp InTime :</label>
                                <input type="text" id="InTime" class="popup-content-textbox InOutTime" />
                            </div>
                            <div class="row1 content_margine">
                                <label class="popup-content-label">Emp OutTime :</label>
                                <input type="text" id="OutTime" class="popup-content-textbox InOutTime" />
                            </div>

                            <div class="row1 content_margine">
                                <label class="popup-content-label">Reason :</label>
                                @Html.TextAreaFor(m => m.Reason, new { @class = "popup-content-textbox", style = "width:140px ;height:40px", id = "Reason" })
                                @*<input type="text" id="Reason" class="popup-content-textbox" />*@


                            </div>

                            @*<button type="button" id="sub_form">Submit</button>*@
                            <div class="btnCreateOutdoorDiv">
                                <button id="Create_roaster">Create Outdoor</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            
        }


        <div id="delete_dialoage">

        </div>

        <div>

        </div>
    </div>
</body>