@{
    ViewBag.Title = "ForeignTrips";
}
@model P2b.Global.ForeignTrips

<script type="text/javascript" src="~/Scripts/P2b_Scripts/jQuery.mbValidations.js"></script>



<html>
<head>
    <title></title>
     
    <style>
       
        .icon-row {

            position: relative;
            left: -77px;
            top: -48px;
        }
        .transactiontablenew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            /*width: 200px;*/
            display: block;
            overflow: auto;
            height: 500px;
            border-collapse: collapse;
        }

        .transactiondivnew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            width: 507px;
            border-radius: 5px;
            height: 32px;
        }

            .transactiondivnew > div {
                display: inline-block;
                margin: 0 auto;
                padding: 4px;
            }

                .transactiondivnew > div > input {
                    box-sizing: initial;
                    display: inline-block;
                    margin: 0 auto;
                    width: 108px;
                }

        .transactiontablenew th, .transactiontablenew td {
            background: rgba(246, 246, 246, 0.64) none repeat scroll 0 0;
            padding: 5px;
            border-bottom: 1px solid #c5c5c5;
            border-right: 1px solid #c5c5c5;
            text-align: center;
            color: rgba(114, 113, 113, 0.9);
        }

            .transactiontablenew th:nth-child(1) > input, .transactiontablenew td:nth-child(1) > input {
                margin: 0 auto;
            }

            .transactiontablenew th:nth-child(2), .transactiontablenew td:nth-child(2) {
                height: 100%;
                width: 100%;
            }

        .transactiontablenew tr:hover {
            cursor: pointer;
            background: #EEEEEE none repeat scroll 0 0;
        }

        .section1_Leave {
            display: block;
            border: 1.5px solid rgba(207, 207, 207, 0.91);
            height: 688px;
            width: 534px;
            margin: 4px auto;
            position: absolute;
        }

        .section2_Leave {
            display: block;
            border: 1px solid #ddd;
            height: 250px;
            width: 610px;
            margin: 5px 4px;
            position: absolute;
            left: 546px;
        }


        #BusinessType-button {
            font-size: 9px;
            padding-top: 1px;
            font-weight: bold;
        }

        .popup-content-label {
            width: 100px;
            display: block;
            float: left;
            margin: 1px;
        }

        .popup-content-label-2 {
            width: 100px;
            display: block;
            float: left;
            margin: 1px;
        }

        .section1_Leave {
            display: block;
            border: 1.5px solid rgba(207, 207, 207, 0.91);
            height: 688px;
            width: 534px;
            margin: 4px auto;
            position: absolute;
        }

        .section2_Leave {
            display: block;
            border: 2px solid #ddd;
            height: 369px;
            width: 509px;
            margin: 5px 4px;
            position: absolute;
            left: 546px;
            padding-left: 11px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 150px;
        }
        .l {
            width: 138px;
            display: block;
            float: left;
            margin: 1px;
        }
        .row3 {
            width: 471px;
        }

        .row4 {
            position: absolute;
            top: 294px;
            width: 400px;
        }

        .row6 {
            width: 370px;
            display: inline-block;
        }

        .popup-content-textbox-long {
            margin-bottom: 1px;
            width: 290px;
        }



        .row2 {
            width: 402px;
        }
    </style>
</head>

<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <button class="button" id="Create">Create</button>
                <button class="button" id="View">View</button>
                <button class="button" id="Edit">Edit</button>
                <button class="button" id="Delete">Delete</button>
                <button class="button" id="Autho">Authorised</button>
                <div id="Grid_Form">
                    <div>
                        <table id="JqGrid"></table>
                        <div id="pager2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>

    <div id="Create_Dialog">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormForeginTrips", name = "FormForeginTrips" }))
        {

            <div class="section_Method" id="Section_Emp">
                <div class="heading" style="width:1065px">Employee List</div>
                <br /><br />
                <div class="employeeselectiondiv">
                    <div class="transactiondivnew dynamic addons" style="float:left" id="asd">
                        <div><label>Search : </label><input type="text" id="Employee-Search" style="width: 425px;" /></div>
                        <table cellspacing="0" cellpadding="1" class="transactiontablenew" id="Employee-Table" style="height:349px">
                            <tr><th><input type="checkbox" id="Case-Employee" class="Chck_emp" /></th><th>Employee</th></tr>
                        </table>
                    </div>
                </div>
            </div>


            <div class="section2_Leave">
                <div class=" " style="width: 506px;">

                    <input id="Autho_Action" type="hidden" name="Autho_Action" />
                    <input id="Autho_Allow" type="hidden" name="Autho_Allow" />

                    <div class=" add_row content_margine">
                        @Html.LabelFor(m => m.TripType, "Trip Type :", new { @class = "popup-content-label must" })
                        <select id="Category" name="Category" class="drop must" style="width:162px;">
                            <option value="0">-Select-</option>
                        </select>
                    </div>
                    <div class="add_row content_margine">@Html.LabelFor(m => m.FromDate, "From Date :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.FromDate, new { @class = "popup-content-textbox must" })</div>
                    <div class="add_row content_margine">@Html.LabelFor(m => m.ToDate, "To Date :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.ToDate, new { @class = "popup-content-textbox must" })</div>
                    <div class="add_row content_margine">@Html.LabelFor(m => m.Purpose, "Purpose :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Purpose, new { @class = "popup-content-textbox must" })</div>
                    <div class=" add_row content_margine">
                        @Html.LabelFor(m => m.Country, "Country :", new { @class = "popup-content-label " })
                        <select id="CountryList_DDL" name="CountryList_DDL" class="drop " style="width:162px;">
                            <option value="0">-Select-</option>
                        </select>
                        <div class="add_icon-row icon-row">
                            <button data-p2btooltip="Create Country" class="popup-content-icon-create" id="Create_country">
                                <span class="ui-icon ui-icon-newwin popup-content-iconmark"></span>
                            </button>
                        </div>
                    </div>
                    <div class="add_row content_margine  ">
                        @Html.LabelFor(m => m.State, "State :", new { @class = "popup-content-label" })
                        <select id="StateList_DDL" name="StateList_DDL" class="drop" style="width:162px;">
                            <option value="0">-Select-</option>
                        </select>
                        <div class="add_icon-row icon-row">
                            <button data-p2btooltip="Create State" class="popup-content-icon-create" id="Create_state">
                                <span class="ui-icon ui-icon-newwin popup-content-iconmark"></span>
                            </button>
                        </div>
                    </div>

                    <div class="add_row content_margine">
                        @Html.LabelFor(m => m.City, "City :", new { @class = "popup-content-label" })
                        <select id="CityList_DDL" name="CityList_DDL" class="drop" style="width:161px;">
                            <option value="0">-Select-</option>
                        </select>
                        <div class="add_icon-row icon-row">
                            <button data-p2btooltip="Create City" class="popup-content-icon-create" id="Create_city">
                                <span class="ui-icon ui-icon-newwin popup-content-iconmark"></span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="emplist_row">
                <div id="Grid_Form2">

                </div>
            </div>
        }
    </div>

</body>
</html>

<script>
    $(document).ready(function () {
        $('#Address1').MaxLength(50);
        $('#Address2').MaxLength(50);
        $('#Address3').MaxLength(50);
        $('#Purpose').MaxLength(50);

    });

    $(document).ready(function (e) {
        $('button').button();
        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;
        //ColModel = ['Id', 'FromDate', 'ToDate', 'TripType'];
        //ColNames = ['Id', 'FromDate', 'ToDate', 'TripType'];
        ColModel = ['Employee Code', 'Employee Name', 'ID'];
        ColNames = [ 'Employee Code', 'Employee Name', 'ID'];
        SortName = 'Id';
        Caption = 'Foreign Trips';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;
        function DateConvert(JsonDate) {
            var date = new Date(parseInt(JsonDate.substr(6)));
            var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
            return displayDate;
        };

        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);
        $('#ToDate').P2BDatePicker();
        $('#FromDate').P2BDatePicker();

        $('#Create_Dialog').P2BCreateDialog();
        $('#Create').button().on("click", function (e) {
            $('#FormForeginTrips').trigger('reset');
            $('#Section_Emp').fadeIn();
            $.LoadEmpByDefault(true);
            $('#Advance-Filter-Symbol').on('click', function () {
                $("<div></div>").FilterDialog({
                    width: 1000,
                    height: 400,
                    title: "Filter",
                    htmlurl: "@Url.Action("Advance_partial", "Transcation")",
                    returnat: function (data) {
                        console.log(data);
                        var forwarddata = JSON.stringify(data);
                        $('#Employee-Table').P2BTransactionTableDynamic('#Employee-Search', '#Case-Employee', './Transcation/Get_Employelist_h?geo_id=' + forwarddata + '', "");
                        //$('#Employee-Table').P2BTransactionTableDynamic('#Employee-Search', '#Case-Employee', './Transcation/Get_Employelist?geo_id=' + forwarddata + '', "");
                        //$('#pay_id').val(data.PayStruct);
                        //$('#fun_id').val(data.FunStruct);
                    },
                    renderat: "#FormFilter", hierarchy: true,
                });
                //console.log($('#FormFilter')[0]);
            });
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create Foreign Trips', 'open', '@Url.Action("create") ', '#FormForeginTrips', 'Message :', 'Request Falied :', '#JqGrid', 490, 1100, '', '', function (data) { });
            $('#Category').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 305, ""); // To bind dropdown on page load
            $('#CountryList_DDL').empty().append("<option value=0 >-Select-</option>").selectmenu().selectmenu("refresh");
            $('#StateList_DDL').empty().append("<option value=0 >-Select-</option>").selectmenu().selectmenu("refresh");
            $('#CityList_DDL').empty().append("<option value=0 >-Select-</option>").selectmenu().selectmenu("refresh");
            e.preventDefault();
        });

        $('#CountryList_DDL').on("selectmenuopen", function () {
            $('#CountryList_DDL').empty().append("<option value=0 >-Select-</option>").selectmenu().selectmenu("refresh");
            $.post("@Url.Action("PopulateDropDownList","country")", {
                data: "",
                data2: ""
            }, function (data) {
                $.each(data, function (i, k) {
                    $('#CountryList_DDL').append($("<option>", {
                        value: k.Value,
                        text: k.Text,
                        selcted: k.Selected
                    }));
                });
                jQuery('#CountryList_DDL').selectmenu('refresh').selectmenu("menuWidget").css({ "height": "120px" });
            });
        });
        $('#CountryList_DDL').P2BSelectMenuOnChange("selectmenuchange", "@Url.Action("PopulateDropDownList", "state")", '#StateList_DDL', "");
        $('#StateList_DDL').P2BSelectMenuOnChange("selectmenuchange", "@Url.Action("PopulateDropDownList", "StateRegion")", "#CityList_DDL", "");
        //$('#CityList_DDL').P2BSelectMenuOnChange("selectmenuchange", "@Url.Action("PopulateDropDownList", "area")", "#CityList_DDL", "");

        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'ID');
        };

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create_country').on("click", function (e) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "country")', 'Create Contry', 'open', '@Url.Action("Create","Country")', '#FormCountry', 'Message :', 'Request Falied :', '#JqGrid', 217, 339, '', '#CountryList_DDL', 'change', '', '', function (data) {
                $('#CountryList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "country")", "", data[0]);
            });
            e.preventDefault();
        });

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create_state').on("click", function (e) {
            if ($('#CountryList_DDL option:selected').val() == null || $('#CountryList_DDL option:selected').val() == 0 || $('#CountryList_DDL option:selected').val() == "-Select-") {
                alert('Kindly select  "Country"  first');
                return false;
            }
            else {
                $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "state") ', 'Create State', 'open', '@Url.Action("Create", "State")', '#FormState', 'Message :', 'Request Falied :', '#JqGrid', 200, 300, $("#CountryList_DDL option:selected").val(), '#CountryList_DDL', 'change', '', '', function (data) {
                    $('#StateList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "state")", "", data[0]);
                });
                e.preventDefault();
            }
        });


        @*$('<div></div>').P2BPartialCreateModalDialog();
        $('#Create_city').on("click", function (e) {
            //if ($("#TalukaList_DDL option:selected").val() == null || $("#TalukaList_DDL option:selected").val() == 0 || $("#TalukaList_DDL option:selected").val() == "-Select-") {
            //    alert('Kindly select  "Taluka"  first');
            //    return false;
            //}
            //else {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "city") ', 'Create City', 'open', '@Url.Action("Create","City")', '#FormCity', 'Message :', 'Request Falied :', '#JqGrid', 200, 300, '', '#CountryList_DDL', 'change', '', '', function (data) {
                    $('#CityList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "city")", "", data[0]);
                });

                e.preventDefault();
        });*@

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create_city').on("click", function (e) {
            if ($("#StateList_DDL option:selected").val() == null || $("#StateList_DDL option:selected").val() == 0 || $("#StateList_DDL option:selected").val() == "-Select-") {
                alert('Kindly select  "State"  first');
                return false;
            }
            else {
                $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "city") ', 'Create City', 'open', '@Url.Action("Createfortrip", "City")', '#FormCity', 'Message :', 'Request Falied :', '#JqGrid', 200, 300, $("#StateList_DDL option:selected").val(), '#StateList_DDL', 'change', '', '', function (data) {
                    $('#CityList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "city")", "", data[0]);
                });
                e.preventDefault();
            }
        });

        $('#View').button().click(function (event) {
            AssignData();
            $('#Section_Emp').fadeOut();
            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.ID, "View Data->" + JSON.stringify(dt) + "", '', '.popup-content-icon-create', 490, 1100, '#Autho', '@Url.Action("AuthSave")', dt.ID, '', '', '', '', '#JqGrid', function (data) {
                $.each(data[0], function (i, k) {
                    $('#FormForeginTrips').trigger("reset");
                    if (k.FromDate != null) { $('#FromDate').val(DateConvert(k.FromDate)); }
                    if (k.ToDate != null) { $('#ToDate').val(DateConvert(k.ToDate)); }
                    $('#Purpose').val(k.Purpose);
                    $('#Category').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 305, k.TripType_Id);
                    $('#CountryList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "country")", "", k.Country_Id);
                    $('#StateList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "State")", "", k.State_Id);
                    $('#CityList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "City")", "", k.City_Id);
                });
            });
        });



        @*//View main page
        $('#View').button().click(function (event) {
            AssignData();
            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View Corporate Data', '#AddressList,#ContactDetailsList', '#Lookup-Address-Corporate,#Create-Address-Corporate,#Edit-Address-Corporate,#Remove-Address-Corporate,#Lookup-ContactDetails-Corporate,#Create-ContactDetails-Corporate,#Edit-ContactDetails-Corporate,#Remove-ContactDetails-Corporate', 500, 620, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {
                $.each(data[0], function (i, k) {
                    $('#Autho_Action').val(k.Action);
                    $('#Code').val(k.Code);
                    $('#Name').val(k.Name);
                    $('#CategoryList_DDL').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 402, k.BusinessType_Id);
                });

                $.each(data[1], function (i, k) {
                    $('#AddressList').P2BLookUpEncapsulate('#AddressList', 'AddressList', k.Add_Id, k.Address_FullAddress, 'AddressList', '', 'N');
                    $('#ContactDetailsList').P2BLookUpEncapsulate('#ContactDetailsList', 'ContactDetailsList', k.Cont_Id, k.FullContactDetails, 'ContactDetailsList', '', 'N');
                });
                if ($("#Autho").hasClass('auto_active')) {
                    if (data[2] != null) {
                        $('#Name').oldVal(data[2].Name);
                        $('#CategoryList_DDL').oldDropval(data[2].BusinessType_Val);
                        $('#AddressList_Old').oldLookupVal(data[2].Address_Val);
                        $('#ContactDetailsList_Old').oldLookupVal(data[2].Contact_Val);
                    }
                }
            });
        });*@


        $('#Delete').button().click(function (event) {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            $('#Create_Dialog').P2BDeleteModalDialog('@Url.Action("Delete")', dt.ID, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
        });

        $('#Edit').on('click', function () {
            AssignData();
            $('#Section_Emp').fadeOut();
            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.ID, '@Url.Action("EditSave")', "Edit Data->" + JSON.stringify(dt) + "", '#FormForeginTrips', dt.ID, 'Message : ', 'Request Falied :', '#JqGrid', 490, 1100, '', '', function (data) {
                $.each(data[0], function (i, k) {
                    $('#FormForeginTrips').trigger("reset");
                    $('#Section_Emp').fadeOut();
                    if (k.FromDate != null) { $('#FromDate').val(DateConvert(k.FromDate)); }
                    if (k.ToDate != null) { $('#ToDate').val(DateConvert(k.ToDate)); }
                    $('#Purpose').val(k.Purpose);
                    $('#Category').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 305, k.TripType_Id);
                    $('#CountryList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "country")", "", k.Country_Id);
                    $('#StateList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "State")", "", k.State_Id);
                    $('#CityList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "Stateregion")", "", k.City_Id);
                });
            });
        });
        $('.drop').selectmenu().selectmenu('menuWidget');
    });
</script>