@{
    ViewBag.Title = "Address";
}
@model P2b.Global.Address



<html>
<head>
    <title></title>
    <style>
        .add_icon-row {
            position: relative;
            left: -57px;
            top: -46px;
        }

        .ui-selectmenu-text {
            color: black;
        }

        .add_popup-content-label {
            display: block;
            margin: 1px;
            float: left;
            width: 107px;
        }

        .add_popup-content-textbox {
            margin-bottom: 1px;
            min-width: 300px;
        }

        .add_row {
            width: 448px;
        }
    </style>
</head>
<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <button class="button" id="Create">Create</button>
                <button class="button" id="Delete">Delete</button>
                <button class="button" id="View">View</button>
                <button class="button" id="Edit">Edit</button>
                <button class="button" id="Autho">Authorised</button>
                <button class="button" id="Btn-Upload-Data">Upload</button>
                <div id="Grid_Form">
                    <div>
                        <table id="JqGrid"></table>
                        <div id="pager2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dialog_address">
        <div title="LookUp Data">
            <div class="lookupdiv_address"></div>
        </div>
        <div id="PageNavPosition_Address">

        </div>
    </div>
    <div id="Create_Dialog">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormAddress" }))
        {
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
            <div class="add_row content_margine">
                @Html.LabelFor(m => m.Address1, "Address line 1 :", new { @class = "add_popup-content-label must" })
                @Html.TextBoxFor(m => m.Address1, new { @class = "add_popup-content-textbox must", id = "Address1", @maxlength = "50" })
            </div>
            <div class="add_row content_margine">
                @Html.LabelFor(m => m.Address2, "Address line 2 :", new { @class = "add_popup-content-label must" })
                @Html.TextBoxFor(m => m.Address2, new { @class = "add_popup-content-textbox must", id = "Address2", @maxlength = "50" })
            </div>
            <div class="add_row content_margine">
                @Html.LabelFor(m => m.Address3, "Address line 3 :", new { @class = "add_popup-content-label" })
                @Html.TextBoxFor(m => m.Address3, new { @class = "add_popup-content-textbox", id = "Address3", @maxlength = "50" })
            </div>
            <div class="add_row content_margine">
                @Html.LabelFor(m => m.Landmark, "Landmark : ", new { @class = "add_popup-content-label" })
                @Html.TextBoxFor(m => m.Landmark, new { @class = "add_popup-content-textbox", id = "Landmark", @maxlength = "30" })
            </div>
            <div class="add_row content_margine">
                @Html.LabelFor(m => m.Country, "Country :", new { @class = "add_popup-content-label  must" })
                <select id="CountryList_DDL" name="CountryList_DDL" class="drop must" style="width:180px;">
                    <option value="0">-Select-</option>
                </select>
                <div class="add_icon-row">
                    <button data-p2btooltip="Create Country" class="popup-content-icon-create" id="Create_country">
                        <span class="ui-icon ui-icon-newwin popup-content-iconmark"></span>
                    </button>
                </div>
            </div>
            <div class="add_row content_margine  ">
                @Html.LabelFor(m => m.State, "State :", new { @class = "add_popup-content-label must" })
                <select id="StateList_DDL" name="StateList_DDL" class="drop must" style="width:180px;">
                    <option value="0">-Select-</option>
                </select>
                <div class="add_icon-row">
                    <button data-p2btooltip="Create State" class="popup-content-icon-create" id="Create_state">
                        <span class="ui-icon ui-icon-newwin popup-content-iconmark"></span>
                    </button>
                </div>
            </div>
            <div class="add_row content_margine">
                @Html.LabelFor(m => m.StateRegion, "StateRegion :", new { @class = "add_popup-content-label " })
                <select id="StateRegionList_DDL" name="StateRegionList_DDL" class="drop" style="width:180px;">
                    <option value="0">-Select-</option>
                </select>
                <div class="add_icon-row">
                    <button data-p2btooltip="Create StateRegion" class="popup-content-icon-create" id="Create_stateregion">
                        <span class="ui-icon ui-icon-newwin popup-content-iconmark"></span>
                    </button>
                </div>
            </div>
            <div class="add_row content_margine">
                @Html.LabelFor(m => m.District, "District :", new { @class = "add_popup-content-label" })
                <select id="DistrictList_DDL" name="DistrictList_DDL" class="drop" style="width:180px;">
                    <option value="0">-Select-</option>
                </select>
                <div class="add_icon-row">
                    <button data-p2btooltip="Create District" class="popup-content-icon-create" id="Create_district">
                        <span class="ui-icon ui-icon-newwin popup-content-iconmark"></span>
                    </button>
                </div>
            </div>
            <div class="add_row content_margine">
                @Html.LabelFor(m => m.Taluka, "Taluka :", new { @class = "add_popup-content-label" })
                <select id="TalukaList_DDL" name="TalukaList_DDL" class="drop" style="width:180px;">
                    <option value="0">-Select-</option>
                </select>
                <div class="add_icon-row">
                    <button data-p2btooltip="Create Taluka" class="popup-content-icon-create" id="Create_taluka">
                        <span class="ui-icon ui-icon-newwin popup-content-iconmark"></span>
                    </button>
                </div>
            </div>
            <div class="add_row content_margine">
                @Html.LabelFor(m => m.City, "City :", new { @class = "add_popup-content-label" })
                <select id="CityList_DDL" name="CityList_DDL" class="drop" style="width:180px;">
                    <option value="0">-Select-</option>
                </select>
                <div class="add_icon-row">
                    <button data-p2btooltip="Create City" class="popup-content-icon-create" id="Create_city">
                        <span class="ui-icon ui-icon-newwin popup-content-iconmark"></span>
                    </button>
                </div>
            </div>
            <div class="add_row content_margine">
                @Html.LabelFor(m => m.Area, "Area :", new { @class = "add_popup-content-label" })
                <select id="AreaList_DDL" name="AreaList_DDL" class="drop" style="width:180px;">
                    <option value="0">-Select-</option>
                </select>
                <div class="add_icon-row">
                    <button data-p2btooltip="Create Area" class="popup-content-icon-create" id="Create_area">
                        <span class="ui-icon ui-icon-newwin popup-content-iconmark"></span>
                    </button>
                </div>
            </div>
        }
    </div>


</body>
</html>
<script>

    $(document).ready(function () {
        $('#Address1').MaxLength(50);
        $('#Address2').MaxLength(50);
        $('#Address3').MaxLength(50);
        $('#Landmark').MaxLength(30);
    });

		$(document).ready(function (e) {
			$('button').button();
			var ColNames = [];
			var ColModel = [];
			var SortName, Caption, url, width, height;
			ColModel = ['Id', 'Address1', 'Address2', 'Address3', 'Landmark'];
			ColNames = ['Id', 'Address1', 'Address2', 'Address3', 'Landmark'];
			SortName = 'Id';
			Caption = 'Address Master';
			url = '@Url.Action("P2BGrid")';
			width = 1000;
			height = 150;
			$('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);





			$('#Create_Dialog').P2BCreateDialog();
			$('#Create').button().on("click", function (e) {
			    $('#FormAddress').trigger("reset");
			    $('#CountryList_DDL').empty().append("<option value=0 >-Select-</option>").selectmenu().selectmenu("refresh");
			    $('#StateList_DDL').empty().append("<option value=0 >-Select-</option>").selectmenu().selectmenu("refresh");
			    $('#StateRegionList_DDL').empty().append("<option value=0 >-Select-</option>").selectmenu().selectmenu("refresh");
			    $('#DistrictList_DDL').empty().append("<option value=0 >-Select-</option>").selectmenu().selectmenu("refresh");
			    $('#TalukaList_DDL').empty().append("<option value=0 >-Select-</option>").selectmenu().selectmenu("refresh");
			    $('#CityList_DDL').empty().append("<option value=0 >-Select-</option>").selectmenu().selectmenu("refresh");
			    $('#AreaList_DDL').empty().append("<option value=0 >-Select-</option>").selectmenu().selectmenu("refresh");

				$('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create Address', 'open', '@Url.Action("create") ', '#FormAddress', 'Message :', 'Request Falied :', '#JqGrid', 430, 565, '', '', function (data) { });
				e.preventDefault();
			});

			$('#CountryList_DDL').on("selectmenuopen", function () {
				$('#CountryList_DDL').empty().append("<option value=0 >-Select-</option>").selectmenu().selectmenu("refresh");
				$.post("@Url.Action("PopulateDropDownList","country")", {
					data: "",
					data2: ""
				}, function (data) {
					$.each(data, function (i, k) {
						$('#CountryList_DDL').append($("<option>", {
							value: k.Value,
							text: k.Text,
							selcted: k.Selected
						}));
					});
					jQuery('#CountryList_DDL').selectmenu('refresh').selectmenu("menuWidget").css({ "height": "120px" });
				});
			});
			$('#CountryList_DDL').P2BSelectMenuOnChange("selectmenuchange", "@Url.Action("PopulateDropDownList", "state")", '#StateList_DDL', "");
			$('#StateList_DDL').P2BSelectMenuOnChange("selectmenuchange", "@Url.Action("PopulateDropDownList", "StateRegion")", "#StateRegionList_DDL", "");
			$('#StateRegionList_DDL').P2BSelectMenuOnChange("selectmenuchange", "@Url.Action("PopulateDropDownList", "District")", "#DistrictList_DDL", "");
			$('#DistrictList_DDL').P2BSelectMenuOnChange("selectmenuchange", "@Url.Action("PopulateDropDownList", "Taluka")", "#TalukaList_DDL", "");
			$('#TalukaList_DDL').P2BSelectMenuOnChange("selectmenuchange", "@Url.Action("PopulateDropDownList", "City")", "#CityList_DDL", "");
			$('#CityList_DDL').P2BSelectMenuOnChange("selectmenuchange", "@Url.Action("PopulateDropDownList", "area")", "#AreaList_DDL", "");

			function AssignData() {
				dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'ID');
			};

			$('<div></div>').P2BPartialCreateModalDialog();
			$('#Create_country').on("click", function (e) {
				$('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "country")', 'Create Country', 'open', '@Url.Action("Create","Country")', '#FormCountry', 'Message :', 'Request Falied :', '#JqGrid', 317, 439, '', '#CountryList_DDL', 'change', '', '', function (data) {
					$('#CountryList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "country")", "", data[0]);
				});
				e.preventDefault();
			});

			$('<div></div>').P2BPartialCreateModalDialog();
			$('#Create_state').on("click", function (e) {
				if ($('#CountryList_DDL option:selected').val() == null || $('#CountryList_DDL option:selected').val() == 0 || $('#CountryList_DDL option:selected').val() == "-Select-") {
					alert('Kindly select  "Country"  first');
					return false;
				}
				else {
					$('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "state") ', 'Create State', 'open', '@Url.Action("Create", "State")', '#FormState', 'Message :', 'Request Falied :', '#JqGrid', 200, 350, $("#CountryList_DDL option:selected").val(), '#CountryList_DDL', 'change', '', '', function (data) {
						$('#StateList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "state")", "", data[0]);
					});
					e.preventDefault();
				}
			});

			$('<div></div>').P2BPartialCreateModalDialog();
			$('#Create_stateregion').on("click", function (e) {
				if ($('#StateList_DDL option:selected').val() == null || $('#StateList_DDL option:selected').val() == 0 || $('#StateList_DDL option:selected').val() == "-Select-") {
					alert('Kindly select  "State"  first');
					return false;
				}
				else {
					$('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "stateregion")', 'Create Region', 'open', '@Url.Action("Create", "stateregion")', '#FormRegion', 'Message :', 'Request Falied :', '#JqGrid', 200, 300, $("#StateList_DDL option:selected").val(), '#StateList_DDL', 'change', '', '', function (data) {
						$('#StateRegionList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "StateRegion")", "", data[0]);
					});
					e.preventDefault();
				}
			});


			$('<div></div>').P2BPartialCreateModalDialog();
			$('#Create_district').on("click", function (e) {
				if ($('#StateRegionList_DDL option:selected').val() == null || $('#StateRegionList_DDL option:selected').val() == 0 || $('#StateRegionList_DDL option:selected') == "-Select-") {
					alert('Kindly select  "Region"  first');
					return false;
				}
				else {
					$('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "district")', 'Create District', 'open', '@Url.Action("Create","District")', '#FormDistrict', 'Message :', 'Request Falied :', '#JqGrid', 200, 300, $("#StateRegionList_DDL option:selected").val(), '#StateRegionList_DDL', 'change', '', '', function (data) {
						$('#DistrictList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "district")", "", data[0]);
					});
					e.preventDefault();
				}
			});


			$('<div></div>').P2BPartialCreateModalDialog();
			$('#Create_taluka').on("click", function (e) {
				if ($("#DistrictList_DDL option:selected").val() == null || $("#DistrictList_DDL option:selected").val() == 0 || $("#DistrictList_DDL option:selected").val() == "-Select-") {
					alert('Kindly select  "District"  first');
					return false;
				}
				else {
					$('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "taluka") ', 'Create Taluka', 'open', '@Url.Action("Create","Taluka")', '#FormTaluka', 'Message :', 'Request Falied :', '#JqGrid', 200, 300, $("#DistrictList_DDL option:selected").val(), '#DistrictList_DDL', 'change', '', '', function (data) {
						$('#TalukaList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "taluka")", "", data[0]);
					});
					e.preventDefault();
				}
			});

			$('<div></div>').P2BPartialCreateModalDialog();
			$('#Create_city').on("click", function (e) {
				if ($("#TalukaList_DDL option:selected").val() == null || $("#TalukaList_DDL option:selected").val() == 0 || $("#TalukaList_DDL option:selected").val() == "-Select-") {
					alert('Kindly select  "Taluka"  first');
					return false;
				}
				else {
					$('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "city") ', 'Create City', 'open', '@Url.Action("Create","City")', '#FormCity', 'Message :', 'Request Falied :', '#JqGrid', 200, 300, $("#TalukaList_DDL option:selected").val(), '#TalukaList_DDL', 'change', '', '', function (data) {
						$('#CityList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "city")", "", data[0]);
					});
					e.preventDefault();
				}
			});

			$('<div></div>').P2BPartialCreateModalDialog();
			$('#Create_area').on("click", function (e) {
				if ($("#CityList_DDL option:selected").val() == null || $("#CityList_DDL option:selected").val() == 0 || $("#CityList_DDL option:selected").val() == "-Select-") {
					alert('Kindly select  "City"  first');
					return false;
				}
				else {
					$('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "area")', 'Create Area', 'open', '@Url.Action("Create","Area")', '#FormArea', 'Message :', 'Request Falied :', '#JqGrid', 200, 300, $("#CityList_DDL option:selected").val(), '#CityList_DDL', 'change', '', '', function (data) {
						$('#AreaList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "area")", "", data[0]);
					});
					e.preventDefault();
				}
			});

			@*$('#View').button().click(function (event) {
            AssignData();
            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View', '', '.popup-content-icon-create', 430, 465, function (data) {
                $.each(data, function (i, k) {
                    $('#FormAddress').trigger("reset");
                    $('#Address1').val(k.Address1);
                    $('#Address2').val(k.Address2);
                    $('#Address3').val(k.Address3);
                    $('#Landmark').val(k.Landmark);
                    $('#CountryList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "country")", "", k.Country_Id);
                    $('#StateList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "State")", "", k.State_Id);
                    $('#StateRegionList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "StateRegion")", "", k.StateRegion_Id);
                    $('#DistrictList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "District")", "", k.District_Id);
                    $('#TalukaList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "Taluka")", "", k.Taluka_Id);
                    $('#CityList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "City")", "", k.City_Id);
                    $('#AreaList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "Area")", "", k.Area_Id);
                });
            });
        });*@


			$('#View').button().click(function (event) {
				AssignData();
				@*$('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View', '#BasicScaleDetailslist', '', 356, 512, '#Autho', '@Url.Action("delete")', '', '', '', '','','', function (data) {*@
				$('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View Address', '', '', 500, 620, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {
					$.each(data[0], function (i, k) {
						$('#Autho_Action').val(k.Action);
						$('#Address1').val(k.Address1);
						$('#Address2').val(k.Address2);
						$('#Address3').val(k.Address3);
						$('#Landmark').val(k.Landmark);
						$('#CountryList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "country")", "", k.Country_Id);
						$('#StateList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "State")", "", k.State_Id);
						$('#StateRegionList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "StateRegion")", "", k.StateRegion_Id);
						$('#DistrictList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "District")", "", k.District_Id);
						$('#TalukaList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "Taluka")", "", k.Taluka_Id);
						$('#CityList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "City")", "", k.City_Id);
						$('#AreaList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "Area")", "", k.Area_Id);
					});

					//$.each(data[1], function (i, k) {
					//    $('#AddressList').P2BLookUpEncapsulate('#AddressList', 'AddressList', k.Add_Id, k.Address_FullAddress, 'AddressList', '', 'N');
					//    $('#ContactDetailsList').P2BLookUpEncapsulate('#ContactDetailsList', 'ContactDetailsList', k.Cont_Id, k.FullContactDetails, 'ContactDetailsList', '', 'N');
					//});

					if ($("#Autho").hasClass('auto_active')) {
						if (data[2] != null) {
							$('#Address1').StickNote(data[2].Address1);
							$('#Address2').StickNote(data[2].Address2);
							$('#Address3').StickNote(data[2].Address3);
							$('#Landmark').StickNote(data[2].Landmark);
							$('#CountryList_DDL').StickNote(data[2].Country_Val);
							$('#StateList_DDL').StickNote(data[2].State_Val);
							$('#StateRegionList_DDL').StickNote(data[2].StateRegion_Val);
							$('#DistrictList_DDL').StickNote(data[2].District_Val);
							$('#TalukaList_DDL').StickNote(data[2].Taluka_Val);
							$('#CityList_DDL').StickNote(data[2].City_Val);
							$('#AreaList_DDL').StickNote(data[2].Area_Val);

							//$('#AddressList_Old').oldLookupVal(data[2].Address_Val);
							//$('#ContactDetailsList_Old').oldLookupVal(data[2].Contact_Val);
						}
					}
				});
			});

			$('#Delete').button().click(function (event) {
				dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'ID');
				$('#Create_Dialog').P2BDeleteModalDialog('@Url.Action("Delete")', dt.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
			});

			$('#Edit').on('click', function () {
				AssignData();
				$('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit Address", '#FormAddress', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 500, 620, '', '', function (data) {
					$.each(data[0], function (i, k) {
						$('#FormAddress').trigger("reset");
						$('#Address1').val(k.Address1);
						$('#Address2').val(k.Address2);
						$('#Address3').val(k.Address3);
						$('#Landmark').val(k.Landmark);

						$('#CountryList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "country")", "", k.Country_Id);
						$('#StateList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "State")", "", k.State_Id);
						$('#StateRegionList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "StateRegion")", "", k.StateRegion_Id);
						$('#DistrictList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "District")", "", k.District_Id);
						$('#TalukaList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "Taluka")", "", k.Taluka_Id);
						$('#CityList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "City")", "", k.City_Id);
						$('#AreaList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "Area")", "", k.Area_Id);
					});

					$('#Autho_Allow').val(data[3]); //Compulsory for authorisation
				});

			});

		    $('#Btn-Upload-Data').on('click', function (e) {
		        
		        $('<div></div>').PartialCreateDialog({
		            height: '500',
		            width: '700',
		            form: '#FormLookup',
		            title: 'Upload',
		            htmlurl: '@Url.Action("PARTIAL","JSONUPLOAD")',
		            state: "open",
		            mode: 'edit',
		            editurl: null,
		            submiturl: null,
		            editdata: 'a',
		            forwarddata: 'a',
		            returndatafunction: function (data) {
		                console.log(data);
		            },
		            submitfun: function (data) {
		                console.log(data);
		            }
		        });

		        e.preventDefault();
		    });

			$('.drop').selectmenu().selectmenu('menuWidget');
			$('#Autho').makeDisable('#Create,#Edit,#Delete');
			$('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');
		});


</script>