
@{
    Layout = null;
}
@model Payroll.TicketBookingRequest



<style>
    .icon-row {
        position: relative;
        left: 84px;
        top: -150px;
    }

    #BusinessType-button {
        font-size: 9px;
        padding-top: 1px;
        font-weight: bold;
    }

    .popup-content-label {
        display: block;
        float: left;
        width: 130px;
    }

    .popup-content-textbox {
        margin-bottom: 1px;
        min-width: 150px;
    }

    .popup-content-textbox1 {
        margin-left: 7px;
        float: right;
        min-width: 150px;
        top: 221px;
        position: absolute;
    }

    .row3 {
        width: 626px;
    }

    .row4 {
        position: absolute;
        top: 294px;
        width: 400px;
    }

    .popup-content-textbox-long {
        margin-bottom: 1px;
        width: 290px;
    }


    .row2 {
        width: 402px;
    }

    .section_Method {
        border: 1px solid rgba(207, 207, 207, 0.91);
        border-radius: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .process_btn {
        float: right;
    }

    .section2_Leave {
        width: 401px;
    }

    #lvdata {
        display: block;
        float: right;
    }

    .add_icon-row {
        position: relative;
        left: -20px;
        top: -46px;
    }
</style>

<html>
<head>
    <title></title>
    

    <script>
        $(document).ready(function () {
            $('button').button();

            $('.drop').selectmenu().selectmenu("menuWidget");
        });
    </script>
</head>

<body>

    <div id="create_dialog">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmTicketbookingrequest", name = "frmTicketbookingrequest", enctype = "multipart/form-data" }))
        {

            <div class="section2_Leave">
                <div class=" " style="width: 506px;">

                    <input id="autho_action" type="hidden" name="autho_action" />
                    <input id="autho_allow" type="hidden" name="autho_allow" />

                  
                    <div class="row3 content_margine addons">
                        <div id="JourneyDetailsList_old"></div>
                        @Html.LabelFor(m => m.JourneyDetails, "Journey Details:", new { @class = "popup-content-label" })
                        <div class="popup-content-table">
                            <table class="lookuptableselected" id="JourneyDetailsList">
                                <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                            </table>
                        </div>
                        <div class="icon-row">
                            <button data-p2btooltip="Lookup Journey Details" class="button popup-content-icon-lookup" id="lookup-JourneyDetails-LTCSettlementClaim"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Create Journey Details" class="button popup-content-icon-create" id="create-JourneyDetails-LTCSettlementClaim"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Edit Journey Details" class="button popup-content-icon-edit" id="edit-JourneyDetails-LTCSettlementClaim"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Remove Journey Details" class="button popup-content-icon-remove" id="remove-JourneyDetails-LTCSettlementClaim"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                        </div>
                    </div>


                    <div class="row3 content_margine">@Html.LabelFor(m => m.ReqDate, "Req. Date :", new { @class = "popup-content-label must" })
                    @Html.TextBoxFor(m => m.ReqDate, new { @class = "popup-content-textbox must", @maxlength = "10" })</div>
                    <div class="row3 content_margine">
                        @Html.LabelFor(m => m.BillNo, "Bill No :", new { @class = "popup-content-label " })
                        @Html.TextBoxFor(m => m.BillNo, new { @class = "popup-content-textbox must" })
                    </div>
                    <div class="row3 content_margine">
                        @Html.LabelFor(m => m.BillAmount, "Bill Amount  :", new { @class = "popup-content-label " })
                        @Html.TextBoxFor(m => m.BillAmount, new { @class = "popup-content-textbox must" })
                    </div>

                    <div class="row3 content_margine">
                        @Html.LabelFor(m => m.Elligible_BillAmount, "Eligible Bill Amount  :", new { @class = "popup-content-label " })
                        @Html.TextBoxFor(m => m.Elligible_BillAmount, new { @class = "popup-content-textbox must" })
                    </div>
                    <div class="row3 content_margine">
                        @Html.LabelFor(m => m.TotFamilyMembers, "Total Family member :", new { @class = "popup-content-label " })
                        @Html.TextBoxFor(m => m.TotFamilyMembers, new { @class = "popup-content-textbox must" })
                    </div>
                    <div class="row3 content_margine">
                        @Html.LabelFor(m => m.TotalAdults, "Total Adults :", new { @class = "popup-content-label " })
                        @Html.TextBoxFor(m => m.TotalAdults, new { @class = "popup-content-textbox must" })
                    </div>
                    <div class="row3 content_margine">
                        @Html.LabelFor(m => m.TotalChild, "Total Child :", new { @class = "popup-content-label " })
                        @Html.TextBoxFor(m => m.TotalChild, new { @class = "popup-content-textbox must" })
                    </div>
                    <div class="row3 content_margine">
                        @Html.LabelFor(m => m.TotalInfant, "Total Infant :", new { @class = "popup-content-label " })
                        @Html.TextBoxFor(m => m.TotalInfant, new { @class = "popup-content-textbox must" })
                    </div>
                    <div class="row3 content_margine">
                        @Html.LabelFor(m => m.TotalSrCitizen, "Total Sr. Citizen :", new { @class = "popup-content-label " })
                        @Html.TextBoxFor(m => m.TotalSrCitizen, new { @class = "popup-content-textbox must" })
                    </div>
                    <div class="row3 content_margine">
                        @Html.LabelFor(m => m.SpecialRemark, "SpecialRemark :", new { @class = "popup-content-label " })
                        @Html.TextBoxFor(m => m.SpecialRemark, new { @class = "popup-content-textbox must" })
                    </div>


                    <div class="row3 content_margine">
                        @Html.LabelFor(m => m.Narration, "Narration  :", new { @class = "popup-content-label " })
                        @Html.TextBoxFor(m => m.Narration, new { @class = "popup-content-textbox must" })
                    </div>
                    

                    <div class="row3 content_margine">
                        <div id="Empdoclist_old"></div>
                        @*@Html.LabelFor(m => m.EmployeeDocuments, "Document details :", new { @class = "popup-content-label add_label" })*@
                        <label class="popup-content-label">Reference Document :</label>
                        <div class="popup-content-table">
                            <table class="lookuptableselected" id="CandidateDocumentslist">
                                <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                            </table>

                        </div>

                        <div class="icon-Document icon-row">
                            <button data-p2btooltip="Lookup Document Details" class=" popup-content-icon-lookup" id="lookup-CandidateDocuments-Candidate"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Create Document Details" class=" popup-content-icon-create" id="create-CandidateDocuments-Candidate"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Edit Document Details" class=" popup-content-icon-edit" id="edit-CandidateDocuments-Candidate"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Delete Document Details" class=" popup-content-icon-remove" id="remove-CandidateDocuments-Candidate"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                        </div>


                    </div>



                </div>
            </div>
           
        }
    </div>
</body>
</html>