@{
    Layout = null;
}
@model IR.OffenseObject
@*<link href="~/Content/staginant/staginant.css" rel="stylesheet" />*@


    <div>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmOffenseObject", name = "frmOffenseObject" }))
        {

            <div class="row3 content_margine">
                @Html.LabelFor(m => m.OffenceName, "Offence Name :", new { @class = "popup-content-label must" })
                <select class="drop must" style="width:165px;" name="OffenceNamelist" id="OffenceNamelist">
                    <option></option>
                </select>
            </div><br>
            <div class="row3 content_margine">
                @Html.LabelFor(m => m.OffenceType, " Offence Type:", new { @class = "popup-content-label must" })
                <select class="drop must" style="width:165px;" name="OffenceTypelist" id="OffenceTypelist">
                    <option></option>
                </select>
            </div><br>
            <div class=" row3 content_margine">
                @Html.LabelFor(m => m.DischargeOffencesCount, "Discharge Offences Count :", new { @class = "popup-content-label must" })
                @Html.TextBoxFor(m => m.DischargeOffencesCount, new { @class = "popup-content-textbox must" })
            </div>



        }
    </div>
<script>
    $(function () {
        $('#OffenceNamelist').selectmenu().selectmenu('menuWidget');
        $('#OffenceNamelist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 3038, "");
        $('#OffenceTypelist').selectmenu().selectmenu('menuWidget');
        $('#OffenceTypelist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 3037, "");
    }
  );
 </script>


