@{
    ViewBag.Title = "BMS Module Type Policy Assignment";
}
@model Payroll.BMSModuleTypePolicyAssignment
<html>
<head>
    <title></title>
    <style>
        .icon-row {
            position: relative;
            left: 146px;
            top: -149px;
        }

        .popup-content-label {
            display: block;
            float: left;
            width: 186px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 150px;
        }

        .popup-content-textbox1 {
            margin-left: 3px;
            margin-top: 2px;
            position: absolute;
        }

        .row3 {
            width: 548px;
        }

        .row2 {
            display: inline-block;
            width: 450px;
        }

        /*.add-dialog-content {
            float: right;
            right: 0;
            width: 678px;
        }*/

        /*.form-of-element {
            display: block;
            border: #DEDEDE solid 0.1px;
            width: auto;
            height: 650px;
            padding: 5px 2px;
            margin-top: 3px;
        }*/

        .select_div {
        }
    </style>

</head>
<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <button class="button" id="add">Add</button>
                <button class="button" id="Edit">Edit</button>

            </div>
        </div>
    </div>

    <div id="Grid_Form">
        <div>
            <div id="Container" class="container">
                <div id="Demo">
                    <table id="MyTable" class="display" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>DD</th>
                                <th>PolicyName</th>
                                <th>ID</th>
                            </tr>
                        </thead>
                        @*<tfoot>
                                <tr>
                                    <th>DD</th>
                                    <th>ID</th>
                                    <th>EmployeeCode</th>
                                    <th>EmployeeName</th>
                                </tr>
                            </tfoot>*@
                    </table>
                </div>
            </div>
            @*<table id="JqGrid"></table>
                <div id="pager2"></div>*@
        </div>
    </div>

    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>
    <div id="Create_Dialog">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmBMSModuleTypePolicyAssignment", name = "frmBMSModuleTypePolicyAssignment" }))
        {




            <div>
                @*<div class="row2 select_div content_margine"><label class="popup-content-label must">DIARY TYPE</label><select id="DIARYTypelist" name="DIARYTypelist" class="drop must" style="width:159px;"><option value="0">DIARY</option></select></div>

                <br />*@
            <div class="row2 select_div content_margine">
                @Html.LabelFor(m => m.PolicyType, "DIARY TYPE:", new { @class = "popup-content-label must" })
                <select id="DIARYTypelist" name="DIARYTypelist" class="drop must"></select> 
            </div>
            <div class="row6 content_margine addons">
                <div id="TravelEligibilityPolicy_old"></div>
                @Html.LabelFor(m => m.TravelEligibilityPolicy, "Travel Eligibility Policy:", new { @class = "popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="TravelEligibilityPolicyList">
                        <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup Travel Eligibility Policy" class="button popup-content-icon-lookup" id="Lookup-TravelEligibilityPolicy-BMSModuleTypePolicyAssignment"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    @*<button data-p2btooltip="Create Travel Eligibility Policy" class="button popup-content-icon-create" id="Create-TravelEligibilityPolicy-BMSModuleTypePolicyAssignment"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Edit Travel Eligibility Policy" class="button popup-content-icon-edit" id="Edit-TravelEligibilityPolicy-BMSModuleTypePolicyAssignment"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>*@
                    <button data-p2btooltip="Remove Travel Eligibility Policy" class="button popup-content-icon-remove" id="Remove-TravelEligibilityPolicy-BMSModuleTypePolicyAssignment"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>





            <div class="row6 content_margine addons">
                <div id="HotelEligibilityPolicy_old"></div>
                @Html.LabelFor(m => m.HotelEligibilityPolicy, "Hotel Eligibility Policy:", new { @class = "popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="HotelEligibilityPolicyList">
                        <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup Hotel Eligibility Policy" class="button popup-content-icon-lookup" id="Lookup-HotelEligibilityPolicy-BMSModuleTypePolicyAssignment"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    @*<button data-p2btooltip="Create Hotel Eligibility Policy" class="button popup-content-icon-create" id="Create-HotelEligibilityPolicy-BMSModuleTypePolicyAssignment"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Edit Hotel Eligibility Policy" class="button popup-content-icon-edit" id="Edit-HotelEligibilityPolicy-BMSModuleTypePolicyAssignment"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>*@
                    <button data-p2btooltip="Remove Hotel Eligibility Policy" class="button popup-content-icon-remove" id="Remove-HotelEligibilityPolicy-BMSModuleTypePolicyAssignment"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>



            <div class="row6 content_margine addons">
                <div id="TravelModeEligibilityPolicy_old"></div>
                @Html.LabelFor(m => m.TravelModeEligibilityPolicy, "Travel Mode Eligibility Policy:", new { @class = "popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="TravelModeEligibilityPolicyList">
                        <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup Travel Mode Eligibility Policy" class="button popup-content-icon-lookup" id="Lookup-TravelModeEligibilityPolicy-BMSModuleTypePolicyAssignment"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    @*<button data-p2btooltip="Create Travel Mode Eligibility Policy" class="button popup-content-icon-create" id="Create-TravelModeEligibilityPolicy-BMSModuleTypePolicyAssignment"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Edit Travel Mode Eligibility Policy" class="button popup-content-icon-edit" id="Edit-TravelModeEligibilityPolicy-BMSModuleTypePolicyAssignment"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>*@
                    <button data-p2btooltip="Remove Travel Mode Eligibility Policy" class="button popup-content-icon-remove" id="Remove-TravelModeEligibilityPolicy-BMSModuleTypePolicyAssignment"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>

            <div class="row6 content_margine addons">
                <div id="TravelModeRateCeilingPolicy_old"></div>
                @Html.LabelFor(m => m.TravelModeRateCeilingPolicy, "Travel Mode Rate Ceiling Policy:", new { @class = "popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="TravelModeRateCeilingPolicyList">
                        <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup Travel Mode Rate Ceiling Policy" class="button popup-content-icon-lookup" id="Lookup-TravelModeRateCeilingPolicy-BMSModuleTypePolicyAssignment"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    @*<button data-p2btooltip="Create Travel Mode Rate Ceiling Policy" class="button popup-content-icon-create" id="Create-TravelModeRateCeilingPolicy-BMSModuleTypePolicyAssignment"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Edit Travel Mode Rate Ceiling Policy" class="button popup-content-icon-edit" id="Edit-TravelModeRateCeilingPolicy-BMSModuleTypePolicyAssignment"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>*@
                    <button data-p2btooltip="Remove Travel Mode Rate Ceiling Policy" class="button popup-content-icon-remove" id="Remove-TravelModeRateCeilingPolicy-BMSModuleTypePolicyAssignment"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>

            <div class="row6 content_margine addons">
                <div id="DAEligibilityPolicy_old"></div>
                @Html.LabelFor(m => m.DAEligibilityPolicy, "DA Eligibility Policy:", new { @class = "popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="DAEligibilityPolicyList">
                        <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup DA Eligibility Policy" class="button popup-content-icon-lookup" id="Lookup-DAEligibilityPolicy-BMSModuleTypePolicyAssignment"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    @*<button data-p2btooltip="Create Travel Mode Rate Ceiling Policy" class="button popup-content-icon-create" id="Create-TravelModeRateCeilingPolicy-BMSModuleTypePolicyAssignment"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Edit Travel Mode Rate Ceiling Policy" class="button popup-content-icon-edit" id="Edit-TravelModeRateCeilingPolicy-BMSModuleTypePolicyAssignment"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>*@
                    <button data-p2btooltip="Remove DA Eligibility Policy" class="button popup-content-icon-remove" id="Remove-DAEligibilityPolicy-BMSModuleTypePolicyAssignment"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>

        </div>


        }
        </div>
    </body>
</html>
<script>
    $(document).ready(function (e) {
        $('button').button();
        //$('#DIARYTypelist').attr("Enable")
        $('#MyTable').MultiLevelInlineEditGrid({
            url: "@Url.Action("Emp_Grid")",
            @*editurl: "@Url.Action("EditGridDetails", "LTCSettlementClaim")",
            htmurl: "@Url.Action("partial", "LTCSettlementClaim")",
            submiturl: "@Url.Action("GridEditSave", "LTCSettlementClaim")",*@
            columnname: ["PolicyName", "Id"],
            childheader: ["TravelEligibilityPolicy", "HotelEligibilityPolicy", "TravelModeEligibilityPolicy", "TravelModeRateCeilingPolicy", "DAEligibilityPolicy", "Id"],
            childurl: "@Url.Action("Get_Moduledata", "BMSModuleTypePolicyAssignment")",
            tableheader: "BMS MODULE TYPE POLICY ASSIGNMENT",
            childurlColumnNo: "2"
        });
        function DateConvert(JsonDate) {
            var date = new Date(parseInt(JsonDate.substr(6)));
            var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
            return displayDate;
        };
        $.DataTableChildManipulation = function (init, id, parentid, htmurl, editurl, submiturl) {
            var parent_element = $(init).parents('td:last').parent().prev();
            var chhassa = $(parent_element).find('td:eq(1)').html();
            console.log(parent_element);
            var dt = $('#MyTable').DataTable();
            var htmlcomponant = {
                init: init,
                Id: id,
                idx: parentid,
                htmurl: htmurl,
                editurl: editurl,
                submiturl: submiturl,
            };
            if ($(init).hasClass('ui-icon-newwin')) {
                $('<div></div>').PartialCreateDialog({
                    height: 'auto',
                    width: 'auto',
                    form: "#Edit-LTCAdvanceClaim",
                    htmlurl: "@Url.Action("GridPartial", "LTCAdvanceClaim")",
                    state: "open",
                    mode: "View",
                    editurl: "@Url.Action("GridEditData", "LTCAdvanceClaim")",
                    submiturl: "@Url.Action("GridEditSave", "LTCAdvanceClaim")",
                    editdata: id,
                    forwarddata: id,
                    returndatafunction: function (returndata) {
                        $.each(returndata.returndata, function (i, k) {
                            $('#Edit-ProposedPlace').val(k.ProposedPlace);
                            $('#Edit-LTCEligibleAmount').val(k.EligibleAmount);
                            $('#Edit-LTCAdvanceAmount').val(k.AdvanceAmount);
                            $('#Edit-Remark').val(k.Remark);


                        });
                    },
                });
            } else if ($(init).hasClass('ui-icon-pencil')) {
                // //debugger
                $('<div></div>').PartialCreateDialog({
                    height: 'auto',
                    width: '40%',
                    form: "#frmDIARYSettlmentClaimPartial",
                    htmlurl: "@Url.Action("GridPartial", "DIARYSettlementClaim")",
                    state: "open",
                    mode: "Edit",
                    editurl: "@Url.Action("GridEditData", "DIARYSettlementClaim")",
                    submiturl: "@Url.Action("GridEditSave", "DIARYSettlementClaim")",
                    editdata: id,
                    forwarddata: id,
                    returndatafunction: function (data) {
                        $.each(data, function (i, k) {
                            console.log("employeeids");
                            console.log(chhassa);
                            $('#EmployeeSettleId').val(chhassa);
                            $('#DIARYTypelistPartial').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 3009, k.DIARYType); // Dropdown bind

                            $('#DIARYclaimamtaprtial').val(k.Claim_Amt);
                            $('#DIARYeligibleamtpartial').val(k.Eligible_Amt);
                            if (k.ReqDate != null) { $('#DateApplPartial').val(DateConvert(k.ReqDate)); }
                            $('#ltcnoofdayspartial').val(k.Noofdays)
                            $('#DIARYEncashamtprtial').val(k.EncashmentAmount);
                            $('#DIARYadvamtpartial').val(k.AdvAmt);
                            $('#DIARYsettleamtpartial').val(k.SettlementAmt);
                            $('#DIARYremarkpartial').val(k.Remark);
                            $('#DIARYAdvanceClaimListPartial').P2BLookUpEncapsulate('#DIARYAdvanceClaimListPartial', 'DIARYAdvanceClaimListPartial', k.DIARYAdvanceClaimid, k.LTCAdvanceClaimfulldetails, 'DIARYAdvanceClaimListPartial', '#Edit-Rent-HRATransTPartial,#Remove-Rent-HRATransTPartial', 'A');
                            $('#JourneyDetailsListPartial').P2BLookUpEncapsulate('#JourneyDetailsListPartial', 'JourneyDetailsListPartial', k.JourneydetailsId, k.JourneydetailsFulldetails, 'JourneyDetailsListPartial', '#Edit-Rent-HRATransTPartial,#Remove-Rent-HRATransTPartial', 'A');
                            $.each(k.travelhoteldetails, function (l, m) {
                                $('#HotelBookingDetailsListPartial').P2BLookUpEncapsulate('#HotelBookingDetailsListPartial', 'HotelBookingDetailsListPartial', m.id, m.fulldetails, 'HotelBookingDetailsListPartial', '#Edit-Rent-HRATransTPartial,#Remove-Rent-HRATransTPartial', 'N');

                            });

                        });
                    },
                    submitfun: function (data) {
                        var row = dt.row(parent_element);
                        if (row.child.isShown()) {
                            parent_element.removeClass('details');
                            row.child.hide();
                        }
                    }
                });
            } else if ($(init).hasClass('ui-icon-trash')) {
                // alert(chhassa);
                $('<div></div>').PartialCreateDialog({
                    state: "open",
                    mode: "Delete",
                    submiturl: "@Url.Action("Delete")",
                    forwarddata: id,
                    editdata: chhassa,
                    submitfun: function (data) {
                        var row = dt.row(parent_element);
                        if (row.child.isShown()) {
                            parent_element.removeClass('details');
                            row.child.hide();
                        }
                    }
                });
            }
        };

        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }




        $('#Create_Dialog').P2BCreateDialog();
        $('#CreateRelease_dialog').P2BCreateDialog();

        function ajaxloaderv2(cameform) {
            $('<a><i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw ajax_loder" style="color: rgba(27, 187, 173, 0.93);z-index:999;" aria-hidden="true"></i></a>').appendTo(cameform);
        };

        //Create Function
        $('#add').on("click", function (event) {

            $('#frmBMSModuleTypePolicyAssignment').trigger("reset");
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create BMS Module Type Policy Assignment', 'open', '@Url.Action("Create")', '#frmBMSModuleTypePolicyAssignment', 'Message :', 'Request Falied :', '#JqGrid', 670, 800, '', '', function (data) { }, '');
            $('#DIARYTypelist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "Lookup")', 3009, "");
            event.preventDefault();

        });
        $('#Edit').on('click', function () {
            var b = localStorage.getItem('MyTable_selected');
            var a = JSON.parse(b);
            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', a.Id, '@Url.Action("EditSave")', "Edit BMS Module Type Policy Assignment", '#frmBMSModuleTypePolicyAssignment', a.Id, 'Message : ', 'Request Falied :', '#JqGrid', 600, 950, '#HotelEligibilityPolicyList,#TravelModeRateCeilingPolicyList,#TravelModeEligibilityPolicyList,#TrainingMaterialList,#TravelEligibilityPolicyList', "", function (data) {

                $.each(data[5], function (i, k) {
                    console.log(k);

                    $('#DIARYTypelist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "Lookup")', 3009, k.PolicyType_val);
                    //$('#DIARYTypelist').prop('disabled', true);

                    $('#TravelEligibilityPolicyList').P2BLookUpEncapsulate('#TravelEligibilityPolicyList', 'TravelEligibilityPolicyList', k.TravelEligibility_Id, k.TravelEligibility_val, 'TravelEligibilityPolicyList', '#Lookup-TravelEligibilityPolicy-BMSModuleTypePolicyAssignment, #Add', 'A');
                    $('#HotelEligibilityPolicyList').P2BLookUpEncapsulate('#HotelEligibilityPolicyList', 'HotelEligibilityPolicyList', k.HotelEligibility_Id, k.HotelEligibility_val, 'HotelEligibilityPolicyList', '#Lookup-HotelEligibilityPolicy-BMSModuleTypePolicyAssignment, #Add', 'A');
                    $('#TravelModeEligibilityPolicyList').P2BLookUpEncapsulate('#TravelModeEligibilityPolicyList', 'TravelModeEligibilityPolicyList', k.TravelModeEligibility_Id, k.TravelModeEligibility_val, 'TravelModeEligibilityPolicyList', '#Lookup-TravelModeEligibilityPolicy-BMSModuleTypePolicyAssignment, #Add', 'A');
                    $('#TravelModeRateCeilingPolicyList').P2BLookUpEncapsulate('#TravelModeRateCeilingPolicyList', 'TravelModeRateCeilingPolicyList', k.TravelModeRateCeiling_Id, k.TravelModeRateCeiling_val, 'TravelModeRateCeilingPolicyList', '#Lookup-TravelModeRateCeilingPolicy-BMSModuleTypePolicyAssignment, #Add', 'A');
                    $('#DAEligibilityPolicyList').P2BLookUpEncapsulate('#DAEligibilityPolicyList', 'DAEligibilityPolicyList', k.DAEligibility_Id, k.DAEligibility_val, 'DAEligibilityPolicyList', '#Lookup-DAEligibilityPolicy-BMSModuleTypePolicyAssignment, #Add', 'A');
                });
                $('#Autho_Allow').val(data[3]);
            }, { datatablename: "#MyTable" });
        });



        //// Travel Eligibility Policy

        $('#Lookup-TravelEligibilityPolicy-BMSModuleTypePolicyAssignment').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupTravelEligibilityPolicy", "BMSModuleTypePolicyAssignment")', '', 'LookupDiv', 'BMS Module Look Up Data', '#TravelEligibilityPolicyList', 'TravelEligibilityPolicyList', 5, 'TravelEligibilityPolicyList', '#frmBMSModuleTypePolicyAssignment', 'A', '#Edit-TravelEligibilityPolicy-BMSModuleTypePolicyAssignment,#Remove-TravelEligibilityPolicy-BMSModuleTypePolicyAssignment', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });


        $('#Remove-TravelEligibilityPolicy-BMSModuleTypePolicyAssignment').button().on('click', function (event) {
            var selecetdRows = [];
            selecetdRows = $('#TravelEligibilityPolicyList').P2BGetTableDataonSelectedRow('#TravelEligibilityPolicyList', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selecetdRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#TravelEligibilityPolicyList', $('#TravelEligibilityPolicyList').val(), 200, 200, '#frmBMSModuleTypePolicyAssignment', '#TravelEligibilityPolicyList', '');
            event.preventDefault();
        });

        //// Hotel eligibility policy

        $('#Lookup-HotelEligibilityPolicy-BMSModuleTypePolicyAssignment').on('click', function (event) {
            ////debugger;
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupHotelEligibilityPolicy", "BMSModuleTypePolicyAssignment")', '', 'LookupDiv', 'BMS Module Look Up Data', '#HotelEligibilityPolicyList', 'HotelEligibilityPolicyList', 5, 'HotelEligibilityPolicyList', '#frmBMSModuleTypePolicyAssignment', 'N', '#Remove-HotelEligibilityPolicy-BMSModuleTypePolicyAssignment', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        $('#Remove-HotelEligibilityPolicy-BMSModuleTypePolicyAssignment').button().on('click', function (event) {
            var selecetdRows = [];
            selecetdRows = $('#HotelEligibilityPolicyList').P2BGetTableDataonSelectedRow('#HotelEligibilityPolicyList', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selecetdRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#HotelEligibilityPolicyList', $('#HotelEligibilityPolicyList').val(), 200, 200, '#frmBMSModuleTypePolicyAssignment', '#HotelEligibilityPolicyList', '');
            event.preventDefault();
        });


        ////lookup travel Mode Eligibility policy

        $('#Lookup-TravelModeEligibilityPolicy-BMSModuleTypePolicyAssignment').on('click', function (event) {
            ////debugger;
            $('.dialog').P2BLookUpModal('@Url.Action("GetlookupTravelModeEligibilityPolicy", "BMSModuleTypePolicyAssignment")', '', 'LookupDiv', ' Look Up Data', '#TravelModeEligibilityPolicyList', 'TravelModeEligibilityPolicyList', 5, 'TravelModeEligibilityPolicyList', '#frmBMSModuleTypePolicyAssignment', 'A', '#Remove-TravelModeEligibilityPolicy-BMSModuleTypePolicyAssignment', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        $('#Remove-TravelModeEligibilityPolicy-BMSModuleTypePolicyAssignment').button().on('click', function (event) {
            var selecetdRows = [];
            selecetdRows = $('#TravelModeEligibilityPolicyList').P2BGetTableDataonSelectedRow('#TravelModeEligibilityPolicyList', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selecetdRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#TravelModeEligibilityPolicyList', $('#TravelModeEligibilityPolicyList').val(), 200, 200, '#frmBMSModuleTypePolicyAssignment', '#TravelModeEligibilityPolicyList', '');
            event.preventDefault();
        });



        //// Travel Mode Rate Ceiling Policy

        $('#Lookup-TravelModeRateCeilingPolicy-BMSModuleTypePolicyAssignment').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetlookupTravelModeRateCeilingPolicy", "BMSModuleTypePolicyAssignment")', '', 'LookupDiv', ' Look Up Data', '#TravelModeRateCeilingPolicyList', 'TravelModeRateCeilingPolicyList', 5, 'TravelModeRateCeilingPolicyList', '#frmBMSModuleTypePolicyAssignment', 'A', '#Remove-TravelModeEligibilityPolicy-BMSModuleTypePolicyAssignment', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        $('#Remove-TravelModeRateCeilingPolicy-BMSModuleTypePolicyAssignment').button().on('click', function (event) {
            var selecetdRows = [];
            selecetdRows = $('#TravelModeRateCeilingPolicyList').P2BGetTableDataonSelectedRow('#TravelModeRateCeilingPolicyList', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selecetdRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#TravelModeRateCeilingPolicyList', $('#TravelModeRateCeilingPolicyList').val(), 200, 200, '#frmBMSModuleTypePolicyAssignment', '#TravelModeRateCeilingPolicyList', '');
            event.preventDefault();
        });


        //// DA Eligibility Policy

        $('#Lookup-DAEligibilityPolicy-BMSModuleTypePolicyAssignment').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetlookupDAEligibilityPolicy", "BMSModuleTypePolicyAssignment")', '', 'LookupDiv', ' Look Up Data', '#DAEligibilityPolicyList', 'DAEligibilityPolicyList', 5, 'DAEligibilityPolicyList', '#frmBMSModuleTypePolicyAssignment', 'A', '#Remove-DAEligibilityPolicy-BMSModuleTypePolicyAssignment', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        $('#Remove-DAEligibilityPolicy-BMSModuleTypePolicyAssignment').button().on('click', function (event) {
            var selecetdRows = [];
            selecetdRows = $('#DAEligibilityPolicyList').P2BGetTableDataonSelectedRow('#DAEligibilityPolicyList', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selecetdRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#DAEligibilityPolicyList', $('#DAEligibilityPolicyList').val(), 200, 200, '#frmBMSModuleTypePolicyAssignment', '#DAEligibilityPolicyList', '');
            event.preventDefault();
        });


        $('.popup_radio_button').controlgroup();
        $('.drop').selectmenu().selectmenu("menuWidget");
        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');

    });
</script>

