@{
    Layout = null;
}
@model  Attendance.ReportingTimingStruct
<style>
    .icon-row {
        position: relative;
        left: 60px;
        top: -150px;
    }

    .popup-content-label {
        width: 163px;
        display: block;
        float: left;
        margin: 1px;
    }
    .horizontal_row1{
       padding: 4px;

    }
    .popup-content-textbox {
        min-width: 150px;
    }
    
    .hide-div {
        display: none;
    }
</style>
<html>
<body>
    <div>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmReportingTimingStruct", name = "frmReportingTimingStruct" }))
        {
            <div class="row1 content_margine">
                @Html.LabelFor(m => m.RSName, "RSName :", new { @class = "popup-content-label must" })
                @Html.TextBoxFor(m => m.RSName, new { @class = "popup-content-textbox must" })
            </div>

            @*<div class="row1 content_margine horizontal_row1" id="radio_1">
                    <label>Select one:</label>
                    <span class="popup_radio_button radio_button_div_1">
                        <input type="radio" id="Geo_radio" name="GeoR" value="a" /><label for="Geo_radio" >Geo</label>
                        <input type="radio" name="FunR" id="Fun_radio" value="b" /><label for="Fun_radio">Fun</label>
                        <input type="radio" name="RoleR" id="Role_radio" value="c" /><label for="Role_radio">Role</label>
                    </span>
                </div>*@
            
                <div class="row1 content_margine horizontal_row1">
                    @Html.LabelFor(m => m.GeographicalAppl, "GeographicalAppl :", new { @class = "popup-content-label " })
                    <span class="popup_radio_button radio_button_div_1">
                        <input type="radio" id="ReportingStruct_radio1" name="GeographicalAppl" value="true" /><label for="ReportingStruct_radio1">Yes</label>
                        <input type="radio" name="GeographicalAppl" id="ReportingStruct_radio2" value="false" checked="checked" /><label for="ReportingStruct_radio2">No</label>
                    </span>
                </div>
             <div id="hidelv">
                 <div class="row1 content_margine horizontal_row1">
                     @Html.LabelFor(m => m.GeoGraphList, "GeoGraphList :", new { @class = "popup-content-label " })
                     <select class="drop" name="GeoGraphList-drop" style="width:120px;" id="GeoGraphList-drop">
                         <option>-Select-</option>
                     </select>
                 </div>
             </div>
            <div class="row1 content_margine horizontal_row1">
                @Html.LabelFor(m => m.IsTimeRoaster, "Is Time Roaster (only time Roaster-PMC):", new { @class = "popup-content-label " })
                <span class="popup_radio_button radio_button_div_1">
                    <input type="radio" id="IsTimeRoaster_radio3" name="IsTimeRoaster" value="true" /><label for="IsTimeRoaster_radio3">Yes</label>
                    <input type="radio" name="IsTimeRoaster" id="IsTimeRoaster_radio4" value="false" checked="checked" /><label for="IsTimeRoaster_radio4">No</label>
                </span>
            </div>
            @*<div class="row1 content_margine horizontal_row1">
                @Html.LabelFor(m => m.IsTimePolicyRoaster, "Is Time code Roaster (only time Code Roaster):", new { @class = "popup-content-label " })
                <span class="popup_radio_button radio_button_div_1">
                    <input type="radio" id="IsTimePolicyRoaster_radio3" name="IsTimePolicyRoaster" value="true" /><label for="IsTimePolicyRoaster_radio3">Yes</label>
                    <input type="radio" name="IsTimePolicyRoaster" id="IsTimePolicyRoaster_radio4" value="false" /><label for="IsTimePolicyRoaster_radio4">No</label>
                </span>
            </div>*@
            
            <div class="row1 content_margine horizontal_row1">
                @Html.LabelFor(m => m.IndividualAppl, "IndividualAppl :", new { @class = "popup-content-label " })
                <span class="popup_radio_button radio_button_div_1">
                    <input type="radio" id="ReportingStruct_radio5" name="IndividualAppl" value="true" /><label for="ReportingStruct_radio5">Yes</label>
                    <input type="radio" name="IndividualAppl" id="ReportingStruct_radio6" value="false" checked="checked" /><label for="ReportingStruct_radio6">No</label>
                </span>
            </div>
            <div id="hide">
                <div class="row1 content_margine horizontal_row1">
                    @Html.LabelFor(m => m.TimingPolicy, "TimingPolicy :", new { @class = "popup-content-label IndividualAppl-class" })
                    <div class="popup-content-table">
                        <table class="lookuptableselected" id="TimingPolicylist">
                            <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                        </table>
                    </div>
                    <div class="icon-row">
                        <button data-p2btooltip="Select TimingPolicy" class="popup-content-icon-lookup" id="Lookup-TimingPolicy-ReportingTimingStruct"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                        <button data-p2btooltip="remove TimingPolicy" class="popup-content-icon-remove" id="Remove-TimingPolicy-ReportingTimingStruct"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                    </div>
                </div>
            </div>

        }
    </div>
</body>
</html>
<script>
    $(document).ready(function () {
        $('button').button();
        $('.popup_radio_button').controlgroup();
        $('#hidelv').hide();
        $('input[name="GeographicalAppl"]:radio').change(function () {
            if (this.value == "false") {

                $('#hidelv').fadeOut();
            }
            else {
                $('#hidelv').fadeIn();

            }
        });
        $('#hide').hide();
        $('input[name="IndividualAppl"]:radio').change(function () {
            if (this.value == "false") {

                $('#hide').fadeOut();
            }
            else {
                $('#hide').fadeIn();

            }
        });

        $.OnlyOneYesAllowed('IndividualAppl,GeographicalAppl,IsTimeRoaster');

        $('#Lookup-TimingPolicy-ReportingTimingStruct').button().on('click', function (e) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetTimingPolicyLKDetails", "ReportingTimingStruct")', '', 'LookupDiv', 'Reporting Timing Struct Look Up Data', '#TimingPolicylist', 'TimingPolicylist', 5, 'TimingPolicylist', '#frmReportingTimingStruct', 'N', '', 'Lookup_table', 'PageNavPosition');
            e.preventDefault();
        });

        $('#Remove-TimingPolicy-ReportingTimingStruct').button().on('click', function (event) {
            //var a = [], b;
            //a = $('#TimingPolicylist').P2BGetTableDataonSelectedRow('#TimingPolicylist', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#TimingPolicylist').P2BGetTableDataonSelectedRow('#TimingPolicylist', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#TimingPolicylist', $('#TimingPolicylist').val(), 200, 200, '#frmReportingTimingStruct', '#TimingPolicylist', '');
            event.preventDefault();
        });

        $('.drop').selectmenu().selectmenu("menuWidget").addClass("overflow");
        $('#GeoGraphList-drop').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 604, "");
    });

</script>
