@{
    Layout = null;
}

@model Attendance.TimingGroup
 

<style>
    .icon-row1 {
        position: relative;
        left: 60px;
        top: -150px;
    }

    /* .popup_radio_button, .radioset_btn {
        display: inline-block;
    }


    .icon-row {
        position: relative;
        left: 53px;
        top: -150px;
    }

    #BusinessType-button {
        font-size: 9px;
        padding-top: 1px;
        font-weight: bold;
    }



    .popup-content-textbox {
        margin-bottom: 1px;
        min-width: 150px;
    }

    .row3 {
        width: 402px;
    }

    .row4 {
        position: absolute;
        top: 294px;
        width: 400px;
    }

    .popup-content-textbox-long {
        margin-bottom: 1px;
        width: 290px;
    }


    .row2 {
        width: 402px;
    }*/
    .popup-content-label1 {
        display: block;
        float: left;
        width: 100px;
    }
</style>

<script>
    $(document).ready(function (e) {
        $('button').button();
        var btndisablenames = "";
        var Caption, url, width, height;


        Caption = 'Timing Group';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 500;





        @*$('#Lookup-TimingPolicy-TimingGroup').button().on('click', function (event) {

            $('.dialog1').P2BLookUpModal('@Url.Action("GetTimingPolicyDetails", "TimingGroup")', '', 'LookupDiv', 'Look Timing Policy Details', '#TimingPolicylist', 'TimingPolicylist', 5, 'TimingPolicylist', 'FormTimingGroup', 'A', btndisablenames, '#Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });*@


        $('#Lookup-TimingPolicy-TimingGroup').on('click', function (event) {
            $('.dialog1').P2BLookUpModal('@Url.Action("GetTimingPolicyDetails", "TimingGroup")', '', 'lookupdiv14', 'Look Timing Policy Details', '#TimingPolicylist', 'TimingPolicylist', 5, 'TimingPolicylist', '#FormTimingGroup', 'A', '', 'Lookup_table4', 'PageNavPosition1');
            event.preventDefault();
        });



        @*$('#Create-TimingPolicy-TimingGroup').button().on('click', function (event) {
            alert('e');
            $('.dialog').P2BLookUpModal('@Url.Action("GetTimingPolicyDetails", "TimingGroup")', '', 'LookupDiv', 'Look Timing Policy Details', '#TimingPolicylist', 'TimingPolicylist', 5, 'TimingPolicylist', 'FormTimingGroup', 'A', btndisablenames, '#Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });*@


        @*$('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-TimingPolicy-TimingGroup').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "TimingGroup")', 'Create Dialog', 'open', '@Url.Action("Create", "TimingGroup")', '#FormTimingGroup', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#FormWeeklySchedule', '', function (data) {
                // to show data which is created in partial page
                $('#TimingGroupList').P2BLookUpEncapsulate('#TimingGroupList', 'TimingGroupList', data[0], data[1], 'TimingGroupList', '#Edit-TimingGroup-WeeklySchedule,#Remove-TimingGroup-WeeklySchedule', 'N');
            });
            event.preventDefault();
        });*@


        $('#Remove-TimingPolicy-TimingGroup').button().on('click', function (event) {
            // dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            //var a = [], b;
            //a = $('#TimingPolicylist').P2BGetTableDataonSelectedRow('#TimingPolicylist', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#TimingPolicylist').P2BGetTableDataonSelectedRow('#TimingPolicylist', 0);

            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, '', 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#TimingPolicylist', $('#TimingPolicylist').val(), 200, 200, '#FormTimingGroup', '#TimingPolicylist', '#Edit-ContactDetails-Corporate,#Remove-ContactDetails-Corporate');
            event.preventDefault();
        });

        $('#GroupCode').ValidateTextBox({ maxlength: 10, alphanum: true });
        $('#GroupName').ValidateTextBox({ maxlength: 50, name: true });

        $('.popup_radio_button').controlgroup();
        $('.drop').selectmenu().selectmenu("menuWidget");
        $('#Autho').makeDisable('#Create,#Edit,#Delete');
        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');
    });
</script>



<div class="dialog1">
    <div title="LookUp Data">
        <div class="lookupdiv14"></div>
    </div>
    <div id="PageNavPosition1">

    </div>
</div>

<body>
    <div id="Create_Dialog" title="Create Training Institute">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormTimingGroup1" }))
        {


            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
            <div class="row1 content_margine">@Html.LabelFor(m => m.GroupCode, " Group Code", new { @class = "popup-content-label1 must" })@Html.TextBoxFor(m => m.GroupCode, new { @class = "popup-content-textbox" })</div>
            <div class="row1 content_margine">@Html.LabelFor(m => m.GroupName, "Group Name", new { @class = "popup-content-label1 must" })@Html.TextBoxFor(m => m.GroupName, new { @class = "popup-content-textbox" })</div>


            <div class="row1 content_margine">
                @Html.LabelFor(m => m.TimingPolicy, "Timing Policy", new { @class = "popup-content-label1" })

                <div id="TimingPolicylist_old"></div>

                <div class="popup-content-table">
                    <table class="lookuptableselected" id="TimingPolicylist">
                        <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row1">
                    <button data-p2btooltip="LookUp Timing Policy Details" class="popup-content-icon-lookup" id="Lookup-TimingPolicy-TimingGroup"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    @*<button data-p2btooltip="Create Timing Policy Details" class="  popup-content-icon-create" id="Create-TimingPolicy-TimingGroup"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Edit Timing Policy Details" class="  popup-content-icon-edit" id="Edit-TimingPolicy-TimingGroup"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>*@
                    <button data-p2btooltip="Remove Timing Policy Details" class="  popup-content-icon-remove" id="Remove-TimingPolicy-TimingGroup"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>


            </div>
            <div class="row1 content_margine">
                @Html.LabelFor(m => m.IsManualRotateShift, "Rotate Shift:", new { @class = "popup-content-label1" })
                <div class="popup_radio_button radio_button_div_1">
                    <span class="popup_radio_button radio_button_div_1">
                        <input type="radio" id="radio11" name="IsManualRotateShift" value="true" /> <label for="radio11">Yes</label>
                        <input type="radio" id="radio22" name="IsManualRotateShift" value="false" checked="checked" /> <label for="radio22">No</label>
                    </span>
                </div>
            </div>
            <div class="row1 content_margine">
                @Html.LabelFor(m => m.IsAutoShift, " Auto Shifit :", new { @class = "popup-content-label1" })
                <div class="popup_radio_button radio_button_div_1">
                    <span class="popup_radio_button radio_button_div_1">
                        <input type="radio" id="radio33" name="IsAutoShift" value="true" /> <label for="radio33">Yes</label>
                        <input type="radio" id="radio44" name="IsAutoShift" value="false" checked="checked" /> <label for="radio44">No</label>
                    </span>
                </div>
            </div>

        }
    </div>
</body>