@{
    Layout = null;
}
@model Attendance.TimingMonthlyRoaster



<style>
    .icon-row {
        position: relative;
        left: 54px;
        top: -150px;
    }

    .popup_radio_button, .radioset_btn {
        display: inline-block;
    }
</style>

<script>
    $(document).ready(function (e) {
        var btndisablenames = "#Edit-TimingGroup-MonthlyRoaster,#Remove-TimingGroup-MonthlyRoaster";
        var btndisablenameAll = "#Lookup-TimingGroup-MonthlyRoaster,#Create-TimingGroup-MonthlyRoaster,#Edit-TimingGroup-MonthlyRoaster,#Remove-TimingGroup-MonthlyRoaster";
        var dt;
        $('button').button();
        var Caption, url, width, height;
        Caption = 'TimingMonthlyRoaster';
        width = 1000;
        height = 150;

        $('#RoasterName').ValidateTextBox({ maxlength: 30, name: true, alphanum: true });

        @*$('#Create_Dialog').P2BCreateDialog();
        $('#Create').on("click", function (event) {
            $('#FormTimingMonthlyRoaster').trigger("reset");
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create FormTimingMonthlyRoaster', 'open', '@Url.Action("Create")', '#FormTimingMonthlyRoaster', 'Message :', 'Request Falied :', '#JqGrid', 350, 520, '#TimingGrouplist', btndisablenames, function (data) { });
            event.preventDefault();
        });*@

        $('#Lookup-TimingGroup-MonthlyRoaster').button().on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetTimingGrpDetails", "TimingMonthlyRoaster")', '', 'LookupDiv', 'Look Timing Monthly Roaster', '#TimingGrouplist', 'TimingGrouplist', 5, 'TimingGrouplist', '#FormTimingMonthlyRoaster', 'N', btndisablenames, '#Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        // PArtial page create
        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-TimingGroup-MonthlyRoaster').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "TimingGroup")', 'Create Dialog', 'open', '@Url.Action("Create", "TimingGroup")', '#FormTimingGroup1', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#FormTimingMonthlyRoaster', '', function (data) {
                // to show data which is created in partial page
                $('#TimingGrouplist').P2BLookUpEncapsulate('#TimingGrouplist', 'TimingGrouplist', data[0], data[1], 'TimingGrouplist', btndisablenames, 'N');
            });
            event.preventDefault();
        });

        $('#Remove-TimingGroup-MonthlyRoaster').button().on('click', function (event) {
            //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            var a = [], b;
            a = $('#TimingGrouplist').P2BGetTableDataonSelectedRow('#TimingGrouplist', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#TimingGrouplist', $('#TimingGrouplist').val(), 200, 200, '#FormTimingMonthlyRoaster', '#TimingGrouplist', '');
            event.preventDefault();
        });
        ///
        @*$('#Edit-TimingGroup-MonthlyRoaster').button().on("click", function (event) {
            var a = [], b;
            a = $('#TimingGrouplist').P2BGetTableDataonSelectedRow('#TimingGrouplist', 0);
            b = a[0];
            console.log(b);
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname,                                                                                                                    height, width, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not, returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "TimingGroup")', '@Url.Action("Editcontactdetails_partial", "TimingGroup")', b, '@Url.Action("EditSave", "TimingGroup")', 'Edit Contact Details', '#FormContactDetails', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#FormCorporate', '#ContactDetailsList', 'ContactDetailsList', 'ContactDetailsList', 'N', '#Remove-ContactNo-ContDetails,#Edit-ContactNo-ContDetails', function (data) {
                // setTimeout(function () {
                $.each(data[0], function (i, k) {
                    //$('#FormContactDetails').trigger('reset');
                    //$('#EmailId').val(k.EmailId);
                    //$('#Website').val(k.Website);
                    //$('#FaxNo').val(k.FaxNo);

                    $('#FormTimingMonthlyRoaster').trigger('reset');
                    $('#GroupName').val(k.GroupName);
                    $('#GroupCode').val(k.GroupCode);
                    $('#ContactPerson').val(k.ContactPerson);
                    $('[name="IsAutoShift"]').val([k.IsAutoShift]).button().button("refresh");
                    $('[name="IsManualRotateShift"]').val([k.IsManualRotateShift]).button().button("refresh");
                });

                $.each(data[1], function (i, k) {
                    $('#TimingGrouplist').P2BLookUpEncapsulate('#TimingGrouplist', 'TimingGrouplist', k.TimingGroup_Id, k.TimingGroup_FullAddress, 'TimingGrouplist', '#Edit-ContactNo-ContDetails,#Remove-ContactNo-ContDetails', 'A');
                });
                // }, 3000);
            });
            event.preventDefault();
        });*@


        @* $('#Edit-TimingGroup-MonthlyRoaster').button().on("click", function (event) {
            var a = [], b;
            a = $('#TimingGroupList').P2BGetTableDataonSelectedRow('#TimingGroupList', 0);
            b = a[0];
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname, height, width, classoridoftheonwhichpopupderived, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not,nameidclassofbuttontodisable,returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "TimingGroup")', '@Url.Action("edit", "TimingGroup")', b, '@Url.Action("Editsave","TimingGroup")', 'Edit timinggroup', '#FormTimingGroup', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#FormTimingMonthlyRoaster', '#TimingGroupList', 'TimingGroupList', 'TimingGroupList', 'N', '#Edit-TimingGroup-MonthlyRoaster,#Remove-TimingGroup-MonthlyRoaster', function (data) {
                // setTimeout(function () {
                //to bind data according to selected id
                $.each(data[0], function (i, k) {
                    $('#FormTimingGroup').trigger('reset');
                    $('#GroupName').val(k.GroupName);
                    $('#GroupCode').val(k.GroupCode);
                    $('#ContactPerson').val(k.ContactPerson);
                    $('[name="IsAutoShift"]').val([k.IsAutoShift]).button().button("refresh");
                    $('[name="IsManualRotateShift"]').val([k.IsManualRotateShift]).button().button("refresh");
                });
                //$.each(data[1], function (i, k) {
                //    $('#TimingGroupList').P2BLookUpEncapsulate('#TimingGroupList', 'TimingGroupList', k.TimingGroup_Id, k.TimingGroup_FullDetails, 'TimingGroupList', '#Edit-TimingGroup-WeeklySchedule,#Remove-TimingGroup-WeeklySchedule', 'N');
                //});


                //alert(data[3]);
                $('#Autho_Allow').val(data[3]); //Compulsory for authorisation
            });
            event.preventDefault();
        })*@

        ///

        $('#Edit-TimingGroup-MonthlyRoaster').button().on("click", function (event) {
            var a = [], b;
            a = $('#TimingGrouplist').P2BGetTableDataonSelectedRow('#TimingGrouplist', 0);
            b = a[0];
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname, height, width, classoridoftheonwhichpopupderived, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not,nameidclassofbuttontodisable,returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "TimingGroup")', '@Url.Action("edit", "TimingGroup")', b, '@Url.Action("Editsave","TimingGroup")', 'Edit timinggroup', '#FormTimingGroup1', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#FormTimingMonthlyRoaster', '#TimingGrouplist', 'TimingGrouplist', 'TimingGrouplist', 'N', '#Edit-TimingGroup-MonthlyRoaster,#Remove-TimingGroup-MonthlyRoaster', function (data) {
                // setTimeout(function () {
                //to bind data according to selected id
                $.each(data[0], function (i, k) {
                    $('#FormTimingGroup1').trigger('reset');
                    $('#GroupName').val(k.GroupName);
                    $('#GroupCode').val(k.GroupCode);
                    $('#ContactPerson').val(k.ContactPerson);
                    $('[name="IsAutoShift"]').val([k.IsAutoShift]).button().button("refresh");
                    $('[name="IsManualRotateShift"]').val([k.IsManualRotateShift]).button().button("refresh");
                });
                $.each(data[1], function (i, k) {
                    // $('#TimingGroupList').P2BLookUpEncapsulate('#TimingGroupList', 'TimingGroupList', k.TimingGroup_Id, k.TimingGroup_FullDetails, 'TimingGroupList', '#Edit-TimingGroup-WeeklySchedule,#Remove-TimingGroup-WeeklySchedule', 'N');
                    $('#TimingPolicylist').P2BLookUpEncapsulate('#TimingPolicylist', 'TimingPolicylist', k.TimingPolicy_Id, k.TimingPolicy_FullDetails, 'TimingPolicylist', '', 'N');
                });


                //alert(data[3]);
                $('#Autho_Allow').val(data[3]); //Compulsory for authorisation
            });
            event.preventDefault();
        });

        ///



        ////
        $('#Edit').on('click', function (event) {
            AssignData();
            $('#FormTimingMonthlyRoaster').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit Data", '#FormTimingMonthlyRoaster', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 500, 620, '#TimingGrouplist', '', function (data) {
                $.each(data[0], function (i, k) {
                    $('#FormTimingMonthlyRoaster').trigger('reset');
                    $('#RoasterName').val(k.RoasterName);
                });

                $.each(data[1], function (i, k) {
                    $('#TimingGrouplist').P2BLookUpEncapsulate('#TimingGrouplist', 'TimingGrouplist', k.TimingGroup_Id, k.TimingGroup_FullAddress, 'TimingGrouplist', btndisablenames, 'N');
                });


                //alert(data[3]);
                $('#Autho_Allow').val(data[3]); //Compulsory for authorisation
            });
            event.preventDefault();
        });


        //View main page
        $('#View').button().click(function (event) {
            AssignData();
            $('#FormTimingMonthlyRoaster').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View', '#TimingGrouplist', btndisablenameAll, 500, 620, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {
                $.each(data[0], function (i, k) {
                    $('#Autho_Action').val(k.Action);
                    $('#Id').val(k.Id);
                    $('#RoasterName').val(k.RoasterName);
                });

                $.each(data[1], function (i, k) {
                    $('#TimingGrouplist').P2BLookUpEncapsulate('#TimingGrouplist', 'TimingGrouplist', k.TimingGroup_Id, k.TimingGroup_FullAddress, 'TimingGrouplist', btndisablenames, 'N');
                });

                //To bind old data if authorisation is true
                if ($("#Autho").hasClass('auto_active')) {
                    $('#RoasterName').oldVal(data[2].RoasterName);
                    $('#TimingGrouplist_old').oldVal(data[2].TimingGroup_Val);
                }
            });
        });


        $('.popup_radio_button').controlgroup();
        $('#Autho').makeDisable('#Create,#Edit,#Delete');
        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');
    });
</script>
<div id="Create_Dialog" title="Create TimingMonthlyRoaster">

    @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmTimingMonthlyRoaster1", name = "frmTimingMonthlyRoaster1" }))
    {
        <input id="Autho_Action" type="hidden" name="Autho_Action" />
        <input id="Autho_Allow" type="hidden" name="Autho_Allow" />

        <div class="row3 content_margine">
            @Html.LabelFor(m => m.RoasterName, "RoasterName:", new { @class = "popup-content-label must" })
            @Html.TextBoxFor(m => m.RoasterName, new { @class = "popup-content-textbox must", @maxlength = "50" })
        </div>


        <div class="row3 content_margine">
            <div id="TimingGrouplist_old"></div>
            @Html.LabelFor(m => m.TimingGroup, "TimingGroup :", new { @class = "popup-content-label" })
            <div class="popup-content-table">
                <table class="lookuptableselected" id="TimingGrouplist">
                    <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                </table>
            </div>
            <div class="icon-row">
                <button data-p2btooltip="Select Timing  Group" class="  popup-content-icon-lookup" id="Lookup-TimingGroup-MonthlyRoaster"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                <button data-p2btooltip="Create Timing Group" class="popup-content-icon-create" id="Create-TimingGroup-MonthlyRoaster"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                <button data-p2btooltip="Edit Timing Group" class="popup-content-icon-edit" id="Edit-TimingGroup-MonthlyRoaster"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                <button data-p2btooltip="Remove Timing Group" class="popup-content-icon-remove" id="Remove-TimingGroup-MonthlyRoaster"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
            </div>
        </div>

    }
</div>