@{
    ViewBag.Title = "Faculty Internal External";
}
@model Training.FacultyInternalExternal





<html>

<head>
    <title></title>
    <style>
        .transactiontablenew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            /*width: 200px;*/
            display: block;
            overflow: auto;
            height: 653px;
            border-collapse: collapse;
        }

        .transactiondivnew {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            width: 507px;
            border-radius: 5px;
            height: 32px;
        }

            .transactiondivnew > div {
                display: inline-block;
                margin: 0 auto;
                padding: 4px;
            }

                .transactiondivnew > div > input {
                    box-sizing: initial;
                    display: inline-block;
                    margin: 0 auto;
                    width: 108px;
                }

        .transactiontablenew th, .transactiontablenew td {
            background: rgba(246, 246, 246, 0.64) none repeat scroll 0 0;
            padding: 5px;
            border-bottom: 1px solid #c5c5c5;
            border-right: 1px solid #c5c5c5;
            text-align: center;
            color: rgba(114, 113, 113, 0.9);
        }

            .transactiontablenew th:nth-child(1) > input, .transactiontablenew td:nth-child(1) > input {
                margin: 0 auto;
            }

            .transactiontablenew th:nth-child(2), .transactiontablenew td:nth-child(2) {
                height: 100%;
                width: 100%;
            }

        .transactiontablenew tr:hover {
            cursor: pointer;
            background: #EEEEEE none repeat scroll 0 0;
        }



        #BusinessType-button {
            font-size: 9px;
            padding-top: 1px;
            font-weight: bold;
        }

        .popup-content-label {
            width: 101px;
            display: block;
            float: left;
            margin: 1px;
        }

        .popup-content-label-2 {
            width: 100px;
            display: block;
            float: left;
            margin: 1px;
        }

        .section2_Leave {
            padding-left: 6px;
            width: 513px;
            right: 558.8px;
            display: block;
            border: 1.5px solid rgba(207, 207, 207, 0.91);
            height: 867px;
            width: 534px;
            margin: 4px auto;
            position: absolute;
        }

        .section1_Leave {
            padding-top: 10px;
            display: block;
            border: 2px solid #ddd;
            height: 707px;
            width: 518px;
            margin: 5px 4px;
            position: absolute;
            left: 546px;
            padding-left: 11px;
        }

        .icon-row {
            position: relative;
            left: 57px;
            top: -146px;
        }

        .popup-content-textboxf {
            margin-bottom: 1px;
            min-width: 150px;
        }

        .row3 {
            width: 471px;
        }

        .row4 {
            position: absolute;
            top: 294px;
            width: 400px;
        }

        .row6 {
            width: 370px;
            display: inline-block;
        }

        .popup-content-textboxf-long {
            margin-bottom: 1px;
            width: 290px;
        }



        .row2 {
            width: 402px;
        }
    </style>
</head>

<body>
    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <button class="button" id="Create">Create</button>
                <button class="button" id="View">View</button>
                <button class="button" id="Edit">Edit</button>
                <button class="button" id="Delete">Delete</button>
                <button class="button" id="Autho">Authorised</button>
                <div id="Grid_Form">
                    <div>
                        <table id="JqGrid"></table>
                        <div id="pager2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="Create_Dialog" title="Create Faculty Internal External">
        <div class="section1_Leave" id="Section_Emp">
            <div class="heading">Employee List</div>
            <div class="employeeselectiondiv">
                <div class="transactiondivnew dynamic addons" style="float:left">
                    <div>
                        <label>Search:</label>
                        <input type="text" id="Employee-Search" style="width: 425px;" />
                    </div>
                    <table cellspacing="0" cellpadding="1" class="transactiontablenew" id="Employee-Table">
                        <tr>
                            <th><input type="checkbox" id="Case-Employee" /></th>
                            <th>Employee</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="section2_Leave">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmFacultyInternalExternalM", name = "frmFacultyInternalExternalM" }))
            {
                <input id="Autho_Action" type="hidden" name="Autho_Action" />    <input type="text" id="Emp" name="Employee-Table" class="filter_structure_id" />
                <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
                
                <div class="dropdown_row1 arow3 content_margine">@Html.LabelFor(m => m.FacultyType, "Faculty Type :", new { @class = "popup-content-label must" })<select id="CategoryList_DDL" name="CategoryList_DDL" class="must" style="width:161px;"><option></option></select></div>
                
                <div class="row1 content_margine">@Html.LabelFor(m => m.Code, " Code", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Code, new { @class = "popup-content-textboxf must" })</div>
                @*<div class="row1 content_margine">
                        @Html.LabelFor(m => m.FacultyType, "Type", new { @class = "popup-content-label must" })
                        <select id="Category" class="drop must" name="Category"></select>
                    </div>*@



                @*<div class="row1 content_margine">
                        @Html.LabelFor(m => m.EmpID, "Emp ID", new { @class = "popup-content-label" })
                        <select id="emp" class="drop" name="emp"></select>
                    </div>*@

                <div class="row1 content_margine">@Html.LabelFor(m => m.Name, "Name", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Name, new { @class = "popup-content-textboxf must", @style = "width:286px;" })</div>
                <div class="row3 content_margine" id="FacultySpecializationhide">
                    <div id="FacultySpecializationlist_old"></div>
                    @Html.LabelFor(m => m.FacultySpecialization, "Faculty Specialization :", new { @class = "popup-content-label" })
                    <div class="popup-content-table">
                        <table class="lookuptableselected" id="FacultySpecializationlist">
                            <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                        </table>
                    </div>
                    <div class="icon-row">
                        <button data-p2btooltip="Lookup Faculty Specialization Details" class="  popup-content-icon-lookup" id="Lookup-FacultySpecialization-FacultyInternal"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Create Faculty Specialization Details" class="  popup-content-icon-create" id="Create-FacultySpecialization-FacultyInternal"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Edit Faculty Specialization Details" class="  popup-content-icon-edit" id="Edit-FacultySpecialization-FacultyInternal"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Remove Faculty Specialization Details" class="  popup-content-icon-remove" id="Remove-FacultySpecialization-FacultyInternal"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                    </div>
                </div>


                <div class="row3 content_margine" id="Addresshide">
                    <div id="AddressList_Old"></div>
                    @Html.LabelFor(m => m.Address, "Address", new { @class = "popup-content-label" })
                    <div class="popup-content-table">
                        <table class="lookuptableselected" id="Address_List">
                            <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                        </table>
                    </div>
                    <div class="icon-row">
                        <button data-p2btooltip="LookUp Address Details" class="popup-content-icon-lookup" id="Lookup-Address-FacultyInternal"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Create Address Details" class="popup-content-icon-create" id="Address_Create-FacultyInternal"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Edit Address Details" class="popup-content-icon-edit" id="Address_Edit"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Remove Address Details" class="popup-content-icon-remove" id="Address_Remove"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                    </div>
                </div>

                <div class="row1 content_margine" id="ContactDetailshide">
                    <div id="ContactDetailsList_Old"></div>
                    @Html.LabelFor(m => m.ContactDetails, "Contact Details", new { @class = "popup-content-label" })
                    <div class="popup-content-table" style="width: 430px;">
                        <table class="lookuptableselected" id="Contact_List">
                            <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                        </table>
                    </div>
                    <div class="icon-row">
                        <button data-p2btooltip="LookUp Contact Details" class="popup-content-icon-lookup" id="Lookup_Contact"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Crate Contact Details" class="popup-content-icon-create" id="Contact_Create"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Edit Contact Details" class="popup-content-icon-edit" id="Contact_Edit-FacultyInternal"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Remove Contact Details" class="popup-content-icon-remove" id="Contact_Remove-FacultyInternal"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                    </div>
                </div>

                <div class="row1 content_margine" id="ProgramListhide">
                    <div id="ContactDetailslist_old1"></div>
                    @Html.LabelFor(m => m.ProgramList, "ProgramList :", new { @class = "popup-content-label" })

                    <div class="popup-content-table">
                        <table class="lookuptableselected" id="ProgramListlistS">
                            <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                        </table>
                    </div>
                    <div class="icon-row">
                        <button data-p2btooltip="Lookup Program List Details" class="  popup-content-icon-lookup" id="Lookup-ProgramListlistS-FacultyInternalExternal"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Create Program List Details" class="  popup-content-icon-create" id="Create-ProgramListlistS-FacultyInternalExternal"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Edit Program List Details" class="  popup-content-icon-edit" id="Edit-ProgramListlistS-FacultyInternalExternal"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Remove Program List Details" class="  popup-content-icon-remove" id="Remove-ProgramListlistS-FacultyInternalExternal"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                    </div>
                </div>

                <div class="row1 content_margine" id="TrainingInstituehide">
                    <div id="ContactDetailslist_old1"></div>
                    @Html.LabelFor(m => m.TrainingInstitue, "Training Institute :", new { @class = "popup-content-label" })

                    <div class="popup-content-table">
                        <table class="lookuptableselected" id="TrainingInstitutelist">
                            <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                        </table>
                    </div>
                    <div class="icon-row">
                        <button data-p2btooltip="LookUp TrainingInstitue Details" class="popup-content-icon-lookup" id="Lookup-TrainingInstitute-FacultyExternal"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Create TrainingInstitue Details" class="popup-content-icon-create" id="Create-TrainingInstitute-FacultyExternal"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Edit TrainingInstitue Details" class="popup-content-icon-edit" id="Edit-TrainingInstitute-FacultyExternal"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Remove TrainingInstitue Details" class="popup-content-icon-remove" id="Remove-TrainingInstitute-FacultyExternal"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                    </div>
                </div>


                <div class="row1 content_margine">@Html.LabelFor(m => m.Narration, "Narration", new { @class = "popup-content-label" })@Html.TextAreaFor(m => m.Narration, new { @class = "popup-content-textboxf", style = "width: 282px" })</div>
            }
        </div>
    </div>

</body>
</html>
<script>



    $(document).ready(function (e) {
        $('button').button();
        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;
        ColModel = ['Code', 'Name', 'FacultyType', 'Id'];
        ColNames = ['Code', 'Name', 'Faculty Type', 'Id'];
        SortName = 'Id';
        Caption = 'Faculty Internal External ';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);
        $('#frmFacultyInternalExternalM').trigger("reset");


        $('#TrainingInstituehide').fadeOut();
        $('#FacultySpecializationhide').fadeOut();
        $('#Addresshide').fadeOut();
        $('#ContactDetailshide').fadeOut();
        $('#Section_Emp').fadeOut();
        $('#Code').attr('readonly', true);
        $('#Name').attr('readonly', true);

        $('button').button();
        $.LoadEmpByDefault(true);

        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        };
        $('#Create_Dialog').P2BCreateDialog();
        $("#CategoryList_DDL").on('selectmenuchange', function () {
            var value = $("#CategoryList_DDL option:selected").text().toUpperCase();

            if (value == "INTERNAL") {          //internal
                $('#Section_Emp').fadeIn();
                $('#FacultySpecializationhide').fadeIn();
                $('#Addresshide').fadeIn();
                $('#ContactDetailshide').fadeIn();
                $('#TrainingInstituehide').fadeOut();
            } else if (value == "EXTERNAL") {       //external
                $('#Code').attr('readonly', false);
                $('#Name').attr('readonly', false);
                $('#TrainingInstituehide').fadeIn();
                $('#Section_Emp').fadeOut();
                $('#FacultySpecializationhide').fadeIn();
                $('#Addresshide').fadeOut();
                $('#ContactDetailshide').fadeIn();
            }
        });
        //Create Function
        $('#Create').on("click", function (event) {
            $('#frmFacultyInternalExternalM').trigger("reset");
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create Faculty Internal External', 'open', '@Url.Action("Create")', '#frmFacultyInternalExternalM', 'Message :', 'Request Falied :', '#JqGrid', 500, 1126, '', '', function (data) { });
            $('#CategoryList_DDL').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 1051, "");
            event.preventDefault();
        });

        //View main page 1
        @*$('#View').button().click(function (event) {
            AssignData();
            // alert('b');
            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View', '', '#Contact_Edit-FacultyInternal,#Contact_Remove-FacultyInternal', 500, 620, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {

                var trf = "";
                $.each(data[0], function (i, k) {

                    $('#CategoryList_DDL').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 1051, k.FacultyType_Id);
                    $('#Code').val(k.Code);
                    $('#Code').attr('readonly', 'readonly');
                    $('#Name').val(k.Name);
                    console.log(k.FacultyType_Id);

                    if (k.FacultyType_Id != "") {
                        // console.log($('#CategoryList_DDL'));
                        trf = "1";

                        //console.log($('#CategoryList_DDL-button[ span[.ui-selectmenu-text]]'));
                        //if (k.FacultyType_Id == "2097") {          //internal
                        //    $('#FacultySpecializationhide').fadeIn();
                        //    $('#Addresshide').fadeIn();
                        //    $('#ContactDetailshide').fadeIn();
                        //    $('#Section_Emp').fadeOut();
                        //    $('#TrainingInstituehide').fadeOut();
                        //} else if (k.FacultyType_Id == "2098") {       //external
                        //    $('#TrainingInstituehide').fadeIn();
                        //    $('#Section_Emp').fadeOut();
                        //    $('#FacultySpecializationhide').fadeOut();
                        //    $('#Addresshide').fadeOut();
                        //    $('#ContactDetailshide').fadeOut();
                        //}
                    }
                });
                if (trf == 1) {

                    var value = $("#CategoryList_DDL option:selected").text().toUpperCase();

                    console.log(value);

                    if (value == "INTERNAL") {          //internal
                        $('#Section_Emp').fadeOut();
                        $('#FacultySpecializationhide').fadeIn();
                        $('#Addresshide').fadeIn();
                        $('#ContactDetailshide').fadeIn();
                        $('#TrainingInstituehide').fadeOut();
                    } else if (value == "EXTERNAL") {       //external
                        $('#TrainingInstituehide').fadeIn();
                        $('#Section_Emp').fadeOut();
                        $('#FacultySpecializationhide').fadeOut();
                        $('#Addresshide').fadeOut();
                        $('#ContactDetailshide').fadeOut();
                    }
                }

                $.each(data[1], function (i, k) {
                    $('#Contact_List').P2BLookUpEncapsulate('#Contact_List', 'Contact_List', k.Cont_Id, k.FullContactDetails, 'Contact_List', '', 'A');

                    $('#Address_List').P2BLookUpEncapsulate('#Address_List', 'Address_List', k.Add_Id, k.Address_FullAddress, 'Address_List', '', 'A');

                    $('#TrainingInstitutelist').P2BLookUpEncapsulate('#TrainingInstitutelist', 'TrainingInstitutelist', k.Train_Id, k.Train_Details, 'TrainingInstitutelist', '', 'A');
                });
                $.each(data[3], function (i, k) {
                    //   $('#TrainingInstitutelist').P2BLookUpEncapsulate('#TrainingInstitutelist', 'TrainingInstitutelist', k.train_id, k.traininginst_details, 'TrainingInstitutelist', '', 'N');
                    $('#FacultySpecializationlist').P2BLookUpEncapsulate('#FacultySpecializationlist', 'FacultySpecializationlist', k.SA_id, k.SA_val, 'FacultySpecializationlist', '', 'A');
                });
                $.each(data[4], function (i, k) {
                    //   $('#TrainingInstitutelist').P2BLookUpEncapsulate('#TrainingInstitutelist', 'TrainingInstitutelist', k.train_id, k.traininginst_details, 'TrainingInstitutelist', '', 'N');
                    $('#ProgramListlistS').P2BLookUpEncapsulate('#ProgramListlistS', 'ProgramListlistS', k.ProgramList_Id, k.ProgramList_val, 'ProgramListlistS', '', 'A');
                });

                $('#Autho_Allow').val(data[3]); //Compulsory for authorisation
            });
            event.preventDefault();
        });*@


        $('#Lookup-Address-FacultyInternal').on('click', function (event) {

            var a = $('#Code').val();
          
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupDetailsAddress", "facultyinternalexternal")?EmpCode='+a, '', 'LookupDiv', 'Address Look Up Data', '#Address_List', 'Address_List', 5, 'Address_List', '#frmFacultyInternalExternalM', 'N', '#Address_Edit,#Address_Remove', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });


        $('#Lookup_Employee').button().on('click', function (event) {
            // $('.dialog').P2BLookUpModal('@Url.Action("GetLookupDetailsContact", "FacultyInternal")', '', 'LookupDiv', 'Contact Look Up Data', '#Contact_List', 'Contact_List', 5, 'Contact_List', '#frmFacultyInternalExternalM', 'N', '#Contact_Edit-FacultyInternal,#Contact_Remove-FacultyInternal', 'Lookup_table', 'PageNavPosition');

            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupEmployeeDetails", "FacultyInternal")', '', 'LookupDiv', 'Look Up Data', '#Employee_List', 'Employee_List', 10, 'EmployeeList', '#frmFacultyInternalExternalM', 'N', '#InchargeNo_Edit,#InchargeNo_Remove', '#Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });



        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Address_Create-FacultyInternal').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "address")', 'Create Address', 'open', '@Url.Action("Create","Address")', '#FormAddress', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#frmFacultyInternalExternalM', '', function (data) {
                // to show data which is created in partial page
                $('#Address_List').P2BLookUpEncapsulate('#Address_List', 'Address_List', data[0], data[1], 'Address_List', '#Address_Edit,#Address_Remove', 'N');
            });
            event.preventDefault();
        });

        $('#Address_Edit').button().on("click", function (event) {
            var a = [], b;
            a = $('#Address_List').P2BGetTableDataonSelectedRow('#Address_List', 0);
            b = a[0];
            console.log(b);
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "Address")', '@Url.Action("Edit", "Address")', b, '@Url.Action("Editsave","Address")', 'Edit Address', '#FormAddress', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmFacultyInternalExternalM', '#Address_List', 'Address_List', 'Address_List', 'N', '#Address_Edit,#Address_Remove', function (data) {
                $.each(data[0], function (i, k) {
                    $('#FormAddress').trigger("reset");
                    $('#Address1').val(k.Address1);
                    $('#Address2').val(k.Address2);
                    $('#Address3').val(k.Address3);
                    $('#Landmark').val(k.Landmark);
                    $('#CountryList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "country")", "", k.Country_Id);
                    $('#StateList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "state")", "", k.State_Id);
                    $('#StateRegionList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "StateRegion")", "", k.StateRegion_Id);
                    $('#DistrictList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "District")", "", k.District_Id);
                    $('#TalukaList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "Taluka")", "", k.Taluka_Id);
                    $('#CityList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "City")", "", k.City_Id);
                    $('#AreaList_DDL').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "area")", "", k.Area_Id);
                });
                //}, 3000);

            });
            event.preventDefault();
        });

        /* ------------------------- Addresss  Remove --------------------------- */

        $('#Address_Remove').button().on('click', function (event) {
            //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            //var a = [], b;
            //a = $('#Address_List').P2BGetTableDataonSelectedRow('#Address_List', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#Address_List').P2BGetTableDataonSelectedRow('#Address_List', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#Address_List', $('#Address_List').val(), 200, 200, '#frmFacultyInternalExternalM', '#Address_List', '');
            event.preventDefault();
        });



        $('#Lookup_Contact').on('click', function (event) {
            var a = $('#Code').val();
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupDetailsContact", "facultyinternalexternal")?EmpCode='+a, '', 'LookupDiv', 'Contact Look Up Data', '#Contact_List', 'Contact_List', 5, 'Contact_List', '#frmFacultyInternalExternalM', 'N', '#Contact_Edit-FacultyInternal,#Contact_Remove-FacultyInternal', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Contact_Create').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Createcontactdetails_partial", "facultyinternalexternal")', 'Create Contact', 'open', '@Url.Action("CreateSave", "ContactDetails")', '#FormContactDetails', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#frmFacultyInternalExternalM', '#Contact_Edit,#Contact_Remove', function (data) {
                console.log(data);
                $('#Contact_List').P2BLookUpEncapsulate('#Contact_List', 'Contact_List', data[0], data[1], 'Contact_List', '#Contact_Remove-FacultyInternal,#Contact_Edit-FacultyInternal', 'N');
            });
            event.preventDefault();
        });

        $('#Contact_Edit-FacultyInternal').button().on("click", function (event) {
            var a = [], b;
            a = $('#Contact_List').P2BGetTableDataonSelectedRow('#Contact_List', 0);
            b = a[0];
            console.log(b);
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("Createcontactdetails_partial", "facultyinternalexternal")', '@Url.Action("Editcontactdetails_partial", "FacultyInternal")', b, '@Url.Action("EditSave", "ContactDetails")', 'Edit Contact Details', '#FormContactDetails', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmFacultyInternalExternalM', '#Contact_List', 'Contact_List', 'Contact_List', 'N', '#Contact_Remove-FacultyInternal,#Contact_Edit-FacultyInternal', function (data) {
                setTimeout(function () {
                    $.each(data[0], function (i, k) {
                        $('#FormContactDetails').trigger('reset');
                        $('#EmailId').val(k.EmailId);
                        $('#Website').val(k.Website);
                        $('#FaxNo').val(k.FaxNo);
                    });

                    $.each(data[1], function (i, k) {
                        //$('#Contact_List').P2BLookUpEncapsulate('#Contact_List', 'ContactNos_List', k.Id, k.FullContactNumbers, 'Contact_List');
                        $('#ContactNos_List').P2BLookUpEncapsulate('#ContactNos_List', 'ContactNos_List', k.Id, k.FullContactNumbers, 'ContactNos_List', '#Contact_Remove-FacultyInternal,#Contact_Edit-FacultyInternal', 'A');
                    });
                }, 3000);
            });
            event.preventDefault();
        });



        $('#Contact_Remove-FacultyInternal').button().on('click', function (event) {
            // dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            //var a = [], b;
            //a = $('#Contact_List').P2BGetTableDataonSelectedRow('#Contact_List', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#Contact_List').P2BGetTableDataonSelectedRow('#Contact_List', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('@Url.Action("DeleteContactDetails", "facultyinternalexternal")', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#Contact_List', $('#Contact_List').val(), 200, 200, '#frmFacultyInternalExternalM', '#Contact_List', '#Contact_Remove-FacultyInternal,#Contact_Edit-FacultyInternal');
            event.preventDefault();
        });

        //FacultySpecialization
        $('#Lookup-FacultySpecialization-FacultyInternal').button().on('click', function (event) {
            //   $('.dialog').P2BLookUpModal('@Url.Action("GetLookupDetailsFacultyExternal", "TrainingSession")', '', 'LookupDiv', 'Faculty Look Up Data', '#Faculty_List', 'Faculty_List', 5, 'Faculty_List', '#frmTrainingSession', 'N', '#Edit-Faculty-TrainingSession,#Remove-Faculty-TrainingSession', 'Lookup_table', 'PageNavPosition');

            $('.dialog').P2BLookUpModal('@Url.Action("GetLookup", "FacultySpecialization")', '', 'LookupDiv', 'Faculty Specialization Look Up Data', '#FacultySpecializationlist', 'FacultySpecializationlist', 5, 'FacultySpecializationlist', '#frmFacultyInternalExternalM', 'A', '#Edit-FacultySpecialization-FacultyInternal,#Remove-FacultySpecialization-FacultyInternal', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });



        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-FacultySpecialization-FacultyInternal').button().on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "FacultySpecialization")', 'Create Faculty Specialization', 'open', '@Url.Action("Create","FacultySpecialization")', '#frmFacultySpecialization', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#frmFacultyInternalExternalM', '#Edit-FacultySpecializationNo-ContDetails,#Remove-FacultySpecializationNo-ContDetails', function (data) {
                $('#FacultySpecializationlist').P2BLookUpEncapsulate('#FacultySpecializationlist', 'FacultySpecializationlist', data[0], data[1], 'FacultySpecializationlist', '#Edit-FacultySpecialization-FacultyInternal,#Remove-FacultySpecialization-FacultyInternal', 'A');
            });
            event.preventDefault();
        });

        $('#Edit-FacultySpecialization-FacultyInternal').button().on("click", function (event) {
            var a = [], b;
            a = $('#FacultySpecializationlist').P2BGetTableDataonSelectedRow('#FacultySpecializationlist', 0);
            b = a[0];
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "FacultySpecialization")', '@Url.Action("Edit", "FacultySpecialization")', b, '@Url.Action("EditSave", "FacultySpecialization")', 'Edit Faculty Specialization Details', '#frmFacultySpecialization', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmFacultyInternalExternalM', '#FacultySpecializationlist', 'FacultySpecializationlist', 'FacultySpecializationlist', 'A', '#Remove-FacultySpecializationNo-ContDetails,#Edit-FacultySpecializationNo-ContDetails', function (data) {
                $.each(data[0], function (i, k) {
                    $('#frmFacultySpecialization').trigger('reset');
                    $('#SpecType').val(k.SpecType);
                    $('#SpecArea').val(k.SpecArea);
                });

            });
            event.preventDefault();
        });

        $('#Remove-FacultySpecialization-FacultyInternal').button().on('click', function (event) {
            //var a = [], b;
            //a = $('#FacultySpecializationlist').P2BGetTableDataonSelectedRow('#FacultySpecializationlist', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#FacultySpecializationlist').P2BGetTableDataonSelectedRow('#FacultySpecializationlist', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#FacultySpecializationlist', $('#FacultySpecializationlist').val(), 200, 200, '#frmFacultyInternalExternalM', '#FacultySpecializationlist', '#Edit-FacultySpecialization-FacultyInternal,#Remove-FacultySpecialization-FacultyInternal');
            event.preventDefault();
        });

        $('#Edit').on('click', function (e) {
            $('#frmFacultyInternalExternalM').trigger("reset");

            AssignData();
            $('#Section_Emp').fadeOut();

            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit Faculty Internal Data->" + JSON.stringify(dt) + "", '#frmFacultyInternalExternalM', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 546, 1113, '#ProgramListlistS,#Contact_List,#Address_List', '', function (data) {

                $.each(data[0], function (i, k) {

                    $('#CategoryList_DDL').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 1051, k.FacultyType_Id);
                    $('#Code').val(k.Code);
                    $('#Code').attr('readonly', 'readonly');
                    $('#Name').val(k.Name);
                    $('#Narration').val(k.Narration);
                    console.log(k.FacultyType_Id);


                    var value = k.FacultyType_Name;

                    console.log(value);

                    if (value == "INTERNAL") {          //internal
                        $('#Section_Emp').fadeIn();
                        $('#FacultySpecializationhide').fadeIn();
                        $('#Addresshide').fadeIn();
                        $('#ContactDetailshide').fadeIn();
                        $('#TrainingInstituehide').fadeOut();
                    } else if (value == "EXTERNAL") {       //external
                        $('#TrainingInstituehide').fadeIn();
                        $('#Section_Emp').fadeOut();
                        $('#FacultySpecializationhide').fadeIn();
                        $('#Addresshide').fadeIn();
                        $('#ContactDetailshide').fadeIn();
                    }


                });


                


                $.each(data[1], function (i, k) {
                    $('#Contact_List').P2BLookUpEncapsulate('#Contact_List', 'Contact_List', k.Cont_Id, k.FullContactDetails, 'Contact_List', '', 'A');

                    $('#Address_List').P2BLookUpEncapsulate('#Address_List', 'Address_List', k.Add_Id, k.Address_FullAddress, 'Address_List', '', 'A');

                    $('#TrainingInstitutelist').P2BLookUpEncapsulate('#TrainingInstitutelist', 'TrainingInstitutelist', k.Train_Id, k.Train_Details, 'TrainingInstitutelist', '', 'A');
                });
                $.each(data[3], function (i, k) {
                    //   $('#TrainingInstitutelist').P2BLookUpEncapsulate('#TrainingInstitutelist', 'TrainingInstitutelist', k.train_id, k.traininginst_details, 'TrainingInstitutelist', '', 'N');
                    $('#FacultySpecializationlist').P2BLookUpEncapsulate('#FacultySpecializationlist', 'FacultySpecializationlist', k.SA_id, k.SA_val, 'FacultySpecializationlist', '', 'A');
                });
                $.each(data[4], function (i, k) {
                    //   $('#TrainingInstitutelist').P2BLookUpEncapsulate('#TrainingInstitutelist', 'TrainingInstitutelist', k.train_id, k.traininginst_details, 'TrainingInstitutelist', '', 'N');
                    $('#ProgramListlistS').P2BLookUpEncapsulate('#ProgramListlistS', 'ProgramListlistS', k.ProgramList_Id, k.ProgramList_val, 'ProgramListlistS', '', 'A');
                });
                //$.each(data[1], function (i, k) {
                //    $('#Employee_List').P2BLookUpEncapsulate('#Employee_List', 'Employee_List', k.EMP_Id, k.FullEmpId, 'Employee_List', '', 'N');
                //    //$('#Contact_List').P2BLookUpEncapsulate('#Contact_List', 'Contact_List', k.Cont_Id, k.FullContactDetails, 'Contact_List', '', 'N');
                //    //$('#Employee_List').P2BLookUpEncapsulate('#Employee_List', 'EmployeeList', k.EMP_Id, k.FullEmpId, 'Employee_List', '', 'N');
                //});
                $('#Autho_Allow').val(data[3]); //Compulsory for authorisation

            });
            e.preventDefault();
        });

        //View main page
        $('#View').button().click(function (event) {
            $('#Section_Emp').fadeOut();
            AssignData();

            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, "View Faculty Internal->" + JSON.stringify(dt) + "", '#ProgramListlistS,#Contact_List,#Address_List', '#Lookup_Employee,#Lookup_Address-FacultyInternal-FacultyInternal,#Address_Create-FacultyInternal,#Lookup_Contact,#Contact_Create,#Create_Employee,#Edit_Employee,#Remove_Employee,#Address_Edit,#Address_Edit,#Address_Remove,#Contact_Edit-FacultyInternal,#Contact_Remove-FacultyInternal', 546, 1113, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {

                $.each(data[0], function (i, k) {

                    $('#CategoryList_DDL').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 1051, k.FacultyType_Id);
                    $('#Code').val(k.Code);
                    $('#Code').attr('readonly', 'readonly');
                    $('#Name').val(k.Name);
                    $('#Narration').val(k.Narration);


                });


                var value = $("#CategoryList_DDL option:selected").text().toUpperCase();

                console.log(value);

                if (value == "INTERNAL") {          //internal
                    $('#Section_Emp').fadeIn();
                    $('#FacultySpecializationhide').fadeIn();
                    $('#Addresshide').fadeIn();
                    $('#ContactDetailshide').fadeIn();
                    $('#TrainingInstituehide').fadeOut();
                } else if (value == "EXTERNAL") {       //external
                    $('#Section_Emp').fadeOut();
                    $('#TrainingInstituehide').fadeIn();
                    $('#FacultySpecializationhide').fadeIn();
                    $('#Addresshide').fadeIn();
                    $('#ContactDetailshide').fadeIn();
                }


                $.each(data[1], function (i, k) {
                    $('#Contact_List').P2BLookUpEncapsulate('#Contact_List', 'Contact_List', k.Cont_Id, k.FullContactDetails, 'Contact_List', 'view', 'A');

                    $('#Address_List').P2BLookUpEncapsulate('#Address_List', 'Address_List', k.Add_Id, k.Address_FullAddress, 'Address_List', 'view', 'A');

                    $('#TrainingInstitutelist').P2BLookUpEncapsulate('#TrainingInstitutelist', 'TrainingInstitutelist', k.Train_Id, k.Train_Details, 'TrainingInstitutelist', 'view', 'A');
                });
                $.each(data[3], function (i, k) {
                    //   $('#TrainingInstitutelist').P2BLookUpEncapsulate('#TrainingInstitutelist', 'TrainingInstitutelist', k.train_id, k.traininginst_details, 'TrainingInstitutelist', '', 'N');
                    $('#FacultySpecializationlist').P2BLookUpEncapsulate('#FacultySpecializationlist', 'FacultySpecializationlist', k.SA_id, k.SA_val, 'FacultySpecializationlist', 'view', 'A');
                });
                $.each(data[4], function (i, k) {
                    //   $('#TrainingInstitutelist').P2BLookUpEncapsulate('#TrainingInstitutelist', 'TrainingInstitutelist', k.train_id, k.traininginst_details, 'TrainingInstitutelist', '', 'N');
                    $('#ProgramListlistS').P2BLookUpEncapsulate('#ProgramListlistS', 'ProgramListlistS', k.ProgramList_Id, k.ProgramList_val, 'ProgramListlistS', 'view', 'A');
                });

                $('#Autho_Allow').val(data[3]); //Compulsory for authorisation
            });
        });

        $('#Delete').button().click(function (event) {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            $('#FacultyInternalExternal').P2BDeleteModalDialog('@Url.Action("Delete", "FacultyInternalExternal")', dt.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
        });


        $('#Lookup-TrainingInstitute-FacultyExternal').on('click', function (event) {
            //   $('.dialog').P2BLookUpModal('@Url.Action("GetLookupDetailsFacultyExternal", "TrainingSession")', '', 'LookupDiv', 'Faculty Look Up Data', '#Faculty_List', 'Faculty_List', 5, 'Faculty_List', '#frmTrainingSession', 'N', '#Edit-Faculty-TrainingSession,#Remove-Faculty-TrainingSession', 'Lookup_table', 'PageNavPosition');

            $('.dialog').P2BLookUpModal('@Url.Action("GetLookup", "TrainingInstitute")', '', 'LookupDiv', 'TrainingInstitute Look Up Data', '#TrainingInstitutelist', 'TrainingInstitutelist', 5, 'TrainingInstitutelist', '#frmFacultyInternalExternalM', 'N', '#Edit-TrainingInstitute-FacultyExternal,#Remove-TrainingInstitute-FacultyExternal', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-TrainingInstitute-FacultyExternal').button().on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "TrainingInstitute")', 'Create Training Institute', 'open', '@Url.Action("Create", "TrainingInstitute")', '#frmTrainingInstituteP', 'Message :', 'Request Falied :', '#JqGrid', 400, 557, '', '', '', '#frmFacultyInternalExternalM', '', function (data) {
                $('#TrainingInstitutelist').P2BLookUpEncapsulate('#TrainingInstitutelist', 'TrainingInstitutelist', data[0], data[1], 'TrainingInstitutelist', '', 'N');
                $('#InstituteTypelist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 1053, "");
            });
            event.preventDefault();
        });
        $('#Edit-TrainingInstitute-FacultyExternal').button().on("click", function (event) {
            var a = [], b;
            a = $('#TrainingInstitutelist').P2BGetTableDataonSelectedRow('#TrainingInstitutelist', 0);
            b = a[0];
            console.log(b);
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname,                                                                                                                    height, width, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not, returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "TrainingInstitute")', '@Url.Action("Edit", "TrainingInstitute")', b, '@Url.Action("EditSave", "TrainingInstitute")', 'Edit Training Institute Details', '#frmTrainingInstituteP', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 557, '#frmFacultyInternalExternalM', '#TrainingInstitutelist', 'TrainingInstitutelist', 'TrainingInstitutelist', 'N', '', function (data) {
                // setTimeout(function () {
                $.each(data[0], function (i, k) {
                    $('#frmTrainingInstitute').trigger('reset');
                    $('#Code1').val(k.Code);
                    $('#Name1').val(k.Name);
                    // $('#InstituteType').val(k.InstituteType);
                    $('#ContactPerson').val(k.ContactPerson);
                    $('#InstituteTypelist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 1053, k.InstituteType_ID);

                });

                $.each(data[1], function (i, k) {
                    $('#ContactDetailsList').P2BLookUpEncapsulate('#ContactDetailsList', 'ContactDetailsList', k.ContactDetails_Id, k.ContactDetails_FullDetails, 'ContactDetailsList', '#Edit-ContactNo-ContDetails,#Remove-ContactNo-ContDetails', 'A');
                });
                // }, 3000);
            });
            event.preventDefault();
        });

        $('#Remove-TrainingInstitute-FacultyExternal').button().on('click', function (event) {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            var a = [], b;
            a = $('#TrainingInstitutelist').P2BGetTableDataonSelectedRow('#TrainingInstitutelist', 0);
            b = a[0];
            $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#TrainingInstitutelist', $('#TrainingInstitutelist').val(), 200, 200, '#frmFacultyInternalExternalM', '#TrainingInstitutelist', '');
            event.preventDefault();
        });

        $('#Lookup-ProgramListlistS-FacultyInternalExternal').button().on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupDetailsProgramList", "FacultyInternalExternal")', '', 'LookupDiv', 'Look Up Data', '#ProgramListlistS', 'ProgramListlistS', 5, 'ProgramListlistS', '#frmFacultyInternalExternalM', 'A', '#Remove-ProgramListlistS-FacultyInternalExternal', 'Lookup_table', 'PageNavPosition');

            event.preventDefault();
        });

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-ProgramListlistS-FacultyInternalExternal').button().on("click", function (event) {
            //function (url, maindialogtitle, state, submiturl, submitnameformforserilize, savemessage, errormessage, gridreloadname, height, width, forwarddata, ControlName, event, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, returnfunctiondata) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "ProgramList")', 'Create Programlist', 'open', '@Url.Action("Create", "ProgramList")', '#frmProgramListP', 'Message :', 'Request Falied :', '#JqGrid', 400, 560, '', '', '', '#frmFacultyInternalExternalM', '', function (data) {
                $('#ProgramListlistS').P2BLookUpEncapsulate('#ProgramListlistS', 'ProgramListlistS', data[0], data[1], 'ProgramListlistS', '', 'A');
            });
            event.preventDefault();
        });


        $('#Edit-ProgramListlistS-FacultyInternalExternal').button().on("click", function (event) {
            var a = [], b;
            a = $('#ProgramListlistS').P2BGetTableDataonSelectedRow('#ProgramListlistS', 0);
            b = a[0];
            console.log(b);
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname,                                                                                                                    height, width, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not, returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "ProgramList")', '@Url.Action("Edit", "ProgramList")', b, '@Url.Action("EditSave", "ProgramList")', 'Edit Program List Details', '#frmProgramListP', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 560, '#frmFacultyInternalExternalM', '#ProgramListlistS', 'ProgramListlistS', 'ProgramListlistS', 'A', '', function (data) {
                $.each(data[0], function (i, k) {
                    //  $('#frmProgramListP').trigger('reset');
                    $('#Subject').val(k.Subject).attr("readonly", "readonly");
                    $('#SubjectDetails').val(k.SubjectDetails);
                    // $("#TrainingTypelist").prop("disabled", true);
                    $('#TrainingTypelist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 1050, k.TrainingType_Id);
                });

                $.each(data[1], function (i, k) {

                    $('#BudgetlistP').P2BLookUpEncapsulate('#BudgetlistP', 'BudgetlistP', k.BudgetDetails_Id, k.BudgetDetails_val, 'BudgetlistP', '', 'N');
                });
                // }, 3000);
            });
            event.preventDefault();
        });

        $('#Remove-ProgramListlistS-FacultyInternalExternal').button().on('click', function (event) {
            //  dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'ID');
            //var a = [], b;
            //a = $('#ProgramListlistS').P2BGetTableDataonSelectedRow('#ProgramListlistS', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#ProgramListlistS').P2BGetTableDataonSelectedRow('#ProgramListlistS', 0); 
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#ProgramListlistS', $('#ProgramListlistS').val(), 200, 200, '#frmFacultyInternalExternalM', '#ProgramListlistS');
            event.preventDefault();
        });

        @*$('#Employee-Table').OnClickFormReset('#FacultyInternalExternal', '#Emp', function () {
            $('#Emp').val();
            $('#Category').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 1051, ""); // To bind dropdown on page load
        });*@


        $('#Employee-Table').on('click', 'input:checkbox:gt(0)', function (e) {
            //  $('input[type="checkbox"]').not(this).prop("checked", false);
            if (this.checked) {
                var id = $(this).val();
                $.ajax({
                    method: "post",
                    data: { data: id },
                    url: "@Url.Action("getemp","FacultyInternalExternal")",
                    success: (function (data) {
                        console.log(data);
                        $("#Code").val(data.Id);
                        $("#Name").val(data.Name);
                    })
                });

            }
        });


        $('#CategoryList_DDL').selectmenu().selectmenu("menuWidget").addClass('overflow');
        $('.popup_radio_button').controlgroup();
        // $('#CategoryList_DDL').selectmenu().selectmenu("menuWidget");
        $('#Autho').makeDisable('#Create,#Edit,#Delete');
        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');
    });
</script>