@{
    ViewBag.Title = "ITForm12BACaptionMapping";
}
@model Payroll.ITForm12BACaptionMapping
<html>
<head>
    <title></title>
    <style>
        .icon-row {
            position: relative;
            left: 38px;
            top: -150px;
        }

        #BusinessType-button {
            font-size: 9px;
            padding-top: 1px;
            font-weight: bold;
        }

        .popup-content-label {
            display: block;
            float: left;
           width: 125px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 150px;
        }

		    .lookuptableselected {
            border: 1px solid #51e7d0;
            width: 258px;
            height: 158px;
            overflow: auto;
            display: block;
            border-radius: 6px;
        }					  
        .row3 {
            width: 402px;
        }

        .row4 {
            position: absolute;
            top: 294px;
            width: 400px;
        }

        .popup-content-textbox-long {
            margin-bottom: 1px;
            width: 290px;
        }


        .row2 {
            width: 402px;
        }
    </style>
    </head>
<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <button class="button" id="Create">Create</button>
                <button class="button" id="View">View</button>
                <button class="button" id="Edit">Edit</button>
                <button class="button" id="Delete">Delete</button>
                <button class="button" id="Autho">Authorised</button>
                <div id="Grid_Form">
                    <div>
                        <table id="JqGrid"></table>
                        <div id="pager2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>

    <div id="Create_Dialog" title="Create Corpoarte">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmITForm12BACaption", name = "frmITForm12BACaption" }))
        {
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
            <div class="row3 content_margine">@Html.LabelFor(m => m.SrNo, "Sr No. :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.SrNo, new { @class = "popup-content-textbox must" })</div>
            <div class="dropdown_row1 row3 content_margine">@Html.LabelFor(m => m.PerquisiteName, "Perquisite Name :", new { @class = "popup-content-label must" })<select id="Categorylist" name="Categorylist" class="must" style="width:161px;"><option></option></select></div>
            <div class="row3 content_margine">
                <div id="AddressList_Old"></div>
                @Html.LabelFor(m => m.SalaryHead, "Salary Head :", new { @class = "popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="AddressList">
                        <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup SalaryHead" class="  popup-content-icon-lookup" id="Lookup-SalaryHead-ITForm12BACaptionMapping"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    @*<button data-p2btooltip="Create SalaryHead" class="popup-content-icon-create" id="Create-SalaryHead-ITForm12BACaptionMapping"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit SalaryHead" class="popup-content-icon-edit" id="Edit-SalaryHead-ITForm12BACaptionMapping"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>*@
                    <button data-p2btooltip="Remove SalaryHead" class="popup-content-icon-remove" id="Remove-SalaryHead-ITForm12BACaptionMapping"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>
        }
        </div>
</body>
</html>
<script>
    $(document).ready(function () {
        //$('#txt_box1').ValidateTextBox({ maxlength: 5, AlphaNum: 0 });
        $('#SrNo').ValidateTextBox({ maxlength: 10, alphanum: true });
        $('#SrNo').ForceOnlyNumeric();
       // $('#Name').ForceOnlyAlpha();
        // $('#Name').MaxLength(50);
       
    });
    $(document).ready(function (e) {
        $('button').button();
        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;
        var btndisablenames = "#Edit-SalaryHead-ITForm12BACaptionMapping,#Remove-SalaryHead-ITForm12BACaptionMapping";
        ColModel = ['SrNo', 'PerquisiteName', 'Id'];
        ColNames = ['SrNo', 'PerquisiteName', 'Id'];
        SortName = 'Id';
        Caption = 'ITForm12BACaptionMapping';
        url = '@Url.Action("P2BGrid")';
        width = 1001;
        height = 150;
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);

        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }

        $('#Create_Dialog').P2BCreateDialog();

        $('#Create').on("click", function (event) {
            $('#frmITForm12BACaption').trigger("reset");
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create frmITForm12BACaptionMaking', 'open', '@Url.Action("Create")', '#frmITForm12BACaption', 'Message :', 'Request Falied :', '#JqGrid', 500, 620, '#AddressList,#ContactDetailsList', btndisablenames, function (data) { });
            $('#Categorylist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 613, ""); // To bind dropdown on page load
            event.preventDefault();
        });

        // Main page edit
        $('#Edit').on('click', function () {
            AssignData();
            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit frmITForm12BACaptionMaking Data", '#frmITForm12BACaption', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 500, 620, '#AddressList,#ContactDetailsList', btndisablenames, function (data) {
                // setTimeout(function () {
                $.each(data[0], function (i, k) {
                    console.log(k.SrNo);
                    $('#SrNo').val(k.SrNo);
                    $('#SrNo').attr('readonly', 'readonly');
                    $('#Categorylist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 613, k.BusinessType_Id); // Dropdown bind
                });
                //partial page bind
                $.each(data[1], function (i, k) {
                    $('#AddressList').P2BLookUpEncapsulate('#AddressList', 'AddressList', k.salhd_id, k.salhd_details, 'AddressList', '#Edit-SalaryHead-ITForm12BACaptionMapping,#Remove-SalaryHead-ITForm12BACaptionMapping', 'A');
                });
                //alert(data[3]);
                $('#Autho_Allow').val(data[3]); //Compulsory for authorisation
                // }, 2000);
            });
        });


        //View main page
        $('#View').button().click(function (event) {
            AssignData();
            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View frmITForm12BACaptionMaking Data', '#AddressList,#ContactDetailsList', '#Lookup-SalaryHead-ITForm12BACaptionMapping,#Create-SalaryHead-ITForm12BACaptionMapping,#Edit-SalaryHead-ITForm12BACaptionMapping,#Remove-SalaryHead-ITForm12BACaptionMapping,#Lookup-ContactDetails-Corporate,#Create-ContactDetails-Corporate,#Edit-ContactDetails-Corporate,#Remove-ContactDetails-Corporate', 500, 620, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {
                $.each(data[0], function (i, k) {
                    $('#Autho_Action').val(k.Action);
                    $('#SrNo').val(k.SrNo);
                    $('#Categorylist').P2BSelectMenuAppend("@Url.Action("GetLookupValue", "lookup")", 613, k.BusinessType_Id);
                });

                $.each(data[1], function (i, k) {
                    $('#AddressList').P2BLookUpEncapsulate('#AddressList', 'AddressList', k.salhd_id, k.salhd_details, 'AddressList', 'view', 'N');
                });
                if ($("#Autho").hasClass('auto_active')) {
                    if (data[2] != null) {
                        $('#Name').oldVal(data[2].Name);
                        $('#Categorylist').oldDropval(data[2].BusinessType_Val);
                        $('#AddressList_Old').oldLookupVal(data[2].Address_Val);
                        $('#ContactDetailsList_Old').oldLookupVal(data[2].Contact_Val);
                    }
                }
            });
            });

            //delete main page
            $('#Delete').button().click(function (event) {
                dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
                $('#Create_Dialog').P2BDeleteModalDialog('@Url.Action("Delete")', dt.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
                event.preventDefault();
            });

            /* Address button click*/

            //To get data in Lookup
            $('#Lookup-SalaryHead-ITForm12BACaptionMapping').on('click', function (event) {
                $('.dialog').P2BLookUpModal('@Url.Action("Getsalarycomponent", "ITForm12BACaptionMapping")', '', 'LookupDiv', 'SalaryHead Look Up Data', '#AddressList', 'AddressList', 5, 'AddressList', '#frmITForm12BACaption', 'A', '#Edit-SalaryHead-ITForm12BACaptionMapping,#Remove-SalaryHead-ITForm12BACaptionMapping', 'Lookup_table', 'PageNavPosition');
                event.preventDefault();
            });

            // PArtial page create
            $('<div></div>').P2BPartialCreateModalDialog();
            $('#Create-SalaryHead-ITForm12BACaptionMapping').on("click", function (event) {
                $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "address")', 'Create Address', 'open', '@Url.Action("Create","Address")', '#FormAddress', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#frmITForm12BACaption', '', function (data) {
                    // to show data which is created in partial page
                    $('#AddressList').P2BLookUpEncapsulate('#AddressList', 'AddressList', data[0], data[1], 'AddressList', '#Edit-SalaryHead-ITForm12BACaptionMapping,#Remove-SalaryHead-ITForm12BACaptionMapping', 'N');
                });
                event.preventDefault();
            });

            // Partial page edit
            $('#Edit-SalaryHead-ITForm12BACaptionMapping').button().on("click", function (event) {
                var a = [], b;
                a = $('#AddressList').P2BGetTableDataonSelectedRow('#AddressList', 0);
                b = a[0];
                //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname, height, width, classoridoftheonwhichpopupderived, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not,nameidclassofbuttontodisable,returndatafunction) {
                $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "address")', '@Url.Action("edit", "address")', b, '@Url.Action("Editsave","Address")', 'Edit Address', '#FormAddress', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#frmITForm12BACaption', '#AddressList', 'AddressList', 'AddressList', 'N', '#Edit-SalaryHead-ITForm12BACaptionMapping,#Remove-SalaryHead-ITForm12BACaptionMapping', function (data) {
                    // setTimeout(function () {
                    //to bind data according to selected id
                    $.each(data[0], function (i, k) {
                        $('#FormAddress').trigger("reset");
                        $('#Address1').val(k.Address1);
                        $('#Address2').val(k.Address2);
                        $('#Address3').val(k.Address3);
                        $('#Landmark').val(k.Landmark);
                        $('#CountryList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "country")", "", k.Country_Id, '');
                        $('#StateList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "state")", "", k.State_Id, '');
                        $('#StateRegionList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "StateRegion")", "", k.StateRegion_Id, '');
                        $('#DistrictList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "District")", "", k.District_Id, '');
                        $('#TalukaList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "Taluka")", "", k.Taluka_Id, '');
                        $('#CityList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "City")", "", k.City_Id, '');
                        $('#AreaList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "area")", "", k.Area_Id, '');
                    });
                    //}, 3000);


                });
                event.preventDefault();
            });

            //partial page delete
            $('#Remove-SalaryHead-ITForm12BACaptionMapping').button().on('click', function (event) {
                //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
                //var a = [], b;
                //a = $('#AddressList').P2BGetTableDataonSelectedRow('#AddressList', 0);
                //b = a[0];
                var selectedRows = [];
                selectedRows = $('#AddressList').P2BGetTableDataonSelectedRow('#AddressList', 0);
                $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#AddressList', $('#AddressList').val(), 200, 200, '#frmITForm12BACaption', '#AddressList', '#Edit-SalaryHead-ITForm12BACaptionMapping,#Remove-SalaryHead-ITForm12BACaptionMapping');
                event.preventDefault();
            });

            /* ContactDetails button click*/

       
            $('.popup_radio_button').controlgroup();
            $('#Categorylist').selectmenu().selectmenu("menuWidget");
            $('#Autho').makeDisable('#Create,#Edit,#Delete');
            $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');
        });
</script>