@{
    ViewBag.Title = "CompetencyEmployeeDataT";
}
@model CMS_SPS.CompetencyEmployeeDataT
<html>
<head>
    <title></title>
    <style>
        .icon-row {
            position: relative;
            left: 59px;
            top: -126px;
        }

        .popup-content-label {
            display: block;
            float: left;
            width: 165px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            width: 140px;
        }

        .row3 {
            width: 548px;
        }

        .row2 {
            display: inline-block;
            width: 333px;
        }

        .section1_Leave {
            display: block;
            border: 1.5px solid rgba(207, 207, 207, 0.91);
            height: 683px;
            width: 500px;
            margin: 4px auto;
            position: absolute;
        }

        .section2_Leave {
            display: block;
            border: 1px solid #ddd;
            height: 683px;
            width: 960px;
            margin: 2px 2px;
            position: absolute;
            margin-left: 47em;
            /*left: 401px;*/
        }

        .section3_Leave {
            display: block;
            border: 1px solid #ddd;
            /*! height: 502px; */
            width: 250px;
            margin: 2px 2px;
            position: absolute;
            left: 920px;
            top: 28px;
            /*float: right;*/
        }

        #monthTable {
            /*font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;*/
            border-collapse: collapse;
            width: 100%;
        }

            #monthTable td, #monthTable th {
                border: 1px solid #ddd;
                padding: 8px;
            }

        #monthTable-selected {
            color: #8e6d87;
            font-weight: bold;
        }
        /*#monthTable tr:nth-child(even) {
            background-color: #f2f2f2;
        }*/

        #monthTable tr:hover {
            background-color: #ddd;
        }

        #monthTable th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #009282;
            color: white;
        }

        #FinalTable {
            /*font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;*/
            border-collapse: collapse;
            width: 100%;
        }

            #FinalTable td, #FinalTable th {
                border: 1px solid #ddd;
                padding: 8px;
            }

        #FinalTable-selected {
            color: #8e6d87;
            font-weight: bold;
        }
        /*#monthTable tr:nth-child(even) {
            background-color: #f2f2f2;
        }*/

        #FinalTable tr:hover {
            background-color: #ddd;
        }

        #FinalTable th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #009282;
            color: white;
        }



        #AnalysisTable {
            /*font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;*/
            border-collapse: collapse;
            width: 100%;
        }

        #AnalysisTable td, #AnalysisTable th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #AnalysisTable-selected {
            color: #8e6d87;
            font-weight: bold;
        }
        /*#monthTable tr:nth-child(even) {
            background-color: #f2f2f2;
        }*/

        #AnalysisTable tr:hover {
            background-color: #ddd;
        }

        #AnalysisTable th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #009282;
            color: white;
        }

        .newstruct-div {
            float: left;
            width: 193px;
            margin: 3px auto;
        }

        .transactiontable {
            height: 187px;
        }

        .without-btn {
            height: 216px;
        }

        .lookupboxdiv {
            margin-left: 100px;
        }
        .disable {
            /* Note: pointer-events not supported by IE10 and under */
            pointer-events: none;
            opacity: 0.4;
        }
    </style>

</head>
<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <div style="float:left;margin-left:25px"><label>Batch Name:</label></div>

                <div style="float:left;margin-left:25px">
                    <select class="drop must" style="width:180px;" name="BatchNamelistG" id="BatchNamelistG">
                        <option value="0">--Select--</option>
                    </select>
                </div>

                @*<div style="float:left;margin-left:25px"><label>Process Batch:</label></div>

    <div style="float:left;margin-left:25px">
        <select class="drop must" style="width:180px;" name="ProcessBatchlistG" id="ProcessBatchlistG">
            <option value="0">--Select--</option>
        </select>
    </div>*@
                <button class="button" id="Load">Load</button> 
                <button class="button" id="Create">Create</button>
                <button class="button" id="close">ProcessBatch Close</button>
                @*<button class="button" id="View">View</button>
                    <button class="button" id="Edit">Edit</button>
                    <button class="button" id="Delete">Delete</button>
                    <button class="button" id="Autho">Authorized</button>*@
                @*<button class="button" id="Delete">Delete</button>*@
                @*<button class="button" id="release">Release</button>*@
                <div id="Grid_Form">
                    <div>
                        <table id="JqGrid"></table>
                        <div id="pager2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv" id="lookup"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>
    <div id="Create_Dialog">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "FormCompetencyEmployeeDataT", name = "FormCompetencyEmployeeDataT" }))
        {
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
            <div class="section1_Leave">
                <div>
                    <div class="row3 content_margine">
                        @Html.LabelFor(m => m.BatchName, "Batch Name :", new { @class = "popup-content-label must" })
                        <select class="drop must" style="width:180px;" name="BatchNamelist" id="BatchNamelist">
                            <option></option>
                        </select>

                        <input type="text" id="CompModelName" name="CompModelName" class="popup-content-textbox" readonly="readonly" />
                        @*<label class="popup-content-label">CompetencyModel Name :</label>*@
                        
                    </div>

                    <div class="row3 content_margine">
                        <button id="GenerateEmpDataT" style="left:166px;">Employee Generation</button>
                    </div>
                    
                    <div class="row1 content_margine">
                        <label class="popup-content-label">Process Batch :</label>
                        <input type="text" id="ProcessBatch" name="ProcessBatch" class="popup-content-textbox" />
                        <input type="text" id="Head_id" name="Head_id" class="filter_structure_id" />
                        <button style="margin-left:20px;" data-p2btooltip="Select Process Batch" id="Lookup-Name-ProcessBatch"><span style="position:relative;" class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                        <button id="load_Exdata" style="left:10px;">Load Data</button>
                    </div>

                    <div class="row3 content_margine">
                        <label class="popup-content-label">Model Object List :</label>
                        <select class="drop must" style="width:180px;" name="ModelObjectlist" id="ModelObjectlist">
                            <option></option>
                        </select>
                    </div>
                  
                    <div class="row3 content_margine">
                        <label class="popup-content-label">Model SubType Object List :</label>
                        <select class="drop must" style="width:180px;" name="ModelSubtypeObjectlist" id="ModelSubtypeObjectlist">
                            <option></option>
                        </select>
                        <button id="load_data" style="left:10px;">Load</button>
                    </div>
                </div>
                <div>
                    <label class="heading">Evaluation Criteria</label>
                    <table id="monthTable">
                        <tr><th>Sr.No</th><th>Model Object SubType</th><th>Criteria</th><th>Data</th></tr>
                    </table>
                </div>
                <div id="Finaldv" style="display:none; overflow:auto;">
                    <label class="heading">Search Evaluation Criteria</label>
                    <table id="FinalTable">
                        <tr><th>Sr.No</th><th>Model Name</th><th>Model Object Type</th><th>Model Object SubType</th><th>Criteria</th><th>Data1</th><th>Data2</th></tr>
                    </table>
                    
                    
                </div>
                <button id="process_data" style="left:10px; display:none;">Analysis Process</button>
            </div>
            <div class="section2_Leave">
                <label class="heading">Analysis Data</label>
                <div style="overflow:auto;height:600px;width:851px;">
                    <table id="AnalysisTable">
                        <thead>                            
                            <tr>
                                <th data-name="SrNo">Sr.No</th>
                                @*<th><input type="checkbox" id="select_all" /></th>*@
                                <th data-name="EmpPhoto">Emp Photo</th>
                                <th data-name="EmpCode">Emp Code</th>
                                <th data-name="EmpName">Emp Name</th>
                                <th data-name="Location">Location</th>
                                <th data-name="Department">Department</th>
                                <th data-name="Designation">Designation</th>
                            </tr>
                        </thead>
                        @*<tr><th>Sr.No</th><th>Emp Photo</th><th>Emp Code</th><th>Emp Name</th></tr>*@
                    </table>
                </div>
                
                @*<button id="Save_data" style="left:10px;">Save Data</button>*@
            </div>

        }
    </div>

</body>
</html>
<script>

    $(document).ready(function (e) {
        $('button').button();

        $('#BatchNamelistG').selectmenu().selectmenu("menuWidget");
        $('#BatchNamelistG').P2BSelectMenuAppend('@Url.Action("GetBatchName", "CompetencyEmployeeDataT")');
       // $('#BatchNamelistG').P2BSelectMenuOnChange("selectmenuchange", "@Url.Action("PopulateDropDownListProcBatch", "CompetencyEmployeeDataT")", '#ProcessBatchlistG', "");

        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;
        ColModel = ['ProcessBatch', 'ProcessDate','Id'];
        ColNames = ['ProcessBatch', 'ProcessDate', 'Id'];
        SortName = 'Id';
        Caption = 'Competency Batch Details';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);

        $('#Load').on('click', function (e) {
            $('#JqGrid').PostGridData({ url: url, filter: $("#BatchNamelistG option:selected").text() });
        });

        var dt;
        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }



        $('#Create_Dialog').P2BCreateDialog();

        $('#Lookup-Name-ProcessBatch').on('click', function () {
            var Temp = $('#BatchNamelist option:selected').val();
            var BatchNMval = parseInt(Temp, 10);
            $('.dialog').AddDataToTextbox({
                appendTo: "#ProcessBatch",
                //appendToId: "#Head_id",
                lookupurl: "@Url.Action("GetProcessBatchLKDetails", "CompetencyEmployeeDataT")?BatchId=" + BatchNMval,
                NoOfRecordToShow: "10",
                setnameofthelookupbyppage: "ProcessBatch",
                LookupDiv: "LookupDiv",
                lookuppagename: "lookup",
                pagename: "PageNavPosition",
                // readonly: true,
            });


        });

        $('#close').button().click(function (event) {
            $.FormReset('#FormCompetencyEmployeeDataT');
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            $('#Create_Dialog').P2BDeleteModalDialog('@Url.Action("Delete")', dt.Id, 'Are you sure want to close a batch???', 'Message : ', 'Request failed', '#JqGrid', 200, 200, { datatablename: "#MyTable" });
            event.preventDefault();
        });

        $('#BatchNamelist').P2BSelectMenuOnChange("selectmenuchange", "@Url.Action("PopulateDropDownList", "CompetencyEmployeeDataT")", '#ModelObjectlist', "");
    //Create Function
        $('#Create').on("click", function (event) {
            // $('#FormCompetencyEmployeeDataT').trigger("reset");
            $.FormReset('#FormCompetencyEmployeeDataT');
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create CompetencyEmployeeDataT', 'open', '@Url.Action("Create")', '#FormCompetencyEmployeeDataT', 'Message :', 'Request Failed :', '#JqGrid', 770, 1400, '', '', function (data) { }, {});
            $('#ProcessDate').TodayDate();
            $('#ProcessDate').attr("readonly", "readonly");
            $('#GenerateEmpDataT').removeClass("disable");
            $('#BatchNamelist').P2BSelectMenuAppend('@Url.Action("GetBatchName", "CompetencyEmployeeDataT")');
            $('.ui-dialog-buttonpane').find('button:contains("Submit")').button('disable');
            event.preventDefault();
        });

        $("#BatchNamelist").on('selectmenuchange', function () {
            var BatchName = $("#BatchNamelist option:selected").val();
            $.ajax(
                {
                    type: "Post",
                    data: { 'BatchId': BatchName },
                    url: "@Url.Action("GetModelNamelist", "CompetencyEmployeeDataT")",
                    success: function (data) {
                        $("#CompModelName").val(data)
                    }
                });
        });

        $('#ModelObjectlist').on('selectmenuchange', function () {
            var BatchName = $("#BatchNamelist option:selected").val();
            var ModelObjectlist = $("#ModelObjectlist option:selected").text();

            $.ajax(
                {
                    type: "Post",
                    data: { 'BatchName': BatchName, 'ModelObject': ModelObjectlist },
                    url: "@Url.Action("PopulateDropDownLisSubtype", "CompetencyEmployeeDataT")",
                    success: function (data) {
                        $('#ModelSubtypeObjectlist').empty().append("<option value=0 selected=true>-Select-</option>").selectmenu().selectmenu("refresh");
                        $.each(data, function (i, k) {
                            $('#ModelSubtypeObjectlist').append($('<option>', {
                                value: k.Value,
                                text: k.Text,
                                selected: k.Selected
                            }));
                            $('#ModelSubtypeObjectlist').selectmenu().selectmenu("refresh").selectmenu("menuWidget").css({ "height": "auto" });
                        });
                    }
                });
        });
        
        $('#load_Exdata').click(function (e) {
           
            $('#FinalTable tr:gt(0)').remove();
            var BatchId = $("#BatchNamelist option:selected").val();
            if (BatchId == "0") {
                alert("Please select the Batch Name");
            }
            var ProcessBatch = $('input[name="ProcessBatch"]').val();
           // alert(ProcessBatch)
           
            if (ProcessBatch == "") {
                alert("Please select the Process Batch");
            }
           
            $.ajax({
                url: "@Url.Action("GetExistigData", "CompetencyEmployeeDataT")",
                data: { BatchId: BatchId, ProcessBatch: ProcessBatch },
                success: function (data) {
                    var tr = "";
                    var index = 1;
                    var tempclass = "";
                    $('#FinalTable tr:gt(0)').remove();

                    $.each(data, function (i, k) {
                        tempclass = "weeklyoffclass";
                        tr += "<tr class='" + tempclass + "' Id='" + k.SNo + "'><td>" + index + "</td><td>" + k.ModelName + "</td><td>" + k.ModelObjectType + "</td><td>" + k.ModelObjectSubtype + "</td><td>" + k.Criteria + "</td><td>" + k.Data1 + "</td><td>" + k.Data2 + "</td><td><input type='button' value='Delete' onclick='SomeDeleteRowFunction(this)'></td></tr>";
                        index++;
                        tempclass = "";
                    });
                    $('#FinalTable tr:last').after(tr);
                }
            });

            $('#Finaldv').show();
            $('#process_data').show();
            e.preventDefault();
        });

        $('#load_data').click(function () {
            $('#AnalysisTable tr:gt(0)').remove();
            var BatchId = $("#BatchNamelist option:selected").val();
            if (BatchId == "0") {
                alert("Please select the Batch Name");
            }
            var ModelId = $("#ModelObjectlist option:selected").val();
            if (ModelId == "0") {
                alert("Please select the Model Name");
            }
            var ModelName = $("#ModelObjectlist option:selected").text();
            var ModelobjId = $("#ModelSubtypeObjectlist option:selected").val();
            if (ModelobjId == "0") {
                alert("Please select the Model Object");
            }
            $.ajax({
                url: "@Url.Action("GetModelData", "CompetencyEmployeeDataT")",
                data: { BatchId: BatchId, ModelId: ModelId, ModelobjId: ModelobjId, ModelName: ModelName },
                success: function (data) {
                    var tr = "";
                    var index = 1;
                    var tempclass = "";
                    $('#monthTable tr:gt(0)').remove();

                    $.each(data, function (i, k) {
                        tempclass = "weeklyoffclass";

                        tr += "<tr class='" + tempclass + "' Id='" + k.Id + "'><td>" + index + "</td><td>" + k.ModelObject + "</td><td>" + k.Criteria + "</td><td>" + k.Data1 + "</td></tr>";
                        index++;
                        tempclass = "";
                        //});
                    });
                    $('#monthTable tr:last').after(tr);
                }
            });
        });



    var formjsondataT = "";
    $('#GenerateEmpDataT').on('click', function (e) {
        var BatchName = $("#BatchNamelist option:selected").val();
        $.ajax({
            url: "@Url.Action("EmployeedataGeneration", "CompetencyEmployeeDataT")",
            method: "POST",
            data: { BatchId: BatchName, ModelSubObject: $("#ModelSubtypeObjectlist option:selected").val() },
            beforeSend: function () {
                ajaxloaderv2('body');
            },
            success: function (data) {
                
                $('.ajax_loder').remove();
                if (data.MSG = "Employee Data Generated Successfully.") {
                    $('#GenerateEmpDataT').addClass("disable");
                  

                }
                alert(data.MSG);
                
            },
           
            
        });
    });


    $('#monthTable').on('click', 'tr:gt(0)', function (e) {
        var target = $(e.target).parent('tr');
        target.toggleClass('monthTable-selected');
        $('#monthTable tr:gt(0)').not(target).removeClass('monthTable-selected');
        $('#sr_no').focus();

        var input = $('#Form_Edit_Form input[type="text"],#Form_Edit_Form select').toArray();

        $('<div></div>').PartialCreateDialog({
            height: 'auto',
            width: 900,
            form: "#Form_Edit_Form",
            htmlurl: "@Url.Action("partial", "CompetencyEmployeeDataT")",
            state: "open",
            mode: "Edit",
            editdata: input,
            forwarddata: input,
            returndatafunction: function (data) {
                target.children().each(function (i, k) {
                    if (i == 0) {
                        $('#sr_no').val($(k).text());
                        //alert($(k).text());
                    }
                    //if (i == 1) {
                    $('#ModelName').val($('#CompModelName').val());
                    //}
                    //if (i == 2) {
                    $('#ModelObjectType').val($('#ModelObjectlist option:selected').text());
                    //}
                    if (i == 1) {
                        $('#ModelObjectSubtype').val($(k).text());
                    }
                    if (i == 2) {
                        $('#Criteria').val($(k).text());
                    }
                    if (i == 3) {
                        $('#Data1').val($(k).text());
                    }
                    if (i == 4) {
                        $('#Data2').val($(k).text());
                    }
                });
            },
            submitfun: function (data) {
                alert("after submit");
                var row = dt.row(parent_element);
                if (row.child.isShown()) {
                    parent_element.removeClass('details');
                    row.child.hide();
                }
            }
        });
        e.preventDefault();
    });


  

    function ajaxloaderv2(cameform) {
        $('<a><i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw ajax_loder" style="color: rgba(27, 187, 173, 0.93);z-index:999;" aria-hidden="true"></i></a>').appendTo(cameform);
    };

    $('#select_all').on('click', function () {
        if (this.checked) {
            $('.checkbox').each(function () {
                this.checked = true;
            });
        } else {
            $('.checkbox').each(function () {
                this.checked = false;
            });
        }
    });

    //$('#Save_data').on('click', function (e) {

    //});

    // $('.ui-dialog-buttonpane').find('button:contains("Submit")').button('disable');

    $('#process_data').on('click', function (e) {
        var formjson = [];
        var tr = [];
        tr = $('#FinalTable tr:gt(0)').toArray();
        if (tr.length == 0) {
            tr = $('#FinalTable tr:gt(0)').toArray();
        }

        var ProcessBatch = $('input[name="ProcessBatch"]').val();

        $.each(tr, function (i, k) {
            var childs = $(k).children().toArray();
            formjson.push({
                "SNo": $(childs[0]).text(),
                "ModelName": $(childs[1]).text(),
                "ModelObjectType": $(childs[2]).text(),
                "ModelObjectSubtype": $(childs[3]).text(),
                "Criteria": $(childs[4]).text(),
                "Data1": $(childs[5]).text(),
                "Data2": $(childs[6]).text()
            });
        });
        $.ajax({
            url: "@Url.Action("createdata", "CompetencyEmployeeDataT")",
            method: "POST",
            cache: false,
            contentType: 'application/json',
            datatype: 'json',
            data: JSON.stringify({
                data: formjson, BatchNamelist: $("#BatchNamelist option:selected").val(), ProcessBatch: ProcessBatch
            }),
            beforeSend: function () {
                ajaxloaderv2('body');
            },
            success: function (data) {
                if (data.MSG != "") {
                    alert(data.MSG);
                }

                if (data.OModelObject != null && data.MSG == "") {
                    var index = 1;
                    var tempclass = "";
                    $('#AnalysisTable tr:gt(0)').remove();
                    // $('#AnalysisTable').empty();

                    $.each(data.OModelObject, function (i, k) {
                        remove(k);
                        $("#AnalysisTable>thead>tr").append("<th data-name=" + k + ">" + k + "</th>");
                    });


                    $.each(data.returndata, function (i, k) {
                        tempclass = "weeklyoffclass";
                        var tr = "";
                        var img1 = '<a href="' + k.EmpPhoto + '"><img src="' + k.EmpPhoto + '"/></a>';
                        //tr = "<tr class='" + tempclass + "' Id='" + k.SNo + "'><td>" + index + "</td><td><input type='checkbox' class='checkbox' value='" + k.Id + "' id=chk_" + index + "/></td><td>" + img1 + "</td><td>" + k.EmpCode + "</td><td>" + k.EmpName + "</td><td>" + k.Location + "</td><td>" + k.Department + "</td><td>" + k.Designation + "</td></tr>";
                        tr = "<tr class='" + tempclass + "' Id='" + k.SNo + "'><td>" + index + "</td><td>" + img1 + "</td><td>" + k.EmpCode + "</td><td>" + k.EmpName + "</td><td>" + k.Location + "</td><td>" + k.Department + "</td><td>" + k.Designation + "</td></tr>";
                        $('#AnalysisTable tr:last').after(tr);
                        $.each(k.Fields, function (j, t) {
                            $('#AnalysisTable').find('td:last').after('<td>' + t + '</td>');
                        });
                        index++;
                        tempclass = "";

                        //});
                    });
                }
                $('.ajax_loder').remove();

            }
            //alert(data.MSG);
            //}
        });
    });

    function remove(str) {
        var target = $('#AnalysisTable>thead>tr').find('th[data-name="' + str + '"]');
        var index = (target).index();
        if (index > -1) {
            $('#AnalysisTable>thead>tr').find('th:eq(' + index + ')').remove();
        }

    }


    $('.drop').selectmenu().selectmenu("menuWidget");

    });
</script>
