@{
    ViewBag.Title = "Promotion Service Book";
}
@model Payroll.PromotionServiceBook
<html>

<head>

    <title></title>

    <script>
        $(document).ready(function (e) {
            $('button').button();
            var ColNames_release = [];
            var ColModel_release = [];
            var SortName_release, Caption_release, url_release, width_release, height_release;

            ColNames_release = ['EmpCode', 'EmpName', 'Activity', 'Activity Date', 'Old Basic', 'New Basic', 'ActivityId', 'Id'];
            ColModel_release = ['Emp Code', 'Emp Name', 'Activity', 'Activity Date', 'Old Basic', 'New Basic', 'ActivityId', 'Id'];
            SortName_release = 'Id';
            Caption_release = 'Promotion Service Book';
            // url_release = 'IncrementServiceBook/P2BGridRelease';
            url_release = '@Url.Action("P2BGridRelease", "PromotionServiceBook")'
            width_release = 1000;
            height_release = 150;
            var inline_ColNames = [];
            var inline_ColModel = [];
            var inline_SortName, inline_Caption, inline_url, inline_width, inline_height;
            inline_ColModel = ['SalaryHead', 'Amount', 'FormulaType', 'FormulaEditable', 'Editable', 'Id'];
            inline_ColNames = ['SalaryHead', 'Amount', 'FormulaType', 'FormulaEditable', 'Editable', 'Id'];
            inline_SortName = 'Id';
            inline_Caption = 'List';
            //inline_url = '@Url.Action("P2BGridReleaseNonStd", "PromotionServiceBook")'
            inline_width = 450;
            inline_height = 50;
            var modified_data = {
                data: []
            };

            function DateConvert(JsonDate) {
                var date = new Date(parseInt(JsonDate.substr(6)));
                var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
                return displayDate;
            };

            $('#divinline_jq').hide();
            $('#note').hide();
            //  a.Id, a.SalaryHead.Name, a.FromPeriod, a.ToPeriod, a.AmountPaid, a.OtherDeduction, a.ProcessMonth, a.TDSAmount, a.Narration
            $('#JqGrid_release').on('click', function () {
                $('#divinline_jq').hide();
                $('#note').hide();
                //$('#inline_JqGrid').P2BGrid(inline_ColNames, inline_ColModel, inline_SortName, inline_Caption, inline_url, inline_width, inline_height, '#pager2');
                setTimeout(function () {
                    var EmpId = $.GetGridSelctedvalue("#JqGrid_release", "Id");
                    var Id = $.GetGridSelctedvalue("#JqGrid_release", "ActivityId");
                    console.log(EmpId);
                    $('#emp_Id').val(EmpId);
                    $('#releas_Id').val(Id);
                    $("#Earn1").empty();
                    $("#EarnNew").empty();
                    $.get("@Url.Action("GetNonstdData")", { data: $('#emp_Id').val(), data1: $('#releas_Id').val() }, function (data) {

                        if (data.msg != "") {
                            alert(data.msg);
                        }
                        if (data.Sal != "" && data.SalNew != "") {
                            $('#divinline_jq').removeAttr("style");
                            $('#note').show();
                            var v1 = data.Sal;
                            var v2 = data.SalNew;
                            var elems = [];
                            var elemsNew = [];
                            $.each(v1, function (i, k) {
                                $('#SalHeadCount').val(i);
                                elems[i] = k.SalaryHead.Id;
                                $("#Earn1").append("<li>" + "<p class=cb>" + k.SalaryHead.Name + "<div id='olddiv' style='margin-right: 23px;margin-top: -24px;'>" + "<input style ='width:50px; margin-left: 175px;' class='earnamt' disabled  name=Amt" + i + " value=" + k.Amount + " >" + "</input>" + "<input style='width:50px;' class='earnamt' disabled  value=" + k.FormulaEditable + " name=F" + i + " class=bc>" + "</div>" + "</li>");
                            });


                            $.each(v2, function (p, q) {
                                $("#EarnNew").append("<li>" + "<p class=cb><div id='newdiv'><input class='earnamt' name=AmtNew" + p + " value=" + q.Amount + " >" + "</input>" + "<input class='earnamt' value=" + q.FormulaEditable + " name=FNew" + p + " class=bc>" + "</div>" + "</li>");
                            });


                            $('#input_hidden_field').val(elems);
                        } else {
                            $('#note').hide();
                            $("#Earn1").empty();
                            $("#EarnNew").empty();
                            $('#divinline_jq').attr("display", "none");
                        }
                    });

                    $.get("@Url.Action("Edit")", { data: $('#releas_Id').val() }, function (data) {
                        $.each(data[0], function (i, k) {
                            //  alert(k.Narration);
                            if (k.ProcessPromoDate != null) {
                                $('#txtProcessPromoDaterelease').val(DateConvert(k.ProcessPromoDate));
                            }
                            if (k.ReleaseDate != null) {
                                $('#ReleaseDate').val(DateConvert(k.ReleaseDate));
                            }



                            $('#txtpromoactivityrelease').val(k.PromotionActivity);

                            $('#txtOldPayScalerelease').val(k.OldPayScale_FullDetails);
                            $('#txtNewPayScalerelease').val(k.NewPayScale_FullDetails);
                            $('#txtOldPayScaleAgreementrelease').val(k.OldPayScaleAgreement_FullDetails);
                            $('#txtNewPayScaleAgreementrelease').val(k.NewPayScaleAgreement_FullDetails);
                            $('#txtNarrationRelease').val(k.Narration);
                            $('#OldPayStruct_FullDetails').val(k.OldPayStruct_FullDetails);
                            $('#NewPayStruct_FullDetails').val(k.NewPayStruct_FullDetails);
                            $('#OldFuncStruct_FullDetails').val(k.OldFuncStruct_FullDetails);
                            $('#NewFuncStruct_FullDetails').val(k.NewFuncStruct_FullDetails);

                        });
                    });

                }, 500);




            });





            $('#ProcessPromoDate').P2BDatePicker();
            $('#ToPeriod').P2BDatePicker();
            $('#ReleaseDate').P2BDatePicker();

            $('#Advance-Filter-Symbol').on('click', function () {
                $("<div></div>").FilterDialog({
                    width: 1000,
                    height: 400,
                    title: "Filter",
                    htmlurl: "@Url.Action("Advance_partial", "Transcation")",
                    returnat: function (data) {
                        console.log(data);
                        var forwarddata = JSON.stringify(data);
                        $('#Employee-Table').P2BTransactionTableDynamic('#Employee-Search', '#Case-Employee', './Transcation/Get_Employelist_h?geo_id=' + forwarddata + '', "");
                        //$('#Employee-Table').P2BTransactionTableDynamic('#Employee-Search', '#Case-Employee', './Transcation/Get_Employelist?geo_id=' + forwarddata + '', "");
                        //$('#pay_id').val(data.PayStruct);
                        //$('#fun_id').val(data.FunStruct);
                    }, hierarchy: true,
                    renderat: "#FormFilter",
                });
                //console.log($('#FormFilter')[0]);
            });

            $('#Btn-Upload-Data').on('click', function (e) {
                ////;
                $('<div></div>').PartialCreateDialog({
                    height: '500',
                    width: '700',
                    form: '#FormLookup',
                    title: 'Upload',
                    htmlurl: '@Url.Action("PARTIAL","JSONUPLOAD")',
                    state: "open",
                    mode: 'edit',
                    editurl: null,
                    submiturl: null,
                    editdata: 'a',
                    forwarddata: 'a',
                    returndatafunction: function (data) {
                        console.log(data);
                    },
                    submitfun: function (data) {
                        console.log(data);
                    }
                });

                e.preventDefault();
            });

            $('#MyTable').MultiLevelInlineEditGrid({
                url: "@Url.Action("Emp_Grid", "PromotionServiceBook")",
                editurl: "",
                htmurl: "",
                submiturl: "@Url.Action("GridEditSave", "PromotionServiceBook")",
                columnname: ["Code", "Name", "Id"],
                childheader: ["Release", "ReleaseDate", "Activity", "ProcessDate", "OldBasic", "Fittment", "NewBasic", "OldFuncStruct", "NewFuncStruct", "OldPayStruct", "NewPayStruct", "Id"],
                childurl: "@Url.Action("Get_PromoServBook", "PromotionServiceBook")",
                tableheader: "Promotion Service Book",
                childurlColumnNo: "3"
            });

            $.DataTableChildManipulation = function (init, id, parentid, htmurl, editurl, submiturl) {
                // console.log($(init).parents('tr:eq(0)'));
                var parent_element = $(init).parents('td:last').parent().prev();
                //var element = $(init).parents('tr:eq(0)');
                console.log(id);
                console.log(htmurl);
                console.log(parent_element);
                //   console.log(element);
                var dt = $('#MyTable').DataTable();

                var htmlcomponant = {
                    init: init,
                    Id: id,
                    idx: parentid,
                    htmurl: htmurl,
                    editurl: editurl,
                    submiturl: submiturl,
                };
                if ($(init).hasClass('ui-icon-newwin')) {
                    //    $('<div></div>').PartialCreateDialog({
                    //        height: 'auto',
                    //        width: 'auto',
                    //        form: "#Form-YearlyPaymentT-Partial",
                    //        htmlurl: htmurl,
                    //        state: "open",
                    //        mode: "View",
                    //        editurl: editurl,
                    //        submiturl: submiturl,
                    //        editdata: id,
                    //        forwarddata: id,
                    //        returndatafunction: function (data) {
                    //            $.each(data.data, function (i, k) {
                    //                $('#yearlypayment-AmountPaid').val(k.AmountPaidP);
                    //                $('#yearlypayment-TDSAmount').val(k.TDSAmountP);
                    //                $('#yearlypayment-OtherDeduction').val(k.OtherDeductionP);
                    //                $('#yearlypayment-Narration').val(k.NarrationP);
                    //            });
                    //        }
                    //    });
                    //} else if ($(init).hasClass('ui-icon-pencil')) {
                    //    $('<div></div>').PartialCreateDialog({
                    //        height: 'auto',
                    //        width: 'auto',
                    //        form: "#Form-YearlyPaymentT-Partial",
                    //        htmlurl: htmurl,
                    //        state: "open",
                    //        mode: "Edit",
                    //        editurl: editurl,
                    //        submiturl: submiturl,
                    //        editdata: id,
                    //        forwarddata: id,
                    //        returndatafunction: function (data) {
                    //            $.each(data.data, function (i, k) {
                    //                $('#yearlypayment-AmountPaid').val(k.AmountPaidP);
                    //                $('#yearlypayment-TDSAmount').val(k.TDSAmountP);
                    //                $('#yearlypayment-OtherDeduction').val(k.OtherDeductionP);
                    //                $('#yearlypayment-Narration').val(k.NarrationP);
                    //            });
                    //        },
                    //        submitfun: function (data) {
                    //            var row = dt.row(parent_element);
                    //            if (row.child.isShown()) {
                    //                parent_element.removeClass('details');
                    //                row.child.hide();
                    //            }
                    //        }
                    //    });
                } else if ($(init).hasClass('ui-icon-trash')) {
                    $('<div></div>').PartialCreateDialog({
                        state: "open",
                        mode: "Delete",
                        submiturl: "@Url.Action("GridDelete")",
                        forwarddata: id,
                        submitfun: function (data) {
                            var row = dt.row(parent_element);
                            if (row.child.isShown()) {
                                parent_element.removeClass('details');
                                row.child.hide();
                            }
                        }
                    });
                }
            };

            $('#ReleaseDate').prop("disabled", true);
            $('input[name="ReleaseFlag"]:radio').change(function () {
                if (this.value == "false") {
                    $('#ReleaseDate').prop("disabled", true);
                    $('#ReleaseDate').val("");
                }
                else {
                    $('#ReleaseDate').prop("disabled", false);
                    $('#ReleaseDate').TodayDate();


                }
            });
            $('#Create_Dialog').P2BCreateDialog();
            $('#CreateRelease_dialog').P2BCreateDialog();


            //
            $('#add').on("click", function (event) {
                //$.LoadEmpByDefault(true);
                $.LoadEmpByDefaultWOGeoId(true, "");
                $('#frmPromotionServiceBook').trigger("reset");
                $('#NewFuncT-table').find('tr:gt(0)').remove();
                $('#NewPayT-table').find('tr:gt(0)').remove();
                $('#NewGeoT-table').find('tr:gt(0)').remove();
                $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create Promotion Service Book', 'open', '@Url.Action("Create")', '#frmPromotionServiceBook', 'Message :', 'Request Falied :', '#JqGrid', 800, 1100, '#AddressList,#ContactDetailsList', '', function (data) { }, { datatablename: "#MyTable" });
                $('#ProcessPromoDate').attr('readonly', true);
                @*$('#OldPayScalelist').SelectMenuAppend('@Url.Action("PopulateDropDownPayscaleListOld", "PromotionServiceBook")', "", ""); // To bind dropdown on page load*@
                @*$('#NewPayScalelist').SelectMenuAppend('@Url.Action("PopulateDropDownPayscaleList", "PromotionServiceBook")', "", ""); // To bind dropdown on page load*@
                @*$('#OldPayScaleAgreementlist').SelectMenuAppend('@Url.Action("PopulateDropDownPayscaleAgreementListOld", "PromotionServiceBook")', "", ""); // To bind dropdown on page load*@
                @*$('#NewPayScaleAgreementlist').SelectMenuAppend('@Url.Action("PopulateDropDownPayscaleAgreementList", "PromotionServiceBook")', "", ""); // To bind dropdown on page load*@
                //
                event.preventDefault();
            });

            $('#PromotionActivitylist').on('selectmenuopen')
            //$('#Narration').prop("disabled", true);
            $('#txtpromoactivityrelease').prop("disabled", true);
            $('#txtOldPayScalerelease').prop("disabled", true);
            $('#txtNewPayScalerelease').prop("disabled", true);
            $('#txtOldPayScaleAgreementrelease').prop("disabled", true);
            $('#txtNewPayScaleAgreementrelease').prop("disabled", true);
            $('#txtProcessPromoDaterelease').prop("disabled", true);
            $('#SalaryHeadReleaselist').prop("disabled", true);

            $('#release').on("click", function (event) {
                //var a = $('#JqGrid').InlineGridEdittedData.GetData();
                //if (a != null) {
                //    var b = JSON.stringify(a);
                //confirm('NonStandard heads one define in salary structure,Multiple employees selected for transfer,Any change the amount in salarystructure?');
                $('#JqGrid_release').P2BGrid(ColNames_release, ColModel_release, SortName_release, Caption_release, url_release, width_release, height_release, '#pager2_release', { multiple: true, rowNum: 30, selectall: true });
                $('#CreateRelease_dialog').P2BGridDialog({
                    maindialogtitle: "Create Release Yearly Payment",
                    submiturl: "@Url.Action("Release")",
                    form: "#frmPromoServBookRelease",
                    height: 555,
                    width: 1100,
                    state: "open",
                    gridname: "#JqGrid_release",
                    gridfunction: "GetGridSelctedvalue",
                });

                $.ajax({
                    success: function () {
                        confirm('Please note that in the case of multiple selections of employee releases, the nonstandard salary component value has to be changed manually... ?');
                    }

                });
            });
            $('.drop').selectmenu().selectmenu("menuWidget");
            $('.popup_radio_button').controlgroup();
            $('.structclass').selectmenu().selectmenu("menuWidget");
            $('#OldFuncT-table').prop("disabled", true);
            $('#OldPayT-table').prop("disabled", true);
            $('#OldGeoT-table').prop("disabled", true);
            $('#OldPayStruct_FullDetails').prop("disabled", true);
            $('#NewPayStruct_FullDetails').prop("disabled", true);
            $('#OldFuncStruct_FullDetails').prop("disabled", true);
            $('#NewFuncStruct_FullDetails').prop("disabled", true);

            var Empdata = {
                Get: $('#Emp').val(),
                Set: function (data) {
                    $('#Emp').val(data);
                },
                Remove: function () {
                    $('#Emp').val()
                }
            };
            $('#Employee-Table').on('click', 'input:checkbox:gt(0)', function (e) {
                if (this.checked) {
                    var id = $(this).val();
                    Empdata.Set(id);
                    $('#NewFuncT-table').find('tr:gt(0)').remove();
                    $('#NewPayT-table').find('tr:gt(0)').remove();
                    $('#NewGeoT-table').find('tr:gt(0)').remove();

                    $('#PromotionActivitylist').SelectMenuAppend('@Url.Action("PopulateDropDownActivityList", "PromotionServiceBook")', id, "PromotionActivity");
                    $('#PromotionActivitylist').SelectMenuOnChange("@Url.Action("PopulateDropDownFunction", "ServiceBookPolicy")", "#promopolicy_drop", id, "PromotionPolicy", function () {
                    });
                }
                else {
                    Empdata.Remove();
                    return false;
                }
            });
            function NewStrct(id) {
                $.get("@Url.Action("Getstruct", "PromotionServiceBook")", { data: id }, function (jsondata) {
                    if (jsondata != null) {
                        $.each(jsondata, function (i, k) {
                            $.each(k.fun, function (i, k) {
                                $("#OldFuncT-table").val(k.value);
                            });
                            $.each(k.pay, function (i, k) {
                                $("#OldPayT-table").val(k.value);
                            });
                            $.each(k.geo, function (i, k) {
                                $("#OldGeoT-table").val(k.value);
                            });
                        });
                    }
                });
                $.post("@Url.Action("Get_Struct", "Transcation")", { empid: id }, function (data) {
                    $.each(data[0], function (i, k) {
                        //$('#NewFuncT-table').P2BTransactionTableSelected([k.code]);
                        if (k.value != null || k.value != "") {
                            $("#OldFuncT-table").val(k.value);
                        }

                        setTimeout(
                        function () {
                            // $('#NewFuncT-table ').find("tr td input[type=checkbox][value=" + k.code + "]").attr('checked', true);
                            $('#NewFuncT-table ').find("tr td input[type=checkbox][value=" + k.code + "]").closest('tr').insertAfter("#NewFuncT-table tr:first");;
                        }, 1000);

                    });

                    $.each(data[1], function (i, k) {

                        //  $('#NewPayT-table').P2BTransactionTableSelected([k.code]);

                        if (k.value != null || k.value != "") {

                            $("#OldPayT-table").val(k.value);

                        }
                        setTimeout(
                        function () {
                            //$('#NewGeoT-table ').find('tr:eq(' + k.Code + ')').prependTo("#NewGeoT-table");
                            $('#NewPayT-table ').find("tr td input[type=checkbox][value=" + k.code + "]").closest('tr').insertAfter("#NewPayT-table tr:first");
                        }, 1000);
                        //$('#NewPayT-table ').find('tr:eq(' + k.code + ')').prependTo("#NewPayT-table");
                    });

                    $.each(data[2], function (i, k) {

                        $('#NewGeoT-table').P2BTransactionTableSelected([k.code]);

                        if (k.value != null || k.value != "") {

                            $("#OldGeoT-table").val(k.value);

                        }

                    });

                });
                // $('#NewGeoT-div').hide();
            };
            $('#promopolicy_drop').on('selectmenuchange', function () {
                var a = $('#Employee-Table').P2BGetTableDataonSelectedRow('#Employee-Table', 1);
                if (a != null && a.length > 0) {
                    var id = a[0];
                    if ($(this).val() != 0) {
                        $.post("@Url.Action("GetApplicableData")", { data: $(this).val(), data2: a[0] }, function (data) {
                            if (data != null) {

                                NewStrct(id);
                                $('#OldPayScaleAgreementlist').SelectMenuAppend('@Url.Action("PopulateDropDownPayscaleAgreementListOld")', id, "");
                                $('#OldPayScalelist').SelectMenuAppend('@Url.Action("PopulateDropDownPayscaleListOld")', id, ""); // To bind dropdown on page load


                                $('#NewPayScaleAgreementlist').SelectMenuAppend('@Url.Action("PopulateDropDownPayscaleAgreementList")', id, ""); // To bind dropdown on page load
                                $('#NewPayScaleAgreementlist').SelectMenuOnChange("@Url.Action("PopulateDropDownPayscaleList")", "#NewPayScalelist", id, "");

                                $('#NewGeoT-table').P2BTransactionTable('#NewGeoT-search', '#case-NewGeoT', '@Url.Action("GetNewGeoStructDetails")', "");
                                $('#NewPayT-table').P2BTransactionTable('#NewPay-search', '#case-Newpay', '@Url.Action("GetNewPayStructDetails")', "");
                                $('#NewFuncT-table').P2BTransactionTable('#NewFuncT-search', '#case-NewFunct', '@Url.Action("GetNewFuncStructDetails")', "");
                                //console.log(data);

                                $.each(data, function (i, k) {
                                    if (k.IsFuncStructChange == true) {
                                        $('#NewFuncT-div').show();
                                    } else {
                                        $('#NewFuncT-div').hide();
                                    }
                                    if (k.IsPayStructChange == true) {
                                        $('#NewPayT-div').show();
                                    } else {
                                        $('#NewPayT-div').hide();
                                    }
                                });
                                $('#NewGeoT-div').hide();
                            }
                        });
                    }
                } else {
                    //  alert('Select Employee..!');
                    $('#otherpolicy_drop').selectmenu().selectmenu("refresh");
                }
            });
            $('#PromotionActivitylist').on('selectmenuopen', function () {
                var a = $('#Employee-Table').P2BGetTableDataonSelectedRow('#Employee-Table', 1);
                console.log(a);
                if (a != null && a.length > 0) {

                } else {
                    //  alert('Select Employee..!');
                    $('#PromotionActivitylist').selectmenu().selectmenu("refresh");
                }
            });

            $('#Employee-Table').OnClickFormReset('#frmPromotionServiceBook', '#Emp', function () {
                $('#NewPayT-div,#NewGeoT-div,#NewFuncT-div').show();

            });


        });
    </script>

    <style>
        .without-btn {
            height: 216px;
        }

        .icon-row {
            position: relative;
            left: 61px;
            top: -150px;
        }

        .popup-content-label1 {
            display: block;
            float: left;
            width: 144px;
            top: 617px;
            position: absolute;
        }


        .popup-content-label {
            display: block;
            float: left;
            width: 103px;
        }

        .popup-content-narration {
            margin-bottom: 1px;
            min-width: 150px;
            position: absolute;
            top: 617px;
            left: 396px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 150px;
        }

        .popup-content-textbox-long {
            margin-bottom: 1px;
            width: 290px;
        }

        .FormYearlypymentt {
            margin-left: 298px;
            margin-top: 15px;
        }


        .FormRelaseYearlypymentt {
            margin-top: 10px;
        }

        .FormYearlypymentt {
            margin-top: 10px;
        }

        .newcontentdiv {
            float: right;
            /*margin-right: 12px;*/
        }

        .newcontentdiv1 {
            float: right;
            margin-right: -2px;
        }


        .transactiontable {
            height: 187px;
        }


        .oldstruct-div {
            width: 192px;
            float: left;
            /*margin: 1px 85px;*/
            position: relative;
            margin: 0px 85px;
        }

        .newstruct-div {
            float: left;
            width: 193px;
            margin: 3px auto;
        }

        .oldstruct-label-class {
            margin: 0 44px;
            font-weight: bold;
        }

        .oldstruct-textarea-class {
            height: 192px;
        }

        .row3 {
            display: inline-block;
            width: 563px;
        }

        .row1 {
            /*display: inline-block;*/
            width: 563px;
        }

        .row4 {
            display: inline-block;
            width: 510px;
            right: 26px;
            position: absolute;
            top: 239px;
        }


        .earnamt1 {
            float: right;
            min-width;
        }

        .earnamt {
            width: 50px;
            /* Adjust as needed */
            margin-left: 10px;
            /* Adjust margin for spacing */
        }

        .earn-container {
            margin-bottom: 10px; /* Adjust spacing between salary heads */
        }

        .newnotediv {
            float: right;
            margin-right: 16px;
            margin-top: -19px;
        }
    </style>
</head>

<body>

    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <button class="button" id="add">Add</button>
                <button class="button" id="release">Release</button>
                <button class="button" id="Btn-Upload-Data">Upload</button>
            </div>
        </div>
    </div>

    <div id="Grid_Form">
        <div>
            <div id="Container" class="container">
                <div id="Demo">
                    <table id="MyTable" class="display" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>DD</th>
                                <th>Employee Code</th>
                                <th>Employee Name</th>
                                <th>ID</th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>
            @*<table id="JqGrid"></table>
                <div id="pager2"></div>*@
        </div>
    </div>

    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>

    <div id="Create_Dialog" title="Create Yearly payment T">
        <div class="filter-div">
            <label class="advance_filter_label">Advance Filter<span class="advance_filter_sysmbol_class_plus" id="Advance-Filter-Symbol"></span></label>
            <div id="FormFilter"></div>
        </div>
        <div class="fileremployee">
            <div class="employee-transcationdiv" style="float:left">
                <div><label>Search : </label><input type="text" id="Employee-Search" /></div>
                <table cellspacing="0" cellpadding="1" class="employee-transcationtable" id="Employee-Table">
                    <tr><th><input type="checkbox" id="Case-Employee" /></th><th>Employee</th></tr>
                </table>
            </div>
        </div>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmPromotionServiceBook", name = "frmPromotionServiceBook" }))
        {
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
            <input id="geo_id" class="filter_structure_id" name="geo_id" />
            <input id="pay_id" class="filter_structure_id" name="pay_id" />
            <input id="fun_id" class="filter_structure_id" name="fun_id" />
            <input id="Emp" class="filter_structure_id" name="Employee-Table" />
            <div class="FormYearlypymentt">

                <div class="row3 content_margine">
                    @Html.LabelFor(m => m.PromotionActivity, "Activity:", new { @class = "popup-content-label" })<select id="PromotionActivitylist" class="structclass" name="PromotionActivitylist" style="width:159px;"><option value="0">-Select-</option></select>
                    <div class="newcontentdiv">
                        @Html.LabelFor(m => m.ProcessPromoDate, "PromoDate:", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.ProcessPromoDate, new { @class = "popup-content-textbox must" })
                    </div>
                </div>
                <div class="row3 content_margine">
                    <label class="popup-content-label">PromoPolicy:</label><select id="promopolicy_drop" class="drop" name="promopolicy" style="width:159px;"><option value="0">-Select-</option></select>

                    <div class="newcontentdiv1">
                        @Html.LabelFor(m => m.Narration, "Narration:", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Narration, new { @class = "popup-content-textbox must", id = "Promotion_Narration" })
                    </div>
                </div>
                <div class="row3 content_margine">
                    @Html.LabelFor(m => m.OldPayScaleAgreement, "OldAgreement:", new { @class = "popup-content-label" })
                    <select id="OldPayScaleAgreementlist" class="structclass" name="OldPayScaleAgreementlist" style="width:159px;"><option value="0">-Select-</option></select>

                    <div class="newcontentdiv">
                        @Html.LabelFor(m => m.NewPayScaleAgreement, "NewAgreement:", new { @class = "popup-content-label" })
                        <select id="NewPayScaleAgreementlist" class="structclass" name="NewPayScaleAgreementlist" style="width:159px;"><option value="0">-Select-</option></select>

                    </div>
                </div>
                <div class="row3 content_margine">
                    @Html.LabelFor(m => m.OldPayScale, "Old Payscale:", new { @class = "popup-content-label" })

                    <select id="OldPayScalelist" class="structclass" name="OldPayScalelist" style="width:159px;"><option value="0">-Select-</option></select>
                    <div class="newcontentdiv">
                        @Html.LabelFor(m => m.NewPayScale, "New Payscale:", new { @class = "popup-content-label" })
                        <select id="NewPayScalelist" class="structclass" name="NewPayScalelist" style="width:159px;"><option value="0">-Select-</option></select>
                    </div>
                </div>

                <div class="filterdivcollection"></div>
                <div id="NewFuncT-div">
                    <div class="oldstruct-div">

                        <label class="oldstruct-label-class">Old FunctStruct</label>
                        <textarea class="oldstruct-textarea-class" id="OldFuncT-table"></textarea>
                    </div>

                    <div class="newstruct-div">
                        <div class="transactiondiv1 without-btn">
                            <div><label>Search : </label><input type="text" id="NewFuncT-search" /></div>
                            <table cellspacing="0" cellpadding="1" class="transactiontable" id="NewFuncT-table">
                                <tr><th><input type="checkbox" id="case-NewFunct" /></th><th>New FunctStruct</th></tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div id="NewPayT-div">

                    <div class="oldstruct-div">
                        <label class="oldstruct-label-class">Old PayStruct</label>
                        <textarea class="oldstruct-textarea-class" id="OldPayT-table"></textarea>

                    </div>

                    <div class="newstruct-div">
                        <div class="transactiondiv1 without-btn">
                            <div><label>Search : </label><input type="text" id="NewPay-search" /></div>
                            <table cellspacing="0" cellpadding="1" class="transactiontable" id="NewPayT-table">
                                <tr><th><input type="checkbox" id="case-Newpay" /></th><th>New PayStruct</th></tr>
                            </table>
                        </div>
                    </div>

                </div>
                <div id="NewGeoT-div">
                    <div class="oldstruct-div">
                        <label class="oldstruct-label-class">Old Geo Struct</label>
                        <textarea class="oldstruct-textarea-class" id="OldGeoT-table"></textarea>
                    </div>
                    <div class="newstruct-div">
                        <div class="transactiondiv1 without-btn">
                            <div><label>Search : </label><input type="text" id="NewGeoT-search" /></div>
                            <table cellspacing="0" cellpadding="1" class="transactiontable" id="NewGeoT-table">
                                <tr><th><input type="checkbox" id="case-NewGeoT" /></th><th>New Geostruct</th></tr>
                            </table>
                        </div>
                    </div>
                </div>
                @*<div class="row2 content_margine">@Html.LabelFor(m => m.Narration, "Narration:", new { @class = "popup-content-label1 must" })@Html.TextBoxFor(m => m.Narration, new { @class = "popup-content-narration must", id = "Promotion_Narration" })</div>*@
            </div>

        }
    </div>

    <div id="CreateRelease_dialog" title="Create PromotionServiceBook Release">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmPromoServBookRelease", name = "frmPromoServBookRelease" }))
        {
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
            <input id="emp_Id" class="filter_structure_id" name="emp_Id" />
            <input id="Activity_Id" class="filter_structure_id" name="Activity_Id" />
            <input id="releas_Id" class="filter_structure_id" name="releas_Id" />
            <div class="Release_grid">
                <div id="Grid_Form_release">
                    <div>
                        <table id="JqGrid_release"></table>
                        <div id="pager2_release"></div>
                    </div>
                </div>
            </div>

            <div class="FormRelaseYearlypymentt">
                <div class="row3 content_margine">
                    @Html.LabelFor(m => m.PromotionActivity, "Activity:", new { @class = "popup-content-label" })<input type="text" id="txtpromoactivityrelease" name="txtpromoactivityrelease" class="popup-content-textbox must" />
                    <div class="newcontentdiv">
                        @Html.LabelFor(m => m.ProcessPromoDate, "PromoDate:", new { @class = "popup-content-label must" })<input type="text" id="txtProcessPromoDaterelease" name="txtProcessPromoDaterelease" class="popup-content-textbox must" />
                    </div>
                </div>
                <div class="row3 content_margine">
                    @Html.LabelFor(m => m.OldPayScale, "Old Payscale:", new { @class = "popup-content-label" }) <input type="text" id="txtOldPayScalerelease" name="txtOldPayScalerelease" class="popup-content-textbox must" />
                    <div class="newcontentdiv">
                        @Html.LabelFor(m => m.NewPayScale, "New Payscale:", new { @class = "popup-content-label" }) <input type="text" id="txtNewPayScalerelease" name="txtNewPayScalerelease" class="popup-content-textbox must" />
                    </div>
                </div>
                <div class="row3 content_margine">
                    @Html.LabelFor(m => m.OldPayScaleAgreement, "OldAgreement:", new { @class = "popup-content-label" }) <input type="text" id="txtOldPayScaleAgreementrelease" name="txtOldPayScaleAgreementrelease" class="popup-content-textbox must" />

                    <div class="newcontentdiv">
                        @Html.LabelFor(m => m.NewPayScaleAgreement, "NewAgreement:", new { @class = "popup-content-label" }) <input type="text" id="txtNewPayScaleAgreementrelease" name="txtNewPayScaleAgreementrelease" class="popup-content-textbox must" />

                    </div>
                </div>
                <div class="row3 content_margine">
                    @Html.LabelFor(m => m.ReleaseFlag, "Release Flag:", new { @class = "popup-content-label must" })
                    <div class="popup_radio_button">
                        <input type="radio" id="ProcessFlag_radio1" name="ReleaseFlag" value="true" /><label for="ProcessFlag_radio1">Yes</label>
                        <input type="radio" id="ProcessFlag_radio2" name="ReleaseFlag" value="false" checked="checked" /><label for="ProcessFlag_radio2">No</label>
                    </div>

                    <div class="newnotediv" id="note">
                        <label><b style="color:red">Note : Y-SalHeadFormula Applicable <br />&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;N-SalHeadFormula Not Applicable</b> </label>
                    </div>

                </div>

                <div class="row1 content_margine">@Html.LabelFor(m => m.ReleaseDate, "Release Date:", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.ReleaseDate, new { @class = "popup-content-textbox must" })</div>
                @*<div>
                        <label id="ReleaseDate" class="popup-content-label must">ReleaseDate:</label>
                        <input name="ReleaseDate" type="text" id="ReleaseDate" class="date-picker" />
                    </div>*@

                <div class="oldstruct-div">
                    <label class="oldstruct-label-class">Old PayStruct</label>
                    <textarea class="oldstruct-textarea-class" id="OldPayStruct_FullDetails"></textarea>
                </div>

                <div class="oldstruct-div">
                    <label class="oldstruct-label-class">New PayStruct</label>
                    <textarea class="oldstruct-textarea-class" id="NewPayStruct_FullDetails"></textarea>
                </div>
                <div class="oldstruct-div">
                    <label class="oldstruct-label-class">Old FunctStruct</label>
                    <textarea class="oldstruct-textarea-class" id="OldFuncStruct_FullDetails"></textarea>
                </div>
                <div class="oldstruct-div">
                    <label class="oldstruct-label-class">New FunctStruct</label>
                    <textarea class="oldstruct-textarea-class" id="NewFuncStruct_FullDetails"></textarea>
                </div>
                <div class="oldstruct-div">
                    <label class="oldstruct-label-class">Old GeoStruct</label>
                    <textarea class="oldstruct-textarea-class" id="OldFuncT-table"></textarea>
                </div>
                <div class="oldstruct-div">
                    <label class="oldstruct-label-class">New GeoStruct</label>
                    <textarea class="oldstruct-textarea-class" id="OldFuncT-table"></textarea>
                </div>
            </div>

            <div class="row4 content_margine" id="divinline_jq" style="display:none">
                <input type="hidden" id="SalHeadCount" name="SalHeadCount" value="">
                <input type="hidden" id="input_hidden_field" name="input_hidden_field" value="">
                <table class="tbl" style="width: 850px; " id="tblinline">
                    <tr>
                        <td class="td1">
                            <label><center><b style="margin-right: -91px;">Old Structure</b></center></label>
                        </td>
                        <td class="td1">
                            <label><center><b style="margin-right: 365px;">New Structure</b></center></label>
                        </td>
                    </tr>


                    <tr>
                        <td class="td1" style="padding:10px;">
                            <ul id="Earn1" float:left"></ul>
                        </td>
                        <td class="td1">
                            <ul id="EarnNew" float:left"></ul>
                        </td>
                    </tr>

                </table>
            </div>


            @*<div class="row3 content_margine">
                    <label id="lblNarrationRelease" class="popup-content-label">Narration:</label>
                    <input type="text" id="Narration" name="Narration" class="popup-content-textbox must" />
                </div>*@
        }
    </div>

</body>
</html>
