@{
    ViewBag.Title = "Company Index";
}
@model P2b.Global.Company
<html>
<head>

    <style>
        .icon-row {
            position: relative;
            left: 84px;
            top: -149px;
        }

        .dropdown_row11 {
            width: 350px;
        }

        .row4 {
            display: inline-block;
        }



        .popup-content-label-next-row {
            width: 50px;
        }

        .row1 {
            width: 399px;
            display: inline-block;
        }

        .row2 {
            width: 569px;
        }

        .popup-content-label {
            display: block;
            margin: 1px;
            float: left;
            width: 125px;
            text-transform: capitalize;
        }

        .row3 {
            width: 449px;
        }

        #file {
            width: 15em;
        }

        .popup-content-next-label {
            display: block;
            margin-top: 5px;
            float: left;
            width: 42px;
        }

        #PayScale-button {
            font-size: 9px;
            padding-top: 1px;
            font-weight: bold;
        }

        .dropdown_next_row {
            width: 166px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            width: 288px;
        }

        .popup-content-textbox-short {
            margin-bottom: 1px;
            width: 50%;
        }

        .popup-content-label-short {
            display: block;
            margin: 1px;
            float: left;
            width: 95px;
        }

        .popup-content-textbox-rowfirst {
/*            width: 120px;*/
        }

        .row-for-code {
            width: 161px;
        }
    </style>
</head>
<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <button class="button" id="Create">Create</button>
                <button class="button" id="View">View</button>
                <button class="button" id="Edit">Edit</button>
                <button class="button" id="Delete">Delete</button>
                <button class="button" id="Autho">Authorized</button>

                <div id="Grid_Form">
                    <div>
                        <table id="JqGrid"></table>
                        <div id="pager2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>


    <div id="Create_Dialog">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormCompany", name = "frmCompanyEdit" }))
        {
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
            <div class="row1 content_margine">@Html.LabelFor(m => m.Code, "Code :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Code, new { @class = "row-for-code must", @id = "CompanyCode", @maxlength = "10" })</div>
            <div class="row1">@Html.LabelFor(m => m.Code, "Logo :", new { @class = "popup-content-label " })<input type="file" id="file" /></div>
            <div class="row2 content_margine"> @Html.LabelFor(m => m.Name, "Name :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Name, new { @class = "popup-content-textbox must", @id = "CompanyName", @maxlength = "50" })</div>
            <div class="row3 content_margine">
                <div id="AddressList_Old"></div>
                @Html.LabelFor(m => m.Address, "Address :", new { @class = "popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="AddressList">
                        <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup Address" class="  popup-content-icon-lookup" id="Lookup-Address-Company"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Create Address" class="popup-content-icon-create" id="Create-Address-Company"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit Address" class="popup-content-icon-edit" id="Edit-Address-Company"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Remove Address" class="popup-content-icon-remove" id="Remove-Address-Company"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>
            <div class="row3 content_margine">
                <div id="ContactDetailsList_Old"></div>
                @Html.LabelFor(m => m.ContactDetails, "Contact Details :", new { @class = "popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="ContactDetailsList">
                        <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup Contact Details" class="  popup-content-icon-lookup" id="Lookup-ContactDetails-Company"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Create Contact Details" class="  popup-content-icon-create" id="Create-ContactDetails-Company"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit Contact Details" class="  popup-content-icon-edit" id="Edit-ContactDetails-Company"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Remove Contact Details" class="  popup-content-icon-remove" id="Remove-ContactDetails-Company"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>
            <div class="row1 content_margine">@Html.LabelFor(m => m.RegistrationNo, "Register No :", new { @class = "popup-content-label large_popup_label" })@Html.TextBoxFor(m => m.RegistrationNo, new { @class = "popup-content-textbox-rowfirst", id = "RegistrationNo", @maxlength = "20" })</div>
            <div class="row1 content_margine">@Html.LabelFor(m => m.RegistrationDate, "Register Date :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.RegistrationDate, new { @class = "popup-content-textbox-rowfirst" })</div>
            <div class="row1 content_margine">@Html.LabelFor(m => m.PTECNO, "Ptec No :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.PTECNO, new { @class = "popup-content-textbox-rowfirst", @id = "PTECNO", @maxlength = "20" })</div>
            <div class="row1 content_margine">@Html.LabelFor(m => m.PTRCNO, "Ptrc No :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.PTRCNO, new { @class = "popup-content-textbox-rowfirst", @id = "PTRCNO", @maxlength = "20" })</div>
            <div class="row1 content_margine">@Html.LabelFor(m => m.VATNo, "Vat No :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.VATNo, new { @class = "popup-content-textbox-rowfirst", @id = "VATNo", @maxlength = "20" })</div>
            <div class="row1 content_margine">@Html.LabelFor(m => m.LBTNO, "Lbt No :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.LBTNO, new { @class = "popup-content-textbox-rowfirst", @id = "LBTNO" })</div>
            <div class="row1 content_margine">@Html.LabelFor(m => m.ESICNo, "Esic No :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.ESICNo, new { @class = "popup-content-textbox-rowfirst", @id = "ESICNo", @maxlength = "20" })</div>
            <div class="row1 content_margine">@Html.LabelFor(m => m.PANNo, "Pan No :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.PANNo, new { @class = "popup-content-textbox-rowfirst", @id = "PANNo", @maxlength = "20" })</div>
            <div class="row1 content_margine">@Html.LabelFor(m => m.TANNo, "Tan No :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.TANNo, new { @class = "popup-content-textbox-rowfirst", @id = "TANNo", @maxlength = "20" })</div>
            <div class="row1 content_margine">@Html.LabelFor(m => m.CSTNo, "Cst No :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.CSTNo, new { @class = "popup-content-textbox-rowfirst", @id = "CSTNo", @maxlength = "20" })</div>
            <div class="row1 content_margine">@Html.LabelFor(m => m.CINNo, "Cin No :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.CINNo, new { @class = "popup-content-textbox-rowfirst", @id = "CINNo", @maxlength = "20" })</div>
            <div class="row1 content_margine">@Html.LabelFor(m => m.ServiceTaxNo, "St No :", new { @class = "popup-content-label " })@Html.TextBoxFor(m => m.ServiceTaxNo, new { @class = "popup-content-textbox-rowfirst", @id = "ServiceTaxNo", @maxlength = "20" })</div>
            <div class="row1 content_margine">@Html.LabelFor(m => m.EstablishmentNo, "Est No :", new { @class = "popup-content-label" })@Html.TextBoxFor(m => m.EstablishmentNo, new { @class = "popup-content-textbox-rowfirst", @id = "EstablishmentNo", @maxlength = "20" })</div>

            <div class="row3 content_margine">
                <div id="PayscaleList_Old"></div>
                @Html.LabelFor(m => m.PayScale, "PayScale :", new { @class = "popup-content-label" })
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="PayscaleList">
                        <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Select PayScale" class="button popup-content-icon-lookup" id="Lookup_Payscale_Company"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Create PayScale" class="button popup-content-icon-create" id="create_Payscale_Company"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    @*<button data-p2btooltip="Create Contact Details" class="button popup-content-icon-edit" id="Payscale_Edit"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>*@
                    <button data-p2btooltip="Remove PayScale" class="button popup-content-icon-remove" id="remove_Payscale_Company"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>

                @*@Html.DropDownListFor(m => m.PayScale, new List<SelectListItem> { new SelectListItem { Text = "abcd", Value = "0" }, new SelectListItem { Text = "dfd", Value = "1" } }, new { @style = "width:120px;" })*@
            </div>
        }
    </div>
</body>
</html>
<script>
    $(document).ready(function (e) {
        $('#CompanyCode').MaxLength(10);
        $('#CompanyCode').ForceOnlyAlphaNumeric();
        $('#CompanyName').MaxLength(50);
        $('#CompanyName').ForceOnlyAlphaNumeric();
        $('#RegistrationNo').MaxLength(20);
        $('#RegistrationNo').ForceOnlyAlphaNumeric();
        $('#PTECNO').MaxLength(20);
        $('#PTECNO').ForceOnlyAlphaNumeric();
        $('#PTRCNO').MaxLength(20);
        $('#PTRCNO').ForceOnlyAlphaNumeric();
        $('#VATNo').MaxLength(20);
        $('#VATNo').ForceOnlyAlphaNumeric();
        $('#LBTNO').ForceOnlyAlphaNumeric();
        $('#ESICNo').MaxLength(20);
        $('#ESICNo').ForceOnlyAlphaNumeric();
        $('#PANNo').MaxLength(20);
        $('#PANNo').ForceOnlyAlphaNumeric();
        $('#TANNo').MaxLength(20);
        $('#TANNo').ForceOnlyAlphaNumeric();
        $('#CSTNo').MaxLength(20);
        $('#CSTNo').ForceOnlyAlphaNumeric();
        $('#ServiceTaxNo').MaxLength(20);
        $('#ServiceTaxNo').ForceOnlyAlphaNumeric();
        $('#CINNo').MaxLength(20);
        $('#CINNo').ForceOnlyAlphaNumeric();
        $('#EstablishmentNo').MaxLength(20);
        $('#EstablishmentNo').ForceOnlyAlphaNumeric();
        $("button").button();
        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;
        //a.Id, Convert.ToString(a.RegName), Convert.ToString(a.Code), Convert.ToString(a.Name)
        var btndisablenames = "#Edit-Address-Company,#Remove-Address-Company,#Edit-ContactDetails-Company,#Remove-ContactDetails-Company,#remove_Payscale_Company";
        ColModel = ['Code', 'Name', 'Id'];
        ColNames = [ 'Code', 'Name','Id',];
        SortName = 'Id';
        Caption = 'Company';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);
        $('#RegistrationDate').P2BDatePicker();
        $("#RegistrationDate").keypress(function (event) { event.preventDefault(); });
        function DateConvert(JsonDate) {
            var date = new Date(parseInt(JsonDate.substr(6)));
            var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
            return displayDate;
        };

        $('#CompanyCode').ValidateTextBox({ maxlength: 10, alphanum: true });
        $('#CompanyName').ValidateTextBox({ maxlength: 50, name: true });

        $('#Create_Dialog').P2BCreateDialog();

        var dt;
        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }
        $('#Create_Dialog').P2BCreateDialog();
        $('#Create').on("click", function (event) {
            $('#FormCompany').trigger("reset");
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create Company', 'open', '@Url.Action("Create")', '#FormCompany', 'Message :', 'Request Falied :', '#JqGrid', 500, 620, '#AddressList,#ContactDetailsList,#Payscale_List', btndisablenames, function (data) { });

            event.preventDefault();
        });

        // Main page edit
        $('#Edit').on('click', function () {
            AssignData();
            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit Company Data", '#FormCompany', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 500, 620, '#AddressList,#ContactDetailsList,#PayscaleList', btndisablenames, function (data) {
                $.each(function (i, k) {
                    $('#CompanyCode').val(k.Code);
                    $('#CompanyCode').attr('readonly', 'readonly');
                    $('#CompanyName').val(k.Name);
                    $('#RegistrationNo').val(k.RegistrationNo);
                    if (k.RegistrationDate != null)
                        $('#RegistrationDate').val(DateConvert(k.RegistrationDate));
                    else
                        $('#RegistrationDate').val();
                    $('#PTECNO').val(k.PTECNO);
                    $('#PTRCNO').val(k.PTRCNO);
                    $('#VATNo').val(k.VATNo);
                    $('#LBTNO').val(k.LBTNO);
                    $('#ESICNo').val(k.ESICNo);
                    $('#PANNo').val(k.PANNo);
                    $('#TANNo').val(k.TANNo);
                    $('#CSTNo').val(k.CSTNo);
                    $('#CINNo').val(k.CINNo);
                    $('#ServiceTaxNo').val(k.ServiceTaxNo);
                    $('#EstablishmentNo').val(k.EstablishmentNo);
                });
                //partial page bind
                $.each(data[1], function (i, k) {
                    $('#AddressList').P2BLookUpEncapsulate('#AddressList', 'AddressList', k.Add_Id, k.Address_FullAddress, 'AddressList', '#Edit-Address-Company,#Remove-Address-Company', 'N');
                    $('#ContactDetailsList').P2BLookUpEncapsulate('#ContactDetailsList', 'ContactDetailsList', k.Cont_Id, k.FullContactDetails, 'ContactDetailsList', '#Edit-ContactDetails-Company,#Remove-ContactDetails-Company', 'N');

                });
                $.each(data[2], function (i, k) {

                    $('#PayscaleList').P2BLookUpEncapsulate('#PayscaleList', 'PayscaleList', k.Payscale_Id, k.Payscale_Details, 'PayscaleList', '#remove_Payscale_Company', 'A');
                });

                $('#Autho_Allow').val(data[3]); //Compulsory for authorisation
            });
        });


        $('#View').button().click(function (event) {
            AssignData();
            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View Company Data', '#AddressList,#ContactDetailsList', '#Lookup_Payscale_Company,#remove_Payscale_Company,#create_Payscale_Company,#Lookup-ContactDetails-Company,#Create-ContactDetails-Company,#Edit-ContactDetails-Company,#Remove-ContactDetails-Company,#Lookup-Address-Company,#Create-Address-Company,#Edit-Address-Company,#Remove-Address-Company', 500, 620, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {

                console.log("data- ", data);
                $.each(data[0], function (i, k) {
                    $('#Autho_Action').val(k.Action);
                    $('#CompanyCode').val(k.Code);
                    $('#CompanyCode').attr('readonly', 'readonly');
                    $('#CompanyName').val(k.Name);
                    $('#RegistrationNo').val(k.RegistrationNo);
                    if (k.RegistrationDate != null)
                        $('#RegistrationDate').val(DateConvert(k.RegistrationDate));
                    else
                        $('#RegistrationDate').val();
                    $('#PTECNO').val(k.PTECNO);
                    $('#PTRCNO').val(k.PTRCNO);
                    $('#VATNo').val(k.VATNo);
                    $('#LBTNO').val(k.LBTNO);
                    $('#ESICNo').val(k.ESICNo);
                    $('#PANNo').val(k.PANNo);
                    $('#TANNo').val(k.TANNo);
                    $('#CSTNo').val(k.CSTNo);
                    $('#CINNo').val(k.CINNo);
                    $('#ServiceTaxNo').val(k.ServiceTaxNo);
                    $('#EstablishmentNo').val(k.EstablishmentNo);
                });

                $.each(data[1], function (i, k) {
                    $('#AddressList').P2BLookUpEncapsulate('#AddressList', 'AddressList', k.Add_Id, k.Address_FullAddress, 'AddressList', 'view', 'N');
                    $('#ContactDetailsList').P2BLookUpEncapsulate('#ContactDetailsList', 'ContactDetailsList', k.Cont_Id, k.FullContactDetails, 'ContactDetailsList', 'view', 'N');
                    $('#PayscaleList').P2BLookUpEncapsulate('#PayscaleList', 'PayscaleList', k.Payscale_Id, k.FullDetails, 'PayscaleList', 'view', 'N');
                });

                if ($("#Autho").hasClass('auto_active')) {
                    if (data[3] != null) {
                        $('#CompanyName').oldVal(data[2].Name);
                        $('#AddressList_Old').oldLookupVal(data[3].Address_Val);
                        $('#ContactDetailsList_Old').oldLookupVal(data[3].Contact_Val);
                        $('#PayScaleList_Old').oldLookupVal(data[3].PayScale_Val);
                    }
                }

            });
        });

        $('#Delete').button().click(function (event) {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            $('#FormCompany').P2BDeleteModalDialog('@Url.Action("Delete", "Company")', dt.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
        });



        /* Address button click*/

        //To get data in Lookup
        $('#Lookup-Address-Company').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetAddressLKDetails", "Company")', '', 'LookupDiv', 'Address Look Up Data', '#AddressList', 'AddressList', 5, 'AddressList', '#FormCompany', 'N', '#Edit-Address-Company,#Remove-Address-Company', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        // PArtial page create
        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-Address-Company').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "address")', 'Create Address', 'open', '@Url.Action("Create","Address")', '#FormAddress', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#frmCorporate', '', function (data) {
                // to show data which is created in partial page
                $('#AddressList').P2BLookUpEncapsulate('#AddressList', 'AddressList', data[0], data[1], 'AddressList', '#Edit-Address-Company,#Remove-Address-Company', 'N');
            });
            event.preventDefault();
        });

        // Partial page edit
        $('#Edit-Address-Company').button().on("click", function (event) {
            var a = [], b;
            a = $('#AddressList').P2BGetTableDataonSelectedRow('#AddressList', 0);
            b = a[0];
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname, height, width, classoridoftheonwhichpopupderived, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not,nameidclassofbuttontodisable,returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "address")', '@Url.Action("edit", "address")', b, '@Url.Action("Editsave","Address")', 'Edit Address', '#FormAddress', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#FormCompany', '#AddressList', 'AddressList', 'AddressList', 'N', '#Edit-Address-Company,#Remove-Address-Company', function (data) {
                // setTimeout(function () {
                //to bind data according to selected id
                $.each(data[0], function (i, k) {
                    $('#FormAddress').trigger("reset");
                    $('#Address1').val(k.Address1);
                    $('#Address2').val(k.Address2);
                    $('#Address3').val(k.Address3);
                    $('#Landmark').val(k.Landmark);
                    $('#CountryList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "country")", "", k.Country_Id, '');
                    $('#StateList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "state")", "", k.State_Id, '');
                    $('#StateRegionList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "StateRegion")", "", k.StateRegion_Id, '');
                    $('#DistrictList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "District")", "", k.District_Id, '');
                    $('#TalukaList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "Taluka")", "", k.Taluka_Id, '');
                    $('#CityList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "City")", "", k.City_Id, '');
                    $('#AreaList').P2BSelectMenuAppend("@Url.Action("PopulateDropDownList", "area")", "", k.Area_Id, '');
                });
                //}, 3000);


            });
            event.preventDefault();
        });

        //partial page delete
        $('#Remove-Address-Company').button().on('click', function (event) {
            //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            //var a = [], b;
            //a = $('#AddressList').P2BGetTableDataonSelectedRow('#AddressList', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#AddressList').P2BGetTableDataonSelectedRow('#AddressList', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#AddressList', $('#AddressList').val(), 200, 200, '#FormCompany', '#AddressList', '#Edit-Address-Company,#Remove-Address-Company');
            event.preventDefault();
        });

        /* ContactDetails button click*/

        $('#Lookup-ContactDetails-Company').button().on('click', function (event) {
            @*$('.dialog').P2BLookUpModal('@Url.Action("GetAddressLKDetails", "Corporate")', '', 'LookupDiv', 'Address Look Up Data', '#AddressList', 'AddressList', 5, 'AddressList', '#frmCorporate', 'N', '#Edit-Address-Corporate,#Remove-Address-Corporate', 'Lookup_table', 'PageNavPosition');*@
            $('.dialog').P2BLookUpModal('@Url.Action("GetContactDetLKDetails", "Company")', '', 'LookupDiv', 'ContactDetails Look Up Data', '#ContactDetailsList', 'ContactDetailsList', 5, 'ContactDetailsList', '#FormCompany', 'N', '#Edit-ContactDetails-Company,#Remove-ContactDetails-Company', 'Lookup_table', 'PageNavPosition');
            // $('.ContactDetLKDiv').P2BLookUpModal('@Url.Action("GetContactDetLKDetails", "Corporate")', '', 'ContactDetLKDiv', 'Look Up Data', '#ContactDetailsList', 'ContactDetailsList', 10, 'ContactDetailsList', '#frmCorporate', 'N', '#Edit-ContactDetails-Corporate,#Remove-ContactDetails-Corporate', 'lookupdiv_ContactDet', 'pageNavPosition_ContactDet');
            event.preventDefault();
        });

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-ContactDetails-Company').button().on("click", function (event) {
            //function (url, maindialogtitle, state, submiturl, submitnameformforserilize, savemessage, errormessage, gridreloadname, height, width, forwarddata, ControlName, event, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, returnfunctiondata) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Createcontactdetails_partial", "Company")', 'Create ContactDetails', 'open', '@Url.Action("CreateSave","ContactDetails")', '#frmContactDetails', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#frmContactDetails', '#Edit-ContactNo-ContDetails,#Remove-ContactNo-ContDetails', function (data) {
                $('#ContactDetailsList').P2BLookUpEncapsulate('#ContactDetailsList', 'ContactDetailsList', data[0], data[1], 'ContactDetailsList', '#Edit-ContactDetails-Company,#Remove-ContactDetails-Company', 'N');
            });
            event.preventDefault();
        });

        $('#Edit-ContactDetails-Company').button().on("click", function (event) {
            var a = [], b;
            a = $('#ContactDetailsList').P2BGetTableDataonSelectedRow('#ContactDetailsList', 0);
            b = a[0];
            console.log(b);
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname,                                                                                                                    height, width, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not, returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("Createcontactdetails_partial", "Company")', '@Url.Action("Editcontactdetails_partial", "Company")', b, '@Url.Action("EditSave", "ContactDetails")', 'Edit Contact Details', '#frmContactDetails', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#FormCompany', '#ContactDetailsList', 'ContactDetailsList', 'ContactDetailsList', 'N', '#Remove-ContactNo-ContDetails,#Edit-ContactNo-ContDetails', function (data) {
                // setTimeout(function () {
                $.each(data[0], function (i, k) {
                    $('#frmContactDetails').trigger('reset');
                    $('#EmailId').val(k.EmailId);
                    $('#Website').val(k.Website);
                    $('#FaxNo').val(k.FaxNo);
                });

                $.each(data[1], function (i, k) {
                    $('#ContactNos_List').P2BLookUpEncapsulate('#ContactNos_List', 'ContactNos_List', k.Id, k.FullContactNumbers, 'ContactNos_List', '#Edit-ContactNo-ContDetails,#Remove-ContactNo-ContDetails', 'A');
                });
                // }, 3000);
            });
            event.preventDefault();
        });

        $('#Remove-ContactDetails-Company').button().on('click', function (event) {
            // dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            //var a = [], b;
            //a = $('#ContactDetailsList').P2BGetTableDataonSelectedRow('#ContactDetailsList', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#ContactDetailsList').P2BGetTableDataonSelectedRow('#ContactDetailsList', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('@Url.Action("DeleteContactDetails", "Company")', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#ContactDetailsList', $('#ContactDetailsList').val(), 200, 200, '#FormCompany', '#ContactDetailsList', '#Edit-ContactDetails-Company,#Remove-ContactDetails-Company');
            event.preventDefault();
        });

        $('#Lookup_Payscale_Company').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupDetailsPayscale", "Company")', '', 'LookupDiv', 'Look Up Data', '#PayscaleList', 'PayscaleList', 5, 'PayscaleList', '#FormCompany', 'A', '#remove_Payscale_Company', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });


        $('<div></div>').P2BPartialCreateModalDialog();
        $('#create_Payscale_Company').button().on("click", function (event) {
            //function (url, maindialogtitle, state, submiturl, submitnameformforserilize, savemessage, errormessage, gridreloadname, height, width, forwarddata, ControlName, event, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, returnfunctiondata) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Payscale_Partial", "Company")', 'Create payscale', 'open', '@Url.Action("Create", "PayScale")', '#frmPayScaleP', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#FormCompany', '#Edit-ContactNo-ContDetails,#Remove-ContactNo-ContDetails', function (data) {
                $('#PayscaleList').P2BLookUpEncapsulate('#PayscaleList', 'PayscaleList', data[0], data[1], 'PayscaleList', '#remove_Payscale_Company', 'A');
            });
            event.preventDefault();
        });

        $('#remove_Payscale_Company').button().on('click', function (event) {
            //// dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            //var a = [], b;
            //a = $('#PayscaleList').P2BGetTableDataonSelectedRow('#PayscaleList', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#PayscaleList').P2BGetTableDataonSelectedRow('#PayscaleList', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('@Url.Action("DeleteContactDetails", "Company")', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#PayscaleList', $('#PayscaleList').val(), 200, 200, '#FormCompany', '#PayscaleList', '#remove_Payscale_Company');
            event.preventDefault();
        });
     

        $('.popup_radio_button').controlgroup();
        $('#Autho').makeDisable('#Create,#Edit,#Delete');
        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');
        $('#Category').selectmenu().selectmenu("menuWidget").addClass("overflow");
    });
</script>