<html>
<head>

    <style>
        .icon-row {
/*            position: relative;
            left: 84px;
            top: -149px;*/
        }

        .row1 {
            width: 399px;
/*            display: inline-block;*/
        }

        .row2 {
            width: 569px;
        }

        .popup-content-label {
            display: block;
            margin: 1px;
            float: left;
            min-width: 125px;
            text-transform: capitalize;
        }
        .popup-content-textbox-rowfirst{
            width:146px;
        }

        .row3 {
            /*            width: 449px;*/
            display: flex;
        }

        #file {
            width: 161px;
            margin-left: 2px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            width: 288px;
        }

        .row-for-code {
            width: 161px;
        }
    </style>
</head>
<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <button class="button" id="Create">Create</button>
                <button class="button" id="View">View</button>
                <button class="button" id="Edit">Edit</button>
                <button class="button" id="Delete">Delete</button>
                <button class="button" id="Autho">Authorized</button>

                <div id="Grid_Form">
                    <div>
                        <table id="JqGrid"></table>
                        <div id="pager2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>

    <div id="Create_Dialog">
        <form id="FormCompany" name="frmCompanyEdit" method="post">
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
            <div class="row1 content_margine">
                <label for="Code" class="popup-content-label must">Company Code :</label>
                <input type="text" id="Code" name="Code" class="row-for-code must" maxlength="10" />
            </div>
            <div class="row1">
                <label for="file" class="popup-content-label">Logo :</label>
                <input type="file" id="file" />
            </div>
            <div class="row2 content_margine">
                <label for="Name" class="popup-content-label must">Company Name :</label>
                <input type="text" id="Name" name="Name" class="popup-content-textbox must" maxlength="50" />
            </div>
            <div class="row3 content_margine">
                <div id="AddressList_Old"></div>
                <label for="Address_Id" class="popup-content-label">Address :</label>
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="Address_Id">
                        <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup Address" class="  popup-content-icon-lookup" id="Lookup-Address-Company"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Create Address" class="popup-content-icon-create" id="Create-Address-Company"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit Address" class="popup-content-icon-edit" id="Edit-Address-Company"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Remove Address" class="popup-content-icon-remove" id="Remove-Address-Company"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>
            <div class="row3 content_margine">
                <div id="ContactDetailsList_Old"></div>
                <label for="ContactDetails_Id" class="popup-content-label">Contact Details :</label>
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="ContactDetails_Id">
                        <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Lookup Contact Details" class="  popup-content-icon-lookup" id="Lookup-ContactDetails-Company"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Create Contact Details" class="  popup-content-icon-create" id="Create-ContactDetails-Company"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Edit Contact Details" class="  popup-content-icon-edit" id="Edit-ContactDetails-Company"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Remove Contact Details" class="  popup-content-icon-remove" id="Remove-ContactDetails-Company"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>
            </div>
            <div class="row1 content_margine">
                <label for="RegistrationNo" class="popup-content-label">Register No :</label>
                <input type="text" id="RegistrationNo" name="RegistrationNo" class="popup-content-textbox-rowfirst" maxlength="20" />
            </div>
            <div class="row1 content_margine">
                <label for="RegistrationDate" class="popup-content-label">Register Date :</label>
                @*<input type="text" id="RegistrationDate" name="RegistrationDate" class="popup-content-textbox-rowfirst" placeholder="dd/mm/yyyy" />*@
                <input type="date" id="RegistrationDate" name="RegistrationDate" class="popup-content-textbox-rowfirst" />
            </div>
            <div class="row1 content_margine">
                <label for="PTECNO" class="popup-content-label">Ptec No :</label>
                <input type="text" id="PTECNO" name="PTECNO" class="popup-content-textbox-rowfirst" maxlength="20" />
            </div>
            <div class="row1 content_margine">
                <label for="PTRCNO" class="popup-content-label">Ptrc No :</label>
                <input type="text" id="PTRCNO" name="PTRCNO" class="popup-content-textbox-rowfirst" maxlength="20" />
            </div>
            <div class="row1 content_margine">
                <label for="VATNo" class="popup-content-label">Vat No :</label>
                <input type="text" id="VATNo" name="VATNo" class="popup-content-textbox-rowfirst" maxlength="20" />
            </div>
            <div class="row1 content_margine">
                <label for="LBTNO" class="popup-content-label">Lbt No :</label>
                <input type="text" id="LBTNO" name="LBTNO" class="popup-content-textbox-rowfirst" maxlength="20" />
            </div>
            <div class="row1 content_margine">
                <label for="ESICNo" class="popup-content-label">Esic No :</label>
                <input type="text" id="ESICNo" name="ESICNo" class="popup-content-textbox-rowfirst" maxlength="20" />
            </div>
            <div class="row1 content_margine">
                <label for="PANNo" class="popup-content-label">Pan No :</label>
                <input type="text" id="PANNo" name="PANNo" class="popup-content-textbox-rowfirst" maxlength="20" />
            </div>
            <div class="row1 content_margine">
                <label for="TANNo" class="popup-content-label">Tan No :</label>
                <input type="text" id="TANNo" name="TANNo" class="popup-content-textbox-rowfirst" maxlength="20" />
            </div>
            <div class="row1 content_margine">
                <label for="CSTNo" class="popup-content-label">Cst No :</label>
                <input type="text" id="CSTNo" name="CSTNo" class="popup-content-textbox-rowfirst" maxlength="20" />
            </div>
            <div class="row1 content_margine">
                <label for="CINNo" class="popup-content-label">Cin No :</label>
                <input type="text" id="CINNo" name="CINNo" class="popup-content-textbox-rowfirst" maxlength="20" />
            </div>
            <div class="row1 content_margine">
                <label for="ServiceTaxNo" class="popup-content-label">Service Tax No :</label>
                <input type="text" id="ServiceTaxNo" name="ServiceTaxNo" class="popup-content-textbox-rowfirst" maxlength="20" />
            </div>
            <div class="row1 content_margine">
                <label for="EstablishmentNo" class="popup-content-label">Est No :</label>
                <input type="text" id="EstablishmentNo" name="EstablishmentNo" class="popup-content-textbox-rowfirst" maxlength="20" />
            </div>

            <div class="row3 content_margine">
                <div id="PayscaleList_Old"></div>
                <label for="PayScale" class="popup-content-label">PayScale :</label>
                <div class="popup-content-table">
                    <table class="lookuptableselected" id="PayScale">
                        <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                    </table>
                </div>
                <div class="icon-row">
                    <button data-p2btooltip="Select PayScale" class="button popup-content-icon-lookup" id="Lookup_Payscale_Company"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Create PayScale" class="button popup-content-icon-create" id="Create_Payscale_Company"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                    <button data-p2btooltip="Remove PayScale" class="button popup-content-icon-remove" id="Remove_Payscale_Company"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                </div>                
            </div>
        </form>
    </div>
</body>
</html>
<script>
    $(document).ready(function (e) {
        var hasAuthoClassName;
        let allOrinalData;
        var activeButtonsArray = singleData.Action;
        var allDisableIds = CreateDisableButtonsString(activeButtonsArray);

        $(allDisableIds).button().button('disable');


        $('#Code').MaxLength(10);
        $('#Code').ForceOnlyAlphaNumeric();
        $('#Name').MaxLength(50);
        $('#Name').ForceOnlyAlphaNumeric();
        $('#RegistrationNo').MaxLength(20);
        $('#RegistrationNo').ForceOnlyAlphaNumeric();
        $('#PTECNO').MaxLength(20);
        $('#PTECNO').ForceOnlyAlphaNumeric();
        $('#PTRCNO').MaxLength(20);
        $('#PTRCNO').ForceOnlyAlphaNumeric();
        $('#VATNo').MaxLength(20);
        $('#VATNo').ForceOnlyAlphaNumeric();
        $('#LBTNO').ForceOnlyAlphaNumeric();
        $('#ESICNo').MaxLength(20);
        $('#ESICNo').ForceOnlyAlphaNumeric();
        $('#PANNo').MaxLength(20);
        $('#PANNo').ForceOnlyAlphaNumeric();
        $('#TANNo').MaxLength(20);
        $('#TANNo').ForceOnlyAlphaNumeric();
        $('#CSTNo').MaxLength(20);
        $('#CSTNo').ForceOnlyAlphaNumeric();
        $('#ServiceTaxNo').MaxLength(20);
        $('#ServiceTaxNo').ForceOnlyAlphaNumeric();
        $('#CINNo').MaxLength(20);
        $('#CINNo').ForceOnlyAlphaNumeric();
        $('#EstablishmentNo').MaxLength(20);
        $('#EstablishmentNo').ForceOnlyAlphaNumeric();
        $("button").button();

        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;
        var btndisablenames = "#Edit-Address-Company,#Remove-Address-Company,#Edit-ContactDetails-Company,#Remove-ContactDetails-Company,#Remove_Payscale_Company";
        ColModel = ['Code', 'Name', 'Id'];
        ColNames = [ 'Code', 'Name','Id',];
        SortName = 'Id';
        Caption = 'Company';
        url = APIURL + '/GetCompanyP2BGridRequest';
        //url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);

        $('#RegistrationDate').on('click', function () {
            this.showPicker();
        });
        //document.getElementById('RegistrationDate').addEventListener('click', function () {
        //    this.showPicker();
        //});
        //$('#RegistrationDate');
        //$("#RegistrationDate").keypress(function (event) { event.preventDefault(); });
        //function DateConvert(JsonDate) {
        //    var date = new Date(parseInt(JsonDate.substr(6)));
        //    var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
        //    return displayDate;
        //};

        $('#Code').ValidateTextBox({ maxlength: 10, alphanum: true });
        $('#Name').ValidateTextBox({ maxlength: 50, name: true });

        $('#Create_Dialog').P2BCreateDialog();
        var dt;
        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }
        function FieldsDataFromAPI(data, clickededBtnName) {
            $('#FormCompany').trigger("reset");
            if (data.MessageCode === 200) {
                var companyData = data.Data;
                var k;
                if (companyData) {
                    allOrinalData = companyData.DTData;
                    if (AuthorizeStatus) {
                        k = companyData.DTData;
                    } else {
                        k = companyData.OriginalData;
                    }
                    var addressObj = companyData.Address;
                    var contactObj = companyData.ContactDetails;
                    var payscaleObj = companyData.PayScale;
                    if (k) {
                        $('#Code').val(k.Code);
                        $('#Code').attr('readonly', 'readonly');
                        $('#Name').val(k.Name);
                        $('#RegistrationNo').val(k.RegistrationNo);
                        if (k.RegistrationDate != null) {
                            $('#RegistrationDate').val(DateConvert(k.RegistrationDate));
                        } else {
                            $('#RegistrationDate').val("");
                        }
                        $('#PTECNO').val(k.PTECNO);
                        $('#PTRCNO').val(k.PTRCNO);
                        $('#VATNo').val(k.VATNo);
                        $('#LBTNO').val(k.LBTNO);
                        $('#ESICNo').val(k.ESICNo);
                        $('#PANNo').val(k.PANNo);
                        $('#TANNo').val(k.TANNo);
                        $('#CSTNo').val(k.CSTNo);
                        $('#CINNo').val(k.CINNo);
                        $('#ServiceTaxNo').val(k.ServiceTaxNo);
                        $('#EstablishmentNo').val(k.EstablishmentNo);
                    }
                    if (addressObj) {
                        $('#Address_Id').P2BLookUpEncapsulate('#Address_Id', 'Address_Id', addressObj.Address_Id, addressObj.Address_FullDetails, 'Address_Id', clickededBtnName , 'A','O');
                    }
                    if (contactObj) {
                        $('#ContactDetails_Id').P2BLookUpEncapsulate('#ContactDetails_Id', 'ContactDetails_Id', contactObj.ContactDetails_Id, contactObj.ContactDetails_FullDetails, 'ContactDetails_Id', clickededBtnName, 'A','O');
                    }
                    if (payscaleObj) {
                        $('#PayScale').P2BLookUpEncapsulate('#PayScale', 'PayScale', payscaleObj[0], payscaleObj[1], 'PayScale', clickededBtnName, 'A','O');

                    }
                }
            }
        }
        $('#Create_Dialog').P2BCreateDialog();

        $('#Create').on("click", function (event) {
            $('#FormCompany').trigger("reset");
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create Company', 'open', APIURL + '/GetCompanyCreateRequest', '#FormCompany', 'Message :', 'Request Falied :', '#JqGrid', 500, 620, '#Address_Id,#ContactDetails_Id,#PayScale', btndisablenames, function (data) { });
            
            event.preventDefault();
        });

        // Main page edit
        $('#Edit').on('click', function () {
            AssignData();
            if (AuthorizeStatus) {
                $('#Create_Dialog').P2BAuthorizeModalDialog(APIURL + '/GetCompanyEditRequest', dt.Id, APIURL + '/GetCompanyEditSaveRequest', "Authorize Company Data", '#FormCompany', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 500, 620, '#Address_Id,#ContactDetails_Id,#PayScale', btndisablenames, function (data) {
                    FieldsDataFromAPI(data, 'View');
                });
            } else {
                //$('#Create_Dialog').P2BEditModalDialog(APIURL + '/GetCompanyEditRequest', dt.Id, APIURL + '/GetCompanyEditSaveRequest', "Edit Company Data", '#FormCompany', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 500, 620, '#Address_Id,#ContactDetails_Id,#PayScale', btndisablenames, function (data) {
                $('#Create_Dialog').P2BEditModalDialog(APIURL + '/GetCompanyEditRequest', dt.Id, APIURL + '/GetCompanyEditSaveRequest', "Edit Company Data", '#FormCompany', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 500, 620, '#Address_Id,#ContactDetails_Id,#PayScale', btndisablenames, function (data) {
                    FieldsDataFromAPI(data, 'Edit');
                    $('#Autho_Allow').val(data[3]); //Compulsory for authorisation
                });
            }
        });


        $('#View').button().click(function (event) {
            AssignData();
            $('#Create_Dialog').P2BViewModalDialog(APIURL + '/GetCompanyEditRequest', dt.Id, 'View Company Data', '#Address_Id,#ContactDetails_Id', '#Lookup_Payscale_Company,#Remove_Payscale_Company,#Create_Payscale_Company,#Lookup-ContactDetails-Company,#Create-ContactDetails-Company,#Edit-ContactDetails-Company,#Remove-ContactDetails-Company,#Lookup-Address-Company,#Create-Address-Company,#Edit-Address-Company,#Remove-Address-Company', 500, 620, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {
                FieldsDataFromAPI(data,'View');

                //if ($("#Autho").hasClass('auto_active')) {
                //    if (data[3] != null) {
                //        $('#Name').oldVal(data[2].Name);
                //        $('#AddressList_Old').oldLookupVal(data[3].Address_Val);
                //        $('#ContactDetailsList_Old').oldLookupVal(data[3].Contact_Val);
                //        $('#PayScaleList_Old').oldLookupVal(data[3].PayScale_Val);
                //    }
                //}

            });
        });

        $('#Delete').button().click(function (event) {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            $('#FormCompany').P2BDeleteModalDialog(APIURL + '/GetCompanyDeleteRequest', dt.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
        });



        /* Address button click*/

        //To get data in Lookup
        $('#Lookup-Address-Company').on('click', function (event) {
            $('.dialog').P2BLookUpModal(APIURL + '/GetAddressEditRequest', '', 'LookupDiv', 'Address Look Up Data', '#Address_Id', 'Address_Id', 5, 'Address_Id', '#FormCompany', 'N', '#Edit-Address-Company,#Remove-Address-Company', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        // PArtial page create
        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-Address-Company').on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "address")', 'Create Address', 'open', APIURL + '/GetAddressCreateRequest', '#FormAddress', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#Country_Id,#State_Id,#StateRegion_Id,#District_Id,#Taluka_Id,#City_Id,#Area_Id', '', '', '#FormCorporate', '', function (data) {
                // to show data which is created in partial page
                if (data[0] && data[0].Address) {
                    $('#Address_Id').P2BLookUpEncapsulate('#Address_Id', 'Address_Id', data[0].Address.Id, data[0].Address.Address_FullDetails, 'Address_Id', 'Create', 'A', 'C');
                    //$('#Lookup-Address-Company,#Create-Address-Company,#Edit-Address-Company').button().button('disable');
                }
            });
            event.preventDefault();
        });

        // Partial page edit
        $('#Edit-Address-Company').button().on("click", function (event) {
            var a = [], b;
            a = $('#Address_Id').P2BGetTableDataonSelectedRow('#Address_Id', 0);
            b = a[0];
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname, height, width, classoridoftheonwhichpopupderived, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not,nameidclassofbuttontodisable,returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "address")', APIURL + '/GetAddressEditRequest', b, APIURL + '/GetAddressEditSaveRequest', 'Edit Address', '#FormAddress', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#Country_Id,#State_Id,#StateRegion_Id,#District_Id,#Taluka_Id,#City_Id,#Area_Id', '#Address_Id', 'Address_Id', 'Address_Id', 'N', '#Edit-Address-Company,#Remove-Address-Company', function (data) {
                var k;
                var apiData;
                if (data) {
                    k = data.Data;
                    if (k && k.OriginalData && k.OriginalData.Id) {
                        apiData = k.OriginalData;
                    } else {
                        apiData = k.DTData;
                    }
                }
                    $('#FormAddress').trigger("reset");
                    $('#Address1').val((apiData && apiData.Address1) || '');
                    $('#Address2').val((apiData && apiData.Address2) || '');
                    $('#Address3').val((apiData && apiData.Address3) || '');
                    $('#Landmark').val((apiData && apiData.Landmark) || '');
                    $('#Country_Id').P2BLookUpEncapsulate('#Country_Id', 'Country_Id', k.Country && k.Country.Id, k.Country && k.Country.Country_FullDetails, 'Country_Id', 'Edit', 'A', 'E');
                    $('#State_Id').P2BLookUpEncapsulate('#State_Id', 'State_Id', k.State && k.State.Id, k.State && k.State.State_FullDetails, 'State_Id', 'Edit', 'A', 'E');
                    $('#StateRegion_Id').P2BLookUpEncapsulate('#StateRegion_Id', 'StateRegion_Id', k.StateRegion && k.StateRegion.Id, k.StateRegion && k.StateRegion.StateRegion_FullDetails, 'StateRegion_Id', 'Edit', 'A', 'E');
                    $('#District_Id').P2BLookUpEncapsulate('#District_Id', 'District_Id', k.District && k.District.Id, k.District && k.District.District_FullDetails, 'District_Id', 'Edit', 'A', 'E');
                    $('#Taluka_Id').P2BLookUpEncapsulate('#Taluka_Id', 'Taluka_Id', k.Taluka && k.Taluka.Id, k.Taluka && k.Taluka.Taluka_FullDetails, 'Taluka_Id', 'Edit', 'A', 'E');
                    $('#City_Id').P2BLookUpEncapsulate('#City_Id', 'City_Id', k.City && k.City.Id, k.City && k.City.City_FullDetails, 'City_Id', 'Edit', 'A', 'E');
                    $('#Area_Id').P2BLookUpEncapsulate('#Area_Id', 'Area_Id', k.Area && k.Area.Id, k.Area && k.Area.Area_FullDetails, 'Area_Id', 'Edit', 'A', 'E');
                
            });
            event.preventDefault();
        });

        //partial page delete
        $('#Remove-Address-Company').button().on('click', function (event) {
            var selectedRows = [];
            selectedRows = $('#Address_Id').P2BGetTableDataonSelectedRow('#Address_Id', 0);
            var objData = $('.Address_Id');
            if (objData[0].innerText === 'C') {
                $('<div></div>').P2BPartialDeleteModalDialog(APIURL + '/GetAddressDeleteRequest', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#Address_Id', $('#Address_Id').val(), 200, 200, '#FormCompany', '#Address_Id', '#Edit-Address-Company,#Remove-Address-Company');
            } else {
                $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#Address_Id', $('#Address_Id').val(), 200, 200, '#FormCompany', '#Address_Id', '#Edit-Address-Company,#Remove-Address-Company');
            }
            $('#Lookup-Address-Company,#Create-Address-Company').button().button('enable');
            event.preventDefault();
        });

        /* ContactDetails button click*/

        $('#Lookup-ContactDetails-Company').button().on('click', function (event) {
            $('.dialog').P2BLookUpModal(APIURL + '/GetContactDetailsEditRequest', '', 'LookupDiv', 'ContactDetails Look Up Data', '#ContactDetails_Id', 'ContactDetails_Id', 5, 'ContactDetails_Id', '#FormCompany', 'N', '#Edit-ContactDetails-Company,#Remove-ContactDetails-Company', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-ContactDetails-Company').button().on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Createcontactdetails_partial", "Company")', 'Create ContactDetails', 'open', APIURL + '/GetContactDetailsCreateRequest', '#FormContactDetails', 'Message :', 'Request Failed :', '#JqGrid', 400, 500, '#ContactNumbers', '', '', '#FormContactDetails', '#Edit-ContactNumbers-ContDetails,#Remove-ContactNumbers-ContDetails', function (data) {
                $('#ContactDetails_Id').P2BLookUpEncapsulate('#ContactDetails_Id', 'ContactDetails_Id', data[0] && data[0].ContactDetails.Id, data[0] && data[0].ContactDetails && data[0].ContactDetails.ContactDetails_FullDetails, 'ContactDetails_Id', 'Create', 'A','C');
            });
            event.preventDefault();
        });

        $('#Edit-ContactDetails-Company').button().on("click", function (event) {
            var a = [], b;
            a = $('#ContactDetails_Id').P2BGetTableDataonSelectedRow('#ContactDetails_Id', 0);
            b = a[0];
            //url, openurl, opendataforward, editurl, maindialogtitle, forwardserializedata, forwarddata, editmessage, editerrormessage, gridreloadname,                                                                                                                    height, width, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, nameclassidofinlinelookup, nameofthelist_inlinelookuptable, nameoftable_inlinelookuptable,multiple_allowed_or_not, returndatafunction) {
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("Createcontactdetails_partial", "Company")', APIURL + '/GetContactDetailsEditRequest', b, APIURL + '/GetContactDetailsEditSaveRequest', 'Edit Contact Details', '#FormContactDetails', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#FormCompany', '#ContactDetails_Id', 'ContactDetails_Id', 'ContactDetails_Id', 'N', '#Remove-ContactNumbers-ContDetails,#Edit-ContactNumbers-ContDetails', function (data) {
                var k;
                var apiData;
                if (data) {
                    k = data.Data;
                    if (k && k.OriginalData && k.OriginalData.Id) {
                        apiData = k.OriginalData;
                    } else {
                        apiData = k.DTData;
                    }
                }
                    $('#FormContactDetails').trigger("reset");
                    $('#EmailId').val((apiData && apiData.EmailId) || '');
                    $('#Website').val((apiData && apiData.Website) || '');
                    $('#FaxNo').val((apiData && apiData.FaxNo) || '');
                    $('#ContactNumbers').P2BLookUpEncapsulate('#ContactNumbers', 'ContactNumbers', k.ContactNumbers && k.ContactNumbers.Id, k.ContactNumbers && k.ContactNumbers.ContactNumbers_FullDetails, 'ContactNumbers', 'Edit', 'A', 'E');
                
            });
            event.preventDefault();
        });

        $('#Remove-ContactDetails-Company').button().on('click', function (event) {
            // dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            //var a = [], b;
            //a = $('#ContactDetails_Id').P2BGetTableDataonSelectedRow('#ContactDetails_Id', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#ContactDetails_Id').P2BGetTableDataonSelectedRow('#ContactDetails_Id', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('@Url.Action("DeleteContactDetails", "Company")', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#ContactDetails_Id', $('#ContactDetails_Id').val(), 200, 200, '#FormCompany', '#ContactDetails_Id', '#Edit-ContactDetails-Company,#Remove-ContactDetails-Company');
            event.preventDefault();
        });

        $('#Lookup_Payscale_Company').on('click', function (event) {
            $('.dialog').P2BLookUpModal(APIURL + '/GetPayScaleEditRequest', '', 'LookupDiv', 'Look Up Data', '#PayScale', 'PayScale', 5, 'PayScale', '#FormCompany', 'A', '#Remove_Payscale_Company', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });


        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create_Payscale_Company').button().on("click", function (event) {
            //function (url, maindialogtitle, state, submiturl, submitnameformforserilize, savemessage, errormessage, gridreloadname, height, width, forwarddata, ControlName, event, classoridoftheonwhichpopupderived, nameidclassofbuttontodisable, returnfunctiondata) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Payscale_Partial", "Company")', 'Create payscale', 'open', APIURL + '/GetPayScaleCreateRequest', '#FormPayScaleP', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#FormCompany', '#Edit-ContactNumbers-ContDetails,#Remove-ContactNumbers-ContDetails', function (data) {
               
                if (data[0] && data[0].PayScale) {
                    $('#PayScale').P2BLookUpEncapsulate('#PayScale', 'PayScale', data[0].PayScale.Id, data[0].PayScale.PayScale_FullDetails, 'PayScale', 'Create', 'A','C');
                }
            });
            event.preventDefault();
        });

        $('#Remove_Payscale_Company').button().on('click', function (event) {
            var selectedRows = [];
            selectedRows = $('#PayScale').P2BGetTableDataonSelectedRow('#PayScale', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('@Url.Action("DeleteContactDetails", "Company")', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#PayScale', $('#PayScale').val(), 200, 200, '#FormCompany', '#PayScale', '#Remove_Payscale_Company');
            event.preventDefault();
        });


        $('.popup_radio_button').controlgroup();
        @*$('#Autho').makeDisable('#Create,#Edit,#Delete');
        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');*@
        $('#Category').selectmenu().selectmenu("menuWidget").addClass("overflow");
        //$('#Autho').makeDisable('#Create,#Edit,#Delete');
        $('#Autho').makeDisable('#Create,#Edit,#Delete', '#JqGrid', APIURL + '/GetCompanyP2BGridRequest');
            //$('#Autho').onClickGrid('#JqGrid', APIURL + '/GetCompanyP2BGridRequest', APIURL + '/GetCompanyP2BGridRequest');
        
    });
</script>