@{
    ViewBag.Title = "Employee Leave Structure";
}
@model Leave.EmployeeLvStruct
<!DOCTYPE html>

<script>
    $(document).ready(function () {
        $('#Code').ValidateTextBox({ maxlength: 10, AlphaNum: 0 });
        $('#Code').MaxLength(10);
        //$('#Name').ForceOnlyAlphaNumeric();
        $('#LeaveBankName').MaxLength(50);
    });

</script>

<script>
    $(document).ready(function (e) {
        $('button').button();
        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;
        var btndisablenames = "#Edit-Address-Corporate,#Remove-Address-Corporate,#Edit-ContactDetails-Corporate,#Remove-ContactDetails-Corporate";
        ColModel = [ 'EmpCode', 'EmpName', 'EffectiveDate', 'EndDate', 'struct_Id','Id'];
        ColNames = [ 'EmpCode', 'EmpName', 'EffectiveDate', 'End Date', 'struct_Id','Id'];
        SortName = 'Id';
        Caption = 'Employee Struct Details';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);

        var inline_ColNames = [];
        var inline_ColModel = [];
        var inline_SortName, inline_Caption, inline_url, inline_width, inline_height;
        inline_ColModel = ['LvHeadFormula', 'LvHead', 'PolicyName', 'Editable', 'Id'];
        inline_ColNames = ['LvHeadFormula', 'LvHead', 'PolicyName', 'Editable', 'Id'];
        inline_SortName = 'Id';
        inline_Caption = 'List';
        inline_url = 0;
        inline_width = 1000;
        inline_height = 150;
        var urlId = '@Url.Action("P2BInlineGrid")';
        var modified_data = {
            data: []
        };
        $('#select_date').P2BDatePicker();



        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            $('#select_date').val(dt.EffectiveDate).attr("readonly", "readonly");
            $.get("@Url.Action("GetPayscaleagreement")", { data: dt.struct_Id }, function (data) {
                $('#payscaleagreement_id').val(data.Id);
                $('#payscaleagreement').val(data.FullDetails).attr("readonly", "readonly");
            });
            $('#payscaleagreement').val(dt.PayScaleAgreement).attr("readonly", "readonly");
        }

        $('#EffectiveDate').P2BDatePicker();
        $('#EndDate').P2BDatePicker();
        $('#ApplyPastGrace').P2BDatePicker();



        ColDisplayNames = [ 'EmpCode', 'EmpName','Id'];
        ColDisplayModel = ['EmpCode', 'EmpName', 'Id'];
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;
        Caption_one = "EmployeeLvStruct",
        Caption_second = "Employee List",
        urlD = '@Url.Action("LoadEmp")';
        widthD = 700;
        heightD = 200;
        $('#JqGridNew').P2BGrid(ColDisplayNames, ColDisplayModel, SortName, Caption_second, urlD, widthD, heightD, '#pager22', { multiple: true, rowNum: 30, selectall: true });

        $('#inline_JqGrid').InlineEditGrid({
            ColNames: inline_ColNames,
            ColModel: inline_ColModel,
            SortName: inline_SortName,
            Caption: inline_Caption,
            url: inline_url,
            tablename: '#inline_JqGrid',
            eddelurl: '@Url.Action("edit")',
            width: inline_width,
            height: inline_height,
            //inlinePager: '#inline_JqGrid_pager',
            CheckCol: "Editable",
            EditableCol: ["Amount"],
        });

        $('#Edit_model_dialog').P2BGridDialog();
        $('#list-employee').P2BGridDialog();
        $('#Create').button().on("click", function (event) {
            $('#FormEmployeeLvStruct').trigger('reset');
            $('#payscaleagreement_drop').P2BSelectMenuAppend('@Url.Action("Polulate_payscale_agreement", "EmployeeLvStruct")', "", ""); // To bind dropdown on page load
            $('#list-employee').P2BGridDialog({
                maindialogtitle: "Create Dialog",
                submiturl: "@Url.Action("create")",
                form: "#FormEmployeeLvStruct",
                height: 475,
                width: 800,
                state: "open",
                gridname: "#JqGridNew",
                editurl: urlD,
                gridfunction: "GetGridSelctedvalue",
                gridreloadname: "#JqGrid",
                returnToGrid: "#JqGridNew",
                title: "Create Employee Leave Structure ",
            });
            event.preventDefault();
        });

        @*$('#Create_Dialog').P2BCreateDialog();
        //Create Function
        $('#Create').on("click", function (event) {
            $('#FormLvBankOpenBal').trigger("reset");
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create EmployeeLvStruct', 'open', '@Url.Action("Create")', '#FormEmployeeLvStruct', 'Message :', 'Request Falied :', '#JqGrid', 500, 800, '#EmployeeLvStructDetailslist', "", function (data) { });
            // $('#CreditDatelist').P2BSelectMenuAppend('@Url.Action("GetLookupValue", "lookup")', 402, ""); // To bind dropdown on page load
            event.preventDefault();
        });*@
        function ajaxloaderv2(cameform) {
            $('<a><i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw ajax_loder" style="color: rgba(27, 187, 173, 0.93);z-index:999;" aria-hidden="true"></i></a>').appendTo(cameform);
        };
        $('#Update_Struct').button().on("click", function (event) {
            $.ajax({
                url: "@Url.Action("Update_Struct")",
                data: { PayScaleAgreementId: $('#payscaleagreement_dropview').val() },
                beforeSend: function () {
                    ajaxloaderv2('body');
                },
                success: function (data) {
                    if (data != null) {
                        alert(data.responseText);
                    }
                },
                complete: function () {
                    $('.ajax_loder').remove();
                }
            });
            @*$.get("@Url.Action("Update_Struct")", { PayScaleAgreementId: $('#payscaleagreement_dropview').val() }, function (data) {
                if (data != null) {
                    alert(data.responseText);
                }
            });*@
            event.preventDefault();
        });
        //function DateConvert(JsonDate) {
            //    var date = new Date(parseInt(JsonDate.substr(6)));
            //    var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
            //    return displayDate;
        //};
        $('.drop').selectmenu().selectmenu("menuWidget");
        $('#payscaleagreement_dropview').P2BSelectMenuAppend('@Url.Action("Polulate_payscale_agreement", "EmployeeLvStruct")', "", "");
        // Main page edit
        $('#Edit').on('click', function () {
            AssignData();
            $('#Edit_model_dialog').P2BGridDialog({
                maindialogtitle: "Edit Dialog",
                submiturl: "",
                form: "#FormEditInlineGrid",
                height: 500,
                width: 1100,
                gridname: "#JqGrid",
                state: "open",
                editurl: "@Url.Action("P2BInlineGrid")",
                editdata: dt.Id,
            filter: dt.struct_Id,
            returnToGrid: "#inline_JqGrid",
            });

            //@*$('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit EmployeeLvStruct  Data", '#FormEmployeeLvStruct', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 500, 620, '#EmployeeLvStructDetailslist', "", function (data) {
                // setTimeout(function () {
                $.each(data[0], function (i, k) {
                    //console.log(k.Code);
                    
                    if (k.EffectiveDate != null) {
                        $('#EffectiveDate').val(DateConvert(k.EffectiveDate));
                    }

                    if (k.EndDate != null) {
                        $('#EndDate').val(DateConvert(k.EndDate));
                    }

                });

                //partial page bind
                $.each(data[1], function (i, k) {

                    $('#EmployeeLvStructDetailslist').P2BLookUpEncapsulate('#EmployeeLvStructDetailslist', 'EmployeeLvStructDetailslist', k.EmpLVStructDetails_Id, k.EmpLVStructDetails_FullDetails, 'EmployeeLvStructDetailslist', '#Remove-EmployeeLvStructDetails-EmployeeLvStruct', 'N');

                });
                //alert(data[3]);
                $('#Autho_Allow').val(data[3]); //Compulsory for authorisation
                // }, 2000);
            });*@
        });
        //View main page
        $('#View').button().click(function (event) {
            AssignData();
            $('#Edit_model_dialog').P2BGridDialog({
                maindialogtitle: "Edit Dialog",
                submiturl: "",
                form: "#FormEditInlineGrid",
                height: 500,
                width: 1100,
                gridname: "#JqGrid",
                state: "open",
                editurl: "@Url.Action("P2BInlineGrid")",
                editdata: dt.Id,
            filter: dt.struct_Id,
            returnToGrid: "#inline_JqGrid",
            });

            @*$('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View', '#BasicScaleDetailslist', '', 356, 512, '#Autho', '@Url.Action("delete")', '', '', '', '','','', function (data) {*@
            @*$('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View LvBank Data', '', '', 500, 620, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {
                $.each(data[0], function (i, k) {
                    if (k.EffectiveDate != null) {
                        $('#EffectiveDate').val(DateConvert(k.EffectiveDate));
                    }

                    if (k.EndDate != null) {
                        $('#EndDate').val(DateConvert(k.EndDate));
                    }


                });

                $.each(data[1], function (i, k) {

                    $('#EmployeeLvStructDetailslist').P2BLookUpEncapsulate('#EmployeeLvStructDetailslist', 'EmployeeLvStructDetailslist', k.EmpLVStructDetails_Id, k.EmpLVStructDetails_FullDetails, 'EmployeeLvStructDetailslist', '', 'N');
                });

                //To bind old data if authorisation is true
                if ($("#Autho").hasClass('auto_active')) {
                    if (data[2] != null) {
                        $('#Name').oldVal(data[2].Name);
                        $('#CategoryList_DDL').oldDropval(data[2].BusinessType_Val);
                        $('#AddressList_Old').oldLookupVal(data[2].Address_Val);
                        $('#ContactDetailsList_Old').oldLookupVal(data[2].Contact_Val);
                    }
                }
                //}, 2000);
            });*@
        });

        //delete main page
        $('#Delete').button().click(function (event) {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            $('#Create_Dialog').P2BDeleteModalDialog('@Url.Action("Delete")', dt.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
            event.preventDefault();
        });

        /* Address button click*/

        //To get data in Lookup
        $('#Lookup-EmployeeLvStructDetails-EmployeeLvStruct').on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupLvstructdetails", "EmployeeLvStruct")', '', 'LookupDiv', 'EmployeeStructtDetails Look Up Data', '#EmployeeLvStructDetailslist', 'EmployeeLvStructDetailslist', 5, 'EmployeeLvStructDetailslist', '#FormEmployeeLvStruct', 'A', '#Remove-EmployeeLvStructDetails-EmployeeLvStruct', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });
        // PArtial page create
        $('<div></div>').P2BPartialCreateModalDialog();
        //partial page delete
        $('#Remove-EmployeeLvStructDetails-EmployeeLvStruct').button().on('click', function (event) {
            //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            //var a = [], b;
            //a = $('#EmployeeLvStructDetailslist').P2BGetTableDataonSelectedRow('#EmployeeLvStructDetailslist', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#EmployeeLvStructDetailslist').P2BGetTableDataonSelectedRow('#EmployeeLvStructDetailslist', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#EmployeeLvStructDetailslist', $('#EmployeeLvStructDetailslist').val(), 200, 200, '#FormEmployeeLvStruct', '#EmployeeLvStructDetailslist', '');
            event.preventDefault();
        });

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-EmployeeLvStructDetails-EmployeeLvStruct').button().on("click", function (event) {
            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("CreateEmpLvStructDet_partial", "EmployeeLvStruct")', 'Create EmployeeLvStructDetails', 'open', '@Url.Action("Create", "EmployeeLvStructDetails")', '#FormEmployeeLvStructDetails', 'Message :', 'Request Falied :', '#JqGrid', 500, 600, '', '', '', '#FormEmployeeLvStruct', '', function (data) {
                $('#EmployeeLvStructDetailslist').P2BLookUpEncapsulate('#EmployeeLvStructDetailslist', 'EmployeeLvStructDetailslist', data[0], data[1], 'EmployeeLvStructDetailslist', '#Remove-LvHeadObj-LeaveHead', 'A');
            });
            event.preventDefault();
        });
        /* ContactDetails button click*/
        $('<div></div>').P2BPartialCreateModalDialog();

        $('.popup_radio_button').controlgroup();
        $('.drop').selectmenu().selectmenu("menuWidget");
        $('#Autho').makeDisable('#Create,#Edit,#Delete');
        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');

    });
</script>

<html>

<head>
    <title></title>

    <style>
        .icon-row {
            position: relative;
            left: 112px;
            top: -150px;
        }

        #BusinessType-button {
            font-size: 9px;
            padding-top: 1px;
            font-weight: bold;
        }

        .popup-content-label {
            display: block;
            float: left;
            width: 156px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 150px;
        }

        .row3 {
            width: 600px;
        }

        .row4 {
            position: absolute;
            top: 294px;
            width: 400px;
        }

        .popup-content-textbox-long {
            margin-bottom: 1px;
            width: 290px;
        }


        .row2 {
            width: 402px;
        }

        .emplist_row {
            width: 400px;
            padding: 2px;
        }

        .emplist_label {
            display: block;
            float: left;
            width: 146px;
        }


        .transactiondiv {
            border: 1px solid #c5c5c5;
            margin: 0 auto;
            width: 192px;
            border-radius: 5px;
            height: 300px;
        }
        .ui-widget.ui-widget-content {
            z-index: 1;
        }
    </style>
</head>

<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <button class="button" id="Create">Create</button>
                <button class="button" id="View">View</button>
                <button class="button" id="Edit">Edit</button>
                <button class="button" id="Delete">Delete</button>
                <button class="button" id="Autho">Authorised</button>
                <div style="float:left">
                    <label id="lblAgrment" class="emplist_label">PayScaleAgreement:</label>
                    <select id="payscaleagreement_dropview" name="payscaleagreement_dropview" class="drop" style="width:220px;"><option value="0">-Select-</option></select>
                    <button id="Update_Struct">Update Structure</button>
                </div>
                <div id="Grid_Form">
                    <div>
                        <table id="JqGrid"></table>
                        <div id="pager2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>

    @*<div id="Create_Dialog" title="Create Corpoarte">*@
    <div id="Edit_model_dialog">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormEditInlineGrid", name = "FormEditInlineGrid" }))
        {

            <div class="emplist_row">
                <label for="payscaleagreement_drop" class="emplist_label">PayScale Agreement :</label>
                <input type="text" style="display:none" id="payscaleagreement_id" name="payscaleagreement_id" />
                <input type="text" id="payscaleagreement" name="payscaleagreement" />

            </div>
            <div class="emplist_row">
                <label class="emplist_label">Effective Date :</label><input type="text" name="Effective_Date" id="select_date" />
                @*<button id="Update_Struct">Update Structure</button>*@
            </div>
            <div>
                <table id="inline_JqGrid"></table>
                <div id="inline_JqGrid_pager"></div>
            </div>
        }
    </div>

    <div id="list-employee" title="Create ">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "FormEmployeeLvStruct", name = "FormEmployeeLvStruct" }))
        {

            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
            <label for="payscaleagreement_drop" class="emplist_label">PayScale Agreement :</label>
            @*<select id="payscaleagreement_drop" name="payscaleagreement_drop" style="width:120px;"><option></option></select>*@
            <select id="payscaleagreement_drop" name="payscaleagreement_drop" class="drop" style="width:220px;"><option value="0">-Select-</option></select>
            <div class="row3 content_margine">@Html.LabelFor(m => m.EffectiveDate, "EffectiveDate:", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.EffectiveDate, new { @class = "popup-content-textbox must" })</div>
            @*<div class="row3 content_margine">@Html.LabelFor(m => m.EndDate, "EndDate:", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.EndDate, new { @class = "popup-content-textbox must" })</div>*@
            @*<div class="row3 content_margine">
                    <div id="LvCalendarlist_old"></div>
                    @Html.LabelFor(m => m.EmployeeLvStructDetails, "LvStructSetails:", new { @class = "popup-content-label" })
                    <div class="popup-content-table">
                        <table class="lookuptableselected" id="EmployeeLvStructDetailslist">
                            <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                        </table>
                    </div>
                    <div class="icon-row">
                        <button data-p2btooltip="Select EmployeeLvStructDetails" class="  popup-content-icon-lookup" id="Lookup-EmployeeLvStructDetails-EmployeeLvStruct"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Create EmployeeLvStructDetails" class="popup-content-icon-create" id="Create-EmployeeLvStructDetails-EmployeeLvStruct"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                        @*<button data-p2btooltip="Edit Address" class="popup-content-icon-edit" id="Edit-ConvertLeaveHead-LvEncashReq"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Remove EmployeeLvStructDetails" class="popup-content-icon-remove" id="Remove-EmployeeLvStructDetails-EmployeeLvStruct"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                    </div>
                </div>*@


            <div class="emplist_row">
                <div id="Grid_Form2">
                    <div>
                        <table id="JqGridNew"></table>
                        <div id="pager22"></div>
                    </div>
                </div>
            </div>


        }
    </div>


</body>
</html>
