@{
    ViewBag.Title = "LookupForm";
}
@model P2b.Global.Lookup
<style>
    .icon-row {
        position: relative;
        left: 61px;
        top: -150px;
    }

    .Lookup_icon-row {
        position: absolute;
        left: 68px;
        top: 54px;
    }

    .popup-content-label {
        display: block;
        float: left;
        width: 100px;
        margin: 1px;
    }
</style>



<div class="Form_Bg">
    <div class="Form_Input">
        <div class="Button_Container">
            <button class="button" id="Create">Create</button>
            <button class="button" id="View">View</button>
            <button class="button" id="Edit">Edit</button>
            <button class="button" id="Delete">Delete</button>
            <button class="button" id="Autho">Authorized</button>
            <button class="button" id="Btn-Upload-Data">Upload</button>
            <button class="button" id="btn-ExportCSV-data">ExportCSV</button>
            <div id="Grid_Form">
                <div>
                    <table id="JqGrid"></table>
                    <div id="pager2"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>
</div>

<div id="Create_Dialog">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmLookup", name = "frmLookup" }))
    {
        <input id="Autho_Action" type="hidden" name="Autho_Action" />
        <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
        <div class="look_row content_margine">@Html.LabelFor(m => m.Code, "Code :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Code, new { @class = "popup-content-textbox must", @id = "LookupCode", @maxlength = "10" })</div>
        <div class="look_row content_margine">@Html.LabelFor(m => m.Name, "Name :", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.Name, new { @class = "popup-content-textbox must", @id = "LookupName", @maxlength = "50" })</div>
        <div class="row3 content_margine">
            @Html.LabelFor(m => m.LookupValues, "Lookup Values:", new { @class = "popup-content-label" })  <div class="popup-content-table">
                <table class="lookuptableselected" id="LookupValueslist">
                    <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                </table>
            </div>
            <div class="Lookup_icon-row icon-row">
                <button data-p2btooltip="Lookup Lookup Values" class="popup-content-icon-lookup" id="Lookup-LookupValues-Lookup"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                <button data-p2btooltip="Create Lookup Values" class="popup-content-icon-create" id="Create-LookupValues-Lookup"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                <button data-p2btooltip="Edit Lookup Values" class=" popup-content-icon-edit" id="Edit-LookupValues-Lookup"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                <button data-p2btooltip="Remove Lookup Values" class="popup-content-icon-remove" id="Remove-LookupValues-Lookup" disabled="disabled"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                <button data-p2btooltip="View Lookup Values" class="popup-content-icon-view" id="view-LookupValues-Lookup"><span class="ui-icon ui-icon-extlink popup-content-iconmark"></span></button>

            </div>
        </div>

    }
</div>

<script>
    $(document).ready(function () {
        $('#LookupCode').MaxLength(10);
        $('#LookupName').MaxLength(50);
        
        $('button').button();
        $('#Code').ValidateTextBox({ maxlength: 10, alphanum: true });
        $('#Name').ValidateTextBox({ maxlength: 50, name: true });
        $('#btn-ExportCSV-data').on('click', function () {
            window.location = '@Url.Action("ExportToCsv")';
        });
        $('#Btn-Upload-Data').on('click', function (e) {
            $('<div></div>').PartialCreateDialog({
                height: '500',
                width: '700',
                form: '#frmlookup',
                title: 'Upload',
                htmlurl: '@Url.Action("PARTIAL","JSONUPLOAD")',
                state: "open",
                mode: 'edit',
                editurl: null,
                submiturl: null,
                editdata: 'a',
                forwarddata: 'a',
                returndatafunction: function (data) {
                    console.log(data);
                },
                submitfun: function (data) {
                    console.log(data);
                }
            });

            e.preventDefault();
        });
        $('#View-LookupValues-Lookup').on('click', function (e) {
            var a = [], b;
            a = $('#LookupValueslist').P2BGetTableDataonSelectedRow('#LookupValueslist', 0);
            b = a[0];
            $('<div></div>').P2bViewPartialDialog({
                htmurl: '@Url.Action("partial", "LookupValue")',
                btnid: '#View-LookupValues-Lookup',
                editurl: "@Url.Action("edit", "LookupValue")",
                height: 'auto',
                width: 'auto',
                returndatafunction: function (data) {
                    $.each(data, function (i, k) {
                        $('#LookupVal').val(k.LookupVal);
                        $('[name="IsActive"]').val([k.IsActive]).button().button("refresh");
                    });

                },
                editdata: b,
            });
            e.preventDefault();
        });
        var dt;
        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;
        ColModel = ['Code', 'Name', 'Id'];
        ColNames = ['Code', 'Name', 'Id'];
        SortName = 'Id';
        Caption = 'Lookup';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);

        $('#Create_Dialog').P2BCreateDialog();
        $('#Create').button().on("click", function (event) {
            $('#frmLookup').trigger("reset");
            $('#Create_Dialog').P2BCreateDialog('', 0, '', '', 'Create Lookup Dialog', 'open', '@Url.Action("Create")', '#frmLookup', 'Message :', 'Request Falied :', '#JqGrid', 400, 620, '#LookupValueslist', '#Edit-LookupValues-Lookup,#Remove-LookupValues-Lookup', function () { });
            event.preventDefault();
        });

        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }

        $('#Edit').on('click', function (event) {
            AssignData();
            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit Lookup Dialog", '#frmLookup', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 500, 620, '#LookupValueslist', '#Edit-LookupValues-Lookup,#Remove-LookupValues-Lookup', function (data) {
                $.each(data[0], function (i, k) {
                    $('#frmLookup').trigger('reset');
                    $('#Code').val(k.Code);
                    $('#Code').attr('readonly', 'readonly');
                    $('#Name').val(k.Name);
                });
                $.each(data[1], function (i, k) {
                    // function (nameoftable_classorid, nameofthelist, firstdataparameter, seconddataparameter, nameoftable, nameofthebtndisable, multiple_allowed_or_not) {
                    $('#LookupValueslist').P2BLookUpEncapsulate('#LookupValueslist', 'LookupValueslist', k.lookupval_id, k.lookupval_val, 'LookupValueslist', '#Edit-LookupValues-Lookup', 'A');
                });

                $('#Autho_Allow').val(data[3]);
            });
            // event.preventDefault();
        });



        $('#View').button().click(function (event) {
            AssignData();
            @*$('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View', '#BasicScaleDetailslist', '', 356, 512, '#Autho', '@Url.Action("delete")', '', '', '', '','','', function (data) {*@
            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View Lookup Dialog', '#LookupValueslist', '#Lookup-LookupValues-Lookup,#Create-LookupValues-Lookup,#Edit-LookupValues-Lookup,#Remove-LookupValues-Lookup', 500, 620, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {

                $.each(data[0], function (i, k) {
                    $('#frmLookup').trigger('reset');
                    $('#Autho_Action').val(k.Action);
                    $('#Code').val(k.Code);
                    $('#Name').val(k.Name);
                });
                $.each(data[1], function (i, k) {
                    $('#LookupValueslist').P2BLookUpEncapsulate('#LookupValueslist', 'LookupValueslist', k.lookupval_id, k.lookupval_val, 'LookupValueslist', 'view', 'A');
                });

                //To bind old data if authorisation is true
                if ($("#Autho").hasClass('auto_active')) {
                    if (data[2] != null) {
                        $('#Name').oldVal(data[2].Name);
                        $('#CategoryList_DDL').oldDropval(data[2].BusinessType_Val);
                        $('#LookupValueslist_old').oldLookupVal(data[2].Address_Val);
                        $('#ContactDetailsList_Old').oldLookupVal(data[2].Contact_Val);
                    }
                }
                //}, 2000);
            });
        });

        $('#Delete').button().click(function (event) {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'ID');
            $('#frmLookup').P2BDeleteModalDialog('@Url.Action("Delete")', dt.Id, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#JqGrid');
        });

        $('#Lookup-LookupValues-Lookup').button().on('click', function (event) {
            $('.dialog').P2BLookUpModal('@Url.Action("GetLookupDetails", "Lookup")', '', 'LookupDiv', 'Look Up Data', '#LookupValueslist', 'LookupValueslist', 10, 'LookupValueslist', '#frmLookup', 'A', '#Edit-LookupValues-Lookup', 'Lookup_table', 'PageNavPosition');
            event.preventDefault();
        });

        $('<div></div>').P2BPartialCreateModalDialog();
        $('#Create-LookupValues-Lookup').on("click", function (event) {

            $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("partial", "LookupValue")', 'Create LookupValue Dialog', 'open', '@Url.Action("Create", "LookupValue")', '#frmLookupValue', 'Message :', 'Request Failed :', '#JqGrid', 200, 400, '', '', '', '#LookupValueslist', '', function (data) {

                $('#LookupValueslist').P2BLookUpEncapsulate('#LookupValueslist', 'LookupValueslist', data[0], data[1], 'LookupValueslist', '#Edit-LookupValues-Lookup', 'A');
            });
            event.preventDefault();
        });

        $('#Edit-LookupValues-Lookup').button().on('click', function (event) {
            var a = [], b;
            a = $('#LookupValueslist').P2BGetTableDataonSelectedRow('#LookupValueslist', 0);
            b = a[0];
            @*$('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "address")', '@Url.Action("edit", "address")', b, '@Url.Action("Editsave","Address")', 'Edit Address', '#FormAddress', b, 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '#FormCorporate', '#AddressList', 'AddressList', 'AddressList', 'N', '#Edit-Address-Corporate,#Remove-Address-Corporate', function (data) {*@
            $('<div></div>').P2BPatialEditModalDialog('@Url.Action("partial", "LookupValue")', '@Url.Action("edit", "LookupValue")', b, '@Url.Action("EditSave", "LookupValue")', 'Edit Lookup Values Dialog', '#frmLookupValue', b, 'Message :', 'Request Falied :', '#JqGrid', 200, 400, '#frmLookup', '#LookupValueslist', 'LookupValueslist', 'LookupValueslist', 'A', '#Edit-LookupValues-Lookup,#Remove-LookupValues-Lookup', function (data) {

                $.each(data, function (i, k) {
                    $('#LookupVal').val(k.LookupVal);
                    $('#LookupValData').val(k.LookupValData);
                    $('[name="IsActive"]').val([k.IsActive]).button().button("refresh");
                });

            });
            event.preventDefault();
        });

        $('#Remove-LookupValues-Lookup').button().on('click', function (event) {
            // dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'ID');
            //var a = [], b;
            //a = $('#LookupValueslist').P2BGetTableDataonSelectedRow('#LookupValueslist', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#LookupValueslist').P2BGetTableDataonSelectedRow('#LookupValueslist', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('@Url.Action("Delete","LookupValue")', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#LookupValueslist', $('#LookupValueslist').val(), 200, 200, '#frmLookup', '#LookupValueslist', '#Edit-LookupValues-Lookup');
            event.preventDefault();
        });

        $('#Autho').makeDisable('#Create,#Edit,#Delete');
        $('#Autho').onClickGrid('#JqGrid', '@Url.Action("P2BGrid")', '@Url.Action("P2BGrid")');
    });
</script>