@{
    ViewBag.Title = "ExitProcess_Config_Policy";
}
@model EMS.ExitProcess_Config_Policy


<html>

<head>
    <title></title>
    <style>
        .icon-row {
            position: relative;
            left: 230px;
            top: -150px;
        }

        #BusinessType-button {
            font-size: 9px;
            padding-top: 1px;
            font-weight: bold;
        }

        .popup-content-label {
            display: block;
            float: left;
            width: 270px;
        }

        .popup-content-labelT {
            display: block;
            float: left;
            width: 170px;
        }

        .popup-content-textbox {
            margin-bottom: 1px;
            min-width: 120px;
        }

        .row3 {
            width: 627px;
        }

        .row4 {
            position: absolute;
            top: 294px;
            width: 400px;
        }

        .popup-content-textbox-long {
            margin-bottom: 1px;
            width: 290px;
        }


        .row2 {
            width: 402px;
        }

        .date-picker {
            z-index: 999;
        }
    </style>
</head>

<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <button class="button" id="Create">Create</button>
                <button class="button" data-typeofbtn="process" id="View">View</button>
                <button class="button" data-typeofbtn="release" id="Edit">Edit</button>
                <button class="button" data-typeofbtn="delete" id="Delete">Delete</button>
                <div id="Grid_Form">
                    <div>
                        <table id="JqGrid"></table>
                        <div id="pager2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>

    <div id="Create_Dialog" title="Create Corpoarte">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "frmExitProcess_Config_Policy", name = "frmExitProcess_Config_Policy" }))
        {
            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
            <input id="geo_id" class="filter_structure_id" name="geo_id" />
            <input id="pay_id" class="filter_structure_id" name="pay_id" />
            <input id="fun_id" class="filter_structure_id" name="fun_id" />
            <input id="emp_Id" class="filter_structure_id" name="emp_Id" />

           
            
             <div class="row3 content_margine">
                @Html.LabelFor(m => m.ProcessConfigName, "Process Config Name:", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.ProcessConfigName, new { @class = "popup-content-textbox must" })
            </div>
              <div class="row3 content_margine">
                @Html.LabelFor(m => m.IsLastDayAsNoticePeriodLastWorkDay, "Is Last Day As Notice Period Last WorkDay :", new { @class = "popup-content-label must" })
                <div class="popup_radio_button radio_button_div_3">
                    <span class="popup_radio_button radio_button_div_1">
                        <input type="radio" id="radio5" name="IsLastDayAsNoticePeriodLastWorkDay" value="true" /><label class="ui-corner-left" for="radio5">Yes</label>
                        <input type="radio" id="radio6" name="IsLastDayAsNoticePeriodLastWorkDay" value="false" checked="checked" /><label class="ui-corner-right" for="radio6">No</label>
                    </span>
                </div>
            </div>
              <div class="row3 content_margine">
                @Html.LabelFor(m => m.IsSettlementOnLastWorkingDay, "Is Settlement On Last Working Day :", new { @class = "popup-content-label must" })
                <div class="popup_radio_button radio_button_div_5">
                    <span class="popup_radio_button radio_button_div_1">
                        <input type="radio" id="radio9" name="IsSettlementOnLastWorkingDay" value="true" /><label class="ui-corner-left" for="radio9">Yes</label>
                        <input type="radio" id="radio10" name="IsSettlementOnLastWorkingDay" value="false" checked="checked" /><label class="ui-corner-right" for="radio10">No</label>
                    </span>
                </div>
            </div>
            <div class="row3 content_margine">
                @Html.LabelFor(m => m.FFSSettlementPeriod_FromLastWorkDay, "FFSSettlementPeriod_FromLastWorkDay:", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.FFSSettlementPeriod_FromLastWorkDay, new { @class = "popup-content-textbox must" })
            </div>

            <div class="row3 content_margine">
                @Html.LabelFor(m => m.IsLastWorkDateManual, "Is Last Work Date Manual :", new { @class = "popup-content-label must" })
                <div class="popup_radio_button radio_button_div_4">
                    <span class="popup_radio_button radio_button_div_1">
                        <input type="radio" id="radio7" name="IsLastWorkDateManual" value="true" /><label class="ui-corner-left" for="radio7">Yes</label>
                        <input type="radio" id="radio8" name="IsLastWorkDateManual" value="false" checked="checked" /><label class="ui-corner-right" for="radio8">No</label>
                    </span>
                </div>
            </div>
            
             <div class="row3 content_margine">
                @Html.LabelFor(m => m.IsExitInterviewOnReqAcceptance, "Is Exit Inter view On Req Acceptance :", new { @class = "popup-content-label must" })
                <div class="popup_radio_button radio_button_div_7">
                    <span class="popup_radio_button radio_button_div_1">
                        <input type="radio" id="radio13" name="IsExitInterviewOnReqAcceptance" value="true" /><label class="ui-corner-left" for="radio13">Yes</label>
                        <input type="radio" id="radio14" name="IsExitInterviewOnReqAcceptance" value="false" checked="checked" /><label class="ui-corner-right" for="radio14">No</label>
                    </span>
                </div>
            </div>
            
             <div class="row3 content_margine">
                @Html.LabelFor(m => m.IsSalaryStopOnResignDate, "Is Salary Stop On Resign Date :", new { @class = "popup-content-label must" })
                <div class="popup_radio_button radio_button_div_6">
                    <span class="popup_radio_button radio_button_div_1">
                        <input type="radio" id="radio11" name="IsSalaryStopOnResignDate" value="true" /><label class="ui-corner-left" for="radio11">Yes</label>
                        <input type="radio" id="radio12" name="IsSalaryStopOnResignDate" value="false" checked="checked" /><label class="ui-corner-right" for="radio12">No</label>
                    </span>
                </div>
            </div>
            
            <div class="row3 content_margine">
                @Html.LabelFor(m => m.NoDuesActivation_BFLastWorkDay, "NoDuesActivation_BFLastWorkDay:", new { @class = "popup-content-label must" })@Html.TextBoxFor(m => m.NoDuesActivation_BFLastWorkDay, new { @class = "popup-content-textbox must" })
            </div>

             <div class="row3 content_margine">
                @Html.LabelFor(m => m.IsFFSStatementAcceptanceAppl, "Is FFS Statement Acceptance Appl :", new { @class = "popup-content-label must" })
                <div class="popup_radio_button radio_button_div_2">
                    <span class="popup_radio_button radio_button_div_2">
                        <input type="radio" id="radio3" name="IsFFSStatementAcceptanceAppl" value="true" /><label class="ui-corner-left" for="radio3">Yes</label>
                        <input type="radio" id="radio4" name="IsFFSStatementAcceptanceAppl" value="false" checked="checked" /><label class="ui-corner-right" for="radio4">No</label>
                    </span>
                </div>
            </div>

            @*<div class="row14_empoff content_margine">
                    @Html.LabelFor(m => m.LeaveHead, "Leave Head :", new { @class = "popup-content-label must" })
                    <div class="popup-content-table">
                        <div id="PayProcessGrouplist_old"></div>
                        <table class="lookuptableselected" id="LeaveHeadList">
                            <tr><th>ID</th><th>LookUp Selected Description</th></tr>
                        </table>
                    </div>
                    <div class="icon-row">
                        <button data-p2btooltip="Select LeaveHead Details" class="popup-content-icon-lookup" id="Lookup-LeaveHead-ExitProcess_Config_Policy"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>
                        @*<button data-p2btooltip="Create LeaveHead Details" class="popup-content-icon-create" id="Create-LeaveHead-ExitProcess_Config_Policy"><span class="ui-icon ui-icon-newwin popup-content-iconmark"></span></button>
                            <button data-p2btooltip="Edit LeaveHead Details" class="popup-content-icon-edit" id="Edit-LeaveHead-ExitProcess_Config_Policy"><span class="ui-icon ui-icon-pencil popup-content-iconmark"></span></button>
                        <button data-p2btooltip="Remove LeaveHead Details" class="popup-content-icon-remove" id="Remove-LeaveHead-ExitProcess_Config_Policy"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
                    </div>
                </div>*@



            <div class="row3 content_margine">
                @Html.LabelFor(m => m.IsLeavesAvailAppl, "Is Leaves AvailAppl :", new { @class = "popup-content-label must" })
                <div class="popup_radio_button radio_button_div_1">
                    <span class="popup_radio_button radio_button_div_1">
                        <input type="radio" id="radio1" name="IsLeavesAvailAppl" value="true" /><label class="ui-corner-left" for="radio1">Yes</label>
                        <input type="radio" id="radio2" name="IsLeavesAvailAppl" value="false" checked="checked" /><label class="ui-corner-right" for="radio2">No</label>
                    </span>
                </div>
            </div>

    <div id="hideshowcombinedleavehead">
        <div class="row3 content_margine">
            <div id="LeaveHeadlist_old"></div>
            @Html.LabelFor(m => m.LeaveHead, "LeaveHead :", new { @class = "popup-content-label" })
            <div class="popup-content-table">
                <table class="lookuptableselected" id="LeaveHeadlist">
                    <tr><th>Id</th><th>LookUp Selected Description</th></tr>
                </table>
            </div>
            <div class="icon-row">
                <button data-p2btooltip="Lookup LeaveHead" class="  popup-content-icon-lookup" id="Lookup-LeaveHead-ExitProcessConfigPolicy"><span class="ui-icon ui-icon-folder-open popup-content-iconmark"></span></button>

                <button data-p2btooltip="Remove LeaveHead" class="popup-content-icon-remove" id="Remove-LeaveHead-ExitProcessConfigPolicy"><span class="ui-icon ui-icon-trash popup-content-iconmark"></span></button>
            </div>
        </div>
    </div>


        }
    </div>

</body>
</html>

<script>
    $(document).ready(function (e) {
        $('button').button();
        // $("#PayMonth").val($.datepicker.formatDate("mm/yy", new Date()));
        var ColNames = [];
        var ColModel = [];
        var SortName, Caption, url, width, height;
        ColModel = ['FFSSettlementPeriod_FromLastWorkDay', 'NoDuesActivation_BFLastWorkDay', 'ProcessConfigName', 'Id'];
        ColNames = ['FFSSettlementPeriod_FromLastWorkDay ', 'NoDuesActivation_BFLastWorkDay ', 'ProcessConfigName', 'Id'];
        SortName = 'Id';
        Caption = 'ExitProcess_Config_Policy';
        url = '@Url.Action("P2BGrid")';
        width = 1000;
        height = 150;
        $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);

        function AssignData() {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        }
        @*$('#travelmodelist').on('selectmenuchange', function () {
            $('#classoftravellist').P2BSelectMenuAppend('@Url.Action("ClassOffTravelList", "SeperationMaster")', $(this).val(), "", "0");
        });*@
       
        $('#Create_Dialog').P2BCreateDialog();
        $('#Create').on("click", function (event) {
            $('#frmExitProcess_Config_Policy').trigger("reset");
            $('#hideshowcombinedleavehead').hide();
            // $('#hideshowcombinedleavehead').fadeOut();
            $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create ExitProcess_Config_Policy', 'open', '@Url.Action("Create")', '#frmExitProcess_Config_Policy', 'Message :', 'Request Falied :', '#JqGrid', 500, 800, '#LeaveHeadlist', "", function (data) { });
            // $('#CreditDatelist').P2BSelectMenuAppend('@@Url.Action("GetLookupValue", "lookup")', 402, ""); // To bind dropdown on page load
            $('#Lookup_LvheadDetails').attr('disabled', false);
            $('[name="IsLeavesAvailAppl"]').val([false]).button().button("refresh");
            $('#PreDays').prop("disabled", true);
            $('#PostDays').prop("disabled", true);
            $('#txtlvhead').attr('readonly', 'readonly');

            event.preventDefault();
        });

        //function DateConvert(JsonDate) {
            //    var date = new Date(parseInt(JsonDate.substr(6)));
            //    var displayDate = $.datepicker.formatDate("dd/mm/yy", date);
            //    return displayDate;
        //};



        $('#Edit').on('click', function () {
            AssignData();
            $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit ExitProcess_Config_Policy Data", '#frmExitProcess_Config_Policy', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 540, 650, '#AddressList,#ContactDetailsList', '', function (data) {
                // setTimeout(function () {
                $.each(data[0], function (i, k) {
                    $('#frmExitProcess_Config_Policy').trigger("reset");
                    $('#ProcessConfigName').val(k.ProcessConfigName);
                    $('#FFSSettlementPeriod_FromLastWorkDay').val(k.FFSSettlementPeriod_FromLastWorkDay);
                    $('#NoDuesActivation_BFLastWorkDay').val(k.NoDuesActivation_BFLastWorkDay);
                    $('[name="IsFFSStatementAcceptanceAppl"]').val([k.IsFFSStatementAcceptanceAppl]).button().button("refresh");
                    $('[name="IsExitInterviewOnReqAcceptance"]').val([k.IsExitInterviewOnReqAcceptance]).button().button("refresh");
                    $('[name="IsLeavesAvailAppl"]').val([k.IsLeavesAvailAppl]).button().button("refresh");
                    
                    if (k.IsLeavesAvailAppl == true) {
                        $('#hideshowcombinedleavehead').fadeIn();
                    }
                    else {
                        $('#hideshowcombinedleavehead').fadeOut();
                    }
                    $('[name="IsSalaryStopOnResignDate"]').val([k.IsSalaryStopOnResignDate]).button().button("refresh");
                    $('[name="IsSettlementOnLastWorkingDay"]').val([k.IsSettlementOnLastWorkingDay]).button().button("refresh");
                    $('[name="IsLastDayAsNoticePeriodLastWorkDay"]').val([k.IsLastDayAsNoticePeriodLastWorkDay]).button().button("refresh");
                    $('[name="IsLastWorkDateManual"]').val([k.IsLastWorkDateManual]).button().button("refresh");
                });
                $.each(data[1], function (i, k) {

                    $('#LeaveHeadlist').P2BLookUpEncapsulate('#LeaveHeadlist', 'LeaveHeadlist', k.LvHeadObjCLH_Id, k.LvHeadObjCLH_FullDetails, 'ConvertLeaveHeadlist', '#Remove-LeaveHead-ExitProcessConfigPolicy', 'A');
                    
                });

                $('#Autho_Allow').val(data[3]); //Compulsory for authorisation
                // }, 2000);
            });
        });

        $('#Remove-LeaveHead-ExitProcessConfigPolicy').button().on('click', function (event) {
            //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            //var a = [], b;
            //a = $('#LeaveHeadlist').P2BGetTableDataonSelectedRow('#LeaveHeadlist', 0);
            //b = a[0];
            var selectedRows = [];
            selectedRows = $('#LeaveHeadlist').P2BGetTableDataonSelectedRow('#LeaveHeadlist', 0);
            $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#LeaveHeadlist', $('#LeaveHeadlist').val(), 200, 200, '#frmExitProcess_Config_Policy', '#LeaveHeadlist', '#Remove-LeaveHead-ExitProcessConfigPolicy');
            event.preventDefault();
        });
        //View main page
        $('#View').button().click(function (event) {
            AssignData();
            $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View ExitProcess_Config_Policy Data', '#AddressList,#ContactDetailsList', '#Lookup-Address-Corporate,#Create-Address-Corporate,#Edit-Address-Corporate,#Remove-Address-Corporate', 540, 650, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {
                $.each(data[0], function (i, k) {
                    $('#frmExitProcess_Config_Policy').trigger("reset");
                    $('#ProcessConfigName').val(k.ProcessConfigName);
                    $('#FFSSettlementPeriod_FromLastWorkDay').val(k.FFSSettlementPeriod_FromLastWorkDay);
                    $('#NoDuesActivation_BFLastWorkDay').val(k.NoDuesActivation_BFLastWorkDay);
                    $('[name="IsFFSStatementAcceptanceAppl"]').val([k.IsFFSStatementAcceptanceAppl]).button().button("refresh");
                    $('[name="IsExitInterviewOnReqAcceptance"]').val([k.IsExitInterviewOnReqAcceptance]).button().button("refresh");
                    $('#Remove-LeaveHead-ExitProcessConfigPolicy').attr('readonly', 'readonly');
                    $('[name="IsLeavesAvailAppl"]').val([data[0].IsLeavesAvailAppl]).button().button("refresh");
                    if (data[0].IsLeavesAvailAppl == true) {
                        $('#hideshowcombinedleavehead').fadeIn();
                    }
                    else {
                        $('#hideshowcombinedleavehead').fadeOut();
                    }
                    $('[name="IsSalaryStopOnResignDate"]').val([k.IsSalaryStopOnResignDate]).button().button("refresh");
                    $('[name="IsSettlementOnLastWorkingDay"]').val([k.IsSettlementOnLastWorkingDay]).button().button("refresh");
                    $('[name="IsLastDayAsNoticePeriodLastWorkDay"]').val([k.IsLastDayAsNoticePeriodLastWorkDay]).button().button("refresh");
                    $('[name="IsLastWorkDateManual"]').val([k.IsLastWorkDateManual]).button().button("refresh");
                });


                $('#Autho_Allow').val(data[3]);
            });
        });

        //delete main page
        $('#Delete').button().click(function (event) {
            dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            $('#Create_Dialog').P2BDeleteModalDialog('@Url.Action("Delete")', dt.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
            event.preventDefault();
        });
        $('<div></div>').P2BPartialCreateModalDialog();
        // $('.popup_radio_button').controlgroup();
        $('.drop').selectmenu().selectmenu("menuWidget");
        $('#PayProcessGroupList').selectmenu().selectmenu("menuWidget");
        // $('#AmountList').selectmenu().selectmenu("menuWidget");
        $('#ProcTypeList').selectmenu().selectmenu("menuWidget");
        $('.popup_radio_button').controlgroup();
    });


    $('#Lookup-LeaveHead-ExitProcessConfigPolicy').on('click', function (event) {
        $('.dialog').P2BLookUpModal('@Url.Action("GetLookupDetails", "LvHead")', '', 'LookupDiv', 'Look Up Data', '#LeaveHeadlist', 'LeaveHeadlist', 5, 'LeaveHeadlist', '#frmExitProcess_Config_Policy', 'A', '#Remove-LeaveHead-ExitProcess_Config_Policy', 'Lookup_table', 'PageNavPosition');
        event.preventDefault();
    });



    $('#Remove-LeaveHead-ExitProcess_Config_Policy').button().on('click', function (event) {
        //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
        var a = [], b;
        a = $('#LeaveHeadlist').P2BGetTableDataonSelectedRow('#LeaveHeadlist', 0);
        b = a[0];
        $('<div></div>').P2BPartialDeleteModalDialog('', b, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#LeaveHeadlist', $('#LeaveHeadlist').val(), 200, 200, '#frmExitProcess_Config_Policy', '#LeaveHeadlist', '#Remove-LeaveHead-ExitProcess_Config_Policy');
        event.preventDefault();
    });

    $('#FFSSettlementPeriod_FromLastWorkDay').on('input', function () {
        // Remove all non-numeric characters except minus sign ("-")
        $('#FFSSettlementPeriod_FromLastWorkDay').val($('#FFSSettlementPeriod_FromLastWorkDay').val().replace(/[^0-9-]/g, ''));
    });
    $('#NoDuesActivation_BFLastWorkDay').on('input', function () {
        // Remove all non-numeric characters except minus sign ("-")
        $('#NoDuesActivation_BFLastWorkDay').val($('#NoDuesActivation_BFLastWorkDay').val().replace(/[^0-9-]/g, ''));
    });

    //$('#FFSSettlementPeriod_FromLastWorkDay').ForceOnlyNumeric();
    //$('#NoDuesActivation_BFLastWorkDay').ForceOnlyNumeric();


    $('input[name="IsLeavesAvailAppl"]:radio').change(function () {
        if (this.value == "false") {
            $('#hideshowcombinedleavehead').fadeOut();
        }
        else {
            $('#hideshowcombinedleavehead').fadeIn();
        }
    });

</script>

