@{
    ViewBag.Title = "AttendanceLeavePriority";
}

@model Attendance.AttendanceLeavePriority

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>     
        .popup-content-label {
            width: 100px;
            display: block;
            float: left;
        }

        .popup-content-textbox {
            width: 120px;
        }

        .row1 {
            width: 320px;
        }

        .active {
            color: red;
        }

        .horizontal_row2, .radio_button_div_2 {
            display: inline-block;
        }

        .row3 {
            width: 477px;
        }

        .row2 {
            width: 402px;
        }

        .icon-row {
            left: 127px;
            position: relative;
            top: -121px;
        }
        #contain-word-lab {
            bottom: 25px;
            position: absolute;
            margin-left: 255px;
        }
        label.required {
            color: red;
        }
    </style>
    <script type="text/javascript" src="~/Scripts/P2b_Scripts/jQuery.mbValidations.js"></script>

    <script>
        $(document).ready(function () {
            $('#RoundDigit').ForceOnlyNumeric();
            $('#RoundDigit').MaxLength(1);
            $('#RoundDigit').attr("value", "0");
            $('#Name').ValidateTextBox({ maxlength: 35, PersonName: true });
            $('#Code').ValidateTextBox({ maxlength: 10, alphanum: true });
            $('#Seqno').MaxLength(3).ForceOnlyNumeric();
            //$('#Name').ForceOnlyAlphaNumeric();
            //$('#Name').MaxLength(50);
        });


        $(document).ready(function () {

            $('button').button();
            var dt;
            var ColNames = [];
            var ColModel = [];
            var SortName, Caption, url, width, height;


            ColModel = ['SequenceNo', 'LeaveHeadCode', 'Id'];
            ColNames = ['SequenceNo', 'LeaveHeadCode', 'Id'];

            SortName = 'Id';
            Caption = 'Attendance Leave Priority Policy';
            url = '@Url.Action("P2BGrid")';
            width = 1000;
            height = 150;
            $('#JqGrid').P2BGrid(ColNames, ColModel, SortName, Caption, url, width, height);

            $('#Create_Dialog').P2BCreateDialog();
            $('#Create').button().on("click", function () {
                $('#FormAttendanceLeavePriority').trigger("reset");

                $('#Create_Dialog').P2BCreateDialog('', '', '', '', 'Create Attendance Leave Priority', 'open', '@Url.Action("create")', '#FormAttendanceLeavePriority', 'Message :', 'Request Falied :', '#JqGrid', 450, 500, '', '', function (data) { }, '');

                $('#LeaveHeadlist').P2BSelectMenuAppend('@Url.Action("GetLeaveHeadDrop", "AttendanceLeavePriority")', '', "");
                $('#Seqno').val();

            });

            function AssignData() {
                dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
            }

            $('#View').button().click(function (event) {
                AssignData();

                $('#Create_Dialog').P2BViewModalDialog('@Url.Action("Edit")', dt.Id, 'View Attendance Leave Priority', '', '', 450, 500, '#Autho', '@Url.Action("AuthSave")', dt.Id, '', '', '', '', '#JqGrid', function (data) {
                    $.each(data[0], function (i, k) {
                        $('#FormAttendanceLeavePriority').trigger("reset");
                        $('#LeaveHeadlist').P2BSelectMenuAppend('@Url.Action("GetLeaveHeadDrop", "AttendanceLeavePriority")', '', k.LvHead_Id);
                        $('#Seqno').val(k.Seqno);

                    });


                });
            });





            $('#Delete').button().click(function () {
                dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'ID');
                $('#Create_Dialog').P2BDeleteModalDialog('@Url.Action("Delete")', dt.Id, 'Are you sure want to remove record???', 'Message : ', 'Request failed', '#JqGrid', 200, 200);
            });

            $('#Edit').on('click', function () {
                AssignData();
                $('#Create_Dialog').P2BEditModalDialog('@Url.Action("Edit")', dt.Id, '@Url.Action("EditSave")', "Edit Attendance Leave Priority", '#FormAttendanceLeavePriority', dt.Id, 'Message : ', 'Request Falied :', '#JqGrid', 450, 500, '', '', function (data) {
                    //Compulsory for authorisation
                    var val = null;
                    $.each(data[0], function (i, k) {
                        $('#FormAttendanceLeavePriority').trigger("reset");

                        $('#LeaveHeadlist').P2BSelectMenuAppend('@Url.Action("GetLeaveHeadDrop", "AttendanceLeavePriority")', '', k.LvHead_Id);
                        $('#Seqno').val(k.Seqno);


                    });



                });


            });


            /* Address button click*/


            $('#Name').ValidateTextBox({ maxlength: 25, name: true, alphanum: true });
            //To get data in Lookup
            $('#Lookup-LvDependPolicy-SalaryHead').on('click', function (event) {
                $('.dialog').P2BLookUpModal('@Url.Action("GetLvDependPolicyLKDetails", "SalaryHead")', '', 'LookupDiv', 'LvDependPolicy Look Up Data', '#LvDependPolicylist', 'LvDependPolicylist', 5, 'LvDependPolicylist', '#FormSalaryHead', 'A', '#Edit-LvDependPolicy-SalaryHead,#Remove-LvDependPolicy-SalaryHead', 'Lookup_table', 'PageNavPosition');
                event.preventDefault();
            });

            $('<div></div>').P2BPartialCreateModalDialog();
            $('#Create-LvDependPolicy-SalaryHead').on("click", function (event) {
                $('<div></div>').P2BPartialCreateModalDialog('@Url.Action("Partial", "SalaryHead")', 'Create LeaveDependPolicy', 'open', '@Url.Action("Create", "LeaveDependPolicy")', '#FormLeaveDependPolicy', 'Message :', 'Request Falied :', '#JqGrid', 400, 500, '', '', '', '#FormSalaryHead', '', function (data) {
                    // to show data which is created in partial page
                    $('#LvDependPolicylist').P2BLookUpEncapsulate('#LvDependPolicylist', 'LvDependPolicylist', data[0], data[1], 'LvDependPolicylist', '#Edit-LvDependPolicy-SalaryHead,#Remove-LvDependPolicy-SalaryHead', 'A');
                });
                event.preventDefault();
            });



            //partial page delete
            $('#Remove-LvDependPolicy-SalaryHead').button().on('click', function (event) {
                //dt = $('#JqGrid').P2BGrid.P2BEdDelV('#JqGrid', 'Id');
                //var a = [], b;
                //a = $('#LvDependPolicylist').P2BGetTableDataonSelectedRow('#LvDependPolicylist', 0);
                //b = a[0];

                var selectedRows = [];
                selectedRows = $('#LvDependPolicylist').P2BGetTableDataonSelectedRow('#LvDependPolicylist', 0);
                console.log("Verify...");


                $('<div></div>').P2BPartialDeleteModalDialog('', selectedRows, 0, 'Are you sure want to delete record???', 'Message : ', 'Request failed', '#LvDependPolicylist', $('#LvDependPolicylist').val(), 200, 200, '#FormSalaryHead', '#LvDependPolicylist', '');
                event.preventDefault();
            });

            $('.drop').selectmenu().selectmenu("menuWidget").addClass("overflow");
            $('.popup_radio_button').controlgroup();
        });
    </script>
</head>
<body>
    <div class="Form_Bg">
        <div class="Form_Input">
            <div class="Button_Container">
                <button class="button" id="Create">Create</button>
                <button class="button" id="View">View</button>
                <button class="button" id="Edit">Edit</button>
                <button class="button" id="Delete">Delete</button>

                <div id="Grid_Form">
                    <div>
                        <table id="JqGrid"></table>
                        <div id="pager2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="dialog">
        <div title="LookUp Data">
            <div class="LookupDiv"></div>
        </div>
        <div id="PageNavPosition">

        </div>
    </div>

    <div id="Create_Dialog">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormAttendanceLeavePriority", name = "FormAttendanceLeavePriority" }))
        {

            <input id="Autho_Action" type="hidden" name="Autho_Action" />
            <input id="Autho_Allow" type="hidden" name="Autho_Allow" />
            @*<input  id="Autho_Action" style="display:none" value="c"/>*@
            <div class="row1 content_margine" style="width: 420px;">
                @Html.LabelFor(m => m.LvHead_Id, "Leave Head :", new { @class = "popup-content-label must" })
                <select class="drop must" style="width:120px;" name="LeaveHeadlist" id="LeaveHeadlist">
                    <option></option>
                </select>
            </div>
            <div class="row3 content_margine">
                @Html.LabelFor(m => m.Seqno, "Sequence no :", new { @class = "popup-content-label must" })
                @Html.TextBoxFor(m => m.Seqno, new { @class = "popup-content-textbox must" })
            </div>
            @*<label for="javascript">LWP Leave should not be added</label>*@
            <label class="required" id="contain-word-lab">Please don't add LWP leave!!..</label>
        }
    </div>
</body>
</html>
